Repository apache/flink, pull requests merged in 2019-12, with the labels that each got.

#10366 [1.8][FLINK-14995][kinesis][legal] Update NOTICE
  flink-connectors/flink-connector-kinesis/src/main/resources/META-INF/NOTICE
Labels: component=ReleaseSystem, review=description?

#10367 [1.9][FLINK-14995][kinesis][legal] Update NOTICE
  flink-connectors/flink-connector-kinesis/src/main/resources/META-INF/NOTICE
Labels: component=ReleaseSystem, review=description?

#10380 [FLINK-14662]Distinguish unknown CatalogTableStatistics and zero
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/HiveCatalog.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/util/HiveStatsUtil.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/catalog/stats/CatalogTableStatistics.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/catalog/CatalogTest.java
Labels: component=Connectors/Hive, component=TableSQL/API, review=description?

#10210 [FLINK-14800][hive] Introduce parallelism inference for HiveSource
  flink-connectors/flink-connector-hive/pom.xml
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveOptions.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableFactory.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSource.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTableSourceTest.java
Labels: component=Connectors/Hive, review=description?

#10328 [FLINK-14962] fix findbugs WMI_WRONG_MAP_ITERATOR warning
  flink-connectors/flink-connector-filesystem/src/main/java/org/apache/flink/streaming/connectors/fs/bucketing/BucketingSink.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/ParquetMapInputFormat.java
  flink-libraries/flink-gelly/src/main/java/org/apache/flink/graph/library/CommunityDetection.java
Labels: component=Connectors/Common, component=Formats, review=description?

#10335 [hotfix][rocksdb] fix exception message upon failure to create directory
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/snapshot/RocksIncrementalSnapshotStrategy.java
Labels: review=description?

#10336 [FLINK-14935][task,runtime] Use RunnableWithException in the Mailbox
  flink-core/src/main/java/org/apache/flink/util/function/FunctionUtils.java
  flink-runtime/src/main/java/org/apache/flink/runtime/concurrent/FutureTaskWithException.java
  flink-runtime/src/main/java/org/apache/flink/runtime/concurrent/FutureUtils.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/MailboxExecutor.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/mailbox/Mail.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/mailbox/MailboxExecutorImpl.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/mailbox/MailboxProcessor.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/MailboxOperatorTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/mailbox/MailboxExecutorImplTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/mailbox/TaskMailboxImplTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/mailbox/TaskMailboxProcessorTest.java
Labels: component=<none>, review=description?

#10398 [FLINK-14936][runtime] Introduce MemoryManager#computeMemorySize to calculate managed memory size from a fraction
  flink-runtime/src/main/java/org/apache/flink/runtime/memory/MemoryManager.java
  flink-runtime/src/test/java/org/apache/flink/runtime/memory/MemoryManagerTest.java
Labels: component=Runtime/Coordination, review=description?

#10386 [FLINK-15016][build] Remove unused dependency
  flink-core/pom.xml
Labels: component=BuildSystem, review=description?

#9284 [FLINK-13502] move CatalogTableStatisticsConverter & TreeNode to correct package
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/catalog/DatabaseCalciteSchema.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/utils/CatalogTableStatisticsConverter.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/expressions/PlannerExpression.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/expressions/TreeNode.scala
Labels: component=TableSQL/Planner, review=description?

#10373 [hotfix][typo] Fix location typo in FsCompletedCheckpointStorageLocation
  flink-runtime/src/main/java/org/apache/flink/runtime/state/filesystem/FsCompletedCheckpointStorageLocation.java
Labels: review=description?

#10374 [Doc] 'Connect to External Systems' links to an error URL in Table API & SQL page
  docs/dev/table/index.md
  docs/dev/table/index.zh.md
Labels: review=description?

#10127 [FLINK-14654] Fix the arguments number mismatching with placeholders in log statements
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/KafkaTestEnvironmentImpl.java
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/FlinkKinesisProducer.java
  flink-contrib/flink-connector-wikiedits/src/main/java/org/apache/flink/streaming/connectors/wikiedits/WikipediaEditEventIrcStream.java
  flink-end-to-end-tests/flink-connector-gcp-pubsub-emulator-tests/src/test/java/org/apache/flink/streaming/connectors/gcp/pubsub/emulator/GCloudEmulatorManager.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/ParquetPojoInputFormat.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/ParquetTableSource.java
  flink-metrics/flink-metrics-datadog/src/main/java/org/apache/flink/metrics/datadog/DatadogHttpReporter.java
  flink-runtime-web/src/main/java/org/apache/flink/runtime/webmonitor/PipelineErrorHandler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/ReporterSetup.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/modules/HadoopModule.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBNativeMetricMonitor.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/functions/SqlFunctionUtils.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/values/ValuesInputFormat.java
Labels: component=<none>, review=description?

#10391 [FLINK-15025][python][legal] Fix the license and notice issue of flink-python module
  flink-python/pom.xml
Labels: component=API/Python, review=description?

#10359 [FLINK-14813][metrics] Provide `isBackPressured` Task metric
  docs/monitoring/metrics.md
  docs/monitoring/metrics.zh.md
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/MetricNames.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskExecutor.java
Labels: component=Runtime/Metrics, component=Runtime/Network, component=Runtime/REST, review=description?

#10414 [FLINK-14960][e2e] Fix failed dependency shading test of table modules
  flink-end-to-end-tests/test-scripts/test_table_shaded_dependencies.sh
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/utils/DummyStreamExecutionEnvironment.java
Labels: component=TableSQL/Planner, component=Tests, review=description?

#10424 [FLINK-15060][tests] Add aarch64 support for tpcds e2e test
  flink-end-to-end-tests/flink-tpcds-test/tpcds-tool/data_generator.sh
Labels: component=Tests, review=description?

#10206 [FLINK-14781] [docs-zh] correct the state_backends.zh external link and some other things
  docs/ops/state/state_backends.zh.md
Labels: component=Documentation, component=chinese-translation, review=description?

#10361 [FLINK-14795][tests] Rework TaskExecutorPartitionLifecycleTest
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/TaskExecutorPartitionTrackerImplTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/TestingTaskExecutorPartitionTracker.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskExecutorPartitionLifecycleTest.java
Labels: component=Runtime/Coordination, component=Tests, review=description?

#10396 [FLINK-14063][table-planner-blink] Operators use fractions to decide how many managed memory to allocate
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/LongHashJoinGenerator.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/NestedLoopJoinCodeGenerator.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/agg/batch/HashAggCodeGenHelper.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchExecHashJoin.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchExecNestedLoopJoin.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchExecOverAggregate.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchExecSort.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchExecSortMergeJoin.scala
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/codegen/LongHashJoinGeneratorTest.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/codegen/agg/batch/BatchAggTestBase.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/hashtable/BaseHybridHashTable.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/hashtable/BinaryHashTable.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/hashtable/LongHybridHashTable.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/TableStreamOperator.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/join/HashJoinOperator.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/join/SortMergeJoinOperator.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/over/BufferDataOverWindowOperator.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/sort/SortOperator.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/hashtable/LongHashTableTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/join/Int2HashJoinOperatorTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/join/Int2SortMergeJoinOperatorTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/join/RandomSortMergeInnerJoinTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/join/String2HashJoinOperatorTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/join/String2SortMergeJoinOperatorTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/over/BufferDataOverWindowOperatorTest.java
Labels: component=Runtime/Task, review=description?

#10426 [FLINK-15062][orc] Orc reader should use java.sql.Timestamp to read for respecting time zone
  flink-formats/flink-orc/src/main/java/org/apache/flink/orc/vector/AbstractOrcColumnVector.java
  flink-formats/flink-orc/src/main/java/org/apache/flink/orc/vector/OrcTimestampColumnVector.java
  flink-formats/flink-orc/src/test/java/org/apache/flink/orc/OrcColumnarRowSplitReaderTest.java
Labels: component=Connectors/ORC, review=description?

#10429 [FLINK-14965] [table-planner-blink] correct the logic of convertToTableStats method in CatalogTableStatisticsConverter
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/utils/CatalogTableStatisticsConverter.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/catalog/CatalogStatisticsTest.java
Labels: component=<none>, review=description?

#10419 [FLINK-15026][SQL-CLIENT]Support create/drop/alter database in sql client
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliClient.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/SqlCommandParser.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/LocalExecutor.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/SqlCommandParserTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/local/LocalExecutorITCase.java
Labels: component=TableSQL/Client, review=description?

#10315 [FLINK-14552][table] Enable partition statistics in blink planner
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/plan/stats/ColumnStats.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/plan/stats/TableStats.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/plan/stats/TableStatsTest.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/FlinkCalciteCatalogReader.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/QueryOperationConverter.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/logical/PushPartitionIntoTableSourceScanRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/schema/CatalogSourceTable.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/schema/TableSourceTable.scala
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/catalog/CatalogStatisticsTest.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/utils/testTableSources.scala
Labels: component=TableSQL/Planner, review=description?

#10306 [FLINK-13943][table-api] Provide utility method to convert Flink table to Java List
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTableSourceTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/TableEnvHiveConnectorTest.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/api/TableUtils.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/api/TableUtilsBatchITCase.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/api/TableUtilsStreamingITCase.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/utils/BatchTestBase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/utils/StreamingTestBase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/utils/TableUtil.scala
Labels: component=TableSQL/API, review=description?

#10448 [hotfix][task] Refactor StreamTask#disposed field
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
Labels: review=description?

#10428 [FLINK-15063][metric]fix input group and output group of the task met…
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/NettyShuffleEnvironment.java
Labels: component=Runtime/Metrics, component=Runtime/Network, review=description?

#10456 [FLINK-15091][table-planner-blink] Fix memory overused in SortMergeJoinOperator
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/join/SortMergeJoinOperator.java
Labels: component=TableSQL/Planner, review=description?

#10438 [FLINK-14890] Add utility method to extract values from test harnesses and use in ProcessFunctionTestHarnessesTest
  flink-streaming-java/src/test/java/org/apache/flink/streaming/util/AbstractStreamOperatorTestHarness.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/util/ProcessFunctionTestHarnessesTest.java
Labels: component=Tests, review=description?

#10441 [FLINK-14857][runtime] Remove checkpoint lock usage from AsyncWaitOperator.
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/async/AsyncWaitOperator.java
Labels: component=Runtime/Task, review=description?

#10252 [FLINK-14857] [runtime/task] deprecate StreamTask.getCheckpointLock m…
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
Labels: component=Runtime/Task, review=description?

#10445 [FLINK-14407][yarn] Retry S3 tests on failure
  flink-yarn/src/test/java/org/apache/flink/yarn/YarnFileStageTestS3ITCase.java
Labels: component=Connectors/FileSystem, component=Deployment/YARN, review=description?

#10421 [FLINK-15054][docs] Add FAQ section to IntelliJ setup guide
  docs/flinkDev/ide_setup.md
  docs/flinkDev/ide_setup.zh.md
Labels: component=Documentation, review=description?

#10249 [FLINK-14847][hive] Support retrieving Hive PK constraints
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/HiveCatalog.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/client/HiveMetastoreClientWrapper.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/client/HiveShim.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/client/HiveShimV100.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/client/HiveShimV210.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/util/HiveTableUtil.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/TableEnvHiveConnectorTest.java
Labels: component=Connectors/Hive, review=description?

#10387 [FLINK-14949] [Runtime/Task] Task cancellation can be stuck against out-of-thread error
  flink-runtime/src/main/java/org/apache/flink/runtime/taskmanager/Task.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskmanager/TaskTest.java
Labels: component=Runtime/Task, review=description?

#10444 [FLINK-11524][tests] Print failure cause if job failed
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/utils/JobResultUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderelection/LeaderChangeClusterComponentsTest.java
Labels: component=Runtime/Coordination, component=Tests, review=description?

#10176 [FLINK-13945][build][docs] Fix instructions for building against custom hadoop versions
  docs/flinkDev/building.md
  docs/flinkDev/building.zh.md
Labels: component=BuildSystem/Shaded, review=description?

#10443 [FLINK-15080][fs][oss] Enable deployment
  flink-filesystems/flink-oss-fs-hadoop/pom.xml
Labels: component=BuildSystem, component=Connectors/FileSystem, component=ReleaseSystem, review=description?

#10459 [FLINK-15085][hs] Simplify dashboard config generation
  flink-runtime-web/src/main/java/org/apache/flink/runtime/webmonitor/history/HistoryServer.java
  flink-runtime-web/src/test/java/org/apache/flink/runtime/webmonitor/history/HistoryServerTest.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/messages/DashboardConfigurationHeaders.java
Labels: component=Runtime/WebFrontend, review=description?

#10440 [FLINK-13862][docs] Update execution plans docs
  docs/dev/execution_plans.md
  docs/dev/execution_plans.zh.md
  docs/fig/plan_visualizer.png
Labels: component=Documentation, review=description?

#10470 [FLINK-15113][config] add fs.azure.account.key to list of sensitive configs
  flink-core/src/main/java/org/apache/flink/configuration/GlobalConfiguration.java
  flink-core/src/test/java/org/apache/flink/configuration/GlobalConfigurationTest.java
Labels: component=Runtime/WebFrontend, review=description?

#10464 [FLINK-15027][SQL-CLINET]Support alter table DDLs in SQL CLI
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliClient.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliStrings.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/SqlCommandParser.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/SqlCommandParserTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/local/LocalExecutorITCase.java
Labels: component=TableSQL/Client, review=description?

#10358 [FLINK-14346] [serialization] faster implementation of StringValue writeString and readString
  flink-core/src/main/java/org/apache/flink/types/StringValue.java
  flink-core/src/test/java/org/apache/flink/types/StringSerializationTest.java
Labels: component=API/TypeSerializationSystem, component=Benchmarks, review=description?

#10472 [FLINK-14872][runtime] Temporary fix for potential deadlock problem when tasks read from blocking ResultPartitions.
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/SingleInputGateFactory.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/NettyShuffleEnvironmentTest.java
Labels: component=Runtime/Network, review=description?

#10238 [FLINK-8949] Add dedicated watermarks metric retrieval endpoint
  docs/_includes/generated/rest_v1_dispatcher.html
  flink-runtime-web/src/test/resources/rest_api_v1.snapshot
  flink-runtime-web/web-dashboard/src/app/pages/job/overview/job-overview.component.ts
  flink-runtime-web/web-dashboard/src/app/pages/job/overview/watermarks/job-overview-drawer-watermarks.component.ts
  flink-runtime-web/web-dashboard/src/app/services/metrics.service.ts
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/handler/job/metrics/JobVertexWatermarksHandler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/messages/job/metrics/JobVertexWatermarksHeaders.java
  flink-runtime/src/main/java/org/apache/flink/runtime/webmonitor/WebMonitorEndpoint.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/handler/job/metrics/JobVertexWatermarksHandlerTest.java
Labels: component=Runtime/REST, component=Runtime/WebFrontend, review=description?

#10333 [FLINK-14970]Doomed test for equality to NaN
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/GenerateUtils.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/codegen/CodeGenerator.scala
Labels: component=TableSQL/LegacyPlanner, component=TableSQL/Planner, review=description?

#9986 [FLINK-10933][kubernetes] Implement KubernetesSessionClusterEntrypoint.
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/entrypoint/KubernetesResourceManagerFactory.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/entrypoint/KubernetesSessionClusterEntrypoint.java
Labels: component=Runtime/Coordination, review=description?

#10364 [FLINK-14993][metrics] FrontMetricGroup passes reporter-specific parameters
  flink-metrics/flink-metrics-jmx/src/test/java/org/apache/flink/metrics/jmx/JMXReporterTest.java
  flink-metrics/flink-metrics-prometheus/src/test/java/org/apache/flink/metrics/prometheus/PrometheusReporterTest.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/MetricRegistry.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/MetricRegistryImpl.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/NoOpMetricRegistry.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/groups/AbstractMetricGroup.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/groups/FrontMetricGroup.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/groups/ReporterScopedSettings.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/AbstractMetricGroupTest.java
  flink-state-backends/flink-statebackend-rocksdb/src/test/java/org/apache/flink/contrib/streaming/state/RocksDBNativeMetricMonitorTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/util/LatencyStatsTest.java
Labels: component=Runtime/Metrics, review=description?

#10344 [FLINK-14264][StateBackend][Rest] Expose state backend in checkpoint rest api
  docs/_includes/generated/rest_v1_dispatcher.html
  flink-runtime-web/src/test/resources/rest_api_v1.snapshot
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/AccessExecutionGraph.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/ArchivedExecutionGraph.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/ExecutionGraph.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/handler/job/checkpoints/CheckpointConfigHandler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/messages/checkpoints/CheckpointConfigInfo.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/handler/legacy/ExecutionGraphCacheTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/handler/legacy/utils/ArchivedExecutionGraphBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/messages/checkpoints/CheckpointConfigInfoTest.java
Labels: component=Runtime/REST, component=Runtime/StateBackends, review=description?

#10465 [FLINK-15109][runtime] null out restored state ref in InternalTimerServiceImpl after use
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/InternalTimerServiceImpl.java
Labels: component=Runtime/Task, review=description?

#10468 [FLINK-14649][table sql / api] Flatten all the connector properties keys to make it easy to configure in DDL
  docs/dev/table/connect.md
  docs/dev/table/connect.zh.md
  docs/dev/table/sqlClient.md
  docs/dev/table/sqlClient.zh.md
  flink-connectors/flink-connector-elasticsearch-base/src/main/java/org/apache/flink/streaming/connectors/elasticsearch/ElasticsearchUpsertTableSinkBase.java
  flink-connectors/flink-connector-elasticsearch-base/src/main/java/org/apache/flink/streaming/connectors/elasticsearch/ElasticsearchUpsertTableSinkFactoryBase.java
  flink-connectors/flink-connector-elasticsearch-base/src/main/java/org/apache/flink/table/descriptors/Elasticsearch.java
  flink-connectors/flink-connector-elasticsearch-base/src/main/java/org/apache/flink/table/descriptors/ElasticsearchValidator.java
  flink-connectors/flink-connector-elasticsearch-base/src/test/java/org/apache/flink/streaming/connectors/elasticsearch/ElasticsearchUpsertTableSinkFactoryTestBase.java
  flink-connectors/flink-connector-elasticsearch-base/src/test/java/org/apache/flink/table/descriptors/ElasticsearchTest.java
  flink-connectors/flink-connector-kafka-base/src/main/java/org/apache/flink/streaming/connectors/kafka/KafkaTableSourceSinkFactoryBase.java
  flink-connectors/flink-connector-kafka-base/src/main/java/org/apache/flink/table/descriptors/Kafka.java
  flink-connectors/flink-connector-kafka-base/src/main/java/org/apache/flink/table/descriptors/KafkaValidator.java
  flink-connectors/flink-connector-kafka-base/src/test/java/org/apache/flink/streaming/connectors/kafka/KafkaTableSourceSinkFactoryTestBase.java
  flink-connectors/flink-connector-kafka-base/src/test/java/org/apache/flink/table/descriptors/KafkaTest.java
  flink-end-to-end-tests/test-scripts/kafka_sql_common.sh
  flink-end-to-end-tests/test-scripts/test_sql_client.sh
  flink-end-to-end-tests/test-scripts/test_sql_client_kafka_common.sh
  flink-python/pyflink/table/table_environment.py
  flink-python/pyflink/table/tests/test_descriptor.py
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/TableEnvironment.java
Labels: component=TableSQL/API, review=description?

#10489 [FLINK-15134][client] Delete temporary files created in YarnClusterDescriptor
  flink-yarn/src/main/java/org/apache/flink/yarn/YarnClusterDescriptor.java
Labels: component=Client/JobSubmission, review=description?

#10506 [FLINK-15166][runtime] Fix that buffer is wrongly recycled when data compression is enabled for blocking shuffle.
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/BoundedBlockingSubpartition.java
  flink-tests/src/test/java/org/apache/flink/test/runtime/ShuffleCompressionITCase.java
Labels: component=Runtime/Network, review=description?

#10511 [FLINK-15076][task] Fix SourceStreamTask cancellation (backport to 1.9)
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/SourceStreamTask.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/SourceStreamTaskTest.java
Labels: component=Runtime/Task, review=description?

#10505 [FLINK-14958][table]ProgramTargetDescriptor#jobID possibly can be of type JobID instead of String
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/ProgramTargetDescriptor.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliClientTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/local/LocalExecutorITCase.java
Labels: component=<none>, review=description?

#10348 [FLINK-14951][tests] Harden the thread safety of State TTL backend tests
  flink-end-to-end-tests/flink-stream-state-ttl-test/src/main/java/org/apache/flink/streaming/tests/MonotonicTTLTimeProvider.java
  flink-end-to-end-tests/flink-stream-state-ttl-test/src/main/java/org/apache/flink/streaming/tests/TtlVerifyUpdateFunction.java
Labels: component=Runtime/StateBackends, component=Tests, review=description?

#10473 [FLINK-15008][build] Bundle javax.activation-api for Java 11
  flink-dist/pom.xml
  flink-dist/src/main/resources/META-INF/licenses/LICENSE.javax.activation
  pom.xml
Labels: component=Deployment/YARN, component=Tests, review=description?

#10504 [FLINK-15069][benchmark] Supplement the pipelined shuffle compression case for benchmark
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/benchmark/StreamNetworkCompressionThroughputBenchmark.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/benchmark/StreamNetworkCompressionThroughputBenchmarkTest.java
Labels: component=Benchmarks, review=description?

#10534 [FLINK-15199][rocksdb] Make RocksDBResourceContainer public for the benchmarks
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBResourceContainer.java
Labels: review=description?

#10540 [FLINK-15185][hive] Shade flink-hadoop-fs to run hive in standalone mode
  flink-connectors/flink-connector-hive/pom.xml
Labels: component=Connectors/Hive, review=description?

#10500 [FLINK-15161][table-common] Introduce TypeTransformation interface and basic transformations
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/inference/TypeTransformation.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/inference/TypeTransformations.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/inference/transforms/DataTypeConversionClassTransformation.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/utils/DataTypeUtils.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/types/inference/TypeTransformationsTest.java
Labels: component=TableSQL/API, review=description?

#10314 [FLINK-14941][hbase] The AbstractTableInputFormat#nextRecord in hbase connector will handle the same rowkey twice once encountered any exception
  flink-connectors/flink-hbase/src/main/java/org/apache/flink/addons/hbase/AbstractTableInputFormat.java
Labels: component=<none>, review=description?

#10514 [FLINK-15167][sql-client] Catalogs should be created and registered with user class loader as context loader
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/ExecutionContext.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/LocalExecutor.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/local/ExecutionContextTest.java
  flink-table/flink-sql-client/src/test/resources/META-INF/services/org.apache.flink.table.factories.TableFactory
Labels: component=Connectors/Hive, component=TableSQL/Client, review=description?

#10548 [FLINK-15222][state backends] Move state benchmark utils into core repository
  flink-state-backends/flink-statebackend-rocksdb/pom.xml
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBResourceContainer.java
  flink-state-backends/flink-statebackend-rocksdb/src/test/java/org/apache/flink/contrib/streaming/state/benchmark/StateBackendBenchmarkUtils.java
  flink-state-backends/flink-statebackend-rocksdb/src/test/java/org/apache/flink/contrib/streaming/state/benchmark/StateBackendBenchmarkUtilsTest.java
Labels: component=Runtime/StateBackends, review=description?

#10395 [FLINK-15030][runtime] Fix deadlock problem of blocking ResultPartition with minimum required buffers.
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/ResultPartitionFactory.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/NettyShuffleEnvironmentTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/ResultPartitionTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/benchmark/StreamNetworkThroughputBenchmarkTest.java
  flink-tests/src/test/java/org/apache/flink/test/streaming/runtime/BackPressureITCase.java
Labels: component=Runtime/Network, review=description?

#10582 [FLINK-15159][DOC] Update the mapping of json schema and Flink SQL types for `string`
  docs/dev/table/connect.md
  docs/dev/table/connect.zh.md
Labels: component=Documentation, review=description?

#10573 [FLINK-13589] Fixing DelimitedInputFormat for whole file input splits.
  flink-core/src/main/java/org/apache/flink/api/common/io/DelimitedInputFormat.java
  flink-core/src/test/java/org/apache/flink/api/common/io/DelimitedInputFormatTest.java
Labels: component=Connectors/FileSystem, component=Formats, review=description?

#10559 [FLINK-15228][docs] Drop vendor specific deployment documentation
  docs/internals/components.md
  docs/internals/components.zh.md
  docs/ops/deployment/aws.md
  docs/ops/deployment/aws.zh.md
  docs/ops/deployment/gce_setup.md
  docs/ops/deployment/gce_setup.zh.md
  docs/ops/deployment/mapr_setup.md
  docs/ops/deployment/mapr_setup.zh.md
  docs/ops/filesystems/s3.md
  docs/ops/filesystems/s3.zh.md
  docs/redirects/aws.md
  docs/redirects/gce_setup.md
  docs/redirects/mapr.md
Labels: component=Documentation, review=description?

#10599 [FLINK-13589][1.10] Fixing DelimitedInputFormat for whole file input splits.
  flink-core/src/main/java/org/apache/flink/api/common/io/DelimitedInputFormat.java
  flink-core/src/test/java/org/apache/flink/api/common/io/DelimitedInputFormatTest.java
Labels: component=Connectors/FileSystem, component=Formats, review=description?

#10574 [FLINK-13589][1.9] Fixing DelimitedInputFormat for whole file input splits.
  flink-core/src/main/java/org/apache/flink/api/common/io/DelimitedInputFormat.java
  flink-core/src/test/java/org/apache/flink/api/common/io/DelimitedInputFormatTest.java
Labels: component=Connectors/FileSystem, component=Formats, review=description?

#10596 [FLINK-15267][table-planner-blink] Fix NoSuchElementException if rowtime field is remapped
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/sources/TableSourceUtil.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/TableScanITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/utils/testTableSources.scala
Labels: component=TableSQL/Planner, component=Tests, review=description?

#10568 [FLINK-15245][hive] Flink running in one cluster cannot write data to…
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveOutputFormatFactory.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveOutputFormatFactoryTest.java
Labels: component=Connectors/Hive, review=description?

#10512 [FLINK-15092][java, table] Remove the restriction that CsvInputFormat expects at least one parser
  flink-java/src/main/java/org/apache/flink/api/java/io/CsvInputFormat.java
  flink-java/src/main/java/org/apache/flink/api/java/io/RowCsvInputFormat.java
  flink-java/src/test/java/org/apache/flink/api/java/io/RowCsvInputFormatTest.java
  flink-table/flink-table-api-java-bridge/pom.xml
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/table/sources/CsvTableSource.java
  flink-table/flink-table-api-java-bridge/src/test/java/org/apache/flink/table/sources/CsvTableSourceTest.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/sources/TableSourceTestBase.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/TableSourceTest.scala
Labels: component=TableSQL/Client, review=description?

#10415 [FLINK-15049][table-planner-blink] Compile error when hash join with …
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/LongHashJoinGenerator.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/TimestampITCase.scala
Labels: component=TableSQL/Planner, review=description?

#10614 [FLINK-15291][table-common] Rename WatermarkSepc#getWatermarkExpressionString to getWatermarkExpr
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/api/TableSchema.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/api/WatermarkSpec.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/descriptors/DescriptorProperties.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/schema/CatalogSourceTable.scala
Labels: component=TableSQL/API, review=description?

#10529 [FLINK-15171] [serialization] fix performance regression caused by too many buffer allocations on string serialization
  flink-core/src/main/java/org/apache/flink/types/StringValue.java
Labels: component=API/TypeSerializationSystem, component=Benchmarks, review=description?

#10624 [FLINK-15312][tests] Remove PlanExposingEnvironment
  flink-tests/src/test/java/org/apache/flink/test/optimizer/examples/KMeansSingleStepTest.java
  flink-tests/src/test/java/org/apache/flink/test/optimizer/examples/RelationalQueryCompilerTest.java
  flink-tests/src/test/java/org/apache/flink/test/optimizer/iterations/ConnectedComponentsCoGroupTest.java
  flink-tests/src/test/java/org/apache/flink/test/optimizer/jsonplan/DumpCompiledPlanTest.java
  flink-tests/src/test/java/org/apache/flink/test/optimizer/jsonplan/PreviewPlanDumpTest.java
  flink-tests/src/test/java/org/apache/flink/test/planning/LargePlanTest.java
  flink-tests/src/test/java/org/apache/flink/test/util/PlanExposingEnvironment.java
Labels: component=API/DataSet, component=Tests, review=description?

#10621 [FLINK-15317][runtime] Handle closed input gates more gracefully during
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/SingleInputGate.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
Labels: component=Runtime/Network, component=Tests, review=description?

#10629 [FLINK-15317][runtime][1.10] Handle closed input gates more gracefully during
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/SingleInputGate.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
Labels: component=Runtime/Network, component=Tests, review=description?

#10633 [FLINK-14683] Fix RemoteStreamEnvironment's constructor
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/environment/RemoteStreamEnvironment.java
Labels: component=TableSQL/API, review=description?

#10587 [FLINK-15269][table] Fix hive dialect limitation to overwrite and partition syntax
  flink-table/flink-sql-parser/src/main/codegen/includes/parserImpls.ftl
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/utils/ParserResource.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/validate/FlinkSqlConformance.java
  flink-table/flink-sql-parser/src/main/resources/org.apache.flink.sql.parser.utils/ParserResource.properties
  flink-table/flink-sql-parser/src/test/java/org/apache/flink/sql/parser/FlinkSqlParserImplTest.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/operations/SqlToOperationConverterTest.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/batch/sql/PartitionableSinkTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/PartitionableSinkTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/PartitionableSinkITCase.scala
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/sqlexec/SqlToOperationConverterTest.java
Labels: component=TableSQL/API, review=description?

#10594 [FLINK-15266] Fix NPE for case operator code gen in blink planner
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/calls/ScalarOperatorGens.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/expressions/ScalarOperatorsTest.scala
Labels: component=TableSQL/Runtime, review=description?

#10649 [FLINK-15268][build] Correctly set Multi-Release in manifest.
  flink-dist/pom.xml
Labels: component=Connectors/FileSystem, component=Tests, review=description?

#10569 [FLINK-15065][docs] Correct default value of RocksDB options in documentation
  docs/_includes/generated/rocks_db_configurable_configuration.html
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBConfigurableOptions.java
Labels: component=Documentation, review=description?

#10636 [FLINK-15311][runtime] Remove shade of org.lz4:lz4-java to make lz4 block compression use native implementation by default.
  flink-runtime/pom.xml
Labels: component=Runtime/Network, review=description?

#10639 [FLINK-15311][runtime] Remove shade of org.lz4:lz4-java to make lz4 block compression use native implementation by default.
  flink-runtime/pom.xml
Labels: component=Runtime/Network, review=description?

#10638 [FLINK-15308][runtime] Remove data compression for pipelined shuffle.
  docs/_includes/generated/netty_shuffle_environment_configuration.html
  flink-core/src/main/java/org/apache/flink/configuration/NettyShuffleEnvironmentOptions.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/NettyShuffleServiceFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/api/serialization/EventSerializer.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/api/writer/BroadcastRecordWriter.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/api/writer/ChannelSelectorRecordWriter.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/api/writer/RecordWriter.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/buffer/BufferBuilder.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/buffer/BufferConsumer.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/netty/CreditBasedSequenceNumberingViewReader.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/BoundedBlockingSubpartition.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/BoundedBlockingSubpartitionReader.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/NoOpResultSubpartitionView.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/PipelinedSubpartition.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/PipelinedSubpartitionView.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/ResultPartitionFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/ResultSubpartitionView.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/LocalInputChannel.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/SingleInputGateFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskmanager/NettyShuffleEnvironmentConfiguration.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/NettyShuffleEnvironmentBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/buffer/BufferBuilderAndConsumerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/buffer/BufferBuilderTestUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/netty/CancelPartitionRequestTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/netty/PartitionRequestQueueTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/BoundedBlockingSubpartitionAvailabilityTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/BoundedBlockingSubpartitionWriteReadTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/FileChannelBoundedDataTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/InputGateFairnessTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/PartitionTestUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/PipelinedSubpartitionTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/PipelinedSubpartitionWithReadViewTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/ResultPartitionBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/ResultPartitionFactoryTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/SubpartitionTestBase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/util/TestSubpartitionConsumer.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/benchmark/StreamNetworkCompressionThroughputBenchmark.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/benchmark/StreamNetworkCompressionThroughputBenchmarkTest.java
  flink-tests/src/test/java/org/apache/flink/test/runtime/ShuffleCompressionITCase.java
Labels: component=Runtime/Network, review=description?

#10627 [FLINK-15308][runtime] Remove data compression for pipelined shuffle.
  docs/_includes/generated/netty_shuffle_environment_configuration.html
  flink-core/src/main/java/org/apache/flink/configuration/NettyShuffleEnvironmentOptions.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/NettyShuffleServiceFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/api/serialization/EventSerializer.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/api/writer/BroadcastRecordWriter.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/api/writer/ChannelSelectorRecordWriter.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/api/writer/RecordWriter.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/buffer/BufferBuilder.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/buffer/BufferConsumer.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/netty/CreditBasedSequenceNumberingViewReader.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/BoundedBlockingSubpartition.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/BoundedBlockingSubpartitionReader.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/NoOpResultSubpartitionView.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/PipelinedSubpartition.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/PipelinedSubpartitionView.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/ResultPartitionFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/ResultSubpartitionView.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/LocalInputChannel.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/SingleInputGateFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskmanager/NettyShuffleEnvironmentConfiguration.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/NettyShuffleEnvironmentBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/buffer/BufferBuilderAndConsumerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/buffer/BufferBuilderTestUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/netty/CancelPartitionRequestTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/netty/PartitionRequestQueueTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/BoundedBlockingSubpartitionAvailabilityTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/BoundedBlockingSubpartitionWriteReadTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/FileChannelBoundedDataTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/InputGateFairnessTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/PartitionTestUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/PipelinedSubpartitionTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/PipelinedSubpartitionWithReadViewTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/ResultPartitionBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/ResultPartitionFactoryTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/SubpartitionTestBase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/util/TestSubpartitionConsumer.java
  flink-tests/src/test/java/org/apache/flink/test/runtime/ShuffleCompressionITCase.java
Labels: component=Runtime/Network, review=description?

#10611 [FLINK-15301] [kinesis] Exception propagation from record emitter to source thread
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/internals/KinesisDataFetcher.java
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/util/RecordEmitter.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/FlinkKinesisConsumerTest.java
Labels: component=Connectors/Kinesis, review=description?

#10657 [FLINK-15360][e2e] Fix the parameter issue in retry_times
  flink-end-to-end-tests/test-scripts/common.sh
Labels: component=<none>, review=description?

#10664 [FLINK-15360][e2e] Fix the parameter issue in retry_times
  flink-end-to-end-tests/test-scripts/common.sh
Labels: component=<none>, review=description?

#10591 [FLINK-15272][table-planner-blink] Better error message when insert partition with values
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/calcite/PreValidateReWriter.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/batch/sql/PartitionableSinkTest.scala
Labels: component=TableSQL/Planner, review=description?

#10658 [FLINK-15359] Remove unused YarnConfigOptions, Tests, Docs
  docs/_includes/generated/yarn_config_configuration.html
  flink-core/src/main/java/org/apache/flink/configuration/ConfigConstants.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YARNSessionCapacitySchedulerITCase.java
  flink-yarn/src/main/java/org/apache/flink/yarn/configuration/YarnConfigOptions.java
Labels: component=Runtime/Configuration, review=description?

#10570 [FLINK-15248][FileSystems] Allow FileUtils#compressDirectory to process relative directories.
  flink-core/src/main/java/org/apache/flink/util/FileUtils.java
  flink-core/src/test/java/org/apache/flink/util/FileUtilsTest.java
Labels: component=FileSystems, review=description?

#10659 [FLINK-15248][FileSystems] Allow FileUtils#compressDirectory to process relative directories.
  flink-core/src/main/java/org/apache/flink/util/FileUtils.java
  flink-core/src/test/java/org/apache/flink/util/FileUtilsTest.java
Labels: component=FileSystems, review=description?

#10673 [FLINK-15374][core][config] Update descriptions for jvm overhead config options
  docs/_includes/generated/task_manager_memory_configuration.html
  flink-core/src/main/java/org/apache/flink/configuration/TaskManagerOptions.java
Labels: component=Runtime/Configuration, review=description?

#10672 [FLINK-15373][core][config] Update descriptions for framework / task off-heap memory config options
  docs/_includes/generated/task_manager_memory_configuration.html
  flink-core/src/main/java/org/apache/flink/configuration/TaskManagerOptions.java
Labels: component=Runtime/Configuration, review=description?

#10699 [hotfix][e2e] Disable Streaming File Sink s3 e2e test until FLINK-15355 has been fixed
  tools/travis/splits/split_misc.sh
  tools/travis/splits/split_misc_hadoopfree.sh
Labels: review=description?

#10620 [FLINK-15239][table-planner-blink] CompileUtils::COMPILED_CACHE leaks class loaders
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/generated/CompileUtils.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/generated/CompileUtilsTest.java
Labels: component=TableSQL/Runtime, review=description?

#10708 [FLINK-15413][table-planner-blink] Fix ScalarOperatorsTest failed in travis in 1.9 branch
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/expressions/TemporalTypesTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/expressions/utils/ExpressionTestBase.scala
Labels: component=TableSQL/Planner, review=description?

#10707 [FLINK-15426][e2e] Fix TPC-DS end-to-end test (Blink planner) fails on travis
  flink-end-to-end-tests/flink-tpcds-test/src/main/java/org/apache/flink/table/tpcds/TpcdsTestProgram.java
Labels: component=TableSQL/Planner, review=description?

#10719 [hotfix][e2e] Disable Shaded Hadoop S3A with credentials provider e2e test until FLINK-15355 has been fixed
  tools/travis/splits/split_misc.sh
Labels: component=FileSystems, review=description?

#10725 [FLINK-15301] [kinesis] Exception propagation from record emitter to source thread
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/internals/KinesisDataFetcher.java
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/util/RecordEmitter.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/FlinkKinesisConsumerTest.java
Labels: component=Connectors/Kinesis, review=description?

#10718 [FLINK-15425][docs] Fix csv format usage in Filesystem connector section
  docs/dev/table/connect.md
  docs/dev/table/connect.zh.md
Labels: component=Documentation, review=description?

#10562 [FLINK-15231][table-planner-blink] Do not support TIMESTAMP/DECIMAL t…
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/dataformat/vector/heap/AbstractHeapVector.java
Labels: component=TableSQL/Planner, review=description?

#10722 [FLINK-15421][table-planner-blink] Fix TimestampMaxAggFunction/Timest…
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/functions/aggfunctions/MaxWithRetractAggFunction.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/functions/aggfunctions/MinWithRetractAggFunction.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/utils/AggFunctionFactory.scala
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/functions/aggfunctions/MaxWithRetractAggFunctionTest.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/functions/aggfunctions/MinWithRetractAggFunctionTest.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/TimestampITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/WindowAggregateITCase.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/dataformat/DataFormatConverters.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/types/LogicalTypeDataTypeConverter.java
Labels: component=TableSQL/Planner, review=description?

#10723 [FLINK-15421][table-planner-blink] Fix TimestampMaxAggFunction/TimestampMinAggFunction to accept LocalDateTime values
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/functions/aggfunctions/MaxWithRetractAggFunction.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/functions/aggfunctions/MinWithRetractAggFunction.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/functions/aggfunctions/MaxWithRetractAggFunctionTest.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/functions/aggfunctions/MinWithRetractAggFunctionTest.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/WindowAggregateITCase.scala
Labels: component=TableSQL/Planner, review=description?

#10714 [FLINK-15409]Add semicolon after WindowJoinUtil#generateJoinFunction '$collectorTerm.collect($joinedRow)' statement
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/utils/WindowJoinUtil.scala
Labels: component=TableSQL/Runtime, review=description?
