Repository apache/flink, pull requests merged in 2019-06, with the labels that each got.

#8594 [DOC]Update 'StateTtlCon fig' to 'StateTtlConfig'
  docs/dev/stream/state/state.md
Labels: review=description?

#8599 [FLINK-12650][docs] Redirect Users to Documentation Homepage if Requested Resource Does Not Exist
  docs/404.md
  docs/_layouts/404_base.html
Labels: component=Documentation, review=approved ✅

#8619 [FLINK-12734] [table-planner-blink] remove getVolcanoPlanner method from FlinkOptimizeContext and RelNodeBlock does not depend on TableEnvironment
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/optimize/BatchCommonSubGraphBasedOptimizer.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/optimize/CommonSubGraphBasedOptimizer.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/optimize/RelNodeBlock.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/optimize/StreamCommonSubGraphBasedOptimizer.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/optimize/program/FlinkOptimizeContext.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/optimize/program/FlinkVolcanoProgram.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/batch/sql/agg/AggregateReduceGroupingITCase.scala
Labels: component=TableSQL/Planner, review=description?

#8534 [FLINK-12614][yarn] Refactor test to not do assertions in @After methods
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YARNHighAvailabilityITCase.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YARNITCase.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YARNSessionCapacitySchedulerITCase.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YARNSessionFIFOITCase.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YARNSessionFIFOSecuredITCase.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YarnConfigurationITCase.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YarnTestBase.java
Labels: component=Deployment/YARN, component=Tests, review=description?

#8566 [FLINK-12673][network] Introduce NetworkEnvironment.getUnreleasedPartitions instead of using getResultPartitionManager
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/NetworkEnvironment.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/ResultPartitionManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskExecutor.java
Labels: component=Runtime/Network, review=description?

#8635 [FLINK-12740][tests] Fix unstable SpillableSubpartitionTest
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/SpillableSubpartitionTest.java
Labels: component=Runtime/Network, review=description?

#8644 [hotfix] fix flink-sql-parser compile error
  flink-table/flink-sql-parser/pom.xml
Labels: review=description?

#8620 [FLINK-12643] [runtime] Implement ExecutionGraph to FailoverTopology Adapter
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/failover/adapter/DefaultFailoverEdge.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/failover/adapter/DefaultFailoverTopology.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/failover/adapter/DefaultFailoverVertex.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/ExecutionGraphTestUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/failover/adapter/DefaultFailoverTopologyTest.java
Labels: component=Runtime/Coordination, review=description?

#8605 [FLINK-12775] bump up flink-shaded dependencies version to 7.0
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/handler/AbstractHandler.java
  pom.xml
Labels: component=BuildSystem/Shaded, review=description?

#8578 [FLINK-12685] [table-planner-blink] Supports UNNEST query in blink planner
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/calcite/FlinkTypeFactory.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/codegen/agg/batch/WindowCodeGenerator.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/optimize/program/FlinkBatchProgram.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/optimize/program/FlinkDecorrelateProgram.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/optimize/program/FlinkStreamProgram.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/rules/FlinkBatchRuleSets.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/rules/FlinkStreamRuleSets.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/rules/logical/LogicalUnnestRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/util/AggFunctionFactory.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/util/ExplodeFunctionUtil.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/plan/batch/sql/UnnestTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/plan/rules/logical/LogicalUnnestRuleTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/plan/stream/sql/UnnestTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/plan/stream/sql/agg/WindowAggregateTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/plan/batch/sql/UnnestTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/plan/common/UnnestTestBase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/plan/rules/logical/LogicalUnnestRuleTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/plan/stream/sql/UnnestTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/plan/stream/sql/agg/WindowAggregateTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/batch/sql/UnnestITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/batch/sql/agg/AggregateReduceGroupingITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/batch/sql/join/JoinITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/stream/sql/AggregateITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/stream/sql/UnnestITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/util/TableTestBase.scala
Labels: component=TableSQL/Planner, review=description?

#8345 [FLINK-12402][table] Make validation error message for CallExpression more user friendly
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/expressions/rules/ResolveCallByArgumentsRule.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/stream/table/validation/CalcValidationTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/stream/table/validation/GroupWindowValidationTest.scala
Labels: component=TableSQL/API, review=quality?

#8653 [FLINK-10455][Connectors/Kafka] Ensure all the KafkaProducers are recycled when FlinkKafk…
  flink-connectors/flink-connector-kafka-0.11/src/main/java/org/apache/flink/streaming/connectors/kafka/FlinkKafkaProducer011.java
  flink-connectors/flink-connector-kafka-0.11/src/test/java/org/apache/flink/streaming/connectors/kafka/FlinkKafkaProducer011ITCase.java
  flink-connectors/flink-connector-kafka-0.11/src/test/resources/log4j-test.properties
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/streaming/connectors/kafka/FlinkKafkaProducer.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/FlinkKafkaProducerITCase.java
  flink-connectors/flink-connector-kafka/src/test/resources/log4j-test.properties
Labels: component=Connectors/Kafka, review=description?

#8677 [FLINK-12795] [table-planner-blink] Extracted creation & configuration of FrameworkConfig & RelBuilder to separate class in blink planner
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/PlannerContext.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/api/TableEnvironment.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/calcite/FlinkPlannerImpl.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/calcite/FlinkRelBuilder.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/util/JavaScalaConversionUtil.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/validate/FunctionCatalog.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/codegen/agg/AggTestBase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/expressions/utils/ExpressionTestBase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/plan/metadata/FlinkRelMdHandlerTestBase.scala
Labels: component=TableSQL/Planner, review=description?

#8699 [FLINK-10455][Connectors/Kafka] Ensure all the KafkaProducers closed …
  flink-connectors/flink-connector-kafka-0.11/src/main/java/org/apache/flink/streaming/connectors/kafka/FlinkKafkaProducer011.java
  flink-connectors/flink-connector-kafka-0.11/src/test/java/org/apache/flink/streaming/connectors/kafka/FlinkKafkaProducer011ITCase.java
  flink-connectors/flink-connector-kafka-0.11/src/test/resources/log4j-test.properties
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/streaming/connectors/kafka/FlinkKafkaProducer.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/FlinkKafkaProducerITCase.java
  flink-connectors/flink-connector-kafka/src/test/resources/log4j-test.properties
Labels: component=Connectors/Kafka, review=description?

#8701 [FLINK-10455][Connectors/Kafka] Ensure all the KafkaProducers closed...
  flink-connectors/flink-connector-kafka-0.11/src/main/java/org/apache/flink/streaming/connectors/kafka/FlinkKafkaProducer011.java
  flink-connectors/flink-connector-kafka-0.11/src/test/java/org/apache/flink/streaming/connectors/kafka/FlinkKafkaProducer011ITCase.java
  flink-connectors/flink-connector-kafka-0.11/src/test/resources/log4j-test.properties
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/streaming/connectors/kafka/FlinkKafkaProducer.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/FlinkKafkaProducerITCase.java
  flink-connectors/flink-connector-kafka/src/test/resources/log4j-test.properties
Labels: component=Connectors/Kafka, review=description?

#7959 [FLINK-11876] Introduce new InputSelectable, BoundedOneInput and BoundedMultiInput interfaces
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/BoundedMultiInput.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/BoundedOneInput.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/InputSelectable.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/InputSelection.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/InputSelectionTest.java
Labels: component=Runtime/Operators, review=description?

#8633 [hotfix] Use proper template format substitute in Preconditions' use
  flink-clients/src/main/java/org/apache/flink/client/program/rest/retry/ExponentialWaitStrategy.java
  flink-connectors/flink-connector-kafka-0.11/src/main/java/org/apache/flink/streaming/connectors/kafka/internal/FlinkKafkaProducer.java
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/streaming/connectors/kafka/internal/FlinkKafkaInternalProducer.java
  flink-core/src/main/java/org/apache/flink/api/java/typeutils/runtime/NullableSerializer.java
  flink-core/src/main/java/org/apache/flink/api/java/typeutils/runtime/PojoSerializerSnapshot.java
  flink-core/src/main/java/org/apache/flink/util/LinkedOptionalMapSerializer.java
  flink-libraries/flink-streaming-python/src/test/java/org/apache/flink/streaming/python/api/PythonStreamBinderTest.java
  flink-runtime/src/main/java/org/apache/flink/runtime/messages/webmonitor/JobDetails.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/RestClientConfiguration.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/RestServerEndpointConfiguration.java
Labels: review=description?

#8604 [DOC] add ')' for the doc checkpoints.md
  docs/ops/state/checkpoints.md
Labels: review=description?

#8685 [FLINK-12799][table] Improve expression based TableSchema extraction from DataStream/DataSet
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/typeutils/FieldInfoUtils.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/api/BatchTableEnvImpl.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/api/StreamTableEnvImpl.scala
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/runtime/batch/table/JavaTableEnvironmentITCase.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/batch/table/validation/CalcValidationTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/stream/StreamTableEnvironmentValidationTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/validation/InlineTableValidationTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/validation/TableEnvironmentValidationTest.scala
Labels: component=<none>, review=description?

#8630 [FLINK-12667][runtime] Add JobID to TaskExecutorGateway#releasePartitions
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/Execution.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmanager/slots/TaskManagerGateway.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/RpcTaskManagerGateway.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskExecutor.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskExecutorGateway.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/ExecutionTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/utils/SimpleAckingTaskManagerGateway.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TestingTaskExecutorGateway.java
Labels: component=Runtime/Coordination, review=description?

#8602 [FLINK-12313] Add workaround to avoid race condition in SynchronousCheckpointITCase test
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/SynchronousCheckpointITCase.java
Labels: component=Runtime/Checkpointing, review=description?

#8654 [FLINK-12647][network] Add feature flag to disable release of consumed blocking partitions
  flink-core/src/main/java/org/apache/flink/configuration/NettyShuffleEnvironmentOptions.java
  flink-runtime/src/main/java/org/apache/flink/runtime/deployment/ResultPartitionDeploymentDescriptor.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/NettyShuffleEnvironment.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/ReleaseOnConsumptionResultPartition.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/ResultPartition.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/ResultPartitionFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskmanager/NettyShuffleEnvironmentConfiguration.java
  flink-runtime/src/test/java/org/apache/flink/runtime/deployment/ResultPartitionDeploymentDescriptorTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/NettyShuffleEnvironmentBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/ResultPartitionBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/ResultPartitionFactoryTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/ResultPartitionTest.java
Labels: component=Runtime/Network, review=description?

#8748 [FLINK-12857] [table] move FilterableTableSource into flink-table-common
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/sources/FilterableTableSource.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/sources/FilterableTableSource.scala
Labels: component=TableSQL/Planner, review=description?

#8702 [FLINK-12806] Remove beta feature remark from the Universal Kafka connector
  docs/dev/connectors/kafka.md
  docs/dev/connectors/kafka.zh.md
Labels: component=Connectors/Kafka, review=description?

#8767 [FLINK-12871][docs] fix separate keypass not compatible with PKCS12 stores
  docs/ops/security-ssl.md
  docs/ops/security-ssl.zh.md
Labels: component=Documentation, review=description?

#8772 [FLINK-12878] [travis] Move flink-table-planner-blink/flink-table-runtime-blink to separate profile
  .travis.yml
  tools/travis/stage.sh
Labels: component=Travis, review=description?

#8322 [FLINK-12364] Introduce a CheckpointFailureManager to centralized manage checkpoint failure
  flink-end-to-end-tests/test-scripts/common.sh
  flink-metrics/flink-metrics-jmx/src/test/java/org/apache/flink/runtime/jobmanager/JMXJobManagerMetricTest.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointFailureManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointFailureReason.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointIDCounter.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/PendingCheckpoint.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/StandaloneCheckpointIDCounter.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/ZooKeeperCheckpointIDCounter.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/decline/AlignmentLimitExceededException.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/decline/CheckpointDeclineException.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/decline/CheckpointDeclineOnCancellationBarrierException.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/decline/CheckpointDeclineSubsumedException.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/decline/CheckpointDeclineTaskNotCheckpointingException.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/decline/CheckpointDeclineTaskNotReadyException.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/decline/InputEndOfStreamException.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/ExecutionGraph.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/ExecutionGraphBuilder.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobgraph/tasks/CheckpointCoordinatorConfiguration.java
  flink-runtime/src/main/java/org/apache/flink/runtime/messages/checkpoint/DeclineCheckpoint.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskExecutor.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/exceptions/CheckpointException.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskmanager/Task.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinatorFailureTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinatorMasterHooksTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinatorTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointFailureManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointIDCounterTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointSettingsSerializableTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointStateRestoreTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointStatsTrackerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/ExecutionGraphCheckpointCoordinatorTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/ArchivedExecutionGraphTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/ConcurrentFailoverStrategyExecutionGraphTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/ExecutionGraphDeploymentTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/FailoverRegionTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobgraph/JobGraphTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobgraph/tasks/JobCheckpointingSettingsTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/JobMasterTest.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/environment/CheckpointConfig.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/StreamingJobGraphGenerator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/BarrierBuffer.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/BarrierTracker.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/BarrierBufferAlignmentLimitTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/BarrierBufferTestBase.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskCancellationBarrierTest.java
  flink-tests/src/test/java/org/apache/flink/runtime/jobmaster/JobMasterStopWithSavepointIT.java
  flink-tests/src/test/java/org/apache/flink/runtime/jobmaster/JobMasterTriggerSavepointITCase.java
  flink-tests/src/test/java/org/apache/flink/test/streaming/runtime/IterateITCase.java
Labels: component=Runtime/Checkpointing, review=description?

#8753 [FLINK-12862][coordination] Remove legacy class QuarantineHandler and QuarantineMonitor
  flink-runtime/src/main/java/org/apache/flink/runtime/akka/DefaultQuarantineHandler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/akka/QuarantineHandler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/akka/QuarantineMonitor.java
  flink-runtime/src/test/java/org/apache/flink/runtime/akka/QuarantineMonitorTest.java
Labels: component=Runtime/Coordination, review=description?

#8754 [FLINK-12861][coordination] Remove legacy class ListeningBehaviour
  flink-runtime/src/main/java/org/apache/flink/runtime/akka/ListeningBehaviour.java
Labels: component=Runtime/Coordination, review=description?

#8225 [FLINK-10984]Remove flink-shaded-hadoop from flink
  flink-connectors/flink-connector-filesystem/pom.xml
  flink-connectors/flink-hadoop-compatibility/pom.xml
  flink-connectors/flink-hbase/pom.xml
  flink-connectors/flink-hcatalog/pom.xml
  flink-connectors/flink-orc/pom.xml
  flink-dist/pom.xml
  flink-dist/src/main/assemblies/hadoop.xml
  flink-end-to-end-tests/flink-bucketing-sink-test/pom.xml
  flink-filesystems/flink-hadoop-fs/pom.xml
  flink-filesystems/flink-swift-fs-hadoop/pom.xml
  flink-formats/flink-parquet/pom.xml
  flink-formats/flink-sequence-file/pom.xml
  flink-fs-tests/pom.xml
  flink-runtime/pom.xml
  flink-shaded-hadoop/flink-shaded-hadoop2-uber/pom.xml
  flink-shaded-hadoop/flink-shaded-hadoop2-uber/src/main/resources/META-INF/NOTICE
  flink-shaded-hadoop/flink-shaded-hadoop2-uber/src/main/resources/META-INF/licenses/LICENSE.cddlv1.0
  flink-shaded-hadoop/flink-shaded-hadoop2-uber/src/main/resources/META-INF/licenses/LICENSE.cddlv1.1
  flink-shaded-hadoop/flink-shaded-hadoop2-uber/src/main/resources/META-INF/licenses/LICENSE.jsch
  flink-shaded-hadoop/flink-shaded-hadoop2-uber/src/main/resources/META-INF/licenses/LICENSE.paranamer
  flink-shaded-hadoop/flink-shaded-hadoop2-uber/src/main/resources/META-INF/licenses/LICENSE.xmlenc
  flink-shaded-hadoop/flink-shaded-hadoop2/pom.xml
  flink-shaded-hadoop/flink-shaded-hadoop2/src/main/resources/META-INF/NOTICE
  flink-shaded-hadoop/flink-shaded-yarn-tests/pom.xml
  flink-shaded-hadoop/flink-shaded-yarn-tests/src/main/resources/META-INF/licenses/LICENSE.protobuf
  flink-shaded-yarn-tests/pom.xml
  flink-shaded-yarn-tests/src/main/resources/META-INF/NOTICE
  flink-shaded-yarn-tests/src/main/resources/META-INF/licenses/LICENSE.asm
  flink-shaded-yarn-tests/src/main/resources/META-INF/licenses/LICENSE.protobuf
  flink-tests/pom.xml
  flink-yarn-tests/pom.xml
  flink-yarn/pom.xml
  pom.xml
  tools/releasing/create_binary_release.sh
  tools/releasing/deploy_staging_jars.sh
Labels: component=BuildSystem, component=BuildSystem/Shaded, review=description?

#8765 [hotfix][streaming] Report correct value of currentProcessingTime in the exception
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/windowing/WindowOperator.java
Labels: review=description?

#8544 [FLINK-12264] Remove unused methods in ExecutionGraphTestUtils
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/ExecutionGraphTestUtils.java
Labels: component=Runtime/Coordination, component=Tests, review=description?

#8591 [FLINK-12268][Tests] Port SharedSlotsTest to new code base
  flink-runtime/src/test/java/org/apache/flink/runtime/instance/SharedSlotsTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmanager/scheduler/SchedulerTestUtils.java
Labels: component=Runtime/Coordination, component=Tests, review=description?

#8796 [hotfix] Fix error message in BatchTableSourceScan
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/plan/nodes/dataset/BatchTableSourceScan.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/plan/nodes/datastream/StreamTableSourceScan.scala
Labels: review=description?

#8747 [FLINK-12856] [table-planner-blink] Introduce planner rule to push projection into TableSource
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/rules/FlinkBatchRuleSets.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/rules/FlinkStreamRuleSets.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/rules/logical/PushProjectIntoTableSourceScanRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/schema/TableSourceTable.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/util/RexNodeExtractor.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/util/RexNodeRewriter.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/plan/batch/sql/TableSourceTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/plan/rules/logical/PushProjectIntoTableSourceScanRuleTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/plan/stream/sql/TableSourceTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/plan/batch/sql/TableSourceTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/plan/rules/logical/PushProjectIntoTableSourceScanRuleTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/plan/stream/sql/TableSourceTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/plan/util/InputTypeBuilder.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/plan/util/RexNodeExtractorTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/plan/util/RexNodeRewriterTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/plan/util/RexNodeTestBase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/batch/sql/TableSourceITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/stream/sql/TableSourceITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/util/testTableSources.scala
Labels: component=TableSQL/Planner, review=description?

#8802 [hotfix][table] fix imports of RexNodeExtractor
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/util/RexNodeExtractor.scala
Labels: review=description?

#8731 [FLINK-11878][runtime] Implement the runtime handling of BoundedOneInput and BoundedMultiInput
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/InputSelection.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/StreamSource.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/StreamInputProcessor.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/StreamTwoInputProcessor.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/StreamTwoInputSelectableProcessor.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/OneInputStreamTask.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/OperatorChain.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/SourceStreamTask.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/TwoInputSelectableStreamTask.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/TwoInputStreamTask.java
  flink-streaming-java/src/test/java/org/apache/flink/runtime/io/network/partition/consumer/StreamTestSingleInputGate.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/AbstractUdfStreamOperatorLifecycleTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/InputSelectionTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/StreamSourceOperatorLatencyMetricsTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/StreamSourceOperatorWatermarksTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/OneInputStreamTaskTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/SourceStreamTaskTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTestHarness.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/TestBoundedOneInputStreamOperator.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/TwoInputStreamTaskTest.java
Labels: component=Runtime/Task, review=description?

#8824 [FLINK-12923][runtime] Introduce Task termination future
  flink-runtime/src/main/java/org/apache/flink/runtime/taskmanager/Task.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskmanager/TaskTest.java
Labels: component=Runtime/Task, review=description?

#8855 [DOC]update description for Key `taskmanager.memory.preallocate `
  docs/_includes/generated/task_manager_memory_configuration.html
  flink-core/src/main/java/org/apache/flink/configuration/TaskManagerOptions.java
Labels: review=description?

#8828 [hotfix] [end-to-end-tests] fix test_kubernetes_embedded_job.sh and test_docker_embedded_job.sh broken by FLINK-12788
  flink-end-to-end-tests/test-scripts/test_docker_embedded_job.sh
  flink-end-to-end-tests/test-scripts/test_kubernetes_embedded_job.sh
Labels: component=API/Python, component=Deployment/Docker, review=description?

#8864 [FLINK-12967][runtime] Change the processing that the input reaches the end to comply with the InputSelectable contract
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/StreamTwoInputSelectableProcessor.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskSelectiveReadingTest.java
Labels: component=<none>, review=description?

#8812 [FLINK-12915][tests] Fix AbstractOperatorRestoreTestBase deadlock of ont test fails
  flink-tests/src/test/java/org/apache/flink/test/state/operator/restore/AbstractOperatorRestoreTestBase.java
Labels: component=Runtime/StateBackends, component=Tests, review=description?

#8810 [FLINK-12913][runtime] Remove legacy InstanceManager and InstanceManagerTest
  flink-libraries/flink-ml/src/test/resources/logback-test.xml
  flink-runtime/src/main/java/org/apache/flink/runtime/instance/InstanceManager.java
  flink-runtime/src/test/java/org/apache/flink/runtime/instance/InstanceManagerTest.java
Labels: component=Runtime/Coordination, review=description?

#8866 [FLINK-12969] [table-planner-blink] Remove dependencies on RelNode from TableImpl in blink planner
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/api/BatchTableEnvironment.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/api/StreamTableEnvironment.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/api/TableEnvironment.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/api/TableImpl.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/api/TableEnvironmentTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/plan/batch/sql/agg/GroupingSetsTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/plan/stream/sql/ModifiedMonotonicityTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/plan/stream/sql/agg/GroupingSetsTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/plan/stream/sql/agg/OverAggregateTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/plan/stream/sql/join/WindowJoinTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/plan/util/FlinkRelOptUtilTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/plan/util/RelDigestUtilTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/utils/BatchTestBase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/utils/TableUtil.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/utils/TestSinkUtil.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/util/TableTestBase.scala
Labels: component=TableSQL/Planner, review=description?

#8869 [FLINK-12975][table-planner-blink] UserDefinedFunctionUtils should distinguish overload any parameters methods in blink
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/functions/utils/UserDefinedFunctionUtils.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/stream/sql/CorrelateITCase.scala
Labels: component=TableSQL/Planner, review=description?

#8868 [FLINK-12972][table-planner-blink] Ensure calling open/close in join condition of generated functions for blink
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/codegen/FunctionCodeGenerator.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/codegen/LongHashJoinGenerator.scala
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/codegen/LongHashJoinGeneratorTest.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/expressions/utils/userDefinedScalarFunctions.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/batch/sql/join/JoinITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/stream/sql/JoinITCase.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/generated/JoinCondition.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/join/HashJoinOperator.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/join/SortMergeJoinOperator.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/join/stream/AbstractStreamingJoinOperator.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/join/Int2HashJoinOperatorTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/join/Int2SortMergeJoinOperatorTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/join/String2HashJoinOperatorTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/join/String2SortMergeJoinOperatorTest.java
Labels: component=TableSQL/Planner, review=description?

#8715 [FLINK-12821][table][cep] Fix the bug that fix time quantifier can not be the last element of a pattern
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/plan/nodes/datastream/DataStreamMatch.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/match/PatternTranslatorTest.scala
Labels: component=Library/CEP, component=TableSQL/API, review=description?

#8857 [FLINK-12960] Introduce ShuffleDescriptor#ReleaseType and ShuffleDescriptor#getSupportedReleaseTypes
  flink-runtime/src/main/java/org/apache/flink/runtime/deployment/ResultPartitionDeploymentDescriptor.java
  flink-runtime/src/main/java/org/apache/flink/runtime/shuffle/NettyShuffleDescriptor.java
  flink-runtime/src/main/java/org/apache/flink/runtime/shuffle/NettyShuffleMaster.java
  flink-runtime/src/main/java/org/apache/flink/runtime/shuffle/ShuffleDescriptor.java
  flink-runtime/src/main/java/org/apache/flink/runtime/shuffle/ShuffleEnvironment.java
  flink-runtime/src/main/java/org/apache/flink/runtime/shuffle/ShuffleMaster.java
  flink-runtime/src/main/java/org/apache/flink/runtime/shuffle/UnknownShuffleDescriptor.java
  flink-runtime/src/test/java/org/apache/flink/runtime/deployment/ResultPartitionDeploymentDescriptorTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/PartitionTestUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/ResultPartitionFactoryTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/util/NettyShuffleDescriptorBuilder.java
Labels: component=Runtime/Coordination, review=description?

#8879 [FLINK-12914][runtime] Remove legacy InstanceListener
  flink-runtime/src/main/java/org/apache/flink/runtime/instance/InstanceListener.java
Labels: component=Runtime/Coordination, review=description?

#8899 [hotfix][readme] fix how to contribute to Apache Flink url
  README.md
Labels: review=description?

#8896 [FLINK-12993][runtime] Refactor forceReleaseOnConsumption to JM concept
  flink-core/src/main/java/org/apache/flink/configuration/JobManagerOptions.java
  flink-core/src/main/java/org/apache/flink/configuration/NettyShuffleEnvironmentOptions.java
  flink-runtime/src/main/java/org/apache/flink/runtime/deployment/ResultPartitionDeploymentDescriptor.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/Execution.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/ExecutionGraph.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/ExecutionGraphBuilder.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/NettyShuffleServiceFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/ResultPartitionFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskmanager/NettyShuffleEnvironmentConfiguration.java
  flink-runtime/src/test/java/org/apache/flink/runtime/deployment/ResultPartitionDeploymentDescriptorTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/NettyShuffleEnvironmentBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/PartitionTestUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/ResultPartitionBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/ResultPartitionFactoryTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskExecutorPartitionLifecycleTest.java
Labels: component=Runtime/Network, review=description?

#8900 [hotfix][docs] fix invalid link in migration docs
  docs/dev/migration.md
  docs/dev/migration.zh.md
Labels: review=description?

#8668 [FLINK-12784][metrics] Support retention policy for InfluxDB metrics …
  docs/monitoring/metrics.md
  docs/monitoring/metrics.zh.md
  flink-metrics/flink-metrics-influxdb/src/main/java/org/apache/flink/metrics/influxdb/InfluxdbReporter.java
  flink-metrics/flink-metrics-influxdb/src/main/java/org/apache/flink/metrics/influxdb/InfluxdbReporterOptions.java
  flink-metrics/flink-metrics-influxdb/src/test/java/org/apache/flink/metrics/influxdb/InfluxdbReporterTest.java
Labels: component=Runtime/Metrics, review=description?

#8745 [FLINK-11662] Disable task to fail on checkpoint errors
  flink-core/src/main/java/org/apache/flink/api/common/ExecutionConfig.java
  flink-end-to-end-tests/flink-datastream-allround-test/src/main/java/org/apache/flink/streaming/tests/DataStreamAllroundTestJobFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointFailureManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobgraph/tasks/CheckpointCoordinatorConfiguration.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/environment/CheckpointConfig.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/StreamingJobGraphGenerator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/AbstractStreamOperator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/CheckpointExceptionHandlerFactory.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/CheckpointExceptionHandlerConfigurationTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/CheckpointExceptionHandlerTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/TaskCheckpointingBehaviourTest.java
Labels: component=Runtime/Checkpointing, review=description?

#8902 [hotfix][docs] fix wrong link in streamfile_sink
  docs/dev/connectors/streamfile_sink.md
  docs/dev/connectors/streamfile_sink.zh.md
Labels: review=description?
