Repository apache/flink, pull requests merged in 2019-04, with the labels that each got.

#8088 [FLINK-12073][table-planner-blink] Support appropriate precision and scale processing of Decimal
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/api/TableImpl.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/calcite/FlinkTypeFactory.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/calcite/FlinkTypeSystem.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/batch/sql/DecimalITCase.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/dataformat/DataFormatConverters.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/type/TypeConverters.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/typeutils/BigDecimalTypeInfo.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/typeutils/BigDecimalTypeInfoTest.java
Labels: component=<none>, review=description?

#8074 [FLINK-12056][coordinator] Remove legacy methods in LeaderRetrievalUtils
  flink-runtime/src/main/java/org/apache/flink/runtime/util/LeaderRetrievalUtils.java
Labels: component=Runtime/Coordination, review=description?

#8049 [FLINK-12014][Doc]Flink CEP Doc missing "SkipToNextStrategy"
  docs/dev/libs/cep.md
Labels: component=Documentation, review=architecture?

#8080 [hotfix][runtime] Improve exception message in SingleInputGate
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/SingleInputGate.java
Labels: review=description?

#8066 [FLINK-12041][table-runtime-blink] Introduce ResettableExternalBuffer to blink batch
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/dataformat/BinaryRow.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/hashtable/BinaryHashTable.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/io/BinaryRowChannelInputViewIterator.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/util/ResettableExternalBuffer.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/util/ResettableRowBuffer.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/util/ResettableExternalBufferTest.java
Labels: component=TableSQL/Runtime, review=description?

#8040 [FLINK-11155][fs][hadoop] Fix hadoop-free factory tests on Java 9
  flink-core/src/main/java/org/apache/flink/util/ClassLoaderUtils.java
  flink-filesystems/flink-hadoop-fs/src/test/java/org/apache/flink/runtime/fs/hdfs/HadoopFreeFsFactoryTest.java
  flink-filesystems/flink-mapr-fs/src/test/java/org/apache/flink/runtime/fs/maprfs/MapRFsFactoryTest.java
  tools/travis/stage.sh
Labels: component=FileSystems, component=Tests, review=description?

#7992 [FLINK-11929][runtime] remove not used transientBlobCache
  flink-runtime/src/main/java/org/apache/flink/runtime/entrypoint/ClusterEntrypoint.java
Labels: component=Runtime/Coordination, review=description?

#7927 [FLINK-11603][metrics] Port the MetricQueryService to the new RpcEndpoint
  flink-runtime/src/main/java/org/apache/flink/runtime/clusterframework/BootstrapTools.java
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/Dispatcher.java
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/DispatcherFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/JobDispatcherFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/MiniDispatcher.java
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/SessionDispatcherFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/StandaloneDispatcher.java
  flink-runtime/src/main/java/org/apache/flink/runtime/entrypoint/ClusterEntrypoint.java
  flink-runtime/src/main/java/org/apache/flink/runtime/entrypoint/component/AbstractDispatcherResourceManagerComponentFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/MetricRegistry.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/MetricRegistryImpl.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/NoOpMetricRegistry.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/dump/MetricQueryService.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/util/MetricUtils.java
  flink-runtime/src/main/java/org/apache/flink/runtime/minicluster/MiniCluster.java
  flink-runtime/src/main/java/org/apache/flink/runtime/resourcemanager/ResourceManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/resourcemanager/ResourceManagerGateway.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/handler/legacy/metrics/MetricFetcherImpl.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rpc/akka/AkkaRpcServiceUtils.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskExecutor.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskExecutorGateway.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskManagerRunner.java
  flink-runtime/src/main/java/org/apache/flink/runtime/webmonitor/RestfulGateway.java
  flink-runtime/src/main/java/org/apache/flink/runtime/webmonitor/retriever/MetricQueryServiceGateway.java
  flink-runtime/src/main/java/org/apache/flink/runtime/webmonitor/retriever/MetricQueryServiceRetriever.java
  flink-runtime/src/main/java/org/apache/flink/runtime/webmonitor/retriever/impl/AkkaQueryServiceGateway.java
  flink-runtime/src/main/java/org/apache/flink/runtime/webmonitor/retriever/impl/AkkaQueryServiceRetriever.java
  flink-runtime/src/main/java/org/apache/flink/runtime/webmonitor/retriever/impl/RpcMetricQueryServiceRetriever.java
  flink-runtime/src/main/scala/org/apache/flink/runtime/taskmanager/TaskManager.scala
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/DispatcherHATest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/DispatcherTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/TestingDispatcher.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/MetricRegistryImplTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/dump/MetricQueryServiceTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/dump/TestingMetricQueryServiceGateway.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/AbstractMetricGroupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/util/MetricUtilsTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/minicluster/SessionDispatcherWithUUIDFactory.java
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/utils/TestingResourceManagerGateway.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/handler/job/SubtaskCurrentAttemptDetailsHandlerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/handler/job/SubtaskExecutionAttemptDetailsHandlerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/handler/legacy/metrics/MetricFetcherTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TestingTaskExecutor.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TestingTaskExecutorGateway.java
  flink-runtime/src/test/java/org/apache/flink/runtime/webmonitor/TestingDispatcherGateway.java
  flink-runtime/src/test/java/org/apache/flink/runtime/webmonitor/TestingRestfulGateway.java
  flink-state-backends/flink-statebackend-rocksdb/src/test/java/org/apache/flink/contrib/streaming/state/RocksDBNativeMetricMonitorTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/util/LatencyStatsTest.java
Labels: component=Runtime/Metrics, review=architecture?

#7971 [FLINK-11897][tests] should wait all submitTask methods executed,befo…
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/ExecutionGraphSuspendTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/InteractionsCountingTaskManagerGateway.java
Labels: component=Runtime/Coordination, component=Tests, review=description?

#8113 [FLINK-12112][tests] Properly print process output
  flink-tests/src/test/java/org/apache/flink/test/recovery/AbstractTaskManagerProcessFailureRecoveryTest.java
Labels: component=Runtime/Coordination, component=Tests, review=description?

#8083 [FLINK-12050][Tests] BlockingShutdownTest fails on Java 9
  flink-runtime/src/test/java/org/apache/flink/runtime/testutils/TestJvmProcess.java
Labels: component=Tests, review=description?

#8125 [FLINK-10205] Batch Job: InputSplit Fault tolerant for DataSourceTask
  flink-core/src/main/java/org/apache/flink/api/common/io/DefaultInputSplitAssigner.java
  flink-core/src/main/java/org/apache/flink/api/common/io/LocatableInputSplitAssigner.java
  flink-core/src/main/java/org/apache/flink/api/common/io/ReplicatingInputSplitAssigner.java
  flink-core/src/main/java/org/apache/flink/core/io/InputSplitAssigner.java
  flink-examples/flink-examples-batch/src/main/java/org/apache/flink/examples/java/distcp/FileCopyTaskInputFormat.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/Execution.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/ExecutionVertex.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/JobMaster.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/JobMasterTest.java
  flink-tests/src/test/java/org/apache/flink/test/classloading/jar/CustomInputSplitProgram.java
  flink-tests/src/test/java/org/apache/flink/test/classloading/jar/StreamingCustomInputSplitProgram.java
Labels: component=Runtime/Coordination, review=description?

#7780 [FLINK-11593][tests] Check & port TaskManagerTest to new code base
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/TestingAbstractInvokables.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskExecutorSubmissionTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskExecutorTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskManagerServicesConfigurationTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskSubmissionTestEnvironment.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TestTaskManagerActions.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskmanager/TaskManagerTest.java
  flink-runtime/src/test/scala/org/apache/flink/runtime/testingUtils/TestingUtils.scala
Labels: component=Runtime/Coordination, review=architecture?

#8102 [FLINK-12087][table-runtime-blink] Introduce over window operators to blink batch
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/expressions/ExpressionBuilder.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/functions/LeadLagAggFunction.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/util/AggFunctionFactory.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/generated/GeneratedAggsHandleFunction.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/over/BufferDataOverWindowOperator.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/over/NonBufferOverWindowOperator.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/over/frame/InsensitiveOverFrame.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/over/frame/OffsetOverFrame.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/over/frame/OverWindowFrame.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/over/frame/RangeSlidingOverFrame.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/over/frame/RangeUnboundedFollowingOverFrame.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/over/frame/RangeUnboundedPrecedingOverFrame.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/over/frame/RowSlidingOverFrame.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/over/frame/RowUnboundedFollowingOverFrame.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/over/frame/RowUnboundedPrecedingOverFrame.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/over/frame/SlidingOverFrame.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/over/frame/UnboundedFollowingOverFrame.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/over/frame/UnboundedOverWindowFrame.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/over/frame/UnboundedPrecedingOverFrame.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/over/BufferDataOverWindowOperatorTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/over/NonBufferOverWindowOperatorTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/over/SumAggsHandleFunction.java
Labels: component=TableSQL/Runtime, review=description?

#8147 [FLINK-11757] Add the version number of Flink 1.8 to MigrationVersion
  flink-core/src/test/java/org/apache/flink/testutils/migration/MigrationVersion.java
Labels: component=Tests, review=description?

#8138 [FLINK-12155][coordination] Remove legacy TaskManager
  flink-runtime/src/main/java/org/apache/flink/runtime/event/AbstractEvent.java
  flink-runtime/src/main/java/org/apache/flink/runtime/instance/Instance.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/NetworkEnvironment.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/ResultPartition.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskmanager/TaskManagerActions.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskmanager/TaskManagerRuntimeInfo.java
  flink-runtime/src/main/scala/org/apache/flink/runtime/taskmanager/TaskManager.scala
  flink-runtime/src/test/scala/org/apache/flink/runtime/testingUtils/TestingTaskManager.scala
  flink-runtime/src/test/scala/org/apache/flink/runtime/testingUtils/TestingTaskManagerLike.scala
  flink-runtime/src/test/scala/org/apache/flink/runtime/testingUtils/TestingTaskManagerMessages.scala
  flink-runtime/src/test/scala/org/apache/flink/runtime/testingUtils/TestingUtils.scala
Labels: component=Runtime/Coordination, review=quality?

#8140 [FLINK-12151][es1] Remove Elasticsearch 1 connector
  docs/dev/connectors/elasticsearch.md
  flink-connectors/flink-connector-elasticsearch-base/pom.xml
  flink-connectors/flink-connector-elasticsearch-base/src/test/java/org/apache/flink/streaming/connectors/elasticsearch/ElasticsearchSinkBaseTest.java
  flink-connectors/flink-connector-elasticsearch/pom.xml
  flink-connectors/flink-connector-elasticsearch/src/main/java/org/apache/flink/streaming/connectors/elasticsearch/Elasticsearch1ApiCallBridge.java
  flink-connectors/flink-connector-elasticsearch/src/main/java/org/apache/flink/streaming/connectors/elasticsearch/ElasticsearchSink.java
  flink-connectors/flink-connector-elasticsearch/src/main/java/org/apache/flink/streaming/connectors/elasticsearch/IndexRequestBuilder.java
  flink-connectors/flink-connector-elasticsearch/src/main/java/org/apache/flink/streaming/connectors/elasticsearch/IndexRequestBuilderWrapperFunction.java
  flink-connectors/flink-connector-elasticsearch/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-connector-elasticsearch/src/main/resources/META-INF/licenses/LICENSE.antlr
  flink-connectors/flink-connector-elasticsearch/src/test/java/org/apache/flink/streaming/connectors/elasticsearch/ElasticsearchSinkITCase.java
  flink-connectors/flink-connector-elasticsearch/src/test/java/org/apache/flink/streaming/connectors/elasticsearch/EmbeddedElasticsearchNodeEnvironmentImpl.java
  flink-connectors/flink-connector-elasticsearch/src/test/resources/log4j-test.properties
  flink-connectors/pom.xml
  flink-end-to-end-tests/flink-elasticsearch1-test/pom.xml
  flink-end-to-end-tests/flink-elasticsearch1-test/src/main/java/org/apache/flink/streaming/tests/Elasticsearch1SinkExample.java
  flink-end-to-end-tests/pom.xml
  flink-end-to-end-tests/run-nightly-tests.sh
  tools/travis/splits/split_misc.sh
  tools/travis/stage.sh
Labels: component=Connectors/ElasticSearch, review=approved ✅

#8114 [FLINK-12100][kafka] Add jaxb-api dependency on Java 9
  flink-connectors/flink-connector-kafka-0.10/pom.xml
  flink-connectors/flink-connector-kafka-0.11/pom.xml
Labels: component=Connectors/Kafka, review=approved ✅

#8139 [FLINK-12156][coordination] Remove legacy FlinkActor
  flink-runtime/src/main/scala/org/apache/flink/runtime/FlinkActor.scala
  flink-runtime/src/main/scala/org/apache/flink/runtime/LeaderSessionMessageFilter.scala
  flink-runtime/src/main/scala/org/apache/flink/runtime/LogMessages.scala
  flink-runtime/src/test/scala/org/apache/flink/runtime/testingUtils/TestingUtils.scala
Labels: component=Runtime/Coordination, review=description?

#8127 [FLINK-12140][table-planner-blink] Support e2e sort merge join operator in batch mode
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/calcite/FlinkPlannerImpl.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/codegen/FunctionCodeGenerator.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/codegen/GenerateUtils.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/codegen/agg/batch/HashAggCodeGenHelper.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/nodes/physical/batch/BatchExecExchange.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/nodes/physical/batch/BatchExecJoinBase.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/nodes/physical/batch/BatchExecSortMergeJoin.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/util/FlinkRelOptUtil.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/util/SortUtil.scala
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/codegen/SortCodeGeneratorTest.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/batch/sql/join/InnerJoinITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/batch/sql/join/JoinConditionTypeCoerceRuleITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/batch/sql/join/JoinITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/batch/sql/join/JoinITCaseBase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/batch/sql/join/OuterJoinITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/utils/BatchTestBase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/utils/TestData.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/api/TableConfigOptions.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/BinaryHashPartitioner.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/TwoInputOperatorWrapper.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/join/SortMergeJoinOperator.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/join/Int2HashJoinOperatorTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/join/Int2SortMergeJoinOperatorTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/join/RandomSortMergeInnerJoinTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/join/String2SortMergeJoinOperatorTest.java
Labels: component=TableSQL/Planner, review=description?

#8120 [FLINK-12120][table-planner-blink] Support e2e SortAggregate and HashAggregate operator run in batch mode
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/expressions/RexNodeConverter.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/functions/aggfunctions/AvgAggFunction.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/codegen/CodeGenUtils.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/codegen/HashCodeGenerator.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/codegen/OperatorCodeGenerator.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/codegen/agg/batch/AggCodeGenHelper.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/codegen/agg/batch/AggWithoutKeysCodeGenerator.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/codegen/agg/batch/HashAggCodeGenHelper.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/codegen/agg/batch/HashAggCodeGenerator.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/codegen/agg/batch/SortAggCodeGenerator.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/nodes/physical/batch/BatchExecGroupAggregateBase.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/nodes/physical/batch/BatchExecHashAggregate.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/nodes/physical/batch/BatchExecHashAggregateBase.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/nodes/physical/batch/BatchExecLocalHashAggregate.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/nodes/physical/batch/BatchExecLocalSortAggregate.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/nodes/physical/batch/BatchExecSort.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/nodes/physical/batch/BatchExecSortAggregate.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/nodes/physical/batch/BatchExecSortAggregateBase.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/rules/physical/batch/BatchExecHashAggRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/rules/physical/batch/BatchExecSortAggRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/util/AggregateUtil.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/util/RelExplainUtil.scala
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/plan/util/JavaUserDefinedAggFunctions.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/codegen/agg/batch/BatchAggTestBase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/batch/sql/agg/AggregateITCaseBase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/batch/sql/agg/HashAggITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/batch/sql/agg/SortAggITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/utils/BatchTestBase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/utils/TestData.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/util/CountAggFunction.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/util/SumAggFunction.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/api/TableConfigOptions.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/sort/BinaryExternalSorter.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/sort/SortOperator.java
Labels: component=TableSQL/Planner, review=description?

#8090 [FLINK-12067][network] Refactor the constructor of NetworkEnvironment
  flink-dist/src/test/java/org/apache/flink/dist/TaskManagerHeapSizeCalculationJavaBashTest.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/NetworkEnvironment.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/netty/NettyConfig.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/netty/NettyConnectionManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/SingleInputGate.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/QueryableStateConfiguration.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskManagerRunner.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskManagerServices.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskManagerServicesConfiguration.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskmanager/NetworkEnvironmentConfiguration.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskmanager/NetworkEnvironmentConfigurationBuilder.java
  flink-runtime/src/main/java/org/apache/flink/runtime/util/ConfigurationParserUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/clusterframework/ContaineredTaskManagerParametersTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/NetworkEnvironmentTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/netty/NettyConnectionManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/ResultPartitionTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/consumer/SingleInputGateTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/TaskExecutorLocalStateStoresManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/NetworkBufferCalculationTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/NetworkEnvironmentConfigurationTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskExecutorTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskManagerServicesConfigurationTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskSubmissionTestEnvironment.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/benchmark/StreamNetworkBenchmarkEnvironment.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YARNSessionCapacitySchedulerITCase.java
Labels: component=Runtime/Network, review=description?

#8153 Update metrics.md
  docs/monitoring/metrics.md
Labels: review=description?

#8148 [FLINK-12161] [table-planner-blink] Supports partial-final optimization for stream group aggregate
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/api/PlannerConfigOptions.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/expressions/ExpressionBuilder.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/functions/aggfunctions/ConcatAggFunction.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/functions/aggfunctions/ConcatWithRetractAggFunction.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/functions/aggfunctions/ConcatWsWithRetractAggFunction.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/functions/aggfunctions/FirstValueAggFunction.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/functions/aggfunctions/FirstValueWithRetractAggFunction.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/functions/aggfunctions/IncrSumAggFunction.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/functions/aggfunctions/IncrSumWithRetractAggFunction.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/functions/aggfunctions/LastValueAggFunction.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/functions/aggfunctions/LastValueWithRetractAggFunction.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/functions/sql/AggSqlFunctions.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/functions/sql/FlinkSqlOperatorTable.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/functions/sql/SqlConcatAggFunction.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/functions/sql/SqlFirstLastValueAggFunction.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/functions/sql/SqlIncrSumAggFunction.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/functions/sql/SqlMax2ndAggFunction.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/plan/PartialFinalType.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/calcite/FlinkLogicalRelFactories.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/calcite/FlinkRelBuilder.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/calcite/FlinkRelFactories.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/dataview/DataViewUtils.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/nodes/logical/FlinkLogicalAggregate.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/nodes/logical/FlinkLogicalDataStreamTableScan.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/nodes/physical/stream/StreamExecGroupAggregate.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/rules/FlinkStreamRuleSets.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/rules/logical/SplitAggregateRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/rules/physical/stream/IncrementalAggregateRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/rules/physical/stream/StreamExecExpandRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/rules/physical/stream/StreamExecGroupAggregateRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/util/AggFunctionFactory.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/util/AggregateUtil.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/util/ExpandUtil.scala
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/functions/aggfunctions/AggFunctionTestBase.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/functions/aggfunctions/ConcatWithRetractAggFunctionTest.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/functions/aggfunctions/ConcatWsWithRetractAggFunctionTest.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/functions/aggfunctions/FirstLastValueAggFunctionWithOrderTestBase.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/functions/aggfunctions/FirstValueAggFunctionWithOrderTest.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/functions/aggfunctions/FirstValueAggFunctionWithoutOrderTest.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/functions/aggfunctions/FirstValueWithRetractAggFunctionWithOrderTest.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/functions/aggfunctions/FirstValueWithRetractAggFunctionWithoutOrderTest.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/functions/aggfunctions/LastValueAggFunctionWithOrderTest.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/functions/aggfunctions/LastValueAggFunctionWithoutOrderTest.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/functions/aggfunctions/LastValueWithRetractAggFunctionWithOrderTest.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/functions/aggfunctions/LastValueWithRetractAggFunctionWithoutOrderTest.java
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/plan/rules/logical/SplitAggregateRuleTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/plan/stream/sql/RankTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/plan/stream/sql/agg/AggregateTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/plan/stream/sql/agg/DistinctAggregateTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/plan/stream/sql/agg/IncrementalAggregateTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/plan/stream/sql/agg/TwoStageAggregateTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/plan/rules/logical/SplitAggregateRuleTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/plan/stream/sql/RankTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/plan/stream/sql/agg/AggregateTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/plan/stream/sql/agg/DistinctAggregateTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/plan/stream/sql/agg/IncrementalAggregateTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/plan/stream/sql/agg/TwoStageAggregateTest.scala
Labels: component=TableSQL/Planner, review=description?

#8156 [FLINK-12168][table-planner-blink] Support e2e limit, sortLimit, rank, union in blink batch
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/codegen/agg/batch/HashAggCodeGenHelper.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/codegen/sort/ComparatorCodeGenerator.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/codegen/sort/SortCodeGenerator.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/nodes/physical/batch/BatchExecLimit.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/nodes/physical/batch/BatchExecRank.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/nodes/physical/batch/BatchExecSort.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/nodes/physical/batch/BatchExecSortLimit.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/nodes/physical/batch/BatchExecSortMergeJoin.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/nodes/physical/batch/BatchExecUnion.scala
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/codegen/SortCodeGeneratorTest.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/util/BaseRowTestUtil.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/batch/sql/CalcITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/batch/sql/CorrelateITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/batch/sql/CorrelateITCase2.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/batch/sql/DecimalITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/batch/sql/LimitITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/batch/sql/RankITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/batch/sql/SortLimitITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/batch/sql/UnionITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/batch/sql/agg/AggregateITCaseBase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/batch/sql/join/JoinITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/batch/sql/join/OuterJoinITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/utils/BatchTestBase.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/sort/LimitOperator.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/sort/RankOperator.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/sort/SortLimitOperator.java
Labels: component=TableSQL/Planner, review=description?

#8136 [FLINK-12154][network] Remove legacy fields for SingleInputGate
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/SingleInputGate.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskmanager/Task.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/NetworkEnvironmentTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/netty/CreditBasedPartitionRequestClientHandlerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/netty/PartitionRequestClientHandlerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/netty/PartitionRequestClientTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/InputChannelTestUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/InputGateConcurrentTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/InputGateFairnessTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/consumer/LocalInputChannelTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/consumer/RemoteInputChannelTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/consumer/SingleInputGateTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/consumer/TestSingleInputGate.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/consumer/UnionInputGateTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/benchmark/StreamNetworkBenchmarkEnvironment.java
Labels: component=Runtime/Network, review=description?

#8160 [FLINK-12177][coordination] Remove legacy FlinkUntypedActor
  flink-runtime/src/main/java/org/apache/flink/runtime/akka/FlinkUntypedActor.java
  flink-runtime/src/test/java/org/apache/flink/runtime/akka/FlinkUntypedActorTest.java
Labels: component=Runtime/Coordination, review=description?

#8170 [hotfix] [typo] fix typo in debugging_event_time
  docs/monitoring/debugging_event_time.md
Labels: review=description?

#8165 [FLINK-12185] [table-planner-blink] Add support for generating optimized logical plan for join on stream
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/api/TableEnvironment.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/codegen/CodeGeneratorContext.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/codegen/ExpressionReducer.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/nodes/physical/stream/StreamExecJoinBase.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/nodes/physical/stream/StreamExecWindowJoin.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/rules/FlinkStreamRuleSets.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/rules/physical/stream/StreamExecJoinRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/rules/physical/stream/StreamExecWindowJoinRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/util/RankUtil.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/util/WindowJoinUtil.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/plan/batch/sql/CalcTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/plan/batch/sql/HashAggregateTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/plan/batch/sql/RankTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/plan/batch/sql/SortAggregateTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/plan/batch/sql/UnionTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/plan/batch/sql/ValuesTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/plan/batch/sql/join/BroadcastHashJoinTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/plan/batch/sql/join/NestedLoopJoinTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/plan/batch/sql/join/ShuffledHashJoinTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/plan/batch/sql/join/SortMergeJoinTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/plan/rules/logical/FlinkLogicalRankRuleForConstantRangeTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/plan/rules/logical/FlinkLogicalRankRuleForRangeEndTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/plan/stream/sql/CalcTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/plan/stream/sql/RankTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/plan/stream/sql/TwoStageAggregateTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/plan/stream/sql/UnionTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/plan/stream/sql/ValuesTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/plan/stream/sql/agg/TwoStageAggregateTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/plan/stream/sql/join/JoinTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/plan/stream/sql/join/WindowJoinTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/plan/stream/sql/join/JoinTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/plan/stream/sql/join/WindowJoinTest.scala
Labels: component=TableSQL/Planner, review=description?

#8162 [FLINK-12174][table] Introduce FlinkAggregateExtractProjectRule and remove extractFieldReferences
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/OperationExpressionsUtils.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/plan/rules/logical/ExtendedAggregateExtractProjectRule.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/api/tableImpl.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/plan/rules/FlinkRuleSets.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/batch/sql/AggregateTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/batch/sql/DistinctAggregateTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/batch/sql/GroupingSetsTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/batch/sql/SingleRowJoinTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/batch/table/CalcTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/batch/table/GroupWindowTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/stream/sql/GroupWindowTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/stream/table/AggregateTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/stream/table/CalcTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/stream/table/GroupWindowTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/plan/TimeIndicatorConversionTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/runtime/stream/table/CalcITCase.scala
Labels: component=TableSQL/API, review=description?

#8192 [FLINK-12217][table] OperationTreeBuilder.map() should perform ExpressionResolver.resolve()
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/operations/OperationTreeBuilder.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/stream/table/stringexpr/CalcStringExpressionTest.scala
Labels: component=TableSQL/API, review=approved ✅

#8141 [FLINK-12117][cassandra] Disable tests on Java 9
  flink-connectors/flink-connector-cassandra/pom.xml
  tools/travis/stage.sh
Labels: component=Connectors/Cassandra, component=Tests, review=description?

#8151 [FLINK-12102][tests] Fix FlinkILoopTest on Java 9
  flink-scala-shell/src/test/java/org/apache/flink/api/java/FlinkILoopTest.java
Labels: component=ScalaShell, review=description?

#8002 [FLINK-11923][metrics] MetricRegistryConfiguration provides MetricReporters Suppliers
  flink-metrics/flink-metrics-dropwizard/src/test/java/org/apache/flink/dropwizard/ScheduledDropwizardReporterTest.java
  flink-metrics/flink-metrics-dropwizard/src/test/java/org/apache/flink/dropwizard/metrics/DropwizardFlinkHistogramWrapperTest.java
  flink-metrics/flink-metrics-influxdb/src/test/java/org/apache/flink/metrics/influxdb/InfluxdbReporterTest.java
  flink-metrics/flink-metrics-jmx/src/test/java/org/apache/flink/metrics/jmx/JMXReporterTest.java
  flink-metrics/flink-metrics-prometheus/src/test/java/org/apache/flink/metrics/prometheus/PrometheusReporterTaskScopeTest.java
  flink-metrics/flink-metrics-prometheus/src/test/java/org/apache/flink/metrics/prometheus/PrometheusReporterTest.java
  flink-metrics/flink-metrics-slf4j/src/test/java/org/apache/flink/metrics/slf4j/Slf4jReporterTest.java
  flink-metrics/flink-metrics-statsd/src/test/java/org/apache/flink/metrics/statsd/StatsDReporterTest.java
  flink-runtime/src/main/java/org/apache/flink/runtime/entrypoint/ClusterEntrypoint.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/MetricRegistryConfiguration.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/MetricRegistryImpl.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/ReporterSetup.java
  flink-runtime/src/main/java/org/apache/flink/runtime/minicluster/MiniCluster.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskManagerRunner.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/MetricRegistryConfigurationTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/MetricRegistryImplTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/ReporterSetupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/AbstractMetricGroupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/MetricGroupRegistrationTest.java
Labels: component=Runtime/Metrics, review=description?

#8169 [hotfix][utils] Remove overwork LeaderRetrievalUtils.getRecoverMode
  flink-runtime/src/main/java/org/apache/flink/runtime/highavailability/HighAvailabilityServicesUtils.java
  flink-runtime/src/main/java/org/apache/flink/runtime/util/LeaderRetrievalUtils.java
Labels: review=description?

#7813 [FLINK-10712] Support to restore state when using RestartPipelinedRegionStrategy
  flink-connectors/flink-connector-filesystem/src/test/java/org/apache/flink/streaming/connectors/fs/RollingSinkFaultToleranceITCase.java
  flink-connectors/flink-connector-filesystem/src/test/java/org/apache/flink/streaming/connectors/fs/bucketing/BucketingSinkFaultToleranceITCase.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/Execution.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/failover/FailoverRegion.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/failover/RestartPipelinedRegionStrategy.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/ConcurrentFailoverStrategyExecutionGraphTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/FailoverRegionTest.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/ContinuousFileProcessingCheckpointITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/RegionFailoverITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/StreamFaultToleranceTestBase.java
Labels: component=Runtime/Coordination, review=description?

#8157 [FLINK-12170] [table-planner-blink] Add support for generating optimized logical plan for Over aggregate
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/api/PlannerConfigOptions.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/expressions/ExpressionBuilder.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/functions/aggfunctions/DenseRankAggFunction.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/functions/aggfunctions/LeadLagAggFunction.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/functions/aggfunctions/RankAggFunction.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/functions/aggfunctions/RankLikeAggFunctionBase.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/functions/aggfunctions/RowNumberAggFunction.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/nodes/physical/batch/BatchExecOverAggregate.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/rules/FlinkBatchRuleSets.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/rules/FlinkStreamRuleSets.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/rules/physical/batch/BatchExecOverWindowAggRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/rules/physical/batch/BatchExecSortMergeJoinRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/rules/physical/stream/StreamExecOverAggregateRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/util/AggFunctionFactory.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/util/OverAggregateUtil.scala
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/runtime/utils/JavaUserDefinedScalarFunctions.java
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/plan/batch/sql/agg/HashAggregateTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/plan/batch/sql/agg/OverWindowAggregateTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/plan/batch/sql/agg/SortAggregateTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/plan/stream/sql/agg/OverWindowAggregateTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/plan/batch/sql/agg/AggregateTestBase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/plan/batch/sql/agg/HashAggregateTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/plan/batch/sql/agg/OverWindowAggregateTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/plan/batch/sql/agg/SortAggregateTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/plan/stream/sql/agg/OverWindowAggregateTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/util/TableTestBase.scala
Labels: component=TableSQL/Planner, review=description?

#8123 FLINK-12119 [build-system] add owasp-dependency-check plugin
  pom.xml
Labels: component=BuildSystem, review=description?

#8185 [FLINK-12212] [docs] clarify that operator state is checkpointed asynchronously
  docs/ops/state/large_state_tuning.md
Labels: component=Documentation, review=description?

#8184 [FLINK-12211][table-planner-blink] Add more it cases to blink batch
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/codegen/calls/DivCallGen.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/sinks/CollectTableSink.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/expressions/ScalarFunctionsTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/expressions/SqlExpressionTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/batch/sql/CalcITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/batch/sql/MiscITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/batch/sql/join/InnerJoinITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/batch/sql/join/JoinConditionTypeCoerceRuleITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/batch/sql/join/JoinITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/batch/sql/join/JoinITCaseHelper.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/batch/sql/join/OuterJoinITCase.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/functions/SqlFunctionUtils.java
Labels: component=TableSQL/Planner, review=description?

#8204 [hotfix][docs] fix typo in best_practices doc
  docs/dev/best_practices.md
Labels: review=description?

#8036 [FLINK-11431][runtime] Upgrade akka to 2.5
  NOTICE-binary
  flink-dist/src/main/resources/META-INF/NOTICE
  flink-mesos/src/main/java/org/apache/flink/mesos/runtime/clusterframework/services/AbstractMesosServices.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rpc/akka/AkkaRpcActor.java
  flink-runtime/src/main/resources/META-INF/NOTICE
  flink-runtime/src/test/java/org/apache/flink/runtime/rpc/akka/AkkaRpcServiceTest.java
  flink-tests/src/test/java/org/apache/flink/test/runtime/IPv6HostnamesITCase.java
  pom.xml
Labels: component=BuildSystem, component=Runtime/Coordination, review=description?

#8133 [FLINK-12146][network] Remove unregister task from NetworkEnvironment to simplify the interface of ShuffleService
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/NetworkEnvironment.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/ResultPartition.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskmanager/Task.java
Labels: component=Runtime/Network, review=description?

#8206 [FLINK-12248][table-planner-blink] Support e2e over window in blink batch
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/expressions/ExpressionBuilder.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/expressions/RexNodeConverter.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/functions/aggfunctions/DenseRankAggFunction.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/functions/aggfunctions/RankAggFunction.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/functions/aggfunctions/RankLikeAggFunctionBase.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/codegen/agg/ImperativeAggCodeGen.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/codegen/over/MultiFieldRangeBoundComparatorCodeGenerator.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/codegen/over/RangeBoundComparatorCodeGenerator.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/dataview/DataViewUtils.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/nodes/physical/batch/BatchExecOverAggregate.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/util/AggregateUtil.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/util/OverAggregateUtil.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/plan/batch/sql/agg/HashAggregateTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/plan/batch/sql/agg/SortAggregateTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/batch/sql/OverWindowITCase.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/over/BufferDataOverWindowOperator.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/over/frame/OffsetOverFrame.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/over/frame/RowSlidingOverFrame.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/over/frame/RowUnboundedFollowingOverFrame.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/over/frame/RowUnboundedPrecedingOverFrame.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/over/BufferDataOverWindowOperatorTest.java
Labels: component=TableSQL/Planner, review=description?

#8221 [FLINK-12261][table-planner-blink] Support e2e group window in blink batch
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/expressions/BuiltInFunctionDefinitions.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/calcite/sql2rel/AuxiliaryConverter.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/expressions/ExpressionBuilder.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/expressions/RexNodeConverter.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/functions/sql/FlinkSqlOperatorTable.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/calcite/FlinkTypeFactory.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/codegen/CodeGeneratorContext.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/codegen/agg/AggsHandlerCodeGenerator.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/codegen/agg/batch/AggCodeGenHelper.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/codegen/agg/batch/AggWithoutKeysCodeGenerator.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/codegen/agg/batch/HashAggCodeGenHelper.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/codegen/agg/batch/HashAggCodeGenerator.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/codegen/agg/batch/HashWindowCodeGenerator.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/codegen/agg/batch/SortAggCodeGenerator.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/codegen/agg/batch/SortWindowCodeGenerator.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/codegen/agg/batch/WindowCodeGenerator.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/expressions/windowProperties.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/logical/groupWindows.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/nodes/calcite/LogicalWindowAggregate.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/nodes/logical/FlinkLogicalWindowAggregate.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/nodes/physical/batch/BatchExecHashWindowAggregate.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/nodes/physical/batch/BatchExecHashWindowAggregateBase.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/nodes/physical/batch/BatchExecLocalHashWindowAggregate.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/nodes/physical/batch/BatchExecLocalSortWindowAggregate.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/nodes/physical/batch/BatchExecSortWindowAggregate.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/nodes/physical/batch/BatchExecSortWindowAggregateBase.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/nodes/physical/batch/BatchExecWindowAggregateBase.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/rules/FlinkBatchRuleSets.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/rules/FlinkStreamRuleSets.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/rules/common/LogicalWindowAggregateRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/rules/common/WindowPropertiesRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/rules/physical/batch/BatchExecLogicalWindowAggregateRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/rules/physical/batch/BatchExecWindowAggregateRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/util/AggregateUtil.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/util/RelExplainUtil.scala
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/runtime/utils/BatchAbstractTestBase.java
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/plan/batch/sql/GroupWindowTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/plan/stream/sql/join/WindowJoinTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/plan/batch/sql/GroupWindowTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/plan/stream/sql/join/WindowJoinTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/batch/sql/agg/DistinctAggregateITCaseBase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/batch/sql/agg/GroupWindowITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/batch/sql/agg/HashAggITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/batch/sql/agg/HashDistinctAggregateITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/utils/BatchTestBase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/util/AvgAggFunction.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/api/TableConfigOptions.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/aggregate/BytesHashMap.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/sort/BinaryKVInMemorySortBuffer.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/window/grouping/HeapWindowsGrouping.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/window/grouping/WindowsGrouping.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/window/grouping/HeapWindowsGroupingTest.java
Labels: component=TableSQL/Planner, review=description?

#8232 [hotfix] Remove some unused import statements
  flink-runtime/src/main/java/org/apache/flink/runtime/rpc/exceptions/FencingTokenException.java
  flink-scala/src/main/scala/org/apache/flink/api/scala/utils/package.scala
Labels: review=description?

#8188 [FLINK-11534] [container] Allow ExecutionMode configuration
  flink-container/src/main/java/org/apache/flink/container/entrypoint/StandaloneJobClusterEntryPoint.java
  flink-container/src/test/java/org/apache/flink/container/entrypoint/StandaloneJobClusterEntryPointTest.java
Labels: component=Runtime/Coordination, review=description?

#8196 [FLINK-12065][e2e] Ignore reflection access warnings
  flink-end-to-end-tests/test-scripts/common.sh
Labels: component=Tests, review=description?

#8216 [hotfix][tests] Replace deprecated option key with its successor
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YARNSessionCapacitySchedulerITCase.java
Labels: review=description?

#8055 [FLINK-12024] Bump universal Kafka connector to Kafka dependency to 2.2.0
  docs/dev/connectors/kafka.md
  flink-connectors/flink-connector-kafka/pom.xml
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/streaming/connectors/kafka/internal/FlinkKafkaInternalProducer.java
  flink-connectors/flink-sql-connector-kafka/src/main/resources/META-INF/NOTICE
  flink-end-to-end-tests/flink-sql-client-test/pom.xml
  flink-end-to-end-tests/test-scripts/kafka_sql_common.sh
  flink-end-to-end-tests/test-scripts/test_sql_client.sh
  flink-end-to-end-tests/test-scripts/test_sql_client_kafka.sh
  flink-end-to-end-tests/test-scripts/test_sql_client_kafka010.sh
  flink-end-to-end-tests/test-scripts/test_sql_client_kafka011.sh
  flink-end-to-end-tests/test-scripts/test_sql_client_kafka_common.sh
  flink-end-to-end-tests/test-scripts/test_streaming_kafka.sh
  flink-jepsen/src/jepsen/flink/flink.clj
Labels: component=Connectors/Kafka, review=description?

#8179 [FLINK-12200] [Table-planner] Support UNNEST for MAP types
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/plan/rules/logical/LogicalUnnestRule.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/plan/util/ExplodeFunctionUtil.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/runtime/batch/sql/JoinITCase.scala
Labels: component=TableSQL/Planner, review=description?

#8275 [FLINK-11519][table] Add function related catalog APIs
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/catalog/GenericCatalogFunction.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/catalog/GenericInMemoryCatalog.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/catalog/CatalogTestUtil.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/catalog/GenericInMemoryCatalogTest.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/catalog/CatalogFunction.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/catalog/ReadableCatalog.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/catalog/ReadableWritableCatalog.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/catalog/exceptions/FunctionAlreadyExistException.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/catalog/exceptions/FunctionNotExistException.java
Labels: component=TableSQL/API, review=description?

#8251 [FLINK-12316][jdbc] Relax assertions
  flink-connectors/flink-jdbc/src/test/java/org/apache/flink/api/java/io/jdbc/JDBCFullTest.java
Labels: component=Connectors/JDBC, component=Tests, review=approved ✅

#8279 [FLINK-12040][bulid system] Remove unused akka dependencies in pom.xml
  flink-clients/pom.xml
  flink-runtime-web/pom.xml
  flink-yarn-tests/pom.xml
  flink-yarn/pom.xml
Labels: component=BuildSystem, review=description?

#8287 [FLINK-12344][coordinator] Remove legacy runtime messages
  flink-clients/src/main/java/org/apache/flink/client/cli/CliFrontend.java
  flink-runtime/src/main/java/org/apache/flink/runtime/clusterframework/messages/CheckAndAllocateContainers.java
  flink-runtime/src/main/java/org/apache/flink/runtime/clusterframework/messages/FatalErrorOccurred.java
  flink-runtime/src/main/java/org/apache/flink/runtime/clusterframework/messages/NewLeaderAvailable.java
  flink-runtime/src/main/java/org/apache/flink/runtime/clusterframework/messages/NotifyResourceStarted.java
  flink-runtime/src/main/java/org/apache/flink/runtime/clusterframework/messages/ReconnectResourceManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/clusterframework/messages/RegisterInfoMessageListenerSuccessful.java
  flink-runtime/src/main/java/org/apache/flink/runtime/clusterframework/messages/RegisterResourceManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/clusterframework/messages/RegisterResourceManagerSuccessful.java
  flink-runtime/src/main/java/org/apache/flink/runtime/clusterframework/messages/RemoveResource.java
  flink-runtime/src/main/java/org/apache/flink/runtime/clusterframework/messages/ResourceRemoved.java
  flink-runtime/src/main/java/org/apache/flink/runtime/clusterframework/messages/SetWorkerPoolSize.java
  flink-runtime/src/main/java/org/apache/flink/runtime/clusterframework/messages/ShutdownClusterAfterJob.java
  flink-runtime/src/main/java/org/apache/flink/runtime/clusterframework/messages/StopCluster.java
  flink-runtime/src/main/java/org/apache/flink/runtime/clusterframework/messages/StopClusterSuccessful.java
  flink-runtime/src/main/java/org/apache/flink/runtime/clusterframework/messages/TriggerRegistrationAtJobManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/clusterframework/messages/package-info.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmanager/PartitionProducerDisposedException.java
  flink-runtime/src/main/java/org/apache/flink/runtime/messages/LeaderSessionMessageDecorator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/messages/MessageDecorator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/messages/RequiresLeaderSessionID.java
  flink-runtime/src/main/java/org/apache/flink/runtime/messages/StackTrace.java
  flink-runtime/src/main/scala/org/apache/flink/runtime/messages/ArchiveMessages.scala
  flink-runtime/src/main/scala/org/apache/flink/runtime/messages/ExecutionGraphMessages.scala
  flink-runtime/src/main/scala/org/apache/flink/runtime/messages/JobManagerMessages.scala
  flink-runtime/src/main/scala/org/apache/flink/runtime/messages/Messages.scala
  flink-runtime/src/main/scala/org/apache/flink/runtime/messages/RegistrationMessages.scala
  flink-runtime/src/main/scala/org/apache/flink/runtime/messages/StackTraceSampleMessages.scala
  flink-runtime/src/main/scala/org/apache/flink/runtime/messages/TaskControlMessages.scala
  flink-runtime/src/main/scala/org/apache/flink/runtime/messages/TaskManagerMessages.scala
  flink-runtime/src/main/scala/org/apache/flink/runtime/messages/accumulators/AccumulatorMessages.scala
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/handler/legacy/backpressure/StackTraceSampleCoordinatorTest.java
Labels: component=Runtime/Coordination, review=description?

#8292 [hotfix][tests] Remove mockito usage in ExecutionGraphTestUtils
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/ExecutionGraphTestUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/ExecutionVertexDeploymentTest.java
Labels: review=description?

#8291 [hotfix][tests] Replace mock ConsumerRecords with ConsumerRecords.empty
  flink-connectors/flink-connector-kafka-0.9/src/test/java/org/apache/flink/streaming/connectors/kafka/internal/HandoverTest.java
Labels: review=description?

#8284 [FLINK-12339][example] Fix variable name
  flink-examples/flink-examples-streaming/src/main/scala/org/apache/flink/streaming/scala/examples/windowing/TopSpeedWindowing.scala
Labels: review=description?

#8219 [FLINK-10441]Don't log warning when creating upload directory
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/FileUploadHandler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/RestServerEndpoint.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/RestServerEndpointTest.java
Labels: component=Runtime/REST, review=quality?

#8293 [FLINK-12347][Table SQL/Runtime]add scala suffix for flink-table-runt…
  flink-table/flink-table-planner-blink/pom.xml
  flink-table/flink-table-runtime-blink/pom.xml
Labels: component=BuildSystem, component=TableSQL/Runtime, review=description?

#8289 [FLINK-12346][travis][build] Account for timestampts in scala-suffix check
  tools/verify_scala_suffixes.sh
Labels: component=BuildSystem, component=Travis, review=description?

#8261 [FLINK-12307][table-planner-blink] Support translation from StreamExecWindowJoin to StreamTransformation.
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/plan/util/JoinTypeUtil.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/metadata/FlinkRelMdModifiedMonotonicity.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/nodes/common/CommonPhysicalJoin.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/nodes/physical/batch/BatchExecSortMergeJoin.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/nodes/physical/stream/StreamExecJoinBase.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/nodes/physical/stream/StreamExecWindowJoin.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/rules/physical/batch/BatchExecHashJoinRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/rules/physical/batch/BatchExecJoinRuleBase.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/rules/physical/batch/BatchExecSingleRowJoinRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/util/RelExplainUtil.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/util/WindowJoinUtil.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/stream/sql/DeduplicateITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/stream/sql/WindowJoinITCase.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/join/EmitAwareCollector.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/join/FlinkJoinType.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/join/KeyedCoProcessOperatorWithWatermarkDelay.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/join/OuterJoinPaddingUtil.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/join/ProcTimeBoundedStreamJoin.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/join/RowTimeBoundedStreamJoin.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/join/SortMergeJoinOperator.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/join/TimeBoundedStreamJoin.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/rank/RetractableTopNFunction.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/deduplicate/DeduplicateKeepFirstRowFunctionTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/deduplicate/DeduplicateKeepLastRowFunctionTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/deduplicate/MiniBatchDeduplicateKeepFirstRowFunctionTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/deduplicate/MiniBatchDeduplicateKeepLastRowFunctionTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/join/Int2SortMergeJoinOperatorTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/join/ProcTimeBoundedStreamJoinTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/join/RandomSortMergeInnerJoinTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/join/RandomSortMergeOuterJoinTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/join/RowTimeBoundedStreamJoinTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/join/String2SortMergeJoinOperatorTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/join/TimeBoundedStreamJoinTestBase.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/rank/AppendOnlyTopNFunctionTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/rank/RetractableTopNFunctionTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/rank/TopNFunctionTestBase.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/rank/UpdatableTopNFunctionTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/sort/ProcTimeSortOperatorTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/sort/RowTimeSortOperatorTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/sort/StreamSortOperatorTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/window/WindowOperatorTest.java
Labels: component=TableSQL/API, review=description?

#7571 [FLINK-10724] Refactor failure handling in check point coordinator
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointException.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointFailureReason.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointTriggerException.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointTriggerResult.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/PendingCheckpoint.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/failover/FailoverRegion.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/JobMaster.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinatorTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/PendingCheckpointTest.java
  flink-tests/src/test/java/org/apache/flink/runtime/jobmaster/JobMasterTriggerSavepointITCase.java
  flink-tests/src/test/java/org/apache/flink/test/streaming/runtime/TimestampITCase.java
Labels: component=Runtime/Checkpointing

#7421 [FLINK-11167][runtime] Optimize RocksDBListState#Put by removing the clear before put operation when input is not empty
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBListState.java
Labels: component=Runtime/StateBackends

#8297 [FLINK-12350] [State Backends] RocksDBStateBackendTest doesn't cover the incremental checkpoint code path
  flink-state-backends/flink-statebackend-rocksdb/src/test/java/org/apache/flink/contrib/streaming/state/RocksDBStateBackendTest.java
Labels: component=Runtime/StateBackends, review=description?

#8277 [hotfix][runtime,tests] Add test coverage for BlockingCallMonitoringThreadPool
  flink-runtime/src/main/java/org/apache/flink/runtime/taskmanager/BlockingCallMonitoringThreadPool.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskmanager/BlockingCallMonitoringThreadPoolTest.java
Labels: review=approved ✅

#8286 [FLINK-12306][Runtime] Change the name of log into LOG
  flink-runtime/src/main/java/org/apache/flink/runtime/rpc/MainThreadValidatorUtil.java
Labels: component=<none>, review=approved ✅

#8205 [FLINK-12238] [hive] Support database related operations in GenericHiveMetastoreCatalog and setup flink-connector-hive module
  flink-connectors/flink-connector-hive/pom.xml
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/GenericHiveMetastoreCatalog.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/GenericHiveMetastoreCatalogUtil.java
  flink-connectors/flink-connector-hive/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-connector-hive/src/main/resources/META-INF/licenses/LICENSE.antlr
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/GenericHiveMetastoreCatalogTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveTestUtils.java
  flink-connectors/flink-connector-hive/src/test/resources/hive-site.xml
  flink-connectors/flink-connector-hive/src/test/resources/log4j-test.properties
  flink-connectors/pom.xml
  flink-table/flink-table-api-java/pom.xml
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/catalog/GenericCatalogDatabase.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/catalog/GenericInMemoryCatalogTest.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/catalog/CatalogTestBase.java
Labels: component=TableSQL/API, review=description?

#8167 [FLINK-12187][Examples] Bug fixes, Use BufferedWriter in a loop instead of FileWriter
  flink-examples/flink-examples-batch/src/main/java/org/apache/flink/examples/java/relational/util/WebLogDataGenerator.java
Labels: component=Examples, review=description?

#8305 [hotfix] regenerate rest-docs to latest code
  docs/_includes/generated/rest_v1_dispatcher.html
Labels: review=consensus?
