Repository apache/flink, pull requests merged in 2019-09, with the labels that each got.

#9560 [FLINK-13897][oss] Move NOTICE file into META-INF directory
  NOTICE-binary
  flink-filesystems/flink-oss-fs-hadoop/src/main/resources/META-INF/NOTICE
Labels: component=BuildSystem, component=FileSystems, review=description?

#9567 [FLINK-13887] [core] Ensure defaultInputDependencyConstraint to be non-null when setting it in ExecutionConfig
  flink-core/src/main/java/org/apache/flink/api/common/ExecutionConfig.java
Labels: component=Runtime/Coordination, review=description?

#8967 [FLINK-13059][Cassandra Connector] Release Semaphore correctly on Exception in send()
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/streaming/connectors/cassandra/CassandraSinkBase.java
  flink-connectors/flink-connector-cassandra/src/test/java/org/apache/flink/streaming/connectors/cassandra/CassandraSinkBaseTest.java
Labels: component=Connectors/Cassandra, review=description?

#9517 [FLINK-13779][metrics] PrometheusPushGatewayReporter support push metrics with groupingKey
  docs/_includes/generated/prometheus_push_gateway_reporter_configuration.html
  docs/monitoring/metrics.md
  docs/monitoring/metrics.zh.md
  flink-metrics/flink-metrics-prometheus/src/main/java/org/apache/flink/metrics/prometheus/PrometheusPushGatewayReporter.java
  flink-metrics/flink-metrics-prometheus/src/main/java/org/apache/flink/metrics/prometheus/PrometheusPushGatewayReporterOptions.java
  flink-metrics/flink-metrics-prometheus/src/test/java/org/apache/flink/metrics/prometheus/PrometheusPushGatewayReporterTest.java
Labels: component=Runtime/Metrics, review=description?

#9595 [FLINK-13586] Make ClosureCleaner.clean() backwards compatible with 1.8.0
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/streaming/connectors/cassandra/CassandraCommitter.java
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/streaming/connectors/cassandra/CassandraRowWriteAheadSink.java
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/streaming/connectors/cassandra/CassandraSinkBase.java
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/streaming/connectors/cassandra/CassandraTupleWriteAheadSink.java
  flink-connectors/flink-connector-kafka-0.11/src/main/java/org/apache/flink/streaming/connectors/kafka/FlinkKafkaProducer011.java
  flink-connectors/flink-connector-kafka-base/src/main/java/org/apache/flink/streaming/connectors/kafka/FlinkKafkaConsumerBase.java
  flink-connectors/flink-connector-kafka-base/src/main/java/org/apache/flink/streaming/connectors/kafka/FlinkKafkaProducerBase.java
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/streaming/connectors/kafka/FlinkKafkaProducer.java
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/FlinkKinesisConsumer.java
  flink-java/src/main/java/org/apache/flink/api/java/ClosureCleaner.java
  flink-java/src/test/java/org/apache/flink/api/java/functions/ClosureCleanerTest.java
  flink-libraries/flink-cep/src/main/java/org/apache/flink/cep/pattern/Pattern.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/rpc/RpcGlobalAggregateManager.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/JobMasterTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/OneInputStreamTaskTestHarness.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/util/KeyedOneInputStreamOperatorTestHarness.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/util/KeyedTwoInputStreamOperatorTestHarness.java
Labels: component=API/DataStream, review=description?

#9558 [FLINK-13892][hs] Harden HistoryServerTest
  flink-runtime-web/src/main/java/org/apache/flink/runtime/webmonitor/history/HistoryServer.java
  flink-runtime-web/src/main/java/org/apache/flink/runtime/webmonitor/history/HistoryServerArchiveFetcher.java
  flink-runtime-web/src/test/java/org/apache/flink/runtime/webmonitor/history/HistoryServerTest.java
Labels: component=Runtime/Coordination, component=Runtime/REST, review=description?

#9610 [FLINK-13936][licensing] Update NOTICE-binary
  NOTICE-binary
  licenses-binary/LICENSE.dagre
Labels: component=BuildSystem, review=description?

#9611 [FLINK-13936][licensing] Update NOTICE-binary
  NOTICE-binary
  licenses-binary/LICENSE.dagre
Labels: component=BuildSystem, review=description?

#9623 [FLINK-13966][licensing] Pin locale for deterministic sort order
  tools/releasing/collect_license_files.sh
Labels: component=BuildSystem, review=description?

#9621 [FLINK-13591][web]: fix job list display when job name is too long
  flink-runtime-web/web-dashboard/src/app/share/customize/job-list/job-list.component.html
Labels: component=Runtime/WebFrontend, review=description?

#9624 [FLINK-13967][licensing] Fully generate binary licensing
  tools/releasing/LICENSE.slf4j
  tools/releasing/NOTICE-binary_PREAMBLE.txt
  tools/releasing/collect_license_files.sh
Labels: component=BuildSystem, review=description?

#9628 [FLINK-13892][hs] Harden HistoryServerTest
  flink-runtime-web/src/main/java/org/apache/flink/runtime/webmonitor/history/HistoryServerArchiveFetcher.java
Labels: component=Runtime/Coordination, component=Runtime/REST, review=description?

#9625 [FLINK-13968][travis] Check correctness of binary licensing
  tools/travis_controller.sh
Labels: component=Travis, review=description?

#9209 [FLINK-13388][web][docs] Updated screenshots to ones taken from the new UI
  docs/fig/back_pressure_sampling_high.png
  docs/fig/back_pressure_sampling_in_progress.png
  docs/fig/back_pressure_sampling_ok.png
  docs/fig/checkpoint_monitoring-details.png
  docs/fig/checkpoint_monitoring-details_subtasks.png
  docs/fig/checkpoint_monitoring-details_summary.png
  docs/fig/checkpoint_monitoring-history.png
  docs/fig/checkpoint_monitoring-summary.png
  docs/page/img/quickstart-example/jobmanager-job.png
  docs/page/img/quickstart-example/jobmanager-overview.png
  docs/page/img/quickstart-setup/jobmanager-1.png
  docs/page/img/quickstart-setup/jobmanager-2.png
  docs/page/img/quickstart-setup/jobmanager-3.png
Labels: component=Documentation, component=Runtime/WebFrontend, review=description?

#9639 [FLINK-13989][coordination] Remove legacy ClassloadingProps
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/message/ClassloadingProps.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/utils/TestingJobMasterGateway.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/utils/TestingJobMasterGatewayBuilder.java
Labels: component=Runtime/Coordination, review=description?

#9640 [FLINK-13988][coordination] Remove legacy JobManagerMode & JobManagerCliOptions
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmanager/JobManagerCliOptions.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmanager/JobManagerMode.java
Labels: component=Runtime/Coordination, review=description?

#9641 [FLINK-13990][coordiantion] Remove JobModificationException
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/exceptions/JobMasterException.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/exceptions/JobModificationException.java
Labels: component=Runtime/Coordination, review=description?

#9632 [FLINK-13978] Add azure-pipelines.yml
  azure-pipelines.yml
Labels: component=BuildSystem, review=description?

#9635 [hotfix][runtime] Rename StreamTask's performDefaultAction method to processInput
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/output/BoundedStreamTask.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/SourceStreamTask.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamIterationHead.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskSelectiveReadingTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTerminationTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/SynchronousCheckpointITCase.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/SynchronousCheckpointTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/TaskCheckpointingBehaviourTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/util/MockStreamTask.java
  flink-tests/src/test/java/org/apache/flink/runtime/jobmaster/JobMasterStopWithSavepointIT.java
Labels: review=description?

#9649 [FLINK-13994][docs-zh]Translate 'Getting Started' page to chinese
  docs/getting-started/index.zh.md
Labels: component=Documentation, component=chinese-translation, review=description?

#9634 [hotfix][runtime] Streaming runtime 1.9 improvements for debuggability
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/output/BoundedStreamTask.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/SourceStreamTask.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamIterationHead.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskSelectiveReadingTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTerminationTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/SynchronousCheckpointITCase.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/SynchronousCheckpointTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/TaskCheckpointingBehaviourTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/util/MockStreamTask.java
  flink-tests/src/test/java/org/apache/flink/runtime/jobmaster/JobMasterStopWithSavepointIT.java
Labels: review=description?

#9665 [BP-1.9][FLINK-14043] Speed up SavepointMigrationTestBase sub classes
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/utils/SavepointMigrationTestBase.java
Labels: component=Runtime/StateBackends, component=Tests, review=description?

#7942 [FLINK-11696][checkpoint] Avoid to send mkdir requests to DFS from task side
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/CheckpointStorageCoordinatorView.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/filesystem/FsCheckpointStorage.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/memory/MemoryBackendCheckpointStorage.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/StateBackendMigrationTestBase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/filesystem/AbstractFileCheckpointStorageTestBase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/filesystem/FsCheckpointStorageTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/filesystem/FsStateBackendEntropyTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/memory/MemoryCheckpointStorageTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/testutils/BackendForTestStream.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/ttl/mock/MockStateBackend.java
Labels: component=Runtime/Checkpointing, review=description?

#9702 [FLINK-14107][kinesis] Erroneous queue selection in record emitter may lead to deadlock
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/util/RecordEmitter.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/util/RecordEmitterTest.java
Labels: component=Connectors/Kinesis, review=description?

#9709 [FLINK-14107][kinesis] Erroneous queue selection in record emitter may lead to deadlock
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/util/RecordEmitter.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/util/RecordEmitterTest.java
Labels: component=Connectors/Kinesis, review=description?

#9708 [FLINK-14107][kinesis] Erroneous queue selection in record emitter may lead to deadlock
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/util/RecordEmitter.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/util/RecordEmitterTest.java
Labels: component=Connectors/Kinesis, review=description?

#9701 [FLINK-14096][client] Merge NewClusterClient into ClusterClient
  flink-clients/src/main/java/org/apache/flink/client/program/ClusterClient.java
  flink-clients/src/main/java/org/apache/flink/client/program/MiniClusterClient.java
  flink-clients/src/main/java/org/apache/flink/client/program/NewClusterClient.java
  flink-clients/src/main/java/org/apache/flink/client/program/rest/RestClusterClient.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/ProgramDeployer.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YARNITCase.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/util/FakeClusterClient.java
Labels: component=Client/JobSubmission, review=description?

#9726 [FLINK-14113][client] Remove class JobWithJars
  flink-clients/src/main/java/org/apache/flink/client/ClientUtils.java
  flink-clients/src/main/java/org/apache/flink/client/RemoteExecutor.java
  flink-clients/src/main/java/org/apache/flink/client/program/ClusterClient.java
  flink-clients/src/main/java/org/apache/flink/client/program/ContextEnvironment.java
  flink-clients/src/main/java/org/apache/flink/client/program/PackagedProgram.java
  flink-clients/src/test/java/org/apache/flink/client/program/ClientTest.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/AvroExternalJarProgramITCase.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/environment/RemoteStreamEnvironment.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/LocalExecutor.java
Labels: component=Client/JobSubmission, review=description?

#9777 [FLINK-13143] Remove CheckpointExceptionHandler relevant classes
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/CheckpointExceptionHandler.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/CheckpointExceptionHandlerFactory.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/CheckpointExceptionHandlerTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTest.java
Labels: component=Runtime/Checkpointing, review=description?

#7713 [FLINK-10995][runtime] Copy intermediate serialization results only once for broadcast mode
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/api/writer/BroadcastRecordWriter.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/api/writer/ChannelSelectorRecordWriter.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/api/writer/RecordWriter.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/api/writer/RecordWriterBuilder.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/buffer/BufferBuilder.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/buffer/BufferConsumer.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/api/writer/BroadcastRecordWriterTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/api/writer/RecordWriterTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/buffer/BufferBuilderAndConsumerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/buffer/BufferBuilderTestUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/BoundedBlockingSubpartitionAvailabilityTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/FileChannelBoundedDataTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/InputGateFairnessTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/PartitionTestUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/PipelinedSubpartitionTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/PipelinedSubpartitionWithReadViewTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/ResultPartitionTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/SubpartitionTestBase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/consumer/IteratorWrappingTestSingleInputGate.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/consumer/LocalInputChannelTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/consumer/SingleInputGateTest.java
  flink-streaming-java/src/test/java/org/apache/flink/runtime/io/network/partition/consumer/StreamTestSingleInputGate.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/StreamTaskNetworkInputTest.java
Labels: component=Runtime/Network, review=description?

#9684 [FLINK-13992][coordination] Refactor Optional parameter in InputGateWithMetrics#updateMetrics
  flink-runtime/src/main/java/org/apache/flink/runtime/taskmanager/InputGateWithMetrics.java
Labels: component=Runtime/Coordination, review=description?

#9752 [FLINK-14179]Correct description of 'SHOW FUNCTIONS'
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliStrings.java
Labels: component=TableSQL/Client, review=description?

#9795 [hotfix] [variable name] Typo in Table Planner RuleSets: JOIN_REORDER_PERPARE_RULES
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/optimize/program/FlinkBatchProgram.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/optimize/program/FlinkStreamProgram.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/FlinkBatchRuleSets.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/FlinkStreamRuleSets.scala
Labels: review=description?
