Repository apache/flink, pull requests merged in 2019-11, with the labels that each got.

#9972 [FLINK-14496][client] Exclude detach flag from ClusterClient
  flink-clients/src/main/java/org/apache/flink/client/ClientUtils.java
  flink-clients/src/main/java/org/apache/flink/client/RemoteExecutor.java
  flink-clients/src/main/java/org/apache/flink/client/cli/CliFrontend.java
  flink-clients/src/main/java/org/apache/flink/client/program/ClusterClient.java
  flink-clients/src/main/java/org/apache/flink/client/program/ContextEnvironment.java
  flink-clients/src/main/java/org/apache/flink/client/program/MiniClusterClient.java
  flink-clients/src/main/java/org/apache/flink/client/program/rest/RestClusterClient.java
  flink-clients/src/test/java/org/apache/flink/client/cli/CliFrontendRunTest.java
  flink-clients/src/test/java/org/apache/flink/client/program/ClientTest.java
  flink-clients/src/test/java/org/apache/flink/client/program/rest/RestClusterClientTest.java
  flink-connectors/flink-connector-kafka-base/src/test/java/org/apache/flink/streaming/connectors/kafka/KafkaConsumerTestBase.java
  flink-libraries/flink-state-processing-api/src/test/java/org/apache/flink/state/api/SavepointReaderITTestBase.java
  flink-libraries/flink-state-processing-api/src/test/java/org/apache/flink/state/api/SavepointReaderKeyedStateITCase.java
  flink-libraries/flink-state-processing-api/src/test/java/org/apache/flink/state/api/SavepointWriterITCase.java
  flink-metrics/flink-metrics-jmx/src/test/java/org/apache/flink/runtime/jobmanager/JMXJobManagerMetricTest.java
  flink-queryable-state/flink-queryable-state-runtime/src/test/java/org/apache/flink/queryablestate/itcases/AbstractQueryableStateTestBase.java
  flink-runtime-web/src/test/java/org/apache/flink/runtime/webmonitor/WebFrontendITCase.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/environment/StreamContextEnvironment.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/environment/RemoteStreamExecutionEnvironmentTest.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/ProgramDeployer.java
  flink-tests/src/test/java/org/apache/flink/runtime/jobmaster/JobMasterStopWithSavepointIT.java
  flink-tests/src/test/java/org/apache/flink/runtime/jobmaster/JobMasterTriggerSavepointITCase.java
  flink-tests/src/test/java/org/apache/flink/test/accumulators/AccumulatorLiveITCase.java
  flink-tests/src/test/java/org/apache/flink/test/cancelling/CancelingTestBase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/RegionFailoverITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/RescalingITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/ResumeCheckpointManuallyITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/SavepointITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/StreamFaultToleranceTestBase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/ZooKeeperHighAvailabilityITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/utils/SavepointMigrationTestBase.java
  flink-tests/src/test/java/org/apache/flink/test/example/client/JobRetrievalITCase.java
  flink-tests/src/test/java/org/apache/flink/test/example/failing/JobSubmissionFailsITCase.java
  flink-tests/src/test/java/org/apache/flink/test/runtime/NetworkStackThroughputITCase.java
  flink-tests/src/test/java/org/apache/flink/test/state/operator/restore/AbstractOperatorRestoreTestBase.java
  flink-tests/src/test/java/org/apache/flink/test/streaming/runtime/BigUserProgramJobSubmitITCase.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/util/FakeClusterClient.java
Labels: component=Client/JobSubmission, review=description?

#10064 [hotfix][docs] Fix some typos in stream opertaors docs
  docs/dev/stream/operators/index.md
  docs/dev/stream/operators/index.zh.md
Labels: review=description?

#9749 [FLINK-14115][docs-zh] Translate DataStream Code Walkthrough to Chinese
  docs/getting-started/walkthroughs/datastream_api.zh.md
Labels: component=Documentation, component=chinese-translation, review=description?

#9994 [FLINK-14322][table-api] Add watermark information in TableSchema
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/api/TableSchema.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/api/WatermarkSpec.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/descriptors/DescriptorProperties.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/api/TableSchemaTest.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/descriptors/DescriptorPropertiesTest.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/TableEnvironmentTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/TableSchemaTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/validation/TableSchemaValidationTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/validation/TableSinksValidationTest.scala
Labels: component=TableSQL/API, component=TableSQL/Planner, review=description?

#10027 [FLINK-14549][Table SQL/Planner] Bring more detail by using logicalTy…
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/sinks/TableSinkUtils.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/table/validation/TableSinkValidationTest.scala
Labels: component=TableSQL/Planner, review=description?

#9993 [FLINK-14498][runtime]Introduce NetworkBufferPool#isAvailable() for interacting with LocalBufferPool.
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/buffer/LocalBufferPool.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/buffer/NetworkBufferPool.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/handler/legacy/backpressure/BackPressureStatsTrackerImpl.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/api/writer/RecordWriterTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/buffer/LocalBufferPoolDestroyTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/buffer/LocalBufferPoolTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/buffer/NetworkBufferPoolTest.java
Labels: component=Runtime/Network, review=description?

#10077 [hotfix][tests] Refactor SchedulerTestBase for removing dead code
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmanager/scheduler/SchedulerTestBase.java
Labels: review=description?

#10060 [FLINK-14546] [flink-json] Support map type in flink-json
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/JsonRowDeserializationSchema.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/JsonRowDeserializationSchemaTest.java
Labels: component=Formats, review=description?

#10097 [FLINK-14603][runtime]Notify the potential buffer consumers if the size of LocalBufferPool has been expanded.
  flink-runtime/src/main/java/org/apache/flink/runtime/io/AvailabilityProvider.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/buffer/LocalBufferPool.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/buffer/NetworkBufferPool.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/buffer/LocalBufferPoolTest.java
Labels: component=Runtime/Network, component=Tests, review=description?

#9601 [FLINK-13894][web]Web Ui add log url for subtask of vertex
  flink-runtime-web/web-dashboard/src/app/interfaces/job-subtask.ts
  flink-runtime-web/web-dashboard/src/app/pages/job/overview/subtasks/job-overview-drawer-subtasks.component.html
Labels: component=Runtime/WebFrontend, review=description?

#10107 [FLINK-14608] [flink-json] Avoid using Java Streams in JsonRowDeserializationSchema
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/JsonRowDeserializationSchema.java
Labels: component=Formats, review=description?

#10069 [FLINK-14593][client] Port ClusterClient to asynchronous interface version
  flink-clients/src/main/java/org/apache/flink/client/cli/CliFrontend.java
  flink-clients/src/main/java/org/apache/flink/client/program/ClusterClient.java
  flink-clients/src/main/java/org/apache/flink/client/program/MiniClusterClient.java
  flink-clients/src/main/java/org/apache/flink/client/program/rest/RestClusterClient.java
  flink-clients/src/test/java/org/apache/flink/client/cli/CliFrontendCancelTest.java
  flink-clients/src/test/java/org/apache/flink/client/cli/CliFrontendStopWithSavepointTest.java
  flink-clients/src/test/java/org/apache/flink/client/cli/util/MockedCliFrontend.java
  flink-clients/src/test/java/org/apache/flink/client/program/TestingClusterClient.java
  flink-clients/src/test/java/org/apache/flink/client/program/rest/RestClusterClientSavepointTriggerTest.java
  flink-clients/src/test/java/org/apache/flink/client/program/rest/RestClusterClientTest.java
  flink-connectors/flink-connector-kafka-base/src/test/java/org/apache/flink/streaming/connectors/kafka/KafkaConsumerTestBase.java
  flink-libraries/flink-state-processing-api/src/test/java/org/apache/flink/state/api/SavepointReaderITTestBase.java
  flink-libraries/flink-state-processing-api/src/test/java/org/apache/flink/state/api/SavepointReaderKeyedStateITCase.java
  flink-queryable-state/flink-queryable-state-runtime/src/test/java/org/apache/flink/queryablestate/itcases/AbstractQueryableStateTestBase.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/LocalExecutor.java
  flink-tests/src/test/java/org/apache/flink/runtime/jobmaster/JobMasterStopWithSavepointIT.java
  flink-tests/src/test/java/org/apache/flink/runtime/jobmaster/JobMasterTriggerSavepointITCase.java
  flink-tests/src/test/java/org/apache/flink/test/accumulators/AccumulatorLiveITCase.java
  flink-tests/src/test/java/org/apache/flink/test/cancelling/CancelingTestBase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/RescalingITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/ResumeCheckpointManuallyITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/SavepointITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/utils/SavepointMigrationTestBase.java
  flink-tests/src/test/java/org/apache/flink/test/classloading/ClassLoaderITCase.java
  flink-tests/src/test/java/org/apache/flink/test/recovery/ProcessFailureCancelingITCase.java
  flink-tests/src/test/java/org/apache/flink/test/state/operator/restore/AbstractOperatorRestoreTestBase.java
  flink-tests/src/test/java/org/apache/flink/test/streaming/runtime/TimestampITCase.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/CliFrontendRunWithYarnTest.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/util/FakeClusterClient.java
Labels: component=Client/JobSubmission, review=description?

#10131 [hotfix][table] Fix the comments of Operation
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/Operation.java
Labels: review=description?

#10094 [FLINK-14611][runtime] Move allVerticesInSameSlotSharingGroupByDefault setting from ExecutionConfig to StreamGraph
  flink-core/src/main/java/org/apache/flink/api/common/ExecutionConfig.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/StreamGraph.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/StreamingJobGraphGenerator.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/graph/StreamingJobGraphGeneratorTest.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/delegation/BatchExecutor.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/delegation/BatchExecutorTest.java
Labels: component=Runtime/Coordination, review=description?

#10028 [hotfix] Fixed word typo: environment and refactored load savepoint exception message
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/Savepoint.java
Labels: review=description?

#10040 [hotfix] Rename TimeReaderFunction to TimerReaderFunction
  flink-libraries/flink-state-processing-api/src/test/java/org/apache/flink/state/api/input/KeyedStateInputFormatTest.java
Labels: review=description?

#10026 [hotfix][JavaDocs] Correct docs in MemoryStateBackend
  flink-runtime/src/main/java/org/apache/flink/runtime/state/memory/MemoryStateBackend.java
Labels: review=description?

#10025 [FLINK-14554] Correct the comment of ExistingSavepoint#readKeyedState to generate java doc
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/ExistingSavepoint.java
Labels: component=API/StateProcessor, component=Documentation, review=description?

#10095 [FLINK-14601] [client] CLI documentation for list is missing '-a'
  flink-clients/src/main/java/org/apache/flink/client/cli/CliFrontendParser.java
Labels: component=<none>, review=description?

#10041 [hotfix] Fix wrong Java doc comment of BroadcastStateBootstrapFunction.Context
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/functions/BroadcastStateBootstrapFunction.java
Labels: review=description?

#10119 [FLINK-14656] [table-planner-blink] blink planner should also fetch catalog statistics for permanent CatalogTableImpl
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/catalog/DatabaseCalciteSchema.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/catalog/CatalogStatisticsTest.java
  flink-table/flink-table-planner-blink/src/test/resources/explain/testGetStatsFromCatalog.out
Labels: component=TableSQL/Planner, review=description?

#9946 [FLINK-14468][docs] Update Kubernetes docs
  docs/ops/deployment/kubernetes.md
Labels: component=Documentation, review=description?

#10156 [FLINK-14714][table-runtime-blink] BytesHashMap should not warn invoking stack when it want to spill
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/aggregate/BytesHashMap.java
Labels: component=TableSQL/Runtime, review=description?

#10154 [FLINK-14704] Remove uesless SynchronousSavepointLatch
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/SynchronousSavepointLatch.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/SynchronousSavepointSyncLatchTest.java
Labels: component=Runtime/Checkpointing, component=Runtime/Task, review=description?

#10167 [FLINK-14731] LogicalWatermarkAssigner should use specified trait set when doing copy
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/calcite/LogicalWatermarkAssigner.scala
Labels: component=TableSQL/Planner, review=description?

#10163 [FLINK-14724] [table-planner-blink] Join condition could be simplified in logical phase
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/FlinkBatchRuleSets.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/FlinkStreamRuleSets.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/SetOperatorsTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/DagOptimizationTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/SetOperatorsTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/batch/sql/SetOperatorsTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/SetOperatorsTest.scala
Labels: component=TableSQL/Planner, review=description?

#10168 [FLINK-12039] Remove ASSIGNED_SLOT_UPDATER in Execution.tryAssignResource
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/Execution.java
Labels: component=Runtime/Coordination, review=description?

#10100 [FLINK-14627][tests] Refactor ExecutionGraph creation in tests as TestingExecutionGraphBuilder
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/ExecutionGraph.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/ExecutionGraphCheckpointCoordinatorTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/AdaptedRestartPipelinedRegionStrategyNGAbortPendingCheckpointsTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/AdaptedRestartPipelinedRegionStrategyNGConcurrentFailoverTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/AdaptedRestartPipelinedRegionStrategyNGFailoverTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/ArchivedExecutionGraphTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/ExecutionGraphCoLocationRestartTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/ExecutionGraphConstructionTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/ExecutionGraphDeploymentTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/ExecutionGraphMetricsTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/ExecutionGraphNotEnoughResourceTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/ExecutionGraphRestartTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/ExecutionGraphTestUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/ExecutionVertexInputConstraintTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/ExecutionVertexTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/GlobalModVersionTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/LegacyJobVertexIdTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/PointwisePatternTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/TestingExecutionGraphBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/VertexSlotSharingTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/partitioner/RescalePartitionerTest.java
Labels: component=Tests, review=description?

#10172 [FLINK-14706] Remove legacy KvStateMessage
  flink-runtime/src/main/java/org/apache/flink/runtime/query/KvStateMessage.java
Labels: component=Runtime/QueryableState, review=description?

#10130 [FLINK-14642] [types] Add support for copying null values to the TupleSeriali…
  flink-core/src/main/java/org/apache/flink/api/java/typeutils/runtime/TupleSerializer.java
  flink-scala/src/main/scala/org/apache/flink/api/scala/typeutils/CaseClassSerializer.scala
Labels: component=API/TypeSerializationSystem, review=description?

#10186 [FLINK-14759][flink-runtime]Remove unused class TaskManagerCliOptions
  flink-runtime/src/main/java/org/apache/flink/runtime/taskmanager/TaskManagerCliOptions.java
Labels: component=<none>, review=description?

#10198 [FLINK-14794] Fixing KeyedStream#transform to properly relay type information
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/datastream/DataStream.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/datastream/KeyedStream.java
Labels: component=API/DataStream, review=description?

#10204 [FLINK-14699][type] Move ClosureCleaner to flink-core
  flink-core/src/main/java/org/apache/flink/api/java/ClosureCleaner.java
  flink-core/src/test/java/org/apache/flink/api/java/ClosureCleanerTest.java
Labels: component=API/TypeSerializationSystem, review=description?

#10218 [hotfix][network] Reduce the synchronisation overhead in CreditBasedSequenceNumberingViewReader
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/netty/CreditBasedSequenceNumberingViewReader.java
Labels: review=description?

#10233 [FLINK-14830][docs] Correct the external link for Chinese version stream_checkpointing page
  docs/internals/stream_checkpointing.zh.md
Labels: review=description?

#10158 [FLINK-14694] [table-planner-blink] Most tests from package o.a.f.table.planner.functions.aggfunctions are not executed during mvn test and fix BinaryGeneric comparison failure
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/functions/aggfunctions/AggFunctionTestBase.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/functions/aggfunctions/FirstLastValueAggFunctionWithOrderTestBase.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/functions/aggfunctions/FirstValueAggFunctionWithOrderTest.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/functions/aggfunctions/FirstValueAggFunctionWithoutOrderTest.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/functions/aggfunctions/FirstValueWithRetractAggFunctionWithOrderTest.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/functions/aggfunctions/FirstValueWithRetractAggFunctionWithoutOrderTest.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/functions/aggfunctions/LastValueAggFunctionWithOrderTest.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/functions/aggfunctions/LastValueAggFunctionWithoutOrderTest.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/functions/aggfunctions/LastValueWithRetractAggFunctionWithOrderTest.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/functions/aggfunctions/LastValueWithRetractAggFunctionWithoutOrderTest.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/functions/aggfunctions/ListAggWsWithRetractAggFunctionTest.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/functions/aggfunctions/MaxWithRetractAggFunctionTest.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/functions/aggfunctions/MinWithRetractAggFunctionTest.java
Labels: component=TableSQL/Planner, component=Tests, review=description?

#10196 [FLINK-14789] [table-planner-blink] extends max/min type in ColumnStats from Number to Comparable
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/plan/stats/ColumnStats.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/util/CatalogTableStatisticsConverter.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdColumnInterval.scala
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/catalog/CatalogStatisticsTest.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/metadata/AggCallSelectivityEstimatorTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/metadata/SelectivityEstimatorTest.scala
Labels: component=TableSQL/Planner, review=description?

#10212 [FLINK-14806][table-planner-blink] Add setTimestamp/getTimestamp inte…
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/dataformat/AbstractBinaryWriter.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/dataformat/BinaryArray.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/dataformat/BinaryRow.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/dataformat/BinaryWriter.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/dataformat/ColumnarRow.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/dataformat/GenericArray.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/dataformat/JoinedRow.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/dataformat/NestedRow.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/dataformat/ObjectArrayRow.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/dataformat/SqlTimestamp.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/dataformat/TypeGetterSetters.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/dataformat/UpdatableRow.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/dataformat/vector/TimestampColumnVector.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/dataformat/vector/VectorizedColumnBatch.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/dataformat/BaseRowTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/dataformat/BinaryArrayTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/dataformat/BinaryRowTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/dataformat/vector/VectorizedColumnBatchTest.java
Labels: component=TableSQL/Planner, review=description?

#10171 [FLINK-14720] Mark ExecutionVertex#deployToSlot with @VisibleForTesting annotation
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/ExecutionVertex.java
Labels: component=<none>, review=description?

#10253 [FLINK-14858][Table SQL / Planner] Wrong "if" statement in SqlToOperationConverter
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/sqlexec/SqlToOperationConverter.java
Labels: component=TableSQL/Planner, review=description?

#10263 [hotfix] Fix confusing error message in TableSourceValidation
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/sources/TableSourceValidation.java
Labels: review=description?

#10259 [FLINK-13184]Starting a TaskExecutor blocks the YarnResourceManager's main thread(Backport to 1.9)
  flink-runtime/src/main/java/org/apache/flink/runtime/clusterframework/BootstrapTools.java
  flink-runtime/src/test/java/org/apache/flink/runtime/clusterframework/BootstrapToolsTest.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/UtilsTest.java
  flink-yarn/src/main/java/org/apache/flink/yarn/AbstractYarnClusterDescriptor.java
  flink-yarn/src/main/java/org/apache/flink/yarn/Utils.java
  flink-yarn/src/main/java/org/apache/flink/yarn/YarnResourceManager.java
  flink-yarn/src/main/java/org/apache/flink/yarn/YarnTaskExecutorRunner.java
  flink-yarn/src/test/java/org/apache/flink/yarn/UtilsTest.java
  flink-yarn/src/test/java/org/apache/flink/yarn/YarnResourceManagerTest.java
Labels: component=Deployment/YARN, review=description?

#10260 [FLINK-13184]Starting a TaskExecutor blocks the YarnResourceManager's main thread(Backport to 1.8)
  flink-runtime/src/main/java/org/apache/flink/runtime/clusterframework/BootstrapTools.java
  flink-runtime/src/test/java/org/apache/flink/runtime/clusterframework/BootstrapToolsTest.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/UtilsTest.java
  flink-yarn/src/main/java/org/apache/flink/yarn/AbstractYarnClusterDescriptor.java
  flink-yarn/src/main/java/org/apache/flink/yarn/Utils.java
  flink-yarn/src/main/java/org/apache/flink/yarn/YarnResourceManager.java
  flink-yarn/src/main/java/org/apache/flink/yarn/YarnTaskExecutorRunner.java
  flink-yarn/src/test/java/org/apache/flink/yarn/UtilsTest.java
  flink-yarn/src/test/java/org/apache/flink/yarn/YarnResourceManagerTest.java
Labels: component=Deployment/YARN, review=description?

#10189 [FLINK-14104][build] Pin jackson version to 2.10.1
  flink-connectors/flink-connector-elasticsearch2/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-connector-elasticsearch5/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-elasticsearch6/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-elasticsearch7/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-azure-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-fs-hadoop-shaded/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-oss-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-s3-fs-base/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-s3-fs-presto/src/main/resources/META-INF/NOTICE
  flink-formats/flink-avro-confluent-registry/src/main/resources/META-INF/NOTICE
  flink-mesos/src/main/resources/META-INF/NOTICE
  flink-metrics/flink-metrics-influxdb/pom.xml
  flink-python/pom.xml
  flink-python/src/main/resources/META-INF/NOTICE
  flink-table/flink-table-planner-blink/pom.xml
  flink-table/flink-table-planner-blink/src/main/resources/META-INF/NOTICE
  flink-table/flink-table-planner/pom.xml
  flink-table/flink-table-planner/src/main/resources/META-INF/NOTICE
  pom.xml
Labels: component=BuildSystem/Shaded, review=description?

#10190 [hotfix][docs] fix 'optional' SQL Client function parameters stated as 'optimal'
  docs/dev/table/sqlClient.md
  docs/dev/table/sqlClient.zh.md
Labels: review=description?

#10230 [FLINK-14803][metrics]Support Consistency Level for InfluxDB metrics
  docs/monitoring/metrics.md
  docs/monitoring/metrics.zh.md
  flink-metrics/flink-metrics-influxdb/src/main/java/org/apache/flink/metrics/influxdb/InfluxdbReporter.java
  flink-metrics/flink-metrics-influxdb/src/main/java/org/apache/flink/metrics/influxdb/InfluxdbReporterOptions.java
  flink-metrics/flink-metrics-influxdb/src/test/java/org/apache/flink/metrics/influxdb/InfluxdbReporterTest.java
Labels: component=Runtime/Metrics, review=description?

#10262 [hotfix][client] PackagedProgram#userCodeClassLoader is final
  flink-clients/src/main/java/org/apache/flink/client/program/PackagedProgram.java
Labels: review=description?

#10261 [FLINK-14871][Library / CEP]A better formatter for toString method in StateTransition
  flink-libraries/flink-cep/src/main/java/org/apache/flink/cep/nfa/StateTransition.java
Labels: component=Library/CEP, review=description?

#10128 [FLINK-14641][docs] Fix description of metric `fullRestarts`
  docs/monitoring/metrics.md
  docs/monitoring/metrics.zh.md
Labels: component=Runtime/Coordination, review=description?

#10129 [FLINK-14642][runtime] Deprecate metric `fullRestarts`
  docs/monitoring/metrics.md
  docs/monitoring/metrics.zh.md
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/MetricNames.java
Labels: component=API/TypeSerializationSystem, review=description?

#10265 [FLINK-14862][runtime] Fuse initializeState and open
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
Labels: component=Runtime/Task, review=description?

#10175 [FLINK-14746][web] Handle uncaught exceptions in HistoryServerArchive…
  flink-runtime-web/src/main/java/org/apache/flink/runtime/webmonitor/history/HistoryServerArchiveFetcher.java
  flink-runtime/src/main/java/org/apache/flink/runtime/util/Runnables.java
  flink-runtime/src/test/java/org/apache/flink/runtime/util/RunnablesTest.java
Labels: component=Runtime/WebFrontend, review=description?

#10012 [hotfix][typo] fix typo in ContaineredTaskManagerParameters
  flink-runtime/src/main/java/org/apache/flink/runtime/clusterframework/ContaineredTaskManagerParameters.java
Labels: review=description?

#9989 [hotfix][docs] Delete useless annotation in NonWindowLeftRightJoinWithNonEquiPredicates
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/runtime/join/NonWindowLeftRightJoinWithNonEquiPredicates.scala
Labels: review=description?

#9765 [FLINK-14126][test] Disable Xpack.ml for elasticsearch 6.0+ on ARM
  flink-end-to-end-tests/test-scripts/elasticsearch-common.sh
  flink-end-to-end-tests/test-scripts/test_sql_client.sh
  flink-end-to-end-tests/test-scripts/test_streaming_elasticsearch.sh
Labels: component=Tests, review=description?

#10184 [FLINK-14481]Modify the Flink valid socket port check to 0 to 65535.
  flink-core/src/main/java/org/apache/flink/util/NetUtils.java
  flink-metrics/flink-metrics-influxdb/src/main/java/org/apache/flink/metrics/influxdb/InfluxdbReporter.java
  flink-queryable-state/flink-queryable-state-client-java/src/main/java/org/apache/flink/queryablestate/client/QueryableStateClient.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/netty/NettyConfig.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/RestClient.java
Labels: component=Runtime/Network, review=description?

#10170 [FLINK-14722][hadoop] Optimize mapred.HadoopInputSplit to not serialize conf when split is not configurable
  flink-connectors/flink-hadoop-compatibility/src/main/java/org/apache/flink/api/java/hadoop/mapred/wrapper/HadoopInputSplit.java
  flink-connectors/flink-hadoop-compatibility/src/test/java/org/apache/flink/api/java/hadoop/mapred/wrapper/HadoopInputSplitTest.java
Labels: component=Connectors/HadoopCompatibility, review=description?

#10287 [FLINK-14915][runtime] Remove the unnecessary param JobGraph from SchedulingStrategyFactory#createInstance
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/DefaultScheduler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/strategy/EagerSchedulingStrategy.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/strategy/LazyFromSourcesSchedulingStrategy.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/strategy/SchedulingStrategyFactory.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/strategy/TestSchedulingStrategy.java
Labels: component=Runtime/Coordination, review=description?

#10269 [FLINK-14876]Putting xercesImpl related classes into alwaysParentFirstLoaderPatterns to avoid conflicts
  flink-core/src/main/java/org/apache/flink/configuration/CoreOptions.java
Labels: component=Runtime/Configuration, review=description?

#10289 [FLINK-14924][table sql / api] CsvTableSource can not config empty column as null
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/table/sources/CsvTableSource.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/runtime/batch/sql/TableSourceITCase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/runtime/utils/CommonTestData.scala
Labels: component=TableSQL/API, review=description?

#10290 [FLINK-13708] [table-planner-blink] transformations should be cleared after execution in blink planner
  flink-python/pyflink/table/tests/test_table_environment_api.py
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/ExecutionContext.java
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/table/api/java/internal/StreamTableEnvironmentImpl.java
  flink-table/flink-table-api-scala-bridge/src/main/scala/org/apache/flink/table/api/scala/internal/StreamTableEnvironmentImpl.scala
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/delegation/BatchExecutor.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/delegation/ExecutorBase.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/delegation/StreamExecutor.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/utils/DummyStreamExecutionEnvironment.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/utils/ExecutorUtils.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/delegation/BatchPlanner.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/delegation/PlannerBase.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/delegation/StreamPlanner.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/api/TableEnvironmentITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/api/TableEnvironmentTest.scala
Labels: component=TableSQL/Planner, review=description?

#10292 [FLINK-14928][docs] Fix the broken links in documentation of page systemFunctions
  docs/dev/table/functions/systemFunctions.md
  docs/dev/table/functions/systemFunctions.zh.md
  docs/getting-started/index.zh.md
Labels: component=Documentation, review=description?

#10277 [FLINK-14595][orc] Move flink-orc to flink-formats from flink-connectors
  flink-connectors/pom.xml
  flink-formats/flink-orc/pom.xml
  flink-formats/flink-orc/src/main/java/org/apache/flink/orc/OrcBatchReader.java
  flink-formats/flink-orc/src/main/java/org/apache/flink/orc/OrcRowInputFormat.java
  flink-formats/flink-orc/src/main/java/org/apache/flink/orc/OrcTableSource.java
  flink-formats/flink-orc/src/test/java/org/apache/flink/orc/OrcBatchReaderTest.java
  flink-formats/flink-orc/src/test/java/org/apache/flink/orc/OrcRowInputFormatTest.java
  flink-formats/flink-orc/src/test/java/org/apache/flink/orc/OrcTableSourceITCase.java
  flink-formats/flink-orc/src/test/java/org/apache/flink/orc/OrcTableSourceTest.java
  flink-formats/flink-orc/src/test/java/org/apache/flink/orc/util/OrcTestFileGenerator.java
  flink-formats/flink-orc/src/test/resources/log4j-test.properties
  flink-formats/flink-orc/src/test/resources/test-data-composites-with-nulls.orc
  flink-formats/flink-orc/src/test/resources/test-data-decimal.orc
  flink-formats/flink-orc/src/test/resources/test-data-flat.orc
  flink-formats/flink-orc/src/test/resources/test-data-nested.orc
  flink-formats/flink-orc/src/test/resources/test-data-nestedlist.orc
  flink-formats/flink-orc/src/test/resources/test-data-repeating.orc
  flink-formats/flink-orc/src/test/resources/test-data-timetypes.orc
  flink-formats/pom.xml
  tools/travis/stage.sh
Labels: component=Connectors/ORC, review=description?

#10215 [FLINK-14767] Mark TaskManagerOptions#EXIT_ON_FATAL_AKKA_ERROR with @Deprecated annotation
  docs/_includes/generated/task_manager_configuration.html
  flink-core/src/main/java/org/apache/flink/configuration/TaskManagerOptions.java
Labels: component=Runtime/Configuration, review=description?

#10302 [1.8][FLINK-14104][build] Use flink-shaded-jackson 9.0
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/handler/AbstractHandler.java
  pom.xml
Labels: component=BuildSystem/Shaded, review=description?

#10304 [FLINK-14838] Cleanup the description about container number config option in Scala and python shell doc
  docs/ops/python_shell.md
  docs/ops/scala_shell.md
  docs/ops/scala_shell.zh.md
  flink-python/src/main/java/org/apache/flink/client/python/PythonShellParser.java
Labels: component=Documentation, review=description?

#10271 [FLINK-14874] [table-planner-blink] add local aggregate to solve data skew for ROLLUP/CUBE case
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/optimize/program/FlinkBatchProgram.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/FlinkBatchRuleSets.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/batch/BatchExecAggRuleBase.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/batch/BatchExecHashAggRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/batch/BatchExecSortAggRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/batch/EnforceLocalAggRuleBase.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/batch/EnforceLocalHashAggRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/batch/EnforceLocalSortAggRule.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/agg/AggregateReduceGroupingTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/agg/GroupingSetsTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/rules/physical/batch/EnforceLocalHashAggRuleTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/rules/physical/batch/EnforceLocalSortAggRuleTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/rules/physical/batch/EnforceLocalAggRuleTestBase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/rules/physical/batch/EnforceLocalHashAggRuleTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/rules/physical/batch/EnforceLocalSortAggRuleTest.scala
Labels: component=TableSQL/Planner, review=description?

#10276 [FLINK-14885][client] YarnClusterDescriptor should not know about detached option
  flink-yarn/src/main/java/org/apache/flink/yarn/YarnClusterDescriptor.java
  flink-yarn/src/main/java/org/apache/flink/yarn/YarnConfigKeys.java
  flink-yarn/src/main/java/org/apache/flink/yarn/cli/FlinkYarnSessionCli.java
  flink-yarn/src/test/java/org/apache/flink/yarn/FlinkYarnSessionCliTest.java
Labels: component=Client/JobSubmission, component=Deployment/YARN, review=description?

#10305 [FLINK-14892][docs] Add documentation for checkpoint directory layout
  docs/ops/state/checkpoints.md
  docs/ops/state/checkpoints.zh.md
Labels: component=Documentation, component=Runtime/Checkpointing, review=description?

#10321 [hotfix] Fix wrong log type
  flink-runtime/src/main/java/org/apache/flink/runtime/state/TaskLocalStateStoreImpl.java
Labels: review=description?

#10301 [FLINK-14846][doc] Correct the default writerbuffer size documentation of RocksDB
  docs/_includes/generated/rocks_db_configurable_configuration.html
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBConfigurableOptions.java
Labels: component=Documentation, component=Runtime/StateBackends, review=description?

#10195 [FLINK-13995][legal] Properly exclude netty license directory
  flink-connectors/flink-connector-elasticsearch2/pom.xml
  flink-connectors/flink-connector-elasticsearch5/pom.xml
  flink-runtime/pom.xml
  flink-test-utils-parent/flink-test-utils/pom.xml
Labels: component=BuildSystem/Shaded, review=description?

#10323 [FLINK-14817][doc] Fix misleading documentation using method chaining…
  docs/dev/table/config.md
  docs/dev/table/config.zh.md
  docs/dev/table/tuning/streaming_aggregation_optimization.md
  docs/dev/table/tuning/streaming_aggregation_optimization.zh.md
Labels: component=Documentation, review=description?

#10320 [FLINK-14948][client] Implement shutDownCluster for MiniClusterClient
  flink-clients/src/main/java/org/apache/flink/client/program/ClusterClient.java
  flink-clients/src/main/java/org/apache/flink/client/program/MiniClusterClient.java
Labels: component=Client/JobSubmission, review=description?

#9957 [FLINK-10932] Initialize flink-kubernetes module
  flink-dist/pom.xml
  flink-kubernetes/pom.xml
  pom.xml
Labels: component=Runtime/Coordination, review=description?

#10275 [FLINK-14733][runtime] Introduce a builder for flexible ResourceProfile building
  flink-runtime/src/main/java/org/apache/flink/runtime/clusterframework/types/ResourceProfile.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskManagerServices.java
  flink-runtime/src/test/java/org/apache/flink/runtime/clusterframework/types/LocationPreferenceSlotSelectionStrategyTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/clusterframework/types/ResourceProfileTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/clusterframework/types/SlotSelectionStrategyTestBase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmanager/scheduler/SchedulerIsolatedTasksTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/slotpool/AvailableSlotsTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/slotpool/SlotPoolBatchSlotRequestTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/slotpool/SlotPoolSlotSharingTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/slotpool/SlotSharingManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/slotmanager/AnyMatchingSlotMatchingStrategyTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/slotmanager/LeastUtilizationSlotMatchingStrategyTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/slotmanager/SlotManagerFailUnfulfillableTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/slotmanager/SlotManagerImplTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/slotmanager/SlotProtocolTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/slotmanager/TaskManagerReleaseInSlotManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/DefaultExecutionSlotAllocatorTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskExecutorTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/slot/TaskSlotUtils.java
  flink-yarn/src/test/java/org/apache/flink/yarn/YarnResourceManagerTest.java
Labels: component=Runtime/Coordination, review=description?

#10169 [FLINK-11835][runtime,tests] Waiting the recovered job status become …
  flink-tests/src/test/java/org/apache/flink/test/runtime/leaderelection/ZooKeeperLeaderElectionITCase.java
Labels: component=Runtime/Coordination, review=description?

#10338 [FLINK-14939][e2e] Set distDir property
  tools/travis_watchdog.sh
Labels: review=description?

#10331 [FLINK-14969][tests] Refactor CliFrontendRunWithYarnTest reflect to new execution codepath
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/CliFrontendRunWithYarnTest.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/util/NonDeployingYarnClusterDescriptor.java
  flink-yarn/src/main/java/org/apache/flink/yarn/YarnClusterDescriptor.java
Labels: component=Tests, review=description?

#10247 [FLINK-14813][runtime]Expose the new mechanism implemented in FLINK-1…
  docs/monitoring/metrics.md
  docs/monitoring/metrics.zh.md
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/NettyShuffleEnvironment.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/metrics/BackPressureGauge.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/metrics/NettyShuffleMetricFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/shuffle/ShuffleEnvironment.java
  flink-runtime/src/main/java/org/apache/flink/runtime/shuffle/ShuffleIOOwnerContext.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskmanager/Task.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskExecutorPartitionLifecycleTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskmanager/TaskTest.java
Labels: component=<none>, review=description?

#6723 [FLINK-10377] Remove precondition in TwoPhaseCommitSinkFunction.notif…
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/sink/TwoPhaseCommitSinkFunction.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/functions/sink/TwoPhaseCommitSinkFunctionTest.java
Labels: component=Connectors/Common

#10350 [FLINK-14957] Remove deprecated -yst option
  docs/ops/cli.md
  docs/ops/cli.zh.md
  flink-yarn/src/main/java/org/apache/flink/yarn/cli/FlinkYarnSessionCli.java
Labels: component=CommandLineClient, component=Deployment/YARN, review=description?

#10293 [FLINK-14905][build] Unify Java8/11 packaging process
  flink-connectors/flink-connector-kinesis/pom.xml
  flink-dist/pom.xml
  flink-dist/src/main/resources/META-INF/NOTICE
  flink-dist/src/main/resources/META-INF/licenses/LICENSE.jaxb
  flink-filesystems/flink-s3-fs-hadoop/pom.xml
  flink-filesystems/flink-s3-fs-presto/pom.xml
  pom.xml
Labels: component=BuildSystem, review=description?

#10341 [FLINK-14974][runtime] Calculate managed memory fractions with BigDecimal and round down it properly
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/StreamingJobGraphGenerator.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/graph/StreamingJobGraphGeneratorTest.java
Labels: component=Runtime/Coordination, review=description?

#10339 [FLINK-14976][cassandra] Release semaphore on all Throwable's in send()
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/streaming/connectors/cassandra/CassandraSinkBase.java
  flink-connectors/flink-connector-cassandra/src/test/java/org/apache/flink/streaming/connectors/cassandra/CassandraSinkBaseTest.java
Labels: component=Connectors/Cassandra, review=description?
