Repository apache/flink, pull requests merged in 2019-07, with the labels that each got.

#8968 [FLINK-13077][python] Fix the failed test in CatalogPartitionAPICompletenessTests caused by the lack of "getComment" method.
  flink-python/pyflink/table/catalog.py
Labels: review=approved ✅

#8969 [hotfix][runtime] fix log format
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/RestServerEndpoint.java
Labels: review=description?

#8971 [FLINK-13019][coordination][tests] IT test for fine-grained recovery
  flink-tests/src/test/java/org/apache/flink/test/recovery/BatchFineGrainedRecoveryITCase.java
Labels: component=Runtime/Coordination, review=description?

#8805 [FLINK-12902][hadoop] Remove flink-shaded-yarn-tests
  flink-shaded-yarn-tests/pom.xml
  flink-shaded-yarn-tests/src/main/resources/META-INF/NOTICE
  flink-shaded-yarn-tests/src/main/resources/META-INF/licenses/LICENSE.asm
  flink-shaded-yarn-tests/src/main/resources/META-INF/licenses/LICENSE.protobuf
  flink-yarn-tests/pom.xml
  pom.xml
Labels: component=BuildSystem, component=Deployment/YARN, review=description?

#8562 [FLINK-12665] [table-planner-blink] Introduce MiniBatchIntervalInferRule and watermark assigner operators
  flink-streaming-java/src/test/java/org/apache/flink/streaming/util/AbstractStreamOperatorTestHarness.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/nodes/physical/stream/StreamExecWatermarkAssigner.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/optimize/RelNodeBlock.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/optimize/StreamCommonSubGraphBasedOptimizer.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/optimize/program/FlinkMiniBatchIntervalTraitInitProgram.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/optimize/program/FlinkStreamProgram.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/optimize/program/StreamOptimizeContext.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/rules/FlinkStreamRuleSets.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/rules/physical/stream/MiniBatchIntervalInferRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/rules/physical/stream/StreamExecWatermarkAssignerRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/trait/MiniBatchIntervalTrait.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/util/FlinkRelOptUtil.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/api/stream/ExplainTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/plan/rules/physical/stream/RetractionRulesWithTwoStageAggTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/plan/stream/sql/MiniBatchIntervalInferTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/plan/stream/sql/ModifiedMonotonicityTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/plan/stream/sql/agg/AggregateTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/plan/stream/sql/agg/DistinctAggregateTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/plan/stream/sql/agg/IncrementalAggregateTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/plan/stream/sql/agg/TwoStageAggregateTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/api/stream/ExplainTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/plan/stream/sql/MiniBatchIntervalInferTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/plan/stream/sql/agg/AggregateTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/plan/util/FlinkRelOptUtilTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/stream/sql/AggregateITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/utils/StreamingTestBase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/util/TableTestBase.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/api/TableConfigOptions.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/watermarkassigner/MiniBatchAssignerOperator.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/watermarkassigner/MiniBatchedWatermarkAssignerOperator.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/watermarkassigner/WatermarkAssignerOperator.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/watermarkassigner/MiniBatchAssignerOperatorTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/watermarkassigner/MiniBatchedWatermarkAssignerOperatorTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/watermarkassigner/WatermarkAssignerOperatorTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/watermarkassigner/WatermarkAssignerOperatorTestBase.java
Labels: component=TableSQL/Planner, component=TableSQL/Runtime, review=description?

#8689 [FLINK-12802][table-runtime-blink] Reducing the Code of BinaryString
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/expressions/RexNodeConverter.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/functions/aggfunctions/ConcatWithRetractAggFunction.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/functions/aggfunctions/ConcatWsWithRetractAggFunction.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/codegen/CodeGenUtils.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/codegen/ExpressionReducer.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/codegen/calls/ScalarOperatorGens.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/codegen/calls/StringCallGen.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/dataformat/BinaryFormat.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/dataformat/BinaryString.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/dataformat/BinaryStringUtil.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/dataformat/LazyBinaryFormat.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/functions/SqlFunctionUtils.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/sort/SortUtil.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/dataformat/BinaryStringTest.java
Labels: component=TableSQL/Runtime, review=description?

#8978 [FLINK-13089][table-planner-blink] Implement batch nested loop join and add join it cases in blink
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/codegen/NestedLoopJoinCodeGenerator.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/nodes/physical/batch/BatchExecNestedLoopJoin.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/batch/sql/Limit0RemoveITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/batch/sql/MiscITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/batch/sql/agg/AggregateRemoveITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/batch/sql/agg/PruneAggregateCallITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/batch/sql/join/InnerJoinITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/batch/sql/join/JoinITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/batch/sql/join/JoinWithoutKeyITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/batch/sql/join/OuterJoinITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/batch/sql/join/ScalarQueryITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/batch/sql/join/SemiJoinITCase.scala
Labels: component=TableSQL/Planner, review=description?

#8974 [FLINK-13082][table-planner-blink] Support MatchRecognize in blink planner
  flink-table/flink-table-planner-blink/pom.xml
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/functions/sql/CalciteSqlFunction.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/functions/sql/FlinkSqlOperatorTable.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/calcite/RelTimeIndicatorConverter.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/codegen/MatchCodeGenerator.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/logical/MatchRecognize.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/nodes/logical/FlinkLogicalMatch.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/nodes/physical/stream/StreamExecMatch.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/rules/FlinkStreamRuleSets.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/rules/physical/stream/StreamExecMatchRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/util/MatchUtil.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/util/RelExplainUtil.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/api/stream/sql/validation/MatchRecognizeValidationTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/match/PatternTranslatorTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/match/PatternTranslatorTestBase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/stream/sql/MatchRecognizeITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/runtime/utils/UserDefinedFunctionTestUtils.scala
  flink-table/flink-table-runtime-blink/pom.xml
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/match/BaseRowEventComparator.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/match/IterativeConditionRunner.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/match/PatternProcessFunctionRunner.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/match/RowtimeProcessFunction.java
Labels: component=TableSQL/Planner, review=description?

#8983 [FLINK-13096][Deployment/YARN]Typo in Utils
  flink-yarn/src/main/java/org/apache/flink/yarn/Utils.java
Labels: component=Deployment/YARN, review=description?

#8511 [FLINK-12319][Library/CEP]Change the logic of releasing node from recursive to non-recursive
  flink-libraries/flink-cep/src/main/java/org/apache/flink/cep/nfa/sharedbuffer/SharedBufferAccessor.java
  flink-libraries/flink-cep/src/test/java/org/apache/flink/cep/nfa/sharedbuffer/SharedBufferTest.java
Labels: component=Library/CEP, review=description?

#8972 [FLINK-13060][coordination] Respect restart constraints in new RegionFailover strategy
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/failover/AdaptedRestartPipelinedRegionStrategyNG.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/AdaptedRestartPipelinedRegionStrategyNGConcurrentFailoverTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/AdaptedRestartPipelinedRegionStrategyNGFailoverTest.java
Labels: component=Runtime/Coordination, review=description?

#8949 [BP-1.8][FLINK-12889] Set FatalExitExceptionHandler for StreamTask#asyncOperationsThreadPool
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
Labels: component=Runtime/Task, review=description?

#8992 [FLINK-12723][docs] setup IDE for Python
  docs/flinkDev/ide_setup.md
  docs/flinkDev/ide_setup.zh.md
Labels: component=API/Python, review=description?

#8845 [FLINK-12353] Collect all japicmp output under tools directory
  .gitignore
  pom.xml
  tools/collect_japicmp_reports.sh
Labels: component=BuildSystem, review=approved ✅

#8711 [FLINK-12817][docs]Correct the import in Processing function example.
  docs/dev/stream/operators/process_function.md
  docs/dev/stream/operators/process_function.zh.md
Labels: component=Documentation, review=description?

#8923 [FLINK-13026][jdbc] Introduce JDBCLookupFunction
  flink-connectors/flink-jdbc/pom.xml
  flink-connectors/flink-jdbc/src/main/java/org/apache/flink/api/java/io/jdbc/JDBCLookupFunction.java
  flink-connectors/flink-jdbc/src/main/java/org/apache/flink/api/java/io/jdbc/JDBCLookupOptions.java
  flink-connectors/flink-jdbc/src/main/java/org/apache/flink/api/java/io/jdbc/JDBCOptions.java
  flink-connectors/flink-jdbc/src/main/java/org/apache/flink/api/java/io/jdbc/JDBCTableSource.java
  flink-connectors/flink-jdbc/src/main/java/org/apache/flink/api/java/io/jdbc/JDBCUpsertOutputFormat.java
  flink-connectors/flink-jdbc/src/main/java/org/apache/flink/api/java/io/jdbc/JDBCUpsertTableSink.java
  flink-connectors/flink-jdbc/src/main/java/org/apache/flink/api/java/io/jdbc/JDBCUtils.java
  flink-connectors/flink-jdbc/src/main/java/org/apache/flink/api/java/io/jdbc/dialect/JDBCDialect.java
  flink-connectors/flink-jdbc/src/test/java/org/apache/flink/api/java/io/jdbc/JDBCLookupFunctionITCase.java
Labels: component=Connectors/JDBC, review=description?

#9003 [FLINK-13125][docs] Make PubSub stability warning more prominent
  docs/dev/connectors/pubsub.md
Labels: component=Connectors/GoogleCloudPubSub, review=description?

#9015 [FLINK-13137][python][docs]Remove the legacy flink python docs
  docs/dev/batch/dataset_transformations.md
  docs/dev/batch/dataset_transformations.zh.md
  docs/dev/batch/zip_elements_guide.md
  docs/dev/batch/zip_elements_guide.zh.md
Labels: component=API/Python, review=description?

#7911 [FLINK-11082][network] Fix the calculation of backlog in PipelinedSubpartition
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/PipelinedSubpartition.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/PipelinedSubpartitionWithReadViewTest.java
Labels: component=Runtime/Network, review=description?

#8607 [FLINK-12652] [documentation] add first version of a glossary
  docs/concepts/glossary.md
  docs/concepts/glossary.zh.md
Labels: component=Documentation, review=architecture?

#8956 [FLINK-12991][python] Correct the implementation of Catalog.get_table_factory
  flink-python/pyflink/table/catalog.py
  flink-python/pyflink/table/tests/test_catalog_completeness.py
Labels: component=API/Python, review=description?

#9016 [hotfix][python]Fix the install failure of pyflink used previous version of python 2.7
  flink-python/setup.py
Labels: review=description?

#9018 [hotfix][python][docs]Fix wrong example code in Python REPL and wrong table plan in table/common page
  docs/dev/table/common.md
  docs/dev/table/common.zh.md
  docs/dev/table/tableApi.md
  docs/dev/table/tableApi.zh.md
  docs/ops/python_shell.md
  docs/ops/python_shell.zh.md
Labels: review=description?

#8611 [FLINK-12693][state] Store state per key-group in CopyOnWriteStateTable
  flink-runtime/src/main/java/org/apache/flink/runtime/state/heap/AbstractStateTableSnapshot.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/heap/CopyOnWriteStateMap.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/heap/CopyOnWriteStateMapSnapshot.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/heap/CopyOnWriteStateTable.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/heap/CopyOnWriteStateTableSnapshot.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/heap/NestedMapsStateTable.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/heap/NestedStateMap.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/heap/NestedStateMapSnapshot.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/heap/StateMap.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/heap/StateMapSnapshot.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/heap/StateTable.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/StateBackendTestBase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/heap/CopyOnWriteStateMapTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/heap/CopyOnWriteStateTableTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/heap/MockInternalKeyContext.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/heap/StateTableKeyGroupPartitionerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/heap/StateTableSnapshotCompatibilityTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/ttl/TtlStateTestBase.java
Labels: component=Runtime/StateBackends, review=description?

#8613 [FLINK-12730][Runtime / Coordination] Combine BitSet implementations in flink-runtime
  flink-runtime/src/main/java/org/apache/flink/runtime/operators/util/BitSet.java
  flink-runtime/src/main/java/org/apache/flink/runtime/operators/util/BloomFilter.java
  flink-runtime/src/test/java/org/apache/flink/runtime/operators/util/BitSetTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/operators/util/BloomFilterTest.java
Labels: component=Runtime/Task, review=description?

#9034 [FLINK-13063] Temporary fix for AsyncWaitOperator consistency problems.
  docs/dev/stream/operators/asyncio.md
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/async/AsyncWaitOperator.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/async/AsyncWaitOperatorTest.java
Labels: component=API/DataStream, review=description?

#9045 [FLINK-12955][hbase] Support LookupableTableSource for HBase
  flink-connectors/flink-hbase/pom.xml
  flink-connectors/flink-hbase/src/main/java/org/apache/flink/addons/hbase/HBaseLookupFunction.java
  flink-connectors/flink-hbase/src/main/java/org/apache/flink/addons/hbase/HBaseRowInputFormat.java
  flink-connectors/flink-hbase/src/main/java/org/apache/flink/addons/hbase/HBaseTableFactory.java
  flink-connectors/flink-hbase/src/main/java/org/apache/flink/addons/hbase/HBaseTableSchema.java
  flink-connectors/flink-hbase/src/main/java/org/apache/flink/addons/hbase/HBaseTableSource.java
  flink-connectors/flink-hbase/src/main/java/org/apache/flink/addons/hbase/util/HBaseConfigurationUtil.java
  flink-connectors/flink-hbase/src/main/java/org/apache/flink/addons/hbase/util/HBaseReadHelper.java
  flink-connectors/flink-hbase/src/main/java/org/apache/flink/addons/hbase/util/HBaseTypeUtils.java
  flink-connectors/flink-hbase/src/main/java/org/apache/flink/table/descriptors/HBaseValidator.java
  flink-connectors/flink-hbase/src/main/resources/META-INF/services/org.apache.flink.table.factories.TableFactory
  flink-connectors/flink-hbase/src/test/java/org/apache/flink/addons/hbase/HBaseLookupFunctionITCase.java
  flink-connectors/flink-hbase/src/test/java/org/apache/flink/addons/hbase/HBaseTableFactoryTest.java
Labels: component=Connectors/HBase, review=description?

#9052 [FLINK-13175] Fix ExecutionContextTest after FLINK-12951
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/TableEnvironmentImpl.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/api/internal/TableEnvImpl.scala
Labels: component=TableSQL/API, review=description?

#9028 [hotfix][python] Update the package name from pyflink to apache-flink
  flink-python/setup.py
Labels: review=description?

#9063 [hotfix][python] Align with Java Table API to remove QueryConfig
  docs/dev/table/streaming/query_configuration.md
  docs/dev/table/streaming/query_configuration.zh.md
  flink-python/pyflink/table/__init__.py
  flink-python/pyflink/table/query_config.py
  flink-python/pyflink/table/table_config.py
  flink-python/pyflink/table/tests/test_table_config_completeness.py
  flink-python/pyflink/table/tests/test_table_environment_api.py
Labels: review=description?

#9048 [FLINK-13173][tests] only run openSSL-based tests with flink.tests.with-openssl
  flink-runtime/src/test/java/org/apache/flink/runtime/net/SSLUtilsTest.java
  tools/travis_watchdog.sh
Labels: component=Runtime/Network, component=Tests, component=Travis, review=description?

#9051 [FLINK-13155][hotfix][e2e] fix SQL Client end-to-end test
  flink-connectors/flink-sql-connector-kafka/pom.xml
  flink-table/flink-sql-client/pom.xml
Labels: component=TableSQL/Client, review=description?

#8925 [FLINK-12852][network] Fix the deadlock occured when requesting exclusive buffers
  flink-core/src/main/java/org/apache/flink/configuration/NettyShuffleEnvironmentOptions.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/NettyShuffleServiceFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/buffer/NetworkBufferPool.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskmanager/NettyShuffleEnvironmentConfiguration.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/NettyShuffleEnvironmentBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/buffer/NetworkBufferPoolTest.java
Labels: component=Runtime/Network, review=description?

#9059 [FLINK-13141][network] Remove getBufferSize method from BufferPoolFactory
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/NettyShuffleServiceFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/buffer/BufferPoolFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/buffer/NetworkBufferPool.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/ResultPartitionFactory.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/ResultPartitionBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/ResultPartitionFactoryTest.java
Labels: component=Runtime/Network, review=description?

#9087 [hotfix][python] Use the TableEnvironment.execute() method instead of ExecutionEnvironment.execute()/StreamExecutionEnvironment.execute().
  docs/dev/table/common.md
  docs/dev/table/common.zh.md
  docs/dev/table/tableApi.md
  docs/dev/table/tableApi.zh.md
  docs/ops/python_shell.md
  docs/ops/python_shell.zh.md
  docs/tutorials/python_table_api.md
  docs/tutorials/python_table_api.zh.md
  flink-python/pyflink/shell.py
  flink-python/pyflink/table/examples/batch/word_count.py
  flink-python/pyflink/table/table.py
  flink-python/pyflink/table/table_environment.py
  flink-python/pyflink/table/tests/test_calc.py
  flink-python/pyflink/table/tests/test_descriptor.py
  flink-python/pyflink/table/tests/test_shell_example.py
  flink-python/pyflink/table/tests/test_table_environment_api.py
Labels: review=description?

#9029 [FLINK-13118][jdbc] Introduce JDBC table factory and bridge JDBC table source with streaming table source
  flink-connectors/flink-jdbc/src/main/java/org/apache/flink/api/java/io/jdbc/JDBCLookupFunction.java
  flink-connectors/flink-jdbc/src/main/java/org/apache/flink/api/java/io/jdbc/JDBCLookupOptions.java
  flink-connectors/flink-jdbc/src/main/java/org/apache/flink/api/java/io/jdbc/JDBCOptions.java
  flink-connectors/flink-jdbc/src/main/java/org/apache/flink/api/java/io/jdbc/JDBCReadOptions.java
  flink-connectors/flink-jdbc/src/main/java/org/apache/flink/api/java/io/jdbc/JDBCTableSource.java
  flink-connectors/flink-jdbc/src/main/java/org/apache/flink/api/java/io/jdbc/JDBCTableSourceSinkFactory.java
  flink-connectors/flink-jdbc/src/main/java/org/apache/flink/api/java/io/jdbc/JDBCUpsertTableSink.java
  flink-connectors/flink-jdbc/src/main/java/org/apache/flink/api/java/io/jdbc/dialect/JDBCDialect.java
  flink-connectors/flink-jdbc/src/main/java/org/apache/flink/api/java/io/jdbc/split/NumericBetweenParametersProvider.java
  flink-connectors/flink-jdbc/src/main/java/org/apache/flink/table/descriptors/JDBCValidator.java
  flink-connectors/flink-jdbc/src/main/resources/META-INF/services/org.apache.flink.table.factories.TableFactory
  flink-connectors/flink-jdbc/src/test/java/org/apache/flink/api/java/io/jdbc/JDBCFullTest.java
  flink-connectors/flink-jdbc/src/test/java/org/apache/flink/api/java/io/jdbc/JDBCInputFormatTest.java
  flink-connectors/flink-jdbc/src/test/java/org/apache/flink/api/java/io/jdbc/JDBCTableSourceSinkFactoryTest.java
  flink-connectors/flink-jdbc/src/test/java/org/apache/flink/api/java/io/jdbc/split/NumericBetweenParametersProviderTest.java
Labels: component=<none>, review=description?

#8563 [FLINK-12602][travis] Correct the flink pom `artifactId` config and s…
  docs/dev/stream/state/queryable_state.md
  docs/dev/stream/state/queryable_state.zh.md
  flink-connectors/flink-connector-cassandra/pom.xml
  flink-connectors/flink-connector-filesystem/pom.xml
  flink-connectors/flink-connector-kafka-0.10/pom.xml
  flink-connectors/flink-connector-kafka-0.11/pom.xml
  flink-connectors/flink-connector-kafka-0.8/pom.xml
  flink-connectors/flink-connector-kafka-0.9/pom.xml
  flink-connectors/flink-connector-kafka-base/pom.xml
  flink-connectors/flink-connector-kafka/pom.xml
  flink-connectors/flink-connector-kinesis/pom.xml
  flink-connectors/flink-connector-nifi/pom.xml
  flink-end-to-end-tests/flink-queryable-state-test/pom.xml
  flink-fs-tests/pom.xml
  flink-libraries/flink-cep-scala/pom.xml
  flink-libraries/flink-gelly-examples/pom.xml
  flink-libraries/flink-gelly-scala/pom.xml
  flink-libraries/flink-state-processing-api/pom.xml
  flink-queryable-state/flink-queryable-state-client-java/pom.xml
  flink-queryable-state/flink-queryable-state-runtime/pom.xml
  flink-runtime/pom.xml
  flink-streaming-scala/pom.xml
  flink-table/flink-table-api-scala/pom.xml
  flink-table/flink-table-planner/pom.xml
  flink-tests/pom.xml
  flink-yarn-tests/pom.xml
  tools/verify_scala_suffixes.sh
Labels: component=BuildSystem, review=description?

#9095 [FLINK-13232][table-planner-blink] Correct CURRENT_DATE test to avoid timezone error
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/expressions/TemporalTypesTest.scala
Labels: component=TableSQL/Planner, review=description?

#9086 [FLINK-13219][hive] Disable tests for hadoop 2.4 profile
  .travis.yml
  flink-connectors/flink-connector-hive/pom.xml
Labels: component=Connectors/Hive, review=description?

#9009 [FLINK-13133] [docs] Fix small error in PubSub documentation
  docs/dev/connectors/pubsub.md
Labels: component=Connectors/GoogleCloudPubSub, review=description?

#9098 [FLINK-13236][table-runtime-blink] Fix bug and improve performance in TopNBuffer
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/rank/TopNBuffer.java
Labels: component=<none>, review=description?

#9107 [FLINK-13253][jdbc] Deadlock may occur in JDBCUpsertOutputFormat
  flink-connectors/flink-jdbc/src/main/java/org/apache/flink/api/java/io/jdbc/JDBCUpsertOutputFormat.java
Labels: component=Connectors/JDBC, review=description?

#9108 [FLINK-13253][jdbc] Deadlock may occur in JDBCUpsertOutputFormat
  flink-connectors/flink-jdbc/src/main/java/org/apache/flink/api/java/io/jdbc/JDBCUpsertOutputFormat.java
Labels: component=Connectors/JDBC, review=description?

#9103 [FLINK-13243][tests] Simplify exception matching
  flink-tests/src/test/java/org/apache/flink/test/state/operator/restore/AbstractOperatorRestoreTestBase.java
Labels: component=Tests, review=description?

#9023 [FLINK-13154][docs] Fix broken links of web docs
  docs/dev/connectors/pubsub.zh.md
  docs/dev/table/connect.md
  docs/dev/table/connect.zh.md
  docs/dev/table/sqlClient.md
  docs/getting-started/tutorials/local_setup.md
  docs/getting-started/tutorials/local_setup.zh.md
Labels: component=Documentation, review=description?

#9120 [FLINK-13216][FLINK-13153][table-planner-blink] Fix Max_Retract and Min_Retract may produce incorrect result
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/functions/aggfunctions/MaxWithRetractAggFunction.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/functions/aggfunctions/MinWithRetractAggFunction.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/functions/aggfunctions/AggFunctionTestBase.java
Labels: component=TableSQL/Planner, review=description?

#9127 [FLINK-13215][hive] Simply copying of classpath
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/batch/connectors/hive/FlinkStandaloneHiveRunner.java
Labels: review=description?

#9117 [FLINK-13223][dist] Enable fine-grained recovery by default in distribution
  flink-core/src/main/java/org/apache/flink/configuration/JobManagerOptions.java
  flink-dist/src/main/resources/flink-conf.yaml
  flink-end-to-end-tests/test-scripts/test_streaming_file_sink.sh
Labels: component=Runtime/Coordination, review=description?

#8990 [FLINK-13104][metrics] Updated request callback to log warning on failure
  flink-metrics/flink-metrics-datadog/src/main/java/org/apache/flink/metrics/datadog/DatadogHttpClient.java
Labels: component=Runtime/Metrics, review=description?

#7988 [FLINK-11860] Remove all the usage of deprecated unit-provided memory options in docs and scripts
  docs/ops/config.md
  docs/ops/deployment/cluster_setup.md
  docs/ops/deployment/cluster_setup.zh.md
  docs/ops/deployment/mesos.md
  docs/ops/deployment/mesos.zh.md
  flink-end-to-end-tests/test-scripts/common.sh
  flink-end-to-end-tests/test-scripts/test_heavy_deployment.sh
  flink-end-to-end-tests/test-scripts/test_high_parallelism_iterations.sh
  flink-jepsen/src/jepsen/flink/db.clj
Labels: component=Deployment/Scripts, component=Documentation, review=description?

#9144 [FLINK-13307][tests] Fix SourceStreamTaskTest test instability. (master)
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/SourceStreamTaskTest.java
Labels: review=description?

#9143 [FLINK-13307] Fix SourceStreamTaskTest test instability.
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/SourceStreamTaskTest.java
Labels: component=Tests, review=description?

#9035 [FLINK-13168] [table] clarify isBatch/isStreaming/isBounded flag in flink planner and blink planner
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/table/api/java/internal/StreamTableEnvironmentImpl.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/EnvironmentSettings.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/TableEnvironmentImpl.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/catalog/ConnectorCatalogTable.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/TableSourceQueryOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/utils/OperationTreeBuilder.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/utils/factories/AggregateOperationFactory.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/utils/factories/SetOperationFactory.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/utils/factories/SortOperationFactory.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/factories/ComponentFactoryServiceTest.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/factories/utils/TestPlannerFactory.java
  flink-table/flink-table-api-scala-bridge/src/main/scala/org/apache/flink/table/api/scala/internal/StreamTableEnvironmentImpl.scala
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/catalog/CatalogCalciteSchema.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/catalog/CatalogManagerCalciteSchema.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/catalog/DatabaseCalciteSchema.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/executor/BlinkExecutorFactory.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/operations/DataStreamQueryOperation.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/operations/RichTableSourceQueryOperation.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/BlinkPlannerFactory.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/rules/logical/PushFilterIntoTableSourceScanRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/rules/logical/PushPartitionIntoTableSourceScanRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/rules/logical/PushProjectIntoTableSourceScanRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/schema/TableSourceSinkTable.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/plan/schema/TableSourceTable.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/BatchPlanner.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/PlannerBase.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/StreamPlanner.scala
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/plan/nodes/resource/MockNodeTestBase.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/plan/nodes/resource/parallelism/FinalParallelismSetterTest.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/plan/nodes/resource/parallelism/ShuffleStageGeneratorTest.java
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/plan/batch/sql/TableSourceTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/plan/nodes/resource/ExecNodeResourceTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/plan/stream/sql/TableSourceTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/catalog/CatalogTableITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/codegen/agg/AggTestBase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/codegen/agg/AggsHandlerCodeGeneratorTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/codegen/agg/batch/BatchAggTestBase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/plan/batch/sql/TableSourceTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/plan/nodes/resource/ExecNodeResourceTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/plan/stream/sql/TableSourceTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/util/TableTestBase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/util/testTableSources.scala
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/catalog/CatalogCalciteSchema.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/catalog/CatalogManagerCalciteSchema.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/catalog/DatabaseCalciteSchema.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/executor/StreamExecutorFactory.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/StreamPlannerFactory.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/api/internal/TableEnvImpl.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/catalog/ExternalCatalogSchema.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/catalog/ExternalTableUtil.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/plan/nodes/logical/FlinkLogicalTableSourceScan.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/plan/rules/dataSet/BatchTableSourceScanRule.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/plan/rules/datastream/StreamTableSourceScanRule.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/plan/schema/TableSourceTable.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/StreamPlanner.scala
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/catalog/DatabaseCalciteSchemaTest.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/catalog/ExternalCatalogSchemaTest.scala
Labels: component=TableSQL/LegacyPlanner, component=TableSQL/Planner, review=description?

#9125 [FLINK-13275] Fix race condition in finishTask().
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/SourceStreamTask.java
Labels: component=Tests, review=description?

#9140 [FLINK-13299][travis][python] fix flink-python failed on Travis because of incompatible virtualenv
  flink-python/dev/lint-python.sh
Labels: component=<none>, review=description?

#9142 [hotfix][connector] fix typo in filters of maven shade plguin
  flink-connectors/flink-sql-connector-kafka/pom.xml
Labels: review=description?

#9128 [FLINK-13256] Ensure periodical checkpoint still valid when region failover abort pending checkpoints
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/failover/FailoverRegion.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/FailoverStrategyCheckpointCoordinatorTest.java
Labels: component=Runtime/Checkpointing, review=description?

#9138 [FLINK-13249][runtime] Fix handling of partition producer responses b…
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/PartitionProducerStateProvider.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/SingleInputGate.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskmanager/Task.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/consumer/SingleInputGateBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskmanager/TaskTest.java
Labels: component=Runtime/Network, review=description?

#9123 [FLINK-13281] Fix the verify logic of AdaptedRestartPipelinedRegionStrategyNGAbortPendingCheckpointsTest
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/AdaptedRestartPipelinedRegionStrategyNGAbortPendingCheckpointsTest.java
Labels: component=Tests, review=description?

#9078 [FLINK-13186] Remove dispatcherRetrievalService and dispatcherLeaderRetriever from RestClusterClient
  flink-clients/src/main/java/org/apache/flink/client/program/rest/RestClusterClient.java
Labels: component=Runtime/REST, review=description?

#8820 [FLINK-12916][tests] Retry cancelWithSavepoint on cancellation barrier in AbstractOperatorRestoreTestBase
  flink-tests/src/test/java/org/apache/flink/test/state/operator/restore/AbstractOperatorRestoreTestBase.java
Labels: component=Runtime/Checkpointing, component=Tests, review=description?

#9145 [FLINK-13310]: Remove shade-plugin configuration in hive-connector
  flink-connectors/flink-connector-hive/pom.xml
Labels: component=BuildSystem, component=Connectors/Hive, review=description?

#9134 [hotfix] [docs] Small fix in CLI documentation
  docs/ops/cli.md
  docs/ops/cli.zh.md
Labels: review=description?

#9190 [FLINK-13221][Table SQL / Planner][Release-1.9] Blink planner should set ScheduleMode to LAZY_FROM_SOURCES_WITH_BATCH_SLOT_REQUEST for batch jobs
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/AdaptedRestartPipelinedRegionStrategyNGFailoverTest.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/executor/BatchExecutor.java
Labels: component=TableSQL/Planner, review=description?

#9187 [FLINK-12595][kinesis] Interrupt thread at right time to avoid deadlock
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/internals/KinesisDataFetcherTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/testutils/TestableKinesisDataFetcherForShardConsumerException.java
Labels: component=Connectors/Kinesis, component=Tests, review=approved ✅

#9200 [FLINK-13369] Add failing test case for cleaning circular dependencie…
  flink-java/src/main/java/org/apache/flink/api/java/ClosureCleaner.java
  flink-java/src/test/java/org/apache/flink/api/java/functions/ClosureCleanerTest.java
Labels: component=<none>, review=description?

#9038 [FLINK-13169][tests][coordination] IT test for fine-grained recovery (task executor failures)
  flink-tests/src/test/java/org/apache/flink/test/recovery/BatchFineGrainedRecoveryITCase.java
Labels: component=Runtime/Coordination, review=description?

#9165 [FLINK-13055] [runtime] Leverage JM tracked partitions to find out unavailable partitions in …
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/ExecutionGraph.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/ExecutionGraphResultPartitionAvailabilityChecker.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/failover/AdaptedRestartPipelinedRegionStrategyNG.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/failover/flip1/ResultPartitionAvailabilityChecker.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/PartitionTracker.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/PartitionTrackerImpl.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/AdaptedRestartPipelinedRegionStrategyNGConcurrentFailoverTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/AdaptedRestartPipelinedRegionStrategyNGFailoverTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/ExecutionGraphResultPartitionAvailabilityCheckerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/NoOpPartitionTracker.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/TestingPartitionTracker.java
Labels: component=Runtime/Coordination, review=description?

#9166 [FLINK-12901][docs] Update Hadoop build instructions
  docs/flinkDev/building.md
  docs/flinkDev/building.zh.md
  docs/getting-started/tutorials/local_setup.md
  docs/getting-started/tutorials/local_setup.zh.md
Labels: component=Documentation, review=description?

#9206 [FLINK-12179][coordination] Remove legacy class Instance
  flink-runtime/src/main/java/org/apache/flink/runtime/instance/Instance.java
  flink-runtime/src/main/java/org/apache/flink/runtime/instance/InstanceDiedException.java
  flink-runtime/src/main/java/org/apache/flink/runtime/instance/SlotSharingGroupAssignment.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmanager/scheduler/CoLocationConstraint.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmanager/scheduler/SlotAvailabilityListener.java
  flink-runtime/src/test/java/org/apache/flink/runtime/instance/InstanceTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmanager/scheduler/SchedulerIsolatedTasksTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmanager/scheduler/SchedulerTestUtils.java
Labels: component=Runtime/Coordination, review=description?

#9204 [FLINK-13158] Remove WebMonitor interface from webmonitor package
  flink-runtime/src/main/java/org/apache/flink/runtime/webmonitor/WebMonitor.java
Labels: component=Runtime/REST, review=description?

#9223 [FLINK-13352][hive] Using hive connector with hive-1.2.1 needs libfb3…
  docs/dev/table/catalog.md
Labels: component=Connectors/Hive, component=Documentation, review=description?

#9238 [FLINK-13387][WebUI] Fix log download for old UI
  flink-runtime-web/web-dashboard/old-version/partials/taskmanager/taskmanager.log.html
  flink-runtime-web/web-dashboard/old-version/partials/taskmanager/taskmanager.stdout.html
Labels: component=Runtime/WebFrontend, review=description?

#9260 [hotfix] fix a typo
  docs/dev/api_concepts.md
Labels: review=description?

#9270 [hotfix][python] Change "flink-python-" to "flink-python" for the change of artifact of flink-python module
  flink-clients/src/main/java/org/apache/flink/client/program/PackagedProgram.java
Labels: review=description?

#9278 [FLINK-13488][Python] remove python 3.3/3.4 support
  flink-python/dev/lint-python.sh
  flink-python/setup.py
  flink-python/tox.ini
Labels: component=API/Python, component=TestInfrastructure, review=description?

#9286 [hotfix] Fix the master build failure
  docs/ops/cli.md
  docs/ops/cli.zh.md
  flink-dist/src/main/flink-bin/bin/pyflink-gateway-server.sh
  tools/travis_controller.sh
Labels: review=description?

#9283 [FLINK-13487][tests] Fix unstable partition lifecycle tests by ensuring TM has registered to JM before submitting task
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskExecutorPartitionLifecycleTest.java
Labels: component=Runtime/Task, component=Tests, review=description?

#9293 [FLINK-13456][build] Bump lombok to 1.16.22
  flink-core/pom.xml
Labels: component=API/TypeSerializationSystem, component=BuildSystem, component=Tests, review=description?

#9294 [FLINK-13453][build] Bump shade plugin to 3.2.1
  pom.xml
Labels: component=BuildSystem, review=description?

#9292 [FLINK-13455][build] Move jdk.tools exclusions out of dependency management
  flink-connectors/flink-connector-filesystem/pom.xml
  flink-connectors/flink-connector-hive/pom.xml
  flink-connectors/flink-hbase/pom.xml
  flink-filesystems/flink-hadoop-fs/pom.xml
  flink-fs-tests/pom.xml
  flink-yarn-tests/pom.xml
  flink-yarn/pom.xml
Labels: component=BuildSystem, review=description?
