Repository apache/flink, pull requests merged in 2020-11, with the labels that each got.

#13869 [FLINK-19908][table-planner-blink] FlinkLogicalTableSourceScan and CommonPhysicalTableSourceScan should respect source reuse config option
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/reuse/SubplanReuser.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/SubplanReuseTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/SubplanReuseTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/batch/sql/SubplanReuseTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/SubplanReuseTest.scala
Labels: component=TableSQL/Planner, review=description?

#13648 [FLINK-19632] Introduce a new ResultPartitionType for Approximate Local Recovery
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/PipelinedApproximateSubpartition.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/PipelinedApproximateSubpartitionView.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/PipelinedResultPartition.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/PipelinedSubpartition.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/PipelinedSubpartitionView.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/ResultPartition.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/ResultPartitionFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/ResultPartitionType.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/PipelinedApproximateSubpartitionTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/PipelinedApproximateSubpartitionWithReadViewTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/PipelinedSubpartitionTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/PipelinedSubpartitionWithReadViewTest.java
Labels: review=description?

#13821 [FLINK-19855][network] Specify channel AND gate in resumeConsumption()
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/CheckpointableInput.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/IndexedInputGate.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/InputGate.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/SingleInputGate.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/UnionInputGate.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskmanager/InputGateWithMetrics.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/AlignedController.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/StreamTaskSourceInput.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/AlignedControllerMassiveRandomTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/MockIndexedInputGate.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/MockInputGate.java
Labels: component=Runtime/Network, review=description?

#13858 [FLINK-19900] Fix surefire log4j configuration
  flink-connectors/flink-connector-kafka/pom.xml
  pom.xml
Labels: component=BuildSystem, review=description?

#13875 [hot-fix][table-runtime] disable unstable tests which use updatebefore time as changelog time in TemporalJoinITCas
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/TemporalJoinITCase.scala
Labels: review=description?

#13874 [FLINK-19915][cep] fix comments bug of cep test.
  flink-libraries/flink-cep/src/test/java/org/apache/flink/cep/nfa/compiler/NFACompilerTest.java
Labels: component=Library/CEP, review=description?

#13866 [FLINK-19907][network] Recover channel state before initializing operators chain
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
Labels: component=Runtime/Network, review=description?

#13863 [FLINK-19904][docs] Added information about differences between the configured heap size and the maximum heap size returned by the metric system.
  docs/monitoring/metrics.md
  docs/monitoring/metrics.zh.md
  docs/ops/memory/mem_setup.md
  docs/ops/memory/mem_setup.zh.md
Labels: component=Documentation, component=Runtime/Metrics, review=description?

#13873 [FLINK-19843][table] ParquetFsStreamingSinkITCase.testPart failed with 'Trying to access closed classloader'
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/FsStreamingSinkITCaseBase.scala
Labels: component=Formats, review=description?

#13766 [FLINK-19703][runtime] Untrack a result partition if its producer task failed in TaskManager
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/Execution.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/ExecutionGraph.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/TaskExecutionStateTransition.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/DefaultScheduler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/InternalFailuresListener.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/SchedulerBase.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/SchedulerNG.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/UpdateSchedulerNgOnInternalFailuresListener.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/ExecutionGraphDeploymentTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/ExecutionPartitionLifecycleTest.java
Labels: component=Runtime/Coordination, review=description?

#13867 [FLINK-19865] Introduce default log rotation limit for non-standalone deployments
  flink-dist/src/main/flink-bin/conf/log4j-console.properties
  flink-dist/src/main/flink-bin/conf/log4j.properties
Labels: component=Deployment/YARN, review=description?

#13789 [FLINK-19727][table-runtime] Implement ParallelismProvider for sink i…
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/table/connector/sink/SinkFunctionProvider.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/connector/sink/OutputFormatProvider.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/common/CommonPhysicalSink.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchExecSink.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamExecSink.scala
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/factories/TestValuesRuntimeFunctions.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/factories/TestValuesTableFactory.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/batch/table/TableSinkITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/table/TableSinkITCase.scala
Labels: component=TableSQL/Planner, review=description?

#13842 [FLINK-19861][document][table-planner/api] Improve functions document which are not deterministic
  docs/dev/table/functions/systemFunctions.md
  docs/dev/table/functions/systemFunctions.zh.md
Labels: component=Documentation, component=TableSQL/API, review=description?

#13857 [FLINK-16268][table-planner-blink] Failed to run rank over window wit…
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/module/hive/HiveModuleTest.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/expressions/PlannerTypeInferenceUtilImpl.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/functions/utils/HiveFunctionUtils.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/functions/utils/UserDefinedFunctionUtils.scala
Labels: component=Connectors/Hive, component=TableSQL/Planner, review=description?

#13463 [FLINK-15408][table-planner-blink]Interval join supports no equal condition
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamExecIntervalJoin.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/stream/StreamExecIntervalJoinRule.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/join/IntervalJoinTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/join/IntervalJoinTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/IntervalJoinITCase.scala
Labels: component=TableSQL/Runtime, review=description?

#13807 [FLINK-19831][coordination] Implement SlotManager#setFailUnfulfillableRequest
  flink-runtime/src/main/java/org/apache/flink/runtime/resourcemanager/slotmanager/DeclarativeSlotManager.java
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/slotmanager/DeclarativeSlotManagerTest.java
Labels: component=Runtime/Coordination, review=description?

#13899 [FLINK-19740][python] Fix to_pandas to Support EventTime in Blink Planner
  flink-python/pyflink/table/tests/test_pandas_conversion.py
  flink-python/src/main/java/org/apache/flink/table/runtime/arrow/ArrowUtils.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/sinks/SelectTableSinkSchemaConverter.java
Labels: component=API/Python, component=TableSQL/API, review=description?

#13837 [FLINK-19874][table-planner-blink] Apply JoinDeriveNullFilterRule after join reorder
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/optimize/program/FlinkBatchProgram.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/FlinkBatchRuleSets.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/join/JoinReorderTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/join/JoinReorderTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/common/JoinReorderTestBase.scala
Labels: component=TableSQL/Planner, review=description?

#13881 (1.11) [FLINK-19907][network] Recover channel state before initializing operators chain #13866
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
Labels: component=Runtime/Network, review=description?

#13861 [FLINK-19901][metrics] Fix caching offset for variables
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/groups/AbstractMetricGroup.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/AbstractMetricGroupTest.java
Labels: component=Runtime/Metrics, review=description?

#13822 [FLINK-19856][network] Emit EndOfChannelRecoveryEvent
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/channel/RecoveredChannelStateHandler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/channel/SequentialChannelStateReader.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/channel/SequentialChannelStateReaderImpl.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/buffer/Buffer.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/CheckpointedResultPartition.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/CheckpointedResultSubpartition.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/PipelinedApproximateSubpartition.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/PipelinedResultPartition.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/PipelinedSubpartition.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/EndOfChannelStateEvent.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskmanager/ConsumableNotifyingResultPartitionWriterDecorator.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/channel/SequentialChannelStateReaderImplTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/ChannelPersistenceITCase.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/CheckpointedInputGate.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/InputProcessorUtil.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/UpstreamRecoveryTracker.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/MultipleInputStreamTask.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/CheckpointedInputGateTest.java
Labels: component=Runtime/Network, review=description?

#13901 [FLINK-19948][table-planner-blink] Fix calling NOW() function throws compile exception
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/calls/BuiltInMethods.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/calls/FunctionGenerator.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/expressions/NonDeterministicTests.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/expressions/ScalarFunctionsTest.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/functions/SqlDateTimeUtils.java
Labels: component=TableSQL/Planner, review=description?

#13872 [FLINK-19873][Formats/json]Skip DDL change events for Canal data
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/canal/CanalJsonDeserializationSchema.java
  flink-formats/flink-json/src/test/resources/canal-data.txt
Labels: component=Formats, component=TableSQL/Ecosystem, review=description?

#13851 [FLINK-19891][table-planner-blink] ScalarOperatorGens should generate…
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/calls/ScalarOperatorGens.scala
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/runtime/stream/sql/FunctionITCase.java
Labels: component=TableSQL/Planner, review=description?

#13913 [BP-1.11][FLINK-19948][table-planner-blink] Fix calling NOW() function throws compile exception
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/calls/BuiltInMethods.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/calls/FunctionGenerator.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/expressions/NonDeterministicTests.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/expressions/ScalarFunctionsTest.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/functions/SqlDateTimeUtils.java
Labels: component=TableSQL/Planner, review=description?

#13631 [FLINK-19639][table sql/planner]Support SupportsNestedProjectionPushD…
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/utils/DataTypeUtils.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/utils/TableSchemaUtils.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/types/utils/DataTypeUtilsTest.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/utils/TableSchemaUtilsTest.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/rules/logical/PushProjectIntoTableSourceScanRule.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/logical/PushProjectIntoLegacyTableSourceScanRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/utils/NestedProjectionUtil.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/utils/RexNodeExtractor.scala
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/factories/TestValuesTableFactory.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/plan/rules/logical/PushProjectIntoTableSourceScanRuleTest.java
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/TableSourceTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/rules/logical/PushProjectIntoTableSourceScanRuleTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/TableSourceTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/batch/sql/TableSourceTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/TableSourceTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/utils/NestedProjectionUtilTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/utils/RexNodeExtractorTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/utils/RexNodeRewriterTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/utils/RexNodeTestBase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/TableSourceITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/TableSourceITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/utils/TestData.scala
Labels: component=TableSQL/Planner, review=description?

#13792 [FLINK-19809][coordination] Add DeclareResourceRequirementServiceConnectionManager
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/ServiceConnectionManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/slotpool/AbstractServiceConnectionManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/slotpool/DeclareResourceRequirementServiceConnectionManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/slotpool/DefaultDeclareResourceRequirementServiceConnectionManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/slotpool/NoOpDeclareResourceRequirementServiceConnectionManager.java
  flink-runtime/src/test/java/org/apache/flink/runtime/concurrent/ManuallyTriggeredScheduledExecutor.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/slotpool/AbstractServiceConnectionManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/slotpool/DefaultDeclareResourceRequirementServiceConnectionManagerTest.java
Labels: component=Runtime/Coordination, review=description?

#13829 [FLINK-19862][coordination] Check for null
  flink-runtime/src/main/java/org/apache/flink/runtime/resourcemanager/slotmanager/DeclarativeSlotManager.java
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/slotmanager/DeclarativeSlotManagerTest.java
Labels: component=Runtime/Coordination, review=description?

#13919 [FLINK-19960][table] Introduce PartitionFieldExtractor to extract partition field from split
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/ParquetColumnarRowInputFormat.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/ParquetFileSystemFormatFactory.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/ParquetVectorizedInputFormat.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/vector/ColumnBatchFactory.java
  flink-formats/flink-parquet/src/test/java/org/apache/flink/formats/parquet/ParquetColumnarRowInputFormatTest.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/PartitionFieldExtractor.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/PartitionValueConverter.java
Labels: component=TableSQL/Runtime, review=description?

#13914 [FLINK-19890][table][fs-connector] Introduce LimitableBulkFormat to wrap BulkFormat when limit pushed down
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/connector/format/BulkDecodingFormat.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/FileSystemTableSource.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/LimitableBulkFormat.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/filesystem/LimitableBulkFormatTest.java
Labels: component=TableSQL/Runtime, review=description?

#13922 [hotfix] Fix dependency version of flink-test-utils
  flink-connectors/flink-connector-files/pom.xml
Labels: review=description?

#13902 [FLINK-19941][Connectors / Kafka]Support sink parallelism configuration to Kafka connector
  docs/dev/table/connectors/kafka.md
  docs/dev/table/connectors/kafka.zh.md
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/streaming/connectors/kafka/table/KafkaDynamicSink.java
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/streaming/connectors/kafka/table/KafkaDynamicTableFactory.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/KafkaDynamicTableFactoryTest.java
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/table/connector/sink/SinkFunctionProvider.java
Labels: component=Connectors/Kafka, review=description?

#13915 [FLINK-19365][hive] Migrate Hive source to FLIP-27 source interface f…
  flink-connectors/flink-connector-hive/pom.xml
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveParallelismInference.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveSource.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveSourceFileEnumerator.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveSourceSplitSerializer.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSource.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HiveBulkFormatAdapter.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HiveSourceSplit.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HiveTableInputFormat.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/module/hive/HiveModuleFactoryTest.java
Labels: component=Connectors/Hive, review=description?

#13894 [FLINK-18117][e2e] Dynamically allocate port causing test instabilities
  flink-end-to-end-tests/test-scripts/docker-hadoop-secure-cluster/Dockerfile
  flink-end-to-end-tests/test-scripts/docker-hadoop-secure-cluster/config/hdfs-site.xml
Labels: component=Deployment/YARN, review=description?

#13928 [hotfix] Do not emit EndOfChannelRecoveryEvent for Approximate Local …
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/PipelinedApproximateSubpartition.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/ChannelPersistenceITCase.java
Labels: review=description?

#13929 [FLINK-17295] Make ExecutionAttemptID random again
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/runtime/SavepointEnvironment.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/Execution.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/ExecutionAttemptID.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/netty/NettyMessage.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/JobMasterTest.java
Labels: component=<none>, review=description?

#13934 [FLINK-19986] Skip license check for scala 2.12 profile
  tools/ci/compile.sh
Labels: component=BuildSystem, review=description?

#13331 [FLINK-19079][table-runtime] Import rowtime deduplicate operator
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdUniqueKeys.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamExecChangelogNormalize.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamExecDeduplicate.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/optimize/program/FlinkChangelogModeInferenceProgram.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/stream/StreamExecDeduplicateRule.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/rules/physical/stream/ChangelogModeInferenceTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/DeduplicateTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/RankTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/join/TemporalJoinTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdColumnUniquenessTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdHandlerTestBase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdModifiedMonotonicityTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdUniqueKeysTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/DeduplicateTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/RankTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/DeduplicateITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/TemporalJoinITCase.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/deduplicate/DeduplicateFunctionBase.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/deduplicate/DeduplicateFunctionHelper.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/deduplicate/MiniBatchDeduplicateFunctionBase.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/deduplicate/ProcTimeDeduplicateKeepFirstRowFunction.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/deduplicate/ProcTimeDeduplicateKeepLastRowFunction.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/deduplicate/ProcTimeMiniBatchDeduplicateKeepFirstRowFunction.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/deduplicate/ProcTimeMiniBatchDeduplicateKeepLastRowFunction.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/deduplicate/RowTimeDeduplicateFunction.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/deduplicate/RowTimeMiniBatchDeduplicateFunction.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/deduplicate/ProcTimeDeduplicateFunctionTestBase.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/deduplicate/ProcTimeDeduplicateKeepFirstRowFunctionTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/deduplicate/ProcTimeDeduplicateKeepLastRowFunctionTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/deduplicate/ProcTimeMiniBatchDeduplicateKeepFirstRowFunctionTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/deduplicate/ProcTimeMiniBatchDeduplicateKeepLastRowFunctionTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/deduplicate/RowTimeDeduplicateFunctionTest.java
Labels: component=TableSQL/Runtime, review=description?

#13938 [FLINK-19987] Fix Hbase1.4 tests on Hadoop 3.1.3
  flink-connectors/flink-connector-hbase-1.4/pom.xml
Labels: component=Connectors/HBase, review=description?

#13925 [FLINK-19868][csv] Csv Serialization schema contains line delimiter
  docs/dev/table/connectors/formats/csv.md
  docs/dev/table/connectors/formats/csv.zh.md
  flink-formats/flink-csv/src/main/java/org/apache/flink/formats/csv/CsvFileSystemFormatFactory.java
  flink-formats/flink-csv/src/main/java/org/apache/flink/formats/csv/CsvFormatFactory.java
  flink-formats/flink-csv/src/main/java/org/apache/flink/formats/csv/CsvOptions.java
  flink-formats/flink-csv/src/main/java/org/apache/flink/formats/csv/CsvRowDataSerializationSchema.java
  flink-formats/flink-csv/src/test/java/org/apache/flink/formats/csv/CsvFormatFactoryTest.java
  flink-formats/flink-csv/src/test/java/org/apache/flink/formats/csv/CsvRowDataSerDeSchemaTest.java
Labels: component=Formats, review=description?

#13587 [FLINK-18004][docs] Update checkpoint UI related pictures in documentation
  docs/fig/checkpoint_monitoring-details.png
  docs/fig/checkpoint_monitoring-details_subtasks.png
  docs/fig/checkpoint_monitoring-details_summary.png
  docs/fig/checkpoint_monitoring-history.png
  docs/fig/checkpoint_monitoring-summary.png
Labels: component=Documentation, review=description?

#13859 [FLINK-19902][coordination][tests] Adjust JobMasterTest to be compatible with declarative resource management
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/JobMasterTest.java
Labels: component=Runtime/Coordination, component=Tests, review=description?

#13601 [FLINK-19431][docs]Translate "Monitoring REST API" page of "Debugging & Monitoring" into Chinese
  docs/monitoring/rest_api.zh.md
Labels: component=Documentation, component=chinese-translation, review=description?

#13897 [FLINK-19939][table-planner-blink] Remove redundant union from multiple input node
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/processors/MultipleInputNodeCreationProcessor.java
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/DagOptimizationTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/MultipleInputCreationTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/RemoveShuffleTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/agg/GroupingSetsTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/batch/sql/MultipleInputCreationTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/batch/sql/agg/GroupingSetsTest.scala
Labels: component=TableSQL/Planner, review=description?

#13940 [FLINK-18546] Upgrade to Kafka Schema Registry Client 5.5.2
  docs/dev/table/connectors/formats/avro-confluent.md
  flink-end-to-end-tests/flink-confluent-schema-registry/pom.xml
  flink-formats/flink-avro-confluent-registry/pom.xml
  flink-formats/flink-avro-confluent-registry/src/main/resources/META-INF/NOTICE
  flink-formats/flink-sql-avro-confluent-registry/pom.xml
  flink-formats/flink-sql-avro-confluent-registry/src/main/resources/META-INF/NOTICE
  flink-formats/flink-sql-avro-confluent-registry/src/main/resources/META-INF/licenses/LICENSE.jakarta-annotation-api
  flink-formats/flink-sql-avro-confluent-registry/src/main/resources/META-INF/licenses/LICENSE.jakarta-inject
  flink-formats/flink-sql-avro-confluent-registry/src/main/resources/META-INF/licenses/LICENSE.jakarta-ws-rs-api
  flink-formats/flink-sql-avro-confluent-registry/src/main/resources/META-INF/licenses/LICENSE.osgi-resource-locator
  flink-formats/pom.xml
Labels: component=Formats, review=description?

#13939 [FLINK-19992][hive] Integrate new orc to Hive source
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HiveBulkFormatAdapter.java
  flink-formats/flink-orc-nohive/src/main/java/org/apache/flink/orc/nohive/OrcNoHiveColumnarRowInputFormat.java
Labels: component=Connectors/Hive, review=description?

#13449 [FLINK-19282][table sql/planner]Supports watermark push down with Wat…
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/rules/logical/ProjectWatermarkAssignerTransposeRule.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/rules/logical/PushProjectIntoTableSourceScanRule.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/rules/logical/PushWatermarkIntoTableSourceScanAcrossCalcRule.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/rules/logical/PushWatermarkIntoTableSourceScanRule.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/rules/logical/PushWatermarkIntoTableSourceScanRuleBase.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/sources/DynamicSourceUtils.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/ExprCodeGenerator.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/WatermarkGeneratorCodeGenerator.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/calls/ScalarOperatorGens.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/FlinkStreamRuleSets.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/utils/NestedProjectionUtil.scala
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/factories/TestValuesRuntimeFunctions.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/factories/TestValuesTableFactory.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/plan/rules/logical/ProjectWatermarkAssignerTransposeRuleTest.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/plan/rules/logical/PushWatermarkIntoTableSourceScanRuleTest.java
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/catalog/JavaCatalogTableTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/rules/logical/ProjectWatermarkAssignerTransposeRuleTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/rules/logical/PushWatermarkIntoTableSourceScanRuleTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/MiniBatchIntervalInferTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/SourceWatermarkTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/TableSourceTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/join/TemporalJoinTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/table/TableSourceTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/codegen/WatermarkGeneratorCodeGenTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/SourceWatermarkTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/SourceWatermarkITCase.scala
Labels: component=TableSQL/Planner, review=description?

#13937 [FLINK-19886][hive] Integrate file compaction to Hive connector
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveDynamicTableFactory.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSink.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSource.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HiveCompactReaderFactory.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/util/HivePartitionUtils.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveSinkCompactionITCase.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/runtime/stream/sql/CompactionITCaseBase.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/runtime/stream/sql/FileCompactionITCaseBase.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/FileSystemTableSink.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/stream/compact/CompactBulkReader.java
Labels: component=Connectors/Hive, review=description?

#13729 [FLINK-19644][hive] Support read latest partition of Hive table in temporal join
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/ConsumeOrder.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveDynamicTableFactory.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveLookupTableSource.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSource.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/DirectoryMonitorDiscovery.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HiveContinuousMonitoringFunction.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HiveContinuousPartitionFetcher.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HiveInputFormatPartitionReader.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HivePartitionFetcherContextBase.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HiveTableInputFormat.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/PartitionDiscovery.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/util/HivePartitionUtils.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDynamicTableFactoryTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveLookupJoinITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTableSourceITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTemporalJoinITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/read/DirectoryMonitorDiscoveryTest.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/ContinuousPartitionFetcher.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/FileSystemLookupFunction.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/FileSystemOptions.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/PartitionFetcher.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/PartitionReader.java
Labels: component=Connectors/Hive, component=TableSQL/Ecosystem, review=description?

#13931 [FLINK-19811][table-planner] Introduce RexSimplify to simplify SEARCH conditions
  flink-table/flink-table-planner-blink/src/main/java/org/apache/calcite/rex/RexSimplify.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/utils/FlinkRexUtilTest.scala
  flink-table/flink-table-planner/src/main/java/org/apache/calcite/rex/RexSimplify.java
Labels: component=TableSQL/Planner, review=description?

#13944 [FLINK-20002] Add a StreamExecutionEnvironment#getExecutionEnvironment(Configuration) method
  flink-clients/src/main/java/org/apache/flink/client/program/StreamContextEnvironment.java
  flink-clients/src/main/java/org/apache/flink/client/program/StreamPlanEnvironment.java
  flink-scala-shell/src/main/java/org/apache/flink/api/java/ScalaShellStreamEnvironment.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/environment/LocalStreamEnvironment.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/environment/StreamExecutionEnvironment.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/environment/StreamExecutionEnvironmentFactory.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/environment/StreamExecutionEnvironmentComplexConfigurationTest.java
  flink-test-utils-parent/flink-test-utils/src/main/java/org/apache/flink/streaming/util/TestStreamEnvironment.java
  flink-tests/src/test/java/org/apache/flink/api/datastream/DataStreamBatchExecutionITCase.java
Labels: component=API/DataStream, review=description?

#13975 [FLINK-20041][connector kafka] Support watermark push down for kafka …
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/streaming/connectors/kafka/table/KafkaDynamicSource.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/KafkaTableITCase.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/UpsertKafkaTableITCase.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/factories/TestValuesRuntimeFunctions.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/factories/TestValuesTableFactory.java
Labels: component=Connectors/Kafka, component=TableSQL/API, review=description?

#13976 [FLINK-20037][Table SQL / API]update comment problem in fromValues(AbstractDataType<?> rowType, Obj…
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/TableEnvironment.java
Labels: component=TableSQL/API, review=description?

#13942 [FLINK-19990][table-planner-blink] MultipleInputNodeCreationProcessor#isChainableSource now considers DataStreamScanProvider
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/processors/MultipleInputNodeCreationProcessor.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/factories/TestFileSourceFactory.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/plan/processors/MultipleInputNodeCreationProcessorTest.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/batch/sql/MultipleInputCreationTest.scala
Labels: component=<none>, review=description?

#13963 [FLINK-19888][hive] Migrate Hive source to FLIP-27 source interface for streaming
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/src/AbstractFileSource.java
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/src/ContinuousEnumerationSettings.java
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/src/PendingSplitsCheckpoint.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/ContinuousHivePendingSplitsCheckpoint.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/ContinuousHivePendingSplitsCheckpointSerializer.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/ContinuousHiveSplitEnumerator.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveSource.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSource.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HiveContinuousMonitoringFunction.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HiveContinuousPartitionFetcher.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/ContinuousPartitionFetcher.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/PartitionFetcher.java
Labels: component=Connectors/Hive, review=description?

#13776 [FLINK-19717][connectors/common] Fix spurious InputStatus.END_OF_INPUT from SourceReaderBase.pollNext caused by split reader exception
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/reader/SourceReaderBase.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/reader/fetcher/SplitFetcher.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/reader/fetcher/SplitFetcherManager.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/reader/SourceReaderBaseTest.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/reader/fetcher/SplitFetcherTest.java
Labels: component=Connectors/Common, review=description?

#13616 [FLINK-18570][hbase] improve log and exception message for hbase e2e test
  flink-connectors/flink-connector-hbase-1.4/src/main/java/org/apache/flink/connector/hbase1/source/AbstractTableInputFormat.java
  flink-connectors/flink-connector-hbase-2.2/src/main/java/org/apache/flink/connector/hbase2/source/AbstractTableInputFormat.java
Labels: component=Connectors/HBase, component=TableSQL/Ecosystem, review=description?

#13993 [hotfix][hbase] Add missed ITCase in hbase2 connector
  flink-connectors/flink-connector-hbase-1.4/src/test/java/org/apache/flink/connector/hbase1/HBaseConnectorITCase.java
  flink-connectors/flink-connector-hbase-2.2/src/test/java/org/apache/flink/connector/hbase2/HBaseConnectorITCase.java
Labels: review=description?

#13214 [FLINK-18938][tableSQL/API] Throw better exception message for quering sink-only connector
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/factories/FactoryUtil.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/factories/FactoryUtilTest.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/factories/TestDynamicTableSinkOnlyFactory.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/factories/TestDynamicTableSourceOnlyFactory.java
  flink-table/flink-table-common/src/test/resources/META-INF/services/org.apache.flink.table.factories.Factory
Labels: component=<none>, review=description?

#13048 [FLINK-18755][docs-zh] RabbitMQ QoS Chinese Documentation
  docs/dev/connectors/rabbitmq.zh.md
Labels: component=Connectors/RabbitMQ, component=chinese-translation, review=description?

#13280 [FLINK-18070][table-planner-blink] Don't materialize time attribute in SubGraphOptimize
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/optimize/StreamCommonSubGraphBasedOptimizer.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/RelTimeIndicatorConverterTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/RelTimeIndicatorConverterTest.scala
Labels: component=TableSQL/Planner, review=description?

#13927 [FLINK-19972][serialization] add more hints in case of serializer incompatbilities
  flink-runtime/src/main/java/org/apache/flink/runtime/state/heap/HeapKeyedStateBackend.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/heap/HeapRestoreOperation.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBKeyedStateBackend.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/restore/AbstractRocksDBRestoreOperation.java
Labels: component=Runtime/StateBackends, review=description?

#13750 [FLINK-19394][docs-zh] Translate the 'Monitoring Checkpointing' page of 'Debugging & Monitoring' into Chinese
  docs/monitoring/checkpoint_monitoring.zh.md
Labels: component=Documentation, component=chinese-translation, review=description?

#13999 [FLINK-19436][tests] Properly shutdown cluster in e2e tests
  flink-end-to-end-tests/test-scripts/common.sh
  flink-end-to-end-tests/test-scripts/test_batch_sql.sh
  flink-end-to-end-tests/test-scripts/test_streaming_sql.sh
  flink-end-to-end-tests/test-scripts/test_tpcds.sh
Labels: component=TableSQL/Planner, component=Tests, review=description?

#13996 [FLINK-19882][e2e] Properly forward exit code in test
  flink-end-to-end-tests/test-scripts/test_local_recovery_and_scheduling.sh
Labels: component=Connectors/HBase, review=description?

#13961 [FLINK-20023][docs] Remove note about downloading hadoop-specific Flink distribution
  docs/ops/deployment/cluster_setup.md
  docs/ops/deployment/cluster_setup.zh.md
Labels: component=Documentation, review=description?

#14016 [FLINK-20069][build] Fix docs_404_check
  tools/ci/docs.sh
Labels: component=BuildSystem, review=description?

#14008 [FLINK-20013][network] BoundedBlockingSubpartition may leak network buffer if task is failed or canceled
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/BoundedBlockingSubpartition.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/BoundedBlockingSubpartitionTest.java
Labels: component=Runtime/Network, review=description?

#13972 [FLINK-19912][json] Fix JSON format fails to serialize map value with…
  docs/dev/table/connectors/formats/canal.md
  docs/dev/table/connectors/formats/canal.zh.md
  docs/dev/table/connectors/formats/debezium.md
  docs/dev/table/connectors/formats/debezium.zh.md
  docs/dev/table/connectors/formats/json.md
  docs/dev/table/connectors/formats/json.zh.md
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/JsonFormatFactory.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/JsonOptions.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/JsonRowDataSerializationSchema.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/RowDataToJsonConverters.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/canal/CanalJsonFormatFactory.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/canal/CanalJsonOptions.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/canal/CanalJsonSerializationSchema.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/debezium/DebeziumJsonFormatFactory.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/debezium/DebeziumJsonOptions.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/debezium/DebeziumJsonSerializationSchema.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/maxwell/MaxwellJsonFormatFactory.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/maxwell/MaxwellJsonOptions.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/maxwell/MaxwellJsonSerializationSchema.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/JsonFormatFactoryTest.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/JsonRowDataSerDeSchemaTest.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/canal/CanalJsonFormatFactoryTest.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/canal/CanalJsonSerDeSchemaTest.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/debezium/DebeziumJsonFormatFactoryTest.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/debezium/DebeziumJsonSerDeSchemaTest.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/maxwell/MaxwellJsonFormatFactoryTest.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/maxwell/MaxwellJsonSerDerTest.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/data/GenericMapData.java
Labels: component=Formats, review=description?

#13997 [FLINK-20058][kafka connector] Improve tests for per-partition-waterm…
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/KafkaTableITCase.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/UpsertKafkaTableITCase.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/factories/TestValuesRuntimeFunctions.java
Labels: component=Connectors/Kafka, component=TableSQL/API, review=description?

#13990 [FLINK-20053][table][doc] Add document for file compaction
  docs/dev/table/connectors/filesystem.md
  docs/dev/table/connectors/filesystem.zh.md
Labels: component=Documentation, component=TableSQL/API, review=description?

#14023 [FLINK-19964][network] Avoid proactively pulling segments in destroyed LocalBufferPool.
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/buffer/LocalBufferPool.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/buffer/LocalBufferPoolTest.java
Labels: component=Library/GraphProcessing(Gelly), component=Runtime/Network, component=Tests, review=description?

#13992 [FLINK-20035][tests] Use random port for rest endpoint in BlockingShuffleITCase and ShuffleCompressionITCase
  flink-tests/src/test/java/org/apache/flink/test/runtime/JobGraphRunningUtil.java
Labels: component=Runtime/Network, review=description?

#13965 [FLINK-20018] Allow escaping in 'pipeline.cached-files' and 'pipeline.default-kryo-serializers'
  flink-core/src/main/java/org/apache/flink/api/common/ExecutionConfig.java
  flink-core/src/main/java/org/apache/flink/api/common/cache/DistributedCache.java
  flink-core/src/main/java/org/apache/flink/configuration/ConfigurationUtils.java
  flink-core/src/main/java/org/apache/flink/configuration/StructuredOptionsSplitter.java
  flink-core/src/test/java/org/apache/flink/configuration/StructuredOptionsSplitterTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/environment/StreamExecutionEnvironmentComplexConfigurationTest.java
Labels: component=Runtime/Configuration, review=description?

#14024 [FLINK-20079][task] Fix StreamTask initialization order
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/UnalignedCheckpointITCase.java
Labels: component=Runtime/Task, review=description?

#14025 (backport to 1.11) [FLINK-20079][task] Fix StreamTask initialization order
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
Labels: component=Runtime/Task, review=description?

#13834 [FLINK-19872][csv] Fix CSV format is unable to parse millisecond for TIME type
  flink-formats/flink-csv/src/main/java/org/apache/flink/formats/csv/CsvToRowDataConverters.java
  flink-formats/flink-csv/src/main/java/org/apache/flink/formats/csv/RowDataToCsvConverters.java
  flink-formats/flink-csv/src/test/java/org/apache/flink/formats/csv/CsvRowDataSerDeSchemaTest.java
Labels: component=Formats, component=TableSQL/Ecosystem, review=description?

#13974 [hotfix][doc] Fix a concurrent issue in testing.md
  docs/dev/stream/testing.md
  docs/dev/stream/testing.zh.md
Labels: review=description?

#14029 [FLINK-20084][planner] Fix NPE when generating watermark for record w…
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/rules/logical/PushWatermarkIntoTableSourceScanRuleBase.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/SourceWatermarkITCase.scala
Labels: component=TableSQL/Planner, review=description?

#14018 [FLINK-20077] Fix creating a view with MATCH_RECOGNIZE clause
  flink-table/flink-table-planner-blink/src/main/java/org/apache/calcite/sql/SqlMatchRecognize.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/operations/SqlToOperationConverterTest.java
Labels: component=TableSQL/Planner, review=description?

#14047 [FLINK-19914][table-planner] fix unstable test TemporalJoinITCase.testEventTimeTemoralJoinChangelogUsingBeforeTime
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/TemporalJoinITCase.scala
Labels: component=TableSQL/Planner, review=description?

#14045 [BP-1.11][FLINK-20013][network] BoundedBlockingSubpartition may leak network buffer if task is failed or canceled
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/BoundedBlockingSubpartition.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/BoundedBlockingSubpartitionTest.java
Labels: component=Runtime/Network, review=description?

#14046 [BP-1.10][FLINK-20013][network] BoundedBlockingSubpartition may leak network buffer if task is failed or canceled
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/BoundedBlockingSubpartition.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/BoundedBlockingSubpartitionTest.java
Labels: component=Runtime/Network, review=description?

#14050 [BP-1.11][FLINK-19433] [docs][table] Correct example of FROM_UNIXTIME function…
  docs/dev/table/functions/systemFunctions.md
  docs/dev/table/functions/systemFunctions.zh.md
Labels: component=Documentation, component=TableSQL/API, review=description?

#14058 [FLINK-20139][dispatcher] Enrich logs when MiniDispatcher shutting down
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/MiniDispatcher.java
Labels: component=Runtime/Coordination, review=description?

#14073 [FLINK-20145][task] Don't expose modifiable PrioritizedDeque.iterator
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/PrioritizedDeque.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/UnionInputGate.java
Labels: component=Runtime/Checkpointing, component=Runtime/Network, review=description?

#14072 [FLINK-16753][checkpointing] Use CheckpointException to wrap exceptio…
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointFailureManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointFailureReason.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/AsyncCheckpointRunnable.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/AsyncCheckpointRunnableTest.java
Labels: component=Runtime/Checkpointing, review=description?

#14071 [FLINK-16753] Use CheckpointException to wrap exceptions thrown from AsyncCheckpointRnnable
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointFailureManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointFailureReason.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTest.java
Labels: component=Runtime/Checkpointing, review=description?

#14062 [FLINK-17470] Send sigkill to hanging processes in standalone scripts
  flink-dist/src/main/flink-bin/bin/flink-daemon.sh
Labels: component=Runtime/Coordination, review=description?

#14078 [FLINK-20169] Move emitting MAX_WATERMARK out of the SourceOperator processing loop
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/SourceOperator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/SourceOperatorStreamTask.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/SourceOperatorTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/source/SourceOperatorEventTimeTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/SourceOperatorStreamTaskTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskMailboxTestHarness.java
Labels: component=Runtime/Task, review=description?

#14033 [FLINK-19979][e2e] Add sanity check after bash e2e tests for no leftovers
  flink-end-to-end-tests/run-nightly-tests.sh
  flink-end-to-end-tests/test-scripts/common.sh
  flink-end-to-end-tests/test-scripts/kafka-common.sh
  flink-end-to-end-tests/test-scripts/test-runner-common.sh
  tools/azure-pipelines/e2e_uploading_watchdog.sh
Labels: component=TestInfrastructure, review=description?

#14032 [FLINK-19863][tests] check hbase has been ready before use it
  flink-end-to-end-tests/flink-end-to-end-tests-hbase/src/main/java/org/apache/flink/tests/util/hbase/LocalStandaloneHBaseResource.java
Labels: component=Connectors/HBase, review=description?

#13865 [FLINK-19906][table-planner] Fix incorrect result when compare two binary fields
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/calls/ScalarOperatorGens.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/expressions/ScalarOperatorsTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/expressions/SqlExpressionTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/expressions/utils/ScalarOperatorsTestBase.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/functions/SqlFunctionUtils.java
Labels: component=TableSQL/Planner, review=description?

#14017 [FLINK-19859][document] Add document for the upsert-kafka connector
  docs/_data/sql-connectors.yml
  docs/dev/table/connectors/blackhole.md
  docs/dev/table/connectors/blackhole.zh.md
  docs/dev/table/connectors/datagen.md
  docs/dev/table/connectors/datagen.zh.md
  docs/dev/table/connectors/elasticsearch.md
  docs/dev/table/connectors/elasticsearch.zh.md
  docs/dev/table/connectors/filesystem.md
  docs/dev/table/connectors/filesystem.zh.md
  docs/dev/table/connectors/hbase.md
  docs/dev/table/connectors/hbase.zh.md
  docs/dev/table/connectors/jdbc.md
  docs/dev/table/connectors/jdbc.zh.md
  docs/dev/table/connectors/kafka.md
  docs/dev/table/connectors/kafka.zh.md
  docs/dev/table/connectors/kinesis.md
  docs/dev/table/connectors/kinesis.zh.md
  docs/dev/table/connectors/print.md
  docs/dev/table/connectors/print.zh.md
  docs/dev/table/connectors/upsert-kafka.md
  docs/dev/table/connectors/upsert-kafka.zh.md
Labels: component=Connectors/Kafka, component=Documentation, review=description?

#14075 [FLINK-20163][docs-zh] Translate page "raw format" into Chinese
  docs/dev/table/connectors/formats/raw.zh.md
Labels: component=Documentation, component=Formats, component=chinese-translation, review=description?

#13790 [FLINK-19806][runtime] Harden DefaultScheduler for concurrent suspending and failing
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/ExecutionGraph.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/ExecutionGraphSuspendTest.java
Labels: component=<none>, review=description?

#12957 [FLINK-18500][table] Make the legacy planner exception more clear whe…
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/ParserImpl.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/sqlexec/SqlToOperationConverterTest.java
Labels: component=TableSQL/API, review=description?

#14091 [FLINK-20142][doc] Update the document for CREATE TABLE LIKE that sou…
  docs/dev/table/sql/create.md
  docs/dev/table/sql/create.zh.md
Labels: component=Documentation, component=TableSQL/API, review=description?

#14090 [BP-1.11][FLINK-19906][table-planner-blink] Fix incorrect result when compare …
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/calls/ScalarOperatorGens.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/expressions/ScalarOperatorsTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/expressions/SqlExpressionTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/expressions/utils/ScalarOperatorsTestBase.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/functions/SqlFunctionUtils.java
Labels: component=TableSQL/Planner, review=description?

#14095 [FLINK-18500][table] Make the legacy planner exception more clear whe…
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/ParserImpl.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/sqlexec/SqlToOperationConverterTest.java
Labels: component=TableSQL/API, review=description?

#14093 [FLINK-18500][table] Make the legacy planner exception more clear whe…
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/ParserImpl.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/sqlexec/SqlToOperationConverterTest.java
Labels: component=TableSQL/API, review=description?

#14051 [FLINK-20107][network] Make InputChannel.statePersister immutable
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/api/reader/AbstractRecordReader.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/ChannelStatePersister.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/LocalInputChannel.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/LocalRecoveredInputChannel.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/RemoteInputChannel.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/RemoteRecoveredInputChannel.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/UnknownInputChannel.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/netty/CreditBasedPartitionRequestClientHandlerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/InputChannelTestUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/PartialConsumePipelinedResultTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/consumer/InputChannelBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/consumer/LocalInputChannelTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/consumer/SingleInputGateBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/consumer/SingleInputGateTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/UnalignedControllerTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/benchmark/SingleInputGateBenchmarkFactory.java
Labels: component=Runtime/Checkpointing, component=Runtime/Network, review=description?

#14097 [FLINK-20028][table-planner-blink] FileCompactionITCase is unstable
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/runtime/utils/ParallelFiniteTestSource.java
Labels: component=Connectors/FileSystem, component=TableSQL/Ecosystem, review=description?

#14102 [FLINK-19635][hbase] Fix HBaseConnectorITCase.testTableSourceSinkWithDDL is unstable with a result mismatch
  flink-connectors/flink-connector-hbase-1.4/src/test/java/org/apache/flink/connector/hbase1/util/HBaseTestingClusterAutoStarter.java
  flink-connectors/flink-connector-hbase-2.2/src/test/java/org/apache/flink/connector/hbase2/util/HBaseTestingClusterAutoStarter.java
Labels: component=Connectors/HBase, review=description?

#13933 [FLINK-19946][Connectors / HBase]Support sink parallelism configuration for Hbase connector
  docs/dev/table/connectors/hbase.md
  docs/dev/table/connectors/hbase.zh.md
  flink-connectors/flink-connector-hbase-1.4/src/main/java/org/apache/flink/connector/hbase1/HBase1DynamicTableFactory.java
  flink-connectors/flink-connector-hbase-1.4/src/main/java/org/apache/flink/connector/hbase1/sink/HBaseDynamicTableSink.java
  flink-connectors/flink-connector-hbase-1.4/src/test/java/org/apache/flink/connector/hbase1/HBaseDynamicTableFactoryTest.java
  flink-connectors/flink-connector-hbase-2.2/src/main/java/org/apache/flink/connector/hbase2/HBase2DynamicTableFactory.java
  flink-connectors/flink-connector-hbase-2.2/src/main/java/org/apache/flink/connector/hbase2/sink/HBaseDynamicTableSink.java
  flink-connectors/flink-connector-hbase-2.2/src/test/java/org/apache/flink/connector/hbase2/HBaseDynamicTableFactoryTest.java
  flink-connectors/flink-connector-hbase-base/src/main/java/org/apache/flink/connector/hbase/options/HBaseWriteOptions.java
Labels: component=Connectors/HBase, review=description?

#14086 [hotfix][docs]fix_docs_typo
  docs/dev/table/functions/udfs.md
  docs/dev/table/functions/udfs.zh.md
Labels: review=description?

#14117 [BP-1.11][FLINK-20200][table-planner] Fix SQL Hints is not allowed in CREATE VIEW syntax
  flink-table/flink-table-planner-blink/src/main/java/org/apache/calcite/sql/SqlTableRef.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/operations/SqlToOperationConverterTest.java
Labels: component=TableSQL/Planner, review=description?

#13998 [FLINK-20062][hive] ContinuousHiveSplitEnumerator should be lock-free
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/ContinuousHiveSplitEnumerator.java
Labels: component=Connectors/Hive, review=description?

#14125 [FLINK-20218][python] Import urllib.parse before importing apache-beam
  flink-python/pyflink/fn_execution/boot.py
  flink-python/pyflink/fn_execution/sdk_worker_main.py
Labels: component=API/Python, review=description?

#14105 [FLINK-20187][table-common] Fix factory discovering fails when source and sink factories are not implemented in one class
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/factories/FactoryUtil.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/factories/FactoryUtilTest.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/factories/TestDynamicTableSinkFactory.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/factories/TestDynamicTableSourceFactory.java
  flink-table/flink-table-common/src/test/resources/META-INF/services/org.apache.flink.table.factories.Factory
Labels: component=TableSQL/API, review=description?

#14136 [FLINK-17943][hive] HiveFunctionWrapper#getUDFClass should use Thread…
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/functions/hive/HiveFunctionWrapper.java
Labels: component=Connectors/Hive, review=description?

#14138 [FLINK-20243][docs]Remove useless words in documents
  docs/ops/cli.md
  docs/ops/cli.zh.md
Labels: component=Documentation, review=description?

#14052 [FLINK-20030][network] Rewrite RemoteInputChannel#getInflightBuffersUnsafe to use sequence numbers
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/ChannelStatePersister.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/RemoteInputChannel.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/consumer/ChannelStatePersisterTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/consumer/RemoteInputChannelTest.java
Labels: component=Runtime/Checkpointing, component=Runtime/Network, review=description?

#14139 [FLINK-20247][config] Hide unused unaligned checkpoint configuration options
  docs/_includes/generated/execution_checkpointing_configuration.html
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/environment/ExecutionCheckpointingOptions.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
Labels: component=Runtime/Checkpointing, review=description?

#14134 [FLINK-20170] fix json deserialize decimal loses precision
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/JsonRowDataDeserializationSchema.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/JsonRowDeserializationSchema.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/JsonRowDataSerDeSchemaTest.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/JsonRowDeserializationSchemaTest.java
Labels: component=Formats, component=TableSQL/API, review=description?

#14147 [FLINK-20059][table-common] Update Javadoc for "merge" method of AggregateFunction
  docs/dev/table/functions/udfs.md
  docs/dev/table/functions/udfs.zh.md
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/AggregateFunction.java
Labels: component=Documentation, component=TableSQL/API, review=description?

#14128 [FLINK-17470][scripts] Use timeout only if present (osx compat)
  flink-dist/src/main/flink-bin/bin/flink-daemon.sh
Labels: component=Runtime/Coordination, review=description?

#14129 [hotfix] Reduce logging verbosity from the Checkpoint-related REST handlers
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/handler/AbstractHandler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/handler/RestHandlerException.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/handler/job/checkpoints/CheckpointConfigHandler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/handler/job/checkpoints/CheckpointingStatisticsHandler.java
Labels: review=description?

#14151 [FLINK-20150][debezium-avro] Add documentation for the debezium-avro-confluent format
  docs/_data/sql-connectors.yml
  docs/dev/table/connectors/formats/debezium.md
  docs/dev/table/connectors/formats/debezium.zh.md
  docs/dev/table/connectors/kinesis.md
Labels: component=Formats, component=TableSQL/Ecosystem, review=description?

#14150 [FLINK-18452][table-runtime-blink] Fix StateMigrationException because RetractableTopNFunction#ComparatorWrapper might be incompatible
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamExecLimit.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamExecRank.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamExecSortLimit.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/rank/ComparableRecordComparator.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/rank/RetractableTopNFunction.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/rank/AppendOnlyTopNFunctionTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/rank/RetractableTopNFunctionTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/rank/TopNFunctionTestBase.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/rank/UpdatableTopNFunctionTest.java
Labels: component=TableSQL/Runtime, review=description?

#14124 [FLINK-20229][docs]remove duplicate "for"
  docs/ops/security-kerberos.md
  docs/ops/security-kerberos.zh.md
Labels: component=Documentation, review=description?

#14121 [FLINK-20158][connectors/kafka] Add ResultTypeQueryable interface to …
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/source/KafkaSource.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/source/KafkaSourceITCase.java
Labels: component=Connectors/Kafka, review=description?

#14140 [FLINK-19864][tests] Fix unpredictable Thread.getState in StreamTaskTestHarness due to concurrent class loading
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTestHarness.java
Labels: component=API/DataStream, component=Tests, review=description?

#14166 [FLINK-20262] Building flink-dist docker image does not work without python2
  flink-end-to-end-tests/test-scripts/common_docker.sh
  flink-end-to-end-tests/test-scripts/python3_fileserver.py
Labels: component=BuildSystem, component=TestInfrastructure, review=description?

#14169 [FLINK-20293] Remove the useless constructor of ContinuousFileMonitoringFunction
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/source/ContinuousFileMonitoringFunction.java
Labels: component=API/DataStream, review=description?

#14178 [FLINK-20296][training-docs] remove obsolete content about keyBy(string)
  docs/learn-flink/etl.md
  docs/learn-flink/etl.zh.md
Labels: component=Documentation/Training, review=description?

#14179 [FLINK-19325][checkpointing] Avoid flushing while writing metadata.
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/metadata/MetadataV2V3SerializerBase.java
Labels: component=Runtime/Checkpointing, review=description?

#14131 [FLINK-19630][hive][doc] Make bundled hive jar the recommended way to…
  docs/dev/table/hive/index.md
  docs/dev/table/hive/index.zh.md
Labels: component=Documentation, component=TableSQL/Ecosystem, review=description?

#14168 [FLINK-20277] Fix that ContinuousFileMonitoringFunction cannot restore from failure
  flink-fs-tests/src/test/java/org/apache/flink/hdfstests/ContinuousFileProcessingTest.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/source/ContinuousFileMonitoringFunction.java
Labels: component=TableSQL/Ecosystem, review=description?

#14123 [FLINK-19653][hive] Reduce our dependency on hive runner for tests
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSource.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/FlinkEmbeddedHiveRunner.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/FlinkEmbeddedHiveServerContext.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/FlinkStandaloneHiveRunner.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveRunnerITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTableSinkITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTableSourceITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/TableEnvHiveConnectorITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveCatalogITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveCatalogUseBlinkITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveTestUtils.java
Labels: component=Connectors/Hive, review=description?

#14167 [FLINK-19175][table-planner] Tests in JoinITCase do not test Broadcas…
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/join/JoinITCaseHelper.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/JoinITCase.scala
Labels: component=TableSQL/Planner, component=Tests, review=description?

#14149 [FLINK-20035][tests] Fix wrong config key in JobGraphRunningUtil
  flink-tests/src/test/java/org/apache/flink/test/runtime/JobGraphRunningUtil.java
Labels: component=Runtime/Network, review=description?

#14170 [FLINK-20285][runtime] LazyFromSourcesSchedulingStrategy checks vertex's state right before scheduling it
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/strategy/LazyFromSourcesSchedulingStrategy.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/strategy/LazyFromSourcesSchedulingStrategyTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/strategy/TestingSchedulingExecutionVertex.java
Labels: component=Runtime/Coordination, review=description?

#14190 [FLINK-20308][doc] Fix wrong links in some Chinese markdown files
  docs/dev/table/connectors/formats/debezium.zh.md
  docs/dev/table/connectors/formats/index.zh.md
  docs/dev/table/sql/create.zh.md
Labels: component=Documentation, component=TableSQL/API, review=description?

#14180 [FLINK-19940][task] Improve naming of multi-input transformation
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/StreamingJobGraphGenerator.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/graph/StreamingJobGraphGeneratorTest.java
Labels: component=Runtime/WebFrontend, review=description?

#14189 [FLINK-20235][hive][parquet] Parquet lack additional dependencies after bumping
  flink-connectors/flink-connector-hive/pom.xml
  flink-connectors/flink-connector-hive/src/main/resources/META-INF/NOTICE
  flink-formats/flink-sql-parquet/pom.xml
  flink-formats/flink-sql-parquet/src/main/resources/META-INF/NOTICE
Labels: component=Connectors/Hive, review=description?

#14193 [FLINK-20307][doc] Strength the document about temporal table join sy…
  docs/dev/table/sql/queries.md
  docs/dev/table/sql/queries.zh.md
Labels: component=Documentation, component=TableSQL/Planner, review=description?

#14194 [FLINK-19415][hive][docs] Move Hive document to Table & SQL Connector…
  docs/dev/table/catalogs.md
  docs/dev/table/catalogs.zh.md
  docs/dev/table/connect.md
  docs/dev/table/connect.zh.md
  docs/dev/table/connectors/hive/hive_catalog.md
  docs/dev/table/connectors/hive/hive_catalog.zh.md
  docs/dev/table/connectors/hive/hive_dialect.md
  docs/dev/table/connectors/hive/hive_dialect.zh.md
  docs/dev/table/connectors/hive/hive_functions.md
  docs/dev/table/connectors/hive/hive_functions.zh.md
  docs/dev/table/connectors/hive/hive_read_write.md
  docs/dev/table/connectors/hive/hive_read_write.zh.md
  docs/dev/table/connectors/hive/index.md
  docs/dev/table/connectors/hive/index.zh.md
  docs/dev/table/connectors/index.md
  docs/dev/table/connectors/index.zh.md
  docs/dev/table/modules.md
  docs/dev/table/modules.zh.md
  docs/redirects/hive_streaming.md
Labels: component=Connectors/Hive, component=Documentation, review=description?

#14094 [FLINK-19398][connectors/hive] Fix the failure when creating hive connector from userclassloader
  flink-formats/flink-hadoop-bulk/src/test/java/org/apache/flink/formats/hadoop/bulk/HadoopPathBasedPartFileWriterTest.java
  flink-formats/flink-hadoop-bulk/src/test/java/org/apache/flink/formats/hadoop/bulk/TestHadoopPathBasedBulkWriterFactory.java
  flink-formats/flink-hadoop-bulk/src/test/java/org/apache/flink/streaming/api/functions/sink/filesystem/HadoopPathBasedBulkFormatBuilderTest.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/sink/filesystem/BucketFactory.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/sink/filesystem/Buckets.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/sink/filesystem/DefaultBucketFactoryImpl.java
Labels: component=Connectors/Hive, review=description?

#14148 [hotfix][javadocs] Fix typo in RichFunction
  flink-core/src/main/java/org/apache/flink/api/common/functions/RichFunction.java
Labels: review=description?

#14198 [FLINK-20291][table][filesystem] Optimize the exception message of FileSystemTableSink when missing format dependencies
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/FileSystemTableFactory.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/FileSystemTableSink.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/FileSystemTableSource.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/filesystem/FileSystemTableFactoryTest.java
Labels: component=Connectors/FileSystem, component=TableSQL/Ecosystem, review=description?

#14200 [FLINK-20306][table-planner-blink] Throw a meaningful exception when accessing temporal table as of constant timestamp
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/logical/FlinkLogicalSnapshot.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/common/CommonTemporalTableJoinRule.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/batch/sql/join/LookupJoinTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdHandlerTestBase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/join/LookupJoinTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/join/TemporalJoinTest.scala
Labels: component=TableSQL/Planner, review=description?

#14192 [FLINK-20295][table][fs-connector] Table File Source lost data when reading from directories with JSON format
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HiveBulkFormatAdapter.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/JsonBatchFileSystemITCase.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/DeserializationSchemaAdapter.java
Labels: component=Connectors/FileSystem, component=TableSQL/Ecosystem, review=description?

#14191 [FLINK-20310][doc] Add documentation for Debezium, Canal, Raw support for Filesystem connector
  docs/dev/table/connectors/filesystem.md
  docs/dev/table/connectors/filesystem.zh.md
  docs/dev/table/connectors/formats/index.md
  docs/dev/table/connectors/formats/index.zh.md
Labels: component=Documentation, component=TableSQL/API, review=description?

#14210 [FLINK-20328][tests] Fixed buffer calculation in UnalignedCheckpointITCase.
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/UnalignedCheckpointITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/UnalignedCheckpointTestBase.java
Labels: component=Runtime/Checkpointing, component=Runtime/Network, review=description?

#14116 [FLINK-20213][fs-connector] Partition commit is delayed when records keep coming
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/stream/StreamingFileWriter.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/filesystem/stream/StreamingFileWriterTest.java
Labels: component=Connectors/FileSystem, component=TableSQL/Ecosystem, review=description?

#14184 [FLINK-19852][task] Reuse TempBarrier memory between iterations
  flink-runtime/src/main/java/org/apache/flink/runtime/operators/BatchTask.java
  flink-runtime/src/main/java/org/apache/flink/runtime/operators/TempBarrier.java
Labels: component=Runtime/Task, review=description?

#14213 [FLINK-20317][doc] Update format overview page
  docs/dev/table/connectors/formats/index.md
  docs/dev/table/connectors/formats/index.zh.md
Labels: component=Connectors/Kafka, component=Documentation, component=TableSQL/Ecosystem, review=description?

#14201 [FLINK-20322][table-planner-blink] Rename union-all-as-breakpoint configuration and change the default value
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/optimize/RelNodeBlock.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/batch/sql/DagOptimizationTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/DagOptimizationTest.scala
Labels: component=TableSQL/API, review=description?

#14206 [FLINK-20314][planner] Add rule to remove empty calc
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/rules/logical/FlinkLogicalCalcRemoveRule.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/FlinkStreamRuleSets.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/SourceWatermarkTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/SourceWatermarkTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/SourceWatermarkITCase.scala
Labels: component=TableSQL/API, component=TableSQL/Planner, review=description?
