Repository apache/flink, pull requests merged in 2020-12, with the labels that each got.

#14224 [FLINK-20274][docs-zh] Translate page 'testing' into Chinese
  docs/dev/stream/testing.zh.md
Labels: component=chinese-translation, review=description?

#14278 [FLINK-20444][runtime] Chain YieldingOperatorFactory to new sources.
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/StreamingJobGraphGenerator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/SimpleOperatorFactory.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/StreamOperatorFactory.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/graph/StreamingJobGraphGeneratorTest.java
Labels: component=<none>, review=description?

#14279 [FLINK-20418][core] Fixing checkpointing of IteratorSourceReader.
  flink-core/src/main/java/org/apache/flink/api/connector/source/lib/util/IteratorSourceReader.java
  flink-tests/src/test/java/org/apache/flink/api/connector/source/lib/NumberSequenceSourceITCase.java
Labels: component=Runtime/Task, review=description?

#14273 [FLINK-20441] Deprecate CheckpointConfig.setPreferCheckpointForRecovery and .isPreferCheckpointForRecovery
  docs/dev/stream/state/checkpointing.md
  docs/dev/stream/state/checkpointing.zh.md
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/environment/CheckpointConfig.java
Labels: component=API/DataStream, component=Runtime/Checkpointing, review=description?

#14285 [FLINK-20315][doc] Optimize the compaction document to warn users about backpressure
  docs/dev/table/connectors/filesystem.md
  docs/dev/table/connectors/filesystem.zh.md
Labels: review=description?

#13995 [FLINK-20055] [runtime/config] - hide sensitive datadog API key from logs
  flink-core/src/main/java/org/apache/flink/configuration/GlobalConfiguration.java
  flink-core/src/test/java/org/apache/flink/configuration/GlobalConfigurationTest.java
Labels: component=Runtime/Configuration, review=description?

#14229 [FLINK-20292][doc] Improve the document about table formats overlap in user fat jar
  docs/dev/table/connectors/index.md
  docs/dev/table/connectors/index.zh.md
Labels: component=Documentation, component=Formats, review=description?

#14286 [FLINK-19398][connectors/hive] Fix the failure when creating hive connector from userclassloader
  flink-formats/flink-hadoop-bulk/src/test/java/org/apache/flink/formats/hadoop/bulk/HadoopPathBasedPartFileWriterTest.java
  flink-formats/flink-hadoop-bulk/src/test/java/org/apache/flink/formats/hadoop/bulk/TestHadoopPathBasedBulkWriterFactory.java
  flink-formats/flink-hadoop-bulk/src/test/java/org/apache/flink/streaming/api/functions/sink/filesystem/HadoopPathBasedBulkFormatBuilderTest.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/sink/filesystem/BucketFactory.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/sink/filesystem/Buckets.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/sink/filesystem/DefaultBucketFactoryImpl.java
Labels: component=Connectors/Hive, review=description?

#14298 [FLINK-20464] Some Table examples are not built correctly
  flink-examples/flink-examples-table/pom.xml
Labels: component=Examples, review=description?

#14274 [FLINK-19863][test] Fix SQLClientHBaseITCase.testHBase failed with process timeout
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/src/test/java/org/apache/flink/tests/util/kafka/SQLClientKafkaITCase.java
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/src/test/java/org/apache/flink/tests/util/kafka/StreamingKafkaITCase.java
  flink-end-to-end-tests/flink-end-to-end-tests-common/src/main/java/org/apache/flink/tests/util/flink/ClusterController.java
  flink-end-to-end-tests/flink-end-to-end-tests-common/src/main/java/org/apache/flink/tests/util/flink/FlinkDistribution.java
  flink-end-to-end-tests/flink-end-to-end-tests-common/src/main/java/org/apache/flink/tests/util/flink/FlinkResource.java
  flink-end-to-end-tests/flink-end-to-end-tests-common/src/main/java/org/apache/flink/tests/util/flink/LocalStandaloneFlinkResource.java
  flink-end-to-end-tests/flink-end-to-end-tests-hbase/src/test/java/org/apache/flink/tests/util/hbase/SQLClientHBaseITCase.java
Labels: component=Connectors/HBase, review=description?

#14165 [FLINK-19687][table] Support to get execution plan from StatementSet
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/ExplainDetail.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/StatementSet.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/TableEnvironment.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/delegation/Planner.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/delegation/BatchPlanner.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/delegation/StreamPlanner.scala
  flink-table/flink-table-planner-blink/src/test/resources/explain/testStatementSetExecutionExplain.out
  flink-table/flink-table-planner-blink/src/test/resources/explain/testStreamTableEnvironmentExecutionExplain.out
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/api/TableEnvironmentTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/utils/TableTestBase.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/api/internal/BatchTableEnvImpl.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/StreamPlanner.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/batch/ExplainTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/stream/ExplainTest.scala
  flink-table/flink-table-planner/src/test/scala/resources/testBatchTableEnvironmentExecutionExplain.out
  flink-table/flink-table-planner/src/test/scala/resources/testStatementSetExecutionExplain0.out
  flink-table/flink-table-planner/src/test/scala/resources/testStatementSetExecutionExplain1.out
  flink-table/flink-table-planner/src/test/scala/resources/testStreamTableEnvironmentExecutionExplain.out
Labels: component=TableSQL/API, review=description?

#14267 [FLINK-20429][kafka] Using proper watermark interval in KafkaTableITCase.testKafkaTemporalJoinChangelog test
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/KafkaTableITCase.java
  flink-connectors/flink-connector-kafka/src/test/resources/product_changelog.txt
Labels: component=Connectors/Kafka, component=TableSQL/Planner, review=description?

#14310 [FLINK-20486][hive] Hive temporal join shouldn't require a minimal 1h monitor interval
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveLookupTableSource.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDynamicTableFactoryTest.java
Labels: component=Connectors/Hive, review=description?

#14299 [hotfix][hbase] Fix NOTICE file of hbase 2.2
  flink-connectors/flink-sql-connector-hbase-2.2/src/main/resources/META-INF/NOTICE
Labels: review=description?

#14245 [FLINK-18897][doc] Add document for Maxwell format
  docs/_data/sql-connectors.yml
  docs/dev/table/connectors/formats/index.md
  docs/dev/table/connectors/formats/index.zh.md
  docs/dev/table/connectors/formats/maxwell.md
  docs/dev/table/connectors/formats/maxwell.zh.md
  docs/dev/table/connectors/formats/orc.md
  docs/dev/table/connectors/formats/orc.zh.md
  docs/dev/table/connectors/formats/parquet.md
  docs/dev/table/connectors/formats/parquet.zh.md
  docs/dev/table/connectors/formats/raw.md
  docs/dev/table/connectors/formats/raw.zh.md
Labels: component=Documentation, component=Formats, component=TableSQL/Ecosystem, review=description?

#14246 [FLINK-20273][table/kafka] Fix the Kafka round-robin behaviour when k…
  docs/dev/table/connectors/kafka.md
  docs/dev/table/connectors/kafka.zh.md
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/streaming/connectors/kafka/table/KafkaOptions.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/KafkaDynamicTableFactoryTest.java
Labels: component=Documentation, component=TableSQL/API, review=description?

#14320 [FLINK-20273][table/kafka] Fix the Kafka round-robin behaviour when keys are specified
  docs/dev/table/connectors/kafka.md
  docs/dev/table/connectors/kafka.zh.md
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/streaming/connectors/kafka/table/KafkaOptions.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/KafkaDynamicTableFactoryTest.java
Labels: component=Documentation, component=TableSQL/API, review=description?

#14321 [FLINK-20510][conf][log4j] Enable monitorInterval by default
  flink-dist/src/main/flink-bin/conf/log4j-cli.properties
  flink-dist/src/main/flink-bin/conf/log4j-console.properties
  flink-dist/src/main/flink-bin/conf/log4j-session.properties
  flink-dist/src/main/flink-bin/conf/log4j.properties
Labels: component=Runtime/Configuration, review=description?

#14302 [FLINK-20404][zookeeper] Disable JMX log4j integration
  flink-dist/src/main/flink-bin/bin/zookeeper.sh
Labels: component=BuildSystem, review=description?

#14207 [FLINK-20250][table-runtime] NPE when invoking AsyncLookupJoinRunner#close method
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/join/lookup/AsyncLookupJoinRunner.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/join/AsyncLookupJoinHarnessTest.java
Labels: component=TableSQL/Runtime, review=description?

#14323 [FLINK-20486][hive] Hive temporal join should allow smaller monitor interval than 1 hour
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveLookupTableSource.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDynamicTableFactoryTest.java
Labels: component=Connectors/Hive, review=description?

#13660 [hotfix][flink-runtime-web] Unified time format of Task Managers tab
  flink-runtime-web/web-dashboard/src/app/pages/task-manager/list/task-manager-list.component.html
  flink-runtime-web/web-dashboard/src/app/pages/task-manager/status/task-manager-status.component.html
Labels: review=description?

#14276 [FLINK-20372] Update Kafka SQL connector page to mention properties.*…
  docs/dev/table/connectors/kafka.md
  docs/dev/table/connectors/kafka.zh.md
  docs/dev/table/connectors/upsert-kafka.md
  docs/dev/table/connectors/upsert-kafka.zh.md
Labels: component=Connectors/Kafka, component=Documentation, component=TableSQL/Ecosystem, review=description?

#14304 [FLINK-20353][docs][logging] Update logging documentation
  docs/deployment/advanced/logging.md
Labels: component=Documentation, component=Runtime/Coordination, review=description?

#14330 [FLINK-20500][upsert-kafka] Fix unstable UpsertKafkaTableITCase.testT…
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/UpsertKafkaTableITCase.java
Labels: component=Connectors/Kafka, component=TableSQL/Ecosystem, review=description?

#14334 [FLINK-20500][upsert-kafka] Fix unstable UpsertKafkaTableITCase.testTemporalJoin
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/UpsertKafkaTableITCase.java
Labels: component=Connectors/Kafka, component=TableSQL/Ecosystem, review=description?

#14316 [FLINK-20470]MissingNode can't be casted to ObjectNode when deserializing JSON
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/JsonRowDataDeserializationSchema.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/JsonToRowDataConverters.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/JsonRowDataSerDeSchemaTest.java
Labels: component=Formats, component=TableSQL/Ecosystem, review=description?

#14269 [hotfix][javadocs] Fix typo
  flink-connectors/flink-connector-elasticsearch6/src/main/java/org/apache/flink/streaming/connectors/elasticsearch/table/Elasticsearch6Configuration.java
Labels: review=description?

#14343 [FLINK-20543][docs] Fix typo in upsert kafka docs.
  docs/dev/table/connectors/upsert-kafka.md
  docs/dev/table/connectors/upsert-kafka.zh.md
Labels: component=Documentation, review=description?

#14349 [FLINK-20550][doc] Fix wrong savepoint config in docs
  docs/ops/state/savepoints.zh.md
  docs/try-flink/flink-operations-playground.md
  docs/try-flink/flink-operations-playground.zh.md
Labels: review=description?

#14337 [FLINK-20512][table-planner-blink] Introduce getDesc(), getOutputType(), replaceInputEdge(int, ExecEdge) methods for ExecNode
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/ExecNode.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/exec/LegacyExecNodeBase.scala
Labels: component=TableSQL/Planner, review=description?

#14326 [FLINK-20520][metrics][docs] Document metric name escaping
  docs/ops/metrics.md
  docs/ops/metrics.zh.md
Labels: component=Documentation, component=Runtime/Metrics, component=Runtime/REST, review=description?

#14354 [FLINK-20258][web] format configured memory sizes on the JM
  flink-runtime-web/web-dashboard/src/app/pages/job-manager/metrics/job-manager-metrics.component.html
  flink-runtime-web/web-dashboard/src/app/share/pipes/parse-int.pipe.ts
  flink-runtime-web/web-dashboard/src/app/share/pipes/pipe.module.ts
Labels: component=Runtime/WebFrontend, review=description?

#14363 [hotfix][docs] fix typo in upsert-kafka docs
  docs/dev/table/connectors/upsert-kafka.md
  docs/dev/table/connectors/upsert-kafka.zh.md
Labels: review=description?

#14355 [FLINK-20565][docs] Fix typo in `EXPLAIN Statements` docs.
  docs/dev/table/sql/explain.md
  docs/dev/table/sql/explain.zh.md
Labels: component=Documentation, review=description?

#11584 [hotfix][typo] Fix typo in #LocalBufferPool#createBufferPoolFactory
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/ResultPartitionFactory.java
Labels: review=description?

#14369 [FLINK-20570][docs] Fix the `NOTE` tip style in process_function page
  docs/dev/stream/operators/process_function.md
  docs/dev/stream/operators/process_function.zh.md
Labels: component=API/DataStream, component=Documentation, review=description?

#14351 [FLINK-19490][conf] Document SOMAXCONN limit for 'blob.fetch.backlog'
  docs/_includes/generated/blob_server_configuration.html
  flink-core/src/main/java/org/apache/flink/configuration/BlobServerOptions.java
Labels: component=Documentation, component=Runtime/Coordination, review=description?

#14307 [FLINK-20209][web] Add tolerable failed checkpoints config to web ui
  docs/_includes/generated/rest_v1_dispatcher.html
  flink-runtime-web/src/test/resources/rest_api_v1.snapshot
  flink-runtime-web/web-dashboard/src/app/interfaces/job-checkpoint.ts
  flink-runtime-web/web-dashboard/src/app/pages/job/checkpoints/job-checkpoints.component.html
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/handler/job/checkpoints/CheckpointConfigHandler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/messages/checkpoints/CheckpointConfigInfo.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/messages/checkpoints/CheckpointConfigInfoTest.java
Labels: component=Runtime/WebFrontend, review=description?

#14385 [FLINK-20422] Fix invalid links across languages
  docs/_layouts/404_base.html
  docs/concepts/stateful-stream-processing.zh.md
  docs/dev/table/sql/gettingStarted.zh.md
Labels: component=Documentation, review=description?

#14386 [FLINK-20422][bp-1.12] Fix invalid links across languages
  docs/_layouts/404_base.html
  docs/concepts/stateful-stream-processing.zh.md
Labels: component=Documentation, review=description?

#14372 [FLINK-19259][Kinesis] Remove references to allow classloader unloading
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/FlinkKinesisProducer.java
Labels: component=Connectors/Kinesis, review=description?

#14389 [FLINK-20528][python] Add Python building blocks to make sure the basic functionality of Stream Group Table Aggregation could work
  flink-python/pyflink/fn_execution/aggregate.py
  flink-python/pyflink/fn_execution/beam/beam_operations.py
  flink-python/pyflink/fn_execution/operation_utils.py
  flink-python/pyflink/fn_execution/operations.py
  flink-python/pyflink/table/__init__.py
  flink-python/pyflink/table/table.py
  flink-python/pyflink/table/table_environment.py
  flink-python/pyflink/table/tests/test_row_based_operation.py
  flink-python/pyflink/table/udf.py
  flink-python/src/main/java/org/apache/flink/table/runtime/operators/python/aggregate/AbstractPythonStreamAggregateOperator.java
  flink-python/src/main/java/org/apache/flink/table/runtime/operators/python/aggregate/PythonStreamGroupAggregateOperator.java
  flink-python/src/main/java/org/apache/flink/table/runtime/operators/python/aggregate/PythonStreamGroupTableAggregateOperator.java
  flink-python/src/test/java/org/apache/flink/table/runtime/operators/python/aggregate/PythonStreamGroupTableAggregateOperatorTest.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/python/PythonTableAggregateFunction.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/common/CommonPythonAggregate.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamExecPythonGroupTableAggregate.scala
Labels: component=API/Python, review=description?

#14405 [FLINK-20626][runtime] Fix issue of concurrent failing and cancelling of an ExecutionGraph
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/ExecutionGraph.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/ExecutionGraphRestartTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/ExecutionGraphSuspendTest.java
Labels: component=Runtime/Coordination, review=description?

#14388 [FLINK-20607][docs] Fix an error of multiple input types in udfs page
  docs/dev/table/functions/udfs.md
  docs/dev/table/functions/udfs.zh.md
Labels: component=Documentation, review=description?

#14394 [FLINK-19013][state-backends] Add start/end logs for state restoration
  flink-runtime/src/main/java/org/apache/flink/runtime/state/AbstractKeyedStateBackendBuilder.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/heap/HeapKeyedStateBackendBuilder.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/heap/HeapRestoreOperation.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBKeyedStateBackendBuilder.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/restore/AbstractRocksDBRestoreOperation.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/restore/RocksDBFullRestoreOperation.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/restore/RocksDBIncrementalRestoreOperation.java
Labels: component=Runtime/StateBackends, review=description?

#14348 [FLINK-20433][tests] Stabilizing UnalignedCheckpointITCase.
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/UnalignedCheckpointITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/UnalignedCheckpointTestBase.java
Labels: component=Runtime/Checkpointing, review=description?

#14365 [hotfix][filesystem]improve the filesystem connector doc
  docs/dev/table/connectors/filesystem.md
  docs/dev/table/connectors/filesystem.zh.md
Labels: review=description?

#14370 [FLINK-20582][docs] Fix typos in `CREATE Statements` docs.
  docs/dev/table/sql/create.md
  docs/dev/table/sql/create.zh.md
Labels: component=Documentation, review=description?

#14417 [FLINK-20668][table-planner-blink] Introduce translateToExecNode method for FlinkPhysicalRel
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/ExecGraphGenerator.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/ExecNodeBase.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/batch/BatchExecExchange.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/batch/BatchExecMultipleInput.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/batch/BatchExecNode.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/processor/MultipleInputNodeCreationProcessor.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/processor/utils/InputPriorityConflictResolver.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecExchange.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecMultipleInput.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecNode.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/delegation/PlannerBase.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/FlinkPhysicalRel.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchPhysicalExchange.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/common/CommonPhysicalExchange.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamPhysicalExchange.scala
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/processor/MultipleInputNodeCreationProcessorTest.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/processor/utils/InputPriorityConflictResolverTest.java
Labels: component=TableSQL/Planner, review=description?

#13932 [FLINK-19947][Connectors / Common]Support sink parallelism configuration for Print connector
  docs/dev/table/connectors/print.md
  docs/dev/table/connectors/print.zh.md
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/table/factories/PrintTableSinkFactory.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/runtime/stream/table/PrintConnectorITCase.java
Labels: component=Connectors/Common, review=description?

#14415 [FLINK-19880][formats] Fix JsonRowFormatFactory's support for the format.ignore-parse-errors property.
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/JsonRowFormatFactory.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/JsonRowFormatFactoryTest.java
Labels: component=Formats, component=TableSQL/Ecosystem, review=description?

#14421 [FLINK-20433][tests] Stabilizing UnalignedCheckpointITCase. [1.12]
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/UnalignedCheckpointITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/UnalignedCheckpointTestBase.java
Labels: component=Runtime/Checkpointing, review=description?

#14426 [FLINK-20666][python] Fix the deserialized Row losing the field_name information in PyFlink
  flink-python/pyflink/fn_execution/coder_impl.py
  flink-python/pyflink/fn_execution/coders.py
  flink-python/pyflink/fn_execution/fast_coder_impl.pxd
  flink-python/pyflink/fn_execution/fast_coder_impl.pyx
  flink-python/pyflink/fn_execution/tests/test_coders.py
  flink-python/pyflink/fn_execution/tests/test_fast_coders.py
  flink-python/pyflink/table/types.py
Labels: component=API/Python, review=description?

#14377 [FLINK-19905][Connector][jdbc] The Jdbc-connector's 'lookup.max-retries' option initial value is 1 in JdbcLookupFunction
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/table/JdbcLookupFunction.java
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/table/descriptors/JdbcValidator.java
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/table/JdbcLookupTableITCase.java
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/table/JdbcTableSourceSinkFactoryTest.java
Labels: component=Connectors/JDBC, review=description?

#14423 [FLINK-20673][table-planner-blink] ExecNode#getOutputType method should return LogicalType instead of RowType
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/ExecNode.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/ExecNodeBase.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/batch/BatchExecExchange.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/batch/BatchExecNode.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/processor/utils/InputPriorityConflictResolver.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecNode.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/exec/LegacyExecNodeBase.scala
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/processor/utils/InputPriorityConflictResolverTest.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/nodes/exec/TestingBatchExecNode.scala
Labels: component=TableSQL/Planner, review=description?

#14438 [FLINK-20665][Connectors / FileSystem]FileNotFoundException when rest…
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/stream/compact/CompactOperator.java
Labels: component=Connectors/FileSystem, component=TableSQL/Ecosystem, review=description?

#14442 [FLINK-20213][fs-connector] Partition commit is delayed when records keep coming
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/stream/AbstractStreamingWriter.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/stream/StreamingFileWriter.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/stream/compact/CompactFileWriter.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/filesystem/stream/StreamingFileWriterTest.java
Labels: component=Connectors/FileSystem, component=TableSQL/Ecosystem, review=description?

#13907 [FLINK-19942][Connectors / JDBC]Support sink parallelism configuration to JDBC connector
  docs/dev/table/connectors/jdbc.md
  docs/dev/table/connectors/jdbc.zh.md
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/internal/options/JdbcOptions.java
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/table/JdbcDynamicTableFactory.java
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/table/JdbcDynamicTableSink.java
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/table/JdbcDynamicTableFactoryTest.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/connector/sink/OutputFormatProvider.java
Labels: component=Connectors/JDBC, review=description?

#14446 [FLINK-20697][Connector][jdbc] Correct the Type and Default value of "lookup.cache.ttl" in jdbc.md/jdbc.zh.md
  docs/dev/table/connectors/jdbc.md
  docs/dev/table/connectors/jdbc.zh.md
Labels: component=Connectors/JDBC, component=TableSQL/Ecosystem, review=description?

#14371 [FLINK-20546][kafka]fix method misuse in DynamicTableFactoryTest
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/KafkaDynamicTableFactoryTest.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/UpsertKafkaDynamicTableFactoryTest.java
Labels: component=Connectors/Kafka, component=TableSQL/Ecosystem, review=description?

#14404 [FLINK-20624][table-planner]Refactor StreamExecJoinRule, StreamExecIntervalJoinRule and StreamExecTemporalJoinRule
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/stream/StreamExecIntervalJoinRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/stream/StreamExecJoinRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/stream/StreamExecJoinRuleBase.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/stream/StreamExecTemporalJoinRule.scala
Labels: component=TableSQL/Planner, review=description?

#14453 [FLINK-20703][table] HiveSinkCompactionITCase test timeout
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/runtime/stream/sql/CompactionITCaseBase.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/stream/compact/CompactOperator.java
Labels: component=Connectors/Hive, review=description?

#14410 [FLINK-20616][python] Support row-based operation to accept user-defined function directly
  flink-python/pyflink/fn_execution/flink_fn_execution_pb2.py
  flink-python/pyflink/fn_execution/operation_utils.py
  flink-python/pyflink/java_gateway.py
  flink-python/pyflink/proto/flink-fn-execution.proto
  flink-python/pyflink/table/expressions.py
  flink-python/pyflink/table/table.py
  flink-python/pyflink/table/table_environment.py
  flink-python/pyflink/table/tests/test_row_based_operation.py
  flink-python/pyflink/table/udf.py
  flink-python/src/main/java/org/apache/flink/streaming/api/utils/PythonOperatorUtils.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/local/ExecutionContextTest.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/python/PythonAggregateFunction.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/python/PythonFunction.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/python/PythonScalarFunction.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/python/PythonTableAggregateFunction.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/python/PythonTableFunction.java
Labels: component=API/Python, review=description?

#14461 [FLINK-20719][table-planner-blink] Change BatchExecNode & StreamExecNode to interface and make each node extended from ExecNodeBase directly
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/ExecGraphGenerator.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/ExecNodeBase.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/batch/BatchExecBoundedStreamScan.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/batch/BatchExecCalc.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/batch/BatchExecExchange.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/batch/BatchExecLegacyTableSourceScan.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/batch/BatchExecMultipleInput.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/batch/BatchExecNode.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/batch/BatchExecTableSourceScan.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/common/CommonExecCalc.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/common/CommonExecExchange.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/common/CommonExecLegacyTableSourceScan.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/common/CommonExecTableSourceScan.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecCalc.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecChangelogNormalize.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecDataStreamScan.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecExchange.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecLegacyTableSourceScan.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecMultipleInput.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecNode.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecTableSourceScan.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecWatermarkAssigner.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/exec/batch/BatchExecPythonCalc.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecPythonCalc.scala
Labels: component=TableSQL/Planner, review=description?

#14471 [FLINK-20654][tests] Ignore UnalignedCheckpointITCase until resolved
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/UnalignedCheckpointITCase.java
Labels: component=Runtime/Checkpointing, review=description?

#14475 [hotfix][conf] Fix typo.
  docs/_includes/generated/execution_checkpointing_configuration.html
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/environment/ExecutionCheckpointingOptions.java
Labels: review=description?

#14470 [DOC]fix the wrong word
  docs/dev/table/sql/gettingStarted.md
Labels: review=description?

#14436 [FLINK-20686] CLI help message should include 'run-application' action
  flink-clients/src/main/java/org/apache/flink/client/cli/CliFrontend.java
Labels: component=CommandLineClient, review=description?

#14434 [DOC]fix to update file_sink & streamfile_sink doc for error code
  docs/dev/connectors/file_sink.md
  docs/dev/connectors/file_sink.zh.md
  docs/dev/connectors/streamfile_sink.md
  docs/dev/connectors/streamfile_sink.zh.md
Labels: review=description?

#14397 [docs] fix typo in savepoint doc
  docs/ops/state/savepoints.md
Labels: review=description?

#14375 [hotfix][docs] Fix typo
  docs/dev/table/streaming/joins.md
  docs/dev/table/streaming/joins.zh.md
Labels: review=description?

#14366 Update tableApi.md
  docs/dev/table/tableApi.md
  docs/dev/table/tableApi.zh.md
Labels: review=description?

#14481 [hotfix][python] Remove the type info of args
  flink-python/pyflink/fn_execution/aggregate_fast.pyx
Labels: review=description?

#14474 [FLINK-20745][table] Clean useless codes: Never push calcProgram to correlate
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/batch/BatchExecCorrelate.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/common/CommonExecCorrelate.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecCorrelate.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/rules/physical/batch/BatchPhysicalPythonCorrelateRule.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/rules/physical/stream/StreamPhysicalPythonCorrelateRule.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/CorrelateCodeGenerator.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchPhysicalCorrelate.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchPhysicalCorrelateBase.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchPhysicalPythonCorrelate.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamPhysicalCorrelate.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamPhysicalCorrelateBase.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamPhysicalPythonCorrelate.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/batch/BatchPhysicalConstantTableFunctionScanRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/batch/BatchPhysicalCorrelateRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/stream/StreamPhysicalConstantTableFunctionScanRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/stream/StreamPhysicalCorrelateRule.scala
Labels: component=TableSQL/Planner, review=description?

#14458 [FLINK-20708][table-planner-blink] Introduce StreamPhysicalDropUpdateBefore, and make StreamExecDropUpdateBefore only extended from ExecNode
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecDropUpdateBefore.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdColumnUniqueness.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdModifiedMonotonicity.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdUniqueKeys.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamPhysicalDropUpdateBefore.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/optimize/program/FlinkChangelogModeInferenceProgram.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdHandlerTestBase.scala
Labels: component=TableSQL/Planner, review=description?

#14459 [FLINK-20709][table-planner-blink] Introduce StreamPhysicalMiniBatchAssigner, and make StreamExecMiniBatchAssigner only extended from ExecNode
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecMiniBatchAssigner.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdModifiedMonotonicity.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamExecMiniBatchAssigner.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamPhysicalMiniBatchAssigner.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/optimize/program/FlinkChangelogModeInferenceProgram.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/stream/MiniBatchIntervalInferRule.scala
Labels: component=TableSQL/Planner, review=description?

#13876 [FLINK-18382][docs] Translate Kafka SQL connector documentation into Chinese
  docs/_includes/sql-connector-download-table.zh.html
  docs/dev/table/connectors/elasticsearch.zh.md
  docs/dev/table/connectors/formats/avro-confluent.zh.md
  docs/dev/table/connectors/formats/avro.zh.md
  docs/dev/table/connectors/formats/canal.zh.md
  docs/dev/table/connectors/formats/csv.zh.md
  docs/dev/table/connectors/formats/debezium.zh.md
  docs/dev/table/connectors/formats/json.zh.md
  docs/dev/table/connectors/formats/maxwell.zh.md
  docs/dev/table/connectors/formats/orc.zh.md
  docs/dev/table/connectors/formats/parquet.zh.md
  docs/dev/table/connectors/formats/raw.zh.md
  docs/dev/table/connectors/hbase.zh.md
  docs/dev/table/connectors/jdbc.zh.md
  docs/dev/table/connectors/kafka.md
  docs/dev/table/connectors/kafka.zh.md
  docs/dev/table/connectors/kinesis.zh.md
  docs/dev/table/connectors/upsert-kafka.zh.md
Labels: component=Documentation, component=TableSQL/Ecosystem, component=chinese-translation, review=description?

#14468 [FLINK-20552][connectors/jdbc] JdbcDynamicTableSink doesn't sink buff…
  flink-connectors/flink-connector-jdbc/pom.xml
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/table/JdbcDynamicTableSink.java
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/table/JdbcDynamicTableSinkITCase.java
Labels: component=Connectors/JDBC, component=TableSQL/Ecosystem, review=description?

#14452 [FLINK-20710][Hive] HiveTableInputFormat and HiveSourceFileEnumerator will throw IllegalArgumentException when creating splits for tables with partitions on different hdfs nameservices
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveSourceFileEnumerator.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HiveTableInputFormat.java
Labels: component=Connectors/Hive, review=description?

#13800 [FLINK-19650][connectors jdbc]Support the limit push down for the Jdb…
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/dialect/DerbyDialect.java
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/dialect/JdbcDialect.java
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/dialect/MySQLDialect.java
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/dialect/PostgresDialect.java
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/table/JdbcDynamicTableSource.java
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/table/JdbcDynamicTableSourceITCase.java
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/table/JdbcTablePlanTest.java
  flink-connectors/flink-connector-jdbc/src/test/resources/org/apache/flink/connector/jdbc/table/JdbcTablePlanTest.xml
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/FlinkStreamRuleSets.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/LimitableSourceTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/LimitTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/LimitableSourceTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/LimitableSourceITCase.scala
Labels: component=Connectors/JDBC, component=TableSQL/API, review=description?

#14466 [FLINK-20657][connectors/jdbc] Migrate jdbc InputFormat/LookupFunction to SimpleJdbcConnectionProvider for connection establishment
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/JdbcInputFormat.java
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/internal/AbstractJdbcOutputFormat.java
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/internal/JdbcBatchingOutputFormat.java
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/internal/TableJdbcUpsertOutputFormat.java
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/internal/connection/JdbcConnectionProvider.java
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/internal/connection/SimpleJdbcConnectionProvider.java
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/table/JdbcLookupFunction.java
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/table/JdbcRowDataInputFormat.java
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/table/JdbcRowDataLookupFunction.java
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/JdbcInputFormatTest.java
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/internal/connection/SimpleJdbcConnectionProviderDriverClassConcurrentLoadingTest.java
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/internal/connection/SimpleJdbcConnectionProviderTest.java
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/table/JdbcRowDataInputFormatTest.java
Labels: component=Connectors/JDBC, component=TableSQL/Ecosystem, review=description?

#14362 [FLINK-20540][jdbc] Fix the defaultUrl for AbstractJdbcCatalog in JDBC connector
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/catalog/AbstractJdbcCatalog.java
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/catalog/PostgresCatalogTestBase.java
Labels: component=Connectors/JDBC, review=description?

#14440 [FLINK-20259][web] Add explanation to Effective Configuration in JM/TM
  flink-runtime-web/web-dashboard/src/app/pages/job-manager/metrics/job-manager-metrics.component.html
  flink-runtime-web/web-dashboard/src/app/pages/job-manager/metrics/job-manager-metrics.component.less
  flink-runtime-web/web-dashboard/src/app/pages/task-manager/metrics/task-manager-metrics.component.html
  flink-runtime-web/web-dashboard/src/app/pages/task-manager/metrics/task-manager-metrics.component.less
Labels: component=Runtime/WebFrontend, review=description?

#14504 [hotfix][docs] Typo in Chinese-version doc internals/job_scheduling.zh (内幕/作业调度)
  docs/internals/job_scheduling.zh.md
Labels: review=description?

#14497 [hotfix][docs] Typo doc operation playground
  docs/try-flink/flink-operations-playground.md
Labels: review=description?

#14396 Fix java demo code
  docs/dev/stream/state/checkpointing.md
  docs/dev/stream/state/checkpointing.zh.md
Labels: review=description?

#14505 [FLINK-20756][python] Fix the bug that it doesn't support field access of expression containing Python UDF
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/rules/logical/PythonCorrelateSplitRule.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/FlinkBatchRuleSets.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/FlinkStreamRuleSets.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/logical/PythonCalcSplitRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/utils/PythonUtil.scala
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/runtime/utils/JavaUserDefinedScalarFunctions.java
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/rules/logical/PythonCalcSplitRuleTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/rules/logical/PythonCalcSplitRuleTest.scala
Labels: component=API/Python, review=description?

#13581 [FLINK-17331] Explicitly get the ByteBuf length of all classes which …
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/ExecutionAttemptID.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/netty/NettyMessage.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/InputChannelID.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobgraph/IntermediateResultPartitionID.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/ExecutionAttemptIDTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/consumer/InputChannelIDTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobgraph/IntermediateResultPartitionIDTest.java
Labels: component=Runtime/Network, review=description?

#14511 [FLINK-20792][build] Allow shorthand calls to spotless
  pom.xml
  tools/force-shading/pom.xml
Labels: component=BuildSystem, review=description?

#14517 [FLINK-20803][build][docs] Pin google-java-format version in install instructions
  docs/flinkDev/ide_setup.md
Labels: review=description?

#14437 [FLINK-20458][docs] translate gettingStarted.zh.md and correct spelling errors in gettingStarted.md
  docs/dev/table/sql/gettingStarted.md
  docs/dev/table/sql/gettingStarted.zh.md
Labels: component=Documentation, component=TableSQL/Ecosystem, component=chinese-translation, review=description?

#14392 [FLINK-20606][connectors/hive, table sql] sql cli with hive catalog c…
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/local/LocalExecutorITCase.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/catalog/CatalogFunctionImpl.java
Labels: component=Connectors/Hive, component=TableSQL/API, component=TableSQL/Client, review=description?

#14522 [FLINK-20807][build] Remove/narrow various checkstyle suppressions
  tools/maven/suppressions-core.xml
  tools/maven/suppressions-optimizer.xml
  tools/maven/suppressions-runtime.xml
Labels: component=BuildSystem, review=description?

#14523 [FLINK-18654][Connector][jdbc] Correct missleading documentation in "Partitioned Scan" section of JDBC connector
  docs/dev/table/connectors/jdbc.md
  docs/dev/table/connectors/jdbc.zh.md
Labels: component=Connectors/JDBC, component=Documentation, component=TableSQL/Ecosystem, review=description?

#14519 [FLINK-20790][build][avro] Move generated files to target/generated[-test]-sources
  flink-end-to-end-tests/flink-confluent-schema-registry/pom.xml
  flink-end-to-end-tests/flink-confluent-schema-registry/src/main/resources/avro/user.avsc
  flink-end-to-end-tests/flink-datastream-allround-test/pom.xml
  flink-end-to-end-tests/flink-datastream-allround-test/src/main/resources/avro/ComplexPayloadAvro.avsc
  flink-end-to-end-tests/flink-state-evolution-test/pom.xml
  flink-end-to-end-tests/flink-state-evolution-test/src/main/java/org/apache/flink/avro/generated/Address.java
  flink-end-to-end-tests/flink-state-evolution-test/src/main/resources/avro/Address.avsc
  flink-formats/flink-avro/pom.xml
  flink-formats/flink-parquet/pom.xml
  pom.xml
Labels: component=Formats, review=description?

#14451 [FLINK-20704][table-planner] Some rel data type does not implement th…
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/schema/GenericRelDataType.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/calcite/FlinkTypeFactoryTest.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/plan/schema/ArrayRelDataType.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/plan/schema/GenericRelDataType.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/plan/schema/MapRelDataType.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/plan/schema/MultisetRelDataType.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/calcite/FlinkTypeFactoryTest.scala
Labels: component=TableSQL/LegacyPlanner, review=description?

#14464 [FLINK-20385][canal][json] Allow to read metadata for canal-json format
  docs/dev/table/connectors/formats/canal.md
  docs/dev/table/connectors/formats/canal.zh.md
  docs/dev/table/connectors/formats/debezium.md
  docs/dev/table/connectors/formats/debezium.zh.md
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/KafkaChangelogTableITCase.java
  flink-connectors/flink-connector-kafka/src/test/resources/canal-data.txt
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/canal/CanalJsonDecodingFormat.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/canal/CanalJsonDeserializationSchema.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/canal/CanalJsonFormatFactory.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/canal/CanalJsonFormatFactoryTest.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/canal/CanalJsonSerDeSchemaTest.java
Labels: component=Formats, component=TableSQL/API, review=description?

#14527 [FLINK-19962][docs] Add examples and explanations for expanding arrays into a relation
  docs/dev/table/sql/queries.md
  docs/dev/table/sql/queries.zh.md
Labels: component=Documentation, component=TableSQL/API, review=description?

#14533 [hotfix][docs]fix typo in Create statements page
  docs/dev/table/sql/create.md
  docs/dev/table/sql/create.zh.md
Labels: review=description?
