Repository apache/flink, pull requests merged in 2020-09, with the labels that each got.

#13122 [FLINK-18824][format][canal] Support serialization for canal-json format
  docs/dev/table/connectors/formats/canal.md
  docs/dev/table/connectors/formats/canal.zh.md
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/canal/CanalJsonFormatFactory.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/canal/CanalJsonSerializationSchema.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/canal/CanalJsonFormatFactoryTest.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/canal/CanalJsonSerDeSchemaTest.java
Labels: component=Formats, component=TableSQL/Ecosystem, review=description?

#13287 [FLINK-13857] Remove deprecated ExecutionConfig#get/setCodeAnalysisMode
  flink-core/src/main/java/org/apache/flink/api/common/CodeAnalysisMode.java
  flink-core/src/main/java/org/apache/flink/api/common/ExecutionConfig.java
  flink-java/src/main/java/org/apache/flink/api/java/functions/FunctionAnnotation.java
  flink-java/src/main/java/org/apache/flink/api/java/utils/PlanGenerator.java
Labels: component=Runtime/Configuration, review=description?

#13260 [FLINK-16768][tests] Let the watchdog also monitor mvn logs
  tools/ci/test_controller.sh
  tools/ci/watchdog.sh
Labels: component=FileSystems, component=Tests, review=description?

#13141 [FLINK-18852] Fix StreamScan doesn't inherit parallelism from input in legacy planner
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/plan/nodes/datastream/StreamScan.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/factories/utils/TestCollectionTableFactory.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/runtime/stream/table/TableSourceITCase.scala
  flink-table/flink-table-planner/src/test/scala/resources/testFilterStream0.out
  flink-table/flink-table-planner/src/test/scala/resources/testUnionStream0.out
Labels: component=TableSQL/Planner, review=description?

#13286 [FLINK-19093][task] Fix isActive check in AsyncCheckpointRunnable
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/SubtaskCheckpointCoordinatorImpl.java
Labels: component=Runtime/Checkpointing, review=description?

#13288 [FLINK-19084] Remove deprecated methods from ExecutionConfig
  docs/dev/execution_configuration.md
  docs/dev/execution_configuration.zh.md
  docs/ops/cli.md
  docs/ops/cli.zh.md
  flink-clients/src/main/java/org/apache/flink/client/cli/CliFrontendParser.java
  flink-clients/src/test/java/org/apache/flink/client/cli/CliFrontendRunTest.java
  flink-connectors/flink-connector-kafka-base/src/test/java/org/apache/flink/streaming/connectors/kafka/KafkaConsumerTestBase.java
  flink-core/pom.xml
  flink-core/src/main/java/org/apache/flink/api/common/ExecutionConfig.java
  flink-end-to-end-tests/flink-quickstart-test/src/main/scala/org/apache/flink/quickstarts/test/Elasticsearch5SinkExample.scala
  flink-end-to-end-tests/test-scripts/test_cli.sh
  flink-python/pyflink/common/execution_config.py
Labels: component=API/Core, review=description?

#13304 [FLINK-19118][python] Support Expression in the operations of Python Table API
  flink-python/pyflink/table/examples/batch/word_count.py
  flink-python/pyflink/table/table.py
  flink-python/pyflink/table/table_environment.py
  flink-python/pyflink/table/tests/test_aggregate.py
  flink-python/pyflink/table/tests/test_calc.py
  flink-python/pyflink/table/tests/test_column_operation.py
  flink-python/pyflink/table/tests/test_correlate.py
  flink-python/pyflink/table/tests/test_dependency.py
  flink-python/pyflink/table/tests/test_explain.py
  flink-python/pyflink/table/tests/test_join.py
  flink-python/pyflink/table/tests/test_pandas_conversion.py
  flink-python/pyflink/table/tests/test_pandas_udf.py
  flink-python/pyflink/table/tests/test_schema_operation.py
  flink-python/pyflink/table/tests/test_sort.py
  flink-python/pyflink/table/tests/test_table_environment_api.py
  flink-python/pyflink/table/tests/test_window.py
  flink-python/pyflink/table/utils.py
  flink-python/pyflink/table/window.py
Labels: component=API/Python, review=description?

#13293 [FLINK-19108][table] Stop expanding the identifiers with scope aliase…
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/utils/Expander.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/common/ViewsExpandingTest.scala
Labels: component=TableSQL/API, review=description?

#13301 [FLINK-19121][hive] Avoid accessing HDFS frequently in HiveBulkWriterFactory
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSink.java
Labels: component=Connectors/Hive, review=description?

#13325 [FLINK-15974][python] Support to use the Python UDF directly in the Python Table API
  flink-python/pyflink/table/expressions.py
  flink-python/pyflink/table/tests/test_pandas_udf.py
  flink-python/pyflink/table/tests/test_udf.py
  flink-python/pyflink/table/tests/test_udtf.py
  flink-python/pyflink/table/udf.py
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/calcite/FlinkTypeFactory.scala
Labels: component=API/Python, review=description?

#13203 [FLINK-18984][python][docs] Add tutorial documentation for Python DataStream API
  docs/dev/python/datastream_tutorial.md
  docs/dev/python/datastream_tutorial.zh.md
  docs/dev/python/table_api_tutorial.md
  docs/dev/python/table_api_tutorial.zh.md
  docs/index.md
  docs/index.zh.md
  docs/try-flink/python_api.md
  docs/try-flink/python_api.zh.md
Labels: component=API/Python, review=description?

#13326 [FLINK-19133] Open custom partitioners in KafkaSerializationSchemaWrapper
  flink-connectors/flink-connector-kafka-base/src/main/java/org/apache/flink/streaming/connectors/kafka/internals/KafkaSerializationSchemaWrapper.java
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/streaming/connectors/kafka/FlinkKafkaProducer.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/FlinkKafkaProducerTest.java
Labels: component=Connectors/Kafka, review=description?

#13274 [FLINK-19061][hive] HiveCatalog fails to get partition column stats i…
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/HiveCatalog.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveCatalogHiveMetadataTest.java
Labels: component=Connectors/Hive, review=description?

#13305 [FLINK-19109][task] Ignore isLoopRunning in MailboxExecutor.isIdle
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/mailbox/MailboxExecutorImpl.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/mailbox/MailboxExecutorImplTest.java
  flink-tests/src/test/java/org/apache/flink/test/streaming/api/FileReadingWatermarkITCase.java
Labels: component=<none>, review=description?

#13310 [FLINK-19086] Revert "[FLINK-19052] [serialization] add constructor c…
  flink-core/src/main/java/org/apache/flink/api/java/typeutils/runtime/PojoSerializer.java
Labels: component=API/TypeSerializationSystem, review=description?

#13244 [FLINK-18333][jdbc] UnsignedTypeConversionITCase failed caused by MariaDB4j "Asked to waitFor Program"
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/table/UnsignedTypeConversionITCase.java
Labels: component=Connectors/JDBC, component=TableSQL/Ecosystem, review=description?

#13338 [FLINK-19148][docs] Fix crashed table in Flink Table API & SQL docs
  docs/dev/table/types.md
  docs/dev/table/types.zh.md
Labels: component=Documentation, review=description?

#13337 [FLINK-19109][task] Ignore isLoopRunning in MailboxExecutor.isIdle
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/mailbox/MailboxExecutorImpl.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/mailbox/MailboxExecutorImplTest.java
  flink-tests/src/test/java/org/apache/flink/test/streaming/api/FileReadingWatermarkITCase.java
Labels: component=<none>, review=description?

#13209 [FLINK-18832][datastream] Add compatible check for blocking partition with buffer timeout
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/environment/StreamExecutionEnvironment.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/StreamConfig.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/StreamEdge.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/StreamGraphGenerator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/StreamingJobGraphGenerator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/StreamingRuntimeContext.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/graph/StreamingJobGraphGeneratorTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamConfigChainer.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskMailboxTestHarnessBuilder.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTestHarness.java
Labels: component=Runtime/Network, component=Runtime/Task, review=description?

#13345 [FLINK-18832][datastream] Add compatible check for blocking partition with buffer timeout
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/environment/StreamExecutionEnvironment.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/StreamConfig.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/StreamEdge.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/StreamGraphGenerator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/StreamingJobGraphGenerator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/StreamingRuntimeContext.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/graph/StreamingJobGraphGeneratorTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamConfigChainer.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskMailboxTestHarnessBuilder.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTestHarness.java
Labels: component=Runtime/Network, component=Runtime/Task, review=description?

#12631 [FLINK-17637][connector] Fix the unstable case HadoopS3RecoverableWriterITCase#testCleanupRecoverableState
  flink-filesystems/flink-s3-fs-hadoop/src/test/java/org/apache/flink/fs/s3hadoop/HadoopS3RecoverableWriterITCase.java
Labels: component=FileSystems, component=Tests, review=description?

#13346 [FLINK-18832][datastream] Add compatible check for blocking partition with buffer timeout
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/environment/StreamExecutionEnvironment.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/StreamConfig.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/StreamEdge.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/StreamGraphGenerator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/StreamingJobGraphGenerator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/StreamingRuntimeContext.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/graph/StreamingJobGraphGeneratorTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamConfigChainer.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTestHarness.java
Labels: component=Runtime/Network, component=Runtime/Task, review=description?

#13282 [FLINK-19094][docs] Revise the description of watermark strategy in Flink Table document
  docs/dev/table/connectors/index.md
  docs/dev/table/connectors/index.zh.md
  docs/dev/table/sql/create.md
  docs/dev/table/sql/create.zh.md
Labels: component=Documentation, review=description?

#13362 [FLINK-19163][python][build system] Add building py38 wheel package of PyFlink in Azure CI
  flink-python/dev/build-wheels.sh
Labels: review=description?

#13363 [FLINK-19166][table-runtime] StreamingFileWriter should register Listener before the initialization of buckets
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/stream/StreamingFileWriter.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/filesystem/stream/StreamingFileWriterTest.java
Labels: component=TableSQL/Runtime, review=description?

#13364 [FLINK-18622][python] Add limit method in the Python Table API
  docs/dev/python/table-api-users-guide/conversion_of_pandas.md
  docs/dev/python/table-api-users-guide/conversion_of_pandas.zh.md
  docs/dev/python/table-api-users-guide/intro_to_table_api.md
  docs/dev/python/table-api-users-guide/intro_to_table_api.zh.md
  flink-python/pyflink/table/table.py
  flink-python/pyflink/table/tests/test_sort.py
Labels: component=API/Python, review=description?

#13315 [FLINK-19070][hive] Hive connector should throw a meaningful exception if user reads/writes ACID tables
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSink.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSource.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/util/HiveTableUtil.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/TableEnvHiveConnectorITCase.java
Labels: component=Connectors/Hive, review=description?

#13306 [FLINK-17779][Connectors/ORC]Orc file format support filter push down
  flink-formats/flink-orc/src/main/java/org/apache/flink/orc/OrcFileSystemFormatFactory.java
  flink-formats/flink-orc/src/main/java/org/apache/flink/orc/OrcFilters.java
  flink-formats/flink-orc/src/test/java/org/apache/flink/orc/OrcFileSystemFilterTest.java
  flink-formats/flink-orc/src/test/java/org/apache/flink/orc/OrcFileSystemITCase.java
Labels: component=Connectors/ORC, review=description?

#13333 [FLINK-18823][format] Support serialization for debezium-json format
  docs/dev/table/connectors/formats/canal.md
  docs/dev/table/connectors/formats/canal.zh.md
  docs/dev/table/connectors/formats/debezium.md
  docs/dev/table/connectors/formats/debezium.zh.md
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/debezium/DebeziumJsonDeserializationSchema.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/debezium/DebeziumJsonFormatFactory.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/debezium/DebeziumJsonSerializationSchema.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/canal/CanalJsonSerDeSchemaTest.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/debezium/DebeziumJsonFormatFactoryTest.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/debezium/DebeziumJsonSerDeSchemaTest.java
Labels: component=Formats, component=TableSQL/Ecosystem, review=description?

#13359 [FLINK-18980][e2e] Add timeout to get logs from stalling test
  flink-end-to-end-tests/test-scripts/test_confluent_schema_registry.sh
Labels: component=Connectors/Kafka, component=Tests, review=description?

#13308 [hotfix][docs-zh] Fix invalid links in "Concepts & Common API" page of "Table API & SQL"
  docs/dev/table/common.zh.md
Labels: review=description?

#13361 [FLINK-19170] fix parameter naming error
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/table/sinks/CsvTableSinkFactoryBase.java
Labels: component=<none>, review=description?

#13350 [hotfix] [docs] remove inexistent memory unit reference from javadoc
  flink-core/src/main/java/org/apache/flink/configuration/MemorySize.java
Labels: review=description?

#12541 [javadocs] Fixed typo in Output.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/Output.java
Labels: review=description?

#12672 [hotfix][typo] fix typos in ProcTimeRangeBoundedPrecedingFunction & ProcTimeBoundedRangeOver
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/runtime/aggregate/ProcTimeBoundedRangeOver.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/over/ProcTimeRangeBoundedPrecedingFunction.java
Labels: review=description?

#13352 [FLINK-19092][sql-parser] Parse comment on computed column failed
  flink-table/flink-sql-parser/src/main/codegen/includes/parserImpls.ftl
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlCreateTable.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlTableColumn.java
  flink-table/flink-sql-parser/src/test/java/org/apache/flink/sql/parser/FlinkSqlParserImplTest.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/operations/MergeTableLikeUtil.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/operations/MergeTableLikeUtilTest.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/sqlexec/SqlToOperationConverter.java
Labels: component=TableSQL/API, review=description?

#13349 [FLINK-18335] [tests] Add more debuging logs for NotifyCheckpointAbortedITCase
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/NotifyCheckpointAbortedITCase.java
Labels: component=Runtime/Checkpointing, component=Tests, review=description?

#13272 [FLINK-18695][network] Netty fakes heap buffer allocationn with direct buffers
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/netty/NettyBufferPool.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/netty/NettyBufferPoolTest.java
Labels: component=Runtime/Network, review=description?

#13389 [FLINK-19158][e2e] Increase download timeouts
  flink-end-to-end-tests/run-nightly-tests.sh
Labels: component=BuildSystem, review=description?

#13276 [FLINK-18604][connectors/HBase] HBase ConnectorDescriptor can not work in Table API
  flink-connectors/flink-connector-hbase/src/main/java/org/apache/flink/table/descriptors/HBase.java
  flink-connectors/flink-connector-hbase/src/test/java/org/apache/flink/connector/hbase/HBaseConnectorITCase.java
  flink-connectors/flink-connector-hbase/src/test/java/org/apache/flink/connector/hbase/HBaseDescriptorTest.java
Labels: component=Connectors/HBase, component=TableSQL/API, review=description?

#13374 [FLINK-19109][streaming] Disallow chaining of ContinuousFileReaderOperator. [1.10]
  docs/release-notes/flink-1.10.md
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/source/ContinuousFileReaderOperator.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/graph/StreamingJobGraphGeneratorTest.java
Labels: component=<none>, review=description?

#13383 [FLINK-15467][task] Wait for sourceTaskThread to finish before exiting from StreamTask.invoke [1.10]
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/SourceStreamTask.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/SourceStreamTaskTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTestHarness.java
Labels: component=Runtime/Task, review=description?

#13225 [FLINK-18974][docs-zh]Translate the 'User-Defined Functions' page of "Application Development's DataStream API" into Chinese
  docs/dev/user_defined_functions.zh.md
Labels: component=Documentation, component=chinese-translation, review=description?

#13398 [FLINK-18604][connectors/HBase] HBase ConnectorDescriptor can not work in Table API
  flink-connectors/flink-connector-hbase/src/main/java/org/apache/flink/table/descriptors/HBase.java
  flink-connectors/flink-connector-hbase/src/test/java/org/apache/flink/connector/hbase/HBaseConnectorITCase.java
  flink-connectors/flink-connector-hbase/src/test/java/org/apache/flink/connector/hbase/HBaseDescriptorTest.java
Labels: component=Connectors/HBase, component=TableSQL/API, review=description?

#13395 [FLINK-19005][docs] List JDBC as a source of Metaspace leaks
  docs/monitoring/debugging_classloading.md
  docs/monitoring/debugging_classloading.zh.md
Labels: component=Client/JobSubmission, component=Runtime/Configuration, component=Runtime/Coordination, review=description?

#13407 [FLINK-19246][table-planner] Fix TableSourceITCase.testStreamScanParallelism fails on Azure
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/runtime/stream/table/TableSourceITCase.scala
Labels: component=TableSQL/LegacyPlanner, review=description?

#13402 [FLINK-19262][API/DataStream] Can not setParallelism for FLIP-27 source
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/datastream/DataStreamSource.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/datastream/DataStreamSourceTest.java
Labels: component=API/DataStream, review=description?

#13403 [Hotfix][Docs] Update rest_v1_dispathcer.html
  docs/_includes/generated/rest_v1_dispatcher.html
Labels: review=description?

#13294 [FLINK-19002][canal][json] Support to only read changelogs of specific database and table for canal-json format
  docs/dev/table/connectors/formats/canal.md
  docs/dev/table/connectors/formats/canal.zh.md
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/canal/CanalJsonDeserializationSchema.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/canal/CanalJsonFormatFactory.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/canal/CanalJsonFormatFactoryTest.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/canal/CanalJsonSerDeSchemaTest.java
  flink-formats/flink-json/src/test/resources/canal-data-filter-table.txt
Labels: component=Formats, review=description?

#13418 [FLINK-FLINK][docs] Update the version in docs/_config.yml to be the latest released minor version
  docs/_config.yml
Labels: review=description?

#13417 [FLINK-FLINK][docs] Update the version in docs/_config.yml to be the latest released minor version
  docs/_config.yml
Labels: review=description?

#13275 [FLINK-19064][hbase] HBaseRowDataInputFormat is leaking resources
  flink-connectors/flink-connector-hbase/src/main/java/org/apache/flink/connector/hbase/source/AbstractTableInputFormat.java
  flink-connectors/flink-connector-hbase/src/main/java/org/apache/flink/connector/hbase/source/HBaseInputFormat.java
  flink-connectors/flink-connector-hbase/src/main/java/org/apache/flink/connector/hbase/source/HBaseRowDataInputFormat.java
  flink-connectors/flink-connector-hbase/src/main/java/org/apache/flink/connector/hbase/source/HBaseRowInputFormat.java
  flink-connectors/flink-connector-hbase/src/test/java/org/apache/flink/connector/hbase/HBaseConnectorITCase.java
Labels: component=Connectors/HBase, review=description?

#13432 [FLINK-19280][connectors] fix the bug of the option "sink.buffer-flush.max-rows" for JDBC can't be disabled by set to zero
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/internal/JdbcBatchingOutputFormat.java
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/table/JdbcDynamicOutputFormatTest.java
Labels: component=Connectors/JDBC, component=TableSQL/Ecosystem, review=description?

#13435 [FLINK-19299][tests] Fix that NettyShuffleEnvironmentBuilder#setBufferSize does not take effect
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/NettyShuffleEnvironmentBuilder.java
Labels: component=Tests, review=description?

#13433 [BP-1.11][FLINK-19280][jdbc] Fix option "sink.buffer-flush.max-rows" for JDBC can't be disabled by setting to zero
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/internal/JdbcBatchingOutputFormat.java
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/table/JdbcDynamicOutputFormatTest.java
Labels: component=Connectors/JDBC, component=TableSQL/Ecosystem, review=description?

#13426 [FLINK-19244] CsvRowDataDeserializationSchema throws cast exception : Row length mismatch.
  flink-formats/flink-csv/src/main/java/org/apache/flink/formats/csv/CsvRowDataDeserializationSchema.java
  flink-formats/flink-csv/src/main/java/org/apache/flink/formats/csv/CsvRowDeserializationSchema.java
  flink-formats/flink-csv/src/test/java/org/apache/flink/formats/csv/CsvRowDataSerDeSchemaTest.java
  flink-formats/flink-csv/src/test/java/org/apache/flink/formats/csv/CsvRowDeSerializationSchemaTest.java
Labels: component=Formats, review=description?

#13444 [BP-1.11][FLINK-19244] CsvRowDataDeserializationSchema throws cast ex…
  flink-formats/flink-csv/src/main/java/org/apache/flink/formats/csv/CsvRowDataDeserializationSchema.java
  flink-formats/flink-csv/src/main/java/org/apache/flink/formats/csv/CsvRowDeserializationSchema.java
  flink-formats/flink-csv/src/test/java/org/apache/flink/formats/csv/CsvRowDataSerDeSchemaTest.java
  flink-formats/flink-csv/src/test/java/org/apache/flink/formats/csv/CsvRowDeSerializationSchemaTest.java
Labels: component=Formats, review=description?

#13392 [FLINK-18713][table-planner-blink] Change duration configOption to duration type
  docs/_includes/generated/execution_config_configuration.html
  docs/_includes/generated/jmx_server_configuration.html
  docs/_includes/generated/kubernetes_config_configuration.html
  docs/_includes/generated/table_config_configuration.html
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/config/ExecutionConfigOptions.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/utils/TableConfigUtils.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/common/CommonLookupJoin.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamExecWatermarkAssigner.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/optimize/StreamCommonSubGraphBasedOptimizer.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/utils/WindowEmitStrategy.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/api/stream/ExplainTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/DeduplicateTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/MiniBatchIntervalInferTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/ModifiedMonotonicityTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/agg/AggregateTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/agg/WindowAggregateTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/table/TwoStageAggregateTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/table/validation/GroupWindowTableAggregateValidationTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/WindowAggregateITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/utils/StreamingWithMiniBatchTestBase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/utils/TableTestBase.scala
Labels: component=TableSQL/Planner, review=description?

#13442 [FLINK-19321][Table SQL / Runtime]CollectSinkFunction does not define serialVersionUID
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/collect/CollectSinkFunction.java
Labels: component=TableSQL/Runtime, review=description?

#13440 [FLINK-18725][e2e] Use ClusterIP instead of NodePort and remove query port in internal jobmanager service
  flink-end-to-end-tests/test-scripts/container-scripts/job-cluster-service.yaml
Labels: component=Deployment/Kubernetes, component=Tests, review=description?

#13409 [FLINK-17910][e2e] Fix debug log output to investigate rare test failure
  flink-end-to-end-tests/test-scripts/common_yarn_docker.sh
Labels: component=Deployment/YARN, component=Tests, review=description?

#13332 [FLINK-19128][sql-client] Remove the runtime execution configuration in sql-client-defaults.yaml
  flink-table/flink-sql-client/conf/sql-client-defaults.yaml
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/config/entries/ExecutionEntry.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/ExecutionContext.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/local/ExecutionContextTest.java
  flink-table/flink-sql-client/src/test/resources/test-sql-client-execution.yaml
Labels: component=TableSQL/Client, review=description?

#13414 [FLINK-19227][Table SQL / API] The catalog is still created after opening failed in catalog registering
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/catalog/CatalogManager.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/catalog/GenericInMemoryCatalogTest.java
Labels: component=TableSQL/API, review=description?

#13289 [FLINK-18548][table-planner] support flexible syntax for Temporal table join
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/calcite/FlinkPlannerImpl.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/schema/CatalogSourceTable.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/join/LookupJoinTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/join/LookupJoinTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/batch/sql/join/LookupJoinTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/join/LookupJoinTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/join/LookupJoinITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/LookupJoinITCase.scala
Labels: component=TableSQL/Planner, review=description?

#13455 [FLINK-19361][hive] Create a synchronized metastore client to talk to…
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/HiveCatalog.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/client/HiveMetastoreClientWrapper.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveCatalogITCase.java
Labels: component=Connectors/Hive, review=description?

#13453 [FLINK-19311][coordination] Add ResourceRequirement(s)
  flink-runtime/src/main/java/org/apache/flink/runtime/slots/ResourceRequirement.java
  flink-runtime/src/main/java/org/apache/flink/runtime/slots/ResourceRequirements.java
Labels: component=Runtime/Coordination, review=description?

#13450 [FLINK-19339] Support unions with logical types in Avro >= 1.9.x
  flink-formats/flink-avro/src/main/java/org/apache/flink/formats/avro/AvroDeserializationSchema.java
  flink-formats/flink-avro/src/main/java/org/apache/flink/formats/avro/typeutils/AvroFactory.java
  flink-formats/flink-avro/src/main/java/org/apache/flink/formats/avro/typeutils/AvroSerializerSnapshot.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/AvroDeserializationSchemaTest.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/AvroSerializationSchemaTest.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/typeutils/AvroUnionLogicalSerializerTest.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/utils/AvroTestUtils.java
  flink-formats/flink-avro/src/test/resources/avro/user.avsc
Labels: component=Formats, review=description?

#13003 [FLINK-18737][docs]translate jdbc connector
  docs/dev/connectors/jdbc.zh.md
Labels: component=Documentation, component=chinese-translation, review=description?

#13469 [FLINK-19361][hive] Create a synchronized metastore client to talk to…
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/HiveCatalog.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/client/HiveMetastoreClientWrapper.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveCatalogITCase.java
Labels: component=Connectors/Hive, review=description?

#13474 [FLINK-19391][network] Moved notification during subpartition request to the requester.
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/netty/CreditBasedSequenceNumberingViewReader.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/NoOpResultSubpartitionView.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/ResultPartitionManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/LocalInputChannel.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/BoundedBlockingSubpartitionAvailabilityTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/FileChannelBoundedDataTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/consumer/SingleInputGateTest.java
Labels: component=Runtime/Network, review=description?

#13454 [FLINK-19304][coordination] Add FLIP-138 feature toggle
  flink-core/src/main/java/org/apache/flink/configuration/ClusterOptions.java
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/DefaultJobManagerRunnerFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/slotpool/DefaultSlotPoolFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/slotpool/SlotPoolFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/resourcemanager/ResourceManagerRuntimeServices.java
  flink-runtime/src/main/java/org/apache/flink/runtime/resourcemanager/ResourceManagerRuntimeServicesConfiguration.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/JobMasterTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/utils/JobMasterBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/ResourceManagerHATest.java
Labels: component=Runtime/Configuration, component=Runtime/Coordination, review=description?

#13478 [FLINK-19411][task] Fix construction of MultipleInputStreamTask with union inputs
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/StreamMultipleInputProcessor.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/MultipleInputStreamTask.java
  flink-tests/src/test/java/org/apache/flink/test/streaming/runtime/MultipleInputITCase.java
Labels: component=API/DataStream, review=description?

#13303 [FLINK-19098][format] Make row data converters public
  flink-formats/flink-csv/src/main/java/org/apache/flink/formats/csv/CsvFileSystemFormatFactory.java
  flink-formats/flink-csv/src/main/java/org/apache/flink/formats/csv/CsvRowDataDeserializationSchema.java
  flink-formats/flink-csv/src/main/java/org/apache/flink/formats/csv/CsvRowDataSerializationSchema.java
  flink-formats/flink-csv/src/main/java/org/apache/flink/formats/csv/CsvToRowDataConverters.java
  flink-formats/flink-csv/src/main/java/org/apache/flink/formats/csv/RowDataToCsvConverters.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/JsonRowDataDeserializationSchema.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/JsonRowDataSerializationSchema.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/JsonToRowDataConverters.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/RowDataToJsonConverters.java
Labels: component=Formats, component=TableSQL/Ecosystem, review=description?

#13283 [FLINK-18759][tests] Add readme.md for TPC-DS tools
  flink-end-to-end-tests/flink-tpcds-test/README.md
  flink-end-to-end-tests/flink-tpcds-test/tpcds-tool/README.md
  flink-end-to-end-tests/flink-tpcds-test/tpcds-tool/data_generator.sh
Labels: component=Tests, review=description?

#13419 [FLINK-18842][e2e] Added 10min timeout to building the container.
  flink-end-to-end-tests/test-scripts/common.sh
  flink-end-to-end-tests/test-scripts/common_docker.sh
Labels: component=TestInfrastructure, component=flink-docker, review=description?

#13391 Update README.md
  docs/README.md
Labels: review=description?

#13493 [FLINK-19433] [docs] Correct example of FROM_UNIXTIME function in document
  docs/dev/table/functions/systemFunctions.md
  docs/dev/table/functions/systemFunctions.zh.md
Labels: component=Documentation, component=TableSQL/API, review=description?

#13356 [FLINK-16789][runtime][rest] Enable JMX RMI port retrieval via REST API
  docs/_includes/generated/rest_v1_dispatcher.html
  flink-mesos/src/test/java/org/apache/flink/mesos/runtime/clusterframework/MesosResourceManagerTest.java
  flink-runtime-web/src/test/resources/rest_api_v1.snapshot
  flink-runtime/src/main/java/org/apache/flink/runtime/resourcemanager/ResourceManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/resourcemanager/TaskExecutorRegistration.java
  flink-runtime/src/main/java/org/apache/flink/runtime/resourcemanager/registration/WorkerRegistration.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/messages/taskmanager/TaskManagerDetailsInfo.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/messages/taskmanager/TaskManagerInfo.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskExecutor.java
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/ResourceManagerPartitionLifecycleTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/ResourceManagerTaskExecutorTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/ResourceManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/active/ActiveResourceManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/messages/taskmanager/TaskManagerInfoTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskExecutorToResourceManagerConnectionTest.java
  flink-yarn/src/test/java/org/apache/flink/yarn/YarnResourceManagerTest.java
Labels: component=Runtime/Coordination, component=Runtime/Task, review=description?

#13497 [FLINK-19429][docs-zh] Translate page `Data Types` into Chinese
  docs/dev/python/datastream-api-users-guide/data_types.zh.md
Labels: component=Documentation, component=chinese-translation, review=description?

#13434 [FLINK-19292][hive] HiveCatalog should support specifying Hadoop conf dir with configuration
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/HiveCatalog.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/descriptors/HiveCatalogValidator.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/factories/HiveCatalogFactory.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/util/HiveTableUtil.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveTestUtils.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/factories/HiveCatalogFactoryTest.java
Labels: component=Connectors/Hive, review=description?

#13498 [FLINK-19430][docs-zh] Translate page datastream_tutorial into Chinese
  docs/dev/python/datastream_tutorial.zh.md
Labels: component=Documentation, component=chinese-translation, review=description?

#13524 [FLINK-19258][docs] Fix the wrong example of "csv.line-delimiter" in CSV documentation
  docs/dev/table/connectors/formats/csv.md
  docs/dev/table/connectors/formats/csv.zh.md
Labels: component=Documentation, component=Formats, component=TableSQL/Ecosystem, review=description?
