Repository apache/flink, pull requests merged in 2020-01, with the labels that each got.

#10731 [FLINK-15443][jdbc] Fix mismatch between java float and jdbc float
  flink-connectors/flink-jdbc/src/main/java/org/apache/flink/api/java/io/jdbc/JDBCTypeUtil.java
  flink-connectors/flink-jdbc/src/test/java/org/apache/flink/api/java/io/jdbc/JDBCUpsertTableSinkITCase.java
Labels: component=Connectors/JDBC, review=description?

#10741 [FLINK-15443][jdbc] Fix mismatch between Java float and JDBC float
  flink-connectors/flink-jdbc/src/main/java/org/apache/flink/api/java/io/jdbc/JDBCTypeUtil.java
  flink-connectors/flink-jdbc/src/test/java/org/apache/flink/api/java/io/jdbc/JDBCUpsertTableSinkITCase.java
Labels: component=Connectors/JDBC, review=description?

#10727 [FLINK-15420][table-planner-blink] Cast string to timestamp will loos…
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/calls/ScalarOperatorGens.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/expressions/TemporalTypesTest.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/functions/SqlDateTimeUtils.java
Labels: component=TableSQL/Planner, review=description?

#10700 [FLINK-15383][table sql / planner & legacy planner] Using sink schema field name instead of query schema field name for UpsertStreamTableSink.
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamExecSink.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/utils/UpdatingPlanChecker.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/table/TableSinkITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/utils/StreamTestSink.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/plan/util/UpdatingPlanChecker.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/StreamPlanner.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/runtime/stream/table/TableSinkITCase.scala
Labels: component=TableSQL/LegacyPlanner, component=TableSQL/Planner, review=description?

#10693 [FLINK-15334][table sql / api] Fix physical schema mapping in TableFormatFactoryBase to support define orderless computed column
  flink-connectors/flink-connector-kafka-base/src/test/java/org/apache/flink/streaming/connectors/kafka/KafkaTableTestBase.java
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/table/descriptors/SchemaValidator.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/factories/TableFormatFactoryBase.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/descriptors/SchemaValidatorTest.scala
Labels: component=TableSQL/API, review=description?

#10694 [FLINK-15381] [table-planner-blink] correct collation derive logic on RelSubset in RelMdCollation
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/TableEnvHiveConnectorTest.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/metadata/FlinkRelMdCollation.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/metadata/FlinkDefaultRelMetadataProvider.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/CalcTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/agg/GroupingSetsTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/batch/sql/CalcTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdHandlerTestBase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdRowCollationTest.scala
Labels: component=TableSQL/Planner, review=description?

#10751 [hotfix][docs] Fix link to latency granularity
  docs/monitoring/metrics.md
  docs/monitoring/metrics.zh.md
Labels: review=description?

#10752 [hotfix][docs] Fix link to latency granularity
  docs/monitoring/metrics.md
  docs/monitoring/metrics.zh.md
Labels: review=description?

#10744 [FLINK-15454][cluster] Remove redundant inherited ClusterEntrypoint#installSecurityContext
  flink-runtime/src/main/java/org/apache/flink/runtime/entrypoint/ClusterEntrypoint.java
  flink-yarn/src/main/java/org/apache/flink/yarn/entrypoint/YarnEntrypointUtils.java
  flink-yarn/src/main/java/org/apache/flink/yarn/entrypoint/YarnJobClusterEntrypoint.java
  flink-yarn/src/main/java/org/apache/flink/yarn/entrypoint/YarnSessionClusterEntrypoint.java
Labels: component=Runtime/Coordination, review=description?

#10729 [hotfix][runtime] Remove invalid comment from CheckpointedInputGate
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/CheckpointedInputGate.java
Labels: review=description?

#10765 [hotfix][docs] Fix typo in asyncio.md
  docs/dev/stream/operators/asyncio.md
Labels: review=description?

#10703 [hotfix][runtime] Fix a comment typo in CheckpointBarrierAligner
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/CheckpointBarrierAligner.java
Labels: review=description?

#10679 [hotfix][runtime] Remove unused IOManager parameter while constructing BufferStorage
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/InputProcessorUtil.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/OneInputStreamTask.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/TwoInputStreamTask.java
Labels: review=description?

#10737 [FLINK-15430][table-planner-blink] Fix Java 64K method compiling limi…
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/CalcCodeGenerator.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/CodeGeneratorContext.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/ExprCodeGenerator.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/GeneratedExpression.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/agg/batch/HashAggCodeGenHelper.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/CalcITCase.scala
Labels: component=TableSQL/Planner, review=description?

#10771 [FLINK-14572][test] Print the root cause if job fails in BlobsCleanupITCase
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmanager/BlobsCleanupITCase.java
Labels: component=Runtime/Coordination, component=Tests, review=description?

#10770 [FLINK-15481][python] Add `list[str]` to the type hint of the parameter "schema" in `TableEnvironment#from_elements`.
  flink-python/pyflink/table/table_environment.py
Labels: component=API/Python, review=description?

#10767 [hotfix][docs] Align the documentation of checkpoint directory to the actual implementation
  docs/ops/state/checkpoints.md
  docs/ops/state/checkpoints.zh.md
Labels: review=description?

#10617 [FLINK-15021][network] Remove the setting of netty channel watermark in NettyServer
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/netty/NettyConfig.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/netty/NettyServer.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/netty/NettyServerLowAndHighWatermarkTest.java
Labels: component=Runtime/Network, review=description?

#10763 [FLINK-14200][table] Fix NPE for Temporal Table Function Join when left side is a query instead of a source
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/catalog/QueryOperationCatalogViewTable.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/calcite/FlinkRelBuilder.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/logical/LogicalCorrelateToJoinFromTemporalTableFunctionRule.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/MiniBatchIntervalInferTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/join/TemporalJoinTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/MiniBatchIntervalInferTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/join/TemporalJoinTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/TemporalJoinITCase.scala
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/catalog/QueryOperationCatalogViewTable.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/calcite/FlinkRelBuilder.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/plan/rules/logical/LogicalCorrelateToTemporalTableJoinRule.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/stream/sql/TemporalTableJoinTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/runtime/stream/sql/TemporalJoinITCase.scala
Labels: component=TableSQL/Planner, review=description?

#10766 [FLINK-15478][table-planner-blink] Fix FROM_BASE64 code gen result type
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/calls/StringCallGen.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/expressions/ScalarFunctionsTest.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/functions/SqlFunctionUtils.java
Labels: component=TableSQL/Planner, review=description?

#10782 [FLINK-14200][table] Fix NPE for Temporal Table Function Join when left side is a query instead of a source
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/catalog/QueryOperationCatalogViewTable.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/calcite/FlinkRelBuilder.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/logical/LogicalCorrelateToJoinFromTemporalTableFunctionRule.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/MiniBatchIntervalInferTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/join/TemporalJoinTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/MiniBatchIntervalInferTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/join/TemporalJoinTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/TemporalJoinITCase.scala
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/catalog/QueryOperationCatalogViewTable.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/calcite/FlinkRelBuilder.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/plan/rules/logical/LogicalCorrelateToTemporalTableJoinRule.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/stream/sql/TemporalTableJoinTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/runtime/stream/sql/TemporalJoinITCase.scala
Labels: component=TableSQL/Planner, review=description?

#10786 [FLINK-15398][hotfix][doc]Correct catalog doc example mistake
  docs/dev/table/catalogs.md
  docs/dev/table/catalogs.zh.md
Labels: component=Documentation, review=description?

#10756 [FLINK-15465][FLINK-11964][table-runtime-blink] Fix required memory calculation not accurate and hash collision bugs in hash table
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/hashtable/BaseHybridHashTable.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/hashtable/BinaryHashBucketArea.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/hashtable/BinaryHashTable.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/hashtable/LongHashPartition.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/hashtable/LongHybridHashTable.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/hashtable/BinaryHashTableTest.java
Labels: component=Runtime/Task, review=description?

#10775 [FLINK-15482][hive] Failed to call Hive functions returning decimal type
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/functions/hive/HiveGenericUDAF.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/functions/hive/HiveScalarFunction.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/module/hive/HiveModuleTest.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/calls/ScalarFunctionCallGen.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/CalcITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/utils/UserDefinedFunctionTestUtils.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/dataformat/DataFormatConverters.java
Labels: component=Connectors/Hive, review=description?

#7314 [FLINK-11135][YARN] Refactor Hadoop config loading in HadoopUtils
  flink-filesystems/flink-hadoop-fs/src/main/java/org/apache/flink/runtime/util/HadoopUtils.java
  flink-filesystems/flink-hadoop-fs/src/test/java/org/apache/flink/runtime/fs/hdfs/HadoopConfigLoadingTest.java
Labels: component=Deployment/YARN

#10789 [FLINK-15502] Correct minor mistake of the Chinese translation in 'Queries' page of Table API SQL
  docs/dev/table/sql/queries.zh.md
Labels: component=chinese-translation, review=description?

#10792 [FLINK-15499][yarn] Log TM host and resource at INFO level when starting new TMs.
  flink-yarn/src/main/java/org/apache/flink/yarn/YarnResourceManager.java
Labels: component=Deployment/YARN, review=description?

#10799 [hotfix] [python]Change the text of PyPI Author from `Flink Developers` to `A…
  flink-python/setup.py
Labels: review=description?

#10795 [FLINK-15510] Pretty Print StreamGraph JSON Plan
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/JSONGenerator.java
Labels: component=API/DataStream, review=description?

#10502 [FLINK-14825][state-processor-api][docs] Rework state processor api documentation
  docs/dev/libs/state_processor_api.md
  docs/dev/libs/state_processor_api.zh.md
  docs/fig/application-my-app-state-processor-api.png
  docs/fig/database-my-app-state-processor-api.png
Labels: component=API/StateProcessor, component=Documentation, review=description?

#10806 [hotfix][documentation] Fix wrong DataStream class type
  docs/dev/stream/testing.md
  docs/dev/stream/testing.zh.md
Labels: review=description?

#10807 [hotfix] Fix wrong javadoc of ProcessFunctionTestHarnessesTest
  flink-streaming-java/src/test/java/org/apache/flink/streaming/util/ProcessFunctionTestHarnessesTest.java
Labels: review=description?

#10760 [FLINK-15466][table-planner] Fix bug of `FlinkAggregateExpandDistinct…
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/rules/logical/FlinkAggregateExpandDistinctAggregatesRule.java
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/agg/DistinctAggregateTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/rules/logical/FlinkAggregateExpandDistinctAggregatesRuleTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/batch/sql/agg/DistinctAggregateTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/common/DistinctAggregateTestBase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/rules/logical/FlinkAggregateExpandDistinctAggregatesRuleTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/agg/DistinctAggregateITCaseBase.scala
Labels: component=TableSQL/Planner, review=description?

#10808 [FLINK-15536][configuration] Revert removal of ConfigConstants.YARN_MAX_FAILED_CONTAINERS
  flink-core/src/main/java/org/apache/flink/configuration/ConfigConstants.java
Labels: review=description?

#10761 [FLINK-15457][yarn] Remove finished TODO in YarnEntrypointUtils
  flink-yarn/src/main/java/org/apache/flink/yarn/entrypoint/YarnEntrypointUtils.java
Labels: component=Deployment/YARN, review=description?

#10803 [FLINK-15518][web]: don not hide web frontend side pane automatically
  flink-runtime-web/web-dashboard/src/app/app-routing.module.ts
  flink-runtime-web/web-dashboard/src/app/app.component.ts
Labels: component=Runtime/WebFrontend, review=description?

#10816 [Flink-15355] Fixed parsing of plugin parent-first patterns.
  flink-core/src/main/java/org/apache/flink/configuration/CoreOptions.java
  flink-core/src/test/java/org/apache/flink/configuration/CoreOptionsTest.java
Labels: component=FileSystems, review=description?

#10662 [FLINK-15306][network] Adjust the default netty transport option from nio to auto
  docs/_includes/generated/network_netty_configuration.html
  flink-core/src/main/java/org/apache/flink/configuration/NettyShuffleEnvironmentOptions.java
Labels: component=Runtime/Configuration, component=Runtime/Network, review=description?

#10329 [FLINK-12785][StateBackend] RocksDB savepoint recovery can use a lot of unmanaged memory
  docs/_includes/generated/rocks_db_configurable_configuration.html
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBConfigurableOptions.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBIncrementalCheckpointUtils.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBKeyedStateBackend.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBKeyedStateBackendBuilder.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBMapState.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBStateBackend.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBWriteBatchWrapper.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/restore/RocksDBFullRestoreOperation.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/restore/RocksDBIncrementalRestoreOperation.java
  flink-state-backends/flink-statebackend-rocksdb/src/test/java/org/apache/flink/contrib/streaming/state/RocksDBIncrementalCheckpointUtilsTest.java
  flink-state-backends/flink-statebackend-rocksdb/src/test/java/org/apache/flink/contrib/streaming/state/RocksDBWriteBatchWrapperTest.java
Labels: component=Runtime/StateBackends, review=description?

#10826 [FLINK-15355][plugins] Fixed parsing of plugin parent-first patterns.
  flink-core/src/main/java/org/apache/flink/configuration/CoreOptions.java
  flink-core/src/test/java/org/apache/flink/configuration/CoreOptionsTest.java
Labels: component=FileSystems, review=description?

#10817 [FLINK-15542][legal] Move NOTICE entry for lz4-java
  flink-dist/src/main/resources/META-INF/NOTICE
  flink-runtime/src/main/resources/META-INF/NOTICE
Labels: component=ReleaseSystem, review=description?

#10818 [FLINK-15543][legal] Remove Apache Camel NOTICE entries
  flink-dist/src/main/resources/META-INF/NOTICE
Labels: component=ReleaseSystem, review=description?

#10800 [FLINK-15520][prometheus][tests] Use DownloadCache
  flink-end-to-end-tests/flink-metrics-reporter-prometheus-test/src/test/java/org/apache/flink/metrics/prometheus/tests/PrometheusReporterEndToEndITCase.java
Labels: component=Tests, review=description?

#10811 [FLINK-15504] Allow output to stdout/stderr during execution of PackagedProgram
  flink-clients/src/main/java/org/apache/flink/client/cli/CliFrontend.java
  flink-clients/src/main/java/org/apache/flink/client/program/OptimizerPlanEnvironment.java
  flink-clients/src/main/java/org/apache/flink/client/program/PackagedProgramUtils.java
  flink-clients/src/test/java/org/apache/flink/client/cli/CliFrontendPackageProgramTest.java
  flink-clients/src/test/java/org/apache/flink/client/program/ClientTest.java
  flink-clients/src/test/java/org/apache/flink/client/program/ExecutionPlanCreationTest.java
  flink-clients/src/test/java/org/apache/flink/client/program/OptimizerPlanEnvironmentTest.java
  flink-container/src/main/java/org/apache/flink/container/entrypoint/ClassPathJobGraphRetriever.java
  flink-runtime-web/src/main/java/org/apache/flink/runtime/webmonitor/handlers/JarPlanHandler.java
  flink-runtime-web/src/main/java/org/apache/flink/runtime/webmonitor/handlers/JarRunHandler.java
  flink-runtime-web/src/main/java/org/apache/flink/runtime/webmonitor/handlers/utils/JarHandlerUtils.java
  flink-runtime-web/src/test/java/org/apache/flink/runtime/webmonitor/handlers/JarHandlerTest.java
  flink-runtime-web/src/test/java/org/apache/flink/runtime/webmonitor/handlers/JarRunHandlerTest.java
  flink-tests/src/test/java/org/apache/flink/test/optimizer/jsonplan/DumpCompiledPlanTest.java
  flink-tests/src/test/java/org/apache/flink/test/optimizer/jsonplan/PreviewPlanDumpTest.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YarnConfigurationITCase.java
Labels: component=Client/JobSubmission, review=description?

#10692 [FLINK-15387] Expose missing RocksDB properties out via RocksDBNativeMetricOptions
  docs/_includes/generated/rocks_db_native_metric_configuration.html
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBNativeMetricOptions.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBProperty.java
Labels: component=Runtime/StateBackends, review=description?

#10831 [FLINK-13465][legal] Update javassist licensing
  flink-dist/src/main/resources/META-INF/NOTICE
Labels: component=BuildSystem, component=Tests, review=description?

#10820 [FLINK-15512][statebackend] Refactor the mechanism to calculate the cache capacity shared among RocksDB instance(s)
  docs/_includes/generated/rocks_db_configuration.html
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBMemoryConfiguration.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBMemoryControllerUtils.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBOperationUtils.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBOptions.java
  flink-state-backends/flink-statebackend-rocksdb/src/test/java/org/apache/flink/contrib/streaming/state/RocksDBMemoryControllerUtilsTest.java
Labels: component=Runtime/StateBackends, review=description?

#10827 [FLINK-15548] [table-runtime-blink] Make KeyedCoProcessOperatorWithWatermarkDelay extends KeyedCoProcessOperator instead of LegacyKeyedCoProcessOperator
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamExecWindowJoin.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/join/KeyedCoProcessOperatorWithWatermarkDelay.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/join/TimeBoundedStreamJoin.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/join/ProcTimeBoundedStreamJoinTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/join/RowTimeBoundedStreamJoinTest.java
Labels: component=TableSQL/Runtime, review=description?

#10825 [FLINK-15522][runtime] JobResult takes ExecutionGraph failure cause as its failure cause only if job is FAILED
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/JobResult.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/JobResultTest.java
Labels: component=Client/JobSubmission, component=Runtime/Coordination, review=description?

#10787 [FLINK-15495][sql-cli] Set default planner to Blink planner for SQL Client
  docs/dev/table/sqlClient.md
  docs/dev/table/sqlClient.zh.md
  flink-table/flink-sql-client/conf/sql-client-defaults.yaml
Labels: component=TableSQL/Client, review=description?

#10735 [hotfix][runtime] Fix variable name typos in TaskInformation.java and…
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/TaskInformation.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskmanager/Task.java
Labels: review=description?

#10805 [FLINK-15529] [docs] Update upgrade compatibility table in operations doc for 1.10.0
  docs/ops/upgrading.md
Labels: component=Documentation, review=description?

#10841 [FLINK-15565][table-planner-blink] Fix error conversion of TinyInt,SmallInt literals between Flink and Calcite
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/expressions/converter/ExpressionConverter.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/expressions/converter/ExpressionConverterTest.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/OverWindowITCase.scala
Labels: component=TableSQL/Planner, review=description?

#10844 [FLINK-15559][docs] Fix broken links due to missing baseurl
  docs/_includes/sidenav.html
  docs/dev/table/functions/systemFunctions.md
  docs/dev/table/functions/systemFunctions.zh.md
  docs/dev/table/sourceSinks.md
  docs/dev/table/sourceSinks.zh.md
  docs/dev/table/sql/create.zh.md
  docs/dev/table/sql/queries.zh.md
  docs/getting-started/docker-playgrounds/flink-operations-playground.md
  docs/getting-started/docker-playgrounds/flink-operations-playground.zh.md
  docs/getting-started/walkthroughs/table_api.md
  docs/release-notes/flink-1.8.md
  docs/release-notes/flink-1.8.zh.md
Labels: component=Documentation, review=description?

#10839 [FLINK-15567][table][docs] Add documentation for INSERT statements for Flink SQL
  docs/dev/table/sql/index.md
  docs/dev/table/sql/index.zh.md
  docs/dev/table/sql/insert.md
  docs/dev/table/sql/insert.zh.md
Labels: component=Documentation, review=description?

#10849 [hotfix] [javadocs] fix typo in KafkaTopicPartitionStateWithPunctuatedWatermarks class introduction
  flink-connectors/flink-connector-kafka-base/src/main/java/org/apache/flink/streaming/connectors/kafka/internals/KafkaTopicPartitionStateWithPunctuatedWatermarks.java
Labels: review=description?

#10713 [FLINK-15431][CEP] Add numLateRecordsDropped/lateRecordsDroppedRate/watermarkLatency in CepOperator
  flink-libraries/flink-cep/src/main/java/org/apache/flink/cep/operator/CepOperator.java
  flink-libraries/flink-cep/src/test/java/org/apache/flink/cep/operator/CEPOperatorTest.java
Labels: component=Library/CEP, review=description?

#10830 [FLINK-15554][azure] Bump jetty-util to 3.1.2
  flink-filesystems/flink-azure-fs-hadoop/pom.xml
  flink-filesystems/flink-azure-fs-hadoop/src/main/resources/META-INF/NOTICE
Labels: component=BuildSystem, component=Connectors/FileSystem, review=description?

#10779 [FLINK-15327][runtime] No warning of InterruptedException during cancel.
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/SourceStreamTaskTest.java
Labels: component=Examples, component=Tests, review=description?

#10864 [hotfix][typo] Fix doc typo for the java doc of MultiStateKeyIteratorTest
  flink-libraries/flink-state-processing-api/src/test/java/org/apache/flink/state/api/input/MultiStateKeyIteratorTest.java
Labels: review=description?

#10824 [FLINK-15152][checkpointing] Restatrt CheckpointCoordinator if StopWithSavepoint failed
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/SchedulerBase.java
  flink-tests/src/test/java/org/apache/flink/runtime/jobmaster/JobMasterStopWithSavepointIT.java
Labels: component=Runtime/Checkpointing, review=description?

#10861 [FLINK-15558][Connector] Bump Elasticsearch version from 7.3.2 to 7.5.1 for es7 connector
  flink-connectors/flink-connector-elasticsearch7/pom.xml
  flink-connectors/flink-sql-connector-elasticsearch7/src/main/resources/META-INF/NOTICE
Labels: component=Connectors/ElasticSearch, review=description?

#10872 [hotfix][javadoc] Add a missing param doc for JobExecutionException
  flink-runtime/src/main/java/org/apache/flink/runtime/client/JobExecutionException.java
Labels: review=description?

#10885 [hotfix][javadoc] fix doc example error for AggregateFunction
  flink-core/src/main/java/org/apache/flink/api/common/functions/AggregateFunction.java
Labels: review=description?

#10869 [FLINK-15615][docs] fix File Sink consistency guarantees
  docs/dev/connectors/guarantees.md
  docs/dev/connectors/guarantees.zh.md
Labels: component=Documentation, review=description?

#10832 [FLINK-14163][runtime]Enforce synchronous registration of Execution#producedPartitions
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/Execution.java
  flink-runtime/src/main/java/org/apache/flink/runtime/shuffle/ShuffleMaster.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/ExecutionTest.java
Labels: component=Runtime/Coordination, review=description?

#10236 [FLINK-14703][e2e] Port the Kafka SQL related tests.
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/pom.xml
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/src/test/java/org/apache/flink/tests/util/kafka/SQLClientKafkaITCase.java
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/src/test/resources/kafka_json_source_schema.yaml
  flink-end-to-end-tests/flink-end-to-end-tests-common/src/main/java/org/apache/flink/tests/util/FlinkDistribution.java
  flink-end-to-end-tests/flink-end-to-end-tests-common/src/main/java/org/apache/flink/tests/util/flink/ClusterController.java
  flink-end-to-end-tests/flink-end-to-end-tests-common/src/main/java/org/apache/flink/tests/util/flink/LocalStandaloneFlinkResource.java
  flink-end-to-end-tests/flink-end-to-end-tests-common/src/main/java/org/apache/flink/tests/util/flink/SQLJobSubmission.java
  flink-end-to-end-tests/run-nightly-tests.sh
  flink-end-to-end-tests/test-scripts/test_sql_client_kafka.sh
  flink-end-to-end-tests/test-scripts/test_sql_client_kafka010.sh
  flink-end-to-end-tests/test-scripts/test_sql_client_kafka011.sh
  flink-end-to-end-tests/test-scripts/test_sql_client_kafka_common.sh
  tools/travis/splits/split_misc.sh
Labels: component=BuildSystem, review=description?

#10769 [FLINK-15479]Override explainSource method for JDBCTableSource
  flink-connectors/flink-jdbc/pom.xml
  flink-connectors/flink-jdbc/src/main/java/org/apache/flink/api/java/io/jdbc/JDBCTableSource.java
  flink-connectors/flink-jdbc/src/test/java/org/apache/flink/api/java/io/jdbc/JDBCTableSourceITCase.java
  flink-connectors/flink-jdbc/src/test/java/org/apache/flink/api/java/io/jdbc/JDBCTableSourceSinkFactoryTest.java
  flink-connectors/flink-jdbc/src/test/java/org/apache/flink/api/java/io/jdbc/JDBCTestBase.java
Labels: component=Connectors/JDBC, review=description?

#10895 [FLINK-15650][python][doc] Improves the UDFs documentation of Python API
  docs/dev/table/functions/udfs.md
  docs/dev/table/functions/udfs.zh.md
Labels: review=description?

#10815 [FLINK-15537][table-planner-blink] Type of keys should be `BinaryRow`…
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/agg/DistinctAggCodeGen.scala
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/functions/aggfunctions/ListAggWsWithRetractAggFunctionTest.java
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/rules/logical/SplitAggregateRuleTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/agg/DistinctAggregateTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/agg/IncrementalAggregateTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/rules/logical/SplitAggregateRuleTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/agg/DistinctAggregateTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/agg/SortAggITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/AggregateITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/table/AggregateITCase.scala
Labels: component=TableSQL/Planner, review=description?

#10884 [FLINK-15630][python][doc] Improve the environment requirement documentation of the Python API.
  docs/dev/table/functions/udfs.md
  docs/dev/table/functions/udfs.zh.md
  docs/flinkDev/building.md
  docs/flinkDev/building.zh.md
  docs/getting-started/walkthroughs/python_table_api.md
  docs/getting-started/walkthroughs/python_table_api.zh.md
  docs/ops/cli.md
  docs/ops/cli.zh.md
  docs/ops/python_shell.md
  docs/ops/python_shell.zh.md
Labels: component=<none>, review=description?

#10897 [FLINK-15657][python][doc] Fix the python table api doc link in Python API tutorial
  docs/getting-started/walkthroughs/python_table_api.zh.md
Labels: component=API/Python, component=Documentation, review=description?

#10901 [FLINK-15575] [filesystems] fix shading of azure filesystem
  flink-filesystems/flink-azure-fs-hadoop/pom.xml
Labels: component=FileSystems, review=description?

#10823 [FLINK-15497][table-planner-blink] Reduce outputs when rank number is not required in Retractable topN
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/RankITCase.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/rank/RetractableTopNFunction.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/rank/UpdatableTopNFunction.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/rank/RetractableTopNFunctionTest.java
Labels: component=TableSQL/Runtime, review=description?

#10896 [FLINK-15631][table-planner-blink] Fix equals code generation for raw and timestamp type
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/EqualiserCodeGenerator.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/calls/ScalarOperatorGens.scala
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/codegen/EqualiserCodeGeneratorTest.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/expressions/ScalarFunctionsTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/expressions/utils/ScalarTypesTestBase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/AggregateITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/utils/UserDefinedFunctionTestUtils.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/dataformat/LazyBinaryFormat.java
Labels: component=TableSQL/Planner, review=description?

#10893 [FLINK-15637][state backends] Make RocksDB the default store for timers when using RocksDBStateBackend
  docs/_includes/generated/rocks_db_configuration.html
  docs/ops/state/large_state_tuning.md
  docs/ops/state/large_state_tuning.zh.md
  flink-end-to-end-tests/test-scripts/test_resume_savepoint.sh
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBOptions.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBStateBackend.java
  flink-state-backends/flink-statebackend-rocksdb/src/test/java/org/apache/flink/contrib/streaming/state/RocksDBStateBackendConfigTest.java
Labels: component=Runtime/StateBackends, review=description?

#10903 [FLINK-15549][API/DataSet] Fix Integer overflow in ResettableIterator*.
  flink-runtime/src/main/java/org/apache/flink/runtime/operators/resettable/SpillingResettableIterator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/operators/resettable/SpillingResettableMutableObjectIterator.java
Labels: component=API/DataSet, review=description?

#10868 [FLINK-15278][docs-zh] Update Chinese version StreamingFileSink doc
  docs/dev/connectors/streamfile_sink.zh.md
Labels: component=Connectors/FileSystem, component=Documentation, review=description?

#10840 [FLINK-15444][runtime] Make the component AbstractInvokable in CheckpointBarrierHandler NonNull
  flink-runtime/src/test/java/org/apache/flink/runtime/operators/testutils/DummyCheckpointInvokable.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/CheckpointBarrierAligner.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/CheckpointBarrierHandler.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/CheckpointBarrierTracker.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/CheckpointedInputGate.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/CheckpointBarrierAlignerMassiveRandomTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/CheckpointBarrierAlignerTestBase.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/CheckpointBarrierTrackerTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/CreditBasedCheckpointBarrierAlignerTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/StreamTaskNetworkInputTest.java
Labels: component=Runtime/Checkpointing, review=description?

#10906 [FLINK-15601] Remove useless constant field NUM_STOP_CALL_TRIES in Execution
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/Execution.java
Labels: component=Runtime/Task, review=description?

#10909 [FLINK-15686][sql-client] Use old type system in CollectStreamTableSink
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/CollectStreamTableSink.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/ResultStore.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/result/ChangelogCollectStreamResult.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/result/CollectStreamResult.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/result/DynamicResult.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/result/MaterializedCollectBatchResult.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/result/MaterializedCollectStreamResult.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/local/LocalExecutorITCase.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/local/result/MaterializedCollectStreamResultTest.java
Labels: component=TableSQL/Client, review=description?

#10874 [FLINK-15552][table api] parameters --library and --jar doesn't work for DDL in sqlClient
  flink-scala-shell/src/test/scala/org/apache/flink/api/scala/ScalaShellITCase.scala
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/LocalExecutor.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/factories/TableFactoryService.java
Labels: component=TableSQL/Client, component=TableSQL/Runtime, review=description?

#10923 [FLINK-15691][tests] Remove runInTaskExecutorThreadAndWait()
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskExecutorPartitionLifecycleTest.java
Labels: component=Runtime/Coordination, component=Tests, review=description?

#10931 [FLINK-15603][metrics] Add checkpointStartDelay metric
  docs/monitoring/metrics.md
  docs/monitoring/metrics.zh.md
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/CheckpointBarrierAligner.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/CheckpointBarrierHandler.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/CheckpointBarrierTracker.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/CheckpointedInputGate.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/OneInputStreamTask.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/CheckpointBarrierAlignerTestBase.java
Labels: component=Runtime/WebFrontend, review=description?

#10943 [FLINK-15751][task] Let all exceptions propagate from the StreamTask#runMailboxLoop
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/SourceStreamTaskTest.java
  tools/travis/splits/split_checkpoints.sh
Labels: component=Tests, review=description?

#10945 [FLINK-15274][docs]Added separate plugin page.
  docs/ops/filesystems/index.md
  docs/ops/filesystems/index.zh.md
  docs/ops/plugins.md
  docs/ops/plugins.zh.md
Labels: component=Documentation, component=FileSystems, review=description?

#10598 [hotfix] Fix confusing annotation in OutputTag
  flink-core/src/main/java/org/apache/flink/util/OutputTag.java
Labels: review=description?

#10564 add space to exception info
  flink-runtime/src/main/java/org/apache/flink/runtime/operators/shipping/OutputCollector.java
Labels: review=description?

#10958 [FLINK-15738][build] Bump powermock to 2.0.4
  pom.xml
Labels: component=Connectors/Kinesis, component=Tests, review=description?

#10968 [FLINK-9272][metrics][datadog] Rename counter type to count
  flink-metrics/flink-metrics-datadog/src/main/java/org/apache/flink/metrics/datadog/DCounter.java
  flink-metrics/flink-metrics-datadog/src/main/java/org/apache/flink/metrics/datadog/MetricType.java
  flink-metrics/flink-metrics-datadog/src/test/java/org/apache/flink/metrics/datadog/DatadogHttpClientTest.java
Labels: component=Runtime/Metrics, review=description?

#10886 [FLINK-15623][checkstyle] Exclude target directory
  tools/maven/suppressions.xml
Labels: component=BuildSystem, review=description?
