Repository apache/flink, pull requests merged in 2020-02, with the labels that each got.

#10969 [FLINK-15627] Correct the wrong naming of compareMaps in NFATestUtili…
  flink-libraries/flink-cep/src/test/java/org/apache/flink/cep/nfa/AfterMatchSkipITCase.java
  flink-libraries/flink-cep/src/test/java/org/apache/flink/cep/nfa/GreedyITCase.java
  flink-libraries/flink-cep/src/test/java/org/apache/flink/cep/nfa/GroupITCase.java
  flink-libraries/flink-cep/src/test/java/org/apache/flink/cep/nfa/IterativeConditionsITCase.java
  flink-libraries/flink-cep/src/test/java/org/apache/flink/cep/nfa/NFAITCase.java
  flink-libraries/flink-cep/src/test/java/org/apache/flink/cep/nfa/NFAIterativeConditionTimeContextTest.java
  flink-libraries/flink-cep/src/test/java/org/apache/flink/cep/nfa/NotPatternITCase.java
  flink-libraries/flink-cep/src/test/java/org/apache/flink/cep/nfa/SameElementITCase.java
  flink-libraries/flink-cep/src/test/java/org/apache/flink/cep/nfa/TimesOrMoreITCase.java
  flink-libraries/flink-cep/src/test/java/org/apache/flink/cep/nfa/TimesRangeITCase.java
  flink-libraries/flink-cep/src/test/java/org/apache/flink/cep/nfa/UntilConditionITCase.java
  flink-libraries/flink-cep/src/test/java/org/apache/flink/cep/utils/NFATestUtilities.java
Labels: component=Library/CEP, review=description?

#10991 [FLINK-15844][client] Expose JobWithJars.buildUserCodeClassLoader without Configuration to fix backwards compatibility
  flink-clients/src/main/java/org/apache/flink/client/program/JobWithJars.java
Labels: component=Client/JobSubmission, review=description?

#10972 [FLINK-15810] Add more description for FlinkKafkaProducerMigrationOperatorTest
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/FlinkKafkaProducerMigrationOperatorTest.java
Labels: component=Tests, review=description?

#10989 [FLINK-15840][table-planner-blink] ClassCastException is thrown when use tEnv.from for temp/catalog table
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/calcite/SqlExprToRexConverterFactory.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/delegation/PlannerContext.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/calcite/FlinkContext.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/calcite/FlinkContextImpl.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/calcite/FlinkPlannerImpl.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/optimize/BatchCommonSubGraphBasedOptimizer.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/optimize/StreamCommonSubGraphBasedOptimizer.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/schema/CatalogSourceTable.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/TableScanTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/codegen/WatermarkGeneratorCodeGenTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/batch/sql/TableScanTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/metadata/AggCallSelectivityEstimatorTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/metadata/SelectivityEstimatorTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/utils/TableTestBase.scala
Labels: component=TableSQL/API, review=description?

#10736 [FLINK-15010][Network] Add shutdown hook to ensure cleanup netty shuffle directories
  flink-runtime/src/main/java/org/apache/flink/runtime/io/disk/FileChannelManagerImpl.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/disk/FileChannelManagerImplTest.java
Labels: component=Runtime/Network, review=description?

#11001 [FLINK-15010][Network] Add shutdown hook to ensure cleanup netty shuffle directories
  flink-runtime/src/main/java/org/apache/flink/runtime/io/disk/FileChannelManagerImpl.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/disk/FileChannelManagerImplTest.java
Labels: component=Runtime/Network, review=description?

#11002 [FLINK-15010][Network] Add shutdown hook to ensure cleanup netty shuffle directories
  flink-runtime/src/main/java/org/apache/flink/runtime/io/disk/FileChannelManagerImpl.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/disk/FileChannelManagerImplTest.java
Labels: component=Runtime/Network, review=description?

#10784 [FLINK-15494] Fix time field index wrong in LogicalWindowAggregateRul…
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/logical/BatchLogicalWindowAggregateRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/logical/LogicalWindowAggregateRuleBase.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/logical/StreamLogicalWindowAggregateRule.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/agg/WindowAggregateITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/WindowAggregateITCase.scala
Labels: component=TableSQL/Planner, review=description?

#11013 [hotfix][doc] Fix version settings when building PyFlink
  docs/flinkDev/building.md
  docs/flinkDev/building.zh.md
Labels: review=description?

#11011 [FLINK-15658][table-planner-blink] Fix duplicate field names exception when join on the same key multiple times
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/utils/KeySelectorUtil.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/JoinITCase.scala
Labels: component=TableSQL/Client, review=description?

#10992 [hotfix] [javadoc] RocksFullSnapshotStrategy remark DESCRIPTION corre…
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/snapshot/RocksFullSnapshotStrategy.java
Labels: review=description?

#10974 [FLINK-15807][docs] Add Java 11 to supported JDKs
  docs/getting-started/walkthroughs/datastream_api.md
  docs/getting-started/walkthroughs/datastream_api.zh.md
  docs/getting-started/walkthroughs/table_api.md
  docs/getting-started/walkthroughs/table_api.zh.md
  docs/ops/deployment/local.md
  docs/ops/deployment/local.zh.md
Labels: component=Documentation, component=ProjectWebsite, review=description?

#10932 [FLINK-15614][docs] Consolidate Hadoop documentation
  docs/flinkDev/building.md
  docs/flinkDev/building.zh.md
  docs/ops/deployment/hadoop.md
  docs/ops/deployment/hadoop.zh.md
Labels: component=Documentation, component=ProjectWebsite, review=description?

#11012 [FLINK-15858][hive] Store generic table schema as properties
  docs/dev/table/hive/hive_catalog.md
  docs/dev/table/hive/hive_catalog.zh.md
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/HiveCatalog.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/HiveCatalogConfig.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveCatalogGenericMetadataTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveCatalogITCase.java
  flink-connectors/flink-connector-hive/src/test/resources/csv/test3.csv
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/catalog/CatalogTest.java
Labels: component=TableSQL/Ecosystem, review=description?

#11007 [FLINK-15872][javadoc] Remove unnessary javadocs in InputFormat
  flink-core/src/main/java/org/apache/flink/api/common/io/InputFormat.java
Labels: component=API/Core, review=description?

#10959 [FLINK-15335] Replace `add-dependencies-for-IDEA` profile
  docs/dev/projectsetup/dependencies.md
  docs/flinkDev/ide_setup.md
  docs/flinkDev/ide_setup.zh.md
  flink-quickstart/flink-quickstart-java/src/main/resources/archetype-resources/pom.xml
  flink-quickstart/flink-quickstart-scala/src/main/resources/archetype-resources/pom.xml
  flink-walkthroughs/flink-walkthrough-datastream-java/src/main/resources/archetype-resources/pom.xml
  flink-walkthroughs/flink-walkthrough-datastream-scala/src/main/resources/archetype-resources/pom.xml
  flink-walkthroughs/flink-walkthrough-table-java/src/main/resources/archetype-resources/pom.xml
  flink-walkthroughs/flink-walkthrough-table-scala/src/main/resources/archetype-resources/pom.xml
Labels: component=Documentation, component=Quickstarts, review=description?

#11015 [FLINK-15863][docs] Fix docs stating that savepoints are relocatable
  docs/ops/upgrading.md
  docs/ops/upgrading.zh.md
Labels: component=Documentation, review=description?

#11024 [FLINK-15921] Add version range of grpcio.
  flink-python/tox.ini
Labels: component=API/Python, component=BuildSystem, review=description?

#11019 [FLINK-15914][checkpointing][metrics] Miss the barrier alignment metric for the case of two inputs
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/InputProcessorUtil.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/TwoInputStreamTask.java
Labels: component=Runtime/Checkpointing, component=Runtime/Metrics, review=description?

#11026 [FLINK-15811][task] report CancelTaskException from SourceStreamTask
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/SourceStreamTask.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/StreamSourceOperatorWatermarksTest.java
Labels: component=Runtime/Task, component=Tests, review=description?

#11028 [FLINK-15937][python] Update the Development Status to 5 - Production/…
  flink-python/setup.py
Labels: review=description?

#10819 [hotfix][documentation] Fix wrong time semantics description
  docs/dev/stream/testing.md
Labels: review=description?

#11014 [FLINK-15897][python] Defer the deserialization of the Python UDF execution results
  flink-python/src/main/java/org/apache/flink/python/AbstractPythonFunctionRunner.java
  flink-python/src/main/java/org/apache/flink/streaming/api/operators/python/AbstractPythonFunctionOperator.java
  flink-python/src/main/java/org/apache/flink/table/runtime/functions/python/PythonScalarFunctionFlatMap.java
  flink-python/src/main/java/org/apache/flink/table/runtime/operators/python/AbstractPythonScalarFunctionOperator.java
  flink-python/src/main/java/org/apache/flink/table/runtime/operators/python/BaseRowPythonScalarFunctionOperator.java
  flink-python/src/main/java/org/apache/flink/table/runtime/operators/python/PythonScalarFunctionOperator.java
  flink-python/src/main/java/org/apache/flink/table/runtime/runners/python/AbstractPythonScalarFunctionRunner.java
  flink-python/src/main/java/org/apache/flink/table/runtime/runners/python/BaseRowPythonScalarFunctionRunner.java
  flink-python/src/main/java/org/apache/flink/table/runtime/runners/python/PythonScalarFunctionRunner.java
  flink-python/src/test/java/org/apache/flink/table/functions/python/AbstractPythonScalarFunctionRunnerTest.java
  flink-python/src/test/java/org/apache/flink/table/functions/python/BaseRowPythonScalarFunctionRunnerTest.java
  flink-python/src/test/java/org/apache/flink/table/functions/python/PythonScalarFunctionRunnerTest.java
  flink-python/src/test/java/org/apache/flink/table/runtime/operators/python/BaseRowPythonScalarFunctionOperatorTest.java
  flink-python/src/test/java/org/apache/flink/table/runtime/operators/python/PassThroughPythonFunctionRunner.java
  flink-python/src/test/java/org/apache/flink/table/runtime/operators/python/PythonScalarFunctionOperatorTest.java
  flink-python/src/test/java/org/apache/flink/table/runtime/operators/python/PythonScalarFunctionOperatorTestBase.java
Labels: component=API/Python, review=description?

#11025 [FLINK-15919][core][mem] MemoryManager shouldn't allow releasing more memory than reserved
  flink-runtime/src/main/java/org/apache/flink/runtime/memory/MemoryManager.java
  flink-runtime/src/test/java/org/apache/flink/runtime/memory/MemoryManagerTest.java
Labels: component=Runtime/Task, review=description?

#10983 [FLINK-15618] Remove useless JobTimeoutException
  flink-runtime/src/main/java/org/apache/flink/runtime/client/JobTimeoutException.java
Labels: component=Runtime/Coordination, review=description?

#11036 [hotfix][example] Add StreamWindowSQLExample.jar to dist
  flink-examples/flink-examples-table/pom.xml
  flink-examples/flink-examples-table/src/main/java/org/apache/flink/table/examples/java/StreamWindowSQLExample.java
Labels: review=description?

#11033 [hotfix][docs] Fix some typos in state_processor_api docs
  docs/dev/libs/state_processor_api.md
  docs/dev/libs/state_processor_api.zh.md
Labels: review=description?

#10912 [hotfix][e2e] Fix e2e test re-run error
  tools/travis/nightly.sh
Labels: review=description?

#11046 [hotfix][docs] Fix Readme Description in the State Machine Example
  flink-examples/flink-examples-streaming/src/main/java/org/apache/flink/streaming/examples/statemachine/README.md
Labels: review=description?

#11022 [FLINK-15741][docs-zh][TTL] Fix TTL docs after enabling RocksDB compaction filter by default
  docs/dev/stream/state/state.zh.md
Labels: component=Runtime/StateBackends, review=description?

#10435 [FLINK-13955][runtime] migrate ContinuousFileReaderOperator to the mailbox execution model
  flink-fs-tests/src/test/java/org/apache/flink/hdfstests/ContinuousFileProcessingMigrationTest.java
  flink-fs-tests/src/test/java/org/apache/flink/hdfstests/ContinuousFileProcessingTest.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/environment/StreamExecutionEnvironment.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/source/ContinuousFileReaderOperator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/source/ContinuousFileReaderOperatorFactory.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/mailbox/MailboxProcessor.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/ContinuousFileProcessingRescalingTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/mailbox/SteppingMailboxProcessor.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/util/AbstractStreamOperatorTestHarness.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/util/MockStreamTask.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/util/MockStreamTaskBuilder.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/util/OneInputStreamOperatorTestHarness.java
Labels: component=Runtime/Task, review=description?

#11043 [hotfix] Remove deadcode in ExecutionGraph#restart
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/ExecutionGraph.java
Labels: review=description?

#11004 [FLINK-15143][docs] Add new memory configuration guide before FLIP-49
  docs/fig/mem_model.svg
  docs/ops/cli.md
  docs/ops/cli.zh.md
  docs/ops/config.md
  docs/ops/config.zh.md
  docs/ops/mem_setup.md
  docs/ops/production_ready.md
  docs/ops/production_ready.zh.md
  docs/ops/python_shell.md
  docs/ops/python_shell.zh.md
  docs/ops/scala_shell.md
  docs/ops/scala_shell.zh.md
  docs/ops/security-ssl.md
  docs/ops/security-ssl.zh.md
  docs/ops/upgrading.md
  docs/ops/upgrading.zh.md
Labels: component=Documentation, review=description?

#11021 [FLINK-15546][table-planner-blink] Fix obscure error message from Sca…
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/calls/ScalarOperatorGens.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/expressions/cast.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/expressions/RowTypeTest.scala
Labels: component=TableSQL/API, review=description?

#11031 [FLINK-15914][checkpointing][metrics] Miss the checkpoint related metrics for the case of two inputs
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/MetricNames.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/NoOpMetricRegistry.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/groups/UnregisteredMetricGroups.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/CheckpointedInputGate.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/InputProcessorUtil.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/OneInputStreamTask.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/TwoInputStreamTask.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/OneInputStreamTaskTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamMockEnvironment.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTestHarness.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/TwoInputStreamTaskTest.java
Labels: component=Runtime/Checkpointing, component=Runtime/Metrics, review=description?

#11057 [FLINK-15914][tests] Fix the fragile tests caused by race condition of multiple threads
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/OneInputStreamTaskTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/TwoInputStreamTaskTest.java
Labels: component=Runtime/Checkpointing, component=Runtime/Metrics, review=description?

#10996 [FLINK-15862][kafka] Remove deprecated KafkaPartitioner
  flink-connectors/flink-connector-kafka-0.10/src/main/java/org/apache/flink/streaming/connectors/kafka/FlinkKafkaProducer010.java
  flink-connectors/flink-connector-kafka-0.11/src/main/java/org/apache/flink/streaming/connectors/kafka/FlinkKafkaProducer011.java
  flink-connectors/flink-connector-kafka-base/src/main/java/org/apache/flink/streaming/connectors/kafka/FlinkKafkaProducerBase.java
  flink-connectors/flink-connector-kafka-base/src/main/java/org/apache/flink/streaming/connectors/kafka/partitioner/FlinkKafkaDelegatePartitioner.java
  flink-connectors/flink-connector-kafka-base/src/main/java/org/apache/flink/streaming/connectors/kafka/partitioner/KafkaPartitioner.java
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/streaming/connectors/kafka/FlinkKafkaProducer.java
Labels: component=Connectors/Kafka, review=description?

#11058 [FLINK-15995][Table-planner-blink] Change TO_BASE64 sql operator defination
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/functions/sql/FlinkSqlOperatorTable.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/expressions/validation/ScalarFunctionsValidationTest.scala
Labels: component=TableSQL/Planner, review=description?

#11066 [FLINK-15941] [format-avro] RegistryAvroSerializationSchema registers schema on first message only
  flink-formats/flink-avro/src/main/java/org/apache/flink/formats/avro/RegistryAvroSerializationSchema.java
Labels: component=Formats, review=description?

#11063 [FLINK-15938][table-planner-blink] Enable state cleanup in background…
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/join/stream/state/JoinRecordStateViews.java
Labels: component=TableSQL/Planner, review=description?

#11060 [FLINK-15994][Table-planner-blink]Support byte array argument for FROM_BASE64 function
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/expressions/ScalarFunctionsTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/expressions/utils/ScalarTypesTestBase.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/functions/SqlFunctionUtils.java
Labels: component=TableSQL/Planner, review=description?

#10745 [FLINK-15445][connectors/jdbc] JDBC Table Source didn't work for Type…
  flink-connectors/flink-jdbc/pom.xml
  flink-connectors/flink-jdbc/src/main/java/org/apache/flink/api/java/io/jdbc/JDBCTableSource.java
  flink-connectors/flink-jdbc/src/main/java/org/apache/flink/api/java/io/jdbc/dialect/JDBCDialect.java
  flink-connectors/flink-jdbc/src/main/java/org/apache/flink/api/java/io/jdbc/dialect/JDBCDialects.java
  flink-connectors/flink-jdbc/src/main/java/org/apache/flink/table/descriptors/JDBCValidator.java
  flink-connectors/flink-jdbc/src/test/java/org/apache/flink/api/java/io/jdbc/JDBCDataTypeTest.java
  flink-connectors/flink-jdbc/src/test/java/org/apache/flink/api/java/io/jdbc/JDBCTableSourceITCase.java
  flink-connectors/flink-jdbc/src/test/java/org/apache/flink/api/java/io/jdbc/JDBCTableSourceSinkFactoryTest.java
Labels: component=Connectors/JDBC, review=description?

#11055 [FLINK-15990][table][python] Remove register source and sink in ConnectTableDescriptor
  docs/ops/python_shell.md
  docs/ops/python_shell.zh.md
  flink-python/dev/pip_test_code.py
  flink-python/pyflink/shell.py
  flink-python/pyflink/table/descriptors.py
  flink-python/pyflink/table/examples/batch/word_count.py
  flink-python/pyflink/table/table_environment.py
  flink-python/pyflink/table/tests/test_descriptor.py
  flink-python/pyflink/table/tests/test_shell_example.py
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/table/api/java/BatchTableEnvironment.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/TableEnvironment.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/Registration.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/TableEnvironmentImpl.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/descriptors/ConnectTableDescriptor.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/factories/TableFactoryUtil.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/api/TableEnvironmentTest.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/utils/ParserMock.java
  flink-table/flink-table-api-scala-bridge/src/main/scala/org/apache/flink/table/api/scala/BatchTableEnvironment.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/api/internal/BatchTableEnvImpl.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/descriptors/TableDescriptorTest.scala
Labels: component=TableSQL/API, review=description?

#11064 [FLINK-15992][table] Fix classloader when finding TableFactory
  flink-connectors/flink-connector-elasticsearch-base/src/main/java/org/apache/flink/streaming/connectors/elasticsearch/ElasticsearchUpsertTableSinkFactoryBase.java
  flink-connectors/flink-connector-kafka-base/src/main/java/org/apache/flink/streaming/connectors/kafka/KafkaTableSourceSinkFactoryBase.java
Labels: component=Connectors/Kafka, component=TableSQL/API, review=description?

#11037 [FLINK-15949][build] Harden jackson dependency constraints
  pom.xml
Labels: component=BuildSystem, review=description?

#11065 [hotfix] Fix the wrong Javadoc of HadoopSecurityContext
  flink-runtime/src/main/java/org/apache/flink/runtime/security/HadoopSecurityContext.java
Labels: review=description?

#11076 [FLINK-15908][docs] Add description of support 'pip install' to 1.9.x documents.
  docs/tutorials/python_table_api.md
  docs/tutorials/python_table_api.zh.md
Labels: component=Documentation, review=description?

#11059 [FLINK-15970][python] Optimize the Python UDF execution to only serialize the value
  flink-python/src/main/java/org/apache/flink/python/AbstractPythonFunctionRunner.java
  flink-python/src/main/java/org/apache/flink/table/runtime/runners/python/AbstractPythonStatelessFunctionRunner.java
Labels: component=API/Python, review=description?

#11077 [FLINK-15909][python][build] Supports releasing to PyPI for PyFlink for 1.9.
  flink-python/pom.xml
  tools/releasing/create_binary_release.sh
  tools/releasing/create_source_release.sh
Labels: component=BuildSystem, review=description?

#11072 [FLINK-16004][build] Use correct parent
  flink-end-to-end-tests/flink-rocksdb-state-memory-control-test/pom.xml
Labels: component=Tests, review=description?

#11062 [FLINK-15993]/[FLINK-15997] Rework documentation 404 page
  docs/404.md
  docs/_layouts/404_base.html
Labels: component=<none>, review=description?

#11082 [FLINK-16037][build] Bump dependency-analyzer to 1.11.1
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/pom.xml
  flink-end-to-end-tests/flink-tpcds-test/pom.xml
  flink-end-to-end-tests/flink-tpch-test/pom.xml
  flink-examples/flink-examples-streaming/pom.xml
  flink-table/flink-sql-parser/pom.xml
  flink-yarn-tests/pom.xml
  pom.xml
Labels: component=BuildSystem, review=description?

#11084 [FLINK-16040][python] Change local import to global import
  flink-python/pyflink/fn_execution/coder_impl.py
  flink-python/pyflink/fn_execution/coders.py
  flink-python/pyflink/fn_execution/operations.py
Labels: component=API/Python, review=description?

#11083 [hotfix][docs] Add note SSL not enabled by default
  docs/ops/security-ssl.md
  docs/ops/security-ssl.zh.md
Labels: review=description?

#11086 [FLINK-16046][es] Drop Elasticsearch 2 connector
  docs/dev/connectors/elasticsearch.md
  docs/dev/connectors/elasticsearch.zh.md
  flink-connectors/flink-connector-elasticsearch-base/pom.xml
  flink-connectors/flink-connector-elasticsearch-base/src/test/java/org/apache/flink/streaming/connectors/elasticsearch/ElasticsearchSinkBaseTest.java
  flink-connectors/flink-connector-elasticsearch2/pom.xml
  flink-connectors/flink-connector-elasticsearch2/src/main/java/org/apache/flink/streaming/connectors/elasticsearch2/Elasticsearch2ApiCallBridge.java
  flink-connectors/flink-connector-elasticsearch2/src/main/java/org/apache/flink/streaming/connectors/elasticsearch2/ElasticsearchSink.java
  flink-connectors/flink-connector-elasticsearch2/src/main/java/org/apache/flink/streaming/connectors/elasticsearch2/ElasticsearchSinkFunction.java
  flink-connectors/flink-connector-elasticsearch2/src/main/java/org/apache/flink/streaming/connectors/elasticsearch2/OldNewElasticsearchSinkFunctionBridge.java
  flink-connectors/flink-connector-elasticsearch2/src/main/java/org/apache/flink/streaming/connectors/elasticsearch2/OldNewRequestIndexerBridge.java
  flink-connectors/flink-connector-elasticsearch2/src/main/java/org/apache/flink/streaming/connectors/elasticsearch2/RequestIndexer.java
  flink-connectors/flink-connector-elasticsearch2/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-connector-elasticsearch2/src/main/resources/META-INF/licenses/LICENSE.base64
  flink-connectors/flink-connector-elasticsearch2/src/main/resources/META-INF/licenses/LICENSE.hdrhistogram
  flink-connectors/flink-connector-elasticsearch2/src/main/resources/META-INF/licenses/LICENSE.jsr166e
  flink-connectors/flink-connector-elasticsearch2/src/main/resources/META-INF/licenses/LICENSE.jsr166y
  flink-connectors/flink-connector-elasticsearch2/src/main/resources/META-INF/licenses/LICENSE.jzlib
  flink-connectors/flink-connector-elasticsearch2/src/main/resources/META-INF/licenses/LICENSE.webbit
  flink-connectors/flink-connector-elasticsearch2/src/test/java/org/apache/flink/streaming/connectors/elasticsearch/EmbeddedElasticsearchNodeEnvironmentImpl.java
  flink-connectors/flink-connector-elasticsearch2/src/test/java/org/apache/flink/streaming/connectors/elasticsearch2/ElasticsearchSinkITCase.java
  flink-connectors/flink-connector-elasticsearch2/src/test/resources/log4j-test.properties
  flink-connectors/flink-connector-elasticsearch6/pom.xml
  flink-connectors/pom.xml
  flink-end-to-end-tests/flink-elasticsearch2-test/pom.xml
  flink-end-to-end-tests/flink-elasticsearch2-test/src/main/java/org/apache/flink/streaming/tests/Elasticsearch2SinkExample.java
  flink-end-to-end-tests/pom.xml
  flink-end-to-end-tests/run-nightly-tests.sh
  tools/travis/splits/split_misc.sh
  tools/travis/splits/split_misc_hadoopfree.sh
  tools/travis/stage.sh
  tools/travis_controller.sh
Labels: component=Connectors/ElasticSearch, review=description?

#11089 [FLINK-16053][python] Remove redundant metrics in PyFlink
  flink-python/pyflink/fn_execution/operations.py
Labels: component=API/Python, review=description?

#10910 [FLINK-15702][SQL]Make sqlClient classloader aligned with other components
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/ExecutionContext.java
Labels: component=TableSQL/Client, review=description?

#11103 [hotfix][docs] Regenerate documentation
  docs/_includes/generated/kubernetes_config_configuration.html
Labels: review=description?

#11106 [FLINK-15708] Add MigrationVersion.v1_10
  flink-core/src/test/java/org/apache/flink/testutils/migration/MigrationVersion.java
Labels: component=Tests, review=description?

#11107 [FLINK-16071][python] Optimize the cost of the get item of the Row
  flink-python/pyflink/fn_execution/coder_impl.py
  flink-python/pyflink/fn_execution/coders.py
  flink-python/pyflink/fn_execution/operations.py
Labels: component=API/Python, review=description?

#11108 [FLINK-16113][table-planner-blink] ExpressionReducer shouldn't escape the reduced string value
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/ExpressionReducer.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/CalcTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/CalcTest.scala
Labels: component=TableSQL/Planner, review=description?

#11111 [FLINK-16118][table-planner-blink] Ignore order for FunctionITCase.testDynamicTableFunction
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/runtime/stream/sql/FunctionITCase.java
Labels: component=TableSQL/Planner, review=description?

#11101 [FLINK-16068][table-planner-blink] Fix computed column with escaped k…
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/calcite/SqlExprToRexConverter.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/schema/CatalogSourceTable.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/catalog/CatalogTableITCase.scala
Labels: component=TableSQL/Client, review=description?

#11080 [FLINK-15988][json] Make JsonRowSerializationSchema's constructor private
  flink-connectors/flink-connector-elasticsearch-base/src/test/java/org/apache/flink/streaming/connectors/elasticsearch/ElasticsearchUpsertTableSinkFactoryTestBase.java
  flink-connectors/flink-connector-elasticsearch6/src/test/java/org/apache/flink/streaming/connectors/elasticsearch6/Elasticsearch6UpsertTableSinkFactoryTest.java
  flink-connectors/flink-connector-elasticsearch7/src/test/java/org/apache/flink/streaming/connectors/elasticsearch7/Elasticsearch7UpsertTableSinkFactoryTest.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/JsonRowSerializationSchema.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/JsonRowFormatFactoryTest.java
Labels: component=Formats, review=description?

#11097 [FLINK-16057][runtime] chain ContinuousFileReaderOperator by default
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/source/ContinuousFileReaderOperatorFactory.java
Labels: component=API/DataStream, review=description?

#11122 [FLINK-16136][yarn][tests] Increase disk space limit for all YARN tests
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YarnTestBase.java
Labels: component=Deployment/YARN, component=Tests, review=description?

#10984 [FLINK-15835][build][oss] Exclude hadoop-common
  flink-filesystems/flink-oss-fs-hadoop/pom.xml
Labels: component=FileSystems, review=description?

#10005 [FLINK-14533][flink-table-planner] Fix LOWER/UPPER not being pushed down to TableSource
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/BuiltInFunctionDefinitions.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/expressions/converter/DirectConvertRule.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/expressions/PlannerExpressionConverter.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/rules/logical/PushFilterIntoTableSourceScanRuleTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/rules/logical/PushFilterIntoTableSourceScanRuleTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/TableSourceITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/utils/testTableSources.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/expressions/PlannerExpressionConverter.scala
Labels: component=TableSQL/Planner, review=description?

#11131 [FLINK-16162][build] Bump flink-shaded to 10.0
  pom.xml
Labels: component=BuildSystem, review=description?

#11132 [FLINK-16164][build] Disable maven-site-plugin
  pom.xml
Labels: component=BuildSystem, review=description?

#11135 [FLINK-7727] [REST] Improve error handling in StaticFileServerHandlers
  flink-runtime-web/src/main/java/org/apache/flink/runtime/webmonitor/history/HistoryServerStaticFileServerHandler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/handler/legacy/files/StaticFileServerHandler.java
Labels: component=Runtime/REST, component=Runtime/WebFrontend, review=description?

#11138 [FLINK-16169][tests] Harden BlobServerRangeTest
  flink-runtime/src/test/java/org/apache/flink/runtime/blob/BlobServerRangeTest.java
Labels: component=Tests, review=description?

#11149 [hotfix][table-api] Fixed ExpressionResolver rules modifiers
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/expressions/resolver/rules/ExpandColumnFunctionsRule.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/expressions/resolver/rules/QualifyBuiltInFunctionsRule.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/expressions/resolver/rules/ReferenceResolverRule.java
Labels: review=description?

#11118 [FLINK-16072][python] Optimize the performance of the write/read null mask
  flink-python/pyflink/fn_execution/coder_impl.py
  flink-python/pyflink/fn_execution/tests/coders_test_common.py
Labels: component=API/Python, review=description?

#11134 [FLINK-15833] Fix 'Kerberized YARN on Docker' e2e test
  flink-end-to-end-tests/run-nightly-tests.sh
  flink-end-to-end-tests/test-scripts/common_yarn_docker.sh
  flink-end-to-end-tests/test-scripts/test_yarn_kerberos_docker.sh
Labels: component=BuildSystem, component=Deployment/YARN, component=Tests, review=description?

#11152 [FLINK-16182][table-api] Remove check against null types as a result of an input type inference
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/inference/TypeInferenceUtil.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/types/inference/InputTypeStrategiesTest.java
Labels: component=TableSQL/API, review=description?

#11121 [FLINK-16139][runtime] Reset colocation constraints when restarting tasks in DefaultScheduler
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/SchedulerBase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/DefaultSchedulerTest.java
Labels: component=Runtime/Coordination, review=description?

#11053 [FLINK-15977][docs] Update pull request template to include Kubernetes as deployment candidates
  .github/PULL_REQUEST_TEMPLATE.md
Labels: component=Documentation, review=description?

#11143 [FLINK-16163][build] Migrate to flink-shaded-zookeeper
  flink-runtime/pom.xml
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/DefaultLastStateConnectionStateListener.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/LastStateConnectionStateListener.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/ZooKeeperCheckpointIDCounter.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/ZooKeeperCheckpointRecoveryFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/highavailability/HighAvailabilityServicesUtils.java
  flink-runtime/src/main/java/org/apache/flink/runtime/highavailability/zookeeper/ZooKeeperClientHAServices.java
  flink-runtime/src/main/java/org/apache/flink/runtime/highavailability/zookeeper/ZooKeeperHaServices.java
  flink-runtime/src/main/java/org/apache/flink/runtime/highavailability/zookeeper/ZooKeeperRunningJobsRegistry.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmanager/ZooKeeperJobGraphStore.java
  flink-runtime/src/main/java/org/apache/flink/runtime/leaderelection/ZooKeeperLeaderElectionService.java
  flink-runtime/src/main/java/org/apache/flink/runtime/leaderretrieval/ZooKeeperLeaderRetrievalService.java
  flink-runtime/src/main/java/org/apache/flink/runtime/util/ZooKeeperUtils.java
  flink-runtime/src/main/java/org/apache/flink/runtime/zookeeper/FlinkZooKeeperQuorumPeer.java
  flink-runtime/src/main/java/org/apache/flink/runtime/zookeeper/ZooKeeperSharedCount.java
  flink-runtime/src/main/java/org/apache/flink/runtime/zookeeper/ZooKeeperSharedValue.java
  flink-runtime/src/main/java/org/apache/flink/runtime/zookeeper/ZooKeeperStateHandleStore.java
  flink-runtime/src/main/java/org/apache/flink/runtime/zookeeper/ZooKeeperUtilityFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/zookeeper/ZooKeeperVersionedValue.java
  flink-runtime/src/main/resources/META-INF/NOTICE
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointIDCounterTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/ZKCheckpointIDCounterMultiServersTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/ZooKeeperCompletedCheckpointStoreITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/ZooKeeperCompletedCheckpointStoreMockitoTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/ZooKeeperCompletedCheckpointStoreTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/runner/ZooKeeperDefaultDispatcherRunnerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/highavailability/zookeeper/ZooKeeperHaServicesTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmanager/ZooKeeperJobGraphStoreTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmanager/ZooKeeperJobGraphsStoreITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderelection/LeaderElectionTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderelection/ZooKeeperLeaderElectionTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderelection/ZooKeeperLeaderRetrievalTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/zookeeper/ZooKeeperStateHandleStoreTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/zookeeper/ZooKeeperTestEnvironment.java
  flink-shaded-curator/pom.xml
  flink-shaded-curator/src/main/resources/META-INF/NOTICE
  pom.xml
Labels: component=BuildSystem, review=description?

#11164 [hotfix][build system] Do not trigger dependent jobs if predecessor fails
  tools/azure-pipelines/jobs-template.yml
Labels: review=description?

#11049 [FLINK-15967][examples] Use universal kafka connector in StateMachineExample
  flink-examples/flink-examples-build-helper/flink-examples-streaming-state-machine/src/main/resources/META-INF/NOTICE
  flink-examples/flink-examples-streaming/pom.xml
  flink-examples/flink-examples-streaming/src/main/java/org/apache/flink/streaming/examples/statemachine/KafkaEventsGeneratorJob.java
  flink-examples/flink-examples-streaming/src/main/java/org/apache/flink/streaming/examples/statemachine/StateMachineExample.java
Labels: component=Examples, review=description?

#11157 [FLINK-16186][es][tests] Reduce connect timeout to 5 seconds
  flink-connectors/flink-connector-elasticsearch-base/src/test/java/org/apache/flink/streaming/connectors/elasticsearch/ElasticsearchSinkTestBase.java
Labels: component=Connectors/ElasticSearch, component=Tests, review=description?

#11128 [FLINK-16082][docs] Translate /dev/table/streaming/index.zh.md
  docs/dev/table/streaming/index.zh.md
Labels: component=Documentation, component=chinese-translation, review=description?

#11178 [hotfix] Stabilize python tests
  tools/azure-pipelines/jobs-template.yml
  tools/azure_controller.sh
Labels: review=description?

#11185 [FLINK-16233][hive][build] Add additional log4j 1 exclusions
  flink-connectors/flink-connector-hive/pom.xml
Labels: component=BuildSystem, component=Connectors/Hive, review=description?

#11127 [FLINK-16081][docs] Translate /dev/table/index.zh.md
  docs/dev/table/index.zh.md
Labels: component=Documentation, component=chinese-translation, review=description?

#11197 [FLINK-16288][travis] Remove redundant double-quote at the end of the…
  .travis.yml
Labels: review=description?

#11079 [FLINK-16031][python] Improve the description in the README file of PyFlink 1.9.x.
  flink-python/README.md
Labels: component=API/Python, review=description?

#11192 [FLINK-16237][build] Add Log4j2 configuration properties
  flink-connectors/flink-connector-kafka-0.11/pom.xml
  flink-connectors/flink-connector-kafka/pom.xml
  flink-dist/src/main/flink-bin/bin/flink
  flink-dist/src/main/flink-bin/bin/flink-console.sh
  flink-dist/src/main/flink-bin/kubernetes-bin/kubernetes-session.sh
  flink-dist/src/main/flink-bin/yarn-bin/yarn-session.sh
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/utils/KubernetesUtils.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/KubernetesUtilsTest.java
  flink-python/bin/pyflink-gateway-server.sh
  flink-runtime/src/test/java/org/apache/flink/runtime/testutils/TestJvmProcess.java
  flink-scala-shell/start-script/start-scala-shell.sh
  flink-table/flink-sql-client/bin/sql-client.sh
  flink-test-utils-parent/flink-test-utils/src/main/java/org/apache/flink/test/util/TestProcessBuilder.java
Labels: component=Tests, review=description?

#11194 [FLINK-16242][table-runtime-blink] Duplicate field serializers in BaseRowSerializer
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/typeutils/BaseRowSerializer.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/typeutils/BaseRowSerializerTest.java
Labels: component=TableSQL/Planner, component=TableSQL/Runtime, review=description?

#11070 [FLINK-16013][core] Make complex type config options could be parsed correctly
  flink-core/src/main/java/org/apache/flink/configuration/Configuration.java
  flink-core/src/main/java/org/apache/flink/configuration/StructuredOptionsSplitter.java
  flink-core/src/test/java/org/apache/flink/configuration/ConfigurationTest.java
  flink-core/src/test/java/org/apache/flink/configuration/StructuredOptionsSplitterEscapeTest.java
  flink-runtime/src/main/java/org/apache/flink/runtime/clusterframework/BootstrapTools.java
  flink-runtime/src/test/java/org/apache/flink/runtime/clusterframework/BootstrapToolsTest.java
Labels: component=Runtime/Configuration, review=description?

#11206 [FLINK-16263][python][tests] Set io.netty.tryReflectionSetAccessible to true for JDK9+
  flink-python/pom.xml
Labels: component=API/Python, component=Tests, review=description?

#11210 [hotfix] Fix typo in FlinkKafkaConsumerBase
  flink-connectors/flink-connector-kafka-base/src/main/java/org/apache/flink/streaming/connectors/kafka/FlinkKafkaConsumerBase.java
Labels: review=description?

#11201 [FLINK-16179][hive] Use configuration from TableFactory in hive connector
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableFactory.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSource.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTableSourceTest.java
Labels: component=Connectors/Hive, review=description?

#11204 [FLINK-16264][table] Fix ConnectTableDescriptor loose time attribute bug
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/local/ExecutionContextTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/utils/TestTableSourceFactoryBase.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/catalog/CatalogTableImpl.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/descriptors/ConnectTableDescriptor.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/descriptors/ConnectTableDescriptorTest.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/descriptors/DescriptorProperties.java
Labels: component=TableSQL/Client, component=Tests, review=description?

#11214 [FLINK-16265][table][csv] CsvTableSourceFactoryBase should compare LogicalTypes instead of TableSchema
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/local/LocalExecutorITCase.java
  flink-table/flink-sql-client/src/test/resources/test-sql-client-catalogs.yaml
  flink-table/flink-sql-client/src/test/resources/test-sql-client-defaults.yaml
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/table/sources/CsvTableSourceFactoryBase.java
Labels: component=TableSQL/Planner, review=description?

#11211 [FLINK-16242][table-runtime-blink] Duplicate field serializers in Bas…
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/typeutils/BaseRowSerializer.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/typeutils/BaseRowSerializerTest.java
Labels: component=TableSQL/Planner, component=TableSQL/Runtime, review=description?

#11212 [FLINK-16242][table-runtime-blink] Duplicate field serializers in BaseRowSerializer
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/typeutils/BaseRowSerializer.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/typeutils/BaseRowSerializerTest.java
Labels: component=TableSQL/Planner, component=TableSQL/Runtime, review=description?

#11203 [FLINK-16251][python] Optimize the cost of function call in ScalarFunctionOpertation
  flink-python/pyflink/fn_execution/operations.py
Labels: component=API/Python, review=description?

#11198 [FLINK-16248][python][ml] Add interfaces for MLEnvironment and MLEnvironmentFactory
  flink-python/bin/pyflink-gateway-server.sh
  flink-python/pyflink/ml/__init__.py
  flink-python/pyflink/ml/ml_environment.py
  flink-python/pyflink/ml/ml_environment_factory.py
  flink-python/pyflink/ml/tests/__init__.py
  flink-python/pyflink/ml/tests/test_ml_environment.py
  flink-python/pyflink/ml/tests/test_ml_environment_factory.py
  flink-python/pyflink/table/table_environment.py
  flink-python/pyflink/testing/test_case_utils.py
Labels: component=API/Python, review=description?

#11217 [FLINK-16283][table-planner] Fix potential NullPointerException when invoking close() on generated function
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/runtime/aggregate/GroupAggProcessFunction.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/runtime/aggregate/GroupTableAggProcessFunction.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/runtime/aggregate/ProcTimeBoundedRangeOver.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/runtime/aggregate/ProcTimeBoundedRowsOver.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/runtime/aggregate/ProcTimeUnboundedOver.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/runtime/aggregate/RowTimeBoundedRangeOver.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/runtime/aggregate/RowTimeBoundedRowsOver.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/runtime/aggregate/RowTimeUnboundedOver.scala
Labels: component=TableSQL/Runtime, review=description?

#11183 [FLINK-16231][hive][build] Add missing jdk.tools exclusion
  flink-connectors/flink-connector-hive/pom.xml
Labels: component=BuildSystem, component=Connectors/Hive, review=description?

#11221 [FLINK-16287][es][build] Remove Log4j2 relocation
  flink-connectors/flink-sql-connector-elasticsearch6/pom.xml
Labels: component=BuildSystem, component=Connectors/ElasticSearch, review=description?

#11117 [FLINK-16115][filesystem] Make aliyun oss filesystem could work with plugin mechanism
  flink-filesystems/flink-oss-fs-hadoop/pom.xml
Labels: component=Connectors/FileSystem, review=description?

#11229 [FLINK-16265][table][csv] CsvTableSinkFactoryBase should compare LogicalTypes instead of TableSchema
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/local/LocalExecutorITCase.java
  flink-table/flink-sql-client/src/test/resources/test-data.csv
  flink-table/flink-sql-client/src/test/resources/test-sql-client-defaults.yaml
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/table/sinks/CsvTableSinkFactoryBase.java
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/table/sources/CsvTableSourceFactoryBase.java
Labels: component=TableSQL/Planner, review=description?

#11224 [FLINK-16252][python] Optimize the progress of the process_outputs in Python UDF
  flink-python/pyflink/fn_execution/operations.py
Labels: component=API/Python, review=description?

#11155 [FLINK-14818][benchmark] Fix receiving InputGate setup of StreamNetworkBenchmarkEnvironment.
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/LocalInputChannel.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/SingleInputGateFactory.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/benchmark/SingleInputGateBenchmarkFactory.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/benchmark/StreamNetworkBenchmarkEnvironment.java
Labels: component=Benchmarks, review=description?

#11169 [FLINK-16196][hive] FlinkStandaloneHiveRunner leaks HMS process
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/FlinkStandaloneHiveRunner.java
Labels: component=Connectors/Hive, component=Tests, review=description?

#11215 [FLINK-16275][table-planner-blink] AggsHandlerCodeGenerator can fail …
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/agg/AggsHandlerCodeGenerator.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/OverWindowITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/utils/UserDefinedFunctionTestUtils.scala
Labels: component=TableSQL/Planner, review=description?

#11100 [FLINK-15562][docs] Add Example settings.xml for maven archetype command wh…
  docs/getting-started/project-setup/java_api_quickstart.md
  docs/getting-started/project-setup/java_api_quickstart.zh.md
  docs/getting-started/project-setup/scala_api_quickstart.md
  docs/getting-started/project-setup/scala_api_quickstart.zh.md
  docs/getting-started/walkthroughs/datastream_api.md
  docs/getting-started/walkthroughs/datastream_api.zh.md
  docs/getting-started/walkthroughs/table_api.md
  docs/getting-started/walkthroughs/table_api.zh.md
Labels: component=Documentation, review=description?

#11244 [FLINK-16301][table-api] Improve logging message in ModuleManager
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/module/ModuleManager.java
Labels: component=TableSQL/Planner, review=description?

#11249 [FLINK-16297] Remove unnecessary indents and blank lines in code blocks
  docs/dev/batch/connectors.md
  docs/dev/batch/connectors.zh.md
  docs/dev/batch/index.md
  docs/dev/batch/index.zh.md
  docs/dev/libs/cep.md
  docs/dev/libs/cep.zh.md
  docs/dev/stream/experimental.md
  docs/dev/stream/experimental.zh.md
  docs/dev/stream/operators/index.md
  docs/dev/stream/operators/index.zh.md
  docs/dev/table/functions/systemFunctions.md
  docs/dev/table/functions/systemFunctions.zh.md
  docs/dev/table/streaming/match_recognize.md
  docs/dev/table/streaming/match_recognize.zh.md
  docs/dev/table/tableApi.md
  docs/dev/table/tableApi.zh.md
  docs/getting-started/walkthroughs/datastream_api.md
  docs/getting-started/walkthroughs/datastream_api.zh.md
  docs/ops/deployment/local.md
  docs/ops/deployment/local.zh.md
  docs/ops/python_shell.md
  docs/ops/python_shell.zh.md
  docs/ops/scala_shell.md
  docs/ops/scala_shell.zh.md
  docs/ops/state/large_state_tuning.md
  docs/ops/state/large_state_tuning.zh.md
  docs/ops/state/state_backends.md
  docs/ops/state/state_backends.zh.md
Labels: component=Documentation, review=description?

#11052 [FLINK-15975][flink-connectors] Making test assertion more stable
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/functions/hive/HiveGenericUDFTest.java
Labels: component=Connectors/Hive, review=description?

#11251 [FLINK-16331][legal] Remove source licenses for old WebUI
  licenses/LICENSE.angular
  licenses/LICENSE.angular-drag-and-drop-list
  licenses/LICENSE.angular-moment
  licenses/LICENSE.angular-ui-router
  licenses/LICENSE.bootstrap
  licenses/LICENSE.d3
  licenses/LICENSE.dagre
  licenses/LICENSE.dagre-d3
  licenses/LICENSE.ev-emitter
  licenses/LICENSE.graphlib
  licenses/LICENSE.imagesloaded
  licenses/LICENSE.jquery
  licenses/LICENSE.lodash
  licenses/LICENSE.moment
  licenses/LICENSE.moment-duration-format
  licenses/LICENSE.qtip2
  licenses/LICENSE.split
Labels: component=ReleaseSystem, review=description?

#11254 [FLINK-16339][metrics][datadog] Log configuration
  flink-metrics/flink-metrics-datadog/src/main/java/org/apache/flink/metrics/datadog/DatadogHttpReporter.java
Labels: component=Runtime/Metrics, review=description?

#11246 [FLINK-16307][e2e] Use start-cluster.sh instead of manually building cluster
  flink-end-to-end-tests/flink-end-to-end-tests-common/src/main/java/org/apache/flink/tests/util/FlinkDistribution.java
  flink-end-to-end-tests/flink-end-to-end-tests-common/src/main/java/org/apache/flink/tests/util/flink/LocalStandaloneFlinkResource.java
Labels: component=TestInfrastructure, review=description?

#11255 [FLINK-16341][metrics][datadog] Unify DatadogHttpRequest and DSeries
  flink-metrics/flink-metrics-datadog/src/main/java/org/apache/flink/metrics/datadog/DSeries.java
  flink-metrics/flink-metrics-datadog/src/main/java/org/apache/flink/metrics/datadog/DatadogHttpClient.java
  flink-metrics/flink-metrics-datadog/src/main/java/org/apache/flink/metrics/datadog/DatadogHttpReporter.java
Labels: component=Runtime/Metrics, review=description?

#11256 [FLINK-16342][metrics][datadog] Remove mocking
  flink-metrics/flink-metrics-datadog/pom.xml
  flink-metrics/flink-metrics-datadog/src/main/java/org/apache/flink/metrics/datadog/Clock.java
  flink-metrics/flink-metrics-datadog/src/main/java/org/apache/flink/metrics/datadog/DCounter.java
  flink-metrics/flink-metrics-datadog/src/main/java/org/apache/flink/metrics/datadog/DGauge.java
  flink-metrics/flink-metrics-datadog/src/main/java/org/apache/flink/metrics/datadog/DMeter.java
  flink-metrics/flink-metrics-datadog/src/main/java/org/apache/flink/metrics/datadog/DMetric.java
  flink-metrics/flink-metrics-datadog/src/main/java/org/apache/flink/metrics/datadog/DatadogHttpClient.java
  flink-metrics/flink-metrics-datadog/src/main/java/org/apache/flink/metrics/datadog/DatadogHttpReporter.java
  flink-metrics/flink-metrics-datadog/src/test/java/org/apache/flink/metrics/datadog/DatadogHttpClientTest.java
Labels: component=Runtime/Metrics, component=Tests, review=description?

#11173 [FLINK-13417][build] Bundle Zookeeper 3.5 in opt
  docs/ops/jobmanager_high_availability.md
  docs/ops/jobmanager_high_availability.zh.md
  flink-dist/pom.xml
  flink-dist/src/main/assemblies/bin.xml
  flink-dist/src/main/assemblies/opt.xml
  pom.xml
Labels: component=Runtime/Coordination, review=description?
