Repository apache/flink, pull requests merged in 2020-05, with the labels that each got.

#11966 [FLINK-17315][tests] Temporary disable UnalignedCheckpointITCase.
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/UnalignedCheckpointITCase.java
Labels: component=Runtime/Checkpointing, component=Tests, review=description?

#11909 [FLINK-16103] Translate "Configuration" page of "Table API & SQL" int…
  docs/dev/table/config.zh.md
Labels: component=Documentation, component=chinese-translation, review=description?

#11533 [FLINK-16034][table-api, docs] Updated documentation with new Java Expression DSL
  docs/dev/table/common.md
  docs/dev/table/common.zh.md
  docs/dev/table/sql/queries.md
  docs/dev/table/sql/queries.zh.md
  docs/dev/table/streaming/temporal_tables.md
  docs/dev/table/streaming/temporal_tables.zh.md
  docs/dev/table/streaming/time_attributes.md
  docs/dev/table/streaming/time_attributes.zh.md
  docs/dev/table/tableApi.md
  docs/dev/table/tableApi.zh.md
Labels: component=Documentation, component=TableSQL/API, review=description?

#11970 [FLINK-17483][legal] Update flink-sql-connector-elasticsearch7 NOTICE file to correctly reflect bundled dependencies
  flink-connectors/flink-sql-connector-elasticsearch7/src/main/resources/META-INF/NOTICE
Labels: component=Connectors/ElasticSearch, review=description?

#11975 [FLINK-17496][kinesis] Upgrade amazon-kinesis-producer to 0.14.0
  flink-connectors/flink-connector-kinesis/pom.xml
  flink-connectors/flink-connector-kinesis/src/main/resources/META-INF/NOTICE
Labels: component=Connectors/Kinesis, review=description?

#11951 [FLINK-17420][table sql / api]Cannot alias Tuple and Row fields when converting DataStream to Table
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/typeutils/FieldInfoUtils.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/typeutils/FieldInfoUtilsTest.java
Labels: component=TableSQL/API, review=description?

#11988 [FLINK-17244][docs] Update the Getting Started page
  docs/getting-started/index.md
Labels: component=Documentation, review=description?

#11993 [FLINK-17313][bp-1.10] Fix type validation error when sink table ddl contains columns with precision of decimal/varchar
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/utils/TypeMappingUtils.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/utils/TypeMappingUtilsTest.java
Labels: component=TableSQL/Planner, review=description?

#11998 [FLINK-17496][kinesis] Upgrade amazon-kinesis-producer to 0.14.0
  flink-connectors/flink-connector-kinesis/pom.xml
  flink-connectors/flink-connector-kinesis/src/main/resources/META-INF/NOTICE
Labels: component=Connectors/Kinesis, review=description?

#11962 [FLINK-17462][format][csv] Support CSV serialization and deseriazation schema for RowData type
  flink-formats/flink-csv/pom.xml
  flink-formats/flink-csv/src/main/java/org/apache/flink/formats/csv/CsvRowDataDeserializationSchema.java
  flink-formats/flink-csv/src/main/java/org/apache/flink/formats/csv/CsvRowDataSerializationSchema.java
  flink-formats/flink-csv/src/main/java/org/apache/flink/formats/csv/CsvRowSchemaConverter.java
  flink-formats/flink-csv/src/test/java/org/apache/flink/formats/csv/CsvRowDataSerDeSchemaTest.java
Labels: component=Formats, review=description?

#11955 [FLINK-17255][python] Add HBase connector descriptor support in PyFlink.
  docs/dev/table/connect.md
  flink-python/bin/pyflink-gateway-server.sh
  flink-python/pyflink/table/descriptors.py
  flink-python/pyflink/table/tests/test_descriptor.py
Labels: component=API/Python, review=description?

#11946 [FLINK-17460][orc][parquet] Create sql-jars for parquet and orc
  docs/dev/table/connect.md
  flink-formats/flink-orc/pom.xml
  flink-formats/flink-orc/src/main/resources/META-INF/services/NOTICE
  flink-formats/flink-parquet/pom.xml
  flink-formats/flink-parquet/src/main/resources/META-INF/services/NOTICE
Labels: component=Formats, review=description?

#11592 [FLINK-16871][runtime] Make more build time information available at runtime
  flink-dist/pom.xml
  flink-runtime/pom.xml
  flink-runtime/src/main/java/org/apache/flink/runtime/util/EnvironmentInformation.java
  flink-runtime/src/main/resources-filtered/.flink-runtime.version.properties
  flink-runtime/src/test/java/org/apache/flink/runtime/util/EnvironmentInformationTest.java
  pom.xml
Labels: component=BuildSystem, review=description?

#11590 [FLINK-16102][docs-zh] Translate docs/dev/table/hive/scala_shell_hive.zh.md into Chinese
  docs/dev/table/hive/scala_shell_hive.md
  docs/dev/table/hive/scala_shell_hive.zh.md
Labels: component=Documentation, component=chinese-translation, review=description?

#11954 [FLINK-17420][table sql / api]Cannot alias Tuple and Row fields when converting DataStream to Table
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/typeutils/FieldInfoUtils.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/typeutils/FieldInfoUtilsTest.java
Labels: component=TableSQL/API, review=description?

#11960 [FLINK-12717][python] Add windows support for PyFlink
  flink-python/pyflink/datastream/tests/test_state_backend.py
  flink-python/pyflink/find_flink_home.py
  flink-python/pyflink/fn_execution/tests/test_process_mode_boot.py
  flink-python/pyflink/gen_protos.py
  flink-python/pyflink/java_gateway.py
  flink-python/pyflink/pyflink_callback_server.py
  flink-python/pyflink/pyflink_gateway_server.py
  flink-python/pyflink/table/tests/test_dependency.py
  flink-python/pyflink/table/tests/test_pandas_udf.py
  flink-python/pyflink/table/tests/test_types.py
  flink-python/src/main/java/org/apache/flink/client/python/PythonEnvUtils.java
  flink-python/src/main/java/org/apache/flink/client/python/PythonFunctionFactory.java
  flink-python/src/main/java/org/apache/flink/client/python/PythonGatewayServer.java
  flink-python/src/main/java/org/apache/flink/python/env/ProcessPythonEnvironmentManager.java
  flink-python/src/main/java/org/apache/flink/python/util/ResourceUtil.java
  flink-python/src/main/resources/pyflink-udf-runner.bat
  flink-python/src/main/resources/pyflink-udf-runner.sh
Labels: component=API/Python, review=description?

#12023 [FLINK-17555][python] Remove duplicate FileSystem object in descriptors
  flink-python/pyflink/table/descriptors.py
Labels: component=API/Python, review=description?

#11952 [FLINK-16638][runtime][checkpointing] Flink checkStateMappingCompleteness doesn't include UserDefinedOperatorIDs
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/input/OperatorStateInputFormat.java
  flink-libraries/flink-state-processing-api/src/test/java/org/apache/flink/state/api/runtime/OperatorIDGeneratorTest.java
  flink-runtime/src/main/java/org/apache/flink/runtime/OperatorIDPair.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/Checkpoints.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/PendingCheckpoint.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/StateAssignmentOperation.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/ExecutionJobVertex.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobgraph/InputOutputFormatVertex.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobgraph/JobVertex.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/ChannelStateNoRescalingPartitionerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinatorRestoringTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinatorTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinatorTestingUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointMetadataLoadingTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointStateRestoreTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/PendingCheckpointTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/StateAssignmentOperationTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/LegacyJobVertexIdTest.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/StreamingJobGraphGenerator.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/graph/StreamingJobGraphGeneratorNodeHashTest.java
Labels: component=Runtime/Checkpointing, review=description?

#12024 [FLINK-17092][python] Add retry when pip install dependencies
  flink-python/pyflink/fn_execution/boot.py
Labels: component=API/Python, component=Tests, review=description?

#12032 [FLINK-17570] Fix recursive call in BatchTableEnvironment#fromValues
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/api/internal/TableEnvImpl.scala
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/runtime/batch/table/JavaTableEnvironmentITCase.java
Labels: component=TableSQL/API, review=description?

#11961 [FLINK-16097] Translate "SQL Client" page of "Table API & SQL" into Chinese
  docs/dev/table/sqlClient.zh.md
Labels: component=Documentation, component=chinese-translation, review=description?

#11979 [FLINK-17291][docs] Translate 'docs/training/event_driven.zh.md' to C…
  docs/training/event_driven.zh.md
Labels: component=Documentation/Training, component=chinese-translation, review=description?

#11971 [FLINK-17271] Translate new DataStream API tutorial
  docs/training/datastream_api.zh.md
Labels: component=Documentation/Training, component=chinese-translation, review=description?

#12051 [FLINK-17585][python] PythonProgramOptions should not change the entr…
  flink-python/src/main/java/org/apache/flink/client/cli/PythonProgramOptions.java
Labels: component=API/Python, review=description?

#12050 [FLINK-17586][table-planner] Let the BatchTableEnvImpl use the cached files registered in the ExecutionEnvironment to create the job pipeline.
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/api/internal/BatchTableEnvImpl.scala
Labels: component=API/Python, review=description?

#12048 [FLINK-17586][python] Use the real StreamExecutionEnvironment contained in DummyStreamExecutionEnvironment when translating the Python UDF physical nodes to operators.
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/common/CommonPythonBase.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/plan/nodes/CommonPythonBase.scala
Labels: component=API/Python, review=description?

#12047 [FLINK-16990][table-planner-blink] Support LookupTableSource in blink planner
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/common/CommonLookupJoin.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/logical/FlinkLogicalTableSourceScan.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchExecLookupJoin.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamExecLookupJoin.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/batch/BatchExecLookupJoinRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/common/CommonLookupJoinRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/stream/StreamExecLookupJoinRule.scala
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/factories/TestValuesTableFactory.java
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/join/LookupJoinTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/join/LookupJoinTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/batch/sql/join/LookupJoinTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdHandlerTestBase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/join/LookupJoinTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/utils/lookupFunctions.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/join/LookupJoinITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/AsyncLookupJoinITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/LookupJoinITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/TimeAttributeITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/utils/BatchTestBase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/utils/InMemoryLookupableTableSource.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/utils/StreamingTestBase.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/connector/source/LookupRuntimeProviderContext.java
Labels: component=TableSQL/Planner, review=description?

#12027 [FLINK-17564][checkpointing] Fix buffer disorder issue of RemoteInputChannel for unaligned checkpoint
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/channel/ChannelStateWriter.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/InputChannel.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/RemoteInputChannel.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/consumer/SingleInputGateTest.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/CheckpointedInputGate.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/StreamTaskNetworkInput.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/CheckpointBarrierUnalignerTest.java
Labels: component=Runtime/Checkpointing, review=description?

#12042 [FLINK-16367] [table] Introduce TableEnvironment#createStatementSet api
  flink-python/pyflink/table/__init__.py
  flink-python/pyflink/table/statement_set.py
  flink-python/pyflink/table/table_environment.py
  flink-python/pyflink/table/tests/test_table_environment_api.py
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/StatementSet.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/TableEnvironment.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/StatementSetImpl.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/TableEnvironmentImpl.java
  flink-table/flink-table-planner-blink/src/test/resources/explain/testStatementSet.out
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/api/TableEnvironmentITCase.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/api/internal/TableEnvImpl.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/TableEnvironmentITCase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/runtime/batch/sql/TableEnvironmentITCase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/utils/MockTableEnvironment.scala
  flink-table/flink-table-planner/src/test/scala/resources/testStatementSet0.out
  flink-table/flink-table-planner/src/test/scala/resources/testStatementSet1.out
Labels: component=TableSQL/API, review=description?

#12017 [FLINK-17452][hive] Support creating Hive tables with constraints
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/HiveCatalog.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/client/HiveMetastoreClientWrapper.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/client/HiveShim.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/client/HiveShimV100.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/client/HiveShimV210.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/client/HiveShimV310.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTableFactoryTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveCatalogHiveMetadataTest.java
Labels: component=Connectors/Hive, review=description?

#12060 [FLINK-17601][table-planner-blink] Correct the table scan node name in the explain result of TableEnvironmentITCase#testStatementSet
  flink-table/flink-table-planner-blink/src/test/resources/explain/testStatementSet.out
Labels: review=description?

#12021 [FLINK-16346][runtime][tests] Use BlockingNoOpInvokable
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmanager/BlobsCleanupITCase.java
Labels: component=Runtime/Coordination, review=description?

#12010 [FLINK-17286][connectors / filesystem]Integrate json to file system connector
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/HiveCatalog.java
  flink-core/src/main/java/org/apache/flink/api/common/io/DelimitedInputFormat.java
  flink-formats/flink-json/pom.xml
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/JsonFileSystemFormatFactory.java
  flink-formats/flink-json/src/main/resources/META-INF/services/org.apache.flink.table.factories.TableFactory
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/JsonBatchFileSystemITCase.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/JsonFsStreamSinkITCase.java
  flink-formats/flink-orc/src/main/java/org/apache/flink/orc/OrcFileSystemFormatFactory.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/ParquetFileSystemFormatFactory.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/factories/FileSystemFormatFactory.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/utils/PartitionPathUtils.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/utils/TestCsvFileSystemFormatFactory.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/utils/TestRowDataCsvInputFormat.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/FileSystemITCaseBase.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/DynamicPartitionWriter.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/FileSystemTableSink.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/FileSystemTableSource.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/GroupedPartitionWriter.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/PartitionLoader.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/PartitionTempFileManager.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/SingleDirectoryWriter.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/filesystem/RowPartitionComputerTest.java
Labels: component=Connectors/FileSystem, component=Formats, review=description?

#12012 [FLINK-17289][docs]Translate tutorials/etl.md to Chinese
  docs/training/etl.zh.md
Labels: component=Documentation/Training, component=chinese-translation, review=description?

#12063 [FLINK-17603][table][core] Prepare Hive partitioned streaming source
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HiveTableInputFormat.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HiveVectorizedOrcSplitReader.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HiveVectorizedParquetSplitReader.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/SplitReader.java
  flink-formats/flink-orc/src/main/java/org/apache/flink/orc/OrcSplitReader.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/vector/ParquetColumnarRowSplitReader.java
  flink-formats/flink-parquet/src/test/java/org/apache/flink/formats/parquet/vector/ParquetColumnarRowSplitReaderTest.java
  flink-fs-tests/src/test/java/org/apache/flink/hdfstests/ContinuousFileProcessingMigrationTest.java
  flink-fs-tests/src/test/java/org/apache/flink/hdfstests/ContinuousFileProcessingTest.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/environment/StreamExecutionEnvironment.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/source/ContinuousFileReaderOperator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/source/ContinuousFileReaderOperatorFactory.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/source/TimestampedFileInputSplit.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/source/TimestampedInputSplit.java
Labels: component=<none>, review=description?

#12070 [FLINK-17523] Add call expression with a class of UDF as a parameter
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/Expressions.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/Table.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/WindowGroupedTable.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/expressions/resolver/ExpressionResolverTest.java
  flink-table/flink-table-api-scala/src/main/scala/org/apache/flink/table/api/expressionDsl.scala
Labels: component=TableSQL/API, review=description?

#11755 [FLINK-14257][Connectors / FileSystem]Integrate csv to FileSystemTableFactory
  flink-formats/flink-csv/pom.xml
  flink-formats/flink-csv/src/main/java/org/apache/flink/formats/csv/CsvFileSystemFormatFactory.java
  flink-formats/flink-csv/src/main/java/org/apache/flink/formats/csv/CsvRowDataDeserializationSchema.java
  flink-formats/flink-csv/src/main/resources/META-INF/services/org.apache.flink.table.factories.TableFactory
  flink-formats/flink-csv/src/test/java/org/apache/flink/formats/csv/CsvFilesystemBatchITCase.java
  flink-formats/flink-csv/src/test/java/org/apache/flink/formats/csv/CsvFilesystemStreamITCase.java
Labels: component=Connectors/FileSystem, review=description?

#12079 [FLINK-17609][python] Execute the script directly when user specified…
  flink-python/src/main/java/org/apache/flink/client/python/PythonDriver.java
  flink-python/src/main/java/org/apache/flink/client/python/PythonDriverOptions.java
  flink-python/src/main/java/org/apache/flink/client/python/PythonDriverOptionsParserFactory.java
  flink-python/src/test/java/org/apache/flink/client/python/PythonDriverOptionsParserFactoryTest.java
  flink-python/src/test/java/org/apache/flink/client/python/PythonDriverTest.java
Labels: component=API/Python, component=Client/JobSubmission, review=description?

#12004 [FLINK-17434][core][hive] Hive partitioned source support streaming read
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTablePartition.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSource.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/JobConfWrapper.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/DirectoryMonitorDiscovery.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HiveContinuousMonitoringFunction.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HiveTableInputFormat.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HiveTableInputSplit.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/PartitionDiscovery.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/TimestampedHiveInputSplit.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTableSourceTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveTestUtils.java
  flink-connectors/flink-hadoop-compatibility/src/main/java/org/apache/flink/api/java/hadoop/mapred/wrapper/HadoopInputSplit.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/utils/PartitionPathUtils.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/utils/StreamTestSink.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/DefaultPartTimeExtractor.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/FileSystemOptions.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/PartitionTimeExtractor.java
Labels: component=Connectors/Hive, review=description?

#12018 [FLINK-17307] Add collector to deserialize in KafkaDeserializationSchema
  flink-connectors/flink-connector-kafka-0.10/src/main/java/org/apache/flink/streaming/connectors/kafka/internal/Kafka010Fetcher.java
  flink-connectors/flink-connector-kafka-0.10/src/test/java/org/apache/flink/streaming/connectors/kafka/Kafka010ITCase.java
  flink-connectors/flink-connector-kafka-0.11/src/test/java/org/apache/flink/streaming/connectors/kafka/Kafka011ITCase.java
  flink-connectors/flink-connector-kafka-base/src/main/java/org/apache/flink/streaming/connectors/kafka/KafkaDeserializationSchema.java
  flink-connectors/flink-connector-kafka-base/src/main/java/org/apache/flink/streaming/connectors/kafka/internals/AbstractFetcher.java
  flink-connectors/flink-connector-kafka-base/src/main/java/org/apache/flink/streaming/connectors/kafka/internals/KafkaDeserializationSchemaWrapper.java
  flink-connectors/flink-connector-kafka-base/src/test/java/org/apache/flink/streaming/connectors/kafka/KafkaConsumerTestBase.java
  flink-connectors/flink-connector-kafka-base/src/test/java/org/apache/flink/streaming/connectors/kafka/internals/AbstractFetcherTest.java
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/streaming/connectors/kafka/internal/KafkaFetcher.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/KafkaITCase.java
Labels: component=Connectors/Common, review=description?

#11867 [FLINK-17309][e2e tests]TPC-DS fail to run data generator due to network issues
  flink-end-to-end-tests/flink-tpcds-test/tpcds-tool/data_generator.sh
  flink-end-to-end-tests/test-scripts/test_tpcds.sh
Labels: component=TableSQL/Planner, review=description?

#12091 [FLINK-17614][table] Add project it case for partition table in file system
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/vector/ParquetSplitReaderUtil.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/FileSystemITCaseBase.scala
Labels: component=Connectors/FileSystem, review=description?

#11892 [FLINK-17112][table] Support DESCRIBE statement in Flink SQL
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/TableEnvironmentImpl.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/TableResultImpl.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/DescribeTableOperation.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/utils/PrintUtils.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/operations/SqlToOperationConverter.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/calcite/FlinkPlannerImpl.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/api/TableEnvironmentTest.scala
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/sqlexec/SqlToOperationConverter.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/api/internal/TableEnvImpl.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/calcite/FlinkPlannerImpl.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/batch/BatchTableEnvironmentTest.scala
Labels: component=TableSQL/API, component=TableSQL/Planner, review=description?

#12058 [FLINK-16521][flink-core] Remove unused FileUtils#isClassFile
  flink-core/src/main/java/org/apache/flink/util/FileUtils.java
Labels: component=API/Core, review=description?

#12045 [FLINK-15841][core] Clarify that TimeWindow.intersect returns true if…
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/windowing/windows/TimeWindow.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/windowing/TimeWindowTest.java
Labels: component=API/DataStream, review=description?

#12098 [FLINK-17628][python] Remove the unnecessary py4j log information.
  flink-python/pyflink/java_gateway.py
Labels: component=API/Python, review=description?

#12077 [FLINK-17612][python][sql-client] add the parse logic of Python command line options to CliOptionsParser in SQL Client.
  docs/dev/table/sqlClient.md
  docs/dev/table/sqlClient.zh.md
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/SqlClient.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliOptions.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliOptionsParser.java
Labels: component=API/Python, review=description?

#12099 [FLINK-17633][table-common] Improve FactoryUtil to align with new format options keys
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/factories/FactoryUtil.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/factories/FactoryUtilTest.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/factories/TestDynamicTableFactory.java
Labels: component=<none>, review=description?

#12089 [FLINK-17336][CI] Update watchdog to properly kill watched process
  tools/travis_watchdog.sh
Labels: component=BuildSystem/AzurePipelines, component=Tests, review=description?

#12118 [FLINK-17636][network][tests] Fix the unstable unit tests in SingleInputGateTest
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/consumer/SingleInputGateTest.java
Labels: component=Runtime/Network, component=Tests, review=description?

#12107 [FLINK-17640][network][tests] Fix the unstable unit tests in RecoveredInputChannelTest
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/consumer/RecoveredInputChannelTest.java
Labels: component=Runtime/Network, review=description?

#12124 [hotfix][hive] Should clear StreamTestSink in HiveTableSourceTest
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTableSourceTest.java
Labels: review=description?

#12106 [FLINK-17646][python] Reduce the package size of PyFlink.
  flink-python/setup.py
Labels: component=API/Python, review=description?

#12142 [FLINK-17679][python] Fix the bug of encoding bytes in cython coder
  flink-python/pyflink/fn_execution/fast_coder_impl.pxd
  flink-python/pyflink/fn_execution/fast_coder_impl.pyx
  flink-python/pyflink/fn_execution/tests/test_fast_coders.py
Labels: component=API/Python, review=description?

#12127 [FLINK-17665][network] Serialize DataType of Buffer into BufferResponse
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/buffer/Buffer.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/netty/NettyMessage.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/netty/NetworkBufferAllocator.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/netty/PartitionRequestQueueTest.java
Labels: component=Runtime/Network, review=description?

#12037 [FLINK-14807][runtime][client] Introduce communication through REST API between the clients and the operator coordinators
  flink-clients/src/main/java/org/apache/flink/client/deployment/ClusterClientJobClientAdapter.java
  flink-clients/src/main/java/org/apache/flink/client/deployment/application/EmbeddedJobClient.java
  flink-clients/src/main/java/org/apache/flink/client/program/ClusterClient.java
  flink-clients/src/main/java/org/apache/flink/client/program/MiniClusterClient.java
  flink-clients/src/main/java/org/apache/flink/client/program/PerJobMiniClusterFactory.java
  flink-clients/src/main/java/org/apache/flink/client/program/rest/RestClusterClient.java
  flink-clients/src/test/java/org/apache/flink/client/program/TestingClusterClient.java
  flink-clients/src/test/java/org/apache/flink/client/program/rest/RestClusterClientTest.java
  flink-runtime-web/src/test/resources/rest_api_v1.snapshot
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/Dispatcher.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/JobMaster.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/JobMasterGateway.java
  flink-runtime/src/main/java/org/apache/flink/runtime/minicluster/MiniCluster.java
  flink-runtime/src/main/java/org/apache/flink/runtime/operators/coordination/CoordinationRequest.java
  flink-runtime/src/main/java/org/apache/flink/runtime/operators/coordination/CoordinationRequestGateway.java
  flink-runtime/src/main/java/org/apache/flink/runtime/operators/coordination/CoordinationRequestHandler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/operators/coordination/CoordinationResponse.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/handler/job/coordination/ClientCoordinationHandler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/messages/OperatorIDPathParameter.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/messages/job/coordination/ClientCoordinationHeaders.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/messages/job/coordination/ClientCoordinationMessageParameters.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/messages/job/coordination/ClientCoordinationRequestBody.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/messages/job/coordination/ClientCoordinationResponseBody.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/SchedulerBase.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/SchedulerNG.java
  flink-runtime/src/main/java/org/apache/flink/runtime/webmonitor/RestfulGateway.java
  flink-runtime/src/main/java/org/apache/flink/runtime/webmonitor/WebMonitorEndpoint.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/utils/TestingJobMasterGateway.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/utils/TestingJobMasterGatewayBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/operators/coordination/OperatorCoordinatorSchedulerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/operators/coordination/TestingCoordinationRequestHandler.java
  flink-runtime/src/test/java/org/apache/flink/runtime/webmonitor/TestingDispatcherGateway.java
  flink-runtime/src/test/java/org/apache/flink/runtime/webmonitor/TestingRestfulGateway.java
  flink-tests/src/test/java/org/apache/flink/test/streaming/api/environment/RemoteStreamEnvironmentTest.java
Labels: component=TableSQL/API, review=description?

#12129 [FLINK-17667][table-planner-blink][hive] Implement INSERT for Hive di…
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDialectTest.java
  flink-table/flink-sql-parser-hive/src/main/codegen/data/Parser.tdd
  flink-table/flink-sql-parser-hive/src/main/codegen/includes/parserImpls.ftl
  flink-table/flink-sql-parser-hive/src/main/java/org/apache/flink/sql/parser/hive/dml/RichSqlHiveInsert.java
  flink-table/flink-sql-parser-hive/src/test/java/org/apache/flink/sql/parser/hive/FlinkHiveSqlParserImplTest.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/calcite/CalciteParser.java
Labels: component=Connectors/Hive, review=description?

#12140 [FLINK-17629] Implement format factory for JSON serialization and des…
  flink-formats/flink-json/pom.xml
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/JsonFormatFactory.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/JsonRowDataDeserializationSchema.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/JsonRowDataSerializationSchema.java
  flink-formats/flink-json/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/JsonFormatFactoryTest.java
Labels: component=<none>, review=description?

#11990 [FLINK-17387][hive] Implement LookupableTableSource for Hive connector
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSource.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveLookupJoinTest.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/FileSystemLookupFunction.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/FileSystemOptions.java
Labels: component=Connectors/Hive, review=description?

#12160 [FLINK-17710][python][hotfix] StreamSqlTests.test_execute_sql test is…
  flink-python/pyflink/table/tests/test_sql.py
Labels: review=description?

#12158 [FLINK-17697][jdbc]Fix exception message comparison for tests.
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/JdbcOutputFormatTest.java
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/internal/JdbcFullTest.java
Labels: component=Connectors/JDBC, review=description?

#12159 [hotfix][docs] Fix Kinesis consumer example
  docs/dev/connectors/kinesis.md
  docs/dev/connectors/kinesis.zh.md
Labels: review=description?

#12154 [FLINK-17693][table] Add createTypeInformation to DynamicTableSink#Contxt
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/connector/sink/DynamicTableSink.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/factories/TestValuesTableFactory.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/connector/sink/SinkRuntimeProviderContext.java
Labels: component=TableSQL/API, review=description?

#12126 [FLINK-17664][table] Introduce print, blackhole connector in table
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/table/factories/BlackHoleTableSinkFactory.java
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/table/factories/DataGenTableSourceFactory.java
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/table/factories/PrintTableSinkFactory.java
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/table/sources/datagen/DataGenTableSource.java
  flink-table/flink-table-api-java-bridge/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  flink-table/flink-table-api-java-bridge/src/test/java/org/apache/flink/table/factories/BlackHoleSinkFactoryTest.java
  flink-table/flink-table-api-java-bridge/src/test/java/org/apache/flink/table/factories/DataGenTableSourceFactoryTest.java
  flink-table/flink-table-api-java-bridge/src/test/java/org/apache/flink/table/factories/PrintSinkFactoryTest.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/runtime/stream/table/BlackHoleConnectorITCase.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/runtime/stream/table/PrintConnectorITCase.java
Labels: component=TableSQL/API, review=description?

#11385 [FLINK-11395][formats] Support for Avro StreamingFileSink
  flink-formats/flink-avro/src/main/java/org/apache/flink/formats/avro/AvroBuilder.java
  flink-formats/flink-avro/src/main/java/org/apache/flink/formats/avro/AvroBulkWriter.java
  flink-formats/flink-avro/src/main/java/org/apache/flink/formats/avro/AvroWriterFactory.java
  flink-formats/flink-avro/src/main/java/org/apache/flink/formats/avro/AvroWriters.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/AvroStreamingFileSinkITCase.java
Labels: component=Connectors/FileSystem, review=description?

#12025 [FLINK-17435] [hive] Hive non-partitioned source supports streaming read
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/ConsumeOrder.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSource.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HiveContinuousMonitoringFunction.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HiveTableFileInputFormat.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HiveTableInputFormat.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTableSourceTest.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/source/ContinuousFileMonitoringFunction.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/FileSystemOptions.java
Labels: component=Connectors/Hive, review=description?

#12053 [FLINK-17590][connector/filesystem] Support bucket lifecycle listener in streaming file sink buckets
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/sink/filesystem/Bucket.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/sink/filesystem/BucketLifeCycleListener.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/sink/filesystem/Buckets.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/sink/filesystem/StreamingFileSink.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/functions/sink/filesystem/BucketAssignerITCases.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/functions/sink/filesystem/BucketsTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/functions/sink/filesystem/RollingPolicyTest.java
Labels: component=Connectors/FileSystem, review=description?

#12177 [FLINK-17435] [hive] Hive non-partitioned source supports streaming read
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/ConsumeOrder.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSource.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HiveContinuousMonitoringFunction.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HiveTableFileInputFormat.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HiveTableInputFormat.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTableSourceTest.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/source/ContinuousFileMonitoringFunction.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/FileSystemOptions.java
Labels: component=Connectors/Hive, review=description?

#12161 [FLINK-17450][sql-parser][hive] Implement function & catalog DDLs for Hive dialect
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDialectTest.java
  flink-table/flink-sql-parser-hive/src/main/codegen/data/Parser.tdd
  flink-table/flink-sql-parser-hive/src/main/codegen/includes/parserImpls.ftl
  flink-table/flink-sql-parser-hive/src/test/java/org/apache/flink/sql/parser/hive/FlinkHiveSqlParserImplTest.java
Labels: component=Connectors/Hive, component=TableSQL/API, review=description?

#12183 [FLINK-17737][task] Fix AlternatingCheckpointBarrierHandler
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/AlternatingCheckpointBarrierHandler.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/AlternatingCheckpointBarrierHandlerTest.java
Labels: component=Runtime/Checkpointing, component=Runtime/Task, component=Tests, review=description?

#12112 [FLINK-16075][docs-zh] Translate "The Broadcast State Pattern" page into Chinese
  docs/dev/stream/state/broadcast_state.zh.md
Labels: component=Documentation, component=chinese-translation, review=description?

#12182 [FLINK-17739][network][tests] Fix unstable ResultPartitionTest#testInitializeMoreStateThanBuffer
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/ResultPartitionTest.java
Labels: component=Runtime/Network, review=description?

#12145 [FLINK-17428] [table-planner-blink] supports projection push down on new table source interface in blink planner
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/rules/logical/PushProjectIntoTableSourceScanRule.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/FlinkBatchRuleSets.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/FlinkStreamRuleSets.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/schema/CatalogSourceTable.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/schema/TableSourceTable.scala
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/factories/TestProjectableValuesTableFactory.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/plan/rules/logical/PushProjectIntoTableSourceScanRuleTest.java
  flink-table/flink-table-planner-blink/src/test/resources/META-INF/services/org.apache.flink.table.factories.Factory
  flink-table/flink-table-planner-blink/src/test/resources/META-INF/services/org.apache.flink.table.factories.TableFactory
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/LegacyTableSourceTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/TableSourceTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/rules/logical/PushProjectIntoTableSourceScanRuleTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/LegacyTableSourceTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/TableSourceTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/table/LegacyTableSourceTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/table/TableSourceTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/batch/sql/LegacyTableSourceTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/batch/sql/TableSourceTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/rules/logical/PushProjectIntoLegacyTableSourceScanRuleTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/LegacyTableSourceTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/TableSourceTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/table/LegacyTableSourceTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/table/TableSourceTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/CalcITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/LegacyTableSourceITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/ScanTableSourceITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/TableSourceITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/CalcITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/LegacyTableSourceITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/ScanTableSourceITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/TableSourceITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/utils/BatchTestBase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/utils/StreamingTestBase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/utils/testTableSourceSinks.scala
Labels: component=TableSQL/Planner, review=description?

#12153 [FLINK-16966][metrics][infuxdb] Convert InfluxDB reporter to plugin
  docs/monitoring/metrics.md
  docs/monitoring/metrics.zh.md
  flink-metrics/flink-metrics-influxdb/pom.xml
  flink-metrics/flink-metrics-influxdb/src/main/java/org/apache/flink/metrics/influxdb/InfluxdbReporter.java
  flink-metrics/flink-metrics-influxdb/src/main/java/org/apache/flink/metrics/influxdb/InfluxdbReporterFactory.java
  flink-metrics/flink-metrics-influxdb/src/main/resources/META-INF/service/org.apache.flink.metrics.reporter.MetricReporterFactory
Labels: component=Runtime/Metrics, review=description?

#12195 [FLINK-17449][sql-parser][table-api-java][table-planner-blink][hive] …
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDialectTest.java
  flink-table/flink-sql-parser-hive/src/main/codegen/data/Parser.tdd
  flink-table/flink-sql-parser-hive/src/main/codegen/includes/parserImpls.ftl
  flink-table/flink-sql-parser-hive/src/main/java/org/apache/flink/sql/parser/hive/ddl/SqlAddHivePartitions.java
  flink-table/flink-sql-parser-hive/src/test/java/org/apache/flink/sql/parser/hive/FlinkHiveSqlParserImplTest.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlAddPartitions.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlDropPartitions.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/TableEnvironmentImpl.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ddl/AddPartitionsOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ddl/DropPartitionsOperation.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/operations/SqlToOperationConverter.java
Labels: component=Connectors/Hive, component=TableSQL/API, review=description?

#12073 [FLINK-17735][streaming] Add specialized collecting iterator
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/collect/CollectResultFetcher.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/collect/CollectResultIterator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/collect/CollectSinkFunction.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/collect/CollectSinkOperatorCoordinator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/collect/CollectSinkOperatorFactory.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/collect/CollectResultIteratorTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/collect/CollectSinkFunctionTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/collect/CollectSinkOperatorCoordinatorTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/collect/utils/CollectRequestSender.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/collect/utils/TestCollectClient.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/collect/utils/TestCoordinationRequestHandler.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/collect/utils/TestJobClient.java
Labels: component=TableSQL/Planner, review=description?

#12119 [FLINK-17649][table-planner-blink] Generated hash aggregate code may …
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/agg/batch/HashAggCodeGenHelper.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/agg/AggregateITCaseBase.scala
Labels: component=TableSQL/Planner, review=description?

#12206 [FLINK-14255][hive] Integrate hive to streaming file sink with parquet and orc
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveRowDataPartitionComputer.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveRowPartitionComputer.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableFactory.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSink.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/write/HiveOutputFormatFactory.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/write/HiveWriterFactory.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/client/HiveShim.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/client/HiveShimV100.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/client/HiveShimV200.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveOutputFormatFactoryTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTableSinkTest.java
  flink-formats/flink-orc-nohive/src/main/java/org/apache/flink/orc/nohive/OrcNoHiveBulkWriterFactory.java
  flink-formats/flink-orc/src/main/java/org/apache/flink/orc/OrcSplitReaderUtil.java
  flink-formats/flink-orc/src/main/java/org/apache/flink/orc/writer/PhysicalWriterImpl.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/FileSystemTableSink.java
Labels: component=TableSQL/Planner, review=description?

#11839 [FLINK-17166][dist] Modify the log4j-console.properties to also output logs into the files for WebUI
  flink-dist/src/main/flink-bin/bin/flink-console.sh
  flink-dist/src/main/flink-bin/conf/log4j-console.properties
  flink-dist/src/main/flink-bin/conf/logback-console.xml
Labels: component=Runtime/Configuration, review=description?

#12207 [hotfix][doc] Fix broken link in the native Kubernetes document
  docs/ops/deployment/native_kubernetes.md
  docs/ops/deployment/native_kubernetes.zh.md
Labels: review=description?

#12175 [FLINK-17692] Keep yarn.classpath in target folder to not pollute local builds
  flink-end-to-end-tests/pom.xml
  flink-end-to-end-tests/test-scripts/common.sh
Labels: component=Deployment/YARN, review=description?

#11837 [FLINK-16160][table-planner-blink] Fix proctime()/rowtime() doesn't w…
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/catalog/ConnectorCatalogTable.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/sources/TableSourceValidation.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/catalog/CatalogSchemaTable.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/schema/LegacyCatalogSourceTable.scala
  flink-table/flink-table-planner-blink/src/test/resources/META-INF/services/org.apache.flink.table.factories.TableFactory
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/LegacyTableSourceTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/LegacyTableSourceTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/utils/testTableSourceSinks.scala
Labels: component=TableSQL/API, review=description?

#12201 [hotfix] Remove raw class usages in Configuration.
  flink-core/src/main/java/org/apache/flink/configuration/ConfigOption.java
  flink-core/src/main/java/org/apache/flink/configuration/ConfigOptions.java
  flink-core/src/main/java/org/apache/flink/configuration/Configuration.java
Labels: review=description?

#12171 [FLINK-17715][sql client] Supports function DDLs in SQL-CLI
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliClient.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliStrings.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/SqlCommandParser.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/Executor.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/LocalExecutor.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliClientTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliResultViewTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/SqlCommandParserTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/TestingExecutor.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/local/LocalExecutorITCase.java
Labels: component=TableSQL/Client, review=description?

#12214 [FLINK-17618][flink-dist] Update the outdated comments in log4j2 configuration files
  flink-dist/src/main/flink-bin/conf/log4j-console.properties
  flink-dist/src/main/flink-bin/conf/log4j.properties
Labels: component=CommandLineClient, review=description?

#12226 [FLINK-17543][Azure] Add timestamp to log name to allow multiple uploads per module
  tools/travis_watchdog.sh
Labels: component=BuildSystem/AzurePipelines, review=description?

#12231 [FLINK-17799][network] Fix performance regression in the network stack
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/api/reader/AbstractRecordReader.java
Labels: component=Runtime/Network, review=description?

#12223 [FLINK-15813][runtime] Set default value of config “jobmanager.execution.failover-strategy” to “region”
  docs/_includes/generated/all_jobmanager_section.html
  docs/_includes/generated/expert_fault_tolerance_section.html
  docs/_includes/generated/job_manager_configuration.html
  flink-core/src/main/java/org/apache/flink/configuration/JobManagerOptions.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/failover/FailoverStrategyLoader.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/failover/flip1/FailoverStrategyFactoryLoader.java
Labels: component=Runtime/Coordination, review=description?

#12224 [FLINK-17594][filesystem] Support Hadoop path-based part-file writer.
  flink-formats/flink-hadoop-bulk/pom.xml
  flink-formats/flink-hadoop-bulk/src/main/java/org/apache/flink/formats/hadoop/bulk/DefaultHadoopFileCommitterFactory.java
  flink-formats/flink-hadoop-bulk/src/main/java/org/apache/flink/formats/hadoop/bulk/HadoopFileCommitter.java
  flink-formats/flink-hadoop-bulk/src/main/java/org/apache/flink/formats/hadoop/bulk/HadoopFileCommitterFactory.java
  flink-formats/flink-hadoop-bulk/src/main/java/org/apache/flink/formats/hadoop/bulk/HadoopPathBasedBulkWriter.java
  flink-formats/flink-hadoop-bulk/src/main/java/org/apache/flink/formats/hadoop/bulk/HadoopPathBasedPartFileWriter.java
  flink-formats/flink-hadoop-bulk/src/main/java/org/apache/flink/formats/hadoop/bulk/committer/HadoopRenameFileCommitter.java
  flink-formats/flink-hadoop-bulk/src/main/java/org/apache/flink/streaming/api/functions/sink/filesystem/HadoopPathBasedBulkFormatBuilder.java
  flink-formats/flink-hadoop-bulk/src/main/java/org/apache/flink/streaming/api/functions/sink/filesystem/SerializableConfiguration.java
  flink-formats/flink-hadoop-bulk/src/test/java/org/apache/flink/formats/hadoop/bulk/HadoopPathBasedPartFileWriterTest.java
  flink-formats/flink-hadoop-bulk/src/test/java/org/apache/flink/formats/hadoop/bulk/committer/HadoopRenameFileCommitterTest.java
  flink-formats/flink-hadoop-bulk/src/test/java/org/apache/flink/streaming/api/functions/sink/filesystem/TestStreamingFileSinkFactory.java
  flink-formats/flink-hadoop-bulk/src/test/resources/log4j2-test.properties
  flink-formats/pom.xml
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/sink/filesystem/AbstractPartFileWriter.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/sink/filesystem/BucketWriter.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/sink/filesystem/InProgressFileWriter.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/sink/filesystem/StreamingFileSink.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/sink/filesystem/WriterProperties.java
Labels: component=Connectors/FileSystem, component=Formats, review=description?

#12218 [FLINK-16160][table] Fix proctime()/rowtime() doesn't work for TableE…
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/catalog/ConnectorCatalogTable.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/descriptors/ConnectTableDescriptor.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/sources/TableSourceValidation.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/catalog/CatalogSchemaTable.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/schema/CatalogSourceTable.scala
  flink-table/flink-table-planner-blink/src/test/resources/META-INF/services/org.apache.flink.table.factories.TableFactory
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/TableSourceTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/TableSourceTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/utils/testTableSources.scala
Labels: component=TableSQL/API, review=description?

#12217 [FLINK-17786][sql-client] Remove dialect from ExecutionEntry
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/config/entries/ExecutionEntry.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/ExecutionContext.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/local/ExecutionContextTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/local/LocalExecutorITCase.java
  flink-table/flink-sql-client/src/test/resources/test-sql-client-dialect.yaml
Labels: component=TableSQL/Client, review=description?

#12239 [FLINK-17027][hotfix] Rename back-off infix to backoff in new Elasticsearch properties
  docs/dev/table/connect.md
  docs/dev/table/connect.zh.md
  flink-connectors/flink-connector-elasticsearch-base/src/main/java/org/apache/flink/streaming/connectors/elasticsearch/table/ElasticsearchOptions.java
  flink-connectors/flink-connector-elasticsearch6/src/test/java/org/apache/flink/streaming/connectors/elasticsearch/table/Elasticsearch6DynamicSinkFactoryTest.java
  flink-connectors/flink-connector-elasticsearch7/src/test/java/org/apache/flink/streaming/connectors/elasticsearch/table/Elasticsearch7DynamicSinkFactoryTest.java
Labels: component=Connectors/ElasticSearch, component=TableSQL/Ecosystem, review=description?

#12238 [FLINK-17626][fs-connector] Fs connector should use FLIP-122 format options style
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSink.java
  flink-formats/flink-avro/src/main/java/org/apache/flink/formats/avro/AvroFileSystemFormatFactory.java
  flink-formats/flink-avro/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  flink-formats/flink-avro/src/main/resources/META-INF/services/org.apache.flink.table.factories.TableFactory
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/AvroFilesystemITCase.java
  flink-formats/flink-csv/src/main/java/org/apache/flink/formats/csv/CsvFileSystemFormatFactory.java
  flink-formats/flink-csv/src/main/java/org/apache/flink/formats/csv/CsvFormatFactory.java
  flink-formats/flink-csv/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  flink-formats/flink-csv/src/main/resources/META-INF/services/org.apache.flink.table.factories.TableFactory
  flink-formats/flink-csv/src/test/java/org/apache/flink/formats/csv/CsvFilesystemBatchITCase.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/JsonFileSystemFormatFactory.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/JsonFormatFactory.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/JsonOptions.java
  flink-formats/flink-json/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  flink-formats/flink-json/src/main/resources/META-INF/services/org.apache.flink.table.factories.TableFactory
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/JsonBatchFileSystemITCase.java
  flink-formats/flink-orc/src/main/java/org/apache/flink/orc/OrcFileSystemFormatFactory.java
  flink-formats/flink-orc/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  flink-formats/flink-orc/src/test/java/org/apache/flink/orc/OrcFileSystemITCase.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/ParquetFileSystemFormatFactory.java
  flink-formats/flink-parquet/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  flink-formats/flink-parquet/src/test/java/org/apache/flink/formats/parquet/ParquetFileSystemITCase.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/factories/FileSystemFormatFactory.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/batch/BatchExecLegacySinkRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/batch/BatchExecSinkRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/stream/StreamExecLegacySinkRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/stream/StreamExecSinkRule.scala
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/utils/TestCsvFileSystemFormatFactory.java
  flink-table/flink-table-planner-blink/src/test/resources/META-INF/services/org.apache.flink.table.factories.Factory
  flink-table/flink-table-planner-blink/src/test/resources/META-INF/services/org.apache.flink.table.factories.TableFactory
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/FileSystemTestCsvITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/PartitionableSinkITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/FsStreamingSinkTestCsvITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/StreamFileSystemTestCsvITCase.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/FileSystemOptions.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/FileSystemTableFactory.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/FileSystemTableSink.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/FileSystemTableSource.java
Labels: component=Connectors/FileSystem, review=description?

#12212 [FLINK-17626][fs-connector] Fs connector should use FLIP-122 format options style
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSink.java
  flink-formats/flink-avro/src/main/java/org/apache/flink/formats/avro/AvroFileSystemFormatFactory.java
  flink-formats/flink-avro/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  flink-formats/flink-avro/src/main/resources/META-INF/services/org.apache.flink.table.factories.TableFactory
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/AvroFilesystemITCase.java
  flink-formats/flink-csv/src/main/java/org/apache/flink/formats/csv/CsvFileSystemFormatFactory.java
  flink-formats/flink-csv/src/main/java/org/apache/flink/formats/csv/CsvFormatFactory.java
  flink-formats/flink-csv/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  flink-formats/flink-csv/src/main/resources/META-INF/services/org.apache.flink.table.factories.TableFactory
  flink-formats/flink-csv/src/test/java/org/apache/flink/formats/csv/CsvFilesystemBatchITCase.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/JsonFileSystemFormatFactory.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/JsonFormatFactory.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/JsonOptions.java
  flink-formats/flink-json/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  flink-formats/flink-json/src/main/resources/META-INF/services/org.apache.flink.table.factories.TableFactory
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/JsonBatchFileSystemITCase.java
  flink-formats/flink-orc/src/main/java/org/apache/flink/orc/OrcFileSystemFormatFactory.java
  flink-formats/flink-orc/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  flink-formats/flink-orc/src/test/java/org/apache/flink/orc/OrcFileSystemITCase.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/ParquetFileSystemFormatFactory.java
  flink-formats/flink-parquet/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  flink-formats/flink-parquet/src/test/java/org/apache/flink/formats/parquet/ParquetFileSystemITCase.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/factories/FileSystemFormatFactory.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/batch/BatchExecLegacySinkRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/batch/BatchExecSinkRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/stream/StreamExecLegacySinkRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/stream/StreamExecSinkRule.scala
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/utils/TestCsvFileSystemFormatFactory.java
  flink-table/flink-table-planner-blink/src/test/resources/META-INF/services/org.apache.flink.table.factories.Factory
  flink-table/flink-table-planner-blink/src/test/resources/META-INF/services/org.apache.flink.table.factories.TableFactory
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/FileSystemTestCsvITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/PartitionableSinkITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/FsStreamingSinkTestCsvITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/StreamFileSystemTestCsvITCase.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/FileSystemOptions.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/FileSystemTableFactory.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/FileSystemTableSink.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/FileSystemTableSource.java
Labels: component=Connectors/FileSystem, review=description?

#12188 [FLINK-17728] [sql-client] sql client supports parser statements via sql parser
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliClient.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/SqlCommandParser.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/SqlCompleter.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/Executor.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/LocalExecutor.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliClientTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliResultViewTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/SqlCommandParserTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/TestingExecutor.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/utils/SqlParserHelper.java
Labels: component=TableSQL/Client, review=description?

#12247 [hotfix] Disable e2e execution in PRs
  tools/azure-pipelines/jobs-template.yml
Labels: review=description?

#12186 [FLINK-16383][task] Do not relay notifyCheckpointComplete to closed operators
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointFailureManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointFailureReason.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/OperatorChain.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamOperatorWrapper.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/SubtaskCheckpointCoordinatorImpl.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamMockEnvironment.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskMailboxTestHarness.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskMailboxTestHarnessBuilder.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTest.java
Labels: component=Connectors/Kafka, component=Tests, review=description?

#11974 [FLINK-16970][build][metrics]Bundle JMXReporter separately from dist …
  flink-dist/pom.xml
  flink-dist/src/main/assemblies/plugins.xml
Labels: component=BuildSystem, component=Runtime/Metrics, review=description?

#12100 [FLINK-17634][rest] Reject multiple registration for the same endpoint
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/RestServerEndpoint.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/RestServerEndpointITCase.java
Labels: component=Runtime/REST, review=description?

#12138 [FLINK-16611] [datadog-metrics] Make number of metrics per request configurable
  docs/monitoring/metrics.md
  docs/monitoring/metrics.zh.md
  flink-metrics/flink-metrics-datadog/src/main/java/org/apache/flink/metrics/datadog/DCounter.java
  flink-metrics/flink-metrics-datadog/src/main/java/org/apache/flink/metrics/datadog/DMetric.java
  flink-metrics/flink-metrics-datadog/src/main/java/org/apache/flink/metrics/datadog/DSeries.java
  flink-metrics/flink-metrics-datadog/src/main/java/org/apache/flink/metrics/datadog/DatadogHttpReporter.java
Labels: component=Runtime/Metrics, review=description?

#12090 [FLINK-17622][connectors / jdbc] Remove useless switch for decimal in PostgresCatalog
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/catalog/PostgresCatalog.java
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/catalog/PostgresCatalogITCase.java
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/catalog/PostgresCatalogTestBase.java
Labels: component=Connectors/JDBC, review=description?

#12205 [FLINK-17780][checkpointing] Add task name to log statements of ChannelStateWriter.
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/channel/ChannelStateWriteRequestExecutorImpl.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/channel/ChannelStateWriterImpl.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/channel/ChannelStateWriteRequestExecutorImplTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/channel/ChannelStateWriterImplTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/ChannelPersistenceITCase.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/SubtaskCheckpointCoordinatorImpl.java
Labels: component=Runtime/Checkpointing, review=description?

#12265 [FLINK-16922][table-common] Fix DecimalData.toUnscaledBytes() should be consistent with BigDecimla.unscaledValue.toByteArray()
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/data/DecimalData.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/data/DecimalDataTest.java
Labels: component=TableSQL/Runtime, review=description?

#12181 [FLINK-17645][runtime] Reset SafetyNetCloseableRegistry#REAPER_THREAD if it fails to start
  flink-core/src/main/java/org/apache/flink/core/fs/SafetyNetCloseableRegistry.java
  flink-core/src/test/java/org/apache/flink/core/fs/SafetyNetCloseableRegistryTest.java
Labels: component=Runtime/Task, review=description?

#12272 [FLINK-17817] Fix type serializer duplication in CollectSinkFunction
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/collect/CollectSinkFunction.java
Labels: component=API/DataStream, component=Tests, review=description?

#12241 [FLINK-17474][parquet][hive] Parquet reader should be case insensitive for hive
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HiveVectorizedParquetSplitReader.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTableSourceTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveTestUtils.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/ParquetFileSystemFormatFactory.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/vector/ParquetColumnarRowSplitReader.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/vector/ParquetSplitReaderUtil.java
  flink-formats/flink-parquet/src/test/java/org/apache/flink/formats/parquet/row/ParquetRowDataWriterTest.java
  flink-formats/flink-parquet/src/test/java/org/apache/flink/formats/parquet/vector/ParquetColumnarRowSplitReaderTest.java
Labels: component=Connectors/Hive, component=Formats, review=description?

#12274 [FLINK-17474][parquet][hive] Parquet reader should be case insensitive for hive
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HiveVectorizedParquetSplitReader.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTableSourceTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveTestUtils.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/ParquetFileSystemFormatFactory.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/vector/ParquetColumnarRowSplitReader.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/vector/ParquetSplitReaderUtil.java
  flink-formats/flink-parquet/src/test/java/org/apache/flink/formats/parquet/row/ParquetRowDataWriterTest.java
  flink-formats/flink-parquet/src/test/java/org/apache/flink/formats/parquet/vector/ParquetColumnarRowSplitReaderTest.java
Labels: component=Connectors/Hive, component=Formats, review=description?

#12267 [FLINK-17842][network] Fix performance regression in SpanningWrapper#clear
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/api/serialization/SpanningWrapper.java
Labels: component=Benchmarks, review=description?

#12244 [FLINK-17258][network] Fix couple of ITCases that were failing with enabled unaligned checkpoints
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/channel/ChannelStateWriterImpl.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/AggregateITCase.scala
  flink-tests/src/test/java/org/apache/flink/test/classloading/ClassLoaderITCase.java
  flink-tests/src/test/java/org/apache/flink/test/classloading/jar/CustomKvStateProgram.java
Labels: component=Tests, review=description?

#12261 [FLINK-17823][network] Resolve the race condition while releasing RemoteInputChannel
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/RemoteInputChannel.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/consumer/RemoteInputChannelTest.java
Labels: component=Runtime/Network, review=description?

#12266 [FLINK-17843][table-api] Check the RowKind when converting a Row from object to an expression
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/expressions/ApiExpressionUtils.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/expressions/ObjectToExpressionTest.java
Labels: component=TableSQL/API, review=description?

#12305 [FLINK-17905][docs] Fix JDBC docs (datastream api)
  docs/dev/connectors/jdbc.md
  docs/dev/connectors/jdbc.zh.md
Labels: component=Documentation, review=description?

#11175 [FLINK-16197][hive] Failed to query partitioned table when partition …
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HiveTableInputFormat.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/TableEnvHiveConnectorTest.java
Labels: component=Connectors/Hive, review=description?

#12293 [FLINK-17878][filesystem] StreamingFileWriter currentWatermark attrib…
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/stream/StreamingFileCommitter.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/stream/StreamingFileWriter.java
Labels: component=TableSQL/API, review=description?

#12299 [FLINK-17878][filesystem] StreamingFileWriter currentWatermark attrib…
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/stream/StreamingFileCommitter.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/stream/StreamingFileWriter.java
Labels: component=TableSQL/API, review=description?

#12208 [FLINK-17651][table-planner-blink] DecomposeGroupingSetsRule generat…
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/logical/DecomposeGroupingSetsRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/utils/ExpandUtil.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/agg/DistinctAggregateTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/rules/logical/FlinkAggregateExpandDistinctAggregatesRuleTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/common/DistinctAggregateTestBase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/agg/AggregateITCaseBase.scala
Labels: component=TableSQL/Planner, review=description?

#12310 [FLINK-17894][table] RowGenerator in datagen connector should be serializable
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/table/factories/DataGenTableSourceFactory.java
  flink-table/flink-table-api-java-bridge/src/test/java/org/apache/flink/table/factories/DataGenTableSourceFactoryTest.java
Labels: component=TableSQL/API, review=description?

#12301 [FLINK-16572] [pubsub,e2e] Add check to see if adding a timeout to th…
  flink-end-to-end-tests/flink-connector-gcp-pubsub-emulator-tests/src/test/java/org/apache/flink/streaming/connectors/gcp/pubsub/CheckPubSubEmulatorTest.java
Labels: component=BuildSystem/AzurePipelines, component=Connectors/GoogleCloudPubSub, review=description?

#12277 [FLINK-17230] Fix incorrect returned address of Endpoint for external Service of ClusterIP type
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/Fabric8FlinkKubeClient.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/decorators/ExternalServiceDecorator.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/decorators/InternalServiceDecorator.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/utils/KubernetesUtils.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/KubernetesClientTestBase.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/KubernetesClusterDescriptorTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/Fabric8FlinkKubeClientTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/ExternalServiceDecoratorTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/InternalServiceDecoratorTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/factory/KubernetesJobManagerFactoryTest.java
Labels: component=Deployment/Kubernetes, review=description?

#12215 [FLINK-17565][k8s] Bump fabric8 version from 4.5.2 to 4.9.2
  flink-end-to-end-tests/test-scripts/common_kubernetes.sh
  flink-kubernetes/pom.xml
  flink-kubernetes/src/main/resources/META-INF/NOTICE
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/KubernetesClusterDescriptorTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/InitJobManagerDecoratorTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/InitTaskManagerDecoratorTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/factory/KubernetesJobManagerFactoryTest.java
Labels: component=Deployment/Kubernetes, review=description?

#12260 [FLINK-17189][table-planner] Table with proctime attribute cannot be read from Hive catalog
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveCatalogITCase.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/catalog/CatalogCalciteSchema.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/catalog/CatalogManagerCalciteSchema.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/catalog/CatalogSchemaTable.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/catalog/DatabaseCalciteSchema.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/delegation/PlannerContext.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/QueryOperationConverter.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/delegation/PlannerBase.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/sources/TableSourceUtil.scala
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/operations/SqlToOperationConverterTest.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/plan/FlinkCalciteCatalogReaderTest.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/utils/PlannerMocks.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/codegen/WatermarkGeneratorCodeGenTest.scala
Labels: component=TableSQL/Ecosystem, component=TableSQL/Planner, review=description?

#12309 [FLINK-17889][hive] Hive can not work with filesystem connector
  flink-connectors/flink-connector-hive/pom.xml
Labels: component=Connectors/Hive, review=description?

#12343 [FLINK-17939][docs-zh] Translate "Python Table API Installation" page into Chinese
  docs/dev/table/python/installation.zh.md
Labels: review=description?

#12254 [FLINK-17802][kafka] Set offset commit only if group id is configured for new Kafka Table source
  flink-connectors/flink-connector-kafka-base/src/main/java/org/apache/flink/streaming/connectors/kafka/FlinkKafkaConsumerBase.java
  flink-connectors/flink-connector-kafka-base/src/main/java/org/apache/flink/streaming/connectors/kafka/table/KafkaDynamicSourceBase.java
  flink-connectors/flink-connector-kafka-base/src/test/java/org/apache/flink/streaming/connectors/kafka/KafkaTableSourceSinkFactoryTestBase.java
  flink-connectors/flink-connector-kafka-base/src/test/java/org/apache/flink/streaming/connectors/kafka/table/KafkaDynamicTableFactoryTestBase.java
Labels: component=Connectors/Kafka, review=description?

#12252 [FLINK-17802][kafka] Set offset commit only if group id is configured for new Kafka Table source
  flink-connectors/flink-connector-kafka-base/src/main/java/org/apache/flink/streaming/connectors/kafka/FlinkKafkaConsumerBase.java
  flink-connectors/flink-connector-kafka-base/src/main/java/org/apache/flink/streaming/connectors/kafka/table/KafkaDynamicSourceBase.java
  flink-connectors/flink-connector-kafka-base/src/test/java/org/apache/flink/streaming/connectors/kafka/KafkaTableSourceSinkFactoryTestBase.java
  flink-connectors/flink-connector-kafka-base/src/test/java/org/apache/flink/streaming/connectors/kafka/table/KafkaDynamicTableFactoryTestBase.java
Labels: component=Connectors/Kafka, review=description?

#12314 [FLINK-17756][table-api-java] Drop table/view shouldn't take effect o…
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/TableEnvironmentImpl.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/catalog/CatalogManager.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/catalog/CatalogTableITCase.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/api/internal/TableEnvImpl.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/catalog/CatalogTableITCase.scala
Labels: component=TableSQL/API, review=description?

#12332 [FLINK-17820][task][checkpointing] Respect fileSizeThreshold in FsCheckpointStateOutputStream.flush()
  flink-runtime/src/main/java/org/apache/flink/runtime/state/filesystem/FsCheckpointStreamFactory.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/channel/ChannelStateCheckpointWriterTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/filesystem/FsCheckpointStorageTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/filesystem/FsCheckpointStreamFactoryTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/filesystem/FsStateBackendEntropyTest.java
Labels: component=Runtime/Checkpointing, component=Runtime/Task, review=description?

#12334 [FLINK-17934][FLINK-17955][fs-connector] StreamingFileWriter should set chainingStrategy & BucketLifeCycleListener should just in Buckets
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSink.java
  flink-formats/flink-hadoop-bulk/src/main/java/org/apache/flink/streaming/api/functions/sink/filesystem/HadoopPathBasedBulkFormatBuilder.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/sink/filesystem/BucketLifeCycleListener.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/sink/filesystem/Buckets.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/sink/filesystem/StreamingFileSink.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/functions/sink/filesystem/BucketAssignerITCases.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/functions/sink/filesystem/BucketsTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/functions/sink/filesystem/RollingPolicyTest.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/FileSystemTableSink.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/stream/InactiveBucketListener.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/stream/StreamingFileWriter.java
Labels: component=Connectors/FileSystem, review=description?

#12342 [FLINK-17751] [table-planner-blink] Fix proctime defined in ddl can not work with over window in Table api
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/utils/LegacyTypeInfoDataTypeConverter.java
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/table/TableSourceTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/table/TableSourceTest.scala
Labels: component=TableSQL/Planner, review=description?

#12338 [hotfix][tests] Document jepsen correctness model
  flink-jepsen/README.md
Labels: review=description?

#12323 [FLINK-17925][fs-connector] Fix Filesystem options to default values and types
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSink.java
  flink-formats/flink-csv/src/test/java/org/apache/flink/formats/csv/CsvFilesystemStreamITCase.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/JsonFsStreamSinkITCase.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/FsStreamingSinkITCaseBase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/FsStreamingSinkTestCsvITCase.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/EmptyMetaStoreFactory.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/FileSystemOptions.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/FileSystemTableSink.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/PartitionCommitPolicy.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/TableMetaStoreFactory.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/stream/StreamingFileCommitter.java
Labels: component=Connectors/FileSystem, review=description?

#12349 [FLINK-17722][python][build system] (followups) Keeps all jars of lib directory in CachedFiles
  tools/azure_controller.sh
Labels: component=API/Python, component=BuildSystem/AzurePipelines, review=description?

#12080 [hotfix][runtime][javadoc] Fix typo
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/ZooKeeperCompletedCheckpointStoreITCase.java
Labels: review=description?

#12344 [FLINK-16694][ci] Limit number of dumped log lines
  flink-end-to-end-tests/test-scripts/common.sh
Labels: component=Runtime/Metrics, component=Tests, review=description?

#12269 [FLINK-17351] [runtime] Increase `continuousFailureCounter` in `CheckpointFailureManager` for CHECKPOINT_EXPIRED
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointFailureManager.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinatorTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointFailureManagerTest.java
Labels: component=Runtime/Checkpointing, review=description?

#12351 [FLINK-17820][task][checkpointing] Backport to 1.11: Respect fileSizeThreshold in FsCheckpointStateOutputStream.flush()
  flink-runtime/src/main/java/org/apache/flink/runtime/state/filesystem/FsCheckpointStreamFactory.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/channel/ChannelStateCheckpointWriterTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/filesystem/FsCheckpointStorageTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/filesystem/FsCheckpointStreamFactoryTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/filesystem/FsStateBackendEntropyTest.java
Labels: component=Runtime/Checkpointing, component=Runtime/Task, review=description?

#12275 [FLINK-16021][table-common] DescriptorProperties.putTableSchema does …
  flink-connectors/flink-connector-elasticsearch-base/src/main/java/org/apache/flink/streaming/connectors/elasticsearch/ElasticsearchUpsertTableSinkFactoryBase.java
  flink-connectors/flink-connector-hbase/src/main/java/org/apache/flink/connector/hbase/HBaseTableFactory.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveCatalogITCase.java
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/table/JdbcTableSourceSinkFactory.java
  flink-connectors/flink-connector-kafka-base/src/main/java/org/apache/flink/streaming/connectors/kafka/KafkaTableSourceSinkFactoryBase.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/utils/TestTableSinkFactoryBase.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/utils/TestTableSourceFactoryBase.java
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/table/descriptors/OldCsv.java
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/table/descriptors/SchemaValidator.java
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/table/sinks/CsvTableSinkFactoryBase.java
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/table/sources/CsvTableSourceFactoryBase.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/utils/TableSourceFactoryMock.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/descriptors/DescriptorProperties.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/factories/TableFormatFactoryBase.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/descriptors/DescriptorPropertiesTest.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/catalog/CatalogConstraintTest.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/utils/InMemoryTableFactory.scala
Labels: component=TableSQL/API, component=TableSQL/Ecosystem, review=description?

#12358 [FLINK-17942][table-planner-blink] Fix WindowOperator not call StateM…
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/window/WindowOperator.java
Labels: component=<none>, review=description?

#11900 [FLINK-17284][jdbc][postgres] Support serial fields
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/catalog/PostgresCatalog.java
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/catalog/PostgresCatalogITCase.java
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/catalog/PostgresCatalogTest.java
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/catalog/PostgresCatalogTestBase.java
Labels: component=Connectors/JDBC, review=description?

#11978 [FLINK-16086][chinese-translation]Translate "Temporal Tables" page of "Streaming Concepts" into Chinese
  docs/dev/table/streaming/temporal_tables.zh.md
Labels: component=Documentation, component=chinese-translation, review=description?

#12284 [FLINK-17689][kafka][table] Add integration tests for changelog sourc…
  flink-connectors/flink-connector-kafka-base/src/test/java/org/apache/flink/streaming/connectors/kafka/table/KafkaTableTestBase.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/KafkaTableITCase.java
  flink-connectors/flink-connector-kafka/src/test/resources/debezium-data-schema-exclude.txt
  flink-table/flink-table-planner-blink/pom.xml
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/factories/TestValuesRuntimeFunctions.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/factories/TestValuesTableFactory.java
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/TableScanTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/TableScanTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/AggregateITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/JoinITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/TableSourceITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/table/TableSinkITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/utils/TestData.scala
Labels: component=Formats, review=description?

#12290 [FLINK-17657][jdbc] jdbc not support read BIGINT UNSIGNED field
  flink-connectors/flink-connector-jdbc/pom.xml
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/internal/converter/AbstractJdbcRowConverter.java
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/internal/converter/PostgresRowConverter.java
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/table/UnsignedTypeConversionITCase.java
Labels: component=Connectors/JDBC, review=description?

#12371 [FLINK-17375][hotfix] Fix print_stacktraces multiline-behavior
  tools/ci/controller_utils.sh
Labels: component=BuildSystem, component=BuildSystem/AzurePipelines, review=description?

#12366 [FLINK-17610][state] Align the behavior of result of internal map state to return empty iterator
  flink-runtime/src/main/java/org/apache/flink/runtime/state/heap/HeapMapState.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/StateBackendTestBase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/ttl/TtlMapStateAllEntriesTestContext.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/ttl/TtlStateTestBase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/ttl/TtlStateTestContextBase.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBMapState.java
  flink-state-backends/flink-statebackend-rocksdb/src/test/java/org/apache/flink/contrib/streaming/state/ttl/RocksDBTtlStateTestBase.java
Labels: component=Runtime/StateBackends, review=description?

#12330 [FLINK-17565][k8s] Backport to 1.11
  flink-end-to-end-tests/test-scripts/common_kubernetes.sh
  flink-kubernetes/pom.xml
  flink-kubernetes/src/main/resources/META-INF/NOTICE
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/KubernetesClusterDescriptorTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/InitJobManagerDecoratorTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/InitTaskManagerDecoratorTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/factory/KubernetesJobManagerFactoryTest.java
Labels: component=Deployment/Kubernetes, review=description?

#12365 [FLINK-17988][checkpointing] Discard only unique channel state delegates
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/OperatorSubtaskState.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/AbstractChannelStateHandle.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinatorFailureTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/OperatorSubtaskStateTest.java
Labels: component=Runtime/Checkpointing, review=description?

#12364 [FLINK-17986] Fix check in FsCheckpointStateOutputStream.write
  flink-runtime/src/main/java/org/apache/flink/runtime/state/filesystem/FsCheckpointStreamFactory.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/filesystem/FsCheckpointStreamFactoryTest.java
Labels: component=Runtime/Checkpointing, component=Runtime/Task, review=description?

#12374 [FLINK-17992][checkpointing] Exception from RemoteInputChannel#onBuffer should not fail the whole NetworkClientHandler
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/netty/CreditBasedPartitionRequestClientHandler.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/netty/CreditBasedPartitionRequestClientHandlerTest.java
Labels: component=Runtime/Network, review=description?

#12340 [FLINK-17844][build] Enforce @PublicEvolving compatibility for minor versions
  pom.xml
  tools/releasing/create_release_branch.sh
  tools/releasing/update_japicmp_configuration.sh
Labels: component=BuildSystem, review=description?

#12407 [FLINK-17842][network] Remove NextRecordResponse to improve deserialisation performance
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/api/serialization/NonSpanningWrapper.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/api/serialization/SpillingAdaptiveSpanningRecordDeserializer.java
Labels: component=Benchmarks, review=description?
