Repository apache/flink, pull requests merged in 2020-10, with the labels that each got.

#13473 [FLINK-19264][runtime] Add JobID to ExecutionAttemptID
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/runtime/SavepointEnvironment.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/Execution.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/ExecutionAttemptID.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/netty/NettyMessage.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinatorTestingUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/AllVerticesIteratorTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/ExecutionGraphConstructionTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/JobMasterTest.java
Labels: component=<none>, review=description?

#13532 [FLINK-19027][tests] Decrease checkpoint timeout to avoid livelocking in UnalignedCheckpointITCase.
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/UnalignedCheckpointITCase.java
Labels: component=Runtime/Checkpointing, review=description?

#13439 [FLINK-19295][yarn][tests] Exclude more meaningless akka shutdown errors
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YarnTestBase.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YarnTestBaseTest.java
Labels: component=Deployment/YARN, component=Runtime/Coordination, component=Tests, review=description?

#13542 [FLINK-19501][runtime-web] Missing state in enum type in rest_api_v1.…
  flink-runtime-web/src/test/resources/rest_api_v1.snapshot
Labels: component=Documentation, component=Runtime/REST, review=description?

#13541 [FLINK-19422] Upgrade Kafka and schema registry versions in the avro registry e2e test
  flink-end-to-end-tests/test-scripts/kafka-common.sh
  flink-end-to-end-tests/test-scripts/test_confluent_schema_registry.sh
Labels: component=Formats, component=Tests, review=description?

#13534 [FLINK-19495] add documentation for avro-confluent format
  docs/dev/table/connectors/formats/avro-confluent.md
  docs/dev/table/connectors/formats/avro-confluent.zh.md
Labels: component=Documentation, component=Formats, review=description?

#13464 [FLINK-19307][coordination] Add ResourceTracker
  flink-runtime/src/main/java/org/apache/flink/runtime/resourcemanager/slotmanager/BiDirectionalResourceToRequirementMapping.java
  flink-runtime/src/main/java/org/apache/flink/runtime/resourcemanager/slotmanager/DefaultResourceTracker.java
  flink-runtime/src/main/java/org/apache/flink/runtime/resourcemanager/slotmanager/JobScopedResourceTracker.java
  flink-runtime/src/main/java/org/apache/flink/runtime/resourcemanager/slotmanager/ResourceTracker.java
  flink-runtime/src/main/java/org/apache/flink/runtime/slots/ResourceCounter.java
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/slotmanager/BiDirectionalResourceToRequirementMappingTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/slotmanager/DefaultResourceTrackerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/slotmanager/JobScopedResourceTrackerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/slots/ResourceCounterTest.java
Labels: component=Runtime/Coordination, review=description?

#13549 [FLINK-18660] Bump flink-shaded to 1.12; Bump netty to 4.1.49
  pom.xml
Labels: component=BuildSystem, component=BuildSystem/Shaded, review=description?

#13540 [FLINK-19344] Fix DispatcherResourceCleanupTest race condition
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/DispatcherResourceCleanupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/TestingJobManagerRunner.java
Labels: component=Runtime/Coordination, component=Tests, review=description?

#13535 [FLINK-19496][table] DataGen source DECIMAL always returns null
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/table/factories/datagen/RandomGeneratorVisitor.java
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/table/factories/datagen/types/DecimalDataRandomGenerator.java
  flink-table/flink-table-api-java-bridge/src/test/java/org/apache/flink/table/factories/DataGenTableSourceFactoryTest.java
  flink-table/flink-table-api-java-bridge/src/test/java/org/apache/flink/table/factories/datagen/types/DecimalDataRandomGeneratorTest.java
Labels: component=TableSQL/Runtime, review=description?

#13522 [FLINK-18410][table-runtime-blink] correct PartitionCommitTrigger subclass name
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/stream/PartitionCommitTrigger.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/stream/PartitionTimeCommitTrigger.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/stream/ProcTimeCommitTrigger.java
Labels: component=TableSQL/Runtime, review=description?

#13477 [FLINK-19406][table-planner-blink] Casting row time to timestamp lose…
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/calls/ScalarOperatorGens.scala
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/runtime/stream/sql/FunctionITCase.java
Labels: component=TableSQL/Planner, review=description?

#13518 [FLINK-19386][Connector-hive] Using blink planner util class in HiveCatalogUseBlinkITCase
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveCatalogUseBlinkITCase.java
Labels: component=TableSQL/LegacyPlanner, review=description?

#13543 [FLINK-19509][Format-json] Fix ClassCastException of JsonRowDataDeserializationSchema and JsonRowDataSerializationSchema when type is multiset
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/JsonToRowDataConverters.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/RowDataToJsonConverters.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/JsonRowDataSerDeSchemaTest.java
Labels: component=Formats, review=description?

#13472 [FLINK-19291][Formats] Fix `SchemaParseException` when use `AvroSchemaConverter` converts flink logical type
  flink-formats/flink-avro/src/main/java/org/apache/flink/formats/avro/typeutils/AvroSchemaConverter.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/typeutils/AvroSchemaConverterTest.java
Labels: component=Formats, review=description?

#13578 [FLINK-19561][docs]Corrected spelling errors in "Monitoring REST API" page of "Debugging & Monitoring"
  docs/monitoring/rest_api.md
  docs/monitoring/rest_api.zh.md
Labels: component=Documentation, review=description?

#13582 [BP-1.11][FLINK-19291][avro] Fix exception for AvroSchemaConverter#convertToSchema when RowType contains multiple row fields
  flink-formats/flink-avro/src/main/java/org/apache/flink/formats/avro/typeutils/AvroSchemaConverter.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/typeutils/AvroSchemaConverterTest.java
Labels: component=Formats, review=description?

#13487 [FLINK-19409][Documentation] remove unrelated comment for getValue in ListView
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/api/dataview/ListView.java
Labels: component=Documentation, component=TableSQL/API, review=description?

#13410 [FLINK-19247][docs-zh] Update Chinese documentation after removal of Kafka 0.10 and 0.11
  docs/dev/connectors/kafka.zh.md
  docs/dev/project-configuration.zh.md
Labels: component=Connectors/Kafka, component=Documentation, component=chinese-translation, review=description?

#13550 [FLINK-19474] Implement a state backend that holds a single key at a time
  flink-state-backends/flink-statebackend-rocksdb/src/test/java/org/apache/flink/contrib/streaming/state/benchmark/StateBackendBenchmarkUtils.java
  flink-state-backends/flink-statebackend-rocksdb/src/test/java/org/apache/flink/contrib/streaming/state/benchmark/StateBackendBenchmarkUtilsTest.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/sorted/state/AbstractBatchExecutionKeyState.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/sorted/state/BatchExecutionInternalPriorityQueueSet.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/sorted/state/BatchExecutionKeyAggregatingState.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/sorted/state/BatchExecutionKeyListState.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/sorted/state/BatchExecutionKeyMapState.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/sorted/state/BatchExecutionKeyReducingState.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/sorted/state/BatchExecutionKeyValueState.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/sorted/state/BatchExecutionKeyedStateBackend.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/sorted/state/BatchExecutionStateBackend.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/sorted/state/MergingAbstractBatchExecutionKeyState.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/sorted/state/NonCheckpointingStorage.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/sorted/state/BatchExecutionInternalPriorityQueueSetTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/sorted/state/BatchExecutionStateBackendTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/sorted/state/BatchExecutionStateBackendVerificationTest.java
Labels: component=Runtime/StateBackends, review=description?

#13515 [FLINK-19470][orc][parquet] Parquet and ORC reader reachEnd returns f…
  flink-formats/flink-orc/src/main/java/org/apache/flink/orc/OrcSplitReader.java
  flink-formats/flink-orc/src/test/java/org/apache/flink/orc/OrcColumnarRowSplitReaderTest.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/vector/ParquetColumnarRowSplitReader.java
  flink-formats/flink-parquet/src/test/java/org/apache/flink/formats/parquet/vector/ParquetColumnarRowSplitReaderTest.java
Labels: component=Formats, review=description?

#11509 [FLINK-16753] Use CheckpointException to wrap exceptions thrown from AsyncCheckpointRunnable
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointFailureManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointFailureReason.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/AsyncCheckpointRunnable.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/AsyncCheckpointRunnableTest.java
Labels: component=Runtime/Checkpointing, review=description?

#13597 [Hotfix][Connector-kafka] Add serialVersionUID for FlinkKafkaConsumer
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/streaming/connectors/kafka/FlinkKafkaConsumer.java
Labels: review=description?

#13570 [FLINK-19522][Table SQL / Ecosystem] Add auto-commit option for Table/SQL API
  docs/dev/table/connectors/jdbc.md
  docs/dev/table/connectors/jdbc.zh.md
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/internal/options/JdbcReadOptions.java
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/table/JdbcDynamicTableFactory.java
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/table/JdbcDynamicTableSource.java
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/table/JdbcRowDataInputFormat.java
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/table/JdbcDynamicTableFactoryTest.java
Labels: component=Connectors/JDBC, component=TableSQL/Ecosystem, review=description?

#13594 [FLINK-19423][jdbc] Fix ArrayIndexOutOfBoundsException when executing DELETE statement in JDBC upsert sink
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/table/JdbcDynamicOutputFormatBuilder.java
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/table/UnsignedTypeConversionITCase.java
Labels: component=Connectors/JDBC, component=TableSQL/Ecosystem, review=description?

#13544 [FLINK-19309][coordination] Add TaskExecutorManager
  flink-runtime/src/main/java/org/apache/flink/runtime/resourcemanager/slotmanager/TaskExecutorManager.java
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/slotmanager/TaskExecutorManagerBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/slotmanager/TaskExecutorManagerTest.java
Labels: component=Runtime/Coordination, review=description?

#13607 [FLINK-19484][kubernetes] Set longer timeout for jobmanager pod availability detection in PyFlink native kubernetes application test.
  flink-end-to-end-tests/test-scripts/test_kubernetes_pyflink_application.sh
Labels: component=API/Python, component=Tests, review=description?

#13561 [FLINK-19315][coordination] Add AllocatedSlotPool
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/slotpool/AllocatedSlotPool.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/slotpool/DefaultAllocatedSlotPool.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/slotpool/DefaultAllocatedSlotPoolTest.java
Labels: component=Runtime/Coordination, review=description?

#13610 [FLINK-19414][file connector] Revert "Extract FileSourceTextLinesITCase to AbstractFileSourceITCase"
  flink-connectors/flink-connector-files/pom.xml
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/src/AbstractFileSourceITCase.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/src/FileSourceTextLinesITCase.java
  flink-formats/flink-parquet/src/test/java/org/apache/flink/formats/parquet/FileSourceParquetColumnarITCase.java
Labels: component=Formats, review=description?

#13613 [FLINK-19584][Connector-hbase] Not starting flush thread when bufferFlushMaxMutations = 1
  flink-connectors/flink-connector-hbase-base/src/main/java/org/apache/flink/connector/hbase/sink/HBaseSinkFunction.java
Labels: component=Connectors/HBase, review=description?

#13609 FLINK-19523: Hide sensitive info from log
  flink-runtime/src/main/java/org/apache/flink/runtime/util/EnvironmentInformation.java
Labels: component=<none>, review=description?

#13627 [FLINK-19619][e2e] Temporarily disable the pubsub test
  flink-end-to-end-tests/run-nightly-tests.sh
Labels: review=description?

#11502 [FLINK-16620] - Add attempt information in taskNameWithSubtask
  flink-core/src/main/java/org/apache/flink/api/common/TaskInfo.java
  flink-core/src/main/java/org/apache/flink/api/common/functions/RuntimeContext.java
Labels: component=Runtime/Task, review=description?

#13596 [FLINK-19475] Implement a time service for the batch execution mode
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/StreamConfig.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/StreamGraph.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/StreamingJobGraphGenerator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/InternalTimeServiceManagerImpl.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/StreamTaskStateInitializerImpl.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/sorted/state/BatchExecutionInternalTimeService.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/sorted/state/BatchExecutionInternalTimeServiceManager.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/sorted/state/BatchExecutionInternalTimeServiceTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/util/AbstractStreamOperatorTestHarness.java
  flink-tests/src/test/java/org/apache/flink/test/state/operator/restore/StreamOperatorSnapshotRestoreTest.java
Labels: component=Runtime/Task, review=description?

#12784 [FLINK-18373][statebackend] Drop useless RocksDB performance unit tests
  flink-state-backends/flink-statebackend-rocksdb/src/test/java/org/apache/flink/contrib/streaming/state/benchmark/RocksDBListStatePerformanceTest.java
  flink-state-backends/flink-statebackend-rocksdb/src/test/java/org/apache/flink/contrib/streaming/state/benchmark/RocksDBPerformanceTest.java
  flink-state-backends/flink-statebackend-rocksdb/src/test/java/org/apache/flink/contrib/streaming/state/benchmark/RocksDBWriteBatchPerformanceTest.java
Labels: component=Runtime/StateBackends, component=Tests, review=description?

#13505 [FLINK-19420][docs-zh] Translate "Program Packaging" page into Chinese
  docs/dev/packaging.zh.md
Labels: component=Documentation, component=chinese-translation, review=description?

#13638 [hotfix][docs]Fix some typos in docs
  docs/dev/table/sql/index.zh.md
  docs/dev/table/streaming/time_attributes.zh.md
Labels: review=description?

#13630 [FLINK-19637][coordination][tests] Remove AllocationIdsExposingRMGateway
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/JobMasterExecutionDeploymentReconciliationTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/JobMasterPartitionReleaseTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/AllocationIdsExposingResourceManagerGateway.java
Labels: component=Runtime/Coordination, component=Tests, review=description?

#13629 [FLINK-19616][tests][parquet] avoid re-generate the protobuf files due to time inconsistency
  flink-formats/flink-parquet/pom.xml
  tools/azure-pipelines/unpack_build_artifact.sh
Labels: component=BuildSystem, component=Formats, review=description?

#13560 [FLINK-19518] Show proper job duration for running jobs in web ui
  flink-runtime-web/src/test/java/org/apache/flink/runtime/webmonitor/WebFrontendITCase.java
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/DispatcherJob.java
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/FileArchivedExecutionGraphStore.java
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/MemoryArchivedExecutionGraphStore.java
  flink-runtime/src/main/java/org/apache/flink/runtime/messages/webmonitor/JobDetails.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/handler/job/JobsOverviewHandler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/SchedulerBase.java
  flink-runtime/src/main/java/org/apache/flink/runtime/webmonitor/WebMonitorUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/FileArchivedExecutionGraphStoreTest.java
Labels: component=Runtime/WebFrontend, review=description?

#13652 [FLINK-19654][python][e2] merge pyflink table and dastream e2e tests
  flink-end-to-end-tests/run-nightly-tests.sh
  flink-end-to-end-tests/test-scripts/test_pyflink.sh
  flink-end-to-end-tests/test-scripts/test_pyflink_datastream.sh
Labels: component=API/Python, component=Tests, review=description?

#13599 [FLINK-19459] Run certain maven-enforcer-plugin executions only in release profile
  flink-connectors/flink-connector-elasticsearch-base/pom.xml
  flink-connectors/flink-connector-elasticsearch5/pom.xml
  flink-connectors/flink-connector-elasticsearch6/pom.xml
  flink-connectors/flink-connector-elasticsearch7/pom.xml
  flink-end-to-end-tests/flink-elasticsearch6-test/pom.xml
  flink-end-to-end-tests/flink-elasticsearch7-test/pom.xml
  flink-kubernetes/pom.xml
  pom.xml
Labels: component=BuildSystem, review=description?

#13622 [FLINK-19469][hbase] Exclude org.glassfish:javax.el transitive dependency from hbase-2.2 connector as it is unreliable
  flink-connectors/flink-connector-hbase-2.2/pom.xml
Labels: component=Connectors/HBase, review=description?

#13643 [Hotfix][CheckStyle][Min] Fix DummyInputFormat class lacks Javadoc
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/util/DummyNoOpOperator.java
Labels: review=description?

#13657 [FLINK-19669][coordination] PipelinedRegionSchedulingStrategy#init ResultPartitionType blocking check use isBlocking method
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/strategy/PipelinedRegionSchedulingStrategy.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/strategy/PipelinedRegionSchedulingStrategyTest.java
Labels: component=Runtime/Coordination, review=description?

#13659 [FLINK-19654][python][e2e] Change Dependency of scipy Module to pytest
  flink-end-to-end-tests/flink-python-test/python/add_one.py
  flink-end-to-end-tests/test-scripts/test_pyflink.sh
Labels: review=description?

#13671 [FLINK-19625][table-planner] Introduce multi-input exec node
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdUniqueKeys.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/MultipleInputRel.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchExecMultipleInputNode.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamExecMultipleInputNode.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/utils/RelTreeWriterImpl.scala
  flink-table/flink-table-planner-blink/src/test/resources/explain/testExplainMultipleInput.out
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/api/batch/ExplainTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdHandlerTestBase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdUniqueKeysTest.scala
Labels: component=TableSQL/Planner, review=description?

#13170 [FLINK-18937][python][doc] Add a Environemnt Setup section to the Installation document
  docs/dev/python/installation.md
  docs/dev/python/installation.zh.md
Labels: component=API/Python, component=Documentation, review=description?

#13640 [FLINK-19617] Added new metric for monitoring the JVM's Metaspace memory pool usage.
  docs/monitoring/metrics.md
  docs/monitoring/metrics.zh.md
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/util/MetricUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/util/MetricUtilsTest.java
Labels: component=<none>, review=description?

#13686 [FLINK-19619][e2e] Pin CloudSDK version to have access to pubsub emulator in test
  flink-end-to-end-tests/flink-connector-gcp-pubsub-emulator-tests/src/test/java/org/apache/flink/streaming/connectors/gcp/pubsub/emulator/GCloudEmulatorManager.java
  flink-end-to-end-tests/run-nightly-tests.sh
Labels: component=Connectors/GoogleCloudPubSub, review=description?

#13625 [FLINK-19623][table-planner-blink] Introduce ExecEdge to describe information on input edges for ExecNode
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/ExecEdge.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/exec/BatchExecNode.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/exec/ExecNode.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/exec/StreamExecNode.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchExecBoundedStreamScan.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchExecCalcBase.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchExecCorrelateBase.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchExecExchange.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchExecExpand.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchExecHashAggregate.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchExecHashJoin.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchExecHashWindowAggregate.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchExecLegacySink.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchExecLegacyTableSourceScan.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchExecLimit.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchExecLocalHashAggregate.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchExecLocalHashWindowAggregate.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchExecLocalSortAggregate.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchExecLocalSortWindowAggregate.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchExecLookupJoin.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchExecMultipleInputNode.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchExecNestedLoopJoin.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchExecOverAggregateBase.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchExecPythonGroupAggregate.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchExecPythonGroupWindowAggregate.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchExecRank.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchExecSink.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchExecSort.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchExecSortAggregate.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchExecSortLimit.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchExecSortMergeJoin.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchExecSortWindowAggregate.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchExecTableSourceScan.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchExecUnion.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchExecValues.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/reuse/DeadlockBreakupProcessor.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/DeadlockBreakupTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/SubplanReuseTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/api/batch/ExplainTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdHandlerTestBase.scala
Labels: component=TableSQL/Planner, review=description?

#13651 [FLINK-19649][sql-parser] Fix unparse method of sql create table. Keep syntax the same for tables without columns
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlCreateTable.java
  flink-table/flink-sql-parser/src/test/java/org/apache/flink/sql/parser/FlinkSqlParserImplTest.java
Labels: component=TableSQL/API, review=description?

#13624 [FLINK-19368][hive] TableEnvHiveConnectorITCase fails with Hive-3.x
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/FlinkStandaloneHiveRunner.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/FlinkStandaloneHiveServerContext.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/TableEnvHiveConnectorITCase.java
Labels: component=Connectors/Hive, component=Tests, review=description?

#13679 [FLINK-19695][table-runtime-blink] Fix ClassCastException when writing table with rowtime attribute
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/factories/TestValuesTableFactory.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/table/TableSinkITCase.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/sink/SinkOperator.java
Labels: component=TableSQL/Planner, review=description?

#13684 [FLINK-19707][table-runtime] Refactor table streaming file sink
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/FileSystemTableSink.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/stream/AbstractStreamingWriter.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/stream/PartitionCommitInfo.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/stream/PartitionCommitter.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/stream/StreamingFileWriter.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/stream/StreamingSink.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/stream/TaskTracker.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/filesystem/stream/StreamingFileWriterTest.java
Labels: component=TableSQL/Runtime, review=description?

#13691 [FLINK-19458] Fix ZK-related CI instabilities
  flink-runtime/src/test/java/org/apache/flink/runtime/testutils/ZooKeeperTestUtils.java
Labels: component=Runtime/Coordination, review=description?

#13701 [BP-1.11][FLINK-19695][table-runtime-blink] Fix ClassCastException when writing table with rowtime attribute
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/factories/TestValuesTableFactory.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/table/TableSinkITCase.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/sink/SinkOperator.java
Labels: component=TableSQL/Planner, review=description?

#13650 [FLINK-19605][table-runtime-blink] Implement cumulative windowing for window aggregate operator
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/window/WindowOperatorBuilder.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/window/assigners/CumulativeWindowAssigner.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/window/WindowOperatorTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/window/assigners/CumulativeWindowAssignerTest.java
Labels: component=TableSQL/Runtime, review=description?

#13702 [FLINK-19483][python][e2] Remove conda install zip
  flink-end-to-end-tests/test-scripts/test_pyflink.sh
Labels: component=API/Python, component=Tests, review=description?

#13642 [task][hotfix] Remove PipelinedSubpartition.addBufferConsumer method
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/channel/RecoveredChannelStateHandler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/CheckpointedResultSubpartition.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/PipelinedSubpartition.java
Labels: review=description?

#13714 [FLINK-19718][hive] HiveTableSourceITCase.testStreamPartitionRead is not stable
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTableSourceITCase.java
Labels: component=Connectors/Hive, review=description?

#13715 [FLINK-19747][orc] Move Predicate classes to OrcFilters
  flink-formats/flink-orc-nohive/src/main/java/org/apache/flink/orc/nohive/OrcNoHiveSplitReaderUtil.java
  flink-formats/flink-orc-nohive/src/main/java/org/apache/flink/orc/nohive/shim/OrcNoHiveShim.java
  flink-formats/flink-orc/src/main/java/org/apache/flink/orc/OrcColumnarRowSplitReader.java
  flink-formats/flink-orc/src/main/java/org/apache/flink/orc/OrcFileSystemFormatFactory.java
  flink-formats/flink-orc/src/main/java/org/apache/flink/orc/OrcFilters.java
  flink-formats/flink-orc/src/main/java/org/apache/flink/orc/OrcInputFormat.java
  flink-formats/flink-orc/src/main/java/org/apache/flink/orc/OrcRowSplitReader.java
  flink-formats/flink-orc/src/main/java/org/apache/flink/orc/OrcSplitReader.java
  flink-formats/flink-orc/src/main/java/org/apache/flink/orc/OrcSplitReaderUtil.java
  flink-formats/flink-orc/src/main/java/org/apache/flink/orc/OrcTableSource.java
  flink-formats/flink-orc/src/main/java/org/apache/flink/orc/shim/OrcShim.java
  flink-formats/flink-orc/src/main/java/org/apache/flink/orc/shim/OrcShimV200.java
  flink-formats/flink-orc/src/test/java/org/apache/flink/orc/OrcFileSystemFilterTest.java
  flink-formats/flink-orc/src/test/java/org/apache/flink/orc/OrcRowInputFormatTest.java
  flink-formats/flink-orc/src/test/java/org/apache/flink/orc/OrcTableSourceTest.java
Labels: component=Connectors/ORC, review=description?

#13707 [FLINK-19737][table] Introduce TableOperatorWrapperGenerator to translate transformation DAG in a multiple-input node to TableOperatorWrapper DAG
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/MultipleInputRel.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchExecMultipleInputNode.scala
  flink-table/flink-table-planner-blink/src/test/resources/explain/testExplainMultipleInput.out
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/api/batch/ExplainTest.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/multipleinput/BatchMultipleInputStreamOperatorFactory.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/multipleinput/TableOperatorWrapper.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/multipleinput/TableOperatorWrapperGenerator.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/multipleinput/UnionStreamOperator.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/multipleinput/input/InputSpec.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/multipleinput/TableOperatorWrapperGeneratorTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/multipleinput/TableOperatorWrapperTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/multipleinput/TestingOneInputStreamOperator.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/multipleinput/TestingTwoInputStreamOperator.java
Labels: component=TableSQL/Planner, review=description?

#13634 [FLINK-19629]Fix NullPointException in avro format as null value on MAP type
  flink-formats/flink-avro/src/main/java/org/apache/flink/formats/avro/AvroToRowDataConverters.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/AvroRowDataDeSerializationSchemaTest.java
Labels: component=Formats, review=description?

#13675 [FLINK-19655][flink-table-runtime-blink] add super.open() and write unit test for temporal process join
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/join/temporal/LegacyTemporalProcessTimeJoinOperator.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/join/temporal/LegacyTemporalRowTimeJoinOperator.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/join/temporal/LegacyTemporalProcessTimeJoinOperatorTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/join/temporal/LegacyTemporalRowTimeJoinOperatorTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/join/temporal/LegacyTemporalTimeJoinOperatorTestBase.java
Labels: component=TableSQL/Planner, review=description?

#13708 [FLINK-19734][table-planner-blink] Replace 'collection' connector by 'values' connector for temporal join plan tests
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/factories/TestValuesTableFactory.java
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/join/TemporalJoinTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/batch/sql/join/TemporalJoinTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/join/TemporalJoinTest.scala
Labels: component=TableSQL/Planner, component=TableSQL/Runtime, review=description?

#13737 [hotfix] Fix DeadlockBreakupTest due to Calcite upgrade
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/batch/sql/DeadlockBreakupTest.scala
Labels: review=description?

#13723 [FlINK-19688][network] Don't cache InterruptedExceptions in PartitionRequestClientFactory
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/netty/PartitionRequestClientFactory.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/netty/NeverCompletingChannelFuture.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/netty/PartitionRequestClientFactoryTest.java
Labels: component=Runtime/Network, component=Runtime/Task, review=description?

#13728 [FLINK-19657][yarn][tests] Whitelist common error in logs
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YarnTestBase.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YarnTestBaseTest.java
Labels: component=Deployment/YARN, review=description?

#13743 [FLINK-19629][Formats]Fix the NPE of avro format, when there is a nul…
  flink-formats/flink-avro/src/main/java/org/apache/flink/formats/avro/AvroRowDataDeserializationSchema.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/AvroRowDataDeSerializationSchemaTest.java
Labels: component=Formats, review=description?

#13746 [FLINK-19675][python] Fix PythonCalcExpandProjectRule to handle cases when the calc node contains WHERE clause, composite fields access and Python UDF at the same time
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/logical/PythonCalcSplitRule.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/rules/logical/PythonCalcSplitRuleTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/rules/logical/PythonCalcSplitRuleTest.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/plan/rules/logical/PythonCalcSplitRule.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/plan/PythonCalcSplitRuleTest.scala
Labels: component=API/Python, review=description?

#13716 [FLINK-19706][table-runtime] Add WARN logs when hive table partition …
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/MetastoreCommitPolicy.java
Labels: component=Connectors/FileSystem, component=Connectors/Hive, component=TableSQL/Runtime, review=description?

#13694 [FLINK-19720][table-api] Introduce new Providers and parallelism API
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/table/connector/sink/DataStreamSinkProvider.java
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/table/connector/source/DataStreamScanProvider.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/connector/ParallelismProvider.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/connector/sink/DynamicTableSink.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/connector/source/SourceProvider.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/factories/FactoryUtil.java
Labels: component=TableSQL/API, review=description?

#13757 [FLINK-18117][e2e] Add debugging information for hadoop startup
  flink-end-to-end-tests/test-scripts/docker-hadoop-secure-cluster/Dockerfile
  flink-end-to-end-tests/test-scripts/docker-hadoop-secure-cluster/bootstrap.sh
  flink-end-to-end-tests/test-scripts/test-runner-common.sh
Labels: component=Deployment/YARN, review=description?

#13696 [FLINK-19726][table] Implement new providers for blink planner
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/common/CommonPhysicalSink.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/common/CommonPhysicalTableSourceScan.scala
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/factories/TestFileSourceFactory.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/factories/TestValuesTableFactory.java
  flink-table/flink-table-planner-blink/src/test/resources/META-INF/services/org.apache.flink.table.factories.Factory
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/TableSourceITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/batch/table/TableSinkITCase.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/sink/SinkNotNullEnforcer.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/sink/SinkOperator.java
Labels: component=TableSQL/Planner, review=description?

#13785 [FLINK-19750][Kafka] Fix bug of not opening DeserializationSchema when FlinkKafkaConsumerBase recovering from state
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/streaming/connectors/kafka/FlinkKafkaConsumerBase.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/FlinkKafkaConsumerBaseTest.java
Labels: component=Connectors/Kafka, review=description?

#13662 [FLINK-19676][docs] java package name error in docs.
  docs/dev/table/types.md
  docs/dev/table/types.zh.md
Labels: component=Documentation, review=description?

#13781 [FLINK-19781] Upgrade commons-codec to 1.13
  flink-connectors/flink-connector-elasticsearch5/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-elasticsearch6/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-elasticsearch7/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-hbase-1.4/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-hbase-2.2/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-azure-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-oss-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-s3-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-s3-fs-presto/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-swift-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-table/flink-table-planner-blink/src/main/resources/META-INF/NOTICE
  flink-table/flink-table-planner/src/main/resources/META-INF/NOTICE
  pom.xml
Labels: component=TableSQL/Planner, review=description?

#13370 [hotfix][docs] Update shaded_version to the latest release
  docs/_config.yml
Labels: review=description?

#13783 [FLINK-19783] Upgrade Mesos version to 1.7
  flink-mesos/pom.xml
  flink-mesos/src/main/resources/META-INF/NOTICE
Labels: component=Deployment/Mesos, review=description?

#13769 [FLINK-19278] Bump Scala Macros to 2.1.1
  pom.xml
Labels: component=BuildSystem, review=description?

#13764 [FLINK-19780][table-planner-blink] Introduce FlinkRelMdUtil#numDistinctVals to work around precision problem in Calcite's implementation
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdDistinctRowCount.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdPopulationSize.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/utils/FlinkRelMdUtil.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdDistinctRowCountTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdPopulationSizeTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/utils/FlinkRelMdUtilTest.scala
Labels: component=TableSQL/Planner, review=description?

#13768 [FLINK-19777][table-runtime-blink] Fix NullPointException for WindowOperator.close()
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/window/WindowOperator.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/window/WindowOperatorTest.java
Labels: component=TableSQL/Runtime, review=description?

#13680 [FLINK-19553][web] Make timestamp of checkpoints shown with date format
  flink-runtime-web/web-dashboard/src/app/pages/job/checkpoints/detail/job-checkpoints-detail.component.html
  flink-runtime-web/web-dashboard/src/app/pages/job/checkpoints/job-checkpoints.component.html
  flink-runtime-web/web-dashboard/src/app/pages/job/checkpoints/subtask/job-checkpoints-subtask.component.html
Labels: component=Runtime/WebFrontend, review=description?

#13753 [FLINK-19765][flink-table-planner] refactor SqlToOperationConverter a…
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlUseCatalog.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/operations/SqlToOperationConverter.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/sqlexec/SqlToOperationConverter.java
Labels: component=TableSQL/Planner, review=description?

#13767 [FLINK-19787][table-runtime] Migrate Filesystem connector to new table source sink interface
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/AvroFilesystemStreamITCase.java
  flink-formats/flink-orc/src/test/java/org/apache/flink/orc/OrcFsStreamingSinkITCase.java
  flink-formats/flink-parquet/src/test/java/org/apache/flink/formats/parquet/ParquetFsStreamingSinkITCase.java
  flink-table/flink-sql-client/pom.xml
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/utils/SqlParserHelper.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/factories/FileSystemFormatFactory.java
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/PartitionableSinkTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/PartitionableSinkTest.xml
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/AbstractFileSystemTable.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/FileSystemTableFactory.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/FileSystemTableSink.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/FileSystemTableSource.java
  flink-table/flink-table-runtime-blink/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/filesystem/FileSystemTableFactoryTest.java
Labels: component=TableSQL/Runtime, review=description?

#13626 [FLINK-19594][web] Make subtask index start from zero
  flink-runtime-web/web-dashboard/src/app/pages/job/checkpoints/subtask/job-checkpoints-subtask.component.html
  flink-runtime-web/web-dashboard/src/app/pages/job/overview/backpressure/job-overview-drawer-backpressure.component.html
  flink-runtime-web/web-dashboard/src/app/pages/job/overview/watermarks/job-overview-drawer-watermarks.component.ts
Labels: component=Runtime/WebFrontend, review=description?

#13798 [BP-1.11][FLINK-19777][table-runtime-blink] Fix NullPointException for WindowOperator.close()
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/window/WindowOperator.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/window/WindowOperatorTest.java
Labels: component=TableSQL/Runtime, review=description?

#13668 [hotfix] Log interrupted exception on debug when closing threads in ExternalSorter
  flink-runtime/src/main/java/org/apache/flink/runtime/operators/sort/ExternalSorter.java
Labels: review=description?

#13788 [FLINK-19252] Create the working dir for Jaas conf proactively.
  flink-runtime/src/main/java/org/apache/flink/runtime/security/modules/JaasModule.java
  flink-runtime/src/test/java/org/apache/flink/runtime/security/modules/JaasModuleTest.java
Labels: component=Runtime/Coordination, review=description?

#13669 [FLINK-19684][Connector][jdbc] Fix the Jdbc-connector's 'lookup.max-retries' option implementation
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/JdbcExecutionOptions.java
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/internal/JdbcBatchingOutputFormat.java
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/table/JdbcDynamicTableFactory.java
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/table/JdbcRowDataLookupFunction.java
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/table/JdbcDynamicTableFactoryTest.java
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/table/JdbcDynamicTableSinkITCase.java
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/table/JdbcLookupTableITCase.java
Labels: component=Connectors/JDBC, review=description?

#12647 [FLINK-18044][Connectors/Common] Add the subtask index information to the SourceReaderContext.
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/src/FileSourceHeavyThroughputTest.java
  flink-core/src/main/java/org/apache/flink/api/connector/source/SourceReaderContext.java
  flink-core/src/test/java/org/apache/flink/api/connector/source/mocks/TestingReaderContext.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/SourceOperator.java
Labels: component=Connectors/Common, review=description?

#13771 [FLINK-19789][hive] Migrate Hive connector to new table source sink interface
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveDynamicTableFactory.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableFactory.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSink.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSource.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/HiveCatalog.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveLookupJoinITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTableFactoryTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTableSourceITCase.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/rules/logical/PushPartitionIntoTableSourceScanRule.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/factories/TestValuesTableFactory.java
Labels: component=<none>, review=description?

#13636 [FLINK-19641][hive] Optimize parallelism calculating of HiveTableSource by checking file number
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveParallelismInference.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSource.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HiveTableInputFormat.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTableSourceITCase.java
Labels: component=Connectors/Hive, review=description?

#13742 [FLINK-19626][table-planner-blink] Introduce multi-input operator construction algorithm
  docs/_includes/generated/optimizer_config_configuration.html
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/config/OptimizerConfigOptions.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/processors/DeadlockBreakupProcessor.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/processors/MultipleInputNodeCreationProcessor.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/processors/utils/InputOrderCalculator.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/processors/utils/InputPriorityConflictResolver.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/processors/utils/InputPriorityGraphGenerator.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/processors/utils/TopologyGraph.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/delegation/BatchPlanner.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchExecMultipleInputNode.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/reuse/DeadlockBreakupProcessor.scala
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/plan/processors/utils/InputOrderCalculatorTest.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/plan/processors/utils/InputPriorityConflictResolverTest.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/plan/processors/utils/InputPriorityGraphGeneratorTest.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/plan/processors/utils/TopologyGraphTest.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/plan/reuse/InputPriorityConflictResolverTest.java
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/MultipleInputCreationTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/batch/sql/MultipleInputCreationTest.scala
Labels: component=TableSQL/Planner, review=description?

#13612 [FLINK-19587][table-planner-blink] Fix error result when casting binary as varchar
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/calls/ScalarOperatorGens.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/expressions/ScalarOperatorsTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/expressions/utils/ScalarOperatorsTestBase.scala
Labels: component=TableSQL/Planner, review=description?

#13457 [FLINK-8357] Use rolling logs as default
  flink-dist/src/main/flink-bin/bin/config.sh
  flink-dist/src/main/flink-bin/bin/flink-daemon.sh
  flink-dist/src/main/flink-bin/conf/log4j-console.properties
  flink-dist/src/main/flink-bin/conf/log4j.properties
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YarnTestBase.java
Labels: component=BuildSystem, component=Deployment/Scripts, review=description?

#13814 [FLINK-19839][e2e] Properly forward test exit code to CI system
  tools/azure-pipelines/e2e_uploading_watchdog.sh
Labels: component=BuildSystem/AzurePipelines, review=description?

#13805 [FLINK-19569][table] Upgrade ICU4J to 67.1
  flink-table/flink-table-common/pom.xml
  flink-table/flink-table-planner-blink/pom.xml
  flink-table/flink-table-planner-blink/src/main/resources/META-INF/NOTICE
  flink-table/flink-table-planner/pom.xml
  flink-table/flink-table-planner/src/main/resources/META-INF/NOTICE
Labels: component=BuildSystem, component=TableSQL/Planner, review=description?

#13810 [FLINK-18811][network] Pick another tmpDir if an IOException occurs w…
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/api/serialization/SpanningWrapper.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/api/serialization/SpanningWrapperTest.java
Labels: component=Runtime/Network, review=description?

#13801 [FLINK-19213][docs-zh] Update the Chinese documentation
  docs/dev/table/connectors/formats/avro-confluent.zh.md
Labels: component=Documentation, component=chinese-translation, review=description?

#13300 [FLINK-19077][table-runtime] Import process time temporal join operator.
  docs/dev/table/hive/hive_streaming.md
  docs/dev/table/hive/hive_streaming.zh.md
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/calcite/RelTimeIndicatorConverter.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamExecLegacyTemporalJoin.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamExecTemporalJoin.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/optimize/program/FlinkChangelogModeInferenceProgram.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/FlinkStreamRuleSets.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/logical/LogicalCorrelateToJoinFromTemporalTableFunctionRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/logical/LogicalCorrelateToJoinFromTemporalTableRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/logical/TemporalJoinRewriteWithUniqueKeyRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/stream/StreamExecJoinRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/stream/StreamExecLegacyTemporalJoinRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/stream/StreamExecTemporalJoinRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/utils/LegacyTemporalJoinUtil.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/utils/TemporalJoinUtil.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/rules/logical/LogicalCorrelateToJoinFromTemporalTableRuleTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/rules/logical/TemporalJoinRewriteWithUniqueKeyRuleTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/rules/physical/stream/ChangelogModeInferenceTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/MiniBatchIntervalInferTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/join/TemporalFunctionJoinTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/join/TemporalJoinTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/table/TemporalTableFunctionJoinTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/batch/sql/join/TemporalFunctionJoinTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/batch/table/TemporalTableFunctionJoinTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/rules/logical/TemporalJoinRewriteWithUniqueKeyRuleTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/join/TemporalFunctionJoinTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/join/TemporalJoinTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/table/TemporalTableFunctionJoinTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/TemporalJoinITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/TemporalTableFunctionJoinITCase.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/join/temporal/TemporalProcessTimeJoinOperator.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/join/temporal/TemporalProcessTimeJoinOperatorTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/join/temporal/TemporalRowTimeJoinOperatorTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/join/temporal/TemporalTimeJoinOperatorTestBase.java
Labels: component=<none>, review=description?

#13620 [hotfix][doc] the first FSDataOutputStream should be FSDataInputStream in FileSystem#L178
  flink-core/src/main/java/org/apache/flink/core/fs/FileSystem.java
Labels: review=description?

#13809 [Hotfix][json] Add serialVersionUID to JsonInputFormat class
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/JsonFileSystemFormatFactory.java
Labels: review=description?

#13744 [FLINK-19766][table-runtime] Introduce File streaming compaction operators
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/stream/compact/CompactBucketWriter.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/stream/compact/CompactBulkReader.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/stream/compact/CompactContext.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/stream/compact/CompactCoordinator.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/stream/compact/CompactMessages.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/stream/compact/CompactOperator.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/stream/compact/CompactReader.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/stream/compact/CompactWriter.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/util/BinPacking.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/filesystem/stream/compact/AbstractCompactTestBase.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/filesystem/stream/compact/CompactCoordinatorTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/filesystem/stream/compact/CompactOperatorTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/filesystem/stream/compact/TestByteFormat.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/util/BinPackingTest.java
Labels: component=Connectors/FileSystem, component=TableSQL/Runtime, review=description?

#13685 [FLINK-19702][hive] Avoid using HiveConf::hiveSiteURL
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/HiveCatalog.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/factories/HiveCatalogFactoryTest.java
  flink-connectors/flink-connector-hive/src/test/resources/test-multi-hive-conf1/hive-site.xml
  flink-connectors/flink-connector-hive/src/test/resources/test-multi-hive-conf2/hive-site.xml
Labels: component=Connectors/Hive, review=description?

#13820 [FLINK-19671][codestyle] Revert .editorconfig change violating our coding style
  .editorconfig
Labels: component=<none>, review=description?

#13763 [FLINK-19779][avro] Remove the record_ field name prefix for Confluen…
  flink-connectors/flink-connector-hbase-base/src/main/java/org/apache/flink/connector/hbase/util/HBaseTableSchema.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTableSinkITCase.java
  flink-formats/flink-avro-confluent-registry/src/test/java/org/apache/flink/formats/avro/registry/confluent/RegistryAvroRowDataSeDeSchemaTest.java
  flink-formats/flink-avro/src/main/java/org/apache/flink/formats/avro/typeutils/AvroSchemaConverter.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/AvroRowDataDeSerializationSchemaTest.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/typeutils/AvroSchemaConverterTest.java
  flink-python/pyflink/table/table_environment.py
  flink-python/pyflink/table/tests/test_pandas_conversion.py
  flink-python/pyflink/table/tests/test_table_schema.py
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/utils/SimpleCatalogFactory.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/api/TableSchema.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/factories/FileSystemFormatFactory.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/sources/TableSource.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/logical/RowType.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/api/TableSchemaTest.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/plan/nodes/dataset/BatchTableSourceScan.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/plan/nodes/datastream/StreamTableSourceScan.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/FileSystemTableSource.java
Labels: component=Formats, review=description?

#13458 FLINK-18851 [runtime] Add checkpoint type to checkpoint history entries in Web UI
  docs/_includes/generated/rest_v1_dispatcher.html
  flink-runtime-web/src/test/resources/rest_api_v1.snapshot
  flink-runtime-web/web-dashboard/src/app/interfaces/job-checkpoint.ts
  flink-runtime-web/web-dashboard/src/app/pages/job/checkpoints/detail/job-checkpoints-detail.component.html
  flink-runtime-web/web-dashboard/src/app/pages/job/checkpoints/detail/job-checkpoints-detail.component.ts
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/messages/checkpoints/CheckpointStatistics.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/messages/checkpoints/CheckpointingStatisticsTest.java
Labels: component=Runtime/REST, component=Runtime/WebFrontend, review=description?

#13731 [hotfix][typo] Fix the typo in readme.md of flink-docs module
  flink-docs/README.md
Labels: review=description?

#13579 [hotfix] Skip the PyFlink e2e test
  flink-end-to-end-tests/run-nightly-tests.sh
Labels: review=description?

#13307 [FLINK-19078][table-runtime] Import rowtime join temporal operator
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamExecTemporalJoin.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/optimize/program/FlinkChangelogModeInferenceProgram.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/rules/physical/stream/ChangelogModeInferenceTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/TableScanTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/TableScanTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/TemporalJoinITCase.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/join/temporal/TemporalRowTimeJoinOperator.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/join/temporal/TemporalProcessTimeJoinOperatorTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/join/temporal/TemporalRowTimeJoinOperatorTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/join/temporal/TemporalTimeJoinOperatorTestBase.java
Labels: component=TableSQL/Runtime, review=description?

#13831 [FLINK-19870][table-planner-blink] Fix special case when the reuse of exchange causes the deadlock
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/processors/utils/InputOrderCalculator.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/processors/utils/InputPriorityConflictResolver.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/processors/utils/InputPriorityGraphGenerator.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/plan/processors/utils/InputPriorityConflictResolverTest.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/plan/processors/utils/InputPriorityGraphGeneratorTest.java
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/DeadlockBreakupTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/SetOperatorsTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/SubplanReuseTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/batch/sql/DeadlockBreakupTest.scala
Labels: component=TableSQL/Planner, review=description?

#13848 [hotfix][python] Modify the udf entry module in windows
  flink-python/bin/pyflink-udf-runner.bat
Labels: review=description?

#13835 [FLINK-18122][e2e] Make K8s test more resilient by retrying and failing docker image build (2nd try)
  flink-end-to-end-tests/test-scripts/test_kubernetes_application.sh
  flink-end-to-end-tests/test-scripts/test_kubernetes_embedded_job.sh
  flink-end-to-end-tests/test-scripts/test_kubernetes_pyflink_application.sh
  flink-end-to-end-tests/test-scripts/test_kubernetes_session.sh
Labels: component=Deployment/Kubernetes, component=Tests, review=description?

#13806 [FLINK-19824][table-api] Refactor and merge SupportsComputedColumnPushDown and SupportsWatermarkPushDown interfaces
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/table/connector/source/abilities/PeriodicWatermarkAssignerProvider.java
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/table/connector/source/abilities/PunctuatedWatermarkAssignerProvider.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/connector/source/DynamicTableSource.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/connector/source/ScanTableSource.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/connector/source/abilities/SupportsComputedColumnPushDown.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/connector/source/abilities/SupportsProjectionPushDown.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/connector/source/abilities/SupportsWatermarkPushDown.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/sources/DynamicSourceUtils.java
Labels: component=TableSQL/API, review=description?

#13846 [FLINK-19762][Runtime / Web Frontend]Selecting Job-ID and TaskManager-ID in web UI covers more than the ID
  flink-runtime-web/web-dashboard/src/app/pages/job/status/job-status.component.html
  flink-runtime-web/web-dashboard/src/app/pages/job/status/job-status.component.less
  flink-runtime-web/web-dashboard/src/app/pages/task-manager/status/task-manager-status.component.html
  flink-runtime-web/web-dashboard/src/app/pages/task-manager/status/task-manager-status.component.less
Labels: component=Runtime/WebFrontend, review=description?
