Repository apache/flink, pull requests merged in 2020-03, with the labels that each got.

#11269 [FLINK-16352][flink-table/flink-table-common]Use LinkedHashMap for deterministic iterations
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/expressions/ExpressionTest.java
Labels: component=TableSQL/Client, review=description?

#11277 [FLINK-16360][orc] Flink STRING data type should map to ORC STRING type
  flink-formats/flink-orc/src/main/java/org/apache/flink/orc/OrcSplitReaderUtil.java
  flink-formats/flink-orc/src/test/java/org/apache/flink/orc/OrcSplitReaderUtilTest.java
Labels: component=Connectors/Hive, review=description?

#11259 [FLINK-15633][build] Bump javadoc-plugin to 3.1.1
  pom.xml
Labels: component=BuildSystem, component=ReleaseSystem, review=description?

#11289 [FLINK-16380][AZP] Fix jdk11 switch
  tools/azure-pipelines/jobs-template.yml
Labels: review=description?

#11223 [FLINK-16281][Table SQL / Ecosystem] parameter 'maxRetryTimes' can not work in JDBCUpsertTableSink.
  flink-connectors/flink-jdbc/src/main/java/org/apache/flink/api/java/io/jdbc/JDBCUpsertOutputFormat.java
  flink-connectors/flink-jdbc/src/main/java/org/apache/flink/api/java/io/jdbc/writer/AppendOnlyWriter.java
  flink-connectors/flink-jdbc/src/main/java/org/apache/flink/api/java/io/jdbc/writer/JDBCWriter.java
  flink-connectors/flink-jdbc/src/main/java/org/apache/flink/api/java/io/jdbc/writer/UpsertWriter.java
  flink-connectors/flink-jdbc/src/test/java/org/apache/flink/api/java/io/jdbc/JDBCAppenOnlyWriterTest.java
Labels: component=TableSQL/Ecosystem, review=description?

#11283 [FLINK-16370][build] Only bundle javax as Java11-exclusive dependency
  flink-dist/pom.xml
Labels: component=BuildSystem, review=description?

#11293 [FLINK-16281][jdbc] Parameter 'maxRetryTimes' can not work in AppendOnlyWriter
  flink-connectors/flink-jdbc/src/main/java/org/apache/flink/api/java/io/jdbc/JDBCUpsertOutputFormat.java
  flink-connectors/flink-jdbc/src/main/java/org/apache/flink/api/java/io/jdbc/writer/AppendOnlyWriter.java
  flink-connectors/flink-jdbc/src/main/java/org/apache/flink/api/java/io/jdbc/writer/JDBCWriter.java
  flink-connectors/flink-jdbc/src/main/java/org/apache/flink/api/java/io/jdbc/writer/UpsertWriter.java
  flink-connectors/flink-jdbc/src/test/java/org/apache/flink/api/java/io/jdbc/JDBCAppenOnlyWriterTest.java
Labels: component=TableSQL/Ecosystem, review=description?

#10988 [FLINK-16348][Runtime/WebFrontend] Add commas to large numeric accumulators
  flink-runtime-web/web-dashboard/src/app/pages/job/overview/accumulators/job-overview-drawer-accumulators.component.html
Labels: component=Runtime/WebFrontend, review=description?

#10975 [hotfix][javadoc] Fix typo in InputFormat
  flink-core/src/main/java/org/apache/flink/api/common/io/InputFormat.java
Labels: review=description?

#10955 [hotfix] [docs] Typo in Time-windowed Joins doc
  docs/dev/table/streaming/joins.md
  docs/dev/table/streaming/joins.zh.md
Labels: review=description?

#11295 [FLINK-10885][e2e] Stabilize confluent schema registry test
  flink-end-to-end-tests/test-scripts/kafka-common.sh
Labels: component=TableSQL/API, component=TestInfrastructure, review=description?

#10858 [FLINK-15582][tests] Enable batch scheduling tests for both LegacyScheduler and DefaultScheduler
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/BatchSchedulingTestBase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/DefaultSchedulerBatchSchedulingTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/LegacySchedulerBatchSchedulingTest.java
Labels: component=Runtime/Coordination, review=description?

#11168 [FLINK-16140] [docs-zh] Translate Event Processing (CEP) page into Chinese
  docs/dev/libs/cep.zh.md
Labels: component=Documentation, component=chinese-translation, review=description?

#11279 [FLINK-16362] [table] Remove deprecated method in StreamTableSink
  docs/dev/table/sourceSinks.md
  docs/dev/table/sourceSinks.zh.md
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/streaming/connectors/cassandra/CassandraAppendTableSink.java
  flink-connectors/flink-connector-elasticsearch-base/src/main/java/org/apache/flink/streaming/connectors/elasticsearch/ElasticsearchUpsertTableSinkBase.java
  flink-connectors/flink-connector-elasticsearch6/src/test/java/org/apache/flink/streaming/connectors/elasticsearch6/Elasticsearch6UpsertTableSinkFactoryTest.java
  flink-connectors/flink-connector-elasticsearch7/src/test/java/org/apache/flink/streaming/connectors/elasticsearch7/Elasticsearch7UpsertTableSinkFactoryTest.java
  flink-connectors/flink-connector-kafka-base/src/main/java/org/apache/flink/streaming/connectors/kafka/KafkaTableSinkBase.java
  flink-connectors/flink-connector-kafka-base/src/test/java/org/apache/flink/streaming/connectors/kafka/KafkaTableSourceSinkFactoryTestBase.java
  flink-connectors/flink-hbase/src/main/java/org/apache/flink/addons/hbase/HBaseUpsertTableSink.java
  flink-connectors/flink-jdbc/src/main/java/org/apache/flink/api/java/io/jdbc/JDBCAppendTableSink.java
  flink-connectors/flink-jdbc/src/main/java/org/apache/flink/api/java/io/jdbc/JDBCUpsertTableSink.java
  flink-connectors/flink-jdbc/src/test/java/org/apache/flink/api/java/io/jdbc/JDBCAppendTableSinkTest.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/CollectStreamTableSink.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/utils/TestTableSinkFactoryBase.java
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/table/sinks/CsvTableSink.java
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/table/sinks/OutputFormatTableSink.java
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/table/sinks/StreamTableSink.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/api/TableUtils.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/sinks/CollectTableSink.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/factories/utils/TestCollectionTableFactory.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/PartitionableSinkITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/utils/StreamTestSink.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/utils/MemoryTableSourceSinkUtil.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/factories/utils/TestCollectionTableFactory.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/runtime/stream/table/TableSinkITCase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/utils/MemoryTableSourceSinkUtil.scala
  flink-walkthroughs/flink-walkthrough-common/src/main/java/org/apache/flink/walkthrough/common/table/SpendReportTableSink.java
Labels: component=TableSQL/API, review=description?

#10734 [FLINK-15386] Fix logic error in SingleJobSubmittedJobGraphStore.putJobGraph and add unit tests
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/SingleJobSubmittedJobGraphStore.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/SingleJobSubmittedJobGraphStoreTest.java
Labels: component=<none>, review=description?

#11292 [FLINK-16393][kinesis] Skip record emitter thread creation w/o source sync
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/internals/KinesisDataFetcher.java
Labels: component=Connectors/Kinesis, review=description?

#11302 [FLINK-16414]fix sql validation failed when using udaf/udtf which doesn't implement getResultType
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/functions/FunctionDefinitionUtil.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/functions/FunctionDefinitionUtilTest.java
Labels: component=TableSQL/API, review=description?

#11102 [FLINK-16084][docs] Translate /dev/table/streaming/time_attributes.zh.md
  docs/dev/table/streaming/time_attributes.zh.md
Labels: component=Documentation, component=chinese-translation, review=description?

#11304 [FLINK-16418][hive] Hide hive version to avoid user confuse
  docs/dev/table/hive/hive_catalog.md
  docs/dev/table/hive/hive_catalog.zh.md
  docs/dev/table/hive/hive_functions.md
  docs/dev/table/hive/hive_functions.zh.md
  docs/dev/table/hive/index.md
  docs/dev/table/hive/index.zh.md
  docs/dev/table/modules.md
  docs/dev/table/modules.zh.md
  docs/dev/table/sqlClient.md
  docs/dev/table/sqlClient.zh.md
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/HiveCatalog.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/module/hive/HiveModule.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/module/hive/HiveModuleDescriptor.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/module/hive/HiveModuleFactoryTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/module/hive/HiveModuleTest.java
Labels: component=Connectors/Hive, review=description?

#11236 [FLINK-16269][FLINK-16108][table-planner-blink] Fix schema of query and sink do not match when generic or POJO type is requested
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/inference/TypeTransformations.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/inference/transforms/LegacyRawTypeTransformation.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/types/inference/TypeTransformationsTest.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/SinkCodeGenerator.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/sinks/TableSinkUtils.scala
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/runtime/utils/JavaPojos.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/StreamTableEnvironmentITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/utils/StreamTestSink.scala
Labels: component=TableSQL/Planner, review=description?

#11305 [FLINK-16410][e2e][build] Add explicit flink-runtime dependency
  flink-end-to-end-tests/flink-end-to-end-tests-common/pom.xml
Labels: component=Runtime/Metrics, component=Tests, review=description?

#11140 [FLINK-16172][build] Add baseline set of allowed unused dependencies
  pom.xml
Labels: component=BuildSystem, review=description?

#11285 [FLINK-16189][e2e] Remove test logic from FlinkDistribution
  flink-end-to-end-tests/flink-end-to-end-tests-common/src/main/java/org/apache/flink/tests/util/flink/FlinkDistribution.java
  flink-end-to-end-tests/flink-end-to-end-tests-common/src/main/java/org/apache/flink/tests/util/flink/LocalStandaloneFlinkResource.java
  flink-end-to-end-tests/flink-end-to-end-tests-common/src/main/java/org/apache/flink/tests/util/flink/LocalStandaloneFlinkResourceFactory.java
Labels: component=TestInfrastructure, review=description?

#11315 [FLINK-16417][e2e] Slightly increase offheap memory for ConnectedComp…
  flink-end-to-end-tests/test-scripts/test_high_parallelism_iterations.sh
Labels: component=API/DataSet, component=Tests, review=description?

#10922 [FLINK-11899][parquet] Introduce parquet ColumnarRow split reader
  flink-formats/flink-parquet/pom.xml
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/ParquetTableSource.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/vector/ParquetColumnarRowSplitReader.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/vector/ParquetDecimalVector.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/vector/ParquetDictionary.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/vector/ParquetSplitReaderUtil.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/vector/reader/AbstractColumnReader.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/vector/reader/BooleanColumnReader.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/vector/reader/ByteColumnReader.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/vector/reader/BytesColumnReader.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/vector/reader/ColumnReader.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/vector/reader/DoubleColumnReader.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/vector/reader/FixedLenBytesColumnReader.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/vector/reader/FloatColumnReader.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/vector/reader/IntColumnReader.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/vector/reader/LongColumnReader.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/vector/reader/RunLengthDecoder.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/vector/reader/ShortColumnReader.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/vector/reader/TimestampColumnReader.java
  flink-formats/flink-parquet/src/test/java/org/apache/flink/formats/parquet/utils/ParquetWriterUtil.java
  flink-formats/flink-parquet/src/test/java/org/apache/flink/formats/parquet/utils/TestUtil.java
  flink-formats/flink-parquet/src/test/java/org/apache/flink/formats/parquet/vector/ParquetColumnarRowSplitReaderTest.java
Labels: component=TableSQL/Runtime, review=description?

#11167 [FLINK-16129] [docs] Translate /ops/filesystems/index.zh.md
  docs/ops/filesystems/index.zh.md
Labels: component=Documentation, component=chinese-translation, review=description?

#11330 [FLINK-16313] Ignore unstable rocksdb state processing api test
  flink-libraries/flink-state-processing-api/src/test/java/org/apache/flink/state/api/RocksDBStateBackendReaderKeyedStateITCase.java
Labels: component=API/StateProcessor, component=Tests, review=description?

#11327 [FLINK-16450][hive] Integrate parquet columnar row reader to hive
  docs/dev/table/hive/read_write_hive.md
  docs/dev/table/hive/read_write_hive.zh.md
  flink-connectors/flink-connector-hive/pom.xml
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HiveTableInputFormat.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HiveVectorizedParquetSplitReader.java
  flink-connectors/flink-connector-hive/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/TableEnvHiveConnectorTest.java
Labels: component=Connectors/Hive, review=description?

#11339 CodeGenUtils generates code that has two semicolons for GroupingWindowAggsHandler in blink
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/CodeGenUtils.scala
Labels: review=description?

#11352 [FLINK-16500][hive] Hive get primary key should not throw exception when Invalid method name
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/client/HiveShimV210.java
Labels: component=Connectors/Hive, review=description?

#11348 [FLINK-16467][core] Fix MemorySizeTest#testToHumanReadableString locale problem.
  flink-core/src/main/java/org/apache/flink/configuration/MemorySize.java
Labels: component=API/Core, review=description?

#11341 [FLINK-16273][python] Set io.netty.tryReflectionSetAccessible to true by default
  flink-python/src/main/java/org/apache/flink/table/runtime/runners/python/scalar/arrow/AbstractArrowPythonScalarFunctionRunner.java
Labels: component=API/Python, review=description?

#11350 [FLINK-16241][ml] Remove the license and notice file in flink-ml-lib module on release-1.10 branch
  flink-ml-parent/flink-ml-lib/src/main/resources/META-INF/NOTICE
  flink-ml-parent/flink-ml-lib/src/main/resources/META-INF/licenses/LICENSE.core
Labels: component=Library/MachineLearning, review=description?

#11349 [FLINK-16025][k8s] Parse BlobServer port from Configuration instead f using constant
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/decorators/ServiceDecorator.java
Labels: component=Deployment/Kubernetes, review=description?

#11342 [FLINK-16483][python] Add Python building blocks to make sure the basic functionality of vectorized Python UDF could work
  flink-python/pyflink/fn_execution/ResettableIO.py
  flink-python/pyflink/fn_execution/coder_impl.py
  flink-python/pyflink/fn_execution/coders.py
  flink-python/pyflink/table/tests/test_pandas_udf.py
  flink-python/pyflink/table/udf.py
  flink-python/setup.py
  flink-python/src/main/java/org/apache/flink/table/runtime/runners/python/scalar/arrow/AbstractArrowPythonScalarFunctionRunner.java
Labels: component=API/Python, review=description?

#11328 [FLINK-16455][hive] Introduce flink-sql-connector-hive modules to provide hive uber jars
  docs/dev/table/hive/index.md
  docs/dev/table/hive/index.zh.md
  flink-connectors/flink-sql-connector-hive-1.2.2/pom.xml
  flink-connectors/flink-sql-connector-hive-1.2.2/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-hive-2.2.0/pom.xml
  flink-connectors/flink-sql-connector-hive-2.2.0/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-hive-2.3.6/pom.xml
  flink-connectors/flink-sql-connector-hive-2.3.6/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-hive-3.1.2/pom.xml
  flink-connectors/flink-sql-connector-hive-3.1.2/src/main/resources/META-INF/NOTICE
  flink-connectors/pom.xml
Labels: component=Connectors/Hive, review=description?

#11354 [FLINK-16512][task] Unaligned checkpoints: API for persistence
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/channel/ChannelStateReader.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/channel/ChannelStateWriter.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/channel/InputChannelInfo.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/channel/ResultSubpartitionInfo.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/InputChannelStateHandle.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/ResultSubpartitionStateHandle.java
Labels: component=Runtime/Checkpointing, component=Runtime/Network, review=description?

#11371 [FLINK-16525][task] Increment subtask id by 1 to display subtask name
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/sink/TwoPhaseCommitSinkFunction.java
Labels: component=Runtime/Task, review=description?

#11123 [FLINK-16014][s3] Force usage of SAXParserFactory over XMLReaderFactory in aws-java-sdk-s3.
  flink-filesystems/flink-s3-fs-base/src/main/java/com/amazonaws/services/s3/model/transform/XmlResponsesSaxParser.java
  flink-filesystems/flink-s3-fs-hadoop/pom.xml
  flink-filesystems/flink-s3-fs-presto/pom.xml
  tools/maven/suppressions.xml
Labels: component=FileSystems, review=description?

#11366 [FLINK-16519] [checkpointing] Remove PowerMockito to avoid LinkageError in CheckpointCoordinatorFailureTest
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinatorFailureTest.java
Labels: component=Runtime/Checkpointing, review=description?

#11358 [FLINK-16516][python] Avoid codegen user-defined function for Python UDF
  flink-python/pyflink/table/table_environment.py
  flink-python/pyflink/table/tests/test_catalog.py
  flink-python/pyflink/table/udf.py
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/python/PythonScalarFunction.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/python/PythonTableFunction.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/python/SimplePythonFunction.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/PythonFunctionCodeGenerator.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/common/CommonPythonBase.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/utils/python/PythonTableUtils.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/codegen/PythonFunctionCodeGenerator.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/plan/nodes/CommonPythonBase.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/util/python/PythonTableUtils.scala
Labels: component=API/Python, review=description?

#11379 [FLINK-16530][docs] Add documentation about "GROUPING SETS" and "CUBE" support in streaming mode
  docs/dev/table/sql/queries.md
  docs/dev/table/sql/queries.zh.md
Labels: review=description?

#11355 [FLINK-16374][AZP] Disable java e2e tests in misc profile
  tools/travis_watchdog.sh
Labels: component=Connectors/Kafka, component=Tests, review=description?

#10652 [FLINK-15337][docs] Add vendor table to documentation
  docs/ops/deployment/index.md
  docs/ops/deployment/index.zh.md
Labels: component=Documentation, review=description?

#11378 [FLINK-16546][yarn] Fix logging bug in YarnClusterDescriptor#startAppMaster
  flink-yarn/src/main/java/org/apache/flink/yarn/YarnClusterDescriptor.java
Labels: component=Deployment/YARN, review=description?

#11069 [hotfix] [flink-examples-streaming] Fix some typos
  flink-examples/flink-examples-streaming/src/main/java/org/apache/flink/streaming/examples/async/AsyncIOExample.java
  flink-examples/flink-examples-streaming/src/main/java/org/apache/flink/streaming/examples/iteration/IterateExample.java
  flink-examples/flink-examples-streaming/src/main/java/org/apache/flink/streaming/examples/join/WindowJoin.java
  flink-examples/flink-examples-streaming/src/main/java/org/apache/flink/streaming/examples/sideoutput/SideOutputExample.java
  flink-examples/flink-examples-streaming/src/main/java/org/apache/flink/streaming/examples/statemachine/generator/EventsGeneratorSource.java
Labels: review=description?

#11377 [FLINK-16545][build] Remove Eclipse-specific plugins
  flink-clients/pom.xml
  flink-examples/flink-examples-streaming/pom.xml
  flink-formats/flink-avro/pom.xml
  flink-tests/pom.xml
  pom.xml
Labels: component=BuildSystem, review=description?

#11162 [FLINK-11720][connectors] Bump ElasticSearch5 to 5.3.3
  flink-connectors/flink-connector-elasticsearch-base/pom.xml
  flink-connectors/flink-connector-elasticsearch-base/src/main/java/org/apache/flink/streaming/connectors/elasticsearch/ElasticsearchSinkBase.java
  flink-connectors/flink-connector-elasticsearch-base/src/test/java/org/apache/flink/streaming/connectors/elasticsearch/ElasticsearchSinkBaseTest.java
  flink-connectors/flink-connector-elasticsearch5/pom.xml
  flink-connectors/flink-connector-elasticsearch5/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-connector-elasticsearch5/src/test/java/org/apache/flink/streaming/connectors/elasticsearch/EmbeddedElasticsearchNodeEnvironmentImpl.java
  flink-end-to-end-tests/run-nightly-tests.sh
  flink-end-to-end-tests/test-scripts/test_quickstarts.sh
  tools/travis/splits/split_misc.sh
  tools/travis/splits/split_misc_hadoopfree.sh
Labels: component=Connectors/ElasticSearch, review=description?

#11380 [FLINK-16526][table-planner-blink] Fix exception when computed column expression references a keyword column name
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/operations/SqlToOperationConverter.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/calcite/FlinkPlannerImpl.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/TableScanTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/catalog/CatalogTableITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/TableScanTest.scala
Labels: component=TableSQL/API, review=description?

#11346 [FLINK-16493][k8s] Use enum type instead of string type for KubernetesConfigOptions.REST_SERVICE_EXPOSED_TYPE
  docs/_includes/generated/kubernetes_config_configuration.html
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/configuration/KubernetesConfigOptions.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/Fabric8FlinkKubeClient.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/decorators/AbstractServiceDecorator.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/decorators/ExternalServiceDecorator.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/decorators/InternalServiceDecorator.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/parameters/KubernetesJobManagerParameters.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/ExternalServiceDecoratorTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/parameters/KubernetesJobManagerParametersTest.java
Labels: component=Deployment/Kubernetes, review=description?

#11238 [FLINK-16304][python] Remove python packages bundled in the flink-python jar.
  flink-dist/src/main/assemblies/bin.xml
  flink-dist/src/main/assemblies/opt.xml
  flink-python/MANIFEST.in
  flink-python/bin/pyflink-shell.sh
  flink-python/lib/LICENSE.cloudpickle
  flink-python/lib/LICENSE.py4j
  flink-python/pom.xml
  flink-python/pyflink/fn_execution/tests/test_process_mode_boot.py
  flink-python/pyflink/shell.py
  flink-python/src/main/java/org/apache/flink/client/python/PythonDriverEnvUtils.java
  flink-python/src/main/java/org/apache/flink/client/python/PythonResourceExtractor.java
  flink-python/src/main/java/org/apache/flink/python/AbstractPythonFunctionRunner.java
  flink-python/src/main/java/org/apache/flink/python/env/ProcessPythonEnvironmentManager.java
  flink-python/src/main/java/org/apache/flink/python/util/ResourceUtil.java
  flink-python/src/main/resources/META-INF/NOTICE
  flink-python/src/main/resources/META-INF/licenses/LICENSE.cloudpickle
  flink-python/src/main/resources/pyflink-udf-runner.sh
  flink-python/src/test/java/org/apache/flink/python/env/ProcessPythonEnvironmentManagerTest.java
  flink-python/src/test/java/org/apache/flink/python/util/ResourceUtilTest.java
  tools/releasing/NOTICE-binary_PREAMBLE.txt
  tools/releasing/collect_license_files.sh
Labels: component=API/Python, review=description?

#11361 [FLINK-15727] Let BashJavaUtils return dynamic configs and JVM parame…
  flink-dist/src/main/flink-bin/bin/config.sh
  flink-dist/src/main/flink-bin/bin/taskmanager.sh
  flink-dist/src/test/bin/runBashJavaUtilsCmd.sh
  flink-dist/src/test/java/org/apache/flink/dist/BashJavaUtilsITCase.java
  flink-runtime/src/main/java/org/apache/flink/runtime/util/BashJavaUtils.java
Labels: component=Deployment/Scripts, review=description?

#11384 [FLINK-16550][s3] Force namespace parsing in XmlResponsesSaxParser.
  flink-filesystems/flink-s3-fs-base/src/main/java/com/amazonaws/services/s3/model/transform/XmlResponsesSaxParser.java
Labels: component=FileSystems, review=description?

#11387 [FLINK-16343][table-planner-blink] Improve exception message when reading an unbounded source in batch mode
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/schema/CatalogSourceTable.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/catalog/CatalogTableITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/batch/sql/TableScanTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/PartitionableSinkITCase.scala
Labels: component=TableSQL/Planner, review=description?

#11288 [FLINK-16350][e2e] Run half of streaming HA tests against ZK 3.5
  flink-end-to-end-tests/run-nightly-tests.sh
  flink-end-to-end-tests/test-scripts/common.sh
  flink-end-to-end-tests/test-scripts/test_ha_datastream.sh
  tools/travis/splits/split_ha.sh
Labels: component=Runtime/Coordination, component=Tests, review=description?

#11392 [FLINK-16539]fix sql client set int param error
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliClient.java
Labels: component=TableSQL/Client, review=description?

#11344 [FLINK-16250][python][ml] Add interfaces for PipelineStage and Pipeline
  flink-ml-parent/flink-ml-lib/pom.xml
  flink-ml-parent/flink-ml-lib/src/test/java/org/apache/flink/ml/pipeline/UserDefinedPipelineStages.java
  flink-python/pyflink/ml/api/__init__.py
  flink-python/pyflink/ml/api/base.py
  flink-python/pyflink/ml/api/param/base.py
  flink-python/pyflink/ml/lib/param/colname.py
  flink-python/pyflink/ml/tests/test_pipeline.py
  flink-python/pyflink/ml/tests/test_pipeline_it_case.py
  flink-python/pyflink/ml/tests/test_pipeline_stage.py
Labels: component=API/Python, review=description?

#7368 [FLINK-10742][network] Let Netty use Flink's buffers directly on receiver side
  flink-end-to-end-tests/flink-netty-shuffle-memory-control-test/pom.xml
  flink-end-to-end-tests/flink-netty-shuffle-memory-control-test/src/main/java/org/apache/flink/streaming/tests/NettyShuffleMemoryControlTestProgram.java
  flink-end-to-end-tests/pom.xml
  flink-end-to-end-tests/test-scripts/test_netty_shuffle_memory_control.sh
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/NetworkClientHandler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/netty/BufferResponseDecoder.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/netty/ByteBufUtils.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/netty/CreditBasedPartitionRequestClientHandler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/netty/NettyMessage.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/netty/NettyMessageClientDecoderDelegate.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/netty/NettyMessageDecoder.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/netty/NettyProtocol.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/netty/NetworkBufferAllocator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/netty/NonBufferResponseDecoder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/netty/ByteBufUtilsTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/netty/CreditBasedPartitionRequestClientHandlerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/netty/NettyMessageClientDecoderDelegateTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/netty/NettyMessageClientSideSerializationTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/netty/NettyMessageSerializationTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/netty/NettyMessageServerSideSerializationTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/netty/NettyTestUtil.java
  tools/travis/splits/split_misc.sh
Labels: component=Runtime/Network

#11299 [FLINK-16008][table-planner][table-planner-blink] Add rules to transpose the join condition of Python Correlate node
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/rules/logical/CalcPythonCorrelateTransposeRule.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamExecPythonCorrelate.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/FlinkStreamRuleSets.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/logical/SplitPythonConditionFromCorrelateRule.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/rules/logical/CalcPythonCorrelateTransposeRuleTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/rules/logical/CalcPythonCorrelateTransposeRuleTest.scala
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/plan/rules/logical/CalcPythonCorrelateTransposeRule.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/plan/nodes/datastream/DataStreamPythonCorrelate.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/plan/rules/FlinkRuleSets.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/plan/rules/logical/SplitPythonConditionFromCorrelateRule.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/plan/CalcPythonCorrelateTransposeRuleTest.scala
Labels: component=API/Python, review=description?

#11375 [FLINK-16538][python][docs] Restructure Python Table API documentation
  docs/dev/table/config.md
  docs/dev/table/config.zh.md
  docs/dev/table/functions/udfs.md
  docs/dev/table/functions/udfs.zh.md
  docs/dev/table/python/dependency_management.md
  docs/dev/table/python/dependency_management.zh.md
  docs/dev/table/python/index.md
  docs/dev/table/python/index.zh.md
  docs/dev/table/python/installation.md
  docs/dev/table/python/installation.zh.md
  docs/dev/table/python/python_config.md
  docs/dev/table/python/python_config.zh.md
  docs/dev/table/python/python_udfs.md
  docs/dev/table/python/python_udfs.zh.md
  docs/getting-started/walkthroughs/python_table_api.md
  docs/getting-started/walkthroughs/python_table_api.zh.md
  docs/ops/python_shell.md
  docs/ops/python_shell.zh.md
Labels: component=API/Python, component=Documentation, review=description?

#11334 [FLINK-16464][sql-client]result-mode tableau may shift when content contains Chinese String in SQL CLI
  flink-table/flink-sql-client/pom.xml
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliTableauResultView.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliUtils.java
  flink-table/flink-sql-client/src/main/resources/META-INF/NOTICE
  flink-table/flink-sql-client/src/main/resources/META-INF/licenses/LICENSE.icu4j
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliTableauResultViewTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliUtilsTest.java
Labels: component=TableSQL/Client, review=description?

#11374 [FLINK-16524][python] Optimize the result of FlattenRowCoder and ArrowCoder to generator to eliminate unnecessary function calls
  flink-python/pyflink/fn_execution/coder_impl.py
  flink-python/pyflink/fn_execution/coders.py
  flink-python/pyflink/fn_execution/operations.py
  flink-python/pyflink/fn_execution/tests/test_coders_common.py
Labels: component=API/Python, review=description?

#11382 [FLINK-16554][task] split StreamTask
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/AsyncCheckpointRunnable.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/CheckpointingOperation.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/LocalStateForwardingTest.java
Labels: component=Runtime/Task, review=description?

#11399 [hotfix][docs] fix mistakes in Modules document
  docs/dev/table/modules.md
  docs/dev/table/modules.zh.md
Labels: review=description?

#11360 [FLINK-16508][k8s] Name the ports exposed by the main Container in Pod
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/decorators/AbstractServiceDecorator.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/decorators/InitJobManagerDecorator.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/decorators/InitTaskManagerDecorator.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/decorators/InternalServiceDecorator.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/utils/Constants.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/ExternalServiceDecoratorTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/InitJobManagerDecoratorTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/InitTaskManagerDecoratorTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/InternalServiceDecoratorTest.java
Labels: component=Deployment/Kubernetes, review=description?

#11386 [FLINK-16541][doc] Fix document of table.exec.shuffle-mode
  docs/_includes/generated/execution_config_configuration.html
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/config/ExecutionConfigOptions.java
Labels: component=Documentation, review=description?

#11418 [FLINK-16613] make build trigger on azp more reliable
  azure-pipelines.yml
  tools/azure-pipelines/build-apache-repo.yml
Labels: review=description?

#11394 [FLINK-16573] Ensure Kinesis RecordFetcher threads shutdown on cancel
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/util/RecordEmitter.java
Labels: component=Connectors/Kinesis, review=description?

#11412 [FLINK-16454][build] Update the copyright with 2020 year in NOTICE files
  NOTICE
  flink-connectors/flink-connector-cassandra/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-connector-elasticsearch5/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-connector-hive/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-connector-kinesis/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-connector-twitter/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-elasticsearch6/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-elasticsearch7/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-hive-1.2.2/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-hive-2.2.0/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-hive-2.3.6/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-hive-3.1.2/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-kafka-0.10/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-kafka-0.11/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-kafka/src/main/resources/META-INF/NOTICE
  flink-dist/src/main/resources/META-INF/NOTICE
  flink-examples/flink-examples-build-helper/flink-examples-streaming-state-machine/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-azure-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-fs-hadoop-shaded/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-oss-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-s3-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-s3-fs-presto/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-swift-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-formats/flink-avro-confluent-registry/src/main/resources/META-INF/NOTICE
  flink-mesos/src/main/resources/META-INF/NOTICE
  flink-metrics/flink-metrics-datadog/src/main/resources/META-INF/NOTICE
  flink-metrics/flink-metrics-graphite/src/main/resources/META-INF/NOTICE
  flink-metrics/flink-metrics-influxdb/src/main/resources/META-INF/NOTICE
  flink-metrics/flink-metrics-prometheus/src/main/resources/META-INF/NOTICE
  flink-ml-parent/flink-ml-uber/src/main/resources/META-INF/NOTICE
  flink-python/src/main/resources/META-INF/NOTICE
  flink-runtime-web/src/main/resources/META-INF/NOTICE
  flink-runtime/src/main/resources/META-INF/NOTICE
  flink-table/flink-sql-client/src/main/resources/META-INF/NOTICE
  flink-table/flink-table-planner-blink/src/main/resources/META-INF/NOTICE
  flink-table/flink-table-planner/src/main/resources/META-INF/NOTICE
  flink-table/flink-table-runtime-blink/src/main/resources/META-INF/NOTICE
  flink-test-utils-parent/flink-test-utils/src/main/resources/META-INF/NOTICE
  tools/releasing/NOTICE-binary_PREAMBLE.txt
Labels: component=ReleaseSystem, review=description?

#11405 [FLINK-16413]Reduce hive source parallelism when limit push down
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSource.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTableSourceTest.java
Labels: component=Connectors/Hive, review=description?

#11416 [FLINK-16454][build] Update the copyright with 2020 year in NOTICE files
  NOTICE
  flink-connectors/flink-connector-cassandra/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-connector-elasticsearch2/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-connector-elasticsearch5/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-connector-kinesis/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-connector-twitter/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-elasticsearch6/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-elasticsearch7/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-kafka-0.10/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-kafka-0.11/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-kafka-0.9/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-kafka/src/main/resources/META-INF/NOTICE
  flink-dist/src/main/resources/META-INF/NOTICE
  flink-examples/flink-examples-build-helper/flink-examples-streaming-state-machine/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-azure-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-fs-hadoop-shaded/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-oss-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-s3-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-s3-fs-presto/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-swift-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-formats/flink-avro-confluent-registry/src/main/resources/META-INF/NOTICE
  flink-mesos/src/main/resources/META-INF/NOTICE
  flink-metrics/flink-metrics-datadog/src/main/resources/META-INF/NOTICE
  flink-metrics/flink-metrics-graphite/src/main/resources/META-INF/NOTICE
  flink-metrics/flink-metrics-influxdb/src/main/resources/META-INF/NOTICE
  flink-metrics/flink-metrics-prometheus/src/main/resources/META-INF/NOTICE
  flink-python/src/main/resources/META-INF/NOTICE
  flink-runtime-web/src/main/resources/META-INF/NOTICE
  flink-runtime/src/main/resources/META-INF/NOTICE
  flink-shaded-curator/src/main/resources/META-INF/NOTICE
  flink-table/flink-sql-client/src/main/resources/META-INF/NOTICE
  flink-table/flink-table-planner-blink/src/main/resources/META-INF/NOTICE
  flink-table/flink-table-planner/src/main/resources/META-INF/NOTICE
  flink-table/flink-table-runtime-blink/src/main/resources/META-INF/NOTICE
  flink-test-utils-parent/flink-test-utils/src/main/resources/META-INF/NOTICE
  tools/releasing/NOTICE-binary_PREAMBLE.txt
Labels: component=ReleaseSystem, review=description?

#11417 [FLINK-16454][build] Update the copyright with 2020 year in NOTICE files
  NOTICE
  flink-connectors/flink-connector-cassandra/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-connector-elasticsearch2/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-connector-elasticsearch5/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-connector-kinesis/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-connector-twitter/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-elasticsearch6/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-kafka-0.10/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-kafka-0.11/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-kafka-0.9/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-kafka/src/main/resources/META-INF/NOTICE
  flink-dist/src/main/resources/META-INF/NOTICE
  flink-examples/flink-examples-build-helper/flink-examples-streaming-state-machine/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-azure-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-fs-hadoop-shaded/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-oss-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-s3-fs-presto/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-swift-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-formats/flink-avro-confluent-registry/src/main/resources/META-INF/NOTICE
  flink-mesos/src/main/resources/META-INF/NOTICE
  flink-metrics/flink-metrics-datadog/src/main/resources/META-INF/NOTICE
  flink-metrics/flink-metrics-graphite/src/main/resources/META-INF/NOTICE
  flink-metrics/flink-metrics-influxdb/src/main/resources/META-INF/NOTICE
  flink-metrics/flink-metrics-prometheus/src/main/resources/META-INF/NOTICE
  flink-python/src/main/resources/META-INF/NOTICE
  flink-runtime-web/src/main/resources/META-INF/NOTICE
  flink-runtime/src/main/resources/META-INF/NOTICE
  flink-shaded-curator/src/main/resources/META-INF/NOTICE
  flink-table/flink-sql-client/src/main/resources/META-INF/NOTICE
  flink-table/flink-table-planner-blink/src/main/resources/META-INF/NOTICE
  flink-table/flink-table-planner/src/main/resources/META-INF/NOTICE
  flink-table/flink-table-runtime-blink/src/main/resources/META-INF/NOTICE
  flink-test-utils-parent/flink-test-utils/src/main/resources/META-INF/NOTICE
  tools/releasing/NOTICE-binary_PREAMBLE.txt
Labels: component=ReleaseSystem, review=description?

#11422 [FLINK-16623]add the shorthand 'desc' for describe on sql client
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliClient.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/SqlCommandParser.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/SqlCommandParserTest.java
Labels: component=TableSQL/Client, review=description?

#11413 [FLINK-16607][python] Update flink-fn-execution.proto adding more schema information
  flink-python/pyflink/fn_execution/coders.py
  flink-python/pyflink/fn_execution/flink_fn_execution_pb2.py
  flink-python/pyflink/proto/flink-fn-execution.proto
  flink-python/src/main/java/org/apache/flink/table/runtime/typeutils/PythonTypeUtils.java
Labels: component=API/Python, review=description?

#11419 [FLINK-16047][table-planner-blink] Fix Blink planner produces wrong aggregate results with state clean up
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/harness/GroupAggregateHarnessTest.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/aggregate/GroupAggFunction.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/util/BaseRowHarnessAssertor.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/util/StreamRecordUtils.java
Labels: component=TableSQL/Planner, review=description?

#11383 [FLINK-16551][WebUI][tests] Improve assertions
  flink-runtime-web/src/test/java/org/apache/flink/runtime/webmonitor/WebFrontendITCase.java
Labels: component=Runtime/WebFrontend, review=description?

#11406 [FLINK-16494][k8s] Switch to enum type for config option KubernetesConfigOptions.CONTAINER_IMAGE_PULL_POLICY
  docs/_includes/generated/kubernetes_config_configuration.html
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/configuration/KubernetesConfigOptions.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/decorators/InitJobManagerDecorator.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/decorators/InitTaskManagerDecorator.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/parameters/AbstractKubernetesParameters.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/parameters/KubernetesParameters.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/KubernetesTestBase.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/InitJobManagerDecoratorTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/InitTaskManagerDecoratorTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/factory/KubernetesJobManagerFactoryTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/factory/KubernetesTaskManagerFactoryTest.java
Labels: component=Deployment/Kubernetes, review=description?

#11411 [hotfix] [docs] Fix typo in DataStream API walkthrough
  docs/getting-started/walkthroughs/datastream_api.md
Labels: review=description?

#11317 [FLINK-16433][table-api] TableEnvironmentImpl doesn't clear…
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/TableEnvironment.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/api/TableEnvironmentITCase.scala
Labels: component=TableSQL/API, review=description?

#11429 [FLINK-16413] Reduce hive source parallelism when limit push down
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSource.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTableSourceTest.java
Labels: component=Connectors/Hive, review=description?

#11420 [FLINK-16565][python][ml] Make Pipeline Json compitable between Java and Python if all PipelineStages are Java ones
  flink-python/pyflink/ml/api/base.py
  flink-python/pyflink/ml/tests/test_pipeline.py
  flink-python/pyflink/ml/tests/test_pipeline_it_case.py
Labels: component=API/Python, component=Library/MachineLearning, review=description?

#11414 [FLINK-16606][python] Throw exceptions for the data types which are not currently supported
  flink-python/pyflink/table/tests/test_calc.py
  flink-python/pyflink/table/tests/test_descriptor.py
  flink-python/pyflink/table/tests/test_types.py
  flink-python/pyflink/table/tests/test_udf.py
  flink-python/pyflink/table/types.py
Labels: component=API/Python, review=description?

#11442 [FLINK-16433][table-api] TableEnvironmentImpl doesn't clear buffered …
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/TableEnvironment.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/TableEnvironmentImpl.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/api/TableEnvironmentITCase.scala
Labels: component=TableSQL/API, review=description?

#11434 [FLINK-16646][orc] Flink read orc file throw a NullPointerException after re-open
  flink-formats/flink-orc/src/main/java/org/apache/flink/orc/OrcInputFormat.java
  flink-formats/flink-orc/src/test/java/org/apache/flink/orc/OrcRowInputFormatTest.java
Labels: component=Formats, review=description?

#11447 [FLINK-16646][orc] Flink read orc file throw a NullPointerException after re-open
  flink-formats/flink-orc/src/main/java/org/apache/flink/orc/OrcInputFormat.java
  flink-formats/flink-orc/src/test/java/org/apache/flink/orc/OrcRowInputFormatTest.java
Labels: component=Formats, review=description?

#11452 [FLINK-16678][Document/HBase Connector]fix the word error
  docs/dev/table/connect.md
  docs/dev/table/connect.zh.md
Labels: component=Documentation, review=description?

#11316 [FLINK-16432] Fix dependencies in Hive Connector build
  flink-connectors/flink-connector-hive/pom.xml
Labels: component=Connectors/Hive, review=description?

#11449 [FLINK-16675][test] Fix TableEnvironmentITCase.testClearOperation fai…
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/api/TableEnvironmentITCase.scala
Labels: component=TableSQL/API, review=description?

#11451 [FLINK-16675][test] Fix TableEnvironmentITCase.testClearOperation fai…
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/api/TableEnvironmentITCase.scala
Labels: component=TableSQL/API, review=description?

#11450 [FLINK-16676][python][test] Fix ValidationPipelineTest.test_pipeline_from_invalid_json failure on Azure
  flink-python/pyflink/ml/tests/test_pipeline.py
Labels: component=API/Python, review=description?

#11439 [FLINK-16650][python] Support LocalZonedTimestampType for Python UDF in blink planner
  flink-python/pyflink/fn_execution/coder_impl.py
  flink-python/pyflink/fn_execution/coders.py
  flink-python/pyflink/fn_execution/sdk_worker_main.py
  flink-python/pyflink/fn_execution/tests/test_coders_common.py
  flink-python/pyflink/table/tests/test_types.py
  flink-python/pyflink/table/tests/test_udf.py
  flink-python/pyflink/table/types.py
  flink-python/setup.py
  flink-python/src/main/java/org/apache/flink/python/AbstractPythonFunctionRunner.java
  flink-python/src/main/java/org/apache/flink/table/runtime/functions/python/PythonScalarFunctionFlatMap.java
  flink-python/src/main/java/org/apache/flink/table/runtime/operators/python/AbstractStatelessFunctionOperator.java
  flink-python/src/main/java/org/apache/flink/table/runtime/operators/python/scalar/BaseRowPythonScalarFunctionOperator.java
  flink-python/src/main/java/org/apache/flink/table/runtime/operators/python/scalar/PythonScalarFunctionOperator.java
  flink-python/src/main/java/org/apache/flink/table/runtime/operators/python/scalar/arrow/ArrowPythonScalarFunctionOperator.java
  flink-python/src/main/java/org/apache/flink/table/runtime/operators/python/scalar/arrow/BaseRowArrowPythonScalarFunctionOperator.java
  flink-python/src/main/java/org/apache/flink/table/runtime/operators/python/table/BaseRowPythonTableFunctionOperator.java
  flink-python/src/main/java/org/apache/flink/table/runtime/operators/python/table/PythonTableFunctionOperator.java
  flink-python/src/main/java/org/apache/flink/table/runtime/runners/python/AbstractPythonStatelessFunctionRunner.java
  flink-python/src/main/java/org/apache/flink/table/runtime/runners/python/scalar/AbstractGeneralPythonScalarFunctionRunner.java
  flink-python/src/main/java/org/apache/flink/table/runtime/runners/python/scalar/AbstractPythonScalarFunctionRunner.java
  flink-python/src/main/java/org/apache/flink/table/runtime/runners/python/scalar/BaseRowPythonScalarFunctionRunner.java
  flink-python/src/main/java/org/apache/flink/table/runtime/runners/python/scalar/PythonScalarFunctionRunner.java
  flink-python/src/main/java/org/apache/flink/table/runtime/runners/python/scalar/arrow/AbstractArrowPythonScalarFunctionRunner.java
  flink-python/src/main/java/org/apache/flink/table/runtime/runners/python/scalar/arrow/ArrowPythonScalarFunctionRunner.java
  flink-python/src/main/java/org/apache/flink/table/runtime/runners/python/scalar/arrow/BaseRowArrowPythonScalarFunctionRunner.java
  flink-python/src/main/java/org/apache/flink/table/runtime/runners/python/table/AbstractPythonTableFunctionRunner.java
  flink-python/src/main/java/org/apache/flink/table/runtime/runners/python/table/BaseRowPythonTableFunctionRunner.java
  flink-python/src/main/java/org/apache/flink/table/runtime/runners/python/table/PythonTableFunctionRunner.java
  flink-python/src/main/java/org/apache/flink/table/runtime/typeutils/PythonTypeUtils.java
  flink-python/src/test/java/org/apache/flink/table/runtime/operators/python/scalar/BaseRowPythonScalarFunctionOperatorTest.java
  flink-python/src/test/java/org/apache/flink/table/runtime/operators/python/scalar/PythonScalarFunctionOperatorTest.java
  flink-python/src/test/java/org/apache/flink/table/runtime/operators/python/scalar/arrow/ArrowPythonScalarFunctionOperatorTest.java
  flink-python/src/test/java/org/apache/flink/table/runtime/operators/python/scalar/arrow/BaseRowArrowPythonScalarFunctionOperatorTest.java
  flink-python/src/test/java/org/apache/flink/table/runtime/operators/python/table/BaseRowPythonTableFunctionOperatorTest.java
  flink-python/src/test/java/org/apache/flink/table/runtime/operators/python/table/PythonTableFunctionOperatorTest.java
  flink-python/src/test/java/org/apache/flink/table/runtime/runners/python/scalar/BaseRowPythonScalarFunctionRunnerTest.java
  flink-python/src/test/java/org/apache/flink/table/runtime/runners/python/scalar/PythonScalarFunctionRunnerTest.java
  flink-python/src/test/java/org/apache/flink/table/runtime/runners/python/scalar/arrow/ArrowPythonScalarFunctionRunnerTest.java
  flink-python/src/test/java/org/apache/flink/table/runtime/runners/python/table/BaseRowPythonTableFunctionRunnerTest.java
  flink-python/src/test/java/org/apache/flink/table/runtime/runners/python/table/PythonTableFunctionRunnerTest.java
  flink-python/src/test/java/org/apache/flink/table/runtime/utils/PassThroughArrowPythonScalarFunctionRunner.java
  flink-python/src/test/java/org/apache/flink/table/runtime/utils/PassThroughPythonScalarFunctionRunner.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/common/CommonPythonBase.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchExecPythonCalc.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchExecPythonCorrelate.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamExecPythonCalc.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamExecPythonCorrelate.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/utils/python/PythonTableUtils.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/plan/nodes/CommonPythonBase.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/plan/nodes/dataset/DataSetPythonCalc.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/plan/nodes/datastream/DataStreamPythonCalc.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/plan/nodes/datastream/DataStreamPythonCorrelate.scala
Labels: component=API/Python, review=description?

#11180 [FLINK-16220][json] Fix JsonRowSerializationSchema cast exception due…
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/JsonRowSerializationSchema.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/JsonRowSerializationSchemaTest.java
Labels: component=Formats, review=description?

#11441 [FLINK-16653][network][tests] Introduce ResultPartitionWriterTestBase for simplifying tests
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/api/writer/AbstractCollectingResultPartitionWriter.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/api/writer/AvailabilityTestResultPartitionWriter.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/api/writer/RecordWriterTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/MockResultPartitionWriter.java
Labels: component=Runtime/Network, component=Tests, review=description?

#11421 [FLINK-15962][network] Reduce the default chunk size to 4M in netty stack
  flink-end-to-end-tests/test-scripts/test_netty_shuffle_memory_control.sh
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/netty/NettyBufferPool.java
Labels: component=Runtime/Network, review=description?

#11430 [FLINK-16633][AZP] Fix builds without s3 credentials
  azure-pipelines.yml
  flink-test-utils-parent/flink-test-utils-junit/src/main/java/org/apache/flink/testutils/s3/S3TestCredentials.java
  tools/azure-pipelines/build-apache-repo.yml
  tools/azure-pipelines/jobs-template.yml
Labels: component=BuildSystem/AzurePipelines, component=FileSystems, review=description?

#11424 [FLINK-16345][table-planner-blink] Fix computed column can not refer row time attribute column
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/schema/CatalogSourceTable.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/TableScanTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/TableScanTest.scala
Labels: component=TableSQL/Planner, review=description?

#11476 [FLINK-16345][table-planner-blink] Fix computed column can not refer row time attribute column
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/schema/CatalogSourceTable.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/TableScanTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/TableScanTest.scala
Labels: component=TableSQL/Planner, review=description?

#11393 [FLINK-16532][core] Shouldn't trim whitespaces in Path
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/TableEnvHiveConnectorTest.java
  flink-core/src/main/java/org/apache/flink/core/fs/Path.java
  flink-core/src/test/java/org/apache/flink/core/fs/PathTest.java
Labels: component=Connectors/Hive, review=description?

#11484 [FLINK-16711][parquet] Parquet columnar row reader read footer from wrong end
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/vector/ParquetColumnarRowSplitReader.java
Labels: component=Formats, review=description?

#11485 [FLINK-16652][orc] BytesColumnVector should init buffer in Hive 3.x
  flink-formats/flink-orc/src/main/java/org/apache/flink/orc/vector/AbstractOrcColumnVector.java
Labels: component=Connectors/Hive, component=Connectors/ORC, review=description?

#11410 [FLINK-16567][Documentation] Get the API error of the StreamQueryConf…
  docs/dev/table/streaming/query_configuration.md
  docs/dev/table/streaming/query_configuration.zh.md
Labels: component=Documentation, review=description?

#11492 [FLINK-16740][orc] OrcSplitReaderUtil::logicalTypeToOrcType fails to …
  flink-formats/flink-orc/src/main/java/org/apache/flink/orc/OrcSplitReaderUtil.java
  flink-formats/flink-orc/src/test/java/org/apache/flink/orc/OrcSplitReaderUtilTest.java
Labels: component=Formats, review=description?

#11494 [FLINK-16732][hive] Failed to call Hive UDF with constant return value
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/functions/hive/HiveGenericUDF.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/module/hive/HiveModuleTest.java
Labels: component=Connectors/Hive, review=description?

#11396 [FLINK-16170][connectors/elasticsearch]SearchTemplateRequest ClassNotFoundException when use flink-sql-connector-elasticsearch7
  flink-connectors/flink-sql-connector-elasticsearch7/pom.xml
  flink-connectors/pom.xml
  flink-end-to-end-tests/flink-sql-client-test/pom.xml
  flink-end-to-end-tests/run-nightly-tests.sh
  flink-end-to-end-tests/test-scripts/elasticsearch-common.sh
  flink-end-to-end-tests/test-scripts/test_sql_client.sh
  tools/travis/splits/split_misc.sh
Labels: component=Connectors/ElasticSearch, review=description?

#11503 [FLINK-16759][hive] HiveModuleTest failed to compile on release-1.10
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/module/hive/HiveModuleTest.java
Labels: review=description?

#11490 [FLINK-15579][table-planner-blink] UpsertStreamTableSink should work on batch mode
  flink-connectors/flink-jdbc/src/test/java/org/apache/flink/api/java/io/jdbc/JDBCUpsertTableSinkITCase.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchExecSink.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamExecSink.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/utils/UpdatingPlanChecker.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/batch/table/TableSinkITCase.scala
Labels: component=TableSQL/Planner, review=description?

#11486 [FLINK-16712][task] Refactor StreamTask to construct final fields
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/output/BoundedStreamTask.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/AbstractTwoInputStreamTask.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/MultipleInputStreamTask.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/OneInputStreamTask.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/SourceReaderStreamTask.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/SourceStreamTask.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamIterationHead.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamIterationTail.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/TwoInputStreamTask.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/LocalStateForwardingTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/MultipleInputStreamTaskTestHarnessBuilder.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/OneInputStreamTaskTestHarness.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskExecutionDecorationTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskMailboxTestHarnessBuilder.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskSelectiveReadingTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTerminationTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTestHarness.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/SynchronousCheckpointITCase.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/SynchronousCheckpointTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/TaskCheckpointingBehaviourTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/TwoInputStreamTaskTestHarness.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/util/MockStreamTask.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/util/MockStreamTaskBuilder.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/codegen/agg/batch/BatchAggTestBase.scala
  flink-tests/src/test/java/org/apache/flink/runtime/jobmaster/JobMasterStopWithSavepointIT.java
Labels: component=Runtime/Task, review=description?

#11489 [FLINK-15640][k8s] Support to set labels for jobmanager and taskmanager pod
  docs/_includes/generated/kubernetes_config_configuration.html
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/configuration/KubernetesConfigOptions.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/parameters/AbstractKubernetesParameters.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/parameters/KubernetesJobManagerParameters.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/parameters/KubernetesTaskManagerParameters.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/utils/KubernetesUtils.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/KubernetesTestBase.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/KubernetesJobManagerTestBase.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/KubernetesTaskManagerTestBase.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/ExternalServiceDecoratorTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/InitJobManagerDecoratorTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/InitTaskManagerDecoratorTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/InternalServiceDecoratorTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/factory/KubernetesJobManagerFactoryTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/factory/KubernetesTaskManagerFactoryTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/parameters/KubernetesJobManagerParametersTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/parameters/KubernetesTaskManagerParametersTest.java
Labels: component=Deployment/Kubernetes, review=description?

#11458 [FLINK-16625][k8s] Extract BootstrapTools#getEnvironmentVariables to a general utility in ConfigurationUtils
  flink-core/src/main/java/org/apache/flink/configuration/ConfigurationUtils.java
  flink-core/src/test/java/org/apache/flink/configuration/ConfigurationUtilsTest.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/parameters/AbstractKubernetesParameters.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/parameters/KubernetesJobManagerParameters.java
  flink-runtime/src/main/java/org/apache/flink/runtime/clusterframework/BootstrapTools.java
  flink-runtime/src/test/java/org/apache/flink/runtime/clusterframework/BootstrapToolsTest.java
  flink-yarn/src/main/java/org/apache/flink/yarn/YarnClusterDescriptor.java
Labels: component=API/Core, review=description?

#11437 [FLINK-16604][web] fix column key in JM configuration is too narrow
  flink-runtime-web/web-dashboard/src/app/pages/job-manager/configuration/job-manager-configuration.component.html
Labels: component=Runtime/WebFrontend, review=description?

#11464 [FLINK-16629] Ignore Streaming bucketing end-to-end test with Hadoop 2.4.1
  flink-end-to-end-tests/run-nightly-tests.sh
Labels: component=API/DataStream, component=Tests, review=description?

#11506 [FLINK-16663][docs] Interpret versions as strings
  docs/_config.yml
Labels: review=description?

#11402 [FLINK-16166][build] Append additional javadoc options
  pom.xml
Labels: component=BuildSystem, component=Documentation, review=description?

#11280 [FLINK-16377][table] Support inline user defined functions in expression dsl
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/Expressions.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/expressions/resolver/rules/ResolveCallByArgumentsRule.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/CalculatedQueryOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/QueryOperationVisitor.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/utils/OperationTreeBuilder.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/utils/factories/CalculatedTableFactory.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/expressions/resolver/ExpressionResolverTest.java
  flink-table/flink-table-api-scala/src/main/scala/org/apache/flink/table/api/expressionDsl.scala
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/expressions/PlannerTypeInferenceUtilImpl.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/expressions/converter/CallExpressionConvertRule.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/expressions/converter/ExpressionConverter.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/expressions/converter/FunctionDefinitionConvertRule.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/expressions/converter/LegacyScalarFunctionConvertRule.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/functions/bridging/BridgingSqlAggFunction.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/functions/bridging/BridgingSqlFunction.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/functions/bridging/BridgingUtils.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/QueryOperationConverter.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/CorrelateCodeGenerator.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/expressions/PlannerExpressionConverter.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/expressions/aggregations.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/expressions/call.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/functions/utils/TableSqlFunction.scala
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/runtime/stream/table/FunctionITCase.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/table/stringexpr/CorrelateStringExpressionTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/table/validation/CalcValidationTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/table/validation/CorrelateValidationTest.scala
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/plan/QueryOperationConverter.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/expressions/PlannerExpressionConverter.scala
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/runtime/stream/sql/FunctionITCase.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/runtime/stream/table/FunctionITCase.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/stream/table/validation/CorrelateValidationTest.scala
Labels: component=TableSQL/API, component=TableSQL/Planner, review=description?

#11514 [FLINK-16778][e2e] Make sure all java e2e tests are running
  azure-pipelines.yml
  tools/azure-pipelines/build-apache-repo.yml
Labels: component=BuildSystem/AzurePipelines, component=TestInfrastructure, review=description?

#11483 [FLINK-15438][metrics][datadog] Report counter deltas and not totals
  flink-metrics/flink-metrics-datadog/src/main/java/org/apache/flink/metrics/datadog/DCounter.java
  flink-metrics/flink-metrics-datadog/src/main/java/org/apache/flink/metrics/datadog/DatadogHttpReporter.java
Labels: component=Runtime/Metrics, review=description?

#11526 [FLINK-16790][python][doc] enables the interpretation of backslash es…
  docs/getting-started/walkthroughs/python_table_api.md
  docs/getting-started/walkthroughs/python_table_api.zh.md
Labels: review=description?

#11508 [FLINK-16170][connectors/elasticsearch]SearchTemplateRequest ClassNotFoundException when use flink-sql-connector-elasticsearch7
  flink-connectors/flink-sql-connector-elasticsearch7/pom.xml
  flink-connectors/pom.xml
  flink-end-to-end-tests/flink-sql-client-test/pom.xml
  flink-end-to-end-tests/run-nightly-tests.sh
  flink-end-to-end-tests/test-scripts/elasticsearch-common.sh
  flink-end-to-end-tests/test-scripts/test_sql_client.sh
  tools/travis/splits/split_misc.sh
Labels: component=Connectors/ElasticSearch, review=description?

#11470 [FLINK-16671][python] Support for defining scopes and variables on Python metric group
  docs/_includes/generated/python_configuration.html
  flink-python/pyflink/fn_execution/operations.py
  flink-python/pyflink/metrics/__init__.py
  flink-python/pyflink/metrics/metricbase.py
  flink-python/pyflink/metrics/tests/__init__.py
  flink-python/pyflink/metrics/tests/test_metric.py
  flink-python/pyflink/table/udf.py
  flink-python/setup.py
  flink-python/src/main/java/org/apache/flink/python/AbstractPythonFunctionRunner.java
  flink-python/src/main/java/org/apache/flink/python/PythonConfig.java
  flink-python/src/main/java/org/apache/flink/python/PythonOptions.java
  flink-python/src/main/java/org/apache/flink/python/metric/FlinkMetricContainer.java
  flink-python/src/main/java/org/apache/flink/streaming/api/operators/python/AbstractPythonFunctionOperator.java
  flink-python/src/main/java/org/apache/flink/table/runtime/functions/python/PythonScalarFunctionFlatMap.java
  flink-python/src/main/java/org/apache/flink/table/runtime/operators/python/scalar/BaseRowPythonScalarFunctionOperator.java
  flink-python/src/main/java/org/apache/flink/table/runtime/operators/python/scalar/PythonScalarFunctionOperator.java
  flink-python/src/main/java/org/apache/flink/table/runtime/operators/python/scalar/arrow/ArrowPythonScalarFunctionOperator.java
  flink-python/src/main/java/org/apache/flink/table/runtime/operators/python/scalar/arrow/BaseRowArrowPythonScalarFunctionOperator.java
  flink-python/src/main/java/org/apache/flink/table/runtime/operators/python/table/BaseRowPythonTableFunctionOperator.java
  flink-python/src/main/java/org/apache/flink/table/runtime/operators/python/table/PythonTableFunctionOperator.java
  flink-python/src/main/java/org/apache/flink/table/runtime/runners/python/AbstractPythonStatelessFunctionRunner.java
  flink-python/src/main/java/org/apache/flink/table/runtime/runners/python/scalar/AbstractGeneralPythonScalarFunctionRunner.java
  flink-python/src/main/java/org/apache/flink/table/runtime/runners/python/scalar/AbstractPythonScalarFunctionRunner.java
  flink-python/src/main/java/org/apache/flink/table/runtime/runners/python/scalar/BaseRowPythonScalarFunctionRunner.java
  flink-python/src/main/java/org/apache/flink/table/runtime/runners/python/scalar/PythonScalarFunctionRunner.java
  flink-python/src/main/java/org/apache/flink/table/runtime/runners/python/scalar/arrow/AbstractArrowPythonScalarFunctionRunner.java
  flink-python/src/main/java/org/apache/flink/table/runtime/runners/python/scalar/arrow/ArrowPythonScalarFunctionRunner.java
  flink-python/src/main/java/org/apache/flink/table/runtime/runners/python/scalar/arrow/BaseRowArrowPythonScalarFunctionRunner.java
  flink-python/src/main/java/org/apache/flink/table/runtime/runners/python/table/AbstractPythonTableFunctionRunner.java
  flink-python/src/main/java/org/apache/flink/table/runtime/runners/python/table/BaseRowPythonTableFunctionRunner.java
  flink-python/src/main/java/org/apache/flink/table/runtime/runners/python/table/PythonTableFunctionRunner.java
  flink-python/src/test/java/org/apache/flink/python/PythonOptionsTest.java
  flink-python/src/test/java/org/apache/flink/table/runtime/operators/python/scalar/BaseRowPythonScalarFunctionOperatorTest.java
  flink-python/src/test/java/org/apache/flink/table/runtime/operators/python/scalar/PythonScalarFunctionOperatorTest.java
  flink-python/src/test/java/org/apache/flink/table/runtime/operators/python/scalar/arrow/ArrowPythonScalarFunctionOperatorTest.java
  flink-python/src/test/java/org/apache/flink/table/runtime/operators/python/scalar/arrow/BaseRowArrowPythonScalarFunctionOperatorTest.java
  flink-python/src/test/java/org/apache/flink/table/runtime/runners/python/scalar/BaseRowPythonScalarFunctionRunnerTest.java
  flink-python/src/test/java/org/apache/flink/table/runtime/runners/python/scalar/PythonScalarFunctionRunnerTest.java
  flink-python/src/test/java/org/apache/flink/table/runtime/runners/python/scalar/arrow/ArrowPythonScalarFunctionRunnerTest.java
  flink-python/src/test/java/org/apache/flink/table/runtime/runners/python/table/BaseRowPythonTableFunctionRunnerTest.java
  flink-python/src/test/java/org/apache/flink/table/runtime/runners/python/table/PythonTableFunctionRunnerTest.java
  flink-python/src/test/java/org/apache/flink/table/runtime/utils/PassThroughArrowPythonScalarFunctionRunner.java
  flink-python/src/test/java/org/apache/flink/table/runtime/utils/PassThroughPythonScalarFunctionRunner.java
  flink-python/src/test/java/org/apache/flink/table/runtime/utils/PythonTestUtils.java
Labels: component=API/Python, review=description?

#11517 [FLINK-16786][hotfix] fix pyarrow version in setup.py
  flink-python/setup.py
Labels: component=API/Python, review=description?

#11523 [hotfix][connector] Correct exception message
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/streaming/connectors/kafka/internal/KafkaPartitionDiscoverer.java
Labels: review=description?

#11129 [FLINK-16127][docs]Translate "Fault Tolerance Guarantees" page of connectors into Chinese
  docs/dev/connectors/guarantees.zh.md
Labels: component=Documentation, component=chinese-translation, review=description?

#11151 [FLINK-16128][docs]Translate "Google Cloud PubSub" page into Chinese
  docs/dev/connectors/pubsub.md
  docs/dev/connectors/pubsub.zh.md
Labels: component=Documentation, component=chinese-translation, review=description?

#11525 [hotfix][python] Improve the imports to use full path when importing a PyFlink module
  flink-python/pyflink/fn_execution/coder_impl.py
  flink-python/pyflink/fn_execution/coders.py
  flink-python/pyflink/ml/api/ml_environment.py
  flink-python/pyflink/ml/api/ml_environment_factory.py
  flink-python/pyflink/table/table_config.py
  flink-python/pyflink/testing/source_sink_utils.py
  flink-python/pyflink/testing/test_case_utils.py
Labels: review=description?

#11546 [FLINK-16821][e2e] Use constant minikube version instead of latest
  flink-end-to-end-tests/test-scripts/common_kubernetes.sh
Labels: component=Deployment/Kubernetes, component=Tests, review=description?

#11520 [FLINK-16798][scripts] Properly forward BashJavaUtils logging output
  flink-dist/src/main/flink-bin/bin/taskmanager.sh
Labels: component=Deployment/Scripts, review=description?

#10362 [FLINK-14792][coordination] Implement TE cluster partition release
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/TaskExecutorPartitionTracker.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/TaskExecutorPartitionTrackerImpl.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskExecutor.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskExecutorGateway.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/TaskExecutorPartitionTrackerImplTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/TestingTaskExecutorPartitionTracker.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskExecutorPartitionLifecycleTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TestingTaskExecutorGateway.java
Labels: component=Runtime/Coordination, review=description?

#11247 [FLINK-16262][Connectors] Set the context classloader for parallel stream in FlinkKafkaProducer
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/streaming/connectors/kafka/FlinkKafkaProducer.java
Labels: component=Connectors/Kafka, component=Deployment/Docker, review=description?

#11497 [FLINK-16262][Connectors] Set the context classloader for parallel stream in FlinkKafkaProducer
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/streaming/connectors/kafka/FlinkKafkaProducer.java
Labels: component=Connectors/Kafka, component=Deployment/Docker, review=description?

#11158 [FLINK-16070] [table-planner-blink] blink stream planner supports remove constant keys from an aggregate
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/FlinkStreamRuleSets.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/agg/HashAggregateTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/agg/SortAggregateTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/RankTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/agg/AggregateTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/agg/TwoStageAggregateTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/join/SemiAntiJoinTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/table/AggregateTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/table/TwoStageAggregateTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/batch/sql/agg/AggregateTestBase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/agg/AggregateTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/AggregateITCase.scala
Labels: component=TableSQL/Planner, review=description?

#11550 [FLINK-16727][table-planner-blink] Fix cast exception when having time point literal as parameters
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/calls/ScalarFunctionCallGen.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/expressions/call.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/functions/utils/ScalarSqlFunction.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/functions/utils/UserDefinedFunctionUtils.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/expressions/UserDefinedScalarFunctionTest.scala
Labels: component=TableSQL/Planner, review=description?

#11558 [FLINK-16070] [table-planner-blink] blink stream planner supports remove constant keys from an aggregate
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/FlinkStreamRuleSets.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/agg/HashAggregateTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/agg/SortAggregateTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/RankTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/agg/AggregateTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/agg/TwoStageAggregateTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/join/SemiAntiJoinTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/table/AggregateTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/table/TwoStageAggregateTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/batch/sql/agg/AggregateTestBase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/agg/AggregateTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/AggregateITCase.scala
Labels: component=TableSQL/Planner, review=description?

#11562 [FLINK-16862][quickstarts] Remove example url
  flink-quickstart/flink-quickstart-java/src/main/resources/archetype-resources/pom.xml
  flink-quickstart/flink-quickstart-scala/src/main/resources/archetype-resources/pom.xml
Labels: component=Quickstarts, review=description?

#11521 [FLINK-16796][python] Fix The Bug of Python UDTF in SQL Query
  flink-python/pyflink/table/tests/test_udtf.py
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/common/CommonPythonCorrelate.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/plan/nodes/CommonPythonCorrelate.scala
Labels: component=API/Python, review=description?

#11566 [FLINK-16673][python] Support metrics for Python UDTF
  flink-python/pyflink/table/tests/test_udtf.py
  flink-python/src/main/java/org/apache/flink/table/runtime/runners/python/table/AbstractPythonTableFunctionRunner.java
Labels: component=API/Python, review=description?

#11560 [FLINK-16857][table-planner-blink] Support partition prune by getPartitions of source
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSource.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/logical/PushPartitionIntoTableSourceScanRule.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/rules/logical/PushPartitionIntoTableSourceScanRuleTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/rules/logical/PushPartitionIntoTableSourceScanRuleTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/utils/testTableSources.scala
Labels: component=TableSQL/Planner, review=description?

#11504 [FLINK-16767][hive] Failed to read Hive table with RegexSerDe
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTablePartition.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSource.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HiveMapredSplitReader.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/util/HiveTableUtil.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/TableEnvHiveConnectorTest.java
Labels: component=Connectors/Hive, review=description?

#11575 [FLINK-16878][e2e][table] Fix dependency shading of table modules test failure after …
  flink-end-to-end-tests/test-scripts/test_table_shaded_dependencies.sh
Labels: component=TableSQL/Planner, review=description?

#11557 [FLINK-16849] [docs] Comment is not reasonable
  flink-annotations/src/main/java/org/apache/flink/annotation/Internal.java
Labels: component=Documentation, review=description?

#11582 [FLINK-16411][AZP] Cache maven artifacts for tests as well
  tools/azure-pipelines/jobs-template.yml
Labels: review=description?

#11581 [FLINK-16821][e2e] Use constant minikube version instead of latest
  flink-end-to-end-tests/test-scripts/common_kubernetes.sh
Labels: component=Deployment/Kubernetes, component=Tests, review=description?
