Repository apache/flink, pull requests merged in 2020-06, with the labels that each got.

#12320 [FLINK-17887][table][connector] Improve interface of ScanFormatFactory and SinkFormatFactory
  flink-connectors/flink-connector-elasticsearch6/src/main/java/org/apache/flink/streaming/connectors/elasticsearch/table/Elasticsearch6DynamicSink.java
  flink-connectors/flink-connector-elasticsearch6/src/main/java/org/apache/flink/streaming/connectors/elasticsearch/table/Elasticsearch6DynamicSinkFactory.java
  flink-connectors/flink-connector-elasticsearch6/src/test/java/org/apache/flink/streaming/connectors/elasticsearch/table/Elasticsearch6DynamicSinkTest.java
  flink-connectors/flink-connector-elasticsearch7/src/main/java/org/apache/flink/streaming/connectors/elasticsearch/table/Elasticsearch7DynamicSink.java
  flink-connectors/flink-connector-elasticsearch7/src/main/java/org/apache/flink/streaming/connectors/elasticsearch/table/Elasticsearch7DynamicSinkFactory.java
  flink-connectors/flink-connector-elasticsearch7/src/test/java/org/apache/flink/streaming/connectors/elasticsearch/table/Elasticsearch7DynamicSinkTest.java
  flink-connectors/flink-connector-hbase/src/main/java/org/apache/flink/connector/hbase/source/HBaseDynamicTableSource.java
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/table/JdbcDynamicTableSource.java
  flink-connectors/flink-connector-kafka-0.10/src/main/java/org/apache/flink/streaming/connectors/kafka/table/Kafka010DynamicSink.java
  flink-connectors/flink-connector-kafka-0.10/src/main/java/org/apache/flink/streaming/connectors/kafka/table/Kafka010DynamicSource.java
  flink-connectors/flink-connector-kafka-0.10/src/main/java/org/apache/flink/streaming/connectors/kafka/table/Kafka010DynamicTableFactory.java
  flink-connectors/flink-connector-kafka-0.10/src/test/java/org/apache/flink/streaming/connectors/kafka/table/Kafka010DynamicTableFactoryTest.java
  flink-connectors/flink-connector-kafka-0.11/src/main/java/org/apache/flink/streaming/connectors/kafka/table/Kafka011DynamicSink.java
  flink-connectors/flink-connector-kafka-0.11/src/main/java/org/apache/flink/streaming/connectors/kafka/table/Kafka011DynamicSource.java
  flink-connectors/flink-connector-kafka-0.11/src/main/java/org/apache/flink/streaming/connectors/kafka/table/Kafka011DynamicTableFactory.java
  flink-connectors/flink-connector-kafka-0.11/src/test/java/org/apache/flink/streaming/connectors/kafka/table/Kafka011DynamicTableFactoryTest.java
  flink-connectors/flink-connector-kafka-base/src/main/java/org/apache/flink/streaming/connectors/kafka/table/KafkaDynamicSinkBase.java
  flink-connectors/flink-connector-kafka-base/src/main/java/org/apache/flink/streaming/connectors/kafka/table/KafkaDynamicSourceBase.java
  flink-connectors/flink-connector-kafka-base/src/main/java/org/apache/flink/streaming/connectors/kafka/table/KafkaDynamicTableFactoryBase.java
  flink-connectors/flink-connector-kafka-base/src/test/java/org/apache/flink/streaming/connectors/kafka/table/KafkaDynamicTableFactoryTestBase.java
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/streaming/connectors/kafka/table/KafkaDynamicSink.java
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/streaming/connectors/kafka/table/KafkaDynamicSource.java
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/streaming/connectors/kafka/table/KafkaDynamicTableFactory.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/KafkaDynamicTableFactoryTest.java
  flink-formats/flink-avro/src/main/java/org/apache/flink/formats/avro/AvroFormatFactory.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/AvroFormatFactoryTest.java
  flink-formats/flink-csv/src/main/java/org/apache/flink/formats/csv/CsvFormatFactory.java
  flink-formats/flink-csv/src/test/java/org/apache/flink/formats/csv/CsvFormatFactoryTest.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/JsonFormatFactory.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/canal/CanalJsonFormatFactory.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/debezium/DebeziumJsonFormatFactory.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/JsonFormatFactoryTest.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/canal/CanalJsonFormatFactoryTest.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/debezium/DebeziumJsonFormatFactoryTest.java
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/table/factories/DataGenTableSourceFactory.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/connector/format/DecodingFormat.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/connector/format/EncodingFormat.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/connector/format/Format.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/connector/source/DynamicTableSource.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/connector/source/LookupTableSource.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/connector/source/ScanTableSource.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/factories/DecodingFormatFactory.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/factories/DeserializationFormatFactory.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/factories/EncodingFormatFactory.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/factories/FactoryUtil.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/factories/SerializationFormatFactory.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/factories/FactoryUtilTest.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/factories/TestDynamicTableFactory.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/factories/TestFormatFactory.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/factories/TestValuesTableFactory.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/connector/source/LookupRuntimeProviderContext.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/connector/source/ScanRuntimeProviderContext.java
Labels: component=TableSQL/API, review=description?

#12414 [FLINK-17967][Documentation]Could not find document *** in docs
  docs/concepts/flink-architecture.zh.md
  docs/dev/batch/hadoop_compatibility.zh.md
  docs/dev/batch/index.zh.md
  docs/dev/connectors/cassandra.zh.md
  docs/dev/stream/operators/index.zh.md
  docs/dev/stream/state/state.zh.md
  docs/dev/table/common.zh.md
Labels: component=Documentation, review=description?

#12397 [FLINK-17230] Fix incorrect address of Endpoint for external Service with ClusterIP type
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/Fabric8FlinkKubeClient.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/decorators/ExternalServiceDecorator.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/decorators/InternalServiceDecorator.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/utils/KubernetesUtils.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/KubernetesClientTestBase.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/KubernetesClusterDescriptorTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/Fabric8FlinkKubeClientTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/ExternalServiceDecoratorTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/InternalServiceDecoratorTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/factory/KubernetesJobManagerFactoryTest.java
Labels: component=Deployment/Kubernetes, review=description?

#12406 [FLINK-17994][checkpointing] Fix the race condition between CheckpointBarrierUnaligner#processBarrier and #notifyBarrierReceived
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/CheckpointBarrierUnaligner.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/CheckpointBarrierUnalignerTest.java
Labels: component=Runtime/Checkpointing, review=description?

#12146 [FLINK-17968][hbase] Fix Hadoop Configuration is not properly serialized in HBaseRowInputFormat
  flink-connectors/flink-connector-hbase/src/main/java/org/apache/flink/addons/hbase/TableInputFormat.java
  flink-connectors/flink-connector-hbase/src/main/java/org/apache/flink/connector/hbase/source/AbstractTableInputFormat.java
  flink-connectors/flink-connector-hbase/src/main/java/org/apache/flink/connector/hbase/source/HBaseInputFormat.java
  flink-connectors/flink-connector-hbase/src/main/java/org/apache/flink/connector/hbase/source/HBaseRowDataInputFormat.java
  flink-connectors/flink-connector-hbase/src/main/java/org/apache/flink/connector/hbase/source/HBaseRowInputFormat.java
  flink-connectors/flink-connector-hbase/src/test/java/org/apache/flink/connector/hbase/HBaseConnectorITCase.java
  flink-connectors/flink-connector-hbase/src/test/java/org/apache/flink/connector/hbase/example/HBaseReadExample.java
  flink-connectors/flink-connector-hbase/src/test/java/org/apache/flink/connector/hbase/util/HBaseTestBase.java
  flink-connectors/flink-connector-hbase/src/test/java/org/apache/flink/connector/hbase/util/HBaseTestingClusterAutoStarter.java
Labels: component=Connectors/HBase, component=TableSQL/Ecosystem, review=description?

#12430 [FLINK-17823][network] Resolve the race condition while releasing RemoteInputChannel
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/RemoteInputChannel.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/consumer/RemoteInputChannelTest.java
Labels: component=Runtime/Network, review=description?

#12419 [FLINK-17996][table-planner-blink] NPE in CatalogTableStatisticsConverter.convertToColumnStats method
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/utils/CatalogTableStatisticsConverter.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/utils/CatalogTableStatisticsConverterTest.java
Labels: component=TableSQL/Planner, review=description?

#12383 [FLINK-18008][runtime] HistoryServer logs environment info
  flink-runtime-web/src/main/java/org/apache/flink/runtime/webmonitor/history/HistoryServer.java
Labels: component=Runtime/Coordination, review=description?

#12384 [FLINK-18010][runtime] Expand HistoryServer logging
  flink-runtime-web/src/main/java/org/apache/flink/runtime/webmonitor/history/HistoryServerArchiveFetcher.java
Labels: component=Runtime/Coordination, review=description?

#12438 [FLINK-17992][checkpointing] Exception from RemoteInputChannel#onBuffer should not fail the whole NetworkClientHandler
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/netty/CreditBasedPartitionRequestClientHandler.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/netty/CreditBasedPartitionRequestClientHandlerTest.java
Labels: component=Runtime/Network, review=description?

#12333 [FLINK-17937][hive] Change some hive connector tests to IT cases
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDialectITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveLookupJoinITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTableSinkITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTableSourceITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/TableEnvHiveConnectorITCase.java
Labels: component=Connectors/Hive, component=Tests, review=description?

#12418 [hotfix][docs] Fix the description of bounded-of-orderness in docs/de…
  docs/dev/event_timestamps_watermarks.md
Labels: review=description?

#12415 [FLINK-17895] Default value of rows-per-second in datagen is changed …
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/table/factories/DataGenTableSourceFactory.java
Labels: component=TableSQL/API, review=description?

#12450 [FLINK-18075] Call open method of SerializationSchema in Kafka producer
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/streaming/connectors/kafka/FlinkKafkaProducer.java
Labels: component=Connectors/Kafka, component=Formats, review=description?

#12448 [FLINK-18051][AZP] Fail Maven setup stage on error
  tools/ci/maven-utils.sh
Labels: component=BuildSystem/AzurePipelines, review=description?

#12461 [FLINK-17994][checkpointing] Fix the race condition between CheckpointBarrierUnaligner#processBarrier and #notifyBarrierReceived
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/CheckpointBarrierUnaligner.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/CheckpointBarrierUnalignerTest.java
Labels: component=Runtime/Checkpointing, review=description?

#12432 [FLINK-16451][table-planner-blink] Fix IndexOutOfBoundsException for DISTINCT AGG with constants
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/agg/AggsHandlerCodeGenerator.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/agg/DistinctAggCodeGen.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/OverWindowITCase.scala
Labels: component=TableSQL/Planner, review=description?

#12425 [FLINK-17466][table-planner-blink] Fix toRetractStream doesn't work correctly with Pojo conversion class
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/SinkCodeGenerator.scala
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/runtime/utils/JavaPojos.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/StreamTableEnvironmentITCase.scala
Labels: component=TableSQL/Planner, review=description?

#12477 [FLINK-18037][Documentation]The doc of StreamTaskNetworkInput.java may has a redundant 'status'
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/StreamTaskNetworkInput.java
Labels: review=description?

#12283 [FLINK-16975][documentation] Add docs for FileSystem connector
  docs/dev/table/connectors/filesystem.md
  docs/dev/table/connectors/filesystem.zh.md
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/FileSystemOptions.java
Labels: component=Documentation, review=description?

#12431 [FLINK-18055] [sql-client] Fix catalog/database does not exist in sql client
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/SqlCommandParser.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliClientTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/SqlCommandParserTest.java
Labels: component=TableSQL/Client, review=description?

#12458 [FLINK-17404] Make sure netty 3.10.6 is used in flink-runtime
  flink-runtime/pom.xml
Labels: component=Runtime/Coordination, component=TestInfrastructure, component=Tests, review=description?

#12326 [FLINK-16577] [table-planner-blink] Fix numeric type mismatch error in  column interval relmetadata
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdColumnInterval.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/utils/ColumnIntervalUtil.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/utils/FlinkRelOptUtil.scala
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/catalog/CatalogStatisticsTest.java
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/agg/AggregateTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdColumnIntervalTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdFilteredColumnIntervalTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdHandlerTestBase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/agg/AggregateTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/utils/ColumnIntervalUtilTest.scala
Labels: component=TableSQL/Planner, review=description?

#12352 [FLINK-17717][sql-parser] Throws for DDL create temporary system func…
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/SqlCommandParserTest.java
  flink-table/flink-sql-parser/src/main/codegen/includes/parserImpls.ftl
  flink-table/flink-sql-parser/src/test/java/org/apache/flink/sql/parser/FlinkSqlParserImplTest.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/TableEnvironmentImpl.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/runtime/stream/sql/FunctionITCase.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/api/TableEnvironmentTest.scala
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/runtime/stream/sql/FunctionITCase.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/batch/BatchTableEnvironmentTest.scala
Labels: component=TableSQL/API, review=description?

#12470 [FLINK-18074][checkpoint] Ensure task could fail when exception thrown out on notified of checkpoint completed/aborted
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTest.java
Labels: component=Runtime/Checkpointing, component=Runtime/Task, review=description?

#12498 [FLINK-18143][python] Fix Python meter metric incorrect value problem
  flink-python/src/main/java/org/apache/flink/python/metric/FlinkMetricContainer.java
Labels: review=description?

#12435 [FLINK-18059] [sql-client] Fix create/drop catalog statement can not be executed in sql client
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliClient.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliStrings.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliClientTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/TestingExecutor.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/TestingExecutorBuilder.java
Labels: component=TableSQL/Client, review=description?

#12497 [FLINK-18142][hive] Wrong state names in HiveContinuousMonitoringFunction
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HiveContinuousMonitoringFunction.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTableSourceITCase.java
Labels: component=Connectors/Hive, review=description?

#12028 [FLINK-17553][table]fix plan error when constant exists in group window key
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/FlinkStreamRuleSets.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/RankTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/agg/WindowAggregateTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/agg/WindowAggregateTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/WindowAggregateITCase.scala
Labels: component=TableSQL/Planner, review=description?

#12494 [FLINK-18038] [statebackend] Logging user-provided state backends after they are configured
  flink-runtime/src/main/java/org/apache/flink/runtime/state/StateBackendLoader.java
Labels: component=Runtime/StateBackends, review=description?

#12466 [FLINK-18042][build] Bump flink-shaded to 11.0
  flink-test-utils-parent/flink-test-utils/src/main/java/org/apache/flink/test/util/SecureTestEnvironment.java
  pom.xml
Labels: component=BuildSystem, review=description?

#12416 [FLINK-17816] Change Latency Marker to work with scheduleAtFixedDelay
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/StreamSource.java
Labels: component=Runtime/Task, review=description?

#12483 [FLINK-15339][table][docs] Correct the terminology of "Time-windowed Join" to "Interval Join" in Table API & SQL
  docs/dev/table/sql/queries.md
  docs/dev/table/sql/queries.zh.md
  docs/dev/table/streaming/joins.md
  docs/dev/table/streaming/joins.zh.md
  docs/dev/table/streaming/match_recognize.md
  docs/dev/table/streaming/match_recognize.zh.md
  docs/dev/table/tableApi.md
  docs/dev/table/tableApi.zh.md
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdColumnUniqueness.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdModifiedMonotonicity.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdUniqueKeys.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamExecIntervalJoin.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/optimize/program/FlinkChangelogModeInferenceProgram.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/FlinkStreamRuleSets.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/stream/StreamExecIntervalJoinRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/stream/StreamExecJoinRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/stream/StreamExecTemporalJoinRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/utils/IntervalJoinUtil.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/api/stream/ExplainTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/MiniBatchIntervalInferTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/join/IntervalJoinTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/table/JoinTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/MiniBatchIntervalInferTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/join/IntervalJoinTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/IntervalJoinITCase.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/join/interval/EmitAwareCollector.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/join/interval/ProcTimeIntervalJoin.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/join/interval/RowTimeIntervalJoin.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/join/interval/TimeIntervalJoin.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/join/interval/ProcTimeIntervalJoinTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/join/interval/RowTimeIntervalJoinTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/join/interval/TimeIntervalStreamJoinTestBase.java
Labels: component=Documentation, component=TableSQL/API, review=description?

#12493 [FLINK-18139][checkpointing] Fixing unaligned checkpoints checks wrong channels for inflight data.
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/consumer/SingleInputGateBuilder.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/AlternatingCheckpointBarrierHandler.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/CheckpointBarrierHandler.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/CheckpointBarrierUnaligner.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/CheckpointedInputGate.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/AlternatingCheckpointBarrierHandlerTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/StreamTaskNetworkInputTest.java
Labels: component=Runtime/Checkpointing, review=description?

#12506 [FLINK-18139][checkpointing] Fixing unaligned checkpoints checks wrong channels for inflight data.
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/consumer/SingleInputGateBuilder.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/AlternatingCheckpointBarrierHandler.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/CheckpointBarrierHandler.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/CheckpointBarrierUnaligner.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/CheckpointedInputGate.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/AlternatingCheckpointBarrierHandlerTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/StreamTaskNetworkInputTest.java
Labels: component=Runtime/Checkpointing, review=description?

#12496 [FLINK-18110][fs-connector] StreamingFileSink notifies for buckets detected to be inactive on restoring
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/sink/filesystem/Buckets.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/functions/sink/filesystem/BucketsTest.java
Labels: component=Connectors/FileSystem, component=Connectors/Hive, review=description?

#12503 [FLINK-18151][python] Resolve CWE22 problems in pyflink_gateway_server.py
  flink-python/pyflink/pyflink_gateway_server.py
Labels: component=API/Python, review=description?

#12439 [FLINK-17776][hive][doc] Add documentation for DDL&DML in hive dialect
  docs/dev/table/hive/hive_dialect.md
  docs/dev/table/hive/hive_dialect.zh.md
  docs/dev/table/hive/index.md
Labels: component=Documentation, review=description?

#12319 [FLINK-17406][doc] Add documentation about dynamic table options
  docs/dev/table/config.md
  docs/dev/table/config.zh.md
  docs/dev/table/sql/hints.md
  docs/dev/table/sql/hints.zh.md
  docs/dev/table/sql/index.md
  docs/dev/table/sql/index.zh.md
  docs/dev/table/sql/queries.md
  docs/dev/table/sql/queries.zh.md
Labels: component=Documentation, review=description?

#12424 [FLINK-18046][hive] Decimal column stats not supported for Hive table
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/util/HiveStatsUtil.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveCatalogHiveMetadataTest.java
Labels: component=Connectors/Hive, review=description?

#12502 [FLINK-17635][docs][table sql / api] Add documentation about view support
  docs/dev/table/sql/create.md
  docs/dev/table/sql/create.zh.md
  docs/dev/table/sql/drop.md
  docs/dev/table/sql/drop.zh.md
  docs/dev/table/sql/index.md
  docs/dev/table/sql/index.zh.md
  docs/dev/table/sql/queries.md
  docs/dev/table/sql/queries.zh.md
Labels: component=Documentation, component=TableSQL/API, review=description?

#12468 [FLINK-18075] Wrap the SerializationSchema in KafkaSerializationSchema in Kafka connector
  flink-connectors/flink-connector-kafka-0.10/src/test/java/org/apache/flink/streaming/connectors/kafka/FlinkKafkaProducerTest.java
  flink-connectors/flink-connector-kafka-0.10/src/test/java/org/apache/flink/streaming/connectors/kafka/KafkaTestEnvironmentImpl.java
  flink-connectors/flink-connector-kafka-0.11/src/test/java/org/apache/flink/streaming/connectors/kafka/FlinkKafkaProducerTest.java
  flink-connectors/flink-connector-kafka-0.11/src/test/java/org/apache/flink/streaming/connectors/kafka/KafkaTestEnvironmentImpl.java
  flink-connectors/flink-connector-kafka-base/src/main/java/org/apache/flink/streaming/connectors/kafka/internals/KafkaSerializationSchemaWrapper.java
  flink-connectors/flink-connector-kafka-base/src/test/java/org/apache/flink/streaming/connectors/kafka/KafkaConsumerTestBase.java
  flink-connectors/flink-connector-kafka-base/src/test/java/org/apache/flink/streaming/connectors/kafka/KafkaProducerTestBase.java
  flink-connectors/flink-connector-kafka-base/src/test/java/org/apache/flink/streaming/connectors/kafka/KafkaShortRetentionTestBase.java
  flink-connectors/flink-connector-kafka-base/src/test/java/org/apache/flink/streaming/connectors/kafka/KafkaTestEnvironment.java
  flink-connectors/flink-connector-kafka-base/src/test/java/org/apache/flink/streaming/connectors/kafka/testutils/DataGenerators.java
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/streaming/connectors/kafka/FlinkKafkaProducer.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/FlinkKafkaProducerTest.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/KafkaTestEnvironmentImpl.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/KafkaTableITCase.java
Labels: component=Connectors/Kafka, component=Formats, review=description?

#12303 [FLINK-17625] [table] Fix ArrayIndexOutOfBoundsException in AppendOnlyTopNFunction
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/rank/AppendOnlyTopNFunction.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/rank/TopNBuffer.java
Labels: component=TableSQL/Planner, review=description?

#12355 [FLINK-17893] [sql-client] SQL CLI should print the root cause if the statement is invalid
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliClient.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliStrings.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/SqlCommandParser.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliClientTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/SqlCommandParserTest.java
Labels: component=TableSQL/Client, review=description?

#12382 [FLINK-16291][hive] Ban count from HiveModule
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/module/hive/HiveModule.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/module/hive/HiveModuleTest.java
Labels: component=Connectors/Hive, component=TableSQL/Planner, review=description?

#12408 [FLINK-16559][hive] Add test for avro table
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/TableEnvHiveConnectorITCase.java
Labels: component=Connectors/Hive, component=Tests, review=description?

#12485 [FLINK-18130][hive][fs-connector] File name conflict for different jobs in filesystem/hive sink
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSink.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTableSinkITCase.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/FileSystemITCaseBase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/StreamFileSystemITCaseBase.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/FileSystemTableSink.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/PartitionLoader.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/PartitionTempFileManager.java
Labels: component=Connectors/FileSystem, component=Connectors/Hive, review=description?

#12489 [FLINK-18136] Don't start channel state writing for savepoints (RPC)
  flink-runtime/src/test/java/org/apache/flink/runtime/state/TestCheckpointStorageWorkerView.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/CheckpointBarrierUnaligner.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/InputProcessorUtil.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/MultipleInputStreamTask.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/OneInputStreamTask.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/SubtaskCheckpointCoordinator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/SubtaskCheckpointCoordinatorImpl.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/TwoInputStreamTask.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/AlternatingCheckpointBarrierHandlerTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/CheckpointBarrierUnalignerCancellationTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/CheckpointBarrierUnalignerTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/InputProcessorUtilTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/StreamTaskNetworkInputTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/SubtaskCheckpointCoordinatorTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/TestSubtaskCheckpointCoordinator.java
Labels: component=Runtime/Checkpointing, component=Runtime/Task, review=description?

#12526 [FLINK-18181][fs-connector] StreamingFileCommitter should not use fs modification time for proc committer
  docs/dev/table/connectors/filesystem.md
  docs/dev/table/connectors/filesystem.zh.md
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSink.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/FileSystemTableSink.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/PartitionCommitPolicy.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/stream/PartitionCommitTrigger.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/stream/PartitionTimeCommitTigger.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/stream/ProcTimeCommitTigger.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/stream/StreamingFileCommitter.java
Labels: component=Connectors/FileSystem, review=description?

#12321 Add document for writing Avro files with StreamingFileSink
  docs/dev/connectors/streamfile_sink.md
  docs/dev/connectors/streamfile_sink.zh.md
Labels: review=description?

#12544 [FLINK-18207][FLINK-18185][table] Fix datagen connector bugs
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/functions/StatefulSequenceSourceTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/functions/source/datagen/DataGeneratorSourceTest.java
  flink-table/flink-table-api-java-bridge/pom.xml
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/table/factories/DataGenTableSourceFactory.java
  flink-table/flink-table-api-java-bridge/src/test/java/org/apache/flink/table/factories/DataGenTableSourceFactoryTest.java
Labels: component=TableSQL/API, review=description?

#12522 [FLINK-18176][document] Add supplement for file system connector document
  docs/dev/table/connectors/filesystem.md
  docs/dev/table/connectors/filesystem.zh.md
Labels: component=Connectors/FileSystem, component=Documentation, review=description?

#12517 [FLINK-18018] Bundle GPU plugin in plugins/ directory
  flink-dist/src/main/assemblies/opt.xml
  flink-dist/src/main/assemblies/plugins.xml
Labels: component=Runtime/Coordination, review=description?

#12513 [FLINK-18057][tests] Fix unstable test SingleInputGateTest#testConcurrentReadStateAndProcessAndClose
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/consumer/SingleInputGateTest.java
Labels: component=Runtime/Network, component=Tests, review=description?

#12515 [FLINK-18057][tests] Fix unstable test SingleInputGateTest#testConcurrentReadStateAndProcessAndClose
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/consumer/SingleInputGateTest.java
Labels: component=Runtime/Network, component=Tests, review=description?

#12564 [hotfix][javadocs]Fix typo in KafkaResource.java
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/src/main/java/org/apache/flink/tests/util/kafka/KafkaResource.java
Labels: review=description?

#12545 [FLINK-18136] Don't start channel state writing for savepoints (backport to 1.11)
  flink-runtime/src/test/java/org/apache/flink/runtime/state/TestCheckpointStorageWorkerView.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/CheckpointBarrierUnaligner.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/InputProcessorUtil.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/MultipleInputStreamTask.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/OneInputStreamTask.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/SubtaskCheckpointCoordinator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/SubtaskCheckpointCoordinatorImpl.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/TwoInputStreamTask.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/AlternatingCheckpointBarrierHandlerTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/CheckpointBarrierUnalignerCancellationTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/CheckpointBarrierUnalignerTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/InputProcessorUtilTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/StreamTaskNetworkInputTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/SubtaskCheckpointCoordinatorTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/TestSubtaskCheckpointCoordinator.java
Labels: component=Runtime/Checkpointing, component=Runtime/Task, review=description?

#12555 [FLINK-18215][conf] Add log level to JavaBashUtils log4j config
  flink-dist/src/main/resources/log4j-bash-utils.properties
Labels: component=Runtime/Configuration, review=description?

#12581 [hotfix] Correct the default path of nvidia-gpu-discovery
  flink-external-resources/flink-external-resource-gpu/src/main/java/org/apache/flink/externalresource/gpu/GPUDriver.java
Labels: review=description?

#12573 [FLINK-18232][hive] Fix Hive streaming source bugs
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSource.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/DirectoryMonitorDiscovery.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HiveMapredSplitReader.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HiveTableFileInputFormat.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTableSourceITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/read/DirectoryMonitorDiscoveryTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/read/HiveTableFileInputFormatTest.java
Labels: component=Connectors/Hive, review=description?

#12580 [hotfix][avro] Link to Hadoop Integration in Avro format documentation
  docs/dev/table/connectors/formats/avro.md
  docs/dev/table/connectors/formats/avro.zh.md
Labels: review=description?

#12569 [FLINK-18224][docs] Add document about sql client's tableau result mode
  docs/dev/table/sqlClient.md
  docs/dev/table/sqlClient.zh.md
  flink-table/flink-sql-client/conf/sql-client-defaults.yaml
Labels: component=Documentation, component=TableSQL/Client, review=description?

#12403 [FLINK-18030][hive] Hive UDF doesn't accept empty string literal para…
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/util/HiveTypeUtil.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveCatalogDataTypeTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/module/hive/HiveModuleTest.java
Labels: component=Connectors/Hive, review=description?

#12378 [FLINK-17965][sql-parser-hive] Hive dialect needs to unescape backslash in string literals
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/util/HiveTableUtil.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDialectITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/TableEnvHiveConnectorITCase.java
  flink-table/flink-sql-parser-hive/src/main/java/org/apache/flink/sql/parser/hive/ddl/HiveDDLUtils.java
  flink-table/flink-sql-parser-hive/src/main/java/org/apache/flink/sql/parser/hive/ddl/SqlAddHivePartitions.java
  flink-table/flink-sql-parser-hive/src/main/java/org/apache/flink/sql/parser/hive/ddl/SqlAlterHiveDatabaseProps.java
  flink-table/flink-sql-parser-hive/src/main/java/org/apache/flink/sql/parser/hive/ddl/SqlAlterHivePartitionRename.java
  flink-table/flink-sql-parser-hive/src/main/java/org/apache/flink/sql/parser/hive/ddl/SqlAlterHiveTableProps.java
  flink-table/flink-sql-parser-hive/src/main/java/org/apache/flink/sql/parser/hive/ddl/SqlAlterHiveTableSerDe.java
  flink-table/flink-sql-parser-hive/src/main/java/org/apache/flink/sql/parser/hive/ddl/SqlAlterHiveViewProperties.java
  flink-table/flink-sql-parser-hive/src/main/java/org/apache/flink/sql/parser/hive/ddl/SqlCreateHiveDatabase.java
  flink-table/flink-sql-parser-hive/src/main/java/org/apache/flink/sql/parser/hive/ddl/SqlCreateHiveTable.java
  flink-table/flink-sql-parser-hive/src/main/java/org/apache/flink/sql/parser/hive/ddl/SqlCreateHiveView.java
  flink-table/flink-sql-parser-hive/src/main/java/org/apache/flink/sql/parser/hive/dml/RichSqlHiveInsert.java
  flink-table/flink-sql-parser-hive/src/test/java/org/apache/flink/sql/parser/hive/FlinkHiveSqlParserImplTest.java
Labels: component=TableSQL/Client, review=description?

#12574 [FLINK-18131][doc] Add documentation for the new JSON format
  docs/dev/table/connectors/formats/index.md
  docs/dev/table/connectors/formats/index.zh.md
  docs/dev/table/connectors/formats/json.md
  docs/dev/table/connectors/formats/json.zh.md
Labels: component=Documentation, component=Formats, component=TableSQL/Ecosystem, review=description?

#12562 [FLINK-18160][scripts] Do not log about HADOOP_CONF_DIR if HADOOP_CLA…
  flink-dist/src/main/flink-bin/bin/config.sh
Labels: component=Deployment/YARN, review=description?

#12571 [FLINK-18132][doc] Add documentation for the new CSV format
  docs/dev/table/connectors/formats/csv.md
  docs/dev/table/connectors/formats/csv.zh.md
  docs/dev/table/connectors/formats/index.md
  docs/dev/table/connectors/formats/index.zh.md
Labels: component=Documentation, component=Formats, component=TableSQL/Ecosystem, review=description?

#12537 [FLINK-17733][FLINK-16448][hive][doc] Adjust Hive doc & Add documentation for real-time hive
  docs/dev/table/connectors/filesystem.md
  docs/dev/table/connectors/filesystem.zh.md
  docs/dev/table/hive/hive_catalog.md
  docs/dev/table/hive/hive_catalog.zh.md
  docs/dev/table/hive/hive_read_write.md
  docs/dev/table/hive/hive_read_write.zh.md
  docs/dev/table/hive/hive_streaming.md
  docs/dev/table/hive/hive_streaming.zh.md
  docs/dev/table/hive/scala_shell_hive.md
  docs/dev/table/hive/scala_shell_hive.zh.md
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/FileSystemOptions.java
Labels: component=Connectors/Hive, component=Documentation, review=description?

#12567 [FLINK-15849][doc] Update SQL-CLIENT document from type to data-type
  docs/dev/table/sqlClient.md
  docs/dev/table/sqlClient.zh.md
Labels: component=Documentation, component=TableSQL/API, review=description?

#12595 [FLINK-18247][table-planner-blink] Fix unstable test: TableITCase.testCollectWithClose
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/api/TableITCase.scala
Labels: component=TableSQL/API, component=Tests, review=description?

#12553 [FLINK-18217][conf] Explicitly check for empty string
  flink-dist/src/main/flink-bin/bin/config.sh
Labels: component=<none>, review=description?

#12582 [hotfix] Use hyphen instead of underscore when naming plugin's directory
  flink-dist/src/main/assemblies/plugins.xml
  flink-external-resources/flink-external-resource-gpu/src/main/java/org/apache/flink/externalresource/gpu/GPUDriver.java
Labels: review=description?

#12588 [FLINK-18058][mesos][tests] Increase heartbeat interval/timeout
  flink-mesos/src/test/java/org/apache/flink/mesos/runtime/clusterframework/MesosResourceManagerTest.java
Labels: component=Deployment/Mesos, review=description?

#12603 [1.11][FLINK-16375][table] Reintroduce registerTable[Source/Sink] methods for table env
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/TableEnvironment.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/TableEnvironmentImpl.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/LegacySinkTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/table/LegacyTableSourceTest.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/api/internal/TableEnvImpl.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/stream/table/TableSourceTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/runtime/batch/sql/TableEnvironmentITCase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/utils/MockTableEnvironment.scala
Labels: component=TableSQL/API, review=description?

#12608 [FLINK-18247][table-planner-blink] Fix unstable test: TableITCase.testCollectWithClose
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/api/TableITCase.scala
Labels: component=TableSQL/API, component=Tests, review=description?

#11924 [FLINK-17182][network] Fix the unstable input channel test by recycling exclusive and floating buffer in the same thread
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/consumer/RemoteInputChannelTest.java
Labels: component=Runtime/Network, review=description?

#12613 [FLINK-17182][network] Fix the unstable input channel test by recycling exclusive and floating buffer in the same thread
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/consumer/RemoteInputChannelTest.java
Labels: component=Runtime/Network, review=description?

#12604 [FLINK-18256][orc] Exclude ORC's Hadoop dependency and pull in provided vanilla hadoop in flink-orc
  flink-formats/flink-orc/pom.xml
Labels: component=Formats, review=description?

#12617 [FLINK-18252][checkpointing] Fix savepoint overtaking output data.
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/SubtaskCheckpointCoordinatorImpl.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/SubtaskCheckpointCoordinatorTest.java
Labels: component=Runtime/Checkpointing, review=description?

#12599 [FLINK-18253][doc][avro] Add filesystem option documentation for Avro
  docs/dev/table/connectors/formats/avro.md
  docs/dev/table/connectors/formats/avro.zh.md
Labels: component=Formats, review=description?

#12597 [FLINK-18141][doc][parquet] Add documentation for Parquet format
  docs/dev/table/connectors/formats/index.md
  docs/dev/table/connectors/formats/index.zh.md
  docs/dev/table/connectors/formats/parquet.md
  docs/dev/table/connectors/formats/parquet.zh.md
Labels: component=Documentation, component=FileSystems, component=TableSQL/Ecosystem, review=description?

#12533 [FLINK-18175][conf] Log final memory configuration
  flink-runtime/src/main/java/org/apache/flink/runtime/util/bash/BashJavaUtils.java
Labels: component=Runtime/Coordination, review=description?

#12629 [FLINK-18252][checkpointing] Fix savepoint overtaking output data.
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/SubtaskCheckpointCoordinatorImpl.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/SubtaskCheckpointCoordinatorTest.java
Labels: component=Runtime/Checkpointing, review=description?

#12609 [FLINK-17836][hive][doc] Add document for Hive dim join
  docs/dev/table/hive/hive_streaming.md
  docs/dev/table/hive/hive_streaming.zh.md
Labels: component=Connectors/Hive, component=Documentation, review=description?

#12527 [FLINK-18173][build] Bundle flink-csv and flink-json jars in lib
  docs/dev/table/connect.md
  docs/dev/table/connect.zh.md
  docs/dev/table/connectors/formats/avro.md
  docs/dev/table/connectors/formats/avro.zh.md
  flink-dist/src/main/assemblies/bin.xml
  flink-end-to-end-tests/flink-sql-client-test/pom.xml
  flink-end-to-end-tests/test-scripts/test_sql_client.sh
Labels: component=BuildSystem, component=TableSQL/API, review=description?

#12614 [FLINK-18089][network] Add the network zero-copy test into the azure E2E pipeline
  flink-end-to-end-tests/run-nightly-tests.sh
Labels: component=BuildSystem/AzurePipelines, component=Runtime/Network, review=description?

#12367 [FLINK-17960][python][docs] Improve commands in the "Common Questions" document for PyFlink
  docs/dev/table/python/common_questions.md
  docs/dev/table/python/common_questions.zh.md
Labels: component=API/Python, review=description?

#12615 [FLINK-18089][network] Add the network zero-copy test into the azure E2E pipeline
  flink-end-to-end-tests/run-nightly-tests.sh
Labels: component=BuildSystem/AzurePipelines, component=Runtime/Network, review=description?

#12625 [FLINK-18197][table-runtime-blink][hive] Add more logs for hive strea…
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HiveContinuousMonitoringFunction.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/FileSystemLookupFunction.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/MetastoreCommitPolicy.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/PartitionCommitPolicy.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/SuccessFileCommitPolicy.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/stream/StreamingFileCommitter.java
Labels: component=Connectors/FileSystem, component=Connectors/Hive, review=description?

#12646 [hotfix] Relocation hadoop runtime util
  flink-connectors/flink-connector-hive/pom.xml
Labels: review=description?

#12648 [FLINK-16432][build] Fix dependencies in Hive Connector build.
  flink-connectors/flink-connector-hive/pom.xml
Labels: component=Connectors/Hive, review=description?

#12638 [FLINK-17977] Improve checkpoint triggering log message
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinator.java
Labels: component=Runtime/Coordination, review=description?

#12622 [FLINK-18261][parquet][orc] flink-orc and flink-parquet have invalid NOTICE file
  flink-formats/flink-orc/pom.xml
  flink-formats/flink-parquet/pom.xml
  flink-formats/flink-sql-orc/pom.xml
  flink-formats/flink-sql-orc/src/main/resources/META-INF/NOTICE
  flink-formats/flink-sql-parquet/pom.xml
  flink-formats/flink-sql-parquet/src/main/resources/META-INF/NOTICE
  flink-formats/pom.xml
Labels: component=Formats, review=description?

#12630 [FLINK-18268][docs] Correct Table API in Temporal table docs
  docs/dev/table/connectors/hbase.md
  docs/dev/table/connectors/hbase.zh.md
  docs/dev/table/streaming/temporal_tables.md
  docs/dev/table/streaming/temporal_tables.zh.md
Labels: component=Documentation, review=description?

#12656 [FLINK-17666][table-planner-blink] Insert into partitioned table can …
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/TableEnvHiveConnectorITCase.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/dql/SqlShowCatalogs.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/calcite/FlinkPlannerImpl.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/calcite/PreValidateReWriter.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/PartitionableSinkITCase.scala
Labels: component=Connectors/Hive, review=description?

#12676 [FLINK-18322][connector/common][tests] Fix unstable ExecutorNotifierTest#testExceptionInHandler
  flink-runtime/src/test/java/org/apache/flink/runtime/source/coordinator/ExecutorNotifierTest.java
Labels: review=description?

#12627 [FLINK-18083][hbase] Improve exception message of TIMESTAMP/TIME out of the HBase connector supported precision
  flink-connectors/flink-connector-hbase/src/main/java/org/apache/flink/connector/hbase/util/HBaseSerde.java
  flink-connectors/flink-connector-hbase/src/main/java/org/apache/flink/connector/hbase/util/HBaseTypeUtils.java
  flink-connectors/flink-connector-hbase/src/test/java/org/apache/flink/connector/hbase/HBaseDynamicTableFactoryTest.java
Labels: component=Connectors/HBase, review=description?

#12653 [FLINK-18294][e2e] Log java processes and disk usage
  flink-end-to-end-tests/test-scripts/test-runner-common.sh
Labels: component=TestInfrastructure, review=description?

#12658 [FLINK-18304][metrics][docs] Add example interval configuration to all supporting reporters
  docs/monitoring/metrics.md
  docs/monitoring/metrics.zh.md
Labels: component=Documentation, component=Runtime/Metrics, review=description?

#12659 [FLINK-18304][metrics] Document default reporter interval
  docs/_includes/generated/metric_configuration.html
  flink-core/src/main/java/org/apache/flink/configuration/MetricOptions.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/MetricRegistryImpl.java
Labels: component=Documentation, component=Runtime/Metrics, review=description?

#12570 [FLINK-17976][doc] Synchronize Chinese native Kubernetes document
  docs/ops/deployment/native_kubernetes.zh.md
Labels: component=Runtime/Coordination, review=description?

#12671 [FLINK-17824][tests] Fix resume_savepoint e2e test by slowing down th…
  flink-end-to-end-tests/test-scripts/test_resume_savepoint.sh
Labels: component=Runtime/Checkpointing, component=Tests, review=description?

#12668 [FLINK-18291][e2e] Introduce timeout into Streaming File Sink s3 test
  flink-end-to-end-tests/test-scripts/test_streaming_file_sink.sh
Labels: component=FileSystems, component=Tests, review=description?

#12664 [FLINK-18238][checkpoint] Emit CancelCheckpointMarker downstream on checkpointState in sync phase of checkpoint on task side
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/SubtaskCheckpointCoordinatorImpl.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/SubtaskCheckpointCoordinatorTest.java
Labels: component=Runtime/Checkpointing, review=description?

#12696 [FLINK-16795][e2e] Increase e2e execution timeout +20m
  tools/azure-pipelines/jobs-template.yml
Labels: component=BuildSystem/AzurePipelines, component=Tests, review=description?

#12681 [FLINK-18238][checkpoint] Emit CancelCheckpointMarker downstream on checkpointState in sync phase of checkpoint on task side
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/SubtaskCheckpointCoordinatorImpl.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/SubtaskCheckpointCoordinatorTest.java
Labels: component=Runtime/Checkpointing, review=description?

#12586 [hotfix][docs] Fix typo in sql queries
  docs/dev/table/sql/queries.md
  docs/dev/table/sql/queries.zh.md
Labels: review=description?

#12578 [FLINK-18236] fix es connector test ElasticsearchSinkTestBase.runElas…
  flink-connectors/flink-connector-elasticsearch-base/src/test/java/org/apache/flink/streaming/connectors/elasticsearch/ElasticsearchSinkTestBase.java
Labels: component=Connectors/ElasticSearch, review=description?

#12693 [hotfix][e2e] Fix package name in MetricsAvailabilityITCase
  flink-end-to-end-tests/flink-metrics-availability-test/src/test/java/org/apache/flink/metrics/tests/MetricsAvailabilityITCase.java
Labels: review=description?

#12670 [FLINK-18290][checkpointing] Fail job on checkpoint future failure instead of System.exit
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinator.java
Labels: component=BuildSystem/AzurePipelines, component=Runtime/Checkpointing, review=description?

#12698 [FLINK-18290][checkpointing] (Backport to 1.11) Don't System.exit on CheckpointCoordinator failure if it is shut down
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinator.java
Labels: component=BuildSystem/AzurePipelines, component=Runtime/Checkpointing, review=description?

#12651 [FLINK-18272][table-runtime-blink] Add retry logic to FileSystemLooku…
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/FileSystemLookupFunction.java
Labels: component=FileSystems, review=description?

#12655 [FLINK-18300][sql-client] SQL Client doesn't support ALTER VIEW
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliClient.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliStrings.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/SqlCommandParser.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/SqlCommandParserTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/utils/SqlParserHelper.java
Labels: component=TableSQL/Client, review=description?

#12675 [FLINK-18319][notice] Lack LICENSE.protobuf in flink-sql-orc
  flink-formats/flink-sql-orc/src/main/resources/META-INF/licenses/LICENSE.protobuf
Labels: component=Connectors/ORC, review=description?

#12694 [hotfix] [table-api-java] Add missing @PublicEvolving annotations to classes in flink-table-api-java.
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/ExplainDetail.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/ResultKind.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/config/ExecutionConfigOptions.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/config/OptimizerConfigOptions.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/config/TableConfigOptions.java
Labels: review=description?

#12650 [FLINK-18289][Checkpoint] Ensure notifyCheckpointAborted interface work in UDF operator
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/AbstractUdfStreamOperator.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTest.java
Labels: component=Runtime/Checkpointing, component=Runtime/Task, review=description?

#12685 [FLINK-17768][tests] Reenable UnalignedCheckpointITCase.
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/UnalignedCheckpointITCase.java
Labels: review=description?

#12710 [BP-1.11][FLINK-16589] Split code for AggsHandlerCodeGenerator
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/CodeGeneratorContext.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/ExprCodeGenerator.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/GenerateUtils.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/ProjectionCodeGenerator.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/agg/AggsHandlerCodeGenerator.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/agg/DistinctAggCodeGen.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/agg/batch/HashAggCodeGenHelper.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/AggregateITCase.scala
Labels: component=TableSQL/API, review=description?

#12711 [hotfix][build] Adjust the file permission for update_japicmp_configuration.sh
  tools/releasing/update_japicmp_configuration.sh
Labels: review=description?

#12709 [FLINK-18370][Azure] Run tests nightly on Azure VMs
  tools/azure-pipelines/build-apache-repo.yml
Labels: component=BuildSystem/AzurePipelines, review=description?

#12689 [FLINK-18320][notice][hive] Merge hive-exec dependencies for hive uber 2.3.6 and 3.1.2
  flink-connectors/flink-sql-connector-hive-2.3.6/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-hive-2.3.6/src/main/resources/META-INF/licenses/LICENSE.javolution
  flink-connectors/flink-sql-connector-hive-2.3.6/src/main/resources/META-INF/licenses/LICENSE.jodd
  flink-connectors/flink-sql-connector-hive-2.3.6/src/main/resources/META-INF/licenses/LICENSE.kryo
  flink-connectors/flink-sql-connector-hive-2.3.6/src/main/resources/META-INF/licenses/LICENSE.minlog
  flink-connectors/flink-sql-connector-hive-2.3.6/src/main/resources/META-INF/licenses/LICENSE.protobuf
  flink-connectors/flink-sql-connector-hive-2.3.6/src/main/resources/META-INF/licenses/LICENSE.reflectasm
  flink-connectors/flink-sql-connector-hive-2.3.6/src/main/resources/META-INF/licenses/LICENSE.slf4j-api
  flink-connectors/flink-sql-connector-hive-3.1.2/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-hive-3.1.2/src/main/resources/META-INF/licenses/LICENSE.javolution
  flink-connectors/flink-sql-connector-hive-3.1.2/src/main/resources/META-INF/licenses/LICENSE.jodd
  flink-connectors/flink-sql-connector-hive-3.1.2/src/main/resources/META-INF/licenses/LICENSE.kryo
  flink-connectors/flink-sql-connector-hive-3.1.2/src/main/resources/META-INF/licenses/LICENSE.minlog
  flink-connectors/flink-sql-connector-hive-3.1.2/src/main/resources/META-INF/licenses/LICENSE.protobuf
  flink-connectors/flink-sql-connector-hive-3.1.2/src/main/resources/META-INF/licenses/LICENSE.reflectasm
Labels: component=Connectors/Hive, review=description?

#12718 [hotfix][build] Adjust the file permission for update_japicmp_configuration.sh
  tools/releasing/update_japicmp_configuration.sh
Labels: review=description?

#12712 [FLINK-17544][jdbc]fix close() method bug and add test cases for JdbcOutputFormat
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/internal/JdbcBatchingOutputFormat.java
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/internal/TableJdbcUpsertOutputFormat.java
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/internal/JdbcFullTest.java
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/internal/JdbcTableOutputFormatTest.java
Labels: component=Connectors/JDBC, review=description?

#12734 [FLINK-18315][table-planner-blink] Insert into partitioned table can …
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/TableEnvHiveConnectorITCase.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/calcite/PreValidateReWriter.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/PartitionableSinkTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/batch/sql/PartitionableSinkTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/PartitionableSinkITCase.scala
Labels: component=TableSQL/API, review=description?

#12732 [FLINK-18372][runtime] Fix NPE problem when a slot is offered before JM is connected to a RM
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/slotpool/SlotPoolImpl.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/slotpool/SlotPoolImplTest.java
Labels: component=Runtime/Coordination, review=description?

#12687 [FLINK-17678][hbase] Support fink-sql-connector-hbase
  flink-connectors/flink-sql-connector-hbase/pom.xml
  flink-connectors/flink-sql-connector-hbase/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-hbase/src/main/resources/META-INF/licenses/LICENSE.protobuf
  flink-connectors/flink-sql-connector-hbase/src/main/resources/hbase-default.xml
  flink-connectors/pom.xml
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/src/test/java/org/apache/flink/tests/util/kafka/SQLClientKafkaITCase.java
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/src/test/java/org/apache/flink/tests/util/kafka/StreamingKafkaITCase.java
  flink-end-to-end-tests/flink-end-to-end-tests-common/src/main/java/org/apache/flink/tests/util/TestUtils.java
  flink-end-to-end-tests/flink-end-to-end-tests-hbase/pom.xml
  flink-end-to-end-tests/flink-end-to-end-tests-hbase/src/main/java/org/apache/flink/tests/util/hbase/HBaseResource.java
  flink-end-to-end-tests/flink-end-to-end-tests-hbase/src/main/java/org/apache/flink/tests/util/hbase/HBaseResourceFactory.java
  flink-end-to-end-tests/flink-end-to-end-tests-hbase/src/main/java/org/apache/flink/tests/util/hbase/LocalStandaloneHBaseResource.java
  flink-end-to-end-tests/flink-end-to-end-tests-hbase/src/main/java/org/apache/flink/tests/util/hbase/LocalStandaloneHBaseResourceFactory.java
  flink-end-to-end-tests/flink-end-to-end-tests-hbase/src/test/java/org/apache/flink/tests/util/hbase/SQLClientHBaseITCase.java
  flink-end-to-end-tests/flink-end-to-end-tests-hbase/src/test/resources/hbase_e2e.sql
  flink-end-to-end-tests/flink-end-to-end-tests-hbase/src/test/resources/log4j2-test.properties
  flink-end-to-end-tests/pom.xml
Labels: component=Connectors/HBase, review=description?

#12749 [FLINK-18411][tests] Fix CollectionExecutorTest failed to compiled in release-1.11
  flink-java/src/test/java/org/apache/flink/api/java/utils/CollectionExecutorTest.java
Labels: review=description?

#12704 [FLINK-18360][runtime/web-frontend/HS] fix no jobs/overview.json file created for HS when no archived jobs present
  flink-runtime-web/src/main/java/org/apache/flink/runtime/webmonitor/history/HistoryServerArchiveFetcher.java
  flink-runtime-web/src/test/java/org/apache/flink/runtime/webmonitor/history/HistoryServerTest.java
Labels: component=Runtime/WebFrontend, review=description?

#12666 [FLINK-18313][doc] Update Hive dialect doc about VIEW
  docs/dev/table/hive/hive_dialect.md
  docs/dev/table/hive/hive_dialect.zh.md
Labels: component=Connectors/Hive, component=Documentation, review=description?

#12682 [FLINK-18320][hive] Fix NOTICE and license files for flink-sql-connec…
  flink-connectors/flink-sql-connector-hive-1.2.2/pom.xml
  flink-connectors/flink-sql-connector-hive-1.2.2/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-hive-1.2.2/src/main/resources/META-INF/licenses/LICENSE.javolution
  flink-connectors/flink-sql-connector-hive-1.2.2/src/main/resources/META-INF/licenses/LICENSE.jodd
  flink-connectors/flink-sql-connector-hive-1.2.2/src/main/resources/META-INF/licenses/LICENSE.kryo
  flink-connectors/flink-sql-connector-hive-1.2.2/src/main/resources/META-INF/licenses/LICENSE.minlog
  flink-connectors/flink-sql-connector-hive-1.2.2/src/main/resources/META-INF/licenses/LICENSE.protobuf
  flink-connectors/flink-sql-connector-hive-1.2.2/src/main/resources/META-INF/licenses/LICENSE.reflectasm
  flink-connectors/flink-sql-connector-hive-2.2.0/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-hive-2.2.0/src/main/resources/META-INF/licenses/LICENSE.javolution
  flink-connectors/flink-sql-connector-hive-2.2.0/src/main/resources/META-INF/licenses/LICENSE.jodd
  flink-connectors/flink-sql-connector-hive-2.2.0/src/main/resources/META-INF/licenses/LICENSE.kryo
  flink-connectors/flink-sql-connector-hive-2.2.0/src/main/resources/META-INF/licenses/LICENSE.minlog
  flink-connectors/flink-sql-connector-hive-2.2.0/src/main/resources/META-INF/licenses/LICENSE.protobuf
Labels: component=Connectors/Hive, review=description?

#12742 [FLINK-18407][runtime] Harden SlotPoolImpl#maybeRemapOrphanedAllocation
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/slotpool/SlotPoolImpl.java
Labels: component=Runtime/Coordination, review=description?

#12752 [FLINK-18399] [table-api-java] fix TableResult#print can not print the result of unbounded stream query
  flink-python/pyflink/table/table_result.py
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliTableauResultView.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliTableauResultViewTest.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/TableResult.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/TableEnvironmentImpl.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/TableResultImpl.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/utils/PrintUtils.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/utils/PrintUtilsTest.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/api/internal/TableEnvImpl.scala
Labels: review=description?

#12753 [FLINK-18416][table-common] Deprecate TableEnvironment#connect API
  flink-python/pyflink/table/table_environment.py
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/table/api/bridge/java/BatchTableEnvironment.java
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/table/api/bridge/java/StreamTableEnvironment.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/TableEnvironment.java
  flink-table/flink-table-api-scala-bridge/src/main/scala/org/apache/flink/table/api/bridge/scala/BatchTableEnvironment.scala
  flink-table/flink-table-api-scala-bridge/src/main/scala/org/apache/flink/table/api/bridge/scala/StreamTableEnvironment.scala
Labels: component=<none>, review=description?

#12755 [FLINK-18416][table-common] Deprecate TableEnvironment#connect API
  flink-python/pyflink/table/table_environment.py
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/table/api/bridge/java/BatchTableEnvironment.java
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/table/api/bridge/java/StreamTableEnvironment.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/TableEnvironment.java
  flink-table/flink-table-api-scala-bridge/src/main/scala/org/apache/flink/table/api/bridge/scala/BatchTableEnvironment.scala
  flink-table/flink-table-api-scala-bridge/src/main/scala/org/apache/flink/table/api/bridge/scala/StreamTableEnvironment.scala
Labels: component=<none>, review=description?

#12757 [FLINK-18351][table/client] fix ModuleManager creates a lot of duplic…
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/module/ModuleManager.java
Labels: component=TableSQL/API, review=description?

#12760 [FLINK-18420][tests] Disable failed test SQLClientHBaseITCase in java 11
  flink-end-to-end-tests/flink-end-to-end-tests-hbase/src/test/java/org/apache/flink/tests/util/hbase/SQLClientHBaseITCase.java
Labels: component=Connectors/HBase, component=Tests, review=description?

#12699 [FLINK-18349][docs] Add release notes for Flink 1.11
  docs/index.md
  docs/index.zh.md
  docs/release-notes/flink-1.11.md
  docs/release-notes/flink-1.11.zh.md
Labels: component=Documentation, review=description?

#12764 [FLINK-18423][docs] Fix Prefer tag in document "Detecting Patterns" age of "Streaming Concepts"
  docs/dev/table/streaming/match_recognize.md
Labels: component=Documentation, component=Documentation/Training, review=description?

#12782 [FLINK-18439][docs] Update sql client jar url in docs
  docs/dev/table/connectors/elasticsearch.md
  docs/dev/table/connectors/elasticsearch.zh.md
  docs/dev/table/connectors/hbase.md
  docs/dev/table/connectors/hbase.zh.md
  docs/dev/table/connectors/kafka.md
  docs/dev/table/connectors/kafka.zh.md
Labels: component=Documentation, review=description?

#12783 [FLINK-18439][docs] Update sql client jar url in docs
  docs/dev/table/connectors/elasticsearch.md
  docs/dev/table/connectors/elasticsearch.zh.md
  docs/dev/table/connectors/hbase.md
  docs/dev/table/connectors/hbase.zh.md
  docs/dev/table/connectors/kafka.md
  docs/dev/table/connectors/kafka.zh.md
Labels: component=Documentation, review=description?

#12779 [FLINK-17920][python][docs] Add the Python example of Time-windowed j…
  docs/dev/table/tableApi.md
  docs/dev/table/tableApi.zh.md
Labels: component=API/Python, component=Documentation, review=description?

#12772 [FLINK-18394][docs-zh] Translate "Parquet Format" page into Chinese
  docs/dev/table/connectors/formats/parquet.zh.md
Labels: component=Documentation, component=TableSQL/Ecosystem, component=chinese-translation, review=description?
