Repository apache/flink, pull requests merged in 2020-08, with the labels that each got.

#13049 [FLINK-16619][coordination] Log reception of slot reports only once
  flink-runtime/src/main/java/org/apache/flink/runtime/resourcemanager/slotmanager/SlotManagerImpl.java
Labels: component=Runtime/Coordination, review=description?

#13046 [FLINK-16566][mesos] Change the log level of the launching command and dynamic properties from DEBUG to INFO in Mesos
  flink-mesos/src/main/java/org/apache/flink/mesos/entrypoint/MesosTaskExecutorRunner.java
  flink-mesos/src/main/java/org/apache/flink/mesos/runtime/clusterframework/LaunchableMesosWorker.java
Labels: component=Deployment/Mesos, review=description?

#11586 [FLINK-5552][runtime] make JMXServer static per JVM
  docs/_includes/generated/expert_debugging_and_tuning_section.html
  docs/ops/config.md
  docs/ops/config.zh.md
  flink-annotations/src/main/java/org/apache/flink/annotation/docs/Documentation.java
  flink-core/src/main/java/org/apache/flink/configuration/JMXServerOptions.java
  flink-metrics/flink-metrics-jmx/src/main/java/org/apache/flink/metrics/jmx/JMXReporter.java
  flink-metrics/flink-metrics-jmx/src/test/java/org/apache/flink/metrics/jmx/JMXReporterTest.java
  flink-runtime/src/main/java/org/apache/flink/runtime/entrypoint/ClusterEntrypoint.java
  flink-runtime/src/main/java/org/apache/flink/runtime/management/JMXServer.java
  flink-runtime/src/main/java/org/apache/flink/runtime/management/JMXService.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskManagerRunner.java
  flink-runtime/src/test/java/org/apache/flink/runtime/management/JMXServerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/management/JMXServiceTest.java
Labels: component=Runtime/Metrics, component=Runtime/WebFrontend, review=description?

#13037 [FLINK-18756][table-api] Support IF NOT EXISTS for CREATE TABLE statement
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/local/LocalExecutorITCase.java
  flink-table/flink-sql-parser/src/main/codegen/includes/parserImpls.ftl
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlCreateTable.java
  flink-table/flink-sql-parser/src/test/java/org/apache/flink/sql/parser/FlinkSqlParserImplTest.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/api/TableEnvironmentTest.scala
Labels: component=TableSQL/API, review=description?

#12237 [FLINK-17290] [chinese-translation, Documentation / Training] Transla…
  docs/learn-flink/streaming_analytics.zh.md
Labels: component=Documentation/Training, component=chinese-translation, review=description?

#13045 [FLINK-18748][checkpointing] trigger unperiodic checkpoint immediately
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointRequestDecider.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointRequestDeciderTest.java
Labels: component=Runtime/Checkpointing, review=description?

#12946 [FLINK-18658][tests] Forward RpcServiceSharing setting
  flink-runtime/src/test/java/org/apache/flink/runtime/testutils/MiniClusterResource.java
Labels: component=TestInfrastructure, review=description?

#13029 [FLINK-18763][python] Support basic TypeInformation for Python DataSt…
  flink-python/pyflink/common/tests/test_typeinfo.py
  flink-python/pyflink/common/typeinfo.py
  flink-python/src/main/java/org/apache/flink/datastream/typeinfo/python/PickledByteArrayTypeInfo.java
Labels: component=<none>, review=description?

#13062 [FLINK-18816] [docs] Correct API change in pyflink dependency management page
  docs/dev/table/python/dependency_management.md
  docs/dev/table/python/dependency_management.zh.md
Labels: component=API/Python, component=Documentation, review=description?

#13038 [FLINK-18769][table-planner-blink] Fix MiniBatch doesn't work with FLIP-95 source
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/KafkaChangelogTableITCase.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/stream/MiniBatchIntervalInferRule.scala
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/factories/TestValuesRuntimeFunctions.java
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/MiniBatchIntervalInferTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/MiniBatchIntervalInferTest.scala
Labels: component=TableSQL/Runtime, review=description?

#13061 [FLINK-18764][python] Add DataStream class and support from_collectio…
  flink-python/pom.xml
  flink-python/pyflink/datastream/data_stream.py
  flink-python/pyflink/datastream/stream_execution_environment.py
  flink-python/pyflink/datastream/tests/test_data_stream.py
  flink-python/pyflink/datastream/tests/test_stream_execution_environment.py
  flink-python/pyflink/datastream/tests/test_util.py
  flink-python/pyflink/pyflink_gateway_server.py
  flink-python/src/main/java/org/apache/flink/api/common/python/PythonBridgeUtils.java
  flink-python/src/test/java/org/apache/flink/python/util/DataStreamTestCollectSink.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/utils/python/PythonTableUtils.scala
Labels: component=<none>, review=description?

#13053 [FLINK-18805][config] Improve handling of upper-character sequences
  docs/_includes/generated/rocksdb_configurable_configuration.html
  docs/_includes/generated/rocksdb_configuration.html
  docs/_includes/generated/rocksdb_native_metric_configuration.html
  flink-docs/src/main/java/org/apache/flink/docs/configuration/ConfigOptionsDocGenerator.java
  flink-docs/src/test/java/org/apache/flink/docs/configuration/ConfigOptionsDocGeneratorTest.java
Labels: component=Runtime/Configuration, review=description?

#13074 [FLINK-18834][doc] Fix the bug of wrong link of rocks db html in config doc
  docs/ops/config.md
  docs/ops/config.zh.md
Labels: review=description?

#13065 [FLINK-18796][kinesis] Make backpressureLatch volatile
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/FlinkKinesisProducer.java
Labels: component=Connectors/Kinesis, review=description?

#13060 [hotfix][docs] Rephrase the docs about file names in StreamingFileSink
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/sink/filesystem/StreamingFileSink.java
Labels: review=description?

#13068 [FLINK-13689] [Connectors/ElasticSearch] Fix thread leak in Elasticsearch connector when cluster is down
  flink-connectors/flink-connector-elasticsearch-base/src/main/java/org/apache/flink/streaming/connectors/elasticsearch/ElasticsearchApiCallBridge.java
  flink-connectors/flink-connector-elasticsearch-base/src/main/java/org/apache/flink/streaming/connectors/elasticsearch/ElasticsearchSinkBase.java
  flink-connectors/flink-connector-elasticsearch-base/src/test/java/org/apache/flink/streaming/connectors/elasticsearch/ElasticsearchSinkBaseTest.java
  flink-connectors/flink-connector-elasticsearch2/src/main/java/org/apache/flink/streaming/connectors/elasticsearch2/Elasticsearch2ApiCallBridge.java
  flink-connectors/flink-connector-elasticsearch5/src/main/java/org/apache/flink/streaming/connectors/elasticsearch5/Elasticsearch5ApiCallBridge.java
  flink-connectors/flink-connector-elasticsearch6/src/main/java/org/apache/flink/streaming/connectors/elasticsearch6/Elasticsearch6ApiCallBridge.java
  flink-connectors/flink-connector-elasticsearch7/src/main/java/org/apache/flink/streaming/connectors/elasticsearch7/Elasticsearch7ApiCallBridge.java
Labels: component=Connectors/ElasticSearch, review=description?

#13064 [hotfix][docs]fix java code in scala snippet
  docs/monitoring/metrics.md
Labels: review=description?

#13066 [FLINK-18765][python] Support map() and flat_map() for Python DataStream API.
  flink-python/pyflink/datastream/data_stream.py
  flink-python/pyflink/datastream/functions.py
  flink-python/pyflink/datastream/tests/test_data_stream.py
  flink-python/pyflink/fn_execution/beam/beam_coder_impl_slow.py
  flink-python/pyflink/fn_execution/beam/beam_coders.py
  flink-python/pyflink/fn_execution/beam/beam_operations_fast.pxd
  flink-python/pyflink/fn_execution/beam/beam_operations_fast.pyx
  flink-python/pyflink/fn_execution/beam/beam_operations_slow.py
  flink-python/pyflink/fn_execution/coder_impl_fast.pxd
  flink-python/pyflink/fn_execution/coder_impl_fast.pyx
  flink-python/pyflink/fn_execution/coders.py
  flink-python/pyflink/fn_execution/flink_fn_execution_pb2.py
  flink-python/pyflink/fn_execution/operation_utils.py
  flink-python/pyflink/fn_execution/tests/test_coders.py
  flink-python/pyflink/proto/flink-fn-execution.proto
  flink-python/src/main/java/org/apache/flink/datastream/runtime/functions/python/DataStreamPythonFunction.java
  flink-python/src/main/java/org/apache/flink/datastream/runtime/functions/python/DataStreamPythonFunctionInfo.java
  flink-python/src/main/java/org/apache/flink/datastream/runtime/operators/python/DataStreamPythonStatelessFunctionOperator.java
  flink-python/src/main/java/org/apache/flink/datastream/runtime/runners/python/beam/BeamDataStreamPythonStatelessFunctionRunner.java
  flink-python/src/main/java/org/apache/flink/datastream/runtime/typeutils/python/PythonTypeUtils.java
  flink-python/src/main/java/org/apache/flink/python/util/PythonConfigUtil.java
  flink-python/src/main/java/org/apache/flink/streaming/api/runners/python/beam/BeamPythonFunctionRunner.java
  flink-python/src/main/java/org/apache/flink/streaming/api/runners/python/beam/BeamPythonStatelessFunctionRunner.java
  flink-python/src/main/java/org/apache/flink/table/runtime/functions/python/AbstractPythonStatelessFunctionFlatMap.java
  flink-python/src/main/java/org/apache/flink/table/runtime/operators/python/AbstractStatelessFunctionOperator.java
  flink-python/src/main/java/org/apache/flink/table/runtime/runners/python/beam/BeamTablePythonStatelessFunctionRunner.java
  flink-python/src/test/java/org/apache/flink/python/util/PythonConfigUtilTest.java
  flink-python/src/test/java/org/apache/flink/python/util/PythonTypeUtilsTest.java
  flink-python/src/test/java/org/apache/flink/table/runtime/utils/PassThroughPythonScalarFunctionRunner.java
  flink-python/src/test/java/org/apache/flink/table/runtime/utils/PassThroughPythonTableFunctionRunner.java
Labels: component=<none>, review=description?

#13087 [hotfix][docs] Fix the link-tags in the 'Side Outputs' page of 'DataStream API'
  docs/dev/stream/side_output.md
Labels: review=description?

#12988 [FLINK-18678][hive][doc] Update doc about setting hive version
  docs/dev/table/catalogs.md
  docs/dev/table/catalogs.zh.md
  docs/dev/table/hive/index.md
  docs/dev/table/hive/index.zh.md
Labels: component=Connectors/Hive, component=Formats, review=description?

#12996 [FLINK-18688][table-planner-blink] Fix binary row writing with incorrect order in ProjectionCodeGenerator by removing for loop optimization
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/CalcCodeGenerator.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/ProjectionCodeGenerator.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchExecCalc.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamExecCalc.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/codegen/ProjectionCodeGeneratorTest.scala
Labels: component=TableSQL/Runtime, review=description?

#13094 [FLINK-18766][python] Support add_sink() for Python DataStream API.
  flink-python/pyflink/datastream/data_stream.py
  flink-python/pyflink/datastream/functions.py
  flink-python/pyflink/datastream/tests/test_data_stream.py
  flink-python/pyflink/datastream/tests/test_stream_execution_environment.py
  flink-python/pyflink/datastream/tests/test_util.py
  flink-python/src/test/java/org/apache/flink/python/util/DataStreamTestCollectSink.java
Labels: component=API/Python, review=description?

#13100 [hotfix][table-planner-blink] FlinkStreamProgram should not use FlinkBatchRuleSets
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/optimize/program/FlinkStreamProgram.scala
Labels: review=description?

#13105 [FLINK-18859][tests] Increase timeout of ExecutionGraphNotEnoughResourceTest#testRestartWithSlotSharingAndNotEnoughResources to make it more stable
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/ExecutionGraphNotEnoughResourceTest.java
Labels: component=Runtime/Coordination, component=Tests, review=description?

#13097 [FLINK-18864][python] Support key_by() operation for Python DataStrea…
  flink-python/pyflink/datastream/data_stream.py
  flink-python/pyflink/datastream/functions.py
  flink-python/pyflink/datastream/tests/test_data_stream.py
  flink-python/pyflink/datastream/tests/test_util.py
  flink-python/src/main/java/org/apache/flink/datastream/runtime/functions/python/PickledKeySelector.java
Labels: component=API/Python, review=description?

#13095 [FLINK-18861][python] Support add_source() to get a DataStream for Py…
  flink-python/pom.xml
  flink-python/pyflink/datastream/functions.py
  flink-python/pyflink/datastream/stream_execution_environment.py
  flink-python/pyflink/datastream/tests/test_stream_execution_environment.py
  flink-python/src/test/java/org/apache/flink/python/util/MyCustomSourceFunction.java
Labels: component=API/Python, review=description?

#13104 [FLINK-18862][table-planner-blink] Fix LISTAGG throws BinaryRawValueData cannot be cast to StringData exception during runtime
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/functions/aggfunctions/ListAggWithRetractAggFunction.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/functions/aggfunctions/ListAggWsWithRetractAggFunction.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/functions/utils/UserDefinedFunctionUtils.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/AggregateITCase.scala
Labels: component=TableSQL/Runtime, review=description?

#13107 [FLINK-18874][python] Support conversion between Table and DataStream.
  flink-python/pyflink/table/table_environment.py
  flink-python/pyflink/table/tests/test_table_environment_api.py
Labels: component=API/Python, review=description?

#13096 [FLINK-18865][doc] Update Kafka doc for setStartFromEarliest method
  docs/dev/connectors/kafka.md
Labels: component=Documentation, review=description?

#13112 [BP-1.11][FLINK-18862][table-planner-blink] Fix LISTAGG throws BinaryRawValueData cannot be cast to StringData exception during runtime
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/functions/aggfunctions/ListAggWithRetractAggFunction.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/functions/aggfunctions/ListAggWsWithRetractAggFunction.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/functions/utils/UserDefinedFunctionUtils.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/AggregateITCase.scala
Labels: component=TableSQL/Runtime, review=description?

#13113 [FLINK-18883][python] Support reduce() operation for Python KeyedStream.
  flink-python/pyflink/datastream/data_stream.py
  flink-python/pyflink/datastream/functions.py
  flink-python/pyflink/datastream/tests/test_data_stream.py
  flink-python/pyflink/fn_execution/flink_fn_execution_pb2.py
  flink-python/pyflink/fn_execution/operation_utils.py
  flink-python/pyflink/proto/flink-fn-execution.proto
  flink-python/src/main/java/org/apache/flink/datastream/runtime/operators/python/DataStreamPythonReduceFunctionOperator.java
  flink-python/src/main/java/org/apache/flink/datastream/runtime/operators/python/DataStreamPythonStatelessFunctionOperator.java
Labels: component=API/Python, review=description?

#13098 [FLINK-18866][python] Support filter() operation for Python DataStrea…
  flink-python/pyflink/datastream/data_stream.py
  flink-python/pyflink/datastream/functions.py
  flink-python/pyflink/datastream/tests/test_data_stream.py
Labels: component=API/Python, review=description?

#13117 [FLINK-18863][python] Support read_text_file() and print() interface …
  flink-python/pyflink/datastream/data_stream.py
  flink-python/pyflink/datastream/stream_execution_environment.py
  flink-python/pyflink/datastream/tests/test_data_stream.py
  flink-python/pyflink/datastream/tests/test_stream_execution_environment.py
Labels: component=API/Python, review=description?

#13090 [FLINK-18844][json][maxwell] Support maxwell-json format to read Maxwell changelogs
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/maxwell/MaxwellJsonDeserializationSchema.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/maxwell/MaxwellJsonFormatFactory.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/maxwell/MaxwellJsonSerializationSchema.java
  flink-formats/flink-json/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/maxwell/MaxwellJsonFormatFactoryTest.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/maxwell/MaxwellJsonSerDerTest.java
  flink-formats/flink-json/src/test/resources/maxwell-data.txt
Labels: component=Formats, review=description?

#13119 [FLINK-18885][python] Add partitioning interfaces for Python DataStre…
  flink-python/pyflink/datastream/data_stream.py
  flink-python/pyflink/datastream/tests/test_data_stream.py
Labels: component=API/Python, review=description?

#13108 [FLINK-18876][coordination] Move file after stream was closed
  flink-runtime/src/main/java/org/apache/flink/runtime/blob/BlobServer.java
Labels: component=Runtime/Coordination, review=description?

#13110 [FLINK-18821][network] Fix indefinite wait in PartitionRequestClientFactory.createPartitionRequestClient - 1.11
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/netty/PartitionRequestClientFactory.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/netty/PartitionRequestClientFactoryTest.java
Labels: component=Runtime/Network, review=description?

#13126 [FLINK-18888][python] Support execute_async for StreamExecutionEnviro…
  flink-python/pyflink/datastream/stream_execution_environment.py
  flink-python/pyflink/datastream/tests/test_data_stream.py
  flink-python/pyflink/datastream/tests/test_stream_execution_environment.py
  flink-python/pyflink/datastream/tests/test_util.py
  flink-python/src/test/java/org/apache/flink/python/util/DataStreamTestCollectSink.java
Labels: component=API/Python, review=description?

#13017 [FLINK-18258][hive] Implement SHOW PARTITIONS for Hive dialect
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDialectITCase.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliClient.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/SqlCommandParser.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/SqlCommandParserTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/utils/SqlParserHelper.java
  flink-table/flink-sql-parser-hive/src/main/codegen/data/Parser.tdd
  flink-table/flink-sql-parser-hive/src/main/codegen/includes/parserImpls.ftl
  flink-table/flink-sql-parser-hive/src/test/java/org/apache/flink/sql/parser/hive/FlinkHiveSqlParserImplTest.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/dql/SqlShowPartitions.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/TableEnvironmentImpl.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ShowOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ShowPartitionsOperation.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/operations/SqlToOperationConverter.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/calcite/FlinkPlannerImpl.scala
Labels: component=Connectors/Hive, component=TableSQL/Client, component=TableSQL/Planner, review=description?

#13127 [FLINK-18821][network] Fix indefinite wait in PartitionRequestClientFactory.createPartitionRequestClient
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/netty/PartitionRequestClientFactory.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/netty/PartitionRequestClientFactoryTest.java
Labels: component=Runtime/Network, review=description?

#13130 [FLINK-18659][hive][orc] Fix streaming write for Hive 1.x Orc table
  flink-connectors/flink-connector-hive/pom.xml
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/write/HiveBulkWriterFactory.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTableSinkITCase.java
Labels: component=Formats, review=description?

#13101 [FLINK-18867][hive] Generic table stored in Hive catalog is incompati…
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/HiveCatalog.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveCatalogGenericMetadataTest.java
Labels: component=Connectors/Hive, review=description?

#13078 [FLINK-18659][hive][orc] Fix streaming write for Hive 1.x Orc table
  flink-connectors/flink-connector-hive/pom.xml
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSink.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/write/HiveBulkWriterFactory.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTableSinkITCase.java
  flink-connectors/flink-sql-connector-hive-1.2.2/pom.xml
  flink-connectors/flink-sql-connector-hive-1.2.2/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-hive-2.2.0/pom.xml
  flink-formats/flink-orc-nohive/src/main/java/org/apache/flink/orc/nohive/OrcNoHiveBulkWriterFactory.java
  flink-formats/flink-orc-nohive/src/main/java/org/apache/flink/orc/nohive/writer/NoHivePhysicalWriterImpl.java
  flink-formats/flink-orc/src/main/java/org/apache/flink/orc/writer/PhysicalWriterImpl.java
  pom.xml
Labels: component=Formats, review=description?

#13136 [FLINK-18878][python] Support dependency management for Python Stream…
  flink-python/pyflink/datastream/data_stream.py
  flink-python/pyflink/datastream/stream_execution_environment.py
  flink-python/pyflink/datastream/tests/test_stream_execution_environment.py
  flink-python/src/main/java/org/apache/flink/python/PythonConfig.java
  flink-python/src/main/java/org/apache/flink/python/util/PythonConfigUtil.java
  flink-python/src/main/java/org/apache/flink/streaming/api/operators/python/AbstractPythonFunctionOperator.java
  flink-python/src/test/java/org/apache/flink/python/util/PythonConfigUtilTest.java
Labels: component=API/Python, review=description?

#13150 [FLINK-18879][python] Support Row Serialization and Deserialization s…
  flink-python/pyflink/common/serialization_schemas.py
  flink-python/pyflink/common/tests/test_serialization_schemas.py
Labels: component=API/Python, review=description?

#13152 [FLINK-18945][python] Support CoFlatMap for Python DataStream API
  flink-python/pyflink/datastream/data_stream.py
  flink-python/pyflink/datastream/functions.py
  flink-python/pyflink/datastream/tests/test_data_stream.py
  flink-python/pyflink/fn_execution/operation_utils.py
Labels: component=API/Python, review=description?

#13166 [FLINK-18081][doc] Fix broken links in Kerberos Authentication Setup …
  docs/ops/security-kerberos.md
  docs/ops/security-kerberos.zh.md
Labels: component=Documentation, component=Runtime/Configuration, review=description?

#13146 [FLINK-18942][hive] HiveTableSink shouldn't try to create BulkWriter …
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSink.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTableSinkITCase.java
Labels: component=Connectors/Hive, review=description?

#11873 [FLINK-17295] Refactor the ExecutionAttemptID to consist of Execution…
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/runtime/SavepointEnvironment.java
  flink-metrics/flink-metrics-dropwizard/src/test/java/org/apache/flink/dropwizard/ScheduledDropwizardReporterTest.java
  flink-metrics/flink-metrics-prometheus/src/test/java/org/apache/flink/metrics/prometheus/PrometheusReporterTaskScopeTest.java
  flink-metrics/flink-metrics-statsd/src/test/java/org/apache/flink/metrics/statsd/StatsDReporterTest.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/Execution.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/ExecutionAttemptID.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/netty/NettyMessage.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobgraph/JobVertexID.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/groups/TaskManagerJobMetricGroup.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/groups/TaskMetricGroup.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/groups/UnregisteredMetricGroups.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/scope/TaskScopeFormat.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/strategy/ExecutionVertexID.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskExecutor.java
  flink-runtime/src/main/java/org/apache/flink/runtime/topology/VertexID.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinatorTestingUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/ExecutionGraphTestUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/JobMasterTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/MetricGroupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/OperatorGroupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/TaskMetricGroupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/operators/chaining/ChainedOperatorsMetricTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/operators/testutils/MockEnvironment.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/TaskStateManagerImplTest.java
  flink-state-backends/flink-statebackend-rocksdb/src/test/java/org/apache/flink/contrib/streaming/state/RocksDBAsyncSnapshotTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/StreamTaskStateInitializerImplTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamMockEnvironment.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTestHarness.java
Labels: component=<none>, review=description?

#13159 [hotfix] [docs] Fix typo for multiple doc files
  docs/concepts/timely-stream-processing.md
  docs/concepts/timely-stream-processing.zh.md
  docs/dev/connectors/jdbc.md
  docs/dev/connectors/jdbc.zh.md
  docs/dev/connectors/kafka.md
  docs/dev/stream/sources.md
  docs/dev/stream/sources.zh.md
  docs/dev/stream/state/custom_serialization.md
  docs/dev/stream/state/custom_serialization.zh.md
  docs/dev/table/common.md
  docs/dev/table/connect.md
  docs/dev/table/connect.zh.md
  docs/dev/table/hive/hive_catalog.md
  docs/dev/table/hive/hive_catalog.zh.md
  docs/dev/table/sourceSinks.md
  docs/dev/table/sourceSinks.zh.md
  docs/dev/table/types.md
  docs/dev/table/types.zh.md
  docs/ops/config.md
  docs/ops/config.zh.md
  docs/redirects/java-quickstart.md
  docs/redirects/scala-quickstart.md
Labels: review=description?

#13160 [hoxfix] [docs] Fix typo in log message and code comments
  flink-annotations/src/main/java/org/apache/flink/annotation/docs/Documentation.java
  flink-connectors/flink-connector-elasticsearch-base/src/main/java/org/apache/flink/streaming/connectors/elasticsearch/ElasticsearchApiCallBridge.java
  flink-connectors/flink-connector-elasticsearch-base/src/main/java/org/apache/flink/streaming/connectors/elasticsearch/table/ElasticsearchOptions.java
  flink-connectors/flink-connector-elasticsearch6/src/main/java/org/apache/flink/streaming/connectors/elasticsearch6/ElasticsearchSink.java
  flink-connectors/flink-connector-elasticsearch7/src/main/java/org/apache/flink/streaming/connectors/elasticsearch7/ElasticsearchSink.java
  flink-connectors/flink-sql-connector-hbase/src/main/resources/hbase-default.xml
  flink-core/src/main/java/org/apache/flink/api/common/typeinfo/Types.java
  flink-core/src/main/java/org/apache/flink/api/common/typeutils/TypeSerializerConfigSnapshot.java
  flink-core/src/main/java/org/apache/flink/api/common/typeutils/TypeSerializerSnapshot.java
  flink-core/src/main/java/org/apache/flink/api/java/typeutils/MissingTypeInfo.java
  flink-core/src/main/java/org/apache/flink/api/java/typeutils/runtime/PojoComparator.java
  flink-examples/flink-examples-batch/src/main/java/org/apache/flink/examples/java/distcp/DistCp.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/TimestampFormat.java
  flink-java/src/main/java/org/apache/flink/api/java/operators/DataSink.java
  flink-libraries/flink-gelly/src/main/java/org/apache/flink/graph/library/metric/directed/EdgeMetrics.java
  flink-ml-parent/flink-ml-lib/src/main/java/org/apache/flink/ml/common/linalg/DenseMatrix.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rpc/FencedRpcEndpoint.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/DispatcherTest.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/sink/WriteFormatAsCsv.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/sink/WriteFormatAsText.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/TimerSerializer.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/logical/DistinctType.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/catalog/CatalogTest.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/functions/utils/AggSqlFunction.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchExecGroupAggregateBase.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchExecWindowAggregateBase.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/window/internal/MergingWindowSet.java
  flink-test-utils-parent/flink-test-utils/src/main/java/org/apache/flink/test/util/SecureTestEnvironment.java
  flink-yarn/src/main/java/org/apache/flink/yarn/YarnClusterDescriptor.java
Labels: review=description?

#13153 [FLINK-18966][python] Support key_by() on ConnectedStreams for Python DataStream API
  flink-python/pyflink/datastream/data_stream.py
  flink-python/pyflink/datastream/tests/test_data_stream.py
  flink-python/src/main/java/org/apache/flink/datastream/runtime/operators/python/DataStreamTwoInputPythonStatelessFunctionOperator.java
Labels: component=API/Python, review=description?

#13148 [FLINK-17621][e2e] Use default akka.ask.timeout in TPC-DS e2e test
  flink-end-to-end-tests/test-scripts/test_tpcds.sh
Labels: component=Runtime/Coordination, component=Tests, review=description?

#13155 [FLINK-18947][python] Support partitionCustom() operation for Python …
  flink-python/pom.xml
  flink-python/pyflink/datastream/data_stream.py
  flink-python/pyflink/datastream/functions.py
  flink-python/pyflink/datastream/tests/test_data_stream.py
  flink-python/src/main/java/org/apache/flink/datastream/runtime/functions/python/PartitionCustomKeySelector.java
  flink-python/src/main/java/org/apache/flink/datastream/runtime/operators/python/DataStreamPythonPartitionCustomFunctionOperator.java
  flink-python/src/main/java/org/apache/flink/python/env/beam/ProcessPythonEnvironmentManager.java
  flink-python/src/main/java/org/apache/flink/python/util/PythonConfigUtil.java
  flink-python/src/main/java/org/apache/flink/streaming/api/operators/python/AbstractPythonFunctionOperatorBase.java
  flink-python/src/test/java/org/apache/flink/python/util/PartitionCustomTestMapFunction.java
Labels: component=API/Python, review=description?

#13161 [FLINK-18886][python] Support Kafka connectors for Python DataStream …
  flink-python/pyflink/datastream/connectors.py
  flink-python/pyflink/datastream/tests/test_connectors.py
  flink-python/pyflink/pyflink_gateway_server.py
  flink-python/pyflink/table/tests/test_descriptor.py
  flink-python/pyflink/testing/test_case_utils.py
Labels: component=API/Python, review=description?

#13167 [FLINK-18212][table-planner-blink] Fix Lookup Join failed when there is a UDF equal condition on the column of temporal table
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/common/CommonLookupJoin.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/join/LookupJoinTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/join/LookupJoinTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/LookupJoinITCase.scala
Labels: component=TableSQL/Planner, review=description?

#13174 [FLINK-18972][runtime] BulkSlotProviderImpl disables batch slot request timeout check only if it is really in use
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/slotpool/BulkSlotProviderImpl.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/slotpool/BulkSlotProviderImplTest.java
Labels: component=Runtime/Coordination, review=description?

#13169 [FLINK-18944][python] Support JDBC connector for Python DataStream API.
  flink-python/pyflink/datastream/connectors.py
  flink-python/pyflink/datastream/data_stream.py
  flink-python/pyflink/datastream/tests/test_connectors.py
Labels: component=API/Python, review=description?

#13168 [FLINK-18965][sql-client] Exclude hadoop-hdfs transitive dependency f…
  flink-table/flink-sql-client/pom.xml
Labels: component=Connectors/Hive, review=description?

#13156 [FLINK-18949][python] Support Streaming File Sink for Python DataStream API
  flink-python/pyflink/common/serialization.py
  flink-python/pyflink/common/tests/test_serialization_schemas.py
  flink-python/pyflink/datastream/connectors.py
  flink-python/pyflink/datastream/tests/test_connectors.py
Labels: component=API/Python, review=description?

#13158 [hotfix] [docs] Fix typo in checkpoint monitoring doc
  docs/monitoring/checkpoint_monitoring.md
  docs/monitoring/checkpoint_monitoring.zh.md
Labels: review=description?

#13191 [FLINK-18985][python] Update the Sphinx doc for Python DataStream API.
  flink-python/docs/index.rst
  flink-python/pyflink/datastream/__init__.py
  flink-python/pyflink/datastream/data_stream.py
  flink-python/pyflink/datastream/functions.py
Labels: component=API/Python, component=Documentation, review=description?

#13183 [BP-1.10][FLINK-18212][table-planner-blink] Fix Lookup Join failed when there is a UDF equal condition on the column of temporal table
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/common/CommonLookupJoin.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/join/LookupJoinTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/join/LookupJoinTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/LookupJoinITCase.scala
Labels: component=TableSQL/Planner, review=description?

#13182 [BP-1.11][FLINK-18212][table-planner-blink] Fix Lookup Join failed when there is a UDF equal condition on the column of temporal table
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/common/CommonLookupJoin.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/join/LookupJoinTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/join/LookupJoinTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/LookupJoinITCase.scala
Labels: component=TableSQL/Planner, review=description?

#13176 [FLINK-18930][docs-zh] Translate "Hive Dialect" page of "Hive Integration" into Chinese
  docs/dev/table/hive/hive_dialect.zh.md
Labels: component=Connectors/Hive, component=Documentation, review=description?

#13088 [FLINK-18814][docs-zh] Translate the 'Side Outputs' page of 'DataStream API' into Chinese
  docs/dev/stream/side_output.zh.md
Labels: component=Documentation, review=description?

#13196 [FLINK-18997][python] Rename type_info to result_type to make it more clear
  flink-python/pyflink/datastream/data_stream.py
  flink-python/pyflink/datastream/tests/test_data_stream.py
Labels: component=API/Python, review=description?

#13199 [FLINK-18953][python][docs] Add documentation for DataTypes in Python DataStream API
  docs/dev/python/user-guide/datastream/data_types.md
  docs/dev/python/user-guide/datastream/data_types.zh.md
  docs/dev/python/user-guide/datastream/index.md
  docs/dev/python/user-guide/datastream/index.zh.md
Labels: component=API/Python, review=description?

#12908 [FLINK-18449][table sql/api]Kafka topic discovery & partition discove…
  docs/dev/table/connectors/kafka.md
  docs/dev/table/connectors/kafka.zh.md
  flink-connectors/flink-connector-kafka-0.10/src/main/java/org/apache/flink/streaming/connectors/kafka/table/Kafka010DynamicSource.java
  flink-connectors/flink-connector-kafka-0.10/src/main/java/org/apache/flink/streaming/connectors/kafka/table/Kafka010DynamicTableFactory.java
  flink-connectors/flink-connector-kafka-0.10/src/test/java/org/apache/flink/streaming/connectors/kafka/table/Kafka010DynamicTableFactoryTest.java
  flink-connectors/flink-connector-kafka-0.11/src/main/java/org/apache/flink/streaming/connectors/kafka/table/Kafka011DynamicSource.java
  flink-connectors/flink-connector-kafka-0.11/src/main/java/org/apache/flink/streaming/connectors/kafka/table/Kafka011DynamicTableFactory.java
  flink-connectors/flink-connector-kafka-0.11/src/test/java/org/apache/flink/streaming/connectors/kafka/table/Kafka011DynamicTableFactoryTest.java
  flink-connectors/flink-connector-kafka-base/src/main/java/org/apache/flink/streaming/connectors/kafka/table/KafkaDynamicSourceBase.java
  flink-connectors/flink-connector-kafka-base/src/main/java/org/apache/flink/streaming/connectors/kafka/table/KafkaDynamicTableFactoryBase.java
  flink-connectors/flink-connector-kafka-base/src/main/java/org/apache/flink/streaming/connectors/kafka/table/KafkaOptions.java
  flink-connectors/flink-connector-kafka-base/src/test/java/org/apache/flink/streaming/connectors/kafka/table/KafkaDynamicTableFactoryTestBase.java
  flink-connectors/flink-connector-kafka-base/src/test/java/org/apache/flink/streaming/connectors/kafka/table/KafkaTableTestBase.java
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/streaming/connectors/kafka/table/KafkaDynamicSource.java
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/streaming/connectors/kafka/table/KafkaDynamicTableFactory.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/KafkaDynamicTableFactoryTest.java
Labels: component=Connectors/Kafka, component=TableSQL/API, review=description?

#13197 [FLINK-18995][hive] Some Hive functions fail because they need to acc…
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/functions/hive/HiveGenericUDF.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/module/hive/HiveModule.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/module/hive/HiveModuleTest.java
Labels: component=Connectors/Hive, review=description?

#13157 [FLINK-18900][hive] HiveCatalog should error out when listing partitions with an invalid spec
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/HiveCatalog.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDialectITCase.java
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/catalog/AbstractJdbcCatalog.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/catalog/GenericInMemoryCatalog.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/catalog/Catalog.java
Labels: component=Connectors/Hive, review=description?

#13221 [FLINK-18900][hive] HiveCatalog should error out when listing partitions with an invalid spec
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/HiveCatalog.java
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/catalog/AbstractJdbcCatalog.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/catalog/GenericInMemoryCatalog.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/catalog/Catalog.java
Labels: review=description?

#13175 [FLINK-18955][Checkpointing] Add checkpoint path to job startup/restore message
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointType.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CompletedCheckpoint.java
Labels: component=Runtime/Checkpointing, review=description?

#13205 [FLINK-17330[runtime] Merge cyclic dependent pipelined regions into one region
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/failover/flip1/PipelinedRegionComputeUtil.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/failover/flip1/StronglyConnectedComponentsComputeUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/failover/flip1/PipelinedRegionComputeUtilTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/failover/flip1/StronglyConnectedComponentsComputeUtilsTest.java
Labels: component=Runtime/Coordination, review=description?

#13233 [FLINK-19040][task] Close SourceReader in SourceOperator
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/SourceOperator.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/SourceOperatorTest.java
Labels: component=Runtime/Task, review=description?

#13050 [FLINK-18750][table] SqlValidatorException thrown when select from a …
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/operations/SqlToOperationConverter.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/utils/Expander.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/logical/WindowPropertiesRule.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/common/ViewsExpandingTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/common/ViewsExpandingTest.scala
Labels: component=TableSQL/API, review=description?

#13236 [FLINK-19041][python] Add dependency management for ConnectedStream i…
  flink-python/pyflink/datastream/tests/test_data_stream.py
  flink-python/src/main/java/org/apache/flink/python/util/PythonConfigUtil.java
Labels: component=API/Python, review=description?

#13247 [hotfix][doc] Correct the WebUI port in docs
  docs/try-flink/local_installation.md
  docs/try-flink/local_installation.zh.md
Labels: review=description?

#13229 [FLINK-19032] Remove deprecated RuntimeContext#getAllAcumullators
  flink-core/src/main/java/org/apache/flink/api/common/functions/RuntimeContext.java
  flink-core/src/main/java/org/apache/flink/api/common/functions/util/AbstractRuntimeUDFContext.java
  flink-libraries/flink-cep/src/main/java/org/apache/flink/cep/operator/CepRuntimeContext.java
  flink-libraries/flink-cep/src/test/java/org/apache/flink/cep/operator/CepRuntimeContextTest.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/runtime/SavepointRuntimeContext.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/async/RichAsyncFunction.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/functions/async/RichAsyncFunctionTest.java
Labels: component=API/Core, review=description?

#13231 [FLINK-19031] Remove deprecated StreamExecutionEnvironment#setStateBackend(AbstactStateBackend)
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/environment/StreamExecutionEnvironment.java
  flink-streaming-scala/src/main/scala/org/apache/flink/streaming/api/scala/StreamExecutionEnvironment.scala
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/utils/DummyStreamExecutionEnvironment.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/util/DummyStreamExecutionEnvironment.java
Labels: component=API/DataStream, review=description?

#13172 [FLINK-18854][docs-zh] Translate the 'API Migration Guides' page of 'Application Development' into Chinese
  docs/dev/migration.zh.md
Labels: component=Documentation, review=description?

#13259 [FLINK-19058][hotfix][doc] Dataset transformations document page error
  docs/dev/batch/dataset_transformations.md
  docs/dev/batch/dataset_transformations.zh.md
Labels: component=API/DataSet, component=Documentation, review=description?

#13250 [FLINK-19052] [serialization] add constructor cache in PojoSerializer
  flink-core/src/main/java/org/apache/flink/api/java/typeutils/runtime/PojoSerializer.java
Labels: component=API/TypeSerializationSystem, review=description?

#12880 [FLINK-18555][table sql/api] Make TableConfig options can be configur…
  docs/_includes/generated/execution_config_configuration.html
  docs/_includes/generated/table_config_configuration.html
  flink-python/pyflink/table/table_config.py
  flink-python/pyflink/table/tests/test_table_config.py
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/local/ExecutionContextTest.java
  flink-table/flink-table-api-java-bridge/src/test/java/org/apache/flink/table/api/bridge/java/internal/StreamTableEnvironmentImplTest.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/TableConfig.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/config/ExecutionConfigOptions.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/config/TableConfigOptions.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/api/TableConfigTest.java
  flink-table/flink-table-api-scala-bridge/src/test/scala/org/apache/flink/table/api/bridge/scala/internal/StreamTableEnvironmentImplTest.scala
Labels: component=TableSQL/API, review=description?

#13212 [FLINK-18973][docs-zh] Translate the 'History Server' page of 'Debugging & Monitoring' into Chinese
  docs/monitoring/historyserver.zh.md
Labels: component=Documentation, review=description?

#13269 [FLINK-18900][table] Revert the modification of Catalog.listPartitions
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/HiveCatalog.java
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/catalog/AbstractJdbcCatalog.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/catalog/GenericInMemoryCatalog.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/catalog/Catalog.java
Labels: component=Connectors/Hive, review=description?

#13238 [FLINK-19042][hive] Remove print table sink from HiveTableSourceITCas…
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTableSourceITCase.java
Labels: component=Connectors/Hive, component=Tests, review=description?

#13264 [FLINK-19061][hive] HiveCatalog fails to get partition column stats i…
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/HiveCatalog.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveCatalogHiveMetadataTest.java
Labels: component=Connectors/Hive, review=description?

#13194 [FLINK-18987][WebUI] Sort user configuration entries
  flink-runtime-web/web-dashboard/src/app/pages/job/configuration/job-configuration.component.ts
Labels: component=Runtime/WebFrontend, review=description?

#13201 [hotfix][docs] Fix typos and links in the new Source API docs
  docs/dev/stream/sources.md
  docs/dev/stream/sources.zh.md
Labels: review=description?

#13267 [FLINK-19012][task] Check AsyncCheckpointRunnable status before throwing an exception
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/AsyncCheckpointRunnable.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/SubtaskCheckpointCoordinatorImpl.java
Labels: component=Runtime/Checkpointing, component=Runtime/Task, component=Tests, review=description?

#13093 [FLINK-18860][docs-zh] Translate "Execution Plans" page of "Managing Execution" into Chinese
  docs/dev/execution_plans.zh.md
Labels: component=Documentation, component=chinese-translation, review=description?

#12962 [FLINK-18694] Add unaligned checkpoint config to web ui
  flink-runtime-web/src/test/resources/rest_api_v1.snapshot
  flink-runtime-web/web-dashboard/src/app/pages/job/checkpoints/job-checkpoints.component.html
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/handler/job/checkpoints/CheckpointConfigHandler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/messages/checkpoints/CheckpointConfigInfo.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/messages/checkpoints/CheckpointConfigInfoTest.java
Labels: component=Runtime/REST, component=Runtime/WebFrontend, review=description?

#13144 [FLINK-15853][hive][table-planner-blink] Use the new type inference f…
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/factories/HiveFunctionDefinitionFactory.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/functions/hive/HiveGenericUDF.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/functions/hive/HiveScalarFunction.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/functions/hive/HiveSimpleUDF.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/functions/hive/HiveGenericUDFTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/functions/hive/HiveSimpleUDFTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/module/hive/HiveModuleTest.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/catalog/FunctionCatalogOperatorTable.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/functions/utils/HiveScalarSqlFunction.java
Labels: component=Connectors/Hive, review=description?
