Repository apache/flink, pull requests merged in 2021-04, with the labels that each got.

#15354 [FLINK-21927][table-planner-blink] Resolve ExpressionReducer compile fail when running long term
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/CodeGenUtils.scala
Labels: component=TableSQL/Planner, review=description?

#15482 [FLINK-22103][hive] Fix HiveModuleTest for 1.2.1
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/module/hive/HiveModuleTest.java
Labels: component=Connectors/Hive, review=description?

#15460 [FLINK-22050][runtime] Don't release StreamTask network resources from TaskCanceller
  flink-runtime/src/main/java/org/apache/flink/runtime/jobgraph/tasks/AbstractInvokable.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskmanager/Task.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
Labels: component=Runtime/Network, review=description?

#15467 [FLINK-21880][tests] Ignore incomplete checkpoints in UnalignedCheckpointRescaleITCase
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/UnalignedCheckpointTestBase.java
Labels: component=Runtime/Checkpointing, review=description?

#15472 [FLINK-16947][Azure] Attempt to fix the "Entry has not been leased fr…
  azure-pipelines.yml
  tools/azure-pipelines/build-apache-repo.yml
Labels: component=BuildSystem/AzurePipelines, review=description?

#15471 [FLINK-16947][Azure] Use latest docker image for CI
  azure-pipelines.yml
  tools/azure-pipelines/build-apache-repo.yml
Labels: component=BuildSystem/AzurePipelines, review=description?

#15473 [FLINK-22094] Update release scripts after documentation switch to Hugo
  tools/releasing/create_release_branch.sh
  tools/releasing/create_snapshot_branch.sh
  tools/releasing/update_branch_version.sh
Labels: component=ReleaseSystem, review=description?

#15462 [FLINK-17012][webui] Added support of RECOVERING state
  flink-runtime-web/web-dashboard/src/app/app.config.ts
  flink-runtime-web/web-dashboard/src/app/interfaces/job-detail.ts
  flink-runtime-web/web-dashboard/src/app/interfaces/job-overview.ts
  flink-runtime-web/web-dashboard/src/app/interfaces/job-vertex-task-manager.ts
Labels: component=Runtime/Task, review=description?

#15505 [FLINK-22105][tests] Fix checkpoint id in testForceAlignedCheckpointResultingInPriorityEvents
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/SubtaskCheckpointCoordinatorTest.java
Labels: component=Runtime/Checkpointing, review=description?

#15504 [FLINK-21873][connector/common] Harden CoordinatedSourceRescaleITCase by checking exceptions more leniently.
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/reader/CoordinatedSourceRescaleITCase.java
Labels: component=Connectors/Common, review=description?

#15503 [FLINK-21873][connector/common] Harden CoordinatedSourceRescaleITCase by checking exceptions more leniently.
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/reader/CoordinatedSourceRescaleITCase.java
Labels: component=Connectors/Common, review=description?

#15494 [FLINK-17957] [table-api][parser] Forbidden syntax "CREATE SYSTEM FUNCTION" for sql parser
  flink-table/flink-sql-parser/src/main/codegen/includes/parserImpls.ftl
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/utils/ParserResource.java
  flink-table/flink-sql-parser/src/test/java/org/apache/flink/sql/parser/FlinkSqlParserImplTest.java
Labels: component=TableSQL/API, review=description?

#15488 [hotfix][docs] Fix max parallelism behavior for Reactive Mode
  docs/content.zh/docs/deployment/elastic_scaling.md
  docs/content/docs/deployment/elastic_scaling.md
Labels: review=description?

#15517 [FLINK-21152][build] Bump flink-shaded to 13.0
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/serde/FlinkDeserializationContext.java
  pom.xml
Labels: component=BuildSystem, review=description?

#15492 [FLINK-22107][hive] Include antlr into hive connector uber jars
  flink-connectors/flink-sql-connector-hive-1.2.2/pom.xml
  flink-connectors/flink-sql-connector-hive-1.2.2/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-hive-1.2.2/src/main/resources/META-INF/licenses/LICENSE.antlr
  flink-connectors/flink-sql-connector-hive-2.2.0/pom.xml
  flink-connectors/flink-sql-connector-hive-2.2.0/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-hive-2.2.0/src/main/resources/META-INF/licenses/LICENSE.antlr
  flink-connectors/flink-sql-connector-hive-2.3.6/pom.xml
  flink-connectors/flink-sql-connector-hive-2.3.6/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-hive-2.3.6/src/main/resources/META-INF/licenses/LICENSE.antlr
  flink-connectors/flink-sql-connector-hive-3.1.2/pom.xml
  flink-connectors/flink-sql-connector-hive-3.1.2/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-hive-3.1.2/src/main/resources/META-INF/licenses/LICENSE.antlr
Labels: component=Connectors/Hive, review=description?

#15515 [FLINK-22102][hive] Throw meaningful exceptions for unsupported DDLs
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParser.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/parse/HiveParserDDLSemanticAnalyzer.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDialectITCase.java
Labels: component=Connectors/Hive, review=description?

#15520 [FLINK-22097][sql-client] CliResultView should wait RefreshThread exi…
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliResultView.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliResultViewTest.java
Labels: component=TableSQL/Client, review=description?

#15247 [FLINK-21833][Table SQL / Runtime] TemporalRowTimeJoinOperator.java will lead to the state expansion by short-life-cycle & huge RowData, although config idle.state.retention.time
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/join/temporal/TemporalRowTimeJoinOperator.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/join/temporal/TemporalRowTimeJoinOperatorTest.java
Labels: component=TableSQL/Runtime, review=description?

#15497 [FLINK-22084][runtime] Use a consistent default max parallelism in the Adaptive Scheduler
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/SchedulerBase.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveScheduler.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveSchedulerComputeReactiveModeVertexParallelismTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveSchedulerTest.java
Labels: component=Runtime/Checkpointing, component=Runtime/Coordination, review=description?

#15528 [BP-1.12][FLINK-21833][table-runtime-blink] Fix state of TemporalRowTimeJoinOperator increase unlimitedly even state ttl is enabled
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/join/temporal/TemporalRowTimeJoinOperator.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/join/temporal/TemporalRowTimeJoinOperatorTest.java
Labels: component=TableSQL/Runtime, review=description?

#15513 [FLINK-22143][table runtime] fix less lines than requested returned by LimitableBulk…
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/LimitableBulkFormat.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/filesystem/LimitableBulkFormatTest.java
Labels: component=Connectors/FileSystem, component=TableSQL/Runtime, review=description?

#15529 [FLINK-22148][table] Planner rules should use RexCall#equsls to check…
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/logical/FlinkCalcMergeRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/logical/JoinDependentConditionDerivationRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/logical/RewriteMultiJoinConditionRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/logical/SimplifyFilterConditionRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/logical/SimplifyJoinConditionRule.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/join/SemiAntiJoinTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/rules/logical/RewriteMultiJoinConditionRuleTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/join/JoinReorderTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/batch/sql/join/SemiAntiJoinTest.scala
Labels: component=TableSQL/Planner, review=description?

#15521 [hotfix] Fix the release version for JdbcXaSinkFunction
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/xa/JdbcXaSinkFunction.java
Labels: review=description?

#15522 [hotfix] Remove unnecessary rollbackPreparedFromCheckpoint from JdbcXaSinkFunction.snapshot
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/xa/JdbcXaSinkFunction.java
Labels: review=description?

#15418 [hotfix][table] Fix the exception info of raw format
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/formats/raw/RawFormatSerializationSchema.java
Labels: review=description?

#15532 Add missed parenthesis into doc demo code.
  docs/content.zh/docs/dev/datastream/operators/windows.md
  docs/content/docs/dev/datastream/operators/windows.md
Labels: review=description?

#15451 [FLINK-21969][python] Invoke finish bundle method before emitting the max timestamp watermark in PythonTimestampsAndWatermarksOperator
  flink-python/pyflink/datastream/tests/test_data_stream.py
  flink-python/src/main/java/org/apache/flink/streaming/api/operators/python/PythonTimestampsAndWatermarksOperator.java
Labels: component=API/Python, review=description?

#15395 [FLINK-15146][core][ttl] Fix check that incremental cleanup size must be greater than zero
  flink-core/src/main/java/org/apache/flink/api/common/state/StateTtlConfig.java
  flink-core/src/test/java/org/apache/flink/api/common/state/StateTtlConfigTest.java
Labels: component=<none>, review=description?

#15519 [FLINK-22120] Remove duplicate code in generated code for map get
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/calls/ScalarOperatorGens.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/expressions/MapTypeTest.scala
Labels: component=TableSQL/Planner, review=description?

#15556 [FLINK-22187][docs] Remove description of sync checkpoint mode of HashMapStateBackend
  docs/content/docs/ops/state/state_backends.md
Labels: component=Documentation, review=description?

#15489 [FLINK-22106][table-planner-blink] Result type of GeneratedExpression in StringCallGen should be compatible with their definition in FlinkSqlOperatorTable
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/GenerateUtils.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/calls/ScalarOperatorGens.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/calls/StringCallGen.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/expressions/ScalarFunctionsTest.scala
Labels: component=TableSQL/API, review=description?

#15541 [FLINK-20230][table] FileSystemOutputFormat should delete file using FileSystemFactory
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/FileSystemOutputFormat.java
Labels: component=Connectors/FileSystem, component=TableSQL/Ecosystem, review=description?

#15544 [FLINK-17371][table-runtime] Open testDefaultDecimalCasting case in DecimalTypeTest
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/expressions/DecimalTypeTest.scala
Labels: component=TableSQL/Runtime, review=description?

#15547 [FLINK-22015][table-planner-blink] Exclude IS NULL from SEARCH operators
  flink-table/flink-table-planner-blink/src/main/java/org/apache/calcite/rex/RexSimplify.java
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/CalcTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/CalcTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/batch/sql/CalcTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/CalcTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/CalcITCase.scala
Labels: component=TableSQL/Planner, review=description?

#15552 [FLINK-22184][client] Shutdown client outside of netty thread
  flink-clients/src/main/java/org/apache/flink/client/deployment/executors/AbstractSessionClusterExecutor.java
Labels: component=Client/JobSubmission, review=description?

#15550 [FLINK-21031] Reenable JobMasterStopWithSavepointIT
  flink-tests/src/test/java/org/apache/flink/runtime/jobmaster/JobMasterStopWithSavepointITCase.java
Labels: component=Tests, review=description?

#15554 [FLINK-20816][tests] Fix race condition in NotifyCheckpointAbortedITCase.
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/NotifyCheckpointAbortedITCase.java
Labels: component=Runtime/Checkpointing, review=description?

#15565 [FLINK-20816][tests] Fix race condition in NotifyCheckpointAbortedITCase. [1.12]
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/NotifyCheckpointAbortedITCase.java
Labels: component=Runtime/Checkpointing, review=description?

#15571 [FLINK-22166][table] Empty values with sort willl fail
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/calcite/FlinkLogicalRelFactories.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/logical/FlinkLogicalValues.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/ValuesTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/batch/sql/ValuesTest.scala
Labels: component=TableSQL/Runtime, review=description?

#15563 [FLINK-21748][sql-client] Fix unstable LocalExecutorITCase.testBatchQ…
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/result/ChangelogCollectResult.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/result/CollectResultBase.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/result/MaterializedCollectBatchResult.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/result/MaterializedCollectStreamResult.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/local/LocalExecutorITCase.java
Labels: component=TableSQL/Client, review=description?

#15572 [FLINK-22202][parquet] Thread safety in ParquetColumnarRowInputFormat
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/ParquetColumnarRowInputFormat.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/ParquetVectorizedInputFormat.java
  flink-formats/flink-parquet/src/test/java/org/apache/flink/formats/parquet/ParquetColumnarRowInputFormatTest.java
Labels: component=Formats, review=description?

#15583 [FLINK-21012][format-avro] Replace lambda with anonymous class to prevent serialization issue
  flink-formats/flink-avro/src/main/java/org/apache/flink/formats/avro/AvroFileFormatFactory.java
Labels: component=Formats, review=description?

#15543 [FLINK-17803][table] Should throw a readable exception when group by Map type
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/CodeGenUtils.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/CalcITCase.scala
Labels: component=TableSQL/Planner, review=description?

#15567 [FLINK-22215][runtime] RECOVERING state is renamed to INITIALIZING
  docs/layouts/shortcodes/generated/rest_v1_dispatcher.html
  flink-runtime-web/src/test/resources/rest_api_v1.snapshot
  flink-runtime-web/web-dashboard/src/app/app.config.ts
  flink-runtime-web/web-dashboard/src/app/interfaces/job-detail.ts
  flink-runtime-web/web-dashboard/src/app/interfaces/job-overview.ts
  flink-runtime-web/web-dashboard/src/app/interfaces/job-vertex-task-manager.ts
  flink-runtime/src/main/java/org/apache/flink/runtime/deployment/TaskDeploymentDescriptorFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/execution/ExecutionState.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/DefaultExecutionGraph.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/Execution.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/ExecutionJobVertex.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/RemoteChannelStateChecker.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/DefaultOperatorCoordinatorHandler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskmanager/Task.java
  flink-runtime/src/test/java/org/apache/flink/runtime/deployment/ShuffleDescriptorTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/ArchivedExecutionGraphTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmanager/scheduler/UpdatePartitionConsumersTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/JobMasterTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/operators/coordination/OperatorCoordinatorSchedulerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/DefaultSchedulerBatchSchedulingTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/DefaultSchedulerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/SchedulerTestingUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskmanager/TaskTest.java
Labels: component=Runtime/Task, review=description?

#15495 [FLINK-21305][table-planner-blink] Fix Cumulative and Hopping window should accumulate late events belonging to the cleaned slice
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecGlobalWindowAggregate.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecWindowAggregate.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdWindowProperties.scala
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/runtime/stream/jsonplan/WindowAggregateJsonITCase.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/WindowAggregateITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/WindowDistinctAggregateITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/WindowRankITCase.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/aggregate/window/LocalSlicingWindowAggOperator.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/aggregate/window/SlicingWindowAggOperatorBuilder.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/aggregate/window/buffers/RecordsWindowBuffer.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/aggregate/window/combines/AggRecordsCombiner.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/aggregate/window/combines/GlobalAggAccCombiner.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/aggregate/window/processors/AbstractWindowAggProcessor.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/aggregate/window/processors/SliceSharedWindowAggProcessor.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/aggregate/window/processors/SliceUnsharedWindowAggProcessor.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/window/slicing/SliceAssigner.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/window/slicing/SliceAssigners.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/util/TimeWindowUtil.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/aggregate/window/SlicingWindowAggOperatorTest.java
Labels: component=TableSQL/Planner, review=description?

#15568 [FLINK-17371][table-runtime] Add cases for decimal casting
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/calls/ScalarOperatorGens.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/expressions/DecimalCastTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/expressions/TemporalTypesTest.scala
Labels: component=TableSQL/Runtime, review=description?

#15596 [FLINK-21012][format-avro] Replace lambda with anonymous class to prevent serialization issue
  flink-formats/flink-avro/src/main/java/org/apache/flink/formats/avro/AvroFileFormatFactory.java
Labels: component=Formats, review=description?

#15580 [FLINK-22245][sql-client] Reuse PrintUtils.MAX_COLUMN_WIDTH in CliCha…
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliChangelogResultView.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliResultView.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliTableResultView.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliTableauResultView.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliTableauResultViewTest.java
  flink-table/flink-sql-client/src/test/resources/sql/catalog_database.q
  flink-table/flink-sql-client/src/test/resources/sql/function.q
  flink-table/flink-sql-client/src/test/resources/sql/insert.q
  flink-table/flink-sql-client/src/test/resources/sql/module.q
  flink-table/flink-sql-client/src/test/resources/sql/select.q
  flink-table/flink-sql-client/src/test/resources/sql/statement_set.q
Labels: component=TableSQL/Client, review=description?

#15597 [FLINK-22197][tests] Shutdown cluster before collecting checkpoints
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/UnalignedCheckpointTestBase.java
Labels: component=Runtime/Checkpointing, review=description?

#15538 [FLINK-21032][table] Not use ParallelFiniteTestSource in CompactionITCaseBase
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/runtime/stream/sql/CompactionITCaseBase.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/runtime/utils/ParallelFiniteTestSource.java
Labels: component=TableSQL/Ecosystem, review=description?

#15545 [FLINK-22167][table-planner] Partial insert not works when complex fields reorder
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/calcite/PreValidateReWriter.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/common/PartialInsertTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/common/PartialInsertTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/table/TableSinkITCase.scala
Labels: component=TableSQL/Runtime, review=description?

#15584 [FLINK-21743] Document limitation of JdbcXaSinkFunction for MySQL support
  docs/content/docs/connectors/datastream/jdbc.md
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/xa/JdbcXaSinkFunction.java
Labels: component=Connectors/JDBC, review=description?

#15593 [FLINK-22252][docs][config] Fix backticks rendering
  docs/layouts/shortcodes/generated/all_jobmanager_section.html
  docs/layouts/shortcodes/generated/blob_server_configuration.html
  docs/layouts/shortcodes/generated/checkpointing_configuration.html
  docs/layouts/shortcodes/generated/cluster_configuration.html
  docs/layouts/shortcodes/generated/common_state_backends_section.html
  docs/layouts/shortcodes/generated/execution_checkpointing_configuration.html
  docs/layouts/shortcodes/generated/execution_config_configuration.html
  docs/layouts/shortcodes/generated/expert_cluster_section.html
  docs/layouts/shortcodes/generated/expert_scheduling_section.html
  docs/layouts/shortcodes/generated/expert_security_ssl_section.html
  docs/layouts/shortcodes/generated/exponential_delay_restart_strategy_configuration.html
  docs/layouts/shortcodes/generated/failure_rate_restart_strategy_configuration.html
  docs/layouts/shortcodes/generated/fixed_delay_restart_strategy_configuration.html
  docs/layouts/shortcodes/generated/history_server_configuration.html
  docs/layouts/shortcodes/generated/job_manager_configuration.html
  docs/layouts/shortcodes/generated/kubernetes_config_configuration.html
  docs/layouts/shortcodes/generated/pipeline_configuration.html
  docs/layouts/shortcodes/generated/prometheus_push_gateway_reporter_configuration.html
  docs/layouts/shortcodes/generated/restart_strategy_configuration.html
  docs/layouts/shortcodes/generated/security_configuration.html
  docs/layouts/shortcodes/generated/state_backend_configuration.html
  docs/layouts/shortcodes/generated/stream_pipeline_configuration.html
  docs/layouts/shortcodes/generated/yarn_config_configuration.html
  flink-core/src/main/java/org/apache/flink/configuration/description/HtmlFormatter.java
Labels: component=Documentation, component=Runtime/Configuration, review=description?

#15578 [FLINK-21431][upsert-kafka] Use testcontainers for KafkaTable ITCase
  flink-connectors/flink-connector-kafka/pom.xml
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/KafkaChangelogTableITCase.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/KafkaTableITCase.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/KafkaTableTestBase.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/UpsertKafkaTableITCase.java
Labels: component=Connectors/Kafka, review=description?

#15564 [FLINK-22207][connectors/hive]Hive Catalog retrieve Flink Properties …
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/HiveCatalog.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveCatalogTest.java
Labels: component=Connectors/Hive, review=description?

#15082 [FLINK-21592][table-planner-blink] RemoveSingleAggregateRule fails du…
  flink-table/flink-table-planner-blink/src/main/java/org/apache/calcite/sql2rel/RelDecorrelator.java
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/rules/logical/RemoveSingleAggregateRuleTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/rules/logical/RemoveSingleAggregateRuleTest.scala
Labels: component=TableSQL/Planner, review=description?

#15533 [FLINK-22063][table] Fix bug that some join conditions are lost when …
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/common/CommonPhysicalLookupJoin.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/join/LookupJoinTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/join/LookupJoinTest.scala
Labels: component=TableSQL/API, review=description?

#15600 [FLINK-22144][runtime][runtime-web] Adds more documentation and moves option
  docs/content/docs/deployment/config.md
  docs/layouts/shortcodes/generated/all_jobmanager_section.html
  docs/layouts/shortcodes/generated/job_manager_configuration.html
  docs/layouts/shortcodes/generated/rest_v1_dispatcher.html
  docs/layouts/shortcodes/generated/web_configuration.html
  flink-core/src/main/java/org/apache/flink/configuration/JobManagerOptions.java
  flink-core/src/main/java/org/apache/flink/configuration/WebOptions.java
  flink-runtime-web/web-dashboard/src/app/pages/job/exceptions/job-exceptions.component.html
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/messages/JobExceptionsHeaders.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/SchedulerBase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/DefaultSchedulerTest.java
Labels: component=Runtime/Coordination, review=description?

#15586 [FLINK-21992][network] Fix availability notification in UnionInputGate.
  flink-runtime/src/main/java/org/apache/flink/runtime/io/AvailabilityProvider.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/UnionInputGate.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/consumer/UnionInputGateTest.java
Labels: component=Runtime/Checkpointing, review=description?

#15587 [FLINK-21992][network] Fix availability notification in UnionInputGate. [1.12]
  flink-runtime/src/main/java/org/apache/flink/runtime/io/AvailabilityProvider.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/UnionInputGate.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/consumer/UnionInputGateTest.java
Labels: component=Runtime/Checkpointing, review=description?

#15612 [FLINK-21859][coordination] Ignore outdated slot offer responses
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskExecutor.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskExecutorTest.java
Labels: component=Runtime/Coordination, review=description?

#15611 [FLINK-22180][coordination] Only reclaim slots if job is removed
  flink-runtime/src/main/java/org/apache/flink/runtime/resourcemanager/ResourceManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/resourcemanager/slotmanager/DeclarativeSlotManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/resourcemanager/slotmanager/FineGrainedSlotManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/resourcemanager/slotmanager/SlotManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/resourcemanager/slotmanager/SlotManagerImpl.java
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/ResourceManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/slotmanager/DeclarativeSlotManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/slotmanager/TestingSlotManager.java
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/slotmanager/TestingSlotManagerBuilder.java
Labels: component=Runtime/Coordination, review=description?

#15155 [FLINK-21660][table-api-java][hive] Stop using is_generic to differen…
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveDynamicTableFactory.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableFactory.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/HiveCatalog.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/HiveDatabaseUtil.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/util/HiveTableUtil.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/DDLOperationConverter.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDialectITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTableFactoryTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveCatalogDataTypeTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveCatalogGenericMetadataTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveCatalogHiveMetadataTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveCatalogITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveCatalogTest.java
  flink-python/pyflink/table/tests/test_catalog.py
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/local/DependencyTest.java
  flink-table/flink-sql-parser-hive/src/main/java/org/apache/flink/sql/parser/hive/ddl/SqlCreateHiveDatabase.java
  flink-table/flink-sql-parser-hive/src/main/java/org/apache/flink/sql/parser/hive/ddl/SqlCreateHiveTable.java
  flink-table/flink-sql-parser-hive/src/main/java/org/apache/flink/sql/parser/hive/ddl/SqlCreateHiveView.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/catalog/CatalogDatabaseImpl.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/catalog/CatalogTableBuilder.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/catalog/CatalogTableImpl.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/catalog/GenericInMemoryCatalog.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/catalog/CatalogTestBase.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/catalog/CatalogDatabase.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/catalog/CatalogTest.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/catalog/CatalogTestUtil.java
Labels: component=TableSQL/API, review=description?

#15603 [FLINK-22169][sql-client] Beautify the CliTableauResultView when print
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliTableauResultView.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliTableauResultViewTest.java
  flink-table/flink-sql-client/src/test/resources/sql/catalog_database.q
  flink-table/flink-sql-client/src/test/resources/sql/insert.q
  flink-table/flink-sql-client/src/test/resources/sql/select.q
  flink-table/flink-sql-client/src/test/resources/sql/statement_set.q
Labels: component=TableSQL/Client, review=description?

#15549 [FLINK-20761][hive] Escape the location path when creating input splits
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveSourceFileEnumerator.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HiveTableInputFormat.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/TableEnvHiveConnectorITCase.java
Labels: component=Connectors/Hive, review=description?

#15610 [FLINK-22236][docs] Document opt-in behavior of FlameGraph
  docs/content/docs/ops/debugging/flame_graphs.md
Labels: component=Runtime/Configuration, component=Runtime/WebFrontend, review=description?

#15613 [FLINK-21941] Make sure jobs do not finish before taking savepoint in RescalingITCase
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/RescalingITCase.java
Labels: component=Runtime/Checkpointing, component=Runtime/StateBackends, review=description?

#15625 [FLINK-20761][hive] Escape the location path when creating input spli…
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveSourceFileEnumerator.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HiveTableInputFormat.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/TableEnvHiveConnectorITCase.java
Labels: component=Connectors/Hive, review=description?

#15632 [FLINK-22288][connectors / jdbc] Remove unnecessary argument in JdbcSink
  docs/content/docs/connectors/datastream/jdbc.md
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/JdbcSink.java
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/xa/JdbcExactlyOnceSinkE2eTest.java
Labels: component=Connectors/JDBC, review=description?

#15570 [FLINK-22016][table-planner-blink] RexNodeExtractor#visitLiteral now deal with NULL literals correctly
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/utils/RexNodeExtractor.scala
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/plan/rules/logical/PushFilterIntoTableSourceScanRuleTestBase.java
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/rules/logical/PushFilterInCalcIntoTableSourceRuleTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/rules/logical/PushFilterIntoLegacyTableSourceScanRuleTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/rules/logical/PushFilterIntoTableSourceScanRuleTest.xml
Labels: component=TableSQL/Planner, review=description?

#15644 [FLINK-22308][sql-client] Fix CliTableauResultView print results afte…
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliTableauResultView.java
Labels: component=TableSQL/Client, review=description?

#14566 FLINK-20855 Calculating numBuckets exceeds the maximum value of int a…
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/hashtable/LongHashPartition.java
Labels: component=TableSQL/Runtime, review=description?

#15643 [FLINK-22117] Reduce the logs if not all tasks are RUNNING when checkpointing
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinator.java
Labels: component=Runtime/Checkpointing, review=description?

#15574 [hotfix][docs] Removed reference to fold in window function
  docs/content.zh/docs/dev/datastream/operators/windows.md
  docs/content/docs/dev/datastream/operators/windows.md
Labels: review=description?

#15633 [FLINK-22085][tests] Update NetworkFailureHandler to prevent closeOnFlush() from being called recursively
  flink-test-utils-parent/flink-test-utils/src/main/java/org/apache/flink/networking/NetworkFailureHandler.java
Labels: component=Connectors/Kafka, review=description?

#15659 [FLINK-22338][table-planner] Clear watermark output when test finished for FromElementSourceFunctionWithWatermark
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/factories/TestValuesRuntimeFunctions.java
Labels: component=TableSQL/Planner, review=description?

#15579 [FLINK-22208][build] Bump snappy-java to 1.1.8.3
  flink-dist/src/main/resources/META-INF/NOTICE
  pom.xml
Labels: component=BuildSystem, review=description?

#15527 [FLINK-21073][docs] Mention that RocksDB would ignore java's equals/hashCode during comparing objects
  docs/content.zh/docs/ops/state/state_backends.md
  docs/content/docs/ops/state/state_backends.md
Labels: component=Documentation, component=Runtime/StateBackends, review=description?

#15483 [FLINK-22092][hive] Ignore static conf file URLs in HiveConf
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/HiveCatalog.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveCatalogTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveTestUtils.java
  flink-connectors/flink-connector-hive/src/test/resources/hive-site.xml
Labels: component=Connectors/Hive, review=description?

#15615 [FLINK-22021][table-planner-blink] Fix exception when PushFilterIntoLegacyTableSourceScanRule is faced with INTERVAL types
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/utils/RexNodeExtractor.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/rules/logical/PushFilterIntoLegacyTableSourceScanRuleTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/rules/logical/PushFilterIntoTableSourceScanRuleTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/rules/logical/PushFilterIntoLegacyTableSourceScanRuleTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/CalcITCase.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/data/conversion/DayTimeIntervalDurationConverter.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/data/conversion/YearMonthIntervalPeriodConverter.java
Labels: component=TableSQL/Planner, review=description?

#15672 [FLINK-22338][table-planner] Clear watermark output when test finished for FromElementSourceFunctionWithWatermark
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/factories/TestValuesRuntimeFunctions.java
Labels: component=TableSQL/Planner, review=description?

#15673 [FLINK-22352][mesos] Deprecates Mesos support
  docs/content.zh/docs/deployment/config.md
  docs/content.zh/docs/deployment/resource-providers/mesos.md
  docs/content/docs/deployment/config.md
  docs/content/docs/deployment/resource-providers/mesos.md
  flink-mesos/src/main/java/org/apache/flink/mesos/configuration/MesosOptions.java
  flink-mesos/src/main/java/org/apache/flink/mesos/entrypoint/MesosJobClusterEntrypoint.java
  flink-mesos/src/main/java/org/apache/flink/mesos/entrypoint/MesosSessionClusterEntrypoint.java
  flink-mesos/src/main/java/org/apache/flink/mesos/entrypoint/MesosTaskExecutorRunner.java
  flink-mesos/src/main/java/org/apache/flink/mesos/runtime/clusterframework/LaunchableMesosWorker.java
  flink-mesos/src/main/java/org/apache/flink/mesos/runtime/clusterframework/MesosConfigKeys.java
  flink-mesos/src/main/java/org/apache/flink/mesos/runtime/clusterframework/MesosResourceManagerActions.java
  flink-mesos/src/main/java/org/apache/flink/mesos/runtime/clusterframework/MesosResourceManagerActorFactory.java
  flink-mesos/src/main/java/org/apache/flink/mesos/runtime/clusterframework/MesosResourceManagerActorFactoryImpl.java
  flink-mesos/src/main/java/org/apache/flink/mesos/runtime/clusterframework/MesosResourceManagerDriver.java
  flink-mesos/src/main/java/org/apache/flink/mesos/runtime/clusterframework/MesosResourceManagerFactory.java
  flink-mesos/src/main/java/org/apache/flink/mesos/runtime/clusterframework/MesosTaskManagerParameters.java
  flink-mesos/src/main/java/org/apache/flink/mesos/runtime/clusterframework/MesosWorkerResourceSpecFactory.java
  flink-mesos/src/main/java/org/apache/flink/mesos/runtime/clusterframework/RegisteredMesosWorkerNode.java
  flink-mesos/src/main/java/org/apache/flink/mesos/runtime/clusterframework/services/AbstractMesosServices.java
  flink-mesos/src/main/java/org/apache/flink/mesos/runtime/clusterframework/services/MesosServices.java
  flink-mesos/src/main/java/org/apache/flink/mesos/runtime/clusterframework/services/MesosServicesUtils.java
  flink-mesos/src/main/java/org/apache/flink/mesos/runtime/clusterframework/services/StandaloneMesosServices.java
  flink-mesos/src/main/java/org/apache/flink/mesos/runtime/clusterframework/services/ZooKeeperMesosServices.java
  flink-mesos/src/main/java/org/apache/flink/mesos/runtime/clusterframework/store/MesosWorkerStore.java
  flink-mesos/src/main/java/org/apache/flink/mesos/runtime/clusterframework/store/StandaloneMesosWorkerStore.java
  flink-mesos/src/main/java/org/apache/flink/mesos/runtime/clusterframework/store/ZooKeeperMesosWorkerStore.java
  flink-mesos/src/main/java/org/apache/flink/mesos/util/MesosArtifactResolver.java
  flink-mesos/src/main/java/org/apache/flink/mesos/util/MesosArtifactServer.java
  flink-mesos/src/main/java/org/apache/flink/mesos/util/MesosArtifactServerImpl.java
  flink-mesos/src/main/java/org/apache/flink/mesos/util/MesosConfiguration.java
  flink-mesos/src/main/java/org/apache/flink/mesos/util/MesosResourceAllocation.java
  flink-mesos/src/main/java/org/apache/flink/mesos/util/MesosUtils.java
Labels: component=Deployment/Mesos, review=description?

#15685 [FLINK-21106][docs] Updates Flink docs to refer to the plugin's page
  docs/content.zh/docs/flinkDev/ide_setup.md
  docs/content/docs/flinkDev/ide_setup.md
Labels: component=<none>, review=description?

#15670 [FLINK-22346][sql-client] Remove sql-client-defaults.yaml
  flink-dist/src/main/assemblies/bin.xml
  flink-table/flink-sql-client/conf/sql-client-defaults.yaml
Labels: component=TableSQL/Client, review=description?

#15686 [FLINK-22372][table] Rename LogicalTypeCasts class variables in the castTo method.
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/logical/utils/LogicalTypeCasts.java
Labels: component=TableSQL/API, review=description?

#15381 [hotfix] remove redundant config#setCheckpointStorage.
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/StreamingJobGraphGenerator.java
Labels: review=description?

#15403 [hotfix] fix typo, assign processedData to currentProcessedData rather than currentPersistedData.
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/PendingCheckpointStats.java
Labels: review=description?

#15688 [FLINK-22369][rocksdb] RocksDB state backend might occur ClassNotFoundException when deserializing on TM side
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/EmbeddedRocksDBStateBackend.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBStateBackend.java
  flink-state-backends/flink-statebackend-rocksdb/src/test/java/org/apache/flink/contrib/streaming/state/RocksDBInitTest.java
Labels: component=<none>, review=description?

#15678 [FLINK-22349][table-api] Throw Exception for unsupported Zone ID instead of using wrong value.
  docs/layouts/shortcodes/generated/table_config_configuration.html
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/TableConfig.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/config/TableConfigOptions.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/api/TableConfigTest.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/util/python/PythonTableUtilsTest.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/window/assigners/TumblingWindowAssigner.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/util/TimeWindowUtil.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/aggregate/window/SlicingWindowAggOperatorTest.java
Labels: component=TableSQL/API, review=description?

#15692 [FLINK-22092][hive] Ignore static conf file URLs in HiveConf
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/HiveCatalog.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveCatalogTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveTestUtils.java
  flink-connectors/flink-connector-hive/src/test/resources/hive-site.xml
Labels: component=Connectors/Hive, review=description?

#15714 [FLINK-20654] Fix double recycling of Buffers in case of an exception on persisting
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/RemoteInputChannel.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/consumer/RemoteInputChannelTest.java
Labels: component=Runtime/Checkpointing, review=description?

#15696 [FLINK-20722][hive] HiveTableSink should copy the record when convert…
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/TableEnvHiveConnectorITCase.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/multipleinput/MultipleInputStreamOperatorBase.java
Labels: component=Connectors/Hive, review=description?

#15608 [FLINK-22168][table] Partition insert can not work with union all
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/calcite/PreValidateReWriter.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/common/PartialInsertTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/common/PartialInsertTest.scala
Labels: component=TableSQL/Runtime, review=description?

#15666 [FLINK-22168][table] Partition insert can not work with union all
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/calcite/PreValidateReWriter.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/common/PartialInsertTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/common/PartialInsertTest.scala
Labels: component=TableSQL/Runtime, review=description?

#15438 [FLINK-22000] Set a default character set in InputStreamReader to sol…
  flink-external-resources/flink-external-resource-gpu/src/main/java/org/apache/flink/externalresource/gpu/GPUDriver.java
  flink-python/src/main/java/org/apache/flink/client/python/PythonDriver.java
  flink-runtime/src/main/java/org/apache/flink/runtime/util/Hardware.java
Labels: component=<none>, review=description?

#15705 [FLINK-22398][runtime]fix incorrect comments in InputOutputFormatVertex
  flink-runtime/src/main/java/org/apache/flink/runtime/jobgraph/InputOutputFormatVertex.java
Labels: component=TableSQL/Runtime, review=description?

#15694 [FLINK-22384][docs]Chinese typos in "fault-tolerance/state/" page
  docs/content.zh/docs/dev/datastream/fault-tolerance/state.md
Labels: component=Documentation, review=description?

#15708 [FLINK-21659][coordination] Properly expose checkpoint settings for initializing jobs
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointStatsSnapshot.java
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/JobMasterServiceLeadershipRunnerFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/ArchivedExecutionGraph.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/factories/DefaultJobMasterServiceProcessFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveScheduler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/JobGraphJobInformation.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/DispatcherTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/ArchivedExecutionGraphTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/DefaultJobMasterServiceProcessTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/JobMasterServiceLeadershipRunnerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/factories/TestingJobMasterServiceProcessFactory.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/factories/TestingJobMasterServiceProcessFactoryOld.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveSchedulerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/CreatedTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/CreatingExecutionGraphTest.java
Labels: component=Runtime/Coordination, review=description?

#15737 [hotfix][docs] Fix typo in jdbc execution options
  docs/content/docs/connectors/datastream/jdbc.md
Labels: review=description?

#15691 [hotfix][docs] Fix some typos and sample codes syntax issues in sever…
  docs/content.zh/docs/learn-flink/datastream_api.md
  docs/content.zh/docs/ops/metrics.md
  docs/content.zh/docs/try-flink/datastream.md
  docs/content.zh/docs/try-flink/flink-operations-playground.md
  docs/content.zh/docs/try-flink/table_api.md
  docs/content/docs/internals/filesystems.md
  docs/content/docs/learn-flink/datastream_api.md
  docs/content/docs/libs/gelly/graph_algorithms.md
  docs/content/docs/libs/state_processor_api.md
  docs/content/docs/ops/metrics.md
  docs/content/docs/try-flink/datastream.md
  docs/content/docs/try-flink/flink-operations-playground.md
  docs/content/docs/try-flink/table_api.md
Labels: review=description?

#8321 [FLINK-12351][DataStream] Fix AsyncWaitOperator to deep copy StreamElement when object reuse is enabled
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/async/AsyncWaitOperator.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/async/AsyncWaitOperatorTest.java
Labels: component=API/DataStream, review=description?

#15569 [FLINK-21247][table] Fix problem in MapDataSerializer#copy when there…
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/factories/TestValuesTableFactory.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/CalcITCase.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/typeutils/MapDataSerializer.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/typeutils/MapDataSerializerTest.java
Labels: component=TableSQL/Ecosystem, review=description?

#13459 [FLINK-18199] [chinese-translation]: translate FileSystem SQL Connector page into Chinese
  docs/content.zh/docs/connectors/table/filesystem.md
Labels: component=Connectors/FileSystem, component=Documentation, component=TableSQL/Ecosystem, component=chinese-translation, review=description?

#15743 [FLINK-22444][docs] Drop async checkpoint description of state backends in Chinese docs
  docs/content.zh/docs/ops/state/state_backends.md
Labels: component=Documentation, review=description?

#15758 [FLINK-21247][table] Fix problem in MapDataSerializer#copy when there exists custom MapData
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/factories/TestValuesTableFactory.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/CalcITCase.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/typeutils/MapDataSerializer.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/typeutils/MapDataSerializerTest.java
Labels: component=TableSQL/Ecosystem, review=description?

#15752 [FLINK-19606][table-runtime-blink] Refactor JoinConditionWithFullFilters from an inner class in AbstractStreamingJoinOperator to a common utility class.
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/join/JoinConditionWithNullFilters.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/join/stream/AbstractStreamingJoinOperator.java
Labels: component=TableSQL/Runtime, review=description?

#15756 [hotfix][docs] Removed duplicate 'is'
  docs/content.zh/docs/dev/datastream/fault-tolerance/state.md
  docs/content/docs/dev/datastream/fault-tolerance/state.md
Labels: review=description?

#15770 [FLINK-22479][Kinesis][Consumer] Potential lock-up under error condition (Flink 1.13)
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/config/ConsumerConfigConstants.java
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/internals/KinesisDataFetcher.java
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/fanout/FanOutRecordPublisher.java
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/fanout/FanOutRecordPublisherConfiguration.java
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/fanout/FanOutShardSubscriber.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/internals/KinesisDataFetcherTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/fanout/FanOutRecordPublisherConfigurationTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/fanout/FanOutShardSubscriberTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/testutils/FakeKinesisFanOutBehavioursFactory.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/testutils/TestableKinesisDataFetcher.java
Labels: component=Connectors/Kinesis, review=description?

#15779 [hotfix][python][docs] Clarify python.files option
  docs/content.zh/docs/dev/table/sqlClient.md
  docs/content/docs/dev/table/sqlClient.md
  flink-clients/src/main/java/org/apache/flink/client/cli/CliFrontendParser.java
  flink-python/src/main/java/org/apache/flink/python/PythonOptions.java
Labels: review=description?

#15773 [FLINK-22479][Kinesis][Consumer] Potential lock-up under error condition (Flink 1.12)
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/config/ConsumerConfigConstants.java
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/internals/KinesisDataFetcher.java
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/fanout/FanOutRecordPublisher.java
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/fanout/FanOutRecordPublisherConfiguration.java
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/fanout/FanOutShardSubscriber.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/internals/KinesisDataFetcherTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/fanout/FanOutRecordPublisherConfigurationTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/fanout/FanOutShardSubscriberTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/testutils/FakeKinesisFanOutBehavioursFactory.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/testutils/TestableKinesisDataFetcher.java
Labels: component=Connectors/Kinesis, review=description?

#15720 [FLINK-22289] Update JDBC XA sink docs
  docs/content/docs/connectors/datastream/jdbc.md
Labels: component=Connectors/JDBC, component=Documentation, review=description?

#15753 [FLINK-22428][docs][table] Translate timezone page into Chinese
  docs/content.zh/docs/dev/table/concepts/timezone.md
  docs/content/docs/dev/table/concepts/timezone.md
Labels: component=Documentation, component=TableSQL/API, review=description?

#15793 [FLINK-19449][table-planner] LEAD/LAG cannot work correctly in streaming mode
  docs/data/sql_functions.yml
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/functions/aggfunctions/LagAggFunction.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecGlobalWindowAggregate.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecLocalWindowAggregate.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecWindowAggregate.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdColumnInterval.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamPhysicalGlobalWindowAggregate.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamPhysicalLocalWindowAggregate.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamPhysicalWindowAggregate.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/utils/AggFunctionFactory.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/utils/AggregateUtil.scala
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/functions/aggfunctions/LagAggFunctionTest.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdHandlerTestBase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/OverAggregateITCase.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/typeutils/LinkedListSerializer.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/typeutils/LinkedListSerializerTest.java
Labels: component=TableSQL/API, component=TableSQL/Runtime, review=description?

#15786 [FLINK-22489][webui] Fix displaying individual subtasks backpressure-level
  flink-runtime-web/web-dashboard/src/app/pages/job/overview/backpressure/job-overview-drawer-backpressure.component.html
Labels: component=Runtime/WebFrontend, review=description?

#15778 1.11 backport [FLINK-22424][network] Prevent releasing PipelinedSubpartition while Task can still write to it
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/ReleaseOnConsumptionResultPartition.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/buffer/UnpooledBufferPool.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/netty/PartitionRequestQueueTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/ReleaseOnConsumptionResultPartitionTest.java
Labels: component=Runtime/Network, review=description?

#15774 [FLINK-22479][Kinesis][Consumer] Potential lock-up under error condition (Flink 1.14)
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/config/ConsumerConfigConstants.java
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/internals/KinesisDataFetcher.java
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/fanout/FanOutRecordPublisher.java
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/fanout/FanOutRecordPublisherConfiguration.java
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/fanout/FanOutShardSubscriber.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/internals/KinesisDataFetcherTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/fanout/FanOutRecordPublisherConfigurationTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/fanout/FanOutShardSubscriberTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/testutils/FakeKinesisFanOutBehavioursFactory.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/testutils/TestableKinesisDataFetcher.java
Labels: component=Connectors/Kinesis, review=description?

#15794 [FLINK-22495][docs] Add Reactive Mode section to K8s
  docs/content.zh/docs/deployment/resource-providers/standalone/kubernetes.md
  docs/content/docs/deployment/resource-providers/standalone/kubernetes.md
Labels: component=Documentation, component=Runtime/Coordination, review=description?

#15804 [FLINK-22493] Increase test stability in AdaptiveSchedulerITCase.
  flink-tests/src/test/java/org/apache/flink/test/scheduling/AdaptiveSchedulerITCase.java
Labels: component=Runtime/Coordination, review=description?

#15582 [FLINK-22250] flink sql parser module ParserResource.properties lack createSystemFunctionOnlySupportTemporary describe message.
  flink-table/flink-sql-parser/src/main/resources/org.apache.flink.sql.parser.utils/ParserResource.properties
Labels: component=TableSQL/API, review=description?

#15802 [FLINK-22524][docs] Fix the incorrect Java groupBy clause in Table API docs
  docs/content.zh/docs/dev/table/common.md
  docs/content/docs/dev/table/common.md
Labels: component=Documentation, component=TableSQL/API, review=description?

#15801 [FLINK-22522][table-runtime-blink] BytesHashMap prints many verbose INFO level logs
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/util/collections/binary/BytesMap.java
Labels: component=TableSQL/Runtime, review=description?
