Repository apache/flink, pull requests merged in 2021-05, with the labels that each got.

#15818 [FLINK-22539][python][docs] Restructure the Python dependency management documentation
  docs/content.zh/docs/dev/python/datastream/dependency_management.md
  docs/content.zh/docs/dev/python/dependency_management.md
  docs/content.zh/docs/dev/python/faq.md
  docs/content.zh/docs/dev/python/table/dependency_management.md
  docs/content.zh/docs/dev/python/table/intro_to_table_api.md
  docs/content.zh/docs/dev/python/table/python_table_api_connectors.md
  docs/content.zh/docs/dev/python/table/table_environment.md
  docs/content.zh/docs/dev/table/sql/create.md
  docs/content/docs/dev/python/datastream/dependency_management.md
  docs/content/docs/dev/python/dependency_management.md
  docs/content/docs/dev/python/faq.md
  docs/content/docs/dev/python/table/dependency_management.md
  docs/content/docs/dev/python/table/intro_to_table_api.md
  docs/content/docs/dev/python/table/python_table_api_connectors.md
  docs/content/docs/dev/python/table/table_environment.md
  docs/content/docs/dev/table/sql/create.md
Labels: component=API/Python, component=Documentation, review=description?

#15716 [FLINK-22368] Deque channel after releasing on EndOfPartition
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/SingleInputGate.java
Labels: component=Runtime/Task, review=description?

#15647 fix typos
  flink-runtime/src/main/java/org/apache/flink/runtime/jobgraph/JobEdge.java
Labels: review=description?

#15805 Update japicmp configuration and docs for 1.12.3
  docs/_config.yml
  pom.xml
Labels: review=description?

#15800 [hotfix][python] Format exception message in ZipUtils
  flink-python/src/main/java/org/apache/flink/python/util/ZipUtils.java
Labels: review=description?

#15749 [hotfix][docs] Fix typo.
  docs/content.zh/docs/dev/table/sql/queries/joins.md
  docs/content/docs/dev/table/sql/queries/joins.md
Labels: review=description?

#15727 [BP-1.13][FLINK-22368] Deque channel after releasing on EndOfPartition
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/SingleInputGate.java
Labels: component=Runtime/Task, review=description?

#15726 [BP-1.12][FLINK-22368] Deque channel after releasing on EndOfPartition
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/PrioritizedDeque.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/SingleInputGate.java
Labels: component=Runtime/Task, review=description?

#15735 [FLINK-22432] Update upgrading.md with 1.13.x
  docs/content.zh/docs/ops/upgrading.md
  docs/content/docs/ops/upgrading.md
Labels: component=Documentation, review=description?

#15738 modify annotation
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/netty/CreditBasedSequenceNumberingViewReader.java
Labels: review=description?

#15772 [FLINK-21131][webui] Alignment timeout displayed in checkpoint config…
  docs/layouts/shortcodes/generated/rest_v1_dispatcher.html
  flink-runtime-web/src/test/resources/rest_api_v1.snapshot
  flink-runtime-web/web-dashboard/src/app/interfaces/job-checkpoint.ts
  flink-runtime-web/web-dashboard/src/app/pages/job/checkpoints/job-checkpoints.component.html
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/handler/job/checkpoints/CheckpointConfigHandler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/messages/checkpoints/CheckpointConfigInfo.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/messages/checkpoints/CheckpointConfigInfoTest.java
Labels: component=Runtime/Checkpointing, component=Runtime/WebFrontend, review=description?

#15828 [FLINK-22548][network] Remove illegal unsynchronized access to PipelinedSubpartition#buffers
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/PipelinedSubpartition.java
Labels: component=Runtime/Checkpointing, review=description?

#15824 (1.11) [FLINK-20383][runtime] Fix race condition in notification.
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/PipelinedSubpartition.java
Labels: component=API/DataSet, review=description?

#15728 [FLINK-22379][runtime] CheckpointCoordinator checks the state of all …
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/sink/writer/FileSinkMigrationITCase.java
  flink-libraries/flink-state-processing-api/src/test/java/org/apache/flink/state/api/SavepointReaderITTestBase.java
  flink-libraries/flink-state-processing-api/src/test/java/org/apache/flink/state/api/SavepointReaderKeyedStateITCase.java
  flink-libraries/flink-state-processing-api/src/test/java/org/apache/flink/state/api/SavepointWindowReaderITCase.java
  flink-libraries/flink-state-processing-api/src/test/java/org/apache/flink/state/api/utils/OperatorLatch.java
  flink-libraries/flink-state-processing-api/src/test/java/org/apache/flink/state/api/utils/SavepointTestBase.java
  flink-libraries/flink-state-processing-api/src/test/java/org/apache/flink/state/api/utils/WaitingFunction.java
  flink-libraries/flink-state-processing-api/src/test/java/org/apache/flink/state/api/utils/WaitingSource.java
  flink-libraries/flink-state-processing-api/src/test/java/org/apache/flink/state/api/utils/WaitingWindowAssigner.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/DefaultCheckpointPlanCalculator.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinatorTestingUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/DefaultCheckpointPlanCalculatorTest.java
Labels: component=Runtime/Checkpointing, review=description?

#15776 [FLINK-22488][hotfix] Update SubtaskGatewayImpl to specify the cause of sendEvent() failure when triggering task failover
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/Execution.java
  flink-runtime/src/main/java/org/apache/flink/runtime/operators/coordination/SubtaskGatewayImpl.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskmanager/Task.java
Labels: component=<none>, review=description?

#15656 [FLINK-22233][Table SQL / API]Modified the spelling error of word "constant" in source code
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/operations/SqlToOperationConverter.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/operations/SqlToOperationConverterTest.java
Labels: component=TableSQL/API, review=description?

#15842 [FLINK-22573][datastream] Fix AsyncIO calls timeout on completed element. [1.12]
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/async/AsyncWaitOperator.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/async/AsyncWaitOperatorTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskMailboxTestHarness.java
Labels: component=API/DataStream, review=description?

#15841 [FLINK-22573][datastream] Fix AsyncIO calls timeout on completed element. [1.13]
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/async/AsyncWaitOperator.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/async/AsyncWaitOperatorTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskMailboxTestHarness.java
Labels: component=API/DataStream, review=description?

#15844 [FLINK-22581][docs] Keyword 'CATALOG' is missing in sql client doc
  docs/content.zh/docs/dev/table/sqlClient.md
  docs/content/docs/dev/table/sqlClient.md
Labels: component=Documentation, component=TableSQL/API, review=description?

#15839 [FLINK-22557][build] Run japicmp against 1.12.2
  pom.xml
Labels: component=BuildSystem, review=description?

#15838 [FLINK-21095][ci] Remove legacy slot management profile
  flink-core/src/main/java/org/apache/flink/configuration/ClusterOptions.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/DefaultSlotPoolServiceSchedulerFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/resourcemanager/ResourceManagerRuntimeServices.java
  flink-runtime/src/main/java/org/apache/flink/runtime/resourcemanager/ResourceManagerRuntimeServicesConfiguration.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/DefaultSlotPoolServiceSchedulerFactoryTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/ResourceManagerHATest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/active/ActiveResourceManagerFactoryTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveSchedulerClusterITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveSchedulerSimpleITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveSchedulerSlotSharingITCase.java
  flink-tests/src/test/java/org/apache/flink/test/scheduling/AdaptiveSchedulerITCase.java
  flink-tests/src/test/java/org/apache/flink/test/scheduling/ReactiveModeITCase.java
  tools/azure-pipelines/jobs-template.yml
  tools/ci/stage.sh
  tools/ci/test_controller.sh
Labels: component=BuildSystem/CI, component=Runtime/Coordination, review=description?

#15741 [FLINK-22419][coordination][tests] Rework RpcEndpoint delay tests
  flink-runtime/src/main/java/org/apache/flink/runtime/rpc/RpcEndpoint.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rpc/RpcEndpointTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rpc/akka/AkkaRpcActorTest.java
Labels: component=Runtime/Coordination, review=description?

#15760 [FLINK-19606][table-runtime-blink] Introduce WindowJoinOperator and WindowJoinOperatorBuilder.
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/join/window/WindowJoinOperator.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/join/window/WindowJoinOperatorBuilder.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/window/state/WindowListState.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/join/window/WindowJoinOperatorTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/rank/window/WindowRankOperatorTest.java
Labels: component=TableSQL/Runtime, review=description?

#15479 [FLINK-19606][table-runtime-blink] Introduce StreamExecWindowJoin and window join it cases
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecWindowJoin.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamPhysicalWindowJoin.scala
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/stream/WindowJoinJsonPlanTest.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/runtime/stream/jsonplan/WindowJoinJsonITCase.java
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/WindowJoinJsonPlanTest_jsonplan/testEventTimeTumbleWindow.out
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/WindowJoinITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/utils/TestData.scala
Labels: component=TableSQL/Runtime, review=description?

#15789 [FLINK-21181][runtime] Wait for Invokable cancellation before releasing network resources
  flink-clients/src/test/java/org/apache/flink/client/program/PerJobMiniClusterFactoryTest.java
  flink-runtime-web/src/test/java/org/apache/flink/runtime/webmonitor/WebFrontendITCase.java
  flink-runtime/src/main/java/org/apache/flink/runtime/iterative/task/AbstractIterativeTask.java
  flink-runtime/src/main/java/org/apache/flink/runtime/iterative/task/IterationHeadTask.java
  flink-runtime/src/main/java/org/apache/flink/runtime/iterative/task/IterationIntermediateTask.java
  flink-runtime/src/main/java/org/apache/flink/runtime/iterative/task/IterationSynchronizationSinkTask.java
  flink-runtime/src/main/java/org/apache/flink/runtime/iterative/task/IterationTailTask.java
  flink-runtime/src/main/java/org/apache/flink/runtime/iterative/task/Terminable.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobgraph/tasks/AbstractInvokable.java
  flink-runtime/src/main/java/org/apache/flink/runtime/operators/BatchTask.java
  flink-runtime/src/main/java/org/apache/flink/runtime/operators/DataSinkTask.java
  flink-runtime/src/main/java/org/apache/flink/runtime/operators/DataSourceTask.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskmanager/Task.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/TestingAbstractInvokables.java
  flink-runtime/src/test/java/org/apache/flink/runtime/operators/coordination/CoordinatorEventsExactlyOnceITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskExecutorOperatorEventHandlingTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskmanager/TaskTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/testtasks/OnceBlockingNoOpInvokable.java
  flink-runtime/src/test/java/org/apache/flink/runtime/testutils/CancelableInvokable.java
  flink-runtime/src/test/scala/org/apache/flink/runtime/jobmanager/Tasks.scala
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTest.java
Labels: component=Runtime/Task, review=description?

#15869 [FLINK-22609][runtime] Generalize AllVerticesIterator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/AllVerticesIterator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/ArchivedExecutionGraph.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/DefaultExecutionGraph.java
Labels: component=Runtime/Task, review=description?

#15868 [hotfix][docs] Fixed broken image link
  docs/content.zh/docs/dev/datastream/sources.md
  docs/content/docs/dev/datastream/sources.md
Labels: review=description?

#15852 [FLINK-22596][checkpoints] Active timeout is not triggered if there were no barriers
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/checkpointing/SingleCheckpointBarrierHandler.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/checkpointing/AlternatingCheckpointsTest.java
Labels: component=Runtime/Checkpointing, review=description?

#15853 [FLINK-22566][test] Adds NodeManager log extraction to YARN-related e2e tests
  flink-end-to-end-tests/test-scripts/common_yarn_docker.sh
Labels: component=Deployment/YARN, review=description?

#15855 [BP-1.11][FLINK-22597] Make JobMaster restartable
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/JobMaster.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/JobMasterTest.java
Labels: component=Runtime/Coordination, review=description?

#15871 [BP-1.12][FLINK-21181][runtime] Wait for Invokable cancellation before releasing network resources
  flink-clients/src/test/java/org/apache/flink/client/program/PerJobMiniClusterFactoryTest.java
  flink-runtime-web/src/test/java/org/apache/flink/runtime/webmonitor/WebFrontendITCase.java
  flink-runtime/src/main/java/org/apache/flink/runtime/iterative/task/AbstractIterativeTask.java
  flink-runtime/src/main/java/org/apache/flink/runtime/iterative/task/IterationHeadTask.java
  flink-runtime/src/main/java/org/apache/flink/runtime/iterative/task/IterationIntermediateTask.java
  flink-runtime/src/main/java/org/apache/flink/runtime/iterative/task/IterationSynchronizationSinkTask.java
  flink-runtime/src/main/java/org/apache/flink/runtime/iterative/task/IterationTailTask.java
  flink-runtime/src/main/java/org/apache/flink/runtime/iterative/task/Terminable.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobgraph/tasks/AbstractInvokable.java
  flink-runtime/src/main/java/org/apache/flink/runtime/operators/BatchTask.java
  flink-runtime/src/main/java/org/apache/flink/runtime/operators/DataSinkTask.java
  flink-runtime/src/main/java/org/apache/flink/runtime/operators/DataSourceTask.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskmanager/Task.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/TestingAbstractInvokables.java
  flink-runtime/src/test/java/org/apache/flink/runtime/operators/coordination/CoordinatorEventsExactlyOnceITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskExecutorOperatorEventHandlingTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskmanager/TaskTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/testutils/CancelableInvokable.java
  flink-runtime/src/test/scala/org/apache/flink/runtime/jobmanager/Tasks.scala
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTest.java
Labels: component=Runtime/Task, review=description?

#15870 [BP-1.13][FLINK-21181][runtime] Wait for Invokable cancellation before releasing network resources
  flink-clients/src/test/java/org/apache/flink/client/program/PerJobMiniClusterFactoryTest.java
  flink-runtime-web/src/test/java/org/apache/flink/runtime/webmonitor/WebFrontendITCase.java
  flink-runtime/src/main/java/org/apache/flink/runtime/iterative/task/AbstractIterativeTask.java
  flink-runtime/src/main/java/org/apache/flink/runtime/iterative/task/IterationHeadTask.java
  flink-runtime/src/main/java/org/apache/flink/runtime/iterative/task/IterationIntermediateTask.java
  flink-runtime/src/main/java/org/apache/flink/runtime/iterative/task/IterationSynchronizationSinkTask.java
  flink-runtime/src/main/java/org/apache/flink/runtime/iterative/task/IterationTailTask.java
  flink-runtime/src/main/java/org/apache/flink/runtime/iterative/task/Terminable.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobgraph/tasks/AbstractInvokable.java
  flink-runtime/src/main/java/org/apache/flink/runtime/operators/BatchTask.java
  flink-runtime/src/main/java/org/apache/flink/runtime/operators/DataSinkTask.java
  flink-runtime/src/main/java/org/apache/flink/runtime/operators/DataSourceTask.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskmanager/Task.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/TestingAbstractInvokables.java
  flink-runtime/src/test/java/org/apache/flink/runtime/operators/coordination/CoordinatorEventsExactlyOnceITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskExecutorOperatorEventHandlingTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskmanager/TaskTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/testtasks/OnceBlockingNoOpInvokable.java
  flink-runtime/src/test/java/org/apache/flink/runtime/testutils/CancelableInvokable.java
  flink-runtime/src/test/scala/org/apache/flink/runtime/jobmanager/Tasks.scala
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTest.java
Labels: component=Runtime/Task, review=description?

#15863 [FLINK-22604] [table-runtime-blink] fix NPE on bundle close when task failover after a failed task open
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/harness/GroupAggregateHarnessTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/harness/HarnessTestBase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/harness/OverAggregateHarnessTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/harness/TableAggregateHarnessTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/harness/WindowAggregateHarnessTest.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/aggregate/window/LocalSlicingWindowAggOperator.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/bundle/AbstractMapBundleOperator.java
Labels: component=TableSQL/Runtime, review=description?

#15878 [hotfix] Disable broken savepoint tests tracked in FLINK-22067
  flink-libraries/flink-state-processing-api/src/test/java/org/apache/flink/state/api/utils/SavepointTestBase.java
Labels: component=API/StateProcessor, review=description?

#15879 [FLINK-22407][build] Bump log4j to 2.24.1
  docs/content.zh/docs/dev/datastream/project-configuration.md
  docs/content/docs/dev/datastream/project-configuration.md
  pom.xml
  tools/releasing/NOTICE-binary_PREAMBLE.txt
Labels: component=<none>, review=description?

#15806 [FLINK-22313][table-planner-blink] Redundant CAST in plan when selecting window start and window end in window agg
  flink-table/flink-table-planner-blink/src/main/java/org/apache/calcite/sql/SqlGroupedWindowFunction.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/expressions/PlannerWindowEnd.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/expressions/PlannerWindowStart.java
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/GroupWindowAggregateJsonPlanTest_jsonplan/testEventTimeTumbleWindow.out
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/GroupWindowAggregateJsonPlanTest_jsonplan/testProcTimeTumbleWindow.out
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/LegacyTableSourceTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/MatchRecognizeTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/agg/GroupWindowTest.xml
Labels: component=TableSQL/API, review=description?

#15803 [FLINK-22523][table-planner-blink] TUMBLE TVF should throw helpful exception when specifying second interval parameter
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/functions/sql/SqlCumulateTableFunction.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/functions/sql/SqlHopTableFunction.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/functions/sql/SqlTumbleTableFunction.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/WindowTableFunctionTest.scala
Labels: component=TableSQL/Planner, review=description?

#15880 [BP-1.13][FLINK-22566][test] Adds NodeManager log extraction to YARN-related e2e tests
  flink-end-to-end-tests/test-scripts/common_yarn_docker.sh
Labels: component=Deployment/YARN, review=description?

#15763 [FLINK-22364][doc] Translate the page of "Data Sources" to Chinese.
  docs/content.zh/docs/dev/datastream/sources.md
Labels: component=chinese-translation, review=description?

#15848 [FLINK-22586][table] Improve the precision dedivation for decimal ari…
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/logical/utils/LogicalTypeMerging.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/types/inference/TypeStrategiesTest.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/functions/aggfunctions/AvgAggFunction.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/functions/aggfunctions/Sum0AggFunction.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/functions/aggfunctions/SumAggFunction.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/functions/aggfunctions/SumWithRetractAggFunction.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/calcite/FlinkTypeSystem.scala
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/functions/MathFunctionsITCase.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/expressions/DecimalTypeTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/OverAggregateITCase.scala
Labels: component=TableSQL/Runtime, review=description?

#15131 [FLINK-21700][security] Add an option to disable credential retrieval on a secure cluster
  docs/layouts/shortcodes/generated/security_auth_kerberos_section.html
  docs/layouts/shortcodes/generated/security_configuration.html
  flink-core/src/main/java/org/apache/flink/configuration/SecurityOptions.java
  flink-yarn/src/main/java/org/apache/flink/yarn/Utils.java
  flink-yarn/src/main/java/org/apache/flink/yarn/YarnClusterDescriptor.java
Labels: component=Deployment/YARN, review=description?

#15900 [FLINK-22640][datagen] Fix DataGen SQL Connector does not support defining fields min/max option of decimal type field.
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/table/factories/datagen/RandomGeneratorVisitor.java
  flink-table/flink-table-api-java-bridge/src/test/java/org/apache/flink/table/factories/DataGenTableSourceFactoryTest.java
Labels: component=TableSQL/Ecosystem, review=description?

#15911 [FLINK-15064][table-planner-blink] Remove XmlOutput util class in blink planner since Calcite has fixed the issue
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/utils/DiffRepository.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/utils/XmlOutput.java
Labels: component=TableSQL/Planner, review=description?

#15906 [FLINK-19796][table] Explicit casting should be made if the type of a…
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/functions/sql/FlinkSqlOperatorTable.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/functions/sql/SqlArrayConstructor.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/functions/sql/SqlMapConstructor.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/functions/utils/SqlValidatorUtils.java
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/CalcTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/CalcTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/batch/sql/CalcTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/CalcTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/CalcITCase.scala
Labels: component=TableSQL/Runtime, review=description?

#15923 [hotfix][docs] Changed argument for toDataStream to Table
  docs/content.zh/docs/dev/table/data_stream_api.md
  docs/content/docs/dev/table/data_stream_api.md
Labels: review=description?

#15918 [FLINK-22654][table] fix SqlCreateTable toString()/unparse() lose CONSTRAINTS and watermarks
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlCreateTable.java
  flink-table/flink-sql-parser/src/test/java/org/apache/flink/sql/parser/FlinkSqlParserImplTest.java
Labels: component=TableSQL/Planner, review=description?

#15914 [FLINK-22658][table-common] Remove Deprecated util class TableConnectorUtil
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/util/TableConnectorUtil.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/utils/MemoryTableSourceSinkUtil.scala
Labels: component=<none>, review=description?

#15846 [FLINK-22502][checkpointing] Don't tolerate checkpoint retrieval failures on recovery
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/DefaultCompletedCheckpointStore.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/DefaultCompletedCheckpointStoreTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/ZooKeeperCompletedCheckpointStoreMockitoTest.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/CheckpointStoreITCase.java
Labels: component=Runtime/Checkpointing, component=Runtime/Coordination, review=description?

#15921 [FLINK-22667][docs]Add the missing slash in the file system url of documentation
  docs/content/docs/dev/datastream/fault-tolerance/checkpointing.md
  flink-runtime/src/main/java/org/apache/flink/runtime/state/filesystem/FsStateBackend.java
Labels: component=Documentation, review=description?

#15932 [BP-1.13][FLINK-22502][checkpointing] Don't tolerate checkpoint retrieval failures on recovery
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/DefaultCompletedCheckpointStore.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/DefaultCompletedCheckpointStoreTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/ZooKeeperCompletedCheckpointStoreMockitoTest.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/CheckpointStoreITCase.java
Labels: component=Runtime/Checkpointing, component=Runtime/Coordination, review=description?

#15940 [FLINK-12295][table] Fix comments in MinAggFunction and MaxAggFunction
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/functions/aggfunctions/MaxAggFunction.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/functions/aggfunctions/MinAggFunction.java
Labels: component=TableSQL/Runtime, review=description?

#15909 [BP-1.13][FLINK-20695][ha] Clean ha data for job if globally terminated
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/highavailability/KubernetesHaServices.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/highavailability/KubernetesHaServicesTest.java
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/Dispatcher.java
  flink-runtime/src/main/java/org/apache/flink/runtime/highavailability/AbstractHaServices.java
  flink-runtime/src/main/java/org/apache/flink/runtime/highavailability/HighAvailabilityServices.java
  flink-runtime/src/main/java/org/apache/flink/runtime/highavailability/nonha/AbstractNonHaServices.java
  flink-runtime/src/main/java/org/apache/flink/runtime/highavailability/zookeeper/ZooKeeperHaServices.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/DispatcherResourceCleanupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/highavailability/AbstractHaServicesTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/highavailability/TestingHighAvailabilityServices.java
  flink-runtime/src/test/java/org/apache/flink/runtime/highavailability/TestingManualHighAvailabilityServices.java
  flink-runtime/src/test/java/org/apache/flink/runtime/highavailability/zookeeper/ZooKeeperHaServicesTest.java
Labels: component=Runtime/Coordination, review=description?

#15910 [BP-1.12][FLINK-20695][ha] Clean ha data for job if globally terminated
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/highavailability/KubernetesHaServices.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/highavailability/KubernetesHaServicesTest.java
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/Dispatcher.java
  flink-runtime/src/main/java/org/apache/flink/runtime/highavailability/AbstractHaServices.java
  flink-runtime/src/main/java/org/apache/flink/runtime/highavailability/HighAvailabilityServices.java
  flink-runtime/src/main/java/org/apache/flink/runtime/highavailability/nonha/AbstractNonHaServices.java
  flink-runtime/src/main/java/org/apache/flink/runtime/highavailability/zookeeper/ZooKeeperHaServices.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/DispatcherResourceCleanupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/highavailability/AbstractHaServicesTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/highavailability/TestingHighAvailabilityServices.java
  flink-runtime/src/test/java/org/apache/flink/runtime/highavailability/TestingManualHighAvailabilityServices.java
  flink-runtime/src/test/java/org/apache/flink/runtime/highavailability/zookeeper/ZooKeeperHaServicesTest.java
Labels: component=Runtime/Coordination, review=description?

#15830 [FLINK-22515][docs] Add documentation for GSR-Flink Integration
  docs/content.zh/docs/connectors/datastream/kafka.md
  docs/content.zh/docs/connectors/datastream/kinesis.md
  docs/content/docs/connectors/datastream/kafka.md
  docs/content/docs/connectors/datastream/kinesis.md
Labels: component=Documentation, component=Formats, review=description?

#14830 [FLINK-20487][table-planner-blink] Remove restriction on StreamPhysicalGroupWindowAggregate which only supports insert-only input node
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/optimize/program/FlinkChangelogModeInferenceProgram.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/DeduplicateTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/TableScanTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/agg/GroupWindowTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/DeduplicateTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/TableScanTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/agg/GroupWindowTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/GroupWindowITCase.scala
Labels: component=TableSQL/Planner, review=description?

#15942 [BP-1.13][FLINK-19545][e2e] Add e2e test for native Kubernetes HA
  flink-end-to-end-tests/run-nightly-tests.sh
  flink-end-to-end-tests/test-scripts/common_kubernetes.sh
  flink-end-to-end-tests/test-scripts/container-scripts/kubernetes-pod-template.yaml
  flink-end-to-end-tests/test-scripts/test_kubernetes_application_ha.sh
Labels: component=Tests, review=description?

#15947 [FLINK-22696] Enable Confluent Schema Registry e2e Test on jdk 11
  flink-end-to-end-tests/run-nightly-tests.sh
Labels: component=TestInfrastructure, review=description?

#15960 [FLINK-22692][tests] Disable CheckpointStoreITCase with adaptive scheduler
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/CheckpointStoreITCase.java
Labels: component=Runtime/Checkpointing, review=description?

#15955 [BP-1.13][FLINK-22704][tests] Harden ZooKeeperHaServicesTest.testCleanupJobData
  flink-runtime/src/test/java/org/apache/flink/runtime/highavailability/zookeeper/ZooKeeperHaServicesTest.java
Labels: component=Runtime/Coordination, review=description?

#15961 [FLINK-22706][release]Update License information in NOTICE file
  NOTICE
Labels: component=ReleaseSystem, review=description?

#15768 [FLINK-22451][table] Support (*) as parameter of UDFs in Table API
  docs/content.zh/docs/dev/table/functions/udfs.md
  docs/content/docs/dev/table/functions/udfs.md
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/expressions/resolver/rules/ExpandColumnFunctionsRule.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/expressions/resolver/rules/StarReferenceFlatteningRule.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/expressions/resolver/ExpressionResolverTest.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/table/CalcITCase.scala
Labels: component=TableSQL/API, review=description?

#15953 [FLINK-22708][config] Propagate savepoint settings from StreamExecutionEnvironment to StreamGraph
  flink-runtime/src/main/java/org/apache/flink/runtime/jobgraph/SavepointRestoreSettings.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/StreamGraphGenerator.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/graph/StreamGraphGeneratorTest.java
Labels: component=API/DataStream, review=description?

#15944 [FLINK-22694][e2e] Use sql file in TPCH end to end tests
  flink-end-to-end-tests/flink-tpch-test/src/main/java/org/apache/flink/table/tpch/TpchResultComparator.java
  flink-end-to-end-tests/test-scripts/test-data/tpch/sink/q1.sql
  flink-end-to-end-tests/test-scripts/test-data/tpch/sink/q1.yaml
  flink-end-to-end-tests/test-scripts/test-data/tpch/sink/q10.sql
  flink-end-to-end-tests/test-scripts/test-data/tpch/sink/q10.yaml
  flink-end-to-end-tests/test-scripts/test-data/tpch/sink/q11.sql
  flink-end-to-end-tests/test-scripts/test-data/tpch/sink/q11.yaml
  flink-end-to-end-tests/test-scripts/test-data/tpch/sink/q12.sql
  flink-end-to-end-tests/test-scripts/test-data/tpch/sink/q12.yaml
  flink-end-to-end-tests/test-scripts/test-data/tpch/sink/q13.sql
  flink-end-to-end-tests/test-scripts/test-data/tpch/sink/q13.yaml
  flink-end-to-end-tests/test-scripts/test-data/tpch/sink/q14.sql
  flink-end-to-end-tests/test-scripts/test-data/tpch/sink/q14.yaml
  flink-end-to-end-tests/test-scripts/test-data/tpch/sink/q15.sql
  flink-end-to-end-tests/test-scripts/test-data/tpch/sink/q15.yaml
  flink-end-to-end-tests/test-scripts/test-data/tpch/sink/q16.sql
  flink-end-to-end-tests/test-scripts/test-data/tpch/sink/q16.yaml
  flink-end-to-end-tests/test-scripts/test-data/tpch/sink/q17.sql
  flink-end-to-end-tests/test-scripts/test-data/tpch/sink/q17.yaml
  flink-end-to-end-tests/test-scripts/test-data/tpch/sink/q18.sql
  flink-end-to-end-tests/test-scripts/test-data/tpch/sink/q18.yaml
  flink-end-to-end-tests/test-scripts/test-data/tpch/sink/q19.sql
  flink-end-to-end-tests/test-scripts/test-data/tpch/sink/q19.yaml
  flink-end-to-end-tests/test-scripts/test-data/tpch/sink/q2.sql
  flink-end-to-end-tests/test-scripts/test-data/tpch/sink/q2.yaml
  flink-end-to-end-tests/test-scripts/test-data/tpch/sink/q20.sql
  flink-end-to-end-tests/test-scripts/test-data/tpch/sink/q20.yaml
  flink-end-to-end-tests/test-scripts/test-data/tpch/sink/q21.sql
  flink-end-to-end-tests/test-scripts/test-data/tpch/sink/q21.yaml
  flink-end-to-end-tests/test-scripts/test-data/tpch/sink/q22.sql
  flink-end-to-end-tests/test-scripts/test-data/tpch/sink/q22.yaml
  flink-end-to-end-tests/test-scripts/test-data/tpch/sink/q3.sql
  flink-end-to-end-tests/test-scripts/test-data/tpch/sink/q3.yaml
  flink-end-to-end-tests/test-scripts/test-data/tpch/sink/q4.sql
  flink-end-to-end-tests/test-scripts/test-data/tpch/sink/q4.yaml
  flink-end-to-end-tests/test-scripts/test-data/tpch/sink/q5.sql
  flink-end-to-end-tests/test-scripts/test-data/tpch/sink/q5.yaml
  flink-end-to-end-tests/test-scripts/test-data/tpch/sink/q6.sql
  flink-end-to-end-tests/test-scripts/test-data/tpch/sink/q6.yaml
  flink-end-to-end-tests/test-scripts/test-data/tpch/sink/q7.sql
  flink-end-to-end-tests/test-scripts/test-data/tpch/sink/q7.yaml
  flink-end-to-end-tests/test-scripts/test-data/tpch/sink/q8.sql
  flink-end-to-end-tests/test-scripts/test-data/tpch/sink/q8.yaml
  flink-end-to-end-tests/test-scripts/test-data/tpch/sink/q9.sql
  flink-end-to-end-tests/test-scripts/test-data/tpch/sink/q9.yaml
  flink-end-to-end-tests/test-scripts/test-data/tpch/source.sql
  flink-end-to-end-tests/test-scripts/test_tpch.sh
Labels: component=TableSQL/Client, component=Tests, review=description?

#15968 [BP-1.13][FLINK-22692][tests] Disable CheckpointStoreITCase with adaptive scheduler
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/CheckpointStoreITCase.java
Labels: component=Runtime/Checkpointing, review=description?

#15664 [FLINK-22155][table-api][parser] fix explain insert or select two case,sql convert separate selection.
  flink-table/flink-sql-parser-hive/src/main/codegen/includes/parserImpls.ftl
  flink-table/flink-sql-parser/src/main/codegen/includes/parserImpls.ftl
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/dql/SqlRichExplain.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/operations/SqlToOperationConverter.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/calcite/FlinkPlannerImpl.scala
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/operations/SqlToOperationConverterTest.java
  flink-table/flink-table-planner-blink/src/test/resources/explain/testExecuteSqlWithExplainInsert.out
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/sqlexec/SqlToOperationConverter.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/calcite/FlinkPlannerImpl.scala
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/sqlexec/SqlToOperationConverterTest.java
  flink-table/flink-table-planner/src/test/scala/resources/testExecuteSqlWithExplainInsert0.out
  flink-table/flink-table-planner/src/test/scala/resources/testExecuteSqlWithExplainInsert1.out
Labels: component=TableSQL/API, review=description?

#15970 [BP-1.13][FLINK-22721][ha] Add default implementation for HighAvailabilityServices.cleanupJobData
  flink-runtime/src/main/java/org/apache/flink/runtime/highavailability/HighAvailabilityServices.java
  flink-runtime/src/main/java/org/apache/flink/runtime/highavailability/nonha/AbstractNonHaServices.java
  flink-runtime/src/test/java/org/apache/flink/runtime/highavailability/TestingManualHighAvailabilityServices.java
Labels: component=Runtime/Coordination, review=description?

#15978 [FLINK-22203][table-runtime-blink] Fix ConcurrentModificationException for testing values sink functions
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/factories/TestValuesRuntimeFunctions.java
Labels: component=Connectors/Kafka, review=description?

#15957 [FLINK-22713][docs] Correct document syntax errors
  docs/content.zh/docs/connectors/datastream/kafka.md
  docs/content/docs/connectors/datastream/kafka.md
Labels: component=Documentation, review=description?

#15945 [FLINK-22688][runtime] Eases assertion on ExceptionHistoryEntry
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/handler/job/JobExceptionsHandler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/exceptionhistory/ExceptionHistoryEntry.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/handler/job/JobExceptionsHandlerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/DefaultSchedulerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/exceptionhistory/ExceptionHistoryEntryTest.java
Labels: component=Runtime/Coordination, review=description?

#15963 [FLINK-22719][table-planner-blink] Fall back to regular join instead of thrown exception if a join does not satisfy conditions to translate into WindowJoin
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdWindowProperties.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/stream/StreamPhysicalJoinRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/stream/StreamPhysicalTemporalJoinRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/stream/StreamPhysicalWindowJoinRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/utils/WindowJoinUtil.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/join/WindowJoinTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/join/WindowJoinTest.scala
Labels: component=TableSQL/Planner, review=description?

#15979 [FLINK-22659]Adding execution.checkpointing.interval to Flink Doc
  docs/content.zh/docs/deployment/config.md
  docs/content/docs/deployment/config.md
Labels: component=Documentation, review=description?

#15927 [FLINK-22639][runtime] ClassLoaderUtil cannot print classpath of Flin…
  flink-runtime/src/main/java/org/apache/flink/runtime/execution/librarycache/FlinkUserCodeClassLoaders.java
  flink-runtime/src/main/java/org/apache/flink/runtime/util/ClassLoaderUtil.java
  flink-runtime/src/test/java/org/apache/flink/runtime/execution/librarycache/FlinkUserCodeClassLoadersTest.java
Labels: component=Runtime/Configuration, component=TableSQL/Runtime, review=description?

#15975 [FLINK-22725][coordination] SlotManagers unregister metrics in suspend()
  flink-runtime/src/main/java/org/apache/flink/runtime/resourcemanager/slotmanager/DeclarativeSlotManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/resourcemanager/slotmanager/FineGrainedSlotManager.java
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/slotmanager/DeclarativeSlotManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/slotmanager/FineGrainedSlotManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/slotmanager/FineGrainedSlotManagerTestBase.java
Labels: component=Runtime/Coordination, component=Runtime/Metrics, review=description?

#15949 [FLINK-22319][table][sql-client] Support RESET table option for ALTER TABLE statement
  flink-table/flink-sql-client/src/test/resources/sql/table.q
  flink-table/flink-sql-parser/src/main/codegen/data/Parser.tdd
  flink-table/flink-sql-parser/src/main/codegen/includes/parserImpls.ftl
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlAlterTableReset.java
  flink-table/flink-sql-parser/src/test/java/org/apache/flink/sql/parser/FlinkSqlParserImplTest.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/operations/SqlToOperationConverter.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/operations/SqlToOperationConverterTest.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/api/TableEnvironmentTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/catalog/CatalogTableITCase.scala
Labels: component=TableSQL/API, review=description?

#16007 [FLINK-22784][jepsen] Update rest server leader path
  flink-jepsen/src/jepsen/flink/client.clj
Labels: review=description?

#16001 [FLINK-22613][tests] Fix FlinkKinesisITCase.testStopWithSavepoint. [1.13]
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/FlinkKinesisITCase.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/testutils/KinesisPubsubClient.java
Labels: component=Connectors/Kinesis, review=description?

#16004 [FLINK-22778] Upgrade to JUnit 4.13
  pom.xml
Labels: component=TestInfrastructure, review=description?

#15925 [FLINK-21464][sql-client] Support ADD JAR in SQL Client
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliClient.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliStrings.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/Executor.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/context/SessionContext.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/LocalExecutor.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliClientITCase.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliClientTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliResultViewTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/TestingExecutor.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/context/SessionContextTest.java
  flink-table/flink-sql-client/src/test/resources/sql/function.q
  flink-table/flink-sql-client/src/test/resources/sql/set.q
  flink-table/flink-sql-parser-hive/src/main/codegen/data/Parser.tdd
  flink-table/flink-sql-parser-hive/src/main/codegen/includes/parserImpls.ftl
  flink-table/flink-sql-parser-hive/src/test/java/org/apache/flink/sql/parser/hive/FlinkHiveSqlParserImplTest.java
  flink-table/flink-sql-parser/src/main/codegen/data/Parser.tdd
  flink-table/flink-sql-parser/src/main/codegen/includes/parserImpls.ftl
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlAddJar.java
  flink-table/flink-sql-parser/src/test/java/org/apache/flink/sql/parser/FlinkSqlParserImplTest.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/command/AddJarOperation.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/operations/SqlToOperationConverter.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/operations/SqlToOperationConverterTest.java
Labels: component=TableSQL/Client, review=description?

#15767 [FLINK-22393][docs-zh] Translate the page of "Execution Mode (Batch/Streaming)" into Chinese
  docs/content.zh/docs/dev/datastream/execution_mode.md
Labels: component=chinese-translation, review=description?

#15980 [FLINK-22655]When using -i <init.sql> option to initialize SQL Client session It should be possible to annotate the script with --
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliStatementSplitter.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/SqlClientTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliClientTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliStatementSplitterTest.java
Labels: component=TableSQL/Client, review=description?

#15992 [FLINK-22759][docs] Correct the applicability of some RocksDB related options as per operator
  docs/layouts/shortcodes/generated/rocksdb_configurable_configuration.html
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBConfigurableOptions.java
Labels: component=Documentation, review=description?
