Repository apache/flink, pull requests merged in 2021-11, with the labels that each got.

#17603 [FLINK-24553][core] Changed buffer debloat default configuration valu…
  docs/layouts/shortcodes/generated/all_taskmanager_network_section.html
  docs/layouts/shortcodes/generated/all_taskmanager_section.html
  docs/layouts/shortcodes/generated/task_manager_configuration.html
  docs/layouts/shortcodes/generated/task_manager_memory_configuration.html
  flink-core/src/main/java/org/apache/flink/configuration/TaskManagerOptions.java
Labels: component=Runtime/Checkpointing

#17591 [FLINK-24671][runtime] Return 0 buffers in use until subpartition vie…
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/LocalInputChannel.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/consumer/LocalInputChannelTest.java
Labels: component=Runtime/Network

#17559 [FLINK-15550][runtime] Don't ignore the interruption for testCancelTa…
  flink-runtime/src/test/java/org/apache/flink/runtime/taskmanager/TaskTest.java
Labels: component=Runtime/Task

#17631 [FLINK-24720][tests] Remove flink-runtime-web dependency
  flink-tests/pom.xml
Labels: component=BuildSystem, component=Tests

#17620 [FLINK-24671][runtime] Return 0 buffers in use until subpartition vie…
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/LocalInputChannel.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/consumer/LocalInputChannelTest.java
Labels: component=Runtime/Network

#17627 [FLINK-15550][runtime] Don't ignore the interruption for testCancelTa…
  flink-runtime/src/test/java/org/apache/flink/runtime/taskmanager/TaskTest.java
Labels: component=Runtime/Task

#17628 [FLINK-15550][runtime] Don't ignore the interruption for testCancelTa…
  flink-runtime/src/test/java/org/apache/flink/runtime/taskmanager/TaskTest.java
Labels: component=Runtime/Task

#17629 [FLINK-15550][runtime] Don't ignore the interruption for testCancelTa…
  flink-runtime/src/test/java/org/apache/flink/runtime/taskmanager/TaskTest.java
Labels: component=Runtime/Task

#17602 [FLINK-24699][build] Run scalastyle in validate phase
  pom.xml
Labels: component=BuildSystem

#17571 [FLINK-23015][table-runtime-blink] Implement streaming window Deduplicate operator
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/deduplicate/DeduplicateFunctionHelper.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/deduplicate/window/RowTimeWindowDeduplicateOperatorBuilder.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/deduplicate/window/combines/RowTimeDeduplicateRecordsCombiner.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/deduplicate/window/processors/RowTimeWindowDeduplicateProcessor.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/operators/deduplicate/window/RowTimeWindowDeduplicateOperatorTest.java
Labels: component=TableSQL/Runtime

#17638 [FLINK-24728][table-runtime] Close output stream in batch SQL file sink
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/filesystem/FileSystemTableSink.java
Labels: component=TableSQL/Runtime

#17569 [FLINK-24648] CEIL and FLOOR should support DECADE, CENTURY, MILLENNIUM
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/utils/DateTimeUtils.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/calls/FloorCeilCallGen.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/expressions/TemporalTypesTest.scala
Labels: component=<none>

#17456 [FLINK-24509][docs] Add kafka serializer to producer examples
  docs/content/docs/connectors/datastream/kafka.md
Labels: component=Documentation

#17535 [FLINK-24609][akka][build] Use same Scala properties as root pom
  flink-rpc/flink-rpc-akka/pom.xml
Labels: component=BuildSystem

#17608 [FLINK-24550][rpc] Use ContextClassLoader for message deserialization
  flink-rpc/flink-rpc-akka/src/main/java/org/apache/flink/runtime/rpc/akka/AkkaInvocationHandler.java
  flink-rpc/flink-rpc-akka/src/test/java/org/apache/flink/runtime/rpc/akka/ContextClassLoadingSettingTest.java
Labels: component=Runtime/Coordination, component=Runtime/WebFrontend

#17659 [FLINK-24748] Remove CheckpointStatsTracker#getJobCheckpointingConfiguration
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointStatsTracker.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/DefaultExecutionGraph.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/DefaultExecutionGraphBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinatorTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointStatsTrackerTest.java
Labels: component=Runtime/Coordination

#17605 [FLINK-24704][table] Fix exception when the input record loses monotonicity on the sort key field of UpdatableTopNFunction
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/harness/RankHarnessTest.scala
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/rank/UpdatableTopNFunction.java
Labels: component=TableSQL/Runtime

#17621 [FLINK-24551][runtime] Read BUFFER_DEBLOAT_SAMPLES from task manager …
  flink-runtime/src/main/java/org/apache/flink/runtime/taskmanager/Task.java
Labels: component=Runtime/Task

#17679 [FLINK-24770] Remove error from JobStatusListener
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinatorDeActivator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/DefaultExecutionGraph.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/JobStatusListener.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/JobMaster.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveScheduler.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/GloballyTerminalJobStatusListener.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/SchedulerTestingUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveSchedulerBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveSchedulerTest.java
Labels: component=Runtime/Coordination

#17626 [FLINK-24715][connectors][filesystems][formats] Update multiple Jackson dependencies to v2.13.0
  flink-connectors/flink-connector-elasticsearch5/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-elasticsearch6/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-elasticsearch7/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-kinesis/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-azure-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-fs-hadoop-shaded/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-s3-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-s3-fs-presto/src/main/resources/META-INF/NOTICE
  flink-formats/flink-sql-avro-confluent-registry/src/main/resources/META-INF/NOTICE
  flink-formats/flink-sql-avro/src/main/resources/META-INF/NOTICE
  flink-kubernetes/src/main/resources/META-INF/NOTICE
  flink-python/src/main/resources/META-INF/NOTICE
  flink-table/flink-table-planner/pom.xml
  flink-table/flink-table-planner/src/main/resources/META-INF/NOTICE
  pom.xml
Labels: component=Connectors/Common, component=Formats, component=TableSQL/Planner

#17646 [FLINK-24740][testinfrastructure] Update testcontainers dependency to v1.16.2
  flink-formats/flink-avro-glue-schema-registry/pom.xml
  flink-formats/flink-json-glue-schema-registry/pom.xml
  pom.xml
Labels: component=Tests, component=TestInfrastructure

#17625 [FLINK-24719][jdbc] Update Postgres test dependencies to 0.13.4
  flink-connectors/flink-connector-jdbc/pom.xml
Labels: component=Connectors/JDBC

#17697 [FLINK-24796][ci] Reduce size of compile build artifact
  tools/azure-pipelines/create_build_artifact.sh
Labels: component=BuildSystem/CI

#17668 [FLINK-24401][runtime] Fix the bug of TM cannot exit after Metaspace OOM
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskManagerRunner.java
Labels: component=Runtime/Coordination, component=Runtime/Task

#17672 [FLINK-24761][table] Fix PartitionPruner code gen compile fail
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliClientITCase.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/context/SessionContextTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/local/LocalExecutorITCase.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/utils/UserDefinedFunctions.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/utils/PartitionPruner.scala
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/utils/TestUserClassLoaderJar.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/PartitionableSourceITCase.scala
Labels: component=TableSQL/Planner, component=TableSQL/Runtime

#17695 [FLINK-24798][cli] Bump commons-cli to v1.5.0
  flink-dist/src/main/resources/META-INF/NOTICE
  pom.xml
Labels: component=CommandLineClient

#17574 [FLINK-24665][s3] Update Presto Hadoop dependency to v2.7.4-9
  flink-filesystems/flink-s3-fs-presto/pom.xml
  flink-filesystems/flink-s3-fs-presto/src/main/resources/META-INF/NOTICE
Labels: component=FileSystems

#17723 [FLINK-24761][table] Fix PartitionPruner code gen compile fail
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliClientITCase.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/local/LocalExecutorITCase.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/utils/UserDefinedFunctions.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/utils/PartitionPruner.scala
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/utils/TestUserClassLoaderJar.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/PartitionableSourceITCase.scala
Labels: component=TableSQL/Planner, component=TableSQL/Runtime

#17724 [FLINK-24761][table] Fix PartitionPruner code gen compile fail
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliClientITCase.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/context/SessionContextTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/local/LocalExecutorITCase.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/utils/UserDefinedFunctions.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/utils/PartitionPruner.scala
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/utils/TestUserClassLoaderJar.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/PartitionableSourceITCase.scala
Labels: component=TableSQL/Planner, component=TableSQL/Runtime

#17729 [FLINK-24738][runtime] Ignoring buffer size announcement if the subpa…
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/LocalInputChannel.java
Labels: component=Runtime/Network

#17664 [FLINK-24658][runtime] Added debug logs for BufferDebloater
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/SingleInputGateFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/throughput/BufferDebloater.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/consumer/SingleInputGateBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/throughput/BufferDebloaterTest.java
Labels: component=Runtime/Network

#17509 [FLINK-24501][table-runtime] Stores window progress into state in order to check whether an input element is late or not for window-tvf aggregate operator.
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/aggregate/window/processors/AbstractWindowAggProcessor.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/deduplicate/window/processors/RowTimeWindowDeduplicateProcessor.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/rank/window/processors/WindowRankProcessor.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/window/slicing/SlicingWindowOperator.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/window/slicing/SlicingWindowProcessor.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/operators/aggregate/window/SlicingWindowAggOperatorTest.java
Labels: component=TableSQL/Runtime

#17673 [FLINK-24001][table-runtime] Window table-valued function operator support proctime window
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/window/WindowTableFunctionOperator.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/operators/window/WindowTableFunctionOperatorTest.java
Labels: component=TableSQL/Runtime

#17645 [FLINK-24667][runtime] Fix error handling in ChannelStateCheckpointWriter
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/channel/ChannelStateCheckpointWriter.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/channel/ChannelStateWriteRequest.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/channel/ChannelStateWriteRequestExecutorImpl.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/ttl/mock/MockKeyedStateBackend.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/ttl/mock/MockKeyedStateBackendBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/ttl/mock/MockOperatorStateBackend.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/ttl/mock/MockStateBackend.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/UnalignedCheckpointFailureHandlingITCase.java
Labels: component=Runtime/Checkpointing, component=Runtime/Task

#17718 [BP-1.14][FLINK-21289][deployment] FIX missing load pipeline.classpaths in application mode, for both k8s and yarn
  flink-clients/src/main/java/org/apache/flink/client/program/DefaultPackagedProgramRetriever.java
  flink-clients/src/test/java/org/apache/flink/client/program/DefaultPackagedProgramRetrieverTest.java
Labels: component=Deployment/YARN, component=Deployment/Kubernetes, component=Client/JobSubmission

#17719 [BP-1.13][FLINK-21289][deployment] FIX missing load pipeline.classpaths in application mode, for both k8s and yarn
  flink-clients/src/main/java/org/apache/flink/client/deployment/application/ClassPathPackagedProgramRetriever.java
  flink-clients/src/test/java/org/apache/flink/client/deployment/application/ClassPathPackagedProgramRetrieverTest.java
Labels: component=Deployment/YARN, component=Deployment/Kubernetes, component=Client/JobSubmission

#17732 [FLINK-24825][nifi] Update nifi-site-to-site-client to v1.14.0
  flink-connectors/flink-connector-nifi/pom.xml
Labels: component=Connectors/Nifi

#17727 [FLINK-24828][tests][testinfrastructure] Bump Powermock to v2.0.9
  pom.xml
Labels: component=Tests, component=TestInfrastructure

#17680 [FLINK-24771][jdbc][tests] Bump test dependencies mariadb-java-client to 2.7.4 and mysql-connector-java to 8.0.27
  flink-connectors/flink-connector-jdbc/pom.xml
Labels: component=Connectors/JDBC

#17687 [FLINK-24227][connectors] Improved AsyncSink base by adding a builder…
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/sink/AsyncSinkBase.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/sink/AsyncSinkBaseBuilder.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/sink/writer/AsyncSinkWriter.java
  flink-connectors/flink-connector-base/src/main/resources/log4j2.properties
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/ArrayListAsyncSink.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/writer/AsyncSinkWriterTest.java
Labels: component=Connectors/Common

#17039 [FLINK-24040][metrics]catch NoSuchElementException for Slf4jReporter#…
  flink-metrics/flink-metrics-slf4j/src/main/java/org/apache/flink/metrics/slf4j/Slf4jReporter.java
Labels: review=description?, component=<none>

#17726 [FLINK-24827][buildsystem] Bump maven-dependency-plugin to v3.2.0
  flink-python/pyflink/pyflink_gateway_server.py
  pom.xml
Labels: component=BuildSystem

#17716 [FLINK-24738][runtime] Ignoring buffer size announcement if the chann…
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/LocalInputChannel.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/RemoteInputChannel.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/SingleInputGate.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/InputChannelTestUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/consumer/LocalInputChannelTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/consumer/RemoteInputChannelTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/consumer/SingleInputGateTest.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/bufferdebloat/BufferDebloater.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/bufferdebloat/BufferDebloaterTest.java
Labels: component=Runtime/Network

#17744 [BP-1.13][FLINK-24667][runtime] Fix error handling in ChannelStateCheckpointWriter
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/channel/ChannelStateCheckpointWriter.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/channel/ChannelStateWriteRequest.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/channel/ChannelStateWriteRequestExecutorImpl.java
Labels: component=Runtime/Checkpointing, component=Runtime/Task

#17743 [BP-1.14][FLINK-24667][runtime] Fix error handling in ChannelStateCheckpointWriter
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/channel/ChannelStateCheckpointWriter.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/channel/ChannelStateWriteRequest.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/channel/ChannelStateWriteRequestExecutorImpl.java
Labels: component=Runtime/Checkpointing, component=Runtime/Task

#17708 [FLINK-23696][connectors/rabbitmq] Fix RMQSourceTest.testRedeliveredSessionIDsAck
  flink-connectors/flink-connector-rabbitmq/src/test/java/org/apache/flink/streaming/connectors/rabbitmq/RMQSourceTest.java
Labels: component=Connectors/RabbitMQ

#17741 [BP-1.13][FLINK-23696][connectors/rabbitmq] Fix RMQSourceTest.testRedeliveredSessionIDsAck
  flink-connectors/flink-connector-rabbitmq/src/test/java/org/apache/flink/streaming/connectors/rabbitmq/RMQSourceTest.java
Labels: component=Connectors/RabbitMQ

#17740 [BP-1.14][FLINK-23696][connectors/rabbitmq] Fix RMQSourceTest.testRedeliveredSessionIDsAck
  flink-connectors/flink-connector-rabbitmq/src/test/java/org/apache/flink/streaming/connectors/rabbitmq/RMQSourceTest.java
Labels: component=Connectors/RabbitMQ

#17583 [FLINK-24639][kinesis] Add UniformShardAssigner
  docs/content.zh/docs/connectors/datastream/kinesis.md
  docs/content/docs/connectors/datastream/kinesis.md
  flink-connectors/flink-connector-kinesis/pom.xml
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/util/UniformShardAssigner.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/util/UniformShardAssignerTest.java
Labels: component=Connectors/Kinesis

#17656 [FLINK-24741]Deprecate FileRecordFormat
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/src/AbstractFileSource.java
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/src/FileSource.java
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/src/impl/FileRecordFormatAdapter.java
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/src/reader/FileRecordFormat.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/src/impl/TestIntReader.java
Labels: component=Connectors/FileSystem

#17643 [FLINK-24733][connector/pulsar] Data loss in pulsar source when using shared mode
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/reader/split/PulsarOrderedPartitionSplitReader.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/reader/split/PulsarPartitionSplitReaderBase.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/reader/split/PulsarUnorderedPartitionSplitReader.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/source/reader/split/PulsarOrderedPartitionSplitReaderTest.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/source/reader/split/PulsarPartitionSplitReaderTestBase.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/source/reader/split/PulsarUnorderedPartitionSplitReaderTest.java
Labels: component=Connectors/Pulsar

#17742 [BP-1.14][FLINK-24733][connector/pulsar] Data loss in pulsar source when using shared mode
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/reader/split/PulsarOrderedPartitionSplitReader.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/reader/split/PulsarPartitionSplitReaderBase.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/reader/split/PulsarUnorderedPartitionSplitReader.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/source/reader/split/PulsarOrderedPartitionSplitReaderTest.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/source/reader/split/PulsarPartitionSplitReaderTestBase.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/source/reader/split/PulsarUnorderedPartitionSplitReaderTest.java
Labels: component=Connectors/Pulsar

#17548 [FLINK-24383][streaming] Remove the deprecated SlidingTimeWindows, TumblingTimeWindows, BaseAlignedWindowAssigner.
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/datastream/AllWindowedStream.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/windowing/assigners/BaseAlignedWindowAssigner.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/windowing/assigners/SlidingTimeWindows.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/windowing/assigners/TumblingTimeWindows.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/windowing/WindowOperator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/windowing/WindowOperatorBuilder.java
Labels: component=API/DataStream

#17674 [FLINK-24755][doc]Add guidance to solve the package sun.misc does not exist
  docs/content.zh/docs/flinkDev/ide_setup.md
  docs/content/docs/flinkDev/ide_setup.md
Labels: component=BuildSystem

#17424 [FLINK-24455][tests]FallbackAkkaRpcSystemLoader should check for mave…
  flink-rpc/flink-rpc-akka-loader/src/main/java/org/apache/flink/runtime/rpc/akka/AkkaRpcSystemLoader.java
  flink-rpc/flink-rpc-akka-loader/src/test/java/org/apache/flink/runtime/rpc/akka/FallbackAkkaRpcSystemLoader.java
  flink-rpc/flink-rpc-core/src/main/java/org/apache/flink/runtime/rpc/RpcSystem.java
  flink-rpc/flink-rpc-core/src/main/java/org/apache/flink/runtime/rpc/exceptions/RpcLoaderException.java
Labels: component=Tests

#17758 [FLINK-24800][runtime] Changed the assert condition for checking buff…
  flink-tests/src/test/java/org/apache/flink/test/streaming/runtime/BufferTimeoutITCase.java
Labels: component=Runtime/Network

#17764 [FLINK-24874][runtime-web] Fixes missing dropdown menu introduced in FLINK-21867
  flink-runtime-web/web-dashboard/src/app/pages/job/exceptions/job-exceptions.component.html
  flink-runtime-web/web-dashboard/src/app/pages/job/job.module.ts
Labels: component=Runtime/WebFrontend

#17635 [FLINK-24724][buildsystem] Update Sun XML Bind dependencies to v3.0.2
  pom.xml
Labels: component=BuildSystem

#17767 [FLINK-24800][runtime] Changed the assert condition for checking buff…
  flink-tests/src/test/java/org/apache/flink/test/streaming/runtime/BufferTimeoutITCase.java
Labels: component=Runtime/Network

#17722 [FLINK-24774] Adaptive scheduler notifies listeners for all job state transitions
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveScheduler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/State.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveSchedulerTest.java
Labels: component=Runtime/Coordination

#17700 [FLINK-24773][kafka] Fail job if unhandled exception occurs during committing
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/sink/KafkaCommitter.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/sink/KafkaCommitterTest.java
Labels: component=Connectors/Kafka

#17756 [FLINK-24773][kafka] Fail job if unhandled exception occurs during co…
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/sink/KafkaCommitter.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/sink/KafkaCommitterTest.java
Labels: component=Connectors/Kafka

#17779 [FLINK-22419] Wait unlimited in RpcEndpointTest.testCallAsyncTimeout
  flink-runtime/src/test/java/org/apache/flink/runtime/rpc/RpcEndpointTest.java
Labels: component=Runtime/Coordination

#17783 [BP-1.13][FLINK-22419] Wait unlimited in RpcEndpointTest.testCallAsyncTimeout
  flink-runtime/src/test/java/org/apache/flink/runtime/rpc/RpcEndpointTest.java
Labels: component=Runtime/Coordination

#17784 [BP-1.12][FLINK-22419] Wait unlimited in RpcEndpointTest.testCallAsyncTimeout
  flink-runtime/src/test/java/org/apache/flink/runtime/rpc/RpcEndpointTest.java
Labels: component=Runtime/Coordination

#17763 [FLINK-24784][runtime] Enable state.backend.latency-track.state-name-as-variable by default
  docs/layouts/shortcodes/generated/state_backend_configuration.html
  docs/layouts/shortcodes/generated/state_backend_latency_tracking_section.html
  flink-core/src/main/java/org/apache/flink/configuration/StateBackendOptions.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/metrics/LatencyTrackingStateConfigTest.java
Labels: component=Runtime/StateBackends, component=Runtime/Metrics

#17780 [FLINK-24690][runtime] Changed the calculation of reaching buffer deb…
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/bufferdebloat/BufferDebloater.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/bufferdebloat/BufferDebloaterTest.java
Labels: component=Runtime/Network

#17737 [FLINK-24690][runtime] Changed the calculation of reaching buffer deb…
  flink-runtime/src/main/java/org/apache/flink/runtime/throughput/BufferDebloater.java
  flink-runtime/src/test/java/org/apache/flink/runtime/throughput/BufferDebloaterTest.java
Labels: component=Runtime/Network

#17787 [FLINK-24869][BuildSystem] flink-core should be provided in flink-file-sink-common
  flink-connectors/flink-file-sink-common/pom.xml
Labels: component=BuildSystem

#17387 [FLINK-24864][metrics] Release TaskManagerJobMetricGroup with the last slot rather than task
  flink-metrics/flink-metrics-prometheus/src/test/java/org/apache/flink/metrics/prometheus/PrometheusReporterTaskScopeTest.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/groups/TaskManagerJobMetricGroup.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/groups/TaskManagerMetricGroup.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/groups/UnregisteredMetricGroups.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/TaskExecutorStateChangelogStoragesManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskExecutor.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/NettyShuffleEnvironmentTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/InternalOperatorGroupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/MetricGroupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/TaskManagerGroupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/TaskManagerMetricGroupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/TaskMetricGroupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/operators/chaining/ChainedOperatorsMetricTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskExecutorTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/OneInputStreamTaskTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTestHarness.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/TwoInputStreamTaskTest.java
Labels: component=Runtime/StateBackends, component=Runtime/Metrics

#17803 [FLINK-24839][fs-connector] Increase Timeout of FsStreamingSinkITCaseBase to 240
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/stream/FsStreamingSinkITCaseBase.scala
Labels: component=<none>

#17685 [FLINK-24631][Kubernetes]Use minimal selector to select jobManager and taskManager pod
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/KubernetesResourceManagerDriver.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/decorators/ExternalServiceDecorator.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/decorators/InternalServiceDecorator.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/factory/KubernetesJobManagerFactory.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/parameters/KubernetesJobManagerParameters.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/parameters/KubernetesParameters.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/parameters/KubernetesTaskManagerParameters.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/utils/KubernetesUtils.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/ExternalServiceDecoratorTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/InternalServiceDecoratorTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/factory/KubernetesJobManagerFactoryTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/parameters/AbstractKubernetesParametersTest.java
Labels: component=Deployment/Kubernetes

#17809 [BP-1.14][FLINK-24631][k8s] Use a stable subset of labels to select jobManager and taskManager pods
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/KubernetesResourceManagerDriver.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/decorators/ExternalServiceDecorator.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/decorators/InternalServiceDecorator.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/factory/KubernetesJobManagerFactory.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/parameters/KubernetesJobManagerParameters.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/parameters/KubernetesParameters.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/parameters/KubernetesTaskManagerParameters.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/utils/KubernetesUtils.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/ExternalServiceDecoratorTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/InternalServiceDecoratorTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/factory/KubernetesJobManagerFactoryTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/parameters/AbstractKubernetesParametersTest.java
Labels: component=Deployment/Kubernetes

#17810 [BP-1.13][FLINK-24631][k8s] Use a stable subset of labels to select jobManager and taskManager pods
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/KubernetesResourceManagerDriver.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/decorators/ExternalServiceDecorator.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/decorators/InternalServiceDecorator.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/factory/KubernetesJobManagerFactory.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/parameters/KubernetesJobManagerParameters.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/parameters/KubernetesParameters.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/parameters/KubernetesTaskManagerParameters.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/utils/KubernetesUtils.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/ExternalServiceDecoratorTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/InternalServiceDecoratorTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/factory/KubernetesJobManagerFactoryTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/parameters/AbstractKubernetesParametersTest.java
Labels: component=Deployment/Kubernetes

#17229 [FLINK-23381][state] Back-pressure on reaching state change to upload limit
  flink-dstl/flink-dstl-dfs/src/main/java/org/apache/flink/changelog/fs/BatchingStateChangeUploader.java
  flink-dstl/flink-dstl-dfs/src/main/java/org/apache/flink/changelog/fs/FsStateChangelogOptions.java
  flink-dstl/flink-dstl-dfs/src/main/java/org/apache/flink/changelog/fs/FsStateChangelogStorage.java
  flink-dstl/flink-dstl-dfs/src/main/java/org/apache/flink/changelog/fs/StateChangeUploader.java
  flink-dstl/flink-dstl-dfs/src/main/java/org/apache/flink/changelog/fs/UploadThrottle.java
  flink-dstl/flink-dstl-dfs/src/test/java/org/apache/flink/changelog/fs/BatchingStateChangeUploaderTest.java
  flink-dstl/flink-dstl-dfs/src/test/java/org/apache/flink/changelog/fs/TestingStateChangeUploader.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/runtime/SavepointTaskStateManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/changelog/StateChangelogStorage.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTest.java
Labels: review=description?, component=Runtime/StateBackends

#17766 [FLINK-24876][docs] Remove metrics limitation of Adaptive Scheduler
  docs/content.zh/docs/deployment/elastic_scaling.md
  docs/content.zh/docs/ops/metrics.md
  docs/content/docs/deployment/elastic_scaling.md
  docs/content/docs/ops/metrics.md
Labels: component=Documentation, component=Runtime/Coordination, component=Runtime/Metrics

#17795 [FLINK-24964] Upgrade frontend-maven-plugin
  flink-runtime-web/pom.xml
Labels: component=Runtime/WebFrontend

#17823 [FLINK-24937][e2e] Return correct exit code in build_image
  flink-end-to-end-tests/test-scripts/common_docker.sh
Labels: component=Runtime/Coordination

#17875 [BP-1.14][FLINK-24937][e2e] Return correct exit code in build_image
  flink-end-to-end-tests/test-scripts/common_docker.sh
Labels: component=Runtime/Coordination

#17876 [FLINK-24937][e2e] Return correct exit code in build_image
  flink-end-to-end-tests/test-scripts/common_docker.sh
Labels: component=Runtime/Coordination

#17863 [FLINK-24991] FlinkStatistic compiles on later Scala versions
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/stats/FlinkStatistic.scala
Labels: component=TableSQL/Planner

#17864 [FLINK-24992] StreamingWithStateTestBase compiles on later Scala versions
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/utils/StreamingWithStateTestBase.scala
Labels: component=Tests, component=TableSQL/Planner

#17868 [FLINK-25004][build] Disable spotless on Java 17
  pom.xml
Labels: component=BuildSystem

#17861 [FLINK-24989][build] Bump shade-plugin to 3.2.4
  pom.xml
Labels: component=BuildSystem

#17860 [FLINK-24988][build] Upgrade lombok to 1.18.22
  flink-core/pom.xml
Labels: component=Tests

#17862 [FLINK-24990][tests] Make InMemory[Async]LookupFunction public
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/utils/InMemoryLookupableTableSource.scala
Labels: component=Tests, component=TableSQL/Planner

#17869 [FLINK-25005][build] Add java17-target profile
  pom.xml
Labels: component=BuildSystem

#17853 [FLINK-24981][build] Fix profile activations for JDK 12+
  flink-connectors/flink-connector-hbase-1.4/pom.xml
  flink-connectors/flink-connector-hbase-2.2/pom.xml
  flink-connectors/flink-connector-hbase-base/pom.xml
  flink-connectors/flink-connector-hive/pom.xml
  flink-end-to-end-tests/pom.xml
Labels: component=BuildSystem

#17858 [FLINK-24986][tests] Replace anonymous StreamStateHandle class
  flink-state-backends/flink-statebackend-rocksdb/src/test/java/org/apache/flink/contrib/streaming/state/RocksDBStateDownloaderTest.java
Labels: component=Tests, component=Runtime/Checkpointing

#17792 [FLINK-24763][fs-connector] LimitableReader should swallow exception when reached limit
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/filesystem/LimitableBulkFormat.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/filesystem/LimitableBulkFormatTest.java
Labels: component=Connectors/FileSystem, component=Formats

#17754 [FLINK-24861][connector][jdbc] Fix false cache lookup for empty data
  docs/content/docs/connectors/table/jdbc.md
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/internal/options/JdbcLookupOptions.java
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/table/JdbcConnectorOptions.java
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/table/JdbcDynamicTableFactory.java
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/table/JdbcRowDataLookupFunction.java
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/table/JdbcDynamicTableFactoryTest.java
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/table/JdbcLookupTestBase.java
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/table/JdbcRowDataLookupFunctionTest.java
Labels: component=Connectors/JDBC

#17832 [FLINK-24958][docs]correct the example and link for temporal table fu…
  docs/content.zh/docs/dev/table/sql/queries/joins.md
  docs/content/docs/dev/table/sql/queries/joins.md
Labels: component=Documentation

#17835 [FLINK-24958][docs]correct the example and link for temporal table function documentation
  docs/content.zh/docs/dev/table/sql/queries/joins.md
  docs/content/docs/dev/table/sql/queries/joins.md
Labels: component=Documentation

#17848 [FLINK-24583] [connectors/elasticsearch] Improve test stability by blocking until ES has acknowledged all records
  flink-connectors/flink-connector-elasticsearch7/src/main/java/org/apache/flink/connector/elasticsearch/sink/ElasticsearchWriter.java
  flink-connectors/flink-connector-elasticsearch7/src/test/java/org/apache/flink/connector/elasticsearch/sink/ElasticsearchWriterITCase.java
Labels: component=Connectors/ElasticSearch

#17728 [FLINK-24832][tests][testinfrastructure] Update JUnit5 to v5.8.1
  flink-table/flink-sql-parser-hive/pom.xml
  flink-table/flink-sql-parser/pom.xml
  flink-table/flink-table-planner/pom.xml
  pom.xml
Labels: component=Tests, component=TestInfrastructure

#17556 [FLINK-24627][tests] add some Junit5 extensions to replace the existed Junit4 rules
  flink-runtime/src/test/java/org/apache/flink/runtime/taskmanager/TaskCancelAsyncProducerConsumerITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/testutils/MiniClusterExtension.java
  flink-runtime/src/test/java/org/apache/flink/runtime/util/BlobServerExtension.java
  flink-runtime/src/test/java/org/apache/flink/runtime/zookeeper/ZooKeeperExtension.java
  flink-test-utils-parent/flink-test-utils-junit/src/main/java/org/apache/flink/core/testutils/AllCallbackWrapper.java
  flink-test-utils-parent/flink-test-utils-junit/src/main/java/org/apache/flink/core/testutils/CustomExtension.java
  flink-test-utils-parent/flink-test-utils-junit/src/main/java/org/apache/flink/core/testutils/EachCallbackWrapper.java
  flink-test-utils-parent/flink-test-utils-junit/src/main/java/org/apache/flink/testutils/executor/TestExecutorExtension.java
  flink-test-utils-parent/flink-test-utils-junit/src/main/java/org/apache/flink/testutils/junit/SharedObjectsExtension.java
  flink-test-utils-parent/flink-test-utils-junit/src/main/java/org/apache/flink/testutils/junit/extensions/retry/RetryExtension.java
  flink-test-utils-parent/flink-test-utils-junit/src/main/java/org/apache/flink/testutils/junit/extensions/retry/RetryTestExecutionExtension.java
  flink-test-utils-parent/flink-test-utils-junit/src/main/java/org/apache/flink/testutils/junit/extensions/retry/strategy/AbstractRetryStrategy.java
  flink-test-utils-parent/flink-test-utils-junit/src/main/java/org/apache/flink/testutils/junit/extensions/retry/strategy/RetryOnExceptionStrategy.java
  flink-test-utils-parent/flink-test-utils-junit/src/main/java/org/apache/flink/testutils/junit/extensions/retry/strategy/RetryOnFailureStrategy.java
  flink-test-utils-parent/flink-test-utils-junit/src/main/java/org/apache/flink/testutils/junit/extensions/retry/strategy/RetryStrategy.java
  flink-test-utils-parent/flink-test-utils-junit/src/main/java/org/apache/flink/testutils/logging/LoggerAuditingExtension.java
  flink-test-utils-parent/flink-test-utils-junit/src/main/java/org/apache/flink/util/LogLevelExtension.java
  flink-test-utils-parent/flink-test-utils-junit/src/main/java/org/apache/flink/util/TestLoggerExtension.java
  flink-test-utils-parent/flink-test-utils-junit/src/test/java/org/apache/flink/testutils/junit/RetryOnExceptionExtensionTest.java
  flink-test-utils-parent/flink-test-utils-junit/src/test/java/org/apache/flink/testutils/junit/RetryOnFailureExtensionTest.java
  flink-test-utils-parent/flink-test-utils/src/main/java/org/apache/flink/streaming/util/StreamCollectorExtension.java
  flink-test-utils-parent/flink-test-utils/src/main/java/org/apache/flink/test/util/MiniClusterWithClientExtension.java
Labels: component=Tests

#17852 [FLINK-24979][build][hbase] Remove MaxPermSize setting
  flink-connectors/flink-connector-hbase-1.4/pom.xml
  flink-connectors/flink-connector-hbase-2.2/pom.xml
Labels: component=BuildSystem, component=Connectors/HBase

#17855 [FLINK-24983][build] Upgrade surefire to 3.0.5-M5
  pom.xml
Labels: component=BuildSystem, component=Tests

#17856 [FLINK-24984][ci] Rename MAVEN_OPTS variable
  azure-pipelines.yml
  tools/azure-pipelines/build-apache-repo.yml
  tools/ci/compile.sh
  tools/ci/maven-utils.sh
Labels: component=BuildSystem/AzurePipelines

#17133 [FLINK-24138] Architectural tests
  azure-pipelines.yml
  flink-architecture-tests/README.md
  flink-architecture-tests/pom.xml
  flink-architecture-tests/src/test/java/org/apache/flink/architecture/ArchitectureTest.java
  flink-architecture-tests/src/test/java/org/apache/flink/architecture/common/Conditions.java
  flink-architecture-tests/src/test/java/org/apache/flink/architecture/common/GivenJavaClasses.java
  flink-architecture-tests/src/test/java/org/apache/flink/architecture/common/Predicates.java
  flink-architecture-tests/src/test/java/org/apache/flink/architecture/common/SourcePredicates.java
  flink-architecture-tests/src/test/java/org/apache/flink/architecture/rules/ApiAnnotationRules.java
  flink-architecture-tests/src/test/java/org/apache/flink/architecture/rules/TableApiRules.java
  flink-architecture-tests/src/test/resources/archunit.properties
  flink-architecture-tests/violations/18509c9e-3250-4c52-91b9-11ccefc85db1
  flink-architecture-tests/violations/52c5c6a1-204f-462d-9efa-4ffcb100fb4d
  flink-architecture-tests/violations/5b9eed8a-5fb6-4373-98ac-3be2a71941b8
  flink-architecture-tests/violations/7602816f-5c01-4b7a-9e3e-235dfedec245
  flink-architecture-tests/violations/e5126cae-f3fe-48aa-b6fb-60ae6cc3fcd5
  flink-architecture-tests/violations/e577412e-8d38-496c-a680-b842112e4b94
  flink-architecture-tests/violations/stored.rules
  pom.xml
  tools/ci/stage.sh
Labels: review=description?, component=<none>

#17857 [FLINK-24985][tests] Relax assumptions of stacktrace layout
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/buffer/LocalBufferPoolDestroyTest.java
Labels: component=Tests

#17813 [FLINK-24802][Table SQL/Planner] Improve cast ROW to STRING
  flink-examples/flink-examples-table/src/test/java/org/apache/flink/table/examples/java/functions/AdvancedFunctionsExampleITCase.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/functions/casting/RowToStringCastRule.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/functions/casting/CastRulesTest.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/expressions/CompositeAccessTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/expressions/RowTypeTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/expressions/SqlExpressionTest.scala
Labels: component=TableSQL/Planner

#17866 [FLINK-24996][ci] Update CI image to contain Java 17
  azure-pipelines.yml
  tools/azure-pipelines/build-apache-repo.yml
Labels: component=BuildSystem/CI

#17894 [FLINK-25042] Allow calls to @VisibleForTesting from inner classes
  flink-architecture-tests/src/test/java/org/apache/flink/architecture/rules/ApiAnnotationRules.java
  flink-architecture-tests/violations/e5126cae-f3fe-48aa-b6fb-60ae6cc3fcd5
Labels: component=Tests

#17755 [FLINK-24858][core] Prevent version mismatches in TypeSerializers
  flink-core/src/main/java/org/apache/flink/api/java/typeutils/RowTypeInfo.java
  flink-core/src/main/java/org/apache/flink/api/java/typeutils/runtime/RowSerializer.java
  flink-core/src/test/java/org/apache/flink/api/common/typeutils/TypeSerializerUpgradeTestBase.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/sink/TwoPhaseCommitSinkFunction.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/typeutils/LinkedListSerializer.java
Labels: component=API/TypeSerializationSystem

#17807 [FLINK-24922][docs]Fix spelling errors in the word "parallism"
  docs/content.zh/docs/dev/table/sqlClient.md
  docs/content/docs/dev/table/sqlClient.md
Labels: component=Documentation, component=TableSQL/Client

#17817 [FLINK-24922][docs] Backport fix spelling errors in the word "parallism"
  docs/content.zh/docs/dev/table/sqlClient.md
  docs/content/docs/dev/table/sqlClient.md
Labels: component=Documentation, component=TableSQL/Client

#17816 [FLINK-24922][docs] Backport fix spelling errors in the word "parallism"
  docs/content.zh/docs/dev/table/sqlClient.md
  docs/content/docs/dev/table/sqlClient.md
Labels: component=Documentation, component=TableSQL/Client

#17670 [FLINK-24760][docs] Update user document for batch window tvf
  docs/content.zh/docs/dev/table/sql/queries/window-agg.md
  docs/content.zh/docs/dev/table/sql/queries/window-join.md
  docs/content.zh/docs/dev/table/sql/queries/window-topn.md
  docs/content.zh/docs/dev/table/sql/queries/window-tvf.md
  docs/content/docs/dev/table/sql/queries/window-agg.md
  docs/content/docs/dev/table/sql/queries/window-join.md
  docs/content/docs/dev/table/sql/queries/window-topn.md
  docs/content/docs/dev/table/sql/queries/window-tvf.md
Labels: component=Documentation

#17851 [FLINK-21214][kafka/IT] add retry rule for testScaleDownBeforeFirstCh…
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/FlinkKafkaProducerITCase.java
Labels: component=Connectors/Kafka

#17895 [FLINK-25039][build] Disable shading of test jar by default
  flink-connectors/flink-connector-elasticsearch5/pom.xml
  flink-connectors/flink-connector-files/pom.xml
  flink-connectors/flink-connector-hive/pom.xml
  flink-connectors/flink-connector-kinesis/pom.xml
  flink-connectors/flink-sql-connector-elasticsearch6/pom.xml
  flink-connectors/flink-sql-connector-elasticsearch7/pom.xml
  flink-connectors/flink-sql-connector-hbase-1.4/pom.xml
  flink-connectors/flink-sql-connector-hbase-2.2/pom.xml
  flink-connectors/flink-sql-connector-kafka/pom.xml
  flink-connectors/flink-sql-connector-kinesis/pom.xml
  flink-connectors/flink-sql-connector-rabbitmq/pom.xml
  flink-end-to-end-tests/flink-streaming-kinesis-test/pom.xml
  flink-examples/flink-examples-build-helper/flink-examples-streaming-gcp-pubsub/pom.xml
  flink-examples/flink-examples-build-helper/flink-examples-streaming-state-machine/pom.xml
  flink-examples/flink-examples-build-helper/flink-examples-streaming-twitter/pom.xml
  flink-filesystems/flink-fs-hadoop-shaded/pom.xml
  flink-filesystems/flink-oss-fs-hadoop/pom.xml
  flink-filesystems/flink-s3-fs-hadoop/pom.xml
  flink-filesystems/flink-s3-fs-presto/pom.xml
  flink-formats/flink-sql-avro-confluent-registry/pom.xml
  flink-formats/flink-sql-avro/pom.xml
  flink-python/pom.xml
  flink-rpc/flink-rpc-akka-loader/pom.xml
  flink-table/flink-table-code-splitter/pom.xml
  flink-table/flink-table-planner/pom.xml
  pom.xml
Labels: component=BuildSystem, component=BuildSystem/AzurePipelines

#17854 [FLINK-24982][tests] Fix file leak
  flink-core/src/test/java/org/apache/flink/core/fs/AbstractRecoverableWriterTest.java
Labels: component=Tests

#17908 [FLINK-25058][tests] Consider exceptions for API annotation scanning
  flink-architecture-tests/src/test/java/org/apache/flink/architecture/common/Conditions.java
  flink-architecture-tests/src/test/java/org/apache/flink/architecture/rules/ApiAnnotationRules.java
  flink-architecture-tests/violations/18509c9e-3250-4c52-91b9-11ccefc85db1
  flink-architecture-tests/violations/5b9eed8a-5fb6-4373-98ac-3be2a71941b8
Labels: component=<none>

#17837 [FLINK-24963] Remove the tail separator when outputting yarn queue names
  flink-yarn/src/main/java/org/apache/flink/yarn/YarnClusterDescriptor.java
Labels: component=Deployment/YARN

#17881 [FLINK-24971][tests] Adding retry mechanism in case git clone fails
  flink-end-to-end-tests/test-scripts/common.sh
  flink-end-to-end-tests/test-scripts/common_ssl.sh
Labels: component=Connectors/FileSystem

#17915 [FLINK-25064][rest] Remove incorrect @VisibleForTesting
  flink-architecture-tests/violations/e5126cae-f3fe-48aa-b6fb-60ae6cc3fcd5
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/RestServerEndpoint.java
Labels: component=Runtime/REST

#17920 [FLINK-25067][doc] Correct the description of RocksDB's background threads for flush and compaction
  docs/layouts/shortcodes/generated/rocksdb_configurable_configuration.html
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBConfigurableOptions.java
Labels: component=Documentation, component=Runtime/StateBackends

#17913 [FLINK-24227][connectors] Async Base Sink Hotfix - Introduced maxRecordSizeInBytes and changed the behaviour of flushOnBufferSizeInBytes
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/sink/AsyncSinkBase.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/sink/AsyncSinkBaseBuilder.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/sink/writer/AsyncSinkWriter.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/ArrayListAsyncSink.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/AsyncSinkBaseITCase.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/writer/AsyncSinkWriterTest.java
Labels: component=Connectors/Common

#17883 [FLINK-24971][BP-1.13] Adding retry mechanism in case git clone fails
  flink-end-to-end-tests/test-scripts/common.sh
  flink-end-to-end-tests/test-scripts/common_ssl.sh
Labels: component=Connectors/FileSystem

#17882 [FLINK-24971][BP-1.12] Adding retry mechanism in case git clone fails
  flink-end-to-end-tests/test-scripts/common.sh
  flink-end-to-end-tests/test-scripts/common_ssl.sh
Labels: component=Connectors/FileSystem

#17884 [FLINK-24971][BP-1.14] Adding retry mechanism in case git clone fails
  flink-end-to-end-tests/test-scripts/common.sh
  flink-end-to-end-tests/test-scripts/common_ssl.sh
Labels: component=Connectors/FileSystem

#17904 [FLINK-21214][kafka/IT] add retry rule
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/FlinkKafkaProducerITCase.java
Labels: component=Connectors/Kafka

#17925 [FLINK-24543][BP-1.14][runtime] Avoid possible inconsistencies of ZookeeperSta…
  flink-runtime/src/main/java/org/apache/flink/runtime/zookeeper/ZooKeeperStateHandleStore.java
  flink-runtime/src/test/java/org/apache/flink/runtime/zookeeper/ZooKeeperStateHandleStoreTest.java
Labels: component=Runtime/Coordination

#17681 [FLINK-24543][BP-1.13][runtime] Avoid possible inconsistencies of ZookeeperSta…
  flink-runtime/src/main/java/org/apache/flink/runtime/zookeeper/ZooKeeperStateHandleStore.java
  flink-runtime/src/test/java/org/apache/flink/runtime/zookeeper/ZooKeeperStateHandleStoreTest.java
Labels: component=Runtime/Coordination

#17926 [FLINK-24789][BP-1.14][runtime] Trigger checkpoint disposal prior completing t…
  flink-core/src/main/java/org/apache/flink/util/concurrent/FutureUtils.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/DefaultScheduler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/DefaultSchedulerFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/SchedulerBase.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveScheduler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveSchedulerFactory.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/DefaultSchedulerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/SchedulerTestingUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveSchedulerBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveSchedulerTest.java
Labels: component=Runtime/Coordination, component=Runtime/Checkpointing

#17849 [FLINK-22775][connectors][cassandra][test] Lower consistency expectation in write operations to avoid waiting for replica acknowledge
  flink-connectors/flink-connector-cassandra/src/test/java/org/apache/flink/streaming/connectors/cassandra/CassandraConnectorITCase.java
Labels: component=Connectors/Cassandra

#17923 [FLINK-24763][parquet] Ignore ParquetFileSystemITCase.testLimitableBulkFormat
  flink-formats/flink-parquet/src/test/java/org/apache/flink/formats/parquet/ParquetFileSystemITCase.java
Labels: component=Connectors/FileSystem, component=Formats

#17921 [FLINK-23798][state] Avoid using reflection to get filter when partition filter is enable
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBResourceContainer.java
  flink-state-backends/flink-statebackend-rocksdb/src/test/java/org/apache/flink/contrib/streaming/state/RocksDBResourceContainerTest.java
Labels: component=Runtime/StateBackends

#17699 [FLINK-20370][table] part1: Fix wrong results when sink primary key is not the same with query result's changelog upsert key
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/KafkaChangelogTableITCase.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamPhysicalSink.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/optimize/program/FlinkChangelogModeInferenceProgram.scala
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/RankTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/agg/AggregateTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/join/JoinTest.xml
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/RankTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/agg/AggregateTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/join/JoinTest.scala
Labels: component=TableSQL/Planner

#17596 [FLINK-24310][doc]Use >= instead of == to cover the downscaling scenario
  docs/content.zh/docs/dev/datastream/fault-tolerance/state.md
  docs/content/docs/dev/datastream/fault-tolerance/state.md
Labels: component=Documentation

#17918 [FLINK-25065][docs] Update document for jdbc connector
  docs/content.zh/docs/connectors/table/jdbc.md
  docs/content/docs/connectors/table/jdbc.md
Labels: component=Documentation

#17944 [FLINK-21214][kafka/IT] Add retry rule for FlinkKafkaProducerITCase
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/FlinkKafkaProducerITCase.java
Labels: component=Connectors/Kafka

#17912 [FLINK-24848][rest] Return 404 for unknown operation
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/UnknownOperationKeyException.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/handler/job/savepoints/SavepointHandlers.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/handler/job/savepoints/SavepointHandlersTest.java
Labels: component=Runtime/REST
