Repository apache/flink, pull requests merged in 2021-09, with the labels that each got.

#17074 [FLINK-24081][table-planner] Fix StreamExecOverAggregate and StreamExecTemporalSort operator didn't support LocalZonedTimestampType
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecOverAggregate.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecPythonOverAggregate.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecTemporalSort.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/OverAggregateITCase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/TemporalSortITCase.scala
Labels: review=description?, component=TableSQL/Planner

#17083 [FLINK-24081][table-planner] Fix StreamExecOverAggregate and StreamExecTemporalSort operator didn't support LocalZonedTimestampType
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecOverAggregate.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecPythonOverAggregate.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecTemporalSort.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/OverAggregateITCase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/TemporalSortITCase.scala
Labels: review=description?, component=TableSQL/Planner

#17086 [FLINK-23351][tests] Harden FileReadingWatermarkITCase by counting watermarks after source operator finishes [1.14]
  flink-tests/src/test/java/org/apache/flink/test/streaming/api/FileReadingWatermarkITCase.java
Labels: review=description?, component=API/DataStream

#17078 [FLINK-23468][test] Do not hide original exception if SSL is not available
  flink-runtime/src/test/java/org/apache/flink/runtime/net/SSLUtilsTest.java
Labels: review=description?, component=Benchmarks

#17077 [FLINK-24085][docs] Add first class subject for page `versioned table` and `Timezone`
  docs/content.zh/docs/dev/table/concepts/timezone.md
  docs/content/docs/dev/table/concepts/timezone.md
  docs/content/docs/dev/table/concepts/versioned_tables.md
Labels: review=description?, component=Documentation

#16983 [FLINK-23750][docs][table] Add documentation for Window Top-N after Windowing TVF.
  docs/content.zh/docs/dev/table/sql/queries/window-topn.md
  docs/content/docs/dev/table/sql/queries/window-topn.md
Labels: review=description?, component=Documentation

#17025 [FLINK-24029][docs] Update doc example sql field in release-1.13.2 to dept_id
  docs/content.zh/docs/dev/table/sql/gettingStarted.md
  docs/content/docs/dev/table/sql/gettingStarted.md
Labels: review=description?

#17070 [FLINK-24051][connectors/kafka] Make groupId optional when constructi…
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/source/KafkaSourceBuilder.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/source/KafkaSourceBuilderTest.java
Labels: review=description?, component=Connectors/Kafka

#17069 [FLINK-24051][connectors/kafka] Make groupId optional when constructi…
  docs/content/docs/connectors/datastream/kafka.md
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/source/KafkaSourceBuilder.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/source/KafkaSourceBuilderTest.java
Labels: review=description?, component=Connectors/Kafka

#17096 [FLINK-24099][docs] Refer to nightlies.apache.org
  README.md
  docs/config.toml
  docs/content.zh/_index.md
  docs/content.zh/docs/deployment/filesystems/s3.md
  docs/content.zh/docs/deployment/memory/mem_migration.md
  docs/content.zh/docs/dev/datastream/fault-tolerance/serialization/types_serialization.md
  docs/content.zh/docs/libs/state_processor_api.md
  docs/content.zh/release-notes/flink-1.11.md
  docs/content.zh/release-notes/flink-1.13.md
  docs/content.zh/release-notes/flink-1.7.md
  docs/content.zh/release-notes/flink-1.8.md
  docs/content.zh/release-notes/flink-1.9.md
  docs/content/_index.md
  docs/content/docs/connectors/datastream/kafka.md
  docs/content/docs/deployment/filesystems/s3.md
  docs/content/docs/deployment/memory/mem_migration.md
  docs/content/docs/dev/datastream/fault-tolerance/serialization/types_serialization.md
  docs/content/docs/libs/state_processor_api.md
  docs/content/release-notes/flink-1.11.md
  docs/content/release-notes/flink-1.13.md
  docs/content/release-notes/flink-1.7.md
  docs/content/release-notes/flink-1.8.md
  docs/content/release-notes/flink-1.9.md
  docs/layouts/partials/docs/inject/content-before.html
  docs/layouts/shortcodes/generated/kubernetes_config_configuration.html
  flink-clients/src/main/java/org/apache/flink/client/cli/DynamicPropertiesUtil.java
  flink-core/src/main/java/org/apache/flink/core/fs/FileSystem.java
  flink-examples/flink-examples-batch/src/main/java/org/apache/flink/examples/java/relational/EmptyFieldsCountAccumulator.java
  flink-java/src/main/java/org/apache/flink/api/java/DataSet.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/configuration/KubernetesConfigOptions.java
  flink-python/README.md
  flink-python/pyflink/examples/table/mixing_use_of_datastream_and_table.py
  flink-python/pyflink/examples/table/multi_sink.py
  flink-python/pyflink/examples/table/pandas/pandas_udaf.py
  flink-python/pyflink/examples/table/process_json_data.py
  flink-python/pyflink/examples/table/process_json_data_with_udf.py
  flink-python/pyflink/examples/table/windowing/over_window.py
  flink-python/pyflink/examples/table/windowing/session_window.py
  flink-python/pyflink/examples/table/windowing/sliding_window.py
  flink-python/pyflink/examples/table/windowing/tumble_window.py
  flink-python/pyflink/examples/table/word_count.py
  flink-python/pyflink/table/descriptors.py
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/transformations/AbstractBroadcastStateTransformation.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliStrings.java
  flink-table/flink-sql-client/src/test/resources/sql-client-help-command.out
  flink-table/flink-sql-client/src/test/resources/sql/misc.q
  tools/releasing/create_snapshot_branch.sh
Labels: review=description?

#17049 [FLINK-23971][tests] fix connector testing framework error when compare records in different splits
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/source/testutils/KafkaSingleTopicExternalContext.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/testutils/PulsarTestContext.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/testutils/cases/MultipleTopicConsumingContext.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/testutils/cases/SingleTopicConsumingContext.java
  flink-test-utils-parent/flink-connector-testing/src/main/java/org/apache/flink/connectors/test/common/external/ExternalContext.java
  flink-test-utils-parent/flink-connector-testing/src/main/java/org/apache/flink/connectors/test/common/testsuites/SourceTestSuiteBase.java
Labels: review=description?, component=Connectors/Pulsar

#17004 [docs] Fix small typo in ValueState Javadocs
  docs/content.zh/docs/internals/filesystems.md
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/streaming/connectors/kafka/FlinkKafkaConsumer.java
  flink-core/src/main/java/org/apache/flink/api/common/JobStatus.java
  flink-core/src/main/java/org/apache/flink/api/common/state/ValueState.java
  flink-core/src/main/java/org/apache/flink/core/fs/FileSystem.java
  flink-java/src/main/java/org/apache/flink/api/java/DataSet.java
  flink-java/src/main/java/org/apache/flink/api/java/operators/CrossOperator.java
  flink-python/pyflink/common/job_status.py
  flink-python/pyflink/datastream/connectors.py
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/ResultPartitionType.java
  flink-runtime/src/main/java/org/apache/flink/runtime/registration/RegisteredRpcConnection.java
  flink-runtime/src/main/java/org/apache/flink/runtime/registration/RetryingRegistration.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/LegacyTableSourceITCase.scala
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/sort/BinaryExternalSorter.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/types/PlannerTypeUtils.java
Labels: review=description?

#16723 [FLINK-22885][table] Supports 'SHOW COLUMNS' syntax.
  docs/content.zh/docs/dev/table/sql/overview.md
  docs/content.zh/docs/dev/table/sql/show.md
  docs/content/docs/dev/table/sql/overview.md
  docs/content/docs/dev/table/sql/show.md
  flink-table/flink-sql-client/src/test/resources/sql/table.q
  flink-table/flink-sql-client/src/test/resources/sql/view.q
  flink-table/flink-sql-parser/src/main/codegen/data/Parser.tdd
  flink-table/flink-sql-parser/src/main/codegen/includes/parserImpls.ftl
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/dql/SqlShowColumns.java
  flink-table/flink-sql-parser/src/test/java/org/apache/flink/sql/parser/FlinkSqlParserImplTest.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/TableEnvironmentImpl.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/functions/SqlLikeUtils.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ShowColumnsOperation.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/SqlToOperationConverter.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/calcite/FlinkPlannerImpl.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/calls/LikeCallGen.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/ExecuteSqlTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/TableEnvironmentITCase.scala
Labels: review=description?, component=TableSQL/API

#17081 [FLINK-23797][tests] Wait for all task running before savepoint for a…
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/SavepointITCase.java
Labels: review=description?, component=Runtime/Checkpointing

#17075 [FLINK-24035][network][refactor] Move the blocking allocation of one floating buffer logic from the constructor of LocalBufferPool to SingleInputGate#setupChannels()
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/buffer/BufferPool.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/buffer/LocalBufferPool.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/buffer/NetworkBufferPool.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/SingleInputGate.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/buffer/LocalBufferPoolTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/buffer/NoOpBufferPool.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/buffer/UnpooledBufferPool.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/netty/CreditBasedPartitionRequestClientHandlerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/netty/NettyMessageClientDecoderDelegateTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/netty/NettyMessageClientSideSerializationTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/consumer/SingleInputGateBuilder.java
Labels: review=description?, component=Runtime/Network

#17007 [FLINK-17495][metrics] Add additional variables config for metric reporters
  docs/content.zh/docs/deployment/metric_reporters.md
  docs/content/docs/deployment/metric_reporters.md
  flink-core/src/main/java/org/apache/flink/configuration/ConfigConstants.java
  flink-metrics/flink-metrics-prometheus/src/test/java/org/apache/flink/metrics/prometheus/PrometheusReporterTest.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/MetricRegistryImpl.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/ReporterSetup.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/groups/FrontMetricGroup.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/groups/ReporterScopedSettings.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/ReporterSetupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/FrontMetricGroupTest.java
Labels: review=description?

#17042 [FLINK-24042] Corrected the description of stderr in DataStream java doc
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/datastream/DataStream.java
  flink-streaming-scala/src/main/scala/org/apache/flink/streaming/api/scala/DataStream.scala
Labels: review=description?, component=Documentation, component=API/DataStream

#17099 [FLINK-24106][docs] Remove notice that pyflink does not support state TTL
  docs/content.zh/docs/dev/datastream/fault-tolerance/state.md
  docs/content/docs/dev/datastream/fault-tolerance/state.md
Labels: review=description?, component=Documentation

#17059 [FLINK-24005][coordination] Only return fulfilled requirements for reserved slots
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/slotpool/AllocatedSlotPool.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/slotpool/DeclarativeSlotPool.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/slotpool/DefaultAllocatedSlotPool.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/slotpool/DefaultDeclarativeSlotPool.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/slotpool/DefaultAllocatedSlotPoolTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/slotpool/DefaultDeclarativeSlotPoolTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/slotpool/TestingPhysicalSlotPayload.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/allocator/SharedSlotTest.java
Labels: review=description?, component=Runtime/Coordination

#17085 [FLINK-24081][table-blink-planner] Fix StreamExecOverAggregate and StreamExecTemporalSort operator didn't support LocalZonedTimestampType
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecOverAggregate.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecPythonOverAggregate.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecTemporalSort.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/OverAggregateITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/TemporalSortITCase.scala
Labels: review=description?, component=TableSQL/Planner

#17097 [FLINK-24047][tests] Retry if leader election is in progress
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/SavepointITCase.java
  flink-tests/src/test/java/org/apache/flink/test/streaming/runtime/TimestampITCase.java
Labels: review=description?, component=Runtime/Coordination

#16037 [FLINK-22812][hive] Fix HiveConf, HiveMetaStoreClient and upgrade avr…
  flink-connectors/flink-sql-connector-hive-3.1.2/pom.xml
  flink-connectors/flink-sql-connector-hive-3.1.2/src/main/java/org/apache/hadoop/hive/conf/HiveConf.java
  flink-connectors/flink-sql-connector-hive-3.1.2/src/main/java/org/apache/hadoop/hive/metastore/HiveMetaStoreClient.java
  flink-connectors/flink-sql-connector-hive-3.1.2/src/main/resources/META-INF/NOTICE
  tools/maven/suppressions.xml
Labels: review=description?, component=Connectors/Hive

#17113 [hotfix][test] Clearly mark old TestHarness classes as deprecated
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/OneInputStreamTaskTestHarness.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTestHarness.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/TwoInputStreamTaskTestHarness.java
Labels: review=description?

#17109 [BP-1.14][FLINK-22002][tests] Let taskmanager.slot.timeout fall back to akka.ask.timeout
  docs/layouts/shortcodes/generated/all_taskmanager_section.html
  docs/layouts/shortcodes/generated/task_manager_configuration.html
  flink-core/src/main/java/org/apache/flink/configuration/TaskManagerOptions.java
Labels: review=description?, component=Runtime/Coordination

#16996 [BP-1.13][FLINK-22002][tests] Let taskmanager.slot.timeout fall back to akka.ask.timeout
  docs/layouts/shortcodes/generated/all_taskmanager_section.html
  docs/layouts/shortcodes/generated/task_manager_configuration.html
  flink-core/src/main/java/org/apache/flink/configuration/TaskManagerOptions.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskManagerConfiguration.java
Labels: review=description?

#16881 [FLINK-22227][clients] Log submitted job name, id and receiving dispa…
  flink-clients/src/main/java/org/apache/flink/client/program/rest/RestClusterClient.java
  flink-clients/src/test/java/org/apache/flink/client/program/rest/RestClusterClientTest.java
Labels: review=description?, component=Client/JobSubmission

#16949 [FLINK-23242][docs-zh] Translate the page of "Handling Application Parameters" into Chinese
  docs/content.zh/docs/dev/datastream/application_parameters.md
Labels: review=description?, component=chinese-translation

#16967 [FLINK-23907] Type Migration: introducing primitive functional interfaces
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointRequestDecider.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/DataSetMetaInfo.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/ChannelStatePersister.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/RemoteInputChannel.java
  flink-runtime/src/main/java/org/apache/flink/runtime/memory/MemoryManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/memory/SharedResources.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointRequestDeciderTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/memory/SharedResourcesTest.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliInputView.java
Labels: review=description?, component=<none>

#17117 [FLINK-24023][runtime-web] The names of metrics are incomplete
  flink-runtime-web/web-dashboard/src/app/pages/job/overview/chart/job-overview-drawer-chart.component.html
Labels: review=description?, component=Runtime/WebFrontend

#17111 [FLINK-24064][connector/common] HybridSource restore from savepoint
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/hybrid/HybridSource.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/hybrid/HybridSourceEnumeratorState.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/hybrid/HybridSourceEnumeratorStateSerializer.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/hybrid/HybridSourceReader.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/hybrid/HybridSourceSplit.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/hybrid/HybridSourceSplitEnumerator.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/hybrid/HybridSourceSplitSerializer.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/hybrid/SwitchedSources.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/hybrid/HybridSourceReaderTest.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/hybrid/HybridSourceSplitEnumeratorTest.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/hybrid/HybridSourceSplitSerializerTest.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/reader/mocks/MockBaseSource.java
Labels: review=description?, component=Connectors/Common

#17148 [FLINK-24158][runtime] Remove useless collector in LimitOperator
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/sort/LimitOperator.java
Labels: review=description?, component=TableSQL/Runtime

#17126 [FLINK-24090][docs] Added Troubleshooting section with ignoring in-fl…
  docs/content/docs/ops/state/unaligned_checkpoints.md
Labels: review=description?, component=Documentation, component=Runtime/Checkpointing

#16941 [FLINK-23839][connectors-kafka] Give a more descriptive warnings on I…
  docs/content/docs/connectors/datastream/kafka.md
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/sink/KafkaCommitter.java
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/streaming/connectors/kafka/FlinkKafkaProducer.java
Labels: review=description?, component=Connectors/Kafka

#17093 [FLINK-24088][streaming] Log FlinkJobNotFoundException in debug instead of warn level in CollectResultFetcher for a cleaner log
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/collect/CollectResultFetcher.java
Labels: review=description?, component=API/DataStream, component=TableSQL/API

#16959 [FLINK-23912] Remove unnecessary "Clearing resource requirements of job" in SlotManager
  flink-runtime/src/main/java/org/apache/flink/runtime/resourcemanager/slotmanager/DeclarativeSlotManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/resourcemanager/slotmanager/DefaultResourceTracker.java
  flink-runtime/src/main/java/org/apache/flink/runtime/resourcemanager/slotmanager/FineGrainedSlotManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/resourcemanager/slotmanager/JobScopedResourceTracker.java
  flink-runtime/src/main/java/org/apache/flink/runtime/resourcemanager/slotmanager/ResourceTracker.java
Labels: review=description?, component=Runtime/Coordination

#17144 [release-1.13][FLINK-24064][connector/common] HybridSource restore from savepoint
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/hybrid/HybridSource.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/hybrid/HybridSourceEnumeratorState.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/hybrid/HybridSourceEnumeratorStateSerializer.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/hybrid/HybridSourceReader.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/hybrid/HybridSourceSplit.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/hybrid/HybridSourceSplitEnumerator.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/hybrid/HybridSourceSplitSerializer.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/hybrid/SwitchedSources.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/hybrid/HybridSourceReaderTest.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/hybrid/HybridSourceSplitEnumeratorTest.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/hybrid/HybridSourceSplitSerializerTest.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/reader/mocks/MockBaseSource.java
Labels: review=description?, component=Connectors/Common

#17143 [release-1.14][FLINK-24064][connector/common] HybridSource restore from savepoint
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/hybrid/HybridSource.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/hybrid/HybridSourceEnumeratorState.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/hybrid/HybridSourceEnumeratorStateSerializer.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/hybrid/HybridSourceReader.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/hybrid/HybridSourceSplit.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/hybrid/HybridSourceSplitEnumerator.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/hybrid/HybridSourceSplitSerializer.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/hybrid/SwitchedSources.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/hybrid/HybridSourceReaderTest.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/hybrid/HybridSourceSplitEnumeratorTest.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/hybrid/HybridSourceSplitSerializerTest.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/reader/mocks/MockBaseSource.java
Labels: review=description?, component=Connectors/Common

#17112 [FLINK-23983][tests] Ensure to close and dispose created keyed-statebackend in StateBackendTestBase
  flink-runtime/src/test/java/org/apache/flink/runtime/state/StateBackendTestBase.java
Labels: review=description?, component=Tests, component=Runtime/StateBackends

#17166 [FLINK-24172][tableapi][docs] - Fixed missing quote for join examples
  docs/content.zh/docs/dev/table/tableApi.md
  docs/content/docs/dev/table/tableApi.md
Labels: review=description?, component=Documentation, component=TableSQL/API

#17103 [FLINK-24069][tests] Fail IgnoreInFlightData test when there is not enough data for it for all checkpoints not only the first one
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/IgnoreInFlightDataITCase.java
Labels: review=description?, component=Runtime/Checkpointing

#16731 [FLINK-23612][table-runtime] Fix compile exception for ROUND function with some numeric input arguments
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/calls/BuiltInMethods.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/calls/FunctionGenerator.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/expressions/ScalarFunctionsTest.scala
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/functions/SqlFunctionUtils.java
Labels: review=description?, component=TableSQL/Runtime

#16740 [FLINK-23614][table-planner] The resulting scale of TRUNCATE(DECIMAL,…
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/BuiltInFunctionDefinitions.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/functions/sql/FlinkSqlOperatorTable.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/functions/MathFunctionsITCase.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/expressions/ScalarFunctionsTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/expressions/validation/ScalarFunctionsValidationTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/CalcITCase.scala
Labels: review=description?, component=TableSQL/Runtime

#17158 [FLINK-22198][connector/kafka] Disable log deletion on Kafka broker in Kafka table connector tests
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/KafkaChangelogTableITCase.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/KafkaTableITCase.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/UpsertKafkaTableITCase.java
Labels: review=description?, component=Connectors/Kafka

#17162 [FLINK-22971][tests] Bump testcontainers to 1.16.0
  pom.xml
Labels: review=description?, component=Tests

#17183 [hotfix][docs] Update Window TopN SQL example
  docs/content/docs/dev/table/sql/queries/window-topn.md
Labels: review=description?

#17157 [FLINK-24165][API/DataStream]Modify the spelling mistakes of the comment word.
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/KeyContext.java
Labels: review=description?, component=API/DataStream

#17172 [FLINK-24181] Bump JSoup to 1.14.2
  flink-docs/pom.xml
Labels: review=description?, component=BuildSystem

#16951 [FLINK-23807][connector/testing-framework] Use RestClient to detect TaskManager failure in test environments
  flink-end-to-end-tests/flink-end-to-end-tests-common/src/main/java/org/apache/flink/tests/util/flink/FlinkContainer.java
  flink-end-to-end-tests/flink-end-to-end-tests-common/src/main/java/org/apache/flink/tests/util/flink/FlinkContainerTestEnvironment.java
  flink-runtime/src/test/java/org/apache/flink/runtime/testutils/CommonTestUtils.java
  flink-test-utils-parent/flink-connector-testing/src/main/java/org/apache/flink/connectors/test/common/environment/MiniClusterTestEnvironment.java
Labels: review=description?, component=Connectors/Common

#17116 [FLINK-24126][connector/kafka] Use increment of bytes consumed/produced for updating numBytesIn/Out in Kafka connector
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/sink/KafkaWriter.java
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/source/metrics/KafkaSourceReaderMetrics.java
Labels: review=description?, component=Connectors/Kafka

#17121 [FLINK-24115][docs] Fix outdated SQL Temporal Join example
  docs/content.zh/docs/dev/table/sql/queries/joins.md
  docs/content/docs/dev/table/sql/queries/joins.md
Labels: review=description?, component=Documentation, component=TableSQL/API

#17124 [FLINK-24115][docs] Fix outdated SQL Temporal Join example
  docs/content.zh/docs/dev/table/sql/queries/joins.md
  docs/content/docs/dev/table/sql/queries/joins.md
Labels: review=description?, component=Documentation, component=TableSQL/API

#17122 [FLINK-24115][docs] Fix outdated SQL Temporal Join example
  docs/content.zh/docs/dev/table/sql/queries/joins.md
  docs/content/docs/dev/table/sql/queries/joins.md
Labels: review=description?, component=Documentation, component=TableSQL/API

#17181 [FLINK-24183][legal] Add aws-java-sdk-s3 to source NOTICE
  NOTICE
Labels: review=description?, component=FileSystems

#17163 [FLINK-24170] [build] Replace usage of directory-maven-plugin with directory-of goal
  pom.xml
Labels: review=description?, component=BuildSystem

#17160 [FLINK-23961][kubernetes] Hint user about missing 'kubernetes.cluster…
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/Fabric8FlinkKubeClient.java
Labels: review=description?, component=<none>

#17193 [FLINK-24203][runtime][tests] Resolve AbstractServerTest fails due to port conflict
  flink-queryable-state/flink-queryable-state-runtime/src/test/java/org/apache/flink/queryablestate/network/AbstractServerTest.java
Labels: review=description?, component=Runtime/QueryableState

#17194 [FLINK-24034] Upgrade commons-compress to 1.21 and other apache.commons updates
  flink-connectors/flink-connector-elasticsearch5/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-elasticsearch6/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-elasticsearch7/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-hbase-1.4/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-hbase-2.2/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-kinesis/src/main/resources/META-INF/NOTICE
  flink-dist/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-azure-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-fs-hadoop-shaded/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-oss-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-s3-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-s3-fs-presto/src/main/resources/META-INF/NOTICE
  flink-formats/flink-sql-avro-confluent-registry/src/main/resources/META-INF/NOTICE
  flink-formats/flink-sql-avro/src/main/resources/META-INF/NOTICE
  flink-streaming-java/pom.xml
  flink-table/flink-table-planner/src/main/resources/META-INF/NOTICE
  pom.xml
Labels: review=description?, component=BuildSystem

#17168 [hotfix][docs] Fix sentence by adding one word:
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/src/reader/FileRecordFormat.java
Labels: review=description?

#17191 [BP-1.14][FLINK-24126][connector/kafka] Use increment of bytes consumed/produced for updating numBytesIn/Out in Kafka connector
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/sink/KafkaWriter.java
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/source/metrics/KafkaSourceReaderMetrics.java
Labels: review=description?, component=Connectors/Kafka

#17178 [BP-1.14][FLINK-23807][connector/testing-framework] Use RestClient to detect TaskManager failure in test environments
  flink-end-to-end-tests/flink-end-to-end-tests-common/src/main/java/org/apache/flink/tests/util/flink/FlinkContainer.java
  flink-end-to-end-tests/flink-end-to-end-tests-common/src/main/java/org/apache/flink/tests/util/flink/FlinkContainerTestEnvironment.java
  flink-runtime/src/test/java/org/apache/flink/runtime/testutils/CommonTestUtils.java
  flink-test-utils-parent/flink-connector-testing/src/main/java/org/apache/flink/connectors/test/common/environment/MiniClusterTestEnvironment.java
Labels: review=description?, component=Connectors/Common

#17167 [FLINK-22889][tests] Increase timeouts in JdbcExactlyOnceSinkE2eTest
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/xa/JdbcExactlyOnceSinkE2eTest.java
Labels: review=description?, component=Connectors/JDBC

#17192 [FLINK-24195][doc]Translate "DESCRIBE Statements" page of "SQL" into …
  docs/content.zh/docs/dev/table/sql/describe.md
Labels: review=description?, component=Documentation

#17195 [FLINK-24196][doc]Translate "EXPLAIN Statements" page of "SQL" into C…
  docs/content.zh/docs/dev/table/sql/explain.md
Labels: review=description?, component=Documentation

#17064 [FLINK-24059][Connectors/Common] Allow SourceReaderTestBase.NUM_SPLITS to be overridden
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/source/reader/KafkaSourceReaderTest.java
  flink-test-utils-parent/flink-connector-test-utils/src/main/java/org/apache/flink/connector/testutils/source/reader/SourceReaderTestBase.java
Labels: review=description?, component=Connectors/Common

#17197 [FLINK-24209][jdbc][build] Add test scope
  flink-connectors/flink-connector-jdbc/pom.xml
Labels: review=description?, component=Connectors/JDBC

#17173 [FLINK-24155] Sync Chinese version of documentation to configure CheckpointFailureManager
  docs/content.zh/docs/dev/datastream/fault-tolerance/checkpointing.md
Labels: review=description?, component=Documentation, component=chinese-translation

#17211 [FLINK-24031] Extend vcs.xml
  .idea/vcs.xml
Labels: review=description?

#16752 [FLINK-23462] [docs-zh] Translate the abfs documentation to chinese
  docs/content.zh/docs/deployment/filesystems/azure.md
  docs/content.zh/docs/deployment/filesystems/overview.md
Labels: review=description?, component=Documentation, component=chinese-translation

#17202 [BP-1.14][FLINK-22889][tests] Increase timeouts in JdbcExactlyOnceSinkE2eTest
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/xa/JdbcExactlyOnceSinkE2eTest.java
Labels: review=description?, component=Connectors/JDBC

#17212 [FLINK-24213][qs] Use single lock in ServerConnection
  flink-queryable-state/flink-queryable-state-client-java/src/main/java/org/apache/flink/queryablestate/network/ServerConnection.java
Labels: review=description?, component=Runtime/QueryableState

#16865 [FLINK-23836][doc-zh]Translate "/dev/datastream/execution/execution_c…
  docs/content.zh/docs/dev/datastream/execution/execution_configuration.md
Labels: review=description?, component=Documentation

#17213 [FLINK-24041][connectors] First draft of API, uses FLIP-143: Unified …
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/sink/AsyncSinkBase.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/sink/writer/AsyncSinkWriter.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/sink/writer/ElementConverter.java
  flink-connectors/flink-connector-base/src/main/resources/log4j2.properties
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/ArrayListAsyncSink.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/ArrayListDestination.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/AsyncSinkBaseITCase.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/writer/AsyncSinkWriterTest.java
Labels: review=description?, component=Connectors/Common

#17207 [FLINK-22901][table-planner-blink] Introduce getUpsertKeys in FlinkRelMetadataQuery
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/metadata/FlinkMetadata.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/metadata/FlinkRelMetadataQuery.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/metadata/FlinkDefaultRelMetadataProvider.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdUniqueKeys.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdUpsertKeys.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamPhysicalOverAggregate.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/optimize/StreamCommonSubGraphBasedOptimizer.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/schema/IntermediateRelTable.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdHandlerTestBase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdUpsertKeysTest.scala
Labels: review=description?, component=TableSQL/Planner

#17210 [FLINK-16346][tests] Remove timeout
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmanager/BlobsCleanupITCase.java
Labels: review=description?, component=Runtime/Coordination

#17224 [FLINK-24220][doc]Translate "RESET Statements" page of "SQL" into Chi…
  docs/content.zh/docs/dev/table/sql/reset.md
Labels: review=description?, component=Documentation

#17218 [FLINK-24184][task] Introduce lock to guard against race conditions around shouldInterruptOnCancel
  flink-runtime/src/main/java/org/apache/flink/runtime/jobgraph/tasks/AbstractInvokable.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobgraph/tasks/TaskInvokable.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskmanager/Task.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
Labels: review=description?, component=Runtime/Task

#17225 [FLINK-24221][doc]Translate "JAR Statements" page of "SQL" into Chinese
  docs/content.zh/docs/dev/table/sql/jar.md
Labels: review=description?, component=Documentation

#16988 [FLINK-23458][docs] Added the network buffer documentation along wit…
  docs/content/docs/deployment/config.md
  docs/content/docs/deployment/memory/mem_setup.md
  docs/content/docs/deployment/memory/mem_setup_tm.md
  docs/content/docs/deployment/memory/network_mem_tuning.md
Labels: review=description?, component=Runtime/Network, component=Documentation

#17223 [FLINK-24219][doc]Translate "SET Statements" page of "SQL" into Chinese
  docs/content.zh/docs/dev/table/sql/set.md
Labels: review=description?, component=Documentation

#17252 [FLINK-24155] Sync Chinese version of documentation to configure CheckpointFailureManager
  docs/content.zh/docs/dev/datastream/fault-tolerance/checkpointing.md
Labels: review=description?, component=Documentation, component=chinese-translation

#17257 [FLINK-24155][documentation] Sync Chinese version of documentation to configure CheckpointFailureManager
  docs/content.zh/docs/dev/datastream/fault-tolerance/checkpointing.md
Labels: review=description?, component=Documentation, component=chinese-translation

#17267 [BP-1.14][FLINK-22889][tests] Increase timeouts in JdbcExactlyOnceSinkE2eTest
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/xa/JdbcExactlyOnceSinkE2eTest.java
Labels: review=description?, component=Connectors/JDBC

#15703 [FLINK-22275][table] Support random past for timestamp types in datagen connector
  docs/content.zh/docs/connectors/table/datagen.md
  docs/content/docs/connectors/table/datagen.md
  flink-table/flink-sql-client/src/test/resources/sql/table.q
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/connector/datagen/table/DataGenConnectorOptions.java
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/connector/datagen/table/DataGenConnectorOptionsUtil.java
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/connector/datagen/table/DataGenTableSourceFactory.java
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/connector/datagen/table/DataGenVisitorBase.java
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/connector/datagen/table/RandomGeneratorVisitor.java
  flink-table/flink-table-api-java-bridge/src/test/java/org/apache/flink/table/factories/DataGenTableSourceFactoryTest.java
Labels: review=description?, component=TableSQL/Ecosystem

#17283 [FLINK-24283][connector/pulsar] Use stick key consumer in Key_Shared subscription.
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/PulsarSourceEnumerator.java
Labels: review=description?, component=Connectors/Pulsar

#17280 [FLINK-24282][connectors/kafka] Make topic selector for KafkaSink ser…
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/sink/KafkaRecordSerializationSchemaBuilder.java
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/sink/TopicSelector.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/sink/KafkaRecordSerializationSchemaBuilderTest.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/sink/KafkaSinkITCase.java
Labels: review=description?, component=<none>

#17281 [FLINK-24282][connectors/kafka] Make topic selector for KafkaSink ser…
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/sink/KafkaRecordSerializationSchemaBuilder.java
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/sink/TopicSelector.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/sink/KafkaRecordSerializationSchemaBuilderTest.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/sink/KafkaSinkITCase.java
Labels: review=description?, component=<none>

#17221 [FLINK-24217][doc]Translate "LOAD Statements" page of "SQL" into Chinese
  docs/content.zh/docs/dev/table/sql/load.md
  docs/content/docs/dev/table/sql/load.md
Labels: review=description?, component=Documentation

#17244 [FLINK-24234][connectors] FLIP-171: Adding Time & Byte Size Based Flushing to Async Sink Writer
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/sink/writer/AsyncSinkWriter.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/sink/writer/RequestEntryWrapper.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/ArrayListAsyncSink.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/AsyncSinkBaseITCase.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/writer/AsyncSinkWriterTest.java
Labels: review=description?, component=Connectors/Common

#17222 [FLINK-24218][doc]Translate "UNLOAD Statements" page of "SQL" into Ch…
  docs/content.zh/docs/dev/table/sql/unload.md
  docs/content/docs/dev/table/sql/unload.md
Labels: review=description?, component=Documentation

#17268 [FLINK-24133][core] Network failure test replaced by comment in the code due to high expense of stabilizing such low important test
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/netty/PartitionRequestClientFactory.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/netty/PartitionRequestClientFactoryTest.java
Labels: review=description?, component=Runtime/Network

#17295 [hotfix] Fix a typo in 'estimatedTimeToConsume(r)BuffersMs'
  docs/content.zh/docs/ops/metrics.md
  docs/content/docs/deployment/memory/network_mem_tuning.md
  docs/content/docs/ops/metrics.md
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/MetricNames.java
Labels: review=description?

#17296 [hotfix] Fix a typo in 'estimatedTimeToConsume(r)BuffersMs'
  docs/content.zh/docs/ops/metrics.md
  docs/content/docs/deployment/memory/network_mem_tuning.md
  docs/content/docs/ops/metrics.md
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/MetricNames.java
Labels: review=description?

#17151 [FLINK-23180] Do not initialize checkpoint base locations when checkp…
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/CheckpointStorageCoordinatorView.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/filesystem/FsCheckpointStorageAccess.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/memory/MemoryBackendCheckpointStorageAccess.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinatorTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/StateBackendMigrationTestBase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/TestingCheckpointStorageAccessCoordinatorView.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/filesystem/AbstractFileCheckpointStorageAccessTestBase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/filesystem/FsCheckpointStorageAccessTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/filesystem/FsStateBackendEntropyTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/testutils/BackendForTestStream.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/ttl/mock/MockCheckpointStorage.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/sorted/state/NonCheckpointingStorageAccess.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/SavepointITCase.java
Labels: review=description?, component=Runtime/Checkpointing

#17187 [FLINK-11250][runtime] Added method init for RecordWriter for initialization resources(OutputFlusher) outside of constructor
  flink-runtime/src/main/java/org/apache/flink/runtime/taskmanager/Task.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskmanager/TaskTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamConfigChainer.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTest.java
Labels: review=description?, component=Runtime/Operators

#17263 [FLINK-24248][docs]update Gradle dependency
  docs/content/docs/dev/datastream/project-configuration.md
Labels: review=description?, component=Documentation

#17159 [FLINK-24129][connectors-pulsar] Harden TopicRangeTest.rangeCreationH…
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/source/enumerator/topic/TopicRangeTest.java
Labels: review=description?, component=Connectors/Pulsar

#17312 [BP-1.14][FLINK-24129][connectors-pulsar] Harden TopicRangeTest.rangeCreationHaveALimitedScope.
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/source/enumerator/topic/TopicRangeTest.java
Labels: review=description?, component=Connectors/Pulsar

#17279 [Hotfix][streaming] Fix a typo.
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/SourceStreamTask.java
Labels: review=description?

#17238 [FLINK-24233][runtime] Create view reader always on the first PartitionRequest even if request subpartition view fails in order to simplify understanding for following requests they are the first or not
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/netty/PartitionRequestQueue.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/netty/PartitionRequestServerHandlerTest.java
Labels: review=description?, component=Runtime/Network

#17315 [FLINK-24300][bp-1.14] SourceOperator#getAvailableFuture reuses future
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/SourceOperator.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/SourceOperatorTest.java
Labels: review=description?, component=Runtime/Network

#17303 [FLINK-24300] SourceOperator#getAvailableFuture reuses future
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/SourceOperator.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/SourceOperatorTest.java
Labels: review=description?, component=Runtime/Network

#17301 [FLINK-24287][python][tests] Update grpcio version in tox.ini
  flink-python/tox.ini
Labels: review=description?, component=API/Python, component=Tests

#17233 FLINK-23949 adapt to Flink1.12
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/snapshot/RocksIncrementalSnapshotStrategy.java
  flink-state-backends/flink-statebackend-rocksdb/src/test/java/org/apache/flink/contrib/streaming/state/snapshot/RocksIncrementalSnapshotStrategyTest.java
Labels: review=description?, component=Runtime/StateBackends

#17317 [hotfix][docs] fix link from upsert-kafka to kafka Table(!) connector
  docs/content.zh/docs/connectors/table/upsert-kafka.md
  docs/content/docs/connectors/table/upsert-kafka.md
Labels: review=description?

#17220 [FLINK-24197] Guard against CLRF being split across chunks
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/FileUploadHandler.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/MultipartUploadResource.java
Labels: review=description?, component=Tests, component=Connectors/FileSystem

#17227 [FLINK-24156][runtime/network] Catch erroneous SocketTimeoutExceptions and retry
  flink-core/src/main/java/org/apache/flink/util/NetUtils.java
  flink-core/src/test/java/org/apache/flink/util/NetUtilsTest.java
  flink-examples/flink-examples-streaming/src/test/java/org/apache/flink/streaming/test/socket/SocketWindowWordCountITCase.java
  flink-runtime/src/main/java/org/apache/flink/runtime/blob/BlobServer.java
  flink-runtime/src/test/java/org/apache/flink/runtime/blob/TestingFailingBlobServer.java
  flink-runtime/src/test/java/org/apache/flink/runtime/net/ConnectionUtilsTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/RestClientTest.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/collect/CollectSinkFunction.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/experimental/SocketStreamIterator.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/functions/sink/SocketClientSinkTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/functions/source/SocketTextStreamFunctionTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/collect/CollectSinkOperatorCoordinatorTest.java
  flink-test-utils-parent/flink-test-utils/src/test/java/org/apache/flink/networking/EchoServer.java
Labels: review=description?, component=Runtime/Network

#17323 [FLINK-24340] Only print exception if job failure/suspension
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/Dispatcher.java
Labels: review=description?, component=Runtime/Coordination

#17330 [FLINK-24347][connectors/kafka] Keep idle source readers if paralleli…
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/source/KafkaSource.java
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/source/enumerator/KafkaSourceEnumerator.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/source/enumerator/KafkaEnumeratorTest.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/KafkaConsumerTestBase.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/testutils/ValidatingExactlyOnceSink.java
Labels: review=description?, component=Connectors/Kafka

#17334 [FLINK-24159][docs][Runtime/Checkpointing] document of entropy injection may mislead users
  docs/content.zh/docs/deployment/filesystems/s3.md
  docs/content/docs/deployment/filesystems/s3.md
Labels: review=description?, component=Documentation, component=Runtime/Checkpointing

#17319 [FLINK-24329][connector/pulsar] Fix PulsarSourceITCase fails due to port conflict
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/testutils/runtime/mock/PortBindingUtils.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/testutils/runtime/mock/PulsarMockRuntime.java
Labels: review=description?, component=Connectors/Pulsar

#17333 [FLINK-24262][runtime] Remove unused ContainerOverlays
  flink-runtime/src/main/java/org/apache/flink/runtime/clusterframework/overlays/AbstractContainerOverlay.java
  flink-runtime/src/main/java/org/apache/flink/runtime/clusterframework/overlays/CompositeContainerOverlay.java
  flink-runtime/src/main/java/org/apache/flink/runtime/clusterframework/overlays/ContainerOverlay.java
  flink-runtime/src/main/java/org/apache/flink/runtime/clusterframework/overlays/FlinkDistributionOverlay.java
  flink-runtime/src/main/java/org/apache/flink/runtime/clusterframework/overlays/HadoopConfOverlay.java
  flink-runtime/src/main/java/org/apache/flink/runtime/clusterframework/overlays/HadoopUserOverlay.java
  flink-runtime/src/main/java/org/apache/flink/runtime/clusterframework/overlays/KeytabOverlay.java
  flink-runtime/src/main/java/org/apache/flink/runtime/clusterframework/overlays/Krb5ConfOverlay.java
  flink-runtime/src/main/java/org/apache/flink/runtime/clusterframework/overlays/SSLStoreOverlay.java
  flink-runtime/src/main/java/org/apache/flink/runtime/clusterframework/overlays/UserLibOverlay.java
  flink-runtime/src/test/java/org/apache/flink/runtime/clusterframework/overlays/ContainerOverlayTestBase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/clusterframework/overlays/FlinkDistributionOverlayTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/clusterframework/overlays/HadoopConfOverlayTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/clusterframework/overlays/HadoopUserOverlayTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/clusterframework/overlays/KeytabOverlayTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/clusterframework/overlays/Krb5ConfOverlayTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/clusterframework/overlays/SSLStoreOverlayTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/clusterframework/overlays/UserLibOverlayTest.java
Labels: review=description?, component=Runtime/Coordination

#16792 [FLINK-23739][table]BlackHoleSink & PrintSink implement SupportsParti…
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/connector/blackhole/table/BlackHoleTableSinkFactory.java
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/connector/print/table/PrintTableSinkFactory.java
  flink-table/flink-table-api-java-bridge/src/test/java/org/apache/flink/table/factories/BlackHoleSinkFactoryTest.java
  flink-table/flink-table-api-java-bridge/src/test/java/org/apache/flink/table/factories/PrintSinkFactoryTest.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/runtime/stream/table/PrintConnectorITCase.java
Labels: review=description?, component=TableSQL/API

#17305 [hotfix][flink-avro] Use local actual schema variable
  flink-formats/flink-avro/src/main/java/org/apache/flink/formats/avro/AvroRowDeserializationSchema.java
Labels: review=description?

#17331 [FLINK-24344][runtime] Calling the CheckpointFailureManager even if the exception happens during the checkpoint initialization
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointFailureManager.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinatorTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointFailureManagerTest.java
Labels: review=description?, component=Runtime/Checkpointing

#17321 [FLINK-24315][k8s] Throw exception in failing watching pods
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/KubernetesResourceManagerDriver.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/Fabric8FlinkKubeClient.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/FlinkKubeClient.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/KubernetesResourceManagerDriverTest.java
Labels: review=description?, component=Deployment/Kubernetes

#17337 [BP-1.14][FLINK-24315][k8s] Throw exception in failing watching pods
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/KubernetesResourceManagerDriver.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/Fabric8FlinkKubeClient.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/FlinkKubeClient.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/KubernetesResourceManagerDriverTest.java
Labels: review=description?, component=Deployment/Kubernetes

#17336 [BP-1.13][FLINK-24315][k8s] Throw exception in failing watching pods
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/KubernetesResourceManagerDriver.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/Fabric8FlinkKubeClient.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/FlinkKubeClient.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/KubernetesResourceManagerDriverTest.java
Labels: review=description?, component=Deployment/Kubernetes

#17340 [FLINK-24360] Drop Scala Shell
  docs/content.zh/docs/connectors/table/hive/hive_catalog.md
  docs/content.zh/docs/deployment/overview.md
  docs/content.zh/docs/deployment/repls/scala_shell.md
  docs/content/docs/connectors/table/hive/hive_catalog.md
  docs/content/docs/deployment/overview.md
  docs/content/docs/deployment/repls/scala_shell.md
  flink-dist/pom.xml
  flink-dist/src/main/assemblies/bin-scala2_11.xml
  flink-dist/src/main/resources/META-INF/NOTICE
  flink-dist/src/main/resources/META-INF/licenses/LICENSE.scopt
  flink-end-to-end-tests/pom.xml
  flink-formats/pom.xml
  flink-java/src/main/java/org/apache/flink/api/java/ExecutionEnvironment.java
  flink-java/src/main/java/org/apache/flink/api/java/LocalEnvironment.java
  flink-java/src/main/java/org/apache/flink/api/java/RemoteEnvironmentConfigUtils.java
  flink-scala-shell/pom.xml
  flink-scala-shell/src/main/java/org/apache/flink/api/java/JarHelper.java
  flink-scala-shell/src/main/java/org/apache/flink/api/java/ScalaShellEnvironment.java
  flink-scala-shell/src/main/java/org/apache/flink/api/java/ScalaShellStreamEnvironment.java
  flink-scala-shell/src/main/scala/org/apache/flink/api/scala/FlinkILoop.scala
  flink-scala-shell/src/main/scala/org/apache/flink/api/scala/FlinkShell.scala
  flink-scala-shell/src/test/assembly/test-scalashell-customjar-assembly.xml
  flink-scala-shell/src/test/java/org/apache/flink/api/java/FlinkILoopTest.java
  flink-scala-shell/src/test/resources/flink-conf.yaml
  flink-scala-shell/src/test/scala/org/apache/flink/api/scala/ScalaShellITCase.scala
  flink-scala-shell/src/test/scala/org/apache/flink/api/scala/ScalaShellLocalStartupITCase.scala
  flink-scala-shell/src/test/scala/org/apache/flink/api/scala/jar/TestingData.scala
  flink-scala-shell/src/test/scala/org/apache/flink/api/scala/jar/package.scala
  flink-scala-shell/start-script/start-scala-shell.sh
  pom.xml
  tools/ci/stage.sh
Labels: review=description?, component=ScalaShell

#17275 [FLINK-24271][docs] Add document for special char in JSON_VALUE and JSON_QUERY
  docs/data/sql_functions.yml
  docs/data/sql_functions_zh.yml
  flink-python/pyflink/table/expression.py
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/BaseExpressions.java
Labels: review=description?, component=Documentation

#17287 [FLINK-23950] Revert [FLINK-23738][state] to re-enable ChangelogBackend
  docs/layouts/shortcodes/generated/checkpointing_configuration.html
  docs/layouts/shortcodes/generated/common_state_backends_section.html
  flink-core/src/main/java/org/apache/flink/configuration/CheckpointingOptions.java
  flink-dstl/flink-dstl-dfs/src/main/java/org/apache/flink/changelog/fs/FsStateChangelogOptions.java
  flink-python/pyflink/datastream/stream_execution_environment.py
  flink-python/pyflink/datastream/tests/test_stream_execution_environment.py
  flink-state-backends/flink-statebackend-changelog/src/test/java/org/apache/flink/state/changelog/ChangelogStateBackendLoadingTest.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/environment/StreamExecutionEnvironment.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/environment/StreamExecutionEnvironmentComplexConfigurationTest.java
  flink-streaming-scala/src/main/scala/org/apache/flink/streaming/api/scala/StreamExecutionEnvironment.scala
  pom.xml
Labels: review=description?, component=Runtime/StateBackends

#17351 [FLINK-24371][datastream] Call preCommit on SinkWriter although no committer is available
  flink-core/src/main/java/org/apache/flink/api/connector/sink/SinkWriter.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/sink/AbstractCommitterHandler.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/sink/BatchCommitterHandler.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/sink/CommitterHandler.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/sink/CommitterOperator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/sink/ForwardCommittingHandler.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/sink/NoopCommitterHandler.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/sink/SinkOperator.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/sink/SinkWriterOperatorTest.java
Labels: component=API/DataStream, component=Connectors/Common

#17364 [FLINK-24371][datastream] Call preCommit on SinkWriter although no committer is available
  flink-core/src/main/java/org/apache/flink/api/connector/sink/SinkWriter.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/sink/AbstractCommitterHandler.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/sink/BatchCommitterHandler.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/sink/CommitterHandler.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/sink/CommitterOperator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/sink/ForwardCommittingHandler.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/sink/NoopCommitterHandler.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/sink/SinkOperator.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/sink/SinkWriterOperatorTest.java
Labels: component=API/DataStream, component=Connectors/Common

#17361 [FLINK-24380][k8s] Terminate the pod if it failed
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/resources/KubernetesPod.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/resources/KubernetesPodTest.java
Labels: component=Runtime/Coordination

#17370 [BP-1.14][FLINK-24380][k8s] Terminate the pod if it failed
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/resources/KubernetesPod.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/resources/KubernetesPodTest.java
Labels: component=Runtime/Coordination

#17371 [BP-1.13][FLINK-24380][k8s] Terminate the pod if it failed
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/resources/KubernetesPod.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/resources/KubernetesPodTest.java
Labels: component=Runtime/Coordination

#14544 [FLINK-20845] Drop Scala 2.11 support
  azure-pipelines.yml
  docs/README.md
  docs/config.toml
  docs/content.zh/docs/deployment/resource-providers/standalone/docker.md
  docs/content.zh/docs/dev/datastream/project-configuration.md
  docs/content/docs/deployment/resource-providers/standalone/docker.md
  docs/content/docs/dev/datastream/project-configuration.md
  flink-dist/pom.xml
  flink-dist/src/main/resources/META-INF/NOTICE
  flink-end-to-end-tests/pom.xml
  flink-end-to-end-tests/run-nightly-tests.sh
  flink-end-to-end-tests/test-scripts/test_quickstarts.sh
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/AvroSplittableInputFormatTest.java
  flink-formats/pom.xml
  flink-quickstart/flink-quickstart-java/src/main/resources/archetype-resources/pom.xml
  flink-quickstart/flink-quickstart-scala/src/main/resources/archetype-resources/pom.xml
  flink-rpc/flink-rpc-akka/pom.xml
  flink-scala/src/main/scala/org/apache/flink/api/scala/ClosureCleaner.scala
  flink-table/flink-table-planner/src/main/resources/META-INF/NOTICE
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/utils/JavaScalaConversionUtil.scala
  flink-walkthroughs/flink-walkthrough-datastream-java/src/main/resources/archetype-resources/pom.xml
  flink-walkthroughs/flink-walkthrough-datastream-scala/src/main/resources/archetype-resources/pom.xml
  pom.xml
  tools/azure-pipelines/build-apache-repo.yml
  tools/ci/compile.sh
  tools/releasing/create_binary_release.sh
  tools/releasing/deploy_staging_jars.sh
Labels: review=description?, component=API/Scala
