Repository apache/flink, pull requests merged in 2021-12, with the labels that each got.

#17963 [FLINK-25112][tests] Remove cache-ttl for Java e2e tests
  flink-end-to-end-tests/run-nightly-tests.sh
Labels: component=TestInfrastructure

#17941 [FLINK-25092][tests][elasticsearch] Refactor test to use artifact cacher
  flink-end-to-end-tests/test-scripts/elasticsearch-common.sh
Labels: component=Tests, component=Connectors/ElasticSearch

#17942 [FLINK-25093][tests] Refactor test to use retry function for cloning Flink docker repo
  flink-end-to-end-tests/test-scripts/common_docker.sh
Labels: component=Tests

#17929 [FLINK-21467][docs] Clarify javadocs of Bounded(One/Multi)Input interfaces
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/BoundedMultiInput.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/BoundedOneInput.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/StreamOperator.java
Labels: component=API/DataStream

#17975 [FLINK-25092][BP-1.14][tests][elasticsearch] Refactor test to use artifact cacher
  flink-end-to-end-tests/test-scripts/elasticsearch-common.sh
Labels: component=Tests, component=Connectors/ElasticSearch

#17976 [FLINK-25092][BP-1.13][tests][elasticsearch] Refactor test to use artifact cacher
  flink-end-to-end-tests/test-scripts/elasticsearch-common.sh
Labels: component=Tests, component=Connectors/ElasticSearch

#17954 [FLINK-24348][FLINK-24740][testinfrastructure][kafka] Update testcont…
  pom.xml
Labels: component=Tests, component=TestInfrastructure

#17981 [FLINK-25134][test] Remove unused RetryRule from KafkaConsumerTestBase
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/KafkaConsumerTestBase.java
Labels: component=Tests

#17987 [FLINK-25071][parquet] SerializableConfiguration should not load resources
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/utils/SerializableConfiguration.java
  flink-formats/flink-parquet/src/test/java/org/apache/flink/formats/parquet/ParquetFileSystemITCase.java
  flink-formats/flink-parquet/src/test/java/org/apache/flink/formats/parquet/utils/SerializableConfigurationTest.java
Labels: component=Formats

#17989 [FLINK-24740][BP-1.13][testinfrastructure] Update testcontainers dependency to the latest version
  pom.xml
Labels: component=Tests, component=TestInfrastructure

#16964 [FLINK-23791] Enable RocksDB info log by default
  docs/layouts/shortcodes/generated/rocksdb_configurable_configuration.html
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBConfigurableOptions.java
Labels: review=description?, component=Runtime/StateBackends

#17992 [FLINK-24919][runtime] Getting vertex only under synchronization
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/ExecutionAttemptMappingProvider.java
Labels: component=Runtime/Checkpointing

#17927 [FLINK-25022][rest] Run jars in separate threads
  flink-core/src/main/java/org/apache/flink/util/concurrent/SeparateThreadExecutor.java
  flink-runtime-web/src/main/java/org/apache/flink/runtime/webmonitor/WebSubmissionExtension.java
  flink-runtime-web/src/main/java/org/apache/flink/runtime/webmonitor/handlers/JarMessageParameters.java
  flink-runtime-web/src/main/java/org/apache/flink/runtime/webmonitor/handlers/JarRunHandler.java
  flink-runtime-web/src/main/java/org/apache/flink/runtime/webmonitor/handlers/JarUploadHandler.java
  flink-runtime-web/src/test/java/org/apache/flink/runtime/webmonitor/WebSubmissionExtensionTest.java
Labels: component=Runtime/REST

#18008 [FLINK-25161][buildsystem] update jaxb-impl dependency for japicmp-maven-plugin
  pom.xml
Labels: component=BuildSystem

#18005 [BP-1.13][FLINK-24506][config] Adds checkpoint directory to CheckpointConfig
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/environment/CheckpointConfig.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/environment/CheckpointConfigFromConfigurationTest.java
Labels: component=Runtime/Configuration, component=Runtime/StateBackends

#18010 [FLINK-24227][connectors/kinesis] Relocated flink-connector-aws-base in flink-connector-kinesis shaded jar
  flink-connectors/flink-connector-kinesis/pom.xml
Labels: component=Connectors/Common

#18006 [BP-1.14][FLINK-24506][config] Adds checkpoint directory to CheckpointConfig
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/environment/CheckpointConfig.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/environment/CheckpointConfigFromConfigurationTest.java
Labels: component=Runtime/Configuration, component=Runtime/StateBackends

#17542 [FLINK-17782] Add array,map,row types support for parquet row writer
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/row/ParquetRowDataWriter.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/utils/ParquetSchemaConverter.java
  flink-formats/flink-parquet/src/test/java/org/apache/flink/formats/parquet/row/ParquetRowDataWriterTest.java
Labels: component=Formats

#17945 [FLINK-21027][state] Introduce KeyedStateBackend#isSafeToReuseState for opmitization hint
  flink-runtime/src/main/java/org/apache/flink/runtime/state/KeyedStateBackend.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/StateBackendTestBase.java
  flink-state-backends/flink-statebackend-changelog/src/main/java/org/apache/flink/state/changelog/ChangelogKeyedStateBackend.java
  flink-state-backends/flink-statebackend-changelog/src/test/java/org/apache/flink/state/changelog/ChangelogDelegateEmbeddedRocksDBStateBackendTest.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBKeyedStateBackend.java
  flink-state-backends/flink-statebackend-rocksdb/src/test/java/org/apache/flink/contrib/streaming/state/EmbeddedRocksDBStateBackendTest.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/utils/StateConfigUtilTest.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/aggregate/window/buffers/RecordsWindowBuffer.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/util/StateConfigUtil.java
Labels: component=Runtime/StateBackends

#18016 [FLINK-25163] replace setIncreaseParallelism with setMaxBackgroundJobs.
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/DefaultConfigurableOptionsFactory.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/PredefinedOptions.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBResourceContainer.java
  flink-state-backends/flink-statebackend-rocksdb/src/test/java/org/apache/flink/contrib/streaming/state/RocksDBResource.java
Labels: component=Runtime/StateBackends

#17930 [FLINK-24326][docs][connectors] Update elasticsearch sink pages with new unified sink API (FLIP-143) implementation
  docs/content/docs/connectors/datastream/elasticsearch.md
  docs/content/docs/connectors/table/elasticsearch.md
Labels: component=Documentation

#17597 [FLINK-24686][doc] Make doc clear on AsyncFunction#timeout() overriding
  docs/content.zh/docs/dev/datastream/operators/asyncio.md
  docs/content/docs/dev/datastream/operators/asyncio.md
Labels: component=Documentation

#18034 [FLINK-25204][Docs] Fix Spell one more as in the DataStream interval join docs
  docs/content.zh/docs/dev/datastream/operators/joining.md
  docs/content/docs/dev/datastream/operators/joining.md
Labels: component=Documentation

#16529 [hotfix][docs][hive] - Minor update to temporal join section
  docs/content.zh/docs/connectors/table/hive/hive_read_write.md
  docs/content/docs/connectors/table/hive/hive_read_write.md
Labels: review=description?

#18048 [FLINK-20370][table] part1: Fix wrong results when sink primary key is not the same with query result's changelog upsert key
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/KafkaChangelogTableITCase.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamPhysicalSink.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/optimize/program/FlinkChangelogModeInferenceProgram.scala
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/RankTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/agg/AggregateTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/join/JoinTest.xml
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/RankTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/agg/AggregateTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/join/JoinTest.scala
Labels: component=TableSQL/Planner

#17939 [FLINK-20370][table] part2: introduce 'table.exec.sink.keyed-shuffle' option to auto keyby on sink's pk if parallelism are not the same for insertOnly input
  docs/layouts/shortcodes/generated/execution_config_configuration.html
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/config/ExecutionConfigOptions.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/common/CommonExecSink.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/factories/TestValuesTableFactory.java
  flink-table/flink-table-planner/src/test/resources/META-INF/services/org.apache.flink.table.factories.Factory
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/TableSinkTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/join/TemporalJoinTest.xml
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/TableSinkTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/join/TemporalJoinTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/ChangelogSourceITCase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/stream/table/TableSinkITCase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/utils/TableTestBase.scala
Labels: component=TableSQL/Planner

#18028 [FLINK-25180][tests] Upgrade Jepsen to 0.1.19
  flink-jepsen/project.clj
  flink-jepsen/src/jepsen/flink/db.clj
Labels: component=TestInfrastructure

#17964 [FLINK-24977][connectors/kafka] Replace ConfigOption lookup in Map<Sring, String> object with proper lookup in Configuration object
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/streaming/connectors/kafka/table/KafkaDynamicTableFactory.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/KafkaDynamicTableFactoryTest.java
Labels: component=Connectors/Kafka

#18041 [FLINK-24372][connectors/elasticsearch] Deprecate old (pre FLIP-143) Elasticsearch connector
  flink-connectors/flink-connector-elasticsearch-base/src/main/java/org/apache/flink/streaming/connectors/elasticsearch/ActionRequestFailureHandler.java
  flink-connectors/flink-connector-elasticsearch-base/src/main/java/org/apache/flink/streaming/connectors/elasticsearch/ElasticsearchSinkFunction.java
  flink-connectors/flink-connector-elasticsearch-base/src/main/java/org/apache/flink/streaming/connectors/elasticsearch/RequestIndexer.java
  flink-connectors/flink-connector-elasticsearch-base/src/main/java/org/apache/flink/streaming/connectors/elasticsearch/util/RetryRejectedExecutionFailureHandler.java
  flink-connectors/flink-connector-elasticsearch6/src/main/java/org/apache/flink/streaming/connectors/elasticsearch6/ElasticsearchSink.java
  flink-connectors/flink-connector-elasticsearch6/src/main/java/org/apache/flink/streaming/connectors/elasticsearch6/RestClientFactory.java
  flink-connectors/flink-connector-elasticsearch7/src/main/java/org/apache/flink/streaming/connectors/elasticsearch7/ElasticsearchSink.java
  flink-connectors/flink-connector-elasticsearch7/src/main/java/org/apache/flink/streaming/connectors/elasticsearch7/RestClientFactory.java
Labels: component=Connectors/ElasticSearch

#18054 [FLINK-24859][doc][formats] Make new formats name coherent: introduce previous names classes to indicate deprecation to the users
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/src/reader/TextLineFormat.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HiveBulkFormatAdapter.java
  flink-formats/flink-orc/src/main/java/org/apache/flink/orc/OrcColumnarRowFileInputFormat.java
Labels: component=Documentation

#18052 Revert "[FLINK-24859][doc][formats] Make new formats name coherent"
  docs/content.zh/docs/connectors/datastream/hybridsource.md
  docs/content/docs/connectors/datastream/formats/text_files.md
  docs/content/docs/connectors/datastream/hybridsource.md
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/hybrid/HybridSource.java
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/src/reader/TextLineFormat.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/src/FileSourceTextLinesITCase.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/src/impl/FileSourceReaderTest.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveSourceBuilder.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HiveBulkFormatAdapter.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HiveCompactReaderFactory.java
  flink-formats/flink-orc-nohive/src/main/java/org/apache/flink/orc/nohive/OrcNoHiveColumnarRowInputFormat.java
  flink-formats/flink-orc/src/main/java/org/apache/flink/orc/OrcColumnarRowFileInputFormat.java
  flink-formats/flink-orc/src/main/java/org/apache/flink/orc/OrcFileFormatFactory.java
  flink-formats/flink-orc/src/test/java/org/apache/flink/orc/OrcColumnarRowFileInputFormatTest.java
  flink-python/pyflink/datastream/connectors.py
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/filesystem/LimitableBulkFormatTest.java
Labels: component=Documentation

#17655 [FLINK-24728][tests] Add tests to ensure SQL file sink closes all created files
  flink-core/src/test/java/org/apache/flink/testutils/TestFileSystem.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/FileSystemITCaseBase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/FileSystemTestCsvITCase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/StreamFileSystemTestCsvITCase.scala
Labels: component=TableSQL/Runtime

#18045 [FLINK-25091][BP-1.14] Change ORC compression attribute reference error in FileSink docs
  docs/content.zh/docs/connectors/datastream/file_sink.md
  docs/content/docs/connectors/datastream/file_sink.md
Labels: component=Documentation

#18046 [FLINK-25091][BP-1.13] Change ORC compression attribute reference error in FileSink docs
  docs/content.zh/docs/connectors/datastream/file_sink.md
  docs/content/docs/connectors/datastream/file_sink.md
Labels: component=Documentation

#18047 [FLINK-25091][BP-1.12] Change ORC compression attribute reference error in FileSink docs
  docs/dev/connectors/file_sink.md
  docs/dev/connectors/file_sink.zh.md
Labels: component=Documentation

#17692 [FLINK-24489][CEP] The size of entryCache & eventsBufferCache in the SharedBuffer should be defined with a threshold to limit the number of the elements in the cache
  docs/content.zh/docs/libs/cep.md
  docs/content/docs/libs/cep.md
  docs/layouts/shortcodes/generated/cep_cache_configuration.html
  flink-docs/pom.xml
  flink-docs/src/main/java/org/apache/flink/docs/configuration/ConfigOptionsDocGenerator.java
  flink-libraries/flink-cep/src/main/java/org/apache/flink/cep/configuration/CEPCacheOptions.java
  flink-libraries/flink-cep/src/main/java/org/apache/flink/cep/configuration/SharedBufferCacheConfig.java
  flink-libraries/flink-cep/src/main/java/org/apache/flink/cep/nfa/sharedbuffer/SharedBuffer.java
  flink-libraries/flink-cep/src/main/java/org/apache/flink/cep/operator/CepOperator.java
  flink-libraries/flink-cep/src/test/java/org/apache/flink/cep/CEPITCase.java
  flink-libraries/flink-cep/src/test/java/org/apache/flink/cep/nfa/NFAIterativeConditionTimeContextTest.java
  flink-libraries/flink-cep/src/test/java/org/apache/flink/cep/nfa/sharedbuffer/SharedBufferTest.java
  flink-libraries/flink-cep/src/test/java/org/apache/flink/cep/operator/CEPMigrationTest.java
  flink-libraries/flink-cep/src/test/java/org/apache/flink/cep/operator/CEPOperatorTest.java
  flink-libraries/flink-cep/src/test/java/org/apache/flink/cep/operator/CEPRescalingTest.java
  flink-libraries/flink-cep/src/test/java/org/apache/flink/cep/operator/CepProcessFunctionContextTest.java
  flink-libraries/flink-cep/src/test/java/org/apache/flink/cep/operator/CepRuntimeContextTest.java
  flink-libraries/flink-cep/src/test/java/org/apache/flink/cep/utils/CepOperatorTestUtilities.java
  flink-libraries/flink-cep/src/test/java/org/apache/flink/cep/utils/TestSharedBuffer.java
Labels: component=Library/CEP

#17888 [FLINK-24077][hbase2/HBaseConnectorITCase] fix flaky tests
  flink-connectors/flink-connector-hbase-2.2/src/test/java/org/apache/flink/connector/hbase2/HBaseConnectorITCase.java
Labels: component=Connectors/HBase, component=TableSQL/Ecosystem

#18060 [FLINK-20370][table] part1: Fix wrong results when sink primary key is not the same with query result's changelog upsert key
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/KafkaChangelogTableITCase.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamPhysicalSink.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/optimize/program/FlinkChangelogModeInferenceProgram.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/RankTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/agg/AggregateTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/join/JoinTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/RankTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/agg/AggregateTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/join/JoinTest.scala
Labels: component=TableSQL/Planner

#17967 [FLINK-25096][runtime] Fixes empty exception history for JobInitializationException
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/ExecutionGraphInfo.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/exceptionhistory/RootExceptionHistoryEntry.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/DefaultJobMasterServiceProcessTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/ExecutionGraphInfoTest.java
Labels: component=Runtime/Coordination

#18035 [BP-1.14][FLINK-25096] Fixes empty exception history for JobInitializationException
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/ExecutionGraphInfo.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/exceptionhistory/RootExceptionHistoryEntry.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/DefaultJobMasterServiceProcessTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/ExecutionGraphInfoTest.java
Labels: component=Runtime/Coordination

#18036 [BP-1.13][FLINK-25096] Fixes empty exception history for JobInitializationException
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/ExecutionGraphInfo.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/exceptionhistory/RootExceptionHistoryEntry.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/DefaultJobMasterServiceProcessTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/ExecutionGraphInfoTest.java
Labels: component=Runtime/Coordination

#18069 [FLINK-25126][kafka] Reset internal transaction state of FlinkKafkaIn…
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/sink/FlinkKafkaInternalProducer.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/sink/FlinkKafkaInternalProducerITCase.java
Labels: component=Connectors/Kafka

#17892 [FLINK-25038][testutils] Refactor FlinkContainer to split JM and TMs to individual containers and support HA
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/src/test/java/org/apache/flink/tests/util/kafka/KafkaSourceE2ECase.java
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/src/test/java/org/apache/flink/tests/util/kafka/SQLClientSchemaRegistryITCase.java
  flink-end-to-end-tests/flink-end-to-end-tests-common/src/main/java/org/apache/flink/tests/util/flink/FlinkContainer.java
  flink-end-to-end-tests/flink-end-to-end-tests-common/src/main/java/org/apache/flink/tests/util/flink/FlinkContainerTestEnvironment.java
  flink-end-to-end-tests/flink-end-to-end-tests-common/src/main/java/org/apache/flink/tests/util/flink/container/FlinkContainers.java
  flink-end-to-end-tests/flink-end-to-end-tests-common/src/main/java/org/apache/flink/tests/util/flink/container/FlinkContainersBuilder.java
  flink-end-to-end-tests/flink-end-to-end-tests-common/src/main/java/org/apache/flink/tests/util/flink/container/FlinkImageBuilder.java
  flink-end-to-end-tests/flink-end-to-end-tests-common/src/main/java/org/apache/flink/tests/util/flink/container/ImageBuildException.java
  flink-end-to-end-tests/flink-end-to-end-tests-pulsar/src/test/java/org/apache/flink/tests/util/pulsar/PulsarSourceOrderedE2ECase.java
  flink-end-to-end-tests/flink-end-to-end-tests-pulsar/src/test/java/org/apache/flink/tests/util/pulsar/PulsarSourceUnorderedE2ECase.java
  flink-end-to-end-tests/flink-streaming-kinesis-test/src/test/java/org/apache/flink/streaming/kinesis/test/KinesisTableApiITCase.java
Labels: component=TestInfrastructure

#18009 [FLINK-25126][kafka] Reset internal transaction state of FlinkKafkaIn…
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/sink/FlinkKafkaInternalProducer.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/sink/FlinkKafkaInternalProducerITCase.java
Labels: component=Connectors/Kafka

#18070 [FLINK-24077][hbase2/HBaseConnectorITCase] fix flaky tests backport to 1.14
  flink-connectors/flink-connector-hbase-2.2/src/test/java/org/apache/flink/connector/hbase2/HBaseConnectorITCase.java
Labels: component=Connectors/HBase, component=TableSQL/Ecosystem

#18071 [FLINK-24077][hbase2/HBaseConnectorITCase] fix flaky tests backport to 1.13
  flink-connectors/flink-connector-hbase-2.2/src/test/java/org/apache/flink/connector/hbase2/HBaseConnectorITCase.java
Labels: component=Connectors/HBase, component=TableSQL/Ecosystem

#18082 [FLINK-24077][hbase2/HBaseConnectorITCase] fix flaky tests backport to 1.12
  flink-connectors/flink-connector-hbase-2.2/src/test/java/org/apache/flink/connector/hbase2/HBaseConnectorITCase.java
Labels: component=Connectors/HBase, component=TableSQL/Ecosystem

#18077 [FLINK-25240][core] update log4j2 version to 2.15.0
  pom.xml
  tools/releasing/NOTICE-binary_PREAMBLE.txt
Labels: component=API/Core

#18078 [FLINK-20195][coordination] Deduplicate jobs for overview
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/Dispatcher.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/DispatcherTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/TestingJobManagerRunner.java
Labels: component=Runtime/Coordination, component=Runtime/REST

#16957 [FLINK-23937][Documentation] Fix PQ comment in KeyGroupPartitionedPriorityQueue
  flink-runtime/src/main/java/org/apache/flink/runtime/state/heap/KeyGroupPartitionedPriorityQueue.java
Labels: review=description?, component=Documentation

#18003 [FLINK-25153] Inappropriate variable naming
  flink-core/src/main/java/org/apache/flink/core/fs/ClosingFSDataOutputStream.java
Labels: component=<none>

#18096 [FLINK-24987][BP 1.13] Enhance ExternalizedCheckpointCleanup
  docs/layouts/shortcodes/generated/execution_checkpointing_configuration.html
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/reader/CoordinatedSourceRescaleITCase.java
  flink-end-to-end-tests/flink-datastream-allround-test/src/main/java/org/apache/flink/streaming/tests/DataStreamAllroundTestJobFactory.java
  flink-end-to-end-tests/flink-local-recovery-and-allocation-test/src/main/java/org/apache/flink/streaming/tests/StickyAllocationAndLocalRecoveryTestJob.java
  flink-python/pyflink/datastream/checkpoint_config.py
  flink-python/pyflink/datastream/tests/test_check_point_config.py
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/environment/CheckpointConfig.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/environment/ExecutionCheckpointingOptions.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/environment/CheckpointConfigFromConfigurationTest.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/RegionFailoverITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/ResumeCheckpointManuallyITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/UnalignedCheckpointCompatibilityITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/UnalignedCheckpointTestBase.java
Labels: component=Runtime/Configuration

#17887 [FLINK-25020] Properly forward exception
  flink-core/src/main/java/org/apache/flink/core/security/FlinkSecurityManager.java
Labels: component=API/Core

#17520 [FLINK-24565][avro] Port avro file format factory to BulkReaderFormatFactory
  flink-formats/flink-avro/pom.xml
  flink-formats/flink-avro/src/main/java/org/apache/flink/formats/avro/AbstractAvroBulkFormat.java
  flink-formats/flink-avro/src/main/java/org/apache/flink/formats/avro/AvroFileFormatFactory.java
  flink-formats/flink-avro/src/main/java/org/apache/flink/formats/avro/AvroFileSystemFormatFactory.java
  flink-formats/flink-avro/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/AvroBulkFormatITCase.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/AvroBulkFormatTest.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/AvroBulkFormatTestUtils.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/AvroFilesystemITCase.java
Labels: component=Formats, component=TableSQL/Ecosystem

#18067 [FLINK-24232][coordination] Skip history server archiving for suspended jobs
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/Dispatcher.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/AbstractDispatcherTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/DispatcherTest.java
Labels: component=Runtime/Coordination

#18093 [FLINK-22775][cassandra][tests] Lower write consistency level to ANY backport to 1.13
  flink-connectors/flink-connector-cassandra/src/test/java/org/apache/flink/streaming/connectors/cassandra/CassandraConnectorITCase.java
Labels: component=Connectors/Cassandra

#18100 [FLINK-25295][core] Update log4j2 dependency to 2.16.0
  docs/content.zh/docs/dev/datastream/project-configuration.md
  docs/content/docs/dev/datastream/project-configuration.md
  pom.xml
  tools/releasing/NOTICE-binary_PREAMBLE.txt
Labels: component=API/Core

#18103 [FLINK-25295][BP 1.14][core] Update log4j2 dependency to 2.16.0
  docs/content.zh/docs/dev/datastream/project-configuration.md
  docs/content/docs/dev/datastream/project-configuration.md
  pom.xml
  tools/releasing/NOTICE-binary_PREAMBLE.txt
Labels: component=API/Core

#18104 [FLINK-25295][BP 1.13][core] Update log4j2 dependency to 2.16.0
  docs/content.zh/docs/dev/datastream/project-configuration.md
  docs/content/docs/dev/datastream/project-configuration.md
  pom.xml
  tools/releasing/NOTICE-binary_PREAMBLE.txt
Labels: component=API/Core

#17785 [FLINK-24580][Connectors/Kinesis] Make ConnectTimeoutException recoverable
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/proxy/KinesisProxy.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/proxy/KinesisProxyTest.java
Labels: component=Connectors/Kinesis

#17669 [FLINK-24762][table-runtime] Remove agg function: INCR_SUM
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/functions/aggfunctions/IncrSumAggFunction.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/functions/aggfunctions/IncrSumWithRetractAggFunction.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/utils/AggFunctionFactory.scala
Labels: component=TableSQL/Runtime

#17965 [FLINK-24846][streaming] Ignoring completing async operator record if…
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/async/AsyncWaitOperator.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/async/AsyncWaitOperatorTest.java
Labels: component=Runtime/Checkpointing, component=Runtime/Task

#18117 [FLINK-25326][connectors/kafka] Fix application of log levels in KafkaUtils.createKafkacontainer
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/sink/KafkaUtil.java
Labels: component=Connectors/Kafka

#17761 [FLINK-24862][Connectors / Hive]Fix user-defined hive udaf/udtf cannot be used normally in hive dialect
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDialectITCase.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/catalog/FunctionCatalog.java
Labels: component=Connectors/Hive

#18122 [FLINK-24846][streaming] Ignoring completing async operator record if…
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/async/AsyncWaitOperator.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/async/AsyncWaitOperatorTest.java
Labels: component=Runtime/Checkpointing, component=Runtime/Task

#18097 [FLINK-21068][connectors/elasticsearch] Support 'connection.request-timeout','connection.timeout', 'socket.timeout' options for elasticsearch connector.
  docs/content.zh/docs/connectors/table/elasticsearch.md
  docs/content/docs/connectors/table/elasticsearch.md
  flink-connectors/flink-connector-elasticsearch-base/src/main/java/org/apache/flink/connector/elasticsearch/sink/ElasticsearchSinkBuilderBase.java
  flink-connectors/flink-connector-elasticsearch-base/src/main/java/org/apache/flink/connector/elasticsearch/sink/ElasticsearchWriter.java
  flink-connectors/flink-connector-elasticsearch-base/src/main/java/org/apache/flink/connector/elasticsearch/sink/NetworkClientConfig.java
  flink-connectors/flink-connector-elasticsearch-base/src/main/java/org/apache/flink/connector/elasticsearch/table/ElasticsearchConfiguration.java
  flink-connectors/flink-connector-elasticsearch-base/src/main/java/org/apache/flink/connector/elasticsearch/table/ElasticsearchConnectorOptions.java
  flink-connectors/flink-connector-elasticsearch-base/src/main/java/org/apache/flink/connector/elasticsearch/table/ElasticsearchDynamicSink.java
  flink-connectors/flink-connector-elasticsearch-base/src/main/java/org/apache/flink/connector/elasticsearch/table/ElasticsearchDynamicSinkFactoryBase.java
  flink-connectors/flink-connector-elasticsearch-base/src/test/java/org/apache/flink/connector/elasticsearch/sink/ElasticsearchSinkBuilderBaseTest.java
  flink-connectors/flink-connector-elasticsearch-base/src/test/java/org/apache/flink/connector/elasticsearch/sink/ElasticsearchWriterITCase.java
Labels: component=Connectors/ElasticSearch

#18129 [FLINK-25326][connectors/kafka] Fix application of log levels in KafkaUtils.createKafkacontainer (backport)
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/sink/KafkaUtil.java
Labels: component=Connectors/Kafka

#18073 [FLINK-24728][tests] Add tests to ensure SQL file sink closes all created files
  flink-core/src/test/java/org/apache/flink/testutils/TestFileSystem.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/FileSystemITCaseBase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/FileSystemTestCsvITCase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/StreamFileSystemTestCsvITCase.scala
Labels: component=TableSQL/Runtime

#18074 [FLINK-24728][table-runtime-blink] Close output stream in batch SQL file sink
  flink-core/src/test/java/org/apache/flink/testutils/TestFileSystem.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/FileSystemITCaseBase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/FileSystemTestCsvITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/StreamFileSystemTestCsvITCase.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/FileSystemTableSink.java
Labels: component=TableSQL/Runtime

#18064 [FLINK-25223][connectors/elasticsearch] Limit Elasticsearch testcontainer memory allocation
  flink-connectors/flink-connector-elasticsearch-base/src/test/java/org/apache/flink/connector/elasticsearch/ElasticsearchUtil.java
  flink-connectors/flink-connector-elasticsearch-base/src/test/java/org/apache/flink/connector/elasticsearch/sink/ElasticsearchWriterITCase.java
  flink-connectors/flink-connector-elasticsearch6/src/test/java/org/apache/flink/connector/elasticsearch/sink/Elasticsearch6SinkITCase.java
  flink-connectors/flink-connector-elasticsearch6/src/test/java/org/apache/flink/connector/elasticsearch/table/Elasticsearch6DynamicSinkITCase.java
  flink-connectors/flink-connector-elasticsearch6/src/test/java/org/apache/flink/streaming/connectors/elasticsearch6/ElasticsearchSinkITCase.java
  flink-connectors/flink-connector-elasticsearch7/src/test/java/org/apache/flink/connector/elasticsearch/sink/Elasticsearch7SinkITCase.java
  flink-connectors/flink-connector-elasticsearch7/src/test/java/org/apache/flink/connector/elasticsearch/table/Elasticsearch7DynamicSinkITCase.java
  flink-connectors/flink-connector-elasticsearch7/src/test/java/org/apache/flink/streaming/connectors/elasticsearch7/ElasticsearchSinkITCase.java
Labels: component=Connectors/ElasticSearch

#18115 [FLINK-25147][connectors][test] Migrate Cassandra connector tests to testContainers
  flink-connectors/flink-connector-cassandra/pom.xml
  flink-connectors/flink-connector-cassandra/src/test/java/org/apache/flink/streaming/connectors/cassandra/CassandraConnectorITCase.java
  flink-connectors/flink-connector-cassandra/src/test/resources/cassandra.yaml
  flink-test-utils-parent/flink-test-utils-junit/src/main/java/org/apache/flink/util/DockerImageVersions.java
Labels: component=Tests, component=Connectors/Cassandra

#18072 [FLINK-23375][connector/jdbc] Build proper JDBC test jar.
  flink-connectors/flink-connector-jdbc/pom.xml
Labels: component=Connectors/JDBC

#18163 [FLINK-25399][tests] Disable changelog backend in tests
  pom.xml
Labels: component=Runtime/Checkpointing

#17991 [FLINK-25132][connector/kafka] Move record deserializing from SplitFetcher to RecordEmitter to support object-reusing deserializer
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/source/KafkaSource.java
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/source/reader/KafkaPartitionSplitReader.java
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/source/reader/KafkaRecordEmitter.java
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/source/reader/KafkaSourceReader.java
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/source/reader/fetcher/KafkaSourceFetcherManager.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/source/KafkaSourceITCase.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/source/reader/KafkaPartitionSplitReaderTest.java
Labels: component=Connectors/Kafka

#18136 [FLINK-25271][clients] Harden the ApplicationDispatcherBootstrapITCase.
  flink-clients/src/test/java/org/apache/flink/client/deployment/application/ApplicationDispatcherBootstrapITCase.java
  flink-clients/src/test/java/org/apache/flink/client/testjar/BlockingJob.java
Labels: component=Client/JobSubmission

#18114 [FLINK-25173][table][hive] Introduce CatalogLock and implement HiveCatalogLock
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveDynamicTableFactory.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/HiveCatalogLock.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/HiveConfOptions.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/client/HiveMetastoreClientWrapper.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveRunnerITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/factories/TestLockTableSinkFactory.java
  flink-connectors/flink-connector-hive/src/test/resources/META-INF/services/org.apache.flink.table.factories.Factory
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/catalog/CatalogLock.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/connector/RequireCatalogLock.java
Labels: component=Connectors/Hive, component=TableSQL/API

#18188 [FLINK-25429][state] Avoid to close output streams twice during uploading changelogs
  flink-dstl/flink-dstl-dfs/src/main/java/org/apache/flink/changelog/fs/StateChangeFsUploader.java
Labels: component=Runtime/StateBackends

#18168 [FLINK-25375] [BP-1.13] Update log4j2 dependency to 2.17.0 to address
  docs/content.zh/docs/dev/datastream/project-configuration.md
  docs/content/docs/dev/datastream/project-configuration.md
  pom.xml
  tools/releasing/NOTICE-binary_PREAMBLE.txt
Labels: component=<none>

#18166 [FLINK-25375] [BP-1.12] Update log4j2 dependency to 2.17.0 to address
  docs/dev/project-configuration.md
  docs/dev/project-configuration.zh.md
  pom.xml
  tools/releasing/NOTICE-binary_PREAMBLE.txt
Labels: component=<none>

#18167 [FLINK-25375] [BP-1.14] Update log4j2 dependency to 2.17.0 to address
  docs/content.zh/docs/dev/datastream/project-configuration.md
  docs/content/docs/dev/datastream/project-configuration.md
  pom.xml
  tools/releasing/NOTICE-binary_PREAMBLE.txt
Labels: component=<none>

#17885 [FLINK-24772][docs] Update documentation for individual window table-value function
  docs/content.zh/docs/dev/table/sql/queries/window-tvf.md
  docs/content/docs/dev/table/sql/queries/window-tvf.md
Labels: component=Documentation

#18202 [FLINK-25446][state] Avoid improper sanity check on read bytes on DataInputStream#read(byte[])
  flink-dstl/flink-dstl-dfs/src/main/java/org/apache/flink/changelog/fs/StateChangeFormat.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/metadata/MetadataV2V3SerializerBase.java
Labels: component=Runtime/StateBackends, component=Runtime/Checkpointing

#16635 [hotfix][connector-jdbc] Fix a method name typo in postgres unit test.
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/catalog/PostgresCatalogTest.java
Labels: review=description?

#18216 [FLINK-25465][state] Correct the logic of materizating wrapped changelog state
  flink-state-backends/flink-statebackend-changelog/src/main/java/org/apache/flink/state/changelog/ChangelogKeyedStateBackend.java
  flink-state-backends/flink-statebackend-changelog/src/test/java/org/apache/flink/state/changelog/ChangelogDelegateEmbeddedRocksDBStateBackendTest.java
  flink-state-backends/flink-statebackend-changelog/src/test/java/org/apache/flink/state/changelog/ChangelogDelegateFileStateBackendTest.java
  flink-state-backends/flink-statebackend-changelog/src/test/java/org/apache/flink/state/changelog/ChangelogDelegateHashMapTest.java
  flink-state-backends/flink-statebackend-changelog/src/test/java/org/apache/flink/state/changelog/ChangelogDelegateMemoryStateBackendTest.java
  flink-state-backends/flink-statebackend-changelog/src/test/java/org/apache/flink/state/changelog/ChangelogStateBackendTestUtils.java
Labels: component=Runtime/StateBackends

#18226 [FLINK-25474][table-planner] Fix Idea Scala plugin can not compile RexExplainUtil
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/utils/FlinkRexUtil.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/utils/RelExplainUtil.scala
Labels: component=TableSQL/Planner

#18159 [FLINK-21186][network] Wrap IOException in UncheckedIOException in RecordWriterOutput
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/RecordWriterOutput.java
Labels: component=Runtime/Task
