Repository apache/flink, pull requests merged in 2021-03, with the labels that each got.

#15029 [FLINK-21404][yarn][tests] Increase resource timeout
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YARNITCase.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YarnTestBase.java
Labels: component=Deployment/YARN, component=Runtime/Coordination, component=Tests, review=description?

#15017 [FLINK-12607][rest] Introduce a REST API that returns the maxParallelism
  docs/layouts/shortcodes/generated/rest_v1_dispatcher.html
  flink-core/src/main/java/org/apache/flink/api/common/ArchivedExecutionConfig.java
  flink-runtime-web/src/test/resources/rest_api_v1.snapshot
  flink-runtime-web/web-dashboard/src/app/interfaces/job-detail.ts
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/handler/job/JobDetailsHandler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/handler/job/JobVertexDetailsHandler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/messages/JobVertexDetailsInfo.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/messages/job/JobDetailsInfo.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/handler/legacy/utils/ArchivedExecutionConfigBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/messages/JobVertexDetailsInfoTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/messages/job/JobDetailsInfoTest.java
Labels: component=Runtime/REST, review=description?

#15046 [hotfix][state] Remove hardcoded backend class name check
  flink-runtime/src/main/java/org/apache/flink/runtime/state/AbstractKeyedStateBackend.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBKeyedStateBackend.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/util/StateConfigUtil.java
Labels: review=description?

#14840 [FLINK-21231][sql-client] add "SHOW VIEWS" to SQL client
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliClient.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/SqlCommandParser.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliClientTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/SqlCommandParserTest.java
Labels: component=TableSQL/Client, review=description?

#15043 [FLINK-20658][connectors/jdbc] Establish connection through driver with given name
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/internal/connection/SimpleJdbcConnectionProvider.java
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/JdbcOutputFormatTest.java
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/fakedb/FakeDBUtils.java
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/fakedb/driver/FakeConnection3.java
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/fakedb/driver/FakeDriver3.java
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/internal/connection/SimpleJdbcConnectionProviderTest.java
  flink-connectors/flink-connector-jdbc/src/test/resources/META-INF/services/java.sql.Driver
Labels: component=Connectors/JDBC, component=TableSQL/Ecosystem, review=description?

#14977 [FLINK-18726][table-planner-blink] Support INSERT INTO specific colum…
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/schema/CatalogSourceTable.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/calcite/FlinkTypeFactory.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/calcite/PreValidateReWriter.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/batch/table/TableSinkITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/table/TableSinkITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/utils/TestData.scala
Labels: component=TableSQL/Planner, review=description?

#15003 [FLINK-21482][table-planner-blink] Support grouping set syntax for WindowAggregate
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdWindowProperties.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/agg/WindowAggregateTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/agg/WindowAggregateTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/WindowAggregateITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/WindowDistinctAggregateITCase.scala
Labels: component=TableSQL/Planner, review=description?

#15027 [FLINK-21509][python] Add 'withProcessingTime()' method call when creating proctime slide window assigner in 'StreamExecPythonGroupWindowAggregate' class
  flink-python/pyflink/table/tests/test_pandas_udaf.py
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecPythonGroupWindowAggregate.java
Labels: component=API/Python, review=description?

#15031 [FLINK-21497][coordination] Only complete leader future with valid leader
  flink-runtime/src/main/java/org/apache/flink/runtime/leaderretrieval/LeaderRetrievalListener.java
  flink-runtime/src/main/java/org/apache/flink/runtime/resourcemanager/JobLeaderIdService.java
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/JobLeaderIdServiceTest.java
Labels: component=Runtime/Coordination, review=description?

#15044 [hotfix][docs] adds missing semicolons in java code example
  docs/content.zh/docs/dev/table/tableApi.md
  docs/content/docs/dev/table/tableApi.md
Labels: review=description?

#14890 [FLINK-21178][Runtime/Checkpointing] Task failure should trigger master hook's reset()
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinator.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinatorTest.java
Labels: component=Runtime/Checkpointing, review=description?

#15005 [FLINK-21298][table] Support 'USE MODULES' syntax both in SQL parser, TableEnvironment and SQL CLI
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliClient.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliStrings.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/SqlCommandParser.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/Executor.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/LocalExecutor.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/SqlCommandParserTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/local/LocalExecutorITCase.java
  flink-table/flink-sql-parser-hive/src/main/codegen/data/Parser.tdd
  flink-table/flink-sql-parser-hive/src/main/codegen/includes/parserImpls.ftl
  flink-table/flink-sql-parser-hive/src/test/java/org/apache/flink/sql/parser/hive/FlinkHiveSqlParserImplTest.java
  flink-table/flink-sql-parser/src/main/codegen/data/Parser.tdd
  flink-table/flink-sql-parser/src/main/codegen/includes/parserImpls.ftl
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlUseModules.java
  flink-table/flink-sql-parser/src/test/java/org/apache/flink/sql/parser/FlinkSqlParserImplTest.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/TableEnvironmentImpl.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/UseModulesOperation.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/operations/SqlToOperationConverter.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/calcite/FlinkPlannerImpl.scala
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/operations/SqlToOperationConverterTest.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/api/TableEnvironmentTest.scala
Labels: component=Documentation, component=TableSQL/API, review=description?

#15063 [FLINK-21434][python] Fix encoding error when using the fast coder to encode a row-type field containing more than 14 fields
  flink-python/pyflink/fn_execution/coder_impl_fast.pyx
  flink-python/pyflink/fn_execution/tests/test_fast_coders.py
Labels: component=API/Python, review=description?

#15028 [FLINK-21115][python] Add AggregatingState and corresponding StateDescriptor for Python DataStream API
  flink-python/pyflink/datastream/functions.py
  flink-python/pyflink/datastream/state.py
  flink-python/pyflink/datastream/tests/test_data_stream.py
  flink-python/pyflink/fn_execution/operations.py
  flink-python/pyflink/fn_execution/state_impl.py
Labels: component=API/Python, review=description?

#15073 [FLINK-21581][runtime] Mark RuntimeContext.getJobId with PublicEvolving
  flink-core/src/main/java/org/apache/flink/api/common/functions/RuntimeContext.java
Labels: component=Runtime/Task, review=description?

#14741 [FLINK-21021][python] Bump Beam to 2.27.0
  docs/content.zh/docs/deployment/cli.md
  docs/content.zh/docs/dev/python/datastream_tutorial.md
  docs/content.zh/docs/dev/python/installation.md
  docs/content.zh/docs/dev/python/table/udfs/python_udfs.md
  docs/content.zh/docs/dev/python/table/udfs/vectorized_python_udfs.md
  docs/content.zh/docs/dev/python/table_api_tutorial.md
  docs/content.zh/docs/dev/table/sqlClient.md
  docs/content.zh/docs/flinkDev/building.md
  docs/content/docs/deployment/cli.md
  docs/content/docs/dev/python/datastream_tutorial.md
  docs/content/docs/dev/python/installation.md
  docs/content/docs/dev/python/table/udfs/python_udfs.md
  docs/content/docs/dev/python/table/udfs/vectorized_python_udfs.md
  docs/content/docs/dev/python/table_api_tutorial.md
  docs/content/docs/dev/table/sqlClient.md
  docs/content/docs/flinkDev/building.md
  docs/layouts/shortcodes/generated/python_configuration.html
  flink-clients/src/main/java/org/apache/flink/client/cli/CliFrontendParser.java
  flink-python/README.md
  flink-python/dev/build-wheels.sh
  flink-python/dev/dev-requirements.txt
  flink-python/dev/lint-python.sh
  flink-python/pom.xml
  flink-python/pyflink/__init__.py
  flink-python/pyflink/datastream/stream_execution_environment.py
  flink-python/pyflink/table/table_config.py
  flink-python/pyflink/table/tests/test_pandas_conversion.py
  flink-python/setup.py
  flink-python/src/main/java/org/apache/flink/python/PythonOptions.java
  flink-python/src/main/resources/META-INF/NOTICE
  flink-python/tox.ini
  pom.xml
  tools/releasing/create_binary_release.sh
Labels: component=API/Python, review=description?

#15069 [FLINK-21576][runtime] Remove legacy ExecutionVertex#getPreferredLocations()
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/Execution.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/ExecutionVertex.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/ExecutionVertexLocalityTest.java
Labels: component=Runtime/Coordination, review=description?

#15077 [hotfix][docs] wrong brackets in CREATE VIEW statement
  docs/content/docs/dev/table/sql/create.md
Labels: review=description?

#15081 [FLINK-21553][table-runtime-blink] Copy record if needed when flush window buffer records to state
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/WindowDistinctAggregateITCase.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/aggregate/window/SlicingWindowAggOperatorBuilder.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/aggregate/window/combines/CombineRecordsFunction.java
Labels: component=TableSQL/Planner, review=description?

#14962 [FLINK-18789][sql-client] Use TableEnvironment#executeSql method to execute insert statement in sql client
  flink-table/flink-sql-client/pom.xml
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliClient.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/Executor.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/ProgramTargetDescriptor.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/ExecutionContext.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/LocalExecutor.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliClientTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliResultViewTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/TestingExecutor.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/utils/TestTableResult.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/local/LocalExecutorITCase.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/utils/PrintUtils.java
Labels: component=TableSQL/Client, review=description?

#15072 [FLINK-21571][build] Fix japicmp referenceVersion
  flink-core/pom.xml
  pom.xml
Labels: component=BuildSystem, review=description?

#15078 fixing the example bash command
  docs/content.zh/docs/deployment/resource-providers/standalone/kubernetes.md
  docs/content/docs/deployment/resource-providers/standalone/kubernetes.md
Labels: review=description?

#15024 [FLINK-17401] [mesos] Configure mesos labels for taskmanagers
  docs/layouts/shortcodes/generated/mesos_task_manager_configuration.html
  flink-mesos/src/main/java/org/apache/flink/mesos/runtime/clusterframework/LaunchableMesosWorker.java
  flink-mesos/src/main/java/org/apache/flink/mesos/runtime/clusterframework/MesosTaskManagerParameters.java
  flink-mesos/src/test/java/org/apache/flink/mesos/runtime/clusterframework/MesosResourceManagerDriverTest.java
  flink-mesos/src/test/java/org/apache/flink/mesos/runtime/clusterframework/MesosTaskManagerParametersTest.java
Labels: component=Deployment/Mesos, review=description?

#15070 [FLINK-21542][docs] Add documentation for supporting INSERT INTO spec…
  docs/content/docs/dev/table/sql/insert.md
Labels: component=TableSQL/API, review=description?

#15067 [FLINK-21178] Task failure will not trigger master hook's reset()
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinator.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinatorTest.java
Labels: component=Runtime/Checkpointing, review=description?

#15045 [hotfix] [docs] Fix typo in learn-flink
  docs/content.zh/docs/learn-flink/etl.md
  docs/content/docs/learn-flink/etl.md
Labels: review=description?

#15026 [FLINK-19610][table-planner-blink] Support streaming window TopN in planner
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdWindowProperties.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamPhysicalWindowRank.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/optimize/program/FlinkChangelogModeInferenceProgram.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/FlinkStreamRuleSets.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/stream/StreamPhysicalWindowRankRule.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/WindowRankTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/WindowRankTest.scala
Labels: component=TableSQL/Planner, review=description?

#15050 [FLINK-21531][table-planner-blink][table-api-java][hive] Introduce pluggable Parser
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParser.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParserFactory.java
  flink-connectors/flink-connector-hive/src/main/resources/META-INF/services/org.apache.flink.table.factories.TableFactory
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDialectITCase.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/TableEnvironmentImpl.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/delegation/DefaultParserFactory.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/delegation/ParserFactory.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/delegation/PlannerContext.java
  flink-table/flink-table-planner-blink/src/main/resources/META-INF/services/org.apache.flink.table.factories.TableFactory
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/delegation/PlannerBase.scala
Labels: component=Connectors/Hive, component=TableSQL/Planner, review=description?

#15018 [FLINK-21460][table api] Use Configuration to create TableEnvironment
  docs/layouts/shortcodes/generated/table_config_configuration.html
  flink-python/pyflink/table/environment_settings.py
  flink-python/pyflink/table/tests/test_environment_settings.py
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/ExecutionContext.java
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/table/api/bridge/java/BatchTableEnvironment.java
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/table/api/bridge/java/StreamTableEnvironment.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/EnvironmentSettings.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/PlannerType.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/TableConfig.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/TableEnvironment.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/config/TableConfigOptions.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/TableEnvironmentImpl.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/api/EnvironmentSettingsTest.java
  flink-table/flink-table-api-scala-bridge/src/main/scala/org/apache/flink/table/api/bridge/scala/BatchTableEnvironment.scala
  flink-table/flink-table-api-scala-bridge/src/main/scala/org/apache/flink/table/api/bridge/scala/StreamTableEnvironment.scala
  flink-table/flink-table-api-scala-bridge/src/main/scala/org/apache/flink/table/api/bridge/scala/internal/StreamTableEnvironmentImpl.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/delegation/BatchPlanner.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/delegation/PlannerBase.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/delegation/StreamPlanner.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/api/TableEnvironmentITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/utils/BatchTestBase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/utils/TableTestBase.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/api/internal/BatchTableEnvImpl.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/StreamPlanner.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/batch/BatchTableEnvironmentTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/stream/StreamTableEnvironmentTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/utils/TableTestBase.scala
Labels: component=TableSQL/API, review=description?

#15087 [FLINK-21299][table] Support 'SHOW [FULL] MODULES' syntax in SqlParser, TableEnvironment and SqlCli
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliClient.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/SqlCommandParser.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/Executor.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/LocalExecutor.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliClientTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliResultViewTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/SqlCommandParserTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/TestingExecutor.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/local/LocalExecutorITCase.java
  flink-table/flink-sql-parser-hive/src/main/codegen/data/Parser.tdd
  flink-table/flink-sql-parser-hive/src/main/codegen/includes/parserImpls.ftl
  flink-table/flink-sql-parser-hive/src/test/java/org/apache/flink/sql/parser/hive/FlinkHiveSqlParserImplTest.java
  flink-table/flink-sql-parser/src/main/codegen/data/Parser.tdd
  flink-table/flink-sql-parser/src/main/codegen/includes/parserImpls.ftl
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/dql/SqlShowModules.java
  flink-table/flink-sql-parser/src/test/java/org/apache/flink/sql/parser/FlinkSqlParserImplTest.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/TableResult.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/TableEnvironmentImpl.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ShowModulesOperation.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/operations/SqlToOperationConverter.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/calcite/FlinkPlannerImpl.scala
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/operations/SqlToOperationConverterTest.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/api/TableEnvironmentTest.scala
Labels: component=TableSQL/API, component=TableSQL/Client, review=description?

#15075 [FLINK-21525] Move scheduler benchmarks to Flink
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/benchmark/JobConfiguration.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/benchmark/SchedulerBenchmarkUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/benchmark/deploying/DeployingDownstreamTasksInBatchJobBenchmark.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/benchmark/deploying/DeployingDownstreamTasksInBatchJobBenchmarkTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/benchmark/deploying/DeployingTasksBenchmarkBase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/benchmark/deploying/DeployingTasksInStreamingJobBenchmark.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/benchmark/deploying/DeployingTasksInStreamingJobBenchmarkTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/benchmark/failover/FailoverBenchmarkBase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/benchmark/failover/RegionToRestartInBatchJobBenchmark.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/benchmark/failover/RegionToRestartInBatchJobBenchmarkTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/benchmark/failover/RegionToRestartInStreamingJobBenchmark.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/benchmark/failover/RegionToRestartInStreamingJobBenchmarkTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/benchmark/partitionrelease/PartitionReleaseInBatchJobBenchmark.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/benchmark/partitionrelease/PartitionReleaseInBatchJobBenchmarkTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/benchmark/scheduling/InitSchedulingStrategyBenchmark.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/benchmark/scheduling/InitSchedulingStrategyBenchmarkTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/benchmark/scheduling/SchedulingBenchmarkBase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/benchmark/scheduling/SchedulingDownstreamTasksInBatchJobBenchmark.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/benchmark/scheduling/SchedulingDownstreamTasksInBatchJobBenchmarkTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/benchmark/topology/BuildExecutionGraphBenchmark.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/benchmark/topology/BuildExecutionGraphBenchmarkTest.java
Labels: component=Benchmarks, component=Runtime/Coordination, review=description?

#15104 [FLINK-21635][connectors/jdbc] Support optional driverName in jdbc connection establishment
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/JdbcConnectionOptions.java
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/internal/connection/SimpleJdbcConnectionProvider.java
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/JdbcConnectionOptionsTest.java
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/internal/connection/SimpleJdbcConnectionProviderTest.java
Labels: component=Connectors/JDBC, review=description?

#15114 [FLINK-21668][table] Change tableName to databaseName
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlCreateDatabase.java
Labels: component=TableSQL/API, component=TableSQL/Client, review=description?

#15101 [FLINK-21641][python] Support 'useModules' and 'listFullModules' in PyFlink
  flink-python/pyflink/table/__init__.py
  flink-python/pyflink/table/module.py
  flink-python/pyflink/table/table_environment.py
  flink-python/pyflink/table/tests/test_environment_completeness.py
  flink-python/pyflink/table/tests/test_table_environment_api.py
Labels: component=API/Python, review=description?

#15120 [FLINK-21679][table] Set output type for transformations from SourceProvider and DataStreamScanProvider in CommonExecTableSourceScan
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/common/CommonExecTableSourceScan.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/factories/TestFileFactory.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/factories/TestValuesTableFactory.java
Labels: component=TableSQL/Planner, review=description?

#15122 [FLINK-21684][table-planner-blink] Fix typo in StreamExecDeduplicate
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecDeduplicate.java
Labels: component=<none>, review=description?

#15039 [FLINK-19763][metrics][tests] Add testNonHeapMetricUsageNotStatic and refine testMetaspaceMetricUsageNotStatic
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/util/MetricUtilsTest.java
Labels: component=Runtime/Metrics, review=description?

#15083 [FLINK-21242][python] Support state access API for the map/flat_map/filter/reduce operations of Python KeyedStream
  flink-python/pyflink/common/typeinfo.py
  flink-python/pyflink/datastream/data_stream.py
  flink-python/pyflink/datastream/state.py
  flink-python/pyflink/datastream/tests/test_data_stream.py
  flink-python/pyflink/datastream/tests/test_stream_execution_environment.py
  flink-python/pyflink/fn_execution/coder_impl_fast.pxd
  flink-python/pyflink/fn_execution/coder_impl_fast.pyx
  flink-python/pyflink/fn_execution/flink_fn_execution_pb2.py
  flink-python/pyflink/fn_execution/operation_utils.py
  flink-python/pyflink/proto/flink-fn-execution.proto
  flink-python/src/main/java/org/apache/flink/streaming/api/functions/python/KeyByKeySelector.java
  flink-python/src/main/java/org/apache/flink/streaming/api/operators/python/PythonReduceOperator.java
  flink-python/src/main/java/org/apache/flink/streaming/api/runners/python/beam/BeamPythonFunctionRunner.java
Labels: component=API/Python, review=description?

#15141 [FLINK-21690][checkpoint] Remove redundant tolerableCheckpointFailureNumber setting in CheckpointConfig
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/environment/CheckpointConfig.java
Labels: component=Runtime/Checkpointing, review=description?

#15139 [BP-1.12][hotfix][connectors/kafka] Correctly check required configs in KafkaSourceBuilder
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/source/KafkaSourceBuilder.java
Labels: review=description?

#15135 [FLINK-21717][docs] Fix broken links to Java and Python Docs
  docs/README.md
  docs/content.zh/docs/dev/datastream/execution_mode.md
  docs/content.zh/docs/dev/python/table/table_environment.md
  docs/content/docs/connectors/datastream/file_sink.md
  docs/content/docs/dev/datastream/execution_mode.md
  docs/content/docs/dev/python/table/table_environment.md
  docs/content/docs/dev/table/catalogs.md
  docs/layouts/shortcodes/javadoc.html
  docs/layouts/shortcodes/pythondoc.html
Labels: component=Documentation, review=description?

#14961 [FLINK-21388] [flink-parquet] support DECIMAL parquet logical type when parquet primitive type is INT32
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/utils/ParquetSchemaConverter.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/utils/RowConverter.java
  flink-formats/flink-parquet/src/test/java/org/apache/flink/formats/parquet/utils/ParquetSchemaConverterTest.java
Labels: component=Formats, component=TableSQL/Ecosystem, review=description?

#15103 [FLINK-21612][table-planner-blink] Support StreamExecGroupAggregate json serialization/deserialization
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/batch/BatchExecExchange.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/common/CommonExecExchange.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/serde/AggregateCallJsonDeserializer.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/serde/AggregateCallJsonSerializer.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/serde/ExecNodeGraphJsonPlanGenerator.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecExchange.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecGroupAggregate.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/functions/utils/AggSqlFunction.scala
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/stream/GroupAggregateJsonPlanTest.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/stream/JsonSerdeCoverageTest.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/runtime/stream/jsonplan/GroupAggregateJsonPlanITCase.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/utils/JsonPlanTestBase.java
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/GroupAggregateJsonPlanTest_jsonplan/testDistinctAggCalls.out
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/GroupAggregateJsonPlanTest_jsonplan/testSimpleAggCallsWithGroupBy.out
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/GroupAggregateJsonPlanTest_jsonplan/testSimpleAggWithoutGroupBy.out
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/GroupAggregateJsonPlanTest_jsonplan/testUserDefinedAggCalls.out
Labels: component=TableSQL/Planner, review=description?

#15125 [FLINK-21624][table-planner] Correct FLOOR/CEIL (TIMESTAMP/DATE TO WEEK) functions
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/calls/FloorCeilCallGen.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/expressions/TemporalTypesTest.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/functions/SqlDateTimeUtils.java
Labels: component=TableSQL/API, component=TableSQL/Planner, review=description?

#15150 [FLINK-21733][table-planner-blink] WatermarkAssigner incorrectly recomputing the rowtime index which may cause ArrayIndexOutOfBoundsException
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/calcite/WatermarkAssigner.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/SourceWatermarkTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/SourceWatermarkTest.scala
Labels: component=TableSQL/Planner, review=description?

#15160 [FLINK-17441][kinesis][test-stability] Updating test to assert if timeout occurs waiting for records
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/FlinkKinesisConsumerTest.java
Labels: component=Connectors/Kinesis, component=Tests, review=description?

#15068 [FLINK-21523][Connectors / Hive] Bug fix: ArrayIndexOutOfBoundsException occurs while run a hive strea…
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSource.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTableSourceITCase.java
Labels: component=Connectors/Hive, review=description?

#15006 [FLINK-21485][sql-client] Simplify the ExecutionContext
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/SqlClient.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/config/entries/ExecutionEntry.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/Executor.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/SessionContext.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/context/DefaultContext.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/context/ExecutionContext.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/context/LegacyTableEnvironmentInitializer.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/context/SessionContext.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/ExecutionContext.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/LocalContextUtils.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/LocalExecutor.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/ProgramDeployer.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliClientITCase.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliClientTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliResultViewTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/TestingExecutor.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/context/ExecutionContextTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/context/SessionContextTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/local/DependencyTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/local/LocalExecutorITCase.java
  flink-table/flink-sql-client/src/test/resources/META-INF/services/org.apache.flink.table.factories.TableFactory
  flink-table/flink-sql-client/src/test/resources/sql/function.q
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/catalog/FunctionCatalog.java
Labels: component=TableSQL/Client, review=description?

#15166 [hotfix][doc] fix Image rendering error in generating_watermarks.md
  docs/content/docs/dev/datastream/event-time/generating_watermarks.md
Labels: review=description?

#15158 [hotfix] Make the way to resolve REST compatibility changes more clear.
  flink-runtime-web/src/test/java/org/apache/flink/runtime/rest/compatibility/RestAPIStabilityTest.java
Labels: review=description?

#15167 [BP-1.12][FLINK-21733][table-planner-blink] WatermarkAssigner incorrectly recomputing the rowtime index which may cause ArrayIndexOutOfBoundsException
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/calcite/WatermarkAssigner.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/SourceWatermarkTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/SourceWatermarkTest.scala
Labels: component=TableSQL/Planner, review=description?

#15169 [BP-1.12][FLINK-21523][hive] Fix ArrayIndexOutOfBoundsException when running hive partitioned source with projection push down
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSource.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTableSourceITCase.java
Labels: component=Connectors/Hive, review=description?

#15085 [FLINK-20042][kinesis] Adding Kinesis Table API e2e test using the Java framework
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/testutils/KinesisPubsubClient.java
  flink-end-to-end-tests/flink-streaming-kinesis-test/pom.xml
  flink-end-to-end-tests/flink-streaming-kinesis-test/src/main/resources/org/apache/flink/streaming/kinesis/test/filter-large-orders.sql
  flink-end-to-end-tests/flink-streaming-kinesis-test/src/test/java/org/apache/flink/streaming/kinesis/test/KinesisTableApiITCase.java
  flink-end-to-end-tests/flink-streaming-kinesis-test/src/test/java/org/apache/flink/streaming/kinesis/test/containers/KinesaliteContainer.java
  flink-end-to-end-tests/flink-streaming-kinesis-test/src/test/java/org/apache/flink/streaming/kinesis/test/model/Order.java
Labels: component=Connectors/Kinesis, component=TableSQL/Ecosystem, review=description?

#15174 [FLINK-21651][sql-client] Migrate module related tests in LocalExecutorITCase to the new integration test framework
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/LocalExecutor.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/local/LocalExecutorITCase.java
  flink-table/flink-sql-client/src/test/resources/sql/module.q
Labels: component=TableSQL/Client, review=description?

#14684 [FLINK-20460][Connector-HBase] Support async lookup for HBase connector
  docs/content.zh/docs/connectors/table/hbase.md
  docs/content.zh/docs/ops/metrics.md
  docs/content/docs/connectors/table/hbase.md
  docs/content/docs/ops/metrics.md
  flink-connectors/flink-connector-hbase-1.4/src/main/java/org/apache/flink/connector/hbase1/HBase1DynamicTableFactory.java
  flink-connectors/flink-connector-hbase-1.4/src/main/java/org/apache/flink/connector/hbase1/source/HBaseDynamicTableSource.java
  flink-connectors/flink-connector-hbase-1.4/src/main/java/org/apache/flink/connector/hbase1/source/HBaseRowDataInputFormat.java
  flink-connectors/flink-connector-hbase-1.4/src/test/java/org/apache/flink/connector/hbase1/HBaseDynamicTableFactoryTest.java
  flink-connectors/flink-connector-hbase-2.2/src/main/java/org/apache/flink/connector/hbase2/HBase2DynamicTableFactory.java
  flink-connectors/flink-connector-hbase-2.2/src/main/java/org/apache/flink/connector/hbase2/source/HBaseDynamicTableSource.java
  flink-connectors/flink-connector-hbase-2.2/src/main/java/org/apache/flink/connector/hbase2/source/HBaseRowDataAsyncLookupFunction.java
  flink-connectors/flink-connector-hbase-2.2/src/main/java/org/apache/flink/connector/hbase2/source/HBaseRowDataInputFormat.java
  flink-connectors/flink-connector-hbase-2.2/src/test/java/org/apache/flink/connector/hbase2/HBaseConnectorITCase.java
  flink-connectors/flink-connector-hbase-2.2/src/test/java/org/apache/flink/connector/hbase2/HBaseDynamicTableFactoryTest.java
  flink-connectors/flink-connector-hbase-2.2/src/test/java/org/apache/flink/connector/hbase2/source/HBaseRowDataAsyncLookupFunctionTest.java
  flink-connectors/flink-connector-hbase-base/src/main/java/org/apache/flink/connector/hbase/options/HBaseLookupOptions.java
  flink-connectors/flink-connector-hbase-base/src/main/java/org/apache/flink/connector/hbase/options/HBaseOptions.java
  flink-connectors/flink-connector-hbase-base/src/main/java/org/apache/flink/connector/hbase/source/AbstractHBaseDynamicTableSource.java
  flink-connectors/flink-connector-hbase-base/src/main/java/org/apache/flink/connector/hbase/source/HBaseRowDataLookupFunction.java
  flink-connectors/flink-connector-hbase-base/src/main/java/org/apache/flink/connector/hbase/util/HBaseSerde.java
  flink-connectors/flink-connector-hbase-base/src/test/java/org/apache/flink/connector/hbase/util/HBaseSerdeTest.java
Labels: component=Connectors/HBase, component=TableSQL/Ecosystem, review=description?

#15172 [FLINK-21388] [flink-parquet] support DECIMAL parquet logical type wh…
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/utils/ParquetSchemaConverter.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/utils/RowConverter.java
  flink-formats/flink-parquet/src/test/java/org/apache/flink/formats/parquet/utils/ParquetSchemaConverterTest.java
Labels: component=Formats, component=TableSQL/Ecosystem, review=description?

#15194 [FLINK-21750][table-planner-blink] Support StreamExecWatermarkAssigner json serialization/deserialization
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecWatermarkAssigner.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/stream/JsonSerdeCoverageTest.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/stream/WatermarkAssignerJsonPlanTest.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/runtime/stream/jsonplan/WatermarkAssignerJsonPlanITCase.java
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/WatermarkAssignerJsonPlanTest_jsonplan/testWatermarkAssigner.out
Labels: component=TableSQL/Planner, review=description?

#15153 [FLINK-21707][runtime] Do not trigger scheduling of non-CREATED regions in PipelinedRegionSchedulingStrategy
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/strategy/PipelinedRegionSchedulingStrategy.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/strategy/PipelinedRegionSchedulingStrategyTest.java
  flink-tests/src/test/java/org/apache/flink/test/scheduling/PipelinedRegionSchedulingITCase.java
Labels: component=Runtime/Coordination, review=description?

#15110 [FLINK-21579][table] Support "SHOW USER FUNCTIONS" statement
  docs/content.zh/docs/dev/table/sql/show.md
  docs/content/docs/dev/table/sql/show.md
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliClient.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliStrings.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/SqlCommandParser.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/SqlCommandParserTest.java
  flink-table/flink-sql-client/src/test/resources/sql/function.q
  flink-table/flink-sql-client/src/test/resources/sql/misc.q
  flink-table/flink-sql-parser-hive/src/main/codegen/includes/parserImpls.ftl
  flink-table/flink-sql-parser-hive/src/test/java/org/apache/flink/sql/parser/hive/FlinkHiveSqlParserImplTest.java
  flink-table/flink-sql-parser/src/main/codegen/includes/parserImpls.ftl
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/dql/SqlShowFunctions.java
  flink-table/flink-sql-parser/src/test/java/org/apache/flink/sql/parser/FlinkSqlParserImplTest.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/TableEnvironmentImpl.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ShowFunctionsOperation.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/operations/SqlToOperationConverter.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/operations/SqlToOperationConverterTest.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/api/TableEnvironmentTest.scala
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/sqlexec/SqlToOperationConverter.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/api/internal/TableEnvImpl.scala
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/sqlexec/SqlToOperationConverterTest.java
Labels: component=TableSQL/API, component=TableSQL/Client, review=description?

#15211 [FLINK-21740][sql client] Fix unstable CliTableauResultViewTest
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliTableauResultView.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliTableauResultViewTest.java
Labels: component=TableSQL/Client, review=description?

#14737 [FLINK-19667] Add AWS Glue Schema Registry integration
  azure-pipelines.yml
  flink-end-to-end-tests/flink-glue-schema-registry-test/pom.xml
  flink-end-to-end-tests/flink-glue-schema-registry-test/src/main/java/org/apache/flink/glue/schema/registry/test/GSRKinesisPubsubClient.java
  flink-end-to-end-tests/flink-glue-schema-registry-test/src/main/java/org/apache/flink/glue/schema/registry/test/GlueSchemaRegistryExample.java
  flink-end-to-end-tests/flink-glue-schema-registry-test/src/main/java/org/apache/flink/glue/schema/registry/test/GlueSchemaRegistryExampleTest.java
  flink-end-to-end-tests/flink-glue-schema-registry-test/src/main/resources/avro/user.avsc
  flink-end-to-end-tests/pom.xml
  flink-end-to-end-tests/run-nightly-tests.sh
  flink-end-to-end-tests/test-scripts/common.sh
  flink-end-to-end-tests/test-scripts/test_glue_schema_registry.sh
  flink-formats/flink-avro-glue-schema-registry/pom.xml
  flink-formats/flink-avro-glue-schema-registry/src/main/java/org/apache/flink/formats/avro/glue/schema/registry/GlueSchemaRegistryAvroDeserializationSchema.java
  flink-formats/flink-avro-glue-schema-registry/src/main/java/org/apache/flink/formats/avro/glue/schema/registry/GlueSchemaRegistryAvroSchemaCoder.java
  flink-formats/flink-avro-glue-schema-registry/src/main/java/org/apache/flink/formats/avro/glue/schema/registry/GlueSchemaRegistryAvroSchemaCoderProvider.java
  flink-formats/flink-avro-glue-schema-registry/src/main/java/org/apache/flink/formats/avro/glue/schema/registry/GlueSchemaRegistryAvroSerializationSchema.java
  flink-formats/flink-avro-glue-schema-registry/src/main/java/org/apache/flink/formats/avro/glue/schema/registry/GlueSchemaRegistryInputStreamDeserializer.java
  flink-formats/flink-avro-glue-schema-registry/src/main/java/org/apache/flink/formats/avro/glue/schema/registry/GlueSchemaRegistryOutputStreamSerializer.java
  flink-formats/flink-avro-glue-schema-registry/src/test/java/org/apache/flink/formats/avro/glue/schema/registry/GlueSchemaRegistryAvroDeserializationSchemaTest.java
  flink-formats/flink-avro-glue-schema-registry/src/test/java/org/apache/flink/formats/avro/glue/schema/registry/GlueSchemaRegistryAvroSchemaCoderTest.java
  flink-formats/flink-avro-glue-schema-registry/src/test/java/org/apache/flink/formats/avro/glue/schema/registry/GlueSchemaRegistryAvroSerializationSchemaTest.java
  flink-formats/flink-avro-glue-schema-registry/src/test/java/org/apache/flink/formats/avro/glue/schema/registry/GlueSchemaRegistryInputStreamDeserializerTest.java
  flink-formats/flink-avro-glue-schema-registry/src/test/java/org/apache/flink/formats/avro/glue/schema/registry/GlueSchemaRegistryOutputStreamSerializerTest.java
  flink-formats/flink-avro-glue-schema-registry/src/test/java/org/apache/flink/formats/avro/glue/schema/registry/User.java
  flink-formats/flink-avro-glue-schema-registry/src/test/java/resources/avro/user.avsc
  flink-formats/pom.xml
  tools/azure-pipelines/build-apache-repo.yml
  tools/azure-pipelines/jobs-template.yml
  tools/maven/suppressions.xml
Labels: component=Formats, review=description?

#15216 [hotfix][coordination] Guard assumption in AdaptiveScheduler.Restarting
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/Restarting.java
Labels: review=description?

#15210 [FLINK-21704][table-planner-blink] Support json ser/de for ChangelogSource
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecChangelogNormalize.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecDropUpdateBefore.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/stream/ChangelogSourceJsonPlanTest.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/stream/JsonSerdeCoverageTest.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/runtime/stream/jsonplan/ChangelogSourceJsonPlanITCase.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/utils/JsonPlanTestBase.java
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/ChangelogSourceJsonPlanTest_jsonplan/testChangelogSource.out
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/ChangelogSourceJsonPlanTest_jsonplan/testUpsertSource.out
Labels: component=TableSQL/Planner, review=description?

#15171 [FLINK-21558][coordination] Skip check if slotreport indicates no change
  flink-runtime/src/main/java/org/apache/flink/runtime/resourcemanager/slotmanager/DeclarativeSlotManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/resourcemanager/slotmanager/DefaultSlotTracker.java
  flink-runtime/src/main/java/org/apache/flink/runtime/resourcemanager/slotmanager/SlotTracker.java
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/slotmanager/DeclarativeSlotManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/slotmanager/DefaultSlotTrackerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/slotmanager/SlotStatusReconcilerTest.java
Labels: component=Runtime/Coordination, review=description?

#15226 [FLINK-20977][sql-client] Fix USE DATABASE & USE CATALOG fails with quoted identifiers containing characters to be escaped
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliClient.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliClientTest.java
Labels: component=TableSQL/Planner, review=description?

#15175 [FLINK-16829] Refactored Prometheus Metric Reporters to use construct…
  flink-metrics/flink-metrics-prometheus/src/main/java/org/apache/flink/metrics/prometheus/PrometheusPushGatewayReporter.java
  flink-metrics/flink-metrics-prometheus/src/main/java/org/apache/flink/metrics/prometheus/PrometheusPushGatewayReporterFactory.java
  flink-metrics/flink-metrics-prometheus/src/main/java/org/apache/flink/metrics/prometheus/PrometheusReporter.java
  flink-metrics/flink-metrics-prometheus/src/main/java/org/apache/flink/metrics/prometheus/PrometheusReporterFactory.java
  flink-metrics/flink-metrics-prometheus/src/test/java/org/apache/flink/metrics/prometheus/PrometheusPushGatewayReporterTest.java
  flink-metrics/flink-metrics-prometheus/src/test/java/org/apache/flink/metrics/prometheus/PrometheusReporterTest.java
Labels: component=Runtime/Metrics, review=description?

#15218 [FLINK-21596] Increase time out for the CheckpointFailureManagerITCase
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/CheckpointFailureManagerITCase.java
Labels: component=Runtime/Checkpointing, review=description?

#15222 [FLINK-21535][tests] Improved the detection of the attempt number in UnalignedCheckpointITCase. [1.12]
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/UnalignedCheckpointTestBase.java
Labels: component=Runtime/Checkpointing, review=description?

#15234 [FLINK-21532][Table SQL/API]Make CatalogTableImpl#toProperties and Ca…
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/catalog/CatalogTableImpl.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/catalog/CatalogTableImpTest.java
Labels: component=TableSQL/API, review=description?

#15193 [FLINK-21778][network] Use heap memory instead of direct memory as index entry cache for sort-merge shuffle
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/PartitionedFileWriter.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/SortMergeResultPartition.java
Labels: component=Runtime/Network, review=description?

#15213 [FLINK-21774][sql-client] Do not display column names when return set is emtpy in SQL Client
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliClient.java
  flink-table/flink-sql-client/src/test/resources/sql/catalog_database.q
  flink-table/flink-sql-client/src/test/resources/sql/function.q
  flink-table/flink-sql-client/src/test/resources/sql/module.q
  flink-table/flink-sql-client/src/test/resources/sql/table.q
  flink-table/flink-sql-client/src/test/resources/sql/view.q
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/TableEnvironmentImpl.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/utils/PrintUtils.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/utils/PrintUtilsTest.java
Labels: component=TableSQL/Client, review=description?

#15195 [FLINK-19609][table-planner-blink] Support streaming window join in planner
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/logical/CumulativeWindowSpec.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/logical/HoppingWindowSpec.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/logical/TumblingWindowSpec.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdWindowProperties.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamPhysicalWindowJoin.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/optimize/program/FlinkChangelogModeInferenceProgram.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/FlinkStreamRuleSets.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/stream/StreamPhysicalJoinRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/stream/StreamPhysicalTemporalJoinRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/stream/StreamPhysicalWindowJoinRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/utils/WindowJoinUtil.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/join/WindowJoinTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/join/WindowJoinTest.scala
Labels: component=TableSQL/Planner, review=description?

#15170 [FLINK-21610][tests] Do not attempt to cancel the job
  flink-tests/src/test/java/org/apache/flink/test/recovery/ProcessFailureCancelingITCase.java
Labels: component=Runtime/Coordination, review=description?

#15192 [FLINK-21777][network] Replace the 4M data writing cache of sort-merge shuffle with writev system call
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/BufferReaderWriterUtil.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/BufferWithChannel.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/PartitionSortedBuffer.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/PartitionedFileWriter.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/SortBuffer.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/SortMergeResultPartition.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/PartitionSortedBufferTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/PartitionedFileWriteReadTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/SortMergeResultPartitionTest.java
Labels: component=Runtime/Network, review=description?

#15233 [FLINK-21815][table-planner-blink] Support json ser/de for StreamExecUnion
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/batch/BatchExecUnion.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/common/CommonExecUnion.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecUnion.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/stream/JsonSerdeCoverageTest.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/stream/UnionJsonPlanTest.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/runtime/stream/jsonplan/UnionJsonPlanITCase.java
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/UnionJsonPlanTest_jsonplan/testUnion.out
Labels: component=<none>, review=description?

#15219 [FLINK-21802][table-planner-blink]LogicalTypeJsonDeserializer/Serializer support custom RowType/MapType/ArrayType/MultisetType
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/serde/LogicalTypeJsonDeserializer.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/serde/LogicalTypeJsonSerializer.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/serde/LogicalTypeSerdeTest.java
  flink-table/flink-table-planner-blink/src/test/resources/jsonplan/testGetJsonPlan.out
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/CalcJsonPlanTest_jsonplan/testComplexCalc.out
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/CalcJsonPlanTest_jsonplan/testSimpleFilter.out
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/CalcJsonPlanTest_jsonplan/testSimpleProject.out
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/ChangelogSourceJsonPlanTest_jsonplan/testChangelogSource.out
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/ChangelogSourceJsonPlanTest_jsonplan/testUpsertSource.out
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/GroupAggregateJsonPlanTest_jsonplan/testDistinctAggCalls[isMiniBatchEnabled=false].out
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/GroupAggregateJsonPlanTest_jsonplan/testDistinctAggCalls[isMiniBatchEnabled=true].out
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/GroupAggregateJsonPlanTest_jsonplan/testSimpleAggCallsWithGroupBy[isMiniBatchEnabled=false].out
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/GroupAggregateJsonPlanTest_jsonplan/testSimpleAggCallsWithGroupBy[isMiniBatchEnabled=true].out
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/GroupAggregateJsonPlanTest_jsonplan/testSimpleAggWithoutGroupBy[isMiniBatchEnabled=false].out
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/GroupAggregateJsonPlanTest_jsonplan/testSimpleAggWithoutGroupBy[isMiniBatchEnabled=true].out
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/GroupAggregateJsonPlanTest_jsonplan/testUserDefinedAggCalls[isMiniBatchEnabled=false].out
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/GroupAggregateJsonPlanTest_jsonplan/testUserDefinedAggCalls[isMiniBatchEnabled=true].out
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/TableSinkJsonPlanTest_jsonplan/testOverwrite.out
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/TableSinkJsonPlanTest_jsonplan/testPartitioning.out
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/TableSinkJsonPlanTest_jsonplan/testWritingMetadata.out
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/TableSourceJsonPlanTest_jsonplan/testFilterPushDown.out
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/TableSourceJsonPlanTest_jsonplan/testPartitionPushDown.out
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/TableSourceJsonPlanTest_jsonplan/testProjectPushDown.out
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/TableSourceJsonPlanTest_jsonplan/testReadingMetadata.out
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/TableSourceJsonPlanTest_jsonplan/testWatermarkPushDown.out
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/UnionJsonPlanTest_jsonplan/testUnion.out
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/WatermarkAssignerJsonPlanTest_jsonplan/testWatermarkAssigner.out
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/WindowAggregateJsonPlanTest_jsonplan/testEventTimeCumulateWindow.out
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/WindowAggregateJsonPlanTest_jsonplan/testEventTimeHopWindow.out
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/WindowAggregateJsonPlanTest_jsonplan/testEventTimeTumbleWindow.out
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/WindowAggregateJsonPlanTest_jsonplan/testProcTimeCumulateWindow.out
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/WindowAggregateJsonPlanTest_jsonplan/testProcTimeHopWindow.out
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/WindowAggregateJsonPlanTest_jsonplan/testProcTimeTumbleWindow.out
Labels: component=TableSQL/Planner, review=description?

#15261 [FLINK-21849][sql-client] Add default module test case for 'SHOW [FULL] MODULES'
  flink-table/flink-sql-client/src/test/resources/sql/module.q
Labels: component=TableSQL/Client, review=description?

#15225 [hotfix][docs] Add missing semicolons and remove unnecessary semicolo…
  docs/content/docs/learn-flink/datastream_api.md
  docs/content/docs/learn-flink/etl.md
  docs/content/docs/learn-flink/streaming_analytics.md
Labels: review=description?

#14784 [FLINK-21160][connector/kafka] Fix bug of referencing uninitialized deserializer when using KafkaRecordDeserializer#valueOnly
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/source/reader/deserializer/KafkaValueOnlyDeserializerWrapper.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/source/KafkaSourceITCase.java
Labels: component=Connectors/Kafka, review=description?

#15264 [FLINK-21791][table-planner-blink] Support StreamExecLocalGroupAggregate and StreamExecGlobalGroupAggregate json serialization/deserialization
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecAggregateBase.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecGlobalGroupAggregate.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecGroupAggregate.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecLocalGroupAggregate.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecWindowAggregate.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/stream/GroupAggregateJsonPlanTest.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/stream/JsonSerdeCoverageTest.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/runtime/stream/jsonplan/GroupAggregateJsonPlanITCase.java
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/GroupAggregateJsonPlanTest_jsonplan/testDistinctAggCalls[isMiniBatchEnabled=true].out
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/GroupAggregateJsonPlanTest_jsonplan/testSimpleAggCallsWithGroupBy[isMiniBatchEnabled=true].out
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/GroupAggregateJsonPlanTest_jsonplan/testSimpleAggWithoutGroupBy[isMiniBatchEnabled=true].out
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/GroupAggregateJsonPlanTest_jsonplan/testUserDefinedAggCalls[isMiniBatchEnabled=true].out
Labels: component=TableSQL/Planner, review=description?

#15257 [FLINK-21852][table] Introduce SupportsAnyNull to BinaryRowData
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/data/binary/BinaryRowData.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/data/binary/NullAwareGetters.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/join/interval/IntervalJoinFunction.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/join/stream/AbstractStreamingJoinOperator.java
Labels: component=<none>, review=description?

#15275 [hotfix][docs]add 'IF NOT EXISTS' to create table statement
  docs/content.zh/docs/dev/table/sql/create.md
  docs/content/docs/dev/table/sql/create.md
Labels: review=description?

#15086 [FLINK-21561] Predownload/Cache large E2E test artifacts
  azure-pipelines.yml
  flink-end-to-end-tests/run-nightly-tests.sh
  flink-end-to-end-tests/test-scripts/common_artifact_download_cacher.sh
  flink-end-to-end-tests/test-scripts/common_yarn_docker.sh
  flink-end-to-end-tests/test-scripts/docker-hadoop-secure-cluster/Dockerfile
  flink-end-to-end-tests/test-scripts/kafka-common.sh
  tools/azure-pipelines/build-apache-repo.yml
  tools/azure-pipelines/jobs-template.yml
Labels: component=BuildSystem/CI, component=TestInfrastructure, review=description?

#15238 [FLINK-21819][filesystems] Remove Swift filesystem
  docs/content.zh/docs/deployment/filesystems/overview.md
  docs/content/docs/deployment/filesystems/overview.md
  flink-core/src/main/java/org/apache/flink/core/fs/FileSystem.java
  flink-dist/pom.xml
  flink-dist/src/main/assemblies/opt.xml
  flink-filesystems/flink-fs-hadoop-shaded/src/main/resources/core-default-shaded.xml
  flink-filesystems/flink-fs-hadoop-shaded/src/test/resources/core-default-testing.xml
  flink-filesystems/flink-swift-fs-hadoop/README.md
  flink-filesystems/flink-swift-fs-hadoop/pom.xml
  flink-filesystems/flink-swift-fs-hadoop/src/main/java/org/apache/flink/fs/openstackhadoop/SwiftFileSystemFactory.java
  flink-filesystems/flink-swift-fs-hadoop/src/main/java/org/apache/hadoop/conf/Configuration.java
  flink-filesystems/flink-swift-fs-hadoop/src/main/java/org/apache/hadoop/util/NativeCodeLoader.java
  flink-filesystems/flink-swift-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-swift-fs-hadoop/src/main/resources/META-INF/core-default-shaded.xml
  flink-filesystems/flink-swift-fs-hadoop/src/main/resources/META-INF/licenses/LICENSE-protobuf
  flink-filesystems/flink-swift-fs-hadoop/src/main/resources/META-INF/licenses/LICENSE-xmlenc
  flink-filesystems/flink-swift-fs-hadoop/src/main/resources/META-INF/services/org.apache.flink.core.fs.FileSystemFactory
  flink-filesystems/flink-swift-fs-hadoop/src/test/java/org/apache/flink/fs/openstackhadoop/HadoopSwiftFileSystemITCase.java
  flink-filesystems/flink-swift-fs-hadoop/src/test/resources/core-site.xml
  flink-filesystems/flink-swift-fs-hadoop/src/test/resources/log4j2-test.properties
  flink-filesystems/pom.xml
  tools/ci/stage.sh
Labels: component=FileSystems, review=description?

#15236 [FLINK-21818][table] Refactor SlicingWindowAggOperatorBuilder to accept serializer instead of LogicalType
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecWindowAggregate.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/aggregate/window/SlicingWindowAggOperatorBuilder.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/aggregate/window/buffers/RecordsWindowBuffer.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/aggregate/window/buffers/WindowBuffer.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/aggregate/window/combines/CombineRecordsFunction.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/aggregate/window/processors/AbstractWindowAggProcessor.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/aggregate/window/processors/SliceSharedWindowAggProcessor.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/aggregate/window/processors/SliceUnsharedWindowAggProcessor.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/window/slicing/SlicingWindowOperator.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/window/slicing/SlicingWindowProcessor.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/typeutils/WindowKeySerializer.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/util/WindowKey.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/util/collections/binary/AbstractBytesHashMap.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/util/collections/binary/AbstractBytesMultiMap.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/util/collections/binary/WindowBytesHashMap.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/util/collections/binary/WindowBytesMultiMap.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/aggregate/window/SlicingWindowAggOperatorTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/typeutils/WindowKeySerializerTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/util/collections/binary/WindowBytesHashMapTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/util/collections/binary/WindowBytesMultiMapTest.java
Labels: component=TableSQL/Planner, review=description?

#15256 [FLINK-21851][table-runtime] Refactor BinaryRowDataKeySelector in testing
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/aggregate/window/SlicingWindowAggOperatorTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/deduplicate/ProcTimeDeduplicateFunctionTestBase.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/deduplicate/RowTimeDeduplicateFunctionTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/join/interval/ProcTimeIntervalJoinTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/join/interval/RowTimeIntervalJoinTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/join/temporal/TemporalProcessTimeJoinOperatorTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/join/temporal/TemporalTimeJoinOperatorTestBase.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/over/ProcTimeRangeBoundedPrecedingFunctionTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/over/RowTimeOverWindowTestBase.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/rank/TopNFunctionTestBase.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/window/WindowOperatorContractTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/window/WindowOperatorTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/util/BinaryRowDataKeySelector.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/utils/HandwrittenSelectorUtil.java
Labels: component=<none>, review=description?

#15277 [hotfix][table] Use type from RowDataKeySelector in StreamExecTemporalJoin
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecTemporalJoin.java
Labels: review=description?

#15232 [FLINK-20130][core] Add ZStandard to FileInputFormat
  docs/content.zh/docs/dev/dataset/overview.md
  flink-core/pom.xml
  flink-core/src/main/java/org/apache/flink/api/common/io/FileInputFormat.java
  flink-core/src/main/java/org/apache/flink/api/common/io/compression/ZStandardInputStreamFactory.java
  flink-core/src/test/java/org/apache/flink/api/common/io/GenericCsvInputFormatTest.java
Labels: component=API/Core, review=description?

#15290 [FLINK-21875][hotfix] Fix compilation error in IntelliJ for GSR test
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/testutils/KinesisPubsubClient.java
  flink-end-to-end-tests/flink-glue-schema-registry-test/src/main/java/org/apache/flink/glue/schema/registry/test/GSRKinesisPubsubClient.java
Labels: component=Formats, review=description?

#15295 [FLINK-21885] [documentation] Fixed Minor Typo in JDBC Batch Execution Criteria
  docs/content/docs/connectors/datastream/jdbc.md
Labels: component=Documentation, review=description?

#15285 [FLINK-21847][flink-sql-parser] Introduce DESC grammar in sql parser
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliClient.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/SqlCommandParser.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/SqlCommandParserTest.java
  flink-table/flink-sql-client/src/test/resources/sql/table.q
  flink-table/flink-sql-parser-hive/src/main/codegen/includes/parserImpls.ftl
  flink-table/flink-sql-parser-hive/src/test/java/org/apache/flink/sql/parser/hive/FlinkHiveSqlParserImplTest.java
  flink-table/flink-sql-parser/src/main/codegen/includes/parserImpls.ftl
  flink-table/flink-sql-parser/src/test/java/org/apache/flink/sql/parser/FlinkSqlParserImplTest.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/api/TableEnvironmentTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/batch/BatchTableEnvironmentTest.scala
Labels: component=TableSQL/Planner, review=description?

#15296 [FLINK-21886][table-api] Loosen argument of TableEnvironmentInternal#…
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/TableEnvironmentImpl.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/TableEnvironmentInternal.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/api/internal/TableEnvImpl.scala
Labels: component=TableSQL/API, review=description?

#15207 [FLINK-21650] Skip KGs not belonging to this backend on restore (instead of failing)
  flink-runtime/src/main/java/org/apache/flink/runtime/state/heap/HeapRestoreOperation.java
Labels: component=Runtime/StateBackends, review=description?

#15206 [FLINK-21673] Add extension points to snapshot reading/wr…
  flink-runtime/src/main/java/org/apache/flink/runtime/state/heap/StateTable.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/heap/StateTableByKeyGroupReaders.java
Labels: component=Runtime/StateBackends, review=description?

#15278 [hotfix] Put the delegating log to ChangelogStateBackend constructor
  flink-runtime/src/main/java/org/apache/flink/runtime/state/StateBackendLoader.java
  flink-state-backends/flink-statebackend-changelog/src/main/java/org/apache/flink/state/changelog/ChangelogStateBackend.java
Labels: review=description?

#15305 [FLINK-21890][table-planner-blink] Rename DAGProcessor to ExecNodeGraphProcessor
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/processor/DeadlockBreakupProcessor.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/processor/ExecNodeGraphProcessor.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/processor/MultipleInputNodeCreationProcessor.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/processor/ProcessorContext.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/delegation/BatchPlanner.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/delegation/PlannerBase.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/delegation/StreamPlanner.scala
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/processor/MultipleInputNodeCreationProcessorTest.java
Labels: component=TableSQL/Planner, review=description?

#15297 [FLINK-21814] [API / DataStream] Add the error info of the Exception
  flink-streaming-java/src/main/java/org/apache/flink/streaming/experimental/CollectSink.java
Labels: component=<none>, review=description?

#15298 [FLINK-21887][sql-client] Add SHOW VIEWS test in CliClientITCase
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliClientTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/TestingExecutor.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/TestingExecutorBuilder.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/local/LocalExecutorITCase.java
  flink-table/flink-sql-client/src/test/resources/sql/catalog_database.q
Labels: component=TableSQL/Client, review=description?

#15308 [FLINK-21894][hive] Update type of HiveTablePartition#partitionSpec from Map<String, Object> to Map<String, String>
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveLookupTableSource.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTablePartition.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSource.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HiveBulkFormatAdapter.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HiveCompactReaderFactory.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HiveMapredSplitReader.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HiveVectorizedOrcSplitReader.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HiveVectorizedParquetSplitReader.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/util/HivePartitionUtils.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/util/JobConfUtils.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/util/HiveTypeUtil.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/functions/hive/conversion/HiveInspectors.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/PartitionMonitorTest.java
Labels: component=Connectors/Hive, review=description?

#15326 [FLINK-21899][table] Introduce SOURCE_WATERMARK built-in function to preserve watermark from source
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/BuiltInFunctionDefinitions.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/TableSourceITCase.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/functions/scalar/SourceWatermarkFunction.java
Labels: component=TableSQL/API, review=description?

#15235 [FLINK-18384][docs] translate "Elasticsearch SQL Connector" page into Chinese
  docs/content.zh/docs/connectors/table/datagen.md
  docs/content.zh/docs/connectors/table/elasticsearch.md
  docs/content.zh/docs/connectors/table/hbase.md
  docs/content.zh/docs/connectors/table/print.md
  docs/content.zh/docs/connectors/table/upsert-kafka.md
  docs/content/docs/connectors/table/elasticsearch.md
Labels: component=Documentation, component=TableSQL/Ecosystem, component=chinese-translation, review=description?

#15254 [FLINK-21838][docs] retranslate "JDBC SQL Connector" page into Chinese
  docs/content.zh/docs/connectors/table/jdbc.md
Labels: component=Documentation, component=TableSQL/Ecosystem, component=chinese-translation, review=description?

#15325 [FLINK-21892][doc] Add documentation for the DESC statement syntax
  docs/content.zh/docs/dev/table/sql/describe.md
  docs/content/docs/dev/table/sql/describe.md
Labels: component=Documentation, component=TableSQL/API, review=description?

#15230 [FLINK-21300][docs] Update module-related documentation
  docs/content.zh/docs/dev/python/table/table_environment.md
  docs/content.zh/docs/dev/table/modules.md
  docs/content.zh/docs/dev/table/sql/load.md
  docs/content.zh/docs/dev/table/sql/overview.md
  docs/content.zh/docs/dev/table/sql/show.md
  docs/content.zh/docs/dev/table/sql/unload.md
  docs/content.zh/docs/dev/table/sql/use.md
  docs/content/docs/dev/python/table/table_environment.md
  docs/content/docs/dev/table/modules.md
  docs/content/docs/dev/table/sql/load.md
  docs/content/docs/dev/table/sql/overview.md
  docs/content/docs/dev/table/sql/show.md
  docs/content/docs/dev/table/sql/unload.md
  docs/content/docs/dev/table/sql/use.md
Labels: component=Documentation, component=TableSQL/API, component=TableSQL/Client, review=description?

#15288 [FLINK-21874][coordination] Ignore outdated slot allocation confirmations
  flink-runtime/src/main/java/org/apache/flink/runtime/resourcemanager/slotmanager/DeclarativeSlotManager.java
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/slotmanager/DeclarativeSlotManagerTest.java
Labels: component=Runtime/Coordination, review=description?

#15330 [hotfix][build] Add missing antlr3 plugin version
  flink-connectors/flink-connector-hive/pom.xml
Labels: review=description?

#15097 [FLINK-21506] [mesos] Option for mesos task user
  docs/layouts/shortcodes/generated/mesos_task_manager_configuration.html
  flink-mesos/src/main/java/org/apache/flink/mesos/runtime/clusterframework/LaunchableMesosWorker.java
  flink-mesos/src/main/java/org/apache/flink/mesos/runtime/clusterframework/MesosTaskManagerParameters.java
  flink-mesos/src/test/java/org/apache/flink/mesos/runtime/clusterframework/MesosResourceManagerDriverTest.java
  flink-mesos/src/test/java/org/apache/flink/mesos/runtime/clusterframework/MesosTaskManagerParametersTest.java
Labels: component=Deployment/Mesos, review=description?

#15321 [FLINK-21855][docs] Document metrics limitations of reactive mode
  docs/content.zh/docs/deployment/elastic_scaling.md
  docs/content.zh/docs/ops/metrics.md
  docs/content/docs/deployment/elastic_scaling.md
  docs/content/docs/ops/metrics.md
Labels: component=Documentation, component=Runtime/Coordination, review=description?

#15336 [FLINK-20547][network] Fix inconsistent availability issue of LocalBufferPool
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/buffer/LocalBufferPool.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/buffer/LocalBufferPoolTest.java
Labels: component=Runtime/Network, review=description?

#15309 [FLINK-21696][docs] Add output parameter in WatermarkGenerator scala sections
  docs/content/docs/dev/datastream/event-time/generating_watermarks.md
Labels: component=Documentation, review=description?

#15157 [FLINK-21661][kinesis] Fix fetch interval for polling consumer
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/polling/AdaptivePollingRecordPublisher.java
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/polling/PollingRecordPublisher.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/polling/PollingRecordPublisherTest.java
Labels: component=Connectors/Kinesis, review=description?

#15364 [FLINK-21951][network] Fix the wrong if condition in BufferReaderWriterUtil#writeBuffers
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/BufferReaderWriterUtil.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/BufferReaderWriterUtilTest.java
Labels: component=Runtime/Network, review=description?

#15292 [FLINK-21930][DOC]fix hive dim doc replace o to order
  docs/content.zh/docs/connectors/table/hive/hive_read_write.md
  docs/content/docs/connectors/table/hive/hive_read_write.md
Labels: component=Documentation, review=description?

#15347 [FLINK-21933][kinesis] EFO consumer treats interrupts as retryable ex…
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/internals/KinesisDataFetcher.java
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/internals/ShardConsumer.java
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/RecordPublisher.java
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/fanout/FanOutRecordPublisher.java
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/fanout/FanOutShardSubscriber.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/internals/KinesisDataFetcherTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/internals/ShardConsumerFanOutTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/internals/ShardConsumerTestUtils.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/fanout/FanOutRecordPublisherTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/fanout/FanOutShardSubscriberTest.java
Labels: component=Connectors/Kinesis, review=description?

#15357 [FLINK-21946] [table-planner-blink] FlinkRelMdUtil.numDistinctVals produces exceptional Double.NaN result when domainSize is in range(0,1)
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/utils/FlinkRelMdUtil.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdDistinctRowCountTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/utils/FlinkRelMdUtilTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/join/JoinITCase.scala
Labels: component=TableSQL/Planner, review=description?

#15376 [FLINK-21975] Remove hamcrest dependency from SchedulerBenchmarkBase
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/benchmark/e2e/SchedulerBenchmarkBase.java
Labels: component=Benchmarks, component=Runtime/Coordination, review=description?

#15380 [FLINK-21929][statebackend][tests] Ensure to dispose keyed state backend to avoid core dump
  flink-runtime/src/test/java/org/apache/flink/runtime/state/StateBackendTestBase.java
Labels: component=Runtime/StateBackends, review=description?

#15303 [FLINK-21713][table-api/table-planner] Correct function CURRENT_TIMESTAMP/CURRENT_TIME/CURRENT_DATE/NOW/LOCALTIME/LOCALTIMESTAMP
  docs/data/sql_functions.yml
  flink-python/pyflink/table/expressions.py
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/Expressions.java
  flink-table/flink-table-api-scala/src/main/scala/org/apache/flink/table/api/ImplicitExpressionConversions.scala
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/logical/LocalZonedTimestampType.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/functions/sql/FlinkSqlOperatorTable.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/functions/sql/SqlCurrentTimestampFunction.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/utils/InternalConfigOptions.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/CodeGeneratorContext.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/ExprCodeGenerator.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/GenerateUtils.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/calls/CurrentTimePointCallGen.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/calls/FunctionGenerator.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/delegation/BatchPlanner.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/delegation/PlannerBase.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/delegation/StreamPlanner.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/expressions/NonDeterministicTests.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/expressions/TemporalTypesTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/expressions/utils/ExpressionTestBase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/WindowTableFunctionTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/CalcITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/MatchRecognizeITCase.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/functions/SqlDateTimeUtils.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/typeutils/LegacyInstantTypeInfo.java
Labels: component=TableSQL/API, review=description?

#15361 [FLINK-21416] increase the ssl handshake timeout to avoid connection reset/close in FileBufferReaderITCase
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/FileBufferReaderITCase.java
Labels: component=Runtime/Network, review=description?

#15392 [FLINK-21917][docs] Add back missing zh kafka.md doc
  docs/content.zh/docs/connectors/table/kafka.md
Labels: component=Documentation, component=TableSQL/Ecosystem, review=description?

#15379 [FLINK-21984][table-planner] Change precision argument from optional to required in TO_TIMESTAMP_LTZ(numeric, precision)
  docs/data/sql_functions.yml
  flink-python/pyflink/table/tests/test_expression.py
  flink-table/flink-table-api-scala/src/main/scala/org/apache/flink/table/api/ImplicitExpressionConversions.scala
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/functions/sql/FlinkSqlOperatorTable.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/calls/BuiltInMethods.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/calls/FunctionGenerator.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/expressions/time.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/expressions/TemporalTypesTest.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/functions/SqlDateTimeUtils.java
Labels: component=TableSQL/Planner, review=description?

#15394 [hotfix][format] package format-common to flink-csv and flink-json
  flink-formats/flink-csv/pom.xml
  flink-formats/flink-json/pom.xml
Labels: review=description?

#15374 [FLINK-21978][table-planner] Disable cast conversion between Numeric type and TIMESTAMP_LTZ type
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/calls/ScalarOperatorGens.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/expressions/TemporalTypesTest.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/data/DecimalDataUtils.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/data/DecimalDataTest.java
Labels: component=TableSQL/Planner, review=description?

#15301 [FLINK-21888][hive] Maintain our own ASTNode class
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParser.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParserASTBuilder.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParserAuthorizationParseUtils.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParserContext.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParserUtils.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/desc/CreateTableASDesc.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/desc/HiveParserCreateViewDesc.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/parse/FromClauseASTParser.g
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/parse/HiveASTHintParser.g
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/parse/HiveASTLexer.g
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/parse/HiveASTParseDriver.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/parse/HiveASTParseUtils.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/parse/HiveASTParser.g
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/parse/HiveParserASTNode.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/parse/HiveParserASTNodeOrigin.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/parse/HiveParserBaseSemanticAnalyzer.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/parse/HiveParserDDLSemanticAnalyzer.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/parse/HiveParserErrorMsg.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/parse/HiveParserPTFInvocationSpec.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/parse/HiveParserStorageFormat.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/parse/IdentifiersASTParser.g
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/parse/SelectClauseASTParser.g
Labels: component=Connectors/Hive, review=description?

#15282 [FLINK-21664][table-api] Support STATEMENT SET syntax in TableEnvironment
  flink-table/flink-sql-parser/src/main/codegen/data/Parser.tdd
  flink-table/flink-sql-parser/src/main/codegen/includes/parserImpls.ftl
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/dml/SqlBeginStatementSet.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/dml/SqlEndStatementSet.java
  flink-table/flink-sql-parser/src/test/java/org/apache/flink/sql/parser/FlinkSqlParserImplTest.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/BeginStatementSetOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/EndStatementSetOperation.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/operations/SqlToOperationConverter.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/calcite/FlinkPlannerImpl.scala
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/operations/SqlToOperationConverterTest.java
Labels: component=TableSQL/API, review=description?

#15331 [FLINK-21626][core] Make RuntimeContext.jobID non-optional
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/xa/SemanticXidGenerator.java
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/xa/JdbcXaSinkTestBase.java
  flink-core/src/main/java/org/apache/flink/api/common/functions/RuntimeContext.java
  flink-core/src/main/java/org/apache/flink/api/common/functions/util/RuntimeUDFContext.java
  flink-core/src/main/java/org/apache/flink/api/common/operators/CollectionExecutor.java
  flink-libraries/flink-cep/src/main/java/org/apache/flink/cep/operator/CepRuntimeContext.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/runtime/SavepointRuntimeContext.java
  flink-runtime/src/main/java/org/apache/flink/runtime/iterative/task/AbstractIterativeTask.java
  flink-runtime/src/main/java/org/apache/flink/runtime/operators/util/DistributedRuntimeUDFContext.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/async/RichAsyncFunction.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/StreamingRuntimeContext.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/expressions/utils/ExpressionTestBase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/expressions/utils/ExpressionTestBase.scala
Labels: component=API/Core, review=description?

#15377 [hotfix][formats] Fix exception message
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/utils/ParquetRecordReader.java
Labels: review=description?

#15208 [hotfix][docs] Added missing state descriptor (AggregatingStateDescriptor) to docs
  docs/content.zh/docs/dev/datastream/fault-tolerance/state.md
  docs/content/docs/dev/datastream/fault-tolerance/state.md
Labels: review=description?

#15384 [FLINK-21590][conf][log4j] Avoid hive logs in the SQL client console
  flink-dist/src/main/flink-bin/conf/log4j-cli.properties
Labels: component=TableSQL/Client, review=description?

#15422 [hotfix][ui] Remove unrelated UI backpressure console logs
  flink-runtime-web/web-dashboard/src/app/share/common/dagre/node.component.ts
Labels: review=description?

#15421 [hotfix][doc] Do not refer to deprecated cancel-with-savepoint in the docs
  docs/content/docs/ops/state/savepoints.md
Labels: review=description?

#15426 [FLINK-22022][table-planner-blink] Reduce the ExecNode scan scope to improve performance when converting json plan to ExecNodeGraph
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/serde/ExecNodeGraphJsonPlanGenerator.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/metadata/MetadataHandlerConsistencyTest.scala
Labels: component=TableSQL/Planner, review=description?

#15430 [BP-1.11][FLINK-21515][tests] Fix testStopWithSavepointShouldNotInterruptTheSource
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/SourceStreamTaskTest.java
Labels: component=Runtime/Task, review=description?

#15423 [FLINK-22020][table-planner-blink] Add org.reflections to include list of maven shade plugin
  flink-end-to-end-tests/test-scripts/test_table_shaded_dependencies.sh
  flink-table/flink-table-planner-blink/pom.xml
  flink-table/flink-table-planner-blink/src/main/resources/META-INF/NOTICE
  flink-table/flink-table-planner-blink/src/main/resources/META-INF/licenses/LICENSE.reflections
Labels: component=TableSQL/Planner, review=description?

#15432 [FLINK-22037][benchmark] Remove the redundant blocking queue from DeployingTasksBenchmarkBase
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/benchmark/deploying/DeployingTasksBenchmarkBase.java
Labels: component=Benchmarks, component=Runtime/Coordination, review=description?

#15424 [FLINK-22021][table-planner-blink] Fix exception when PushFilterIntoLegacyTableSourceScanRule is faced with INTERVAL types
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/utils/RexNodeExtractor.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/rules/logical/PushFilterIntoLegacyTableSourceScanRuleTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/rules/logical/PushFilterIntoTableSourceScanRuleTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/rules/logical/PushFilterIntoLegacyTableSourceScanRuleTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/CalcITCase.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/data/conversion/DayTimeIntervalDurationConverter.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/data/conversion/YearMonthIntervalPeriodConverter.java
Labels: component=TableSQL/Planner, review=description?

#14945 [FLINK-21252][quickstarts][scala] Forward target java version
  flink-quickstart/flink-quickstart-java/src/main/resources/archetype-resources/pom.xml
  flink-quickstart/flink-quickstart-scala/src/main/resources/archetype-resources/pom.xml
Labels: component=BuildSystem, component=Quickstarts, review=description?

#15447 [Hotfix][docs] Update IDE setup
  docs/content.zh/docs/flinkDev/ide_setup.md
  docs/content/docs/flinkDev/ide_setup.md
Labels: review=description?

#15450 [FLINK-21556] Add timeout to StreamingKafkaITCase
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/src/test/java/org/apache/flink/tests/util/kafka/StreamingKafkaITCase.java
Labels: component=Connectors/Kafka, component=Tests, review=description?

#15415 [FLINK-21148][tests] Fixes instability in YARN's detached-mode ITCases
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YARNSessionFIFOITCase.java
Labels: component=Deployment/YARN, component=Tests, review=description?
