Repository apache/flink, pull requests merged in 2021-02, with the labels that each got.

#14783 [FLINK-21169][kafka] flink-connector-base dependency should be scope compile
  flink-connectors/flink-connector-kafka/pom.xml
Labels: component=<none>, review=description?

#14825 [FLINK-21216][python] Limit numpy version in setup.py
  flink-python/setup.py
Labels: component=API/Python, review=description?

#14602 [FLINK-20345][table-planner-blink] Adds an Expand node only if there are multiple distinct aggregate functions in an Aggregate when executes SplitAggregateRule
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/logical/SplitAggregateRule.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/rules/logical/SplitAggregateRuleTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/agg/DistinctAggregateTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/agg/IncrementalAggregateTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/rules/logical/SplitAggregateRuleTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/SplitAggregateITCase.scala
Labels: component=TableSQL/Planner, review=description?

#14792 [FLINK-21172][canal][json] canal-json format include es field
  docs/dev/table/connectors/formats/canal.md
  docs/dev/table/connectors/formats/canal.zh.md
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/KafkaChangelogTableITCase.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/canal/CanalJsonDecodingFormat.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/canal/CanalJsonSerDeSchemaTest.java
Labels: component=Formats, component=TableSQL/Ecosystem, review=description?

#14771 [FLINK-9683] Allow history server use default fs scheme
  flink-runtime-web/src/main/java/org/apache/flink/runtime/webmonitor/history/HistoryServer.java
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/HistoryServerArchivist.java
  flink-runtime/src/main/java/org/apache/flink/runtime/webmonitor/WebMonitorUtils.java
Labels: component=Runtime/Coordination, review=description?

#14824 [release-1.12][FLINK-21169][kafka] flink-connector-base dependency should be scope compile
  flink-connectors/flink-connector-kafka/pom.xml
Labels: component=<none>, review=description?

#14806 [FLINK-10520][rest] Properly handle optional savepoint parameters
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/messages/job/savepoints/SavepointTriggerRequestBody.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/messages/job/savepoints/stop/StopWithSavepointRequestBody.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/messages/SavepointHandlerRequestBodyTest.java
Labels: component=Runtime/REST, review=description?

#14810 [FLINK-9844][client] PackagedProgram#close() closes ClassLoader
  flink-clients/src/main/java/org/apache/flink/client/program/PackagedProgram.java
  flink-runtime-web/src/test/java/org/apache/flink/runtime/webmonitor/handlers/JarSubmissionITCase.java
Labels: component=CommandLineClient, review=description?

#14724 [FLINK-19360] Fink startup fails when $JAVA_HOME have space
  flink-dist/src/main/flink-bin/bin/config.sh
  flink-dist/src/main/flink-bin/bin/flink
  flink-dist/src/main/flink-bin/bin/flink-console.sh
  flink-dist/src/main/flink-bin/bin/flink-daemon.sh
  flink-dist/src/main/flink-bin/kubernetes-bin/kubernetes-session.sh
  flink-dist/src/main/flink-bin/mesos-bin/mesos-jobmanager.sh
  flink-dist/src/main/flink-bin/mesos-bin/mesos-taskmanager.sh
  flink-dist/src/main/flink-bin/yarn-bin/yarn-session.sh
  flink-python/bin/pyflink-shell.sh
  flink-scala-shell/start-script/start-scala-shell.sh
  flink-table/flink-sql-client/bin/sql-client.sh
Labels: component=Deployment/Scripts, review=description?

#14843 backport [FLINK-21215][task] Do not overwrite the original CheckpointFailureReason in AsyncCheckpointRunnable
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/AsyncCheckpointRunnable.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/AsyncCheckpointRunnableTest.java
Labels: component=Runtime/Checkpointing, review=description?

#14808 [FLINK-21204][coordination] Remove LogicalSlot#getSlotSharingGroupId
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/LogicalSlot.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/slotpool/SingleLogicalSlot.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/SharedSlot.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/ExecutionVertexLocalityTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/TestingLogicalSlot.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/TestingLogicalSlotBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/slotpool/SingleLogicalSlotTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/SharedSlotTest.java
Labels: component=Runtime/Coordination, review=description?

#14850 [FLINK-21261][table-planner-blink] Improve digest of physical Expand node
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/calcite/Expand.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchPhysicalExpand.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/agg/AggregateReduceGroupingTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/agg/DistinctAggregateTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/agg/GroupingSetsTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/rules/logical/AggregateReduceGroupingRuleTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/rules/logical/DecomposeGroupingSetsRuleTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/rules/logical/FlinkAggregateExpandDistinctAggregatesRuleTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/rules/logical/FlinkAggregateRemoveRuleTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/rules/logical/SplitAggregateRuleTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/rules/physical/batch/EnforceLocalHashAggRuleTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/rules/physical/batch/EnforceLocalSortAggRuleTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/rules/physical/batch/RemoveRedundantLocalHashAggRuleTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/rules/physical/batch/RemoveRedundantLocalSortAggRuleTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/agg/DistinctAggregateTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/agg/GroupingSetsTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/agg/IncrementalAggregateTest.xml
Labels: component=TableSQL/Planner, review=description?

#14802 [FLINK-21185][table-common][table-api-java] Introduce a new interface…
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/catalog/CatalogManager.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/catalog/FunctionCatalog.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/catalog/FunctionCatalogTest.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/catalog/Catalog.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/catalog/TemporaryOperationListener.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/api/TableEnvironmentITCase.scala
Labels: component=TableSQL/API, review=description?

#14748 [FLINK-20894][Table SQL / API] Introduce SupportsAggregatePushDown interface
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/connector/source/ScanTableSource.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/connector/source/abilities/SupportsAggregatePushDown.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/expressions/AggregateExpression.java
Labels: component=TableSQL/API, review=description?

#14867 [FLINK-21175][tests] Fix unpredictable Thread.getState in StreamTaskTestHarness due to concurrent class loading
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTestHarness.java
Labels: component=API/Core, review=description?

#14866 [FLINK-21277] Bump testcontainers version
  flink-connectors/flink-connector-elasticsearch6/pom.xml
  flink-connectors/flink-connector-elasticsearch7/pom.xml
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/pom.xml
  flink-end-to-end-tests/flink-end-to-end-tests-common/pom.xml
Labels: component=Tests, review=description?

#14871 [FLINK-21272][checkpointing] Report incomplete metrics when aborted
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointMetrics.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointMetricsBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/TestTaskStateManager.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/AsyncCheckpointRunnable.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/AsyncCheckpointRunnableTest.java
Labels: component=Runtime/Checkpointing, review=description?

#14766 [FLINK-20254][hive] Make PartitionMonitor fetching partitions with same create time properly
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/ContinuousHiveSplitEnumerator.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSource.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HiveContinuousPartitionContext.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HivePartitionContext.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HivePartitionFetcherContextBase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/PartitionMonitorTest.java
Labels: component=Connectors/Hive, review=description?

#14849 [hotfix][typo]Fix typo in `UnsignedTypeConversionITCase`
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/table/UnsignedTypeConversionITCase.java
Labels: review=description?

#14821 [FLINK-21210][coordination] ApplicationClusterEntryPoint should explicitly close PackagedProgram
  flink-clients/src/main/java/org/apache/flink/client/deployment/application/ApplicationClusterEntryPoint.java
  flink-runtime/src/main/java/org/apache/flink/runtime/entrypoint/ClusterEntrypoint.java
Labels: component=Runtime/Coordination, review=description?

#14876 [hotfix][typo]Fix typo in `UnsignedTypeConversionITCase`
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/table/UnsignedTypeConversionITCase.java
Labels: review=description?

#14862 [FLINK-21273][coordination] Remove unused ExecutionVertexSchedulingRe…
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/DefaultScheduler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/ExecutionSlotAllocator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/ExecutionVertexSchedulingRequirements.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/ExecutionVertexSchedulingRequirementsMapper.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/SlotSharingExecutionSlotAllocator.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/ExecutionSlotAllocatorTestUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/SlotSharingExecutionSlotAllocatorTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/TestExecutionSlotAllocator.java
Labels: component=Runtime/Coordination, review=description?

#14859 [FLINK-21208][python] Make Arrow Coder serialize schema info in every batch
  flink-python/pyflink/fn_execution/ResettableIO.py
  flink-python/pyflink/fn_execution/coder_impl.py
  flink-python/pyflink/table/tests/test_udf.py
  flink-python/pyflink/table/tests/test_udtf.py
  flink-python/pyflink/testing/test_case_utils.py
  flink-python/src/main/java/org/apache/flink/table/runtime/functions/python/arrow/ArrowPythonScalarFunctionFlatMap.java
  flink-python/src/main/java/org/apache/flink/table/runtime/operators/python/scalar/arrow/ArrowPythonScalarFunctionOperator.java
  flink-python/src/main/java/org/apache/flink/table/runtime/operators/python/scalar/arrow/RowDataArrowPythonScalarFunctionOperator.java
  flink-python/src/main/java/org/apache/flink/table/runtime/runners/python/scalar/arrow/AbstractArrowPythonScalarFunctionRunner.java
Labels: component=API/Python, review=description?

#14836 [hotfix] [docs] - fix typo: 'this gives' instead of 'the gives'
  docs/dev/connectors/kafka.md
Labels: review=description?

#14795 [hotfix][docs] Correct variable name
  docs/learn-flink/etl.md
  docs/learn-flink/etl.zh.md
Labels: review=description?

#14712 [hotfix][docs] Removes link formatting of anchors
  docs/deployment/resource-providers/standalone/docker.md
Labels: review=description?

#14887 [FLINK-21033][checkpointing] Remove PendingCheckpoint.statsCallback
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointStatsTracker.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/PendingCheckpoint.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/PendingCheckpointTest.java
Labels: component=Runtime/Checkpointing, component=Runtime/Metrics, review=description?

#14882 [FLINK-21303][coordination] Maybe remove LogicalSlot#getPhysicalSlotNumber
  flink-runtime/src/main/java/org/apache/flink/runtime/deployment/TaskDeploymentDescriptor.java
  flink-runtime/src/main/java/org/apache/flink/runtime/deployment/TaskDeploymentDescriptorFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/Execution.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/LogicalSlot.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/slotpool/SingleLogicalSlot.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskExecutor.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskmanager/Task.java
  flink-runtime/src/test/java/org/apache/flink/runtime/deployment/TaskDeploymentDescriptorBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/deployment/TaskDeploymentDescriptorTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/ExecutionVertexDeploymentTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/TestingLogicalSlot.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/TestingLogicalSlotBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/SharedSlotTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/declarative/allocator/SharedSlotTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskExecutorOperatorEventHandlingTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskExecutorPartitionLifecycleTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskExecutorSubmissionTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskmanager/TaskAsyncCallTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskmanager/TestTaskBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/util/JvmExitOnFatalErrorTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/InterruptSensitiveRestoreTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskSystemExitTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTerminationTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/SynchronousCheckpointITCase.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/TaskCheckpointingBehaviourTest.java
Labels: component=Runtime/Coordination, review=description?

#14874 [FLINK-21102] Add ScaleUpController for declarative scheduler
  docs/_includes/generated/all_jobmanager_section.html
  docs/_includes/generated/expert_scheduling_section.html
  docs/_includes/generated/job_manager_configuration.html
  flink-core/src/main/java/org/apache/flink/configuration/JobManagerOptions.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/declarative/scalingpolicy/ReactiveScaleUpController.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/declarative/scalingpolicy/ScaleUpController.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/declarative/scalingpolicy/ScaleUpControllerTest.java
Labels: component=Runtime/Coordination, review=description?

#14898 [FLINK-20957][task][tests] Make sure we enter the measured sleep after the Task thread started measuring backPressure/idle time
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/TimerGauge.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTest.java
Labels: component=Runtime/Task, review=description?

#14877 [FLINK-21225][table] Support OVER window distinct aggregates in Table API
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/expressions/converter/OverConvertRule.java
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/table/OverAggregateTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/table/OverAggregateTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/table/OverAggregateITCase.scala
Labels: component=TableSQL/Planner, review=description?

#13551 [FLINK-19520][configuration] Add randomization of checkpoint config.
  flink-runtime/pom.xml
  flink-runtime/src/main/java/org/apache/flink/runtime/util/EnvironmentInformation.java
  flink-test-utils-parent/flink-test-utils-junit/src/main/java/org/apache/flink/util/TestLogger.java
  flink-test-utils-parent/flink-test-utils-junit/src/main/java/org/apache/flink/util/TestNameProvider.java
  flink-test-utils-parent/flink-test-utils/src/main/java/org/apache/flink/streaming/util/PseudoRandomValueSelector.java
  flink-test-utils-parent/flink-test-utils/src/main/java/org/apache/flink/streaming/util/TestStreamEnvironment.java
  flink-test-utils-parent/flink-test-utils/src/test/java/org/apache/flink/streaming/util/PseudoRandomValueSelectorTest.java
  pom.xml
Labels: component=Runtime/Configuration, review=description?

#14881 [hotfix][state] Improve logging in AbstractKeyedStateBackend
  flink-runtime/src/main/java/org/apache/flink/runtime/state/AbstractKeyedStateBackend.java
Labels: review=description?

#14918 [FLINK-21342][tests] Add '@Ignore' to *TestInstance classes
  flink-core/src/test/java/org/apache/flink/api/common/typeutils/CompositeSerializerTest.java
  flink-core/src/test/java/org/apache/flink/api/java/typeutils/runtime/AbstractGenericTypeComparatorTest.java
  flink-core/src/test/java/org/apache/flink/api/java/typeutils/runtime/EitherSerializerTest.java
  flink-core/src/test/java/org/apache/flink/api/java/typeutils/runtime/LegacyRowSerializerTest.java
  flink-core/src/test/java/org/apache/flink/api/java/typeutils/runtime/RowSerializerTest.java
  flink-scala/src/test/scala/org/apache/flink/api/scala/runtime/ScalaSpecialTypesSerializerTest.scala
  flink-scala/src/test/scala/org/apache/flink/api/scala/runtime/TraversableSerializerTest.scala
  flink-scala/src/test/scala/org/apache/flink/api/scala/runtime/TupleSerializerTestInstance.scala
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/LocalRecoveryITCase.java
Labels: component=Tests, review=description?

#14899 [BP-1.11][FLINK-21312][checkpointing] Reset OperatorChain.isStoppingBySyncSavepoint properly
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/StreamSource.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/SourceStreamTask.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/SourceStreamTaskTest.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/SavepointITCase.java
Labels: component=Runtime/Checkpointing, review=description?

#14900 [BP-1.12][FLINK-21312][checkpointing] Reset OperatorChain.isStoppingBySyncSavepoint properly
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/StreamSource.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/SourceStreamTask.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/SourceStreamTaskTest.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/SavepointITCase.java
Labels: component=Runtime/Checkpointing, review=description?

#14911 [FLINK-21337] ComparableInputTypeStrategyTests is not running
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/types/inference/ComparableInputTypeStrategyTest.java
Labels: component=TableSQL/API, component=Tests, review=description?

#14895 [FLINK-21295][table] Support 'useModules' and 'listFullModules' in ModuleManager and TableEnvironment
  flink-python/pyflink/table/tests/test_environment_completeness.py
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/TableEnvironment.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/TableEnvironmentImpl.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/module/ModuleEntry.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/module/ModuleManager.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/module/ModuleManagerTest.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/utils/ModuleMock.java
  flink-table/flink-table-api-java/src/test/resources/log4j2-test.properties
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/api/internal/TableEnvImpl.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/utils/MockTableEnvironment.scala
Labels: component=TableSQL/API, review=description?

#14917 [FLINK-21225][table] Support OVER window distinct aggregates in Table API
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/expressions/converter/OverConvertRule.java
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/table/OverWindowTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/table/OverWindowTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/table/OverWindowITCase.scala
Labels: component=TableSQL/Planner, review=description?

#14931 [hotfix] Fix ASCII art in the OperatorChain JavaDoc
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/OperatorChain.java
Labels: review=description?

#14940 [FLINK-21365][runtime] Document and make the contract of FutureUtilsResultConjunctFuture more explicit
  flink-runtime/src/main/java/org/apache/flink/runtime/concurrent/FutureUtils.java
Labels: component=Runtime/Coordination, review=description?

#14930 [FLINK-21339][tests] Enable and fix ExceptionUtilsITCase
  flink-test-utils-parent/flink-test-utils/src/main/java/org/apache/flink/test/util/TestProcessBuilder.java
  flink-tests/src/test/java/org/apache/flink/runtime/util/ExceptionUtilsITCase.java
Labels: component=Tests, review=description?

#14838 [FLINK-19503][state] Add StateChangelog API
  flink-runtime/src/main/java/org/apache/flink/runtime/state/changelog/SequenceNumber.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/changelog/StateChange.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/changelog/StateChangelogHandle.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/changelog/StateChangelogHandleStreamImpl.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/changelog/StateChangelogWriter.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/changelog/StateChangelogWriterFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/changelog/StateChangelogWriterFactoryLoader.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/changelog/inmemory/InMemoryStateChangelogHandle.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/changelog/inmemory/InMemoryStateChangelogWriter.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/changelog/inmemory/InMemoryStateChangelogWriterFactory.java
  flink-runtime/src/main/resources/META-INF/services/org.apache.flink.runtime.state.changelog.StateChangelogWriterFactory
  flink-runtime/src/test/java/org/apache/flink/runtime/state/changelog/inmemory/StateChangelogWriterFactoryLoaderTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/changelog/inmemory/StateChangelogWriterFactoryTest.java
Labels: component=Runtime/Checkpointing, component=Runtime/Task, review=description?

#14959 [FLINK-16947][Azure] Attempt to fix maven network issues
  azure-pipelines.yml
  tools/azure-pipelines/build-apache-repo.yml
Labels: component=BuildSystem/AzurePipelines, review=description?

#14928 [FLINK-21360][coordination] Make resource timeout configurable
  docs/layouts/shortcodes/generated/all_jobmanager_section.html
  docs/layouts/shortcodes/generated/expert_scheduling_section.html
  docs/layouts/shortcodes/generated/job_manager_configuration.html
  flink-core/src/main/java/org/apache/flink/configuration/JobManagerOptions.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/declarative/DeclarativeScheduler.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/declarative/DeclarativeSchedulerTest.java
Labels: component=Runtime/Coordination, review=description?

#14951 [FLINK-21380][coordination] Hide terminal ExecutionGraph in StateWithExecutionGraph
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/ArchivedExecutionGraph.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/declarative/Canceling.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/declarative/Executing.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/declarative/Failing.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/declarative/StateWithExecutionGraph.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/ArchivedExecutionGraphTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/declarative/CancelingTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/declarative/ExecutingTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/declarative/FailingTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/declarative/RestartingTest.java
Labels: component=Runtime/Coordination, review=description?

#14835 [FLINK-21213][task] Degrade log level to INFO when ignore to decline checkpoint as task not running
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/AsyncCheckpointRunnable.java
Labels: component=Runtime/Checkpointing, component=Runtime/Task, review=description?

#14944 [FLINK-21297] Support 'LOAD/UNLOAD MODULE' syntax
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliClient.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliStrings.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/SqlCommandParser.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/SqlCommandParserTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/local/ExecutionContextTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/local/LocalExecutorITCase.java
  flink-table/flink-sql-parser-hive/src/main/codegen/data/Parser.tdd
  flink-table/flink-sql-parser-hive/src/main/codegen/includes/parserImpls.ftl
  flink-table/flink-sql-parser-hive/src/test/java/org/apache/flink/sql/parser/hive/FlinkHiveSqlParserImplTest.java
  flink-table/flink-sql-parser/src/main/codegen/data/Parser.tdd
  flink-table/flink-sql-parser/src/main/codegen/includes/parserImpls.ftl
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/dql/SqlLoadModule.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/dql/SqlUnloadModule.java
  flink-table/flink-sql-parser/src/test/java/org/apache/flink/sql/parser/FlinkSqlParserImplTest.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/TableEnvironmentImpl.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/LoadModuleOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/UnloadModuleOperation.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/factories/module/DummyModuleFactory.java
  flink-table/flink-table-common/src/test/resources/META-INF/services/org.apache.flink.table.factories.TableFactory
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/operations/SqlToOperationConverter.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/calcite/FlinkPlannerImpl.scala
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/operations/SqlToOperationConverterTest.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/api/TableEnvironmentTest.scala
Labels: component=TableSQL/API, component=TableSQL/Client, review=description?

#14896 [FLINK-21176][docs] translate the updates of 'avro-confluent.zh.md' to Chinese
  docs/content.zh/docs/connectors/table/formats/avro-confluent.md
  docs/content/docs/connectors/table/formats/avro-confluent.md
Labels: component=Documentation, component=chinese-translation, review=description?

#14812 [hotfix][javadoc] fix syntax error for PlannerContext.java: from "be overwrite" to "be overwritten"
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/delegation/PlannerContext.java
Labels: review=description?

#14760 [FLINK-20994][python] Add public method to create TableEnvironment in PyFlink.
  docs/content.zh/docs/connectors/table/hive/hive_dialect.md
  docs/content.zh/docs/connectors/table/hive/overview.md
  docs/content.zh/docs/connectors/table/jdbc.md
  docs/content.zh/docs/dev/python/table/intro_to_table_api.md
  docs/content.zh/docs/dev/python/table/python_table_api_connectors.md
  docs/content.zh/docs/dev/python/table/table_environment.md
  docs/content.zh/docs/dev/python/table/udfs/python_udfs.md
  docs/content.zh/docs/dev/python/table/udfs/vectorized_python_udfs.md
  docs/content.zh/docs/dev/python/table_api_tutorial.md
  docs/content.zh/docs/dev/table/catalogs.md
  docs/content.zh/docs/dev/table/sql/alter.md
  docs/content.zh/docs/dev/table/sql/create.md
  docs/content.zh/docs/dev/table/sql/describe.md
  docs/content.zh/docs/dev/table/sql/drop.md
  docs/content.zh/docs/dev/table/sql/insert.md
  docs/content/docs/connectors/table/hive/hive_dialect.md
  docs/content/docs/connectors/table/hive/overview.md
  docs/content/docs/connectors/table/jdbc.md
  docs/content/docs/dev/python/table/intro_to_table_api.md
  docs/content/docs/dev/python/table/python_table_api_connectors.md
  docs/content/docs/dev/python/table/table_environment.md
  docs/content/docs/dev/python/table/udfs/python_udfs.md
  docs/content/docs/dev/python/table/udfs/vectorized_python_udfs.md
  docs/content/docs/dev/python/table_api_tutorial.md
  docs/content/docs/dev/table/catalogs.md
  docs/content/docs/dev/table/common.md
  docs/content/docs/dev/table/sql/alter.md
  docs/content/docs/dev/table/sql/create.md
  docs/content/docs/dev/table/sql/describe.md
  docs/content/docs/dev/table/sql/drop.md
  docs/content/docs/dev/table/sql/insert.md
  flink-python/pyflink/table/table_environment.py
  flink-python/pyflink/table/tests/test_calc.py
  flink-python/pyflink/table/tests/test_column_operation.py
  flink-python/pyflink/table/tests/test_correlate.py
  flink-python/pyflink/table/tests/test_dependency.py
  flink-python/pyflink/table/tests/test_descriptor.py
  flink-python/pyflink/table/tests/test_distinct.py
  flink-python/pyflink/table/tests/test_explain.py
  flink-python/pyflink/table/tests/test_join.py
  flink-python/pyflink/table/tests/test_pandas_conversion.py
  flink-python/pyflink/table/tests/test_pandas_udaf.py
  flink-python/pyflink/table/tests/test_pandas_udf.py
  flink-python/pyflink/table/tests/test_schema_operation.py
  flink-python/pyflink/table/tests/test_set_operation.py
  flink-python/pyflink/table/tests/test_sort.py
  flink-python/pyflink/table/tests/test_sql.py
  flink-python/pyflink/table/tests/test_table_environment_api.py
  flink-python/pyflink/table/tests/test_udaf.py
  flink-python/pyflink/table/tests/test_udf.py
  flink-python/pyflink/table/tests/test_udtf.py
  flink-python/pyflink/table/tests/test_window.py
  flink-python/pyflink/testing/test_case_utils.py
Labels: component=API/Python, review=description?

#14788 [FLINK-21180][python] Move the state module from 'pyflink.common' to 'pyflink.datastream'.
  flink-python/pyflink/datastream/functions.py
  flink-python/pyflink/datastream/state.py
  flink-python/pyflink/datastream/tests/test_data_stream.py
  flink-python/pyflink/fn_execution/aggregate.py
  flink-python/pyflink/fn_execution/operations.py
  flink-python/pyflink/fn_execution/state_impl.py
Labels: component=API/Python, review=description?

#14727 [FLINK-19945][Connectors / FileSystem]Support sink parallelism config…
  docs/content.zh/docs/connectors/table/filesystem.md
  docs/content/docs/connectors/table/filesystem.md
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSink.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/filesystem/FileSystemTableSinkTest.java
  flink-table/flink-table-planner-blink/src/test/resources/explain/filesystem/testFileSystemTableSinkWithParallelismInBatch.out
  flink-table/flink-table-planner-blink/src/test/resources/explain/filesystem/testFileSystemTableSinkWithParallelismInStreamingSql0.out
  flink-table/flink-table-planner-blink/src/test/resources/explain/filesystem/testFileSystemTableSinkWithParallelismInStreamingSql1.out
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/utils/TableTestBase.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/FileSystemOptions.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/FileSystemTableFactory.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/FileSystemTableSink.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/stream/StreamingSink.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/filesystem/TestRowDataCsvInputFormat.java
  pom.xml
Labels: component=Connectors/FileSystem, review=description?

#14863 [FLINK-21203]Don’t collect -U&+U Row When they are equals In the LastRowFunction
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecChangelogNormalize.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecDeduplicate.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/EqualiserCodeGenerator.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/deduplicate/DeduplicateFunctionHelper.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/deduplicate/ProcTimeDeduplicateKeepLastRowFunction.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/deduplicate/ProcTimeMiniBatchDeduplicateKeepLastRowFunction.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/deduplicate/ProcTimeDeduplicateFunctionTestBase.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/deduplicate/ProcTimeDeduplicateKeepLastRowFunctionTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/deduplicate/ProcTimeMiniBatchDeduplicateKeepLastRowFunctionTest.java
Labels: component=TableSQL/Runtime, review=description?

#14968 [FLINK-21028][task] Do not interrupt the source thread on stop with savepoint
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/SourceStreamTask.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/SourceStreamTaskTest.java
Labels: component=Runtime/Task, review=description?

#14997 [FLINK-21028][task] Do not interrupt the source thread on stop with savepoint (1.11)
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/SourceStreamTask.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/SourceStreamTaskTest.java
Labels: component=Runtime/Task, review=description?

#14998 [FLINK-21028][task] Do not interrupt the source thread on stop with savepoint (1.12)
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/SourceStreamTask.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/SourceStreamTaskTest.java
Labels: component=Runtime/Task, review=description?

#14967 [FLINK-21101][Azure] Add nightly profile to run all tests with the declarative scheduler
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/sink/FileSinkITBase.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/src/FileSourceTextLinesITCase.java
  flink-end-to-end-tests/run-nightly-tests.sh
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/JobMasterTest.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/table/TableSinkITCase.scala
  flink-test-utils-parent/flink-test-utils-junit/src/main/java/org/apache/flink/testutils/junit/FailsWithAdaptiveScheduler.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/EventTimeAllWindowCheckpointingITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/EventTimeWindowCheckpointingITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/LocalRecoveryITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/ProcessingTimeWindowCheckpointingITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/SavepointITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/UnalignedCheckpointCompatibilityITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/UnalignedCheckpointITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/UnalignedCheckpointTestBase.java
  flink-tests/src/test/java/org/apache/flink/test/streaming/runtime/TimestampITCase.java
  pom.xml
  tools/azure-pipelines/build-apache-repo.yml
  tools/ci/test_controller.sh
Labels: component=Runtime/Coordination, review=description?

#14822 [FLINK-21005][table-api] Introduce new provider for unified Sink API and implement in planner
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/table/connector/sink/DataStreamSinkProvider.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/connector/sink/SinkProvider.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/common/CommonExecSink.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/factories/TestFileFactory.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/processor/MultipleInputNodeCreationProcessorTest.java
  flink-table/flink-table-planner-blink/src/test/resources/META-INF/services/org.apache.flink.table.factories.Factory
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/TableSourceITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/table/TableSinkITCase.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/sink/SinkNotNullEnforcer.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/sink/SinkOperator.java
Labels: component=TableSQL/API, component=TableSQL/Planner, review=description?

#14992 [FLINK-21451][coordination] Remove JobID from TaskExecutionState
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/TaskExecutionStateTransition.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/JobMaster.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/SchedulerBase.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/UpdateSchedulerNgOnInternalFailuresListener.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveScheduler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskExecutor.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskmanager/Task.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskmanager/TaskExecutionState.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/ExecutionGraphCheckpointCoordinatorTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/ArchivedExecutionGraphTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/ExecutionGraphDeploymentTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/ExecutionGraphPartitionReleaseTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmanager/scheduler/UpdatePartitionConsumersTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/JobMasterPartitionReleaseTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/JobMasterTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/DefaultSchedulerBatchSchedulingTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/DefaultSchedulerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/SchedulerTestingUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveSchedulerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/CancelingTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/ExecutingTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/FailingTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskmanager/TaskExecutionStateTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskmanager/TaskTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTest.java
Labels: component=Runtime/Coordination, review=description?

#15009 [FLNK-20659][yarn-test] Adds flink-yarn-test README.md
  flink-yarn-tests/README.md
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YARNSessionCapacitySchedulerITCase.java
Labels: review=description?

#15002 [FLINK-21481][build] Move git-commit-id-plugin execution to flink-runtime
  flink-runtime/pom.xml
  flink-test-utils-parent/flink-test-utils/src/main/java/org/apache/flink/streaming/util/PseudoRandomValueSelector.java
  pom.xml
Labels: component=BuildSystem, review=description?

#15012 fixup! [FLINK-21453][checkpointing][refactor] Replace advanceToEndOfTime with new CheckpointType.SAVEPOINT_TERMINATE
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/api/serialization/EventSerializer.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/api/serialization/EventSerializerTest.java
Labels: component=Runtime/Checkpointing, component=Runtime/Task, review=description?

#15023 [FLINK-21503][tests] Fix unstable UnalignedCheckpointCompatibilityITCase
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/UnalignedCheckpointCompatibilityITCase.java
Labels: component=Runtime/StateBackends, component=Tests, review=description?

#15036 [FLINK-21517][tests] Test harnesses should not bypass serialization stack for events
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/api/writer/RecordOrEventCollectingResultPartitionWriter.java
Labels: component=Runtime/Network, component=Tests, review=description?

#15038 [FLINK-21515][tests] Fix testStopWithSavepointShouldNotInterruptTheSource
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/SourceStreamTaskTest.java
Labels: component=Runtime/Task, review=description?

#15042 [BP-1.12][FLINK-21515][tests] Fix testStopWithSavepointShouldNotInterruptTheSource
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/SourceStreamTaskTest.java
Labels: component=Runtime/Task, review=description?

#15037 [FLINK-21518][tests] Fix testMinCheckpointPause instability
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinatorTest.java
Labels: component=Runtime/Checkpointing, review=description?

#14884 [hotfix][state] Improve error messages in SharedStateRegistry and HeapRestoreOperation
  flink-runtime/src/main/java/org/apache/flink/runtime/state/SharedStateRegistry.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/heap/HeapRestoreOperation.java
Labels: review=description?

#14888 [hotfix][tests] Disable incremental checkpoints in CEPOperatorTest
  flink-libraries/flink-cep/src/test/java/org/apache/flink/cep/operator/CEPOperatorTest.java
Labels: review=description?

#14889 [hotfix][tests] Improve ProcessingTimeWindowCheckpointingITCase
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/ProcessingTimeWindowCheckpointingITCase.java
Labels: review=description?

#14885 [hotfix][checkpointing] Log detailed statistic (TRACE)
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/PendingCheckpoint.java
Labels: review=description?

#14883 [hotfix][state] Serialize KeyGroupsStateHandle in shared Incremental …
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/metadata/MetadataV2V3SerializerBase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/metadata/MetadataV3SerializerTest.java
Labels: review=description?

#15041 [BP-1.12][FLINK-21518][tests] Fix testMinCheckpointPause instability
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinatorTest.java
Labels: component=Runtime/Checkpointing, review=description?
