Repository apache/flink, pull requests merged in 2021-10, with the labels that each got.

#17354 [FLINK-24200][streaming] Calculating maximum alignment time rather than using the constant value
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/CheckpointBarrierTrackerTest.java
Labels: component=Runtime/Checkpointing

#17395 [FLINK-24410] Upgrade Confluent Platform OSS version in end-to-end tests
  flink-end-to-end-tests/test-scripts/kafka-common.sh
  flink-end-to-end-tests/test-scripts/test_confluent_schema_registry.sh
  flink-end-to-end-tests/test-scripts/test_pyflink.sh
  flink-end-to-end-tests/test-scripts/test_sql_client.sh
Labels: component=Tests, component=Connectors/Kafka, component=TableSQL/Client

#17397 [BP-1.14][FLINK-24117][HA]Remove unHandledErrorListener in ZooKeeperLeaderElectionDriver and ZooKeeperLeaderRetrievalDriver
  flink-runtime/src/main/java/org/apache/flink/runtime/leaderelection/ZooKeeperLeaderElectionDriver.java
  flink-runtime/src/main/java/org/apache/flink/runtime/leaderretrieval/ZooKeeperLeaderRetrievalDriver.java
  flink-runtime/src/main/java/org/apache/flink/runtime/util/ZooKeeperUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderelection/ZooKeeperLeaderElectionTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderretrieval/ZooKeeperLeaderRetrievalConnectionHandlingTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderretrieval/ZooKeeperLeaderRetrievalTest.java
Labels: component=Runtime/Coordination

#17412 [FLINK-23049][tests] Checkpoint is triggered manually for UnalignedCh…
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/UnalignedCheckpointCompatibilityITCase.java
Labels: component=Runtime/Checkpointing

#17410 [FLINK-24445][build] Copy rpc-akka jar in package phase
  flink-rpc/flink-rpc-akka-loader/pom.xml
Labels: component=BuildSystem

#17342 [FLINK-20928] Fix flaky test by retrying notifyCheckpointComplete until either commit success or timeout
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/source/reader/KafkaSourceReader.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/source/reader/KafkaSourceReaderTest.java
  flink-test-utils-parent/flink-test-utils-junit/src/main/java/org/apache/flink/core/testutils/CommonTestUtils.java
Labels: review=description?, component=Connectors/Kafka

#17594 [FLINK-24612][connectors/kafka] Configure Kafka test container log levels accordingly to test logger
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/sink/FlinkKafkaInternalProducerITCase.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/sink/KafkaSinkITCase.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/sink/KafkaTransactionLogITCase.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/sink/KafkaUtil.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/sink/KafkaWriterITCase.java
Labels: component=Connectors/Kafka

#17586 [FLINK-24408][table-planner] Enable code splitting for large number of VALUES clause
  flink-table/flink-table-code-splitter/src/main/java/org/apache/flink/table/codesplit/JavaCodeSplitter.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/InputFormatCodeGenerator.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/CodeSplitITCase.scala
Labels: component=TableSQL/Runtime

#17528 [FLINK-24563][table-planner] Fix NullPointerException when comparing timestamp_ltz with random string
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/calls/ScalarOperatorGens.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/expressions/ScalarOperatorsTest.scala
Labels: component=TableSQL/Runtime

#17529 [FLINK-24563][table-planner] Fix NullPointerException when comparing timestamp_ltz with random string
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/calls/ScalarOperatorGens.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/expressions/ScalarOperatorsTest.scala
Labels: component=TableSQL/Runtime
