Repository apache/flink, pull requests merged in 2021-06, with the labels that each got.

#15974 [FLINK-22722][docs/kafka] Add documentation for Kafka new source
  docs/content/docs/connectors/datastream/kafka.md
Labels: component=Documentation, review=description?

#16010 [FLINK-21741][sql-client] Support SHOW JARS statement in SQL Client
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliClient.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/Executor.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/context/SessionContext.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/LocalExecutor.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliClientTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliResultViewTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/TestingExecutor.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/context/SessionContextTest.java
  flink-table/flink-sql-client/src/test/resources/sql/function.q
  flink-table/flink-sql-client/src/test/resources/sql/set.q
  flink-table/flink-sql-parser-hive/src/main/codegen/data/Parser.tdd
  flink-table/flink-sql-parser-hive/src/main/codegen/includes/parserImpls.ftl
  flink-table/flink-sql-parser-hive/src/test/java/org/apache/flink/sql/parser/hive/FlinkHiveSqlParserImplTest.java
  flink-table/flink-sql-parser/src/main/codegen/data/Parser.tdd
  flink-table/flink-sql-parser/src/main/codegen/includes/parserImpls.ftl
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/dql/SqlShowJars.java
  flink-table/flink-sql-parser/src/test/java/org/apache/flink/sql/parser/FlinkSqlParserImplTest.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/command/ShowJarsOperation.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/operations/SqlToOperationConverter.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/calcite/FlinkPlannerImpl.scala
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/operations/SqlToOperationConverterTest.java
Labels: component=TableSQL/Client, review=description?

#16036 [FLINK-22689][doc] Table API Documentation Row-Based Operations Examp…
  docs/content/docs/dev/table/tableApi.md
Labels: component=TableSQL/API, review=description?

#16033 [FLINK-22814][metrics] Calculate checkpointStartDelay for FLIP-27 sources
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/SourceOperatorStreamTask.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/SourceOperatorStreamTaskTest.java
Labels: component=API/DataStream, component=Runtime/Metrics, review=description?

#16041 [FLINK-22756] Ignore leadership future termination during testing
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/DispatcherTest.java
Labels: component=Runtime/Coordination, review=description?

#16044 [FLINK-22820] Allow storing SUSPENDED jobs in FileExecutionGraphInfoS…
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/FileExecutionGraphInfoStore.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/FileExecutionGraphInfoStoreTest.java
Labels: component=Deployment/Kubernetes, component=Deployment/Mesos, component=Deployment/YARN, component=Runtime/Coordination, review=description?

#13921 [FLINK-19896][table-blink] Improve first-n-row fetching in the Rank o…
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecRank.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/runtime/stream/jsonplan/RankJsonPlanITCase.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/rank/AppendOnlyFirstNFunction.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/rank/AppendOnlyFirstNFunctionTest.java
Labels: component=TableSQL/Planner, component=TableSQL/Runtime, review=description?

#16029 [FLINK-22786][sql-client] sql-client can not create .flink-sql-history file
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliUtils.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliUtilsTest.java
Labels: component=TableSQL/Client, review=description?

#16049 [FLINK-22795] Throw better exception when executing remote SQL file in SQL Client
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliOptionsParser.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/SqlClientTest.java
Labels: component=TableSQL/Client, review=description?

#16048 [FLINK-22820] Allow storing SUSPENDED jobs in FileArchivedExecutionGr…
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/FileArchivedExecutionGraphStore.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/FileArchivedExecutionGraphStoreTest.java
Labels: component=Deployment/Kubernetes, component=Deployment/Mesos, component=Deployment/YARN, component=Runtime/Coordination, review=description?

#16045 [FLINK-22820] Allow storing SUSPENDED jobs in FileExecutionGraphInfoS…
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/FileExecutionGraphInfoStore.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/FileExecutionGraphInfoStoreTest.java
Labels: component=Deployment/Kubernetes, component=Deployment/Mesos, component=Deployment/YARN, component=Runtime/Coordination, review=description?

#16059 [BP][FLINK-22795][sql-client] Throw better exception when executing remote SQL file in SQL Client
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliOptionsParser.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/SqlClientTest.java
Labels: component=TableSQL/Client, review=description?

#16082 [hotfix][docs] Corrected markup backtick
  docs/content.zh/docs/dev/table/sql/queries/over-agg.md
  docs/content/docs/dev/table/sql/queries/over-agg.md
Labels: review=description?

#16085 [hotfix][docs] Corrected artifactId element in example
  docs/content.zh/docs/connectors/table/overview.md
  docs/content/docs/connectors/table/overview.md
Labels: review=description?

#16062 [FLINK-22854][docs-zh] Translate 'Apache Flink Documentation' index page to Chinese.
  docs/content.zh/_index.md
Labels: component=chinese-translation, review=description?

#15866 [FLINK-22562][docs-zh]Translate recent updates to backpressure and ch…
  docs/content.zh/docs/ops/monitoring/back_pressure.md
Labels: component=chinese-translation, review=description?

#16013 [FLINK-21742][sql-client] Support REMOVE JAR statement in SQL Client
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliClient.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliStrings.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/Executor.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/context/SessionContext.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/LocalExecutor.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliClientTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliResultViewTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/TestingExecutor.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/context/SessionContextTest.java
  flink-table/flink-sql-client/src/test/resources/sql/function.q
  flink-table/flink-sql-parser-hive/src/main/codegen/data/Parser.tdd
  flink-table/flink-sql-parser-hive/src/main/codegen/includes/parserImpls.ftl
  flink-table/flink-sql-parser-hive/src/test/java/org/apache/flink/sql/parser/hive/FlinkHiveSqlParserImplTest.java
  flink-table/flink-sql-parser/src/main/codegen/data/Parser.tdd
  flink-table/flink-sql-parser/src/main/codegen/includes/parserImpls.ftl
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlRemoveJar.java
  flink-table/flink-sql-parser/src/test/java/org/apache/flink/sql/parser/FlinkSqlParserImplTest.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/command/RemoveJarOperation.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/operations/SqlToOperationConverter.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/operations/SqlToOperationConverterTest.java
Labels: component=TableSQL/Client, review=description?

#16098 [FLINK-22905][docs] Versioned Table's SQL Script was missing a "," at Line 7 which yields Could not execute SQL statement ERROR
  docs/content/docs/dev/table/concepts/versioned_tables.md
Labels: component=Documentation, review=description?

#16081 [FLINK-22856][Azure] Upgrade to ubuntu-20.04
  azure-pipelines.yml
  flink-end-to-end-tests/run-nightly-tests.sh
  flink-end-to-end-tests/test-scripts/common_docker.sh
  flink-end-to-end-tests/test-scripts/common_kubernetes.sh
  tools/azure-pipelines/build-apache-repo.yml
  tools/azure-pipelines/build-nightly-dist.yml
  tools/azure-pipelines/build-python-wheels.yml
  tools/azure-pipelines/jobs-template.yml
Labels: component=BuildSystem/AzurePipelines, review=description?

#16088 [FLINK-22894][table-runtime-blink] Fix rankEnd validation of WindowRank to support top1
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/WindowRankITCase.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/rank/window/WindowRankOperatorBuilder.java
Labels: component=TableSQL/Runtime, review=description?

#16027 [FLINK-22472][filesystem] close file of partition when partition is committable
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSink.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/sink/filesystem/Bucket.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/sink/filesystem/Buckets.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/FileSystemTableSink.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/stream/AbstractStreamingWriter.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/stream/PartitionCommitPredicate.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/stream/PartitionCommitTrigger.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/stream/PartitionTimeCommitPredicate.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/stream/PartitionTimeCommitTrigger.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/stream/ProcTimeCommitPredicate.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/stream/ProcTimeCommitTrigger.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/stream/StreamingFileWriter.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/stream/StreamingSink.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/filesystem/stream/StreamingFileWriterTest.java
Labels: component=Connectors/FileSystem, component=Connectors/Hive, review=description?

#16106 [FLINK-22734][table] Close input stream
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/extraction/ExtractionUtils.java
Labels: component=TableSQL/Runtime, review=description?

#15982 [FLINK-22284] Log the remote address when channel is closed in NettyPartitionRequestClient
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/netty/NettyPartitionRequestClient.java
Labels: component=Runtime/Network, review=description?

#16120 [FLINK-22939][azure] Generalize JDK switch
  azure-pipelines.yml
  tools/azure-pipelines/build-apache-repo.yml
  tools/azure-pipelines/jobs-template.yml
Labels: component=BuildSystem/AzurePipelines, review=description?

#15835 [FLINK-19164][release] Use versions-maven-plugin to properly update versions
  tools/releasing/create_release_branch.sh
  tools/releasing/update_branch_version.sh
Labels: component=Deployment/Scripts, component=ReleaseSystem, review=description?

#16117 [BP-1.13][FLINK-22889][tests] Ignore JdbcExactlyOnceSinkE2eTest temporarily
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/xa/JdbcExactlyOnceSinkE2eTest.java
Labels: component=Connectors/JDBC, review=description?

#16101 [FLINK-22682][runtime] Expanded 'Completed checkpoint' log by finaliz…
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CompletedCheckpoint.java
Labels: component=Runtime/Checkpointing, review=description?

#16094 [FLINK-22454][table-planner-blink] only ignore casting on interoperable type when extracting lookup keys
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/common/CommonPhysicalLookupJoin.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/join/LookupJoinTest.scala
Labels: component=TableSQL/Planner, review=description?

#16022 [FLINK-21301][table-planner-blink] Decouple window aggregate allow lateness with state ttl configuration
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/utils/WindowEmitStrategy.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/agg/GroupWindowTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/agg/GroupWindowTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/GroupWindowITCase.scala
Labels: component=TableSQL/API, review=description?

#16130 [FLINK-22952][azure] Remove Ruby usage
  tools/azure-pipelines/build-apache-repo.yml
Labels: component=TestInfrastructure, review=description?

#16131 [1.12][FLINK-22952][azure] Use Ruby 2.5.9
  tools/azure-pipelines/build-apache-repo.yml
Labels: component=TestInfrastructure, review=description?

#16124 [FLINK-22931][build] Migrate to flink-shaded-force-shading
  flink-quickstart/flink-quickstart-java/src/main/resources/archetype-resources/pom.xml
  flink-quickstart/flink-quickstart-scala/src/main/resources/archetype-resources/pom.xml
  flink-walkthroughs/flink-walkthrough-datastream-java/src/main/resources/archetype-resources/pom.xml
  flink-walkthroughs/flink-walkthrough-datastream-scala/src/main/resources/archetype-resources/pom.xml
  pom.xml
  tools/force-shading/pom.xml
  tools/releasing/create_release_branch.sh
  tools/releasing/update_branch_version.sh
Labels: component=BuildSystem, review=description?

#16132 [FLINK-22908][tests] Wait until cluster is started before testing shu…
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/FileExecutionGraphInfoStoreTest.java
Labels: component=Runtime/Coordination, review=description?

#16144 [BP-1.12][FLINK-22908] Wait until cluster is started before testing shutdown
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/FileArchivedExecutionGraphStoreTest.java
Labels: component=Runtime/Coordination, review=description?

#16140 [FLINK-22015][table-planner-blink] Exclude IS NULL from SEARCH operators
  flink-table/flink-table-planner-blink/src/main/java/org/apache/calcite/rex/RexSimplify.java
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/CalcTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/CalcTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/batch/sql/CalcTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/CalcTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/CalcITCase.scala
Labels: component=TableSQL/Planner, review=description?

#16126 [FLINK-22934][docs] Add instructions for using the " ' " escape syntax of SQL client
  docs/content.zh/docs/dev/table/sql/queries/overview.md
  docs/content/docs/dev/table/sql/queries/overview.md
Labels: component=Documentation, component=TableSQL/API, review=description?

#16104 [FLINK-22730][table-planner-blink] Add per record code when generating table function collector code for lookup joins
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/LookupJoinCodeGenerator.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/agg/AggsHandlerCodeGenerator.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/agg/batch/WindowCodeGenerator.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/LookupJoinITCase.scala
Labels: component=TableSQL/Runtime, review=description?

#15725 [FLINK-21389] determine parquet schema from file instead of taking it from user
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/ParquetInputFormat.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/ParquetMapInputFormat.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/ParquetPojoInputFormat.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/ParquetRowInputFormat.java
  flink-formats/flink-parquet/src/test/java/org/apache/flink/formats/parquet/ParquetInputFormatTest.java
Labels: component=Formats, review=description?

#15250 [FLINK-20318][Connector/kafka]Fix cast question for properies() method in kafka ConnectorDescriptor
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/table/descriptors/Kafka.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/table/descriptors/KafkaTest.java
Labels: component=Connectors/Kafka, review=description?

#16102 [FLINK-22818][runtime] IgnoreInFlightDataITCase is blocking the map s…
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/IgnoreInFlightDataITCase.java
Labels: component=Runtime/Checkpointing, review=description?

#16128 [FLINK-22957][table-runtime] Rank TTL should use enableTimeToLive of state instead of timer
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecRank.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/rank/AbstractTopNFunction.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/rank/AppendOnlyFirstNFunction.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/rank/AppendOnlyTopNFunction.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/rank/RetractableTopNFunction.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/rank/UpdatableTopNFunction.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/rank/AppendOnlyFirstNFunctionTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/rank/AppendOnlyTopNFunctionTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/rank/RetractableTopNFunctionTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/rank/TopNFunctionTestBase.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/rank/UpdatableTopNFunctionTest.java
Labels: component=TableSQL/Runtime, review=description?

#16167 [FLINK-22818][runtime] Emit constant numbers of data before the first…
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/IgnoreInFlightDataITCase.java
Labels: component=Runtime/Checkpointing, review=description?

#16091 [FLINK-22899][table] ValuesUpsertSinkFunction needs to use global upsert
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/factories/TestValuesRuntimeFunctions.java
Labels: component=TableSQL/Runtime, review=description?

#16168 [FLINK-23003][runtime] Fix resource leak in RocksIncrementalSnapshotStrategy
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBKeyedStateBackend.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBKeyedStateBackendBuilder.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/snapshot/RocksDBSnapshotStrategyBase.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/snapshot/RocksFullSnapshotStrategy.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/snapshot/RocksIncrementalSnapshotStrategy.java
Labels: component=Runtime/Checkpointing, component=Runtime/StateBackends, review=description?

#16176 [FLINK-23003][runtime] Fix resource leak in RocksIncrementalSnapshotStrategy
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBKeyedStateBackend.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBKeyedStateBackendBuilder.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/snapshot/RocksDBSnapshotStrategyBase.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/snapshot/RocksFullSnapshotStrategy.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/snapshot/RocksIncrementalSnapshotStrategy.java
Labels: component=Runtime/Checkpointing, component=Runtime/StateBackends, review=description?

#16084 [FLINK-22518][docs] Translate the page of "High Availability (HA)" in…
  docs/content.zh/docs/deployment/ha/_index.md
  docs/content.zh/docs/deployment/ha/kubernetes_ha.md
  docs/content.zh/docs/deployment/ha/overview.md
  docs/content.zh/docs/deployment/ha/zookeeper_ha.md
Labels: component=chinese-translation, review=description?

#16185 [FLINK-18182][kinesis] Updating to latest AWS SDK for Kinesis connector
  flink-connectors/flink-connector-kinesis/pom.xml
  flink-connectors/flink-connector-kinesis/src/main/resources/META-INF/NOTICE
Labels: component=Connectors/Kinesis, review=description?

#16174 [FLINK-22946][runtime] Recycle floating buffer outside the lock to avoid deadlock
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/BufferManager.java
Labels: component=Runtime/Checkpointing, review=description?

#16180 [FLINK-22980][tests] Set parallelism on job vertex required by adapti…
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/FileExecutionGraphInfoStoreTest.java
Labels: component=Runtime/Coordination, review=description?

#16181 [BP-1.13][FLINK-22980][tests] Set parallelism on job vertex required by adapti…
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/FileExecutionGraphInfoStoreTest.java
Labels: component=Runtime/Coordination, review=description?

#16187 [FLINK-23009][kinesis] Upgrade Guava for Flink Connector Kinesis
  flink-connectors/flink-connector-kinesis/pom.xml
  flink-connectors/flink-sql-connector-kinesis/pom.xml
  flink-connectors/flink-sql-connector-kinesis/src/main/resources/META-INF/NOTICE
Labels: component=Connectors/Kinesis, review=description?

#16035 [FLINK-22808][state/changelog] Log metadata
  flink-state-backends/flink-statebackend-changelog/src/main/java/org/apache/flink/state/changelog/AbstractStateChangeLogger.java
  flink-state-backends/flink-statebackend-changelog/src/main/java/org/apache/flink/state/changelog/ChangelogKeyedStateBackend.java
  flink-state-backends/flink-statebackend-changelog/src/main/java/org/apache/flink/state/changelog/KvStateChangeLoggerImpl.java
  flink-state-backends/flink-statebackend-changelog/src/main/java/org/apache/flink/state/changelog/PriorityQueueStateChangeLoggerImpl.java
  flink-state-backends/flink-statebackend-changelog/src/test/java/org/apache/flink/state/changelog/KvStateChangeLoggerImplTest.java
  flink-state-backends/flink-statebackend-changelog/src/test/java/org/apache/flink/state/changelog/PriorityQueueStateChangeLoggerImplTest.java
  flink-state-backends/flink-statebackend-changelog/src/test/java/org/apache/flink/state/changelog/StateChangeLoggerTestBase.java
Labels: component=Runtime/StateBackends, review=description?

#16075 [FLINK-22873][config][docs] Add ToC
  docs/content/docs/deployment/config.md
Labels: component=Documentation, review=description?

#16112 [FLINK-20891][metrics][tests] Check that thread is still alive
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/utils/SystemResourcesCounterTest.java
Labels: component=Tests, review=description?

#16178 [FLINK-23018][state] Enable TTL state factory to handle extended state descriptors
  flink-queryable-state/flink-queryable-state-client-java/src/main/java/org/apache/flink/queryablestate/client/QueryableStateClient.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/heap/HeapKeyedStateBackend.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/ttl/TtlStateFactory.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/ttl/mock/MockKeyedStateBackend.java
  flink-state-backends/flink-statebackend-changelog/src/main/java/org/apache/flink/state/changelog/ChangelogKeyedStateBackend.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBKeyedStateBackend.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/sorted/state/BatchExecutionKeyedStateBackend.java
Labels: component=Runtime/StateBackends, review=description?

#16162 [hotfix][docs] fix img links and previous docs link
  docs/config.toml
  docs/content.zh/docs/deployment/resource-providers/standalone/overview.md
  docs/content.zh/docs/dev/python/table/udfs/python_udfs.md
  docs/content.zh/docs/dev/table/functions/udfs.md
  docs/content.zh/docs/dev/table/tuning.md
  docs/content.zh/docs/internals/job_scheduling.md
  docs/content.zh/docs/libs/gelly/bipartite_graph.md
  docs/content.zh/docs/libs/gelly/graph_api.md
  docs/content.zh/docs/libs/gelly/iterative_graph_processing.md
  docs/content.zh/docs/try-flink/datastream.md
  docs/content/docs/dev/python/table/udfs/python_udfs.md
  docs/content/docs/dev/table/functions/udfs.md
  docs/content/docs/libs/gelly/bipartite_graph.md
  docs/content/docs/libs/gelly/graph_api.md
  docs/content/docs/libs/gelly/iterative_graph_processing.md
  docs/static/fig/quickstart_cluster.png
Labels: review=description?

#16161 [FLINK-22993][filesystem] Fix the issue that CompactFileWriter won't emit EndCheckpoint with Long.MAX_VALUE checkpointId even though the inputs end.
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/stream/compact/CompactFileWriter.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/filesystem/stream/compact/CompactFileWriterTest.java
Labels: component=Connectors/FileSystem, component=Connectors/Hive, review=description?

#16122 [FLINK-21195][Connectors/FileSystem]LimitableBulkFormat is invalid wh…
  flink-formats/flink-orc/src/test/java/org/apache/flink/orc/OrcFileSystemITCase.java
  flink-formats/flink-parquet/src/test/java/org/apache/flink/formats/parquet/ParquetFileSystemITCase.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/filesystem/LimitableBulkFormat.java
Labels: component=Connectors/FileSystem, review=description?

#16164 [FLINK-22987][ci] Fix scala suffix check
  tools/ci/compile.sh
  tools/ci/java-ci-tools/src/main/java/org/apache/flink/tools/ci/suffixcheck/ScalaSuffixChecker.java
  tools/ci/verify_scala_suffixes.sh
Labels: component=BuildSystem/CI, review=description?

#16186 [hotfix][docs] Fix groupBy() javadocs
  flink-java/src/main/java/org/apache/flink/api/java/DataSet.java
Labels: review=description?

#16194 [FLINK-21952][network] Make all the "Connection reset by peer" exception wrapped as RemoteTransportException
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/netty/CreditBasedPartitionRequestClientHandler.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/netty/CreditBasedPartitionRequestClientHandlerTest.java
Labels: component=Runtime/Network, review=description?

#16096 [FLINK-22901][table] Introduce getUpsertKeys in FlinkRelMetadataQuery
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/metadata/FlinkMetadata.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/metadata/FlinkRelMetadataQuery.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/metadata/FlinkDefaultRelMetadataProvider.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdUniqueKeys.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdUpsertKeys.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamPhysicalOverAggregate.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/optimize/StreamCommonSubGraphBasedOptimizer.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/schema/IntermediateRelTable.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdHandlerTestBase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdUpsertKeysTest.scala
Labels: component=TableSQL/Planner, review=description?

#16199 [FLINK-23034][runtime] Added compatibility for ExecutionState in Hist…
  flink-runtime/src/main/java/org/apache/flink/runtime/messages/webmonitor/JobDetails.java
  flink-runtime/src/test/java/org/apache/flink/runtime/messages/webmonitor/JobDetailsTest.java
Labels: component=<none>, review=description?

#16171 [FLINK-22886][State Backends] fix Thread leak in RocksDBStateUploader
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBKeyedStateBackendBuilder.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBStateDataTransfer.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/snapshot/RocksIncrementalSnapshotStrategy.java
  flink-state-backends/flink-statebackend-rocksdb/src/test/java/org/apache/flink/contrib/streaming/state/EmbeddedRocksDBStateBackendTest.java
Labels: component=Runtime/StateBackends, review=description?

#16193 [FLINK-23030][network] PartitionRequestClientFactory#createPartitionRequestClient should throw when network failure
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/netty/PartitionRequestClientFactory.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/netty/NeverCompletingChannelFuture.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/netty/PartitionRequestClientFactoryTest.java
Labels: component=Runtime/Network, review=description?

#16110 [FLINK-22045][conf] Sync log level between ZK and shaded-ZK
  flink-dist/src/main/flink-bin/conf/log4j-console.properties
  flink-dist/src/main/flink-bin/conf/log4j-session.properties
  flink-dist/src/main/flink-bin/conf/log4j.properties
  tools/ci/log4j.properties
Labels: component=Runtime/Coordination, review=description?

#16216 [FLINK-23060] Move FutureUtils#toJava to separate class
  flink-mesos/src/main/java/org/apache/flink/mesos/runtime/clusterframework/MesosResourceManagerActorFactoryImpl.java
  flink-runtime/src/main/java/org/apache/flink/runtime/concurrent/FutureUtils.java
  flink-runtime/src/main/java/org/apache/flink/runtime/concurrent/akka/AkkaFutureUtils.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rpc/akka/AkkaInvocationHandler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rpc/akka/AkkaRpcService.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rpc/akka/FencedAkkaInvocationHandler.java
  flink-runtime/src/main/scala/org/apache/flink/runtime/akka/AkkaUtils.scala
  flink-runtime/src/test/java/org/apache/flink/runtime/rpc/AsyncCallsTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rpc/RpcConnectionTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rpc/RpcEndpointTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rpc/akka/AkkaRpcActorTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rpc/akka/AkkaRpcServiceTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rpc/akka/TimeoutCallStackTest.java
Labels: component=Runtime/Coordination, review=description?

#16157 [FLINK-22989][coordination][tests] Port Tasks to Java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmanager/Tasks.java
  flink-runtime/src/test/scala/org/apache/flink/runtime/jobmanager/Tasks.scala
Labels: component=Runtime/Coordination, component=Tests, review=description?

#16153 [FLINK-22678] Configurations and user APIs for ChangelogStateBackend
  docs/layouts/shortcodes/generated/checkpointing_configuration.html
  docs/layouts/shortcodes/generated/common_state_backends_section.html
  flink-core/src/main/java/org/apache/flink/configuration/CheckpointingOptions.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/BootstrapTransformation.java
  flink-python/pyflink/datastream/tests/test_stream_execution_environment_completeness.py
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/DefaultExecutionGraphBuilder.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobgraph/tasks/JobCheckpointingSettings.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/StateBackendLoader.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointSettingsSerializableTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/SchedulerTestingUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/StateBackendLoadingTest.java
  flink-state-backends/flink-statebackend-changelog/pom.xml
  flink-state-backends/flink-statebackend-changelog/src/main/java/org/apache/flink/state/changelog/ChangelogStateBackend.java
  flink-state-backends/flink-statebackend-changelog/src/test/java/org/apache/flink/state/changelog/ChangelogStateBackendLoadingTest.java
  flink-state-backends/flink-statebackend-rocksdb/src/test/java/org/apache/flink/contrib/streaming/state/RocksDBStateBackendFactoryTest.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/environment/StreamExecutionEnvironment.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/StreamConfig.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/StreamGraph.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/StreamGraphGenerator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/StreamingJobGraphGenerator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/environment/StreamExecutionEnvironmentComplexConfigurationTest.java
  flink-streaming-scala/src/main/scala/org/apache/flink/streaming/api/scala/StreamExecutionEnvironment.scala
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/utils/ExecutorUtils.java
Labels: component=<none>, review=description?

#16183 [FLINK-22974][dist] Add execution checkpointing related configs in flink-conf.yaml
  flink-dist/src/main/resources/flink-conf.yaml
Labels: component=BuildSystem, review=description?

#16191 [FLINK-23029] Extend PluginLoader to allow closing ClassLoader
  flink-core/src/main/java/org/apache/flink/core/plugin/PluginLoader.java
  flink-tests/src/test/java/org/apache/flink/test/plugin/PluginLoaderTest.java
Labels: component=Runtime/Coordination, review=description?

#16222 [BP-1.13][FLINK-22698][connectors/rabbitmq] Add deliveryTimeout to RabbitMQ source
  flink-connectors/flink-connector-rabbitmq/pom.xml
  flink-connectors/flink-connector-rabbitmq/src/main/java/org/apache/flink/streaming/connectors/rabbitmq/RMQSource.java
  flink-connectors/flink-connector-rabbitmq/src/main/java/org/apache/flink/streaming/connectors/rabbitmq/common/RMQConnectionConfig.java
  flink-connectors/flink-connector-rabbitmq/src/test/java/org/apache/flink/streaming/connectors/rabbitmq/RMQSourceITCase.java
  flink-connectors/flink-connector-rabbitmq/src/test/java/org/apache/flink/streaming/connectors/rabbitmq/RMQSourceTest.java
  flink-connectors/flink-connector-rabbitmq/src/test/java/org/apache/flink/streaming/connectors/rabbitmq/common/RMQConnectionConfigTest.java
Labels: component=Connectors/RabbitMQ, review=description?

#16223 [BP-1.12][FLINK-22698][connectors/rabbitmq] Add deliveryTimeout to RabbitMQ source
  flink-connectors/flink-connector-rabbitmq/pom.xml
  flink-connectors/flink-connector-rabbitmq/src/main/java/org/apache/flink/streaming/connectors/rabbitmq/RMQSource.java
  flink-connectors/flink-connector-rabbitmq/src/main/java/org/apache/flink/streaming/connectors/rabbitmq/common/RMQConnectionConfig.java
  flink-connectors/flink-connector-rabbitmq/src/test/java/org/apache/flink/streaming/connectors/rabbitmq/RMQSourceITCase.java
  flink-connectors/flink-connector-rabbitmq/src/test/java/org/apache/flink/streaming/connectors/rabbitmq/RMQSourceTest.java
  flink-connectors/flink-connector-rabbitmq/src/test/java/org/apache/flink/streaming/connectors/rabbitmq/common/RMQConnectionConfigTest.java
Labels: component=Connectors/RabbitMQ, review=description?

#16023 [FLINK-22698][connectors/rabbitmq] Add deliveryTimeout parameter to RabbitMQ source
  flink-connectors/flink-connector-rabbitmq/pom.xml
  flink-connectors/flink-connector-rabbitmq/src/main/java/org/apache/flink/streaming/connectors/rabbitmq/RMQSource.java
  flink-connectors/flink-connector-rabbitmq/src/main/java/org/apache/flink/streaming/connectors/rabbitmq/common/RMQConnectionConfig.java
  flink-connectors/flink-connector-rabbitmq/src/test/java/org/apache/flink/streaming/connectors/rabbitmq/RMQSourceITCase.java
  flink-connectors/flink-connector-rabbitmq/src/test/java/org/apache/flink/streaming/connectors/rabbitmq/RMQSourceTest.java
  flink-connectors/flink-connector-rabbitmq/src/test/java/org/apache/flink/streaming/connectors/rabbitmq/common/RMQConnectionConfigTest.java
Labels: component=Connectors/RabbitMQ, review=description?

#16237 [FLINK-23081] Move Executors#directExecutorContext to AkkaFutureUtils
  flink-runtime/src/main/java/org/apache/flink/runtime/concurrent/Executors.java
  flink-runtime/src/main/java/org/apache/flink/runtime/concurrent/akka/AkkaFutureUtils.java
Labels: component=Runtime/Coordination, review=description?

#16217 [FLINK-23061] Split BootstrapTools
  flink-runtime/src/main/java/org/apache/flink/runtime/clusterframework/BootstrapTools.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/util/MetricUtils.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rpc/akka/AkkaBootstrapTools.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rpc/akka/AkkaRpcServiceUtils.java
  flink-runtime/src/main/scala/org/apache/flink/runtime/akka/AkkaUtils.scala
  flink-runtime/src/test/java/org/apache/flink/runtime/clusterframework/BootstrapToolsTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rpc/akka/AkkaBootstrapToolsTest.java
  flink-runtime/src/test/scala/org/apache/flink/runtime/akka/AkkaUtilsTest.scala
Labels: component=Runtime/Coordination, review=description?

#16234 [FLINK-22886][state] Fix thread leak and add unit test in RocksIncrem…
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBKeyedStateBackend.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBKeyedStateBackendBuilder.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBStateDataTransfer.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/snapshot/RocksDBSnapshotStrategyBase.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/snapshot/RocksFullSnapshotStrategy.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/snapshot/RocksIncrementalSnapshotStrategy.java
  flink-state-backends/flink-statebackend-rocksdb/src/test/java/org/apache/flink/contrib/streaming/state/RocksDBStateBackendTest.java
Labels: component=Runtime/StateBackends, review=description?

#16190 [FLINK-23027] Move chill dependency to flink-scala
  flink-formats/flink-avro/pom.xml
  flink-libraries/flink-cep/pom.xml
  flink-runtime/pom.xml
  flink-scala/pom.xml
  flink-scala/src/main/scala/org/apache/flink/runtime/types/FlinkChillPackageRegistrar.java
  flink-scala/src/main/scala/org/apache/flink/runtime/types/FlinkScalaKryoInstantiator.scala
  flink-scala/src/main/scala/org/apache/flink/runtime/types/JavaIterableWrapperSerializer.scala
  flink-scala/src/main/scala/org/apache/flink/runtime/types/PriorityQueueSerializer.java
  flink-scala/src/test/java/org/apache/flink/runtime/misc/KryoSerializerRegistrationsTest.java
  flink-scala/src/test/resources/flink_11-kryo_registrations
  flink-streaming-java/pom.xml
  flink-table/flink-table-runtime-blink/pom.xml
  pom.xml
Labels: component=API/TypeSerializationSystem, review=description?

#16158 [FLINK-22990][tests] Remove unused classes
  flink-runtime/src/main/java/org/apache/flink/runtime/util/ScalaUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/util/ScalaUtilsTest.java
  flink-runtime/src/test/scala/org/apache/flink/runtime/testingUtils/TestingMessages.scala
Labels: component=Tests, review=description?

#16159 [FLINK-22991][network] Use Optional in NettyBufferPool
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/netty/NettyBufferPool.java
Labels: component=Runtime/Network, review=description?

#16220 [FLINK-23033][python] Add the missing ObjectArrayTypeInfo
  docs/content.zh/docs/dev/python/datastream/data_types.md
  docs/content/docs/dev/python/datastream/data_types.md
  flink-python/pyflink/common/__init__.py
  flink-python/pyflink/common/tests/test_typeinfo.py
  flink-python/pyflink/common/typeinfo.py
  flink-python/pyflink/datastream/tests/test_data_stream.py
  flink-python/pyflink/datastream/utils.py
  flink-python/pyflink/fn_execution/coder_impl_fast.pxd
  flink-python/pyflink/fn_execution/coder_impl_fast.pyx
  flink-python/pyflink/fn_execution/coder_impl_slow.py
  flink-python/pyflink/fn_execution/coders.py
  flink-python/pyflink/fn_execution/flink_fn_execution_pb2.py
  flink-python/pyflink/fn_execution/tests/test_coders.py
  flink-python/pyflink/proto/flink-fn-execution.proto
  flink-python/src/main/java/org/apache/flink/streaming/api/utils/PythonTypeUtils.java
  flink-python/src/test/java/org/apache/flink/streaming/api/utils/PythonTypeUtilsTest.java
Labels: component=API/Python, review=description?

#16253 [FLINK-23082] Split AkkaRpcServiceUtils
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/Dispatcher.java
  flink-runtime/src/main/java/org/apache/flink/runtime/highavailability/HighAvailabilityServicesUtils.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/JobMaster.java
  flink-runtime/src/main/java/org/apache/flink/runtime/resourcemanager/ResourceManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rpc/RpcServiceUtils.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rpc/akka/AkkaRpcServiceUtils.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskExecutor.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rpc/akka/AkkaRpcActorTest.java
Labels: component=Runtime/Coordination, review=description?

#16165 [FLINK-22997] Replace AkkaUtils#get*Timeout*
  docs/layouts/shortcodes/generated/akka_configuration.html
  flink-clients/src/test/java/org/apache/flink/client/program/ClientTest.java
  flink-core/src/main/java/org/apache/flink/api/common/time/Time.java
  flink-core/src/main/java/org/apache/flink/configuration/AkkaOptions.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/DefaultSlotPoolServiceSchedulerFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/JobMasterConfiguration.java
  flink-runtime/src/main/java/org/apache/flink/runtime/minicluster/MiniClusterConfiguration.java
  flink-runtime/src/main/java/org/apache/flink/runtime/resourcemanager/StandaloneResourceManagerFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/resourcemanager/active/ActiveResourceManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/resourcemanager/slotmanager/SlotManagerConfiguration.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rpc/akka/AkkaRpcServiceConfiguration.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskManagerConfiguration.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskManagerRunner.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskManagerServicesConfiguration.java
  flink-runtime/src/main/java/org/apache/flink/runtime/webmonitor/WebMonitorEndpoint.java
  flink-runtime/src/main/scala/org/apache/flink/runtime/akka/AkkaUtils.scala
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/ExecutionGraphTestUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/TestingDefaultExecutionGraphBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/PartialConsumePipelinedResultTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmanager/SlotCountExceedingParallelismTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/slotpool/TestingSlotPoolImpl.java
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/TestingResourceManagerFactory.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rpc/RpcConnectionTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rpc/RpcSSLAuthITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskManagerRunnerConfigurationTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/testutils/MiniClusterResourceConfiguration.java
  flink-runtime/src/test/java/org/apache/flink/runtime/testutils/TestingUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/testutils/ZooKeeperTestUtils.java
  flink-runtime/src/test/scala/org/apache/flink/runtime/akka/AkkaUtilsTest.scala
  flink-test-utils-parent/flink-test-utils/src/main/java/org/apache/flink/test/util/MiniClusterResourceConfiguration.java
  flink-tests/src/test/java/org/apache/flink/test/accumulators/AccumulatorLiveITCase.java
  flink-tests/src/test/java/org/apache/flink/test/cancelling/CancelingTestBase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/EventTimeAllWindowCheckpointingITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/UnalignedCheckpointTestBase.java
  flink-tests/src/test/java/org/apache/flink/test/classloading/jar/StreamingCustomInputSplitProgram.java
  flink-tests/src/test/java/org/apache/flink/test/recovery/AbstractTaskManagerProcessFailureRecoveryTest.java
  flink-tests/src/test/java/org/apache/flink/test/recovery/ProcessFailureCancelingITCase.java
  flink-tests/src/test/java/org/apache/flink/test/runtime/ShuffleCompressionITCase.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YARNApplicationITCase.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YARNFileReplicationITCase.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YARNITCase.java
  flink-yarn/src/test/java/org/apache/flink/yarn/FlinkYarnSessionCliTest.java
Labels: component=Runtime/Coordination, review=description?

#16242 [FLINK-23025][upsert-kafka] Fix upsert-kafka produce duplicates when …
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/streaming/connectors/kafka/table/BufferedUpsertSinkFunction.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/BufferedUpsertSinkFunctionTest.java
Labels: component=Connectors/Kafka, component=TableSQL/Ecosystem, review=description?

#16235 [hotfix][docs] ' Chinese document' Format repair
  docs/content.zh/docs/dev/table/sql/alter.md
  docs/content.zh/docs/dev/table/sql/create.md
  docs/content.zh/docs/dev/table/sql/drop.md
Labels: review=description?

#16267 [FLINK-23131][conf] Remove scala from PLUGIN_ALWAYS_PARENT_FIRST_LOADER_PATTERNS
  flink-core/src/main/java/org/apache/flink/configuration/CoreOptions.java
Labels: component=Runtime/Configuration, review=description?

#16266 [FLINK-23087] Make AddressResolution a top-level class
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/KubernetesClusterDescriptor.java
  flink-runtime/src/main/java/org/apache/flink/runtime/entrypoint/ClusterEntrypoint.java
  flink-runtime/src/main/java/org/apache/flink/runtime/highavailability/HighAvailabilityServicesUtils.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rpc/AddressResolution.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rpc/akka/AkkaRpcServiceUtils.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskManagerRunner.java
  flink-runtime/src/test/java/org/apache/flink/runtime/highavailability/HighAvailabilityServicesUtilsTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderelection/ZooKeeperLeaderRetrievalTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskManagerRunnerConfigurationTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/util/AddressResolutionTest.java
  flink-runtime/src/test/scala/org/apache/flink/runtime/akka/AkkaUtilsTest.scala
  flink-tests/src/test/java/org/apache/flink/test/recovery/ProcessFailureCancelingITCase.java
Labels: component=Runtime/Coordination, review=description?

#16195 [FLINK-23009][kinesis] Upgrade Guava for Flink Connector Kinesis
  flink-connectors/flink-connector-kinesis/pom.xml
  flink-connectors/flink-sql-connector-kinesis/pom.xml
  flink-connectors/flink-sql-connector-kinesis/src/main/resources/META-INF/NOTICE
Labels: component=Connectors/Kinesis, review=description?

#16257 [FLINK-23025][upsert-kafka] Fix upsert-kafka produce duplicates when enable object reuse
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/streaming/connectors/kafka/table/BufferedUpsertSinkFunction.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/BufferedUpsertSinkFunctionTest.java
Labels: component=Connectors/Kafka, component=TableSQL/Ecosystem, review=description?

#16250 [FLINK-23078][benchmark] Add SchedulerBenchmarkUtils#shutdownTestingUtilDefaultExecutor
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/benchmark/SchedulerBenchmarkUtils.java
Labels: component=Benchmarks, component=Runtime/Coordination, review=description?

#16269 [FLINK-23121][python] Fix the issue that the InternalRow as arguments in Python UDAF
  flink-python/pyflink/fn_execution/coder_impl_fast.pyx
  flink-python/pyflink/fn_execution/operations.py
  flink-python/pyflink/table/tests/test_row_based_operation.py
Labels: component=API/Python, review=description?

#16236 [FLINK-23057] add variable expansion for FLINK_ENV_JAVA_OPTS in flink-console.sh
  flink-dist/src/main/flink-bin/bin/flink-console.sh
Labels: component=Client/JobSubmission, review=description?

#16264 [FLINK-23130][rest] Remove netty 3 reference
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/RestServerEndpoint.java
Labels: component=Runtime/REST, review=description?

#16277 [FLINK-22492][test] Use order-agnostic check in KinesisTableApiITCase.
  flink-end-to-end-tests/flink-streaming-kinesis-test/src/test/java/org/apache/flink/streaming/kinesis/test/KinesisTableApiITCase.java
  flink-end-to-end-tests/flink-streaming-kinesis-test/src/test/java/org/apache/flink/streaming/kinesis/test/model/Order.java
Labels: component=Connectors/Kinesis, component=TableSQL/Ecosystem, review=description?

#16282 [FLINK-22818][tests] Remembering important values only on certain che…
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/IgnoreInFlightDataITCase.java
Labels: component=Runtime/Checkpointing, review=description?

#16201 [hotfix][docs] Merge the two Flink POJO definitions to make the definition uniform
  flink-core/src/main/java/org/apache/flink/api/common/typeinfo/Types.java
  flink-core/src/main/java/org/apache/flink/api/java/typeutils/PojoTypeInfo.java
Labels: review=description?

#16289 [FLINK-23157][docs] Versioned View's SQL Script was missing a "," at Line 3 which yields Could not execute SQL statement ERROR
  docs/content/docs/dev/table/concepts/versioned_tables.md
Labels: component=Documentation, component=TableSQL/API, review=description?

#16262 [BP-1.13][FLINK-23045][tests] Harden RunnablesTest by not relying on timeout
  flink-runtime/src/test/java/org/apache/flink/runtime/util/RunnablesTest.java
Labels: component=Runtime/Coordination, review=description?

#16263 [BP-1.12][FLINK-23045][tests] Harden RunnablesTest by not relying on timeout
  flink-runtime/src/test/java/org/apache/flink/runtime/util/RunnablesTest.java
Labels: component=Runtime/Coordination, review=description?

#16278 [FLINK-22492][test] Use order-agnostic check in KinesisTableApiITCase. [1.13]
  flink-end-to-end-tests/flink-streaming-kinesis-test/src/test/java/org/apache/flink/streaming/kinesis/test/KinesisTableApiITCase.java
  flink-end-to-end-tests/flink-streaming-kinesis-test/src/test/java/org/apache/flink/streaming/kinesis/test/model/Order.java
Labels: component=Connectors/Kinesis, component=TableSQL/Ecosystem, review=description?

#16245 [FLINK-22940][SQL-CLIENT] Make sql client column max width configurable
  docs/content/docs/dev/table/sqlClient.md
  docs/layouts/shortcodes/generated/sql_client_configuration.html
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliChangelogResultView.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliResultView.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliTableResultView.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliTableauResultView.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/config/SqlClientOptions.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/ResultDescriptor.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/LocalExecutor.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/SqlClientTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliClientTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliResultViewTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliTableauResultViewTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/context/SessionContextTest.java
  flink-table/flink-sql-client/src/test/resources/sql/select.q
Labels: component=TableSQL/Client, review=description?

#16301 [FLINK-23162][docs] Updated column expression which throws exception
  docs/content.zh/docs/dev/table/concepts/time_attributes.md
  docs/content/docs/dev/table/concepts/time_attributes.md
Labels: component=Documentation, component=Examples, component=TableSQL/Client, review=description?

#16141 [FLINK-22970][docs] The documentation for `TO_TIMESTAMP` UDF has an incorrect description
  docs/data/sql_functions.yml
Labels: component=Documentation, review=description?

#16303 [FLINK-23009][kinesis] Include guava failureaccess in jar
  flink-connectors/flink-sql-connector-kinesis/pom.xml
  flink-connectors/flink-sql-connector-kinesis/src/main/resources/META-INF/NOTICE
Labels: component=Connectors/Kinesis, review=description?

#16260 [FLINK-22966][runtime] StateAssignmentOperation returns only not null…
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/StateAssignmentOperation.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/StateAssignmentOperationTest.java
Labels: component=Runtime/Checkpointing, review=description?

#16175 [hotfix][docs] Mention -D argument for CLI
  docs/content.zh/docs/deployment/cli.md
  docs/content/docs/deployment/cli.md
Labels: review=description?

#16293 [FLINK-23052][ci] Improve stability of maven snapshot deployment
  tools/azure-pipelines/build-nightly-dist.yml
Labels: component=BuildSystem/CI, component=TestInfrastructure, review=description?

#16196 [FLINK-23009][kinesis] Upgrade Guava for Flink Connector Kinesis
  flink-connectors/flink-connector-kinesis/pom.xml
  flink-connectors/flink-sql-connector-kinesis/pom.xml
  flink-connectors/flink-sql-connector-kinesis/src/main/resources/META-INF/NOTICE
Labels: component=Connectors/Kinesis, review=description?

#16309 [FLINK-23166][python] Fix ZipUtils to handle properly for softlinks
  flink-python/src/main/java/org/apache/flink/python/util/ZipUtils.java
  flink-python/src/test/java/org/apache/flink/python/util/ZipUtilsTest.java
Labels: component=API/Python, review=description?

#16230 [hotfix][docs] Updated description of HOP and CUMULATE parameters
  docs/content.zh/docs/dev/table/sql/queries/window-tvf.md
  docs/content/docs/dev/table/sql/queries/window-tvf.md
Labels: review=description?

#16300 [Hotfix][docs] Fixed typos.
  docs/content.zh/docs/connectors/table/overview.md
  docs/content/docs/connectors/table/overview.md
Labels: review=description?

#16202 [FLINK-18182][kinesis] Updating to latest AWS SDK for Kinesis connector
  flink-connectors/flink-connector-kinesis/pom.xml
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/FlinkKinesisProducer.java
  flink-connectors/flink-connector-kinesis/src/main/resources/META-INF/NOTICE
Labels: component=Connectors/Kinesis, review=description?

#16203 [FLINK-18182][kinesis] Updating to latest AWS SDK for Kinesis connector
  flink-connectors/flink-connector-kinesis/pom.xml
  flink-connectors/flink-connector-kinesis/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-connector-kinesis/src/main/resources/org/apache/flink/kinesis/shaded/software/amazon/awssdk/global/handlers/execution.interceptors
  pom.xml
Labels: component=Connectors/Kinesis, review=description?

#16204 [FLINK-18182][kinesis] Updating to latest AWS SDK for Kinesis connector
  flink-connectors/flink-connector-kinesis/pom.xml
  flink-connectors/flink-connector-kinesis/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-connector-kinesis/src/main/resources/org/apache/flink/kinesis/shaded/software/amazon/awssdk/global/handlers/execution.interceptors
  pom.xml
Labels: component=Connectors/Kinesis, review=description?

#16271 [FLINK-20888][runtime] Close outputs in OperatorChain.
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/source/ContinuousFileReaderOperator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/ChainingOutput.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/OperatorChain.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/WatermarkGaugeExposingOutput.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/StreamSourceOperatorLatencyMetricsTest.java
  flink-tests/pom.xml
  flink-tests/src/test/java/org/apache/flink/test/streaming/api/functions/source/ContinuousFileReaderOperatorITCase.java
Labels: component=Connectors/FileSystem, review=description?

#16265 [FLINK-23090] Introduce RpcSystem abstraction
  flink-metrics/flink-metrics-dropwizard/pom.xml
  flink-metrics/flink-metrics-dropwizard/src/test/java/org/apache/flink/dropwizard/ScheduledDropwizardReporterTest.java
  flink-metrics/flink-metrics-dropwizard/src/test/java/org/apache/flink/dropwizard/metrics/DropwizardFlinkHistogramWrapperTest.java
  flink-metrics/flink-metrics-influxdb/pom.xml
  flink-metrics/flink-metrics-influxdb/src/test/java/org/apache/flink/metrics/influxdb/InfluxdbReporterTest.java
  flink-metrics/flink-metrics-jmx/src/test/java/org/apache/flink/metrics/jmx/JMXReporterTest.java
  flink-metrics/flink-metrics-prometheus/pom.xml
  flink-metrics/flink-metrics-prometheus/src/test/java/org/apache/flink/metrics/prometheus/PrometheusReporterTaskScopeTest.java
  flink-metrics/flink-metrics-prometheus/src/test/java/org/apache/flink/metrics/prometheus/PrometheusReporterTest.java
  flink-metrics/flink-metrics-slf4j/pom.xml
  flink-metrics/flink-metrics-slf4j/src/test/java/org/apache/flink/metrics/slf4j/Slf4jReporterTest.java
  flink-metrics/flink-metrics-statsd/pom.xml
  flink-metrics/flink-metrics-statsd/src/test/java/org/apache/flink/metrics/statsd/StatsDReporterTest.java
  flink-runtime/src/main/java/org/apache/flink/runtime/entrypoint/ClusterEntrypoint.java
  flink-runtime/src/main/java/org/apache/flink/runtime/highavailability/HighAvailabilityServicesUtils.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/MetricRegistryConfiguration.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/util/MetricUtils.java
  flink-runtime/src/main/java/org/apache/flink/runtime/minicluster/MiniCluster.java
  flink-runtime/src/main/java/org/apache/flink/runtime/net/ConnectionUtils.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rpc/RpcSystem.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rpc/RpcSystemUtils.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rpc/RpcUtils.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rpc/akka/AkkaBootstrapTools.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rpc/akka/AkkaRpcServiceUtils.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rpc/akka/AkkaRpcSystem.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskManagerRunner.java
  flink-runtime/src/main/java/org/apache/flink/runtime/util/LeaderRetrievalUtils.java
  flink-runtime/src/main/scala/org/apache/flink/runtime/akka/AkkaUtils.scala
  flink-runtime/src/test/java/org/apache/flink/runtime/entrypoint/ClusterEntrypointTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/highavailability/HighAvailabilityServicesUtilsTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderelection/ZooKeeperLeaderRetrievalTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/MetricRegistryImplTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/MetricRegistryTestUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/AbstractMetricGroupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/JobManagerGroupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/JobManagerJobGroupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/MetricGroupRegistrationTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/MetricGroupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/OperatorGroupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/TaskManagerGroupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/TaskManagerJobGroupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/TaskMetricGroupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/util/MetricUtilsTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rpc/AsyncCallsTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rpc/RpcConnectionTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rpc/RpcEndpointTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rpc/RpcSSLAuthITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskExecutorOperatorEventHandlingTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskManagerRunnerConfigurationTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/util/AddressResolutionTest.java
  flink-runtime/src/test/scala/akka/actor/RobustActorSystemTest.scala
  flink-runtime/src/test/scala/org/apache/flink/runtime/akka/AkkaUtilsTest.scala
  flink-tests/src/test/java/org/apache/flink/runtime/operators/coordination/OperatorEventSendingCheckpointITCase.java
  flink-tests/src/test/java/org/apache/flink/test/recovery/JobManagerHAProcessFailureRecoveryITCase.java
  flink-tests/src/test/java/org/apache/flink/test/recovery/ProcessFailureCancelingITCase.java
  flink-tests/src/test/java/org/apache/flink/test/runtime/IPv6HostnamesITCase.java
Labels: component=Runtime/Coordination, review=description?

#16296 [FLINK-23088] Add flink-rpc-core module
  flink-rpc/flink-rpc-core/pom.xml
  flink-rpc/flink-rpc-core/src/main/java/org/apache/flink/runtime/concurrent/ComponentMainThreadExecutor.java
  flink-rpc/flink-rpc-core/src/main/java/org/apache/flink/runtime/concurrent/ScheduledFutureAdapter.java
  flink-rpc/flink-rpc-core/src/main/java/org/apache/flink/runtime/rpc/AddressResolution.java
  flink-rpc/flink-rpc-core/src/main/java/org/apache/flink/runtime/rpc/FatalErrorHandler.java
  flink-rpc/flink-rpc-core/src/main/java/org/apache/flink/runtime/rpc/FencedMainThreadExecutable.java
  flink-rpc/flink-rpc-core/src/main/java/org/apache/flink/runtime/rpc/FencedRpcEndpoint.java
  flink-rpc/flink-rpc-core/src/main/java/org/apache/flink/runtime/rpc/FencedRpcGateway.java
  flink-rpc/flink-rpc-core/src/main/java/org/apache/flink/runtime/rpc/MainThreadExecutable.java
  flink-rpc/flink-rpc-core/src/main/java/org/apache/flink/runtime/rpc/MainThreadValidatorUtil.java
  flink-rpc/flink-rpc-core/src/main/java/org/apache/flink/runtime/rpc/PermanentlyFencedRpcEndpoint.java
  flink-rpc/flink-rpc-core/src/main/java/org/apache/flink/runtime/rpc/RpcEndpoint.java
  flink-rpc/flink-rpc-core/src/main/java/org/apache/flink/runtime/rpc/RpcGateway.java
  flink-rpc/flink-rpc-core/src/main/java/org/apache/flink/runtime/rpc/RpcServer.java
  flink-rpc/flink-rpc-core/src/main/java/org/apache/flink/runtime/rpc/RpcService.java
  flink-rpc/flink-rpc-core/src/main/java/org/apache/flink/runtime/rpc/RpcServiceUtils.java
  flink-rpc/flink-rpc-core/src/main/java/org/apache/flink/runtime/rpc/RpcSystem.java
  flink-rpc/flink-rpc-core/src/main/java/org/apache/flink/runtime/rpc/RpcSystemUtils.java
  flink-rpc/flink-rpc-core/src/main/java/org/apache/flink/runtime/rpc/RpcTimeout.java
  flink-rpc/flink-rpc-core/src/main/java/org/apache/flink/runtime/rpc/RpcUtils.java
  flink-rpc/flink-rpc-core/src/main/java/org/apache/flink/runtime/rpc/StartStoppable.java
  flink-rpc/flink-rpc-core/src/main/java/org/apache/flink/runtime/rpc/exceptions/FencingTokenException.java
  flink-rpc/flink-rpc-core/src/main/java/org/apache/flink/runtime/rpc/exceptions/HandshakeException.java
  flink-rpc/flink-rpc-core/src/main/java/org/apache/flink/runtime/rpc/exceptions/RpcConnectionException.java
  flink-rpc/flink-rpc-core/src/main/java/org/apache/flink/runtime/rpc/exceptions/RpcException.java
  flink-rpc/flink-rpc-core/src/main/java/org/apache/flink/runtime/rpc/exceptions/RpcRuntimeException.java
  flink-rpc/flink-rpc-core/src/main/java/org/apache/flink/runtime/rpc/messages/CallAsync.java
  flink-rpc/flink-rpc-core/src/main/java/org/apache/flink/runtime/rpc/messages/FencedMessage.java
  flink-rpc/flink-rpc-core/src/main/java/org/apache/flink/runtime/rpc/messages/HandshakeSuccessMessage.java
  flink-rpc/flink-rpc-core/src/main/java/org/apache/flink/runtime/rpc/messages/LocalFencedMessage.java
  flink-rpc/flink-rpc-core/src/main/java/org/apache/flink/runtime/rpc/messages/LocalRpcInvocation.java
  flink-rpc/flink-rpc-core/src/main/java/org/apache/flink/runtime/rpc/messages/RemoteFencedMessage.java
  flink-rpc/flink-rpc-core/src/main/java/org/apache/flink/runtime/rpc/messages/RemoteHandshakeMessage.java
  flink-rpc/flink-rpc-core/src/main/java/org/apache/flink/runtime/rpc/messages/RemoteRpcInvocation.java
  flink-rpc/flink-rpc-core/src/main/java/org/apache/flink/runtime/rpc/messages/RpcInvocation.java
  flink-rpc/flink-rpc-core/src/main/java/org/apache/flink/runtime/rpc/messages/RunAsync.java
  flink-rpc/flink-rpc-core/src/main/java/org/apache/flink/runtime/rpc/messages/UnfencedMessage.java
  flink-rpc/flink-rpc-core/src/test/java/org/apache/flink/runtime/concurrent/ScheduledFutureAdapterTest.java
  flink-rpc/pom.xml
  flink-runtime/pom.xml
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/MetricRegistryConfiguration.java
  flink-runtime/src/main/resources/META-INF/services/org.apache.flink.runtime.rpc.RpcSystem
  pom.xml
  tools/ci/stage.sh
Labels: component=BuildSystem, component=Runtime/Coordination, review=description?

#16322 [FLINK-22964][connector/common] Exclude flink-core from connector-common dependencies.
  flink-connectors/flink-connector-base/pom.xml
Labels: component=Connectors/Common, review=description?

#16326 [FLINK-22964][connector/common] Exclude flink-core from connector-common dependencies. [1.13]
  flink-connectors/flink-connector-base/pom.xml
Labels: component=Connectors/Common, review=description?

#16327 [FLINK-22964][connector/common] Exclude flink-core from connector-common dependencies. [1.12]
  flink-connectors/flink-connector-base/pom.xml
Labels: component=Connectors/Common, review=description?

#16324 [FLINK-20888][runtime] Close outputs in OperatorChain. [1.12]
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/source/ContinuousFileReaderOperator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/ChainingOutput.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/OperatorChain.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/WatermarkGaugeExposingOutput.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/StreamSourceOperatorLatencyMetricsTest.java
  flink-tests/pom.xml
  flink-tests/src/test/java/org/apache/flink/test/streaming/api/functions/source/ContinuousFileReaderOperatorITCase.java
Labels: component=Connectors/FileSystem, review=description?

#16325 [FLINK-20888][runtime] Close outputs in OperatorChain. [1.13]
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/source/ContinuousFileReaderOperator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/ChainingOutput.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/OperatorChain.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/WatermarkGaugeExposingOutput.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/StreamSourceOperatorLatencyMetricsTest.java
  flink-tests/pom.xml
  flink-tests/src/test/java/org/apache/flink/test/streaming/api/functions/source/ContinuousFileReaderOperatorITCase.java
Labels: component=Connectors/FileSystem, review=description?

#16321 [FLINK-23017][sql-client] HELP in sql-client still shows the removed SOURCE functionality
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliStrings.java
  flink-table/flink-sql-client/src/test/resources/sql-client-help-command.out
  flink-table/flink-sql-client/src/test/resources/sql/misc.q
Labels: component=TableSQL/Client, review=description?

#16318 [FLINK-22945][runtime] Avoid StackOverflowException when a large scale job is canceling or failing
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/slotpool/SlotPoolImpl.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/DefaultScheduler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/SchedulerBase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/ExecutionGraphRestartTest.java
Labels: component=Runtime/Coordination, review=description?

#16323 [FLINK-23156][doc]fix the ref about sql queries
  docs/content.zh/docs/connectors/table/hive/hive_dialect.md
  docs/content.zh/docs/dev/table/concepts/time_attributes.md
  docs/content.zh/docs/dev/table/concepts/versioned_tables.md
  docs/content.zh/docs/dev/table/sql/explain.md
  docs/content.zh/docs/dev/table/sql/overview.md
  docs/content/docs/connectors/table/hive/hive_dialect.md
  docs/content/docs/dev/table/concepts/dynamic_tables.md
  docs/content/docs/dev/table/concepts/versioned_tables.md
  docs/content/docs/dev/table/sql/explain.md
  docs/content/docs/dev/table/sql/overview.md
Labels: component=Documentation, component=TableSQL/API, review=description?

#16328 [FLINK-22462][tests] Fix JdbcExactlyOnceSinkE2eTest by pausing emission until checkpoint confirmed
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/xa/JdbcExactlyOnceSinkE2eTest.java
Labels: component=Connectors/JDBC, review=description?

#16329 [BP-1.13][FLINK-22462][tests] Fix JdbcExactlyOnceSinkE2eTest by pausing emission until checkpoint confirmed
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/xa/JdbcExactlyOnceSinkE2eTest.java
Labels: component=Connectors/JDBC, review=description?

#16294 [FLINK-22593][tests] Waiting all tasks running before triggerSavepoint
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/RescalingITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/SavepointITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/TimersSavepointITCase.java
Labels: component=Runtime/Checkpointing, review=description?
