Repository apache/flink, pull requests merged in 2021-01, with the labels that each got.

#14537 [FLINK-20826][table] Fix minor bug in `UpdatingTopCityExample`
  flink-examples/flink-examples-table/src/main/java/org/apache/flink/table/examples/java/basics/UpdatingTopCityExample.java
Labels: component=TableSQL/API, review=description?

#14540 [FLINK-20828][python] Fix some aggregate and flat_aggregate tests failed in py35
  flink-python/pyflink/table/tests/test_row_based_operation.py
  flink-python/pyflink/table/tests/test_udaf.py
Labels: component=API/Python, review=description?

#14460 [docs/javadoc][hotfix] Explicitly Document task cancellation timeout …
  docs/_includes/generated/all_taskmanager_section.html
  docs/_includes/generated/task_manager_configuration.html
  flink-core/src/main/java/org/apache/flink/configuration/TaskManagerOptions.java
Labels: review=description?

#14399 [FLINK-17827] [scala-shell] scala-shell.sh should fail early if no mo…
  flink-scala-shell/start-script/start-scala-shell.sh
Labels: component=ScalaShell, review=description?

#14549 [FLINK-20841][build][avro/parquet] Removed packages with auto-generated sources from .gitignore.
  .gitignore
Labels: component=<none>, review=description?

#14534 [FLINK-20822][hive] Don't check whether a function is generic in hive…
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/HiveCatalog.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveCatalogGenericMetadataTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveCatalogHiveMetadataTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveCatalogMetadataTestBase.java
Labels: component=Connectors/Hive, review=description?

#14555 [FLINK-20822][hive] Don't check whether a function is generic in hive…
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/HiveCatalog.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveCatalogGenericMetadataTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveCatalogHiveMetadataTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveCatalogMetadataTestBase.java
Labels: component=Connectors/Hive, review=description?

#14409 [FLINK-20634][dist] Remove start-scala-shell.sh in bin folder when co…
  flink-dist/pom.xml
  flink-dist/src/main/assemblies/bin-scala2_11.xml
  flink-dist/src/main/assemblies/bin.xml
Labels: component=ScalaShell, review=description?

#14563 [FLINK-20854][table-runtime-blink] Introduce BytesMultiMap to support buffering records
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/agg/batch/HashAggCodeGenHelper.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/agg/batch/HashAggCodeGenerator.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/agg/batch/HashWindowCodeGenerator.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchExecHashWindowAggregateBase.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/aggregate/BytesHashMap.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/aggregate/BytesMap.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/aggregate/BytesMultiMap.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/util/KeyValueIterator.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/util/LazyMemorySegmentPool.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/aggregate/BytesHashMapTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/aggregate/BytesMapTestBase.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/aggregate/BytesMultiMapTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/aggregate/SumHashAggTestOperator.java
Labels: component=TableSQL/Runtime, review=description?

#14575 [FLINK-20882][checkstyle] Improve error messages for illegal imports
  tools/maven/checkstyle.xml
Labels: component=BuildSystem, review=description?

#14508 [FLINK-20773][json] Support to parse unescaped control chars in string node
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/JsonRowDataDeserializationSchema.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/JsonRowDataSerDeSchemaTest.java
Labels: component=Formats, review=description?

#14546 [FLINK-20488][runtime][checkpoint] Show checkpoint type in the Web-UI…
  flink-runtime-web/web-dashboard/src/app/pages/job/checkpoints/subtask/job-checkpoints-subtask.component.html
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointMetrics.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointMetricsBuilder.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/PendingCheckpoint.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/SubtaskStateStats.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/handler/job/checkpoints/TaskCheckpointStatisticDetailsHandler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/messages/checkpoints/SubtaskCheckpointStatistics.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointStatsTrackerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CompletedCheckpointTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/PendingCheckpointStatsTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/SubtaskStateStatsTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/TaskStateStatsTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/messages/checkpoints/TaskCheckpointStatisticsWithSubtaskDetailsTest.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/SubtaskCheckpointCoordinatorImpl.java
Labels: component=Runtime/Checkpointing, component=Runtime/Configuration, component=Runtime/WebFrontend, review=description?

#14581 [FLINK-20654][checkpointing] Decline checkpoint until input channel is recovered
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/IndexedInputGate.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/RecoveredInputChannel.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/UnknownInputChannel.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/consumer/RecoveredInputChannelTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/consumer/SingleInputGateTest.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/UnalignedCheckpointITCase.java
Labels: component=Runtime/Checkpointing, review=description?

#14582 (backport 1.12) [FLINK-20654][checkpointing] Decline checkpoint until input channel is recovered
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/IndexedInputGate.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/RecoveredInputChannel.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/UnknownInputChannel.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/consumer/RecoveredInputChannelTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/consumer/SingleInputGateTest.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/UnalignedCheckpointITCase.java
Labels: component=Runtime/Checkpointing, review=description?

#14585 [FLINK-20632] Use Docker image published to apache/flink by default
  docs/_includes/generated/kubernetes_config_configuration.html
  docs/deployment/resource-providers/standalone/docker.md
  docs/deployment/resource-providers/standalone/kubernetes.md
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/configuration/KubernetesConfigOptions.java
Labels: component=Deployment/Kubernetes, review=description?

#14583 [FLINK-20832][docs] Deliver bootstrap css and js ourselves
  NOTICE
  docs/_layouts/base.html
  docs/page/css/bootstrap.min.css
  docs/page/fonts/glyphicons-halflings-regular.eot
  docs/page/fonts/glyphicons-halflings-regular.svg
  docs/page/fonts/glyphicons-halflings-regular.ttf
  docs/page/fonts/glyphicons-halflings-regular.woff
  docs/page/fonts/glyphicons-halflings-regular.woff2
  docs/page/js/anchor.min.js
  docs/page/js/bootstrap.min.js
  licenses/LICENSE.anchorjs
  licenses/LICENSE.bootstrap
  pom.xml
Labels: component=API/Core, component=Documentation, review=description?

#14539 [FLINK-20321][formats] Fix NPE when using AvroDeserializationSchema to deserialize null input
  flink-formats/flink-avro-confluent-registry/src/test/java/org/apache/flink/formats/avro/registry/confluent/RegistryAvroRowDataSeDeSchemaTest.java
  flink-formats/flink-avro/src/main/java/org/apache/flink/formats/avro/AvroDeserializationSchema.java
  flink-formats/flink-avro/src/main/java/org/apache/flink/formats/avro/AvroRowDataDeserializationSchema.java
  flink-formats/flink-avro/src/main/java/org/apache/flink/formats/avro/RegistryAvroDeserializationSchema.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/AvroDeserializationSchemaTest.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/AvroRowDataDeSerializationSchemaTest.java
  flink-formats/flink-csv/src/main/java/org/apache/flink/formats/csv/CsvRowDataDeserializationSchema.java
  flink-formats/flink-csv/src/test/java/org/apache/flink/formats/csv/CsvRowDataSerDeSchemaTest.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/JsonRowDataDeserializationSchema.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/canal/CanalJsonDeserializationSchema.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/JsonRowDataSerDeSchemaTest.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/canal/CanalJsonSerDeSchemaTest.java
Labels: component=Formats, component=TableSQL/Ecosystem, review=description?

#14590 [BP-1.12][FLINK-20832][docs] Deliver bootstrap css and js ourselves
  NOTICE
  docs/_layouts/base.html
  docs/page/css/bootstrap.min.css
  docs/page/fonts/glyphicons-halflings-regular.eot
  docs/page/fonts/glyphicons-halflings-regular.svg
  docs/page/fonts/glyphicons-halflings-regular.ttf
  docs/page/fonts/glyphicons-halflings-regular.woff
  docs/page/fonts/glyphicons-halflings-regular.woff2
  docs/page/js/anchor.min.js
  docs/page/js/bootstrap.min.js
  licenses/LICENSE.anchorjs
  licenses/LICENSE.bootstrap
  pom.xml
Labels: component=API/Core, component=Documentation, review=description?

#14592 [BP-1.11][FLINK-20832][docs] Deliver bootstrap css and js ourselves
  NOTICE
  docs/_layouts/base.html
  docs/page/css/bootstrap.min.css
  docs/page/fonts/glyphicons-halflings-regular.eot
  docs/page/fonts/glyphicons-halflings-regular.svg
  docs/page/fonts/glyphicons-halflings-regular.ttf
  docs/page/fonts/glyphicons-halflings-regular.woff
  docs/page/fonts/glyphicons-halflings-regular.woff2
  docs/page/js/anchor.min.js
  docs/page/js/bootstrap.min.js
  licenses/LICENSE.anchorjs
  licenses/LICENSE.bootstrap
  pom.xml
Labels: component=API/Core, component=Documentation, review=description?

#14565 [FLINK-20596] Remove Scheduler
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/ExecutionGraph.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/ExecutionGraphBuilder.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/SlotRequestId.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/slotpool/DeclarativeSlotPoolBridge.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/slotpool/Scheduler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/slotpool/SchedulerImpl.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/slotpool/SlotAndLocality.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/slotpool/SlotProvider.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/slotpool/SlotSelectionStrategy.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/slotpool/ThrowingSlotProvider.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/DefaultScheduler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/SchedulerBase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/ExecutionGraphCoLocationRestartTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/ExecutionGraphDeploymentTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/ExecutionGraphTestUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/TestingExecutionGraphBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/TestingSlotProvider.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/utils/SimpleSlotProvider.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmanager/scheduler/ScheduleWithCoLocationHintTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmanager/scheduler/SchedulerIsolatedTasksTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmanager/scheduler/SchedulerTestBase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/slotpool/PhysicalSlotProviderImplTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/slotpool/PhysicalSlotProviderImplWithDefaultSlotSelectionStrategyTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/slotpool/PhysicalSlotProviderImplWithSpreadOutStrategyTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/slotpool/PhysicalSlotProviderResource.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/slotpool/SchedulerImplTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/slotpool/SlotPoolCoLocationTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/slotpool/SlotPoolResource.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/slotpool/SlotPoolSlotSharingTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/slotpool/SlotPoolSlotSpreadOutTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adapter/DefaultExecutionTopologyTest.java
Labels: component=Runtime/Coordination, review=description?

#14567 [FLINK-20453][runtime][checkpoint] Move checkpointing classes to an a…
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/StreamMultipleInputProcessorFactory.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/StreamTaskNetworkInput.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/StreamTwoInputProcessorFactory.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/checkpointing/AlignedController.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/checkpointing/AlternatingController.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/checkpointing/CheckpointBarrierBehaviourController.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/checkpointing/CheckpointBarrierHandler.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/checkpointing/CheckpointBarrierTracker.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/checkpointing/CheckpointedInputGate.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/checkpointing/InputProcessorUtil.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/checkpointing/SingleCheckpointBarrierHandler.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/checkpointing/UnalignedController.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/checkpointing/UpstreamRecoveryTracker.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/MultipleInputStreamTask.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/OneInputStreamTask.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/TwoInputStreamTask.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/StreamTaskNetworkInputTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/checkpointing/AlignedControllerMassiveRandomTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/checkpointing/AlignedControllerTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/checkpointing/AlternatingControllerTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/checkpointing/CheckpointBarrierTrackerTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/checkpointing/CheckpointSequenceValidator.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/checkpointing/CheckpointedInputGateTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/checkpointing/InputProcessorUtilTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/checkpointing/UnalignedControllerCancellationTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/checkpointing/UnalignedControllerTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/checkpointing/ValidatingCheckpointHandler.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskCancellationBarrierTest.java
Labels: component=Runtime/Checkpointing, review=description?

#14601 [FLINK-20907][docs] replaces deprecated syntax in Table API doc
  docs/dev/table/common.md
  docs/dev/table/common.zh.md
Labels: component=Documentation, review=description?

#14556 [FLINK-20848][connector/kafka] Fix Kafka consumer client ID with subtask ID suffix
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/source/reader/KafkaPartitionSplitReader.java
Labels: component=Connectors/Kafka, review=description?

#14617 [hotfix][doc] Fix default format in document for temporal function FROM_UNIXTIME(numeric, format)
  docs/dev/table/functions/systemFunctions.md
  docs/dev/table/functions/systemFunctions.zh.md
Labels: review=description?

#14604 [FLINK-20861][format/json] Provide an option for serializing DECIMALs in JSON as plain number instead of scientific notation
  docs/dev/table/connectors/formats/canal.md
  docs/dev/table/connectors/formats/canal.zh.md
  docs/dev/table/connectors/formats/debezium.md
  docs/dev/table/connectors/formats/debezium.zh.md
  docs/dev/table/connectors/formats/json.md
  docs/dev/table/connectors/formats/json.zh.md
  docs/dev/table/connectors/formats/maxwell.md
  docs/dev/table/connectors/formats/maxwell.zh.md
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/JsonFormatFactory.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/JsonOptions.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/JsonRowDataSerializationSchema.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/canal/CanalJsonFormatFactory.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/canal/CanalJsonSerializationSchema.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/debezium/DebeziumJsonFormatFactory.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/debezium/DebeziumJsonSerializationSchema.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/maxwell/MaxwellJsonFormatFactory.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/maxwell/MaxwellJsonSerializationSchema.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/JsonFormatFactoryTest.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/JsonRowDataSerDeSchemaTest.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/canal/CanalJsonFormatFactoryTest.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/canal/CanalJsonSerDeSchemaTest.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/debezium/DebeziumJsonFormatFactoryTest.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/debezium/DebeziumJsonSerDeSchemaTest.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/maxwell/MaxwellJsonFormatFactoryTest.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/maxwell/MaxwellJsonSerDerTest.java
Labels: component=Formats, component=TableSQL/Ecosystem, review=description?

#14609 [FLINK-20916][runtime] Remove obsolete testcase
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/handler/cluster/JobManagerCustomLogHandlerTest.java
Labels: component=Runtime/REST, review=description?

#14628 [FLINK-20954][python] Support state cache between bundles
  flink-python/src/main/java/org/apache/flink/streaming/api/runners/python/beam/BeamPythonFunctionRunner.java
Labels: component=API/Python, review=description?

#14624 [FLINK-20750][python][table-planner-blink] Port stream python group aggregate nodes to Java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/common/CommonExecPythonAggregate.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecPythonGroupAggregate.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/exec/batch/BatchExecPythonGroupAggregate.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/exec/batch/BatchExecPythonGroupWindowAggregate.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/exec/common/CommonPythonAggregate.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecPythonGroupAggregate.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecPythonGroupTableAggregate.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecPythonGroupWindowAggregate.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchExecPythonOverAggregate.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamExecPythonOverAggregate.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamPhysicalPythonGroupAggregate.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/table/PythonAggregateTest.scala
Labels: component=TableSQL/Planner, review=description?

#14620 [FLINK-20940][table-planner] Use session time zone in LOCALTIME/LOCALTIMSTAMP functions
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/CodeGeneratorContext.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/expressions/NonDeterministicTests.scala
Labels: component=TableSQL/API, component=TableSQL/Runtime, review=description?

#14636 [FLINK-20921][python] Fixes the Date/Time/Timestamp type in Python DataStream API
  flink-python/pyflink/datastream/tests/test_data_stream.py
  flink-python/pyflink/fn_execution/coders.py
  flink-python/src/main/java/org/apache/flink/streaming/api/utils/PythonTypeUtils.java
  flink-python/src/test/java/org/apache/flink/streaming/api/utils/PythonTypeUtilsTest.java
Labels: component=API/Python, review=description?

#14536 [FLINK-20812][Connector][Hbase] hbase in sql mode,can use 'properties.*' add Configuration parameter.
  flink-connectors/flink-connector-hbase-1.4/src/main/java/org/apache/flink/connector/hbase1/HBase1DynamicTableFactory.java
  flink-connectors/flink-connector-hbase-1.4/src/main/java/org/apache/flink/connector/hbase1/HBase1TableFactory.java
  flink-connectors/flink-connector-hbase-1.4/src/main/java/org/apache/flink/connector/hbase1/options/HBaseOptions.java
  flink-connectors/flink-connector-hbase-1.4/src/main/java/org/apache/flink/connector/hbase1/sink/HBaseDynamicTableSink.java
  flink-connectors/flink-connector-hbase-1.4/src/main/java/org/apache/flink/connector/hbase1/sink/HBaseUpsertTableSink.java
  flink-connectors/flink-connector-hbase-1.4/src/test/java/org/apache/flink/connector/hbase1/HBaseDescriptorTest.java
  flink-connectors/flink-connector-hbase-1.4/src/test/java/org/apache/flink/connector/hbase1/HBaseDynamicTableFactoryTest.java
  flink-connectors/flink-connector-hbase-1.4/src/test/java/org/apache/flink/connector/hbase1/HBaseTableFactoryTest.java
  flink-connectors/flink-connector-hbase-2.2/src/main/java/org/apache/flink/connector/hbase2/HBase2DynamicTableFactory.java
  flink-connectors/flink-connector-hbase-2.2/src/main/java/org/apache/flink/connector/hbase2/HBase2TableFactory.java
  flink-connectors/flink-connector-hbase-2.2/src/main/java/org/apache/flink/connector/hbase2/sink/HBaseDynamicTableSink.java
  flink-connectors/flink-connector-hbase-2.2/src/test/java/org/apache/flink/connector/hbase2/HBaseDynamicTableFactoryTest.java
  flink-connectors/flink-connector-hbase-2.2/src/test/java/org/apache/flink/connector/hbase2/HBaseTableFactoryTest.java
  flink-connectors/flink-connector-hbase-base/src/main/java/org/apache/flink/connector/hbase/options/HBaseOptions.java
  flink-connectors/flink-connector-hbase-base/src/main/java/org/apache/flink/table/descriptors/AbstractHBaseValidator.java
  flink-connectors/flink-connector-hbase-base/src/main/java/org/apache/flink/table/descriptors/HBase.java
Labels: component=Connectors/HBase, component=TableSQL/Ecosystem, review=description?

#14626 [FLINK-20948][table-planner-blink] Introduce StreamPhysicalDeduplicate, and make StreamExecDeduplicate only extended from ExecNode
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecDeduplicate.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdColumnUniqueness.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdModifiedMonotonicity.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdUniqueKeys.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamExecDeduplicate.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamPhysicalDeduplicate.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/optimize/program/FlinkChangelogModeInferenceProgram.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/FlinkStreamRuleSets.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/stream/StreamPhysicalDeduplicateRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/stream/StreamPhysicalRankRule.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdHandlerTestBase.scala
Labels: component=TableSQL/Planner, review=description?

#14631 [FLINK-20885][canal][json] Deserialization exception when using 'canal-json.table.include' to filter out the binlog of the specified table
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/JsonRowDataDeserializationSchema.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/canal/CanalJsonDeserializationSchema.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/JsonRowDataSerDeSchemaTest.java
  flink-formats/flink-json/src/test/resources/canal-data-filter-table.txt
Labels: component=Formats, component=TableSQL/Ecosystem, review=description?

#14649 [FLINK-19635][hbase] Set the HBase client retry num to default value for fixing unstable test HBaseConnectorITCase
  flink-connectors/flink-connector-hbase-1.4/src/test/java/org/apache/flink/connector/hbase1/util/HBaseTestingClusterAutoStarter.java
  flink-connectors/flink-connector-hbase-2.2/src/test/java/org/apache/flink/connector/hbase2/util/HBaseTestingClusterAutoStarter.java
Labels: component=Connectors/HBase, review=description?

#14625 [FLINK-20941][table-planner-blink] Introduce StreamPhysicalMatch, and make StreamExecMatch only extended from ExecNode
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecMatch.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/utils/MatchSpec.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/MatchCodeGenerator.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/logical/MatchRecognize.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamExecMatch.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamPhysicalMatch.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/optimize/program/FlinkChangelogModeInferenceProgram.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/FlinkStreamRuleSets.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/stream/StreamPhysicalMatchRule.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/utils/MatchUtil.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/api/stream/sql/validation/MatchRecognizeValidationTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/match/PatternTranslatorTestBase.scala
Labels: component=TableSQL/Planner, review=description?

#14614 [FLINK-20911][state-backend-rocksdb] Support configuration of RocksDB log level
  docs/_includes/generated/rocksdb_configurable_configuration.html
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/DefaultConfigurableOptionsFactory.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBConfigurableOptions.java
  flink-state-backends/flink-statebackend-rocksdb/src/test/java/org/apache/flink/contrib/streaming/state/RocksDBStateBackendConfigTest.java
Labels: component=Runtime/StateBackends, review=description?

#14641 [FLINK-20751][python][table-planner-blink] Port batch python group aggregate nodes to Java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/batch/BatchExecPythonGroupAggregate.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/common/CommonExecPythonAggregate.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/exec/batch/BatchExecPythonGroupAggregate.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchPhysicalPythonGroupAggregate.scala
Labels: component=TableSQL/Planner, review=description?

#14450 [FLINK-19971][hbase] Fix HBase connector dependencies
  flink-connectors/flink-connector-hbase-1.4/pom.xml
  flink-connectors/flink-connector-hbase-base/pom.xml
Labels: component=Connectors/HBase, review=description?

#14645 [FLINK-20967][docs] HBase properties 'properties.*' function Description
  docs/dev/table/connectors/hbase.md
  docs/dev/table/connectors/hbase.zh.md
Labels: component=Connectors/HBase, component=Documentation, component=TableSQL/Ecosystem, review=description?

#14616 [FLINK-20879][table-api] Use MemorySize type instead of String type for memory ConfigOption in ExecutionConfigOptions
  docs/_includes/generated/execution_config_configuration.html
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/local/ExecutionContextTest.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/config/ExecutionConfigOptions.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/batch/BatchExecHashAggregate.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/batch/BatchExecHashJoin.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/batch/BatchExecHashWindowAggregate.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/batch/BatchExecNestedLoopJoin.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/batch/BatchExecOverAggregate.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/batch/BatchExecSort.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/batch/BatchExecSortMergeJoin.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/utils/ExecNodeUtil.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/hashtable/BaseHybridHashTable.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/sort/BinaryExternalSorter.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/sort/BufferedKVExternalSorter.java
Labels: component=TableSQL/API, review=description?

#14650 [FLINK-20927][yarn] Update configuration option in YarnConfigOptions class
  docs/_includes/generated/yarn_config_configuration.html
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YARNApplicationITCase.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YARNFileReplicationITCase.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YARNITCase.java
  flink-yarn/src/main/java/org/apache/flink/yarn/YarnClusterDescriptor.java
  flink-yarn/src/main/java/org/apache/flink/yarn/configuration/YarnConfigOptions.java
  flink-yarn/src/main/java/org/apache/flink/yarn/entrypoint/YarnEntrypointUtils.java
  flink-yarn/src/test/java/org/apache/flink/yarn/YarnClusterDescriptorTest.java
  flink-yarn/src/test/java/org/apache/flink/yarn/entrypoint/YarnJobClusterEntrypointTest.java
Labels: component=Deployment/YARN, review=description?

#14651 [FLINK-20980][coordination] Improve edge-case handling
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/slotpool/ResourceCounter.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/slotpool/ResourceCounterTest.java
Labels: component=Runtime/Coordination, review=description?

#14653 [FLINK-20981][coordination] Allow initializing jobs to be suspended
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/ArchivedExecutionGraph.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/ArchivedExecutionGraphTest.java
Labels: component=Runtime/Coordination, review=description?

#14608 [FLINK-20462][runtime] Port MailboxOperatorTest to StreamTaskMailboxTestHarness.
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/MailboxOperatorTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskMailboxTestHarness.java
Labels: component=Runtime/Task, review=description?

#14652 [FLINK-20953][canal][json] Option 'canal-json.database.include' and 'canal-json.table.include' support regular expression
  docs/dev/table/connectors/formats/canal.md
  docs/dev/table/connectors/formats/canal.zh.md
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/canal/CanalJsonDeserializationSchema.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/canal/CanalJsonOptions.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/canal/CanalJsonSerDeSchemaTest.java
Labels: component=Formats, review=description?

#14640 [FLINK-20937][Table API/SQL]Drop table can fails, when i create a tab…
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/catalog/CatalogManager.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/catalog/CatalogTableITCase.scala
Labels: component=TableSQL/Client, review=description?

#14530 [FLINK-20348][kafka] Make "schema-registry.subject" optional for Kafka sink with avro-confluent format
  docs/dev/table/connectors/formats/avro-confluent.md
  docs/dev/table/connectors/formats/avro-confluent.zh.md
  docs/dev/table/connectors/formats/debezium.md
  docs/dev/table/connectors/formats/debezium.zh.md
  flink-connectors/flink-connector-kafka/pom.xml
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/streaming/connectors/kafka/table/KafkaDynamicTableFactory.java
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/streaming/connectors/kafka/table/KafkaOptions.java
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/streaming/connectors/kafka/table/UpsertKafkaDynamicTableFactory.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/KafkaDynamicTableFactoryTest.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/UpsertKafkaDynamicTableFactoryTest.java
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/src/test/java/org/apache/flink/tests/util/kafka/SQLClientSchemaRegistryITCase.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/factories/FactoryUtil.java
Labels: component=Formats, component=TableSQL/Ecosystem, review=description?

#14610 [FLINK-20909][table-planner-blink] Fix deduplicate mini-batch interval infer
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamPhysicalDeduplicate.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/DeduplicateTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/DeduplicateTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/DeduplicateITCase.scala
Labels: component=TableSQL/Planner, review=description?

#14668 [FLINK-20462][runtime] Port MailboxOperatorTest to StreamTaskMailboxTestHarness. [1.12]
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/MailboxOperatorTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskMailboxTestHarness.java
Labels: component=Runtime/Task, review=description?

#14664 [FLINK-20989][table-planner-blink] Functions in ExplodeFunctionUtil should handle null data to avoid NPE
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/utils/ExplodeFunctionUtil.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/utils/ExploadFuntionUtilTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/UnnestITCase.scala
Labels: component=TableSQL/Planner, review=description?

#14669 [FLINK-20997][tests] Generate yarn classpath before test phase
  flink-yarn-tests/pom.xml
Labels: component=Deployment/YARN, component=Tests, review=description?

#14603 [FLINK-20914][core] Format the description of 'security.ssl.internal.session-cache-size' option
  docs/_includes/generated/expert_security_ssl_section.html
  docs/_includes/generated/security_configuration.html
  flink-core/src/main/java/org/apache/flink/configuration/SecurityOptions.java
Labels: component=API/Core, review=description?

#14644 [FLINK-20840][table-planner] Properly transpose projection to join
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/optimize/program/FlinkBatchProgram.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/optimize/program/FlinkStreamProgram.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/FlinkBatchRuleSets.scala
  flink-table/flink-table-planner-blink/src/test/resources/explain/testExecuteSqlWithExplainInsert.out
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/RankTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/RemoveCollationTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/SubplanReuseTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/agg/OverAggregateTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/join/BroadcastHashSemiAntiJoinTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/join/NestedLoopSemiAntiJoinTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/join/SemiAntiJoinTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/join/ShuffledHashSemiAntiJoinTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/join/SortMergeSemiAntiJoinTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/rules/logical/CalcRankTransposeRuleTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/rules/logical/FlinkLogicalRankRuleForConstantRangeTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/rules/logical/FlinkLogicalRankRuleForRangeEndTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/rules/logical/RankNumberColumnRemoveRuleTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/rules/logical/WindowGroupReorderRuleTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/rules/physical/batch/RemoveRedundantLocalRankRuleTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/DagOptimizationTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/LegacySinkTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/LegacyTableSourceTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/MiniBatchIntervalInferTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/RankTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/SubplanReuseTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/UnnestTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/agg/AggregateTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/agg/GroupingSetsTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/join/JoinReorderTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/join/JoinTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/join/LookupJoinTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/join/SemiAntiJoinTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/join/TemporalFunctionJoinTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/table/SetOperatorsTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/stream/table/TemporalTableFunctionJoinTest.xml
Labels: component=TableSQL/Planner, review=description?

#14673 [FLINK-20963][python] Update example with the latest recommended API
  flink-python/pyflink/table/examples/batch/word_count.py
Labels: component=API/Python, review=description?

#14680 [FLINK-21006][HBase] fix HBaseTablePlanTest tests failed in haoop 3.1.3 with "ja…
  flink-connectors/flink-connector-hbase-base/src/main/java/org/apache/flink/connector/hbase/options/HBaseOptions.java
Labels: component=Connectors/HBase, component=TableSQL/Ecosystem, review=description?

#14634 [FLINK-20913][hive]Improve HiveConf creation
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableMetaStoreFactory.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSink.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HivePartitionFetcherContextBase.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/util/HiveConfUtils.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/util/HivePartitionUtils.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/util/HiveConfUtilsTest.java
Labels: component=Connectors/Hive, review=description?

#14681 [FLINK-21009] Can not disable certain options in Elasticsearch 7 connector
  flink-connectors/flink-connector-elasticsearch-base/src/main/java/org/apache/flink/streaming/connectors/elasticsearch/ElasticsearchSinkBase.java
  flink-connectors/flink-connector-elasticsearch6/src/main/java/org/apache/flink/streaming/connectors/elasticsearch6/ElasticsearchSink.java
  flink-connectors/flink-connector-elasticsearch7/src/main/java/org/apache/flink/streaming/connectors/elasticsearch7/ElasticsearchSink.java
Labels: component=Connectors/ElasticSearch, review=description?

#14689 [FLINK-20500][upsert-kafka] Fix temporal join test
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/UpsertKafkaTableITCase.java
Labels: component=Connectors/Kafka, component=TableSQL/Ecosystem, review=description?

#14703 [FLINK-21039][doc] change legacy_planner.zh.md some English links to Zh links
  docs/dev/table/legacy_planner.zh.md
Labels: component=Documentation, component=TableSQL/Ecosystem, review=description?

#14701 [FLINK-20500][upsert-kafka] Fix temporal join test
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/UpsertKafkaTableITCase.java
Labels: component=Connectors/Kafka, component=TableSQL/Ecosystem, review=description?

#14671 [hotfix][docs] Fix typo in 'docs/dev/table/functions/udfs.md & udfs.zh.md'.
  docs/dev/table/functions/udfs.md
  docs/dev/table/functions/udfs.zh.md
Labels: review=description?

#14698 [hotfix][javadoc] Correct the wrong spelling 'perserves' to 'preserves'.
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/catalog/CatalogView.java
Labels: review=description?

#14706 [FLINK-20913][hive]Improve HiveConf creation for release-1.12
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableMetaStoreFactory.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSink.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HivePartitionFetcherContextBase.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/util/HiveConfUtils.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/util/HivePartitionUtils.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/util/HiveConfUtilsTest.java
Labels: component=Connectors/Hive, review=description?

#14707 [FLINK-20913][hive]Improve HiveConf creation for release-1.11
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableMetaStoreFactory.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSink.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSource.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HiveContinuousMonitoringFunction.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/util/HiveConfUtils.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/HiveCatalog.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/util/HiveConfUtilsTest.java
Labels: component=Connectors/Hive, review=description?

#14702 [FLINK-21042][docs] Correct the error in the code example in section 'aggregate-functions' of table-page 'udfs'.
  docs/dev/table/functions/udfs.md
Labels: component=Documentation, component=TableSQL/Ecosystem, review=description?

#14672 [FLINK-20998][docs] - flink-raw.jar no longer mentioned + prettier maven xml dependencies
  docs/_data/sql-connectors.yml
  docs/_includes/sql-connector-download-table.html
  docs/_includes/sql-connector-download-table.zh.html
  docs/dev/table/connectors/formats/raw.md
  docs/dev/table/connectors/formats/raw.zh.md
Labels: component=Documentation, component=TableSQL/Ecosystem, review=description?

#14704 [FLINK-21044][connectors/jdbc] Use more random bytes in Xid
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/xa/SemanticXidGenerator.java
Labels: component=Connectors/JDBC, review=description?

#14715 [FLINK-21071][docker][tests] Run docker tests against 1.12 images
  flink-end-to-end-tests/test-scripts/common_docker.sh
Labels: component=Deployment/Kubernetes, component=Tests, review=description?

#14716 [FLINK-21071][docker][tests] Run docker tests against 1.11 images
  flink-end-to-end-tests/test-scripts/common_docker.sh
Labels: component=Deployment/Kubernetes, component=Tests, review=description?

#14723 [FLINK-20998][docs] - cherry pick: flink-raw.jar no longer mentioned + prettier maven deps
  docs/_data/sql-connectors.yml
  docs/_includes/sql-connector-download-table.html
  docs/dev/table/connectors/formats/raw.md
  docs/dev/table/connectors/formats/raw.zh.md
Labels: component=Documentation, component=TableSQL/Ecosystem, review=description?

#14693 [FLINK-19446][canal][json] canal-json has a situation that -U and +U are equal, when updating the null field to be non-null
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/canal/CanalJsonDeserializationSchema.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/canal/CanalJsonSerDeSchemaTest.java
  flink-formats/flink-json/src/test/resources/canal-data-filter-table.txt
  flink-formats/flink-json/src/test/resources/canal-data.txt
Labels: component=Formats, review=description?

#14687 [FLINK-17868][table-planner-blink] Fix proctime in DDL can not work in batch mode
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecCalc.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecCorrelate.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecDataStreamScan.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecLegacyTableSourceScan.java
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/optimize/BatchCommonSubGraphBasedOptimizer.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/optimize/program/FlinkBatchProgram.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/optimize/program/FlinkOptimizeContext.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/optimize/program/FlinkRelTimeIndicatorProgram.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/optimize/program/StreamOptimizeContext.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/plan/rules/logical/BatchLogicalWindowAggregateRule.scala
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/TableScanTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/TableSourceTest.xml
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/join/LookupJoinTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/batch/sql/TableScanTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/plan/batch/sql/TableSourceTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/TableScanITCase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/TableSourceITCase.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/AbstractProcessStreamOperator.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/TableStreamOperator.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/over/BufferDataOverWindowOperatorTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/over/NonBufferOverWindowOperatorTest.java
Labels: component=TableSQL/Planner, review=description?

#14728 [FLINK-20654][docs] Adding unaligned checkpoint warning to release notes/docs.
  docs/ops/state/checkpoints.md
  docs/release-notes/flink-1.12.md
  docs/release-notes/flink-1.12.zh.md
Labels: review=description?

#14679 [FLINK-20947][planner] Fix idle source doesn't work when pushing watermark into the source
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/KafkaTableITCase.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/rules/logical/PushWatermarkIntoTableSourceScanRuleBase.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/plan/rules/logical/PushWatermarkIntoTableSourceScanRuleTest.java
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/rules/logical/PushWatermarkIntoTableSourceScanRuleTest.xml
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/SourceWatermarkITCase.scala
Labels: component=TableSQL/Planner, review=description?

#14717 [FLINK-21020][build] Bump Jackson to 2.12.1
  flink-connectors/flink-connector-elasticsearch5/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-elasticsearch6/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-elasticsearch7/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-kinesis/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-azure-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-fs-hadoop-shaded/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-s3-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-s3-fs-presto/src/main/resources/META-INF/NOTICE
  flink-formats/flink-sql-avro-confluent-registry/src/main/resources/META-INF/NOTICE
  flink-formats/flink-sql-avro/src/main/resources/META-INF/NOTICE
  flink-kubernetes/src/main/resources/META-INF/NOTICE
  flink-mesos/src/main/resources/META-INF/NOTICE
  flink-python/src/main/resources/META-INF/NOTICE
  flink-table/flink-table-planner-blink/pom.xml
  flink-table/flink-table-planner-blink/src/main/resources/META-INF/NOTICE
  flink-table/flink-table-planner/pom.xml
  flink-table/flink-table-planner/src/main/resources/META-INF/NOTICE
  pom.xml
Labels: component=BuildSystem/Shaded, review=description?

#14742 [FLINK-21069][table-planner-blink] Configuration "parallelism.default" doesn't take effect for TableEnvironment#explainSql
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/delegation/PlannerBase.scala
  flink-table/flink-table-planner-blink/src/test/resources/explain/testStreamTableEnvironmentExecutionExplain.out
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/api/TableEnvironmentTest.scala
Labels: component=TableSQL/API, review=description?

#14691 [FLINK-21018] Update checkpoint related documentation for UI
  docs/fig/checkpoint_monitoring-history-subtasks.png
  docs/fig/checkpoint_monitoring-history.png
  docs/ops/monitoring/checkpoint_monitoring.md
  docs/ops/monitoring/checkpoint_monitoring.zh.md
Labels: component=<none>, review=description?

#14747 [FLINK-19436][tests] Properly shutdown cluster in e2e tests
  flink-end-to-end-tests/test-scripts/common.sh
  flink-end-to-end-tests/test-scripts/test_batch_sql.sh
  flink-end-to-end-tests/test-scripts/test_streaming_sql.sh
  flink-end-to-end-tests/test-scripts/test_tpcds.sh
Labels: component=TableSQL/Planner, component=Tests, review=description?

#14735 [FLINK-20961][table-planner-blink] Fix NPE when no assigned timestamp defined
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/GenerateUtils.scala
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/runtime/stream/table/TimeAttributesITCase.scala
Labels: component=TableSQL/Runtime, review=description?

#14718 [FLINK-21071][release][docker] Update docker dev branch in snapshot branch
  tools/releasing/create_snapshot_branch.sh
Labels: component=Deployment/Kubernetes, component=Tests, review=description?

#14751 [BP-1.12][FLINK-21069][table-planner-blink] Configuration parallelism.default doesn't take effect for TableEnvironment#explainSql
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/delegation/PlannerBase.scala
Labels: component=TableSQL/API, review=description?

#14752 [BP-1.12][FLINK-20961][table-planner-blink] Fix NPE when no assigned timestamp defined on DataStream
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/GenerateUtils.scala
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/runtime/stream/table/TimeAttributesITCase.scala
Labels: component=TableSQL/Runtime, review=description?

#14726 [FLINK-21026][flink-sql-parser] Align column list specification synta…
  flink-table/flink-sql-parser/src/main/codegen/includes/parserImpls.ftl
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/dml/RichSqlInsert.java
  flink-table/flink-sql-parser/src/test/java/org/apache/flink/sql/parser/FlinkSqlParserImplTest.java
Labels: component=TableSQL/API, review=description?

#14738 [FLINK-20947][planner] Fix idle source doesn't work when pushing watermark into the source
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/KafkaTableITCase.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/plan/rules/logical/PushWatermarkIntoTableSourceScanRuleBase.java
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/plan/rules/logical/PushWatermarkIntoTableSourceScanRuleTest.java
  flink-table/flink-table-planner-blink/src/test/resources/org/apache/flink/table/planner/plan/rules/logical/PushWatermarkIntoTableSourceScanRuleTest.xml
Labels: component=TableSQL/Planner, review=description?

#14756 [FLINK-21122][docs] Update checkpoint_monitoring.zh.md
  docs/ops/monitoring/checkpoint_monitoring.zh.md
Labels: component=Documentation, review=description?

#14749 [FLINK-21123][fs] Bump beanutils to 1.9.4
  flink-filesystems/flink-fs-hadoop-shaded/pom.xml
  flink-filesystems/flink-fs-hadoop-shaded/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-s3-fs-hadoop/pom.xml
  flink-filesystems/flink-s3-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-s3-fs-presto/pom.xml
  flink-filesystems/flink-s3-fs-presto/src/main/resources/META-INF/NOTICE
Labels: component=FileSystems, review=description?

#14745 [FLINK-21020][build] Bump Jackson to 2.10.5.1
  flink-connectors/flink-connector-elasticsearch5/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-elasticsearch6/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-elasticsearch7/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-kinesis/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-azure-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-fs-hadoop-shaded/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-s3-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-s3-fs-presto/src/main/resources/META-INF/NOTICE
  flink-formats/flink-sql-avro-confluent-registry/src/main/resources/META-INF/NOTICE
  flink-formats/flink-sql-avro/src/main/resources/META-INF/NOTICE
  flink-kubernetes/src/main/resources/META-INF/NOTICE
  flink-mesos/src/main/resources/META-INF/NOTICE
  flink-python/src/main/resources/META-INF/NOTICE
  flink-table/flink-table-planner-blink/pom.xml
  flink-table/flink-table-planner-blink/src/main/resources/META-INF/NOTICE
  flink-table/flink-table-planner/pom.xml
  flink-table/flink-table-planner/src/main/resources/META-INF/NOTICE
  pom.xml
Labels: component=BuildSystem/Shaded, review=description?

#14746 [FLINK-21020][build] Bump Jackson to 2.10.5.1
  flink-connectors/flink-connector-elasticsearch5/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-elasticsearch6/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-elasticsearch7/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-azure-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-fs-hadoop-shaded/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-s3-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-s3-fs-presto/src/main/resources/META-INF/NOTICE
  flink-formats/flink-avro-confluent-registry/src/main/resources/META-INF/NOTICE
  flink-kubernetes/src/main/resources/META-INF/NOTICE
  flink-mesos/src/main/resources/META-INF/NOTICE
  flink-python/src/main/resources/META-INF/NOTICE
  flink-table/flink-table-planner-blink/pom.xml
  flink-table/flink-table-planner-blink/src/main/resources/META-INF/NOTICE
  flink-table/flink-table-planner/pom.xml
  flink-table/flink-table-planner/src/main/resources/META-INF/NOTICE
  pom.xml
Labels: component=BuildSystem/Shaded, review=description?

#14762 [1.11][FLINK-21123][fs] Bump beanutils to 1.9.4
  flink-filesystems/flink-fs-hadoop-shaded/pom.xml
  flink-filesystems/flink-fs-hadoop-shaded/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-s3-fs-hadoop/pom.xml
  flink-filesystems/flink-s3-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-s3-fs-presto/pom.xml
  flink-filesystems/flink-s3-fs-presto/src/main/resources/META-INF/NOTICE
Labels: component=FileSystems, review=description?

#14761 [1.12][FLINK-21123][fs] Bump beanutils to 1.9.4
  flink-filesystems/flink-fs-hadoop-shaded/pom.xml
  flink-filesystems/flink-fs-hadoop-shaded/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-s3-fs-hadoop/pom.xml
  flink-filesystems/flink-s3-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-s3-fs-presto/pom.xml
  flink-filesystems/flink-s3-fs-presto/src/main/resources/META-INF/NOTICE
Labels: component=FileSystems, review=description?

#14710 [FLINK-19393][docs-zh] Translate the 'SQL Hints' page of 'Table API & SQL' into Chinese
  docs/dev/table/sql/hints.zh.md
Labels: component=Documentation, component=chinese-translation, review=description?

#14711 [FLINK-21059][kafka] KafkaSourceEnumerator does not honor consumer properties
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/source/KafkaSource.java
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/source/enumerator/KafkaSourceEnumerator.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/source/enumerator/KafkaEnumeratorTest.java
Labels: component=Connectors/Kafka, review=description?

#14781 [release-1.12][FLINK-21059][kafka] KafkaSourceEnumerator does not honor consumer properties
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/source/KafkaSource.java
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/source/enumerator/KafkaSourceEnumerator.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/source/enumerator/KafkaEnumeratorTest.java
Labels: component=Connectors/Kafka, review=description?

#14764 [Flink-20999][docs] - adds usage examples to the Kafka Avro Confluent connector format
  docs/dev/table/connectors/formats/avro-confluent.md
  docs/dev/table/connectors/formats/avro-confluent.zh.md
Labels: component=Documentation, component=TableSQL/Ecosystem, review=description?

#14776 [FLINK-21072][hotfix] Clear resources in HeapSnapshotStrategy
  flink-runtime/src/main/java/org/apache/flink/runtime/state/heap/HeapSnapshotStrategy.java
Labels: component=Runtime/StateBackends, review=description?

#14688 [FLINK-21017][docs] Fix missing backquote in table connectors docs
  docs/dev/table/connectors/index.md
  docs/dev/table/connectors/index.zh.md
Labels: component=Documentation, review=description?

#14682 [hotfix] [code] Fix typo in exception name
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/fanout/FanOutRecordPublisher.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/fanout/FanOutRecordPublisherTest.java
Labels: review=description?

#14782 [FLINK-21167] Make StateTable snapshots iterable
  flink-runtime/src/main/java/org/apache/flink/runtime/state/IterableStateSnapshot.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/StateEntry.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/heap/AbstractStateTableSnapshot.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/heap/CopyOnWriteStateMapSnapshot.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/heap/NestedStateMapSnapshot.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/heap/StateMapSnapshot.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/heap/CopyOnWriteStateMapTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/heap/NestedMapsStateTableTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/testutils/StateEntryMatcher.java
  flink-state-backends/flink-statebackend-heap-spillable/pom.xml
  flink-state-backends/flink-statebackend-heap-spillable/src/main/java/org/apache/flink/runtime/state/heap/CopyOnWriteSkipListStateMapSnapshot.java
  flink-state-backends/flink-statebackend-heap-spillable/src/test/java/org/apache/flink/runtime/state/heap/CopyOnWriteSkipListStateMapComplexOpTest.java
  flink-state-backends/flink-statebackend-heap-spillable/src/test/java/org/apache/flink/runtime/state/heap/CopyOnWriteSkipListStateMapTestUtils.java
Labels: component=Runtime/Checkpointing, component=Runtime/StateBackends, review=description?

#14793 [FLINK-21182] Make HeapPriorityQueueStateSnapshot iterable
  flink-runtime/src/main/java/org/apache/flink/runtime/state/KeyGroupPartitioner.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/heap/HeapPriorityQueueStateSnapshot.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/KeyGroupPartitionerTestBase.java
Labels: component=Runtime/StateBackends, review=description?

#14796 [FLINK-21048][docs] Refactor documentation related to switch memory allocator
  docs/deployment/resource-providers/standalone/docker.md
  docs/deployment/resource-providers/standalone/docker.zh.md
Labels: component=Documentation, review=description?

#14767 [FLINK-21099] Introduce JobType to distinguish between batch and streaming jobs
  flink-optimizer/src/main/java/org/apache/flink/optimizer/plantranslate/JobGraphGenerator.java
  flink-optimizer/src/test/java/org/apache/flink/optimizer/plantranslate/JobGraphGeneratorTest.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobgraph/JobGraph.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobgraph/JobType.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/StreamGraph.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/StreamGraphGenerator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/StreamingJobGraphGenerator.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/graph/StreamGraphGeneratorBatchExecutionTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/graph/StreamingJobGraphGeneratorTest.java
  flink-table/flink-table-planner-blink/src/main/java/org/apache/flink/table/planner/utils/ExecutorUtils.java
  flink-tests/src/test/java/org/apache/flink/test/runtime/BlockingShuffleITCase.java
Labels: component=Runtime/Coordination, review=description?

#14811 [FLINK-13996][docs] Update instructions on building with Maven 3.3+
  docs/flinkDev/building.md
Labels: review=description?

#14777 [FLINK-21164][rest] Delete temporary jars
  flink-clients/src/main/java/org/apache/flink/client/cli/CliFrontend.java
  flink-clients/src/main/java/org/apache/flink/client/program/PackagedProgram.java
  flink-runtime-web/src/main/java/org/apache/flink/runtime/webmonitor/handlers/JarListHandler.java
  flink-runtime-web/src/main/java/org/apache/flink/runtime/webmonitor/handlers/JarPlanHandler.java
  flink-runtime-web/src/main/java/org/apache/flink/runtime/webmonitor/handlers/JarRunHandler.java
  flink-runtime-web/src/main/java/org/apache/flink/runtime/webmonitor/handlers/utils/JarHandlerUtils.java
Labels: component=Runtime/REST, review=description?
