Repository apache/flink, pull requests merged in 2021-08, with the labels that each got.

#16648 [FLINK-23518][tests] Wait until curator has connected
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderelection/ZooKeeperLeaderElectionConnectionHandlingTest.java
Labels: component=Runtime/Coordination, review=description?

#16661 Revert "[FLINK-22054][dist] Suppress the verbose log in kubernetes in…
  flink-dist/src/main/flink-bin/conf/log4j-console.properties
  flink-dist/src/main/flink-bin/conf/log4j-session.properties
  flink-dist/src/main/flink-bin/conf/log4j.properties
  flink-dist/src/main/flink-bin/conf/logback-console.xml
  flink-dist/src/main/flink-bin/conf/logback-session.xml
  flink-dist/src/main/flink-bin/conf/logback.xml
Labels: component=Runtime/Coordination, review=description?

#16668 [FLINK-23571][table-planner] Set internal query-start options when translate ExecNodeGraph to Transformation
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/delegation/BatchPlanner.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/delegation/StreamPlanner.scala
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/utils/InternalConfigOptionsTest.java
Labels: component=TableSQL/Planner, review=description?

#16675 [FLINK-23571][table-planner] Set internal query-start options when translate ExecNodeGraph to Transformation
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/delegation/BatchPlanner.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/delegation/StreamPlanner.scala
  flink-table/flink-table-planner-blink/src/test/java/org/apache/flink/table/planner/utils/InternalConfigOptionsTest.java
Labels: component=TableSQL/Planner, review=description?

#16642 [FLINK-21569] Upgrade flink-shaded-jackson version to 2.12.1-13.0
  flink-formats/flink-csv/src/test/java/org/apache/flink/formats/csv/CsvFilesystemBatchITCase.java
  pom.xml
Labels: component=Formats, component=TableSQL/Runtime, review=description?

#16682 [FLINK-23591][docs] Fix the link to page deployment/config for page d…
  docs/content.zh/docs/deployment/memory/mem_tuning.md
  docs/content/docs/deployment/memory/mem_tuning.md
Labels: component=Documentation, review=description?

#16547 [FLINK-23423][docs-zh] Translate the page of "Elasticsearch Connector" into Chinese
  docs/content.zh/docs/connectors/datastream/elasticsearch.md
Labels: component=Documentation, component=chinese-translation, review=description?

#16614 [FLINK-21207][csv] Fix 'csv.disable-quote-character' = 'true' can not…
  flink-formats/flink-csv/src/main/java/org/apache/flink/formats/csv/CsvFormatFactory.java
  flink-formats/flink-csv/src/main/java/org/apache/flink/formats/csv/CsvRowDataDeserializationSchema.java
  flink-formats/flink-csv/src/test/java/org/apache/flink/formats/csv/CsvFormatFactoryTest.java
  flink-formats/flink-csv/src/test/java/org/apache/flink/formats/csv/CsvRowDataSerDeSchemaTest.java
Labels: component=<none>, review=description?

#16316 [FLINK-16090] Translate "Table API" page of "Table API & SQL" into Chinese
  docs/content.zh/docs/dev/table/tableApi.md
Labels: component=Documentation, component=chinese-translation, review=description?

#16671 [BP-1.13][FLINK-23102][rest] Return empty FlameGraph if feature is disabled
  docs/layouts/shortcodes/generated/rest_v1_dispatcher.html
  flink-runtime-web/src/test/resources/rest_api_v1.snapshot
  flink-runtime-web/web-dashboard/src/app/pages/job/overview/flamegraph/job-overview-drawer-flamegraph.component.html
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/handler/job/JobVertexFlameGraphHandler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/webmonitor/WebMonitorEndpoint.java
  flink-runtime/src/main/java/org/apache/flink/runtime/webmonitor/threadinfo/JobVertexFlameGraph.java
Labels: component=Runtime/WebFrontend, review=description?

#16659 [FLINK-23569][Documentation]The Testing page of the documentation has a word error
  docs/layouts/shortcodes/artifact.html
Labels: component=Documentation, review=description?

#16666 [FLINK-23562][CI] Update CI JDK to 1.8.0_292
  azure-pipelines.yml
  tools/azure-pipelines/build-apache-repo.yml
Labels: component=BuildSystem/AzurePipelines, review=description?

#16681 [FLINK-23524][tests] Harden AdaptiveSchedulerClusterITCase
  flink-runtime/src/main/java/org/apache/flink/runtime/minicluster/MiniCluster.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveSchedulerClusterITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/testtasks/OnceBlockingNoOpInvokable.java
Labels: component=Runtime/Coordination, review=description?

#16645 [FLINK-23539][metrics-influxdb] InfluxDBReporter should filter charac…
  flink-metrics/flink-metrics-influxdb/src/main/java/org/apache/flink/metrics/influxdb/MeasurementInfoProvider.java
  flink-metrics/flink-metrics-influxdb/src/test/java/org/apache/flink/metrics/influxdb/MeasurementInfoProviderTest.java
Labels: component=Runtime/Metrics, review=description?

#16472 [FLINK-23183][connectors/rabbitmq] Fix ACKs for redelivered messages in RMQSource
  flink-connectors/flink-connector-rabbitmq/src/main/java/org/apache/flink/streaming/connectors/rabbitmq/RMQSource.java
  flink-connectors/flink-connector-rabbitmq/src/test/java/org/apache/flink/streaming/connectors/rabbitmq/RMQSourceITCase.java
  flink-connectors/flink-connector-rabbitmq/src/test/java/org/apache/flink/streaming/connectors/rabbitmq/RMQSourceTest.java
Labels: review=description?

#16656 [BP-1.13][FLINK-23183][connectors/rabbitmq] Fix ACKs for redelivered messages in RMQSource and add IT
  flink-connectors/flink-connector-rabbitmq/src/main/java/org/apache/flink/streaming/connectors/rabbitmq/RMQSource.java
  flink-connectors/flink-connector-rabbitmq/src/test/java/org/apache/flink/streaming/connectors/rabbitmq/RMQSourceITCase.java
  flink-connectors/flink-connector-rabbitmq/src/test/java/org/apache/flink/streaming/connectors/rabbitmq/RMQSourceTest.java
Labels: component=Connectors/RabbitMQ, review=description?

#16657 [BP-1.12][FLINK-23183][connectors/rabbitmq] Fix ACKs for redelivered messages in RMQSource and add IT
  flink-connectors/flink-connector-rabbitmq/src/main/java/org/apache/flink/streaming/connectors/rabbitmq/RMQSource.java
  flink-connectors/flink-connector-rabbitmq/src/test/java/org/apache/flink/streaming/connectors/rabbitmq/RMQSourceITCase.java
  flink-connectors/flink-connector-rabbitmq/src/test/java/org/apache/flink/streaming/connectors/rabbitmq/RMQSourceTest.java
Labels: component=Connectors/RabbitMQ, review=description?

#16630 [FLINK-23531][table]Allow skip all change log for row-time deduplicate mini-batch
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecDeduplicate.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/DeduplicateITCase.scala
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/deduplicate/RowTimeMiniBatchLatestChangeDeduplicateFunction.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/operators/deduplicate/RowTimeDeduplicateFunctionTest.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/operators/deduplicate/RowTimeDeduplicateFunctionTestBase.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/operators/deduplicate/RowTimeMiniBatchLatestChangeDeduplicateFunctionTest.java
Labels: component=TableSQL/Runtime, review=description?

#16616 [FLINK-23511][doc]fix the display format of parameter in ops/metrics.md
  docs/content.zh/docs/ops/metrics.md
  docs/content/docs/ops/metrics.md
Labels: component=Documentation, review=description?

#16576 [FLINK-23463][doc] Replace the <div> tag with ShortCodes in document
  docs/content.zh/docs/connectors/datastream/kafka.md
  docs/content.zh/docs/connectors/datastream/kinesis.md
  docs/content.zh/docs/connectors/datastream/streamfile_sink.md
  docs/content.zh/docs/deployment/advanced/external_resources.md
  docs/content.zh/docs/deployment/config.md
  docs/content.zh/docs/deployment/memory/mem_migration.md
  docs/content.zh/docs/deployment/memory/mem_tuning.md
  docs/content.zh/docs/dev/dataset/iterations.md
  docs/content.zh/docs/dev/datastream/event-time/generating_watermarks.md
  docs/content.zh/docs/dev/datastream/fault-tolerance/queryable_state.md
  docs/content.zh/docs/dev/datastream/fault-tolerance/serialization/custom_serialization.md
  docs/content.zh/docs/dev/table/common.md
  docs/content.zh/docs/ops/state/checkpoints.md
  docs/content.zh/docs/ops/state/savepoints.md
  docs/content.zh/docs/ops/state/state_backends.md
  docs/content/docs/connectors/datastream/kinesis.md
  docs/content/docs/deployment/advanced/external_resources.md
  docs/content/docs/deployment/config.md
  docs/content/docs/deployment/memory/mem_migration.md
  docs/content/docs/deployment/memory/mem_tuning.md
  docs/content/docs/dev/dataset/iterations.md
  docs/content/docs/dev/datastream/event-time/generating_watermarks.md
  docs/content/docs/dev/datastream/fault-tolerance/queryable_state.md
  docs/content/docs/ops/state/savepoints.md
Labels: component=Documentation, review=description?

#16709 [FLINK-23590][streaming] System.currentTimeMillis replaced by SystemC…
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTest.java
Labels: component=Runtime/Task, review=description?

#15924 [FLINK-22670][FLIP-150][connector/common] Hybrid source baseline
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/hybrid/HybridSource.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/hybrid/HybridSourceEnumeratorState.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/hybrid/HybridSourceEnumeratorStateSerializer.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/hybrid/HybridSourceReader.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/hybrid/HybridSourceSplit.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/hybrid/HybridSourceSplitEnumerator.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/hybrid/HybridSourceSplitSerializer.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/hybrid/SourceReaderFinishedEvent.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/hybrid/SwitchSourceEvent.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/hybrid/HybridSourceITCase.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/hybrid/HybridSourceReaderTest.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/hybrid/HybridSourceSplitEnumeratorTest.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/hybrid/HybridSourceSplitSerializerTest.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/hybrid/HybridSourceTest.java
Labels: component=Connectors/Common, review=description?

#16662 [hotfix][connector][jdbc] Corrected exception variable name
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/table/JdbcRowDataLookupFunction.java
Labels: review=description?

#16653 [FLINK-23558][streaming] Ignoring RejectedExecutionException during s…
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTest.java
Labels: component=Runtime/Task, review=description?

#16670 [FLINK-23581][docs] Change site.download_url to https://flink.apache.…
  docs/README.md
  docs/config.toml
  docs/content.zh/docs/deployment/resource-providers/standalone/overview.md
  docs/content.zh/docs/deployment/resource-providers/yarn.md
  docs/content.zh/docs/dev/datastream/fault-tolerance/queryable_state.md
  docs/content.zh/docs/flinkDev/building.md
  docs/content.zh/docs/libs/gelly/overview.md
  docs/content.zh/docs/try-flink/local_installation.md
  docs/content.zh/release-notes/flink-1.8.md
  docs/content/docs/deployment/resource-providers/standalone/overview.md
  docs/content/docs/deployment/resource-providers/yarn.md
  docs/content/docs/dev/datastream/fault-tolerance/queryable_state.md
  docs/content/docs/flinkDev/building.md
  docs/content/docs/libs/gelly/overview.md
  docs/content/docs/try-flink/local_installation.md
  docs/content/release-notes/flink-1.8.md
  docs/layouts/shortcodes/downloads.html
Labels: component=Documentation, review=description?

#16654 [FLINK-23492][runtime] harden testCachedStatsCleanedAfterCleanupInterval
  flink-runtime/src/main/java/org/apache/flink/runtime/webmonitor/threadinfo/JobVertexThreadInfoTracker.java
  flink-runtime/src/main/java/org/apache/flink/runtime/webmonitor/threadinfo/JobVertexThreadInfoTrackerBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/webmonitor/threadinfo/JobVertexThreadInfoTrackerTest.java
Labels: component=Runtime/Coordination, review=description?

#16615 [FLINK-23437][jdbc] Add an option to (dis)allow XA transaction multiplexing
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/JdbcExactlyOnceOptions.java
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/JdbcSink.java
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/xa/XaFacade.java
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/xa/JdbcExactlyOnceSinkE2eTest.java
Labels: component=Connectors/JDBC, review=description?

#16705 [BP-1.13][FLINK-22382][tests] Harden ProcessFailureCancelingITCase.testCancelingOnProcessFailure
  flink-tests/src/test/java/org/apache/flink/test/recovery/ProcessFailureCancelingITCase.java
Labels: component=Runtime/Coordination, review=description?

#16697 [FLINK-23587] Set Deployment's Annotation when using native kubernetes
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/factory/KubernetesJobManagerFactory.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/KubernetesJobManagerTestBase.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/KubernetesPodTestBase.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/factory/KubernetesJobManagerFactoryTest.java
Labels: component=Deployment/Kubernetes, review=description?

#16650 [FLINK-22405] [Table SQL / API] Support fixed-lengh chars in the Lead…
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/functions/aggfunctions/LeadLagAggFunction.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/utils/AggFunctionFactory.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/agg/AggregateITCaseBase.scala
Labels: component=TableSQL/API, review=description?

#16719 [FLINK-23634][tests] Explicitly trigger scheduled tasks
  flink-dstl/flink-dstl-dfs/src/test/java/org/apache/flink/changelog/fs/BatchingStateChangeUploaderTest.java
Labels: component=Runtime/Checkpointing, review=description?

#16702 [FLINK-23610][tests] Harden DefaultSchedulerTest
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/DefaultSchedulerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/TestExecutionVertexOperationsDecorator.java
Labels: review=description?, component=Runtime/Coordination

#16660 [FLINK-23570][Documentation] Update the maven dependency of the File Sink page in the document
  docs/content.zh/docs/connectors/datastream/streamfile_sink.md
  docs/content.zh/docs/dev/datastream/testing.md
  docs/content/docs/connectors/datastream/file_sink.md
  docs/content/docs/connectors/datastream/streamfile_sink.md
  docs/content/docs/dev/datastream/testing.md
  docs/layouts/shortcodes/artifact.html
Labels: review=description?, component=Documentation

#16729 Update japicmp configuration for 1.13.2
  pom.xml
Labels: review=description?

#16730 Update japicmp configuration for 1.12.5
  pom.xml
Labels: review=description?

#16711 [Hotfix][flink-sql-parser] Fixed typo.
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/SqlPartitionUtils.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/package-info.java
Labels: review=description?

#16580 [hotfix][runtime] Fix log info
  flink-runtime/src/main/java/org/apache/flink/runtime/clusterframework/BootstrapTools.java
Labels: review=description?

#16692 [FLINK-23509][connectors/kafka] Create new ProducerIdAndEpoch when re…
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/streaming/connectors/kafka/internals/FlinkKafkaInternalProducer.java
Labels: review=description?, component=Connectors/Kafka

#16694 [FLINK-23509][connectors/kafka] Create new ProducerIdAndEpoch when re…
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/streaming/connectors/kafka/internals/FlinkKafkaInternalProducer.java
Labels: review=description?, component=Connectors/Kafka

#16693 [FLINK-23509][connectors/kafka] Create new ProducerIdAndEpoch when re…
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/streaming/connectors/kafka/internals/FlinkKafkaInternalProducer.java
Labels: review=description?, component=Connectors/Kafka

#16713 [FLINK-23408][task] Add metrics for buffer debloating
  docs/content.zh/docs/ops/metrics.md
  docs/content/docs/ops/metrics.md
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/MetricNames.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/bufferdebloat/BufferDebloater.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTest.java
Labels: review=description?, component=Runtime/Checkpointing, component=Runtime/Task

#16748 [FLINK-23673][docs-zh] Fix the prompt and warning text block for Chin…
  docs/content.zh/docs/deployment/filesystems/overview.md
  docs/content.zh/docs/deployment/filesystems/s3.md
  docs/content.zh/docs/dev/datastream/fault-tolerance/serialization/schema_evolution.md
  docs/content.zh/docs/dev/datastream/operators/asyncio.md
  docs/content.zh/docs/dev/datastream/sources.md
  docs/content.zh/docs/dev/table/concepts/versioned_tables.md
  docs/content.zh/docs/dev/table/sql/queries/match_recognize.md
  docs/content.zh/docs/flinkDev/building.md
  docs/content.zh/docs/libs/cep.md
  docs/content.zh/docs/try-flink/datastream.md
Labels: review=description?, component=Documentation

#16304 [FLINK-12438][doc-zh]Translate Task Lifecycle document into Chinese
  docs/content.zh/docs/internals/task_lifecycle.md
Labels: review=description?, component=Documentation, component=chinese-translation

#16718 [FLINK-23579][table-runtime] Fix compile exception in hash functions with varbinary arguments
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/expressions/ScalarFunctionsTest.scala
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/data/binary/BinaryStringDataUtil.java
Labels: review=description?, component=TableSQL/Runtime

#16727 [FLINK-23648][task] Replace StreamTwoInputProcessor with StreamMultipleInputProcessor
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/StreamTwoInputProcessor.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/StreamTwoInputProcessorFactory.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/TwoInputSelectionHandler.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/checkpointing/InputProcessorUtil.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskSelectiveReadingTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/TwoInputStreamTaskTest.java
Labels: review=description?, component=Runtime/Task

#16738 [FLINK-23661][build] Fix protobuf plugin proxy issue
  flink-python/pom.xml
Labels: review=description?, component=BuildSystem

#16712 [FLINK-23624][metrics] Migrate TaskManagerMG instatiations to factory method
  flink-metrics/flink-metrics-prometheus/src/test/java/org/apache/flink/metrics/prometheus/PrometheusReporterTaskScopeTest.java
  flink-metrics/flink-metrics-prometheus/src/test/java/org/apache/flink/metrics/prometheus/PrometheusReporterTest.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/groups/TaskManagerMetricGroup.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/util/MetricUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/MetricRegistryImplTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/AbstractMetricGroupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/MetricGroupRegistrationTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/MetricGroupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/OperatorGroupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/TaskManagerGroupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/TaskManagerJobGroupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/TaskMetricGroupTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTestHarness.java
Labels: review=description?, component=Runtime/Metrics

#16744 [FLINK-23208] let late processing timers fired immediately
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/ProcessingTimeServiceUtil.java
Labels: review=description?, component=API/DataStream, component=Runtime/Task

#16722 [FLINK-23644][build] Resolve maven warnings
  flink-connectors/flink-connector-jdbc/pom.xml
  flink-python/pom.xml
Labels: review=description?, component=BuildSystem

#16716 [FLINK-23631][docs] Fix the link for page zh/docs/dev/dataset/examples
  docs/content.zh/docs/deployment/memory/mem_migration.md
  docs/content.zh/docs/dev/dataset/examples.md
  docs/content.zh/docs/dev/table/functions/udfs.md
  docs/content.zh/docs/ops/metrics.md
  docs/content/docs/deployment/ha/zookeeper_ha.md
  docs/content/docs/ops/metrics.md
Labels: review=description?, component=Documentation

#16742 [FLINK-23626] [Runtime / Metrics] Migrate all TaskMG instantiations to factory method
  flink-metrics/flink-metrics-prometheus/src/test/java/org/apache/flink/metrics/prometheus/PrometheusReporterTaskScopeTest.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/groups/TaskMetricGroup.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/MetricGroupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/OperatorGroupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/TaskMetricGroupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/operators/chaining/ChainedOperatorsMetricTest.java
Labels: review=description?, component=Runtime/Metrics

#16551 [FLINK-23255][test] Introduce JUnit 5 dependencies
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/pom.xml
  flink-end-to-end-tests/flink-end-to-end-tests-common/pom.xml
  flink-end-to-end-tests/flink-end-to-end-tests-hbase/pom.xml
  flink-end-to-end-tests/flink-glue-schema-registry-test/pom.xml
  flink-end-to-end-tests/flink-streaming-kinesis-test/pom.xml
  flink-table/flink-sql-parser-hive/pom.xml
  flink-table/flink-sql-parser/pom.xml
  flink-test-utils-parent/flink-connector-test-utils/pom.xml
  flink-test-utils-parent/flink-test-utils-junit/pom.xml
  flink-test-utils-parent/flink-test-utils/pom.xml
  flink-tests/src/test/java/org/apache/flink/test/junit5/JUnitJupiterTest.java
  pom.xml
Labels: review=description?, component=Tests

#16767 [FLINK-23701][docs] Fix Error translation in "Builtin Watermark Generators" page
  docs/content.zh/docs/dev/datastream/event-time/built_in.md
Labels: review=description?, component=Documentation, component=Documentation/Training

#16762 [FLINK-23408] Waiting for final checkpoint completed before finishing a task
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/MultipleInputStreamTaskChainedSourcesCheckpointingTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/MultipleInputStreamTaskTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskFinalCheckpointsTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/util/CompletingCheckpointResponder.java
Labels: review=description?, component=Runtime/Checkpointing, component=Runtime/Task

#16749 [hotfix][table][api][unionAll] - Corrected unionAll operator doc
  docs/content.zh/docs/dev/table/tableApi.md
  docs/content/docs/dev/table/tableApi.md
Labels: review=description?

#16757 [FLINK-23615][docs] Fix the mistake in "systemfunctions"
  docs/data/sql_functions.yml
  docs/data/sql_functions_zh.yml
Labels: review=description?, component=Documentation

#16741 [FLINK-23662][rpc][akka] Port all Scala code to Java
  flink-rpc/flink-rpc-akka/pom.xml
  flink-rpc/flink-rpc-akka/src/main/java/org/apache/flink/runtime/rpc/akka/AkkaBootstrapTools.java
  flink-rpc/flink-rpc-akka/src/main/java/org/apache/flink/runtime/rpc/akka/AkkaUtils.java
  flink-rpc/flink-rpc-akka/src/main/java/org/apache/flink/runtime/rpc/akka/CustomSSLEngineProvider.java
  flink-rpc/flink-rpc-akka/src/main/java/org/apache/flink/runtime/rpc/akka/EscalatingSupervisorStrategy.java
  flink-rpc/flink-rpc-akka/src/main/java/org/apache/flink/runtime/rpc/akka/HostAndPort.java
  flink-rpc/flink-rpc-akka/src/main/java/org/apache/flink/runtime/rpc/akka/PrioritySettingThreadFactory.java
  flink-rpc/flink-rpc-akka/src/main/java/org/apache/flink/runtime/rpc/akka/PriorityThreadsDispatcher.java
  flink-rpc/flink-rpc-akka/src/main/java/org/apache/flink/runtime/rpc/akka/RemoteAddressExtension.java
  flink-rpc/flink-rpc-akka/src/main/java/org/apache/flink/runtime/rpc/akka/RobustActorSystem.java
  flink-rpc/flink-rpc-akka/src/main/resources/META-INF/NOTICE
  flink-rpc/flink-rpc-akka/src/main/scala/akka/actor/RobustActorSystem.scala
  flink-rpc/flink-rpc-akka/src/main/scala/akka/dispatch/PriorityThreadFactory.scala
  flink-rpc/flink-rpc-akka/src/main/scala/akka/dispatch/PriorityThreadsDispatcher.scala
  flink-rpc/flink-rpc-akka/src/main/scala/akka/dispatch/PriorityThreadsDispatcherPrerequisites.scala
  flink-rpc/flink-rpc-akka/src/main/scala/org/apache/flink/runtime/rpc/akka/AkkaUtils.scala
  flink-rpc/flink-rpc-akka/src/main/scala/org/apache/flink/runtime/rpc/akka/CustomSSLEngineProvider.scala
  flink-rpc/flink-rpc-akka/src/main/scala/org/apache/flink/runtime/rpc/akka/RemoteAddressExtension.scala
  flink-rpc/flink-rpc-akka/src/test/java/org/apache/flink/runtime/rpc/akka/AkkaUtilsTest.java
  flink-rpc/flink-rpc-akka/src/test/java/org/apache/flink/runtime/rpc/akka/RobustActorSystemTest.java
  flink-rpc/flink-rpc-akka/src/test/scala/akka/actor/RobustActorSystemTest.scala
  flink-rpc/flink-rpc-akka/src/test/scala/org/apache/flink/runtime/rpc/akka/AkkaUtilsTest.scala
Labels: review=description?, component=Runtime/Coordination

#16765 [FLINK-23692] Clarify text on Cancel Job confirmation buttons
  flink-runtime-web/web-dashboard/src/app/pages/job/status/job-status.component.html
Labels: review=description?, component=Runtime/WebFrontend

#16756 [FLINK-23678][tests] Harden KafkaSinkITCase#testWriteRecordsToKafkaWithExactlyOnceGuarantee
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/sink/KafkaSinkITCase.java
  flink-connectors/flink-connector-kafka/src/test/resources/log4j2-test.properties
Labels: review=description?, component=Connectors/Kafka

#16714 [FLINK-23475][runtime][checkpoint] Supports repartition partly finished broacast states
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/RoundRobinOperatorStateRepartitioner.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/StateAssignmentOperationTest.java
Labels: review=description?, component=Runtime/Checkpointing

#16753 [FLINK-23685][docs-zh] Translate "Java Lambda Expressions" page into …
  docs/content.zh/docs/dev/datastream/java_lambdas.md
Labels: review=description?, component=Documentation

#16743 [FLINK-23645][Table SQL / Client] Fix SqlClient doesn't response correctly to Signal.INT
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliClient.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliClientTest.java
Labels: review=description?, component=TableSQL/Client

#16522 [FLINK-11634][docs] Translate "State Backends" page into Chinese
  docs/content.zh/docs/ops/state/state_backends.md
Labels: review=description?, component=Documentation, component=chinese-translation

#16782 [FLINK-23699] Fixed RocksDBOptions attribute reference
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBMemoryConfiguration.java
Labels: review=description?, component=Runtime/StateBackends

#16789 [FLINK-23713][tests] Do not hide original exceptions in SavepointITCase
  flink-core/src/main/java/org/apache/flink/util/ExceptionUtils.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/SavepointITCase.java
Labels: review=description?, component=Runtime/Checkpointing

#16775 [FLINK-23716][docs-zh] Translate the 'Zipping Elements in a DataSet' page inito Chinese
  docs/content.zh/docs/dev/dataset/zip_elements_guide.md
Labels: review=description?, component=Documentation

#16779 [FLINK-22673][docs] Add docs about JAR related commands and remove th…
  docs/content.zh/docs/dev/table/sql/jar.md
  docs/content.zh/docs/dev/table/sql/show.md
  docs/content.zh/docs/dev/table/sqlClient.md
  docs/content/docs/dev/table/sql/jar.md
  docs/content/docs/dev/table/sql/show.md
  docs/content/docs/dev/table/sqlClient.md
Labels: review=description?, component=Documentation, component=TableSQL/Client

#16746 [FLINK-22452][docs] list the configuration methods of FlinkKafkaProducer and add ProducerFencedException in Troubleshooting
  docs/content.zh/docs/connectors/datastream/kafka.md
  docs/content/docs/connectors/datastream/kafka.md
Labels: review=description?, component=Connectors/Kafka

#16799 [FLINK-23705][connectors/kinesis] Unregistering metric reporting for closed shards
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/internals/ShardConsumer.java
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/metrics/ShardConsumerMetricsReporter.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/internals/DynamoDBStreamsDataFetcherTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/internals/ShardConsumerTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/internals/ShardConsumerTestUtils.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/polling/PollingRecordPublisherFactoryTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/polling/PollingRecordPublisherTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/metrics/ShardConsumerMetricsReporterTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/testutils/TestUtils.java
Labels: review=description?, component=Connectors/Kinesis

#16768 [FLINK-23473][runtime] Do not create transaction in TwoPhaseCommitSinkFunction after finish
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/sink/TwoPhaseCommitSinkFunction.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/functions/sink/TwoPhaseCommitSinkFunctionTest.java
Labels: review=description?, component=Connectors/Kafka, component=Runtime/Checkpointing

#16831 [FLINK-23736] [docs] Delete unnecessary test line in page `Deployment/Resource Providers/Yarn`
  docs/content/docs/deployment/resource-providers/yarn.md
Labels: review=description?, component=Documentation

#16826 [hotfix][docs] Fix typo in datastream api
  docs/content.zh/docs/dev/datastream/overview.md
  docs/content/docs/dev/datastream/overview.md
Labels: review=description?

#16803 [FLINK-23744][sql-client] Fix unstable CliClientTest
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliClientTest.java
Labels: review=description?, component=TableSQL/Client

#16313 [FLINK-12403][doc-zh]Translate 'How to use logging' page into Chinese
  docs/content.zh/docs/deployment/advanced/logging.md
Labels: review=description?, component=Documentation, component=chinese-translation

#16750 [FLINK-23627] [Runtime / Metrics] Migrate all OperatorMG instantiations to factory method
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/groups/InternalOperatorMetricGroup.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/groups/UnregisteredMetricGroups.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/InternalOperatorGroupTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/MultipleInputStreamTaskTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/OneInputStreamTaskTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/TwoInputStreamTaskTest.java
Labels: review=description?, component=Runtime/Metrics

#16747 [FLINK-23625] [Runtime / Metrics] Migrate all TaskManagerJobMG instantiations to factory method
  flink-metrics/flink-metrics-prometheus/src/test/java/org/apache/flink/metrics/prometheus/PrometheusReporterTaskScopeTest.java
  flink-metrics/flink-metrics-prometheus/src/test/java/org/apache/flink/metrics/prometheus/PrometheusReporterTest.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/groups/TaskManagerJobMetricGroup.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/InternalOperatorGroupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/MetricGroupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/TaskMetricGroupTest.java
Labels: review=description?, component=Runtime/Metrics

#16772 [FLINK-23560][runtime] Calculate absoluteTimeMillis only once for idle metric and throughput calculation.
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/TimerGauge.java
  flink-runtime/src/main/java/org/apache/flink/runtime/throughput/ThroughputCalculator.java
  flink-runtime/src/test/java/org/apache/flink/runtime/throughput/ThroughputCalculatorTest.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTest.java
Labels: review=description?, component=Benchmarks

#16839 [FLINK-23802][kinesis][efo] Reduce ReadTimeoutExceptions for Kinesis Consumer
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/config/ConsumerConfigConstants.java
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/fanout/FanOutShardSubscriber.java
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/proxy/KinesisProxyV2Factory.java
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/util/AwsV2Util.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/fanout/FanOutRecordPublisherTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/fanout/FanOutShardSubscriberTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/proxy/KinesisProxyV2FactoryTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/testutils/FakeKinesisFanOutBehavioursFactory.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/util/AwsV2UtilTest.java
Labels: review=description?, component=Connectors/Kinesis

#8344 [FLINK-12141] [API/Type Serialization System] Allow @TypeInfo annotation on POJO field declarations
  docs/content/docs/dev/datastream/fault-tolerance/serialization/types_serialization.md
  flink-core/src/main/java/org/apache/flink/api/common/typeinfo/TypeInfo.java
  flink-core/src/main/java/org/apache/flink/api/java/typeutils/TypeExtractor.java
  flink-core/src/test/java/org/apache/flink/api/java/typeutils/TypeInfoFactoryTest.java
Labels: review=architecture?, component=API/TypeSerializationSystem

#16848 [FLINK-23812][rocksdb] support configuring RocksDB logging
  docs/layouts/shortcodes/generated/rocksdb_configurable_configuration.html
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/DefaultConfigurableOptionsFactory.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBConfigurableOptions.java
  flink-state-backends/flink-statebackend-rocksdb/src/test/java/org/apache/flink/contrib/streaming/state/RocksDBStateBackendConfigTest.java
Labels: review=description?, component=Runtime/StateBackends

#16811 [FLINK-23649][rocksdb] Add FRocksDB packages to parent-first classloading patterns
  docs/layouts/shortcodes/generated/core_configuration.html
  docs/layouts/shortcodes/generated/expert_class_loading_section.html
  flink-core/src/main/java/org/apache/flink/configuration/CoreOptions.java
Labels: review=description?, component=API/Core

#16834 [FLINK-23789][rocksdb] Remove unnecessary setTotalOrderForSeek for Rocks iterator
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBIncrementalCheckpointUtils.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBOperationUtils.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBResourceContainer.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/restore/RocksDBIncrementalRestoreOperation.java
  flink-state-backends/flink-statebackend-rocksdb/src/test/java/org/apache/flink/contrib/streaming/state/RocksDBResource.java
  flink-state-backends/flink-statebackend-rocksdb/src/test/java/org/apache/flink/contrib/streaming/state/RocksDBStateOptionTest.java
Labels: review=description?, component=Runtime/StateBackends

#16797 [FLINK-23680][streaming] Wait until all expected threads would be triggered in testOpenCloseAndTimestamps
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/StreamTaskTimerTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTestHarness.java
Labels: review=description?, component=Runtime/Task

#16780 [FLINK-13092][docs-zh] Translate "deployment/resource-providers/standalone/kubernetes.md" page into Chinese
  docs/content.zh/docs/deployment/resource-providers/standalone/kubernetes.md
Labels: review=description?, component=Documentation, component=chinese-translation

#16699 [FLINK-23420][table-runtime] LinkedListSerializer now checks for null elements in the list
  flink-core/src/main/java/org/apache/flink/api/java/typeutils/runtime/MaskUtils.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/typeutils/LinkedListSerializer.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/typeutils/LinkedListSerializerTest.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/typeutils/LinkedListSerializerUpgradeTest.java
  flink-table/flink-table-runtime/src/test/resources/linked-list-serializer-1.13/serializer-snapshot
  flink-table/flink-table-runtime/src/test/resources/linked-list-serializer-1.13/test-data
Labels: review=description?, component=TableSQL/Runtime

#16754 [FLINK-23289][table-common] Add null check in BinarySection's constructor and pointTo method
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/data/binary/BinarySection.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/data/binary/LazyBinaryFormat.java
Labels: review=description?, component=TableSQL/Runtime

#16841 [FLINK-23802][kinesis][efo] Reduce ReadTimeoutExceptions for Kinesis Consumer (1.13)
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/config/ConsumerConfigConstants.java
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/fanout/FanOutShardSubscriber.java
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/proxy/KinesisProxyV2Factory.java
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/util/AwsV2Util.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/fanout/FanOutRecordPublisherTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/fanout/FanOutShardSubscriberTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/proxy/KinesisProxyV2FactoryTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/testutils/FakeKinesisFanOutBehavioursFactory.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/util/AwsV2UtilTest.java
Labels: review=description?, component=Connectors/Kinesis

#16840 [FLINK-23802][kinesis][efo] Reduce ReadTimeoutExceptions for Kinesis Consumer (1.12)
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/config/ConsumerConfigConstants.java
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/fanout/FanOutShardSubscriber.java
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/proxy/KinesisProxyV2Factory.java
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/util/AwsV2Util.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/fanout/FanOutRecordPublisherTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/fanout/FanOutShardSubscriberTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/proxy/KinesisProxyV2FactoryTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/testutils/FakeKinesisFanOutBehavioursFactory.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/util/AwsV2UtilTest.java
Labels: review=description?, component=Connectors/Kinesis

#16051 [FLINK-22844]Add doc to introduce ExplainDetails for EXPLAIN sytnax
  docs/content.zh/docs/dev/table/sql/explain.md
  docs/content/docs/dev/table/sql/explain.md
Labels: review=description?, component=Documentation, component=TableSQL/API

#16857 [FLINK-23362][tests] Remove timeouts
  flink-queryable-state/flink-queryable-state-runtime/src/test/java/org/apache/flink/queryablestate/network/ClientTest.java
Labels: review=description?, component=Runtime/QueryableState

#16868 [FLINK-23844]Fix spelling mistakes for "async"
  flink-connectors/flink-connector-hbase-2.2/src/main/java/org/apache/flink/connector/hbase2/source/HBaseRowDataAsyncLookupFunction.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/async/AsyncWaitOperatorTest.java
Labels: review=description?, component=<none>

#16828 [FLINK-23686][connector/kafka] Increase counter "commitsSucceeded" per commit instead of per partition
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/source/metrics/KafkaSourceReaderMetrics.java
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/source/reader/KafkaSourceReader.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/source/metrics/KafkaSourceReaderMetricsTest.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/source/reader/KafkaSourceReaderTest.java
Labels: review=description?, component=Connectors/Kafka

#16876 [FLINK-23044][typo]fix typo for "flink/docs"
  docs/README.md
  docs/content.zh/docs/connectors/table/jdbc.md
  docs/content.zh/docs/connectors/table/upsert-kafka.md
  docs/content.zh/docs/deployment/config.md
  docs/content.zh/docs/deployment/elastic_scaling.md
  docs/content.zh/docs/deployment/filesystems/s3.md
  docs/content.zh/docs/deployment/memory/mem_migration.md
  docs/content.zh/docs/deployment/resource-providers/standalone/docker.md
  docs/content.zh/docs/deployment/resource-providers/standalone/kubernetes.md
  docs/content.zh/docs/deployment/resource-providers/yarn.md
  docs/content.zh/docs/dev/table/catalogs.md
  docs/content.zh/docs/dev/table/data_stream_api.md
  docs/content.zh/docs/dev/table/functions/systemFunctions.md
  docs/content.zh/docs/dev/table/sql/queries/deduplication.md
  docs/content.zh/docs/dev/table/sql/queries/window-agg.md
  docs/content.zh/docs/libs/state_processor_api.md
  docs/content.zh/docs/ops/metrics.md
  docs/content.zh/release-notes/flink-1.8.md
  docs/content.zh/release-notes/flink-1.9.md
  docs/content/docs/connectors/datastream/kafka.md
  docs/content/docs/connectors/table/datagen.md
  docs/content/docs/connectors/table/formats/avro-confluent.md
  docs/content/docs/connectors/table/formats/raw.md
  docs/content/docs/connectors/table/jdbc.md
  docs/content/docs/deployment/config.md
  docs/content/docs/deployment/elastic_scaling.md
  docs/content/docs/deployment/filesystems/azure.md
  docs/content/docs/deployment/ha/_index.md
  docs/content/docs/deployment/resource-providers/standalone/docker.md
  docs/content/docs/deployment/resource-providers/standalone/overview.md
  docs/content/docs/deployment/resource-providers/yarn.md
  docs/content/docs/dev/datastream/fault-tolerance/checkpointing.md
  docs/content/docs/dev/datastream/operators/asyncio.md
  docs/content/docs/dev/python/table/intro_to_table_api.md
  docs/content/docs/dev/python/table/table_environment.md
  docs/content/docs/dev/python/table_api_tutorial.md
  docs/content/docs/dev/table/catalogs.md
  docs/content/docs/dev/table/common.md
  docs/content/docs/dev/table/data_stream_api.md
  docs/content/docs/dev/table/functions/systemFunctions.md
  docs/content/docs/dev/table/functions/udfs.md
  docs/content/docs/dev/table/sql/queries/deduplication.md
  docs/content/docs/dev/table/sql/queries/window-agg.md
  docs/content/docs/internals/task_lifecycle.md
  docs/content/docs/ops/metrics.md
  docs/content/release-notes/flink-1.8.md
  docs/content/release-notes/flink-1.9.md
Labels: review=description?

#16815 [FLINK-23705][connectors/kinesis] Unregistering metric reporting for closed shards
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/internals/ShardConsumer.java
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/metrics/ShardConsumerMetricsReporter.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/internals/DynamoDBStreamsDataFetcherTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/internals/ShardConsumerTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/internals/ShardConsumerTestUtils.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/polling/PollingRecordPublisherFactoryTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/polling/PollingRecordPublisherTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/metrics/ShardConsumerMetricsReporterTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/testutils/TestUtils.java
Labels: review=description?, component=Connectors/Kinesis

#16883 [FLINK-22217][runtime] Add quotes around job name in job related log …
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/Dispatcher.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/JobMaster.java
Labels: review=description?, component=Runtime/Coordination

#16851 [FLINK-23776][streaming] Fix handling of timestamp-less records in Source metrics.
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/reader/CoordinatedSourceITCase.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/groups/InternalSourceReaderMetricGroup.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/SourceOperator.java
Labels: review=description?, component=API/DataStream, component=Benchmarks

#16477 Update metrics.md
  docs/content/docs/ops/metrics.md
Labels: review=description?

#16895 [FLINK-23813][connectors/jdbc] Update delete executor in TableJdbcUpsertOutputFormat ...
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/internal/TableJdbcUpsertOutputFormat.java
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/internal/JdbcTableOutputFormatTest.java
Labels: review=description?, component=Connectors/JDBC

#16844 [FLINK-23724][network] Fix the network buffer leak when ResultPartition is released
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/BufferWritingResultPartition.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/ResultPartition.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskmanager/Task.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/ResultPartitionTest.java
Labels: review=description?, component=Runtime/Network

#16873 [FLINK-23420][table-runtime] LinkedListSerializer now checks for null elements in the list
  flink-core/src/main/java/org/apache/flink/api/java/typeutils/runtime/MaskUtils.java
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/typeutils/LinkedListSerializer.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/typeutils/LinkedListSerializerTest.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/typeutils/LinkedListSerializerUpgradeTest.java
  flink-table/flink-table-runtime-blink/src/test/resources/linked-list-serializer-1.13/serializer-snapshot
  flink-table/flink-table-runtime-blink/src/test/resources/linked-list-serializer-1.13/test-data
Labels: review=description?, component=TableSQL/Runtime

#16893 [FLINK-23579][table-runtime] Fix compile exception in hash functions with varbinary arguments
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/expressions/ScalarFunctionsTest.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/data/binary/BinaryStringDataUtil.java
Labels: review=description?, component=TableSQL/Runtime

#16807 [FLINK-21867][runtime-web] Expose concurrent exceptions in Web UI.
  flink-runtime-web/web-dashboard/src/app/interfaces/job-exception.ts
  flink-runtime-web/web-dashboard/src/app/pages/job/exceptions/job-exceptions.component.html
  flink-runtime-web/web-dashboard/src/app/pages/job/exceptions/job-exceptions.component.less
  flink-runtime-web/web-dashboard/src/app/pages/job/exceptions/job-exceptions.component.ts
Labels: review=description?, component=Runtime/WebFrontend

#16904 [FLINK-23724][network] Fix the network buffer leak when ResultPartition is released (cherry-pick)
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/BufferWritingResultPartition.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/ResultPartition.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskmanager/Task.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/ResultPartitionTest.java
Labels: review=description?, component=Runtime/Network

#16882 [FLINK-23528][kinesis] Do not interrupt main thread during cancellation.
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/internals/KinesisDataFetcher.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/internals/KinesisDataFetcherTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/testutils/TestableKinesisDataFetcher.java
Labels: review=description?, component=Connectors/Kinesis

#16901 [BP-1.13][FLINK-23813][connectors/jdbc] Update delete executor in TableJdbcUpsertOutputFormat
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/internal/TableJdbcUpsertOutputFormat.java
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/internal/JdbcTableOutputFormatTest.java
Labels: review=description?, component=Connectors/JDBC

#16896 [FLINK-23866][connectors/kafka] Statically assign partitions when reading transaction log topic
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/sink/KafkaTransactionLog.java
Labels: review=description?, component=Connectors/Kafka

#16783 [FLINK-23640][connectors/kafka] Add KafkaRecordSerializationSchemaBuilder to cover common serialization scenarios
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/sink/KafkaRecordSerializationSchema.java
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/sink/KafkaRecordSerializationSchemaBuilder.java
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/sink/KafkaSerializerWrapper.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/sink/KafkaRecordSerializationSchemaBuilderTest.java
Labels: review=description?, component=<none>

#16909 [FLINK-23894][akka] Disable warning from RemoteActorRefProvider
  flink-rpc/flink-rpc-akka/src/main/java/org/apache/flink/runtime/rpc/akka/AkkaUtils.java
Labels: review=description?, component=<none>

#16908 [FLINK-23898][akka] Fix log level mapping
  flink-rpc/flink-rpc-akka/src/main/java/org/apache/flink/runtime/rpc/akka/AkkaUtils.java
Labels: review=description?, component=Runtime/Coordination

#16891 [FLINK-23868][Client] JobExecutionResult printed when suppressSysout is on
  flink-clients/src/main/java/org/apache/flink/client/program/ContextEnvironment.java
  flink-clients/src/main/java/org/apache/flink/client/program/StreamContextEnvironment.java
Labels: review=description?, component=Client/JobSubmission

#16916 [BP-1.13][FLINK-23871][Runtime/Coordination] Dispatcher should handle finishing job exception when recover
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmanager/OnCompletionActions.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/DefaultJobMasterServiceProcess.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/JobAlreadyDoneException.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/JobMasterServiceLeadershipRunner.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/DefaultJobMasterServiceProcessTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/JobMasterServiceLeadershipRunnerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/utils/JobMasterBuilder.java
Labels: review=description?, component=Runtime/Coordination

#16937 [FLINK-23893][docs] Add limitation of fine grained resource management
  docs/content.zh/docs/deployment/finegrained_resource.md
  docs/content/docs/deployment/finegrained_resource.md
Labels: review=description?, component=Runtime/Coordination

#16933 [FLINK-23910][streaming] Updated message to correspond to the counter type
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/async/RichAsyncFunction.java
Labels: review=description?, component=API/DataStream

#16736 [FLINK-23658][metrics][jmx] Cleanup code
  flink-metrics/flink-metrics-jmx/src/main/java/org/apache/flink/metrics/jmx/JMXReporter.java
  flink-metrics/flink-metrics-jmx/src/test/java/org/apache/flink/metrics/jmx/JMXReporterTest.java
Labels: review=description?, component=Runtime/Metrics

#16845 [FLINK-23811][tests] Handle finished subtasks in CommonTestUtils.waitForAllTaskRunning
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/sink/writer/FileSinkMigrationITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/testutils/CommonTestUtils.java
  flink-tests/src/test/java/org/apache/flink/runtime/jobmaster/JobMasterStopWithSavepointITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/RescalingITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/SavepointITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/TimersSavepointITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/UnalignedCheckpointCompatibilityITCase.java
Labels: review=description?, component=Tests

#16935 [FLINK-23172][docs] Fix broken links to Task Failure Recovery page on Configuration page
  docs/layouts/shortcodes/generated/all_jobmanager_section.html
  docs/layouts/shortcodes/generated/expert_fault_tolerance_section.html
  docs/layouts/shortcodes/generated/job_manager_configuration.html
  docs/layouts/shortcodes/generated/restart_strategy_configuration.html
  flink-core/src/main/java/org/apache/flink/configuration/JobManagerOptions.java
  flink-core/src/main/java/org/apache/flink/configuration/RestartStrategyOptions.java
Labels: review=description?, component=Documentation

#16884 [FLINK-22221][runtime] Log instantiations of FileChannelManager to pr…
  flink-runtime/src/main/java/org/apache/flink/runtime/io/disk/FileChannelManagerImpl.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/disk/iomanager/IOManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/NettyShuffleServiceFactory.java
Labels: review=description?, component=Runtime/Network, component=Runtime/Task

#16879 [FLINK-23840][runtime] Improve confusing log / exception message when…
  flink-runtime/src/main/java/org/apache/flink/runtime/state/CheckpointStorageLoader.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/memory/MemCheckpointStreamFactory.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/CheckpointStorageLoaderTest.java
Labels: review=description?, component=Runtime/StateBackends

#16903 [FLINK-23579][table-runtime] Fix compile exception in hash functions with varbinary arguments
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/expressions/ScalarFunctionsTest.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/data/binary/BinaryStringDataUtil.java
Labels: review=description?, component=TableSQL/Runtime

#16922 [BP-1.13][FLINK-23906][tests] Increase the default akka.ask.timeout for the MiniCluster to 5 minutes
  flink-runtime/src/main/java/org/apache/flink/runtime/minicluster/MiniClusterConfiguration.java
Labels: review=description?, component=Runtime/Coordination, component=Tests

#16923 [BP-1.12][FLINK-23906][tests] Increase the default akka.ask.timeout for the MiniCluster to 5 minutes
  flink-runtime/src/main/java/org/apache/flink/runtime/minicluster/MiniClusterConfiguration.java
Labels: review=description?, component=Runtime/Coordination, component=Tests

#16932 [FLINK-22791][docs] Documentation for HybridSource
  docs/content/docs/connectors/datastream/hybridsource.md
Labels: review=description?, component=Documentation, component=Connectors/Common

#16897 [FLINK-22198][connector/kafka] Disable log deletion on Kafka broker in KafkaTableTestBase
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/KafkaTableTestBase.java
Labels: review=description?, component=Connectors/Kafka

#16952 [FLINK-23556][tests] Make SQLClientSchemaRegistryITCase more stable
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/src/main/java/org/apache/flink/tests/util/kafka/KafkaContainerClient.java
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/src/test/java/org/apache/flink/tests/util/kafka/SQLClientSchemaRegistryITCase.java
Labels: review=description?, component=TableSQL/Ecosystem

#16887 [FLINK-23755][table] Modify the default value of table.dynamic-table-options.enabled to true
  docs/content.zh/docs/dev/table/sql/queries/hints.md
  docs/content/docs/dev/table/sql/queries/hints.md
  docs/layouts/shortcodes/generated/table_config_configuration.html
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/config/TableConfigOptions.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/operations/SqlToOperationConverterTest.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/catalog/CatalogTableITCase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/catalog/CatalogViewITCase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/batch/sql/LegacySinkTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/batch/sql/LegacyTableSourceTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/batch/sql/TableSinkTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/batch/sql/TableSourceTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/hint/OptionsHintTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/LegacyTableSourceITCase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/TableSinkITCase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/TableSourceITCase.scala
Labels: review=description?, component=TableSQL/API

#16942 [Backport-1.13][FLINK-23908][runtime] Hint user about possibly non-deterministic shu…
  flink-runtime/src/main/java/org/apache/flink/runtime/state/KeyGroupRangeOffsets.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/heap/NestedMapsStateTable.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/heap/StateTable.java
Labels: review=description?, component=<none>

#16943 [Backport-1.12][FLINK-23908][runtime] Hint user about possibly non-deterministic shu…
  flink-runtime/src/main/java/org/apache/flink/runtime/state/KeyGroupRangeOffsets.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/heap/NestedMapsStateTable.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/heap/StateTable.java
Labels: review=description?, component=<none>

#16968 [hotfix][docs] Fix typo in CLI docs
  docs/content.zh/docs/deployment/cli.md
  docs/content/docs/deployment/cli.md
Labels: review=description?

#16898 [FLINK-23876][docs] Update JDBC XA Sink docs
  docs/content/docs/connectors/datastream/jdbc.md
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/xa/JdbcXaSinkFunction.java
Labels: review=description?, component=Documentation, component=Connectors/JDBC

#16987 [FLINK-23968][tests] Remove unused code from TestBaseUtils
  flink-test-utils-parent/flink-test-utils/src/main/java/org/apache/flink/test/util/TestBaseUtils.java
Labels: review=description?, component=Tests

#17006 [FLINK-24010][connector/common] HybridSourceReader delegates checkpoint notifications
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/hybrid/HybridSourceReader.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/hybrid/HybridSourceSplitEnumerator.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/hybrid/HybridSourceReaderTest.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/hybrid/HybridSourceSplitEnumeratorTest.java
Labels: review=description?

#17015 [FLINK-23055][docs][table] Add documentation for window tvf offset.
  docs/content.zh/docs/dev/table/sql/queries/window-tvf.md
  docs/content/docs/dev/table/sql/queries/window-tvf.md
Labels: review=description?

#16928 [FLINK-23899][docs-zh] Translate the "Elastic Scaling" page into Chinese
  docs/content.zh/docs/deployment/elastic_scaling.md
Labels: review=description?, component=Documentation, component=ProjectWebsite, component=chinese-translation

#17021 [FLINK-24026][misc] Fix FLIP-XXX link can't be recognized correctly by IDEA
  .idea/vcs.xml
Labels: review=description?

#17047 [FLINK-24027][filesystems] Remove excessive dependencies from NOTICE files
  flink-filesystems/flink-azure-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-fs-hadoop-shaded/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-s3-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-s3-fs-presto/src/main/resources/META-INF/NOTICE
Labels: review=description?, component=Connectors/FileSystem

#17028 [BP-1.13][FLINK-23954][tests] Fix e2e test test_queryable_state_restart_tm.sh
  flink-end-to-end-tests/flink-queryable-state-test/src/main/java/org/apache/flink/streaming/tests/queryablestate/QsStateProducer.java
Labels: review=description?

#17029 [BP-1.12][FLINK-23954][tests] Fix e2e test test_queryable_state_restart_tm.sh
  flink-end-to-end-tests/flink-queryable-state-test/src/main/java/org/apache/flink/streaming/tests/queryablestate/QsStateProducer.java
Labels: review=description?

#17032 [BP-1.14][FLINK-23947] Improve logging of granting/revoking leadership in DefaultDispatcherRunner
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/runner/DefaultDispatcherRunner.java
Labels: review=description?, component=Runtime/Coordination

#17034 [BP-1.13][FLINK-23947] Improve logging of granting/revoking leadership in DefaultDispatcherRunner
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/runner/DefaultDispatcherRunner.java
Labels: review=description?, component=Runtime/Coordination

#17035 [BP-1.12][FLINK-23947] Improve logging of granting/revoking leadership in DefaultDispatcherRunner
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/runner/DefaultDispatcherRunner.java
Labels: review=description?, component=Runtime/Coordination

#17044 [FLINK-24010][connector/common] HybridSourceReader/Enumerator delegate checkpoint notifications
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/hybrid/HybridSourceReader.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/hybrid/HybridSourceSplitEnumerator.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/hybrid/HybridSourceReaderTest.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/hybrid/HybridSourceSplitEnumeratorTest.java
Labels: review=description?, component=<none>

#17057 [FLINK-24056][HA]Remove unused ZooKeeperUtilityFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/zookeeper/ZooKeeperUtilityFactory.java
  flink-runtime/src/test/java/org/apache/flink/runtime/zookeeper/ZooKeeperUtilityFactoryTest.java
Labels: review=description?, component=Runtime/Coordination

#17041 [release-1.13][FLINK-24010][connector/common] HybridSourceReader/Enumerator delegate checkpoint notifications
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/hybrid/HybridSourceReader.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/hybrid/HybridSourceSplitEnumerator.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/hybrid/HybridSourceReaderTest.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/hybrid/HybridSourceSplitEnumeratorTest.java
Labels: review=description?, component=<none>

#16992 [FLINK-23519][metrics] Expose state name as varibale if enable state latency tracking
  docs/layouts/shortcodes/generated/state_backend_configuration.html
  docs/layouts/shortcodes/generated/state_backend_latency_tracking_section.html
  flink-core/src/main/java/org/apache/flink/configuration/StateBackendOptions.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/metrics/LatencyTrackingAggregatingState.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/metrics/LatencyTrackingListState.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/metrics/LatencyTrackingMapState.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/metrics/LatencyTrackingReducingState.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/metrics/LatencyTrackingStateConfig.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/metrics/LatencyTrackingValueState.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/metrics/StateLatencyMetricBase.java
Labels: review=description?

#16997 [FLINK-23287][docs][table] Create user document for Window Join in SQL
  docs/content.zh/docs/dev/table/sql/queries/window-join.md
  docs/content.zh/docs/dev/table/sql/queries/window-tvf.md
  docs/content/docs/dev/table/sql/queries/window-join.md
  docs/content/docs/dev/table/sql/queries/window-tvf.md
Labels: review=description?

#16852 [FLINK-13636][docs-zh]Translate the "Flink DataStream API Programming Guide" page into Chinese
  docs/content.zh/docs/dev/datastream/overview.md
  docs/content/docs/dev/datastream/overview.md
  docs/layouts/shortcodes/gh_link.html
Labels: review=description?, component=Documentation, component=chinese-translation

#17037 [FLINK-24035][network] Guarantee that the LocalBufferPool is initialized with one buffer
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/buffer/LocalBufferPool.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/buffer/NetworkBufferPool.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/buffer/LocalBufferPoolDestroyTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/buffer/LocalBufferPoolTest.java
Labels: review=description?, component=Runtime/Network

#17052 [FLINK-24051][connectors/kafka] Make groupId optional when constructi…
  docs/content/docs/connectors/datastream/kafka.md
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/source/KafkaSourceBuilder.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/source/KafkaSourceBuilderTest.java
Labels: review=description?, component=Connectors/Kafka

#17054 [FLINK-24055][connectors/kafka] Deprecate FlinkKafkaConsumer
  docs/content/docs/connectors/datastream/kafka.md
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/streaming/connectors/kafka/FlinkKafkaConsumer.java
Labels: review=description?, component=Connectors/Kafka

#17050 [FLINK-23351][tests] Harden FileReadingWatermarkITCase by counting wa…
  flink-tests/src/test/java/org/apache/flink/test/streaming/api/FileReadingWatermarkITCase.java
Labels: review=description?, component=API/DataStream
