Repository apache/flink, pull requests merged in 2021-07, with the labels that each got.

#16279 [FLINK-23059][docs-zh] Translate describe creating dirs in ops playgr…
  docs/content.zh/docs/try-flink/flink-operations-playground.md
Labels: component=Documentation/Training/Exercises, review=description?

#16284 [FLINK-23142][table] UpdatableTopNFunction output wrong order in the same unique key
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/operators/rank/UpdatableTopNFunction.java
  flink-table/flink-table-runtime-blink/src/test/java/org/apache/flink/table/runtime/operators/rank/UpdatableTopNFunctionTest.java
Labels: component=TableSQL/Runtime, review=description?

#16338 [FLINK-23200][docs] Correct document syntax errors
  docs/content.zh/docs/dev/table/tableApi.md
  docs/content/docs/dev/table/tableApi.md
Labels: component=Documentation, review=description?

#16339 [FLINK-23196][tests] use MiniClusterResource
  flink-tests/src/test/java/org/apache/flink/runtime/jobmaster/JobMasterITCase.java
Labels: component=Runtime/Coordination, review=description?

#16177 [FLINK-22528][docs] Document latency tracking metrics for state accesses
  docs/content.zh/docs/ops/metrics.md
  docs/content/docs/ops/metrics.md
Labels: component=Documentation, component=Runtime/StateBackends, review=description?

#16346 [Hotfix][Docs] Fix variable name in PubSub sample code
  docs/content.zh/docs/connectors/datastream/pubsub.md
  docs/content/docs/connectors/datastream/pubsub.md
Labels: review=description?

#16364 [FLINK-23226][docs-zh] Fix Flink Chinese doc learn-flink/etl transformation.svg display issue
  docs/content.zh/docs/learn-flink/etl.md
Labels: component=Documentation, review=description?

#16347 [hotfix][javadocs] Fix broken inline link
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/StreamSource.java
Labels: review=description?

#16350 [FLINK-23215][table-code-splitter] Move NOTICE file into META-INF
  flink-table/flink-table-code-splitter/src/main/resources/META-INF/NOTICE
Labels: component=TableSQL/Runtime, review=description?

#16363 [FLINK-23225][doc-zh]Fixed some mismatches in the translation pages
  docs/content.zh/docs/concepts/flink-architecture.md
Labels: component=Documentation, review=description?

#16360 [FLINK-23095][runtime] Close the channel unspilling thread pool after restore
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
Labels: component=Runtime/Task, review=description?

#16382 [FLINK-23260][docs] Fix the link for Page "docs/libs/gelly/overview"
  docs/content.zh/docs/libs/gelly/overview.md
  docs/content/docs/libs/gelly/overview.md
Labels: component=Documentation, review=description?

#16381 [FLINK-23259][docs] Fix the Windows link for Page "docs/dev/datastream…
  docs/content.zh/docs/dev/datastream/operators/overview.md
  docs/content/docs/dev/datastream/operators/overview.md
Labels: component=Documentation, review=description?

#16375 [FLINK-23248][datastream] Close SinkWriter when calling dispose
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/sink/AbstractSinkWriterOperator.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/sink/SinkWriterOperatorTestBase.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/util/AbstractStreamOperatorTestHarness.java
Labels: component=Runtime/Task, review=description?

#16376 [FLINK-23248][datastream] Close SinkWriter when calling dispose
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/sink/AbstractSinkWriterOperator.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/sink/SinkWriterOperatorTestBase.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/util/AbstractStreamOperatorTestHarness.java
Labels: component=Runtime/Task, review=description?

#16380 [FLINK-23256][docs][table] - Updated explain output to that of blink planner
  docs/content.zh/docs/dev/table/common.md
  docs/content/docs/dev/table/common.md
Labels: component=Documentation, component=TableSQL/API, review=description?

#16392 [FLINK-23270][docs] Impove description of Regular Joins section
  docs/content.zh/docs/dev/table/sql/queries/joins.md
  docs/content/docs/dev/table/sql/queries/joins.md
Labels: component=Documentation, component=TableSQL/API, review=description?

#16358 [FLINK-23220] MailboxProcessor should wait for default action available even if there are no mails
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/mailbox/MailboxProcessor.java
Labels: component=Runtime/Task, review=description?

#16333 [FLINK-23182][connectors/rabbitmq] Fix connection leak in RMQSource
  flink-connectors/flink-connector-rabbitmq/src/main/java/org/apache/flink/streaming/connectors/rabbitmq/RMQSource.java
  flink-connectors/flink-connector-rabbitmq/src/test/java/org/apache/flink/streaming/connectors/rabbitmq/RMQSourceTest.java
Labels: component=Connectors/RabbitMQ, review=description?

#16377 [BP-1.13][FLINK-23182][connectors/rabbitmq] Fix connection leak in RMQSource
  flink-connectors/flink-connector-rabbitmq/src/main/java/org/apache/flink/streaming/connectors/rabbitmq/RMQSource.java
  flink-connectors/flink-connector-rabbitmq/src/test/java/org/apache/flink/streaming/connectors/rabbitmq/RMQSourceTest.java
Labels: component=Connectors/RabbitMQ, review=description?

#16378 [BP-1.12][FLINK-23182][connectors/rabbitmq] Fix connection leak in RMQSource
  flink-connectors/flink-connector-rabbitmq/src/main/java/org/apache/flink/streaming/connectors/rabbitmq/RMQSource.java
  flink-connectors/flink-connector-rabbitmq/src/test/java/org/apache/flink/streaming/connectors/rabbitmq/RMQSourceTest.java
Labels: component=Connectors/RabbitMQ, review=description?

#16398 [BP-1.12][FLINK-22105][tests] Fix checkpoint id in testForceAlignedCheckpointResultingInPriorityEvents
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/SubtaskCheckpointCoordinatorTest.java
Labels: component=Runtime/Checkpointing, review=description?

#16365 [hotfix][docs][cassandra] Added missing cluster builder arg for cassa…
  docs/content.zh/docs/connectors/datastream/cassandra.md
  docs/content/docs/connectors/datastream/cassandra.md
Labels: review=description?

#16406 [FLINK-23184][table-runtime] Fix compile error in code generation of unary plus and minus
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/calls/ScalarOperatorGens.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/expressions/ScalarOperatorsTest.scala
Labels: component=TableSQL/Runtime, review=description?

#16411 [FLINK-23184][table-runtime-blink] Fix compile error in code generation of unary plus and minus
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/calls/ScalarOperatorGens.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/expressions/ScalarOperatorsTest.scala
Labels: component=TableSQL/Runtime, review=description?

#16359 [FLINK-23222]Translate page 'Application Profiling & Debugging' into Chinese
  docs/content.zh/docs/ops/debugging/application_profiling.md
Labels: component=Documentation, component=chinese-translation, review=description?

#16403 [FLINK-23276][state/changelog] Fix missing delegation in getPartitionedState
  flink-state-backends/flink-statebackend-changelog/src/main/java/org/apache/flink/state/changelog/ChangelogKeyedStateBackend.java
Labels: component=Runtime/StateBackends, review=description?

#16429 [FLINK-23308] Optimize checks if SourceContext is closed
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/StreamSourceContexts.java
Labels: component=Runtime/Task, review=description?

#16402 [FLINK-23278][state/changelog] Allow recovery without non-materialized state
  flink-state-backends/flink-statebackend-changelog/src/main/java/org/apache/flink/state/changelog/ChangelogStateBackend.java
Labels: component=Runtime/StateBackends, review=description?

#16163 [FLINK-22994][Table SQL / Planner] improve the performace of invoking…
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/ExternalGeneratedExpression.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/calls/BridgingFunctionGenUtil.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/stream/table/CalcITCase.scala
Labels: component=TableSQL/Planner, review=description?

#16349 [FLINK-23267][table-planner-blink] Enable Java code splitting for all generated classes
  docs/layouts/shortcodes/generated/table_config_configuration.html
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/TableConfig.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/config/TableConfigOptions.java
  flink-table/flink-table-code-splitter/pom.xml
  flink-table/flink-table-code-splitter/src/main/resources/META-INF/NOTICE
  flink-table/flink-table-code-splitter/src/main/resources/META-INF/licenses/LICENSE.antlr-runtime
  flink-table/flink-table-planner/pom.xml
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/abilities/source/WatermarkPushDownSpec.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/CollectorCodeGenerator.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/EqualiserCodeGenerator.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/FunctionCodeGenerator.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/HashCodeGenerator.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/InputFormatCodeGenerator.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/LookupJoinCodeGenerator.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/MatchCodeGenerator.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/OperatorCodeGenerator.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/ProjectionCodeGenerator.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/WatermarkGeneratorCodeGenerator.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/agg/AggsHandlerCodeGenerator.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/over/MultiFieldRangeBoundComparatorCodeGenerator.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/over/RangeBoundComparatorCodeGenerator.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/sort/ComparatorCodeGenerator.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/sort/SortCodeGenerator.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/CodeSplitITCase.scala
  flink-table/flink-table-runtime/pom.xml
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/generated/GeneratedAggsHandleFunction.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/generated/GeneratedClass.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/generated/GeneratedCollector.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/generated/GeneratedFunction.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/generated/GeneratedHashFunction.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/generated/GeneratedInput.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/generated/GeneratedJoinCondition.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/generated/GeneratedNamespaceAggsHandleFunction.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/generated/GeneratedNamespaceTableAggsHandleFunction.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/generated/GeneratedNormalizedKeyComputer.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/generated/GeneratedOperator.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/generated/GeneratedProjection.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/generated/GeneratedRecordComparator.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/generated/GeneratedRecordEqualiser.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/generated/GeneratedResultFuture.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/generated/GeneratedTableAggsHandleFunction.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/generated/GeneratedWatermarkGenerator.java
Labels: component=TableSQL/Runtime, review=description?

#16418 [FLINK-23243][docs-zh]Translate "SELECT & WHERE clause" page into Chinese
  docs/content.zh/docs/dev/table/sql/queries/select.md
Labels: component=Documentation, component=chinese-translation, review=description?

#16410 [FLINK-23292][docs] Fix some link issues on page "docs/content/docs/…
  docs/content.zh/docs/dev/table/concepts/dynamic_tables.md
  docs/content/docs/dev/table/concepts/dynamic_tables.md
Labels: component=Documentation, review=description?

#16400 [FLINK-23285][docs] Fix some link issues on page "docs/dev/datastrea…
  docs/content.zh/docs/dev/datastream/event-time/generating_watermarks.md
  docs/content/docs/dev/datastream/event-time/generating_watermarks.md
Labels: component=Documentation, review=description?

#16384 [FLINK-23268][docs] Fix some link issues on page "docs/dev/table/sql…
  docs/content/docs/dev/table/sql/queries/match_recognize.md
Labels: component=Documentation, component=TableSQL/API, review=description?

#16394 [FLINK-20321][formats] Fix NPE when using AvroDeserializationSchema to deserialize null input in 1.12 version
  flink-formats/flink-avro-confluent-registry/src/test/java/org/apache/flink/formats/avro/registry/confluent/RegistryAvroRowDataSeDeSchemaTest.java
  flink-formats/flink-avro/src/main/java/org/apache/flink/formats/avro/AvroDeserializationSchema.java
  flink-formats/flink-avro/src/main/java/org/apache/flink/formats/avro/AvroRowDataDeserializationSchema.java
  flink-formats/flink-avro/src/main/java/org/apache/flink/formats/avro/RegistryAvroDeserializationSchema.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/AvroDeserializationSchemaTest.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/AvroRowDataDeSerializationSchemaTest.java
  flink-formats/flink-csv/src/main/java/org/apache/flink/formats/csv/CsvRowDataDeserializationSchema.java
  flink-formats/flink-csv/src/test/java/org/apache/flink/formats/csv/CsvRowDataSerDeSchemaTest.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/JsonRowDataDeserializationSchema.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/canal/CanalJsonDeserializationSchema.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/JsonRowDataSerDeSchemaTest.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/canal/CanalJsonSerDeSchemaTest.java
Labels: component=Formats, component=TableSQL/Ecosystem, review=description?

#16319 [FLINK-23109]Translate "Scala API Extensions" pages into Chinese
  docs/content.zh/docs/dev/datastream/scala_api_extensions.md
Labels: component=Documentation, component=chinese-translation, review=description?

#16442 [FLINK-23164][tests] Harden JobMasterTest.testMultipleStartsWork
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/JobMasterTest.java
Labels: component=Runtime/Coordination, review=description?

#16443 [BP-1.11][FLINK-23164][tests] Harden JobMasterTest.testMultipleStartsWork
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/JobMasterTest.java
Labels: component=Runtime/Coordination, review=description?

#16444 [FLINK-23076][tests] Harden DispatcherTest.testWaitingForJobMasterLeadership
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/DispatcherTest.java
Labels: component=Runtime/Coordination, review=description?

#16420 [FLINK-23290][table-runtime] Fix NullPointerException when filter contains casting to boolean
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/calls/ScalarOperatorGens.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/CalcITCase.scala
Labels: component=TableSQL/Runtime, review=description?

#16435 [FLINK-23184][table-runtime-blink] Fix compile error in code generation of unary plus and minus
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/calls/ScalarOperatorGens.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/expressions/ScalarOperatorsTest.scala
Labels: component=TableSQL/Runtime, review=description?

#16437 [FLINK-23021] Check for illegal job graph modifications with finished operators
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinator.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinatorRestoringTest.java
Labels: component=<none>, review=description?

#16441 [FLINK-23235][connector] Fix SinkITCase instability
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/sink/TestSink.java
  flink-tests/src/test/java/org/apache/flink/test/streaming/runtime/SinkITCase.java
Labels: component=API/DataStream, review=description?

#16450 [FLINK-23223] Notifies if there are available data on resumption for pipelined subpartition
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/PipelinedSubpartition.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/PipelinedSubpartitionWithReadViewTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/consumer/LocalInputChannelTest.java
Labels: component=Runtime/Network, review=description?

#16449 [FLINK-23223] Notifies if there are available data on resumption for pipelined subpartition
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/PipelinedSubpartition.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/PipelinedSubpartitionWithReadViewTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/consumer/LocalInputChannelTest.java
Labels: component=Runtime/Network, review=description?

#16460 [FLINK-23150][table-planner] Remove the old code split implementation
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/CalcCodeGenerator.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/CodeGeneratorContext.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/ExprCodeGenerator.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/agg/AggsHandlerCodeGenerator.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/agg/batch/HashAggCodeGenHelper.scala
Labels: review=description?

#16457 [hotfix][runtime] Log slot pool status if unable to fulfill job requirements
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/slotpool/DeclarativeSlotPoolBridge.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/slotpool/DeclarativeSlotPoolService.java
  flink-runtime/src/main/java/org/apache/flink/runtime/resourcemanager/slotmanager/DeclarativeSlotManager.java
Labels: review=description?

#16451 [hotfix][docs][kafka] Corrected idleness name
  docs/content.zh/docs/connectors/datastream/kafka.md
  docs/content/docs/connectors/datastream/kafka.md
Labels: review=description?

#16455 [FLINK-23347][docs][datatream][operators] - Updated windowAll description
  docs/content.zh/docs/dev/datastream/operators/overview.md
  docs/content/docs/dev/datastream/operators/overview.md
Labels: component=API/DataStream, component=Documentation, review=description?

#16427 [FLINK-23312][ci] speed up compilation for e2e tests
  tools/azure-pipelines/jobs-template.yml
Labels: component=TestInfrastructure, review=description?

#16479 [FLINK-23312][ci] speed up compilation for e2e tests (1.11 backport)
  tools/azure-pipelines/jobs-template.yml
Labels: review=description?

#16480 [FLINK-23312][ci] speed up compilation for e2e tests (1.12 backport)
  tools/azure-pipelines/jobs-template.yml
Labels: component=TestInfrastructure, review=description?

#16481 [FLINK-23312][ci] speed up compilation for e2e tests (1.13 backport)
  tools/azure-pipelines/jobs-template.yml
Labels: component=TestInfrastructure, review=description?

#16491 [hotfix] Avoid excessive logging in DeclarativeSlotPoolBridge
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/slotpool/DeclarativeSlotPoolBridge.java
Labels: review=description?

#16489 [FLINK-23374][table-code-splitter] Clean up logs produced by code splitter
  flink-table/flink-table-code-splitter/src/main/antlr4/JavaLexer.g4
  flink-table/flink-table-code-splitter/src/main/antlr4/JavaParser.g4
  flink-table/flink-table-code-splitter/src/test/java/org/apache/flink/table/codesplit/JavaParserTest.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/CodeSplitITCase.scala
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/generated/GeneratedCollectorWrapper.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/generated/GeneratedFunctionWrapper.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/generated/GeneratedResultFutureWrapper.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/operators/aggregate/window/SlicingWindowAggOperatorTest.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/operators/window/WindowOperatorTest.java
Labels: component=TableSQL/Runtime, review=description?

#16348 [FLINK-16093][docs-zh]Translate "System Functions" page of "Functions" into Chinese
  docs/content.zh/docs/dev/table/functions/systemFunctions.md
  docs/data/sql_functions.yml
  docs/data/sql_functions_zh.yml
  docs/layouts/shortcodes/sql_functions_zh.html
Labels: component=Documentation, component=chinese-translation, review=description?

#16434 [FLINK-23107][table-runtime] Separate implementation of deduplicate r…
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecRank.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/utils/RankUtil.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/RankITCase.scala
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/rank/FastTop1Function.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/operators/rank/FastTop1FunctionTest.java
Labels: component=TableSQL/Runtime, review=description?

#16337 [FLINK-22843][docs-zh]Document and code are inconsistent.
  docs/content.zh/docs/connectors/table/hbase.md
  docs/content/docs/connectors/table/hbase.md
Labels: component=Documentation, review=description?

#16502 [Flink-23201][bp-1.13] Calculate the alignment time only for the last checkpoint
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/checkpointing/CheckpointBarrierHandler.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/checkpointing/CheckpointBarrierTracker.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/checkpointing/SingleCheckpointBarrierHandler.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/checkpointing/AlternatingCheckpointsTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/checkpointing/CheckpointBarrierTrackerTest.java
Labels: component=Runtime/Metrics, review=description?

#16501 [Flink-23201][bp-1.12] Calculate the alignment time only for the last checkpoint
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/CheckpointBarrierHandler.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/CheckpointBarrierTracker.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/SingleCheckpointBarrierHandler.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/CheckpointBarrierTrackerTest.java
Labels: component=Runtime/Metrics, review=description?

#16512 [FLINK-23367][state] Ensure InternalPriorityQueue#iterator could be closed for changelog state-backend
  flink-state-backends/flink-statebackend-changelog/src/main/java/org/apache/flink/state/changelog/ChangelogKeyGroupedPriorityQueue.java
  flink-state-backends/flink-statebackend-changelog/src/main/java/org/apache/flink/state/changelog/ChangelogMapState.java
  flink-state-backends/flink-statebackend-changelog/src/main/java/org/apache/flink/state/changelog/StateChangeLoggingIterator.java
Labels: component=Runtime/StateBackends, review=description?

#15186 [FLINK-21770][metrics] JobManagerMG#addJob accepts job ID and name
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/factories/DefaultJobManagerJobMetricGroupFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/groups/JobManagerMetricGroup.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/groups/UnregisteredMetricGroups.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/JobManagerGroupTest.java
Labels: component=Runtime/Metrics, review=description?

#15187 [FLINK-21771][metrics][tests] Replace StreamTaskTestHarness#TestTaskMetricGroup
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/util/MetricUtils.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/MultipleInputStreamTaskTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/OneInputStreamTaskTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/SourceStreamTaskTestBase.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTestHarness.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/TwoInputStreamTaskTest.java
Labels: component=Runtime/Metrics, component=Runtime/Task, component=Tests, review=description?

#15178 [FLINK-21756][jmx] Move JMXServer to flink-core
  flink-core/src/main/java/org/apache/flink/management/jmx/JMXServer.java
  flink-core/src/main/java/org/apache/flink/management/jmx/JMXService.java
  flink-core/src/test/java/org/apache/flink/management/jmx/JMXServerTest.java
  flink-core/src/test/java/org/apache/flink/management/jmx/JMXServiceTest.java
  flink-metrics/flink-metrics-jmx/src/main/java/org/apache/flink/metrics/jmx/JMXReporter.java
  flink-metrics/flink-metrics-jmx/src/test/java/org/apache/flink/metrics/jmx/JMXReporterFactoryTest.java
  flink-metrics/flink-metrics-jmx/src/test/java/org/apache/flink/metrics/jmx/JMXReporterTest.java
  flink-runtime/src/main/java/org/apache/flink/runtime/entrypoint/ClusterEntrypoint.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskExecutor.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskManagerRunner.java
Labels: component=Runtime/Coordination, component=Runtime/Metrics, review=description?

#15190 [FLINK-21775][metrics] Migrate JobManagerMG instatiations to factory method
  flink-runtime/src/main/java/org/apache/flink/runtime/entrypoint/component/DefaultDispatcherResourceManagerComponentFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/groups/JobManagerMetricGroup.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/util/MetricUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/JobManagerGroupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/JobManagerJobGroupTest.java
Labels: component=Runtime/Metrics, review=description?

#15184 [FLINK-21766][metrics] Remove OperatorMetricGroup#parent()
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/groups/OperatorIOMetricGroup.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/groups/OperatorMetricGroup.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/AbstractStreamOperator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/AbstractStreamOperatorV2.java
Labels: component=Runtime/Metrics, review=description?

#16332 [FLINK-22386] Introduce cache for docker images used during testing
  azure-pipelines.yml
  flink-connectors/flink-connector-elasticsearch6/src/test/java/org/apache/flink/streaming/connectors/elasticsearch/table/Elasticsearch6DynamicSinkITCase.java
  flink-connectors/flink-connector-elasticsearch6/src/test/java/org/apache/flink/streaming/connectors/elasticsearch6/ElasticsearchSinkITCase.java
  flink-connectors/flink-connector-elasticsearch7/src/test/java/org/apache/flink/streaming/connectors/elasticsearch/table/Elasticsearch7DynamicSinkITCase.java
  flink-connectors/flink-connector-elasticsearch7/src/test/java/org/apache/flink/streaming/connectors/elasticsearch7/ElasticsearchSinkITCase.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/KafkaTableTestBase.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/FlinkKinesisITCase.java
  flink-connectors/flink-connector-rabbitmq/src/test/java/org/apache/flink/streaming/connectors/rabbitmq/RMQSourceITCase.java
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/src/test/java/org/apache/flink/tests/util/kafka/SQLClientSchemaRegistryITCase.java
  flink-end-to-end-tests/flink-streaming-kinesis-test/pom.xml
  flink-end-to-end-tests/flink-streaming-kinesis-test/src/test/java/org/apache/flink/streaming/kinesis/test/KinesisTableApiITCase.java
  flink-test-utils-parent/flink-test-utils-junit/src/main/java/org/apache/flink/util/DockerImageVersions.java
  tools/azure-pipelines/build-apache-repo.yml
  tools/azure-pipelines/cache_docker_images.sh
  tools/azure-pipelines/jobs-template.yml
Labels: component=BuildSystem/AzurePipelines, review=description?

#15191 [FLINK-21776][metrics] Migrate JobManagerJobMG instatiations to factory method
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/groups/JobManagerJobMetricGroup.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveSchedulerTest.java
Labels: component=Runtime/Metrics, review=description?

#15179 [FLINK-21757][metrics] Add LogicalScopeProvider interface
  flink-metrics/flink-metrics-core/src/main/java/org/apache/flink/metrics/LogicalScopeProvider.java
  flink-metrics/flink-metrics-influxdb/src/main/java/org/apache/flink/metrics/influxdb/MeasurementInfoProvider.java
  flink-metrics/flink-metrics-jmx/src/main/java/org/apache/flink/metrics/jmx/JMXReporter.java
  flink-metrics/flink-metrics-prometheus/src/main/java/org/apache/flink/metrics/prometheus/AbstractPrometheusReporter.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/groups/FrontMetricGroup.java
Labels: component=Runtime/Metrics, review=description?

#15177 [FLINK-21759][metrics][tests] Add TestMetricGroup
  flink-metrics/flink-metrics-core/src/test/java/org/apache/flink/metrics/util/TestMetricGroup.java
Labels: component=Runtime/Metrics, component=Tests, review=description?

#15181 [FLINK-21760][metrics][jmx] Remove flink-runtime dependency
  flink-connectors/flink-connector-kafka/pom.xml
  flink-dist/pom.xml
  flink-dist/src/main/assemblies/plugins.xml
  flink-metrics/flink-metrics-jmx/pom.xml
  flink-metrics/flink-metrics-jmx/src/test/java/org/apache/flink/metrics/jmx/JMXReporterTest.java
Labels: component=Runtime/Metrics, review=description?

#15182 [FLINK-21761][metrics][influxdb] Remove flink-runtime dependency
  flink-dist/pom.xml
  flink-dist/src/main/assemblies/plugins.xml
  flink-docs/pom.xml
  flink-metrics/flink-metrics-influxdb/pom.xml
  flink-metrics/flink-metrics-influxdb/src/test/java/org/apache/flink/metrics/influxdb/InfluxdbReporterTest.java
  flink-metrics/flink-metrics-influxdb/src/test/java/org/apache/flink/metrics/influxdb/MeasurementInfoProviderTest.java
Labels: component=Runtime/Metrics, review=description?

#15188 [FLINK-21772][metrics][slf4j] Remove flink-runtime dependency
  flink-metrics/flink-metrics-slf4j/pom.xml
  flink-metrics/flink-metrics-slf4j/src/test/java/org/apache/flink/metrics/slf4j/Slf4jReporterTest.java
Labels: component=Runtime/Metrics, review=description?

#15183 [FLINK-21764][metrics][dropwizard] Remove flink-runtime dependency
  flink-metrics/flink-metrics-dropwizard/pom.xml
  flink-metrics/flink-metrics-dropwizard/src/test/java/org/apache/flink/dropwizard/ScheduledDropwizardReporterTest.java
  flink-metrics/flink-metrics-dropwizard/src/test/java/org/apache/flink/dropwizard/metrics/DropwizardFlinkHistogramWrapperTest.java
Labels: component=Runtime/Metrics, review=description?

#15180 [FLINK-21762][metrics][prometheus] Remove flink-runtime dependency
  flink-dist/pom.xml
  flink-dist/src/main/assemblies/plugins.xml
  flink-docs/pom.xml
  flink-end-to-end-tests/flink-metrics-reporter-prometheus-test/pom.xml
  flink-metrics/flink-metrics-prometheus/pom.xml
Labels: component=Runtime/Metrics, review=description?

#16500 [FLINK-23395] Bump Okhttp to 3.14.9
  flink-end-to-end-tests/flink-end-to-end-tests-common/pom.xml
  flink-end-to-end-tests/flink-metrics-reporter-prometheus-test/pom.xml
  flink-kubernetes/pom.xml
  flink-kubernetes/src/main/resources/META-INF/NOTICE
  flink-metrics/flink-metrics-datadog/pom.xml
  flink-metrics/flink-metrics-datadog/src/main/resources/META-INF/NOTICE
  flink-metrics/flink-metrics-influxdb/src/main/resources/META-INF/NOTICE
  pom.xml
Labels: component=BuildSystem, component=Deployment/Kubernetes, component=Runtime/Metrics, review=description?

#16534 [FLINK-23419][streaming] Fixed the condition in testNextFirstCheckpointBarrierOvertakesCancellationBarrier in order to make the test more stable
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/CheckpointBarrierTrackerTest.java
Labels: component=Runtime/Checkpointing, review=description?

#15317 [FLINK-20562][SQL-Client][Table-Api] Improvements,Support ExplainDetail…
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliClientITCase.java
  flink-table/flink-sql-client/src/test/resources/sql/table.q
  flink-table/flink-sql-parser/src/main/codegen/data/Parser.tdd
  flink-table/flink-sql-parser/src/main/codegen/includes/parserImpls.ftl
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/dql/SqlRichExplain.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/utils/ParserResource.java
  flink-table/flink-sql-parser/src/main/resources/org.apache.flink.sql.parser.utils/ParserResource.properties
  flink-table/flink-sql-parser/src/test/java/org/apache/flink/sql/parser/FlinkSqlParserImplTest.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/TableEnvironmentImpl.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ExplainOperation.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/SqlToOperationConverter.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/operations/SqlToOperationConverterTest.java
  flink-table/flink-table-planner/src/test/resources/explain/testExecuteSqlWithExplainDetailsAndUnion.out
  flink-table/flink-table-planner/src/test/resources/explain/testExecuteSqlWithExplainDetailsInsert.out
  flink-table/flink-table-planner/src/test/resources/explain/testExecuteSqlWithExplainDetailsSelect.out
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/TableEnvironmentTest.scala
Labels: component=TableSQL/API, review=description?

#16531 [FLINK-23204] Provide StateBackends access to MailboxExecutor
  flink-runtime/src/main/java/org/apache/flink/runtime/execution/Environment.java
  flink-runtime/src/main/java/org/apache/flink/runtime/mailbox/MailboxExecutor.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskmanager/RuntimeEnvironment.java
  flink-runtime/src/test/java/org/apache/flink/runtime/mailbox/SyncMailboxExecutor.java
  flink-runtime/src/test/java/org/apache/flink/runtime/operators/testutils/MockEnvironment.java
  flink-state-backends/flink-statebackend-changelog/src/main/java/org/apache/flink/state/changelog/ChangelogKeyedStateBackend.java
  flink-state-backends/flink-statebackend-changelog/src/main/java/org/apache/flink/state/changelog/ChangelogStateBackend.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/source/ContinuousFileReaderOperator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/source/ContinuousFileReaderOperatorFactory.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/StreamOperatorFactoryUtil.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/YieldingOperatorFactory.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/async/AsyncWaitOperator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/async/AsyncWaitOperatorFactory.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/checkpointing/CheckpointedInputGate.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/checkpointing/InputProcessorUtil.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/ProcessingTimeServiceFactory.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamOperatorWrapper.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/mailbox/MailboxExecutorFactory.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/mailbox/MailboxExecutorImpl.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/mailbox/MailboxProcessor.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/mailbox/TaskMailbox.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/graph/StreamingJobGraphGeneratorTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/StreamTaskNetworkInputTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/checkpointing/AlignedCheckpointsMassiveRandomTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/checkpointing/AlignedCheckpointsTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/checkpointing/AlternatingCheckpointsTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/checkpointing/CheckpointBarrierTrackerTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/checkpointing/InputProcessorUtilTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/checkpointing/UnalignedCheckpointsTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/MailboxOperatorTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/StreamTaskOperatorTimerTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamOperatorWrapperTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskMailboxTestHarness.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTestHarness.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/mailbox/MailboxExecutorImplTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/mailbox/TaskMailboxProcessorTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/util/TestCheckpointedInputGateBuilder.java
Labels: component=Runtime/StateBackends, component=Runtime/Task, review=description?

#16555 [FLINK-23455][e2e] Remove the usage of the yaml file in SQLJobSubmission
  flink-end-to-end-tests/flink-end-to-end-tests-common/src/main/java/org/apache/flink/tests/util/flink/FlinkContainer.java
  flink-end-to-end-tests/flink-end-to-end-tests-common/src/main/java/org/apache/flink/tests/util/flink/FlinkDistribution.java
  flink-end-to-end-tests/flink-end-to-end-tests-common/src/main/java/org/apache/flink/tests/util/flink/SQLJobSubmission.java
Labels: component=Tests, review=description?

#16549 [FLINK-23446][e2e] Refactor SQL Client end to end tests
  flink-end-to-end-tests/test-scripts/kafka_sql_common.sh
  flink-end-to-end-tests/test-scripts/test_sql_client.sh
Labels: component=TableSQL/Client, component=Tests, review=description?

#16540 [FLINK-23352][streaming-java] Add configuration for batch size and socket timeout of collect sink
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/collect/CollectSinkFunction.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/collect/CollectSinkOperatorFactory.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/connectors/CollectDynamicSink.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/connectors/DynamicSinkUtils.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/delegation/PlannerBase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/TableSinkITCase.scala
Labels: component=API/DataStream, component=TableSQL/Ecosystem, review=description?

#16511 [FLINK-22861][table-planner] Fix return value deduction of TIMESTAMPADD function
  flink-table/flink-table-planner/src/main/java/org/apache/calcite/sql/fun/SqlTimestampAddFunction.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/CalcITCase.scala
Labels: component=TableSQL/Planner, component=TableSQL/Runtime, review=description?

#16569 [FLINK-21411][rocksdb] Update FRocksDB to bump bzip2 dependency version
  flink-state-backends/flink-statebackend-rocksdb/pom.xml
Labels: component=BuildSystem, review=description?

#16573 [FLINK-21411][rocksdb] Update FRocksDB to bump bzip2 dependency version
  flink-state-backends/flink-statebackend-rocksdb/pom.xml
Labels: component=BuildSystem, review=description?

#16572 [FLINK-21411][rocksdb] Update FRocksDB to bump bzip2 dependency version
  flink-state-backends/flink-statebackend-rocksdb/pom.xml
Labels: component=BuildSystem, review=description?

#16020 [FLINK-21911][table-api] Add built-in greatest/least functions support #15821
  docs/data/sql_functions.yml
  docs/data/sql_functions_zh.yml
  flink-core/src/main/java/org/apache/flink/api/java/typeutils/runtime/NullAwareComparator.java
  flink-core/src/main/java/org/apache/flink/types/RowUtils.java
  flink-core/src/test/java/org/apache/flink/types/NormalizableKeyTest.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/utils/AggregateOperationFactory.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/data/GenericMapData.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/BuiltInFunctionDefinitions.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/inference/InputTypeStrategies.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/inference/strategies/ComparableTypeStrategy.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/inference/strategies/SpecificInputTypeStrategies.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/logical/LogicalTypeRoot.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/logical/StructuredType.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/logical/utils/LogicalTypeDuplicator.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/utils/DataTypeUtils.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/types/inference/ComparableInputTypeStrategyTest.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/serde/LogicalTypeJsonDeserializer.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/serde/LogicalTypeJsonSerializer.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/schema/StructuredRelDataType.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/ExprCodeGenerator.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/GenerateUtils.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/calls/ScalarOperatorGens.scala
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/functions/GreatestLeastFunctionsITCase.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/serde/LogicalTypeSerdeTest.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/serde/RelDataTypeSerdeTest.java
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/GroupAggregateJsonPlanTest_jsonplan/testDistinctAggCalls[isMiniBatchEnabled=true].out
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/IncrementalAggregateJsonPlanTest_jsonplan/testIncrementalAggregate.out
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/WindowAggregateJsonPlanTest_jsonplan/testDistinctSplitEnabled.out
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/WindowAggregateJsonPlanTest_jsonplan/testEventTimeTumbleWindow.out
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/WindowAggregateJsonPlanTest_jsonplan/testEventTimeTumbleWindowWithOffset.out
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/WindowJoinJsonPlanTest_jsonplan/testEventTimeTumbleWindow.out
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/filesystem/stream/PartitionTimeCommitPredicate.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/sort/SortLimitOperator.java
Labels: component=TableSQL/API, review=description?

#16574 [FLINK-23467][e2e] Remove usage of the YAML file in pyflink.sh
  flink-end-to-end-tests/test-scripts/test_pyflink.sh
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/context/DefaultContext.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/LocalContextUtils.java
Labels: component=Tests, review=description?

#16533 [hotfix][docs] Fix typos that Flink is miswritten as Fink
  docs/content.zh/docs/connectors/datastream/overview.md
  docs/content.zh/docs/dev/python/table/python_table_api_connectors.md
  docs/content.zh/release-notes/flink-1.8.md
  docs/content.zh/release-notes/flink-1.9.md
  docs/content/docs/dev/python/table/python_table_api_connectors.md
  docs/content/release-notes/flink-1.8.md
  docs/content/release-notes/flink-1.9.md
Labels: review=description?

#16567 [FLINK-23471][checkpoint] Try best to ensure all operators and state manager handle the checkpoint complete notification
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/SubtaskCheckpointCoordinatorImpl.java
Labels: component=Runtime/Checkpointing, component=Runtime/Task, review=description?

#16537 [FLINK-23432][docs] Solve the Markdown header failure issue
  docs/content.zh/docs/ops/state/checkpoints.md
Labels: component=Documentation, review=description?

#16577 [FLINK-22861][table-planner-blink] Fix return value deduction of TIMESTAMPADD function
  flink-table/flink-table-planner-blink/src/main/java/org/apache/calcite/sql/fun/SqlTimestampAddFunction.java
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/CalcITCase.scala
Labels: component=TableSQL/Planner, component=TableSQL/Runtime, review=description?

#16586 [FLINK-23489][docs] Change flink-config.yaml to flink-conf.yaml
  docs/content.zh/docs/deployment/cli.md
  docs/content/docs/deployment/cli.md
Labels: component=Documentation, review=description?

#16554 [FLINK-23447][build] Bump lz4-java to 1.8.0
  flink-dist/src/main/resources/META-INF/NOTICE
  flink-end-to-end-tests/flink-glue-schema-registry-test/pom.xml
  flink-formats/flink-avro-glue-schema-registry/pom.xml
  flink-runtime/pom.xml
  pom.xml
Labels: component=BuildSystem, component=Runtime/Network, review=description?

#16558 [FLINK-22893][zookeeper] Replace NodeCache with TreeCache
  flink-runtime/src/main/java/org/apache/flink/runtime/leaderelection/ZooKeeperLeaderElectionDriver.java
  flink-runtime/src/main/java/org/apache/flink/runtime/leaderretrieval/ZooKeeperLeaderRetrievalDriver.java
  flink-runtime/src/main/java/org/apache/flink/runtime/util/ZooKeeperUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/util/ZooKeeperUtilsTreeCacheTest.java
Labels: component=Runtime/Coordination, review=description?

#16352 [FLINK-23102][runtime] Accessing FlameGraphs while not being enabled …
  docs/layouts/shortcodes/generated/rest_v1_dispatcher.html
  flink-runtime-web/src/test/resources/rest_api_v1.snapshot
  flink-runtime-web/web-dashboard/src/app/pages/job/overview/flamegraph/job-overview-drawer-flamegraph.component.html
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/handler/job/JobVertexFlameGraphHandler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/webmonitor/WebMonitorEndpoint.java
  flink-runtime/src/main/java/org/apache/flink/runtime/webmonitor/threadinfo/JobVertexFlameGraph.java
Labels: component=Runtime/WebFrontend, review=description?

#16566 [FLINK-23364][table-planner] Add tests about code splitting for some generated classes
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/codegen/CodeSplitTest.java
Labels: component=<none>, review=description?

#16563 [FLINK-22540][sql-client] Remove Yaml environment file in SQL Client
  flink-table/flink-sql-client/pom.xml
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliClient.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliOptions.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliOptionsParser.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/config/ConfigUtil.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/config/Environment.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/config/YamlConfigUtils.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/config/entries/CatalogEntry.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/config/entries/ConfigEntry.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/config/entries/ConfigurationEntry.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/config/entries/DeploymentEntry.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/config/entries/ExecutionEntry.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/config/entries/FunctionEntry.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/config/entries/ModuleEntry.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/config/entries/SinkTableEntry.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/config/entries/SourceSinkTableEntry.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/config/entries/SourceTableEntry.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/config/entries/TableEntry.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/config/entries/TemporalTableEntry.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/config/entries/ViewEntry.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/context/DefaultContext.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/context/LegacyTableEnvironmentInitializer.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/context/SessionContext.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/LocalContextUtils.java
  flink-table/flink-sql-client/src/test/assembly/test-table-factories.xml
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliClientITCase.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliClientTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/config/YamlConfigUtilsTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/context/ExecutionContextTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/context/SessionContextTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/local/DependencyTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/local/EnvironmentTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/local/LocalExecutorITCase.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/utils/DummyTableSinkFactory.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/utils/DummyTableSourceFactory.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/utils/EnvironmentFileUtil.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/utils/TestTableSinkFactoryBase.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/utils/TestTableSourceFactoryBase.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/utils/UserDefinedFunctions.java
  flink-table/flink-sql-client/src/test/resources/META-INF/services/org.apache.flink.table.factories.Factory
  flink-table/flink-sql-client/src/test/resources/META-INF/services/org.apache.flink.table.factories.TableFactory
  flink-table/flink-sql-client/src/test/resources/sql/set.q
  flink-table/flink-sql-client/src/test/resources/test-factory-services-file
  flink-table/flink-sql-client/src/test/resources/test-sql-client-catalogs.yaml
  flink-table/flink-sql-client/src/test/resources/test-sql-client-configuration.yaml
  flink-table/flink-sql-client/src/test/resources/test-sql-client-defaults.yaml
  flink-table/flink-sql-client/src/test/resources/test-sql-client-dialect.yaml
  flink-table/flink-sql-client/src/test/resources/test-sql-client-execution.yaml
  flink-table/flink-sql-client/src/test/resources/test-sql-client-factory.yaml
  flink-table/flink-sql-client/src/test/resources/test-sql-client-modules.yaml
  flink-table/flink-sql-client/src/test/resources/test-sql-client-python-functions.yaml
  flink-table/flink-sql-client/src/test/resources/test-sql-client-streaming.yaml
Labels: component=TableSQL/Client, review=description?

#16521 [FLINK-22715][table-runtime] Implement streaming window assigner tablefunction operator.
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecWindowTableFunction.java
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/WindowRankTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/join/WindowJoinTest.xml
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/WindowRankTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/WindowTableFunctionTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/join/WindowJoinTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/WindowJoinITCase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/WindowRankITCase.scala
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/window/WindowTableFunctionOperator.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/operators/window/WindowTableFunctionOperatorTest.java
Labels: component=TableSQL/Runtime, review=description?

#16546 [FLINK-23438] Bump httpclient from 4.5.3 and 4.5.9 to 4.5.13
  flink-connectors/flink-connector-elasticsearch5/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-connector-kinesis/pom.xml
  flink-connectors/flink-connector-kinesis/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-connector-twitter/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-elasticsearch6/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-elasticsearch7/src/main/resources/META-INF/NOTICE
  flink-end-to-end-tests/flink-glue-schema-registry-test/pom.xml
  flink-filesystems/flink-azure-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-oss-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-s3-fs-hadoop/pom.xml
  flink-filesystems/flink-s3-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-s3-fs-presto/pom.xml
  flink-filesystems/flink-s3-fs-presto/src/main/resources/META-INF/NOTICE
  pom.xml
Labels: component=<none>, review=description?

#16597 [FLINK-23500][akka] Create tmp dir if it doesn't exist
  flink-rpc/flink-rpc-akka-loader/pom.xml
  flink-rpc/flink-rpc-akka-loader/src/main/java/org/apache/flink/runtime/rpc/akka/AkkaRpcSystemLoader.java
  flink-rpc/flink-rpc-akka-loader/src/test/java/org/apache/flink/runtime/rpc/akka/AkkaRpcSystemLoaderTest.java
Labels: component=Runtime/Coordination, review=description?

#16595 [FLINK-23496][ci] Use MVN_GLOBAL_OPTIONS during maven snapshot deployment
  tools/azure-pipelines/build-nightly-dist.yml
  tools/ci/maven-utils.sh
Labels: component=BuildSystem, component=BuildSystem/CI, review=description?

#16591 [FLINK-19739][table-runtime] Fix compile exception for window aggregate in batch jobs
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/agg/batch/HashWindowCodeGenerator.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/agg/batch/WindowCodeGenerator.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/agg/GroupWindowITCase.scala
Labels: component=TableSQL/Runtime, review=description?

#16060 [FLINK-22860][table sql-client] Supplement 'HELP' command prompt message for SQL-Cli.
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliClient.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliStrings.java
  flink-table/flink-sql-client/src/test/resources/sql-client-help-command.out
  flink-table/flink-sql-client/src/test/resources/sql/misc.q
Labels: component=TableSQL/Client, review=description?

#16462 [FLINK-22985][table-runtime] Fix NullPointerException when comparing temporal type with invalid string literal
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/calls/ScalarOperatorGens.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/expressions/ScalarOperatorsTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/expressions/utils/ScalarOperatorsTestBase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/expressions/validation/ScalarOperatorsValidationTest.scala
Labels: review=description?

#16587 [FLINK-23490][examples][table] - Updated print output
  flink-examples/flink-examples-table/src/main/java/org/apache/flink/table/examples/java/basics/StreamWindowSQLExample.java
Labels: component=Examples, component=TableSQL/API, review=description?

#16445 [FLINK-23322][connectors/rabbitmq] Increase RMQSource handshake timeout tolerating network congestions
  flink-connectors/flink-connector-rabbitmq/src/test/java/org/apache/flink/streaming/connectors/rabbitmq/RMQSourceITCase.java
  flink-connectors/flink-connector-rabbitmq/src/test/resources/log4j2-test.properties
Labels: component=Connectors/RabbitMQ, review=description?

#16588 [FLINK-22936] Support column comment in Schema and ResolvedSchema
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/catalog/DefaultSchemaResolver.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/catalog/SchemaResolutionTest.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/api/Schema.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/catalog/Column.java
Labels: component=TableSQL/API, review=description?

#16619 [FLINK-22985][table-runtime-blink] Fix NullPointerException when comparing temporal type with invalid string literal
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/calls/ScalarOperatorGens.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/expressions/ScalarOperatorsTest.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/expressions/utils/ScalarOperatorsTestBase.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/expressions/validation/ScalarOperatorsValidationTest.scala
Labels: component=TableSQL/Runtime, review=description?

#16617 [FLINK-19739][table-runtime-blink] Fix compile exception for window aggregate in batch jobs
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/agg/batch/HashWindowCodeGenerator.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/agg/batch/WindowCodeGenerator.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/agg/GroupWindowITCase.scala
Labels: component=TableSQL/Runtime, review=description?

#16618 [FLINK-19739][table-runtime-blink] Fix compile exception for window aggregate in batch jobs
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/agg/batch/HashWindowCodeGenerator.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/agg/batch/WindowCodeGenerator.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/agg/WindowAggregateITCase.scala
Labels: component=TableSQL/Runtime, review=description?

#16605 [FLINK-23517][build] Add error messages for bannedDependencies rules
  flink-filesystems/flink-s3-fs-presto/pom.xml
  pom.xml
Labels: component=BuildSystem, review=description?

#16632 [FLINK-23534] Fix flink-dstl-dfs version used in changelog statebackend
  flink-state-backends/flink-statebackend-changelog/pom.xml
Labels: component=Runtime/StateBackends, review=description?

#16621 [FLINK-23322][connectors/rabbitmq] Increase RMQSource handshake timeo…
  flink-connectors/flink-connector-rabbitmq/src/test/java/org/apache/flink/streaming/connectors/rabbitmq/RMQSourceITCase.java
  flink-connectors/flink-connector-rabbitmq/src/test/resources/log4j2-test.properties
Labels: component=Connectors/RabbitMQ, review=description?

#16622 [FLINK-23322][connectors/rabbitmq] Increase RMQSource handshake timeo…
  flink-connectors/flink-connector-rabbitmq/src/test/java/org/apache/flink/streaming/connectors/rabbitmq/RMQSourceITCase.java
  flink-connectors/flink-connector-rabbitmq/src/test/resources/log4j2-test.properties
Labels: component=Connectors/RabbitMQ, review=description?

#16600 [FLINK-19929] Upgrade Kinesis dependencies
  flink-connectors/flink-connector-kinesis/pom.xml
  flink-connectors/flink-connector-kinesis/src/main/resources/META-INF/NOTICE
  flink-end-to-end-tests/flink-glue-schema-registry-test/pom.xml
  flink-end-to-end-tests/test-scripts/test_sql_client.sh
  flink-formats/flink-avro-glue-schema-registry/pom.xml
Labels: component=Connectors/Kinesis, review=description?

#16631 [FLINK-23537][table-common] Make JoinedRowData public
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/connector/source/abilities/SupportsReadingMetadata.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/data/utils/JoinedRowData.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/data/utils/JoinedRowDataTest.java
Labels: component=TableSQL/API, review=description?

#16608 [FLINK-23297] Upgrade Protobuf to 3.17.3
  flink-python/pom.xml
  flink-python/src/main/resources/META-INF/NOTICE
  pom.xml
Labels: component=Formats, review=description?

#16647 [FLINK-23546][dist] Supress error messages on macOS
  flink-dist/src/main/flink-bin/bin/flink-daemon.sh
Labels: component=Deployment/Scripts, review=description?
