Repository apache/flink, pull requests merged in 2022-05, with the labels that each got.

#19612 [FLINK-27459][tests] Reset context environment
  flink-tests/src/test/java/org/apache/flink/test/optimizer/jsonplan/JsonJobGraphGenerationTest.java
Labels: component=Tests

#19606 [FLINK-27441][webfrontend] fix "nzScroll" calculations
  flink-runtime-web/web-dashboard/src/app/pages/job/overview/accumulators/job-overview-drawer-accumulators.component.html
  flink-runtime-web/web-dashboard/src/app/pages/job/overview/backpressure/job-overview-drawer-backpressure.component.html
  flink-runtime-web/web-dashboard/src/app/pages/job/overview/subtasks/job-overview-drawer-subtasks.component.html
  flink-runtime-web/web-dashboard/src/app/pages/job/overview/taskmanagers/job-overview-drawer-taskmanagers.component.html
  flink-runtime-web/web-dashboard/src/app/pages/job/overview/watermarks/job-overview-drawer-watermarks.component.html
Labels: component=Runtime/WebFrontend

#19590 [FLINK-27352][tests] [JUnit5 Migration] Module: flink-json
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/JsonBatchFileSystemITCase.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/JsonFormatFactoryTest.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/JsonNodeDeserializationSchemaTest.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/JsonRowDataSerDeSchemaTest.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/JsonRowSchemaConverterTest.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/canal/CanalJsonFormatFactoryTest.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/canal/CanalJsonSerDeSchemaTest.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/debezium/DebeziumJsonFileSystemITCase.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/debezium/DebeziumJsonFormatFactoryTest.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/debezium/DebeziumJsonSerDeSchemaTest.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/maxwell/MaxwellJsonFormatFactoryTest.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/maxwell/MaxwellJsonSerDerTest.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/ogg/OggJsonFileSystemITCase.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/ogg/OggJsonFormatFactoryTest.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/ogg/OggJsonSerDeSchemaTest.java
  flink-formats/flink-json/src/test/resources/services/org.junit.jupiter.api.extension.Extension
Labels: component=Formats

#19625 [FLINK-27470][state][tests] Migrate test to JUnit5
  flink-runtime/src/test/java/org/apache/flink/runtime/state/testutils/StateAssertions.java
  flink-state-backends/flink-statebackend-heap-spillable/src/test/java/org/apache/flink/runtime/state/heap/CopyOnWriteSkipListStateMapBasicOpTest.java
  flink-state-backends/flink-statebackend-heap-spillable/src/test/java/org/apache/flink/runtime/state/heap/CopyOnWriteSkipListStateMapComplexOpTest.java
  flink-state-backends/flink-statebackend-heap-spillable/src/test/java/org/apache/flink/runtime/state/heap/CopyOnWriteSkipListStateMapTestUtils.java
  flink-state-backends/flink-statebackend-heap-spillable/src/test/java/org/apache/flink/runtime/state/heap/OnHeapLevelIndexHeaderTest.java
  flink-state-backends/flink-statebackend-heap-spillable/src/test/java/org/apache/flink/runtime/state/heap/SkipListKeyComparatorTest.java
  flink-state-backends/flink-statebackend-heap-spillable/src/test/java/org/apache/flink/runtime/state/heap/SkipListSerializerTest.java
  flink-state-backends/flink-statebackend-heap-spillable/src/test/java/org/apache/flink/runtime/state/heap/SkipListUtilsTest.java
  flink-state-backends/flink-statebackend-heap-spillable/src/test/java/org/apache/flink/runtime/state/heap/TestAllocator.java
  flink-state-backends/flink-statebackend-heap-spillable/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
Labels: component=Tests, component=Runtime/StateBackends

#19632 [FLINK-27485][Documentation][Build] Fix the documentation build pipeline
  .github/workflows/docs.sh
  docs/setup_docs.sh
Labels: component=Documentation, component=BuildSystem

#18986 [FLINK-26496][flink-yarn-test] [JUnit5 Migration] Module: flink-yarn-test
  flink-test-utils-parent/flink-test-utils/src/main/java/org/apache/flink/test/util/SecureTestEnvironment.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/CliFrontendRunWithYarnTest.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/UtilsTest.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YARNApplicationITCase.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YARNFileReplicationITCase.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YARNHighAvailabilityITCase.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YARNITCase.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YARNSessionCapacitySchedulerITCase.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YARNSessionFIFOITCase.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YARNSessionFIFOSecuredITCase.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YarnConfigurationITCase.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YarnPrioritySchedulingITCase.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YarnTestBase.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YarnTestBaseTest.java
  flink-yarn-tests/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
Labels: component=Deployment/YARN, component=Tests

#19627 [FLINK-27465] Handle conversion of negative long to timestamp in AvroRowDeserializationSchema
  flink-formats/flink-avro/src/main/java/org/apache/flink/formats/avro/AvroRowDeserializationSchema.java
Labels: component=Formats

#17677 [FLINK-24766][table] Ceiling/flooring dates to day returns wrong results
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/utils/DateTimeUtils.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/calls/FloorCeilCallGen.scala
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/functions/TimeFunctionsITCase.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/expressions/TemporalTypesTest.scala
Labels: component=TableSQL/API

#19640 [FLINK-27442][BP 1.14][Formats][Avro Confluent] Add Confluent repo to module flink-sql-avro-confluent-registry
  flink-formats/flink-sql-avro-confluent-registry/pom.xml
Labels: component=Formats

#19639 [FLINK-27442][BP 1.15][Formats][Avro Confluent] Add Confluent repo to module flink-sql-avro-confluent-registry
  flink-formats/flink-sql-avro-confluent-registry/pom.xml
Labels: component=Formats

#19626 [FLINK-27477][yarn][tests] Drop flink-yarn test-jar
  flink-yarn-tests/pom.xml
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YarnConfigurationITCase.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YarnPrioritySchedulingITCase.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YarnTestBase.java
  flink-yarn/pom.xml
Labels: component=Deployment/YARN, component=BuildSystem, component=Tests

#19616 [FLINK-26052][docs-zh] Document savepoint format
  docs/content.zh/docs/ops/state/savepoints.md
Labels: component=Documentation, component=Runtime/Checkpointing

#19621 [FLINK-27469][yarn][tests] Drop CliFrontendRunWithYarnTest
  flink-yarn-tests/pom.xml
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/CliFrontendRunWithYarnTest.java
Labels: component=Deployment/YARN, component=Tests

#17715 [FLINK-24820][table][docs] Wrong description in documentation for IS DISTINCT FROM
  docs/data/sql_functions.yml
Labels: component=Documentation, component=TableSQL/API

#19630 [FLINK-27461] Add option to set userAgent for kubeclient
  docs/layouts/shortcodes/generated/kubernetes_config_configuration.html
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/configuration/KubernetesConfigOptions.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/FlinkKubeClientFactory.java
Labels: component=Deployment/Kubernetes

#19629 [FLINK-27480][kafka] Explain possible metrics InstanceAlreadyExistsException in docs
  docs/content/docs/connectors/datastream/kafka.md
Labels: component=Connectors/Kafka

#19658 [FLINK-27480][kafka] Explain possible metrics InstanceAlreadyExistsException in docs
  docs/content/docs/connectors/datastream/kafka.md
Labels: component=Connectors/Kafka

#19659 [FLINK-27480][kafka] Explain possible metrics InstanceAlreadyExistsException in docs
  docs/content/docs/connectors/datastream/kafka.md
Labels: component=Connectors/Kafka

#19498 [FLINK-26588][docs]Translate the new CAST documentation to Chinese
  docs/content.zh/docs/dev/table/types.md
Labels: component=Documentation, component=TableSQL/API

#19661 [FLINK-27487][kafka] Only forward measurable Kafka metrics and ignore others
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/streaming/connectors/kafka/internals/metrics/KafkaMetricMutableWrapper.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/internals/metrics/KafkaMetricMutableWrapperTest.java
Labels: component=Connectors/Kafka, component=Runtime/Metrics

#19433 [BK-1.14][FLINK-26645][Connector/pulsar] Support subscribe only one topic partition/
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/PulsarSourceBuilder.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/subscriber/impl/BasePulsarSubscriber.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/subscriber/impl/TopicListSubscriber.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/topic/TopicNameUtils.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/source/enumerator/subscriber/PulsarSubscriberTest.java
Labels: component=Connectors/Pulsar

#19649 [FLINK-27487][kafka] Only forward measurable Kafka metrics and ignore others
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/streaming/connectors/kafka/internals/metrics/KafkaMetricMutableWrapper.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/internals/metrics/KafkaMetricMutableWrapperTest.java
Labels: component=Connectors/Kafka, component=Runtime/Metrics

#19689 [BP-1.15][FLINK-26588][docs]Translate the new CAST documentation to C…
  docs/content.zh/docs/dev/table/types.md
Labels: component=Documentation, component=TableSQL/API

#19608 [FLINK-27450][hive] Upgrade default hive version to fix Hive SessionState initialization issue with jdk11
  flink-connectors/flink-connector-hive/pom.xml
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/module/hive/HiveModuleTest.java
  flink-table/flink-sql-client/pom.xml
  pom.xml
Labels: component=Connectors/Hive

#19377 [FLINK-27048][test] Add ArchUnit rule that connectors should only depend on public API
  flink-architecture-tests/flink-architecture-tests-production/archunit-violations/b8900323-6aab-4e7e-9b17-f53b3c3dca46
  flink-architecture-tests/flink-architecture-tests-production/archunit-violations/stored.rules
  flink-architecture-tests/flink-architecture-tests-production/src/main/java/org/apache/flink/architecture/ProductionCodeArchitectureBase.java
  flink-architecture-tests/flink-architecture-tests-production/src/main/java/org/apache/flink/architecture/rules/ConnectorRules.java
Labels: component=Connectors/ElasticSearch

#19686 [FLINK-27563][docs] Fix yarn doc page display error.
  docs/content/docs/deployment/resource-providers/yarn.md
Labels: component=Documentation

#19697 [FLINK-27563][docs] Fix yarn doc page display error.
  docs/content/docs/deployment/resource-providers/yarn.md
Labels: component=Documentation

#19700 [FLINK-27421][python] Bundle test utility classes
  flink-python/setup.py
Labels: component=API/Python

#19552 [FLINK-27185][connectors][formats] Convert format modules to assertj
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/AvroFormatFactoryTest.java
  flink-formats/flink-compress/src/test/java/org/apache/flink/formats/compress/CompressWriterFactoryTest.java
  flink-formats/flink-compress/src/test/java/org/apache/flink/formats/compress/CompressionFactoryITCase.java
  flink-formats/flink-csv/src/test/java/org/apache/flink/formats/csv/CsvFormatFactoryTest.java
  flink-formats/flink-csv/src/test/java/org/apache/flink/formats/csv/CsvRowDataSerDeSchemaTest.java
  flink-formats/flink-csv/src/test/java/org/apache/flink/formats/csv/CsvRowDeSerializationSchemaTest.java
  flink-formats/flink-csv/src/test/java/org/apache/flink/formats/csv/RowCsvInputFormatSplitTest.java
  flink-formats/flink-csv/src/test/java/org/apache/flink/formats/csv/RowCsvInputFormatTest.java
  flink-formats/flink-hadoop-bulk/src/test/java/org/apache/flink/formats/hadoop/bulk/AbstractFileCommitterTest.java
  flink-formats/flink-hadoop-bulk/src/test/java/org/apache/flink/formats/hadoop/bulk/HadoopPathBasedPartFileWriterTest.java
  flink-formats/flink-hadoop-bulk/src/test/java/org/apache/flink/formats/hadoop/bulk/HadoopPathBasedPendingFileRecoverableSerializerMigrationTest.java
  flink-formats/flink-hadoop-bulk/src/test/java/org/apache/flink/streaming/api/functions/sink/filesystem/HadoopPathBasedBulkFormatBuilderTest.java
  flink-formats/flink-orc/src/test/java/org/apache/flink/orc/OrcColumnarRowInputFormatTest.java
  flink-formats/flink-orc/src/test/java/org/apache/flink/orc/OrcColumnarRowSplitReaderTest.java
  flink-formats/flink-orc/src/test/java/org/apache/flink/orc/OrcFileSystemFilterTest.java
  flink-formats/flink-orc/src/test/java/org/apache/flink/orc/OrcFileSystemITCase.java
  flink-formats/flink-orc/src/test/java/org/apache/flink/orc/OrcSplitReaderUtilTest.java
  flink-formats/flink-orc/src/test/java/org/apache/flink/orc/util/OrcBulkWriterTestUtil.java
  flink-formats/flink-orc/src/test/java/org/apache/flink/orc/writer/OrcBulkRowDataWriterTest.java
  flink-formats/flink-orc/src/test/java/org/apache/flink/orc/writer/OrcBulkWriterFactoryTest.java
  flink-formats/flink-parquet/src/test/java/org/apache/flink/formats/parquet/ParquetColumnarRowInputFormatTest.java
  flink-formats/flink-parquet/src/test/java/org/apache/flink/formats/parquet/ParquetFileSystemITCase.java
  flink-formats/flink-parquet/src/test/java/org/apache/flink/formats/parquet/avro/AvroParquetFileReadITCase.java
  flink-formats/flink-parquet/src/test/java/org/apache/flink/formats/parquet/avro/AvroParquetStreamingFileSinkITCase.java
  flink-formats/flink-parquet/src/test/java/org/apache/flink/formats/parquet/protobuf/ParquetProtoStreamingFileSinkITCase.java
  flink-formats/flink-parquet/src/test/java/org/apache/flink/formats/parquet/row/ParquetRowDataWriterTest.java
  flink-formats/flink-parquet/src/test/java/org/apache/flink/formats/parquet/vector/ParquetColumnarRowSplitReaderTest.java
  flink-formats/flink-sequence-file/src/test/java/org/apache/flink/formats/sequencefile/SequenceStreamingFileSinkITCase.java
  flink-formats/flink-sequence-file/src/test/java/org/apache/flink/formats/sequencefile/SerializableHadoopConfigurationTest.java
Labels: component=<none>

#19710 [FLINK-24433][Tests][Buildsystem] Prevent running out of disk space
  flink-end-to-end-tests/flink-connector-gcp-pubsub-emulator-tests/src/test/resources/log4j2-test.properties
  flink-end-to-end-tests/flink-end-to-end-tests-aws-kinesis-firehose/src/test/resources/log4j2-test.properties
  flink-end-to-end-tests/flink-end-to-end-tests-aws-kinesis-streams/src/test/resources/log4j2-test.properties
  flink-end-to-end-tests/flink-glue-schema-registry-avro-test/src/test/resources/log4j2-test.properties
  flink-end-to-end-tests/flink-glue-schema-registry-json-test/src/test/resources/log4j2-test.properties
  flink-end-to-end-tests/flink-streaming-kinesis-test/src/test/resources/log4j2-test.properties
Labels: component=BuildSystem/AzurePipelines

#19720 [FLINK-27465] Handle conversion of negative long to timestamp in Avro…
  flink-formats/flink-avro/src/main/java/org/apache/flink/formats/avro/AvroRowDeserializationSchema.java
Labels: component=Formats

#19725 [FLINK-17232][k8s] Disable the implicit behavior to use the Service e…
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/services/LoadBalancerService.java
Labels: component=Deployment/Kubernetes

#19538 [FLINK-27323][flink-table-api-java][tests] Migrate tests to JUnit5
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveCatalogGenericMetadataTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveCatalogHiveMetadataTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveCatalogMetadataTestBase.java
  flink-table/flink-table-api-java/pom.xml
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/api/EnvironmentSettingsTest.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/api/TableConfigTest.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/api/TableDescriptorTest.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/api/TableEnvironmentTest.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/catalog/CatalogBaseTableResolutionTest.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/catalog/CatalogTableImpTest.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/catalog/FunctionCatalogTest.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/catalog/GenericInMemoryCatalogFactoryTest.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/catalog/GenericInMemoryCatalogTest.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/catalog/SchemaResolutionTest.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/catalog/SchemaTranslatorTest.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/expressions/ObjectToExpressionTest.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/expressions/resolver/ExpressionResolverTest.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/module/ModuleManagerTest.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/operations/QueryOperationTest.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/operations/utils/ValuesOperationTreeBuilderTest.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/typeutils/FieldInfoUtilsTest.java
  flink-table/flink-table-api-java/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
  flink-table/flink-table-api-scala-bridge/pom.xml
  flink-table/flink-table-api-scala-bridge/src/test/resources/services/org.junit.jupiter.api.extension.Extension
  flink-table/flink-table-api-scala-bridge/src/test/scala/org/apache/flink/table/api/bridge/scala/internal/StreamTableEnvironmentImplTest.scala
  flink-table/flink-table-api-scala-bridge/src/test/scala/org/apache/flink/table/types/TypeInfoDataTypeConverterScalaTest.scala
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/catalog/CatalogTest.java
Labels: component=<none>

#19693 [FLINK-27566][tests] Migrate module flink-connector-aws-kinesis-firehose to JUnit5
  flink-connectors/flink-connector-aws-kinesis-firehose/src/test/java/org/apache/flink/connector/firehose/sink/KinesisFirehoseSinkBuilderTest.java
  flink-connectors/flink-connector-aws-kinesis-firehose/src/test/java/org/apache/flink/connector/firehose/sink/KinesisFirehoseSinkElementConverterTest.java
  flink-connectors/flink-connector-aws-kinesis-firehose/src/test/java/org/apache/flink/connector/firehose/sink/KinesisFirehoseSinkITCase.java
  flink-connectors/flink-connector-aws-kinesis-firehose/src/test/java/org/apache/flink/connector/firehose/sink/KinesisFirehoseSinkTest.java
  flink-connectors/flink-connector-aws-kinesis-firehose/src/test/java/org/apache/flink/connector/firehose/sink/KinesisFirehoseSinkWriterTest.java
  flink-connectors/flink-connector-aws-kinesis-firehose/src/test/java/org/apache/flink/connector/firehose/sink/KinesisFirehoseStateSerializerTest.java
  flink-connectors/flink-connector-aws-kinesis-firehose/src/test/java/org/apache/flink/connector/firehose/table/KinesisFirehoseDynamicTableFactoryTest.java
  flink-connectors/flink-connector-aws-kinesis-firehose/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
Labels: component=Tests

#19733 [FLINK-24433][Tests][Buildsystem] Remove additional pre-installed packages to clean up more diskspace
  tools/azure-pipelines/free_disk_space.sh
Labels: component=BuildSystem/AzurePipelines

#19735 [FLINK-27649][connectors/elasticsearch] Remove slf4 dependency causing unwanted log output
  flink-end-to-end-tests/flink-end-to-end-tests-elasticsearch6/pom.xml
Labels: component=Connectors/ElasticSearch

#19737 [FLINK-24433][Tests][Buildsystem] Remove additional pre-installed pac…
  tools/azure-pipelines/free_disk_space.sh
Labels: component=BuildSystem/AzurePipelines

#19694 [FLINK-27567][tests] Migrate module flink-connector-aws-kinesis-streams to JUnit5
  flink-connectors/flink-connector-aws-kinesis-streams/src/test/java/org/apache/flink/connector/kinesis/sink/KinesisStreamsSinkBuilderTest.java
  flink-connectors/flink-connector-aws-kinesis-streams/src/test/java/org/apache/flink/connector/kinesis/sink/KinesisStreamsSinkITCase.java
  flink-connectors/flink-connector-aws-kinesis-streams/src/test/java/org/apache/flink/connector/kinesis/sink/KinesisStreamsStateSerializerTest.java
  flink-connectors/flink-connector-aws-kinesis-streams/src/test/java/org/apache/flink/connector/kinesis/table/KinesisDynamicTableSinkFactoryTest.java
  flink-connectors/flink-connector-aws-kinesis-streams/src/test/java/org/apache/flink/connector/kinesis/table/RowDataFieldsKinesisPartitionKeyGeneratorTest.java
  flink-connectors/flink-connector-aws-kinesis-streams/src/test/java/org/apache/flink/connector/kinesis/table/util/KinesisProducerOptionsMapperTest.java
  flink-connectors/flink-connector-aws-kinesis-streams/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
Labels: component=<none>

#19600 [FLINK-27433][tests] Relocate RocksDB's log back to its own database dir
  docs/layouts/shortcodes/generated/rocksdb_configurable_configuration.html
  flink-end-to-end-tests/test-scripts/common.sh
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBConfigurableOptions.java
Labels: component=Tests, component=BuildSystem/AzurePipelines

#18983 [FLINK-25543][flink-yarn] [JUnit5 Migration] Module: flink-yarn
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/active/ResourceManagerDriverTestBase.java
  flink-yarn/src/test/java/org/apache/flink/yarn/AbstractYarnClusterTest.java
  flink-yarn/src/test/java/org/apache/flink/yarn/ContainerRequestReflectorTest.java
  flink-yarn/src/test/java/org/apache/flink/yarn/FallbackYarnSessionCliTest.java
  flink-yarn/src/test/java/org/apache/flink/yarn/FlinkYarnSessionCliTest.java
  flink-yarn/src/test/java/org/apache/flink/yarn/RegisterApplicationMasterResponseReflectorTest.java
  flink-yarn/src/test/java/org/apache/flink/yarn/ResourceInformationReflectorTest.java
  flink-yarn/src/test/java/org/apache/flink/yarn/TaskExecutorProcessSpecContainerResourcePriorityAdapterTest.java
  flink-yarn/src/test/java/org/apache/flink/yarn/UtilsTest.java
  flink-yarn/src/test/java/org/apache/flink/yarn/YarnApplicationFileUploaderTest.java
  flink-yarn/src/test/java/org/apache/flink/yarn/YarnClusterClientFactoryTest.java
  flink-yarn/src/test/java/org/apache/flink/yarn/YarnClusterDescriptorTest.java
  flink-yarn/src/test/java/org/apache/flink/yarn/YarnFileStageTest.java
  flink-yarn/src/test/java/org/apache/flink/yarn/YarnFileStageTestS3ITCase.java
  flink-yarn/src/test/java/org/apache/flink/yarn/YarnLocalResourceDescriptionTest.java
  flink-yarn/src/test/java/org/apache/flink/yarn/YarnResourceManagerDriverTest.java
  flink-yarn/src/test/java/org/apache/flink/yarn/YarnTaskExecutorRunnerTest.java
  flink-yarn/src/test/java/org/apache/flink/yarn/YarnTestUtils.java
  flink-yarn/src/test/java/org/apache/flink/yarn/configuration/YarnDeploymentTargetTest.java
  flink-yarn/src/test/java/org/apache/flink/yarn/entrypoint/YarnEntrypointUtilsTest.java
  flink-yarn/src/test/java/org/apache/flink/yarn/entrypoint/YarnJobClusterEntrypointTest.java
  flink-yarn/src/test/java/org/apache/flink/yarn/entrypoint/YarnWorkerResourceSpecFactoryTest.java
  flink-yarn/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
Labels: component=Tests

#19363 [FLINK-27059][tests][JUnit5 migration] flink-compress
  flink-formats/flink-compress/src/test/java/org/apache/flink/formats/compress/CompressWriterFactoryTest.java
  flink-formats/flink-compress/src/test/java/org/apache/flink/formats/compress/CompressionFactoryITCase.java
  flink-formats/flink-compress/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
Labels: component=<none>

#19744 [FLINK-27662][tests] Migrate TypeInformationTestBase to JUnit5
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/sink/compactor/operator/CompactorRequestTypeInfoTest.java
  flink-connectors/flink-hadoop-compatibility/src/test/java/org/apache/flink/api/java/typeutils/WritableTypeInfoTest.java
  flink-core/src/test/java/org/apache/flink/api/common/typeinfo/BasicArrayTypeInfoTest.java
  flink-core/src/test/java/org/apache/flink/api/common/typeinfo/BasicTypeInfoTest.java
  flink-core/src/test/java/org/apache/flink/api/common/typeinfo/FractionalTypeInfoTest.java
  flink-core/src/test/java/org/apache/flink/api/common/typeinfo/IntegerTypeInfoTest.java
  flink-core/src/test/java/org/apache/flink/api/common/typeinfo/LocalTimeTypeInfoTest.java
  flink-core/src/test/java/org/apache/flink/api/common/typeinfo/NothingTypeInfoTest.java
  flink-core/src/test/java/org/apache/flink/api/common/typeinfo/NumericTypeInfoTest.java
  flink-core/src/test/java/org/apache/flink/api/common/typeinfo/PrimitiveArrayTypeInfoTest.java
  flink-core/src/test/java/org/apache/flink/api/common/typeinfo/SqlTimeTypeInfoTest.java
  flink-core/src/test/java/org/apache/flink/api/common/typeutils/TypeInformationTestBase.java
  flink-core/src/test/java/org/apache/flink/api/java/typeutils/EitherTypeInfoTest.java
  flink-core/src/test/java/org/apache/flink/api/java/typeutils/EnumTypeInfoTest.java
  flink-core/src/test/java/org/apache/flink/api/java/typeutils/GenericTypeInfoTest.java
  flink-core/src/test/java/org/apache/flink/api/java/typeutils/ListTypeInfoTest.java
  flink-core/src/test/java/org/apache/flink/api/java/typeutils/MapTypeInfoTest.java
  flink-core/src/test/java/org/apache/flink/api/java/typeutils/MissingTypeInfoTest.java
  flink-core/src/test/java/org/apache/flink/api/java/typeutils/MultisetTypeInfoTest.java
  flink-core/src/test/java/org/apache/flink/api/java/typeutils/ObjectArrayTypeInfoTest.java
  flink-core/src/test/java/org/apache/flink/api/java/typeutils/PojoTypeInfoTest.java
  flink-core/src/test/java/org/apache/flink/api/java/typeutils/RowTypeInfoTest.java
  flink-core/src/test/java/org/apache/flink/api/java/typeutils/TupleTypeInfoTest.java
  flink-core/src/test/java/org/apache/flink/api/java/typeutils/ValueTypeInfoTest.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/typeutils/AvroGenericRecordTypeInfoTest.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/typeutils/AvroTypeInfoTest.java
  flink-queryable-state/flink-queryable-state-client-java/src/test/java/org/apache/flink/queryablestate/client/VoidNamespaceTypeInfoTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/VoidNamespaceTypeInfoTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/connector/sink2/CommittableMessageTypeInfoTest.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/typeutils/BigDecimalTypeInfoTest.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/typeutils/ExternalTypeInfoTest.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/typeutils/InternalTypeInfoTest.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/typeutils/InternalTypeInfosTest.java
Labels: component=<none>

#19749 [FLINK-27167][test] change the junit-jupiter dependency scope to compile
  flink-architecture-tests/flink-architecture-tests-production/pom.xml
Labels: component=BuildSystem/AzurePipelines

#19688 [FLINK-27561][tests] Migrate flink-connector-aws-base to JUnit5
  flink-connectors/flink-connector-aws-base/pom.xml
  flink-connectors/flink-connector-aws-base/src/test/java/org/apache/flink/connector/aws/table/util/AWSOptionsUtilTest.java
  flink-connectors/flink-connector-aws-base/src/test/java/org/apache/flink/connector/aws/table/util/AsyncClientOptionsUtilsTest.java
  flink-connectors/flink-connector-aws-base/src/test/java/org/apache/flink/connector/aws/util/AWSAsyncSinkUtilTest.java
  flink-connectors/flink-connector-aws-base/src/test/java/org/apache/flink/connector/aws/util/AWSGeneralUtilTest.java
  flink-connectors/flink-connector-aws-base/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
Labels: component=Tests

#19750 [FLINK-27669][tests] Migrate flink-file-sink-common to JUnit5
  flink-connectors/flink-file-sink-common/pom.xml
  flink-connectors/flink-file-sink-common/src/test/java/org/apache/flink/streaming/api/functions/sink/filesystem/OutputStreamBasedPartFileRecoverableMigrationTest.java
  flink-connectors/flink-file-sink-common/src/test/java/org/apache/flink/streaming/api/functions/sink/filesystem/bucketassigners/DateTimeBucketAssignerTest.java
  flink-connectors/flink-file-sink-common/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
Labels: component=<none>

#19754 [FLINK-27673][tests] Migrate flink-table-api-scala to JUnit5
  flink-table/flink-table-api-scala/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
  flink-table/flink-table-api-scala/src/test/scala/org/apache/flink/table/api/ExpressionsConsistencyCheckTest.scala
  flink-table/flink-table-api-scala/src/test/scala/org/apache/flink/table/api/ImplicitConversionsTest.scala
  flink-table/flink-table-api-scala/src/test/scala/org/apache/flink/table/expressions/ObjectToExpressionScalaTest.scala
  flink-table/flink-table-api-scala/src/test/scala/org/apache/flink/table/types/extraction/DataTypeExtractorScalaTest.scala
  flink-table/flink-table-api-scala/src/test/scala/org/apache/flink/table/types/extraction/TypeInferenceExtractorScalaTest.scala
Labels: component=Tests, component=TableSQL/API

#19716 [FLINK-27607][tests] Migrate module flink-connector-files to JUnit5
  flink-connectors/flink-connector-files/pom.xml
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/sink/BatchCompactingFileSinkITCase.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/sink/BatchExecutionFileSinkITCase.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/sink/FileCommittableSerializerTest.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/sink/FileSinkCommittableSerializerMigrationTest.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/sink/FileSinkCompactionSwitchITCase.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/sink/FileSinkITBase.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/sink/StreamingCompactingFileSinkITCase.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/sink/StreamingExecutionFileSinkITCase.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/sink/committer/FileCommitterTest.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/sink/compactor/AbstractCompactTestBase.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/sink/compactor/CompactCoordinatorTest.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/sink/compactor/CompactorOperatorTest.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/sink/utils/IntegerFileSinkTestDataUtils.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/sink/writer/FileSinkMigrationITCase.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/sink/writer/FileWriterBucketStateSerializerMigrationTest.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/sink/writer/FileWriterBucketStateSerializerTest.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/sink/writer/FileWriterBucketTest.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/sink/writer/FileWriterTest.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/src/FileSourceHeavyThroughputTest.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/src/FileSourceSplitSerializerTest.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/src/FileSourceSplitStateTest.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/src/FileSourceSplitTest.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/src/FileSourceTextLinesITCase.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/src/PendingSplitsCheckpointSerializerTest.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/src/assigners/LocalityAwareSplitAssignerTest.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/src/enumerate/BlockSplittingRecursiveEnumeratorTest.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/src/enumerate/NonSplittingRecursiveEnumeratorTest.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/src/impl/AdapterTestBase.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/src/impl/ContinuousFileSplitEnumeratorTest.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/src/impl/FileRecordFormatAdapterTest.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/src/impl/FileRecordsTest.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/src/impl/FileSourceReaderTest.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/src/impl/StaticFileSplitEnumeratorTest.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/src/impl/StreamFormatAdapterTest.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/src/util/ArrayResultIteratorTest.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/src/util/IteratorResultIteratorTest.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/src/util/SingletonResultIteratorTest.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/table/BinPackingTest.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/table/EnrichedRowDataTest.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/table/FileSystemCommitterTest.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/table/FileSystemOutputFormatTest.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/table/LimitableBulkFormatTest.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/table/PartitionWriterTest.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/table/RowPartitionComputerTest.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/table/stream/StreamingFileWriterTest.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/table/stream/compact/AbstractCompactTestBase.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/table/stream/compact/CompactCoordinatorTest.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/table/stream/compact/CompactFileWriterTest.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/table/stream/compact/CompactOperatorTest.java
  flink-connectors/flink-connector-files/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/utils/LegacyRowResource.java
Labels: component=Tests

#19763 [FLINK-27185][connectors] Convert connector-hive module to assertj
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDeserializeExceptionTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDialectITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDialectQueryITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDynamicTableFactoryTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveLookupJoinITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveOutputFormatFactoryTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveRunnerITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveSourceITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTableFactoryTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTableSinkITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTableSourceITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/PartitionMonitorTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/TableEnvHiveConnectorITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/read/HiveInputFormatPartitionReaderITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/read/HivePartitionFetcherTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/read/HiveTableFileInputFormatTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/util/HiveConfUtilsTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveCatalogDataTypeTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveCatalogHiveMetadataTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveCatalogUdfITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/factories/HiveCatalogFactoryTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/util/HiveTableUtilTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/functions/hive/HiveGenericUDAFTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/functions/hive/HiveGenericUDFTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/functions/hive/HiveGenericUDTFTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/functions/hive/HiveSimpleUDFTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/module/hive/HiveModuleFactoryTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/module/hive/HiveModuleTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/planner/delegation/hive/HiveASTParserTest.java
Labels: component=<none>

#19752 [FLINK-27340][tests] Migrate module flink-python to JUnit5
  flink-python/src/test/java/org/apache/flink/client/cli/PythonProgramOptionsITCase.java
  flink-python/src/test/java/org/apache/flink/client/cli/PythonProgramOptionsTest.java
  flink-python/src/test/java/org/apache/flink/client/python/PythonDriverOptionsParserFactoryTest.java
  flink-python/src/test/java/org/apache/flink/client/python/PythonDriverTest.java
  flink-python/src/test/java/org/apache/flink/client/python/PythonEnvUtilsTest.java
  flink-python/src/test/java/org/apache/flink/client/python/PythonShellParserTest.java
  flink-python/src/test/java/org/apache/flink/python/PythonOptionsTest.java
  flink-python/src/test/java/org/apache/flink/python/chain/PythonOperatorChainingOptimizerTest.java
  flink-python/src/test/java/org/apache/flink/python/env/PythonDependencyInfoTest.java
  flink-python/src/test/java/org/apache/flink/python/env/process/ProcessPythonEnvironmentManagerTest.java
  flink-python/src/test/java/org/apache/flink/python/metric/FlinkMetricContainerTest.java
  flink-python/src/test/java/org/apache/flink/python/util/CompressionUtilsTest.java
  flink-python/src/test/java/org/apache/flink/python/util/PythonConfigUtilTest.java
  flink-python/src/test/java/org/apache/flink/python/util/PythonDependencyUtilsTest.java
  flink-python/src/test/java/org/apache/flink/streaming/api/utils/ProtoUtilsTest.java
  flink-python/src/test/java/org/apache/flink/streaming/api/utils/PythonTypeUtilsTest.java
  flink-python/src/test/java/org/apache/flink/table/legacyutils/RichFunc0.java
  flink-python/src/test/java/org/apache/flink/table/runtime/arrow/ArrowReaderWriterTest.java
  flink-python/src/test/java/org/apache/flink/table/runtime/arrow/ArrowReaderWriterTestBase.java
  flink-python/src/test/java/org/apache/flink/table/runtime/arrow/ArrowUtilsTest.java
  flink-python/src/test/java/org/apache/flink/table/runtime/arrow/sources/ArrowSourceFunctionTest.java
  flink-python/src/test/java/org/apache/flink/table/runtime/arrow/sources/ArrowSourceFunctionTestBase.java
  flink-python/src/test/java/org/apache/flink/table/runtime/operators/python/aggregate/AbstractPythonStreamAggregateOperatorTest.java
  flink-python/src/test/java/org/apache/flink/table/runtime/operators/python/aggregate/PythonStreamGroupAggregateOperatorTest.java
  flink-python/src/test/java/org/apache/flink/table/runtime/operators/python/aggregate/PythonStreamGroupTableAggregateOperatorTest.java
  flink-python/src/test/java/org/apache/flink/table/runtime/operators/python/aggregate/PythonStreamGroupWindowAggregateOperatorTest.java
  flink-python/src/test/java/org/apache/flink/table/runtime/operators/python/aggregate/arrow/batch/AbstractBatchArrowPythonAggregateFunctionOperatorTest.java
  flink-python/src/test/java/org/apache/flink/table/runtime/operators/python/aggregate/arrow/batch/BatchArrowPythonGroupAggregateFunctionOperatorTest.java
  flink-python/src/test/java/org/apache/flink/table/runtime/operators/python/aggregate/arrow/batch/BatchArrowPythonGroupWindowAggregateFunctionOperatorTest.java
  flink-python/src/test/java/org/apache/flink/table/runtime/operators/python/aggregate/arrow/batch/BatchArrowPythonOverWindowAggregateFunctionOperatorTest.java
  flink-python/src/test/java/org/apache/flink/table/runtime/operators/python/aggregate/arrow/stream/AbstractStreamArrowPythonAggregateFunctionOperatorTest.java
  flink-python/src/test/java/org/apache/flink/table/runtime/operators/python/aggregate/arrow/stream/StreamArrowPythonGroupWindowAggregateFunctionOperatorTest.java
  flink-python/src/test/java/org/apache/flink/table/runtime/operators/python/aggregate/arrow/stream/StreamArrowPythonProcTimeBoundedRangeOperatorTest.java
  flink-python/src/test/java/org/apache/flink/table/runtime/operators/python/aggregate/arrow/stream/StreamArrowPythonProcTimeBoundedRowsOperatorTest.java
  flink-python/src/test/java/org/apache/flink/table/runtime/operators/python/aggregate/arrow/stream/StreamArrowPythonRowTimeBoundedRangeOperatorTest.java
  flink-python/src/test/java/org/apache/flink/table/runtime/operators/python/aggregate/arrow/stream/StreamArrowPythonRowTimeBoundedRowsOperatorTest.java
  flink-python/src/test/java/org/apache/flink/table/runtime/operators/python/scalar/PythonScalarFunctionOperatorTestBase.java
  flink-python/src/test/java/org/apache/flink/table/runtime/operators/python/table/PythonTableFunctionOperatorTestBase.java
  flink-python/src/test/java/org/apache/flink/table/runtime/typeutils/PythonTypeUtilsTest.java
  flink-python/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
Labels: component=API/Python, component=Tests

#19764 [FLINK-27680][Connector][Pulsar] Disable PulsarSinkITCase and PulsarSourceITCase on JDK 11
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/sink/PulsarSinkITCase.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/source/PulsarSourceITCase.java
Labels: component=Connectors/Pulsar

#19761 [FLINK-27185][connectors] Convert connector-cassandra module to assertj
  flink-connectors/flink-connector-cassandra/src/test/java/org/apache/flink/streaming/connectors/cassandra/CassandraConnectorITCase.java
  flink-connectors/flink-connector-cassandra/src/test/java/org/apache/flink/streaming/connectors/cassandra/CassandraSinkBaseTest.java
  flink-connectors/flink-connector-cassandra/src/test/java/org/apache/flink/streaming/connectors/cassandra/CassandraTupleWriteAheadSinkTest.java
Labels: component=<none>

#19628 [FLINK-27174][connector/kafka] Fix checking of bootstrapServers when already provided in producer Properties
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/sink/KafkaSinkBuilder.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/sink/KafkaSinkBuilderTest.java
Labels: component=Connectors/Kafka

#19666 [FLINK-25950][Runtime] Delete retry mechanism from ZooKeeperUtils.deleteZNode
  flink-runtime/src/main/java/org/apache/flink/runtime/util/ZooKeeperUtils.java
Labels: component=Runtime/Coordination

#19770 [FLINK-27698][tests][table] Migrate flink-table-api-java-bridge to JUnit5
  flink-table/flink-table-api-java-bridge/src/test/java/org/apache/flink/connector/datagen/table/types/DecimalDataRandomGeneratorTest.java
  flink-table/flink-table-api-java-bridge/src/test/java/org/apache/flink/table/api/bridge/java/internal/StreamTableEnvironmentImplTest.java
  flink-table/flink-table-api-java-bridge/src/test/java/org/apache/flink/table/factories/BlackHoleSinkFactoryTest.java
  flink-table/flink-table-api-java-bridge/src/test/java/org/apache/flink/table/factories/CsvTableSinkFactoryTest.java
  flink-table/flink-table-api-java-bridge/src/test/java/org/apache/flink/table/factories/DataGenTableSourceFactoryTest.java
  flink-table/flink-table-api-java-bridge/src/test/java/org/apache/flink/table/sources/CsvTableSourceTest.java
  flink-table/flink-table-api-java-bridge/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/sources/TableSourceTestBase.java
Labels: component=Tests, component=TableSQL/API

#19638 [FLINK-27490][table][tests] Migrate test to JUnit5 for flink-table-co…
  flink-table/flink-table-code-splitter/src/test/java/org/apache/flink/table/codesplit/AddBooleanBeforeReturnRewriterTest.java
  flink-table/flink-table-code-splitter/src/test/java/org/apache/flink/table/codesplit/CodeRewriterTestBase.java
  flink-table/flink-table-code-splitter/src/test/java/org/apache/flink/table/codesplit/DeclarationRewriterTest.java
  flink-table/flink-table-code-splitter/src/test/java/org/apache/flink/table/codesplit/FunctionSplitterTest.java
  flink-table/flink-table-code-splitter/src/test/java/org/apache/flink/table/codesplit/IfStatementRewriterTest.java
  flink-table/flink-table-code-splitter/src/test/java/org/apache/flink/table/codesplit/JavaCodeSplitterTest.java
  flink-table/flink-table-code-splitter/src/test/java/org/apache/flink/table/codesplit/JavaParserTest.java
  flink-table/flink-table-code-splitter/src/test/java/org/apache/flink/table/codesplit/MemberFieldRewriterTest.java
  flink-table/flink-table-code-splitter/src/test/java/org/apache/flink/table/codesplit/ReturnValueRewriterTest.java
  flink-table/flink-table-code-splitter/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
Labels: component=Tests

#19768 [FLINK-27694][python][build] Move lint-python log location
  flink-python/dev/lint-python.sh
Labels: component=API/Python

#19372 [FLINK-26043][runtime][security] Add periodic kerberos relogin to KerberosDelegationTokenManager
  docs/layouts/shortcodes/generated/security_auth_kerberos_section.html
  docs/layouts/shortcodes/generated/security_configuration.html
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/FlinkKinesisConsumerTest.java
  flink-core/src/main/java/org/apache/flink/configuration/SecurityOptions.java
  flink-runtime/src/main/java/org/apache/flink/runtime/entrypoint/ClusterEntrypoint.java
  flink-runtime/src/main/java/org/apache/flink/runtime/minicluster/MiniCluster.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/DelegationTokenManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/KerberosDelegationTokenManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/KerberosDelegationTokenManagerFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/KerberosRenewalPossibleProvider.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/FileUploadHandlerITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/security/token/KerberosDelegationTokenManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/security/token/KerberosRenewalPossibleProviderTest.java
  flink-yarn/src/main/java/org/apache/flink/yarn/YarnClusterDescriptor.java
  pom.xml
Labels: component=<none>

#19790 [FLINK-27735][testinfrastructure] Update testcontainers dependency to…
  pom.xml
Labels: component=Tests, component=TestInfrastructure

#19773 [FLINK-24735][sql-client] LocalExecutor should catch Throwable rathe…
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/LocalExecutor.java
Labels: component=TableSQL/Client

#19787 [FLINK-27732][tests] Migrate flink-examples-table to JUnit5
  flink-examples/flink-examples-table/src/test/java/org/apache/flink/table/examples/java/basics/GettingStartedExampleITCase.java
  flink-examples/flink-examples-table/src/test/java/org/apache/flink/table/examples/java/basics/StreamSQLExampleITCase.java
  flink-examples/flink-examples-table/src/test/java/org/apache/flink/table/examples/java/basics/UpdatingTopCityExampleITCase.java
  flink-examples/flink-examples-table/src/test/java/org/apache/flink/table/examples/java/basics/WordCountSQLExampleITCase.java
  flink-examples/flink-examples-table/src/test/java/org/apache/flink/table/examples/java/functions/AdvancedFunctionsExampleITCase.java
  flink-examples/flink-examples-table/src/test/java/org/apache/flink/table/examples/scala/basics/GettingStartedExampleITCase.java
  flink-examples/flink-examples-table/src/test/java/org/apache/flink/table/examples/scala/basics/StreamSQLExampleITCase.java
  flink-examples/flink-examples-table/src/test/java/org/apache/flink/table/examples/scala/basics/WordCountSQLExampleITCase.java
  flink-examples/flink-examples-table/src/test/java/org/apache/flink/table/examples/utils/ExampleOutputTestBase.java
  flink-examples/flink-examples-table/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
Labels: component=<none>

#17318 [hotfix][tests] Azure tests fail prematurely because timeout watchdog fails to sleep
  tools/azure-pipelines/uploading_watchdog.sh
Labels: review=description?

#19793 [FLINK-24735][sql-client] Catch Throwable rather than Exception in Lo…
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/LocalExecutor.java
Labels: component=TableSQL/Client

#19662 [BP-1.14][FLINK-27174][connector/kafka] Fix checking of bootstrapServers when already provided in producer Properties
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/sink/KafkaSinkBuilder.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/sink/KafkaSinkBuilderTest.java
Labels: component=Connectors/Kafka

#19663 [BP-1.15][FLINK-27174][connector/kafka] Fix checking of bootstrapServers when already provided in producer Properties
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/sink/KafkaSinkBuilder.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/sink/KafkaSinkBuilderTest.java
Labels: component=Connectors/Kafka

#19657 [FLINK-27532][build][clients] Drop flink-clients test-jar
  flink-clients/pom.xml
  flink-kubernetes/pom.xml
  flink-table/flink-sql-client/pom.xml
Labels: component=BuildSystem, component=CommandLineClient

#19813 [FLINK-27763][kinesis][tests] Remove netty bundling&relocation
  flink-end-to-end-tests/flink-streaming-kinesis-test/pom.xml
Labels: component=BuildSystem, component=Tests

#19228 [FLINK-26074] Improve FlameGraphs scalability for high parallelism jobs
  flink-runtime/src/main/java/org/apache/flink/runtime/messages/TaskThreadInfoResponse.java
  flink-runtime/src/main/java/org/apache/flink/runtime/messages/ThreadInfoSample.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskExecutor.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskExecutorGatewayDecoratorBase.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskExecutorThreadInfoGateway.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/ThreadInfoSampleService.java
  flink-runtime/src/main/java/org/apache/flink/runtime/util/JvmUtils.java
  flink-runtime/src/main/java/org/apache/flink/runtime/webmonitor/stats/TaskStatsRequestCoordinator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/webmonitor/threadinfo/JobVertexFlameGraphFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/webmonitor/threadinfo/JobVertexThreadInfoStats.java
  flink-runtime/src/main/java/org/apache/flink/runtime/webmonitor/threadinfo/JobVertexThreadInfoTracker.java
  flink-runtime/src/main/java/org/apache/flink/runtime/webmonitor/threadinfo/ThreadInfoRequestCoordinator.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/IdleTestTask.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TestingTaskExecutorGateway.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/ThreadInfoSampleServiceTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/webmonitor/threadinfo/JobVertexThreadInfoTrackerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/webmonitor/threadinfo/ThreadInfoRequestCoordinatorTest.java
Labels: component=<none>

#19792 [FLINK-27740][tests] Migrate flink-test-utils-junit to JUnit5
  flink-test-utils-parent/flink-test-utils-junit/src/test/java/org/apache/flink/core/testutils/OneShotLatchTest.java
  flink-test-utils-parent/flink-test-utils-junit/src/test/java/org/apache/flink/testutils/junit/RetryOnExceptionExtensionTest.java
  flink-test-utils-parent/flink-test-utils-junit/src/test/java/org/apache/flink/testutils/junit/RetryOnExceptionTest.java
  flink-test-utils-parent/flink-test-utils-junit/src/test/java/org/apache/flink/testutils/junit/RetryOnFailureExtensionTest.java
  flink-test-utils-parent/flink-test-utils-junit/src/test/java/org/apache/flink/testutils/junit/RetryOnFailureTest.java
  flink-test-utils-parent/flink-test-utils-junit/src/test/java/org/apache/flink/testutils/junit/RetryRuleTest.java
  flink-test-utils-parent/flink-test-utils-junit/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
Labels: component=Tests

#19835 [FLINK-27818][rest][docs] Model enums as references
  docs/static/generated/rest_v1_dispatcher.yml
  flink-docs/src/main/java/org/apache/flink/docs/rest/OpenApiSpecGenerator.java
Labels: component=Documentation, component=Runtime/REST

#19839 [FLINK-27825][docs] Update the doc of aligned checkpoint timeout
  docs/content.zh/docs/ops/state/checkpointing_under_backpressure.md
  docs/content/docs/ops/state/checkpointing_under_backpressure.md
Labels: component=Documentation, component=Runtime/Checkpointing, component=chinese-translation

#19842 [FLINK-27522][network] Ignore max buffers per channel when allocate buffer
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/buffer/LocalBufferPool.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/buffer/LocalBufferPoolTest.java
Labels: component=Runtime/Network, component=Runtime/Checkpointing
