Repository apache/flink, pull requests merged in 2022-11, with the labels that each got.

#21048 [FLINK-29624][Common][Connector][Filesystem] Upgrade commons-lang3 to 3.12.0
  flink-connectors/flink-connector-pulsar/pom.xml
  flink-connectors/flink-sql-connector-hbase-2.2/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-hive-3.1.3/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-kinesis/src/main/resources/META-INF/NOTICE
  flink-core/pom.xml
  flink-dist/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-fs-hadoop-shaded/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-s3-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-s3-fs-presto/src/main/resources/META-INF/NOTICE
  flink-formats/flink-csv/src/main/java/org/apache/flink/formats/csv/CsvCommons.java
  flink-formats/flink-csv/src/main/java/org/apache/flink/formats/csv/CsvFileFormatFactory.java
  flink-formats/flink-csv/src/main/java/org/apache/flink/formats/csv/CsvFormatFactory.java
  flink-optimizer/src/main/java/org/apache/flink/optimizer/plandump/PlanJSONDumpGenerator.java
  flink-runtime/pom.xml
  flink-runtime/src/main/java/org/apache/flink/runtime/jobgraph/jsonplan/JsonPlanGenerator.java
  flink-table/flink-sql-parser-hive/src/main/java/org/apache/flink/sql/parser/hive/ddl/HiveDDLUtils.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/UnalignedCheckpointITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/UnalignedCheckpointRescaleITCase.java
  pom.xml
Labels: component=Connectors/Common, component=Connectors/FileSystem

#21215 [FLINK-29812][rest] Remove deprecated Netty API usages
  flink-queryable-state/flink-queryable-state-client-java/src/main/java/org/apache/flink/queryablestate/network/AbstractServerBase.java
  flink-queryable-state/flink-queryable-state-client-java/src/main/java/org/apache/flink/queryablestate/network/Client.java
  flink-queryable-state/flink-queryable-state-runtime/src/test/java/org/apache/flink/queryablestate/network/KvStateServerTest.java
  flink-runtime-web/src/main/java/org/apache/flink/runtime/webmonitor/HttpRequestHandler.java
  flink-runtime-web/src/main/java/org/apache/flink/runtime/webmonitor/PipelineErrorHandler.java
  flink-runtime-web/src/main/java/org/apache/flink/runtime/webmonitor/history/HistoryServerStaticFileServerHandler.java
  flink-runtime-web/src/main/java/org/apache/flink/runtime/webmonitor/utils/WebFrontendBootstrap.java
  flink-runtime-web/src/test/java/org/apache/flink/runtime/webmonitor/testutils/HttpTestClient.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/netty/NettyClient.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/netty/NettyServer.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/FileUploadHandler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/RestClient.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/RestServerEndpointConfiguration.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/handler/legacy/files/StaticFileServerHandler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/handler/router/RouterHandler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/handler/util/HandlerRedirectUtils.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/handler/util/HandlerUtils.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/handler/util/KeepAliveWrite.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/netty/NettyConnectionManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/RestServerEndpointITCase.java
Labels: component=Runtime/REST

#21049 [FLINK-29626][Runtime] Update Akka to 2.6.20
  flink-rpc/flink-rpc-akka/pom.xml
  flink-rpc/flink-rpc-akka/src/main/resources/META-INF/NOTICE
Labels: component=Runtime/Coordination

#21220 [FLINK-29567][connector/common] Change numRecordsSend / numBytesSend / numRecordsSendError back to numRecordsOut / numBytesOut / numRecordsOutError in sink
  flink-connectors/flink-connector-aws-kinesis-firehose/src/main/java/org/apache/flink/connector/firehose/sink/KinesisFirehoseSinkWriter.java
  flink-connectors/flink-connector-aws-kinesis-streams/src/main/java/org/apache/flink/connector/kinesis/sink/KinesisStreamsSinkWriter.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/sink/writer/AsyncSinkWriter.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/writer/TestSinkInitContext.java
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/sink/writer/FileWriter.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/sink/writer/FileWriterTest.java
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/sink/KafkaWriter.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/sink/KafkaWriterITCase.java
  flink-metrics/flink-metrics-core/src/main/java/org/apache/flink/metrics/groups/SinkWriterMetricGroup.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/MetricNames.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/groups/InternalOperatorIOMetricGroup.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/groups/InternalSinkWriterMetricGroup.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/AbstractStreamOperator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/sink/SinkWriterOperator.java
  flink-tests/src/test/java/org/apache/flink/test/streaming/runtime/SinkMetricsITCase.java
Labels: component=Connectors/Common

#21227 [FLINK-29862] Upgrade to flink-shaded 16.0
  docs/layouts/shortcodes/generated/rest_v1_dispatcher.html
  docs/static/generated/rest_v1_dispatcher.yml
  flink-runtime-web/src/test/resources/rest_api_v1.snapshot
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/compatibility/CompatibilityRoutines.java
  flink-table/flink-sql-gateway/src/test/resources/sql_gateway_rest_api_v1.snapshot
  pom.xml
Labels: component=BuildSystem

#21102 [FLINK-26890][Connector/Kinesis] Handle invalid shards in DynamoDB
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/proxy/DynamoDBStreamsProxy.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/proxy/DynamoDBStreamsProxyTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/testutils/FakeKinesisClientFactory.java
Labels: component=Connectors/Kinesis

#21218 [FLINK-29831][hive] fix test failure for hive3
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTableSourceStatisticsReportTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/module/hive/HiveModuleTest.java
Labels: component=Connectors/Hive

#20831 [FLINK-28975][connector/base] Add IdlenessManager for main and per-split output in source operator to mark idleness only if both outputs are idle
  flink-core/src/main/java/org/apache/flink/api/common/eventtime/WatermarksWithIdleness.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/source/ProgressiveTimestampsAndWatermarks.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/source/SourceOperatorEventTimeTest.java
Labels: component=API/DataStream

#21232 [FLINK-29867][build] Update maven-enforcer-plugin to 3.1.0
  pom.xml
Labels: component=BuildSystem

#21231 [FLINK-29865][CI] Allow setting the JDK in build-nightly-dist.yml
  tools/azure-pipelines/build-apache-repo.yml
  tools/azure-pipelines/build-nightly-dist.yml
Labels: component=BuildSystem/AzurePipelines

#21230 [FLINK-15633][build] Fix building Javadocs on JDK 11
  pom.xml
Labels: component=BuildSystem, component=ReleaseSystem

#21237 [FLINK-26890][Connector/Kinesis] Handle invalid shards in DynamoDB
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/proxy/DynamoDBStreamsProxy.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/proxy/DynamoDBStreamsProxyTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/testutils/FakeKinesisClientFactory.java
Labels: component=Connectors/Kinesis

#21238 [FLINK-26890][Connector/Kinesis] Handle invalid shards in DynamoDB
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/proxy/DynamoDBStreamsProxy.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/proxy/DynamoDBStreamsProxyTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/testutils/FakeKinesisClientFactory.java
Labels: component=Connectors/Kinesis

#21236 [BP-1.16][FLINK-27740][test] Revert JUnit5 migration for RetryOnFailureTest
  flink-test-utils-parent/flink-test-utils-junit/src/test/java/org/apache/flink/testutils/junit/RetryOnExceptionTest.java
  flink-test-utils-parent/flink-test-utils-junit/src/test/java/org/apache/flink/testutils/junit/RetryOnFailureTest.java
Labels: component=Tests

#21234 [BP-1.16][FLINK-29198][test] Fail after maximum RetryOnException
  flink-test-utils-parent/flink-test-utils-junit/src/main/java/org/apache/flink/testutils/junit/extensions/retry/strategy/RetryOnExceptionStrategy.java
  flink-test-utils-parent/flink-test-utils-junit/src/test/java/org/apache/flink/testutils/junit/RetryOnExceptionExtensionTest.java
  flink-test-utils-parent/flink-test-utils-junit/src/test/java/org/apache/flink/testutils/junit/RetryOnFailureExtensionTest.java
Labels: component=Tests

#21235 [BP-1.15][FLINK-29198][test] Fail after maximum RetryOnException
  flink-test-utils-parent/flink-test-utils-junit/src/main/java/org/apache/flink/testutils/junit/extensions/retry/strategy/RetryOnExceptionStrategy.java
  flink-test-utils-parent/flink-test-utils-junit/src/test/java/org/apache/flink/testutils/junit/RetryOnExceptionExtensionTest.java
  flink-test-utils-parent/flink-test-utils-junit/src/test/java/org/apache/flink/testutils/junit/RetryOnFailureExtensionTest.java
Labels: component=Tests

#20230 [FLINK-28449][tests][JUnit5 migration] flink-parquet
  flink-formats/flink-compress/src/test/java/org/apache/flink/formats/compress/CompressionFactoryITCase.java
  flink-formats/flink-parquet/src/test/java/org/apache/flink/architecture/TestCodeArchitectureTest.java
  flink-formats/flink-parquet/src/test/java/org/apache/flink/formats/parquet/ParquetColumnarRowInputFormatTest.java
  flink-formats/flink-parquet/src/test/java/org/apache/flink/formats/parquet/ParquetFileSystemITCase.java
  flink-formats/flink-parquet/src/test/java/org/apache/flink/formats/parquet/ParquetFormatStatisticsReportTest.java
  flink-formats/flink-parquet/src/test/java/org/apache/flink/formats/parquet/avro/AvroParquetFileReadITCase.java
  flink-formats/flink-parquet/src/test/java/org/apache/flink/formats/parquet/avro/AvroParquetStreamingFileSinkITCase.java
  flink-formats/flink-parquet/src/test/java/org/apache/flink/formats/parquet/protobuf/ParquetProtoStreamingFileSinkITCase.java
  flink-formats/flink-parquet/src/test/java/org/apache/flink/formats/parquet/row/ParquetRowDataWriterTest.java
  flink-formats/flink-parquet/src/test/java/org/apache/flink/formats/parquet/utils/SerializableConfigurationTest.java
  flink-formats/flink-parquet/src/test/java/org/apache/flink/formats/parquet/vector/ParquetColumnarRowSplitReaderTest.java
  flink-formats/flink-parquet/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
Labels: component=Connectors/FileSystem

#21204 [FLINK-29709][Connector/Pulsar] Bump the Pulsar to latest 2.10.2
  flink-connectors/flink-connector-pulsar/pom.xml
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/common/schema/PulsarSchema.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/common/schema/PulsarSchemaUtils.java
  flink-connectors/flink-sql-connector-pulsar/src/main/resources/META-INF/NOTICE
  flink-end-to-end-tests/flink-end-to-end-tests-pulsar/pom.xml
  flink-test-utils-parent/flink-test-utils-junit/src/main/java/org/apache/flink/util/DockerImageVersions.java
Labels: component=Connectors/Pulsar

#21224 [FLINK-29827][Connectors/Base] Registering callback for AsyncWriter on restore from state
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/sink/writer/AsyncSinkWriter.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/writer/AsyncSinkWriterTest.java
Labels: component=Connectors/Common

#21160 [FLINK-29761][runtime][security] Simplify HadoopModule
  flink-runtime/src/main/java/org/apache/flink/runtime/hadoop/HadoopUserUtils.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/modules/HadoopModule.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/KerberosDelegationTokenManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/KerberosLoginProvider.java
  flink-runtime/src/test/java/org/apache/flink/runtime/hadoop/HadoopUserUtilsITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/hadoop/HadoopUserUtilsTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/security/token/KerberosDelegationTokenManagerITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/security/token/KerberosLoginProviderITCase.java
Labels: component=Deployment/YARN, component=Connectors/Common, component=Deployment/Kubernetes

#21205 [FLINK-28083][Connector/Pulsar] Object-reusing for Pulsar source
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/reader/PulsarSourceReaderFactory.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/reader/emitter/PulsarRecordEmitter.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/reader/fetcher/PulsarFetcherManagerBase.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/reader/fetcher/PulsarOrderedFetcherManager.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/reader/fetcher/PulsarUnorderedFetcherManager.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/reader/message/PulsarMessage.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/reader/message/PulsarMessageCollector.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/reader/source/PulsarOrderedSourceReader.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/reader/source/PulsarSourceReaderBase.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/reader/source/PulsarUnorderedSourceReader.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/reader/split/PulsarOrderedPartitionSplitReader.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/reader/split/PulsarPartitionSplitReaderBase.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/reader/split/PulsarUnorderedPartitionSplitReader.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/source/enumerator/cursor/StopCursorTest.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/source/reader/split/PulsarOrderedPartitionSplitReaderTest.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/source/reader/split/PulsarPartitionSplitReaderTestBase.java
Labels: component=Connectors/Pulsar

#21136 [FLINK-29095][state] Improve logging in SharedStateRegistry
  flink-runtime/src/main/java/org/apache/flink/runtime/state/SharedStateRegistryImpl.java
Labels: component=Runtime/StateBackends, component=Runtime/Checkpointing

#21250 [FLINK-29495][Connector/Pulsar] Bump the Pulsar to latest 2.10.2
  flink-connectors/flink-connector-pulsar/pom.xml
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/common/schema/PulsarSchema.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/common/schema/PulsarSchemaUtils.java
  flink-connectors/flink-sql-connector-pulsar/src/main/resources/META-INF/NOTICE
  flink-end-to-end-tests/flink-end-to-end-tests-pulsar/pom.xml
  flink-test-utils-parent/flink-test-utils-junit/src/main/java/org/apache/flink/util/DockerImageVersions.java
Labels: component=Connectors/Pulsar

#21242 [FLINK-29878][hive] Fix flink-sql-connector hive error
  flink-connectors/flink-sql-connector-hive-3.1.3/pom.xml
  flink-connectors/flink-sql-connector-hive-3.1.3/src/main/resources/META-INF/NOTICE
Labels: component=Connectors/Hive

#21253 [FLINK-29920][doc] Minor reformat Kafka connector documentation
  docs/content.zh/docs/connectors/table/kafka.md
  docs/content/docs/connectors/table/kafka.md
Labels: component=Documentation

#21140 [FLINK-25909][runtime][security] Add HBaseDelegationTokenProvider
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/HBaseDelegationTokenProvider.java
  flink-runtime/src/main/resources/META-INF/services/org.apache.flink.runtime.security.token.DelegationTokenProvider
  flink-runtime/src/test/java/org/apache/flink/runtime/security/token/KerberosDelegationTokenManagerITCase.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YarnTestBase.java
Labels: component=<none>

#21270 [FLINK-29958][docs] Add connector_artifact shortcode
  docs/layouts/shortcodes/connector_artifact.html
Labels: component=Documentation

#21271 [FLINK-29957][docs] Rework connector docs integration
  docs/config.toml
  docs/setup_docs.sh
  docs/themes/.gitignore
Labels: component=Documentation

#21274 [FLINK-29827][Connectors/Base] Registering callback for asyncWriter on restore from state
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/sink/writer/AsyncSinkWriter.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/writer/AsyncSinkWriterTest.java
Labels: component=Connectors/Common

#21273 [FLINK-29827][Connectors/Base] Registering callback for asyncWriter on restore from state
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/sink/writer/AsyncSinkWriter.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/writer/AsyncSinkWriterTest.java
Labels: component=Connectors/Common

#21282 [FLINK-29973][docs] connector_artifact appends Minor version
  docs/layouts/shortcodes/connector_artifact.html
Labels: component=Documentation

#21262 [FLINK-29860][Connectors / Pulsar] Pulsar connector bug when using Hybrid.Builder
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/sink/writer/router/MessageKeyHash.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/sink/writer/router/TopicRoutingMode.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/config/CursorVerification.java
Labels: component=Connectors/Pulsar

#21286 [FLINK-29979][docs] Only render connector artifact for stable releases
  docs/layouts/shortcodes/connector_artifact.html
Labels: component=Documentation

#21252 [FLINK-29830][Connector/Pulsar] Create the topic with schema before consuming messages in PulsarSinkITCase
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/sink/PulsarSinkITCase.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/testutils/function/ControlSource.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/testutils/runtime/PulsarRuntimeOperator.java
Labels: component=Connectors/Pulsar

#21139 [FLINK-29644][docs] Added flink kubernetes operator documentation links
  docs/content/docs/deployment/resource-providers/native_kubernetes.md
  docs/content/docs/deployment/resource-providers/standalone/kubernetes.md
Labels: component=Documentation, component=Deployment/Kubernetes

#21138 [FLINK-29644][docs] Added flink kubernetes operator documentation links
  docs/content/docs/deployment/resource-providers/native_kubernetes.md
  docs/content/docs/deployment/resource-providers/standalone/kubernetes.md
Labels: component=Documentation, component=Deployment/Kubernetes

#21249 [FLINK-26027][Connector/Pulsar] Expose Pulsar metrics
  docs/layouts/shortcodes/generated/pulsar_sink_configuration.html
  docs/layouts/shortcodes/generated/pulsar_source_configuration.html
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/common/metrics/MetricNames.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/common/metrics/ProducerMetricsInterceptor.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/sink/PulsarSinkOptions.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/sink/config/SinkConfiguration.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/sink/writer/PulsarWriter.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/sink/writer/topic/TopicProducerRegister.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/PulsarSourceOptions.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/config/SourceConfiguration.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/PulsarSourceEnumerator.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/assigner/SplitAssigner.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/assigner/SplitAssignerBase.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/reader/PulsarSourceReaderFactory.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/reader/split/PulsarOrderedPartitionSplitReader.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/reader/split/PulsarPartitionSplitReaderBase.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/reader/split/PulsarUnorderedPartitionSplitReader.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/sink/PulsarSinkITCase.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/sink/writer/topic/TopicProducerRegisterTest.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/source/enumerator/cursor/StopCursorTest.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/source/reader/split/PulsarPartitionSplitReaderTestBase.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/testutils/sink/PulsarSinkTestSuiteBase.java
  flink-end-to-end-tests/flink-end-to-end-tests-pulsar/src/test/java/org/apache/flink/tests/util/pulsar/PulsarSinkE2ECase.java
  flink-metrics/flink-metrics-core/src/main/java/org/apache/flink/metrics/groups/UnregisteredMetricsGroup.java
Labels: component=Connectors/Pulsar

#21291 [FLINK-29990][sql-parser] Fix unparsed sql for SqlTableLike with no o…
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlTableLike.java
  flink-table/flink-sql-parser/src/test/java/org/apache/flink/sql/parser/FlinkSqlParserImplTest.java
Labels: component=TableSQL/Planner

#16092 [docs][hotfix] Fix wrong scala syntax in a code snippet
  docs/content.zh/docs/ops/metrics.md
  docs/content/docs/ops/metrics.md
Labels: review=description?

#16189 [hotfix][docs] libs cep Remove redundant sentences
  docs/content/docs/libs/cep.md
Labels: review=description?

#21299 [FLINK-28427][tests] MiniClusterResource respect explicit rest port configurations
  flink-runtime/src/test/java/org/apache/flink/runtime/testutils/MiniClusterResource.java
Labels: component=Tests

#20443 [hotfix] [FLINK-28341] [streaming-java] Change the MIN and MAX value for Byte data type
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/sort/BytesKeyNormalizationUtil.java
Labels: component=<none>

#21302 [FLINK-29992][hive] fix lookup join fail with Hive table as lookup table source
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveLookupTableSource.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSource.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveLookupJoinITCase.java
Labels: component=TableSQL/Planner

#20069 [FLINK-28246][ci] Store classifier in Dependency
  tools/ci/flink-ci-tools/src/main/java/org/apache/flink/tools/ci/licensecheck/NoticeFileChecker.java
  tools/ci/flink-ci-tools/src/main/java/org/apache/flink/tools/ci/utils/dependency/DependencyParser.java
  tools/ci/flink-ci-tools/src/main/java/org/apache/flink/tools/ci/utils/notice/NoticeParser.java
  tools/ci/flink-ci-tools/src/main/java/org/apache/flink/tools/ci/utils/shared/Dependency.java
  tools/ci/flink-ci-tools/src/test/java/org/apache/flink/tools/ci/licensecheck/NoticeFileCheckerTest.java
  tools/ci/flink-ci-tools/src/test/java/org/apache/flink/tools/ci/utils/dependency/DependencyParserCopyTest.java
  tools/ci/flink-ci-tools/src/test/java/org/apache/flink/tools/ci/utils/dependency/DependencyParserTreeTest.java
  tools/ci/flink-ci-tools/src/test/java/org/apache/flink/tools/ci/utils/notice/NoticeParserTest.java
Labels: component=BuildSystem/CI

#21310 [FLINK-29992][hive] Fix lookup join fail with Hive table as lookup table source
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveLookupTableSource.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSource.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveLookupJoinITCase.java
Labels: component=TableSQL/Planner

#21314 [FLINK-30016][docs] Mention system metrics dependencies update
  docs/content.zh/release-notes/flink-1.16.md
  docs/content/release-notes/flink-1.16.md
Labels: component=Documentation

#21303 [FLINK-30002][checkpoint] Change the alignmentTimeout to alignedCheckpointTimeout
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/api/serialization/EventSerializer.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/checkpointing/AbstractAlignedBarrierHandlerState.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/checkpointing/AbstractAlternatingAlignedBarrierHandlerState.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/checkpointing/AlternatingCollectingBarriers.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/checkpointing/AlternatingCollectingBarriersUnaligned.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/checkpointing/AlternatingWaitingForFirstBarrier.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/checkpointing/AlternatingWaitingForFirstBarrierUnaligned.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/checkpointing/BarrierHandlerState.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/checkpointing/SingleCheckpointBarrierHandler.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/checkpointing/AlternatingCheckpointsTest.java
Labels: component=Runtime/Checkpointing

#21315 [FLINK-30017][build] Remove aggregate-scaladoc profile
  .github/workflows/docs.sh
  pom.xml
  tools/ci/compile.sh
Labels: component=Documentation, component=BuildSystem

#20068 [FLINK-28245][ci] Parse actual Tree structure
  tools/ci/flink-ci-tools/src/main/java/org/apache/flink/tools/ci/suffixcheck/ScalaSuffixChecker.java
  tools/ci/flink-ci-tools/src/main/java/org/apache/flink/tools/ci/utils/dependency/DependencyParser.java
  tools/ci/flink-ci-tools/src/main/java/org/apache/flink/tools/ci/utils/shared/DependencyTree.java
  tools/ci/flink-ci-tools/src/test/java/org/apache/flink/tools/ci/utils/dependency/DependencyParserTreeTest.java
  tools/ci/java-ci-tools/src/test/java/org/apache/flink/tools/ci/utils/shared/DependencyTreeTest.java
  tools/maven/suppressions.xml
Labels: component=BuildSystem/CI

#21298 [FLINK-28165][yarn] Inline 'include_hadoop_aws' profile
  azure-pipelines.yml
  flink-yarn/pom.xml
  flink-yarn/src/test/java/org/apache/flink/yarn/YarnFileStageTestS3ITCase.java
  tools/azure-pipelines/build-apache-repo.yml
Labels: component=Deployment/YARN, component=BuildSystem

#21301 [FLINK-27753][ci] Fail suffix check early if maven failed
  tools/ci/verify_scala_suffixes.sh
Labels: component=BuildSystem, component=BuildSystem/CI

#21317 [FLINK-30020][prometheus] Use separate CollectorRegistry
  flink-metrics/flink-metrics-prometheus/src/main/java/org/apache/flink/metrics/prometheus/AbstractPrometheusReporter.java
  flink-metrics/flink-metrics-prometheus/src/main/java/org/apache/flink/metrics/prometheus/PrometheusPushGatewayReporter.java
  flink-metrics/flink-metrics-prometheus/src/main/java/org/apache/flink/metrics/prometheus/PrometheusReporter.java
  flink-metrics/flink-metrics-prometheus/src/test/java/org/apache/flink/metrics/prometheus/PrometheusReporterTaskScopeTest.java
Labels: component=Runtime/Metrics

#21296 [FLINK-24235][metrics] Only support reporters via factories
  flink-metrics/flink-metrics-core/src/main/java/org/apache/flink/metrics/reporter/InstantiateViaFactory.java
  flink-metrics/flink-metrics-core/src/main/java/org/apache/flink/metrics/reporter/InterceptInstantiationViaReflection.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/ReporterSetup.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/ReporterSetupTest.java
  flink-tests/src/test/java/org/apache/flink/runtime/metrics/JobManagerMetricsITCase.java
  flink-tests/src/test/java/org/apache/flink/runtime/metrics/SystemResourcesMetricsITCase.java
Labels: component=Runtime/Metrics

#21321 [FLINK-29387][tests] fix unstable late test for interval join
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/co/IntervalJoinOperatorTest.java
  flink-tests/src/test/java/org/apache/flink/test/streaming/runtime/IntervalJoinITCase.java
Labels: component=API/DataStream

#21309 [FLINK-29992][hive] fix lookup join fail with Hive table as lookup table source
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveLookupTableSource.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSource.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveLookupJoinITCase.java
Labels: component=TableSQL/Planner

#21294 [FLINK-29704][runtime][security] E2E test for delegation token framework
  flink-end-to-end-tests/test-scripts/common_yarn_docker.sh
  flink-end-to-end-tests/test-scripts/test_yarn_application_kerberos_docker.sh
  flink-end-to-end-tests/test-scripts/test_yarn_job_kerberos_docker.sh
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/DelegationTokenUpdater.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskExecutor.java
Labels: component=Runtime/Coordination, component=Tests

#20070 [FLINK-28202][ci] Generalize utils around shade plugin
  tools/ci/flink-ci-tools/src/main/java/org/apache/flink/tools/ci/licensecheck/NoticeFileChecker.java
  tools/ci/flink-ci-tools/src/main/java/org/apache/flink/tools/ci/utils/shade/ShadeParser.java
  tools/ci/flink-ci-tools/src/test/java/org/apache/flink/tools/ci/licensecheck/NoticeFileCheckerTest.java
  tools/ci/flink-ci-tools/src/test/java/org/apache/flink/tools/ci/utils/shade/ShadeParserTest.java
Labels: component=BuildSystem, component=BuildSystem/CI

#21281 [FLINK-29969][checkpoint] Show the root cause when exceeded checkpoint tolerable failure threshold
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointFailureManager.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/CheckpointFailureManagerITCase.java
Labels: component=Runtime/Checkpointing

#21340 [FLINK-30067][conf] DelegatingConfiguration#set returns itself
  flink-core/src/main/java/org/apache/flink/configuration/DelegatingConfiguration.java
  flink-core/src/test/java/org/apache/flink/configuration/DelegatingConfigurationTest.java
Labels: component=API/Core

#21335 [FLINK-30045][flink-clients] fix too eager check for main class existence
  flink-clients/src/main/java/org/apache/flink/client/deployment/application/FromClasspathEntryClassInformationProvider.java
  flink-clients/src/test/java/org/apache/flink/client/deployment/application/FromClasspathEntryClassInformationProviderTest.java
  flink-clients/src/test/java/org/apache/flink/client/program/DefaultPackagedProgramRetrieverTest.java
Labels: component=Client/JobSubmission

#21339 [FLINK-30024][tests] Build local test KDC docker image
  flink-end-to-end-tests/.gitignore
  flink-end-to-end-tests/test-scripts/common_yarn_docker.sh
  flink-end-to-end-tests/test-scripts/docker-hadoop-secure-cluster/README.md
  flink-end-to-end-tests/test-scripts/docker-hadoop-secure-cluster/docker-compose.yml
  flink-end-to-end-tests/test-scripts/docker-hadoop-secure-cluster/hadoop/Dockerfile
  flink-end-to-end-tests/test-scripts/docker-hadoop-secure-cluster/hadoop/config/container-executor.cfg
  flink-end-to-end-tests/test-scripts/docker-hadoop-secure-cluster/hadoop/config/core-site.xml
  flink-end-to-end-tests/test-scripts/docker-hadoop-secure-cluster/hadoop/config/hdfs-site.xml
  flink-end-to-end-tests/test-scripts/docker-hadoop-secure-cluster/hadoop/config/keystore.jks
  flink-end-to-end-tests/test-scripts/docker-hadoop-secure-cluster/hadoop/config/krb5.conf
  flink-end-to-end-tests/test-scripts/docker-hadoop-secure-cluster/hadoop/config/mapred-site.xml
  flink-end-to-end-tests/test-scripts/docker-hadoop-secure-cluster/hadoop/config/ssh_config
  flink-end-to-end-tests/test-scripts/docker-hadoop-secure-cluster/hadoop/config/ssl-client.xml
  flink-end-to-end-tests/test-scripts/docker-hadoop-secure-cluster/hadoop/config/ssl-server.xml
  flink-end-to-end-tests/test-scripts/docker-hadoop-secure-cluster/hadoop/config/yarn-site.xml
  flink-end-to-end-tests/test-scripts/docker-hadoop-secure-cluster/hadoop/entrypoint.sh
  flink-end-to-end-tests/test-scripts/docker-hadoop-secure-cluster/kdc/Dockerfile
  flink-end-to-end-tests/test-scripts/docker-hadoop-secure-cluster/kdc/entrypoint.sh
  pom.xml
Labels: component=Tests

#21348 [FLINK-30089][kinesis] Remove dependency promotion
  flink-connectors/flink-connector-kinesis/pom.xml
  flink-connectors/flink-sql-connector-kinesis/pom.xml
Labels: component=BuildSystem, component=Connectors/Kinesis

#21345 [FLINK-30086][ci] DependencyTree includes classifier in key
  tools/ci/flink-ci-tools/src/main/java/org/apache/flink/tools/ci/utils/shared/DependencyTree.java
  tools/ci/flink-ci-tools/src/test/java/org/apache/flink/tools/ci/utils/shared/DependencyTreeTest.java
Labels: component=BuildSystem/CI

#21337 [FLINK-29993][conf] Add MetricOptions#forReporter
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/KafkaTestBase.java
  flink-core/src/main/java/org/apache/flink/configuration/MetricOptions.java
  flink-core/src/test/java/org/apache/flink/configuration/MetricOptionsTest.java
  flink-end-to-end-tests/flink-metrics-reporter-prometheus-test/src/test/java/org/apache/flink/metrics/prometheus/tests/PrometheusReporterEndToEndITCase.java
  flink-metrics/flink-metrics-jmx/src/test/java/org/apache/flink/runtime/jobmanager/JMXJobManagerMetricTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/ReporterSetupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/testutils/InMemoryReporter.java
  flink-tests/src/test/java/org/apache/flink/runtime/metrics/JobManagerMetricsITCase.java
  flink-tests/src/test/java/org/apache/flink/runtime/metrics/SystemResourcesMetricsITCase.java
Labels: component=Tests, component=Runtime/Metrics

#21297 [FLINK-24679][conf] Hide secret values from parser error messages
  flink-core/src/main/java/org/apache/flink/configuration/Configuration.java
  flink-core/src/main/java/org/apache/flink/configuration/ConfigurationUtils.java
  flink-core/src/main/java/org/apache/flink/configuration/GlobalConfiguration.java
  flink-core/src/test/java/org/apache/flink/configuration/ConfigurationTest.java
Labels: component=Runtime/Configuration

#21357 [FLINK-30085][tests] Lower YARN client timeout to speed-up negative tests
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YarnTestBase.java
Labels: component=Deployment/YARN, component=Tests

#21360 [BP-1.16][FLINK-28695][network] Fix the bug of old netty client isn't closed when netty server closes channel and no input channel
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/netty/CreditBasedPartitionRequestClientHandler.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/netty/PartitionRequestClientFactoryTest.java
Labels: component=Runtime/Network, component=Deployment/Kubernetes

#21359 [BP-1.15][FLINK-28695][network] Fix the bug of old netty client isn't closed when netty server closes channel and no input channel
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/netty/CreditBasedPartitionRequestClientHandler.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/netty/PartitionRequestClientFactoryTest.java
Labels: component=Runtime/Network, component=Deployment/Kubernetes

#21300 [FLINK-29423][rest] Remove custom JobDetails serializer
  docs/layouts/shortcodes/generated/rest_v1_dispatcher.html
  docs/static/generated/rest_v1_dispatcher.yml
  flink-runtime-web/src/test/resources/rest_api_v1.snapshot
  flink-runtime/src/main/java/org/apache/flink/runtime/messages/webmonitor/JobDetails.java
Labels: component=Documentation, component=Runtime/REST

#17649 [FLINK-24742][table][docs] Add info about SQL client key strokes to docs
  docs/content.zh/docs/dev/table/sqlClient.md
  docs/content/docs/dev/table/sqlClient.md
Labels: component=TableSQL/Client

#21338 [FLINK-30044][ci] Deduplicate plugin parser loops
  tools/ci/flink-ci-tools/src/main/java/org/apache/flink/tools/ci/utils/dependency/DependencyParser.java
  tools/ci/flink-ci-tools/src/main/java/org/apache/flink/tools/ci/utils/deploy/DeployParser.java
  tools/ci/flink-ci-tools/src/main/java/org/apache/flink/tools/ci/utils/shade/ShadeParser.java
  tools/ci/flink-ci-tools/src/main/java/org/apache/flink/tools/ci/utils/shared/ParserUtils.java
  tools/ci/flink-ci-tools/src/test/java/org/apache/flink/tools/ci/utils/deploy/DeployParserTest.java
Labels: component=BuildSystem/CI

#21366 [FLINK-30155][streaming] Pretty print MutatedConfigurationException
  flink-clients/src/main/java/org/apache/flink/client/program/MutatedConfigurationException.java
Labels: component=API/DataStream

#21372 [FLINK-30167][build] Upgrade japicmp to 0.17.1
  pom.xml
Labels: component=BuildSystem

#21023 [FLINK-29501] Add option to override job vertex parallelisms during job submission
  docs/layouts/shortcodes/generated/pipeline_configuration.html
  flink-core/src/main/java/org/apache/flink/configuration/PipelineOptions.java
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/Dispatcher.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/DispatcherTest.java
Labels: component=Runtime/Configuration, component=Runtime/REST

#21269 [FLINK-29322] Expose savepoint format on Web UI
  flink-runtime-web/src/test/resources/rest_api_v1.snapshot
  flink-runtime-web/web-dashboard/src/app/interfaces/job-checkpoint.ts
  flink-runtime-web/web-dashboard/src/app/pages/job/checkpoints/detail/job-checkpoints-detail.component.html
  flink-runtime-web/web-dashboard/src/app/pages/job/checkpoints/job-checkpoints.component.html
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/messages/checkpoints/CheckpointStatistics.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/messages/checkpoints/CheckpointingStatisticsTest.java
Labels: component=Runtime/WebFrontend

#21378 [FLINK-30177][Connectors/JDBC] Update pgjdbc to avoid CVE-2022-41946
  flink-connectors/flink-connector-jdbc/pom.xml
Labels: component=Connectors/JDBC

#21381 [FLINK-30180][docs] Remove the description of Filesystem supporting for the lookup in the Supported Connectors section
  docs/content.zh/docs/connectors/table/overview.md
  docs/content/docs/connectors/table/overview.md
Labels: component=Documentation

#21244 [FLINK-29458][docs-zh]Update "Table API sql queries joins module case
  docs/content.zh/docs/dev/table/sql/queries/joins.md
  docs/content/docs/dev/table/sql/queries/joins.md
Labels: component=Documentation, component=TableSQL/API

#21200 [FLINK-29779] Pass PluginManager into MiniCluster
  flink-runtime/src/main/java/org/apache/flink/runtime/minicluster/MiniCluster.java
  flink-runtime/src/main/java/org/apache/flink/runtime/minicluster/MiniClusterConfiguration.java
  flink-runtime/src/test/java/org/apache/flink/runtime/minicluster/TestingMiniClusterConfiguration.java
Labels: component=Runtime/Coordination

#21364 [FLINK-30134][runtime][security] Annotate all the public classes for the delegation token framework
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/DelegationTokenConverter.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/DelegationTokenListener.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/DelegationTokenManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/DelegationTokenUpdater.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/HBaseDelegationTokenProvider.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/KerberosDelegationTokenManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/KerberosDelegationTokenManagerFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/KerberosLoginProvider.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/NoOpDelegationTokenManager.java
Labels: component=<none>

#21379 [FLINK-30179][runtime] Stop stringifying exception for logging
  flink-runtime/src/main/java/org/apache/flink/runtime/taskmanager/Task.java
Labels: component=Runtime/Task

#21382 [FLINK-30133][hadoop] Changes log level and make log message more descriptive.
  flink-runtime/src/main/java/org/apache/flink/runtime/security/modules/HadoopModuleFactory.java
Labels: component=Connectors/HadoopCompatibility

#21383 [BP-1.16][FLINK-30133][hadoop] Changes log level and make log message more descriptive.
  flink-runtime/src/main/java/org/apache/flink/runtime/security/modules/HadoopModuleFactory.java
Labels: component=Connectors/HadoopCompatibility

#20370 [FLINK-28185][Connector/Kafka] handle missing timestamps when there are empty partitions for the TimestampOffsetsInitializer
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/source/enumerator/KafkaSourceEnumerator.java
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/source/enumerator/initializer/OffsetsInitializer.java
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/source/enumerator/initializer/TimestampOffsetsInitializer.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/source/enumerator/initializer/OffsetsInitializerTest.java
Labels: component=Connectors/Kafka

#21395 [FLINK-29899][runtime][test] Removes obsolete printStackTrace()
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/handler/legacy/DefaultExecutionGraphCacheTest.java
Labels: component=Runtime/Task

#21396 [BP-1.16][FLINK-29899][runtime][test] Removes obsolete printStackTrace()
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/handler/legacy/DefaultExecutionGraphCacheTest.java
Labels: component=Runtime/Task

#21397 [BP-1.15][FLINK-29899][runtime][test] Removes obsolete printStackTrace()
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/handler/legacy/DefaultExecutionGraphCacheTest.java
Labels: component=Runtime/Task

#21391 [FLINK-30194][runtime][security] Rename DelegationTokenProvider to HadoopDelegationTokenProvider
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/HBaseDelegationTokenProvider.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/HadoopDelegationTokenProvider.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/HadoopFSDelegationTokenProvider.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/KerberosDelegationTokenManager.java
  flink-runtime/src/main/resources/META-INF/services/org.apache.flink.runtime.security.token.HadoopDelegationTokenProvider
  flink-runtime/src/test/java/org/apache/flink/runtime/security/token/ExceptionThrowingHadoopDelegationTokenProvider.java
  flink-runtime/src/test/java/org/apache/flink/runtime/security/token/KerberosDelegationTokenManagerITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/security/token/TestHadoopDelegationTokenProvider.java
  flink-runtime/src/test/resources/META-INF/services/org.apache.flink.runtime.security.token.HadoopDelegationTokenProvider
Labels: component=API/Core

#21394 [BP-1.15][FLINK-26037][coordination] TMRunner waits for metric registry shutdown
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskManagerRunner.java
Labels: component=Runtime/Coordination

#20844 [FLINK-29099][connectors/kinesis] Update global watermark for idle subtask
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/internals/KinesisDataFetcher.java
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/util/JobManagerWatermarkTracker.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/util/JobManagerWatermarkTrackerTest.java
Labels: component=Connectors/Kinesis

#21387 [FLINK-30183][metrics] Adds more descriptive error in case no default constructor is present.
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/ReporterSetup.java
Labels: component=Runtime/Metrics

#21409 [FLINK-30228][test] Use thread-safe list
  flink-tests/src/test/java/org/apache/flink/api/connector/source/lib/util/RateLimitedSourceReaderITCase.java
Labels: component=Tests

#20755 [FLINK-29092][tests] Use base path bucket assigner
  flink-formats/flink-hadoop-bulk/src/test/java/org/apache/flink/formats/hadoop/bulk/HadoopPathBasedPartFileWriterTest.java
Labels: component=Formats

#21413 [BP-1.16][FLINK-29092][Connectors/Test] Use one bucket assigner
  flink-formats/flink-hadoop-bulk/src/test/java/org/apache/flink/formats/hadoop/bulk/HadoopPathBasedPartFileWriterTest.java
Labels: component=Formats

#21414 [BP-1.15][FLINK-29092][Connectors/Test] Use one bucket assigner
  flink-formats/flink-hadoop-bulk/src/test/java/org/apache/flink/formats/hadoop/bulk/HadoopPathBasedPartFileWriterTest.java
Labels: component=Formats

#21418 [FLINK-30237][coordination] Only bundle single ZK client
  docs/content.zh/docs/deployment/ha/zookeeper_ha.md
  docs/content/docs/deployment/ha/zookeeper_ha.md
  flink-dist/pom.xml
  flink-dist/src/main/assemblies/bin.xml
  flink-dist/src/main/assemblies/opt.xml
  flink-end-to-end-tests/run-nightly-tests.sh
  flink-end-to-end-tests/test-scripts/common.sh
  flink-end-to-end-tests/test-scripts/test_ha_datastream.sh
  flink-end-to-end-tests/test-scripts/test_ha_per_job_cluster_datastream.sh
Labels: component=Runtime/Coordination

#21417 [FLINK-29862] Upgrade to flink-shaded 16.1
  docs/layouts/shortcodes/generated/rest_v1_dispatcher.html
  docs/static/generated/rest_v1_dispatcher.yml
  flink-runtime-web/src/test/resources/rest_api_v1.snapshot
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/compatibility/CompatibilityRoutines.java
  flink-table/flink-sql-gateway/src/test/resources/sql_gateway_rest_api_v1.snapshot
  pom.xml
Labels: component=BuildSystem

#21374 [FLINK-30090] Support timespan for TimerGauges
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/TimerGauge.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/TimerGaugeTest.java
Labels: component=Runtime/Metrics

#21390 [FLINK-30197][Logging] Update slf4j from 1.7.32 to 1.7.36
  docs/content.zh/docs/dev/configuration/overview.md
  docs/content/docs/dev/configuration/overview.md
  flink-dist/src/main/resources/META-INF/NOTICE
  pom.xml
Labels: component=API/Core
