Repository apache/flink, pull requests merged in 2022-12, with the labels that each got.

#21428 [FLINK-30138][runtime][test] Increases timeout to essentially wait forever for an expected Exception to be thrown
  flink-runtime/src/test/java/org/apache/flink/runtime/blob/BlobServerCleanupTest.java
Labels: component=Runtime/Coordination, component=Tests

#21434 [BP-1.16][FLINK-30138][runtime][test] Increases timeout to essentially wait forever for an expected Exception to be thrown
  flink-runtime/src/test/java/org/apache/flink/runtime/blob/BlobServerCleanupTest.java
Labels: component=Runtime/Coordination, component=Tests

#21435 [BP-1.15][FLINK-30138][runtime][test] Increases timeout to essentially wait forever for an expected Exception to be thrown
  flink-runtime/src/test/java/org/apache/flink/runtime/blob/BlobServerCleanupTest.java
Labels: component=Runtime/Coordination, component=Tests

#21437 [FLINK-27944] Input channel metric will no longer be registered multiple times
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/NettyShuffleEnvironment.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/SingleInputGateFactory.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/NettyShuffleEnvironmentTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/consumer/SingleInputGateTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/benchmark/StreamNetworkBenchmarkEnvironment.java
Labels: component=Runtime/Metrics

#21439 [BP-1.15][FLINK-27944] Input channel metric will no longer be registered multiple times
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/NettyShuffleEnvironment.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/SingleInputGateFactory.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/NettyShuffleEnvironmentTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/consumer/SingleInputGateTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/benchmark/StreamNetworkBenchmarkEnvironment.java
Labels: component=Runtime/Metrics

#21264 [FLINK-29928][runtime, state] Share RocksDB memory across TM slots
  docs/content.zh/docs/ops/state/state_backends.md
  docs/content/docs/ops/state/state_backends.md
  docs/layouts/shortcodes/generated/rocksdb_configuration.html
  docs/layouts/shortcodes/generated/state_backend_rocksdb_section.html
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/runtime/SavepointEnvironment.java
  flink-runtime/src/main/java/org/apache/flink/runtime/execution/Environment.java
  flink-runtime/src/main/java/org/apache/flink/runtime/memory/SharedResources.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskExecutor.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskManagerServices.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskmanager/RuntimeEnvironment.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskmanager/Task.java
  flink-runtime/src/test/java/org/apache/flink/runtime/operators/testutils/DummyEnvironment.java
  flink-runtime/src/test/java/org/apache/flink/runtime/operators/testutils/MockEnvironment.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskExecutorTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskManagerServicesBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskmanager/TaskAsyncCallTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskmanager/TestTaskBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/testutils/InMemoryReporter.java
  flink-runtime/src/test/java/org/apache/flink/runtime/util/JvmExitOnFatalErrorTest.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/EmbeddedRocksDBStateBackend.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBMemoryConfiguration.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBMemoryControllerUtils.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBOperationUtils.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBOptions.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBSharedResources.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBSharedResourcesFactory.java
  flink-state-backends/flink-statebackend-rocksdb/src/test/java/org/apache/flink/contrib/streaming/state/RocksDBSharedResourcesFactoryTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/InterruptSensitiveRestoreTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamMockEnvironment.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskSystemExitTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTerminationTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/SynchronousCheckpointITCase.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/TaskCheckpointingBehaviourTest.java
  flink-tests/src/test/java/org/apache/flink/test/state/TaskManagerWideRocksDbMemorySharingITCase.java
Labels: component=Runtime/Configuration, component=Runtime/StateBackends, component=Runtime/Task

#21421 [FLINK-30240][table]Fix doc error reference to TableKind#MANAGED
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/catalog/Catalog.java
Labels: component=<none>

#21411 [BP-1.16][FLINK-29830][Connector/Pulsar] Create the topic with schema before consuming messages in PulsarSinkITCase. (#21252)
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/sink/PulsarSinkITCase.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/testutils/function/ControlSource.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/testutils/runtime/PulsarRuntimeOperator.java
Labels: component=Connectors/Pulsar

#21412 [BP-1.15][FLINK-29830][Connector/Pulsar] Create the topic with schema before consuming messages in PulsarSinkITCase. (#21252)
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/sink/PulsarSinkITCase.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/testutils/function/ControlSource.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/testutils/runtime/PulsarRuntimeOperator.java
Labels: component=Connectors/Pulsar

#21444 [FLINK-30275][tests] Fix off-by-one error in TaskExecutorTest.testSharedResourcesLifecycle
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskExecutorTest.java
Labels: component=Runtime/Coordination

#21440 [FLINK-28766][tests] Safe iterate over checkpoint files in order to avoid exception during parallel savepoint deletion
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/UnalignedCheckpointStressITCase.java
Labels: component=Runtime/Checkpointing

#21416 [FLINK-30202][tests] Do not assert on checkpointId
  flink-connectors/flink-connector-datagen/src/test/java/org/apache/flink/connector/datagen/source/DataGeneratorSourceITCase.java
  flink-connectors/flink-connector-datagen/src/test/java/org/apache/flink/connector/datagen/source/DataGeneratorSourceTest.java
  flink-core/src/main/java/org/apache/flink/api/connector/source/util/ratelimit/RateLimitedSourceReader.java
Labels: component=Connectors/Common

#20745 [FLINK-28988] Don't push filters down into the right table for temporal join
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/rules/logical/FlinkFilterJoinRule.java
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/rules/physical/stream/ChangelogModeInferenceTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/join/TemporalJoinTest.xml
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/rules/physical/stream/ChangelogModeInferenceTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/TemporalJoinITCase.scala
Labels: component=TableSQL/API

#21453 [hotfix][table-planner] fix tests for FLINK-28988 merged(no code conflict with latest master but a related test case failed)
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/rules/physical/stream/WatermarkAssignerChangelogNormalizeTransposeRuleTest.xml
Labels: component=TableSQL/API

#21429 [FLINK-30245][table-runtime] Fix the NPE thrown when filtering decimal(18, x) values after calling DecimalDataUtils.subtract method.
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/data/DecimalDataUtils.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/data/DecimalDataTest.java
Labels: component=TableSQL/Runtime

#21438 [FLINK-29420][build] Upgrade Zookeeper to 3.7.1
  flink-test-utils-parent/flink-connector-test-utils/src/main/java/org/apache/flink/connector/testframe/container/FlinkTestcontainersConfigurator.java
  pom.xml
Labels: component=Runtime/Coordination, component=BuildSystem/Shaded

#21460 [FLINK-30312][cassandra] Remove Cassandra connector
  docs/content.zh/docs/connectors/datastream/cassandra.md
  docs/content/docs/connectors/datastream/cassandra.md
  docs/setup_docs.sh
  flink-architecture-tests/flink-architecture-tests-production/archunit-violations/5b9eed8a-5fb6-4373-98ac-3be2a71941b8
  flink-architecture-tests/flink-architecture-tests-production/archunit-violations/b8900323-6aab-4e7e-9b17-f53b3c3dca46
  flink-architecture-tests/flink-architecture-tests-production/pom.xml
  flink-architecture-tests/pom.xml
  flink-connectors/flink-connector-cassandra/archunit-violations/b7279bb1-1eb7-40c0-931d-f6db7971d126
  flink-connectors/flink-connector-cassandra/archunit-violations/dc1ba6f4-3d84-498c-a085-e02ba5936201
  flink-connectors/flink-connector-cassandra/archunit-violations/stored.rules
  flink-connectors/flink-connector-cassandra/pom.xml
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/batch/connectors/cassandra/CassandraColumnarOutputFormatBase.java
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/batch/connectors/cassandra/CassandraInputFormat.java
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/batch/connectors/cassandra/CassandraInputFormatBase.java
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/batch/connectors/cassandra/CassandraOutputFormat.java
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/batch/connectors/cassandra/CassandraOutputFormatBase.java
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/batch/connectors/cassandra/CassandraPojoInputFormat.java
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/batch/connectors/cassandra/CassandraPojoOutputFormat.java
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/batch/connectors/cassandra/CassandraRowOutputFormat.java
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/batch/connectors/cassandra/CassandraTupleOutputFormat.java
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/streaming/connectors/cassandra/AbstractCassandraTupleSink.java
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/streaming/connectors/cassandra/CassandraAppendTableSink.java
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/streaming/connectors/cassandra/CassandraCommitter.java
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/streaming/connectors/cassandra/CassandraFailureHandler.java
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/streaming/connectors/cassandra/CassandraPojoSink.java
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/streaming/connectors/cassandra/CassandraRowSink.java
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/streaming/connectors/cassandra/CassandraRowWriteAheadSink.java
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/streaming/connectors/cassandra/CassandraScalaProductSink.java
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/streaming/connectors/cassandra/CassandraSink.java
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/streaming/connectors/cassandra/CassandraSinkBase.java
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/streaming/connectors/cassandra/CassandraSinkBaseConfig.java
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/streaming/connectors/cassandra/CassandraTupleSink.java
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/streaming/connectors/cassandra/CassandraTupleWriteAheadSink.java
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/streaming/connectors/cassandra/ClusterBuilder.java
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/streaming/connectors/cassandra/MapperOptions.java
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/streaming/connectors/cassandra/NoOpCassandraFailureHandler.java
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/streaming/connectors/cassandra/SimpleMapperOptions.java
  flink-connectors/flink-connector-cassandra/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-connector-cassandra/src/test/java/org/apache/flink/architecture/TestCodeArchitectureTest.java
  flink-connectors/flink-connector-cassandra/src/test/java/org/apache/flink/batch/connectors/cassandra/example/BatchExample.java
  flink-connectors/flink-connector-cassandra/src/test/java/org/apache/flink/batch/connectors/cassandra/example/BatchPojoExample.java
  flink-connectors/flink-connector-cassandra/src/test/java/org/apache/flink/batch/connectors/cassandra/example/Pojo.java
  flink-connectors/flink-connector-cassandra/src/test/java/org/apache/flink/connectors/cassandra/utils/ResultSetFutures.java
  flink-connectors/flink-connector-cassandra/src/test/java/org/apache/flink/streaming/connectors/cassandra/CassandraConnectorITCase.java
  flink-connectors/flink-connector-cassandra/src/test/java/org/apache/flink/streaming/connectors/cassandra/CassandraSinkBaseTest.java
  flink-connectors/flink-connector-cassandra/src/test/java/org/apache/flink/streaming/connectors/cassandra/CassandraTupleWriteAheadSinkTest.java
  flink-connectors/flink-connector-cassandra/src/test/java/org/apache/flink/streaming/connectors/cassandra/Pojo.java
  flink-connectors/flink-connector-cassandra/src/test/java/org/apache/flink/streaming/connectors/cassandra/example/CassandraPojoSinkExample.java
  flink-connectors/flink-connector-cassandra/src/test/java/org/apache/flink/streaming/connectors/cassandra/example/CassandraTupleSinkExample.java
  flink-connectors/flink-connector-cassandra/src/test/java/org/apache/flink/streaming/connectors/cassandra/example/CassandraTupleWriteAheadSinkExample.java
  flink-connectors/flink-connector-cassandra/src/test/java/org/apache/flink/streaming/connectors/cassandra/example/Message.java
  flink-connectors/flink-connector-cassandra/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
  flink-connectors/flink-connector-cassandra/src/test/resources/archunit.properties
  flink-connectors/flink-connector-cassandra/src/test/resources/log4j2-test.properties
  flink-connectors/pom.xml
  flink-python/pom.xml
  flink-test-utils-parent/flink-test-utils-junit/src/main/java/org/apache/flink/util/DockerImageVersions.java
  tools/azure-pipelines/cache_docker_images.sh
  tools/ci/stage.sh
Labels: component=Connectors/Cassandra

#21456 [BP-1.16][FLINK-28766][tests] Safe iterate over checkpoint files in order to avoid exception during parallel savepoint deletion
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/UnalignedCheckpointStressITCase.java
Labels: component=Runtime/Checkpointing

#21461 [FLINK-30316][statebackend] Migrate tests to JUnit5
  flink-state-backends/flink-statebackend-common/pom.xml
  flink-state-backends/flink-statebackend-common/src/test/java/org/apache/flink/state/common/PeriodicMaterializationManagerTest.java
  flink-state-backends/flink-statebackend-common/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
Labels: component=Runtime/StateBackends

#21368 [FLINK-30165][runtime][JUnit5 Migration] Migrate unaligned checkpoint related tests under flink-runtime module to junit5
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/channel/ChannelStateCheckpointWriterTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/channel/ChannelStateChunkReaderTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/channel/ChannelStateSerializerImplTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/channel/ChannelStateWriteRequestDispatcherImplTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/channel/ChannelStateWriteRequestDispatcherTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/channel/ChannelStateWriteRequestExecutorImplTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/channel/ChannelStateWriterImplTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/channel/CheckpointInProgressRequestTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/channel/InputChannelRecoveredStateHandlerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/channel/RecordingChannelStateWriter.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/channel/RecoveredChannelStateHandlerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/channel/ResultSubpartitionRecoveredStateHandlerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/channel/SequentialChannelStateReaderImplTest.java
Labels: component=Tests, component=Runtime/Checkpointing

#21316 [FLINK-30019][hive] Remove the unused HiveTableFileInputFormat in hive conn…
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HiveTableFileInputFormat.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/read/HiveTableFileInputFormatTest.java
Labels: component=Connectors/Hive

#21469 [FLINK-29925] fix: improve configuration tables' column widths
  flink-runtime-web/web-dashboard/src/app/pages/job/configuration/job-configuration.component.html
  flink-runtime-web/web-dashboard/src/app/pages/job/configuration/job-configuration.component.less
Labels: component=Runtime/WebFrontend

#21432 [FLINK-30250][web][flame-graph] Fix the bug that show the flame graph of old type
  flink-runtime-web/web-dashboard/src/app/components/flame-graph/flame-graph.component.ts
  flink-runtime-web/web-dashboard/src/app/interfaces/job-flamegraph.ts
  flink-runtime-web/web-dashboard/src/app/pages/job/overview/flamegraph/job-overview-drawer-flamegraph.component.html
  flink-runtime-web/web-dashboard/src/app/pages/job/overview/flamegraph/job-overview-drawer-flamegraph.component.ts
Labels: component=Runtime/WebFrontend, component=Runtime/REST

#21448 [FLINK-30116][rest] Don't Show Env Vars in Web UI
  docs/layouts/shortcodes/generated/rest_v1_dispatcher.html
  docs/static/generated/rest_v1_dispatcher.yml
  flink-runtime-web/src/test/resources/rest_api_v1.snapshot
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/messages/EnvironmentInfo.java
Labels: component=Runtime/WebFrontend

#21221 [FLINK-29846] Upgrade ArchUnit to 1.0.0
  flink-architecture-tests/flink-architecture-tests-base/src/main/java/org/apache/flink/architecture/common/Conditions.java
  flink-architecture-tests/flink-architecture-tests-base/src/main/java/org/apache/flink/architecture/common/Predicates.java
  flink-architecture-tests/flink-architecture-tests-base/src/main/java/org/apache/flink/architecture/common/SourcePredicates.java
  flink-architecture-tests/flink-architecture-tests-production/archunit-violations/5b9eed8a-5fb6-4373-98ac-3be2a71941b8
  flink-architecture-tests/flink-architecture-tests-production/archunit-violations/b8900323-6aab-4e7e-9b17-f53b3c3dca46
  flink-architecture-tests/flink-architecture-tests-production/archunit-violations/e5126cae-f3fe-48aa-b6fb-60ae6cc3fcd5
  flink-architecture-tests/flink-architecture-tests-production/src/main/java/org/apache/flink/architecture/rules/ApiAnnotationRules.java
  flink-architecture-tests/flink-architecture-tests-test/src/main/java/org/apache/flink/architecture/rules/ITCaseRules.java
  flink-formats/flink-hadoop-bulk/archunit-violations/83371291-f688-4eaf-a207-24981f1067f3
  flink-formats/flink-hadoop-bulk/src/test/java/org/apache/flink/formats/hadoop/bulk/HadoopPathBasedPartFileWriterITCase.java
  flink-formats/flink-hadoop-bulk/src/test/java/org/apache/flink/formats/hadoop/bulk/committer/HadoopRenameCommitterHDFSITCase.java
  flink-formats/flink-hadoop-bulk/src/test/java/org/apache/flink/formats/hadoop/bulk/committer/HadoopRenameCommitterLocalFSITCase.java
  pom.xml
Labels: component=BuildSystem, component=Tests

#21466 [FLINK-29998] Make the backpressure tab could be sort by the busy per…
  flink-runtime-web/web-dashboard/src/app/pages/job/overview/backpressure/job-overview-drawer-backpressure.component.html
  flink-runtime-web/web-dashboard/src/app/pages/job/overview/backpressure/job-overview-drawer-backpressure.component.ts
Labels: component=Runtime/WebFrontend

#21377 [FLINK-30175][Build] Bump snakeyaml from 1.31 to 1.33
  flink-kubernetes/src/main/resources/META-INF/NOTICE
  pom.xml
Labels: component=BuildSystem, component=BuildSystem/Shaded

#21499 [FLINK-30370][runtime][security] Move existing delegation token framework authentication to providers
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/HBaseDelegationTokenProvider.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/HadoopDelegationTokenProvider.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/HadoopFSDelegationTokenProvider.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/KerberosDelegationTokenManager.java
  flink-runtime/src/test/java/org/apache/flink/runtime/security/token/ExceptionThrowingHadoopDelegationTokenProvider.java
  flink-runtime/src/test/java/org/apache/flink/runtime/security/token/KerberosDelegationTokenManagerITCase.java
Labels: component=<none>

#21182 [FLINK-29679][table] Migrate to new schema framework & show column comment
  docs/content.zh/docs/dev/table/sql/describe.md
  docs/content/docs/dev/table/sql/describe.md
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableFactory.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/copy/HiveParserBaseSemanticAnalyzer.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/copy/HiveParserSemanticAnalyzer.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/parse/HiveParserDDLSemanticAnalyzer.java
  flink-table/flink-sql-client/src/test/resources/sql/table.q
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/TableEnvironmentImpl.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/api/TableEnvironmentTest.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/api/TableSchema.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/typeutils/TimeIndicatorTypeInfo.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/catalog/CatalogSchemaTable.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/SqlCreateTableConverter.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/SqlToOperationConverter.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/FlinkCalciteCatalogReader.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/rules/logical/PushPartitionIntoTableSourceScanRule.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/utils/DynamicPartitionPruningUtils.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/delegation/PlannerBase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/TableEnvironmentTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/TableSourceTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/stream/table/TableSourceTest.scala
Labels: component=TableSQL/API

#21505 [FLINK-30402][security][runtime] Separate token framework generic and hadoop specific parts
  flink-runtime/src/main/java/org/apache/flink/runtime/entrypoint/ClusterEntrypoint.java
  flink-runtime/src/main/java/org/apache/flink/runtime/minicluster/MiniCluster.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/modules/HadoopModule.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/hadoop/HBaseDelegationTokenProvider.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/hadoop/HadoopDelegationTokenConverter.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/hadoop/HadoopDelegationTokenProvider.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/hadoop/HadoopDelegationTokenUpdater.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/hadoop/HadoopFSDelegationTokenProvider.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/hadoop/KerberosDelegationTokenManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/hadoop/KerberosDelegationTokenManagerFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/hadoop/KerberosLoginProvider.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskExecutor.java
  flink-runtime/src/main/resources/META-INF/services/org.apache.flink.runtime.security.token.hadoop.HadoopDelegationTokenProvider
  flink-runtime/src/test/java/org/apache/flink/runtime/security/token/hadoop/ExceptionThrowingHadoopDelegationTokenProvider.java
  flink-runtime/src/test/java/org/apache/flink/runtime/security/token/hadoop/HadoopDelegationTokenConverterTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/security/token/hadoop/HadoopDelegationTokenUpdaterITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/security/token/hadoop/HadoopFSDelegationTokenProviderITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/security/token/hadoop/KerberosDelegationTokenManagerITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/security/token/hadoop/KerberosLoginProviderITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/security/token/hadoop/TestHadoopDelegationTokenIdentifier.java
  flink-runtime/src/test/java/org/apache/flink/runtime/security/token/hadoop/TestHadoopDelegationTokenProvider.java
  flink-runtime/src/test/resources/META-INF/services/org.apache.flink.runtime.security.token.hadoop.HadoopDelegationTokenProvider
  flink-runtime/src/test/resources/META-INF/services/org.apache.hadoop.security.token.TokenIdentifier
  flink-yarn/src/main/java/org/apache/flink/yarn/YarnClusterDescriptor.java
Labels: component=<none>

#21405 [FLINK-23035][state/changelog] Add explicit append() to StateChangelogWriter to write metadata
  flink-dstl/flink-dstl-dfs/src/main/java/org/apache/flink/changelog/fs/FsStateChangelogWriter.java
  flink-dstl/flink-dstl-dfs/src/main/java/org/apache/flink/changelog/fs/StateChangeFormat.java
  flink-dstl/flink-dstl-dfs/src/test/java/org/apache/flink/changelog/fs/BatchingStateChangeUploadSchedulerTest.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/metadata/MetadataV2V3SerializerBase.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/changelog/StateChange.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/changelog/StateChangelogWriter.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/changelog/inmemory/InMemoryStateChangelogWriter.java
  flink-state-backends/flink-statebackend-changelog/src/main/java/org/apache/flink/state/changelog/AbstractStateChangeLogger.java
  flink-state-backends/flink-statebackend-changelog/src/test/java/org/apache/flink/state/changelog/StateChangeLoggerTestBase.java
Labels: component=Runtime/StateBackends

#21513 [FLINK-30424][DataStream API] Add source operator addSplits log when restore from state
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/SourceOperator.java
Labels: component=API/DataStream

#21485 [FLINK-29997] Link to the taskmanager page in the expired sub-task of…
  flink-runtime-web/web-dashboard/src/app/pages/job/checkpoints/subtask/job-checkpoints-subtask.component.html
  flink-runtime-web/web-dashboard/src/app/pages/job/checkpoints/subtask/job-checkpoints-subtask.component.ts
Labels: component=Runtime/WebFrontend

#21510 [FLINK-30383][datadog] Add "flink." prefix to logical identifier
  flink-metrics/flink-metrics-datadog/src/main/java/org/apache/flink/metrics/datadog/DatadogHttpReporter.java
Labels: component=Runtime/Metrics

#21465 [FLINK-29996] Link to the task manager's thread dump page in the back…
  flink-runtime-web/web-dashboard/src/app/pages/job/overview/backpressure/job-overview-drawer-backpressure.component.html
  flink-runtime-web/web-dashboard/src/app/pages/job/overview/backpressure/job-overview-drawer-backpressure.component.ts
Labels: component=Runtime/WebFrontend

#21520 [FLINK-30355][Kubernetes][Tests] Remove `cri-dockerd` if already cloned earlier
  flink-end-to-end-tests/test-scripts/common_kubernetes.sh
Labels: component=Tests, component=TestInfrastructure

#21463 [FLINK-30299][core] Adds thread dump creation to FatalExitExceptionHandler
  flink-core/src/main/java/org/apache/flink/util/FatalExitExceptionHandler.java
  flink-core/src/main/java/org/apache/flink/util/concurrent/ThreadUtils.java
Labels: component=Runtime/Coordination

#21482 [FLINK-30357][doc] Wrong link in connector/jdbc doc.
  docs/content.zh/docs/connectors/table/jdbc.md
  docs/content/docs/connectors/table/jdbc.md
Labels: component=Documentation

#21481 [FLINK-30357][doc] Wrong link in connector/jdbc doc.
  docs/content.zh/docs/connectors/table/jdbc.md
  docs/content/docs/connectors/table/jdbc.md
Labels: component=Documentation

#21534 [BP-1.16][FLINK-30299][core] Adds thread dump creation to FatalExitExceptionHandler
  flink-core/src/main/java/org/apache/flink/util/FatalExitExceptionHandler.java
  flink-core/src/main/java/org/apache/flink/util/concurrent/ThreadUtils.java
Labels: component=Runtime/Coordination

#21533 [BP-1.15][FLINK-30299][core] Adds thread dump creation to FatalExitExceptionHandler
  flink-core/src/main/java/org/apache/flink/util/FatalExitExceptionHandler.java
  flink-core/src/main/java/org/apache/flink/util/concurrent/ThreadUtils.java
Labels: component=Runtime/Coordination

#21480 [BP-1.15][FLINK-28352][tests] Disable PulsarSourceUnorderedE2ECase, PulsarUnorderedPartitionSplitReaderTest and PulsarUnorderedSourceITCase
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/source/PulsarUnorderedSourceITCase.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/source/reader/split/PulsarUnorderedPartitionSplitReaderTest.java
  flink-end-to-end-tests/flink-end-to-end-tests-pulsar/src/test/java/org/apache/flink/tests/util/pulsar/PulsarSourceUnorderedE2ECase.java
Labels: component=Connectors/Pulsar

#21479 [BP-1.16][FLINK-28352][tests] Disable PulsarSourceUnorderedE2ECase, PulsarUnorderedPartitionSplitReaderTest and PulsarUnorderedSourceITCase
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/source/PulsarUnorderedSourceITCase.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/source/reader/split/PulsarUnorderedPartitionSplitReaderTest.java
  flink-end-to-end-tests/flink-end-to-end-tests-pulsar/src/test/java/org/apache/flink/tests/util/pulsar/PulsarSourceUnorderedE2ECase.java
Labels: component=Connectors/Pulsar

#21516 [FLINK-28863][state]Add comments about why snapshot result of RocksDB native savepoint doesn't have empty shared-state
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/snapshot/RocksIncrementalSnapshotStrategy.java
Labels: component=Runtime/StateBackends, component=Runtime/Checkpointing

#21552 FLINK-30443 Ensuring more sensitive keys are masked in log output
  flink-core/src/main/java/org/apache/flink/configuration/GlobalConfiguration.java
  flink-core/src/test/java/org/apache/flink/configuration/GlobalConfigurationTest.java
Labels: component=API/Core

#21554 [FLINK-30493][table-api] Introduce TableChange to SET/RESET options
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/parse/HiveParserDDLSemanticAnalyzer.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/TableEnvironmentImpl.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/catalog/CatalogManager.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ddl/AlterTableChangeOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ddl/AlterTableOptionsOperation.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/catalog/Catalog.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/catalog/TableChange.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/SqlToOperationConverter.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/operations/SqlToOperationConverterTest.java
Labels: component=TableSQL/API

#21551 [FLINK-27691][table-planner] Remove unnecessary state ttl to avoid unstable results of RankHarnessTest
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/harness/RankHarnessTest.scala
Labels: component=TableSQL/Runtime

#21568 [bp-1.16][FLINK-27691][table-planner] Remove unnecessary state ttl to avoid unstable results of RankHarnessTest
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/harness/RankHarnessTest.scala
Labels: component=TableSQL/Runtime

#21515 [FLINK-30429][client] Fix IllegalArgumentException when no argument in flink executable
  flink-clients/src/main/java/org/apache/flink/client/cli/CliFrontend.java
  flink-clients/src/test/java/org/apache/flink/client/cli/CliFrontendITCase.java
Labels: component=Client/JobSubmission

#21468 [FLINK-30345][state/changelog] Avoid using sync DataOutputViewStreamWrapper to serialize records to changelog
  flink-state-backends/flink-statebackend-changelog/src/main/java/org/apache/flink/state/changelog/AbstractStateChangeLogger.java
  flink-state-backends/flink-statebackend-changelog/src/main/java/org/apache/flink/state/changelog/ChangelogMapState.java
  flink-state-backends/flink-statebackend-changelog/src/main/java/org/apache/flink/state/changelog/KvStateChangeLoggerImpl.java
  flink-state-backends/flink-statebackend-changelog/src/main/java/org/apache/flink/state/changelog/PriorityQueueStateChangeLoggerImpl.java
  flink-state-backends/flink-statebackend-changelog/src/main/java/org/apache/flink/state/changelog/StateChangeLogger.java
  flink-state-backends/flink-statebackend-changelog/src/main/java/org/apache/flink/state/changelog/StateChangeLoggingIterator.java
  flink-state-backends/flink-statebackend-changelog/src/main/java/org/apache/flink/state/changelog/restore/ChangelogMigrationRestoreTarget.java
  flink-state-backends/flink-statebackend-changelog/src/test/java/org/apache/flink/state/changelog/ChangelogPqStateTest.java
  flink-state-backends/flink-statebackend-changelog/src/test/java/org/apache/flink/state/changelog/TestChangeLoggerKv.java
Labels: component=Runtime/StateBackends

#21540 [FLINK-30468][web] Change the SortOrder of BusyRatio to descend by default
  flink-runtime-web/web-dashboard/src/app/pages/job/overview/backpressure/job-overview-drawer-backpressure.component.html
  flink-runtime-web/web-dashboard/src/app/pages/job/overview/backpressure/job-overview-drawer-backpressure.component.ts
Labels: component=Runtime/WebFrontend
