Repository apache/flink, pull requests merged in 2022-03, with the labels that each got.

#18866 [FLINK-26289][runtime] AdaptiveScheduler: Allow exception history to …
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/handler/job/JobExceptionsHandler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/messages/JobExceptionsInfoWithHistory.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/handler/job/JobExceptionsHandlerTest.java
  flink-tests/src/test/java/org/apache/flink/test/scheduling/AdaptiveSchedulerITCase.java
Labels: component=Runtime/Coordination

#18910 [FLINK-26296] Add missing documentation for JobResultStore and repeatable resource cleanup strategy
  docs/content.zh/docs/concepts/glossary.md
  docs/content.zh/docs/deployment/ha/overview.md
  docs/content.zh/docs/deployment/overview.md
  docs/content/docs/concepts/glossary.md
  docs/content/docs/deployment/ha/overview.md
  docs/content/docs/deployment/overview.md
Labels: component=Runtime/Coordination

#18960 [FLINK-26387][connectors/kafka] Disable testBrokerFailure in ITCase tests
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/source/KafkaSourceLegacyITCase.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/KafkaITCase.java
Labels: component=Connectors/Kafka

#18930 [FLINK-26398][docs] Adding docs for Kinesis Firehose table api
  docs/content.zh/docs/connectors/table/firehose.md
  docs/content/docs/connectors/table/firehose.md
Labels: component=Connectors/Kinesis

#18901 [FLINK-26286][kubernetes] Introduce idempotent KubernetesStateHandleS…
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/highavailability/KubernetesStateHandleStore.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/highavailability/KubernetesStateHandleStoreTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/persistence/TestingLongStateHandleHelper.java
  flink-runtime/src/test/java/org/apache/flink/runtime/zookeeper/ZooKeeperStateHandleStoreTest.java
Labels: component=Runtime/Coordination

#18870 [FLINK-26191][connectors/elasticsearch] Revert Elasticsearch dependencies to 7.10.2 to keep Apache 2 license
  flink-connectors/flink-connector-elasticsearch-base/pom.xml
  flink-connectors/flink-connector-elasticsearch-base/src/test/java/org/apache/flink/connector/elasticsearch/sink/ElasticsearchWriterITCase.java
  flink-connectors/flink-connector-elasticsearch-base/src/test/java/org/apache/flink/streaming/connectors/elasticsearch/ElasticsearchSinkBaseTest.java
  flink-connectors/flink-connector-elasticsearch-base/src/test/java/org/apache/flink/streaming/connectors/elasticsearch/testutils/ElasticsearchResource.java
  flink-connectors/flink-connector-elasticsearch7/pom.xml
  flink-connectors/flink-connector-elasticsearch7/src/main/java/org/apache/flink/connector/elasticsearch/sink/Elasticsearch7SinkBuilder.java
  flink-connectors/flink-connector-elasticsearch7/src/main/java/org/apache/flink/streaming/connectors/elasticsearch7/Elasticsearch7ApiCallBridge.java
  flink-connectors/flink-sql-connector-elasticsearch7/src/main/resources/META-INF/NOTICE
  flink-end-to-end-tests/test-scripts/test_quickstarts.sh
  flink-end-to-end-tests/test-scripts/test_sql_client.sh
  flink-test-utils-parent/flink-test-utils-junit/src/main/java/org/apache/flink/util/DockerImageVersions.java
Labels: component=Connectors/ElasticSearch

#18948 [FLINK-22255][documentation] add note to documentation
  docs/content/docs/deployment/elastic_scaling.md
Labels: component=Runtime/Coordination

#18946 [BP-1.14][FLINK-26223] Updates log4j configuration
  tools/ci/log4j.properties
Labels: component=Runtime/Coordination

#18947 [BP-1.13][FLINK-26223] Updates log4j configuration
  tools/ci/log4j.properties
Labels: component=Runtime/Coordination

#18912 [FLINK-26353] flink stop --help does not list --type option
  flink-clients/src/main/java/org/apache/flink/client/cli/CliFrontendParser.java
  flink-clients/src/test/java/org/apache/flink/client/cli/CliFrontendSavepointTest.java
  flink-clients/src/test/java/org/apache/flink/client/cli/CliFrontendStopWithSavepointTest.java
Labels: component=CommandLineClient

#18950 [FLINK-25833][core] FlinkUserCodeClassLoader is registered as paralle…
  flink-core/src/main/java/org/apache/flink/util/FlinkUserCodeClassLoader.java
  flink-runtime/src/test/java/org/apache/flink/runtime/execution/librarycache/FlinkUserCodeClassLoadersTest.java
Labels: component=API/Core

#18932 [FLINK-24474] set default for taskmanager.host
  flink-dist/src/main/resources/flink-conf.yaml
  flink-end-to-end-tests/flink-end-to-end-tests-common/src/main/java/org/apache/flink/tests/util/flink/container/FlinkContainersBuilder.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/decorators/FlinkConfMountDecorator.java
  flink-yarn/src/main/java/org/apache/flink/yarn/entrypoint/YarnEntrypointUtils.java
Labels: component=Runtime/Configuration

#18951 [FLINK-26352][runtime-web] Add missing license headers to WebUI source files
  flink-runtime-web/web-dashboard/src/@types/d3-tip/index.d.ts
  flink-runtime-web/web-dashboard/src/app/share/common/editor/auto-resize.directive.ts
  flink-runtime-web/web-dashboard/src/app/share/common/editor/editor-config.ts
  flink-runtime-web/web-dashboard/src/app/utils/strong-type.ts
Labels: component=Runtime/WebFrontend

#18952 [FLINK-26407][end-to-end-tests] Increase timeouts for MetricsAvailabi…
  flink-end-to-end-tests/flink-metrics-availability-test/src/test/java/org/apache/flink/metrics/tests/MetricsAvailabilityITCase.java
Labels: component=Runtime/Metrics

#18961 [BP-1.14][FLINK-26407][end-to-end-tests] Increase timeouts for MetricsAvailabilityITCase.
  flink-end-to-end-tests/flink-metrics-availability-test/src/test/java/org/apache/flink/metrics/tests/MetricsAvailabilityITCase.java
Labels: component=Runtime/Metrics

#18962 [BP-1.13][FLINK-26407][end-to-end-tests] Increase timeouts for MetricsAvailabilityITCase.
  flink-end-to-end-tests/flink-metrics-availability-test/src/test/java/org/apache/flink/metrics/tests/MetricsAvailabilityITCase.java
Labels: component=Runtime/Metrics

#18361 [FLINK-25631][table] Support enhanced `show tables` syntax
  docs/content.zh/docs/dev/table/sql/show.md
  docs/content/docs/dev/table/sql/show.md
  flink-table/flink-sql-client/src/test/resources/sql/catalog_database.q
  flink-table/flink-sql-parser/src/main/codegen/includes/parserImpls.ftl
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/dql/SqlShowTables.java
  flink-table/flink-sql-parser/src/test/java/org/apache/flink/sql/parser/FlinkSqlParserImplTest.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/TableEnvironment.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/TableEnvironmentImpl.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ShowTablesOperation.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/SqlToOperationConverter.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/operations/SqlToOperationConverterTest.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/TableEnvironmentTest.scala
Labels: component=TableSQL/API

#16737 [hotfix][docs] update contents of sql create, and sql overview
  docs/content.zh/docs/dev/table/sql/create.md
  docs/content.zh/docs/dev/table/sql/overview.md
  docs/content/docs/dev/table/sql/create.md
  docs/content/docs/dev/table/sql/overview.md
Labels: review=description?

#18655 [FLINK-25799] [docs] Translate table/filesystem.md page into Chinese.
  docs/content.zh/docs/connectors/table/filesystem.md
Labels: component=Documentation

#18969 [FLINK-26464][metrics] Make the meaning of lastCheckpointSize stay as before
  docs/content.zh/docs/ops/metrics.md
  docs/content/docs/ops/metrics.md
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointStatsTracker.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointStatsTrackerTest.java
Labels: component=Runtime/Metrics, component=Runtime/Checkpointing

#18972 [FLINK-26453][clients] Prevent program configurations also when execu…
  docs/layouts/shortcodes/generated/deployment_configuration.html
  flink-clients/src/main/java/org/apache/flink/client/program/StreamContextEnvironment.java
  flink-clients/src/test/java/org/apache/flink/client/program/StreamContextEnvironmentTest.java
  flink-core/src/main/java/org/apache/flink/configuration/DeploymentOptions.java
Labels: component=API/DataStream

#18834 [FLINK-26229][datadog] Migrate tests to JUnit5
  flink-metrics/flink-metrics-datadog/src/test/java/org/apache/flink/metrics/datadog/DCounterTest.java
  flink-metrics/flink-metrics-datadog/src/test/java/org/apache/flink/metrics/datadog/DatadogHttpClientTest.java
  flink-metrics/flink-metrics-datadog/src/test/java/org/apache/flink/metrics/datadog/DatadogHttpReporterFactoryTest.java
  flink-metrics/flink-metrics-datadog/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
Labels: component=Tests, component=Runtime/Metrics

#18835 [FLINK-26230][metrics] Migrate tests to JUnit5
  flink-metrics/flink-metrics-core/pom.xml
  flink-metrics/flink-metrics-core/src/test/java/org/apache/flink/metrics/AbstractHistogramTest.java
  flink-metrics/flink-metrics-core/src/test/java/org/apache/flink/metrics/MeterViewTest.java
  flink-metrics/flink-metrics-core/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/DescriptiveStatisticsHistogramTest.java
Labels: component=Tests, component=Runtime/Metrics

#18964 [FLINK-26455][state/changelog] Don't fail on materialization cancellation
  flink-state-backends/flink-statebackend-changelog/src/main/java/org/apache/flink/state/changelog/PeriodicMaterializationManager.java
Labels: component=Runtime/StateBackends

#18610 [FLINK-23843][runtime] Properly fail the job when SplitEnumeratorContext.runInCoordinatorThread() throws an exception
  flink-runtime/src/main/java/org/apache/flink/runtime/source/coordinator/SourceCoordinatorContext.java
  flink-runtime/src/main/java/org/apache/flink/runtime/source/coordinator/SourceCoordinatorProvider.java
  flink-runtime/src/test/java/org/apache/flink/runtime/operators/coordination/MockOperatorCoordinatorContext.java
  flink-runtime/src/test/java/org/apache/flink/runtime/source/coordinator/SourceCoordinatorContextTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/source/coordinator/SourceCoordinatorTestBase.java
Labels: component=Runtime/Coordination

#18881 [FLINK-26302][build] Upgrade rat-plugin to 1.13
  pom.xml
Labels: component=BuildSystem

#18882 [FLINK-26303][build] Print rat-plugin violations to the console
  pom.xml
Labels: component=BuildSystem

#18931 [FLINK-26396][state/changelog] Fail upload if last attempt times out
  flink-dstl/flink-dstl-dfs/src/main/java/org/apache/flink/changelog/fs/BatchingStateChangeUploader.java
  flink-dstl/flink-dstl-dfs/src/main/java/org/apache/flink/changelog/fs/RetryingExecutor.java
  flink-dstl/flink-dstl-dfs/src/test/java/org/apache/flink/changelog/fs/BatchingStateChangeUploaderTest.java
  flink-dstl/flink-dstl-dfs/src/test/java/org/apache/flink/changelog/fs/RetryingExecutorTest.java
  flink-dstl/flink-dstl-dfs/src/test/resources/log4j2-test.properties
Labels: component=Runtime/StateBackends

#18981 [FLINK-15550][runtime] Debug logging for TaskTest
  flink-runtime/src/test/java/org/apache/flink/runtime/taskmanager/TaskTest.java
Labels: component=Runtime/Task

#18224 [FLINK-25143][test] Add ITCase for periodic materialization
  flink-runtime/src/main/java/org/apache/flink/runtime/minicluster/MiniCluster.java
  flink-test-utils-parent/flink-test-utils/src/main/java/org/apache/flink/streaming/util/TestStreamEnvironment.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/ChangelogPeriodicMaterializationITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/ChangelogPeriodicMaterializationRescaleITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/ChangelogPeriodicMaterializationTestBase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/SavepointFormatITCase.java
  flink-tests/src/test/java/org/apache/flink/test/util/TestUtils.java
Labels: component=Tests, component=Runtime/StateBackends

#18740 [FLINK-26099][table][connector][docs] Corrected example in proctime attribute section
  docs/content.zh/docs/connectors/table/overview.md
  docs/content/docs/connectors/table/overview.md
Labels: component=Documentation, component=TableSQL/API

#18998 [BP-1.14][FLINK-23843][runtime] Properly fail the job when SplitEnumeratorContext.runInCoordinatorThread() throws an exception.
  flink-runtime/src/main/java/org/apache/flink/runtime/source/coordinator/SourceCoordinatorContext.java
  flink-runtime/src/main/java/org/apache/flink/runtime/source/coordinator/SourceCoordinatorProvider.java
  flink-runtime/src/test/java/org/apache/flink/runtime/operators/coordination/MockOperatorCoordinatorContext.java
  flink-runtime/src/test/java/org/apache/flink/runtime/source/coordinator/SourceCoordinatorContextTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/source/coordinator/SourceCoordinatorTestBase.java
Labels: component=Runtime/Coordination

#18999 [BP-1.13][FLINK-23843][runtime] Properly fail the job when SplitEnumeratorContext.runInCoordinatorThread() throws an exception.
  flink-runtime/src/main/java/org/apache/flink/runtime/source/coordinator/SourceCoordinatorContext.java
  flink-runtime/src/main/java/org/apache/flink/runtime/source/coordinator/SourceCoordinatorProvider.java
  flink-runtime/src/test/java/org/apache/flink/runtime/operators/coordination/MockOperatorCoordinatorContext.java
  flink-runtime/src/test/java/org/apache/flink/runtime/source/coordinator/SourceCoordinatorContextTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/source/coordinator/SourceCoordinatorTestBase.java
Labels: component=Runtime/Coordination

#18812 [FLINK-25129][docs] Improvements to the table-planner-loader related docs
  docs/README.md
  docs/content/docs/dev/configuration/advanced.md
  docs/content/docs/dev/configuration/connector.md
  docs/content/docs/dev/configuration/maven.md
  docs/content/docs/dev/configuration/overview.md
  docs/content/docs/dev/configuration/testing.md
  docs/content/docs/dev/table/sourcesSinks.md
  docs/layouts/shortcodes/artifact_gradle.html
  docs/layouts/shortcodes/artifact_tabs.html
Labels: component=Documentation, component=Examples, component=TableSQL/API

#18973 [FLINK-25771][connectors][Cassandra][test] Raise the Cassandra driver timeouts at the Cluster level
  flink-connectors/flink-connector-cassandra/src/test/java/org/apache/flink/streaming/connectors/cassandra/CassandraConnectorITCase.java
Labels: component=Connectors/Cassandra

#18871 [FLINK-26232][tests][JUnit5 migration] Module:flink-avro
  flink-formats/flink-avro/pom.xml
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/AvroBulkFormatITCase.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/AvroBulkFormatTest.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/AvroDeserializationSchemaTest.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/AvroExternalJarProgramITCase.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/AvroFormatFactoryTest.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/AvroInputFormatTypeExtractionTest.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/AvroKryoClassloadingTest.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/AvroKryoSerializerRegistrationsTest.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/AvroOutputFormatITCase.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/AvroOutputFormatTest.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/AvroRecordInputFormatTest.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/AvroRowDataDeSerializationSchemaTest.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/AvroRowDeSerializationSchemaTest.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/AvroSerializationSchemaTest.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/AvroSplittableInputFormatTest.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/AvroStreamingFileSinkITCase.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/EncoderDecoderTest.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/RegistryAvroDeserializationSchemaTest.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/typeutils/AvroSchemaConverterTest.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/typeutils/AvroSerializerConcurrencyCheckInactiveITCase.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/typeutils/AvroSerializerConcurrencyTest.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/typeutils/AvroSerializerEmptyArrayTest.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/typeutils/AvroSerializerSnapshotTest.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/typeutils/AvroTypeExtractionTest.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/typeutils/AvroTypeInfoTest.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/table/runtime/batch/AvroTypesITCase.java
  flink-formats/flink-avro/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
Labels: component=<none>

#19015 [BP-1.14][FLINK-26352][runtime-web] Add missing license headers to WebUI source files
  flink-runtime-web/web-dashboard/src/@types/d3-tip/index.d.ts
Labels: component=Runtime/WebFrontend

#19028 [FLINK-26555][runtime] Adds closing and flushing to OutputStream
  flink-runtime/src/main/java/org/apache/flink/runtime/highavailability/FileSystemJobResultStore.java
Labels: component=Runtime/Coordination

#18979 [FLINK-26484][fs] FileSystem.delete is not implemented consistently
  flink-core/src/test/java/org/apache/flink/core/fs/FileSystemBehaviorTestSuite.java
  flink-filesystems/flink-s3-fs-base/src/main/java/org/apache/flink/fs/s3/common/AbstractS3FileSystemFactory.java
  flink-filesystems/flink-s3-fs-presto/src/main/java/org/apache/flink/fs/s3presto/FlinkS3PrestoFileSystem.java
  flink-filesystems/flink-s3-fs-presto/src/main/java/org/apache/flink/fs/s3presto/S3FileSystemFactory.java
Labels: component=Runtime/Coordination, component=Connectors/FileSystem

#19027 [FLINK-15550][runtime] Debug logging for TaskTest
  flink-runtime/src/test/java/org/apache/flink/runtime/taskmanager/TaskTest.java
Labels: component=Runtime/Task

#19026 [FLINK-15550][runtime] Debug logging for TaskTest
  flink-runtime/src/test/java/org/apache/flink/runtime/taskmanager/TaskTest.java
Labels: component=Runtime/Task

#18963 [FLINK-26450][fs] Adds error handling to FileStateHandle.discardState
  flink-runtime/src/main/java/org/apache/flink/runtime/state/filesystem/FileStateHandle.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/filesystem/FileStateHandleTest.java
Labels: component=Runtime/Coordination, component=Connectors/FileSystem

#19022 [FLINK-26550][checkpoint] Correct the information of checkpoint failure
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointFailureManager.java
Labels: component=Runtime/Checkpointing

#18989 [FLINK-26306][state/changelog] Randomly offset materialization
  flink-state-backends/flink-statebackend-changelog/src/main/java/org/apache/flink/state/changelog/ChangelogStateBackend.java
  flink-state-backends/flink-statebackend-changelog/src/main/java/org/apache/flink/state/changelog/PeriodicMaterializationManager.java
  flink-state-backends/flink-statebackend-changelog/src/test/java/org/apache/flink/state/changelog/ChangelogStateBackendTestUtils.java
Labels: component=Runtime/Checkpointing

#19019 [FLINK-26547][coordination] No requirement adjustments for unmatched slots
  flink-runtime/src/main/java/org/apache/flink/runtime/clusterframework/types/ResourceProfile.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/slotpool/DefaultDeclarativeSlotPool.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/slotpool/DefaultDeclarativeSlotPoolTest.java
Labels: component=Runtime/Coordination

#19057 [FLINK-26589][connectors/kinesis][connectors/firehose] Updating KDS/K…
  flink-connectors/flink-connector-aws-kinesis-firehose/src/main/java/org/apache/flink/connector/firehose/sink/KinesisFirehoseSinkWriter.java
  flink-connectors/flink-connector-aws-kinesis-streams/src/main/java/org/apache/flink/connector/kinesis/sink/KinesisStreamsSinkWriter.java
Labels: component=Connectors/Kinesis

#19041 [FLINK-24538][runtime][tests] Fix race condition when offering information to leader event queue in TestingRetrievalBase
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/highavailability/KubernetesLeaderRetrievalDriverTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderelection/TestingRetrievalBase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderretrieval/SettableLeaderRetrievalServiceTest.java
Labels: component=Runtime/Coordination

#19006 [FLINK-26534][table-planner] shuffle by sink's primary key should cover the case that input changelog stream has a different parallelism
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/common/CommonExecSink.java
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/TableSinkTest.xml
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/TableSinkTest.scala
Labels: component=TableSQL/Planner

#19064 [BP-1.14][FLINK-24538][runtime][tests] Fix race condition when offering information to leader event queue in TestingRetrievalBase
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/highavailability/KubernetesLeaderRetrievalDriverTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderelection/TestingRetrievalBase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderretrieval/SettableLeaderRetrievalServiceTest.java
Labels: component=Runtime/Coordination

#19060 [FLINK-26532][metrics][test] using the numRecordsSend counter to get the correct metric
  flink-tests/src/test/java/org/apache/flink/test/streaming/runtime/SinkMetricsITCase.java
Labels: component=API/Core

#18949 [FLINK-25235][tests] re-enable zookeeper test
  flink-runtime/src/main/java/org/apache/flink/runtime/minicluster/MiniCluster.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/ExecutionGraphInfoStoreTestUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/minicluster/TestingMiniCluster.java
  flink-tests/src/test/java/org/apache/flink/test/runtime/leaderelection/ZooKeeperLeaderElectionITCase.java
Labels: component=Runtime/Coordination

#19043 [FLINK-26501][e2e-tests] Added new exception to white list since the …
  flink-end-to-end-tests/test-scripts/common.sh
Labels: component=API/Scala, component=Runtime/Checkpointing

#19066 [FLINK-26596][runtime] Adds leadership loss handling
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderretrieval/ZooKeeperLeaderRetrievalConnectionHandlingTest.java
Labels: component=Runtime/Coordination

#19038 [FLINK-24274][docs] Wrong parameter order in documentation of State Processor API (for 1.14)
  docs/content.zh/docs/libs/state_processor_api.md
  docs/content/docs/libs/state_processor_api.md
Labels: component=Documentation

#18905 [FLINK-25927][connectors] Make flink-connector-base dependency usage consistent across all connectors
  flink-connectors/flink-connector-aws-kinesis-firehose/pom.xml
  flink-connectors/flink-connector-aws-kinesis-streams/pom.xml
  flink-connectors/flink-connector-elasticsearch6/pom.xml
  flink-connectors/flink-connector-elasticsearch7/pom.xml
  flink-connectors/flink-connector-files/pom.xml
  flink-connectors/flink-connector-hive/pom.xml
  flink-connectors/flink-connector-kafka/pom.xml
  flink-connectors/flink-connector-pulsar/pom.xml
  flink-connectors/flink-sql-connector-aws-kinesis-firehose/pom.xml
  flink-connectors/flink-sql-connector-aws-kinesis-streams/pom.xml
  flink-connectors/flink-sql-connector-hbase-1.4/pom.xml
  flink-connectors/flink-sql-connector-hbase-2.2/pom.xml
  flink-connectors/flink-sql-connector-kafka/pom.xml
  flink-connectors/flink-sql-connector-kinesis/pom.xml
  flink-dist/pom.xml
  flink-end-to-end-tests/flink-end-to-end-tests-aws-kinesis-firehose/pom.xml
  flink-end-to-end-tests/flink-end-to-end-tests-aws-kinesis-streams/pom.xml
  flink-end-to-end-tests/flink-streaming-kinesis-test/pom.xml
  flink-formats/flink-orc/pom.xml
  flink-formats/flink-parquet/pom.xml
  tools/ci/compile.sh
  tools/ci/shade.sh
Labels: component=Connectors/Common

#18491 [FLINK-25800][docs] Update wrong links in the datastream/execution_mode.md page.
  docs/content.zh/docs/dev/datastream/execution_mode.md
  docs/content.zh/docs/dev/datastream/operators/overview.md
  docs/content/docs/dev/datastream/execution_mode.md
Labels: component=Documentation

#19075 [FLINK-26500][runtime][test] Increases the deadline to wait for parallelism
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveSchedulerClusterITCase.java
Labels: component=Runtime/Coordination

#19088 [FLINK-26500][BP-1.15][runtime][test] Increases the deadline to wait for parallelism
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveSchedulerClusterITCase.java
Labels: component=Runtime/Coordination

#19076 [BP-1.14][FLINK-26500][runtime][test] Increases the deadline to wait for parallelism
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveSchedulerClusterITCase.java
Labels: component=Runtime/Coordination

#19080 [FLINK-26121][BP-1.14][runtime] Adds clearUnhandledEvents() method
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderretrieval/ZooKeeperLeaderRetrievalConnectionHandlingTest.java
Labels: component=Runtime/Coordination

#19059 [FLINK-25771][connectors][Cassandra][tests][flaky] Remove testRetrialAndDropTables and make drop tables atomic
  flink-connectors/flink-connector-cassandra/src/test/java/org/apache/flink/streaming/connectors/cassandra/CassandraConnectorITCase.java
Labels: component=Connectors/Cassandra

#18838 [FLINK-26177][Connector/pulsar] Use testcontainer pulsar runtime instead o…
  flink-connectors/flink-connector-pulsar/archunit-violations/3ac3a1dc-681f-4213-9990-b7b3298a20bc
  flink-connectors/flink-connector-pulsar/archunit-violations/f4d91193-72ba-4ce4-ad83-98f780dce581
  flink-connectors/flink-connector-pulsar/archunit-violations/stored.rules
  flink-connectors/flink-connector-pulsar/pom.xml
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/sink/PulsarSinkITCase.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/sink/writer/PulsarWriterTest.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/source/PulsarSourceITCase.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/source/reader/source/PulsarOrderedSourceReaderTest.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/source/reader/source/PulsarSourceReaderTestBase.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/testutils/PulsarTestSuiteBase.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/testutils/function/ControlSource.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/testutils/runtime/PulsarRuntime.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/testutils/runtime/PulsarRuntimeUtils.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/testutils/runtime/embedded/PulsarEmbeddedRuntime.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/testutils/runtime/mock/BlankBrokerInterceptor.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/testutils/runtime/mock/MockBookKeeperClientFactory.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/testutils/runtime/mock/MockPulsarService.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/testutils/runtime/mock/MockZooKeeperClientFactory.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/testutils/runtime/mock/NonClosableMockBookKeeper.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/testutils/runtime/mock/PulsarMockRuntime.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/testutils/runtime/mock/SameThreadOrderedSafeExecutor.java
  flink-connectors/flink-connector-pulsar/src/test/resources/containers/txnStandalone.conf
Labels: component=Connectors/Pulsar

#19098 [FLINK-26650][checkpoint] Avoid to print stack trace for checkpoint trigger failure if not all tasks are started
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointFailureManager.java
Labels: component=Runtime/Checkpointing

#19096 [FLINK-26063][runtime] Set current key before polling next PQ element
  flink-runtime/src/main/java/org/apache/flink/runtime/state/InternalPriorityQueue.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/InternalTimerServiceImpl.java
  flink-tests/src/test/java/org/apache/flink/test/state/ChangelogRescalingITCase.java
Labels: component=Runtime/StateBackends

#18790 [FLINK-26018][connector/common] Create per-split output on split addition in SourceOperator
  flink-connectors/flink-connector-base/pom.xml
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/reader/SourceReaderBase.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/reader/splitreader/SplitReader.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/reader/SourceReaderBaseTest.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/source/KafkaSourceITCase.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/SourceOperator.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/source/SourceOperatorEventTimeTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/source/TestingSourceOperator.java
Labels: component=Connectors/Common

#18854 [FLINK-25648][Kubernetes] Avoid redundant to query Kubernetes deployment when creating task manager pods
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/Fabric8FlinkKubeClient.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/KubernetesClientTestBase.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/Fabric8FlinkKubeClientTest.java
Labels: component=Deployment/Kubernetes

#18739 [FLINK-26030][yarn] Set FLINK_LIB_DIR to 'lib' under working dir in YARN containers
  flink-core/src/main/java/org/apache/flink/configuration/ConfigConstants.java
  flink-yarn/src/main/java/org/apache/flink/yarn/YarnClusterDescriptor.java
  flink-yarn/src/test/java/org/apache/flink/yarn/YarnClusterDescriptorTest.java
Labels: component=Deployment/YARN

#19082 [FLINK-26596][BP-1.14][runtime][test] Adds leadership loss handling
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderretrieval/ZooKeeperLeaderRetrievalConnectionHandlingTest.java
Labels: component=Runtime/Coordination

#18796 [FLINK-26166][runtime-web] Add auto newline detection to prettier formatter
  flink-runtime-web/web-dashboard/.prettierrc
Labels: component=Runtime/WebFrontend

#19081 [FLINK-26106][runtime] State change log storage is always 'filesystem…
  flink-tests/src/test/java/org/apache/flink/runtime/operators/lifecycle/BoundedSourceITCase.java
Labels: component=API/Core

#19029 [FLINK-26418][runtime][test] Use java.io.tmpdir for tmpWorkingDir
  flink-runtime/src/test/java/org/apache/flink/runtime/util/TestingTaskManagerRuntimeInfo.java
Labels: component=TableSQL/Planner

#19035 [FLINK-26281][connectors/elasticsearch] setting default delivery guarantee to AT_LEAST_ONCE
  docs/content/docs/connectors/datastream/elasticsearch.md
  docs/content/docs/connectors/table/elasticsearch.md
  flink-connectors/flink-connector-elasticsearch-base/src/main/java/org/apache/flink/connector/elasticsearch/sink/ElasticsearchSink.java
  flink-connectors/flink-connector-elasticsearch-base/src/main/java/org/apache/flink/connector/elasticsearch/sink/ElasticsearchSinkBuilderBase.java
  flink-connectors/flink-connector-elasticsearch-base/src/main/java/org/apache/flink/connector/elasticsearch/table/ElasticsearchConnectorOptions.java
  flink-connectors/flink-connector-elasticsearch-base/src/test/java/org/apache/flink/connector/elasticsearch/sink/ElasticsearchSinkBuilderBaseTest.java
  flink-connectors/flink-connector-elasticsearch6/src/main/java/org/apache/flink/connector/elasticsearch/sink/Elasticsearch6SinkBuilder.java
  flink-connectors/flink-connector-elasticsearch7/src/main/java/org/apache/flink/connector/elasticsearch/sink/Elasticsearch7SinkBuilder.java
Labels: component=Connectors/ElasticSearch

#19083 [FLINK-26604][doc] add more information for Avro records support and clean up redundant content of bounded and unbounded data
  docs/content.zh/docs/connectors/datastream/formats/parquet.md
  docs/content/docs/connectors/datastream/formats/parquet.md
Labels: component=<none>

#19103 [FLINK-26658][docs] Migrate documentation build to Github Actions
  .github/workflows/docs.sh
  .github/workflows/docs.yml
  tools/ci/build_docs.sh
  tools/ci/docs.sh
Labels: component=Documentation, component=ProjectWebsite

#19115 [FLINK-26680][coordination] Properly handle deleted jobs during recovery
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/runner/SessionDispatcherLeaderProcess.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/runner/SessionDispatcherLeaderProcessTest.java
Labels: component=Runtime/Coordination

#19125 [FLINK-26693][Documentation] Modify the grammar mistakes in savepoint
  docs/content/docs/ops/state/savepoints.md
Labels: component=Documentation

#19130 [FLINK-26687][Connectors][NiFi] Remove Apache NiFi connector
  docs/content.zh/docs/connectors/datastream/nifi.md
  docs/content.zh/docs/connectors/datastream/overview.md
  docs/content/docs/connectors/datastream/nifi.md
  docs/content/docs/connectors/datastream/overview.md
  flink-architecture-tests/flink-architecture-tests-production/pom.xml
  flink-architecture-tests/pom.xml
  flink-connectors/flink-connector-nifi/pom.xml
  flink-connectors/flink-connector-nifi/src/main/java/org/apache/flink/streaming/connectors/nifi/NiFiDataPacket.java
  flink-connectors/flink-connector-nifi/src/main/java/org/apache/flink/streaming/connectors/nifi/NiFiDataPacketBuilder.java
  flink-connectors/flink-connector-nifi/src/main/java/org/apache/flink/streaming/connectors/nifi/NiFiSink.java
  flink-connectors/flink-connector-nifi/src/main/java/org/apache/flink/streaming/connectors/nifi/NiFiSource.java
  flink-connectors/flink-connector-nifi/src/main/java/org/apache/flink/streaming/connectors/nifi/StandardNiFiDataPacket.java
  flink-connectors/flink-connector-nifi/src/test/java/org/apache/flink/streaming/connectors/nifi/examples/NiFiSinkTopologyExample.java
  flink-connectors/flink-connector-nifi/src/test/java/org/apache/flink/streaming/connectors/nifi/examples/NiFiSourceTopologyExample.java
  flink-connectors/flink-connector-nifi/src/test/resources/NiFi_Flink.xml
  flink-connectors/pom.xml
  tools/ci/stage.sh
Labels: component=Connectors/Nifi

#19134 [FLINK-26604][doc] backport the AvroParquet doc to 1.15
  docs/content.zh/docs/connectors/datastream/formats/parquet.md
  docs/content/docs/connectors/datastream/formats/parquet.md
Labels: component=Documentation, component=Formats

#19131 [FLINK-26701] Revert FLINK-25927 apart from adding connector-base to flink-dist
  flink-connectors/flink-connector-aws-kinesis-firehose/pom.xml
  flink-connectors/flink-connector-aws-kinesis-streams/pom.xml
  flink-connectors/flink-connector-elasticsearch6/pom.xml
  flink-connectors/flink-connector-elasticsearch7/pom.xml
  flink-connectors/flink-connector-files/pom.xml
  flink-connectors/flink-connector-hive/pom.xml
  flink-connectors/flink-connector-kafka/pom.xml
  flink-connectors/flink-connector-pulsar/pom.xml
  flink-connectors/flink-sql-connector-aws-kinesis-firehose/pom.xml
  flink-connectors/flink-sql-connector-aws-kinesis-streams/pom.xml
  flink-connectors/flink-sql-connector-hbase-1.4/pom.xml
  flink-connectors/flink-sql-connector-hbase-2.2/pom.xml
  flink-connectors/flink-sql-connector-kafka/pom.xml
  flink-connectors/flink-sql-connector-kinesis/pom.xml
  flink-end-to-end-tests/flink-end-to-end-tests-aws-kinesis-firehose/pom.xml
  flink-end-to-end-tests/flink-end-to-end-tests-aws-kinesis-streams/pom.xml
  flink-end-to-end-tests/flink-streaming-kinesis-test/pom.xml
  flink-formats/flink-orc/pom.xml
  flink-formats/flink-parquet/pom.xml
  tools/ci/compile.sh
  tools/ci/shade.sh
Labels: component=Connectors/Common

#19139 [FLINK-26716][test][connectors/jdbc] Migrate PostgreSQL tests to Testcontainers
  flink-connectors/flink-connector-jdbc/pom.xml
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/catalog/PostgresCatalogTestBase.java
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/catalog/factory/JdbcCatalogFactoryTest.java
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/xa/JdbcExactlyOnceSinkE2eTest.java
  flink-test-utils-parent/flink-test-utils-junit/src/main/java/org/apache/flink/util/DockerImageVersions.java
Labels: component=Tests, component=Connectors/JDBC

#19010 [FLINK-26381][docs] Wrong document order of Chinese version
  docs/content.zh/docs/learn-flink/datastream_api.md
  docs/content.zh/docs/learn-flink/event_driven.md
  docs/content.zh/docs/learn-flink/fault_tolerance.md
  docs/content.zh/docs/learn-flink/streaming_analytics.md
Labels: component=chinese-translation

#18646 [FLINK-25797][docs-zh] Translate datastream/formats/parquet.md page into Chinese.
  docs/content.zh/docs/connectors/datastream/formats/parquet.md
Labels: component=Documentation

#19070 [FLINK-26618][sql-client] Fix Remove-Jar statement not effective
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/context/SessionContext.java
  flink-table/flink-sql-client/src/test/resources/sql/set.q
Labels: component=TableSQL/Client

#19160 [FLINK-26723][runtime]fix the error message thrown by SourceCoordinatorContext
  flink-runtime/src/main/java/org/apache/flink/runtime/source/coordinator/SourceCoordinatorContext.java
  flink-runtime/src/test/java/org/apache/flink/runtime/source/coordinator/SourceCoordinatorContextTest.java
Labels: component=Runtime/Coordination

#19132 [BP-1.14][FLINK-26618] Fix pipeline.jars not aligned with remove-jar statement
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/context/SessionContext.java
  flink-table/flink-sql-client/src/test/resources/sql/set.q
Labels: component=TableSQL/Client

#19133 [BP-1.15][FLINK-26618] Fix pipeline.jars not aligned with remove-jar statement
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/context/SessionContext.java
  flink-table/flink-sql-client/src/test/resources/sql/set.q
Labels: component=TableSQL/Client

#19141 [FLINK-26717][fs]Move s3 common utils to flink-core
  flink-core/src/main/java/org/apache/flink/core/fs/BackPressuringExecutor.java
  flink-core/src/main/java/org/apache/flink/core/fs/OffsetAwareOutputStream.java
  flink-core/src/main/java/org/apache/flink/core/fs/RefCountedBufferingFileStream.java
  flink-core/src/main/java/org/apache/flink/core/fs/RefCountedFSOutputStream.java
  flink-core/src/main/java/org/apache/flink/core/fs/RefCountedFile.java
  flink-core/src/main/java/org/apache/flink/core/fs/RefCountedFileWithStream.java
  flink-core/src/main/java/org/apache/flink/core/fs/RefCountedTmpFileCreator.java
  flink-core/src/test/java/org/apache/flink/core/fs/RefCountedBufferingFileStreamTest.java
  flink-core/src/test/java/org/apache/flink/core/fs/RefCountedFileWithStreamTest.java
  flink-filesystems/flink-s3-fs-base/src/main/java/org/apache/flink/fs/s3/common/FlinkS3FileSystem.java
  flink-filesystems/flink-s3-fs-base/src/main/java/org/apache/flink/fs/s3/common/writer/RecoverableMultiPartUpload.java
  flink-filesystems/flink-s3-fs-base/src/main/java/org/apache/flink/fs/s3/common/writer/RecoverableMultiPartUploadImpl.java
  flink-filesystems/flink-s3-fs-base/src/main/java/org/apache/flink/fs/s3/common/writer/S3RecoverableFsDataOutputStream.java
  flink-filesystems/flink-s3-fs-base/src/main/java/org/apache/flink/fs/s3/common/writer/S3RecoverableMultipartUploadFactory.java
  flink-filesystems/flink-s3-fs-base/src/main/java/org/apache/flink/fs/s3/common/writer/S3RecoverableWriter.java
  flink-filesystems/flink-s3-fs-base/src/test/java/org/apache/flink/fs/s3/common/writer/RecoverableMultiPartUploadImplTest.java
  flink-filesystems/flink-s3-fs-base/src/test/java/org/apache/flink/fs/s3/common/writer/S3RecoverableFsDataOutputStreamTest.java
Labels: component=Connectors/FileSystem

#18857 [FLINK-26016][hive][BP-1.14] Fix FileSystemLookupFunction does not produce correct results when hive table uses columnar storage
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveLookupJoinITCase.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/filesystem/FileSystemLookupFunction.java
Labels: component=Connectors/Hive

#19171 [BP-1.14][FLINK-26381][docs] Wrong document order of Chinese version
  docs/content.zh/docs/learn-flink/datastream_api.md
  docs/content.zh/docs/learn-flink/event_driven.md
  docs/content.zh/docs/learn-flink/fault_tolerance.md
  docs/content.zh/docs/learn-flink/streaming_analytics.md
Labels: component=chinese-translation

#19170 [BP-1.15][FLINK-26381][docs] Wrong document order of Chinese version
  docs/content.zh/docs/learn-flink/datastream_api.md
  docs/content.zh/docs/learn-flink/event_driven.md
  docs/content.zh/docs/learn-flink/fault_tolerance.md
  docs/content.zh/docs/learn-flink/streaming_analytics.md
Labels: component=chinese-translation

#18982 [FLINK-26334][datastream] Fix getWindowStartWithOffset in TimeWindow.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/windowing/windows/TimeWindow.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/windowing/TimeWindowTest.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/window/TimeWindow.java
Labels: component=API/DataStream

#19159 [FLINK-26334][datastream] for 1.15.0 . Modified getWindowStartWithOff…
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/windowing/windows/TimeWindow.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/windowing/TimeWindowTest.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/window/TimeWindow.java
Labels: component=API/DataStream

#19158 [FLINK-26334][datastream] for 1.14.0 . Modified getWindowStartWithOff…
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/windowing/windows/TimeWindow.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/windowing/TimeWindowTest.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/window/TimeWindow.java
Labels: component=API/DataStream

#19094 [FLINK-26642][connector/pulsar] Fix support for non-partitioned topic
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/sink/writer/topic/TopicMetadataListener.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/topic/TopicNameUtils.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/sink/writer/topic/TopicMetadataListenerTest.java
Labels: component=Connectors/Pulsar

#19168 [BP-1.15][FLINK-26642][connector/pulsar] Fix support for non-partitioned topic for Release-1.15
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/sink/writer/topic/TopicMetadataListener.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/topic/TopicNameUtils.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/sink/writer/topic/TopicMetadataListenerTest.java
Labels: component=Connectors/Pulsar

#19118 [FLINK-26281][connectors/elasticsearch] setting default delivery guarantee to AT_LEAST_ONCE
  docs/content/docs/connectors/datastream/elasticsearch.md
  docs/content/docs/connectors/table/elasticsearch.md
  flink-connectors/flink-connector-elasticsearch-base/src/main/java/org/apache/flink/connector/elasticsearch/sink/ElasticsearchSink.java
  flink-connectors/flink-connector-elasticsearch-base/src/main/java/org/apache/flink/connector/elasticsearch/sink/ElasticsearchSinkBuilderBase.java
  flink-connectors/flink-connector-elasticsearch-base/src/main/java/org/apache/flink/connector/elasticsearch/table/ElasticsearchConnectorOptions.java
  flink-connectors/flink-connector-elasticsearch-base/src/test/java/org/apache/flink/connector/elasticsearch/sink/ElasticsearchSinkBuilderBaseTest.java
  flink-connectors/flink-connector-elasticsearch6/src/main/java/org/apache/flink/connector/elasticsearch/sink/Elasticsearch6SinkBuilder.java
  flink-connectors/flink-connector-elasticsearch7/src/main/java/org/apache/flink/connector/elasticsearch/sink/Elasticsearch7SinkBuilder.java
Labels: component=Connectors/ElasticSearch

#18991 [FLINK-26279][runtime] Add mailbox delay and throughput metrics
  docs/content.zh/docs/ops/metrics.md
  docs/content/docs/ops/metrics.md
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/DescriptiveStatisticsHistogram.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/MetricNames.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/groups/TaskIOMetricGroup.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/mailbox/MailboxProcessor.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/mailbox/TaskMailbox.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/mailbox/TaskMailboxImpl.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/mailbox/TaskMailboxProcessorTest.java
Labels: component=Runtime/Metrics

#19062 [FLINK-26592][state/changelog] Use mailbox in FsStateChangelogWriter instead of a lock
  flink-dstl/flink-dstl-dfs/src/main/java/org/apache/flink/changelog/fs/FsStateChangelogStorage.java
  flink-dstl/flink-dstl-dfs/src/main/java/org/apache/flink/changelog/fs/FsStateChangelogWriter.java
  flink-dstl/flink-dstl-dfs/src/test/java/org/apache/flink/changelog/fs/BatchingStateChangeUploadSchedulerTest.java
  flink-dstl/flink-dstl-dfs/src/test/java/org/apache/flink/changelog/fs/ChangelogStorageMetricsTest.java
  flink-dstl/flink-dstl-dfs/src/test/java/org/apache/flink/changelog/fs/FsStateChangelogStorageTest.java
  flink-dstl/flink-dstl-dfs/src/test/java/org/apache/flink/changelog/fs/FsStateChangelogWriterSqnTest.java
  flink-dstl/flink-dstl-dfs/src/test/java/org/apache/flink/changelog/fs/FsStateChangelogWriterTest.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/changelog/StateChangelogStorage.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/changelog/inmemory/InMemoryStateChangelogStorage.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/TaskExecutorStateChangelogStoragesManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/changelog/inmemory/StateChangelogStorageLoaderTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/changelog/inmemory/StateChangelogStorageTest.java
  flink-state-backends/flink-statebackend-changelog/src/main/java/org/apache/flink/state/changelog/ChangelogStateBackend.java
  flink-state-backends/flink-statebackend-changelog/src/test/java/org/apache/flink/state/changelog/ChangelogKeyedStateBackendTest.java
Labels: component=Runtime/StateBackends

#19157 [FLINK-25904][metrics] Lazily initialize Percentile
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/DescriptiveStatisticsHistogramStatistics.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/DescriptiveStatisticsHistogramTest.java
Labels: component=Runtime/Metrics

#19007 [FLINK-26495][table-planner] Prohibit hints(dynamic table options) on view
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliClientITCase.java
  flink-table/flink-sql-client/src/test/resources/sql/view.q
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/schema/ExpandingPreparingTable.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/TableEnvironmentTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/hint/OptionsHintTest.scala
Labels: component=TableSQL/Planner

#19181 [FLINK-11388][fs]add abstract test classes for recoverable writers(s3/oss)
  flink-filesystems/flink-hadoop-fs/src/test/java/org/apache/flink/runtime/fs/hdfs/AbstractHadoopRecoverableWriterExceptionITCase.java
  flink-filesystems/flink-hadoop-fs/src/test/java/org/apache/flink/runtime/fs/hdfs/AbstractHadoopRecoverableWriterITCase.java
  flink-filesystems/flink-s3-fs-hadoop/src/test/java/org/apache/flink/fs/s3hadoop/HadoopS3RecoverableWriterExceptionITCase.java
  flink-filesystems/flink-s3-fs-hadoop/src/test/java/org/apache/flink/fs/s3hadoop/HadoopS3RecoverableWriterITCase.java
Labels: component=Connectors/FileSystem, component=FileSystems

#19189 [FLINK-26779][rest] OperationKey implements Serializable
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/handler/async/OperationKey.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/handler/job/AsynchronousJobOperationKey.java
Labels: component=Runtime/Coordination

#19175 [FLINK-26758][container][JUnit5 Migration] Module: flink-container
  flink-container/src/test/java/org/apache/flink/container/entrypoint/StandaloneApplicationClusterConfigurationParserFactoryTest.java
  flink-container/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
  flink-table/flink-table-api-java-bridge/src/test/java/org/apache/flink/table/factories/PrintSinkFactoryTest.java
Labels: component=<none>

#19169 [FLINK-26747][flink-external-resource-gpu][JUnit5 Migration] Module: flink-external-resources
  flink-external-resources/flink-external-resource-gpu/src/test/java/org/apache/flink/externalresource/gpu/GPUDiscoveryScriptTest.java
  flink-external-resources/flink-external-resource-gpu/src/test/java/org/apache/flink/externalresource/gpu/GPUDriverTest.java
  flink-external-resources/flink-external-resource-gpu/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
Labels: component=Tests

#19201 [FLINK-26805][table] Managed table breaks legacy connector without 'connector.type'
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/catalog/ManagedTableListener.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/factories/TableFactoryUtil.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/delegation/PlannerBase.scala
  flink-table/flink-table-planner/src/test/java/org/apache/flink/connector/file/table/LegacyTableFactory.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/stream/sql/LegacyTableFactoryTest.java
  flink-table/flink-table-planner/src/test/resources/META-INF/services/org.apache.flink.table.factories.TableFactory
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/LegacyTableFactoryTest.xml
Labels: component=TableSQL/API

#19183 [FLINK-26766][Runtime/StateBackends] Fix ChangelogStateHandleStreamImpl#getIntersection
  flink-runtime/src/main/java/org/apache/flink/runtime/state/changelog/ChangelogStateHandleStreamImpl.java
Labels: component=Runtime/StateBackends

#19204 [FLINK-26701][connectors] Revert FLINK-25927 apart from adding connector-base to flink-dist
  flink-connectors/flink-connector-aws-kinesis-firehose/pom.xml
  flink-connectors/flink-connector-aws-kinesis-streams/pom.xml
  flink-connectors/flink-connector-elasticsearch6/pom.xml
  flink-connectors/flink-connector-elasticsearch7/pom.xml
  flink-connectors/flink-connector-files/pom.xml
  flink-connectors/flink-connector-hive/pom.xml
  flink-connectors/flink-connector-kafka/pom.xml
  flink-connectors/flink-connector-pulsar/pom.xml
  flink-connectors/flink-sql-connector-aws-kinesis-firehose/pom.xml
  flink-connectors/flink-sql-connector-aws-kinesis-streams/pom.xml
  flink-connectors/flink-sql-connector-hbase-1.4/pom.xml
  flink-connectors/flink-sql-connector-hbase-2.2/pom.xml
  flink-connectors/flink-sql-connector-kafka/pom.xml
  flink-connectors/flink-sql-connector-kinesis/pom.xml
  flink-end-to-end-tests/flink-end-to-end-tests-aws-kinesis-firehose/pom.xml
  flink-end-to-end-tests/flink-end-to-end-tests-aws-kinesis-streams/pom.xml
  flink-end-to-end-tests/flink-streaming-kinesis-test/pom.xml
  flink-formats/flink-orc/pom.xml
  flink-formats/flink-parquet/pom.xml
  tools/ci/compile.sh
  tools/ci/shade.sh
Labels: component=Connectors/Common

#19212 [FLINK-26819][table-runtime] Fix wrong results when AppendOnlyFirstNFunction with offset and without rank number
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/rank/AppendOnlyFirstNFunction.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/operators/rank/AppendOnlyFirstNFunctionTest.java
Labels: component=TableSQL/Runtime

#19209 [FLINK-26805][table] Managed table breaks legacy connector without 'connector.type'
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/catalog/ManagedTableListener.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/factories/TableFactoryUtil.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/delegation/PlannerBase.scala
  flink-table/flink-table-planner/src/test/java/org/apache/flink/connector/file/table/LegacyTableFactory.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/stream/sql/LegacyTableFactoryTest.java
  flink-table/flink-table-planner/src/test/resources/META-INF/services/org.apache.flink.table.factories.TableFactory
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/LegacyTableFactoryTest.xml
Labels: component=TableSQL/API

#19153 [FLINK-26695][runtime] Evaluation of deleteConfigMap's return value added
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/Fabric8FlinkKubeClient.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/FlinkKubeClient.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/Fabric8FlinkKubeClientTest.java
Labels: component=Runtime/Coordination, component=Deployment/Kubernetes

#19207 [FLINK-26700][docs] Document restore mode in chinese
  docs/content.zh/docs/ops/state/savepoints.md
  docs/content/docs/ops/state/savepoints.md
Labels: component=Documentation

#19217 [FLINK-26789][tests] Fix broken RescaleCheckpointManuallyITCase
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/RescaleCheckpointManuallyITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/RescalingITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/utils/RescalingTestUtils.java
Labels: component=Runtime/Checkpointing

#19222 [FLINK-26809][tests] Assert histogram state after stopping the uploader
  flink-dstl/flink-dstl-dfs/src/test/java/org/apache/flink/changelog/fs/ChangelogStorageMetricsTest.java
Labels: component=Runtime/StateBackends, component=Runtime/Metrics

#19161 [FLINK-26736][tests][JUnit5 migration] flink-avro-confluent-registry
  flink-formats/flink-avro-confluent-registry/src/test/java/org/apache/flink/formats/avro/registry/confluent/CachedSchemaCoderProviderTest.java
  flink-formats/flink-avro-confluent-registry/src/test/java/org/apache/flink/formats/avro/registry/confluent/ConfluentSchemaRegistryCoderTest.java
  flink-formats/flink-avro-confluent-registry/src/test/java/org/apache/flink/formats/avro/registry/confluent/RegistryAvroFormatFactoryTest.java
  flink-formats/flink-avro-confluent-registry/src/test/java/org/apache/flink/formats/avro/registry/confluent/RegistryAvroRowDataSeDeSchemaTest.java
  flink-formats/flink-avro-confluent-registry/src/test/java/org/apache/flink/formats/avro/registry/confluent/debezium/DebeziumAvroFormatFactoryTest.java
  flink-formats/flink-avro-confluent-registry/src/test/java/org/apache/flink/formats/avro/registry/confluent/debezium/DebeziumAvroSerDeSchemaTest.java
  flink-formats/flink-avro-confluent-registry/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
Labels: component=<none>

#19063 [FLINK-26615][tests] Fix timings in BatchingStateChangeUploadSchedulerTest.testUploadTimeout
  flink-dstl/flink-dstl-dfs/src/test/java/org/apache/flink/changelog/fs/BatchingStateChangeUploadSchedulerTest.java
Labels: component=Tests, component=Runtime/StateBackends

#19104 [FLINK-26395][docs] Correct the wrong description of RAND_INTEGER.
  docs/data/sql_functions.yml
  docs/data/sql_functions_zh.yml
  flink-python/pyflink/table/expressions.py
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/Expressions.java
Labels: component=Documentation

#19135 [FLINK-26708] TimestampsAndWatermarksOperator should not propagate WatermarkStatus
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/TimestampsAndWatermarksOperator.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/TimestampsAndWatermarksOperatorTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/util/OneInputStreamOperatorTestHarness.java
Labels: component=API/DataStream

#19072 [FLINK-11388][fs] Add Aliyun OSS recoverable writer
  flink-filesystems/flink-oss-fs-hadoop/src/main/java/org/apache/flink/fs/osshadoop/FlinkOSSFileSystem.java
  flink-filesystems/flink-oss-fs-hadoop/src/main/java/org/apache/flink/fs/osshadoop/OSSAccessor.java
  flink-filesystems/flink-oss-fs-hadoop/src/main/java/org/apache/flink/fs/osshadoop/OSSFileSystemFactory.java
  flink-filesystems/flink-oss-fs-hadoop/src/main/java/org/apache/flink/fs/osshadoop/writer/OSSCommitter.java
  flink-filesystems/flink-oss-fs-hadoop/src/main/java/org/apache/flink/fs/osshadoop/writer/OSSRecoverable.java
  flink-filesystems/flink-oss-fs-hadoop/src/main/java/org/apache/flink/fs/osshadoop/writer/OSSRecoverableFsDataOutputStream.java
  flink-filesystems/flink-oss-fs-hadoop/src/main/java/org/apache/flink/fs/osshadoop/writer/OSSRecoverableMultipartUpload.java
  flink-filesystems/flink-oss-fs-hadoop/src/main/java/org/apache/flink/fs/osshadoop/writer/OSSRecoverableSerializer.java
  flink-filesystems/flink-oss-fs-hadoop/src/main/java/org/apache/flink/fs/osshadoop/writer/OSSRecoverableWriter.java
  flink-filesystems/flink-oss-fs-hadoop/src/test/java/org/apache/flink/fs/osshadoop/HadoopOSSRecoverableWriterExceptionITCase.java
  flink-filesystems/flink-oss-fs-hadoop/src/test/java/org/apache/flink/fs/osshadoop/HadoopOSSRecoverableWriterITCase.java
  flink-filesystems/flink-oss-fs-hadoop/src/test/java/org/apache/flink/fs/osshadoop/OSSTestUtils.java
  flink-filesystems/flink-oss-fs-hadoop/src/test/java/org/apache/flink/fs/osshadoop/writer/OSSRecoverableFsDataOutputStreamTest.java
  flink-filesystems/flink-oss-fs-hadoop/src/test/java/org/apache/flink/fs/osshadoop/writer/OSSRecoverableMultipartUploadTest.java
  flink-filesystems/flink-oss-fs-hadoop/src/test/java/org/apache/flink/fs/osshadoop/writer/OSSRecoverableSerializerTest.java
Labels: component=Connectors/FileSystem, component=FileSystems

#19225 [FLINK-26799][Runtime/StateBackends] fix StateChangeFormat#read and e…
  flink-dstl/flink-dstl-dfs/src/main/java/org/apache/flink/changelog/fs/StateChangeFormat.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/changelog/inmemory/StateChangelogStorageTest.java
Labels: component=Runtime/StateBackends

#19110 [BP-1.15][FLINK-26018][connector/common] Create per-split output on split addition in SourceOperator
  flink-connectors/flink-connector-base/pom.xml
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/reader/SourceReaderBase.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/reader/splitreader/SplitReader.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/reader/SourceReaderBaseTest.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/source/KafkaSourceITCase.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/SourceOperator.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/source/SourceOperatorEventTimeTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/source/TestingSourceOperator.java
Labels: component=Connectors/Common

#19128 [BP-1.14][FLINK-26018][connector/common] Create per-split output on split addition in SourceOperator
  flink-connectors/flink-connector-base/pom.xml
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/reader/SourceReaderBase.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/reader/splitreader/SplitReader.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/reader/SourceReaderBaseTest.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/source/KafkaSourceITCase.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/SourceOperator.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/source/SourceOperatorEventTimeTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/source/TestingSourceOperator.java
Labels: component=Connectors/Common

#19230 [FLINK-26849][metrics] Deduplicate metric (un)registration logic
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/MetricRegistryImpl.java
Labels: component=Runtime/Metrics

#19231 [FLINK-26850][metrics] Add Metric#getMetricType
  flink-metrics/flink-metrics-core/src/main/java/org/apache/flink/metrics/Counter.java
  flink-metrics/flink-metrics-core/src/main/java/org/apache/flink/metrics/Gauge.java
  flink-metrics/flink-metrics-core/src/main/java/org/apache/flink/metrics/Histogram.java
  flink-metrics/flink-metrics-core/src/main/java/org/apache/flink/metrics/Meter.java
  flink-metrics/flink-metrics-core/src/main/java/org/apache/flink/metrics/Metric.java
  flink-metrics/flink-metrics-core/src/main/java/org/apache/flink/metrics/MetricType.java
  flink-metrics/flink-metrics-core/src/main/java/org/apache/flink/metrics/reporter/AbstractReporter.java
  flink-metrics/flink-metrics-datadog/src/main/java/org/apache/flink/metrics/datadog/DatadogHttpReporter.java
  flink-metrics/flink-metrics-dropwizard/src/main/java/org/apache/flink/dropwizard/ScheduledDropwizardReporter.java
  flink-metrics/flink-metrics-influxdb/src/main/java/org/apache/flink/metrics/influxdb/AbstractReporter.java
  flink-metrics/flink-metrics-jmx/src/main/java/org/apache/flink/metrics/jmx/JMXReporter.java
  flink-metrics/flink-metrics-prometheus/src/main/java/org/apache/flink/metrics/prometheus/AbstractPrometheusReporter.java
  flink-metrics/flink-metrics-prometheus/src/test/java/org/apache/flink/metrics/prometheus/PrometheusReporterTest.java
Labels: component=Runtime/Metrics

#19056 [FLINK-26028][Connector/pulsar] add sink documentation; change some source documentation
  docs/content.zh/docs/connectors/datastream/pulsar.md
  docs/content/docs/connectors/datastream/pulsar.md
  docs/layouts/shortcodes/generated/pulsar_producer_configuration.html
  docs/layouts/shortcodes/generated/pulsar_sink_configuration.html
  flink-docs/src/main/java/org/apache/flink/docs/configuration/ConfigOptionsDocGenerator.java
Labels: component=Connectors/Pulsar

#19078 [FLINK-26629][runtime] fix bug in code comment of SubtaskStateMapper.RANGE
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/api/writer/SubtaskStateMapper.java
Labels: component=Runtime/Network

#19267 [Backport 1.15][FLINK-26028] Add pulsar sink documentation
  docs/content.zh/docs/connectors/datastream/pulsar.md
  docs/content/docs/connectors/datastream/pulsar.md
  docs/layouts/shortcodes/generated/pulsar_producer_configuration.html
  docs/layouts/shortcodes/generated/pulsar_sink_configuration.html
  flink-docs/src/main/java/org/apache/flink/docs/configuration/ConfigOptionsDocGenerator.java
Labels: component=Connectors/Pulsar

#19258 [BP-1.14][FLINK-26395][docs] Correct the wrong description of SQL function: RAND_INTEGER
  docs/data/sql_functions.yml
  docs/data/sql_functions_zh.yml
  flink-python/pyflink/table/expressions.py
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/Expressions.java
Labels: component=Documentation

#19256 [FLINK-26794][tests] Use API to access job checkpoints in IT cases
  flink-runtime/src/test/java/org/apache/flink/runtime/testutils/CommonTestUtils.java
  flink-tests/src/test/java/org/apache/flink/test/state/ChangelogCompatibilityITCase.java
  flink-tests/src/test/java/org/apache/flink/test/state/ChangelogRescalingITCase.java
  flink-tests/src/test/java/org/apache/flink/test/util/TestUtils.java
Labels: component=Runtime/StateBackends

#19174 [FLINK-26673][changelog] Disable periodic materialization when periodi…
  docs/layouts/shortcodes/generated/state_backend_changelog_section.html
  docs/layouts/shortcodes/generated/state_changelog_configuration.html
  flink-core/src/main/java/org/apache/flink/configuration/StateChangelogOptions.java
  flink-state-backends/flink-statebackend-changelog/src/main/java/org/apache/flink/state/changelog/PeriodicMaterializationManager.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/ChangelogPeriodicMaterializationITCase.java
Labels: component=Tests, component=Runtime/StateBackends

#19249 [FLINK-26092][table-runtime] Fix `JSON_OBJECTAGG` when emitting `NULL`
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/functions/BuiltInAggregateFunctionTestBase.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/functions/aggregate/JsonObjectAggFunction.java
Labels: component=Tests, component=Runtime/StateBackends

#19276 [FLINK-26882][tests] Fix unstable RescaleCheckpointManuallyITCase
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/RescaleCheckpointManuallyITCase.java
Labels: component=Tests, component=Runtime/Checkpointing

#19270 [FLINK-25227][table-planner] Fix LEAST/GREATEST to return primitives
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/calls/ScalarOperatorGens.scala
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/functions/GreatestLeastFunctionsITCase.java
Labels: component=TableSQL/Runtime

#19261 [FLINK-26887][tests] Drop Jepsen tests
  flink-jepsen/.gitignore
  flink-jepsen/README.md
  flink-jepsen/bin/.gitkeep
  flink-jepsen/docker/.gitignore
  flink-jepsen/docker/Dockerfile-control
  flink-jepsen/docker/Dockerfile-db
  flink-jepsen/docker/docker-compose.yml
  flink-jepsen/docker/run-tests.sh
  flink-jepsen/docker/sshd-run
  flink-jepsen/docker/test-specs/standalone-session-kafka.edn
  flink-jepsen/docker/test-specs/standalone-session.edn
  flink-jepsen/docker/test-specs/yarn-job.edn
  flink-jepsen/docker/test-specs/yarn-session.edn
  flink-jepsen/docker/up.sh
  flink-jepsen/project.clj
  flink-jepsen/src/jepsen/flink/checker.clj
  flink-jepsen/src/jepsen/flink/client.clj
  flink-jepsen/src/jepsen/flink/db.clj
  flink-jepsen/src/jepsen/flink/flink.clj
  flink-jepsen/src/jepsen/flink/generator.clj
  flink-jepsen/src/jepsen/flink/hadoop.clj
  flink-jepsen/src/jepsen/flink/kafka.clj
  flink-jepsen/src/jepsen/flink/nemesis.clj
  flink-jepsen/src/jepsen/flink/utils.clj
  flink-jepsen/src/jepsen/flink/zookeeper.clj
  flink-jepsen/test/jepsen/flink/checker_test.clj
  flink-jepsen/test/jepsen/flink/client_test.clj
  flink-jepsen/test/jepsen/flink/db_test.clj
  flink-jepsen/test/jepsen/flink/generator_test.clj
  flink-jepsen/test/jepsen/flink/utils_test.clj
  flink-jepsen/test/jepsen/flink/zookeeper_test.clj
  pom.xml
Labels: component=Tests

#19260 [FLINK-26885][metrics][tests] Cleanup MetricRegistryImplTest
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/MetricRegistryImplTest.java
Labels: component=Tests, component=Runtime/Metrics

#18765 [FLINK-26134][docs] Added table with Checkpoint/Savepoint guarantees …
  docs/content.zh/docs/concepts/stateful-stream-processing.md
  docs/content.zh/docs/ops/state/checkpoints.md
  docs/content.zh/docs/ops/state/checkpoints_vs_savepoints.md
  docs/content.zh/docs/ops/state/savepoints.md
  docs/content/docs/concepts/stateful-stream-processing.md
  docs/content/docs/ops/state/checkpoints.md
  docs/content/docs/ops/state/checkpoints_vs_savepoints.md
  docs/content/docs/ops/state/savepoints.md
Labels: component=Documentation, component=Runtime/Checkpointing

#19284 [FLINK-25227][BP-1.15][table-planner] Fix LEAST/GREATEST to return primitives
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/calls/ScalarOperatorGens.scala
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/functions/GreatestLeastFunctionsITCase.java
Labels: component=TableSQL/Runtime

#19277 [FLINK-26281][BP 1.15][connectors/elasticsearch] Improve documentation
  docs/content.zh/docs/connectors/datastream/elasticsearch.md
  docs/content/docs/connectors/datastream/elasticsearch.md
Labels: component=Connectors/ElasticSearch

#19281 [FLINK-26923] Do not trigger global failover if failed during commiting side-effects during stop-with-savepoint for adaptive scheduler
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/StopWithSavepoint.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/stopwithsavepoint/StopWithSavepointStoppingException.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/SavepointITCase.java
  flink-tests/src/test/java/org/apache/flink/test/scheduling/AdaptiveSchedulerITCase.java
Labels: component=Runtime/Checkpointing

#18634 [FLINK-25961] [connectors/elasticsearch] Remove transport client from Elasticsearch/7 connectors (tests only)
  flink-connectors/flink-connector-elasticsearch-base/pom.xml
  flink-connectors/flink-connector-elasticsearch-base/src/test/java/org/apache/flink/streaming/connectors/elasticsearch/ElasticsearchSinkTestBase.java
  flink-connectors/flink-connector-elasticsearch-base/src/test/java/org/apache/flink/streaming/connectors/elasticsearch/testutils/SourceSinkDataTestKit.java
  flink-connectors/flink-connector-elasticsearch6/pom.xml
  flink-connectors/flink-connector-elasticsearch6/src/test/java/org/apache/flink/streaming/connectors/elasticsearch/table/Elasticsearch6DynamicSinkITCase.java
  flink-connectors/flink-connector-elasticsearch6/src/test/java/org/apache/flink/streaming/connectors/elasticsearch6/ElasticsearchSinkITCase.java
  flink-connectors/flink-connector-elasticsearch7/pom.xml
  flink-connectors/flink-connector-elasticsearch7/src/test/java/org/apache/flink/streaming/connectors/elasticsearch/table/Elasticsearch7DynamicSinkITCase.java
  flink-connectors/flink-connector-elasticsearch7/src/test/java/org/apache/flink/streaming/connectors/elasticsearch7/ElasticsearchSinkITCase.java
Labels: component=Connectors/ElasticSearch

#19034 [FLINK-26575][checkpoint] Improve the info message when restoring keyed state backend
  flink-runtime/src/main/java/org/apache/flink/runtime/state/KeyGroupRangeOffsets.java
Labels: component=Runtime/Checkpointing

#19282 [FLINK-26928][connector/kafka] Remove unnecessary Docker network creation in tests
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/KafkaTestEnvironmentImpl.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/KafkaTableTestBase.java
Labels: component=Connectors/Kafka
