Repository apache/flink, pull requests merged in 2022-08, with the labels that each got.

#20000 [FLINK-28096][hive] Hive dialect support set variables
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveInternalOptions.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/operations/HiveSetOperation.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveDialectFactory.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveOperationExecutor.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParser.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/copy/HiveSetProcessor.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDialectITCase.java
Labels: component=Connectors/Hive

#20127 [FLINK-26270] Flink SQL write data to kafka by CSV format , whether d…
  docs/content.zh/docs/connectors/table/formats/csv.md
  docs/content/docs/connectors/table/formats/csv.md
  flink-formats/flink-csv/src/main/java/org/apache/flink/formats/csv/CsvCommons.java
  flink-formats/flink-csv/src/main/java/org/apache/flink/formats/csv/CsvFormatFactory.java
  flink-formats/flink-csv/src/main/java/org/apache/flink/formats/csv/CsvFormatOptions.java
  flink-formats/flink-csv/src/main/java/org/apache/flink/formats/csv/CsvRowDataSerializationSchema.java
  flink-formats/flink-csv/src/test/java/org/apache/flink/formats/csv/CsvFormatFactoryTest.java
Labels: component=Formats

#20395 [FLINK-28748][docs-zh] Translate "SELECT DISTINCT" page into Chinese.
  docs/content.zh/docs/dev/table/sql/queries/select-distinct.md
Labels: component=Documentation

#20400 [FLINK-24787][docs] Add more details of state latency tracking documentation
  docs/content.zh/docs/ops/metrics.md
  docs/content/docs/ops/metrics.md
Labels: component=Documentation, component=Runtime/StateBackends, component=Runtime/Metrics

#19017 [FLINK-26542][hive] Hive dialect supports queries with multiple same columns in select
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParserCalcitePlanner.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/copy/HiveParserRowResolver.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDialectQueryITCase.java
  flink-connectors/flink-connector-hive/src/test/resources/query-test/join.q
  flink-connectors/flink-connector-hive/src/test/resources/query-test/set_op.q
Labels: component=Connectors/Hive

#19283 [FLINK-27016][hive] Improve supporting for complex data type for Hive dialect
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/module/hive/HiveModule.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/module/hive/udf/generic/HiveGenericUDFArrayAccessStructField.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParserRexNodeConverter.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/copy/HiveParserTypeConverter.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDialectQueryITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/module/hive/HiveModuleTest.java
Labels: component=Connectors/Hive

#17326 [FLINK-24342] Add right bracket to filesystem partitioner escape list
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/utils/PartitionPathUtils.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/utils/PartitionPathUtilsTest.java
Labels: review=description?, component=Connectors/FileSystem

#18635 [FLINK-25962][format-avro] Use namespaces for generated records
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/src/test/java/org/apache/flink/tests/util/kafka/SQLClientSchemaRegistryITCase.java
  flink-formats/flink-avro/src/main/java/org/apache/flink/formats/avro/typeutils/AvroSchemaConverter.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/AvroBulkFormatTest.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/typeutils/AvroSchemaConverterTest.java
Labels: component=<none>

#20335 [FLINK-28373][network] Read a full buffer of data per file IO read request for sort-shuffle
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/buffer/CompositeBuffer.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/buffer/ReadOnlySlicedNetworkBuffer.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/netty/NettyMessage.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/PartitionedFileReader.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/SortMergeSubpartitionReader.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/LocalInputChannel.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/buffer/ReadOnlySlicedBufferTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/SortMergeResultPartitionReadSchedulerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/SortMergeResultPartitionTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/SortMergeSubpartitionReaderTest.java
Labels: component=Runtime/Network

#20196 [FLINK-28417][table] Add interfaces for LookupCache and default implementation
  flink-metrics/flink-metrics-core/src/main/java/org/apache/flink/metrics/groups/CacheMetricGroup.java
  flink-metrics/flink-metrics-core/src/main/java/org/apache/flink/metrics/groups/UnregisteredMetricsGroup.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/MetricNames.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/groups/InternalCacheMetricGroup.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/connector/source/lookup/LookupOptions.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/connector/source/lookup/cache/DefaultLookupCache.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/connector/source/lookup/cache/LookupCache.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/connector/source/lookup/cache/DefaultLookupCacheTest.java
Labels: component=TableSQL/API

#20414 [FLINK-28418][table] Add runtime provider interfaces for partial caching lookup
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/connector/source/lookup/PartialCachingAsyncLookupProvider.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/connector/source/lookup/PartialCachingLookupProvider.java
Labels: component=TableSQL/API

#20313 [FLINK-28597][state] Discard initial checkpoints without a delay in common cases
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointProperties.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/Checkpoints.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CompletedCheckpoint.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/PendingCheckpoint.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/metadata/CheckpointMetadata.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/metadata/MetadataSerializer.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/metadata/MetadataSerializers.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/metadata/MetadataV1Serializer.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/metadata/MetadataV2Serializer.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/metadata/MetadataV3Serializer.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/metadata/MetadataV4Serializer.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/SharedStateRegistry.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/SharedStateRegistryImpl.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/changelog/ChangelogStateBackendHandle.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointsTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/metadata/MetadataV3SerializerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/metadata/MetadataV4SerializerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/SharedStateRegistryTest.java
Labels: component=Runtime/Checkpointing

#20417 [FLINK-28776][table-planner] RowTimeMiniBatchAssginerOperator doesn't…
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/wmassigners/RowTimeMiniBatchAssginerOperator.java
Labels: component=<none>

#20316 [FLINK-27292][docs-zh] Translate the "Data Type Extraction" section of "Data Types" to Chinese
  docs/content.zh/docs/dev/table/types.md
Labels: component=Documentation, component=chinese-translation

#20060 [FLINK-28212][hive] Trim the project node with window expressions to fix IndexOutOfBoundsException when using Hive dialect.
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParserCalcitePlanner.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParserProjectWindowTrimmer.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDialectQueryITCase.java
Labels: component=Connectors/Hive

#20409 [FLINK-25252][Connector/Kafka] Re-enabling Kafka tests for Java 11
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/src/test/java/org/apache/flink/tests/util/kafka/SQLClientKafkaITCase.java
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/src/test/java/org/apache/flink/tests/util/kafka/SmokeKafkaITCase.java
Labels: component=Tests, component=Connectors/Kafka

#20394 [FLINK-28720][hive][connectors] Add Hive partition when flink has no data to write
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/table/FileSystemCommitter.java
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/table/FileSystemOutputFormat.java
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/table/PartitionLoader.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/table/FileSystemCommitterTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTableSinkITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/TableEnvHiveConnectorITCase.java
Labels: component=Connectors/Hive

#20392 [FLINK-28459][table-planner] Supports non-atomic CREATE TABLE AS SELECT
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/SqlCreateTableConverter.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/SqlToOperationConverter.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/TableSinkTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/TableSinkITCase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/TableSinkITCase.scala
Labels: component=<none>

#20449 [FLINK-28804][formats] Use proper stand-ins for missing metric groups
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/table/DeserializationSchemaAdapter.java
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/table/SerializationSchemaAdapter.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/sink/KafkaRecordSerializationSchemaBuilderTest.java
Labels: component=Formats

#20446 [FLINK-28795][hive] Fix unstable test for HiveDialectQueryITCase#testInsertDirectory
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDialectQueryITCase.java
Labels: component=Connectors/Hive

#20450 [FLINK-28801][fs] Bump OSS SDK to 3.13.2
  flink-filesystems/flink-oss-fs-hadoop/pom.xml
  flink-filesystems/flink-oss-fs-hadoop/src/main/resources/META-INF/NOTICE
Labels: component=Connectors/FileSystem

#19656 [FLINK-26371][hive] Support variable substitution for sql statement while using Hive dialect
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParser.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDialectITCase.java
Labels: component=<none>

#18937 [FLINK-26362][hive] fix IndexOutOfBoundsException when sub-query selects all fields when using Hive dialect
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParserDMLHelper.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParserRexNodeConverter.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDialectQueryITCase.java
  flink-connectors/flink-connector-hive/src/test/resources/query-test/sub_query.q
Labels: component=<none>

#20465 [FLINK-28835][docs] Fix unaligned checkpoints documented compatibility
  docs/content.zh/docs/ops/state/checkpoints_vs_savepoints.md
  docs/content/docs/ops/state/checkpoints_vs_savepoints.md
Labels: component=Documentation

#20102 [FLINK-28296][hive] Support the Hive UDAF which implement GenericUDAFResolver interface
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/factories/HiveFunctionDefinitionFactory.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/functions/hive/HiveGenericUDAF.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/functions/hive/HiveGenericUDAFTest.java
Labels: component=<none>

#20347 [FLINK-27620][sql] Flink SQL supports PERCENT_RANK function
  docs/data/sql_functions.yml
  docs/data/sql_functions_zh.yml
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/functions/aggfunctions/PercentRankAggFunction.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/functions/sql/FlinkSqlOperatorTable.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/utils/AggFunctionFactory.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/OverAggregateITCase.scala
Labels: component=TableSQL/API

#20452 [FLINK-28808][csv] Create mapper on server-side
  flink-formats/flink-csv/src/main/java/org/apache/flink/formats/csv/CsvFileFormatFactory.java
  flink-formats/flink-csv/src/main/java/org/apache/flink/formats/csv/RowDataToCsvConverters.java
  flink-python/pom.xml
  flink-python/pyflink/datastream/formats/csv.py
  flink-python/src/main/java/org/apache/flink/formats/csv/PythonCsvUtils.java
Labels: component=Formats

#20381 [FLINK-28713][tests] Remove unused curator-test dependency
  flink-end-to-end-tests/flink-end-to-end-tests-common-elasticsearch/pom.xml
  flink-table/flink-sql-client/pom.xml
  flink-test-utils-parent/flink-test-utils/pom.xml
Labels: component=BuildSystem, component=Tests

#19709 [FLINK-25645][table-runtime] UnsupportedOperationException would thrown out when hash shuffle by a field with array type
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/CodeGenUtils.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/GenerateUtils.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/HashCodeGenerator.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/utils/AggregateUtil.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/codegen/HashCodeGeneratorTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/CalcITCase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/agg/AggregateITCaseBase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/AggregateITCase.scala
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/generated/HashFunction.java
Labels: component=TableSQL/Planner

#20464 [FLINK-28834][examples-table] Add temporal join example and IT test
  flink-examples/flink-examples-table/src/main/java/org/apache/flink/table/examples/java/basics/TemporalJoinSQLExample.java
  flink-examples/flink-examples-table/src/test/java/org/apache/flink/table/examples/java/basics/TemporalJoinSQLExampleITCase.java
Labels: component=<none>

#20473 [FLINK-28807] Honor schema lifecycle
  flink-connectors/flink-connector-aws-kinesis-firehose/src/main/java/org/apache/flink/connector/firehose/sink/KinesisFirehoseSinkElementConverter.java
  flink-connectors/flink-connector-aws-kinesis-streams/src/main/java/org/apache/flink/connector/kinesis/sink/KinesisStreamsSinkElementConverter.java
  flink-connectors/flink-connector-elasticsearch-base/src/main/java/org/apache/flink/connector/elasticsearch/table/RowElasticsearchEmitter.java
  flink-connectors/flink-connector-elasticsearch-base/src/main/java/org/apache/flink/streaming/connectors/elasticsearch/ElasticsearchSinkBase.java
  flink-connectors/flink-connector-elasticsearch-base/src/main/java/org/apache/flink/streaming/connectors/elasticsearch/ElasticsearchSinkFunction.java
  flink-connectors/flink-connector-elasticsearch-base/src/main/java/org/apache/flink/streaming/connectors/elasticsearch/table/RowElasticsearchSinkFunction.java
  flink-connectors/flink-connector-elasticsearch-base/src/test/java/org/apache/flink/streaming/connectors/elasticsearch/ElasticsearchSinkBaseTest.java
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/sink/DefaultKafkaSinkContext.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/JSONKeyValueDeserializationSchemaTest.java
  flink-formats/flink-csv/pom.xml
  flink-formats/flink-csv/src/test/java/org/apache/flink/formats/csv/CsvFormatFactoryTest.java
  flink-formats/flink-csv/src/test/java/org/apache/flink/formats/csv/CsvRowDataSerDeSchemaTest.java
  flink-formats/flink-csv/src/test/java/org/apache/flink/formats/csv/CsvRowDeSerializationSchemaTest.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/canal/CanalJsonDeserializationSchema.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/canal/CanalJsonSerializationSchema.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/debezium/DebeziumJsonDeserializationSchema.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/debezium/DebeziumJsonSerializationSchema.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/maxwell/MaxwellJsonDeserializationSchema.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/maxwell/MaxwellJsonSerializationSchema.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/ogg/OggJsonDeserializationSchema.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/ogg/OggJsonSerializationSchema.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/JsonRowDataSerDeSchemaTest.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/JsonRowSerializationSchemaTest.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/canal/CanalJsonSerDeSchemaTest.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/debezium/DebeziumJsonSerDeSchemaTest.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/maxwell/MaxwellJsonSerDerTest.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/ogg/OggJsonSerDeSchemaTest.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/utils/DeserializationSchemaMatcher.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/utils/SerializationSchemaMatcher.java
  flink-python/pom.xml
  flink-python/pyflink/common/tests/test_serialization_schemas.py
  flink-python/pyflink/datastream/connectors/tests/test_kafka.py
  flink-python/pyflink/pyflink_gateway_server.py
  flink-test-utils-parent/flink-connector-test-utils/src/main/java/org/apache/flink/connector/testutils/formats/SchemaTestUtils.java
  flink-test-utils-parent/flink-test-utils/src/main/java/org/apache/flink/connector/upserttest/sink/UpsertTestSink.java
Labels: component=API/Python, component=Tests, component=Connectors/Kafka, component=Connectors/Kinesis, component=Connectors/ElasticSearch, component=Formats

#20461 [FLINK-28826][network] Avoid notifying too frequently when recycling buffers for BatchShuffleReadBufferPool
  flink-runtime/src/main/java/org/apache/flink/runtime/io/disk/BatchShuffleReadBufferPool.java
Labels: component=Runtime/Network

#20463 [FLINK-28828][network] Sorting all unfinished readers in batches at one time in SortMergeResultPartitionReadScheduler
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/SortMergeResultPartitionReadScheduler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/SortMergeSubpartitionReader.java
Labels: component=Runtime/Network

#20458 [FLINK-28822] Avoid create to VectorizedColumnBatch for each read in …
  flink-python/src/main/java/org/apache/flink/table/runtime/arrow/ArrowReader.java
Labels: component=TableSQL/Runtime

#20480 [FLINK-28420] Support partial caching in sync and async lookup runner
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/AsyncLookupFunction.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/LookupFunction.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/common/CommonExecLookupJoin.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/utils/LookupJoinUtil.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/LookupJoinCodeGenerator.scala
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/factories/TestValuesRuntimeFunctions.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/factories/TestValuesTableFactory.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/join/LookupJoinITCase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/AsyncLookupJoinITCase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/LookupJoinITCase.scala
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/functions/table/lookup/CachingAsyncLookupFunction.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/functions/table/lookup/CachingLookupFunction.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/functions/table/lookup/LookupCacheManager.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/functions/table/CachingAsyncLookupFunctionTest.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/functions/table/CachingLookupFunctionTest.java
Labels: component=TableSQL/Runtime

#20459 [FLINK-28823][network] Enlarge the max requested buffers for SortMergeResultPartitionReadScheduler
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/SortMergeResultPartition.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/SortMergeResultPartitionReadScheduler.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/SortMergeResultPartitionReadSchedulerTest.java
Labels: component=Runtime/Network

#20460 [FLINK-28827][python] Complete DataType support in DataStream API
  flink-python/pyflink/common/types.py
  flink-python/pyflink/datastream/connectors/tests/test_kafka.py
  flink-python/pyflink/fn_execution/coder_impl_fast.pxd
  flink-python/pyflink/fn_execution/coder_impl_fast.pyx
  flink-python/pyflink/fn_execution/coder_impl_slow.py
  flink-python/pyflink/fn_execution/coders.py
  flink-python/pyflink/fn_execution/flink_fn_execution_pb2.py
  flink-python/pyflink/proto/flink-fn-execution.proto
  flink-python/pyflink/testing/test_case_utils.py
  flink-python/src/main/java/org/apache/flink/streaming/api/utils/PythonTypeUtils.java
Labels: component=API/Python

#20350 [FLINK-28663][runtime] Allow multiple downstream consumer job vertices sharing the same intermediate dataset at scheduler side
  flink-optimizer/src/main/java/org/apache/flink/optimizer/plantranslate/JobGraphGenerator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/deployment/TaskDeploymentDescriptorFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/DefaultExecutionGraph.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/EdgeManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/EdgeManagerBuildUtil.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/Execution.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/IntermediateResult.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/IntermediateResultPartition.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/failover/flip1/RestartPipelinedRegionFailoverStrategy.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/failover/flip1/SchedulingPipelinedRegionComputeUtil.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/NettyShuffleEnvironment.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobgraph/IntermediateDataSet.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobgraph/JobEdge.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobgraph/JobGraph.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobgraph/JobVertex.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/SsgNetworkMemoryCalculationUtils.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adapter/DefaultExecutionTopology.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adapter/DefaultResultPartition.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/strategy/ConsumedPartitionGroup.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/strategy/SchedulingResultPartition.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/strategy/VertexwiseSchedulingStrategy.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/BlockingResultPartitionReleaseTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/DefaultExecutionGraphConstructionTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/EdgeManagerBuildUtilTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/EdgeManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/ExecutionGraphTestUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/ExecutionJobVertexTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/IntermediateResultPartitionTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/RemoveCachedShuffleDescriptorTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/NoOpJobMasterPartitionTracker.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobgraph/JobTaskVertexTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/JobIntermediateDatasetReuseTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/SchedulerTestingUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adapter/DefaultExecutionTopologyTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adapter/DefaultExecutionVertexTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adapter/DefaultResultPartitionTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptivebatch/AdaptiveBatchSchedulerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptivebatch/forwardgroup/ForwardGroupComputeUtilTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/strategy/TestingSchedulingExecutionVertex.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/strategy/TestingSchedulingResultPartition.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/strategy/TestingSchedulingTopology.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/StreamingJobGraphGenerator.java
  flink-tests/src/test/java/org/apache/flink/runtime/operators/lifecycle/validation/TestJobDataFlowValidator.java
Labels: component=Runtime/Coordination

#20496 [FLINK-28094][kinesis] Removing references to Regions enum and instea…
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/proxy/DynamoDBStreamsProxy.java
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/util/AWSUtil.java
Labels: component=Connectors/Kinesis

#20486 [FLINK-23252][state/changelog] [docs] Update the docs about disabling changelog
  docs/content.zh/docs/ops/state/state_backends.md
  docs/content/docs/ops/state/state_backends.md
Labels: component=Runtime/StateBackends

#20494 [FLINK-28865] Add new PrintSink
  flink-core/src/main/java/org/apache/flink/api/common/functions/util/PrintSinkOutputWriter.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/sink/PrintSink.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/functions/PrintSinkTest.java
Labels: component=API/DataStream

#20351 [FLINK-28380][runtime] Produce one intermediate dataset for multiple consumer job vertices consuming the same data
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/ResultPartitionType.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/NonChainedOutput.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/StreamConfig.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/StreamingJobGraphGenerator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/partitioner/CustomPartitionerWrapper.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/OperatorChain.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/graph/StreamingJobGraphGeneratorTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/partitioner/ForwardForConsecutiveHashPartitionerTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/partitioner/ForwardForUnspecifiedPartitionerTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamConfigChainer.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskMailboxTestHarnessBuilder.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTestHarness.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/util/MockStreamConfig.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/partitioner/BinaryHashPartitioner.java
Labels: component=Runtime/Network, component=Runtime/Coordination, component=Client/JobSubmission

#20442 [FLINK-24614][Connectors/PARQUET] Add Complex types support for parquet reader
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/ParquetVectorizedInputFormat.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/vector/ColumnBatchFactory.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/vector/ParquetColumnarRowSplitReader.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/vector/ParquetDecimalVector.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/vector/ParquetSplitReaderUtil.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/vector/reader/ArrayColumnReader.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/vector/reader/BaseVectorizedColumnReader.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/vector/reader/MapColumnReader.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/vector/reader/ParquetDataColumnReader.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/vector/reader/ParquetDataColumnReaderFactory.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/vector/reader/RowColumnReader.java
  flink-formats/flink-parquet/src/test/java/org/apache/flink/formats/parquet/ParquetColumnarRowInputFormatTest.java
  flink-formats/flink-parquet/src/test/java/org/apache/flink/formats/parquet/utils/ParquetWriterUtil.java
  flink-formats/flink-parquet/src/test/java/org/apache/flink/formats/parquet/vector/ParquetColumnarRowSplitReaderTest.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/data/columnar/vector/heap/AbstractHeapVector.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/data/columnar/vector/heap/HeapArrayVector.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/data/columnar/vector/heap/HeapMapVector.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/data/columnar/vector/heap/HeapRowVector.java
Labels: component=Formats

#20484 [FLINK-28843][StateBackend] Fix restore from incremental checkpoint with changelog checkpoint in claim mode
  flink-runtime/src/main/java/org/apache/flink/runtime/state/changelog/ChangelogStateBackendHandle.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/ChangelogPeriodicMaterializationSwitchStateBackendITCase.java
Labels: component=Runtime/StateBackends

#20476 [FLINK-28094][kinesis][glue] Updating AWS SDK versions for Kinesis connectors and Glue Schema Registry formats
  flink-connectors/flink-connector-aws-base/pom.xml
  flink-connectors/flink-connector-aws-base/src/test/java/org/apache/flink/connector/aws/util/AWSAsyncSinkUtilTest.java
  flink-connectors/flink-connector-aws-kinesis-firehose/pom.xml
  flink-connectors/flink-connector-aws-kinesis-streams/pom.xml
  flink-connectors/flink-connector-kinesis/pom.xml
  flink-connectors/flink-connector-kinesis/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/util/JobManagerWatermarkTrackerTest.java
  flink-connectors/flink-sql-connector-aws-kinesis-firehose/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-aws-kinesis-streams/src/main/resources/META-INF/NOTICE
  flink-end-to-end-tests/flink-end-to-end-tests-aws-kinesis-firehose/pom.xml
  flink-end-to-end-tests/flink-glue-schema-registry-avro-test/pom.xml
  flink-end-to-end-tests/flink-glue-schema-registry-json-test/pom.xml
  flink-formats/flink-avro-glue-schema-registry/pom.xml
  flink-formats/flink-json-glue-schema-registry/pom.xml
Labels: component=Connectors/Kinesis

#19556 [FLINK-26413][hive] Hive dialect supports "LOAD DATA INPATH"
  flink-connectors/flink-connector-hive/pom.xml
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/HiveCatalog.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/client/HiveMetastoreClientWrapper.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/client/HiveShim.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/client/HiveShimV100.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/client/HiveShimV200.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/client/HiveShimV210.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/client/HiveShimV310.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveOperationExecutor.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParser.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveSessionState.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/SqlFunctionConverter.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/copy/HiveParserContext.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/operation/HiveLoadDataOperation.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/parse/HiveParserLoadSemanticAnalyzer.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDialectQueryITCase.java
  flink-connectors/flink-connector-hive/src/test/resources/explain/testLoadData.out
Labels: component=<none>

#20457 [FLINK-28373][network] Read a full buffer of data per file IO read request for sort-shuffle
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/buffer/CompositeBuffer.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/buffer/ReadOnlySlicedNetworkBuffer.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/netty/NettyMessage.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/PartitionedFileReader.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/SortMergeSubpartitionReader.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/LocalInputChannel.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/buffer/ReadOnlySlicedBufferTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/PartitionedFileWriteReadTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/SortMergeResultPartitionReadSchedulerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/SortMergeResultPartitionTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/SortMergeSubpartitionReaderTest.java
Labels: component=Runtime/Network

#18469 [FLINK-25485][connector/jdbc] Append default JDBC URL option of batch writing in MySQL.
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/dialect/JdbcDialect.java
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/dialect/mysql/MySqlDialect.java
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/internal/options/JdbcConnectorOptions.java
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/dialect/mysql/MySqlDialectTest.java
Labels: component=Connectors/JDBC

#20453 [FLINK-25244][hbase] Enable Java 11 tests for HBase 2.2
  flink-connectors/flink-connector-hbase-2.2/pom.xml
Labels: component=BuildSystem, component=Tests

#20103 [FLINK-28178][runtime-web] Show the delegated StateBackend and whethe…
  docs/layouts/shortcodes/generated/rest_v1_dispatcher.html
  docs/static/generated/rest_v1_dispatcher.yml
  flink-runtime-web/src/test/resources/rest_api_v1.snapshot
  flink-runtime-web/web-dashboard/src/app/interfaces/job-checkpoint.ts
  flink-runtime-web/web-dashboard/src/app/pages/job/checkpoints/job-checkpoints.component.html
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/AccessExecutionGraph.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/ArchivedExecutionGraph.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/DefaultExecutionGraph.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/handler/job/checkpoints/CheckpointConfigHandler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/messages/checkpoints/CheckpointConfigInfo.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/StateBackend.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/StateBackendLoader.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/delegate/DelegatingStateBackend.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/handler/legacy/utils/ArchivedExecutionGraphBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/messages/checkpoints/CheckpointConfigInfoTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/StateTrackingMockExecutionGraph.java
Labels: component=Runtime/WebFrontend, component=Runtime/Checkpointing

#20503 [FLINK-28873][configuration] Make jobmanager.scheduler visible in documentation
  docs/layouts/shortcodes/generated/all_jobmanager_section.html
  docs/layouts/shortcodes/generated/expert_scheduling_section.html
  docs/layouts/shortcodes/generated/job_manager_configuration.html
  flink-core/src/main/java/org/apache/flink/configuration/JobManagerOptions.java
  flink-core/src/test/java/org/apache/flink/api/common/ExecutionConfigTest.java
  flink-end-to-end-tests/test-scripts/test_tpcds.sh
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/DefaultSlotPoolServiceSchedulerFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/DefaultSchedulerFactory.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/DefaultSlotPoolServiceSchedulerFactoryTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/JobMasterSchedulerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/TestingSchedulerNGFactory.java
Labels: component=Runtime/Configuration

#20245 [FLINK-28487][connectors] Introduce configurable RateLimitingStrategy…
  flink-connectors/flink-connector-aws-kinesis-firehose/src/main/java/org/apache/flink/connector/firehose/sink/KinesisFirehoseSinkWriter.java
  flink-connectors/flink-connector-aws-kinesis-streams/src/main/java/org/apache/flink/connector/kinesis/sink/KinesisStreamsSinkWriter.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/sink/writer/AIMDRateLimitingStrategy.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/sink/writer/AsyncSinkWriter.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/sink/writer/config/AsyncSinkWriterConfiguration.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/sink/writer/strategy/AIMDScalingStrategy.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/sink/writer/strategy/BasicRequestInfo.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/sink/writer/strategy/BasicResultInfo.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/sink/writer/strategy/CongestionControlRateLimitingStrategy.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/sink/writer/strategy/NoOpScalingStrategy.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/sink/writer/strategy/RateLimitingStrategy.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/sink/writer/strategy/RequestInfo.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/sink/writer/strategy/ResultInfo.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/sink/writer/strategy/ScalingStrategy.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/ArrayListAsyncSink.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/writer/AIMDRateLimitingStrategyTest.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/writer/AsyncSinkWriterTest.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/writer/strategy/AIMDScalingStrategyTest.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/writer/strategy/CongestionControlRateLimitingStrategyTest.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/writer/strategy/NoOpScalingStrategyTest.java
Labels: component=Connectors/Common

#20386 [FLINK-28731][conf] Log dynamic properties
  flink-core/src/main/java/org/apache/flink/configuration/GlobalConfiguration.java
Labels: component=Runtime/Configuration

#20447 [FLINK-28532][table] Support full caching in lookup join runner using InputFormats as scan runtime provider
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/common/CommonExecLookupJoin.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/utils/KeySelectorUtil.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/utils/LookupJoinUtil.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/ProjectionCodeGenerator.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/common/CommonPhysicalLookupJoin.scala
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/factories/TestValuesTableFactory.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/join/LookupJoinITCase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/LookupJoinITCase.scala
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/functions/table/lookup/CachingLookupFunction.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/functions/table/lookup/fullcache/CacheLoader.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/functions/table/lookup/fullcache/LookupFullCache.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/functions/table/lookup/fullcache/ReloadTriggerContext.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/functions/table/lookup/fullcache/inputformat/InputFormatCacheLoader.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/functions/table/lookup/fullcache/inputformat/InputSplitCacheLoadTask.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/keyselector/GenericRowDataKeySelector.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/functions/table/fullcache/FullCacheTestInputFormat.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/functions/table/fullcache/TestManualCacheReloadTrigger.java
Labels: component=TableSQL/Runtime

#20404 [FLINK-28529][changelog] Fix unstable ChangelogPeriodicMaterializationSwitchStateBackendITCase#testSwitchFromDisablingToEnablingInClaimMode
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/ChangelogLocalRecoveryITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/ChangelogRecoveryITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/ChangelogRecoveryITCaseBase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/ChangelogRecoveryRescaleITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/ChangelogRecoverySwitchEnvTestBase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/ChangelogRecoverySwitchStateBackendITCase.java
Labels: component=Runtime/StateBackends, component=Runtime/Checkpointing

#20390 [FLINK-28481][k8s] Bump the fabric8 k8s-client to 5.12.3
  flink-kubernetes/pom.xml
  flink-kubernetes/src/main/resources/META-INF/NOTICE
Labels: component=Deployment/Kubernetes

#20419 [FLINK-28774][hive] Allow user to configure whether to enable sort not when it's for dynamic partition writing for HiveSource
  docs/content.zh/docs/connectors/table/hive/hive_read_write.md
  docs/content/docs/connectors/table/hive/hive_read_write.md
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveOptions.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSink.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTableSinkITCase.java
  flink-connectors/flink-connector-hive/src/test/resources/explain/testDynamicPartitionSortDisabled.out
  flink-connectors/flink-connector-hive/src/test/resources/explain/testDynamicPartitionSortEnabled.out
Labels: component=<none>

#20526 [FLINK-28060][kafka] Bump Kafka to 3.2.1
  flink-connectors/flink-connector-kafka/pom.xml
  flink-connectors/flink-sql-connector-kafka/src/main/resources/META-INF/NOTICE
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/pom.xml
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/src/test/java/org/apache/flink/tests/util/kafka/SQLClientKafkaITCase.java
  flink-end-to-end-tests/test-scripts/test_confluent_schema_registry.sh
  flink-end-to-end-tests/test-scripts/test_pyflink.sh
  flink-end-to-end-tests/test-scripts/test_sql_client.sh
  flink-examples/flink-examples-build-helper/flink-examples-streaming-state-machine/src/main/resources/META-INF/NOTICE
  flink-formats/flink-avro-confluent-registry/pom.xml
Labels: component=API/DataStream, component=Connectors/Kafka

#20537 [FLINK-28898][state/changelog] Fix unstable ChangelogRecoverySwitchStateBackendITCase#testSwitchFromEnablingToDisablingWithRescalingOut
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/ChangelogRecoveryITCaseBase.java
Labels: component=Runtime/StateBackends, component=Runtime/Checkpointing

#20532 [FLINK-28900] Fix RecreateOnResetOperatorCoordinatorTest compilation failure
  flink-runtime/src/test/java/org/apache/flink/runtime/operators/coordination/RecreateOnResetOperatorCoordinatorTest.java
Labels: component=Runtime/Coordination

#20427 [FLINK-28783] [flink-core] Class ConfigOptions's example code have error.
  flink-core/src/main/java/org/apache/flink/configuration/ConfigOptions.java
Labels: component=API/Core

#20543 [FLINK-28027][connectors] Implement slow start for AIMDRateLimitingSt…
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/sink/writer/AsyncSinkWriter.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/writer/AsyncSinkWriterTest.java
Labels: component=Connectors/Common, component=Connectors/Kinesis

#20550 [FLINK-27588][python][docs] Update broadcast state related docs
  docs/content.zh/docs/dev/datastream/fault-tolerance/broadcast_state.md
  docs/content/docs/dev/datastream/fault-tolerance/broadcast_state.md
Labels: component=Documentation, component=API/Python

#20516 [FLINK-27856][flink-kubernetes]solve the NPE error of no spec field in taskmanager pod template.
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/utils/KubernetesUtils.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/KubernetesPodTemplateTestUtils.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/utils/KubernetesUtilsTest.java
  flink-kubernetes/src/test/resources/testing-nospec-pod-template.yaml
Labels: component=Deployment/Kubernetes

#20420 [FLINK-28626][tests]Fix unstable RescaleCheckpointManuallyITCase
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/RescaleCheckpointManuallyITCase.java
Labels: component=Runtime/Checkpointing

#20558 [BP-1.15]FLINK-27856][k8s] Fix the NPE when no spec is configured in pod template
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/utils/KubernetesUtils.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/KubernetesPodTemplateTestUtils.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/utils/KubernetesUtilsTest.java
  flink-kubernetes/src/test/resources/testing-nospec-pod-template.yaml
Labels: component=Deployment/Kubernetes

#20560 [FLINK-28942][network] Fix the deadlock bug when recycling readers for SortMergeResultPartition
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/SortMergeResultPartition.java
Labels: component=<none>

#19972 [FLINK-27399][Connector/Pulsar] Change initial consuming position setting logic for better handle the checkpoint.
  docs/content.zh/docs/connectors/datastream/pulsar.md
  docs/content/docs/connectors/datastream/pulsar.md
  docs/layouts/shortcodes/generated/pulsar_consumer_configuration.html
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/PulsarSource.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/PulsarSourceBuilder.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/PulsarSourceOptions.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/config/PulsarSourceConfigUtils.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/config/SourceConfiguration.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/PulsarSourceEnumState.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/PulsarSourceEnumerator.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/SplitsAssignmentState.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/assigner/NonSharedSplitAssigner.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/assigner/SharedSplitAssigner.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/assigner/SplitAssigner.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/assigner/SplitAssignerFactory.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/cursor/CursorPosition.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/cursor/MessageIdUtils.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/cursor/StartCursor.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/cursor/StopCursor.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/cursor/start/MessageIdStartCursor.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/cursor/start/TimestampStartCursor.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/cursor/stop/EventTimestampStopCursor.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/cursor/stop/LatestMessageStopCursor.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/cursor/stop/MessageIdStopCursor.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/cursor/stop/NeverStopCursor.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/cursor/stop/PublishTimestampStopCursor.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/subscriber/PulsarSubscriber.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/reader/PulsarSourceReaderFactory.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/reader/split/PulsarOrderedPartitionSplitReader.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/reader/split/PulsarPartitionSplitReaderBase.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/reader/split/PulsarUnorderedPartitionSplitReader.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/split/PulsarPartitionSplit.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/source/PulsarSourceITCase.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/source/enumerator/PulsarSourceEnumStateSerializerTest.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/source/enumerator/PulsarSourceEnumeratorTest.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/source/enumerator/SplitsAssignmentStateTest.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/source/enumerator/assigner/NonSharedSplitAssignerTest.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/source/enumerator/assigner/SharedSplitAssignerTest.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/source/enumerator/assigner/SplitAssignerTestBase.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/source/enumerator/cursor/StopCursorTest.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/source/reader/split/PulsarPartitionSplitReaderTestBase.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/testutils/PulsarTestContext.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/testutils/runtime/PulsarRuntimeOperator.java
Labels: component=Connectors/Pulsar

#20556 [FLINK-28932][Table/SQL] Use Builder#withConfiguration instead of deprecated EnvironmentSettings#fromConfiguration
  flink-table/flink-sql-gateway/src/main/java/org/apache/flink/table/gateway/service/context/SessionContext.java
Labels: component=TableSQL/API

#19182 [FLINK-26771][Hive] Fix incomparable exception between boolean type and numeric type in Hive dialect
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParserCalcitePlanner.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParserDMLHelper.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParserRexNodeConverter.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/copy/HiveParserSqlFunctionConverter.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDialectQueryITCase.java
Labels: component=Connectors/Hive

#20530 [FLINK-28817] NullPointerException in HybridSource when restoring from checkpoint
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/hybrid/HybridSourceSplitEnumerator.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/hybrid/SwitchedSources.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/hybrid/HybridSourceSplitEnumeratorTest.java
Labels: component=Connectors/Common

#20563 [FLINK-28817][connector/common] NullPointerException in HybridSource when restoring from checkpoint
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/hybrid/HybridSourceSplitEnumerator.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/hybrid/SwitchedSources.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/hybrid/HybridSourceSplitEnumeratorTest.java
Labels: component=Connectors/Common

#20564 [BP-1.15][FLINK-27399][Connector/Pulsar] [Connector/Pulsar] Change initial consuming position setting logic for better handle the checkpoint.
  docs/content.zh/docs/connectors/datastream/pulsar.md
  docs/content/docs/connectors/datastream/pulsar.md
  docs/layouts/shortcodes/generated/pulsar_consumer_configuration.html
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/PulsarSource.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/PulsarSourceBuilder.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/PulsarSourceOptions.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/config/PulsarSourceConfigUtils.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/config/SourceConfiguration.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/PulsarSourceEnumState.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/PulsarSourceEnumerator.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/SplitsAssignmentState.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/assigner/NonSharedSplitAssigner.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/assigner/SharedSplitAssigner.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/assigner/SplitAssigner.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/assigner/SplitAssignerFactory.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/cursor/CursorPosition.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/cursor/MessageIdUtils.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/cursor/StartCursor.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/cursor/StopCursor.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/cursor/start/MessageIdStartCursor.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/cursor/start/TimestampStartCursor.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/cursor/stop/EventTimestampStopCursor.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/cursor/stop/LatestMessageStopCursor.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/cursor/stop/MessageIdStopCursor.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/cursor/stop/NeverStopCursor.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/cursor/stop/PublishTimestampStopCursor.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/subscriber/PulsarSubscriber.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/reader/PulsarSourceReaderFactory.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/reader/split/PulsarOrderedPartitionSplitReader.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/reader/split/PulsarPartitionSplitReaderBase.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/reader/split/PulsarUnorderedPartitionSplitReader.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/split/PulsarPartitionSplit.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/source/PulsarSourceITCase.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/source/enumerator/PulsarSourceEnumStateSerializerTest.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/source/enumerator/PulsarSourceEnumeratorTest.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/source/enumerator/SplitsAssignmentStateTest.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/source/enumerator/assigner/NonSharedSplitAssignerTest.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/source/enumerator/assigner/SharedSplitAssignerTest.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/source/enumerator/assigner/SplitAssignerTestBase.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/source/enumerator/cursor/StopCursorTest.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/source/reader/split/PulsarPartitionSplitReaderTestBase.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/testutils/PulsarTestContext.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/testutils/runtime/PulsarRuntimeOperator.java
Labels: component=Connectors/Pulsar

#20471 [FLINK-28208][Connectors/Hive] Set parallelism for map operator in class HiveTableSink's method createBatchSink
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSink.java
  flink-connectors/flink-connector-hive/src/test/resources/explain/testHiveTableSinkWithParallelismInBatch.out
Labels: component=Connectors/Hive

#20545 [FLINK-28916][e2e] Add e2e test for create function using jar syntax
  flink-end-to-end-tests/flink-end-to-end-tests-sql/src/test/java/org/apache/flink/table/sql/codegen/UsingRemoteJarITCase.java
  flink-end-to-end-tests/flink-end-to-end-tests-sql/src/test/resources/create_function_using_remote_jar_e2e.sql
Labels: component=TableSQL/API

#20573 [FLINK-28913][hive] Fix fail to open HiveCatalog when it's for hive3
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/client/HiveMetastoreClientWrapper.java
Labels: component=Connectors/Hive

#20182 [FLINK-28003][Table SQL / Client] Disable SqlCompleter when using -f {file}
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliClient.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliClientTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/utils/SqlParserHelper.java
Labels: component=TableSQL/Client

#20269 [FLINK-28548][Connectors / FileSystem] Fix the exception FileNotFoundException when the commit partition base path is not created
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/table/PartitionTempFileManager.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/table/FileSystemCommitterTest.java
Labels: component=Connectors/FileSystem

#20582 [BK-1.15][FLINK-27199][Connector/Pulsar] Bump pulsar to 2.10.0
  docs/layouts/shortcodes/generated/pulsar_client_configuration.html
  docs/layouts/shortcodes/generated/pulsar_producer_configuration.html
  docs/layouts/shortcodes/generated/pulsar_sink_configuration.html
  flink-connectors/flink-connector-pulsar/archunit-violations/3ac3a1dc-681f-4213-9990-b7b3298a20bc
  flink-connectors/flink-connector-pulsar/archunit-violations/f4d91193-72ba-4ce4-ad83-98f780dce581
  flink-connectors/flink-connector-pulsar/archunit-violations/stored.rules
  flink-connectors/flink-connector-pulsar/pom.xml
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/common/config/PulsarOptions.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/sink/PulsarSinkOptions.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/sink/config/PulsarSinkConfigUtils.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/sink/config/SinkConfiguration.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/sink/writer/router/MessageKeyHash.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/config/SourceConfiguration.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/cursor/start/MessageIdStartCursor.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/split/PulsarPartitionSplit.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/sink/PulsarSinkITCase.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/sink/writer/PulsarWriterTest.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/source/PulsarSourceITCase.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/source/reader/source/PulsarOrderedSourceReaderTest.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/source/reader/source/PulsarSourceReaderTestBase.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/testutils/PulsarTestSuiteBase.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/testutils/function/ControlSource.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/testutils/runtime/PulsarRuntime.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/testutils/runtime/PulsarRuntimeUtils.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/testutils/runtime/embedded/PulsarEmbeddedRuntime.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/testutils/runtime/mock/BlankBrokerInterceptor.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/testutils/runtime/mock/MockBookKeeperClientFactory.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/testutils/runtime/mock/MockPulsarService.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/testutils/runtime/mock/NonClosableMockBookKeeper.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/testutils/runtime/mock/PulsarMockRuntime.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/testutils/runtime/mock/SameThreadOrderedSafeExecutor.java
  flink-connectors/flink-connector-pulsar/src/test/resources/containers/txnStandalone.conf
  flink-connectors/flink-connector-pulsar/src/test/resources/docker/bootstrap.sh
  flink-connectors/flink-sql-connector-pulsar/src/main/resources/META-INF/NOTICE
  flink-end-to-end-tests/flink-end-to-end-tests-pulsar/pom.xml
  flink-test-utils-parent/flink-test-utils-junit/src/main/java/org/apache/flink/util/DockerImageVersions.java
Labels: component=Connectors/Pulsar

#20575 [FLINK-28955][yarn] Add direct curator-test dependency
  flink-yarn-tests/pom.xml
Labels: component=TestInfrastructure

#20588 [FLINK-28978][kinesis] Update AWS Regions validation to allow for fut…
  flink-connectors/flink-connector-aws-base/src/main/java/org/apache/flink/connector/aws/util/AWSGeneralUtil.java
  flink-connectors/flink-connector-aws-base/src/test/java/org/apache/flink/connector/aws/util/AWSGeneralUtilTest.java
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/util/AWSUtil.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/util/AWSUtilTest.java
Labels: component=Connectors/Kinesis

#19583 [FLINK-27386][hive] Fix assert exception when specific join hint in union statement
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/copy/HiveASTParseUtils.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDialectQueryITCase.java
Labels: component=Connectors/Hive

#18994 [FLINK-26505][hive] Fix IndexOutOfBoundsException for non equality condition exists in left semi join in Hive dialect
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParserCalcitePlanner.java
  flink-connectors/flink-connector-hive/src/test/resources/query-test/join.q
Labels: component=Connectors/Hive

#20571 [FLINK-27015][hive] Fix exception for casting timestamp to decimal in Hive dialect
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/module/hive/HiveModule.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/module/hive/udf/generic/HiveGenericUDFToDecimal.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParserDMLHelper.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParserRexNodeConverter.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParserUtils.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDialectQueryITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/module/hive/HiveModuleTest.java
Labels: component=<none>

#20600 [FLINK-28861][table][docs] Update "upgrading" documentation to includ…
  docs/content.zh/docs/ops/upgrading.md
  docs/content/docs/ops/upgrading.md
Labels: component=Runtime/Checkpointing

#20567 [FLINK-27917][Connector/Pulsar] Fix message assert error in PulsarUnorderedPartitionSplitReaderTest
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/source/reader/split/PulsarPartitionSplitReaderTestBase.java
Labels: component=Connectors/Pulsar

#20603 [FLINK-28861][table][docs] Update "upgrading" documentation to includ…
  docs/content.zh/docs/ops/upgrading.md
  docs/content/docs/ops/upgrading.md
Labels: component=Runtime/Checkpointing

#20424 [FLINK-28780][docs] fix incorrect description of function dayofmonth.
  docs/data/sql_functions.yml
  docs/data/sql_functions_zh.yml
Labels: component=<none>

#20551 [FLINK-28922][docs-zh] Translate "ORDER BY clause" page into Chinese.
  docs/content.zh/docs/dev/table/sql/queries/orderby.md
Labels: component=chinese-translation

#20552 [FLINK-28924][docs-zh] Translate "LIMIT clause" page into Chinese.
  docs/content.zh/docs/dev/table/sql/queries/limit.md
Labels: component=chinese-translation

#20605 [FLINK-28978][kinesis] Update AWS Regions validation to allow for fut…
  flink-connectors/flink-connector-aws-base/src/main/java/org/apache/flink/connector/aws/util/AWSGeneralUtil.java
  flink-connectors/flink-connector-aws-base/src/test/java/org/apache/flink/connector/aws/util/AWSGeneralUtilTest.java
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/util/AWSUtil.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/util/AWSUtilTest.java
Labels: component=Connectors/Kinesis

#20614 [FLINK-28488][kafka] Only forward measurable Kafka metrics and ignore others
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/streaming/connectors/kafka/internals/metrics/KafkaMetricWrapper.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/internals/metrics/KafkaMetricMutableWrapperTest.java
Labels: component=Connectors/Kafka

#20613 [FLINK-29007][e2e] Fix UsingRemoteJarITCase failed with NPE in hadoop3
  flink-end-to-end-tests/flink-end-to-end-tests-sql/pom.xml
Labels: component=TableSQL/API

#20599 [FLINK-28965][hive] Not add partition if no data is generated for dynamic partition
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/table/FileSystemCommitter.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTableSinkITCase.java
Labels: component=Connectors/Hive

#20602 [FLINK-28917][table-runtime] Add sql test for adaptive hash join
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/LongHashJoinGenerator.scala
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/runtime/batch/sql/join/AdaptiveHashJoinITCase.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/hashtable/BaseHybridHashTable.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/hashtable/BinaryHashBucketArea.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/hashtable/BinaryHashPartition.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/join/HashJoinOperator.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/join/SortMergeJoinFunction.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/join/SortMergeJoinOperator.java
Labels: component=TableSQL/Runtime

#20572 [FLINK-28956][hive] Fix non-multi insert statement fall into multi insert logic in Hive dialect
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParser.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDialectQueryITCase.java
Labels: component=Connectors/Hive

#20615 [FLINK-29017][docs] Replace all links to github master with shortcode
  docs/content.zh/docs/connectors/datastream/cassandra.md
  docs/content.zh/docs/connectors/datastream/formats/parquet.md
  docs/content.zh/docs/dev/datastream/sources.md
  docs/content.zh/docs/dev/table/sourcesSinks.md
  docs/content.zh/docs/ops/state/state_backends.md
  docs/content/docs/connectors/datastream/cassandra.md
  docs/content/docs/connectors/datastream/formats/parquet.md
  docs/content/docs/dev/datastream/sources.md
  docs/content/docs/dev/table/sourcesSinks.md
  docs/content/docs/ops/state/state_backends.md
Labels: component=<none>

#20619 [FLINK-29009][build] Converge nimbus-jose-jwt
  flink-end-to-end-tests/flink-end-to-end-tests-sql/pom.xml
Labels: component=TableSQL/API

#20645 [FLINK-29051[Quickstarts] Do not create dependency-reduced-pom for quick start
  flink-quickstart/flink-quickstart-java/src/main/resources/archetype-resources/pom.xml
  flink-quickstart/flink-quickstart-scala/src/main/resources/archetype-resources/pom.xml
Labels: component=Quickstarts

#20581 [BK-1.14][FLINK-27917][Connector/Pulsar] Fix message assert error in PulsarUnorderedPartitionSplitReaderTest
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/source/reader/split/PulsarPartitionSplitReaderTestBase.java
Labels: component=Connectors/Pulsar

#20578 [BK-1.15][FLINK-27917][Connector/Pulsar] Fix message assert error in PulsarUnorderedPartitionSplitReaderTest
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/source/reader/split/PulsarPartitionSplitReaderTestBase.java
Labels: component=Connectors/Pulsar

#20354 [FLINK-28676] Update copyright year to 2014-2022 in NOTICE files
  NOTICE
  flink-connectors/flink-connector-cassandra/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-connector-hive/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-connector-kinesis/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-aws-kinesis-firehose/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-aws-kinesis-streams/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-elasticsearch6/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-elasticsearch7/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-hbase-1.4/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-hbase-2.2/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-hive-2.3.9/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-hive-3.1.2/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-kafka/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-kinesis/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-pulsar/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-rabbitmq/src/main/resources/META-INF/NOTICE
  flink-dist-scala/src/main/resources/META-INF/NOTICE
  flink-dist/src/main/resources/META-INF/NOTICE
  flink-examples/flink-examples-build-helper/flink-examples-streaming-state-machine/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-azure-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-fs-hadoop-shaded/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-gs-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-oss-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-s3-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-s3-fs-presto/src/main/resources/META-INF/NOTICE
  flink-formats/flink-sql-avro-confluent-registry/src/main/resources/META-INF/NOTICE
  flink-formats/flink-sql-avro/src/main/resources/META-INF/NOTICE
  flink-formats/flink-sql-orc/src/main/resources/META-INF/NOTICE
  flink-formats/flink-sql-parquet/src/main/resources/META-INF/NOTICE
  flink-kubernetes/src/main/resources/META-INF/NOTICE
  flink-metrics/flink-metrics-datadog/src/main/resources/META-INF/NOTICE
  flink-metrics/flink-metrics-graphite/src/main/resources/META-INF/NOTICE
  flink-metrics/flink-metrics-influxdb/src/main/resources/META-INF/NOTICE
  flink-metrics/flink-metrics-prometheus/src/main/resources/META-INF/NOTICE
  flink-python/src/main/resources/META-INF/NOTICE
  flink-rpc/flink-rpc-akka/src/main/resources/META-INF/NOTICE
  flink-runtime-web/src/main/resources/META-INF/NOTICE
  flink-table/flink-sql-client/src/main/resources/META-INF/NOTICE
  flink-table/flink-table-api-java-uber/src/main/resources/META-INF/NOTICE
  flink-table/flink-table-code-splitter/src/main/resources/META-INF/NOTICE
  flink-table/flink-table-planner-loader-bundle/src/main/resources/META-INF/NOTICE
  flink-table/flink-table-planner/src/main/resources/META-INF/NOTICE
  flink-table/flink-table-runtime/src/main/resources/META-INF/NOTICE
  tools/releasing/NOTICE-binary_PREAMBLE.txt
Labels: component=<none>

#20631 [FLINK-29036][docs] Review and update sources.md and javadoc
  docs/content.zh/docs/dev/datastream/sources.md
  docs/content/docs/dev/datastream/sources.md
  flink-core/src/main/java/org/apache/flink/api/connector/source/ReaderOutput.java
  flink-core/src/main/java/org/apache/flink/api/connector/source/SourceReader.java
  flink-core/src/main/java/org/apache/flink/api/connector/source/SourceReaderContext.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/SourceOperator.java
Labels: component=Documentation

#20626 [FLINK-29041][tests] Add utility to test POJO compliance without any Kryo usage
  docs/content.zh/docs/dev/datastream/fault-tolerance/serialization/types_serialization.md
  docs/content/docs/dev/datastream/fault-tolerance/serialization/types_serialization.md
  flink-test-utils-parent/flink-test-utils/src/main/java/org/apache/flink/types/PojoTestUtils.java
  flink-test-utils-parent/flink-test-utils/src/test/java/org/apache/flink/types/PojoTestUtilsTest.java
Labels: component=API/DataStream, component=Tests

#20590 [FLINK-28265][k8s] Do not discard state when the AlreadyExistException is caused by retries
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/highavailability/KubernetesStateHandleStore.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/highavailability/KubernetesStateHandleStoreTest.java
Labels: component=Runtime/Coordination

#20579 [FLINK-28841][scripts][docs] Document dynamic properties support
  docs/content.zh/docs/deployment/resource-providers/standalone/docker.md
  docs/content/docs/deployment/resource-providers/standalone/docker.md
  docs/content/docs/deployment/resource-providers/standalone/overview.md
Labels: component=Documentation, component=Deployment/Scripts

#19423 [FLINK-27175][hive] Fix fail to call Hive UDAF when the UDAF accepts one parameter with array type
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/functions/hive/HiveGenericUDAF.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/functions/hive/HiveGenericUDTF.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/functions/hive/HiveScalarFunction.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/functions/hive/util/HiveFunctionUtil.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/functions/hive/HiveGenericUDAFTest.java
  flink-connectors/flink-connector-hive/src/test/resources/query-test/udaf.q
Labels: component=<none>

#20635 [FLINK-29035][table-planner] Fix bug of ExpressionReducer does not work with jar resources
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/ExpressionReducer.scala
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/runtime/batch/sql/FunctionITCase.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/runtime/stream/sql/FunctionITCase.java
Labels: component=TableSQL/Planner

#20549 [FLINK-28883][hive] Fix HiveTableSink failed to report statistic to hive metastore in batch mode
  docs/content.zh/docs/connectors/table/hive/hive_read_write.md
  docs/content/docs/connectors/table/hive/hive_read_write.md
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/table/PartitionLoader.java
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/table/TableMetaStoreFactory.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveOptions.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableMetaStoreFactory.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSink.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/HiveCatalog.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/util/HiveStatsUtil.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTableSinkITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTableSourceStatisticsReportTest.java
Labels: component=Connectors/Hive

#20673 [BP-1.15][FLINK-28265][k8s] Make KubernetesStateHandleStore#addEntry idempotent
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/highavailability/KubernetesStateHandleStore.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/highavailability/KubernetesStateHandleStoreTest.java
Labels: component=Runtime/Coordination

#20684 [FLINK-29105][k8s] Fix the unstable k8s test 'testAddAndLockShouldNotThrowAlreadyExistExceptionWithSameContents'
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/highavailability/KubernetesStateHandleStoreTest.java
Labels: component=Deployment/Kubernetes

#20656 [FLINK-29062][build] Fix protobuf plugin proxy issue on flink-protobuf module.
  flink-formats/flink-protobuf/pom.xml
Labels: component=BuildSystem

#20698 [FLINK-28609][Connector/Pulsar] PulsarSchema didn't get properly serialized
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/common/schema/PulsarSchema.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/common/schema/PulsarSchemaTest.java
Labels: component=Connectors/Pulsar

#20699 [BK-1.15][FLINK-28609][Connector/Pulsar] PulsarSchema didn't get properly serialized
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/common/schema/PulsarSchema.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/common/schema/PulsarSchemaTest.java
Labels: component=Connectors/Pulsar

#20700 [BK-1.14][FLINK-28609][Connector/Pulsar] PulsarSchema didn't get properly serialized
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/common/schema/PulsarSchema.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/common/schema/PulsarSchemaTest.java
Labels: component=Connectors/Pulsar

#20455 [FLINK-28814][Connectors][JDBC] Update org.postgresql:postgresql to 42.4.1
  flink-connectors/flink-connector-jdbc/pom.xml
Labels: component=<none>

#20331 [FLINK-28121][docs-zh]Translate "Extension Points" and "Full Stack Example" in "User-defined Sources & Sinks" page
  docs/content.zh/docs/dev/table/sourcesSinks.md
Labels: component=Documentation, component=chinese-translation

#20710 [FLINK-29123][k8s] Dynamic paramters are not pushed to working with kubernetes
  docs/layouts/shortcodes/generated/kubernetes_config_configuration.html
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/configuration/KubernetesConfigOptions.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/decorators/CmdJobManagerDecorator.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/decorators/CmdTaskManagerDecorator.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/parameters/KubernetesJobManagerParameters.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/parameters/KubernetesTaskManagerParameters.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/KubernetesJobManagerTestBase.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/KubernetesTaskManagerTestBase.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/CmdJobManagerDecoratorTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/CmdTaskManagerDecoratorTest.java
Labels: component=Deployment/Kubernetes

#20397 [FLINK-28751][Table SQL/Runtime] Optimize the performance of the json…
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/functions/JsonPathCache.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/functions/SqlJsonUtils.java
Labels: component=TableSQL/Runtime

#20616 [FLINK-29005][Connectors/Parquet] Parquet row type reader should not return null value when some child fields is null
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTableSourceITCase.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/vector/reader/RowColumnReader.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/data/columnar/vector/heap/HeapRowVector.java
Labels: component=Formats

#18975 [FLINK-26474][hive] Fold exprNode to fix the issue of failing to call some hive udf required constant parameters with implicit constant passed
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParserCalcitePlanner.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParserRexNodeConverter.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParserTypeCheckProcFactory.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDialectQueryITCase.java
  flink-connectors/flink-connector-hive/src/test/resources/query-test/udf.q
Labels: component=Connectors/Hive

#20620 [FLINK-29019][doc][parquet] Updating parquet format document that support read complex type
  docs/content.zh/docs/connectors/table/formats/parquet.md
  docs/content/docs/connectors/table/formats/parquet.md
Labels: component=Formats

#20708 [FLINK-29130][state] Correct the description of state.backend.local-recovery
  docs/content.zh/docs/ops/state/large_state_tuning.md
  docs/layouts/shortcodes/generated/checkpointing_configuration.html
  docs/layouts/shortcodes/generated/common_state_backends_section.html
  flink-core/src/main/java/org/apache/flink/configuration/CheckpointingOptions.java
Labels: component=Documentation, component=Runtime/StateBackends

#18133 [FLINK-24718][avro] update AVRO dependency to latest version
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/pom.xml
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/typeutils/AvroTypeExtractionTest.java
  flink-formats/flink-sql-avro-confluent-registry/src/main/resources/META-INF/NOTICE
  flink-formats/flink-sql-avro/src/main/resources/META-INF/NOTICE
  pom.xml
Labels: component=Formats
