Repository apache/flink, pull requests merged in 2022-09, with the labels that each got.

#20717 [FLINK-29138][table-planner] fix project can not be pushed into lookup source
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/table/JdbcDynamicTableSourceITCase.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/rules/logical/ProjectSnapshotTransposeRule.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/rules/FlinkBatchRuleSets.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/rules/FlinkStreamRuleSets.scala
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/factories/TestValuesRuntimeFunctions.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/factories/TestValuesTableFactory.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/rules/logical/ProjectSnapshotTransposeRuleTest.java
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/join/LookupJoinTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/LookupJoinJsonPlanTest_jsonplan/testJoinTemporalTableWithProjectionPushDown.out
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/rules/logical/ProjectSnapshotTransposeRuleTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/NonDeterministicDagTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/join/TemporalJoinTest.xml
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/functions/table/fullcache/FullCacheTestInputFormat.java
Labels: component=TableSQL/Planner

#20709 [FLINK-28078] Dirty fix to reduce the likelihood of the ZooKeeperMultipleComponentLeaderElectionDriverTest#testLeaderElectionWithMultipleDrivers failing due to CURATOR-645
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderelection/ZooKeeperMultipleComponentLeaderElectionDriverTest.java
Labels: component=Runtime/Coordination

#20676 [FLINK-28948][table] Increase test coverage for lookup full caching + fix metrics
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/groups/InternalCacheMetricGroup.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/connector/source/lookup/cache/DefaultLookupCacheTest.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/connector/source/lookup/cache/InterceptingCacheMetricGroup.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/factories/TestValuesTableFactory.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/functions/table/lookup/CachingLookupFunction.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/functions/table/lookup/fullcache/CacheLoader.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/functions/table/lookup/fullcache/LookupFullCache.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/functions/table/fullcache/LookupFullCacheTest.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/functions/table/fullcache/TestCacheLoader.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/functions/table/fullcache/inputformat/FullCacheTestInputFormat.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/functions/table/fullcache/inputformat/InputFormatCacheLoaderTest.java
Labels: component=TableSQL/Runtime

#20737 [FLINK-29180] fix: show subtask metrics as default in vertex detail
  flink-runtime-web/web-dashboard/src/app/pages/job/overview/subtasks/job-overview-drawer-subtasks.component.html
Labels: component=Runtime/WebFrontend

#20727 [FLINK-29138][table-planner] fix project can not be pushed into lookup source
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/rules/logical/ProjectSnapshotTransposeRule.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/rules/FlinkBatchRuleSets.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/rules/FlinkStreamRuleSets.scala
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/factories/TestValuesTableFactory.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/rules/logical/ProjectSnapshotTransposeRuleTest.java
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/join/LookupJoinTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/LookupJoinJsonPlanTest_jsonplan/testJoinTemporalTableWithProjectionPushDown.out
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/rules/logical/ProjectSnapshotTransposeRuleTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/join/TemporalJoinTest.xml
Labels: component=TableSQL/Planner

#20729 [BP-1.14][FLINK-29138][table-planner] fix project can not be pushed into lookup source
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/rules/logical/ProjectSnapshotTransposeRule.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/rules/FlinkBatchRuleSets.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/rules/FlinkStreamRuleSets.scala
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/factories/TestValuesTableFactory.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/rules/logical/ProjectSnapshotTransposeRuleTest.java
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/join/LookupJoinTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/LookupJoinJsonPlanTest_jsonplan/testJoinTemporalTableWithProjectionPushDown.out
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/rules/logical/ProjectSnapshotTransposeRuleTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/join/TemporalJoinTest.xml
Labels: component=TableSQL/Planner

#20738 [FLINK-29182][table] fix redundant computations in SumAggFunction.
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/functions/aggfunctions/SumAggFunction.java
Labels: component=TableSQL/Planner

#19216 [FLINK-27017][hive] Fix divide by zero exception in Hive dialect
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParserRexNodeConverter.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/copy/HiveParserSqlFunctionConverter.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDialectQueryITCase.java
Labels: component=<none>

#20643 [FLINK-29013][hive] Fix fail to use BinaryRecordReader in "transform using" syntax with Hive dialect
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/runtime/operators/hive/script/HiveScriptTransformOperator.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/runtime/operators/hive/script/HiveScriptTransformOutReadThread.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDialectQueryITCase.java
Labels: component=Connectors/Hive

#19962 [FLINK-28070][tests] Migrate ScalaAPICompletenessTestBase to Junit5
  flink-libraries/flink-cep-scala/src/test/scala/org/apache/flink/cep/scala/CEPScalaAPICompletenessTest.scala
  flink-libraries/flink-cep-scala/src/test/scala/org/apache/flink/cep/scala/pattern/PatternScalaAPICompletenessTest.scala
  flink-libraries/flink-gelly-scala/src/test/scala/org/apache/flink/graph/scala/test/GellyScalaAPICompletenessTest.scala
  flink-scala/src/test/scala/org/apache/flink/api/scala/completeness/BatchScalaAPICompletenessTest.scala
  flink-scala/src/test/scala/org/apache/flink/api/scala/completeness/ScalaAPICompletenessTestBase.scala
  flink-streaming-scala/src/test/scala/org/apache/flink/streaming/api/scala/StreamingScalaAPICompletenessTest.scala
Labels: component=API/Scala, component=Tests

#19406 [FLINK-27718][hive] Fix fail to count mutiple fields excpetion in Hive dialect
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/functions/hive/HiveGenericUDAF.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/module/hive/HiveModule.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParserUtils.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDialectQueryITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/module/hive/HiveModuleTest.java
Labels: component=<none>

#20628 [FLINK-29022][docs][table] Add document for CREATE FUNCTIOn USING JAR feature
  docs/content.zh/docs/dev/table/sql/create.md
  docs/content/docs/dev/table/sql/create.md
Labels: component=TableSQL/API

#20713 [FLINK-28897][runtime] Fix bug of failing to generate Jobgraph when using scalar udf and enable checkpoint
  flink-clients/src/main/java/org/apache/flink/client/FlinkPipelineTranslationUtil.java
  flink-clients/src/main/java/org/apache/flink/client/StreamGraphTranslator.java
  flink-clients/src/main/java/org/apache/flink/client/cli/CliFrontend.java
  flink-clients/src/main/java/org/apache/flink/client/deployment/application/executors/EmbeddedExecutor.java
  flink-clients/src/main/java/org/apache/flink/client/deployment/executors/AbstractJobClusterExecutor.java
  flink-clients/src/main/java/org/apache/flink/client/deployment/executors/AbstractSessionClusterExecutor.java
  flink-clients/src/main/java/org/apache/flink/client/deployment/executors/LocalExecutor.java
  flink-clients/src/main/java/org/apache/flink/client/deployment/executors/PipelineExecutorUtils.java
  flink-clients/src/test/java/org/apache/flink/client/cli/CliFrontendPackageProgramTest.java
  flink-clients/src/test/java/org/apache/flink/client/program/ClientTest.java
  flink-clients/src/test/java/org/apache/flink/client/program/DefaultPackagedProgramRetrieverTest.java
  flink-end-to-end-tests/flink-end-to-end-tests-sql/src/test/java/org/apache/flink/table/sql/codegen/UsingRemoteJarITCase.java
  flink-end-to-end-tests/flink-end-to-end-tests-sql/src/test/resources/scalar_udf_e2e.sql
  flink-libraries/flink-state-processing-api/src/test/java/org/apache/flink/state/api/runtime/OperatorIDGeneratorTest.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/StreamGraph.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/StreamingJobGraphGenerator.java
  flink-test-utils-parent/flink-test-utils/src/main/java/org/apache/flink/test/util/MiniClusterPipelineExecutorServiceLoader.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/ChangelogRecoveryITCaseBase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/RescaleCheckpointManuallyITCase.java
Labels: component=TableSQL/Runtime

#20761 [FLINK-28897][runtime] Fix bug of failed to generate JobGraph when using UDF and enable checkpoint
  flink-clients/src/main/java/org/apache/flink/client/FlinkPipelineTranslationUtil.java
  flink-clients/src/main/java/org/apache/flink/client/StreamGraphTranslator.java
  flink-clients/src/main/java/org/apache/flink/client/cli/CliFrontend.java
  flink-clients/src/main/java/org/apache/flink/client/deployment/application/executors/EmbeddedExecutor.java
  flink-clients/src/main/java/org/apache/flink/client/deployment/executors/AbstractJobClusterExecutor.java
  flink-clients/src/main/java/org/apache/flink/client/deployment/executors/AbstractSessionClusterExecutor.java
  flink-clients/src/main/java/org/apache/flink/client/deployment/executors/LocalExecutor.java
  flink-clients/src/main/java/org/apache/flink/client/deployment/executors/PipelineExecutorUtils.java
  flink-clients/src/test/java/org/apache/flink/client/cli/CliFrontendPackageProgramTest.java
  flink-clients/src/test/java/org/apache/flink/client/program/ClientTest.java
  flink-clients/src/test/java/org/apache/flink/client/program/DefaultPackagedProgramRetrieverTest.java
  flink-end-to-end-tests/flink-end-to-end-tests-sql/src/test/java/org/apache/flink/table/sql/codegen/UsingRemoteJarITCase.java
  flink-end-to-end-tests/flink-end-to-end-tests-sql/src/test/resources/scalar_udf_e2e.sql
  flink-libraries/flink-state-processing-api/src/test/java/org/apache/flink/state/api/runtime/OperatorIDGeneratorTest.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/StreamGraph.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/StreamingJobGraphGenerator.java
  flink-test-utils-parent/flink-test-utils/src/main/java/org/apache/flink/test/util/MiniClusterPipelineExecutorServiceLoader.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/ChangelogRecoveryITCaseBase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/RescaleCheckpointManuallyITCase.java
Labels: component=TableSQL/Runtime

#20754 [FLINK-28941][Runtime/Checkpointing] Add concurrent checkpoint support in Operator Coordinator
  flink-runtime/src/main/java/org/apache/flink/runtime/operators/coordination/OperatorCoordinatorHolder.java
  flink-runtime/src/main/java/org/apache/flink/runtime/operators/coordination/SubtaskGatewayImpl.java
  flink-runtime/src/test/java/org/apache/flink/runtime/operators/coordination/CoordinatorEventsExactlyOnceITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/operators/coordination/OperatorCoordinatorHolderTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/operators/coordination/SubtaskGatewayImplTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/CoordinatorEventsToStreamOperatorRecipientExactlyOnceITCase.java
Labels: component=Runtime/Checkpointing

#20752 [FLINK-28941][Runtime/Checkpointing] Add concurrent checkpoint support in Operator Coordinator
  flink-runtime/src/main/java/org/apache/flink/runtime/operators/coordination/OperatorCoordinatorHolder.java
  flink-runtime/src/main/java/org/apache/flink/runtime/operators/coordination/SubtaskGatewayImpl.java
  flink-runtime/src/test/java/org/apache/flink/runtime/operators/coordination/CoordinatorEventsExactlyOnceITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/operators/coordination/OperatorCoordinatorHolderTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/operators/coordination/SubtaskGatewayImplTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/CoordinatorEventsToStreamOperatorRecipientExactlyOnceITCase.java
Labels: component=Runtime/Checkpointing

#20769 [FLINK-29205][connectors/kinesis] Passthrough use config to HTTP clie…
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/proxy/KinesisProxyV2Factory.java
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/util/KinesisConfigUtil.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/util/KinesisConfigUtilTest.java
Labels: component=Connectors/Kinesis

#20770 [FLINK-29205][connectors/kinesis] Passthrough use config to HTTP clie…
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/proxy/KinesisProxyV2Factory.java
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/util/KinesisConfigUtil.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/util/KinesisConfigUtilTest.java
Labels: component=Connectors/Kinesis

#20764 [FLINK-29153][connector/kafka] Retry KafkaConsumer#commitAsync on WakeupException in KafkaConsumerThread
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/streaming/connectors/kafka/internals/KafkaConsumerThread.java
Labels: component=Connectors/Kafka

#20765 [FLINK-29207][connector/pulsar] Fix Pulsar message eventTime may be incorrectly set to a negative number
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/sink/writer/PulsarWriter.java
Labels: component=Connectors/Pulsar

#20642 [FLINK-29047][k8s] Shade fabric8 kubernetes with org.apache.flink.shaded prefix in flink-kubernetes
  flink-kubernetes/pom.xml
Labels: component=Deployment/Kubernetes

#20767 [FLINK-29211][hive][legal] Update 2.3.9 NOTICE
  flink-connectors/flink-sql-connector-hive-2.3.9/src/main/resources/META-INF/NOTICE
Labels: component=Connectors/Hive

#20663 [FLINK-29067][Table SQL/API] Replace deprecated SqlParser#configBuilder with SqlParser#config
  flink-table/flink-sql-parser-hive/src/main/java/org/apache/flink/sql/parser/hive/package-info.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/package-info.java
  flink-table/flink-sql-parser/src/test/java/org/apache/flink/sql/parser/CreateTableLikeTest.java
  flink-table/flink-sql-parser/src/test/java/org/apache/flink/sql/parser/FlinkDDLDataTypeTest.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/delegation/PlannerContext.java
Labels: component=TableSQL/API

#20781 [FLINK-29217][tests] Guarantee checkpoint order in OC test
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/CoordinatorEventsToStreamOperatorRecipientExactlyOnceITCase.java
Labels: component=Runtime/Checkpointing

#20780 [FLINK-29217][tests] Guarantee checkpoint order in OC test
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/CoordinatorEventsToStreamOperatorRecipientExactlyOnceITCase.java
Labels: component=Runtime/Checkpointing

#20802 [BP-1.15][FLINK-29223][coordination] Add missing output info for jobs already reached terminal state
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/runner/JobDispatcherLeaderProcessFactoryFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/runner/SessionDispatcherLeaderProcess.java
Labels: component=Runtime/Coordination

#20803 [BP-1.16][FLINK-29223][coordination] Add missing output info for jobs already reached terminal state
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/runner/JobDispatcherLeaderProcessFactoryFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/runner/SessionDispatcherLeaderProcess.java
Labels: component=Runtime/Coordination

#19928 [FLINK-27937][tests][pubsub] Migrate flink-connectors-gcp-pubsub to JUnit 5
  flink-connectors/flink-connector-gcp-pubsub/src/test/java/org/apache/flink/streaming/connectors/gcp/pubsub/DeserializationSchemaWrapperTest.java
  flink-connectors/flink-connector-gcp-pubsub/src/test/java/org/apache/flink/streaming/connectors/gcp/pubsub/PubSubConsumingTest.java
  flink-connectors/flink-connector-gcp-pubsub/src/test/java/org/apache/flink/streaming/connectors/gcp/pubsub/PubSubSourceTest.java
  flink-connectors/flink-connector-gcp-pubsub/src/test/java/org/apache/flink/streaming/connectors/gcp/pubsub/common/AcknowledgeOnCheckpointTest.java
  pom.xml
Labels: component=Connectors/GoogleCloudPubSub

#20794 [BP-1.16][FLINK-29153][connector/kafka] Retry KafkaConsumer#commitAsync on WakeupException in KafkaConsumerThread
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/streaming/connectors/kafka/internals/KafkaConsumerThread.java
Labels: component=Connectors/Kafka

#20760 [FLINK-28975][connector/base] Add IdlenessManager for main and per-split output in source operator to mark idleness only if both output are idle
  flink-core/src/main/java/org/apache/flink/api/common/eventtime/WatermarksWithIdleness.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/source/ProgressiveTimestampsAndWatermarks.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/source/SourceOperatorEventTimeTest.java
Labels: component=API/DataStream

#20812 [BP-1.16][FLINK-29253][runtime] Removes synchronous close call from DefaultJobManagerRunnerRegistry#localCleanupAsync
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/DefaultJobManagerRunnerRegistry.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/DefaultJobManagerRunnerRegistryTest.java
Labels: component=Runtime/Coordination

#20813 [BP-1.15][FLINK-29253][runtime] Removes synchronous close call from DefaultJobManagerRunnerRegistry#localCleanupAsync
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/DefaultJobManagerRunnerRegistry.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/DefaultJobManagerRunnerRegistryTest.java
Labels: component=Runtime/Coordination

#20815 [FLINK-29260][release] Wipe exclusion list when updating reference version
  pom.xml
  tools/releasing/update_japicmp_configuration.sh
Labels: component=ReleaseSystem

#19925 [FLINK-27976][WebUi] Allow order jobs by name
  flink-runtime-web/web-dashboard/src/app/share/customize/job-list/job-list.component.html
  flink-runtime-web/web-dashboard/src/app/share/customize/job-list/job-list.component.ts
Labels: component=Runtime/WebFrontend

#20826 [FLINK-29262][docs] Document API compatibility guarantees
  docs/content.zh/docs/ops/upgrading.md
  docs/content/docs/ops/upgrading.md
  docs/layouts/shortcodes/check.html
  docs/layouts/shortcodes/xmark.html
Labels: component=Documentation

#20819 [FLINK-28975][connector/base] Add IdlenessManager for main and per-split output in source operator to mark idleness only if both outputs are idle
  flink-core/src/main/java/org/apache/flink/api/common/eventtime/WatermarksWithIdleness.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/source/ProgressiveTimestampsAndWatermarks.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/source/SourceOperatorEventTimeTest.java
Labels: component=API/DataStream

#20828 [FLINK-29285][tests] Move TestUtils#getResource
  flink-end-to-end-tests/flink-end-to-end-tests-aws-kinesis-firehose/src/test/java/org/apache/flink/connector/firehose/table/test/KinesisFirehoseTableITTest.java
  flink-end-to-end-tests/flink-end-to-end-tests-aws-kinesis-streams/src/test/java/org/apache/flink/connector/kinesis/table/test/KinesisStreamsTableApiIT.java
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/src/test/java/org/apache/flink/tests/util/kafka/KafkaSinkE2ECase.java
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/src/test/java/org/apache/flink/tests/util/kafka/KafkaSourceE2ECase.java
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/src/test/java/org/apache/flink/tests/util/kafka/SQLClientKafkaITCase.java
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/src/test/java/org/apache/flink/tests/util/kafka/SQLClientSchemaRegistryITCase.java
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/src/test/java/org/apache/flink/tests/util/kafka/SmokeKafkaITCase.java
  flink-end-to-end-tests/flink-end-to-end-tests-common/src/main/java/org/apache/flink/tests/util/TestUtils.java
  flink-end-to-end-tests/flink-end-to-end-tests-elasticsearch6/src/test/java/org/apache/flink/streaming/tests/Elasticsearch6SinkE2ECase.java
  flink-end-to-end-tests/flink-end-to-end-tests-elasticsearch7/src/test/java/org/apache/flink/streaming/tests/Elasticsearch7SinkE2ECase.java
  flink-end-to-end-tests/flink-end-to-end-tests-hbase/src/test/java/org/apache/flink/tests/util/hbase/SQLClientHBaseITCase.java
  flink-end-to-end-tests/flink-end-to-end-tests-pulsar/src/test/java/org/apache/flink/tests/util/pulsar/common/FlinkContainerWithPulsarEnvironment.java
  flink-end-to-end-tests/flink-end-to-end-tests-scala/src/test/java/org/apache/flink/tests/scala/ScalaFreeITCase.java
  flink-end-to-end-tests/flink-end-to-end-tests-sql/src/test/java/org/apache/flink/table/sql/codegen/SqlITCaseBase.java
  flink-end-to-end-tests/flink-end-to-end-tests-sql/src/test/java/org/apache/flink/table/sql/codegen/UsingRemoteJarITCase.java
  flink-end-to-end-tests/flink-sql-gateway-test/src/test/java/org/apache/flink/table/gateway/SqlGatewayE2ECase.java
  flink-end-to-end-tests/flink-streaming-kinesis-test/src/test/java/org/apache/flink/streaming/kinesis/test/KinesisTableApiITCase.java
  flink-test-utils-parent/flink-test-utils/src/main/java/org/apache/flink/test/resources/ResourceTestUtils.java
Labels: component=Tests

#20834 [FLINK-29299][network] Fix the network memory size calculation issue in fine-grained resource mode
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/SsgNetworkMemoryCalculationUtils.java
  flink-runtime/src/main/java/org/apache/flink/runtime/shuffle/NettyShuffleMaster.java
  flink-runtime/src/main/java/org/apache/flink/runtime/shuffle/TaskInputsOutputsDescriptor.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/SsgNetworkMemoryCalculationUtilsTest.java
Labels: component=Runtime/Network

#20837 [FLINK-29305][tests] UpsertTestSinkWriter creates parent directories
  flink-test-utils-parent/flink-test-utils/src/main/java/org/apache/flink/connector/upserttest/sink/UpsertTestSinkWriter.java
  flink-tests/src/test/java/org/apache/flink/connector/upserttest/sink/UpsertTestSinkWriterITCase.java
Labels: component=Tests

#19923 [FLINK-27142][test] Remove bash tests dependencies on the Elasticsearch connector
  flink-end-to-end-tests/flink-sql-client-test/pom.xml
  flink-end-to-end-tests/flink-sql-client-test/src/test/java/SqlClientITCase.java
  flink-end-to-end-tests/flink-sql-client-test/src/test/resources/log4j2-test.properties
  flink-end-to-end-tests/run-nightly-tests.sh
  flink-end-to-end-tests/test-scripts/test_sql_client.sh
  flink-test-utils-parent/flink-connector-test-utils/src/main/java/org/apache/flink/connector/testframe/container/FlinkContainers.java
Labels: component=<none>

#20845 [FLINK-28902][tests] rename FileSystemJobResultStoreTestInternal to FileSystemJobResultStoreFileOperationsTest
  flink-runtime/src/test/java/org/apache/flink/runtime/highavailability/FileSystemJobResultStoreFileOperationsTest.java
Labels: component=Runtime/Coordination, component=TestInfrastructure

#18118 [FLINK-24907] Support side out late data for interval join
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/datastream/KeyedStream.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/co/IntervalJoinOperator.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/co/IntervalJoinOperatorTest.java
  flink-tests/src/test/java/org/apache/flink/test/streaming/runtime/IntervalJoinITCase.java
Labels: component=<none>

#20776 [FLINK-29185][hive] fix class not found exception for creating temporary function using jar with Hive dialect
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParser.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/parse/HiveParserDDLSemanticAnalyzer.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDialectITCase.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/catalog/FunctionCatalog.java
Labels: component=Connectors/Hive

#20695 [FLINK-29045][sqlclient] Optimize error message in Flink SQL Client when try to switch to Hive dialect
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/context/SessionContext.java
  flink-table/flink-sql-gateway/src/main/java/org/apache/flink/table/gateway/service/context/SessionContext.java
Labels: component=<none>

#20778 [FLINK-29222][hive] fix wrong behavior for Hive's load data inpath
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveOperationExecutor.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDialectQueryITCase.java
Labels: component=Connectors/Hive

#20853 [FLINK-29324] [Connectors/Kinesis] Fix NPE for Kinesis connector when closing
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/FlinkKinesisConsumer.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/FlinkKinesisConsumerTest.java
Labels: component=Connectors/Kinesis

#20795 [FLINK-29152][hive] fix SHOW CREATE TABLE doesn't work for Hive dialect
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/HiveCatalog.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveOperationExecutor.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveShowTableUtils.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/operations/HiveLoadDataOperation.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/operations/HiveShowCreateTableOperation.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/parse/HiveParserDDLSemanticAnalyzer.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/parse/HiveParserLoadSemanticAnalyzer.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDialectITCase.java
Labels: component=Connectors/Hive

#20789 [FLINK-29152][hive] fix inconsistent behavior with Hive for `desc table` in Hive dialect
  flink-architecture-tests/flink-architecture-tests-production/archunit-violations/e5126cae-f3fe-48aa-b6fb-60ae6cc3fcd5
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/HiveCatalog.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveOperationExecutor.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDialectITCase.java
  flink-connectors/flink-connector-hive/src/test/resources/endpoint/hive_catalog.q
Labels: component=Connectors/Hive

#20874 [FLINK-29378][coordination] Improve logging of failed execution state transitions
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/Execution.java
Labels: component=Runtime/Coordination

#20888 [FLINK-29397][runtime] Check if changelog provider is null
  flink-runtime/src/test/java/org/apache/flink/runtime/state/TestTaskStateManager.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/TestTaskStateManagerBuilder.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTest.java
Labels: component=Runtime/Task

#20871 [FLINK-29340][coordination][tests] Avoid selfGateway implementation d…
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/ResourceManagerTest.java
Labels: component=Runtime/Coordination, component=Tests

#20885 [FLINK-28890][table] Fix semantic of latestLoadTime in caching lookup function
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/functions/table/lookup/CachingAsyncLookupFunction.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/functions/table/lookup/CachingLookupFunction.java
Labels: component=TableSQL/Runtime

#20890 [FLINK-29093][table] Fix InternalCompilerException in LookupJoinITCas…
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/join/LookupJoinITCase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/AsyncLookupJoinITCase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/LookupJoinITCase.scala
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/functions/table/lookup/fullcache/CacheLoader.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/functions/table/lookup/fullcache/LookupFullCache.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/functions/table/lookup/fullcache/inputformat/InputFormatCacheLoader.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/functions/table/lookup/fullcache/inputformat/InputSplitCacheLoadTask.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/keyselector/GenericRowDataKeySelector.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/functions/table/fullcache/LookupFullCacheTest.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/functions/table/fullcache/TestCacheLoader.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/functions/table/fullcache/inputformat/FullCacheTestInputFormat.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/functions/table/fullcache/inputformat/InputFormatCacheLoaderTest.java
Labels: component=TableSQL/Runtime

#20889 [BP-1.16][FLINK-28890][table] Fix semantic of latestLoadTime in caching lookup function
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/functions/table/lookup/CachingAsyncLookupFunction.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/functions/table/lookup/CachingLookupFunction.java
Labels: component=TableSQL/Runtime

#20884 [FLINK-29389][docs] Update documentation of JDBC and HBase lookup table for new caching options
  docs/content.zh/docs/connectors/table/hbase.md
  docs/content.zh/docs/connectors/table/jdbc.md
  docs/content/docs/connectors/table/hbase.md
  docs/content/docs/connectors/table/jdbc.md
Labels: component=Documentation, component=Connectors/HBase, component=Connectors/JDBC

#20892 [BP-1.16][FLINK-29389][docs] Update documentation of JDBC and HBase lookup table for new caching options
  docs/content.zh/docs/connectors/table/hbase.md
  docs/content.zh/docs/connectors/table/jdbc.md
  docs/content/docs/connectors/table/hbase.md
  docs/content/docs/connectors/table/jdbc.md
Labels: component=Documentation, component=Connectors/HBase, component=Connectors/JDBC

#20653 [FLINK-29020][docs] add document for CTAS feature
  docs/content.zh/docs/dev/table/sql/create.md
  docs/content/docs/dev/table/sql/create.md
Labels: component=TableSQL/API

#17451 [FLINK-24476][docs] Rename Elasticsearch to remove CamelCase
  docs/content.zh/docs/deployment/overview.md
  docs/content.zh/release-notes/flink-1.6.md
  docs/content/docs/connectors/table/hive/overview.md
  docs/content/docs/deployment/overview.md
  docs/content/release-notes/flink-1.6.md
Labels: component=Connectors/ElasticSearch

#20891 [FLINK-29274][hive] Fix ObjectStore leak when different users has dif…
  docs/content.zh/docs/dev/table/hive-compatibility/hiveserver2.md
  docs/content/docs/dev/table/hive-compatibility/hiveserver2.md
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/endpoint/hive/HiveServer2Endpoint.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/endpoint/hive/HiveServer2EndpointFactory.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveTestUtils.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/endpoint/hive/HiveServer2EndpointFactoryTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/endpoint/hive/util/HiveServer2EndpointExtension.java
Labels: component=Connectors/Hive

#20898 [FLINK-29349][table-runtime] Use state ttl instead of timer to clean up state in proctime unbounded over aggregate
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecOverAggregate.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/harness/OverAggregateHarnessTest.scala
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/over/ProcTimeUnboundedPrecedingFunction.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/operators/over/ProcTimeUnboundedPrecedingFunctionTest.java
Labels: component=TableSQL/Runtime

#20900 [FLINK-29386][hive] Fix failed to compile flink-connector-hive in hive3 profile
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveShowTableUtils.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/parse/HiveParserDDLSemanticAnalyzer.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDialectITCase.java
Labels: component=Connectors/Hive

#20869 [FLINK-29219][table] Fix CREATE TABLE AS statement blocks SQL client's execution
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/parse/HiveParserDDLSemanticAnalyzer.java
  flink-end-to-end-tests/flink-end-to-end-tests-sql/src/test/java/org/apache/flink/table/sql/codegen/CreateTableAsITCase.java
  flink-end-to-end-tests/flink-end-to-end-tests-sql/src/test/resources/create_table_as_e2e.sql
  flink-end-to-end-tests/flink-end-to-end-tests-sql/src/test/resources/create_table_as_statementset_e2e.sql
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliClient.java
  flink-table/flink-sql-client/src/test/resources/sql/set.q
  flink-table/flink-sql-gateway/src/test/java/org/apache/flink/table/gateway/AbstractSqlGatewayStatementITCase.java
  flink-table/flink-sql-gateway/src/test/resources/sql/insert.q
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/TableEnvironmentImpl.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/CreateTableASOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ModifyOperationVisitor.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/SqlCreateTableConverter.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/api/CompiledPlanITCase.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/TableSinkTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/TableSinkITCase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/TableSinkITCase.scala
Labels: component=TableSQL/API, component=TableSQL/Client

#20880 [FLINK-29219][table] Fix CREATE TABLE AS statement blocks SQL client's execution
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/parse/HiveParserDDLSemanticAnalyzer.java
  flink-end-to-end-tests/flink-end-to-end-tests-sql/src/test/java/org/apache/flink/table/sql/codegen/CreateTableAsITCase.java
  flink-end-to-end-tests/flink-end-to-end-tests-sql/src/test/resources/create_table_as_e2e.sql
  flink-end-to-end-tests/flink-end-to-end-tests-sql/src/test/resources/create_table_as_statementset_e2e.sql
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliClient.java
  flink-table/flink-sql-client/src/test/resources/sql/set.q
  flink-table/flink-sql-gateway/src/test/java/org/apache/flink/table/gateway/AbstractSqlGatewayStatementITCase.java
  flink-table/flink-sql-gateway/src/test/resources/sql/insert.q
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/TableEnvironmentImpl.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/CreateTableASOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ModifyOperationVisitor.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/SqlCreateTableConverter.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/api/CompiledPlanITCase.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/TableSinkTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/TableSinkITCase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/TableSinkITCase.scala
Labels: component=TableSQL/API, component=TableSQL/Client

#20865 [FLINK-14896][connectors/kinesis] Shade and relocate Jackson dependen…
  flink-connectors/flink-connector-kinesis/pom.xml
  flink-connectors/flink-connector-kinesis/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-kinesis/pom.xml
  flink-connectors/flink-sql-connector-kinesis/src/main/resources/META-INF/NOTICE
Labels: component=Connectors/Kinesis

#20660 [FLINK-28998] Translate'Fine-Grained Resource Management' page into Chinese
  docs/content.zh/docs/deployment/finegrained_resource.md
Labels: component=<none>

#20911 [FLINK-29436][build] Upgrade spotless for running on JDK 17
  pom.xml
Labels: component=<none>

#20716 [backport][FLINK-28733][scripts] jobmanager.sh supports dynamic parameters
  flink-dist/src/main/flink-bin/bin/jobmanager.sh
  flink-end-to-end-tests/flink-end-to-end-tests-common/src/main/java/org/apache/flink/tests/util/flink/FlinkDistribution.java
  flink-end-to-end-tests/flink-end-to-end-tests-common/src/test/java/org/apache/flink/dist/DynamicParameterITCase.java
  flink-end-to-end-tests/flink-end-to-end-tests-common/src/test/resources/log4j2-test.properties
  flink-runtime/src/main/java/org/apache/flink/runtime/entrypoint/ClusterEntrypoint.java
Labels: component=Deployment/Scripts

#20914 [FLINK-28453][state-processor] Deduplicate code
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/SavepointReader.java
Labels: component=Connectors/Kafka
