Repository apache/flink, pull requests merged in 2022-06, with the labels that each got.

#19746 [FLINK-27630][table-planner] Add maven-source-plugin for table planne…
  flink-table/flink-table-planner/pom.xml
Labels: component=TableSQL/Planner

#18958 [FLINK-15854][hive] Use the new type inference for Hive UDTF
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/client/HiveShim.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/client/HiveShimV100.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/client/HiveShimV310.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/factories/HiveFunctionDefinitionFactory.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/util/HiveReflectionUtils.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/functions/hive/HiveFunction.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/functions/hive/HiveFunctionArguments.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/functions/hive/HiveGenericUDAF.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/functions/hive/HiveGenericUDF.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/functions/hive/HiveGenericUDTF.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/functions/hive/HiveLegacyFunction.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/functions/hive/HiveScalarFunction.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/functions/hive/HiveSimpleUDF.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/functions/hive/conversion/HiveInspectors.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/functions/hive/util/HiveFunctionUtil.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParserCalcitePlanner.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParserUtils.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/copy/HiveParserTypeConverter.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/TableEnvHiveConnectorITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/functions/hive/HiveGenericUDFTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/functions/hive/HiveGenericUDTFTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/functions/hive/HiveSimpleUDFTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/module/hive/HiveModuleTest.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/catalog/FunctionCatalogOperatorTable.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/functions/utils/HiveTableSqlFunction.java
Labels: component=Connectors/Hive

#19841 [FLINK-27829][python] Remove calcite dependency
  flink-python/src/test/java/org/apache/flink/table/runtime/operators/python/table/PythonTableFunctionOperatorTest.java
  flink-python/src/test/java/org/apache/flink/table/runtime/operators/python/table/PythonTableFunctionOperatorTestBase.java
Labels: component=API/Python

#19831 [FLINK-27810][es][tests] Reduce number of bundled dependencies
  flink-end-to-end-tests/flink-end-to-end-tests-elasticsearch6/pom.xml
  flink-end-to-end-tests/flink-end-to-end-tests-elasticsearch6/src/test/java/org/apache/flink/streaming/tests/Elasticsearch6SinkE2ECase.java
  flink-end-to-end-tests/flink-end-to-end-tests-elasticsearch7/pom.xml
  flink-end-to-end-tests/flink-end-to-end-tests-elasticsearch7/src/test/java/org/apache/flink/streaming/tests/Elasticsearch7SinkE2ECase.java
Labels: component=BuildSystem, component=Tests, component=Connectors/ElasticSearch

#19715 [FLINK-27606][table] Fix code generator exception when using imperative udaf that is introduced for planner scala-free
  flink-end-to-end-tests/flink-end-to-end-tests-sql/pom.xml
  flink-end-to-end-tests/flink-end-to-end-tests-sql/src/test/java/org/apache/flink/table/sql/codegen/PlannerScalaFreeITCase.java
  flink-end-to-end-tests/flink-end-to-end-tests-sql/src/test/resources/log4j2-test.properties
  flink-end-to-end-tests/flink-end-to-end-tests-sql/src/test/resources/scala_free_e2e.sql
  flink-end-to-end-tests/flink-sql-client-test/src/main/java/org/apache/flink/table/toolbox/CountAggFunction.java
  flink-end-to-end-tests/pom.xml
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/agg/ImperativeAggCodeGen.scala
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/util/SingleElementIterator.java
Labels: component=TableSQL/Runtime

#18601 [FLINK-25699][table] Use HashMap for MAP value constructors
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/calls/ScalarOperatorGens.scala
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/functions/CastFunctionITCase.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/functions/MapFunctionITCase.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/expressions/MapTypeTest.scala
Labels: component=TableSQL/Runtime

#19680 [FLINK-27457] Implement flush() logic in Cassandra output formats
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/batch/connectors/cassandra/CassandraColumnarOutputFormatBase.java
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/batch/connectors/cassandra/CassandraOutputFormatBase.java
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/batch/connectors/cassandra/CassandraPojoOutputFormat.java
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/batch/connectors/cassandra/CassandraRowOutputFormat.java
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/batch/connectors/cassandra/CassandraTupleOutputFormat.java
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/batch/connectors/cassandra/OutputFormatBase.java
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/connectors/cassandra/utils/SinkUtils.java
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/streaming/connectors/cassandra/CassandraSinkBase.java
  flink-connectors/flink-connector-cassandra/src/test/java/org/apache/flink/batch/connectors/cassandra/OutputFormatBaseTest.java
  flink-connectors/flink-connector-cassandra/src/test/java/org/apache/flink/connectors/cassandra/utils/ResultSetFutures.java
  flink-connectors/flink-connector-cassandra/src/test/java/org/apache/flink/streaming/connectors/cassandra/CassandraSinkBaseTest.java
  flink-core/src/main/java/org/apache/flink/api/common/io/OutputFormat.java
  tools/maven/suppressions.xml
Labels: component=Connectors/Cassandra

#19887 [FLINK-27924][python][docs] Add pulsar comments in the datastream package
  flink-python/pyflink/datastream/__init__.py
Labels: component=Documentation, component=API/Python

#19902 [BP-1.15][FLINK-27606][table] Fix CompileException when using UDAF with merge() method
  flink-end-to-end-tests/flink-end-to-end-tests-sql/pom.xml
  flink-end-to-end-tests/flink-end-to-end-tests-sql/src/test/java/org/apache/flink/table/sql/codegen/PlannerScalaFreeITCase.java
  flink-end-to-end-tests/flink-end-to-end-tests-sql/src/test/resources/log4j2-test.properties
  flink-end-to-end-tests/flink-end-to-end-tests-sql/src/test/resources/scala_free_e2e.sql
  flink-end-to-end-tests/flink-sql-client-test/src/main/java/org/apache/flink/table/toolbox/CountAggFunction.java
  flink-end-to-end-tests/pom.xml
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/agg/ImperativeAggCodeGen.scala
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/util/SingleElementIterator.java
Labels: component=TableSQL/Runtime

#19778 [FLINK-27418][table-planner] fix topN retraction for previously delet…
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/rank/RetractableTopNFunction.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/operators/rank/RetractableTopNFunctionTest.java
Labels: component=TableSQL/API

#19808 [FLINK-27185][connectors] Convert connector-kafka module to assertj
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/sink/KafkaCommittableSerializerTest.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/sink/KafkaRecordSerializationSchemaBuilderTest.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/sink/KafkaSinkBuilderTest.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/sink/KafkaSinkITCase.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/sink/KafkaTransactionLogITCase.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/sink/KafkaWriterITCase.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/sink/KafkaWriterStateSerializerTest.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/sink/TransactionIdFactoryTest.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/sink/TransactionToAbortCheckerTest.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/source/KafkaSourceBuilderTest.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/source/KafkaSourceITCase.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/source/enumerator/KafkaEnumeratorTest.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/source/enumerator/KafkaSourceEnumStateSerializerTest.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/source/enumerator/initializer/OffsetsInitializerTest.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/source/enumerator/subscriber/KafkaSubscriberTest.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/source/metrics/KafkaSourceReaderMetricsTest.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/source/reader/KafkaPartitionSplitReaderTest.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/source/reader/KafkaSourceReaderTest.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/source/reader/deserializer/KafkaRecordDeserializationSchemaTest.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/testutils/KafkaSourceTestEnv.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/FlinkFixedPartitionerTest.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/FlinkKafkaConsumerBaseMigrationTest.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/FlinkKafkaConsumerBaseTest.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/FlinkKafkaInternalProducerITCase.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/FlinkKafkaProducerBaseTest.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/FlinkKafkaProducerITCase.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/FlinkKafkaProducerTest.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/JSONKeyValueDeserializationSchemaTest.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/KafkaConsumerTestBase.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/KafkaProducerTestBase.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/KafkaShortRetentionTestBase.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/KafkaTestBase.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/KafkaTestEnvironmentImpl.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/internals/AbstractFetcherTest.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/internals/AbstractFetcherWatermarksTest.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/internals/AbstractPartitionDiscovererTest.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/internals/ClosableBlockingQueueTest.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/internals/KafkaTopicPartitionTest.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/internals/KafkaTopicsDescriptorTest.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/shuffle/KafkaShuffleITCase.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/KafkaConnectorOptionsUtilTest.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/KafkaDynamicTableFactoryTest.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/KafkaTableITCase.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/KafkaTableTestUtils.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/ReducingUpsertWriterTest.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/UpsertKafkaDynamicTableFactoryTest.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/UpsertKafkaTableITCase.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/testutils/TestPartitionDiscoverer.java
Labels: component=<none>

#19913 [BP-1.14][FLINK-27418][table-planner] Fix topN retraction for previously deleted record
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/rank/RetractableTopNFunction.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/operators/rank/RetractableTopNFunctionTest.java
Labels: component=TableSQL/API

#19912 [BP-1.15][FLINK-27418][table-planner] Fix topN retraction for previously deleted record
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/rank/RetractableTopNFunction.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/operators/rank/RetractableTopNFunctionTest.java
Labels: component=TableSQL/API

#19910 [FLINK-27791][tests] Prevent mocked UGI bleeding into other tests
  flink-runtime/src/test/java/org/apache/flink/runtime/security/token/KerberosDelegationTokenManagerITCase.java
Labels: component=Runtime/Coordination

#19906 [FLINK-25714][runtime-web] upgrade ng-zorro-antd and remove unnecessary dependency
  flink-runtime-web/src/main/resources/META-INF/NOTICE
  flink-runtime-web/web-dashboard/package-lock.json
  flink-runtime-web/web-dashboard/package.json
Labels: component=Runtime/WebFrontend

#19789 [FLINK-27734][web] Fix checkpoint interval in WebUI
  flink-runtime-web/web-dashboard/src/app/pages/job/checkpoints/job-checkpoints.component.html
  flink-runtime-web/web-dashboard/src/app/pages/job/checkpoints/job-checkpoints.component.ts
Labels: component=Runtime/WebFrontend

#19922 [FLINK-27968][E2E] Fix failed end-to-end-tests-sql CI test
  flink-end-to-end-tests/flink-end-to-end-tests-sql/pom.xml
  flink-end-to-end-tests/flink-end-to-end-tests-sql/src/test/java/org/apache/flink/table/sql/codegen/PlannerScalaFreeITCase.java
Labels: component=Tests, component=TableSQL/Planner, component=TableSQL/Client, component=BuildSystem/CI

#19932 [FLINK-27968][E2E] Fix failed end-to-end-tests-sql CI test
  flink-end-to-end-tests/flink-end-to-end-tests-sql/pom.xml
  flink-end-to-end-tests/flink-end-to-end-tests-sql/src/test/java/org/apache/flink/table/sql/codegen/PlannerScalaFreeITCase.java
Labels: component=Tests, component=TableSQL/Planner, component=TableSQL/Client, component=BuildSystem/CI

#19930 [FLINK-27933][rest] OperationResult implements Serializable
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/handler/async/OperationResult.java
Labels: component=Runtime/Coordination

#19742 [FLINK-27651][table] Support CREATE FUNCTION USING JAR syntax
  flink-python/pyflink/table/tests/test_catalog_completeness.py
  flink-table/flink-sql-parser-hive/src/main/codegen/includes/parserImpls.ftl
  flink-table/flink-sql-parser/src/main/codegen/data/Parser.tdd
  flink-table/flink-sql-parser/src/main/codegen/includes/parserImpls.ftl
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlCreateFunction.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/resource/SqlResource.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/resource/SqlResourceType.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/utils/ParserResource.java
  flink-table/flink-sql-parser/src/main/resources/org.apache.flink.sql.parser.utils/ParserResource.properties
  flink-table/flink-sql-parser/src/test/java/org/apache/flink/sql/parser/FlinkSqlParserImplTest.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/catalog/CatalogFunctionImpl.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/catalog/FunctionCatalog.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ddl/CreateTempSystemFunctionOperation.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/catalog/CatalogFunction.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/resource/ResourceType.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/resource/ResourceUri.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/functions/UserDefinedFunctionHelperTest.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/SqlToOperationConverter.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/operations/SqlToOperationConverterTest.java
Labels: component=TableSQL/API

#19833 [FLINK-27778][table][planner] Use correct 'newName()' method
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/functions/casting/RawToBinaryCastRule.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/functions/casting/RawToStringCastRule.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/functions/casting/StringToBinaryCastRule.java
Labels: component=BuildSystem, component=TableSQL/Planner

#19933 [FLINK-28000][runtime][security] Throw exception when principal is set in the configuration without keytab
  flink-runtime/src/main/java/org/apache/flink/runtime/security/SecurityConfiguration.java
  flink-runtime/src/test/java/org/apache/flink/runtime/security/SecurityConfigurationTest.java
Labels: component=Deployment/YARN, component=Connectors/Common, component=Deployment/Kubernetes

#19877 [FLINK-27756] Setting Batches sent to 1 and extending sending margin in checkLoggedSendTimesAreWithinBounds test
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/writer/AsyncSinkWriterTest.java
Labels: component=Connectors/Common

#19809 [FLINK-27185][connectors] Convert connector-kinesis module to assertj
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/FlinkKinesisConsumerMigrationTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/FlinkKinesisConsumerTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/FlinkKinesisITCase.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/FlinkKinesisProducerTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/internals/KinesisDataFetcherTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/internals/ShardConsumerFanOutTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/internals/ShardConsumerTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/internals/ShardConsumerTestUtils.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/RecordBatchTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/fanout/FanOutRecordPublisherConfigurationTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/fanout/FanOutRecordPublisherTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/fanout/StreamConsumerRegistrarTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/polling/PollingRecordPublisherConfigurationTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/polling/PollingRecordPublisherFactoryTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/polling/PollingRecordPublisherTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/metrics/PollingRecordPublisherMetricsReporterTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/metrics/ShardConsumerMetricsReporterTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/model/DynamoDBStreamsShardHandleTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/model/SentinelSequenceNumberTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/model/StartingPositionTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/model/StreamShardHandleTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/proxy/KinesisProxyTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/proxy/KinesisProxyV2FactoryTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/proxy/KinesisProxyV2Test.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/table/KinesisDynamicTableFactoryTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/testutils/FakeKinesisFanOutBehavioursFactory.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/util/AWSUtilTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/util/AwsV2UtilTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/util/JobManagerWatermarkTrackerTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/util/KinesisConfigUtilTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/util/RecordEmitterTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/util/StreamConsumerRegistrarUtilTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/util/UniformShardAssignerTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/util/WatermarkTrackerTest.java
Labels: component=<none>

#19681 [FLINK-27544][docs]Example code in 'Structure of Table API and SQL Programs' is out of date and cannot run.
  docs/content.zh/docs/dev/table/common.md
  docs/content/docs/dev/table/common.md
Labels: component=Documentation

#19825 [FLINK-27171][runtime][security] Add periodic kerberos delegation token obtain possibility to DelegationTokenManager
  docs/layouts/shortcodes/generated/security_auth_kerberos_section.html
  docs/layouts/shortcodes/generated/security_configuration.html
  flink-core/src/main/java/org/apache/flink/configuration/SecurityOptions.java
  flink-filesystems/flink-hadoop-fs/src/test/java/org/apache/flink/runtime/util/HadoopUtilsTest.java
  flink-runtime/src/main/java/org/apache/flink/runtime/hadoop/HadoopUserUtils.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/DelegationTokenManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/KerberosDelegationTokenManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/KerberosLoginProvider.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/KerberosRenewalPossibleProvider.java
  flink-runtime/src/test/java/org/apache/flink/runtime/hadoop/HadoopUserUtilsTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/security/token/KerberosDelegationTokenManagerITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/security/token/KerberosLoginProviderTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/security/token/KerberosRenewalPossibleProviderTest.java
  flink-yarn/src/main/java/org/apache/flink/yarn/YarnClusterDescriptor.java
Labels: component=<none>

#19860 [FLINK-27658][table] FlinkUserCodeClassLoader expose addURL method to allow to register jar dynamically
  flink-clients/src/main/java/org/apache/flink/client/ClientUtils.java
  flink-clients/src/test/java/org/apache/flink/client/cli/CliFrontendDynamicPropertiesTest.java
  flink-clients/src/test/java/org/apache/flink/client/program/DefaultPackagedProgramRetrieverTest.java
  flink-core/src/main/java/org/apache/flink/util/ClassLoaderUtil.java
  flink-core/src/main/java/org/apache/flink/util/FlinkUserCodeClassLoader.java
  flink-core/src/main/java/org/apache/flink/util/FlinkUserCodeClassLoaders.java
  flink-core/src/test/java/org/apache/flink/util/ClassLoaderUtilsTest.java
  flink-core/src/test/java/org/apache/flink/util/FlinkUserCodeClassLoadersTest.java
  flink-core/src/test/java/org/apache/flink/util/UserClassLoaderJarTestUtils.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/AvroKryoClassloadingTest.java
  flink-runtime/src/main/java/org/apache/flink/runtime/execution/librarycache/BlobLibraryCacheManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/JobManagerSharedServices.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskManagerServicesConfiguration.java
  flink-runtime/src/test/java/org/apache/flink/runtime/execution/librarycache/BlobLibraryCacheManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/execution/librarycache/BlobLibraryCacheRecoveryITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/execution/librarycache/ClassLoaderDeserializationTest.java
  flink-state-backends/flink-statebackend-rocksdb/src/test/java/org/apache/flink/contrib/streaming/state/RocksDbMultiClassLoaderTest.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/StreamConfig.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliClientITCase.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/context/SessionContextTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/local/LocalExecutorITCase.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/PartitionableSourceITCase.scala
Labels: component=TableSQL/Planner

#19456 [FLINK-27041][connector/kafka] Catch IllegalStateException in KafkaPartitionSplitReader.fetch() to handle no valid partition case
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/source/reader/KafkaPartitionSplitReader.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/source/KafkaSourceITCase.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/source/reader/KafkaSourceReaderTest.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/testutils/KafkaSourceTestEnv.java
Labels: component=Connectors/Kafka

#17978 [FLINK-24995][tests] EnumValueSerializerCompatibilityTest doesn't compile on later Scala versions
  flink-scala/src/test/scala/org/apache/flink/api/scala/typeutils/EnumValueSerializerCompatibilityTest.scala
Labels: component=API/Scala

#19931 [FLINK-27999][hive] Fix test failure for Hive when using profile Hive3.1.1
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/copy/HiveParserBaseSemanticAnalyzer.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveTestUtils.java
Labels: component=Connectors/Hive

#19876 [FLINK-27895][hive][build] Enable test for Hive 3.x in nightly builds
  flink-connectors/flink-connector-hive/pom.xml
  tools/azure-pipelines/build-apache-repo.yml
Labels: component=Connectors/Hive, component=BuildSystem/CI

#19852 [FLINK-24960][yarn-tests] change order of statements to avoid race condition
  flink-yarn/src/main/java/org/apache/flink/yarn/cli/FlinkYarnSessionCli.java
Labels: component=Deployment/YARN

#19874 [BP-1.15][FLINK-24960][yarn-tests] backport 1.15: reorder statements to fix instability with yarn properties file
  flink-yarn/src/main/java/org/apache/flink/yarn/cli/FlinkYarnSessionCli.java
Labels: component=Deployment/YARN

#19875 [BP-1.14][FLINK-24960][yarn-tests] backport 1.14: reorder statements to fix instability with yarn properties file
  flink-yarn/src/main/java/org/apache/flink/yarn/cli/FlinkYarnSessionCli.java
Labels: component=Deployment/YARN

#19946 [FLINK-28018][core] correct the start index for creating empty splits in BinaryInputFormat#createInputSplits
  flink-core/src/main/java/org/apache/flink/api/common/io/BinaryInputFormat.java
  flink-core/src/test/java/org/apache/flink/api/common/io/BinaryInputFormatTest.java
Labels: component=Formats

#19836 [FLINK-27819][rest][docs] Use proper operationIds
  docs/static/generated/rest_v1_dispatcher.yml
  flink-docs/src/main/java/org/apache/flink/docs/rest/OpenApiSpecGenerator.java
  flink-docs/src/test/java/org/apache/flink/docs/rest/OpenApiSpecGeneratorTest.java
  flink-docs/src/test/java/org/apache/flink/docs/rest/data/TestEmptyMessageHeaders.java
  flink-runtime-web/src/main/java/org/apache/flink/runtime/webmonitor/handlers/AbstractJarPlanHeaders.java
  flink-runtime-web/src/main/java/org/apache/flink/runtime/webmonitor/handlers/JarDeleteHeaders.java
  flink-runtime-web/src/main/java/org/apache/flink/runtime/webmonitor/handlers/JarPlanGetHeaders.java
  flink-runtime-web/src/main/java/org/apache/flink/runtime/webmonitor/handlers/JarRunHeaders.java
  flink-runtime-web/src/main/java/org/apache/flink/runtime/webmonitor/handlers/JarUploadHeaders.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/handler/job/rescaling/RescalingTriggerHeaders.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/messages/JobCancellationHeaders.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/messages/MessageHeaders.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/messages/cluster/ShutdownHeaders.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/messages/dataset/ClusterDataSetDeleteTriggerHeaders.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/messages/job/JobSubmitHeaders.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/messages/job/savepoints/SavepointDisposalTriggerHeaders.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/messages/job/savepoints/SavepointTriggerHeaders.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/messages/job/savepoints/stop/StopWithSavepointTriggerHeaders.java
Labels: component=Documentation, component=Runtime/REST

#19940 [FLINK-27965][table-planner] Fix EXPLAIN PLAN produces wrong query sc…
  flink-table/flink-sql-client/src/test/resources/sql/table.q
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/calcite/FlinkPlannerImpl.scala
  flink-table/flink-table-planner/src/test/resources/explain/testExecuteSqlWithExplainInsertIntoStaticPartition.out
  flink-table/flink-table-planner/src/test/resources/explain/testExecuteSqlWithExplainInsertOverwriteStaticPartition.out
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/TableEnvironmentTest.scala
Labels: component=TableSQL/Planner

#19954 [FLINK-28005][tests] Reduce network memory in UnalignedCheckpointTestBase
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/UnalignedCheckpointTestBase.java
Labels: component=Tests, component=Runtime/Checkpointing

#19957 [FLINK-28052][tests] Remove RunFailedJobListener
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveSchedulerTest.java
Labels: component=Runtime/Coordination, component=Tests

#19828 [FLINK-27762][connector/kafka] Catch WakeupException and retry KafkaConsumer invocations in split assignment
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/source/reader/KafkaPartitionSplitReader.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/source/reader/KafkaPartitionSplitReaderTest.java
Labels: component=Connectors/Kafka

#19942 [FLINK-28019][table] fix error when retract a staled record if state ttl enabled in RetractableTopNFunction
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/rank/RetractableTopNFunction.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/operators/rank/RetractableTopNFunctionTest.java
Labels: component=<none>

#19981 [BP-1.15][FLINK-27762][connector/kafka] Catch WakeupException and retry KafkaConsumer invocations in split assignment
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/source/reader/KafkaPartitionSplitReader.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/source/reader/KafkaPartitionSplitReaderTest.java
Labels: component=Connectors/Kafka

#19586 [FLINK-26824] Upgrade Flink's supported Cassandra versions to match all Apache Cassandra supported versions
  flink-connectors/flink-connector-cassandra/archunit-violations/dc1ba6f4-3d84-498c-a085-e02ba5936201
  flink-connectors/flink-connector-cassandra/pom.xml
  flink-connectors/flink-connector-cassandra/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-connector-cassandra/src/test/java/org/apache/flink/streaming/connectors/cassandra/CassandraConnectorITCase.java
  flink-test-utils-parent/flink-test-utils-junit/src/main/java/org/apache/flink/util/DockerImageVersions.java
Labels: component=Connectors/Cassandra

#19982 [BP-1.14][FLINK-27762][connector/kafka] Catch WakeupException and retry KafkaConsumer invocations in split assignment
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/source/reader/KafkaPartitionSplitReader.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/source/reader/KafkaPartitionSplitReaderTest.java
Labels: component=Connectors/Kafka

#19980 [BP-1.15][FLINK-27041][connector/kafka] Catch IllegalStateException in KafkaPartitionSplitReader.fetch() to handle no valid partition case
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/source/reader/KafkaPartitionSplitReader.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/source/KafkaSourceITCase.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/source/reader/KafkaSourceReaderTest.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/testutils/KafkaSourceTestEnv.java
Labels: component=Connectors/Kafka

#19338 [FLINK-27006][Table SQL / API] Support CharSingleValueAggFunction
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/functions/aggfunctions/SingleValueAggFunction.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/utils/AggFunctionFactory.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/AggregateITCase.scala
Labels: component=TableSQL/Planner

#19990 [FLINK-28095][oss] Replace commons-io IOUtils dependency
  flink-filesystems/flink-oss-fs-hadoop/src/main/java/org/apache/flink/fs/osshadoop/writer/OSSRecoverableFsDataOutputStream.java
Labels: component=FileSystems

#19937 [FLINK-28007][connectors/kinesis,firehose] Migrated Kinesis Firehose & Streams …
  flink-connectors/flink-connector-aws-base/src/test/java/org/apache/flink/connector/aws/testutils/AWSServicesTestUtils.java
  flink-connectors/flink-connector-aws-base/src/test/java/org/apache/flink/connector/aws/testutils/LocalstackContainer.java
  flink-connectors/flink-connector-aws-kinesis-firehose/src/test/java/org/apache/flink/connector/firehose/sink/KinesisFirehoseSinkITCase.java
  flink-connectors/flink-connector-aws-kinesis-firehose/src/test/java/org/apache/flink/connector/firehose/sink/testutils/KinesisFirehoseTestUtils.java
  flink-connectors/flink-connector-aws-kinesis-streams/src/test/java/org/apache/flink/connector/kinesis/sink/KinesisStreamsSinkITCase.java
  flink-connectors/flink-connector-aws-kinesis-streams/src/test/java/org/apache/flink/connectors/kinesis/testutils/KinesaliteContainer.java
  flink-end-to-end-tests/flink-end-to-end-tests-aws-kinesis-firehose/src/test/java/org/apache/flink/connector/firehose/table/test/KinesisFirehoseTableITTest.java
  flink-end-to-end-tests/flink-end-to-end-tests-aws-kinesis-streams/pom.xml
  flink-end-to-end-tests/flink-end-to-end-tests-aws-kinesis-streams/src/test/java/org/apache/flink/connector/kinesis/table/test/KinesisStreamsTableApiIT.java
  flink-end-to-end-tests/flink-glue-schema-registry-avro-test/pom.xml
  flink-end-to-end-tests/flink-glue-schema-registry-json-test/pom.xml
  flink-end-to-end-tests/flink-streaming-kinesis-test/pom.xml
Labels: component=Connectors/Common, component=Connectors/Kinesis

#19965 [FLINK-22920][formats] Fix guava version conflict in `flink-orc` and `flink-parquet` module
  flink-formats/flink-orc/pom.xml
  flink-formats/flink-parquet/pom.xml
Labels: component=Connectors/ORC

#19994 [FLINK-28060][Connector/Kafka] Updated Kafka Clients to 3.1.1
  flink-connectors/flink-connector-kafka/pom.xml
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/KafkaConsumerTestBase.java
  flink-connectors/flink-sql-connector-kafka/src/main/resources/META-INF/NOTICE
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/pom.xml
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/src/test/java/org/apache/flink/tests/util/kafka/SQLClientKafkaITCase.java
  flink-end-to-end-tests/test-scripts/kafka-common.sh
  flink-end-to-end-tests/test-scripts/test_confluent_schema_registry.sh
  flink-end-to-end-tests/test-scripts/test_pyflink.sh
  flink-end-to-end-tests/test-scripts/test_sql_client.sh
  flink-examples/flink-examples-build-helper/flink-examples-streaming-state-machine/src/main/resources/META-INF/NOTICE
  flink-formats/flink-avro-confluent-registry/pom.xml
Labels: component=API/DataStream, component=Connectors/Kafka

#19997 [BP-1.14][FLINK-28019][table] fix error when retract a staled record if state ttl enabled in RetractableTopNFunction
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/rank/RetractableTopNFunction.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/operators/rank/RetractableTopNFunctionTest.java
Labels: component=<none>

#19996 [BP-1.15][FLINK-28019][table] fix error when retract a staled record if state ttl enabled in RetractableTopNFunction
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/rank/RetractableTopNFunction.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/operators/rank/RetractableTopNFunctionTest.java
Labels: component=<none>

#19859 [FLINK-27861][table] Introduce UserResourceManager to manage user defined resource
  docs/layouts/shortcodes/generated/table_config_configuration.html
  flink-core/src/test/java/org/apache/flink/util/UserClassLoaderJarTestUtils.java
  flink-table/flink-table-api-java/pom.xml
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/config/TableConfigOptions.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/resource/ResourceManager.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/resource/ResourceManagerTest.java
Labels: component=TableSQL/API

#19999 [FLINK-27734][web] Fix checkpoint interval in WebUI
  flink-runtime-web/web-dashboard/src/app/pages/job/checkpoints/job-checkpoints.component.html
  flink-runtime-web/web-dashboard/src/app/pages/job/checkpoints/job-checkpoints.component.ts
Labels: component=Runtime/WebFrontend

#19984 [FLINK-28105][Tests] test the copied object in GlobFilePathFilterTest#testGlobFilterSerializable
  flink-core/src/test/java/org/apache/flink/api/common/io/GlobFilePathFilterTest.java
Labels: component=Tests

#20023 [FLINK-28147][Python] Update httplib2 to at least 0.19.0
  flink-python/dev/dev-requirements.txt
  flink-python/setup.py
Labels: component=API/Python

#19499 [FLINK-26762][network] Add the overdraft buffer in ResultPartition
  docs/content.zh/docs/ops/metrics.md
  docs/content/docs/ops/metrics.md
  docs/layouts/shortcodes/generated/all_taskmanager_network_section.html
  docs/layouts/shortcodes/generated/netty_shuffle_environment_configuration.html
  flink-core/src/main/java/org/apache/flink/configuration/NettyShuffleEnvironmentOptions.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/NettyShuffleServiceFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/buffer/BufferPoolFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/buffer/LocalBufferPool.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/buffer/NetworkBufferPool.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/ResultPartitionFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskmanager/NettyShuffleEnvironmentConfiguration.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/NettyShuffleEnvironmentBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/api/writer/RecordWriterDelegateTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/api/writer/RecordWriterTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/buffer/LocalBufferPoolTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/ResultPartitionBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/ResultPartitionFactoryTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/ResultPartitionTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/consumer/LocalInputChannelTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/ChannelPersistenceITCase.java
Labels: component=Runtime/Network, component=Runtime/Checkpointing

#19993 [FLINK-28077][checkpoint] Fix the bug that tasks get stuck during cancellation in ChannelStateWriteRequestExecutorImpl
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/channel/ChannelStateWriteRequest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/channel/ChannelStateWriteRequestExecutorImplTest.java
Labels: component=Tests, component=Runtime/Checkpointing

#20038 [FLINK-26762][docs] Document overdraft buffers
  docs/content.zh/docs/deployment/memory/network_mem_tuning.md
  docs/content/docs/deployment/memory/network_mem_tuning.md
Labels: component=Runtime/Network, component=Runtime/Checkpointing

#20012 [FLINK-27667][yarn-tests] Stabilize flaky YARN integration tests
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YARNHighAvailabilityITCase.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YARNITCase.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YARNSessionCapacitySchedulerITCase.java
Labels: component=Deployment/YARN

#20011 [FLINK-28112][filesystems] Fix error message when directly supported file system is not able to be handled
  flink-core/src/main/java/org/apache/flink/core/fs/FileSystem.java
  flink-core/src/test/java/org/apache/flink/core/fs/FileSystemTest.java
Labels: component=FileSystems

#20046 [FLINK-28196][build] Rename hadoop.version property
  azure-pipelines.yml
  flink-connectors/flink-connector-hbase-1.4/pom.xml
  flink-connectors/flink-connector-hbase-2.2/pom.xml
  flink-end-to-end-tests/flink-end-to-end-tests-hbase/pom.xml
  flink-filesystems/flink-hadoop-fs/pom.xml
  flink-formats/flink-hadoop-bulk/pom.xml
  flink-formats/flink-orc-nohive/pom.xml
  flink-formats/flink-orc/pom.xml
  flink-fs-tests/pom.xml
  flink-yarn-tests/pom.xml
  flink-yarn/pom.xml
  pom.xml
  tools/azure-pipelines/build-apache-repo.yml
Labels: component=BuildSystem

#20045 [FLINK-28194][python] Remove avro sql jar workaround
  flink-python/pom.xml
  flink-python/pyflink/pyflink_gateway_server.py
Labels: component=API/Python

#19890 [FLINK-27926][Docs] Translating the `Upgrading Applications and Flink versions` page to Chinese
  docs/content.zh/docs/ops/upgrading.md
Labels: component=chinese-translation

#20017 [FLINK-27290][docs-zh]Translate the "Data Type" section of "Data Types" in to Chinese.
  docs/content.zh/docs/dev/table/types.md
Labels: component=Documentation, component=chinese-translation

#20050 [FLINK-25454][runtime] Pause and resume time for throughput calculato…
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/mailbox/MailboxProcessor.java
Labels: component=Runtime/Network

#20041 [FLINK-28175][ci] Improve license checker output
  tools/ci/java-ci-tools/src/main/java/org/apache/flink/tools/ci/licensecheck/NoticeFileChecker.java
Labels: component=BuildSystem/CI

#19619 [FLINK-27466][jdbc][docs] Clarify metaspace leak fix
  docs/content.zh/docs/ops/debugging/debugging_classloading.md
  docs/content/docs/ops/debugging/debugging_classloading.md
Labels: component=Documentation, component=Connectors/JDBC

#20025 [FLINK-27794][connectors/jdbc] Fix the wrong primary key for MysqlCatalog when there are tables with same name in different databases
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/catalog/AbstractJdbcCatalog.java
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/catalog/MySqlCatalog.java
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/catalog/MySqlCatalogITCase.java
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/catalog/MySqlCatalogTestBase.java
  flink-connectors/flink-connector-jdbc/src/test/resources/mysql-scripts/catalog-init-for-test.sql
Labels: component=Connectors/JDBC

#20064 [FLINK-28239][table] Add commons-math3 to owner classpath
  flink-table/flink-table-planner-loader/src/main/java/org/apache/flink/table/planner/loader/PlannerModule.java
Labels: component=TableSQL/Planner

#20065 [FLINK-28169] Disabling Flaky GlueSchemaRegistryJsonKinesisITCase test to unblock build CI
  flink-end-to-end-tests/flink-glue-schema-registry-json-test/src/test/java/org/apache/flink/glue/schema/registry/test/json/GlueSchemaRegistryJsonKinesisITCase.java
Labels: component=Formats

#20058 [FLINK-28226][python] Limit grpcio<1.47
  flink-end-to-end-tests/test-scripts/docker-hadoop-secure-cluster/Dockerfile
  flink-end-to-end-tests/test-scripts/test_kubernetes_pyflink_application.sh
  flink-end-to-end-tests/test-scripts/test_pyflink.sh
  flink-end-to-end-tests/test-scripts/test_pyflink_yarn.sh
  flink-python/dev/dev-requirements.txt
Labels: component=API/Python, component=Deployment/Kubernetes

#19741 [FLINK-27794][connectors/jdbc] Fix the wrong primary key for MysqlCatalog when there are tables with same name in different databases
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/catalog/AbstractJdbcCatalog.java
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/catalog/MySqlCatalog.java
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/catalog/MySqlCatalogITCase.java
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/catalog/MySqlCatalogTestBase.java
  flink-connectors/flink-connector-jdbc/src/test/resources/mysql-scripts/catalog-init-for-test.sql
Labels: component=Connectors/JDBC

#20076 [FLINK-26762][docs-zh] Translate the doc of overdraft buffers
  docs/content.zh/docs/deployment/memory/network_mem_tuning.md
Labels: component=Runtime/Network, component=Runtime/Checkpointing

#20073 [FLINK-28173][formats] Specify guava version explicitly in flink-orc and flink-parquet
  flink-formats/flink-orc/pom.xml
  flink-formats/flink-parquet/pom.xml
Labels: component=Formats

#20083 [FLINK-28263][TPCDS][Tests] Clean-up generated data folder by TPCDS test
  flink-end-to-end-tests/test-scripts/test_tpcds.sh
Labels: component=Tests

#20048 [FLINK-19869][connectors/jdbc] Add support for postgres UUID type
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/converter/AbstractJdbcRowConverter.java
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/internal/converter/PostgresRowConverter.java
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/internal/converter/PostgresRowConverterTest.java
Labels: component=Connectors/JDBC

#20090 [FLINK-28269][Kubernetes] Install cri-dockerd and crictl so we can continue using driver `none` when running Kubernetes tests
  flink-end-to-end-tests/test-scripts/common_kubernetes.sh
Labels: component=Tests, component=Deployment/Kubernetes

#20106 [FLINK-28269][BP 1.14][Kubernetes] Install cri-dockerd and crictl so that we c…
  flink-end-to-end-tests/test-scripts/common_kubernetes.sh
Labels: component=Tests, component=Deployment/Kubernetes

#20003 [FLINK-28080][runtime] Introduce MutableURLClassLoader as parent class of FlinkUserClassLoader and SafetyNetWrapperClassLoader
  flink-core/src/main/java/org/apache/flink/util/FlinkUserCodeClassLoader.java
  flink-core/src/main/java/org/apache/flink/util/FlinkUserCodeClassLoaders.java
  flink-core/src/main/java/org/apache/flink/util/MutableURLClassLoader.java
  flink-core/src/test/java/org/apache/flink/util/FlinkUserCodeClassLoadersTest.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/resource/ResourceManager.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/resource/ResourceManagerTest.java
Labels: component=Runtime/Task

#20052 [FLINK-28047][api] Deprecate StreamExecutionEnvironment#readFile()/readTextFile() methods
  flink-examples/flink-examples-streaming/src/main/java/org/apache/flink/streaming/examples/iteration/IterateExample.java
  flink-examples/flink-examples-streaming/src/main/java/org/apache/flink/streaming/examples/sideoutput/SideOutputExample.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/environment/StreamExecutionEnvironment.java
Labels: component=API/DataStream, component=Connectors/FileSystem

#20081 [FLINK-28259][flink-parquet] Bump protoc version to 3.21.2 for proper ARM support
  flink-python/src/main/resources/META-INF/NOTICE
  pom.xml
Labels: component=Formats

#19702 [FLINK-27031][runtime] Assign even empty old state to the task if the…
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/StateAssignmentOperation.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/TaskStateAssignment.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/StateAssignmentOperationTest.java
Labels: component=Runtime/Network, component=Runtime/StateBackends
