Repository apache/flink, pull requests merged in 2022-01, with the labels that each got.

#18014 [FLINK-24857][test][Kafka] Upgrade SourceReaderTestBase t…
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/reader/SourceReaderBaseTest.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/source/reader/KafkaSourceReaderTest.java
  flink-test-utils-parent/flink-connector-test-utils/pom.xml
  flink-test-utils-parent/flink-connector-test-utils/src/main/java/org/apache/flink/connector/testutils/source/reader/SourceReaderTestBase.java
Labels: component=TestInfrastructure

#17996 [FLINK-23230] Fix protoc dependency for Apple Silicon / m1 support
  flink-connectors/flink-connector-pulsar/pom.xml
  flink-formats/flink-parquet/pom.xml
Labels: component=BuildSystem

#18248 [FLINK-25477][docs] Make the directory structure of the State Backend…
  docs/content/docs/ops/state/state_backends.md
Labels: component=Documentation, component=Runtime/StateBackends

#18147 [FLINK-25370][docs] update HBase SQL Connector Options table-name des…
  docs/content.zh/docs/connectors/table/hbase.md
  docs/content/docs/connectors/table/hbase.md
  flink-connectors/flink-connector-hbase-base/src/main/java/org/apache/flink/connector/hbase/table/HBaseConnectorOptions.java
Labels: component=Documentation

#18203 [FLINK-25460][core] Update slf4j-api dependency to 1.7.32
  docs/content.zh/docs/dev/datastream/project-configuration.md
  docs/content/docs/dev/datastream/project-configuration.md
  flink-dist/src/main/resources/META-INF/NOTICE
  pom.xml
Labels: component=API/Core

#18085 [FLINK-25261][state] Truncate changelog upon materialization
  flink-dstl/flink-dstl-dfs/src/main/java/org/apache/flink/changelog/fs/FsStateChangelogWriter.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/changelog/StateChangelogWriter.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/changelog/inmemory/InMemoryStateChangelogWriter.java
  flink-state-backends/flink-statebackend-changelog/src/main/java/org/apache/flink/state/changelog/ChangelogKeyedStateBackend.java
  flink-state-backends/flink-statebackend-changelog/src/test/java/org/apache/flink/state/changelog/ChangelogStateBackendTestUtils.java
  flink-state-backends/flink-statebackend-changelog/src/test/java/org/apache/flink/state/changelog/StateChangeLoggerTestBase.java
Labels: component=Runtime/StateBackends

#18199 [FLINK-25183] Optimize changelog normalize for the managed table upse…
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/factories/TestManagedTableFactory.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamPhysicalChangelogNormalize.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/optimize/program/FlinkChangelogModeInferenceProgram.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/stream/StreamPhysicalTableSourceScanRule.scala
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/rules/physical/stream/ChangelogModeInferenceTest.xml
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdHandlerTestBase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdModifiedMonotonicityTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/rules/physical/stream/ChangelogModeInferenceTest.scala
Labels: component=<none>

#18061 [FLINK-25239][connector/jdbc] Delete useless variables
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/internal/JdbcOutputFormat.java
Labels: component=Connectors/JDBC

#16108 [FLINK-22821][core] Stabilize NetUtils#getAvailablePort in order to avoid wrongly allocating any used ports
  flink-clients/src/test/java/org/apache/flink/client/program/ClientTest.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/KafkaTestEnvironmentImpl.java
  flink-core/src/main/java/org/apache/flink/util/FileLock.java
  flink-core/src/main/java/org/apache/flink/util/NetUtils.java
  flink-python/src/main/java/org/apache/flink/client/python/PythonEnvUtils.java
  flink-queryable-state/flink-queryable-state-runtime/src/test/java/org/apache/flink/queryablestate/network/ClientTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/netty/NettyClientServerSslTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/netty/NettyConnectionManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/netty/NettyPartitionRequestClientTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/netty/NettyTestUtil.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/netty/PartitionRequestClientFactoryTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskExecutorSubmissionTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskExecutorTest.java
  flink-tests/src/test/java/org/apache/flink/test/runtime/IPv6HostnamesITCase.java
Labels: review=description?, component=Connectors/Kafka

#17988 [FLINK-25010][Connectors/Hive] Speed up hive's createMRSplits by multi thread
  docs/content.zh/docs/connectors/table/hive/hive_read_write.md
  docs/content/docs/connectors/table/hive/hive_read_write.md
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/ContinuousHiveSplitEnumerator.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveLookupTableSource.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveOptions.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveSource.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveSourceBuilder.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveSourceFileEnumerator.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTablePartitionSplits.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSource.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/MRSplitsGetter.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HiveInputFormatPartitionReader.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HiveTableInputFormat.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/PartitionMonitorTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/read/HiveInputFormatPartitionReaderITCase.java
Labels: component=Connectors/Hive

#17749 [FLINK-24758][Connectors / FileSystem] filesystem sink: add partitiontime-extractor.formatter-pattern to allow user to speify DateTimeFormatter
  docs/content.zh/docs/connectors/table/filesystem.md
  docs/content/docs/connectors/table/filesystem.md
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/table/DefaultPartTimeExtractor.java
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/table/FileSystemConnectorOptions.java
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/table/FileSystemTableFactory.java
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/table/PartitionTimeExtractor.java
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/table/stream/PartitionTimeCommitPredicate.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/table/stream/StreamingFileWriterTest.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSource.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HivePartitionFetcherContextBase.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/stream/FsStreamingSinkITCaseBase.scala
Labels: component=Connectors/FileSystem

#18276 [FLINK-25536] Adjust the order of variable declaration and…
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/StateAssignmentOperation.java
Labels: component=<none>

#18125 [FLINK-25210][pulsar][e2e][tests] add resource file to test jar
  flink-connectors/flink-connector-pulsar/pom.xml
  flink-end-to-end-tests/flink-end-to-end-tests-pulsar/src/test/java/org/apache/flink/tests/util/pulsar/PulsarSourceOrderedE2ECase.java
  flink-end-to-end-tests/flink-end-to-end-tests-pulsar/src/test/java/org/apache/flink/tests/util/pulsar/PulsarSourceUnorderedE2ECase.java
Labels: component=Tests, component=Connectors/Pulsar

#18281 [FLINK-25519][Connectors] Promote StreamExecutionEnvironment#fromSour…
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/environment/StreamExecutionEnvironment.java
Labels: component=Connectors/Common

#18266 [FLINK-25510][Connectors / Kafka][tests] Add using committed offsets test cases for KafkaPartitionSplitReader
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/source/reader/KafkaPartitionSplitReader.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/source/reader/KafkaPartitionSplitReaderTest.java
Labels: component=Connectors/Kafka

#18059 [FLINK-25224][filesystem] Bump Hadoop version to 2.8.4
  azure-pipelines.yml
  docs/content.zh/docs/deployment/filesystems/gcs.md
  docs/content.zh/docs/deployment/resource-providers/yarn.md
  docs/content.zh/docs/dev/dataset/hadoop_compatibility.md
  docs/content/docs/connectors/dataset/formats/hadoop.md
  docs/content/docs/connectors/datastream/formats/hadoop.md
  docs/content/docs/deployment/filesystems/gcs.md
  docs/content/docs/deployment/resource-providers/yarn.md
  docs/content/docs/dev/dataset/hadoop_map_reduce.md
  flink-end-to-end-tests/test-scripts/common_yarn_docker.sh
  flink-end-to-end-tests/test-scripts/docker-hadoop-secure-cluster/Dockerfile
  flink-end-to-end-tests/test-scripts/docker-hadoop-secure-cluster/README.md
  flink-jepsen/src/jepsen/flink/flink.clj
  flink-yarn-tests/README.md
  pom.xml
  tools/azure-pipelines/build-apache-repo.yml
Labels: component=FileSystems

#18219 [FLINK-25178][table] Throw exception when managed table sink needs checkpointing
  flink-python/src/main/java/org/apache/flink/table/executor/python/ChainingOptimizingExecutor.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/delegation/Executor.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/utils/ExecutorMock.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/factories/TestManagedTableFactory.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/delegation/DefaultExecutor.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/delegation/PlannerBase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/batch/sql/TableSinkTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/TableSinkTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/utils/TableTestBase.scala
Labels: component=TableSQL/Planner

#18301 [FLINK-25576][Connectors][JDBC] Upgrade com.h2database:h2 to 2.0.206
  flink-connectors/flink-connector-jdbc/pom.xml
Labels: component=Connectors/JDBC

#18318 [FLINK-25576][BP 1.13][Connectors][JDBC] Upgrade com.h2database:h2 to 2.0.206
  flink-connectors/flink-connector-jdbc/pom.xml
Labels: component=Connectors/JDBC

#18317 [FLINK-25576][BP 1.14][Connectors][JDBC] Upgrade com.h2database:h2 to 2.0.206
  flink-connectors/flink-connector-jdbc/pom.xml
Labels: component=Connectors/JDBC

#18311 [FLINK-25280][connector/kafka] Disable log deletion in KafkaTestEnvironmentImpl to prevent records from being deleted during test run
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/KafkaTestEnvironmentImpl.java
Labels: component=Connectors/Kafka

#18032 [FLINK-25190] Actively report the number of TaskManagers that have not yet been registered with JobManager
  docs/content.zh/docs/ops/metrics.md
  docs/content/docs/ops/metrics.md
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/MetricNames.java
  flink-runtime/src/main/java/org/apache/flink/runtime/resourcemanager/active/ActiveResourceManager.java
Labels: component=Deployment/YARN, component=Deployment/Kubernetes

#18282 [FLINK-25553][filesystem][mapr] Remove MapR filesystem
  docs/content.zh/docs/deployment/filesystems/overview.md
  docs/content.zh/docs/deployment/filesystems/plugins.md
  docs/content.zh/docs/internals/filesystems.md
  docs/content/docs/deployment/filesystems/overview.md
  docs/content/docs/deployment/filesystems/plugins.md
  docs/content/docs/internals/filesystems.md
  flink-core/src/main/java/org/apache/flink/core/fs/FileSystem.java
  flink-dist/pom.xml
  flink-filesystems/flink-mapr-fs/pom.xml
  flink-filesystems/flink-mapr-fs/src/main/java/org/apache/flink/runtime/fs/maprfs/MapRFsFactory.java
  flink-filesystems/flink-mapr-fs/src/main/resources/META-INF/services/org.apache.flink.core.fs.FileSystemFactory
  flink-filesystems/flink-mapr-fs/src/test/java/com/mapr/fs/MapRFileSystem.java
  flink-filesystems/flink-mapr-fs/src/test/java/org/apache/flink/runtime/fs/maprfs/MapRFsFactoryTest.java
  flink-filesystems/flink-mapr-fs/src/test/java/org/apache/flink/runtime/fs/maprfs/MapRNotInClassPathTest.java
  flink-filesystems/flink-mapr-fs/src/test/resources/log4j2-test.properties
  flink-filesystems/pom.xml
  flink-python/pyflink/datastream/stream_execution_environment.py
  tools/ci/shade.sh
  tools/ci/stage.sh
Labels: component=Connectors/FileSystem

#17736 [FLINK-24694][docs-zh] Translate "Checkpointing under backpressure" page into Chinese
  docs/content.zh/docs/ops/state/checkpointing_under_backpressure.md
Labels: component=Documentation, component=chinese-translation

#15861 [FLINK-22602][Formats][Parquet] Upgrade Parquet dependency to 1.12.2
  flink-connectors/flink-connector-hive/src/main/resources/META-INF/NOTICE
  flink-formats/flink-sql-parquet/src/main/resources/META-INF/NOTICE
  flink-formats/pom.xml
Labels: review=description?, component=Formats

#18326 [FLINK-25209][tests] Wait until the consuming topic is ready before polling records in KafkaContainerClient#readMessages
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/src/main/java/org/apache/flink/tests/util/kafka/KafkaContainerClient.java
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/src/test/java/org/apache/flink/tests/util/kafka/SQLClientSchemaRegistryITCase.java
Labels: component=Tests, component=Connectors/Kafka, component=TableSQL/Client

#18037 [FLINK-25179] Add document for composite types support for parquet
  docs/content.zh/docs/connectors/table/formats/parquet.md
  docs/content/docs/connectors/table/formats/parquet.md
Labels: component=Documentation

#18325 [FLINK-25608][metrics] Annotate metrics classes with Public(Evolving)
  flink-architecture-tests/violations/5b9eed8a-5fb6-4373-98ac-3be2a71941b8
  flink-metrics/flink-metrics-core/pom.xml
  flink-metrics/flink-metrics-core/src/main/java/org/apache/flink/metrics/CharacterFilter.java
  flink-metrics/flink-metrics-core/src/main/java/org/apache/flink/metrics/Counter.java
  flink-metrics/flink-metrics-core/src/main/java/org/apache/flink/metrics/Gauge.java
  flink-metrics/flink-metrics-core/src/main/java/org/apache/flink/metrics/Histogram.java
  flink-metrics/flink-metrics-core/src/main/java/org/apache/flink/metrics/HistogramStatistics.java
  flink-metrics/flink-metrics-core/src/main/java/org/apache/flink/metrics/LogicalScopeProvider.java
  flink-metrics/flink-metrics-core/src/main/java/org/apache/flink/metrics/Meter.java
  flink-metrics/flink-metrics-core/src/main/java/org/apache/flink/metrics/MeterView.java
  flink-metrics/flink-metrics-core/src/main/java/org/apache/flink/metrics/Metric.java
  flink-metrics/flink-metrics-core/src/main/java/org/apache/flink/metrics/MetricConfig.java
  flink-metrics/flink-metrics-core/src/main/java/org/apache/flink/metrics/MetricGroup.java
  flink-metrics/flink-metrics-core/src/main/java/org/apache/flink/metrics/SimpleCounter.java
  flink-metrics/flink-metrics-core/src/main/java/org/apache/flink/metrics/View.java
  flink-metrics/flink-metrics-core/src/main/java/org/apache/flink/metrics/groups/OperatorCoordinatorMetricGroup.java
  flink-metrics/flink-metrics-core/src/main/java/org/apache/flink/metrics/groups/OperatorIOMetricGroup.java
  flink-metrics/flink-metrics-core/src/main/java/org/apache/flink/metrics/groups/OperatorMetricGroup.java
  flink-metrics/flink-metrics-core/src/main/java/org/apache/flink/metrics/groups/SinkWriterMetricGroup.java
  flink-metrics/flink-metrics-core/src/main/java/org/apache/flink/metrics/groups/SourceReaderMetricGroup.java
  flink-metrics/flink-metrics-core/src/main/java/org/apache/flink/metrics/groups/SplitEnumeratorMetricGroup.java
  flink-metrics/flink-metrics-core/src/main/java/org/apache/flink/metrics/groups/UnregisteredMetricsGroup.java
  flink-metrics/flink-metrics-core/src/main/java/org/apache/flink/metrics/reporter/AbstractReporter.java
  flink-metrics/flink-metrics-core/src/main/java/org/apache/flink/metrics/reporter/InstantiateViaFactory.java
  flink-metrics/flink-metrics-core/src/main/java/org/apache/flink/metrics/reporter/InterceptInstantiationViaReflection.java
  flink-metrics/flink-metrics-core/src/main/java/org/apache/flink/metrics/reporter/MetricReporter.java
  flink-metrics/flink-metrics-core/src/main/java/org/apache/flink/metrics/reporter/MetricReporterFactory.java
  flink-metrics/flink-metrics-core/src/main/java/org/apache/flink/metrics/reporter/Scheduled.java
Labels: component=Runtime/Metrics

#18327 [BP-1.14][FLINK-25280][connector/kafka] Disable log deletion in KafkaTestEnvironmentImpl to prevent records from being deleted during test run
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/KafkaTestEnvironmentImpl.java
Labels: component=Connectors/Kafka

#18328 [BP-1.13][FLINK-25280][connector/kafka] Disable log deletion in KafkaTestEnvironmentImpl to prevent records from being deleted during test run
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/KafkaTestEnvironmentImpl.java
Labels: component=Connectors/Kafka

#18319 [FLINK-25531][connectors/kafka] Force immediate shutdown of FlinkInternalKafkaProducer to speed up testRetryComittableOnRetriableError
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/sink/KafkaCommitterTest.java
Labels: component=<none>

#18257 [FLINK-25504][Kafka] Upgrade Kafka Client to 2.8.1 and Confluent Platform to 6.2.2
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/pom.xml
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/src/test/java/org/apache/flink/tests/util/kafka/SQLClientKafkaITCase.java
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/src/test/java/org/apache/flink/tests/util/kafka/SQLClientSchemaRegistryITCase.java
  flink-end-to-end-tests/test-scripts/test_confluent_schema_registry.sh
  flink-end-to-end-tests/test-scripts/test_pyflink.sh
  flink-end-to-end-tests/test-scripts/test_sql_client.sh
  flink-formats/flink-avro-confluent-registry/pom.xml
  flink-formats/flink-sql-avro-confluent-registry/src/main/resources/META-INF/NOTICE
  flink-test-utils-parent/flink-test-utils-junit/src/main/java/org/apache/flink/util/DockerImageVersions.java
Labels: component=Connectors/Kafka

#18339 [FLINK-25613][build] Sync surefire versions
  flink-connectors/flink-connector-hbase-1.4/pom.xml
  flink-connectors/flink-connector-hbase-2.2/pom.xml
  flink-connectors/flink-connector-kinesis/pom.xml
  flink-end-to-end-tests/flink-glue-schema-registry-avro-test/pom.xml
  flink-end-to-end-tests/flink-glue-schema-registry-json-test/pom.xml
  flink-end-to-end-tests/flink-streaming-kinesis-test/pom.xml
Labels: component=BuildSystem

#18355 [FLINK-25160][docs] Clarified purpose of execution.checkpointing.tole…
  docs/layouts/shortcodes/generated/execution_checkpointing_configuration.html
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/environment/ExecutionCheckpointingOptions.java
Labels: component=Documentation

#18265 [FLINK-24444][runtime] OperatorCoordinatorSchedulerTest: Wait until c…
  flink-runtime/src/test/java/org/apache/flink/runtime/operators/coordination/OperatorCoordinatorSchedulerTest.java
Labels: component=Runtime/Coordination

#18371 [FLINK-24444][BP-1.14][runtime] OperatorCoordinatorSchedulerTest: Wait until c…
  flink-runtime/src/test/java/org/apache/flink/runtime/operators/coordination/OperatorCoordinatorSchedulerTest.java
Labels: component=Runtime/Coordination

#18143 [FLINK-23976][metrics] Add additional job status metrics
  docs/content.zh/docs/ops/metrics.md
  docs/content/docs/ops/metrics.md
  docs/layouts/shortcodes/generated/metric_configuration.html
  flink-core/src/main/java/org/apache/flink/configuration/MetricOptions.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/metrics/RestartTimeGauge.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/SchedulerBase.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveScheduler.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/metrics/RestartTimeGaugeTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/slotpool/SlotPoolTestUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/DefaultSchedulerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/SchedulerBaseTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveSchedulerTest.java
Labels: component=Runtime/Metrics

#18338 [FLINK-25278][ci] Use Maven proxy for confluent repo
  tools/ci/alibaba-mirror-settings.xml
Labels: component=BuildSystem/AzurePipelines

#18322 [FLINK-25589][docs][connectors] Update Chinese version of Elasticsearch connector docs
  docs/content.zh/docs/connectors/datastream/elasticsearch.md
  docs/content.zh/docs/connectors/table/elasticsearch.md
  docs/content/docs/connectors/datastream/elasticsearch.md
Labels: component=Documentation, component=Connectors/ElasticSearch, component=chinese-translation

#18378 [FLINK-24858][release][docs] Recommend users to upgrade to 1.14.3 fro…
  docs/content/release-notes/flink-1.14.md
Labels: component=API/TypeSerializationSystem

#18379 [FLINK-24858][release][docs] Recommend users to upgrade to 1.14.3 fro…
  docs/content/release-notes/flink-1.14.md
Labels: component=API/TypeSerializationSystem

#18369 [FLINK-25658][ci] Use Nexus npm cache
  flink-runtime-web/pom.xml
  tools/ci/maven-utils.sh
Labels: component=BuildSystem/CI

#18366 [FLINK-25656][Kinesis] Upgrade software.amazon.glue:schema-registry-common and software.amazon.glue:schema-registry-serde dependency from 1.1.5 to 1.1.8
  flink-formats/flink-avro-glue-schema-registry/pom.xml
  flink-formats/flink-json-glue-schema-registry/pom.xml
Labels: component=Connectors/Kinesis

#18367 [FLINK-25657][Kinesis] Upgrade com.amazonaws:amazon-kinesis-client dependency from 1.14.1 to 1.14.7
  flink-connectors/flink-connector-kinesis/pom.xml
  flink-connectors/flink-connector-kinesis/src/main/resources/META-INF/NOTICE
Labels: component=Connectors/Kinesis

#18351 [FLINK-25646][docs] Added "High parallelism" limitation for buffer debloating docs
  docs/content.zh/docs/deployment/memory/network_mem_tuning.md
  docs/content/docs/deployment/memory/network_mem_tuning.md
Labels: component=Runtime/Network, component=Documentation

#18329 [FLINK-25611][core] Remove CoordinatorExecutorThreadFactory thread creation guards
  flink-runtime/src/main/java/org/apache/flink/runtime/source/coordinator/SourceCoordinatorProvider.java
Labels: component=API/Core

#18354 [FLINK-25650][docs] Added "Interplay with long-running record process…
  docs/content.zh/docs/ops/state/checkpointing_under_backpressure.md
  docs/content/docs/ops/state/checkpointing_under_backpressure.md
Labels: component=Documentation, component=Runtime/Checkpointing

#18389 [BP-1.14][FLINK-25633] Set locale to en-US to avoid ambiguous decimal formattings
  flink-connectors/flink-connector-cassandra/pom.xml
  flink-connectors/flink-connector-kafka/pom.xml
  flink-connectors/flink-connector-pulsar/pom.xml
  flink-python/pom.xml
  pom.xml
Labels: component=Tests

#18390 [BP-1.13][FLINK-25633] Set locale to en-US to avoid ambiguous decimal formattings
  flink-connectors/flink-connector-cassandra/pom.xml
  flink-connectors/flink-connector-kafka/pom.xml
  flink-python/pom.xml
  pom.xml
Labels: component=Tests

#18165 [FLINK-24904][docs] Updated docs to reflect new KDS Sink and deprecat…
  docs/content/docs/connectors/datastream/kinesis.md
  docs/content/docs/ops/metrics.md
Labels: component=Documentation, component=Connectors/Kinesis

#18332 [FLINK-25427] Fix SavepointITCase.testTriggerSavepointAndResumeWithNo…
  flink-runtime/src/main/java/org/apache/flink/runtime/minicluster/MiniCluster.java
  flink-runtime/src/test/java/org/apache/flink/runtime/minicluster/MiniClusterITCase.java
Labels: component=Runtime/Checkpointing

#17601 [FLINK-24697][flink-connectors-kafka] add auto.offset.reset configuration for group-offsets startup mode
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/streaming/connectors/kafka/table/KafkaDynamicSource.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/KafkaDynamicTableFactoryTest.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/KafkaTableITCase.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/KafkaTableTestUtils.java
  flink-test-utils-parent/flink-test-utils-junit/src/main/java/org/apache/flink/core/testutils/FlinkAssertions.java
Labels: component=Connectors/Kafka

#17098 [FLINK-15648][flink-kubernetes] Support to configure limit for CPU & memory
  docs/layouts/shortcodes/generated/kubernetes_config_configuration.html
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/configuration/KubernetesConfigOptions.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/decorators/InitJobManagerDecorator.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/decorators/InitTaskManagerDecorator.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/parameters/KubernetesJobManagerParameters.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/parameters/KubernetesTaskManagerParameters.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/utils/KubernetesUtils.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/entrypoint/KubernetesWorkerResourceSpecFactoryTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/KubernetesJobManagerTestBase.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/KubernetesTaskManagerTestBase.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/InitJobManagerDecoratorTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/InitTaskManagerDecoratorTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/parameters/KubernetesJobManagerParametersTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/parameters/KubernetesTaskManagerParametersTest.java
Labels: review=description?, component=Deployment/Kubernetes

#17503 [FLINK-24334][Deployment/Kubernetes] Configuration 'kubernetes.flink.log.dir' compatible
  docs/layouts/shortcodes/generated/kubernetes_config_configuration.html
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/configuration/KubernetesConfigOptions.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/decorators/InitJobManagerDecorator.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/decorators/InitTaskManagerDecorator.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/parameters/AbstractKubernetesParameters.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/parameters/KubernetesParameters.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/utils/Constants.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/InitJobManagerDecoratorTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/InitTaskManagerDecoratorTest.java
Labels: component=Deployment/Kubernetes

#18404 [FLINK-25681][table-planner] Remove failure test in CodeSplitITCase to avoid deep exception stack
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/CodeSplitITCase.scala
Labels: component=TableSQL/Planner, component=TableSQL/API

#18420 [FLINK-25199][network] Make sure StreamEdges are unique
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/StreamEdge.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/StreamGraph.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/StreamNode.java
  flink-tests/src/test/java/org/apache/flink/test/streaming/runtime/TimestampITCase.java
Labels: component=Runtime/Task

#18421 [FLINK-25731][connectors/kinesis] Deprecated FlinkKinesisConsumer / F…
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/FlinkKinesisProducer.java
Labels: component=Connectors/Common

#18411 [FLINK-23944][test][pulsar] 1. change the Matcher to validate both size and data 2. pulsar IT test generate deterministic data
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/testutils/PulsarTestContext.java
  flink-test-utils-parent/flink-connector-testing/src/main/java/org/apache/flink/connectors/test/common/utils/TestDataMatchers.java
Labels: component=Connectors/Pulsar

#18429 [FLINK-25674] Add drop tables to be idempotent in case of retrials and the related test
  flink-connectors/flink-connector-cassandra/src/test/java/org/apache/flink/streaming/connectors/cassandra/CassandraConnectorITCase.java
Labels: component=Connectors/Cassandra

#18402 [FLINK-25678][runtime] Make TaskExecutorStateChangelogStoragesManager.shutdown thread-safe
  flink-runtime/src/main/java/org/apache/flink/runtime/state/TaskExecutorStateChangelogStoragesManager.java
Labels: component=Runtime/StateBackends, component=Runtime/Checkpointing

#18442 [BP-1.14]FLINK-25678][runtime] Make TaskExecutorStateChangelogStoragesManager.shutdown thread-safe
  flink-runtime/src/main/java/org/apache/flink/runtime/state/TaskExecutorStateChangelogStoragesManager.java
Labels: component=Runtime/StateBackends, component=Runtime/Checkpointing

#18436 [BP-1.13][FLINK-24334][k8s] Set FLINK_LOG_DIR environment for JobManager and TaskManager pod if configured via options
  docs/layouts/shortcodes/generated/kubernetes_config_configuration.html
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/configuration/KubernetesConfigOptions.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/decorators/InitJobManagerDecorator.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/decorators/InitTaskManagerDecorator.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/parameters/AbstractKubernetesParameters.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/parameters/KubernetesParameters.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/utils/Constants.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/InitJobManagerDecoratorTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/InitTaskManagerDecoratorTest.java
Labels: component=Deployment/Kubernetes

#18435 [BP-1.14][FLINK-24334][k8s] Set FLINK_LOG_DIR environment for JobManager and TaskManager pod if configured via options
  docs/layouts/shortcodes/generated/kubernetes_config_configuration.html
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/configuration/KubernetesConfigOptions.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/decorators/InitJobManagerDecorator.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/decorators/InitTaskManagerDecorator.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/parameters/AbstractKubernetesParameters.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/parameters/KubernetesParameters.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/utils/Constants.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/InitJobManagerDecoratorTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/InitTaskManagerDecoratorTest.java
Labels: component=Deployment/Kubernetes

#18422 [FLINK-25732][coordination] Pass serializable collection
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/Dispatcher.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/DispatcherTest.java
Labels: component=Runtime/Coordination

#18382 [FLINK-25524] Fix ChangelogStateBackend.notifyCheckpointComplete
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/metadata/MetadataV2V3SerializerBase.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/CheckpointBoundKeyedStateHandle.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/IncrementalKeyedStateHandle.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/changelog/ChangelogStateBackendHandle.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/ttl/mock/MockKeyedStateBackend.java
  flink-state-backends/flink-statebackend-changelog/src/main/java/org/apache/flink/state/changelog/ChangelogKeyedStateBackend.java
  flink-state-backends/flink-statebackend-changelog/src/main/java/org/apache/flink/state/changelog/ChangelogStateBackend.java
  flink-state-backends/flink-statebackend-changelog/src/main/java/org/apache/flink/state/changelog/PeriodicMaterializationManager.java
  flink-state-backends/flink-statebackend-changelog/src/test/java/org/apache/flink/state/changelog/ChangelogKeyedStateBackendTest.java
  flink-state-backends/flink-statebackend-changelog/src/test/java/org/apache/flink/state/changelog/ChangelogStateBackendTestUtils.java
Labels: component=Runtime/StateBackends, component=Runtime/Checkpointing

#18432 [FLINK-25739][dist] Include Changelog to flink-dist jar
  flink-dist/pom.xml
Labels: component=Runtime/StateBackends

#18488 [FLINK-24041][connector] Fixing reversed insertion of failed requests
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/sink/writer/AsyncSinkWriter.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/writer/AsyncSinkWriterTest.java
Labels: component=Connectors/Common

#18448 [FLINK-25763][match-recognize][docs] Updated docs to use code tag consistent with other tables
  docs/content.zh/docs/dev/table/sql/queries/match_recognize.md
  docs/content/docs/dev/table/sql/queries/match_recognize.md
Labels: component=Documentation, component=TableSQL/API

#18501 [FLINK-25348][build] Clear japicmp exclusions
  flink-core/pom.xml
  flink-streaming-java/pom.xml
  flink-streaming-scala/pom.xml
Labels: component=BuildSystem

#18512 [FLINK-25811][hotfix][connector/base] changing failed requests handler to accept List in AsyncSinkWriter
  flink-connectors/flink-connector-aws-kinesis-data-streams/src/main/java/org/apache/flink/connector/kinesis/sink/KinesisDataStreamsSinkWriter.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/sink/writer/AsyncSinkWriter.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/ArrayListAsyncSink.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/writer/AsyncSinkWriterTest.java
Labels: component=Connectors/Common

#18511 [FLINK-25673] Harden AdaptiveSchedulerITCase by introducing MiniClust…
  flink-runtime/src/main/java/org/apache/flink/runtime/minicluster/MiniCluster.java
  flink-runtime/src/test/java/org/apache/flink/runtime/testutils/MiniClusterResource.java
  flink-tests/src/test/java/org/apache/flink/test/scheduling/AdaptiveSchedulerITCase.java
Labels: component=Runtime/Coordination

#18444 [FLINK-25754] Drop KeyExtractor.ColumnWithIndex
  flink-connectors/flink-connector-elasticsearch-base/src/main/java/org/apache/flink/connector/elasticsearch/table/KeyExtractor.java
Labels: component=Connectors/ElasticSearch

#18483 [FLINK-24041][connectors] Removed public setter for elementConverter in As…
  docs/content.zh/docs/connectors/datastream/kinesis.md
  docs/content/docs/connectors/datastream/kinesis.md
  flink-connectors/flink-connector-aws-kinesis-data-streams/src/main/java/org/apache/flink/connector/kinesis/sink/KinesisDataStreamsSink.java
  flink-connectors/flink-connector-aws-kinesis-data-streams/src/main/java/org/apache/flink/connector/kinesis/sink/KinesisDataStreamsSinkBuilder.java
  flink-connectors/flink-connector-aws-kinesis-data-streams/src/main/java/org/apache/flink/connector/kinesis/sink/KinesisDataStreamsSinkElementConverter.java
  flink-connectors/flink-connector-aws-kinesis-data-streams/src/main/java/org/apache/flink/connector/kinesis/sink/PartitionKeyGenerator.java
  flink-connectors/flink-connector-aws-kinesis-data-streams/src/main/java/org/apache/flink/connector/kinesis/table/FixedKinesisPartitionKeyGenerator.java
  flink-connectors/flink-connector-aws-kinesis-data-streams/src/main/java/org/apache/flink/connector/kinesis/table/KinesisConnectorOptions.java
  flink-connectors/flink-connector-aws-kinesis-data-streams/src/main/java/org/apache/flink/connector/kinesis/table/KinesisDataStreamsConnectorOptionsUtils.java
  flink-connectors/flink-connector-aws-kinesis-data-streams/src/main/java/org/apache/flink/connector/kinesis/table/KinesisDynamicSink.java
  flink-connectors/flink-connector-aws-kinesis-data-streams/src/main/java/org/apache/flink/connector/kinesis/table/KinesisDynamicTableSinkFactory.java
  flink-connectors/flink-connector-aws-kinesis-data-streams/src/main/java/org/apache/flink/connector/kinesis/table/KinesisPartitionKeyGeneratorFactory.java
  flink-connectors/flink-connector-aws-kinesis-data-streams/src/main/java/org/apache/flink/connector/kinesis/table/RandomKinesisPartitionKeyGenerator.java
  flink-connectors/flink-connector-aws-kinesis-data-streams/src/main/java/org/apache/flink/connector/kinesis/table/RowDataFieldsKinesisPartitionKeyGenerator.java
  flink-connectors/flink-connector-aws-kinesis-data-streams/src/test/java/org/apache/flink/connector/kinesis/sink/KinesisDataStreamsSinkBuilderTest.java
  flink-connectors/flink-connector-aws-kinesis-data-streams/src/test/java/org/apache/flink/connector/kinesis/sink/KinesisDataStreamsSinkITCase.java
  flink-connectors/flink-connector-aws-kinesis-data-streams/src/test/java/org/apache/flink/connector/kinesis/sink/examples/SinkIntoKinesis.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/sink/AsyncSinkBase.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/sink/AsyncSinkBaseBuilder.java
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/KinesisPartitioner.java
Labels: component=Connectors/Common

#18500 [FLINK-25312][hive] HiveCatalog supports Flink's managed table
  flink-connectors/flink-connector-hive/pom.xml
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/HiveCatalog.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/util/HiveTableUtil.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveCatalogITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveCatalogTest.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/catalog/ManagedTableListener.java
Labels: component=Connectors/Hive

#18549 [FLINK-25861] Move states of AbstractAvroBulkFormat into its reader
  flink-formats/flink-avro/src/main/java/org/apache/flink/formats/avro/AbstractAvroBulkFormat.java
  flink-formats/flink-avro/src/main/java/org/apache/flink/formats/avro/AvroFileFormatFactory.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/AvroBulkFormatTestUtils.java
Labels: component=Formats

#18463 [FLINK-25773][build] Upgrade to flink-shaded 15.0
  flink-dist/pom.xml
  flink-dist/src/main/assemblies/bin.xml
  flink-dist/src/main/assemblies/opt.xml
  pom.xml
Labels: component=BuildSystem

#18467 [FLINK-25776][build] Sync netty versions
  flink-connectors/flink-connector-cassandra/pom.xml
  flink-connectors/flink-connector-cassandra/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-connector-kinesis/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-hbase-1.4/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-hbase-2.2/src/main/resources/META-INF/NOTICE
  flink-formats/flink-avro-glue-schema-registry/pom.xml
  flink-python/pom.xml
  flink-python/src/main/resources/META-INF/NOTICE
  pom.xml
Labels: component=BuildSystem

#18508 [FLINK-25808][rest][docs] JsonTypeInfo property uses valid java identier
  docs/static/generated/rest_v1_dispatcher.yml
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/messages/checkpoints/CheckpointStatistics.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/messages/checkpoints/SubtaskCheckpointStatistics.java
Labels: component=Documentation, component=Runtime/REST

#18517 [FLINK-25816][state] Remove checkpoint abortion notification of notify backend
  flink-state-backends/flink-statebackend-changelog/src/main/java/org/apache/flink/state/changelog/ChangelogKeyedStateBackend.java
Labels: component=Runtime/StateBackends, component=Runtime/Checkpointing

#18513 [FLINK-25753][tests] Fix KafkaTableITCase.testStartFromGroupOffsetsLatest
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/KafkaTableITCase.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/KafkaTableTestBase.java
Labels: component=Connectors/Kafka

#18507 [FLINK-25807][rest][docs] Deduplicate fields that only differ by naming convention
  docs/static/generated/rest_v1_dispatcher.yml
  flink-runtime/pom.xml
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/messages/job/SubtaskExecutionAttemptDetailsInfo.java
Labels: component=Documentation, component=Runtime/REST

#18431 [FLINK-25024][docs] Add Changelog backend docs
  docs/content.zh/docs/deployment/config.md
  docs/content.zh/docs/ops/metrics.md
  docs/content.zh/docs/ops/state/state_backends.md
  docs/content/docs/deployment/config.md
  docs/content/docs/ops/metrics.md
  docs/content/docs/ops/state/state_backends.md
  docs/layouts/shortcodes/generated/fs_state_changelog_configuration.html
  flink-docs/pom.xml
  flink-docs/src/main/java/org/apache/flink/docs/configuration/ConfigOptionsDocGenerator.java
Labels: component=Documentation

#18552 [FLINK-25479][rpc] Serialize TaskStateSnapshot when sending to JM from TM
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinatorGateway.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/TaskStateSnapshot.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/JobMaster.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/changelog/SequenceNumber.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/changelog/StateChange.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/rpc/RpcCheckpointResponder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/JobMasterTester.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/utils/TestingJobMasterGateway.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/ttl/mock/MockKeyedStateBackend.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/ttl/mock/MockKeyedStateBackendBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/ttl/mock/MockStateBackend.java
  flink-state-backends/flink-statebackend-changelog/src/test/java/org/apache/flink/state/changelog/ChangelogKeyedStateBackendTest.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/StateHandleReuseITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/UnalignedCheckpointFailureHandlingITCase.java
Labels: component=Tests, component=Runtime/StateBackends, component=Runtime/Checkpointing

#18465 [FLINK-24978][build] Upgrade ASM to 9.2
  flink-core/pom.xml
  flink-core/src/main/java/org/apache/flink/api/java/ClosureCleaner.java
  flink-core/src/main/java/org/apache/flink/api/java/typeutils/TypeExtractionUtils.java
  flink-core/src/test/java/org/apache/flink/api/common/typeutils/ClassRelocator.java
  flink-scala/pom.xml
  flink-scala/src/main/scala/org/apache/flink/api/scala/ClosureCleaner.scala
  flink-table/flink-table-common/pom.xml
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/extraction/ExtractionUtils.java
  pom.xml
Labels: component=BuildSystem/Shaded

#18559 [BP-1.14][FLINK-25486][Runtime/Coordination] Fix the bug that flink will lost state when zookeeper leader changes
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/MiniDispatcher.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/JobDispatcherITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/MiniDispatcherTest.java
Labels: component=Runtime/Coordination

#18543 [FLINK-25431] Implement a file-based JobResultStore
  docs/content/docs/deployment/config.md
  docs/layouts/shortcodes/generated/common_high_availability_jrs_section.html
  docs/layouts/shortcodes/generated/job_result_store_configuration.html
  flink-annotations/src/main/java/org/apache/flink/annotation/docs/Documentation.java
  flink-docs/src/main/java/org/apache/flink/docs/configuration/ConfigOptionsDocGenerator.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/highavailability/KubernetesHaServices.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/highavailability/KubernetesMultipleComponentLeaderElectionHaServices.java
  flink-runtime/src/main/java/org/apache/flink/runtime/highavailability/AbstractThreadsafeJobResultStore.java
  flink-runtime/src/main/java/org/apache/flink/runtime/highavailability/FileSystemJobResultStore.java
  flink-runtime/src/main/java/org/apache/flink/runtime/highavailability/JobResultStoreOptions.java
  flink-runtime/src/main/java/org/apache/flink/runtime/highavailability/nonha/embedded/EmbeddedJobResultStore.java
  flink-runtime/src/main/java/org/apache/flink/runtime/highavailability/zookeeper/AbstractZooKeeperHaServices.java
  flink-runtime/src/main/java/org/apache/flink/runtime/highavailability/zookeeper/ZooKeeperHaServices.java
  flink-runtime/src/test/java/org/apache/flink/runtime/highavailability/FileSystemJobResultStoreContractTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/highavailability/FileSystemJobResultStoreTestInternal.java
  flink-runtime/src/test/java/org/apache/flink/runtime/highavailability/JobResultStoreContractTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/highavailability/nonha/embedded/EmbeddedJobResultStoreContractTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/highavailability/nonha/embedded/EmbeddedJobResultStoreTest.java
Labels: component=<none>

#18538 [FLINK-25728][task] Solve potential memory leaks in StreamMultipleInputProcessor
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/StreamMultipleInputProcessor.java
Labels: component=Runtime/Task
