Repository apache/flink, pull requests merged in 2022-02, with the labels that each got.

#18519 [FLINK-25818][Docs][Kafka] Add explanation how Kafka Source deals wit…
  docs/content.zh/docs/connectors/datastream/kafka.md
  docs/content/docs/connectors/datastream/kafka.md
Labels: component=Documentation, component=Connectors/Kafka

#18520 [FLINK-25818][Docs][Kafka] Add explanation how Kafka Source deals wit…
  docs/content.zh/docs/connectors/datastream/kafka.md
  docs/content/docs/connectors/datastream/kafka.md
Labels: component=Documentation, component=Connectors/Kafka

#18565 [FLINK-25145][build] Drop ZK 3.4 / Support ZK 3.6
  flink-connectors/flink-connector-hbase-1.4/pom.xml
  flink-connectors/flink-connector-hbase-2.2/pom.xml
  flink-connectors/flink-sql-connector-hbase-1.4/pom.xml
  flink-connectors/flink-sql-connector-hbase-2.2/pom.xml
  flink-dist/pom.xml
  flink-dist/src/main/assemblies/bin.xml
  flink-dist/src/main/assemblies/opt.xml
  flink-end-to-end-tests/flink-end-to-end-tests-common/src/main/java/org/apache/flink/tests/util/flink/container/FlinkContainersBuilder.java
  flink-end-to-end-tests/run-nightly-tests.sh
  flink-end-to-end-tests/test-scripts/test_ha_datastream.sh
  flink-end-to-end-tests/test-scripts/test_ha_per_job_cluster_datastream.sh
  flink-formats/flink-orc/src/main/java/org/apache/flink/orc/OrcFilters.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/DefaultLastStateConnectionStateListener.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/LastStateConnectionStateListener.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/ZooKeeperCheckpointIDCounter.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/ZooKeeperCheckpointRecoveryFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/highavailability/zookeeper/AbstractZooKeeperHaServices.java
  flink-runtime/src/main/java/org/apache/flink/runtime/highavailability/zookeeper/CuratorFrameworkWithUnhandledErrorListener.java
  flink-runtime/src/main/java/org/apache/flink/runtime/highavailability/zookeeper/ZooKeeperMultipleComponentLeaderElectionHaServices.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmanager/ZooKeeperJobGraphStoreWatcher.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmanager/scheduler/CoLocationGroupImpl.java
  flink-runtime/src/main/java/org/apache/flink/runtime/leaderelection/ZooKeeperLeaderElectionDriver.java
  flink-runtime/src/main/java/org/apache/flink/runtime/leaderelection/ZooKeeperLeaderElectionDriverFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/leaderelection/ZooKeeperMultipleComponentLeaderElectionDriver.java
  flink-runtime/src/main/java/org/apache/flink/runtime/leaderelection/ZooKeeperMultipleComponentLeaderElectionDriverFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/leaderretrieval/ZooKeeperLeaderRetrievalDriver.java
  flink-runtime/src/main/java/org/apache/flink/runtime/leaderretrieval/ZooKeeperLeaderRetrievalDriverFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/handler/job/JobExceptionsHandler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/util/ZooKeeperUtils.java
  flink-runtime/src/main/java/org/apache/flink/runtime/zookeeper/ZooKeeperSharedCount.java
  flink-runtime/src/main/java/org/apache/flink/runtime/zookeeper/ZooKeeperSharedValue.java
  flink-runtime/src/main/java/org/apache/flink/runtime/zookeeper/ZooKeeperStateHandleStore.java
  flink-runtime/src/main/java/org/apache/flink/runtime/zookeeper/ZooKeeperVersionedValue.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/ZKCheckpointIDCounterMultiServersTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/ZooKeeperCheckpointIDCounterITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/ZooKeeperCompletedCheckpointStoreITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/ZooKeeperCompletedCheckpointStoreTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/runner/ZooKeeperDefaultDispatcherRunnerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/highavailability/zookeeper/ZooKeeperHaServicesTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmanager/ZooKeeperJobGraphStoreWatcherTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmanager/ZooKeeperJobGraphsStoreITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderelection/ZooKeeperLeaderElectionConnectionHandlingTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderelection/ZooKeeperLeaderElectionTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderelection/ZooKeeperMultipleComponentLeaderElectionDriverTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderretrieval/ZooKeeperLeaderRetrievalConnectionHandlingTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/util/ZooKeeperUtilsTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/util/ZooKeeperUtilsTreeCacheTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/zookeeper/ZooKeeperStateHandleStoreTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/zookeeper/ZooKeeperTestEnvironment.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/OneInputStreamTask.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/UnalignedCheckpointStressITCase.java
  pom.xml
Labels: component=Runtime/Coordination, component=BuildSystem/Shaded

#17896 [FLINK-25041][e2e] Improve error handling for missing environment variables in E2E tests
  flink-end-to-end-tests/run-nightly-tests.sh
  flink-end-to-end-tests/test-scripts/common.sh
  flink-end-to-end-tests/test-scripts/common_artifact_download_cacher.sh
  flink-end-to-end-tests/test-scripts/common_s3.sh
  flink-end-to-end-tests/test-scripts/elasticsearch-common.sh
  flink-end-to-end-tests/test-scripts/kafka-common.sh
  flink-end-to-end-tests/test-scripts/test_azure_fs.sh
  flink-end-to-end-tests/test-scripts/test_resume_externalized_checkpoints.sh
  tools/azure-pipelines/cache_docker_images.sh
  tools/ci/test_controller.sh
  tools/releasing/create_binary_release.sh
  tools/releasing/create_release_branch.sh
  tools/releasing/create_snapshot_branch.sh
  tools/releasing/create_source_release.sh
  tools/releasing/update_branch_version.sh
  tools/releasing/update_japicmp_configuration.sh
Labels: component=TestInfrastructure

#18306 [FLINK-25445] No need to create local recovery dirs when disabled loc…
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/runtime/SavepointLocalRecoveryProvider.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/runtime/SavepointTaskStateManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/LocalRecoveryConfig.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/TaskExecutorLocalStateStoresManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/TaskLocalStateStoreImpl.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/heap/HeapSnapshotStrategy.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/TaskExecutorLocalStateStoresManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/TaskLocalStateStoreImplTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/TaskStateManagerImplTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/TestLocalRecoveryConfig.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/snapshot/RocksFullSnapshotStrategy.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/snapshot/RocksIncrementalSnapshotStrategy.java
  flink-state-backends/flink-statebackend-rocksdb/src/test/java/org/apache/flink/contrib/streaming/state/benchmark/StateBackendBenchmarkUtils.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/LocalStateForwardingTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTestHarness.java
  flink-tests/src/test/java/org/apache/flink/test/state/operator/restore/StreamOperatorSnapshotRestoreTest.java
Labels: component=Runtime/Coordination

#18521 [FLINK-25819][tests] Improve error reporting
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/buffer/NetworkBufferPoolTest.java
Labels: component=Runtime/Network

#18579 [FLINK-25564][flink-tests] leave cleanup to rule
  flink-tests/src/test/java/org/apache/flink/test/recovery/TaskManagerProcessFailureStreamingRecoveryITCase.java
Labels: component=Runtime/Coordination

#18577 [FLINK-25880][Docs] Implement Matomo in Flink documentation
  docs/layouts/_default/baseof.html
Labels: component=Documentation

#18597 [FLINK-25880][BP 1.0][Docs] Implement Matomo in Flink documentation
  docs/_layouts/base.html
Labels: component=Documentation

#18596 [FLINK-25880][BP 1.1][Docs] Implement Matomo in Flink documentation
  docs/_layouts/base.html
Labels: component=Documentation

#18595 [FLINK-25880][BP 1.2][Docs] Implement Matomo in Flink documentation
  docs/_layouts/base.html
Labels: component=Documentation

#18594 [FLINK-25880][BP 1.3][Docs] Implement Matomo in Flink documentation
  docs/_layouts/base.html
Labels: component=Documentation

#18593 [FLINK-25880][BP 1.4][Docs] Implement Matomo in Flink documentation
  docs/_layouts/base.html
Labels: component=Documentation

#18592 [FLINK-25880][BP 1.5][Docs] Implement Matomo in Flink documentation
  docs/_layouts/base.html
Labels: component=Documentation

#18591 [FLINK-25880][BP 1.6][Docs] Implement Matomo in Flink documentation
  docs/_layouts/base.html
Labels: component=Documentation

#18589 [FLINK-25880][BP 1.8][Docs] Implement Matomo in Flink documentation
  docs/_layouts/base.html
Labels: component=Documentation

#18590 [FLINK-25880][BP 1.7][Docs] Implement Matomo in Flink documentation
  docs/_layouts/base.html
Labels: component=Documentation

#18588 [FLINK-25880][BP 1.9][Docs] Implement Matomo in Flink documentation
  docs/_layouts/base.html
Labels: component=Documentation

#18587 [FLINK-25880][BP 1.10][Docs] Implement Matomo in Flink documentation
  docs/_layouts/base.html
Labels: component=Documentation

#18586 [FLINK-25880][BP 1.11][Docs] Implement Matomo in Flink documentation
  docs/_layouts/base.html
Labels: component=Documentation

#18583 [FLINK-25880][BP 1.14][Docs] Implement Matomo in Flink documentation
  docs/layouts/_default/baseof.html
Labels: component=Documentation

#18584 [FLINK-25880][BP 1.13][Docs] Implement Matomo in Flink documentation
  docs/layouts/_default/baseof.html
Labels: component=Documentation

#18585 [FLINK-25880][BP 1.12][Docs] Implement Matomo in Flink documentation
  docs/_layouts/base.html
Labels: component=Documentation

#18522 [FLINK-25597][conf][docs] Clarify options for local directories
  docs/content/docs/deployment/filesystems/s3.md
  docs/layouts/shortcodes/generated/blob_server_configuration.html
  docs/layouts/shortcodes/generated/cluster_configuration.html
  docs/layouts/shortcodes/generated/expert_cluster_section.html
  docs/layouts/shortcodes/generated/history_server_configuration.html
  docs/layouts/shortcodes/generated/kubernetes_config_configuration.html
  docs/layouts/shortcodes/generated/web_configuration.html
  flink-core/src/main/java/org/apache/flink/configuration/BlobServerOptions.java
  flink-core/src/main/java/org/apache/flink/configuration/ClusterOptions.java
  flink-core/src/main/java/org/apache/flink/configuration/HistoryServerOptions.java
  flink-core/src/main/java/org/apache/flink/configuration/WebOptions.java
Labels: component=Documentation, component=Runtime/Coordination

#18043 [FLINK-25206] Add configuration option to disable configuration in user programs
  docs/layouts/shortcodes/generated/deployment_configuration.html
  flink-clients/src/main/java/org/apache/flink/client/program/MutatedConfigurationException.java
  flink-clients/src/main/java/org/apache/flink/client/program/StreamContextEnvironment.java
  flink-clients/src/test/java/org/apache/flink/client/program/ClientTest.java
  flink-clients/src/test/java/org/apache/flink/client/program/StreamContextEnvironmentTest.java
  flink-clients/src/test/java/org/apache/flink/client/testjar/ForbidConfigurationJob.java
  flink-core/src/main/java/org/apache/flink/configuration/DeploymentOptions.java
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/ConfigurationNotAllowedMessage.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/environment/StreamExecutionEnvironment.java
Labels: component=Runtime/Coordination, component=Client/JobSubmission

#18532 [FLINK-19845][connector-files] Prune FileSystemFormatFactory
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/table/AbstractFileSystemTable.java
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/table/FileSystemTableFactory.java
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/table/FileSystemTableSink.java
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/table/FileSystemTableSource.java
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/table/factories/FileSystemFormatFactory.java
Labels: component=Formats

#18395 [FLINK-25685][rest] RestClusterClient supports uploading local file path with scheme
  flink-clients/src/main/java/org/apache/flink/client/program/rest/RestClusterClient.java
  flink-clients/src/test/java/org/apache/flink/client/program/rest/RestClusterClientTest.java
Labels: component=Runtime/REST

#18581 [FLINK-25879][Docs] Track used search terms in Matomo
  docs/layouts/partials/docs/inject/menu-after.html
  docs/static/js/track-search-terms.js
Labels: component=Documentation

#18617 [FLINK-25949][connector/firehose] Fixing wrong Http protocol default value for kinesisfirehoseSinkBuilder
  flink-connectors/flink-connector-aws-kinesis-firehose/src/main/java/org/apache/flink/connector/firehose/sink/KinesisFirehoseSinkBuilder.java
  flink-connectors/flink-connector-aws-kinesis-firehose/src/test/java/org/apache/flink/connector/firehose/sink/KinesisFirehoseSinkBuilderTest.java
Labels: component=Connectors/Kinesis

#18503 [FLINK-25331][tests] FlinkImageBuilder checks for Java 17
  flink-end-to-end-tests/flink-end-to-end-tests-common/src/main/java/org/apache/flink/tests/util/flink/container/FlinkImageBuilder.java
Labels: component=Tests

#18625 [FLINK-25947][build] Simplify shade-plugin configuration
  flink-table/flink-table-planner/pom.xml
Labels: component=BuildSystem

#18615 [FLINK-25578][core] Graduate and deprecate unified Sink API V1
  flink-architecture-tests/flink-architecture-tests-production/archunit-violations/5b9eed8a-5fb6-4373-98ac-3be2a71941b8
  flink-architecture-tests/flink-architecture-tests-production/archunit-violations/7602816f-5c01-4b7a-9e3e-235dfedec245
  flink-core/src/main/java/org/apache/flink/api/connector/sink/Committer.java
  flink-core/src/main/java/org/apache/flink/api/connector/sink/GlobalCommitter.java
  flink-core/src/main/java/org/apache/flink/api/connector/sink/Sink.java
  flink-core/src/main/java/org/apache/flink/api/connector/sink/SinkWriter.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/datastream/DataStream.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/connector/sink/SinkProvider.java
Labels: component=API/Core

#18633 [FLINK-25924][connectors/firehose] Adding a timeout for the Localstac…
  flink-connectors/flink-connector-aws-base/src/test/java/org/apache/flink/connector/aws/testutils/LocalstackContainer.java
  flink-connectors/flink-connector-aws-kinesis-data-streams/src/test/java/org/apache/flink/connectors/kinesis/testutils/KinesaliteContainer.java
  flink-connectors/flink-connector-aws-kinesis-firehose/src/test/java/org/apache/flink/connector/firehose/sink/KinesisFirehoseSinkITCase.java
Labels: component=Connectors/Common

#18461 [FLINK-20830][Kubernetes]Add type of Headless_Cluster_IP for external…
  docs/layouts/shortcodes/generated/kubernetes_config_configuration.html
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/KubernetesClusterDescriptor.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/configuration/KubernetesConfigOptions.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/Fabric8FlinkKubeClient.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/decorators/ExternalServiceDecorator.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/decorators/InternalServiceDecorator.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/services/ClusterIPService.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/services/HeadlessClusterIPService.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/services/LoadBalancerService.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/services/NodePortService.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/services/ServiceType.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/utils/Constants.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/KubernetesClientTestBase.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/ExternalServiceDecoratorTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/factory/KubernetesJobManagerFactoryTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/services/ServiceTypeTest.java
Labels: component=Deployment/Kubernetes

#18639 [FLINK-25839][e2e] Print the previous logs of restarted pod for k8s e2e tests
  flink-end-to-end-tests/test-scripts/common_kubernetes.sh
Labels: component=Deployment/Kubernetes

#18619 [FLINK-25879][BP 1.14][Docs] Track used search terms in Matomo
  docs/layouts/partials/docs/inject/menu-after.html
  docs/static/js/track-search-terms.js
Labels: component=Documentation

#18620 [FLINK-25879][BP 1.13][Docs] Track used search terms in Matomo
  docs/layouts/partials/docs/inject/menu-after.html
  docs/static/js/track-search-terms.js
Labels: component=Documentation

#18555 [FLINK-25492][state/changelog] Fix materialization boundary for InMemoryStateChangelogWriter
  flink-dstl/flink-dstl-dfs/src/main/java/org/apache/flink/changelog/fs/FsStateChangelogWriter.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/changelog/inmemory/InMemoryStateChangelogWriter.java
  flink-state-backends/flink-statebackend-changelog/src/main/java/org/apache/flink/state/changelog/ChangelogKeyedStateBackend.java
  flink-state-backends/flink-statebackend-changelog/src/test/java/org/apache/flink/state/changelog/ChangelogDelegateHashMapInMemoryTest.java
Labels: component=Runtime/StateBackends

#18424 [FLINK-24439][source] Introduce CoordinatorStore
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/DefaultExecutionGraph.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/ExecutionJobVertex.java
  flink-runtime/src/main/java/org/apache/flink/runtime/operators/coordination/CoordinatorStore.java
  flink-runtime/src/main/java/org/apache/flink/runtime/operators/coordination/CoordinatorStoreImpl.java
  flink-runtime/src/main/java/org/apache/flink/runtime/operators/coordination/OperatorCoordinator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/operators/coordination/OperatorCoordinatorHolder.java
  flink-runtime/src/main/java/org/apache/flink/runtime/operators/coordination/RecreateOnResetOperatorCoordinator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/source/coordinator/SourceCoordinator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/source/coordinator/SourceCoordinatorProvider.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/ExecutionJobVertexTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/operators/coordination/MockOperatorCoordinatorContext.java
  flink-runtime/src/test/java/org/apache/flink/runtime/operators/coordination/OperatorCoordinatorHolderTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/ExecutingTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/source/coordinator/SourceCoordinatorTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/source/coordinator/SourceCoordinatorTestBase.java
Labels: component=Connectors/Common

#18630 [FLINK-25952] Savepoints on S3 are not relocatable even if entropy injection is not enabled
  flink-core/src/main/java/org/apache/flink/core/fs/EntropyInjectingFileSystem.java
  flink-core/src/main/java/org/apache/flink/core/fs/EntropyInjector.java
  flink-core/src/test/java/org/apache/flink/core/fs/EntropyInjectorTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/filesystem/FsCheckpointStreamFactoryTest.java
Labels: component=Runtime/Checkpointing, component=FileSystems

#18628 [FLINK-25956][kryo] Remove noisy warnings
  flink-core/src/main/java/org/apache/flink/api/java/typeutils/runtime/kryo/KryoSerializer.java
Labels: component=API/TypeSerializationSystem

#18622 [FLINK-25984] Replace deprecated, untyped `defaultValue` & `noDefaultValue`
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveOptions.java
  flink-core/src/main/java/org/apache/flink/configuration/AkkaOptions.java
  flink-core/src/main/java/org/apache/flink/configuration/AlgorithmOptions.java
  flink-core/src/main/java/org/apache/flink/configuration/BlobServerOptions.java
  flink-core/src/main/java/org/apache/flink/configuration/CheckpointingOptions.java
  flink-core/src/main/java/org/apache/flink/configuration/ClusterOptions.java
  flink-core/src/main/java/org/apache/flink/configuration/ConfigConstants.java
  flink-core/src/main/java/org/apache/flink/configuration/CoreOptions.java
  flink-core/src/main/java/org/apache/flink/configuration/HeartbeatManagerOptions.java
  flink-core/src/main/java/org/apache/flink/configuration/HighAvailabilityOptions.java
  flink-core/src/main/java/org/apache/flink/configuration/HistoryServerOptions.java
  flink-core/src/main/java/org/apache/flink/configuration/JMXServerOptions.java
  flink-core/src/main/java/org/apache/flink/configuration/JobManagerOptions.java
  flink-core/src/main/java/org/apache/flink/configuration/MetricOptions.java
  flink-core/src/main/java/org/apache/flink/configuration/NettyShuffleEnvironmentOptions.java
  flink-core/src/main/java/org/apache/flink/configuration/OptimizerOptions.java
  flink-core/src/main/java/org/apache/flink/configuration/QueryableStateOptions.java
  flink-core/src/main/java/org/apache/flink/configuration/ResourceManagerOptions.java
  flink-core/src/main/java/org/apache/flink/configuration/RestOptions.java
  flink-core/src/main/java/org/apache/flink/configuration/RestartStrategyOptions.java
  flink-core/src/main/java/org/apache/flink/configuration/WebOptions.java
  flink-core/src/test/java/org/apache/flink/configuration/ConfigOptionTest.java
  flink-core/src/test/java/org/apache/flink/configuration/ConfigurationTest.java
  flink-end-to-end-tests/flink-datastream-allround-test/src/main/java/org/apache/flink/streaming/tests/DataStreamAllroundTestJobFactory.java
  flink-end-to-end-tests/flink-heavy-deployment-stress-test/src/main/java/org/apache/flink/deployment/HeavyDeploymentStressTestProgram.java
  flink-end-to-end-tests/flink-netty-shuffle-memory-control-test/src/main/java/org/apache/flink/streaming/tests/NettyShuffleMemoryControlTestProgram.java
  flink-end-to-end-tests/flink-stream-state-ttl-test/src/main/java/org/apache/flink/streaming/tests/TtlTestConfig.java
  flink-end-to-end-tests/flink-stream-stateful-job-upgrade-test/src/main/java/org/apache/flink/streaming/tests/StatefulStreamJobUpgradeTestProgram.java
  flink-filesystems/flink-s3-fs-base/src/main/java/org/apache/flink/fs/s3/common/AbstractS3FileSystemFactory.java
  flink-metrics/flink-metrics-influxdb/src/main/java/org/apache/flink/metrics/influxdb/InfluxdbReporterOptions.java
  flink-metrics/flink-metrics-prometheus/src/main/java/org/apache/flink/metrics/prometheus/PrometheusPushGatewayReporterOptions.java
  flink-python/src/main/java/org/apache/flink/python/PythonOptions.java
  flink-runtime/src/main/java/org/apache/flink/runtime/clusterframework/BootstrapTools.java
  flink-runtime/src/main/java/org/apache/flink/runtime/entrypoint/ClusterEntrypoint.java
  flink-runtime/src/main/java/org/apache/flink/runtime/entrypoint/component/FileJobGraphRetriever.java
  flink-runtime/src/main/java/org/apache/flink/runtime/shuffle/ShuffleServiceOptions.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBNativeMetricOptions.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/config/ExecutionConfigOptions.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/config/OptimizerConfigOptions.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdRowCount.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/optimize/RelNodeBlock.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/rules/logical/JoinDeriveNullFilterRule.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/batch/BatchPhysicalJoinRuleBase.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/batch/BatchPhysicalSortMergeJoinRule.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/batch/BatchPhysicalSortRule.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/stream/IncrementalAggregateRule.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/utils/FlinkRexUtil.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/utils/WindowEmitStrategy.scala
Labels: component=<none>

#18661 [FLINK-26006][connector-aws-kinesis-firehose] Avoid leaking AWS SDK r…
  flink-connectors/flink-connector-aws-base/src/main/java/org/apache/flink/connector/aws/util/AWSGeneralUtil.java
  flink-connectors/flink-connector-aws-base/src/test/java/org/apache/flink/connector/aws/testutils/AWSServicesTestUtils.java
  flink-connectors/flink-connector-aws-base/src/test/java/org/apache/flink/connector/aws/testutils/LocalstackContainer.java
  flink-connectors/flink-connector-aws-kinesis-firehose/src/main/java/org/apache/flink/connector/firehose/sink/KinesisFirehoseSinkWriter.java
  flink-connectors/flink-connector-aws-kinesis-firehose/src/test/java/org/apache/flink/connector/firehose/sink/KinesisFirehoseSinkITCase.java
  flink-connectors/flink-connector-aws-kinesis-firehose/src/test/java/org/apache/flink/connector/firehose/sink/testutils/KinesisFirehoseTestUtils.java
  flink-test-utils-parent/flink-test-utils-junit/src/main/java/org/apache/flink/util/DockerImageVersions.java
Labels: component=Connectors/Kinesis

#18525 [FLINK-22311] [connector/jdbc] Validate maxRetries for XA Sink
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/JdbcSink.java
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/internal/JdbcOutputFormat.java
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/xa/JdbcXaSinkFunction.java
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/xa/JdbcExactlyOnceSinkE2eTest.java
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/xa/JdbcXaSinkTestBase.java
Labels: component=Connectors/JDBC

#18682 [FLINK-26046][rest][docs] Fix link to OpenAPI spec
  docs/content.zh/docs/ops/rest_api.md
  docs/content/docs/ops/rest_api.md
  docs/layouts/shortcodes/ref_static.html
Labels: component=Documentation

#18598 [FLINK-25041][BP 1.13][e2e] Improve error handling for missing environment variables in E2E tests
  flink-end-to-end-tests/run-nightly-tests.sh
  flink-end-to-end-tests/test-scripts/common.sh
  flink-end-to-end-tests/test-scripts/common_artifact_download_cacher.sh
  flink-end-to-end-tests/test-scripts/common_s3.sh
  flink-end-to-end-tests/test-scripts/elasticsearch-common.sh
  flink-end-to-end-tests/test-scripts/kafka-common.sh
  flink-end-to-end-tests/test-scripts/test_azure_fs.sh
  flink-end-to-end-tests/test-scripts/test_resume_externalized_checkpoints.sh
  tools/ci/test_controller.sh
  tools/releasing/create_binary_release.sh
  tools/releasing/create_release_branch.sh
  tools/releasing/create_snapshot_branch.sh
  tools/releasing/create_source_release.sh
  tools/releasing/update_branch_version.sh
  tools/releasing/update_japicmp_configuration.sh
Labels: component=TestInfrastructure

#18599 [FLINK-25041][BP 1.14][e2e] Improve error handling for missing environment variables in E2E tests
  flink-end-to-end-tests/run-nightly-tests.sh
  flink-end-to-end-tests/test-scripts/common.sh
  flink-end-to-end-tests/test-scripts/common_artifact_download_cacher.sh
  flink-end-to-end-tests/test-scripts/common_s3.sh
  flink-end-to-end-tests/test-scripts/elasticsearch-common.sh
  flink-end-to-end-tests/test-scripts/kafka-common.sh
  flink-end-to-end-tests/test-scripts/test_azure_fs.sh
  flink-end-to-end-tests/test-scripts/test_resume_externalized_checkpoints.sh
  tools/azure-pipelines/cache_docker_images.sh
  tools/ci/test_controller.sh
  tools/releasing/create_binary_release.sh
  tools/releasing/create_release_branch.sh
  tools/releasing/create_snapshot_branch.sh
  tools/releasing/create_source_release.sh
  tools/releasing/update_branch_version.sh
  tools/releasing/update_japicmp_configuration.sh
Labels: component=TestInfrastructure

#18412 [FLINK-25696][datastream] Introduce metadataConsumer to InitContext in Sink
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/sink/KafkaWriter.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/sink/KafkaWriterITCase.java
  flink-core/src/main/java/org/apache/flink/api/connector/sink2/Sink.java
Labels: component=API/DataStream, component=Connectors/Kafka, component=TableStore

#18657 [FLINK-26001][avro] Implement ProjectableDecodingFormat for avro BulkDecodingFormat
  flink-formats/flink-avro/src/main/java/org/apache/flink/formats/avro/AvroFileFormatFactory.java
Labels: component=Formats

#18665 [FLINK-24440][source] Announce and combine latest watermarks across SourceOperators
  flink-runtime/src/main/java/org/apache/flink/runtime/source/coordinator/SourceCoordinator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/source/coordinator/SourceCoordinatorContext.java
  flink-runtime/src/main/java/org/apache/flink/runtime/source/coordinator/SourceCoordinatorProvider.java
  flink-runtime/src/main/java/org/apache/flink/runtime/source/event/ReportedWatermarkEvent.java
  flink-runtime/src/main/java/org/apache/flink/runtime/source/event/WatermarkAlignmentEvent.java
  flink-runtime/src/test/java/org/apache/flink/runtime/source/coordinator/SourceCoordinatorAlignmentTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/source/coordinator/SourceCoordinatorTestBase.java
Labels: component=Connectors/Common

#18676 [FLINK-26035][build][planner] Add table-planner-loader-helper module
  flink-table/README.md
  flink-table/flink-table-planner-loader-bundle/pom.xml
  flink-table/flink-table-planner-loader-bundle/src/main/resources/META-INF/NOTICE
  flink-table/flink-table-planner-loader-bundle/src/main/resources/META-INF/licenses/LICENSE.scala
  flink-table/flink-table-planner-loader/pom.xml
  flink-table/flink-table-planner/pom.xml
  flink-table/pom.xml
Labels: component=BuildSystem, component=TableSQL/Planner

#18445 [FLINK-25755][runtime] AdaptiveScheduler: Introduce shared interface…
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveScheduler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/Created.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/CreatingExecutionGraph.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/Executing.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/Failing.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/Restarting.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/StateTransitions.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/StateWithExecutionGraph.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/StopWithSavepoint.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/WaitingForResources.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/CreatingExecutionGraphTest.java
Labels: component=Runtime/Coordination

#18712 [FLINK-26064] Temporarily disable KinesisFirehoseSinkITCase.
  flink-connectors/flink-connector-aws-kinesis-firehose/src/test/java/org/apache/flink/connector/firehose/sink/KinesisFirehoseSinkITCase.java
Labels: component=Connectors/Kinesis

#18694 [FLINK-26062][state/changelog] Replace poll() with remove() for PQ states
  flink-state-backends/flink-statebackend-changelog/src/main/java/org/apache/flink/state/changelog/ChangelogKeyGroupedPriorityQueue.java
  flink-state-backends/flink-statebackend-changelog/src/main/java/org/apache/flink/state/changelog/PriorityQueueStateChangeLogger.java
  flink-state-backends/flink-statebackend-changelog/src/main/java/org/apache/flink/state/changelog/PriorityQueueStateChangeLoggerImpl.java
  flink-state-backends/flink-statebackend-changelog/src/main/java/org/apache/flink/state/changelog/StateChangeOperation.java
  flink-state-backends/flink-statebackend-changelog/src/main/java/org/apache/flink/state/changelog/restore/PriorityQueueStateChangeApplier.java
  flink-state-backends/flink-statebackend-changelog/src/test/java/org/apache/flink/state/changelog/ChangelogPqStateTest.java
  flink-state-backends/flink-statebackend-changelog/src/test/java/org/apache/flink/state/changelog/PriorityQueueStateChangeLoggerImplTest.java
Labels: component=Runtime/StateBackends

#18388 [FLINK-25530][python][connector/pulsar] Support Pulsar source connector in Python DataStream API.
  flink-connectors/flink-sql-connector-pulsar/pom.xml
  flink-connectors/flink-sql-connector-pulsar/src/main/resources/META-INF/NOTICE
  flink-connectors/pom.xml
  flink-python/pyflink/datastream/connectors.py
  flink-python/pyflink/datastream/tests/test_connectors.py
  tools/ci/java-ci-tools/src/main/java/org/apache/flink/tools/ci/licensecheck/JarFileChecker.java
Labels: component=API/Python, component=Connectors/Pulsar

#18699 [FLINK-25937] Restore the environment parallelism before transforming in SinkExpander#expand.
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/translators/SinkTransformationTranslator.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/graph/StreamGraphGeneratorTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/util/TestExpandingSink.java
Labels: component=Runtime/Coordination, component=TableSQL/API

#18705 [FLINK-26073][Connectors][Twitter] Remove Twitter connector
  docs/content.zh/docs/connectors/datastream/guarantees.md
  docs/content.zh/docs/connectors/datastream/overview.md
  docs/content.zh/docs/connectors/datastream/twitter.md
  docs/content/docs/connectors/datastream/guarantees.md
  docs/content/docs/connectors/datastream/overview.md
  docs/content/docs/connectors/datastream/twitter.md
  flink-connectors/flink-connector-twitter/pom.xml
  flink-connectors/flink-connector-twitter/src/main/java/org/apache/flink/streaming/connectors/twitter/TwitterSource.java
  flink-connectors/flink-connector-twitter/src/main/resources/META-INF/NOTICE
  flink-connectors/pom.xml
  flink-dist/pom.xml
  flink-dist/src/main/assemblies/bin.xml
  flink-examples/flink-examples-build-helper/flink-examples-streaming-twitter/pom.xml
  flink-examples/flink-examples-build-helper/pom.xml
  flink-examples/flink-examples-streaming/pom.xml
  flink-examples/flink-examples-streaming/src/main/java/org/apache/flink/streaming/examples/twitter/TwitterExample.java
  flink-examples/flink-examples-streaming/src/main/java/org/apache/flink/streaming/examples/twitter/util/TwitterExampleData.java
  flink-examples/flink-examples-streaming/src/main/scala/org/apache/flink/streaming/scala/examples/twitter/TwitterExample.scala
  flink-examples/flink-examples-streaming/src/test/java/org/apache/flink/streaming/test/StreamingExamplesITCase.java
  flink-examples/flink-examples-streaming/src/test/scala/org/apache/flink/streaming/scala/examples/StreamingExamplesITCase.scala
  tools/ci/java-ci-tools/src/main/resources/modules-skipping-deployment.modulelist
  tools/ci/stage.sh
Labels: component=Connectors/Common

#18706 [FLINK-26072][Connectors][NiFi] Mark NiFi Source and Sink as deprecated
  docs/content.zh/docs/connectors/datastream/nifi.md
  docs/content/docs/connectors/datastream/nifi.md
  flink-connectors/flink-connector-nifi/src/main/java/org/apache/flink/streaming/connectors/nifi/NiFiSink.java
  flink-connectors/flink-connector-nifi/src/main/java/org/apache/flink/streaming/connectors/nifi/NiFiSource.java
Labels: component=Connectors/Nifi

#18637 [FLINK-25433][runtime] Adds retry mechanism to DefaultResourceCleaner
  docs/layouts/shortcodes/generated/all_jobmanager_section.html
  docs/layouts/shortcodes/generated/job_manager_configuration.html
  flink-core/src/main/java/org/apache/flink/configuration/JobManagerOptions.java
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/cleanup/DefaultResourceCleaner.java
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/cleanup/DispatcherResourceCleanerFactory.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/DispatcherCleanupITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/TestingDispatcher.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/cleanup/DefaultResourceCleanerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/cleanup/DispatcherResourceCleanerFactoryTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/cleanup/TestingRetryStrategies.java
  flink-runtime/src/test/java/org/apache/flink/runtime/webmonitor/retriever/impl/RpcGatewayRetrieverTest.java
Labels: component=<none>

#18605 [FLINK-25785][Connectors][JDBC] Upgrade com.h2database:h2 to 2.1.210
  flink-connectors/flink-connector-jdbc/pom.xml
Labels: component=Connectors/JDBC

#18391 [FLINK-25478][chaneglog] Correct the state register logic of ChangelogStateBackendHandle
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/metadata/MetadataV2V3SerializerBase.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/DirectoryKeyedStateHandle.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/IncrementalRemoteKeyedStateHandle.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/KeyGroupsStateHandle.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/KeyedStateHandle.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/StateHandleID.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/changelog/ChangelogStateBackendHandle.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/changelog/ChangelogStateHandleStreamImpl.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/changelog/inmemory/InMemoryChangelogStateHandle.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/StateHandleDummyUtil.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/metadata/CheckpointTestUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/metadata/MetadataV3SerializerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/ChangelogTestUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/IncrementalRemoteKeyedStateHandleTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/KeyGroupsStateHandleTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/SharedStateRegistryTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/ttl/mock/MockKeyedStateBackend.java
  flink-state-backends/flink-statebackend-changelog/src/main/java/org/apache/flink/state/changelog/ChangelogKeyedStateBackend.java
  flink-state-backends/flink-statebackend-changelog/src/main/java/org/apache/flink/state/changelog/ChangelogStateBackend.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTest.java
Labels: component=Runtime/StateBackends, component=Runtime/Checkpointing

#18669 [FLINK-25943][connector/common] Add buffered requests to snapshot state in AsyncSyncWriter.
  flink-connectors/flink-connector-aws-kinesis-data-streams/pom.xml
  flink-connectors/flink-connector-aws-kinesis-data-streams/src/main/java/org/apache/flink/connector/kinesis/sink/KinesisDataStreamsSink.java
  flink-connectors/flink-connector-aws-kinesis-data-streams/src/main/java/org/apache/flink/connector/kinesis/sink/KinesisDataStreamsSinkWriter.java
  flink-connectors/flink-connector-aws-kinesis-data-streams/src/main/java/org/apache/flink/connector/kinesis/sink/KinesisDataStreamsStateSerializer.java
  flink-connectors/flink-connector-aws-kinesis-data-streams/src/test/java/org/apache/flink/connector/kinesis/sink/KinesisDataStreamsStateSerializerTest.java
  flink-connectors/flink-connector-aws-kinesis-firehose/src/main/java/org/apache/flink/connector/firehose/sink/KinesisFirehoseSink.java
  flink-connectors/flink-connector-aws-kinesis-firehose/src/main/java/org/apache/flink/connector/firehose/sink/KinesisFirehoseSinkWriter.java
  flink-connectors/flink-connector-aws-kinesis-firehose/src/main/java/org/apache/flink/connector/firehose/sink/KinesisFirehoseStateSerializer.java
  flink-connectors/flink-connector-aws-kinesis-firehose/src/test/java/org/apache/flink/connector/firehose/sink/KinesisFirehoseSinkWriterTest.java
  flink-connectors/flink-connector-aws-kinesis-firehose/src/test/java/org/apache/flink/connector/firehose/sink/KinesisFirehoseStateSerializerTest.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/sink/AsyncSinkBase.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/sink/writer/AsyncSinkWriter.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/sink/writer/AsyncSinkWriterStateSerializer.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/sink/writer/BufferedRequestState.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/ArrayListAsyncSink.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/writer/AsyncSinkWriterStateSerializerTest.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/writer/AsyncSinkWriterTest.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/writer/AsyncSinkWriterTestUtils.java
Labels: component=Connectors/Kinesis

#18727 [FLINK-25785][BP 1.14][Connectors][JDBC] Upgrade com.h2database:h2 to 2.1.210
  flink-connectors/flink-connector-jdbc/pom.xml
Labels: component=Connectors/JDBC

#18728 [FLINK-25785][BP 1.13][Connectors][JDBC] Upgrade com.h2database:h2 to 2.1.210
  flink-connectors/flink-connector-jdbc/pom.xml
Labels: component=Connectors/JDBC

#18734 [FLINK-25987][state/changelog] Replace lastSqn with nextSqn()
  flink-dstl/flink-dstl-dfs/src/main/java/org/apache/flink/changelog/fs/FsStateChangelogWriter.java
  flink-dstl/flink-dstl-dfs/src/test/java/org/apache/flink/changelog/fs/ChangelogStorageMetricsTest.java
  flink-dstl/flink-dstl-dfs/src/test/java/org/apache/flink/changelog/fs/FsStateChangelogWriterSqnTest.java
  flink-dstl/flink-dstl-dfs/src/test/java/org/apache/flink/changelog/fs/FsStateChangelogWriterTest.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/changelog/StateChangelogWriter.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/changelog/inmemory/InMemoryStateChangelogWriter.java
  flink-state-backends/flink-statebackend-changelog/src/main/java/org/apache/flink/state/changelog/ChangelogKeyedStateBackend.java
  flink-state-backends/flink-statebackend-changelog/src/test/java/org/apache/flink/state/changelog/ChangelogStateBackendTestUtils.java
  flink-state-backends/flink-statebackend-changelog/src/test/java/org/apache/flink/state/changelog/StateChangeLoggerTestBase.java
Labels: component=Runtime/StateBackends

#18217 [FLINK-25466][state] Enable state descriptor to handle StateTtlConfig#DISABLED
  flink-core/src/main/java/org/apache/flink/api/common/state/StateDescriptor.java
  flink-core/src/test/java/org/apache/flink/api/common/state/StateDescriptorTest.java
Labels: component=Runtime/StateBackends

#18291 [FLINK-25227][table-runtime] Boxed numeric type should be considered when generating code for equality checking
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/CodeGenUtils.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/calls/ScalarOperatorGens.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/expressions/ScalarOperatorsTest.scala
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/functions/NumericUtils.java
Labels: component=TableSQL/Runtime

#18359 [FLINK-25484][connectors/filesystem] Support inactivityInterval config in table api
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/table/FileSystemConnectorOptions.java
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/table/FileSystemTableFactory.java
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/table/FileSystemTableSink.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/sink/writer/FileWriterBucketTest.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/table/stream/StreamingFileWriterTest.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSink.java
Labels: component=Connectors/FileSystem, component=TableSQL/Ecosystem

#18732 [FLINK-26067] Remove timeout on TestingContender#awaitRevokeLeadershi…
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderelection/ZooKeeperLeaderElectionConnectionHandlingTest.java
Labels: component=Runtime/Coordination

#18668 [FLINK-25697][Runtime / Metrics] introduce port url config for prometheus push gateway a…
  docs/content.zh/docs/deployment/metric_reporters.md
  docs/content/docs/deployment/metric_reporters.md
  docs/layouts/shortcodes/generated/prometheus_push_gateway_reporter_configuration.html
  flink-metrics/flink-metrics-prometheus/src/main/java/org/apache/flink/metrics/prometheus/PrometheusPushGatewayReporter.java
  flink-metrics/flink-metrics-prometheus/src/main/java/org/apache/flink/metrics/prometheus/PrometheusPushGatewayReporterFactory.java
  flink-metrics/flink-metrics-prometheus/src/main/java/org/apache/flink/metrics/prometheus/PrometheusPushGatewayReporterOptions.java
  flink-metrics/flink-metrics-prometheus/src/test/java/org/apache/flink/metrics/prometheus/PrometheusPushGatewayReporterTest.java
Labels: component=Runtime/Metrics

#18285 [FLINK-21407][docs][formats] Remove MongoDb connector as it is not supported in DataStream API. Port to release 1.14
  docs/content/docs/connectors/datastream/mongodb.md
Labels: component=Documentation, component=API/DataSet, component=API/DataStream

#18731 [FLINK-26068] Update ZooKeeperStateHandleStore to use an indepotent r…
  flink-runtime/src/main/java/org/apache/flink/runtime/zookeeper/ZooKeeperStateHandleStore.java
Labels: component=Runtime/Coordination

#18753 [FLINK-25982] Support idleness with watermark alignment
  flink-core/src/test/java/org/apache/flink/api/connector/source/mocks/MockSourceReader.java
  flink-runtime/src/test/java/org/apache/flink/runtime/source/coordinator/SourceCoordinatorAlignmentTest.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/source/NoOpTimestampsAndWatermarks.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/source/ProgressiveTimestampsAndWatermarks.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/source/TimestampsAndWatermarks.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/source/WatermarkToDataOutput.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/SourceOperatorAlignmentTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/MultipleInputStreamTaskTest.java
Labels: component=<none>

#18658 [FLINK-26002][tests] Added RestoreUpgradedJobITCase for checking situ…
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/RestoreUpgradedJobITCase.java
Labels: component=Runtime/Checkpointing

#18613 [FLINK-25574][connectors/async] Migrate AsyncSink connectors to decomposed SinkV2
  flink-connectors/flink-connector-aws-kinesis-data-streams/src/main/java/org/apache/flink/connector/kinesis/sink/KinesisDataStreamsSink.java
  flink-connectors/flink-connector-aws-kinesis-data-streams/src/main/java/org/apache/flink/connector/kinesis/sink/KinesisDataStreamsSinkElementConverter.java
  flink-connectors/flink-connector-aws-kinesis-data-streams/src/main/java/org/apache/flink/connector/kinesis/sink/KinesisDataStreamsSinkWriter.java
  flink-connectors/flink-connector-aws-kinesis-data-streams/src/main/java/org/apache/flink/connector/kinesis/table/KinesisDynamicSink.java
  flink-connectors/flink-connector-aws-kinesis-data-streams/src/test/java/org/apache/flink/connector/kinesis/table/KinesisDynamicTableSinkFactoryTest.java
  flink-connectors/flink-connector-aws-kinesis-firehose/src/main/java/org/apache/flink/connector/firehose/sink/KinesisFirehoseSink.java
  flink-connectors/flink-connector-aws-kinesis-firehose/src/main/java/org/apache/flink/connector/firehose/sink/KinesisFirehoseSinkElementConverter.java
  flink-connectors/flink-connector-aws-kinesis-firehose/src/main/java/org/apache/flink/connector/firehose/sink/KinesisFirehoseSinkWriter.java
  flink-connectors/flink-connector-aws-kinesis-firehose/src/main/java/org/apache/flink/connector/firehose/table/KinesisFirehoseDynamicSink.java
  flink-connectors/flink-connector-aws-kinesis-firehose/src/test/java/org/apache/flink/connector/firehose/sink/KinesisFirehoseSinkWriterTest.java
  flink-connectors/flink-connector-aws-kinesis-firehose/src/test/java/org/apache/flink/connector/firehose/table/KinesisFirehoseDynamicTableFactoryTest.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/sink/AsyncSinkBase.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/sink/writer/AsyncSinkWriter.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/sink/writer/ElementConverter.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/ArrayListAsyncSink.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/writer/AsyncSinkWriterTest.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/writer/TestSinkInitContext.java
Labels: component=Connectors/Common

#18681 [FLINK-25906][streaming] check explicit env allowed on StreamExecutionEnvironment own.
  flink-python/pyflink/datastream/tests/test_stream_execution_environment_completeness.py
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/environment/LocalStreamEnvironment.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/environment/StreamExecutionEnvironment.java
  flink-streaming-scala/src/test/scala/org/apache/flink/streaming/api/scala/StreamingScalaAPICompletenessTest.scala
Labels: component=<none>

#18737 [FLINK-26077][runtime] Support operators send request to Coordinator and return a response
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/runtime/SavepointEnvironment.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobgraph/tasks/TaskOperatorEventGateway.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/JobMaster.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/JobMasterOperatorEventGateway.java
  flink-runtime/src/main/java/org/apache/flink/runtime/operators/coordination/CoordinationRequestHandler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/rpc/RpcTaskOperatorEventGateway.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/utils/TestingJobMasterGateway.java
  flink-runtime/src/test/java/org/apache/flink/runtime/operators/coordination/CoordinatorEventsExactlyOnceITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskExecutorOperatorEventHandlingTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskmanager/NoOpTaskOperatorEventGateway.java
Labels: component=Runtime/Coordination

#18450 [FLINK-25053][docs] Document how to use the usrlib to load code in the user code class loader
  docs/content.zh/docs/deployment/resource-providers/native_kubernetes.md
  docs/content.zh/docs/deployment/resource-providers/standalone/overview.md
  docs/content.zh/docs/deployment/resource-providers/yarn.md
  docs/content.zh/docs/ops/debugging/debugging_classloading.md
  docs/content/docs/deployment/resource-providers/native_kubernetes.md
  docs/content/docs/deployment/resource-providers/standalone/overview.md
  docs/content/docs/deployment/resource-providers/yarn.md
  docs/content/docs/ops/debugging/debugging_classloading.md
Labels: component=Documentation, component=Runtime/Coordination

#18761 [FLINK-26107][runtime] AdaptiveScheduler: OperatorCoordinator should …
  flink-runtime/src/main/java/org/apache/flink/runtime/operators/coordination/OperatorCoordinatorHolder.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/DefaultOperatorCoordinatorHandler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/GlobalFailureHandler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/SchedulerNG.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/CreatingExecutionGraph.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/State.java
  flink-runtime/src/test/java/org/apache/flink/runtime/operators/coordination/OperatorCoordinatorHolderTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/CreatingExecutionGraphTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/TestingOperatorCoordinatorHandler.java
Labels: component=Runtime/Coordination

#18666 [FLINK-25571] Update Elasticsearch Sink to use decomposed interfaces
  flink-architecture-tests/flink-architecture-tests-production/archunit-violations/5b9eed8a-5fb6-4373-98ac-3be2a71941b8
  flink-connectors/flink-connector-elasticsearch-base/src/main/java/org/apache/flink/connector/elasticsearch/sink/ElasticsearchEmitter.java
  flink-connectors/flink-connector-elasticsearch-base/src/main/java/org/apache/flink/connector/elasticsearch/sink/ElasticsearchSink.java
  flink-connectors/flink-connector-elasticsearch-base/src/main/java/org/apache/flink/connector/elasticsearch/sink/ElasticsearchWriter.java
  flink-connectors/flink-connector-elasticsearch-base/src/main/java/org/apache/flink/connector/elasticsearch/sink/RequestIndexer.java
  flink-connectors/flink-connector-elasticsearch-base/src/main/java/org/apache/flink/connector/elasticsearch/table/ElasticsearchDynamicSink.java
  flink-connectors/flink-connector-elasticsearch-base/src/main/java/org/apache/flink/connector/elasticsearch/table/RowElasticsearchEmitter.java
  flink-connectors/flink-connector-elasticsearch-base/src/test/java/org/apache/flink/connector/elasticsearch/sink/ElasticsearchWriterITCase.java
  flink-connectors/flink-connector-elasticsearch-base/src/test/java/org/apache/flink/connector/elasticsearch/sink/TestEmitter.java
  flink-connectors/flink-connector-elasticsearch-base/src/test/java/org/apache/flink/connector/elasticsearch/table/ElasticsearchDynamicSinkBaseITCase.java
  flink-connectors/flink-connector-elasticsearch-base/src/test/java/org/apache/flink/connector/elasticsearch/table/ElasticsearchDynamicSinkFactoryBaseTest.java
  flink-end-to-end-tests/flink-quickstart-test/src/main/scala/org/apache/flink/quickstarts/test/Elasticsearch7SinkExample.scala
Labels: component=Connectors/ElasticSearch

#18647 [FLINK-25980][datastream] remove unnecessary condition
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/co/IntervalJoinOperator.java
Labels: component=API/DataStream

#18725 [FLINK-25532] Improve Documentation of Flink Docker-Compose
  docs/content/docs/deployment/resource-providers/standalone/docker.md
Labels: component=TableSQL/Client

#18771 [FLINK-26119][connectors/common] AsyncSinkWriterStateSerializer to @PublicEvolving
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/sink/writer/AsyncSinkWriterStateSerializer.java
Labels: component=Connectors/Common

#18721 [FLINK-24474] Bind Jobmanager and Taskmanager RPC host addresses to localhost by default
  flink-dist/src/main/resources/flink-conf.yaml
  flink-end-to-end-tests/flink-end-to-end-tests-common/src/main/java/org/apache/flink/tests/util/flink/container/FlinkContainersBuilder.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/decorators/FlinkConfMountDecorator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/net/ConnectionUtils.java
  flink-yarn/src/main/java/org/apache/flink/yarn/entrypoint/YarnEntrypointUtils.java
Labels: component=Runtime/Configuration

#18798 [FLINK-26177][tests] Disable PulsarSourceITCase rescaling tests temporarily
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/source/PulsarSourceITCase.java
Labels: component=Connectors/Pulsar

#18773 [FLINK-26118][connectors/common] Add support for AsyncSink to downscale with state
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/sink/writer/AsyncSinkWriter.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/writer/AsyncSinkWriterTest.java
Labels: component=Connectors/Common

#18767 [FLINK-20830][BP 1.14][k8s] Add type of Headless_Cluster_IP for external rest …
  docs/layouts/shortcodes/generated/kubernetes_config_configuration.html
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/KubernetesClusterDescriptor.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/configuration/KubernetesConfigOptions.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/Fabric8FlinkKubeClient.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/decorators/ExternalServiceDecorator.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/decorators/InternalServiceDecorator.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/services/ClusterIPService.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/services/HeadlessClusterIPService.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/services/LoadBalancerService.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/services/NodePortService.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/services/ServiceType.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/utils/Constants.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/KubernetesClientTestBase.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/ExternalServiceDecoratorTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/factory/KubernetesJobManagerFactoryTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/services/ServiceTypeTest.java
Labels: component=Deployment/Kubernetes

#18800 [FLINK-26187][docs] Chinese docs only redirect for chinese urls
  docs/content.zh/docs/connectors/datastream/formats/avro.md
  docs/content.zh/docs/connectors/datastream/formats/azure_table_storage.md
  docs/content.zh/docs/connectors/datastream/formats/hadoop.md
  docs/content.zh/docs/connectors/datastream/formats/mongodb.md
  docs/content.zh/docs/connectors/datastream/formats/parquet.md
  docs/content.zh/docs/connectors/datastream/formats/text_files.md
  docs/content.zh/docs/connectors/table/downloads.md
  docs/content.zh/docs/connectors/table/filesystem.md
  docs/content.zh/docs/connectors/table/formats/overview.md
  docs/content.zh/docs/deployment/filesystems/gcs.md
  docs/content.zh/docs/dev/datastream/execution/execution_configuration.md
  docs/content.zh/docs/dev/python/environment_variables.md
  docs/content.zh/docs/dev/python/python_config.md
  docs/content.zh/docs/dev/table/sourcesSinks.md
  docs/content.zh/docs/dev/table/sql/describe.md
  docs/content.zh/docs/dev/table/sql/explain.md
  docs/content.zh/docs/dev/table/sql/jar.md
  docs/content.zh/docs/dev/table/sql/queries/joins.md
  docs/content.zh/docs/dev/table/sql/queries/overview.md
  docs/content.zh/docs/dev/table/sql/reset.md
  docs/content.zh/docs/dev/table/sql/set.md
  docs/content.zh/docs/ops/batch/blocking_shuffle.md
  docs/content.zh/docs/ops/state/checkpointing_under_backpressure.md
  docs/content.zh/docs/ops/state/task_failure_recovery.md
Labels: component=Documentation

#18810 [FLINK-25289][hotfix] use the normal jar in flink-end-to-end-tests instead of a separate one
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/pom.xml
  flink-test-utils-parent/flink-connector-test-utils/pom.xml
Labels: component=TestInfrastructure

#18759 [FLINK-25698][connectors/elasticsearch] Enable logging for Elasticsearch containers
  flink-connectors/flink-connector-elasticsearch-base/pom.xml
  flink-connectors/flink-connector-elasticsearch-base/src/test/java/org/apache/flink/streaming/connectors/elasticsearch/testutils/ElasticsearchContainerUtil.java
  flink-connectors/flink-connector-elasticsearch6/src/test/java/org/apache/flink/streaming/connectors/elasticsearch/table/Elasticsearch6DynamicSinkITCase.java
  flink-connectors/flink-connector-elasticsearch6/src/test/java/org/apache/flink/streaming/connectors/elasticsearch6/ElasticsearchSinkITCase.java
  flink-connectors/flink-connector-elasticsearch7/src/test/java/org/apache/flink/streaming/connectors/elasticsearch/table/Elasticsearch7DynamicSinkITCase.java
  flink-connectors/flink-connector-elasticsearch7/src/test/java/org/apache/flink/streaming/connectors/elasticsearch7/ElasticsearchSinkITCase.java
Labels: component=Connectors/ElasticSearch

#18807 [FLINK-26195][connectors/kafka] hotfix logging issues due to mixed junit versions
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/sink/FlinkKafkaInternalProducerITCase.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/sink/KafkaWriterITCase.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/source/KafkaSourceBuilderTest.java
Labels: component=Connectors/Kafka

#18817 [FLINK-26218] Enable JUnit 5 Automatic Extension Detection
  pom.xml
Labels: component=Tests

#18820 [FLINK-26215][statsd] Migrate tests to JUnit5
  flink-metrics/flink-metrics-statsd/src/test/java/org/apache/flink/metrics/statsd/StatsDReporterFactoryTest.java
  flink-metrics/flink-metrics-statsd/src/test/java/org/apache/flink/metrics/statsd/StatsDReporterTest.java
  flink-metrics/flink-metrics-statsd/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
Labels: component=Tests, component=Runtime/Metrics

#18821 [FLINK-26219][slf4j] Migrate tests to JUnit5
  flink-metrics/flink-metrics-slf4j/src/test/java/org/apache/flink/metrics/slf4j/Slf4jReporterTest.java
  flink-metrics/flink-metrics-slf4j/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
Labels: component=Tests, component=Runtime/Metrics

#17297 [FLINK-24307][docs] Some lines in Scala code example end with unneces…
  docs/content.zh/docs/dev/dataset/transformations.md
  docs/content.zh/docs/dev/datastream/event-time/generating_watermarks.md
  docs/content.zh/docs/dev/datastream/operators/joining.md
  docs/content.zh/docs/dev/datastream/operators/overview.md
  docs/content.zh/docs/dev/datastream/testing.md
  docs/content.zh/docs/dev/datastream/user_defined_functions.md
  docs/content.zh/docs/dev/table/common.md
  docs/content.zh/docs/dev/table/data_stream_api.md
  docs/content.zh/docs/dev/table/sql/alter.md
  docs/content.zh/docs/dev/table/sql/create.md
  docs/content.zh/docs/dev/table/tableApi.md
  docs/content.zh/docs/dev/table/types.md
  docs/content/docs/dev/dataset/transformations.md
  docs/content/docs/dev/datastream/event-time/generating_watermarks.md
  docs/content/docs/dev/datastream/operators/joining.md
  docs/content/docs/dev/datastream/operators/overview.md
  docs/content/docs/dev/datastream/testing.md
  docs/content/docs/dev/datastream/user_defined_functions.md
  docs/content/docs/dev/table/common.md
  docs/content/docs/dev/table/data_stream_api.md
  docs/content/docs/dev/table/sql/alter.md
  docs/content/docs/dev/table/sql/create.md
  docs/content/docs/dev/table/tableApi.md
  docs/content/docs/dev/table/types.md
Labels: review=description?, component=Documentation

#18814 [FLINK-26192][pulsar] Remove call to Runtime#halt
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/testutils/runtime/embedded/PulsarEmbeddedRuntime.java
Labels: component=Connectors/Pulsar

#18824 [FLINK-26231][state/changelog] Fix ChangelogStateBackendHandle constructor
  flink-runtime/src/main/java/org/apache/flink/runtime/state/changelog/ChangelogStateBackendHandle.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/changelog/ChangelogStateBackendHandleTest.java
Labels: component=Runtime/StateBackends

#17622 [FLINK-24407][doc-zh]Pulsar connector chinese document link to Pulsar document location incorrectly.
  docs/content.zh/docs/connectors/datastream/pulsar.md
Labels: component=Documentation

#18772 [FLINK-25992][Runtime/Coordination, Tests] For stability, wait until the latest restored checkpoint is not null to avoid race condition
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/JobDispatcherITCase.java
Labels: component=Runtime/Coordination, component=Tests

#18675 [FLINK-25491][table-planner] Fix bug: generated code for a large IN filter can't be compiled
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/CodeGeneratorContext.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/CodeSplitITCase.scala
Labels: component=TableSQL/API, component=TableSQL/Runtime

#18743 [FLINK-25227][table] Boxed numeric type should be considered when generating code for equality checking
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/CodeGenUtils.scala
  flink-table/flink-table-planner-blink/src/main/scala/org/apache/flink/table/planner/codegen/calls/ScalarOperatorGens.scala
  flink-table/flink-table-planner-blink/src/test/scala/org/apache/flink/table/planner/expressions/ScalarOperatorsTest.scala
  flink-table/flink-table-runtime-blink/src/main/java/org/apache/flink/table/runtime/functions/NumericUtils.java
Labels: component=TableSQL/Runtime

#18777 [FLINK-26016][hive] Fix FileSystemLookupFunction can't build correct cache when reading columnar storage table
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/FileSystemLookupFunction.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveLookupJoinITCase.java
Labels: component=Connectors/Hive

#18815 [FLINK-26210][connector/pulsar] Fix the jaxb-api missing for Pulsar connector on Java 11
  flink-end-to-end-tests/flink-end-to-end-tests-pulsar/pom.xml
  flink-end-to-end-tests/flink-end-to-end-tests-pulsar/src/test/java/org/apache/flink/tests/util/pulsar/PulsarSourceOrderedE2ECase.java
  flink-end-to-end-tests/flink-end-to-end-tests-pulsar/src/test/java/org/apache/flink/tests/util/pulsar/common/FlinkContainerWithPulsarEnvironment.java
Labels: component=Connectors/Pulsar

#18799 [FLINK-26145][docs] fix a kubernetes image that does not exist in the…
  docs/content.zh/docs/deployment/resource-providers/native_kubernetes.md
  docs/content/docs/deployment/resource-providers/native_kubernetes.md
Labels: component=Documentation

#18862 [FLINK-26064][connector/firehose][connector/kinesis] Using separate event loop group for firehose IT test.
  flink-connectors/flink-connector-aws-base/src/main/java/org/apache/flink/connector/aws/util/AWSGeneralUtil.java
  flink-connectors/flink-connector-aws-base/src/test/java/org/apache/flink/connector/aws/testutils/AWSServicesTestUtils.java
  flink-connectors/flink-connector-aws-kinesis-data-streams/src/test/java/org/apache/flink/connectors/kinesis/testutils/KinesaliteContainer.java
  flink-connectors/flink-connector-aws-kinesis-firehose/src/test/java/org/apache/flink/connector/firehose/sink/KinesisFirehoseSinkITCase.java
Labels: component=Connectors/Kinesis

#18829 [FLINK-26221][prometheus] Migrate tests to JUnit5
  flink-metrics/flink-metrics-prometheus/src/test/java/org/apache/flink/metrics/prometheus/PrometheusPushGatewayReporterTest.java
  flink-metrics/flink-metrics-prometheus/src/test/java/org/apache/flink/metrics/prometheus/PrometheusReporterTaskScopeTest.java
  flink-metrics/flink-metrics-prometheus/src/test/java/org/apache/flink/metrics/prometheus/PrometheusReporterTest.java
  flink-metrics/flink-metrics-prometheus/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
Labels: component=Tests, component=Runtime/Metrics

#18828 [FLINK-26152] [docs] Translate the page of SQL/queries/WITH clause
  docs/content.zh/docs/dev/table/sql/queries/with.md
Labels: component=chinese-translation

#18686 [FLINK-25977][connectors/kinesis] Closing http & sdk clients in sink …
  flink-connectors/flink-connector-aws-kinesis-data-streams/src/main/java/org/apache/flink/connector/kinesis/sink/KinesisDataStreamsSinkWriter.java
  flink-connectors/flink-connector-aws-kinesis-data-streams/src/test/java/org/apache/flink/connector/kinesis/sink/KinesisDataStreamsSinkITCase.java
  flink-connectors/flink-connector-aws-kinesis-data-streams/src/test/java/org/apache/flink/connectors/kinesis/testutils/KinesaliteContainer.java
  flink-end-to-end-tests/flink-end-to-end-tests-aws-kinesis-data-streams/src/test/java/org/apache/flink/connector/kinesis/table/test/KinesisDataStreamsTableApiIT.java
Labels: component=Connectors/Kinesis

#18784 [FLINK-25941][streaming] Only emit committables with Long.MAX_VALUE as checkpoint id in batch mode
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/connector/sink2/GlobalCommitterOperator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/sink/CommitterOperator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/sink/CommitterOperatorFactory.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/sink/SinkWriterOperator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/sink/SinkWriterOperatorFactory.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/sink/committables/CheckpointCommittableManagerImpl.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/sink/committables/CommittableCollector.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/translators/SinkTransformationTranslator.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/connector/sink2/CommittableSummaryAssert.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/sink/CommitterOperatorTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/sink/SinkWriterOperatorTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/sink/committables/CheckpointCommittableManagerImplTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/sink/committables/CommittableCollectorTest.java
Labels: component=Connectors/Kafka

#18832 [FLINK-26227][graphite] Migrate tests to JUnit5
  flink-metrics/flink-metrics-graphite/src/test/java/org/apache/flink/metrics/graphite/GraphiteReporterFactoryTest.java
  flink-metrics/flink-metrics-graphite/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
Labels: component=Tests, component=Runtime/Metrics

#18873 [FLINK-26299] Reintroduce old JobClient#triggerSavepoint,stopWithSavepoint methods
  flink-core/src/main/java/org/apache/flink/core/execution/JobClient.java
Labels: component=API/DataStream, component=Runtime/Checkpointing

#18830 [FLINK-26225][jmx] Migrate tests to JUnit5
  flink-metrics/flink-metrics-jmx/src/test/java/org/apache/flink/metrics/jmx/JMXReporterFactoryTest.java
  flink-metrics/flink-metrics-jmx/src/test/java/org/apache/flink/metrics/jmx/JMXReporterTest.java
  flink-metrics/flink-metrics-jmx/src/test/java/org/apache/flink/runtime/jobmanager/JMXJobManagerMetricTest.java
  flink-metrics/flink-metrics-jmx/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
Labels: component=Tests, component=Runtime/Metrics

#18833 [FLINK-26228][dropwizard] Migrate tests to JUnit5
  flink-metrics/flink-metrics-dropwizard/src/test/java/org/apache/flink/dropwizard/ScheduledDropwizardReporterTest.java
  flink-metrics/flink-metrics-dropwizard/src/test/java/org/apache/flink/dropwizard/metrics/DropwizardFlinkHistogramWrapperTest.java
  flink-metrics/flink-metrics-dropwizard/src/test/java/org/apache/flink/dropwizard/metrics/DropwizardMeterWrapperTest.java
  flink-metrics/flink-metrics-dropwizard/src/test/java/org/apache/flink/dropwizard/metrics/FlinkCounterWrapperTest.java
  flink-metrics/flink-metrics-dropwizard/src/test/java/org/apache/flink/dropwizard/metrics/FlinkMeterWrapperTest.java
  flink-metrics/flink-metrics-dropwizard/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
Labels: component=Tests, component=Runtime/Metrics

#18831 [FLINK-26226][influxdb] Migrate tests to JUnit5
  flink-metrics/flink-metrics-influxdb/pom.xml
  flink-metrics/flink-metrics-influxdb/src/test/java/org/apache/flink/metrics/influxdb/InfluxdbReporterFactoryTest.java
  flink-metrics/flink-metrics-influxdb/src/test/java/org/apache/flink/metrics/influxdb/InfluxdbReporterTest.java
  flink-metrics/flink-metrics-influxdb/src/test/java/org/apache/flink/metrics/influxdb/MeasurementInfoProviderTest.java
  flink-metrics/flink-metrics-influxdb/src/test/java/org/apache/flink/metrics/influxdb/MetricMapperTest.java
  flink-metrics/flink-metrics-influxdb/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
Labels: component=Tests, component=Runtime/Metrics

#18876 [FLINK-26291][connectors/firehose] Changed integration test from asse…
  flink-connectors/flink-connector-aws-kinesis-firehose/src/test/java/org/apache/flink/connector/firehose/sink/KinesisFirehoseSinkITCase.java
Labels: component=Connectors/Kinesis

#18058 [FLINK-24571][connectors/elasticsearch] Supports a system time function(now() and current_timestamp) in index pattern
  docs/content.zh/docs/connectors/table/elasticsearch.md
  docs/content/docs/connectors/table/elasticsearch.md
  flink-connectors/flink-connector-elasticsearch-base/src/main/java/org/apache/flink/connector/elasticsearch/table/ElasticsearchDynamicSink.java
  flink-connectors/flink-connector-elasticsearch-base/src/main/java/org/apache/flink/connector/elasticsearch/table/ElasticsearchDynamicSinkFactoryBase.java
  flink-connectors/flink-connector-elasticsearch-base/src/main/java/org/apache/flink/connector/elasticsearch/table/IndexGeneratorFactory.java
  flink-connectors/flink-connector-elasticsearch-base/src/test/java/org/apache/flink/connector/elasticsearch/table/ElasticsearchDynamicSinkBaseITCase.java
  flink-connectors/flink-connector-elasticsearch-base/src/test/java/org/apache/flink/connector/elasticsearch/table/ElasticsearchDynamicSinkFactoryBaseTest.java
  flink-connectors/flink-connector-elasticsearch-base/src/test/java/org/apache/flink/connector/elasticsearch/table/IndexGeneratorTest.java
Labels: component=Connectors/ElasticSearch

#18849 [FLINK-24407][doc-zh]Pulsar connector chinese document link to Pulsar document location incorrectly.
  docs/content.zh/docs/connectors/datastream/pulsar.md
Labels: component=Documentation

#18897 [FLINK-26304][streaming] Do not forward failed committables
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/sink/AbstractStreamingCommitterHandler.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/sink/StreamingCommitterHandlerTest.java
Labels: component=API/DataStream, component=Connectors/Common

#18781 [FLINK-26159][doc] add description for MAX_FETCH_RECORD related question
  docs/content.zh/docs/connectors/datastream/pubsub.md
  docs/content/docs/connectors/datastream/pulsar.md
Labels: component=Connectors/Pulsar

#18780 [FLINK-26160][pulsar][doc] update the doc of setUnboundedStopCursor()
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/PulsarSourceBuilder.java
Labels: component=Connectors/Pulsar

#18875 [FLINK-25247][docs] Remove mentions of Java 8
  docs/content.zh/docs/dev/datastream/project-configuration.md
  docs/content.zh/docs/dev/python/datastream_tutorial.md
  docs/content.zh/docs/dev/python/table_api_tutorial.md
  docs/content.zh/docs/flinkDev/building.md
  docs/content.zh/docs/try-flink/datastream.md
  docs/content.zh/docs/try-flink/local_installation.md
  docs/content.zh/docs/try-flink/table_api.md
  docs/content/docs/dev/configuration/gradle.md
  docs/content/docs/dev/configuration/maven.md
  docs/content/docs/dev/python/datastream_tutorial.md
  docs/content/docs/dev/python/table_api_tutorial.md
  docs/content/docs/flinkDev/building.md
  docs/content/docs/try-flink/datastream.md
  docs/content/docs/try-flink/local_installation.md
  docs/content/docs/try-flink/table_api.md
Labels: component=Documentation

#18902 [FLINK-25793][connector/base] Fix high thourouput bug for throttling …
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/sink/writer/AIMDRateLimitingStrategy.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/sink/writer/AsyncSinkWriter.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/writer/AIMDRateLimitingStrategyTest.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/writer/AsyncSinkWriterTest.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/writer/AsyncSinkWriterThrottlingTest.java
Labels: component=Connectors/Kinesis

#18907 [FLINK-26160][pulsar][doc] update the doc of setUnboundedStopCursor()
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/PulsarSourceBuilder.java
Labels: component=Connectors/Pulsar

#18906 [FLINK-26159][doc] add description for MAX_FETCH_RECORD related question
  docs/content.zh/docs/connectors/datastream/pubsub.md
  docs/content/docs/connectors/datastream/pulsar.md
Labels: component=Connectors/Pulsar

#18641 [FLINK-25761] [docs] Translate Avro format page into Chinese.
  docs/content.zh/docs/connectors/datastream/formats/avro.md
Labels: component=Documentation

#18768 [FLINK-26320][DOC]update hive doc for 1 m->1 min
  docs/content.zh/docs/connectors/table/hive/hive_read_write.md
  docs/content/docs/connectors/table/hive/hive_read_write.md
Labels: component=Documentation

#18903 [FLINK-26342][docs][formats] Add DataStream documentation for the CSV format
  docs/content/docs/connectors/datastream/formats/csv.md
Labels: component=Documentation, component=Connectors/FileSystem

#18918 [FLINK-26354] -restoreMode should be --restoreMode and should have a shorthand
  flink-clients/src/main/java/org/apache/flink/client/cli/CliFrontendParser.java
  flink-clients/src/test/java/org/apache/flink/client/cli/CliFrontendRunTest.java
Labels: component=CommandLineClient

#18865 [FLINK-25819][runtime] Reordered requesting and recycling buffers in order to avoid race condition in testIsAvailableOrNotAfterRequestAndRecycleMultiSegments
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/buffer/NetworkBufferPoolTest.java
Labels: component=Runtime/Network

#18919 [FLINK-26285] Fixes an inconsistency
  flink-runtime/src/main/java/org/apache/flink/runtime/zookeeper/ZooKeeperStateHandleStore.java
  flink-runtime/src/test/java/org/apache/flink/runtime/zookeeper/ZooKeeperStateHandleStoreTest.java
Labels: component=Runtime/Coordination

#18921 [BP-1.14][FLINK-26285] Fixes an inconsistency
  flink-runtime/src/main/java/org/apache/flink/runtime/zookeeper/ZooKeeperStateHandleStore.java
  flink-runtime/src/test/java/org/apache/flink/runtime/zookeeper/ZooKeeperStateHandleStoreTest.java
Labels: component=Runtime/Coordination

#18922 [BP-1.13][FLINK-26285] Fixes an inconsistency
  flink-runtime/src/main/java/org/apache/flink/runtime/zookeeper/ZooKeeperStateHandleStore.java
  flink-runtime/src/test/java/org/apache/flink/runtime/zookeeper/ZooKeeperStateHandleStoreTest.java
Labels: component=Runtime/Coordination

#18924 [FLINK-25819][runtime] Reordered requesting and recycling buffers in order to avoid race condition in testIsAvailableOrNotAfterRequestAndRecycleMultiSegments
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/buffer/NetworkBufferPoolTest.java
Labels: component=Runtime/Network

#18869 [FLINK-26284] Introduces mark-for-deletion state in ZooKeeperStateHandleStore
  flink-runtime/src/main/java/org/apache/flink/runtime/persistence/StateHandleStore.java
  flink-runtime/src/main/java/org/apache/flink/runtime/zookeeper/ZooKeeperStateHandleStore.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/ZooKeeperCompletedCheckpointStoreITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/persistence/TestingLongStateHandleHelper.java
  flink-runtime/src/test/java/org/apache/flink/runtime/zookeeper/ZooKeeperStateHandleStoreTest.java
Labels: component=Runtime/Coordination

#18883 [FLINK-25026] UnalignedCheckpointRescaleITCase.shouldRescaleUnalignedCheckpoint fails on AZP
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/NettyShuffleServiceFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/netty/NettyConnectionManager.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/SharedPoolNettyShuffleServiceFactory.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/UnalignedCheckpointTestBase.java
Labels: component=Runtime/Checkpointing

#18913 [FLINK-26331] Make cleanup retry strategy configurable similar to how the task restart is configurable
  docs/content.zh/docs/deployment/config.md
  docs/content/docs/deployment/config.md
  docs/layouts/shortcodes/generated/all_jobmanager_section.html
  docs/layouts/shortcodes/generated/cleanup_configuration.html
  docs/layouts/shortcodes/generated/exponential_delay_cleanup_strategy_configuration.html
  docs/layouts/shortcodes/generated/fixed_delay_cleanup_strategy_configuration.html
  docs/layouts/shortcodes/generated/job_manager_configuration.html
  flink-core/src/main/java/org/apache/flink/configuration/CleanupOptions.java
  flink-core/src/main/java/org/apache/flink/configuration/JobManagerOptions.java
  flink-core/src/main/java/org/apache/flink/configuration/RestartStrategyOptions.java
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/cleanup/CleanupRetryStrategyFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/cleanup/DispatcherResourceCleanerFactory.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/cleanup/CleanupRetryStrategyFactoryTest.java
Labels: component=Runtime/Coordination
