Repository apache/flink, pull requests merged in 2022-07, with the labels that each got.

#18920 [FLINK-26361][hive] Create LogicalFilter with CorrelationId to fix "unexpected correlate variable" exception when using Hive dialect
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParserCalcitePlanner.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParserUtils.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/copy/HiveParserBaseSemanticAnalyzer.java
  flink-connectors/flink-connector-hive/src/test/resources/query-test/sub_query.q
Labels: component=<none>

#20098 [FLINK-28288][table][python] Support decode and encode in Table API
  docs/data/sql_functions.yml
  docs/data/sql_functions_zh.yml
  flink-python/pyflink/table/expression.py
  flink-python/pyflink/table/tests/test_expression.py
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/BaseExpressions.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/BuiltInFunctionDefinitions.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/expressions/converter/DirectConvertRule.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/expressions/ScalarFunctionsTest.scala
Labels: component=API/Python, component=TableSQL/API

#20116 [FLINK-28169][e2e-test/glue,kinesis] Re-enabled integration test that…
  flink-end-to-end-tests/flink-glue-schema-registry-json-test/pom.xml
  flink-end-to-end-tests/flink-glue-schema-registry-json-test/src/test/java/org/apache/flink/glue/schema/registry/test/json/GlueSchemaRegistryJsonKinesisITCase.java
Labels: component=Formats

#20104 [FLINK-28298][table][python] Support left and right in Table API
  docs/data/sql_functions.yml
  docs/data/sql_functions_zh.yml
  flink-python/pyflink/table/expression.py
  flink-python/pyflink/table/tests/test_expression.py
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/BaseExpressions.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/BuiltInFunctionDefinitions.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/expressions/converter/DirectConvertRule.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/expressions/ScalarFunctionsTest.scala
Labels: component=API/Python, component=TableSQL/API

#20114 [FLINK-28329][Tests] Output the top 15 directories in terms of used disk space
  flink-end-to-end-tests/test-scripts/test-runner-common.sh
  tools/ci/controller_utils.sh
Labels: component=Tests, component=TestInfrastructure

#20148 [FLINK-27822][docs-zh] Translate the doc of checkpoint/savepoint guar…
  docs/content.zh/docs/concepts/stateful-stream-processing.md
  docs/content.zh/docs/ops/state/checkpoints.md
  docs/content.zh/docs/ops/state/checkpoints_vs_savepoints.md
  docs/content.zh/docs/ops/state/savepoints.md
Labels: component=Documentation, component=chinese-translation

#20154 [hotfix][connector][pulsar] Address Spotless violation from FLINK-26931
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/common/config/PulsarClientFactory.java
Labels: component=Connectors/Pulsar

#20132 [FLINK-28354][table][python] Support instr and locate in Table API
  docs/data/sql_functions.yml
  docs/data/sql_functions_zh.yml
  flink-python/pyflink/table/expression.py
  flink-python/pyflink/table/tests/test_expression.py
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/BaseExpressions.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/BuiltInFunctionDefinitions.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/expressions/converter/DirectConvertRule.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/expressions/ScalarFunctionsTest.scala
Labels: component=API/Python, component=TableSQL/API

#19856 [FLINK-27854][tests] Refactor FlinkImageBuilder and FlinkContainerBuilder
  flink-end-to-end-tests/flink-end-to-end-tests-aws-kinesis-firehose/src/test/java/org/apache/flink/connector/firehose/table/test/KinesisFirehoseTableITTest.java
  flink-end-to-end-tests/flink-end-to-end-tests-aws-kinesis-streams/src/test/java/org/apache/flink/connector/kinesis/table/test/KinesisStreamsTableApiIT.java
  flink-end-to-end-tests/flink-end-to-end-tests-common-elasticsearch/src/main/java/org/apache/flink/streaming/tests/ElasticsearchSinkE2ECaseBase.java
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/src/test/java/org/apache/flink/tests/util/kafka/KafkaSinkE2ECase.java
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/src/test/java/org/apache/flink/tests/util/kafka/KafkaSourceE2ECase.java
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/src/test/java/org/apache/flink/tests/util/kafka/SQLClientSchemaRegistryITCase.java
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/src/test/java/org/apache/flink/tests/util/kafka/SmokeKafkaITCase.java
  flink-end-to-end-tests/flink-end-to-end-tests-common/src/main/java/org/apache/flink/tests/util/flink/container/FlinkContainerTestEnvironment.java
  flink-end-to-end-tests/flink-end-to-end-tests-common/src/main/java/org/apache/flink/tests/util/flink/container/FlinkContainers.java
  flink-end-to-end-tests/flink-end-to-end-tests-common/src/main/java/org/apache/flink/tests/util/flink/container/FlinkContainersBuilder.java
  flink-end-to-end-tests/flink-end-to-end-tests-common/src/main/java/org/apache/flink/tests/util/flink/container/FlinkContainersSettings.java
  flink-end-to-end-tests/flink-end-to-end-tests-common/src/main/java/org/apache/flink/tests/util/flink/container/FlinkImageBuilder.java
  flink-end-to-end-tests/flink-end-to-end-tests-common/src/main/java/org/apache/flink/tests/util/flink/container/FlinkTestcontainersConfigurator.java
  flink-end-to-end-tests/flink-end-to-end-tests-common/src/main/java/org/apache/flink/tests/util/flink/container/TestcontainersSettings.java
  flink-end-to-end-tests/flink-end-to-end-tests-pulsar/src/test/java/org/apache/flink/tests/util/pulsar/common/FlinkContainerWithPulsarEnvironment.java
  flink-end-to-end-tests/flink-streaming-kinesis-test/src/test/java/org/apache/flink/streaming/kinesis/test/KinesisTableApiITCase.java
Labels: component=Tests

#19944 [FLINK-26793][documentation] Add recommendations about the write timeout to the javadoc of Cassandra sink and output format
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/batch/connectors/cassandra/CassandraOutputFormatBase.java
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/batch/connectors/cassandra/CassandraPojoOutputFormat.java
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/batch/connectors/cassandra/CassandraRowOutputFormat.java
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/batch/connectors/cassandra/CassandraTupleOutputFormat.java
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/streaming/connectors/cassandra/CassandraPojoSink.java
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/streaming/connectors/cassandra/CassandraRowSink.java
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/streaming/connectors/cassandra/CassandraScalaProductSink.java
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/streaming/connectors/cassandra/CassandraSinkBase.java
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/streaming/connectors/cassandra/CassandraTupleSink.java
Labels: component=Connectors/Cassandra

#20156 [FLINK-28355][python][e2e] Clean up python environment after e2e tests
  flink-end-to-end-tests/test-scripts/test_kubernetes_pyflink_application.sh
  flink-end-to-end-tests/test-scripts/test_pyflink.sh
  flink-end-to-end-tests/test-scripts/test_pyflink_yarn.sh
  flink-python/dev/lint-python.sh
Labels: component=API/Python, component=TestInfrastructure

#19827 [FLINK-27806][table] Support binary & varbinary types in datagen connector
  docs/content.zh/docs/connectors/table/datagen.md
  docs/content/docs/connectors/table/datagen.md
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/connector/datagen/table/RandomGeneratorVisitor.java
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/connector/datagen/table/SequenceGeneratorVisitor.java
  flink-table/flink-table-api-java-bridge/src/test/java/org/apache/flink/table/factories/DataGenTableSourceFactoryTest.java
Labels: component=TableSQL/Ecosystem

#20119 [FLINK-28322][table-api] DataStreamScan(Sink)Provider's new method is not compatible
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/table/FileSystemTableSink.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSink.java
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/streaming/connectors/kafka/table/KafkaDynamicSink.java
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/table/connector/sink/DataStreamSinkProvider.java
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/table/connector/source/DataStreamScanProvider.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/connectors/CollectDynamicSink.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/common/CommonExecSinkITCase.java
Labels: component=TableSQL/API

#20167 [BP-1.14][FLINK-27865][docs] Add example for configuring SASL and SSL in Kafka DataStream and SQL connector
  docs/content.zh/docs/connectors/table/kafka.md
  docs/content/docs/connectors/datastream/kafka.md
  docs/content/docs/connectors/table/kafka.md
Labels: component=Documentation, component=Connectors/Kafka

#20166 [BP-1.15][FLINK-27865][docs] Add example for configuring SASL and SSL in Kafka DataStream and SQL connector
  docs/content.zh/docs/connectors/datastream/kafka.md
  docs/content.zh/docs/connectors/table/kafka.md
  docs/content/docs/connectors/datastream/kafka.md
  docs/content/docs/connectors/table/kafka.md
Labels: component=Documentation, component=Connectors/Kafka

#20117 [FLINK-28274][runtime] set the max parallelism of ContinuousFileMonitoringFunction explicitly
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/environment/StreamExecutionEnvironment.java
  flink-tests/src/test/java/org/apache/flink/test/scheduling/ReactiveModeITCase.java
Labels: component=Runtime/Coordination, component=API/DataStream

#20165 [FLINK-26323][tests] Allow CREATED state
  flink-clients/src/test/java/org/apache/flink/client/program/PerJobMiniClusterFactoryTest.java
Labels: component=TestInfrastructure

#19920 [FLINK-15855][hive] Use the new type inference for Hive UDAF
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/factories/HiveFunctionDefinitionFactory.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/functions/hive/HiveGenericUDAF.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/functions/hive/HiveLegacyFunction.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParserUtils.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/copy/HiveParserBaseSemanticAnalyzer.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/functions/hive/HiveGenericUDAFTest.java
  flink-connectors/flink-connector-hive/src/test/resources/query-test/udaf.q
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/catalog/FunctionCatalogOperatorTable.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/functions/utils/HiveAggSqlFunction.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/functions/utils/HiveFunctionUtils.java
Labels: component=Connectors/Hive

#20162 [FLINK-26600][tests] Wait with savepoint until job is running
  flink-clients/src/test/java/org/apache/flink/client/program/PerJobMiniClusterFactoryTest.java
Labels: component=TestInfrastructure

#20180 [FLINK-28329][BP 1.14][Tests] Output the top 15 directories in terms of used disk space
  flink-end-to-end-tests/test-scripts/test-runner-common.sh
  tools/ci/controller_utils.sh
Labels: component=Tests, component=TestInfrastructure

#20181 [FLINK-28329][BP 1.15][Tests] Output the top 15 directories in terms of used disk space
  flink-end-to-end-tests/test-scripts/test-runner-common.sh
  tools/ci/controller_utils.sh
Labels: component=Tests, component=TestInfrastructure

#20146 [FLINK-28369][table][python] Support PARSE_URL in Table API
  docs/data/sql_functions.yml
  docs/data/sql_functions_zh.yml
  flink-python/pyflink/table/expression.py
  flink-python/pyflink/table/tests/test_expression.py
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/BaseExpressions.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/BuiltInFunctionDefinitions.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/expressions/converter/DirectConvertRule.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/expressions/ScalarFunctionsTest.scala
Labels: component=API/Python, component=TableSQL/API

#19849 [FLINK-27767][sql-gateway] Introduce Endpoint API and utils
  flink-table/flink-sql-gateway-api/pom.xml
  flink-table/flink-sql-gateway-api/src/main/java/org/apache/flink/table/gateway/api/endpoint/SqlGatewayEndpoint.java
  flink-table/flink-sql-gateway-api/src/main/java/org/apache/flink/table/gateway/api/endpoint/SqlGatewayEndpointFactory.java
  flink-table/flink-sql-gateway-api/src/main/java/org/apache/flink/table/gateway/api/endpoint/SqlGatewayEndpointFactoryUtils.java
  flink-table/flink-sql-gateway-api/src/test/java/org/apache/flink/table/gateway/api/endpoint/SqlGatewayEndpointFactoryUtilsTest.java
  flink-table/flink-sql-gateway-api/src/test/java/org/apache/flink/table/gateway/api/utils/FakeSqlGatewayEndpoint.java
  flink-table/flink-sql-gateway-api/src/test/java/org/apache/flink/table/gateway/api/utils/FakeSqlGatewayEndpointFactory.java
  flink-table/flink-sql-gateway-api/src/test/java/org/apache/flink/table/gateway/api/utils/MockedSqlGatewayEndpoint.java
  flink-table/flink-sql-gateway-api/src/test/java/org/apache/flink/table/gateway/api/utils/MockedSqlGatewayEndpointFactory.java
  flink-table/flink-sql-gateway-api/src/test/java/org/apache/flink/table/gateway/api/utils/MockedSqlGatewayService.java
  flink-table/flink-sql-gateway-api/src/test/resources/META-INF/services/org.apache.flink.table.factories.Factory
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/factories/FactoryUtil.java
Labels: component=<none>

#19193 [FLINK-26813[SQL-API] Supports ADD/MODIFY column/watermark/constraint syntax parse for ALTER TABLE
  flink-table/flink-sql-parser-hive/src/main/java/org/apache/flink/sql/parser/hive/ddl/SqlAlterHiveDatabaseProps.java
  flink-table/flink-sql-parser-hive/src/main/java/org/apache/flink/sql/parser/hive/ddl/SqlAlterHiveTableAddReplaceColumn.java
  flink-table/flink-sql-parser-hive/src/main/java/org/apache/flink/sql/parser/hive/ddl/SqlAlterHiveTableProps.java
  flink-table/flink-sql-parser-hive/src/main/java/org/apache/flink/sql/parser/hive/ddl/SqlAlterHiveTableSerDe.java
  flink-table/flink-sql-parser-hive/src/main/java/org/apache/flink/sql/parser/hive/ddl/SqlAlterHiveViewProperties.java
  flink-table/flink-sql-parser-hive/src/main/java/org/apache/flink/sql/parser/hive/ddl/SqlCreateHiveTable.java
  flink-table/flink-sql-parser-hive/src/main/java/org/apache/flink/sql/parser/hive/ddl/SqlCreateHiveView.java
  flink-table/flink-sql-parser/src/main/codegen/data/Parser.tdd
  flink-table/flink-sql-parser/src/main/codegen/includes/parserImpls.ftl
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/SqlUnparseUtils.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlAddReplaceColumns.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlAlterDatabase.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlAlterTable.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlAlterTableAdd.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlAlterTableModify.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlAlterTableOptions.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlAlterTableReset.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlAlterTableSchema.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlAlterViewProperties.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlCreateCatalog.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlCreateTable.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlCreateView.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/position/SqlColumnPosSpec.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/position/SqlTableColumnPosition.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/dql/SqlLoadModule.java
  flink-table/flink-sql-parser/src/test/java/org/apache/flink/sql/parser/FlinkSqlParserImplTest.java
Labels: component=TableSQL/API

#19561 [FLINK-26414][hive] Hive dialect supports macro
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/functions/hive/HiveFunctionWrapper.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParser.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/parse/HiveParserDDLSemanticAnalyzer.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDialectITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/planner/delegation/hive/HiveASTParserTest.java
Labels: component=<none>

#20053 [FLINK-28201][ci] Generalize utils around dependency plugin
  tools/ci/java-ci-tools/src/main/java/org/apache/flink/tools/ci/licensecheck/NoticeFileChecker.java
  tools/ci/java-ci-tools/src/main/java/org/apache/flink/tools/ci/suffixcheck/ScalaSuffixChecker.java
  tools/ci/java-ci-tools/src/main/java/org/apache/flink/tools/ci/utils/dependency/Dependency.java
  tools/ci/java-ci-tools/src/main/java/org/apache/flink/tools/ci/utils/dependency/DependencyParser.java
  tools/ci/java-ci-tools/src/test/java/org/apache/flink/tools/ci/utils/dependency/DependencyParserCopyTest.java
  tools/ci/java-ci-tools/src/test/java/org/apache/flink/tools/ci/utils/dependency/DependencyParserTreeTest.java
Labels: component=BuildSystem, component=BuildSystem/CI

#20201 [FLINK-28439][table][python] Support SUBSTR and REGEXP built-in function in Table API
  docs/data/sql_functions.yml
  docs/data/sql_functions_zh.yml
  flink-python/pyflink/table/expression.py
  flink-python/pyflink/table/tests/test_expression.py
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/BaseExpressions.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/BuiltInFunctionDefinitions.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/expressions/converter/DirectConvertRule.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/expressions/ScalarFunctionsTest.scala
Labels: component=API/Python, component=TableSQL/API

#20188 [FLINK-28409][tests] Move FlinkContainerTestEnvironment and dependendencies into flink-connector-test-utils
  flink-end-to-end-tests/flink-end-to-end-tests-aws-kinesis-firehose/src/test/java/org/apache/flink/connector/firehose/table/test/KinesisFirehoseTableITTest.java
  flink-end-to-end-tests/flink-end-to-end-tests-aws-kinesis-streams/src/test/java/org/apache/flink/connector/kinesis/table/test/KinesisStreamsTableApiIT.java
  flink-end-to-end-tests/flink-end-to-end-tests-common-elasticsearch/src/main/java/org/apache/flink/streaming/tests/ElasticsearchSinkE2ECaseBase.java
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/src/main/java/org/apache/flink/tests/util/kafka/LocalStandaloneKafkaResource.java
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/src/main/java/org/apache/flink/tests/util/kafka/LocalStandaloneKafkaResourceFactory.java
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/src/test/java/org/apache/flink/tests/util/kafka/KafkaSinkE2ECase.java
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/src/test/java/org/apache/flink/tests/util/kafka/KafkaSourceE2ECase.java
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/src/test/java/org/apache/flink/tests/util/kafka/SQLClientKafkaITCase.java
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/src/test/java/org/apache/flink/tests/util/kafka/SQLClientSchemaRegistryITCase.java
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/src/test/java/org/apache/flink/tests/util/kafka/SmokeKafkaITCase.java
  flink-end-to-end-tests/flink-end-to-end-tests-common/src/main/java/org/apache/flink/tests/util/TestUtils.java
  flink-end-to-end-tests/flink-end-to-end-tests-common/src/main/java/org/apache/flink/tests/util/cache/AbstractDownloadCache.java
  flink-end-to-end-tests/flink-end-to-end-tests-common/src/main/java/org/apache/flink/tests/util/cache/PersistingDownloadCacheFactory.java
  flink-end-to-end-tests/flink-end-to-end-tests-common/src/main/java/org/apache/flink/tests/util/cache/TravisDownloadCacheFactory.java
  flink-end-to-end-tests/flink-end-to-end-tests-common/src/main/java/org/apache/flink/tests/util/flink/ClusterController.java
  flink-end-to-end-tests/flink-end-to-end-tests-common/src/main/java/org/apache/flink/tests/util/flink/FlinkDistribution.java
  flink-end-to-end-tests/flink-end-to-end-tests-common/src/main/java/org/apache/flink/tests/util/flink/FlinkResource.java
  flink-end-to-end-tests/flink-end-to-end-tests-common/src/main/java/org/apache/flink/tests/util/flink/LocalStandaloneFlinkResource.java
  flink-end-to-end-tests/flink-end-to-end-tests-common/src/main/java/org/apache/flink/tests/util/flink/LocalStandaloneFlinkResourceFactory.java
  flink-end-to-end-tests/flink-end-to-end-tests-common/src/test/java/org/apache/flink/tests/util/util/FileUtilsTest.java
  flink-end-to-end-tests/flink-end-to-end-tests-hbase/src/test/java/org/apache/flink/tests/util/hbase/SQLClientHBaseITCase.java
  flink-end-to-end-tests/flink-end-to-end-tests-pulsar/src/test/java/org/apache/flink/tests/util/pulsar/common/FlinkContainerWithPulsarEnvironment.java
  flink-end-to-end-tests/flink-end-to-end-tests-scala/src/test/java/org/apache/flink/tests/scala/ScalaFreeITCase.java
  flink-end-to-end-tests/flink-end-to-end-tests-sql/src/test/java/org/apache/flink/table/sql/codegen/PlannerScalaFreeITCase.java
  flink-end-to-end-tests/flink-streaming-kinesis-test/src/test/java/org/apache/flink/streaming/kinesis/test/KinesisTableApiITCase.java
  flink-test-utils-parent/flink-connector-test-utils/src/main/java/org/apache/flink/connector/testframe/container/FlinkContainerTestEnvironment.java
  flink-test-utils-parent/flink-connector-test-utils/src/main/java/org/apache/flink/connector/testframe/container/FlinkContainers.java
  flink-test-utils-parent/flink-connector-test-utils/src/main/java/org/apache/flink/connector/testframe/container/FlinkContainersSettings.java
  flink-test-utils-parent/flink-connector-test-utils/src/main/java/org/apache/flink/connector/testframe/container/FlinkImageBuilder.java
  flink-test-utils-parent/flink-connector-test-utils/src/main/java/org/apache/flink/connector/testframe/container/FlinkTestcontainersConfigurator.java
  flink-test-utils-parent/flink-connector-test-utils/src/main/java/org/apache/flink/connector/testframe/container/ImageBuildException.java
  flink-test-utils-parent/flink-connector-test-utils/src/main/java/org/apache/flink/connector/testframe/container/TestcontainersSettings.java
  flink-test-utils-parent/flink-test-utils/src/main/java/org/apache/flink/test/parameters/ParameterProperty.java
  flink-test-utils-parent/flink-test-utils/src/main/java/org/apache/flink/test/util/FileUtils.java
  flink-test-utils-parent/flink-test-utils/src/main/java/org/apache/flink/test/util/JobSubmission.java
  flink-test-utils-parent/flink-test-utils/src/main/java/org/apache/flink/test/util/SQLJobSubmission.java
Labels: component=Connectors/ElasticSearch

#20067 [FLINK-28230][ci] Unify Dependency class
  tools/ci/java-ci-tools/src/main/java/org/apache/flink/tools/ci/licensecheck/NoticeFileChecker.java
  tools/ci/java-ci-tools/src/main/java/org/apache/flink/tools/ci/suffixcheck/ScalaSuffixChecker.java
  tools/ci/java-ci-tools/src/main/java/org/apache/flink/tools/ci/utils/dependency/DependencyParser.java
  tools/ci/java-ci-tools/src/main/java/org/apache/flink/tools/ci/utils/shared/Dependency.java
  tools/ci/java-ci-tools/src/test/java/org/apache/flink/tools/ci/utils/dependency/DependencyParserCopyTest.java
  tools/ci/java-ci-tools/src/test/java/org/apache/flink/tools/ci/utils/dependency/DependencyParserTreeTest.java
Labels: component=BuildSystem/CI

#20173 [FLINK-27556][state] Inline state handle id generation
  flink-runtime/src/main/java/org/apache/flink/runtime/state/filesystem/FileStateHandle.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/memory/ByteStreamStateHandle.java
Labels: component=Runtime/Checkpointing, component=Benchmarks

#20093 [FLINK-28172][changelog] Scatter dstl files into separate directories…
  flink-dstl/flink-dstl-dfs/src/main/java/org/apache/flink/changelog/fs/FsStateChangelogStorage.java
  flink-dstl/flink-dstl-dfs/src/main/java/org/apache/flink/changelog/fs/FsStateChangelogStorageFactory.java
  flink-dstl/flink-dstl-dfs/src/main/java/org/apache/flink/changelog/fs/StateChangeFsUploader.java
  flink-dstl/flink-dstl-dfs/src/main/java/org/apache/flink/changelog/fs/StateChangeUploadScheduler.java
  flink-dstl/flink-dstl-dfs/src/test/java/org/apache/flink/changelog/fs/ChangelogStorageMetricsTest.java
  flink-dstl/flink-dstl-dfs/src/test/java/org/apache/flink/changelog/fs/FsStateChangelogStorageTest.java
  flink-dstl/flink-dstl-dfs/src/test/java/org/apache/flink/changelog/fs/StateChangeFsUploaderTest.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/TaskExecutorStateChangelogStoragesManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/changelog/StateChangelogStorageFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/changelog/StateChangelogStorageLoader.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/changelog/inmemory/InMemoryStateChangelogStorageFactory.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/TaskExecutorStateChangelogStoragesManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/changelog/inmemory/StateChangelogStorageLoaderTest.java
  flink-state-backends/flink-statebackend-changelog/src/test/java/org/apache/flink/state/changelog/ChangelogStateBackendTestUtils.java
Labels: component=Runtime/StateBackends

#20214 [FLINK-28454][kafka][docs] Fix the wrong timestamp unit of KafkaSource
  docs/content.zh/docs/connectors/datastream/kafka.md
  docs/content/docs/connectors/datastream/kafka.md
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/source/enumerator/initializer/OffsetsInitializer.java
Labels: component=Documentation, component=Connectors/Kafka

#20237 [BP-1.14][FLINK-28454][kafka][docs] Fix the wrong timestamp unit of KafkaSource
  docs/content/docs/connectors/datastream/kafka.md
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/source/enumerator/initializer/OffsetsInitializer.java
Labels: component=Documentation, component=Connectors/Kafka

#20224 [FLINK-28466][Tests] Bump assertj to 3.23.1
  pom.xml
Labels: component=Tests

#20155 [FLINK-28379][security] Run all UGI mocking tests in separate JVM
  flink-runtime/src/test/java/org/apache/flink/runtime/security/token/KerberosLoginProviderITCase.java
Labels: component=Runtime/Network

#20210 [FLINK-27205][docs-zh] Translate "Concepts -> Glossary" page into Chinese.
  docs/content.zh/docs/concepts/glossary.md
Labels: component=Documentation, component=chinese-translation

#20238 [BP-1.15][FLINK-28454][kafka][docs] Fix the wrong timestamp unit of KafkaSource
  docs/content.zh/docs/connectors/datastream/kafka.md
  docs/content/docs/connectors/datastream/kafka.md
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/source/enumerator/initializer/OffsetsInitializer.java
Labels: component=Documentation, component=Connectors/Kafka

#20160 [FLINK-28286][state] move 'enablechangelog' constant to flink-core module
  flink-core/src/main/java/org/apache/flink/configuration/StateChangelogOptionsInternal.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/BootstrapTransformation.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/StateBootstrapTransformation.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/runtime/SavepointEnvironment.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobgraph/JobGraph.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/StreamingJobGraphGenerator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
Labels: component=Runtime/StateBackends

#19935 [FLINK-27884] Move OutputFormatBase to flink-core to offer flush mechanism to all output formats
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/batch/connectors/cassandra/CassandraColumnarOutputFormatBase.java
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/batch/connectors/cassandra/CassandraOutputFormatBase.java
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/batch/connectors/cassandra/CassandraPojoOutputFormat.java
  flink-connectors/flink-connector-cassandra/src/main/java/org/apache/flink/streaming/connectors/cassandra/CassandraSinkBase.java
  flink-core/src/main/java/org/apache/flink/api/common/io/OutputFormatBase.java
  flink-core/src/main/java/org/apache/flink/api/common/io/SinkUtils.java
  flink-core/src/test/java/org/apache/flink/api/common/io/OutputFormatBaseTest.java
Labels: component=Connectors/Common

#19701 [FLINK-24786][state] Introduce and expose RocksDB statistics as metrics
  docs/content.zh/docs/deployment/config.md
  docs/content/docs/deployment/config.md
  docs/layouts/shortcodes/generated/rocksdb_native_metric_configuration.html
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/EmbeddedRocksDBStateBackend.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBKeyedStateBackendBuilder.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBNativeMetricMonitor.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBNativeMetricOptions.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBResourceContainer.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/restore/RocksDBHandle.java
  flink-state-backends/flink-statebackend-rocksdb/src/test/java/org/apache/flink/contrib/streaming/state/RocksDBNativeMetricMonitorTest.java
  flink-state-backends/flink-statebackend-rocksdb/src/test/java/org/apache/flink/contrib/streaming/state/RocksDBResource.java
  flink-state-backends/flink-statebackend-rocksdb/src/test/java/org/apache/flink/contrib/streaming/state/RocksDBStateBackendConfigTest.java
Labels: component=Runtime/StateBackends, component=Runtime/Metrics

#20255 [FLINK-28486][docs-zh] Flink FileSystem SQL Connector Doc is not right
  docs/content.zh/docs/connectors/table/filesystem.md
Labels: component=Documentation

#20205 [FLINK-28250][Connector/Kafka] Fix exactly-once Kafka Sink out of memory
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/sink/KafkaCommitter.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/sink/KafkaCommitterTest.java
Labels: component=Connectors/Kafka

#20250 [FLINK-28508][table][python] Support SPLIT_INDEX and STR_TO_MAP built-in functions in Table API
  docs/data/sql_functions.yml
  docs/data/sql_functions_zh.yml
  flink-python/pyflink/table/expression.py
  flink-python/pyflink/table/tests/test_expression.py
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/BaseExpressions.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/BuiltInFunctionDefinitions.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/expressions/converter/DirectConvertRule.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/expressions/ScalarFunctionsTest.scala
Labels: component=API/Python, component=TableSQL/API

#20278 [FLINK-28509][table][python] Support REVERSE built-in function in Table API
  docs/data/sql_functions.yml
  docs/data/sql_functions_zh.yml
  flink-python/pyflink/table/expression.py
  flink-python/pyflink/table/tests/test_expression.py
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/BaseExpressions.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/BuiltInFunctionDefinitions.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/expressions/converter/DirectConvertRule.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/expressions/ScalarFunctionsTest.scala
Labels: component=API/Python, component=TableSQL/API

#20184 [FLINK-28198][connectors][cassandra] raise driver timeouts per session request and raise it higher than cluster side timetouts
  flink-connectors/flink-connector-cassandra/src/test/java/org/apache/flink/streaming/connectors/cassandra/CassandraConnectorITCase.java
Labels: component=Connectors/Cassandra

#20266 [FLINK-28250][Connector/Kafka] Fix exactly-once Kafka Sink out of memory (backport for 1.15)
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/sink/KafkaCommitter.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/sink/KafkaCommitterTest.java
Labels: component=Connectors/Kafka

#19315 [FLINK-27013][hive] Hive dialect supports is_distinct_from
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDialectQueryITCase.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/ExprCodeGenerator.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/calls/ScalarOperatorGens.scala
Labels: component=Connectors/Hive

#19989 [FLINK-28089][hive] Hive dialect support "TABLESAMPLE (N rows)"
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParserCalcitePlanner.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParserUtils.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDialectQueryITCase.java
Labels: component=<none>

#20295 [FLINK-28550][network] Remove the unused field in SortMergeSubpartitionReader
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/SortMergeSubpartitionReader.java
Labels: component=Runtime/Network

#20308 [FLINK-28376][network] Restrict the number of threads for sort-shuffle data read
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/NettyShuffleServiceFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/shuffle/ShuffleEnvironmentContext.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskManagerServices.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/NettyShuffleEnvironmentBuilder.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/SharedPoolNettyShuffleServiceFactory.java
Labels: component=Runtime/Network

#20294 [FLINK-28514][network] Remove data flush in SortMergeResultPartition
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/SortMergeResultPartition.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/SortMergeResultPartitionTest.java
Labels: component=Runtime/Network

#20315 [FLINK-28512][network] Select HashBasedDataBuffer and SortBasedDataBuffer dynamically based on the number of network buffers that can be allocated for SortMergeResultPartition
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/DataBuffer.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/HashBasedDataBuffer.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/SortBasedDataBuffer.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/SortMergeResultPartition.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/DataBufferTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/SortMergeResultPartitionTest.java
Labels: component=<none>

#19955 [FLINK-27996][hive] Hive dialect supports interval type
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/util/HiveTypeUtil.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/functions/hive/conversion/HiveInspectors.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/module/hive/HiveModule.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/module/hive/udf/generic/HiveGenericUDFInternalInterval.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParserTypeCheckProcFactory.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/SqlFunctionConverter.java
  flink-connectors/flink-connector-hive/src/test/resources/query-test/interval.q
Labels: component=Connectors/Hive

#20328 [FLINK-28556][refactor] Extract header fields of Buffer into a BufferHeader class for blocking shuffle file IO
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/buffer/BufferHeader.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/BufferReaderWriterUtil.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/BufferReaderWriterUtilTest.java
Labels: component=Runtime/Network

#19065 [FLINK-26047][yarn] Support remote usrlib in HDFS for YARN deployment
  docs/layouts/shortcodes/generated/yarn_config_configuration.html
  flink-yarn/src/main/java/org/apache/flink/yarn/Utils.java
  flink-yarn/src/main/java/org/apache/flink/yarn/YarnApplicationFileUploader.java
  flink-yarn/src/main/java/org/apache/flink/yarn/YarnClusterDescriptor.java
  flink-yarn/src/main/java/org/apache/flink/yarn/configuration/YarnConfigOptions.java
  flink-yarn/src/test/java/org/apache/flink/yarn/UtilsTest.java
Labels: component=Deployment/YARN

#19727 [FLINK-27618][sql] Flink supports CUME_DIST function
  docs/data/sql_functions.yml
  docs/data/sql_functions_zh.yml
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/functions/aggfunctions/CumeDistAggFunction.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/functions/aggfunctions/SizeBasedWindowFunction.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/functions/sql/FlinkSqlOperatorTable.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/batch/BatchExecOverAggregate.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/batch/BatchExecOverAggregateBase.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/agg/AggCodeGen.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/agg/AggsHandlerCodeGenerator.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/agg/DeclarativeAggCodeGen.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/agg/DistinctAggCodeGen.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/agg/ImperativeAggCodeGen.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/utils/AggFunctionFactory.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/OverAggregateITCase.scala
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/generated/AggsHandleFunction.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/over/frame/InsensitiveOverFrame.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/over/frame/OffsetOverFrame.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/over/frame/SlidingOverFrame.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/over/frame/UnboundedFollowingOverFrame.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/over/frame/UnboundedOverWindowFrame.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/over/frame/UnboundedPrecedingOverFrame.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/operators/over/SumAggsHandleFunction.java
Labels: component=<none>

#20134 [FLINK-28353][k8s] Exclude unschedulable nodes using IP addresses of kubernetes nodes
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/services/LoadBalancerService.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/services/NodePortService.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/KubernetesClientTestBase.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/Fabric8FlinkKubeClientTest.java
Labels: component=Deployment/Kubernetes

#20353 [FLINK-28636][tests] Add utility for checking POJO compliance
  docs/content.zh/docs/dev/datastream/fault-tolerance/serialization/types_serialization.md
  docs/content/docs/dev/datastream/fault-tolerance/serialization/types_serialization.md
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/FlinkKinesisConsumerTest.java
  flink-test-utils-parent/flink-test-utils/src/main/java/org/apache/flink/types/PojoTestUtils.java
  flink-test-utils-parent/flink-test-utils/src/test/java/org/apache/flink/types/PojoTestUtilsTest.java
Labels: component=API/DataStream, component=Tests

#20247 [FLINK-28628][hive] Introduce operation execution plugin
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveDialectFactory.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveOperationExecutor.java
  flink-connectors/flink-connector-hive/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDialectITCase.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/TableEnvironmentImpl.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/delegation/ExtendedOperationExecutor.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/delegation/Planner.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/utils/PlannerMock.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/delegation/DefaultDialectFactory.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/delegation/DialectFactory.java
  flink-table/flink-table-planner/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/delegation/PlannerBase.scala
Labels: component=Connectors/Hive

#19772 [FLINK-27579][client] The param client.timeout can not be set by dyna…
  flink-clients/src/main/java/org/apache/flink/client/cli/CliFrontend.java
  flink-clients/src/test/java/org/apache/flink/client/cli/CliFrontendDynamicPropertiesTest.java
Labels: component=Client/JobSubmission

#20332 [FLINK-28624][csv] Accept mapper/schema factories
  docs/content.zh/docs/connectors/datastream/filesystem.md
  docs/content.zh/docs/connectors/datastream/formats/csv.md
  docs/content/docs/connectors/datastream/filesystem.md
  docs/content/docs/connectors/datastream/formats/csv.md
  flink-formats/flink-csv/src/main/java/org/apache/flink/formats/csv/CsvFileFormatFactory.java
  flink-formats/flink-csv/src/main/java/org/apache/flink/formats/csv/CsvReaderFormat.java
  flink-formats/flink-csv/src/test/java/org/apache/flink/formats/csv/CsvReaderFormatTest.java
  flink-formats/flink-csv/src/test/java/org/apache/flink/formats/csv/DataStreamCsvITCase.java
  flink-python/pom.xml
  flink-python/pyflink/datastream/formats/csv.py
  flink-python/src/main/java/org/apache/flink/formats/csv/CsvReaderFormatFactory.java
Labels: component=Formats

#20364 [FLINK-28680] Revisit 'free_disk_space.sh' to free up more space
  tools/azure-pipelines/free_disk_space.sh
Labels: component=BuildSystem/AzurePipelines

#20268 [FLINK-26853][state] Update state serializer in StateMap when metaInfo changed
  flink-runtime/src/main/java/org/apache/flink/runtime/state/heap/CopyOnWriteStateMap.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/heap/CopyOnWriteStateTable.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/heap/CopyOnWriteStateTableTest.java
Labels: component=Runtime/StateBackends

#20177 [FLINK-28416][table] Add (Async)LookupFunction and providers in replace of (Async)TableFunction as the API for lookup table
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/connector/source/AsyncTableFunctionProvider.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/connector/source/LookupTableSource.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/connector/source/TableFunctionProvider.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/connector/source/lookup/AsyncLookupFunctionProvider.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/connector/source/lookup/LookupFunctionProvider.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/AsyncLookupFunction.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/LookupFunction.java
Labels: component=TableSQL/API

#20360 [FLINK-27536][Connectors / Common] Rename method parameter in AsyncSi…
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/sink/writer/AsyncSinkWriter.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/writer/AsyncSinkWriterTest.java
Labels: component=Connectors/Common

#20373 [FLINK-28577][runtime-web] Fix the null error of reading checkpointed_size in Checkpoint Tab
  flink-runtime-web/web-dashboard/src/app/pages/job/checkpoints/job-checkpoints.component.html
Labels: component=Runtime/WebFrontend

#20378 [FLINK-28523][tests] Increase Zookeeper session timeouts
  flink-queryable-state/flink-queryable-state-runtime/src/test/java/org/apache/flink/queryablestate/itcases/HAQueryableStateFsBackendITCase.java
  flink-queryable-state/flink-queryable-state-runtime/src/test/java/org/apache/flink/queryablestate/itcases/HAQueryableStateRocksDBBackendITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderelection/LeaderElectionTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderelection/ZooKeeperLeaderElectionTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderretrieval/ZooKeeperLeaderRetrievalTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/testutils/ZooKeeperTestUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/util/ZooKeeperUtilsTreeCacheTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/zookeeper/ZooKeeperExtension.java
  flink-runtime/src/test/java/org/apache/flink/runtime/zookeeper/ZooKeeperResource.java
  flink-runtime/src/test/java/org/apache/flink/runtime/zookeeper/ZooKeeperTestEnvironment.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/EventTimeWindowCheckpointingITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/ResumeCheckpointManuallyITCase.java
  flink-tests/src/test/java/org/apache/flink/test/runtime/leaderelection/ZooKeeperLeaderElectionITCase.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YARNHighAvailabilityITCase.java
Labels: component=Runtime/Checkpointing

#20376 [FLINK-27384] solve the problem that the latest data cannot be read under the creat…
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HivePartitionFetcherContextBase.java
Labels: component=Connectors/Hive

#20306 [FLINK-28602][state/changelog] Close stream of StateChangeFsUploader normally while enabling compression
  flink-dstl/flink-dstl-dfs/src/main/java/org/apache/flink/changelog/fs/StateChangeFsUploader.java
  flink-dstl/flink-dstl-dfs/src/test/java/org/apache/flink/changelog/fs/StateChangeFsUploaderTest.java
Labels: component=Runtime/StateBackends

#20379 [FLINK-25735][content.zh] Chinese Translation - Add documentation for…
  docs/content.zh/docs/connectors/datastream/kinesis.md
  docs/content.zh/docs/ops/metrics.md
Labels: component=Documentation

#20252 [FLINK-28463][sql-parser] Supports CREATE TABLE AS SELECT syntax
  flink-table/flink-sql-parser-hive/src/main/java/org/apache/flink/sql/parser/hive/ddl/SqlCreateHiveTable.java
  flink-table/flink-sql-parser/src/main/codegen/data/Parser.tdd
  flink-table/flink-sql-parser/src/main/codegen/includes/parserImpls.ftl
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlCreateTable.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlCreateTableAs.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlCreateTableLike.java
  flink-table/flink-sql-parser/src/test/java/org/apache/flink/sql/parser/CreateTableLikeTest.java
  flink-table/flink-sql-parser/src/test/java/org/apache/flink/sql/parser/FlinkSqlParserImplTest.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/SqlCreateTableConverter.java
Labels: component=<none>

#20320 [FLINK-28519][network] Fix the bug that SortMergeResultPartitionReadScheduler may not read data sequentially
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/PartitionedFileReader.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/SortMergeResultPartitionReadScheduler.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/SortMergeResultPartitionReadSchedulerTest.java
Labels: component=Runtime/Network

#19647 [FLINK-27387][hive] Hive dialect supports multi-insert statement
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParser.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDialectQueryITCase.java
  flink-connectors/flink-connector-hive/src/test/resources/explain/testMultiInsert.out
Labels: component=Connectors/Hive

#19818 [FLINK-26410][hive] Hive dialect supports "transform using 'script'"
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParserCalcitePlanner.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParserDMLHelper.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParserScriptTransformHelper.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParserUtils.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/copy/HiveParserBaseSemanticAnalyzer.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/parse/HiveParserDDLSemanticAnalyzer.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/runtime/operators/hive/script/CircularBuffer.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/runtime/operators/hive/script/HiveScriptTransformOperator.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/runtime/operators/hive/script/HiveScriptTransformOutReadThread.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/runtime/operators/hive/script/RedirectStreamThread.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/runtime/operators/hive/script/ScriptProcessBuilder.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDialectQueryITCase.java
  flink-connectors/flink-connector-hive/src/test/resources/explain/testScriptTransform.out
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/calcite/RelTimeIndicatorConverter.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/batch/BatchExecScriptTransform.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/hive/LogicalScriptTransform.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/nodes/logical/FlinkLogicalScriptTransform.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchPhysicalScriptTransformationExec.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/rules/FlinkBatchRuleSets.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/batch/BatchPhysicalScriptTransformRule.scala
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/script/ScriptTransformIOInfo.java
Labels: component=Connectors/Hive
