Repository apache/flink, pull requests merged in 2022-10, with the labels that each got.

#20933 [FLINK-29488][metrics] MetricRegistryImpl implements AutoCloseableAsync
  flink-runtime/src/main/java/org/apache/flink/runtime/entrypoint/ClusterEntrypoint.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/MetricRegistryImpl.java
  flink-runtime/src/main/java/org/apache/flink/runtime/minicluster/MiniCluster.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskManagerRunner.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/MetricRegistryImplTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/AbstractMetricGroupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/InternalOperatorGroupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/JobManagerGroupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/JobManagerJobGroupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/MetricGroupRegistrationTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/MetricGroupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/TaskManagerGroupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/TaskManagerJobGroupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/TaskMetricGroupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskExecutorOperatorEventHandlingTest.java
Labels: component=Runtime/Metrics

#20930 [FLINK-29455] Introduce OperatorIdentifier
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/EvictingWindowSavepointReader.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/OperatorIdentifier.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/SavepointReader.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/SavepointWriter.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/WindowSavepointReader.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/runtime/metadata/SavepointMetadataV2.java
  flink-libraries/flink-state-processing-api/src/test/java/org/apache/flink/state/api/OperatorIdentifierTest.java
Labels: component=API/StateProcessor

#19914 [FLINK-27942][tests] Migrate flink-connectors-rabbitmq to JUnit5
  flink-connectors/flink-connector-rabbitmq/src/test/java/org/apache/flink/streaming/connectors/rabbitmq/RMQSinkTest.java
  flink-connectors/flink-connector-rabbitmq/src/test/java/org/apache/flink/streaming/connectors/rabbitmq/RMQSourceITCase.java
  flink-connectors/flink-connector-rabbitmq/src/test/java/org/apache/flink/streaming/connectors/rabbitmq/RMQSourceTest.java
  flink-connectors/flink-connector-rabbitmq/src/test/java/org/apache/flink/streaming/connectors/rabbitmq/common/RMQConnectionConfigTest.java
  flink-connectors/flink-connector-rabbitmq/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
Labels: component=Connectors/RabbitMQ

#20961 [FLINK-26469][bp-1.16] Adaptive job shows error in WebUI when not enough resou…
  flink-runtime-web/web-dashboard/src/app/pages/job/overview/job-overview.component.html
  flink-runtime-web/web-dashboard/src/app/pages/job/overview/job-overview.component.ts
  flink-runtime-web/web-dashboard/src/app/pages/job/overview/job-overview.module.ts
  flink-runtime-web/web-dashboard/src/app/services/job.service.ts
Labels: component=Runtime/Coordination

#20960 [FLINK-26469][bp-1.15] Adaptive job shows error in WebUI when not enough resou…
  flink-runtime-web/web-dashboard/src/app/pages/job/overview/job-overview.component.html
  flink-runtime-web/web-dashboard/src/app/pages/job/overview/job-overview.component.ts
  flink-runtime-web/web-dashboard/src/app/pages/job/overview/job-overview.module.ts
  flink-runtime-web/web-dashboard/src/app/services/job.service.ts
Labels: component=Runtime/Coordination

#20949 [FLINK-29499][coordination] DispatcherOperationCaches implements AutoCloseableAsync
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/DispatcherOperationCaches.java
  flink-runtime/src/main/java/org/apache/flink/runtime/entrypoint/component/DispatcherResourceManagerComponent.java
Labels: component=Runtime/Coordination, component=Runtime/REST

#20941 [FLINK-22243] Reactive Mode parallelism changes are not shown in the job graph visualization in the UI
  flink-runtime/src/main/java/org/apache/flink/runtime/jobgraph/jsonplan/JsonPlanGenerator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/CreatingExecutionGraph.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/StateTrackingMockExecutionGraph.java
  flink-tests/src/test/java/org/apache/flink/test/scheduling/ReactiveModeITCase.java
Labels: component=Runtime/WebFrontend

#20964 [FLINK-22243[bp-1.16] Reactive Mode parallelism changes are not shown in the Web UI
  flink-runtime/src/main/java/org/apache/flink/runtime/jobgraph/jsonplan/JsonPlanGenerator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/CreatingExecutionGraph.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/StateTrackingMockExecutionGraph.java
  flink-tests/src/test/java/org/apache/flink/test/scheduling/ReactiveModeITCase.java
Labels: component=Runtime/WebFrontend

#20927 [FLINK-29476][connector][kinesis] Retry connection termination with EOFException
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/proxy/KinesisProxy.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/proxy/KinesisProxyTest.java
Labels: component=Connectors/Kinesis

#20972 [FLINK-29513][Connector/Kafka] Update Kafka to version 3.2.3
  flink-connectors/flink-connector-kafka/pom.xml
  flink-connectors/flink-sql-connector-kafka/src/main/resources/META-INF/NOTICE
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/pom.xml
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/src/test/java/org/apache/flink/tests/util/kafka/SQLClientKafkaITCase.java
  flink-end-to-end-tests/flink-sql-client-test/pom.xml
  flink-end-to-end-tests/test-scripts/test_confluent_schema_registry.sh
  flink-end-to-end-tests/test-scripts/test_pyflink.sh
  flink-examples/flink-examples-build-helper/flink-examples-streaming-state-machine/src/main/resources/META-INF/NOTICE
  flink-formats/flink-avro-confluent-registry/pom.xml
Labels: component=Connectors/Kafka

#18440 [FLINK-15130] Drop 'RequiredParameters' and 'Options'
  flink-java/src/main/java/org/apache/flink/api/java/utils/Option.java
  flink-java/src/main/java/org/apache/flink/api/java/utils/OptionType.java
  flink-java/src/main/java/org/apache/flink/api/java/utils/RequiredParameters.java
  flink-java/src/main/java/org/apache/flink/api/java/utils/RequiredParametersException.java
  flink-java/src/test/java/org/apache/flink/api/java/utils/OptionsTest.java
  flink-java/src/test/java/org/apache/flink/api/java/utils/RequiredParametersTest.java
Labels: component=API/DataSet, component=API/DataStream

#20978 [FLINK-29531][Formats][Protobuf] Bump protoc and protobuf-java dependencies to 3.21.7
  flink-end-to-end-tests/flink-glue-schema-registry-avro-test/pom.xml
  flink-end-to-end-tests/flink-glue-schema-registry-json-test/pom.xml
  flink-formats/flink-avro-glue-schema-registry/pom.xml
  flink-formats/flink-json-glue-schema-registry/pom.xml
  flink-formats/flink-sql-protobuf/src/main/resources/META-INF/NOTICE
  flink-python/dev/dev-requirements.txt
  flink-python/src/main/resources/META-INF/NOTICE
  pom.xml
Labels: component=API/Python, component=Formats

#20973 [FLINK-29514][Deployment/YARN] Bump Minikdc to v3.2.4
  flink-end-to-end-tests/flink-end-to-end-tests-hbase/pom.xml
  flink-test-utils-parent/flink-test-utils/pom.xml
  flink-yarn-tests/pom.xml
  pom.xml
Labels: component=Deployment/YARN

#20899 [FLINK-29406][table] Expose finish method for TableFunction
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/TableFunction.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/CodeGeneratorContext.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/OperatorCodeGenerator.scala
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/table/TemporalTableFunctionJoinTest.xml
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/CorrelateITCase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/utils/UserDefinedTableFunctions.scala
Labels: component=TableSQL/API

#20985 [FLINK-29517][doc]Support DATE_FORMAT built-in function in Table API
  docs/data/sql_functions.yml
  docs/data/sql_functions_zh.yml
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/expressions/TemporalTypesTest.scala
Labels: component=Documentation

#20215 [FLINK-27479] [Connectors / Common] introduce availability helper to manage future for hybr…
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/hybrid/HybridSourceReader.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/hybrid/HybridSourceReaderTest.java
Labels: component=Connectors/Common

#20159 [FLINK-28360][SQL Client] Support stop job statement in SQL client
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliClient.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliStrings.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/Executor.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/context/ExecutionContext.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/LocalExecutor.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliClientTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliResultViewTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/TestingExecutor.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/local/LocalExecutorITCase.java
  flink-table/flink-sql-parser/src/main/codegen/data/Parser.tdd
  flink-table/flink-sql-parser/src/main/codegen/includes/parserImpls.ftl
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlStopJob.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/utils/ParserResource.java
  flink-table/flink-sql-parser/src/test/java/org/apache/flink/sql/parser/FlinkSqlParserImplTest.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/command/StopJobOperation.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/SqlToOperationConverter.java
Labels: component=TableSQL/Client

#21001 [FLINK-29532][BP 1.16][Connector/Pulsar] Update Pulsar dependency to 2.10.1.
  flink-connectors/flink-connector-pulsar/pom.xml
  flink-connectors/flink-sql-connector-pulsar/src/main/resources/META-INF/NOTICE
  flink-end-to-end-tests/flink-end-to-end-tests-pulsar/pom.xml
  flink-test-utils-parent/flink-test-utils-junit/src/main/java/org/apache/flink/util/DockerImageVersions.java
Labels: component=Connectors/Pulsar

#20945 [FLINK-29395][Connector/Kinesis] Handle empty deaggregated records…
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/fanout/FanOutRecordPublisher.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/fanout/FanOutRecordPublisherTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/testutils/FakeKinesisFanOutBehavioursFactory.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/testutils/TestUtils.java
Labels: component=Connectors/Kinesis

#21003 [FLINK-29395][Connector/Kinesis] Handle empty deaggregated records in…
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/fanout/FanOutRecordPublisher.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/fanout/FanOutRecordPublisherTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/testutils/FakeKinesisFanOutBehavioursFactory.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/testutils/TestUtils.java
Labels: component=Connectors/Kinesis

#21004 [FLINK-29562][rest][docs] Distinct titles for JM/SQL gateway specs
  flink-docs/src/main/java/org/apache/flink/docs/rest/OpenApiSpecGenerator.java
  flink-docs/src/main/java/org/apache/flink/docs/rest/RuntimeOpenApiSpecGenerator.java
  flink-docs/src/main/java/org/apache/flink/docs/rest/SqlGatewayOpenApiSpecGenerator.java
  flink-docs/src/test/java/org/apache/flink/docs/rest/OpenApiSpecGeneratorTest.java
Labels: component=Documentation, component=Runtime/REST

#21002 [FLINK-29395][Connector/Kinesis] Handle empty deaggregated records in…
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/fanout/FanOutRecordPublisher.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/fanout/FanOutRecordPublisherTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/testutils/FakeKinesisFanOutBehavioursFactory.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/testutils/TestUtils.java
Labels: component=Connectors/Kinesis

#20977 [FLINK-29513][BP 1.16][Connector/Kafka] Update Kafka to version 3.2.3
  flink-connectors/flink-connector-kafka/pom.xml
  flink-connectors/flink-sql-connector-kafka/src/main/resources/META-INF/NOTICE
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/pom.xml
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/src/test/java/org/apache/flink/tests/util/kafka/SQLClientKafkaITCase.java
  flink-end-to-end-tests/test-scripts/test_confluent_schema_registry.sh
  flink-end-to-end-tests/test-scripts/test_pyflink.sh
  flink-examples/flink-examples-build-helper/flink-examples-streaming-state-machine/src/main/resources/META-INF/NOTICE
  flink-formats/flink-avro-confluent-registry/pom.xml
Labels: component=Connectors/Kafka

#21013 [FLINK-29020][docs] Add document for CREATE TABLE AS SELECT
  docs/content.zh/docs/dev/table/sql/create.md
  docs/content/docs/dev/table/sql/create.md
Labels: component=TableSQL/API

#20959 [FLINK-29504][rest] Add schema to jar upload content
  docs/static/generated/rest_v1_dispatcher.yml
  flink-docs/src/main/java/org/apache/flink/docs/rest/OpenApiSpecGenerator.java
Labels: component=Runtime/REST

#20962 [FLINK-29503][rest] Add backpressureLevel field
  docs/layouts/shortcodes/generated/rest_v1_dispatcher.html
  docs/static/generated/rest_v1_dispatcher.yml
  flink-runtime-web/src/test/resources/rest_api_v1.snapshot
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/messages/JobVertexBackPressureInfo.java
Labels: component=Runtime/REST

#21006 [FLINK-29568][rest][docs] Remove whitespace
  docs/layouts/shortcodes/generated/rest_v1_dispatcher.html
  docs/layouts/shortcodes/generated/rest_v1_sql_gateway.html
  flink-docs/src/main/java/org/apache/flink/docs/rest/RestAPIDocGenerator.java
Labels: component=Documentation, component=Runtime/REST

#20976 [FLINK-29457][state-processor] Add UID (hash) remapping fuction
  docs/content.zh/docs/libs/state_processor_api.md
  docs/content/docs/libs/state_processor_api.md
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/OperatorIdentifier.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/SavepointWriter.java
  flink-libraries/flink-state-processing-api/src/test/java/org/apache/flink/state/api/SavepointWriterUidModificationITCase.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/OperatorState.java
Labels: component=API/StateProcessor

#20999 [FLINK-29408][hive] fix HiveCatalogITCase fail with NPE
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDialectQueryITCase.java
Labels: component=Connectors/Hive

#21021 [FLINK-22243] Remove adaptive scheduler Web UI limitation from docs
  docs/content.zh/docs/deployment/elastic_scaling.md
  docs/content/docs/deployment/elastic_scaling.md
Labels: component=Runtime/WebFrontend

#21017 [FLINK-29495][BP 1.15][Connector/Pulsar] Refactor Pulsar tests for disabling tests on Java 11
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/sink/PulsarSinkITCase.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/source/PulsarSourceITCase.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/source/PulsarUnorderedSourceITCase.java
  flink-end-to-end-tests/flink-end-to-end-tests-pulsar/src/test/java/org/apache/flink/tests/util/pulsar/PulsarSinkE2ECase.java
  flink-end-to-end-tests/flink-end-to-end-tests-pulsar/src/test/java/org/apache/flink/tests/util/pulsar/PulsarSourceOrderedE2ECase.java
  flink-end-to-end-tests/flink-end-to-end-tests-pulsar/src/test/java/org/apache/flink/tests/util/pulsar/PulsarSourceUnorderedE2ECase.java
Labels: component=Connectors/Pulsar

#21009 [FLINK-29574] Upgrade software.amazon.glue:schema-registry-common and…
  flink-end-to-end-tests/flink-glue-schema-registry-avro-test/pom.xml
  flink-end-to-end-tests/flink-glue-schema-registry-json-test/pom.xml
  flink-formats/flink-avro-glue-schema-registry/pom.xml
  flink-formats/flink-avro-glue-schema-registry/src/test/java/org/apache/flink/formats/avro/glue/schema/registry/GlueSchemaRegistryAvroSchemaCoderTest.java
  flink-formats/flink-json-glue-schema-registry/pom.xml
Labels: component=Formats

#20931 [FLINK-29486][sql-client] Implement ClientParser for implementing remote SQL client later
  flink-table/flink-sql-client/pom.xml
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliClient.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/parser/ClientParser.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/parser/SqlCommandParser.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/parser/SqlCommandParserImpl.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/parser/SqlMultiLineParser.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/parser/StatementType.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliClientTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/parser/ClientParserTest.java
Labels: component=TableSQL/Client

#20437 [FLINK-27384][hive] Fix the modified partitions are missed in temporal table with create-time mode
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HivePartitionFetcherContextBase.java
Labels: component=Connectors/Hive

#20434 [FLINK-27384][hive] Fix the modified partitions are missed in tempora…
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HivePartitionFetcherContextBase.java
Labels: component=Connectors/Hive

#20966 [FLINK-29508][legal] Improve detection of non-deployed modules that need a NOTICE
  tools/ci/flink-ci-tools/src/main/java/org/apache/flink/tools/ci/licensecheck/NoticeFileChecker.java
  tools/ci/flink-ci-tools/src/test/java/org/apache/flink/tools/ci/licensecheck/NoticeFileCheckerTest.java
Labels: component=BuildSystem

#20410 [FLINK-28768][tests][testinfrastructure] Update junit to 5.9.1
  flink-clients/src/test/java/org/apache/flink/client/cli/CliFrontendSavepointTest.java
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/src/test/java/org/apache/flink/tests/util/kafka/SmokeKafkaITCase.java
  flink-end-to-end-tests/flink-end-to-end-tests-common/src/test/java/org/apache/flink/dist/DynamicParameterITCase.java
  flink-runtime-web/src/test/java/org/apache/flink/runtime/webmonitor/handlers/JarDeleteHandlerTest.java
  flink-runtime-web/src/test/java/org/apache/flink/runtime/webmonitor/handlers/JarHandlerParameterTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/RestExternalHandlersITCase.java
  pom.xml
Labels: component=Tests, component=TestInfrastructure

#20855 [FLINK-29337][hive] Fix fail to query non-hive table in Hive dialect
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParser.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParserCalcitePlanner.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParserDMLHelper.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParserQBMetaData.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParserUtils.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/copy/HiveParserBaseSemanticAnalyzer.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/copy/HiveParserQB.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/copy/HiveParserQBParseInfo.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/copy/HiveParserSemanticAnalyzer.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/copy/HiveParserUnparseTranslator.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/parse/FromClauseASTParser.g
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/parse/HiveParserDDLSemanticAnalyzer.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/parse/HiveParserLoadSemanticAnalyzer.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDialectQueryITCase.java
Labels: component=Connectors/Hive

#19250 [FLINK-26726][connector][hive]Hive enumerators do not assign splits to unregistered (failed) readers.
  flink-connectors/flink-connector-hive/pom.xml
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/ContinuousHiveSplitEnumerator.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/ContinuousHiveSplitEnumeratorTest.java
Labels: component=TableSQL/Ecosystem

#20989 [FLINK-29548][flink-test-utils] Remove deprecated class files of the 'flink-test-utils' module.
  flink-test-utils-parent/flink-test-utils/src/main/java/org/apache/flink/test/util/MiniClusterResource.java
  flink-test-utils-parent/flink-test-utils/src/main/java/org/apache/flink/test/util/MiniClusterResourceConfiguration.java
Labels: component=Tests

#20979 [FLINK-29509] Set proper subtaskId and numberOfSubtasks on CheckpointCommittableManagerImpl during recovery/deserialization.
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/sink/committables/CheckpointCommittableManagerImpl.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/sink/committables/CommittableCollectorSerializer.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/connector/sink2/CommittableSummaryAssert.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/sink/CommitterOperatorTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/sink/committables/CheckpointCommittableManagerImplTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/sink/committables/CommittableCollectorSerializerTest.java
Labels: component=Connectors/Common

#21029 [FLINK-29509] Set proper subtaskId and numberOfSubtasks on CheckpointCommittableManagerImpl during recovery/deserialization.
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/sink/committables/CheckpointCommittableManagerImpl.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/sink/committables/CommittableCollectorSerializer.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/connector/sink2/CommittableSummaryAssert.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/sink/CommitterOperatorTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/sink/committables/CheckpointCommittableManagerImplTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/sink/committables/CommittableCollectorSerializerTest.java
Labels: component=Connectors/Common

#21030 [FLINK-29509] Set proper subtaskId and numberOfSubtasks on CheckpointCommittableManagerImpl during recovery/deserialization.
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/sink/committables/CheckpointCommittableManagerImpl.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/sink/committables/CommittableCollectorSerializer.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/connector/sink2/CommittableSummaryAssert.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/sink/CommitterOperatorTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/sink/committables/CheckpointCommittableManagerImplTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/sink/committables/CommittableCollectorSerializerTest.java
Labels: component=Connectors/Common

#20955 [FLINK-29502][Filesystem][S3] Update the Hadoop implementation for filesystems to 3.3.4
  flink-filesystems/flink-azure-fs-hadoop/pom.xml
  flink-filesystems/flink-azure-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-fs-hadoop-shaded/pom.xml
  flink-filesystems/flink-fs-hadoop-shaded/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-gs-fs-hadoop/pom.xml
  flink-filesystems/flink-oss-fs-hadoop/pom.xml
  flink-filesystems/flink-oss-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-s3-fs-base/pom.xml
  flink-filesystems/flink-s3-fs-hadoop/pom.xml
  flink-filesystems/flink-s3-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-s3-fs-presto/pom.xml
  flink-filesystems/flink-s3-fs-presto/src/main/resources/META-INF/NOTICE
  flink-filesystems/pom.xml
Labels: component=FileSystems

#20913 [FLINK-29350][hive] Add a section for moving planner jar in Hive dependencies page
  docs/content.zh/docs/connectors/table/hive/overview.md
  docs/content.zh/docs/dev/table/hive-compatibility/hive-dialect/alter.md
  docs/content.zh/docs/dev/table/hive-compatibility/hive-dialect/create.md
  docs/content.zh/docs/dev/table/hive-compatibility/hive-dialect/drop.md
  docs/content.zh/docs/dev/table/hive-compatibility/hive-dialect/insert.md
  docs/content.zh/docs/dev/table/hive-compatibility/hive-dialect/overview.md
  docs/content.zh/docs/dev/table/hive-compatibility/hive-dialect/queries/join.md
  docs/content.zh/docs/dev/table/hive-compatibility/hive-dialect/queries/lateral-view.md
  docs/content.zh/docs/dev/table/hive-compatibility/hive-dialect/queries/sub-queries.md
  docs/content.zh/docs/dev/table/hive-compatibility/hive-dialect/queries/transform.md
  docs/content/docs/connectors/table/hive/overview.md
  docs/content/docs/dev/table/hive-compatibility/hive-dialect/alter.md
  docs/content/docs/dev/table/hive-compatibility/hive-dialect/create.md
  docs/content/docs/dev/table/hive-compatibility/hive-dialect/drop.md
  docs/content/docs/dev/table/hive-compatibility/hive-dialect/insert.md
  docs/content/docs/dev/table/hive-compatibility/hive-dialect/overview.md
  docs/content/docs/dev/table/hive-compatibility/hive-dialect/queries/join.md
  docs/content/docs/dev/table/hive-compatibility/hive-dialect/queries/lateral-view.md
  docs/content/docs/dev/table/hive-compatibility/hive-dialect/queries/sub-queries.md
  docs/content/docs/dev/table/hive-compatibility/hive-dialect/queries/transform.md
Labels: component=Documentation, component=Connectors/Hive

#21036 [FLINK-26726][bp-1.16][connector][hive]Hive enumerators do not assign splits to unregistered (failed) readers
  flink-connectors/flink-connector-hive/pom.xml
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/ContinuousHiveSplitEnumerator.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/ContinuousHiveSplitEnumeratorTest.java
Labels: component=TableSQL/Ecosystem

#21038 [FLINK-26726][bp-1.15][connector][hive]Hive enumerators do not assign splits to unregistered (failed) readers
  flink-connectors/flink-connector-hive/pom.xml
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/ContinuousHiveSplitEnumerator.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/ContinuousHiveSplitEnumeratorTest.java
Labels: component=TableSQL/Ecosystem

#21044 [FLINK-26726][bp-1.14][connector][hive]Hive enumerators do not assign splits to unregistered (failed) readers
  flink-connectors/flink-connector-hive/pom.xml
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/ContinuousHiveSplitEnumerator.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/ContinuousHiveSplitEnumeratorTest.java
Labels: component=TableSQL/Ecosystem

#21034 [FLINK-29337][hive] Fix fail to query non-hive table in Hive dialect
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParser.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParserCalcitePlanner.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParserDMLHelper.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParserQBMetaData.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParserUtils.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/copy/HiveParserBaseSemanticAnalyzer.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/copy/HiveParserQB.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/copy/HiveParserQBParseInfo.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/copy/HiveParserSemanticAnalyzer.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/copy/HiveParserUnparseTranslator.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/parse/FromClauseASTParser.g
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/parse/HiveParserDDLSemanticAnalyzer.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/parse/HiveParserLoadSemanticAnalyzer.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDialectQueryITCase.java
Labels: component=Connectors/Hive

#21055 [BP-1.16][FLINK-29576][runtime] Collects serialized OperatorCoordinators before adding them to JobVertex
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/StreamingJobGraphGenerator.java
Labels: component=Runtime/Coordination, component=API/DataStream

#21022 [FLINK-29512][streaming] Align the checkpointId of recovered CommittableWithLinages with the CommittableSummary
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/sink/committables/CommittableCollectorSerializer.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/sink/CommitterOperatorTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/sink/committables/CommittableCollectorSerializerTest.java
Labels: component=Connectors/Common

#21058 [FLINK-29350][hive] Add a section for moving planner jar in Hive depe…
  docs/content.zh/docs/connectors/table/hive/overview.md
  docs/content.zh/docs/dev/table/hive-compatibility/hive-dialect/alter.md
  docs/content.zh/docs/dev/table/hive-compatibility/hive-dialect/create.md
  docs/content.zh/docs/dev/table/hive-compatibility/hive-dialect/drop.md
  docs/content.zh/docs/dev/table/hive-compatibility/hive-dialect/insert.md
  docs/content.zh/docs/dev/table/hive-compatibility/hive-dialect/overview.md
  docs/content.zh/docs/dev/table/hive-compatibility/hive-dialect/queries/join.md
  docs/content.zh/docs/dev/table/hive-compatibility/hive-dialect/queries/lateral-view.md
  docs/content.zh/docs/dev/table/hive-compatibility/hive-dialect/queries/sub-queries.md
  docs/content.zh/docs/dev/table/hive-compatibility/hive-dialect/queries/transform.md
  docs/content/docs/connectors/table/hive/overview.md
  docs/content/docs/dev/table/hive-compatibility/hive-dialect/alter.md
  docs/content/docs/dev/table/hive-compatibility/hive-dialect/create.md
  docs/content/docs/dev/table/hive-compatibility/hive-dialect/drop.md
  docs/content/docs/dev/table/hive-compatibility/hive-dialect/insert.md
  docs/content/docs/dev/table/hive-compatibility/hive-dialect/overview.md
  docs/content/docs/dev/table/hive-compatibility/hive-dialect/queries/join.md
  docs/content/docs/dev/table/hive-compatibility/hive-dialect/queries/lateral-view.md
  docs/content/docs/dev/table/hive-compatibility/hive-dialect/queries/sub-queries.md
  docs/content/docs/dev/table/hive-compatibility/hive-dialect/queries/transform.md
Labels: component=Documentation, component=Connectors/Hive

#21061 [FLINK-29590][hive] Fix literal issue in Hive dialect
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/table/PartitionLoader.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParserTypeCheckProcFactory.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDialectQueryITCase.java
Labels: component=Connectors/Hive

#21039 [FLINK-25343][hbase-tests] Remove count check from "testTableSourceSinkWithDDL"
  flink-connectors/flink-connector-hbase-2.2/src/test/java/org/apache/flink/connector/hbase2/HBaseConnectorITCase.java
Labels: component=Connectors/HBase

#21082 [FLINK-29645] BatchExecutionKeyedStateBackend is using incorrect ExecutionConfig when creating serializer
  flink-state-backends/flink-statebackend-rocksdb/src/test/java/org/apache/flink/contrib/streaming/state/benchmark/StateBackendBenchmarkUtils.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/sorted/state/BatchExecutionKeyedStateBackend.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/sorted/state/BatchExecutionStateBackend.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/sorted/state/BatchExecutionInternalTimeServiceTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/sorted/state/BatchExecutionStateBackendTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/sorted/state/BatchExecutionStateBackendVerificationTest.java
Labels: component=Runtime/StateBackends

#21083 [FLINK-29641] SortMergeResultPartitionReadSchedulerTest#testCreateSubpartitionReader is not stable.
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/SortMergeResultPartitionReadSchedulerTest.java
Labels: component=Runtime/Coordination

#21070 [FLINK-29580][Connector/Pulsar] Remove pulsar.consumer.autoUpdatePartitionsIntervalSeconds option.
  docs/layouts/shortcodes/generated/pulsar_consumer_configuration.html
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/PulsarSourceOptions.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/config/PulsarSourceConfigUtils.java
Labels: component=Connectors/Pulsar

#21071 [FLINK-29433][Connector/Pulsar] Support Auth through the builder pattern in Pulsar connector.
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/sink/PulsarSinkBuilder.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/PulsarSourceBuilder.java
Labels: component=Connectors/Pulsar

#21072 [FLINK-28960][Connector/Pulsar] Add jaxb-api back to pulsar-client-all dependencies.
  flink-connectors/flink-connector-pulsar/pom.xml
Labels: component=Connectors/Pulsar

#21066 [FLINK-25554][test] Remove timeout to enable a thread dump in case the test times out again.
  flink-fs-tests/src/test/java/org/apache/flink/hdfstests/DistributedCacheDfsTest.java
Labels: component=Client/JobSubmission

#21067 [BP-1.16][FLINK-25554][test] Remove timeout to enable a thread dump in case the test times out again.
  flink-fs-tests/src/test/java/org/apache/flink/hdfstests/DistributedCacheDfsTest.java
Labels: component=Client/JobSubmission

#21068 [BP-1.15][FLINK-25554][test] Remove timeout to enable a thread dump in case the test times out again.
  flink-fs-tests/src/test/java/org/apache/flink/hdfstests/DistributedCacheDfsTest.java
Labels: component=Client/JobSubmission

#21069 [FLINK-29613][Connector/Pulsar] Fix wrong batch size assertion.
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/cursor/MessageIdUtils.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/cursor/start/MessageIdStartCursor.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/cursor/stop/MessageIdStopCursor.java
Labels: component=Connectors/Pulsar

#21093 [BP-1.16][FLINK-28960][Connector/Pulsar] Add jaxb-api back to pulsar-client-all dependencies
  flink-connectors/flink-connector-pulsar/pom.xml
Labels: component=Connectors/Pulsar

#21092 [BP-1.15][FLINK-28960][Connector/Pulsar] Add jaxb-api back to pulsar-client-all dependencies
  flink-connectors/flink-connector-pulsar/pom.xml
Labels: component=Connectors/Pulsar

#21091 [BP-1.14][FLINK-28960][Connector/Pulsar] Add jaxb-api back to pulsar-client-all dependencies
  flink-connectors/flink-connector-pulsar/pom.xml
Labels: component=Connectors/Pulsar

#21074 [FLINK-28820][Connector/Pulsar] Improve the writing performance for PulsarSink
  docs/layouts/shortcodes/generated/pulsar_sink_configuration.html
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/sink/PulsarSinkOptions.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/sink/config/PulsarSinkConfigUtils.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/sink/config/SinkConfiguration.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/sink/writer/PulsarWriter.java
Labels: component=Connectors/Pulsar

#20170 [FLINK-28405][Connector/Kafka] Update Confluent Platform images used for testing to v7.2.2
  flink-connectors/flink-connector-kafka/pom.xml
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/pom.xml
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/src/test/java/org/apache/flink/tests/util/kafka/SQLClientSchemaRegistryITCase.java
  flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/src/test/java/org/apache/flink/tests/util/kafka/containers/SchemaRegistryContainer.java
  flink-end-to-end-tests/test-scripts/kafka-common.sh
  flink-end-to-end-tests/test-scripts/test_confluent_schema_registry.sh
  flink-end-to-end-tests/test-scripts/test_pyflink.sh
  flink-formats/flink-avro-confluent-registry/pom.xml
  flink-formats/flink-sql-avro-confluent-registry/src/main/resources/META-INF/NOTICE
  flink-test-utils-parent/flink-test-utils-junit/src/main/java/org/apache/flink/util/DockerImageVersions.java
  tools/azure-pipelines/cache_docker_images.sh
Labels: component=Tests, component=Connectors/Kafka

#21100 [BP-1.15][FLINK-29613][Connector/Pulsar] Fix wrong batch size assertion
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/cursor/MessageIdUtils.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/cursor/start/MessageIdStartCursor.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/cursor/stop/MessageIdStopCursor.java
Labels: component=Connectors/Pulsar

#21099 [BP-1.16][FLINK-29613][Connector/Pulsar] Fix wrong batch size assertion
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/cursor/MessageIdUtils.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/cursor/start/MessageIdStartCursor.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/cursor/stop/MessageIdStopCursor.java
Labels: component=Connectors/Pulsar

#20975 [FLINK-29526][state/changelog] fix java doc mistake in SequenceNumber…
  flink-runtime/src/main/java/org/apache/flink/runtime/state/changelog/SequenceNumberRange.java
Labels: component=Runtime/StateBackends

#21098 [FLINK-29622][runtime][security] Start kerberos delegation token provider only if the user provided valid credentials
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/KerberosDelegationTokenManagerFactory.java
Labels: component=Runtime/Coordination, component=Tests

#21089 [FLINK-29644] [docs] Adding flink k8s operator documentation link
  docs/content/docs/deployment/resource-providers/native_kubernetes.md
  docs/content/docs/deployment/resource-providers/standalone/kubernetes.md
Labels: component=Documentation, component=Deployment/Kubernetes

#21114 [FLINK-29622][runtime][security] Start kerberos delegation token prov…
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/KerberosDelegationTokenManagerFactory.java
Labels: component=Runtime/Coordination, component=Tests

#21064 [FLINK-29638][connectors][filesystems][formats] Update Jackson-BOM to 2.13.4.2 because of CVE-2022-42003
  flink-connectors/flink-connector-kinesis/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-fs-hadoop-shaded/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-s3-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-s3-fs-presto/src/main/resources/META-INF/NOTICE
  flink-formats/flink-sql-avro-confluent-registry/src/main/resources/META-INF/NOTICE
  flink-formats/flink-sql-avro/src/main/resources/META-INF/NOTICE
  flink-kubernetes/src/main/resources/META-INF/NOTICE
  flink-python/src/main/resources/META-INF/NOTICE
  pom.xml
Labels: component=<none>

#21112 [BP-1.16][FLINK-29567][connector/common] Change numRecordsSend / numBytesSend / numRecordsSendError back to numRecordsOut / numBytesOut / numRecordsOutError in sink
  flink-connectors/flink-connector-aws-kinesis-firehose/src/main/java/org/apache/flink/connector/firehose/sink/KinesisFirehoseSinkWriter.java
  flink-connectors/flink-connector-aws-kinesis-streams/src/main/java/org/apache/flink/connector/kinesis/sink/KinesisStreamsSinkWriter.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/sink/writer/AsyncSinkWriter.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/writer/TestSinkInitContext.java
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/sink/writer/FileWriter.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/sink/writer/FileWriterTest.java
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/sink/KafkaWriter.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/sink/KafkaWriterITCase.java
  flink-metrics/flink-metrics-core/src/main/java/org/apache/flink/metrics/groups/SinkWriterMetricGroup.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/MetricNames.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/groups/InternalOperatorIOMetricGroup.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/groups/InternalSinkWriterMetricGroup.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/AbstractStreamOperator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/sink/SinkWriterOperator.java
  flink-tests/src/test/java/org/apache/flink/test/streaming/runtime/SinkMetricsITCase.java
Labels: component=Connectors/Common

#20782 [FLINK-29195] Expose lastCompletedCheckpointId metric
  docs/content.zh/docs/ops/metrics.md
  docs/content/docs/ops/metrics.md
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointStatsTracker.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointStatsTrackerTest.java
Labels: component=Runtime/Metrics, component=Runtime/Checkpointing

#21085 [FLINK-29659][state-processor] Deduplicate code
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/SavepointWriter.java
Labels: component=API/StateProcessor

#21117 [FLINK-29693][tests] MiniClusterExtension honors 'parallelism.default'
  flink-test-utils-parent/flink-test-utils/src/main/java/org/apache/flink/test/junit5/MiniClusterExtension.java
  flink-test-utils-parent/flink-test-utils/src/test/java/org/apache/flink/test/junit5/MiniClusterExtensionDefaultParallelismITCase.java
Labels: component=Tests

#20937 [FLINK-29478][flink-connector/hive] Flink connector hive upgrade to 3.1.3
  docs/content.zh/docs/connectors/table/hive/overview.md
  docs/content.zh/docs/connectors/table/overview.md
  docs/content.zh/docs/dev/table/sql/load.md
  docs/content/docs/connectors/table/hive/overview.md
  docs/content/docs/connectors/table/overview.md
  docs/content/docs/dev/table/sql/load.md
  flink-connectors/flink-connector-hive/pom.xml
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTemporalJoinITCase.java
  flink-connectors/flink-sql-connector-hive-3.1.3/pom.xml
  flink-connectors/flink-sql-connector-hive-3.1.3/src/main/java/org/apache/hadoop/hive/conf/HiveConf.java
  flink-connectors/flink-sql-connector-hive-3.1.3/src/main/java/org/apache/hadoop/hive/metastore/HiveMetaStoreClient.java
  flink-connectors/flink-sql-connector-hive-3.1.3/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-hive-3.1.3/src/main/resources/META-INF/licenses/LICENSE.antlr
  flink-connectors/flink-sql-connector-hive-3.1.3/src/main/resources/META-INF/licenses/LICENSE.javolution
  flink-connectors/flink-sql-connector-hive-3.1.3/src/main/resources/META-INF/licenses/LICENSE.jodd
  flink-connectors/flink-sql-connector-hive-3.1.3/src/main/resources/META-INF/licenses/LICENSE.kryo
  flink-connectors/flink-sql-connector-hive-3.1.3/src/main/resources/META-INF/licenses/LICENSE.minlog
  flink-connectors/flink-sql-connector-hive-3.1.3/src/main/resources/META-INF/licenses/LICENSE.protobuf
  flink-connectors/flink-sql-connector-hive-3.1.3/src/main/resources/META-INF/licenses/LICENSE.reflectasm
  flink-connectors/pom.xml
  flink-table/flink-sql-parser-hive/src/test/java/org/apache/flink/sql/parser/hive/FlinkHiveSqlParserImplTest.java
  tools/ci/flink-ci-tools/src/main/resources/modules-defining-excess-dependencies.modulelist
Labels: component=Connectors/Hive

#21088 [FLINK-29582][state-processor] Relax 1+ operator requirement
  docs/content.zh/docs/libs/state_processor_api.md
  docs/content/docs/libs/state_processor_api.md
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/SavepointWriter.java
  flink-libraries/flink-state-processing-api/src/test/java/org/apache/flink/state/api/SavepointDeepCopyTest.java
  flink-libraries/flink-state-processing-api/src/test/java/org/apache/flink/state/api/SavepointWriterITCase.java
  flink-libraries/flink-state-processing-api/src/test/java/org/apache/flink/state/api/SavepointWriterTest.java
  flink-libraries/flink-state-processing-api/src/test/java/org/apache/flink/state/api/SavepointWriterUidModificationITCase.java
  flink-libraries/flink-state-processing-api/src/test/java/org/apache/flink/state/api/SavepointWriterWindowITCase.java
Labels: component=API/StateProcessor

#21121 [FLINK-29684] chore: bump runtime web Angular to v14
  flink-runtime-web/web-dashboard/angular.json
  flink-runtime-web/web-dashboard/package-lock.json
  flink-runtime-web/web-dashboard/package.json
  flink-runtime-web/web-dashboard/src/app/app.module.ts
  flink-runtime-web/web-dashboard/src/app/pages/job/overview/job-overview.component.ts
  flink-runtime-web/web-dashboard/src/app/pages/submit/submit.component.ts
  flink-runtime-web/web-dashboard/src/app/services/status.service.ts
  flink-runtime-web/web-dashboard/src/app/share/common/navigation/navigation.component.ts
  flink-runtime-web/web-dashboard/src/app/share/common/resize/resize.component.ts
  flink-runtime-web/web-dashboard/src/app/share/customize/job-chart/job-chart.component.ts
  flink-runtime-web/web-dashboard/src/app/share/customize/job-chart/job-chart.service.ts
  flink-runtime-web/web-dashboard/src/app/share/customize/job-list/job-list.component.ts
  flink-runtime-web/web-dashboard/tsconfig.json
Labels: component=Runtime/WebFrontend

#21126 [FLINK-29706][build] Remove japicmp dependency bumps
  pom.xml
Labels: component=BuildSystem

#21134 [FLINK-29677] Prevent dropping the current catalog
  flink-table/flink-sql-client/src/test/resources/sql/catalog_database.q
  flink-table/flink-sql-gateway/src/test/resources/sql/catalog_database.q
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/catalog/CatalogManager.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/catalog/CatalogITCase.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/TableEnvironmentTest.scala
Labels: component=TableSQL/API

#20830 [FLINK-29271]Change to byte array from bytebuffer to improve performance and compatible direct byte buffers
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/vector/reader/RunLengthDecoder.java
Labels: component=<none>

#20965 [FLINK-29244][state/changelog] Add metric lastMaterializationDuration…
  docs/content.zh/docs/ops/metrics.md
  docs/content/docs/ops/metrics.md
  flink-state-backends/flink-statebackend-changelog/src/test/java/org/apache/flink/state/changelog/ChangelogMetricGroupTest.java
  flink-state-backends/flink-statebackend-common/src/main/java/org/apache/flink/state/common/ChangelogMaterializationMetricGroup.java
  flink-state-backends/flink-statebackend-common/src/main/java/org/apache/flink/state/common/PeriodicMaterializationManager.java
Labels: component=Runtime/StateBackends

#21053 [FLINK-29157][doc] Clarify the contract between CompletedCheckpointStore and SharedStateRegistry
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CompletedCheckpointStore.java
Labels: component=Runtime/Checkpointing

#21164 [FLINK-29749][client] Make 'flink info' command could support dynamic…
  flink-clients/src/main/java/org/apache/flink/client/cli/CliFrontend.java
  flink-clients/src/test/java/org/apache/flink/client/cli/CliFrontendInfoTest.java
Labels: component=<none>

#20838 [FLINK-29306][shell] Fix the error detection of multiple flink-dist-*.jar for config.sh
  flink-dist/src/main/flink-bin/bin/config.sh
Labels: component=Client/JobSubmission

#21168 [FLINK-27579][client] Make the client.timeout and parallelism.default…
  flink-clients/src/main/java/org/apache/flink/client/cli/CliFrontend.java
  flink-clients/src/test/java/org/apache/flink/client/cli/CliFrontendDynamicPropertiesTest.java
Labels: component=Client/JobSubmission

#20021 [FLINK-27971][tests][JUnit5 migration] flink-orc
  flink-formats/flink-orc-nohive/src/test/java/org/apache/flink/architecture/TestCodeArchitectureTest.java
  flink-formats/flink-orc-nohive/src/test/java/org/apache/flink/orc/nohive/OrcColumnarRowSplitReaderNoHiveTest.java
  flink-formats/flink-orc-nohive/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
  flink-formats/flink-orc/src/test/java/org/apache/flink/architecture/TestCodeArchitectureTest.java
  flink-formats/flink-orc/src/test/java/org/apache/flink/orc/OrcColumnarRowInputFormatTest.java
  flink-formats/flink-orc/src/test/java/org/apache/flink/orc/OrcColumnarRowSplitReaderTest.java
  flink-formats/flink-orc/src/test/java/org/apache/flink/orc/OrcFileSystemFilterTest.java
  flink-formats/flink-orc/src/test/java/org/apache/flink/orc/OrcSplitReaderUtilTest.java
  flink-formats/flink-orc/src/test/java/org/apache/flink/orc/util/OrcBulkWriterTestUtil.java
  flink-formats/flink-orc/src/test/java/org/apache/flink/orc/writer/OrcBulkRowDataWriterTest.java
  flink-formats/flink-orc/src/test/java/org/apache/flink/orc/writer/OrcBulkWriterFactoryTest.java
  flink-formats/flink-orc/src/test/java/org/apache/flink/orc/writer/OrcBulkWriterITCase.java
  flink-formats/flink-orc/src/test/java/org/apache/flink/orc/writer/OrcBulkWriterTest.java
  flink-formats/flink-orc/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
Labels: component=<none>

#21166 [FLINK-29749][client] Make 'flink info' command could support dynamic…
  flink-clients/src/main/java/org/apache/flink/client/cli/CliFrontend.java
  flink-clients/src/test/java/org/apache/flink/client/cli/CliFrontendInfoTest.java
Labels: component=<none>

#20982 [FLINK-29539] [Deployment/Kubernetes] dnsPolicy in FlinkPod is not overridable
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/decorators/InitJobManagerDecorator.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/decorators/InitTaskManagerDecorator.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/utils/Constants.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/utils/KubernetesUtils.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/DecoratorWithPodTemplateTestBase.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/InitJobManagerDecoratorTest.java
  flink-kubernetes/src/test/resources/testing-pod-template.yaml
Labels: component=Deployment/Kubernetes

#21179 [BP-1.16][FLINK-29539][Deployment/Kubernetes] dnsPolicy in FlinkPod is not overridable
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/decorators/InitJobManagerDecorator.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/decorators/InitTaskManagerDecorator.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/utils/Constants.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/utils/KubernetesUtils.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/DecoratorWithPodTemplateTestBase.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/InitJobManagerDecoratorTest.java
  flink-kubernetes/src/test/resources/testing-pod-template.yaml
Labels: component=Deployment/Kubernetes

#18927 [FLINK-26390] Use try resourses for CliClient#executeFile
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliClient.java
Labels: component=TableSQL/Client

#21184 [FLINK-29787][ci] fix ci METHOD_NEW_DEFAULT issue
  pom.xml
  tools/releasing/update_japicmp_configuration.sh
Labels: component=BuildSystem/CI

#21178 [BP-1.15][FLINK-29539][Deployment/Kubernetes] dnsPolicy in FlinkPod is not overridable
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/decorators/InitJobManagerDecorator.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/decorators/InitTaskManagerDecorator.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/utils/Constants.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/utils/KubernetesUtils.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/DecoratorWithPodTemplateTestBase.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/InitJobManagerDecoratorTest.java
  flink-kubernetes/src/test/resources/testing-pod-template.yaml
Labels: component=Deployment/Kubernetes

#20983 [FLINK-29458][docs] When two tables have the same field, do not speci…
  docs/content.zh/docs/dev/table/sql/queries/joins.md
  docs/content/docs/dev/table/sql/queries/joins.md
Labels: component=Documentation, component=TableSQL/API

#21190 [FLINK-24119] [Connectors/Kafka] set offsets.topic.replication.factor to 1
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/testutils/KafkaUtil.java
Labels: component=Connectors/Kafka

#21129 [FLINK-29496] [Connector/Kinesis] Add configuration option for setting STS endpoint for AWS connectors
  docs/content.zh/docs/connectors/table/kinesis.md
  docs/content/docs/connectors/table/kinesis.md
  flink-connectors/flink-connector-aws-base/src/main/java/org/apache/flink/connector/aws/config/AWSConfigConstants.java
  flink-connectors/flink-connector-aws-base/src/main/java/org/apache/flink/connector/aws/util/AWSGeneralUtil.java
  flink-connectors/flink-connector-aws-base/src/test/java/org/apache/flink/connector/aws/util/AWSGeneralUtilTest.java
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/util/AWSUtil.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/testutils/TestUtils.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/util/AWSUtilTest.java
Labels: component=Connectors/Kinesis

#21186 [FLINK-29480][Connectors/Kafka] Skip null records when writing
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/sink/KafkaRecordSerializationSchema.java
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/sink/KafkaWriter.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/sink/KafkaWriterITCase.java
Labels: component=Connectors/Kafka
