Repository apache/flink, pull requests merged in 2022-04, with the labels that each got.

#19292 [FLINK-11388][docs][oss]Update docs for OSS Recoverable writer
  docs/content/docs/connectors/datastream/filesystem.md
Labels: component=Connectors/FileSystem, component=FileSystems

#19195 [FLINK-26798][runtime] Hardens test against unexpected heartbeat
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/JobMasterTest.java
Labels: component=Runtime/Coordination

#19293 [FLINK-26798][BP-1.15][runtime] Hardens JobManagerTest against unexpected heartbeat
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/JobMasterTest.java
Labels: component=Runtime/Coordination

#19294 [FLINK-26798][1.14][runtime] Hardens test against unexpected heartbeat
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/JobMasterTest.java
Labels: component=Runtime/Coordination

#19296 [BP-1.15][FLINK-26928][connector/kafka] Remove unnecessary docker network creation in tests and close network on shutdown()
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/KafkaTestEnvironmentImpl.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/KafkaTableTestBase.java
Labels: component=Connectors/Kafka

#19177 [FLINK-23399][state] Add a benchmark for rescaling
  flink-state-backends/flink-statebackend-rocksdb/pom.xml
  flink-state-backends/flink-statebackend-rocksdb/src/test/java/org/apache/flink/contrib/streaming/state/benchmark/RescalingBenchmark.java
  flink-state-backends/flink-statebackend-rocksdb/src/test/java/org/apache/flink/contrib/streaming/state/benchmark/RescalingBenchmarkBuilder.java
  flink-state-backends/flink-statebackend-rocksdb/src/test/java/org/apache/flink/contrib/streaming/state/benchmark/RescalingBenchmarkTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/util/AbstractStreamOperatorTestHarness.java
Labels: component=Runtime/StateBackends

#19285 [FLINK-26931][Connector/pulsar] Make the producer name and consumer name unique in Pulsar
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/common/config/PulsarClientFactory.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/common/config/PulsarConfiguration.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/sink/PulsarSinkBuilder.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/sink/config/PulsarSinkConfigUtils.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/sink/writer/PulsarWriter.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/PulsarSourceBuilder.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/config/PulsarSourceConfigUtils.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/sink/PulsarSinkITCase.java
Labels: component=Connectors/Pulsar

#19303 [FLINK-26961][connectors][filesystems][formats] Update multiple Jacks…
  flink-connectors/flink-connector-kinesis/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-elasticsearch6/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-elasticsearch7/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-kinesis/src/main/resources/META-INF/NOTICE
  flink-end-to-end-tests/flink-end-to-end-tests-aws-kinesis-firehose/pom.xml
  flink-filesystems/flink-azure-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-fs-hadoop-shaded/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-gs-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-s3-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-s3-fs-presto/src/main/resources/META-INF/NOTICE
  flink-formats/flink-sql-avro-confluent-registry/src/main/resources/META-INF/NOTICE
  flink-formats/flink-sql-avro/src/main/resources/META-INF/NOTICE
  flink-kubernetes/src/main/resources/META-INF/NOTICE
  flink-python/src/main/resources/META-INF/NOTICE
  pom.xml
Labels: component=Connectors/Common, component=Formats, component=TableSQL/Planner

#19167 [FLINK-26739] Support Hive 2.3.8 and 2.3.9
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/client/HiveShimLoader.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/client/HiveShimV238.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/client/HiveShimV239.java
Labels: component=Connectors/Hive

#19337 [FLINK-26994][ci] Merge Core/Libraries CI profiles
  tools/azure-pipelines/jobs-template.yml
  tools/ci/stage.sh
Labels: component=BuildSystem/CI

#19341 [FLINK-27024][build] Cleanup surefire configuration
  flink-connectors/flink-connector-cassandra/pom.xml
  flink-connectors/flink-connector-kafka/pom.xml
  flink-connectors/flink-connector-pulsar/pom.xml
  flink-python/pom.xml
  pom.xml
Labels: component=BuildSystem

#19092 [FLINK-26645][Connector/Pulsar] Fix Pulsar source subscriber consume from all partitions when only subscribed to 1 partition
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/sink/writer/topic/TopicMetadataListener.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/subscriber/impl/BasePulsarSubscriber.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/subscriber/impl/TopicListSubscriber.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/topic/TopicNameUtils.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/sink/writer/topic/TopicMetadataListenerTest.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/source/enumerator/subscriber/PulsarSubscriberTest.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/testutils/runtime/PulsarRuntimeOperator.java
Labels: component=Connectors/Pulsar

#19264 [FLINK-26886][metrics][docs] Documented pull/push tag/identifier reporter behavior
  docs/content.zh/docs/deployment/metric_reporters.md
  docs/content/docs/deployment/metric_reporters.md
  flink-core/src/main/java/org/apache/flink/configuration/MetricOptions.java
Labels: component=Documentation, component=Runtime/Metrics

#19327 [FLINK-26987][runtime] Fixes getAllAndLock livelock
  flink-runtime/src/main/java/org/apache/flink/runtime/zookeeper/ZooKeeperStateHandleStore.java
  flink-runtime/src/test/java/org/apache/flink/runtime/zookeeper/ZooKeeperStateHandleStoreTest.java
Labels: component=Runtime/Coordination

#19332 [FLINK-26987][BP-1.15][runtime] Fixes getAllAndLock livelock
  flink-runtime/src/main/java/org/apache/flink/runtime/zookeeper/ZooKeeperStateHandleStore.java
  flink-runtime/src/test/java/org/apache/flink/runtime/zookeeper/ZooKeeperStateHandleStoreTest.java
Labels: component=Runtime/Coordination

#18664 [FLINK-25907][runtime][security] Add pluggable delegation token manager
  flink-runtime/src/main/java/org/apache/flink/runtime/entrypoint/ClusterEntrypoint.java
  flink-runtime/src/main/java/org/apache/flink/runtime/entrypoint/component/DefaultDispatcherResourceManagerComponentFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/entrypoint/component/DispatcherResourceManagerComponentFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/hadoop/HadoopDependency.java
  flink-runtime/src/main/java/org/apache/flink/runtime/minicluster/MiniCluster.java
  flink-runtime/src/main/java/org/apache/flink/runtime/resourcemanager/ResourceManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/resourcemanager/ResourceManagerFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/resourcemanager/ResourceManagerProcessContext.java
  flink-runtime/src/main/java/org/apache/flink/runtime/resourcemanager/ResourceManagerServiceImpl.java
  flink-runtime/src/main/java/org/apache/flink/runtime/resourcemanager/StandaloneResourceManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/resourcemanager/StandaloneResourceManagerFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/resourcemanager/active/ActiveResourceManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/resourcemanager/active/ActiveResourceManagerFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/contexts/HadoopSecurityContextFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/modules/HadoopModuleFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/DelegationTokenConverter.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/DelegationTokenManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/DelegationTokenProvider.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/KerberosDelegationTokenManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/NoOpDelegationTokenManager.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/ExecutionGraphInfoStoreTestUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/minicluster/TestingMiniCluster.java
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/ResourceManagerServiceImplTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/ResourceManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/StandaloneResourceManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/TestingResourceManager.java
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/TestingResourceManagerFactory.java
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/TestingResourceManagerService.java
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/active/ActiveResourceManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/utils/MockResourceManagerRuntimeServices.java
  flink-runtime/src/test/java/org/apache/flink/runtime/security/token/DelegationTokenConverterTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/security/token/ExceptionThrowingDelegationTokenProvider.java
  flink-runtime/src/test/java/org/apache/flink/runtime/security/token/KerberosDelegationTokenManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/security/token/TestDelegationTokenProvider.java
  flink-runtime/src/test/resources/META-INF/services/org.apache.flink.runtime.security.token.DelegationTokenProvider
  flink-tests/src/test/java/org/apache/flink/test/recovery/ProcessFailureCancelingITCase.java
  flink-tests/src/test/java/org/apache/flink/test/recovery/TaskManagerDisconnectOnShutdownITCase.java
  flink-yarn/src/main/java/org/apache/flink/yarn/Utils.java
  flink-yarn/src/main/java/org/apache/flink/yarn/YarnClusterDescriptor.java
Labels: component=<none>

#19339 [FLINK-26961][BP-1.15][connectors][filesystems][formats] Update Jackson Databi…
  flink-connectors/flink-connector-kinesis/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-elasticsearch6/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-elasticsearch7/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-kinesis/src/main/resources/META-INF/NOTICE
  flink-end-to-end-tests/flink-end-to-end-tests-aws-kinesis-firehose/pom.xml
  flink-filesystems/flink-azure-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-fs-hadoop-shaded/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-gs-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-s3-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-s3-fs-presto/src/main/resources/META-INF/NOTICE
  flink-formats/flink-sql-avro-confluent-registry/src/main/resources/META-INF/NOTICE
  flink-formats/flink-sql-avro/src/main/resources/META-INF/NOTICE
  flink-kubernetes/src/main/resources/META-INF/NOTICE
  flink-python/src/main/resources/META-INF/NOTICE
  pom.xml
Labels: component=Connectors/Common, component=Formats, component=TableSQL/Planner

#19346 [FLINK-27034][gcp][tests] Use testcontainers
  flink-end-to-end-tests/flink-connector-gcp-pubsub-emulator-tests/pom.xml
  flink-end-to-end-tests/flink-connector-gcp-pubsub-emulator-tests/src/test/java/org/apache/flink/streaming/connectors/gcp/pubsub/emulator/GCloudEmulatorManager.java
  flink-end-to-end-tests/flink-connector-gcp-pubsub-emulator-tests/src/test/java/org/apache/flink/streaming/connectors/gcp/pubsub/emulator/GCloudUnitTestBase.java
  flink-test-utils-parent/flink-test-utils-junit/src/main/java/org/apache/flink/util/DockerImageVersions.java
Labels: component=Tests, component=Connectors/GoogleCloudPubSub

#19343 [FLINK-27026][build] Upgrade checkstyle plugin
  pom.xml
Labels: component=BuildSystem

#19342 [FLINK-27027] Get rid of oddly named mvn-${sys mvn.forkNumber}.log files
  tools/ci/log4j.properties
Labels: component=BuildSystem/CI

#19348 [FLINK-25797][BP 1.15][Docs] Translate datastream/formats/parquet.md page into Chinese
  docs/content.zh/docs/connectors/datastream/formats/parquet.md
Labels: component=Documentation

#18933 [FLINK-26368] [kafka] Add setProperty method to KafkaSinkBuilder
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/sink/KafkaSink.java
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/sink/KafkaSinkBuilder.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/sink/KafkaSinkBuilderTest.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/KafkaDynamicTableFactoryTest.java
Labels: component=Connectors/Kafka

#19355 [FLINK-27047][tests] Remove timeouts
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/DispatcherResourceCleanupTest.java
Labels: component=Runtime/Coordination, component=Tests

#19340 [FLINK-26961][BP-1.14][connectors][filesystems][formats] Update Jackson Databi…
  flink-connectors/flink-connector-elasticsearch5/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-connector-kinesis/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-elasticsearch6/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-elasticsearch7/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-kinesis/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-azure-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-fs-hadoop-shaded/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-s3-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-s3-fs-presto/src/main/resources/META-INF/NOTICE
  flink-formats/flink-sql-avro-confluent-registry/src/main/resources/META-INF/NOTICE
  flink-formats/flink-sql-avro/src/main/resources/META-INF/NOTICE
  flink-kubernetes/src/main/resources/META-INF/NOTICE
  flink-python/src/main/resources/META-INF/NOTICE
  flink-table/flink-table-planner/pom.xml
  flink-table/flink-table-planner/src/main/resources/META-INF/NOTICE
  pom.xml
Labels: component=Connectors/Common, component=Formats, component=TableSQL/Planner

#19354 [FLINK-27042][metrics] Fix instability of StreamTaskTest#testMailboxMetricsScheduling
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTest.java
Labels: component=Tests, component=Runtime/Task

#19352 [FLINK-27044][Connectors][Hive] Drop support for Hive versions 1.*, 2.1.* and 2.2.* which are no longer supported by the Hive community
  docs/content.zh/docs/connectors/table/hive/overview.md
  docs/content/docs/connectors/table/hive/overview.md
  flink-connectors/flink-connector-hive/pom.xml
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/client/HiveShimLoader.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDialectQueryITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveRunnerITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveRunnerShimLoader.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveRunnerShimV3.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTableSourceITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/HiveVersionTestUtil.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveCatalogHiveMetadataTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/functions/hive/HiveGenericUDFTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/module/hive/HiveModuleTest.java
  flink-connectors/flink-sql-connector-hive-1.2.2/pom.xml
  flink-connectors/flink-sql-connector-hive-1.2.2/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-hive-1.2.2/src/main/resources/META-INF/licenses/LICENSE.antlr
  flink-connectors/flink-sql-connector-hive-1.2.2/src/main/resources/META-INF/licenses/LICENSE.javolution
  flink-connectors/flink-sql-connector-hive-1.2.2/src/main/resources/META-INF/licenses/LICENSE.jodd
  flink-connectors/flink-sql-connector-hive-1.2.2/src/main/resources/META-INF/licenses/LICENSE.kryo
  flink-connectors/flink-sql-connector-hive-1.2.2/src/main/resources/META-INF/licenses/LICENSE.minlog
  flink-connectors/flink-sql-connector-hive-1.2.2/src/main/resources/META-INF/licenses/LICENSE.protobuf
  flink-connectors/flink-sql-connector-hive-1.2.2/src/main/resources/META-INF/licenses/LICENSE.reflectasm
  flink-connectors/flink-sql-connector-hive-2.2.0/pom.xml
  flink-connectors/flink-sql-connector-hive-2.2.0/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-hive-2.2.0/src/main/resources/META-INF/licenses/LICENSE.antlr
  flink-connectors/flink-sql-connector-hive-2.2.0/src/main/resources/META-INF/licenses/LICENSE.javolution
  flink-connectors/flink-sql-connector-hive-2.2.0/src/main/resources/META-INF/licenses/LICENSE.jodd
  flink-connectors/flink-sql-connector-hive-2.2.0/src/main/resources/META-INF/licenses/LICENSE.kryo
  flink-connectors/flink-sql-connector-hive-2.2.0/src/main/resources/META-INF/licenses/LICENSE.minlog
  flink-connectors/flink-sql-connector-hive-2.2.0/src/main/resources/META-INF/licenses/LICENSE.protobuf
  flink-connectors/pom.xml
  tools/ci/java-ci-tools/src/main/resources/modules-defining-excess-dependencies.modulelist
Labels: component=Connectors/Hive

#19350 [FLINK-27046][tests][JUnit5 migration] flink-X-glue-schema-registry
  flink-formats/flink-avro-glue-schema-registry/src/test/java/org/apache/flink/formats/avro/glue/schema/registry/GlueSchemaRegistryAvroDeserializationSchemaTest.java
  flink-formats/flink-avro-glue-schema-registry/src/test/java/org/apache/flink/formats/avro/glue/schema/registry/GlueSchemaRegistryAvroSchemaCoderTest.java
  flink-formats/flink-avro-glue-schema-registry/src/test/java/org/apache/flink/formats/avro/glue/schema/registry/GlueSchemaRegistryAvroSerializationSchemaTest.java
  flink-formats/flink-avro-glue-schema-registry/src/test/java/org/apache/flink/formats/avro/glue/schema/registry/GlueSchemaRegistryInputStreamDeserializerTest.java
  flink-formats/flink-avro-glue-schema-registry/src/test/java/org/apache/flink/formats/avro/glue/schema/registry/GlueSchemaRegistryOutputStreamSerializerTest.java
  flink-formats/flink-avro-glue-schema-registry/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
  flink-formats/flink-json-glue-schema-registry/src/test/java/org/apache/flink/formats/json/glue/schema/registry/GlueSchemaRegistryJsonDeserializationSchemaTest.java
  flink-formats/flink-json-glue-schema-registry/src/test/java/org/apache/flink/formats/json/glue/schema/registry/GlueSchemaRegistryJsonSchemaCoderTest.java
  flink-formats/flink-json-glue-schema-registry/src/test/java/org/apache/flink/formats/json/glue/schema/registry/GlueSchemaRegistryJsonSerializationSchemaTest.java
  flink-formats/flink-json-glue-schema-registry/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
Labels: component=Tests

#19316 [FLINK-25238][table-runtime] Allow customized types for ArrayDataSerializer#copy
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/typeutils/ArrayDataSerializer.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/typeutils/ArrayDataSerializerTest.java
Labels: component=TableSQL/Runtime

#19369 [FLINK-27068][python][tests] Fix test_keyed_min_and_max and test_keyed_min_by_and_max_by failed in py36,37
  flink-python/pyflink/datastream/tests/test_data_stream.py
Labels: component=API/Python

#18609 [FLINK-25897][docs] Update gradle quickstart quide to gradle 7.3.3
  docs/content/docs/dev/configuration/overview.md
Labels: component=Documentation

#19375 [FLINK-27088][Documentation] Fix the example of using StringDeseriali…
  docs/content.zh/docs/connectors/datastream/kafka.md
  docs/content/docs/connectors/datastream/kafka.md
Labels: component=Documentation

#19381 [FLINK-25897][docs] Update gradle quickstart quide to gradle 7.3.3
  docs/content/docs/dev/configuration/overview.md
Labels: component=Documentation

#19371 [BP-1.14][FLINK-25238][table-runtime] Fix ArrayDataSerializer#copy for customized types
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/typeutils/ArrayDataSerializer.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/typeutils/ArrayDataSerializerTest.java
Labels: component=TableSQL/Runtime

#19370 [BP-1.15][FLINK-25238][table-runtime] Fix ArrayDataSerializer#copy for customized types
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/typeutils/ArrayDataSerializer.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/typeutils/ArrayDataSerializerTest.java
Labels: component=TableSQL/Runtime

#19219 [FLINK-26835][serialization] Fix concurrent modification exception
  flink-core/src/main/java/org/apache/flink/api/java/typeutils/runtime/PojoSerializer.java
  flink-core/src/main/java/org/apache/flink/api/java/typeutils/runtime/RuntimeSerializerFactory.java
Labels: component=API/TypeSerializationSystem

#19373 [FLINK-27086][doc] Add a QA about how to handle exception when use hive parser in hive dialect document
  docs/content.zh/docs/connectors/table/hive/hive_dialect.md
  docs/content/docs/connectors/table/hive/hive_dialect.md
  docs/static/fig/hive_parser_load_exception.png
Labels: component=Documentation

#18151 [FLINK-25379][connectors] Support limit push down in DATAGEN connector
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/connector/datagen/table/DataGenTableSource.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/runtime/stream/table/DataGeneratorConnectorITCase.java
Labels: component=TableSQL/API

#19302 [FLINK-26810][connectors/elasticsearch] Use local timezone for TIMESTAMP_WITH_LOCAL_TIMEZONE fields in dynamic index
  flink-connectors/flink-connector-elasticsearch-base/src/main/java/org/apache/flink/connector/elasticsearch/table/IndexGeneratorFactory.java
  flink-connectors/flink-connector-elasticsearch-base/src/main/java/org/apache/flink/streaming/connectors/elasticsearch/table/IndexGeneratorFactory.java
  flink-connectors/flink-connector-elasticsearch-base/src/test/java/org/apache/flink/connector/elasticsearch/table/IndexGeneratorTest.java
  flink-connectors/flink-connector-elasticsearch-base/src/test/java/org/apache/flink/streaming/connectors/elasticsearch/table/IndexGeneratorFactoryTest.java
Labels: component=Connectors/ElasticSearch, component=TableSQL/Planner, component=TableSQL/Runtime

#19374 [FLINK-26810][connectors/elasticsearch] Use local timezone for TIMETAMP_WITH_LOCAL_TIMEZONE fields in dynamic index
  flink-connectors/flink-connector-elasticsearch-base/src/main/java/org/apache/flink/connector/elasticsearch/table/IndexGeneratorFactory.java
  flink-connectors/flink-connector-elasticsearch-base/src/main/java/org/apache/flink/streaming/connectors/elasticsearch/table/IndexGeneratorFactory.java
  flink-connectors/flink-connector-elasticsearch-base/src/test/java/org/apache/flink/connector/elasticsearch/table/IndexGeneratorTest.java
  flink-connectors/flink-connector-elasticsearch-base/src/test/java/org/apache/flink/streaming/connectors/elasticsearch/table/IndexGeneratorFactoryTest.java
Labels: component=Connectors/ElasticSearch, component=TableSQL/Planner, component=TableSQL/Runtime

#19378 [FLINK-25716][docs-zh] Translate "Streaming Concepts" page of "Applic…
  docs/content.zh/docs/dev/table/concepts/overview.md
Labels: component=Documentation

#19382 [FLINK-27088][Documentation] Fix the example of using StringDeseriali…
  docs/content/docs/connectors/datastream/kafka.md
Labels: component=Documentation

#19383 [FLINK-27088][BP-1.15][Documentation] Fix the example of using StringDeserializer for deserializing Kafka message value as string
  docs/content.zh/docs/connectors/datastream/kafka.md
  docs/content/docs/connectors/datastream/kafka.md
Labels: component=Documentation

#17829 [FLINK-24940] [docs] correct usage about how to create Hive catalog via Flink SQL CLI
  docs/content.zh/docs/connectors/table/hive/hive_catalog.md
  docs/content/docs/connectors/table/hive/hive_catalog.md
Labels: component=Documentation, component=Connectors/Hive

#19356 [FLINK-26993][tests] Wait until checkpoint was actually triggered
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinatorTest.java
Labels: component=Tests, component=Runtime/Checkpointing

#19272 [FLINK-26710] fix TestLoggerResource
  flink-test-utils-parent/flink-test-utils-junit/src/main/java/org/apache/flink/testutils/logging/TestLoggerResource.java
  flink-test-utils-parent/flink-test-utils-junit/src/test/java/org/apache/flink/testutils/logging/TestLoggerResourceTest.java
Labels: component=TestInfrastructure

#19391 [FLINK-27122] Remove FutureUtils#retryWithDelay variants without RetryStrategy
  flink-clients/src/main/java/org/apache/flink/client/program/rest/RestClusterClient.java
  flink-core/src/main/java/org/apache/flink/util/concurrent/FutureUtils.java
  flink-core/src/test/java/org/apache/flink/util/concurrent/FutureUtilsTest.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/RescalingITCase.java
Labels: component=Tests

#19392 [FLINK-27125][tests] Fix ExecutorService leaks
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/writer/AsyncSinkWriterTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveCatalogITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/factories/HiveCatalogFactoryTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/util/RecordEmitterTest.java
  flink-core/src/test/java/org/apache/flink/core/security/FlinkSecurityManagerTest.java
  flink-queryable-state/flink-queryable-state-runtime/src/test/java/org/apache/flink/queryablestate/itcases/AbstractQueryableStateTestBase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/buffer/LocalBufferPoolTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/slotpool/PhysicalSlotProviderResource.java
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/slotmanager/FineGrainedSlotManagerTestBase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/OperatorStateBackendTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/util/RunnablesTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliTableauResultViewTest.java
Labels: component=Tests

#19384 [FLINK-27105][docs] fix ChangelogStorage.uploadQueueSize metric type
  docs/content.zh/docs/ops/metrics.md
  docs/content/docs/ops/metrics.md
Labels: component=Documentation

#18604 [FLINK-25926][Connectors][JDBC] Update org.postgresql:postgresql to 42.3.3
  flink-connectors/flink-connector-jdbc/pom.xml
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/dialect/psql/PostgresTypeMapper.java
  flink-connectors/flink-connector-jdbc/src/main/java/org/apache/flink/connector/jdbc/internal/converter/PostgresRowConverter.java
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/catalog/PostgresCatalogITCase.java
Labels: component=Connectors/JDBC

#18956 [FLINK-26394] CheckpointCoordinator.isTriggering can not be reset in a particular case.
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/PendingCheckpoint.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinatorTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/PendingCheckpointTest.java
Labels: component=<none>

#19393 [FLINK-24940][docs] Correct usage about how to create Hive catalog via Flink SQL CLI
  docs/content.zh/docs/connectors/table/hive/hive_catalog.md
  docs/content/docs/connectors/table/hive/hive_catalog.md
Labels: component=Documentation, component=Connectors/Hive

#19387 [FLINK-27111][table][docs] Update docs regarding TableEnvironment configuration
  docs/content/docs/dev/table/config.md
Labels: component=Documentation

#19399 [FLINK-26852][state] Avoid RocksDBMapState#clear swallowing related e…
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBMapState.java
  flink-state-backends/flink-statebackend-rocksdb/src/test/java/org/apache/flink/contrib/streaming/state/EmbeddedRocksDBStateBackendTest.java
Labels: component=Runtime/StateBackends

#19407 [FLINK-27143][flink-docs] [JUnit5 Migration] Module: flink-docs
  flink-docs/src/test/java/org/apache/flink/docs/configuration/ConfigOptionsDocGeneratorTest.java
  flink-docs/src/test/java/org/apache/flink/docs/configuration/ConfigOptionsDocsCompletenessITCase.java
  flink-docs/src/test/java/org/apache/flink/docs/rest/OpenApiSpecGeneratorTest.java
  flink-docs/src/test/java/org/apache/flink/docs/rest/RestAPIDocGeneratorTest.java
  flink-docs/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
Labels: component=Tests

#19402 [FLINK-27111][BP 1.15][table][docs] Update docs regarding TableEnvironment con…
  docs/content/docs/dev/table/config.md
Labels: component=Documentation

#19364 [FLINK-27063][Connectors/Hive] Upgrade Hive 2.3 connector from 2.3.6 to 2.3.9
  docs/content.zh/docs/connectors/table/hive/overview.md
  docs/content/docs/connectors/table/hive/overview.md
  flink-connectors/flink-connector-hive/pom.xml
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveRunnerShimLoader.java
  flink-connectors/flink-sql-connector-hive-2.3.9/pom.xml
  flink-connectors/flink-sql-connector-hive-2.3.9/src/main/resources/META-INF/NOTICE
  flink-connectors/flink-sql-connector-hive-2.3.9/src/main/resources/META-INF/licenses/LICENSE.antlr
  flink-connectors/flink-sql-connector-hive-2.3.9/src/main/resources/META-INF/licenses/LICENSE.javolution
  flink-connectors/flink-sql-connector-hive-2.3.9/src/main/resources/META-INF/licenses/LICENSE.jodd
  flink-connectors/flink-sql-connector-hive-2.3.9/src/main/resources/META-INF/licenses/LICENSE.kryo
  flink-connectors/flink-sql-connector-hive-2.3.9/src/main/resources/META-INF/licenses/LICENSE.minlog
  flink-connectors/flink-sql-connector-hive-2.3.9/src/main/resources/META-INF/licenses/LICENSE.protobuf
  flink-connectors/flink-sql-connector-hive-2.3.9/src/main/resources/META-INF/licenses/LICENSE.reflectasm
  flink-connectors/flink-sql-connector-hive-2.3.9/src/main/resources/META-INF/licenses/LICENSE.slf4j-api
  flink-connectors/pom.xml
  pom.xml
  tools/ci/java-ci-tools/src/main/resources/modules-defining-excess-dependencies.modulelist
Labels: component=Connectors/Hive

#19331 [FLINK-26985][runtime] Don't discard shared state of restored checkpoints
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/highavailability/KubernetesCheckpointRecoveryFactory.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/utils/KubernetesUtils.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointRecoveryFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CompletedCheckpoint.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/EmbeddedCompletedCheckpointStore.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/PerJobCheckpointRecoveryFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/StandaloneCheckpointRecoveryFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/StandaloneCompletedCheckpointStore.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/ZooKeeperCheckpointRecoveryFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/cleanup/CheckpointResourcesCleanupRunner.java
  flink-runtime/src/main/java/org/apache/flink/runtime/highavailability/nonha/embedded/EmbeddedHaServicesWithLeadershipControl.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobgraph/RestoreMode.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobgraph/SavepointConfigOptions.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/SchedulerUtils.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/SharedStateRegistry.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/SharedStateRegistryFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/SharedStateRegistryImpl.java
  flink-runtime/src/main/java/org/apache/flink/runtime/util/ZooKeeperUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinatorFailureTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinatorRestoringTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinatorTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CompletedCheckpointTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/DefaultCompletedCheckpointStoreTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/PerJobCheckpointRecoveryTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/TestingCheckpointRecoveryFactory.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/ZooKeeperCompletedCheckpointStoreITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/ZooKeeperCompletedCheckpointStoreTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/DispatcherCleanupITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/cleanup/CheckpointResourcesCleanupRunnerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/SchedulerUtilsTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/testutils/CommonTestUtils.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/ResumeCheckpointManuallyITCase.java
  flink-tests/src/test/java/org/apache/flink/test/state/ChangelogCompatibilityITCase.java
  flink-tests/src/test/java/org/apache/flink/test/state/ChangelogRescalingITCase.java
Labels: component=Runtime/Checkpointing

#19412 [BP-1.15][FLINK-26985][runtime] Don't discard shared state of restored checkpoints
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/highavailability/KubernetesCheckpointRecoveryFactory.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/utils/KubernetesUtils.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointRecoveryFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CompletedCheckpoint.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/EmbeddedCompletedCheckpointStore.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/PerJobCheckpointRecoveryFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/StandaloneCheckpointRecoveryFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/StandaloneCompletedCheckpointStore.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/ZooKeeperCheckpointRecoveryFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/cleanup/CheckpointResourcesCleanupRunner.java
  flink-runtime/src/main/java/org/apache/flink/runtime/highavailability/nonha/embedded/EmbeddedHaServicesWithLeadershipControl.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobgraph/RestoreMode.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobgraph/SavepointConfigOptions.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/SchedulerUtils.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/SharedStateRegistry.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/SharedStateRegistryFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/SharedStateRegistryImpl.java
  flink-runtime/src/main/java/org/apache/flink/runtime/util/ZooKeeperUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinatorFailureTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinatorRestoringTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinatorTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CompletedCheckpointTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/DefaultCompletedCheckpointStoreTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/PerJobCheckpointRecoveryTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/TestingCheckpointRecoveryFactory.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/ZooKeeperCompletedCheckpointStoreITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/ZooKeeperCompletedCheckpointStoreTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/DispatcherCleanupITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/cleanup/CheckpointResourcesCleanupRunnerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/SchedulerUtilsTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/testutils/CommonTestUtils.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/ResumeCheckpointManuallyITCase.java
  flink-tests/src/test/java/org/apache/flink/test/state/ChangelogCompatibilityITCase.java
  flink-tests/src/test/java/org/apache/flink/test/state/ChangelogRescalingITCase.java
  flink-tests/src/test/java/org/apache/flink/test/util/TestUtils.java
Labels: component=Runtime/Checkpointing

#19398 [FLINK-26864][metrics] Fix performance regression from mailbox latency measuement
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/mailbox/MailboxMetricsController.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/mailbox/MailboxProcessor.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/mailbox/TaskMailboxProcessorTest.java
Labels: component=Benchmarks

#19287 [FLINK-27150][runtime-web] Improve error message rendering
  flink-runtime-web/web-dashboard/src/app/app.interceptor.ts
Labels: component=Runtime/WebFrontend

#19324 [FLINK-26757][state] Change the default value of state.backend.rocksdb.restore-overlap-fraction-threshold to 0
  docs/layouts/shortcodes/generated/rocksdb_configurable_configuration.html
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/EmbeddedRocksDBStateBackend.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBConfigurableOptions.java
  flink-state-backends/flink-statebackend-rocksdb/src/test/java/org/apache/flink/contrib/streaming/state/RocksDBIncrementalCheckpointUtilsTest.java
  flink-state-backends/flink-statebackend-rocksdb/src/test/java/org/apache/flink/contrib/streaming/state/RocksDBStateBackendConfigTest.java
Labels: component=Runtime/StateBackends

#19347 [FLINK-27035][python][tests] Reduce memory usage of ByteArrayWrapperSerializerTest
  flink-python/src/test/java/org/apache/flink/streaming/api/utils/ByteArrayWrapperSerializerTest.java
Labels: component=API/Python, component=Tests

#19438 [FLINK-25806][ha] Remove legacy HA services
  docs/layouts/shortcodes/generated/expert_high_availability_section.html
  docs/layouts/shortcodes/generated/high_availability_configuration.html
  flink-core/src/main/java/org/apache/flink/configuration/HighAvailabilityOptions.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/highavailability/KubernetesHaServices.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/highavailability/KubernetesHaServicesFactory.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/FlinkKubeClient.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/highavailability/KubernetesHaServicesTest.java
  flink-runtime/src/main/java/org/apache/flink/runtime/highavailability/HighAvailabilityServicesUtils.java
  flink-runtime/src/main/java/org/apache/flink/runtime/highavailability/zookeeper/ZooKeeperHaServices.java
  flink-runtime/src/test/java/org/apache/flink/runtime/highavailability/zookeeper/ZooKeeperHaServicesTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderretrieval/ZooKeeperLeaderRetrievalTest.java
Labels: component=Runtime/Coordination

#19432 [FLINK-27196][table] Remove SerializationSchemaFactory, DeserializationSchemaFactory and TableFormatFactory
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/table/descriptors/SchemaValidator.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/factories/DeserializationSchemaFactory.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/factories/SerializationSchemaFactory.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/factories/TableFactoryService.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/factories/TableFormatFactory.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/factories/TableFormatFactoryBase.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/factories/TableFormatFactoryBaseTest.java
Labels: component=TableSQL/API

#19458 [FLINK-27224][build] Drop 'flink.forkCountTestPackage' property
  flink-end-to-end-tests/run-nightly-tests.sh
  flink-tests/pom.xml
  pom.xml
  tools/ci/compile.sh
  tools/ci/test_controller.sh
Labels: component=BuildSystem, component=Tests

#19353 [FLINK-27050][runtime] Removes default RpcSystem instance
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/AbstractDispatcherTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/DispatcherCleanupITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/DispatcherResourceCleanupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/DispatcherTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/TestingDispatcher.java
Labels: component=Runtime/Coordination

#19451 [FLINK-27050][BP-1.15][runtime][tests] Removes default RpcSystem instance
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/AbstractDispatcherTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/DispatcherCleanupITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/DispatcherResourceCleanupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/DispatcherTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/TestingDispatcher.java
Labels: component=Runtime/Coordination

#19428 [FLINK-25694][FileSystems][S3] Upgrade Presto to resolve GSON/Alluxio Vulnerability
  flink-filesystems/flink-s3-fs-presto/pom.xml
  flink-filesystems/flink-s3-fs-presto/src/main/resources/META-INF/NOTICE
Labels: component=Connectors/FileSystem, component=FileSystems

#19403 [FLINK-27120][docs-zh] Translate "Gradle" tab of development > conf > overview
  docs/content.zh/docs/dev/configuration/overview.md
Labels: component=Documentation

#19469 [FLINK-27222][coordination] Decouple last (al)location from execution history
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/Execution.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/ExecutionVertex.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/DefaultScheduler.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/ExecutionVertexTest.java
Labels: component=Runtime/Coordination

#19401 [FLINK-25716][docs-zh] Translate "Streaming Concepts" page of "Applic…
  docs/content.zh/docs/dev/table/concepts/overview.md
Labels: component=Documentation

#19500 [FLINK-27278][docs] Fix wrong indentation in windows docs
  docs/content.zh/docs/dev/datastream/operators/windows.md
  docs/content/docs/dev/datastream/operators/windows.md
Labels: component=Documentation

#19475 [FLINK-27250][sql][build] Remove custom surefire config
  flink-table/flink-sql-parser-hive/pom.xml
  flink-table/flink-sql-parser/pom.xml
Labels: component=BuildSystem, component=TableSQL/API

#19476 [FLINK-27252][hive][build] Remove surefire fork settings
  flink-connectors/flink-connector-hive/pom.xml
Labels: component=Connectors/Hive

#19435 [FLINK-27121][docs-zh]Translate "Configuration#overview" paragraph and the code example in "Application Development > Table API & SQL" to Chinese
  docs/content.zh/docs/dev/table/config.md
  docs/content/docs/dev/table/config.md
Labels: component=Documentation

#19489 [FLINK-27265][docs] Flink comes with five built-in BulkWriter factories instead of the mentioned four in filesystem.md.
  docs/content/docs/connectors/datastream/filesystem.md
Labels: component=Documentation

#19463 [FLINK-27234][jdbc] Enable fork-reuse for unit tests
  flink-connectors/flink-connector-jdbc/archunit-violations/6b9ab1b0-c14d-4667-bab5-407b81fba98b
  flink-connectors/flink-connector-jdbc/pom.xml
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/internal/connection/SimpleJdbcConnectionProviderDriverClassConcurrentLoadingITCase.java
Labels: component=Connectors/JDBC

#19477 [FLINK-27253][cassandra][build] Remove custom surefire config
  flink-connectors/flink-connector-cassandra/pom.xml
Labels: component=BuildSystem, component=Connectors/Cassandra

#17228 [FLINK-24236] Migrate tests to factory approach
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/KafkaTestBase.java
  flink-metrics/flink-metrics-jmx/src/test/java/org/apache/flink/runtime/jobmanager/JMXJobManagerMetricTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/ReporterSetupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/AbstractMetricGroupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/MetricGroupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/util/TestReporter.java
Labels: review=description?, component=Tests, component=Runtime/Metrics

#19515 [FLINK-27229][cassandra][build] Remove test netty dependency
  flink-connectors/flink-connector-cassandra/pom.xml
Labels: component=Connectors/Cassandra

#19474 [FLINK-27232][build] Explicitly configure scalafmt in each module (the boring version)
  flink-connectors/flink-hadoop-compatibility/pom.xml
  flink-connectors/flink-hcatalog/pom.xml
  flink-end-to-end-tests/flink-end-to-end-tests-scala/pom.xml
  flink-end-to-end-tests/flink-quickstart-test/pom.xml
  flink-examples/flink-examples-batch/pom.xml
  flink-examples/flink-examples-streaming/pom.xml
  flink-examples/flink-examples-table/pom.xml
  flink-libraries/flink-cep-scala/pom.xml
  flink-libraries/flink-gelly-examples/pom.xml
  flink-libraries/flink-gelly-scala/pom.xml
  flink-scala/pom.xml
  flink-streaming-scala/pom.xml
  flink-table/flink-table-api-scala-bridge/pom.xml
  flink-table/flink-table-api-scala/pom.xml
  flink-table/flink-table-planner/pom.xml
  flink-tests/pom.xml
  pom.xml
Labels: component=BuildSystem

#19455 [FLINK-27208][docs] Add scalafmt docs
  docs/content/docs/flinkDev/ide_setup.md
Labels: component=Documentation, component=BuildSystem

#19479 [FLINK-25694][FileSystems][S3] Upgrade Presto to resolve GSON/Alluxio Vulnerability
  flink-filesystems/flink-s3-fs-presto/pom.xml
  flink-filesystems/flink-s3-fs-presto/src/main/resources/META-INF/NOTICE
Labels: component=Connectors/FileSystem, component=FileSystems

#19478 [FLINK-25694][FileSystems][S3] Upgrade Presto to resolve GSON/Alluxio Vulnerability
  flink-filesystems/flink-s3-fs-presto/pom.xml
  flink-filesystems/flink-s3-fs-presto/src/main/resources/META-INF/NOTICE
Labels: component=Connectors/FileSystem, component=FileSystems

#19494 [FLINK-27267][contrib] Migrate tests to JUnit5
  flink-contrib/flink-connector-wikiedits/src/test/java/org/apache/flink/streaming/connectors/wikiedits/WikipediaEditsSourceTest.java
  flink-contrib/flink-connector-wikiedits/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
Labels: component=Tests

#17961 [FLINK-25109][Table SQL/Client] Update jline3 to 3.21.0
  flink-table/flink-sql-client/pom.xml
  flink-table/flink-sql-client/src/main/resources/META-INF/NOTICE
Labels: component=TableSQL/Client

#19420 [FLINK-27163][docs] fix typo issue in metrics doc
  docs/content.zh/docs/ops/metrics.md
  docs/content/docs/ops/metrics.md
Labels: component=Documentation

#19510 [FLINK-27298][Docs] Change the used table name in the SQL Client documentation to the correct name
  docs/content.zh/docs/dev/table/sqlClient.md
  docs/content/docs/dev/table/sqlClient.md
Labels: component=Documentation

#19532 [FLINK-27325][build] Remove custom forkCount settings
  flink-connectors/flink-connector-elasticsearch6/pom.xml
  flink-connectors/flink-connector-elasticsearch7/pom.xml
  flink-connectors/flink-connector-hbase-1.4/pom.xml
  flink-connectors/flink-connector-hbase-2.2/pom.xml
  flink-connectors/flink-connector-kafka/pom.xml
  flink-connectors/flink-connector-pulsar/pom.xml
  flink-kubernetes/pom.xml
Labels: component=BuildSystem, component=Connectors/Kafka, component=Connectors/HBase, component=Connectors/ElasticSearch, component=Deployment/Kubernetes, component=Connectors/Pulsar

#19418 [FLINK-27145][table] Support code gen for aggregate function with empty parameter
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/agg/batch/AggCodeGenHelper.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/batch/table/AggregationITCase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/utils/UserDefinedAggFunctions.scala
Labels: component=TableSQL/Planner

#19525 [FLINK-27315][docs] Fix the demo of MemoryStateBackendMigration
  docs/content.zh/docs/ops/state/state_backends.md
  docs/content/docs/ops/state/state_backends.md
Labels: component=Documentation

#19467 [FLINK-25548][flink-sql-parser] Migrate tests to JUnit5
  flink-table/flink-sql-parser-hive/pom.xml
  flink-table/flink-sql-parser-hive/src/test/java/org/apache/flink/sql/parser/hive/FlinkHiveSqlParserImplTest.java
  flink-table/flink-sql-parser-hive/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
  flink-table/flink-sql-parser/pom.xml
  flink-table/flink-sql-parser/src/test/java/org/apache/flink/sql/parser/CreateTableLikeTest.java
  flink-table/flink-sql-parser/src/test/java/org/apache/flink/sql/parser/FlinkDDLDataTypeTest.java
  flink-table/flink-sql-parser/src/test/java/org/apache/flink/sql/parser/FlinkSqlParserImplTest.java
  flink-table/flink-sql-parser/src/test/java/org/apache/flink/sql/parser/FlinkSqlUnParserTest.java
  flink-table/flink-sql-parser/src/test/java/org/apache/flink/sql/parser/ReservedKeywordTest.java
  flink-table/flink-sql-parser/src/test/java/org/apache/flink/sql/parser/TableApiIdentifierParsingTest.java
  flink-table/flink-sql-parser/src/test/java/org/apache/flink/sql/parser/TestRelDataTypeFactory.java
  flink-table/flink-sql-parser/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
Labels: component=Tests

#19541 [FLINK-27167][test] fix javadoc issue
  flink-architecture-tests/flink-architecture-tests-production/pom.xml
Labels: component=BuildSystem/AzurePipelines

#19529 [FLINK-27321][ci] Migrate java-ci-tools to JUnit 5
  tools/ci/java-ci-tools/src/test/java/org/apache/flink/tools/ci/licensecheck/JarFileCheckerTest.java
  tools/ci/java-ci-tools/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
Labels: component=BuildSystem/CI

#19508 [FLINK-27218] fix the problem that the internal Serializer in Operato…
  flink-runtime/src/main/java/org/apache/flink/runtime/state/HeapBroadcastState.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/PartitionableListState.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/StateBackendMigrationTestBase.java
Labels: component=Runtime/StateBackends

#19441 [FLINK-27187][state/changelog] Add changelog storage metric totalAttemptsPerUpload
  docs/content.zh/docs/ops/metrics.md
  docs/content/docs/ops/metrics.md
  flink-dstl/flink-dstl-dfs/src/main/java/org/apache/flink/changelog/fs/BatchingStateChangeUploadScheduler.java
  flink-dstl/flink-dstl-dfs/src/main/java/org/apache/flink/changelog/fs/ChangelogStorageMetricGroup.java
  flink-dstl/flink-dstl-dfs/src/main/java/org/apache/flink/changelog/fs/RetryingExecutor.java
  flink-dstl/flink-dstl-dfs/src/test/java/org/apache/flink/changelog/fs/BatchingStateChangeUploadSchedulerTest.java
  flink-dstl/flink-dstl-dfs/src/test/java/org/apache/flink/changelog/fs/ChangelogStorageMetricsTest.java
  flink-dstl/flink-dstl-dfs/src/test/java/org/apache/flink/changelog/fs/RetryingExecutorTest.java
Labels: component=Runtime/StateBackends, component=Runtime/Metrics

#19568 [FLINK-27381][connector/common] Use Arrays.hashcode for HybridSourceSplit wrappedSplitBytes
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/hybrid/HybridSourceSplit.java
Labels: component=Connectors/Common

#19275 [FLINK-24491][runtime] Make the job termination wait until the archiving of ExecutionGraphInfo finishes
  flink-clients/src/main/java/org/apache/flink/client/deployment/application/ApplicationDispatcherBootstrap.java
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/Dispatcher.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/DispatcherResourceCleanupTest.java
Labels: component=Runtime/Coordination

#19526 [BP-1.15][FLINK-24491][runtime] Make the job termination wait until the archiv…
  flink-clients/src/main/java/org/apache/flink/client/deployment/application/ApplicationDispatcherBootstrap.java
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/Dispatcher.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/DispatcherResourceCleanupTest.java
Labels: component=Runtime/Coordination

#19555 [FLINK-23659][metrics][prometheus] Cleanup code
  flink-metrics/flink-metrics-prometheus/pom.xml
  flink-metrics/flink-metrics-prometheus/src/main/java/org/apache/flink/metrics/prometheus/AbstractPrometheusReporter.java
  flink-metrics/flink-metrics-prometheus/src/test/java/org/apache/flink/metrics/prometheus/PrometheusPushGatewayReporterTest.java
  flink-metrics/flink-metrics-prometheus/src/test/java/org/apache/flink/metrics/prometheus/PrometheusReporterTaskScopeTest.java
  flink-metrics/flink-metrics-prometheus/src/test/java/org/apache/flink/metrics/prometheus/PrometheusReporterTest.java
  flink-metrics/flink-metrics-prometheus/src/test/java/org/apache/flink/metrics/prometheus/TestUtils.java
Labels: component=Runtime/Metrics

#19577 [FLINK-27398][scala] Move completeness test to flink-scala
  flink-libraries/flink-cep-scala/pom.xml
  flink-libraries/flink-gelly-scala/pom.xml
  flink-scala/src/test/scala/org/apache/flink/api/scala/completeness/BatchScalaAPICompletenessTest.scala
  flink-scala/src/test/scala/org/apache/flink/api/scala/completeness/ScalaAPICompletenessTestBase.scala
  flink-streaming-scala/pom.xml
Labels: component=API/Scala, component=Tests

#19575 [FLINK-27390][build] Remove unused flink-tests dependencies
  flink-connectors/flink-connector-cassandra/pom.xml
  flink-connectors/flink-connector-pulsar/pom.xml
Labels: component=BuildSystem, component=Tests, component=Connectors/Cassandra, component=Connectors/Pulsar

#19572 [FLINK-27389][tests] Move flink-tests test utils to flink-test-utils
  flink-connectors/flink-connector-kafka/pom.xml
  flink-connectors/flink-connector-kinesis/pom.xml
  flink-table/flink-table-planner/pom.xml
  flink-test-utils-parent/flink-test-utils/src/main/java/org/apache/flink/test/util/SuccessException.java
  flink-test-utils-parent/flink-test-utils/src/main/java/org/apache/flink/test/util/TestUtils.java
Labels: component=Tests, component=Connectors/Kafka, component=Connectors/Kinesis, component=TableSQL/Planner

#19554 [FLINK-27351][tests] Use sane TM resource spec
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskExecutorBuilder.java
Labels: component=Runtime/Coordination, component=Tests

#19574 [FLINK-27367][table-planner] Support cast int to date in legacy cast behavior
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/calls/ScalarOperatorGens.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/CalcITCase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/CalcITCase.scala
Labels: component=TableSQL/Planner

#18842 [FLINK-26246][build][tests] Setup JUnit 5 infrastructure for parallel test execution
  flink-table/flink-sql-parser/src/main/resources/org.apache.flink.sql.parser.utils/junit-platform.properties
  flink-table/flink-table-planner/src/test/resources/junit-platform.properties
  pom.xml
Labels: component=BuildSystem, component=Tests

#17226 [FLINK-24222] Migrate ReporterSetupTest to ContextClassLoaderExtension
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/ReporterSetupTest.java
  flink-runtime/src/test/resources/META-INF/services/org.apache.flink.metrics.reporter.MetricReporterFactory
Labels: review=description?, component=Tests, component=Runtime/Metrics

#19514 [FLINK-27308][Filesystem][S3] Update the Hadoop implementation for filesystems to 3.3.2
  flink-filesystems/flink-azure-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-fs-hadoop-shaded/pom.xml
  flink-filesystems/flink-fs-hadoop-shaded/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-oss-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-s3-fs-base/pom.xml
  flink-filesystems/flink-s3-fs-hadoop/src/main/java/org/apache/flink/fs/s3hadoop/HadoopS3AccessHelper.java
  flink-filesystems/flink-s3-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-s3-fs-presto/src/main/resources/META-INF/NOTICE
  flink-filesystems/pom.xml
Labels: component=FileSystems

#19530 [FLINK-25541][tests] Migrate tests to JUnit 5
  flink-test-utils-parent/flink-test-utils/src/test/java/org/apache/flink/metric/testutils/MetricListenerTest.java
  flink-test-utils-parent/flink-test-utils/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
Labels: component=Tests

#19528 [FLINK-27228][ci] Redistributed modules across CI profiles
  tools/azure-pipelines/jobs-template.yml
  tools/ci/stage.sh
Labels: component=BuildSystem/CI

#19548 [FLINK-20808][build] Remove redundant checkstyle rules
  tools/maven/checkstyle.xml
Labels: component=BuildSystem

#19560 [FLINK-25550][k8s] Migrate flink-k8s module's test from junit4 to junit5
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/KubernetesClusterClientFactoryTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/KubernetesClusterDescriptorTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/KubernetesExtension.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/KubernetesPodTemplateTestUtils.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/KubernetesResourceManagerDriverTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/KubernetesTestBase.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/KubernetesWorkerNodeTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/MixedKubernetesServerExtension.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/cli/KubernetesSessionCliTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/configuration/KubernetesDeploymentTargetTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/entrypoint/KubernetesWorkerResourceSpecFactoryTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/highavailability/KubernetesCheckpointIDCounterTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/highavailability/KubernetesHighAvailabilityRecoverFromSavepointITCase.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/highavailability/KubernetesHighAvailabilityTestBase.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/highavailability/KubernetesLeaderElectionAndRetrievalITCase.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/highavailability/KubernetesLeaderElectionDriverTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/highavailability/KubernetesLeaderRetrievalDriverTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/highavailability/KubernetesMultipleComponentLeaderElectionDriverTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/highavailability/KubernetesStateHandleStoreITCase.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/highavailability/KubernetesStateHandleStoreTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/highavailability/KubernetesTestFixture.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/Fabric8FlinkKubeClientITCase.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/Fabric8FlinkKubeClientTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/CmdJobManagerDecoratorTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/CmdTaskManagerDecoratorTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/DecoratorWithPodTemplateTestBase.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/EnvSecretsDecoratorTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/ExternalServiceDecoratorTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/FlinkConfMountDecoratorTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/HadoopConfMountDecoratorTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/InitJobManagerDecoratorAccountTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/InitJobManagerDecoratorTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/InitJobManagerDecoratorWithPodTemplateTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/InitTaskManagerDecoratorAccountTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/InitTaskManagerDecoratorTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/InitTaskManagerDecoratorWithPodTemplateTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/InternalServiceDecoratorTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/KerberosMountDecoratorTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/MountSecretsDecoratorTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/PodTemplateMountDecoratorTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/factory/KubernetesFactoryWithPodTemplateTestBase.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/factory/KubernetesJobManagerFactoryTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/factory/KubernetesJobManagerFactoryWithPodTemplateTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/factory/KubernetesTaskManagerFactoryTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/factory/KubernetesTaskManagerFactoryWithPodTemplateTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/parameters/AbstractKubernetesParametersTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/parameters/KubernetesJobManagerParametersTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/parameters/KubernetesTaskManagerParametersTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/resources/FlinkPodTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/resources/KubernetesLeaderElectorITCase.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/resources/KubernetesLeaderElectorTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/resources/KubernetesPodTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/resources/KubernetesPodsWatcherTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/resources/KubernetesSharedInformerITCase.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/services/ServiceTypeTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/utils/KubernetesUtilsTest.java
  flink-kubernetes/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
  flink-test-utils-parent/flink-test-utils/src/main/java/org/apache/flink/test/junit5/MiniClusterExtension.java
Labels: component=Tests

#19431 [BK-1.15][FLINK-26645][Connector/pulsar] Support subscribe only one topic partition
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/sink/writer/topic/TopicMetadataListener.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/subscriber/impl/BasePulsarSubscriber.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/subscriber/impl/TopicListSubscriber.java
  flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/enumerator/topic/TopicNameUtils.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/sink/writer/topic/TopicMetadataListenerTest.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/source/enumerator/subscriber/PulsarSubscriberTest.java
  flink-connectors/flink-connector-pulsar/src/test/java/org/apache/flink/connector/pulsar/testutils/runtime/PulsarRuntimeOperator.java
Labels: component=Connectors/Pulsar

#19594 [FLINK-27428][core] Deduplicate #toDuration(Time)
  flink-core/src/main/java/org/apache/flink/util/concurrent/FutureUtils.java
  flink-runtime-web/src/test/java/org/apache/flink/runtime/webmonitor/LeaderRetrievalHandlerTest.java
Labels: component=API/Core

#19595 [FLINK-27430][tests] Remove unused timeout field
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/StandaloneResourceManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/active/ActiveResourceManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/utils/MockResourceManagerRuntimeServices.java
Labels: component=Runtime/Coordination, component=Tests

#19604 [FLINK-14820][core] Migrate FutureUtils to Duration
  flink-core/src/main/java/org/apache/flink/util/concurrent/FutureUtils.java
  flink-core/src/test/java/org/apache/flink/util/concurrent/FutureUtilsTest.java
  flink-end-to-end-tests/flink-metrics-availability-test/src/test/java/org/apache/flink/metrics/tests/MetricsAvailabilityITCase.java
  flink-metrics/flink-metrics-jmx/src/test/java/org/apache/flink/runtime/jobmanager/JMXJobManagerMetricTest.java
  flink-queryable-state/flink-queryable-state-runtime/src/test/java/org/apache/flink/queryablestate/itcases/AbstractQueryableStateTestBase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/highavailability/AbstractHAJobRunITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskmanager/TaskCancelAsyncProducerConsumerITCase.java
  flink-tests/src/test/java/org/apache/flink/test/accumulators/AccumulatorLiveITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/SavepointITCase.java
  flink-tests/src/test/java/org/apache/flink/test/recovery/JobManagerHAProcessFailureRecoveryITCase.java
  flink-tests/src/test/java/org/apache/flink/test/state/operator/restore/AbstractOperatorRestoreTestBase.java
Labels: component=Runtime/Coordination

#19569 [FLINK-24804][FLINK-25505] Upgrade oshi-core to version 6.1.5
  docs/content.zh/docs/ops/metrics.md
  docs/content/docs/ops/metrics.md
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/util/SystemResourcesCounter.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/util/SystemResourcesMetricsInitializer.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/utils/SystemResourcesCounterTest.java
  flink-tests/src/test/java/org/apache/flink/runtime/metrics/SystemResourcesMetricsITCase.java
  pom.xml
Labels: component=Runtime/Network, component=Runtime/Metrics

#18877 [FLINK-26298][rpc][tests] Migrate tests to JUnit5
  flink-rpc/flink-rpc-core/src/test/java/org/apache/flink/runtime/concurrent/ScheduledFutureAdapterTest.java
  flink-rpc/flink-rpc-core/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
Labels: component=Runtime/Coordination, component=Tests

#19585 [FLINK-27367][table-planner] Support cast int to date in legacy cast behavior
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/calls/ScalarOperatorGens.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/CalcITCase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/CalcITCase.scala
Labels: component=TableSQL/Planner

#18841 [FLINK-26154][tests] Improve logging in SavepointFormatITCase
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/SavepointFormatITCase.java
Labels: component=Tests, component=Runtime/StateBackends

#19609 [FLINK-27452][tests] Move TestBaseUtils#getFromHttp to WebFrontendITCase
  flink-runtime-web/src/test/java/org/apache/flink/runtime/webmonitor/WebFrontendITCase.java
  flink-test-utils-parent/flink-test-utils/src/main/java/org/apache/flink/test/util/TestBaseUtils.java
Labels: component=<none>

#19610 [FLINK-27453][tests] Cleanup TestBaseUtils
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTableSourceITCase.java
  flink-libraries/flink-gelly-examples/src/test/java/org/apache/flink/graph/test/examples/MusicProfilesITCase.java
  flink-test-utils-parent/flink-test-utils/src/main/java/org/apache/flink/test/util/TestBaseUtils.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YarnTestBase.java
Labels: component=Tests
