Repository apache/flink, pull requests merged in 2023-02, with the labels that each got.

#21803 [FLINK-30848][table-planner] Enable CatalogTableITCase#testAlterTable
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/catalog/CatalogTableITCase.scala
Labels: component=TableSQL/API

#21537 [FLINK-30462][runtime] The leader session ID is now saved properly
  flink-runtime/src/main/java/org/apache/flink/runtime/leaderelection/DefaultMultipleComponentLeaderElectionService.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderelection/DefaultMultipleComponentLeaderElectionServiceTest.java
Labels: component=Runtime/Coordination

#21790 [FLINK-30827][sql-client] Improve the SQL Client code structure
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/SqlClient.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliChangelogResultView.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliTableResultView.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliTableauResultView.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/DefaultContextUtils.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/ResultDescriptor.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/SingleSessionManager.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/result/ChangelogCollectResult.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/result/ChangelogResult.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/result/CollectResultBase.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/result/DynamicResult.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/result/MaterializedCollectBatchResult.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/result/MaterializedCollectResultBase.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/result/MaterializedCollectStreamResult.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/result/MaterializedResult.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliClientITCase.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliResultViewTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliTableauResultViewTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/ExecutorImplITCase.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/result/BaseMaterializedResultTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/result/ChangelogCollectResultTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/result/MaterializedCollectBatchResultTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/result/MaterializedCollectStreamResultTest.java
Labels: component=TableSQL/Client

#21816 [BP-1.16][FLINK-30462][runtime] The leader session ID is now saved properly
  flink-runtime/src/main/java/org/apache/flink/runtime/leaderelection/DefaultMultipleComponentLeaderElectionService.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderelection/DefaultMultipleComponentLeaderElectionServiceTest.java
Labels: component=Runtime/Coordination

#21817 [BP-1.15][FLINK-30462][runtime] The leader session ID is now saved properly
  flink-runtime/src/main/java/org/apache/flink/runtime/leaderelection/DefaultMultipleComponentLeaderElectionService.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderelection/DefaultMultipleComponentLeaderElectionServiceTest.java
Labels: component=Runtime/Coordination

#21818 [BP-1.15][FLINK-30474][runtime] Propagates leader information change only if the leadership is still acquired
  flink-runtime/src/main/java/org/apache/flink/runtime/leaderelection/DefaultMultipleComponentLeaderElectionService.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderelection/DefaultMultipleComponentLeaderElectionServiceTest.java
Labels: component=Runtime/Coordination

#21819 [BP-1.16][FLINK-30474][runtime] Propagates leader information change only if the leadership is still acquired
  flink-runtime/src/main/java/org/apache/flink/runtime/leaderelection/DefaultMultipleComponentLeaderElectionService.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderelection/DefaultMultipleComponentLeaderElectionServiceTest.java
Labels: component=Runtime/Coordination

#21795 [bp-1.16][FLINK-30477][datastream] Fix AsyncWaitOperator that not properly blocking retries when timeout occurs
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/async/AsyncWaitOperator.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/async/AsyncWaitOperatorTest.java
Labels: component=API/DataStream

#21811 [FLINK-30855][Connector/Google Cloud PubSub] Remove GCP PubSub connector
  NOTICE
  docs/content.zh/docs/connectors/datastream/pubsub.md
  docs/content/docs/connectors/datastream/pubsub.md
  docs/setup_docs.sh
  flink-architecture-tests/flink-architecture-tests-production/pom.xml
  flink-architecture-tests/pom.xml
  flink-connectors/flink-connector-gcp-pubsub/archunit-violations/2f5a722a-a4be-46cf-977f-047a2a23bf90
  flink-connectors/flink-connector-gcp-pubsub/archunit-violations/97f3780e-2fb4-43fd-a58c-09ea654509a8
  flink-connectors/flink-connector-gcp-pubsub/archunit-violations/stored.rules
  flink-connectors/flink-connector-gcp-pubsub/pom.xml
  flink-connectors/flink-connector-gcp-pubsub/src/main/java/org/apache/flink/streaming/connectors/gcp/pubsub/BlockingGrpcPubSubSubscriber.java
  flink-connectors/flink-connector-gcp-pubsub/src/main/java/org/apache/flink/streaming/connectors/gcp/pubsub/DefaultPubSubSubscriberFactory.java
  flink-connectors/flink-connector-gcp-pubsub/src/main/java/org/apache/flink/streaming/connectors/gcp/pubsub/DeserializationSchemaWrapper.java
  flink-connectors/flink-connector-gcp-pubsub/src/main/java/org/apache/flink/streaming/connectors/gcp/pubsub/PubSubSink.java
  flink-connectors/flink-connector-gcp-pubsub/src/main/java/org/apache/flink/streaming/connectors/gcp/pubsub/PubSubSource.java
  flink-connectors/flink-connector-gcp-pubsub/src/main/java/org/apache/flink/streaming/connectors/gcp/pubsub/common/AcknowledgeIdsForCheckpoint.java
  flink-connectors/flink-connector-gcp-pubsub/src/main/java/org/apache/flink/streaming/connectors/gcp/pubsub/common/AcknowledgeOnCheckpoint.java
  flink-connectors/flink-connector-gcp-pubsub/src/main/java/org/apache/flink/streaming/connectors/gcp/pubsub/common/Acknowledger.java
  flink-connectors/flink-connector-gcp-pubsub/src/main/java/org/apache/flink/streaming/connectors/gcp/pubsub/common/PubSubDeserializationSchema.java
  flink-connectors/flink-connector-gcp-pubsub/src/main/java/org/apache/flink/streaming/connectors/gcp/pubsub/common/PubSubSubscriber.java
  flink-connectors/flink-connector-gcp-pubsub/src/main/java/org/apache/flink/streaming/connectors/gcp/pubsub/common/PubSubSubscriberFactory.java
  flink-connectors/flink-connector-gcp-pubsub/src/main/java/org/apache/flink/streaming/connectors/gcp/pubsub/emulator/EmulatorCredentials.java
  flink-connectors/flink-connector-gcp-pubsub/src/main/java/org/apache/flink/streaming/connectors/gcp/pubsub/emulator/EmulatorCredentialsProvider.java
  flink-connectors/flink-connector-gcp-pubsub/src/main/java/org/apache/flink/streaming/connectors/gcp/pubsub/emulator/PubSubSubscriberFactoryForEmulator.java
  flink-connectors/flink-connector-gcp-pubsub/src/test/java/org/apache/flink/architecture/TestCodeArchitectureTest.java
  flink-connectors/flink-connector-gcp-pubsub/src/test/java/org/apache/flink/streaming/connectors/gcp/pubsub/DeserializationSchemaWrapperTest.java
  flink-connectors/flink-connector-gcp-pubsub/src/test/java/org/apache/flink/streaming/connectors/gcp/pubsub/PubSubConsumingTest.java
  flink-connectors/flink-connector-gcp-pubsub/src/test/java/org/apache/flink/streaming/connectors/gcp/pubsub/PubSubSourceTest.java
  flink-connectors/flink-connector-gcp-pubsub/src/test/java/org/apache/flink/streaming/connectors/gcp/pubsub/common/AcknowledgeOnCheckpointTest.java
  flink-connectors/flink-connector-gcp-pubsub/src/test/resources/archunit.properties
  flink-connectors/flink-connector-gcp-pubsub/src/test/resources/log4j2-test.properties
  flink-connectors/pom.xml
  flink-end-to-end-tests/flink-connector-gcp-pubsub-emulator-tests/pom.xml
  flink-end-to-end-tests/flink-connector-gcp-pubsub-emulator-tests/src/test/java/org/apache/flink/streaming/connectors/gcp/pubsub/CheckPubSubEmulatorTest.java
  flink-end-to-end-tests/flink-connector-gcp-pubsub-emulator-tests/src/test/java/org/apache/flink/streaming/connectors/gcp/pubsub/EmulatedFullTopologyTest.java
  flink-end-to-end-tests/flink-connector-gcp-pubsub-emulator-tests/src/test/java/org/apache/flink/streaming/connectors/gcp/pubsub/EmulatedPubSubSinkTest.java
  flink-end-to-end-tests/flink-connector-gcp-pubsub-emulator-tests/src/test/java/org/apache/flink/streaming/connectors/gcp/pubsub/EmulatedPubSubSourceTest.java
  flink-end-to-end-tests/flink-connector-gcp-pubsub-emulator-tests/src/test/java/org/apache/flink/streaming/connectors/gcp/pubsub/SimpleStringSchemaWithStopMarkerDetection.java
  flink-end-to-end-tests/flink-connector-gcp-pubsub-emulator-tests/src/test/java/org/apache/flink/streaming/connectors/gcp/pubsub/emulator/GCloudUnitTestBase.java
  flink-end-to-end-tests/flink-connector-gcp-pubsub-emulator-tests/src/test/java/org/apache/flink/streaming/connectors/gcp/pubsub/emulator/PubsubHelper.java
  flink-end-to-end-tests/flink-connector-gcp-pubsub-emulator-tests/src/test/resources/log4j2-test.properties
  flink-end-to-end-tests/pom.xml
  flink-end-to-end-tests/run-nightly-tests.sh
  flink-end-to-end-tests/test-scripts/test_streaming_gcp_pubsub.sh
  flink-examples/flink-examples-build-helper/flink-examples-streaming-gcp-pubsub/pom.xml
  flink-examples/flink-examples-build-helper/flink-examples-streaming-gcp-pubsub/src/main/java/org/apache/flink/streaming/examples/gcp/pubsub/IntegerSerializer.java
  flink-examples/flink-examples-build-helper/flink-examples-streaming-gcp-pubsub/src/main/java/org/apache/flink/streaming/examples/gcp/pubsub/PubSubExample.java
  flink-examples/flink-examples-build-helper/flink-examples-streaming-gcp-pubsub/src/main/java/org/apache/flink/streaming/examples/gcp/pubsub/PubSubPublisher.java
  flink-examples/flink-examples-build-helper/pom.xml
  flink-test-utils-parent/flink-test-utils-junit/src/main/java/org/apache/flink/util/DockerImageVersions.java
  tools/ci/stage.sh
Labels: component=Connectors/GoogleCloudPubSub

#21806 [FLINK-29427][table] Fix unstable test LookupJoinITCase by compiling Projection class in advance and run reload task using userCodeClassLoader
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/functions/table/lookup/CachingLookupFunction.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/functions/table/lookup/fullcache/CacheLoader.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/functions/table/lookup/fullcache/LookupFullCache.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/functions/table/lookup/fullcache/inputformat/InputFormatCacheLoader.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/functions/table/fullcache/LookupFullCacheTest.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/functions/table/fullcache/inputformat/InputFormatCacheLoaderTest.java
Labels: component=TableSQL/Planner

#21815 [FLINK-28326][test] fix unstable test testIdleAndBackPressuredTime.
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/ResultPartitionTest.java
Labels: component=Runtime/Network

#21838 [FLINK-30889][conf] Fix the key of configuration SPECULATIVE_ENABLED.
  docs/layouts/shortcodes/generated/batch_execution_configuration.html
  docs/layouts/shortcodes/generated/expert_scheduling_section.html
  flink-core/src/main/java/org/apache/flink/configuration/BatchExecutionOptions.java
Labels: component=Runtime/Configuration

#21834 [FLINK-30881] Fixes Minikube version
  flink-end-to-end-tests/test-scripts/common_kubernetes.sh
Labels: component=Deployment/Kubernetes, component=TestInfrastructure

#21836 [BP-1.16][FLINK-30881][ci] Replaces optional minikube installation by mandatory removal
  flink-end-to-end-tests/test-scripts/common_kubernetes.sh
Labels: component=Deployment/Kubernetes, component=TestInfrastructure

#21837 [BP-1.15][FLINK-30881][ci] Replaces optional minikube installation by mandatory removal
  flink-end-to-end-tests/test-scripts/common_kubernetes.sh
Labels: component=Deployment/Kubernetes, component=TestInfrastructure

#21825 [FLINK-27848][runtime] Fix the problem that ZooKeeperLeaderElectionDriver keeps writing leader information, using up zxid.
  flink-runtime/src/main/java/org/apache/flink/runtime/leaderelection/ZooKeeperLeaderElectionDriver.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderelection/TestingLeaderElectionEventHandler.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderelection/ZooKeeperLeaderElectionTest.java
Labels: component=Runtime/Coordination

#21826 [BP-1.16][FLINK-27848][runtime] Fix the problem that ZooKeeperLeaderElectionDriver keeps writing leader information, using up zxid.
  flink-runtime/src/main/java/org/apache/flink/runtime/leaderelection/ZooKeeperLeaderElectionDriver.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderelection/TestingLeaderElectionEventHandler.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderelection/ZooKeeperLeaderElectionTest.java
Labels: component=Runtime/Coordination

#21842 [hotfix][FLINK-29038][datastream] Remove local timeout in AsyncWaitOperatorTest for testing guideline
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/async/AsyncWaitOperatorTest.java
Labels: component=API/DataStream

#21739 [FLINK-30673][docs][table] Add documentation for "EXPLAIN PLAN_ADVICE" statement
  docs/content.zh/docs/dev/table/sql/explain.md
  docs/content/docs/dev/table/sql/explain.md
Labels: component=TableSQL/API

#21799 [FLINK-30841][table-planner] Fix incorrect calc merge to avoid wrong plans
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/rules/logical/FlinkFilterCalcMergeRule.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/rules/logical/FlinkFilterProjectTransposeRule.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/rules/FlinkBatchRuleSets.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/rules/FlinkStreamRuleSets.scala
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/batch/sql/CalcMergeTest.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/common/CalcMergeTestBase.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/stream/sql/CalcMergeTest.java
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/CalcMergeTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/CalcTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/CalcMergeTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/CalcTest.xml
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/batch/sql/CalcTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/CalcTest.scala
Labels: component=TableSQL/Planner

#21547 [FLINK-30461][checkpoint] Fix the bug that the shared files will remain forever after the rocksdb incremental checkpoint exception
  flink-runtime/src/main/java/org/apache/flink/runtime/state/StateUtil.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBStateUploader.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/snapshot/RocksDBSnapshotStrategyBase.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/snapshot/RocksIncrementalSnapshotStrategy.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/snapshot/RocksNativeFullSnapshotStrategy.java
  flink-state-backends/flink-statebackend-rocksdb/src/test/java/org/apache/flink/contrib/streaming/state/RocksDBStateUploaderTest.java
Labels: component=Runtime/Checkpointing

#21393 [FLINK-27246][TableSQL/Runtime][master] - Include WHILE blocks in split generated java methods
  flink-table/flink-table-code-splitter/pom.xml
  flink-table/flink-table-code-splitter/src/main/java/org/apache/flink/table/codesplit/BlockStatementGrouper.java
  flink-table/flink-table-code-splitter/src/main/java/org/apache/flink/table/codesplit/BlockStatementRewriter.java
  flink-table/flink-table-code-splitter/src/main/java/org/apache/flink/table/codesplit/BlockStatementSplitter.java
  flink-table/flink-table-code-splitter/src/main/java/org/apache/flink/table/codesplit/IfStatementRewriter.java
  flink-table/flink-table-code-splitter/src/main/java/org/apache/flink/table/codesplit/JavaCodeSplitter.java
  flink-table/flink-table-code-splitter/src/main/java/org/apache/flink/table/codesplit/ReturnAndJumpCounter.java
  flink-table/flink-table-code-splitter/src/test/java/org/apache/flink/table/codesplit/BlockStatementGrouperTest.java
  flink-table/flink-table-code-splitter/src/test/java/org/apache/flink/table/codesplit/BlockStatementRewriterTest.java
  flink-table/flink-table-code-splitter/src/test/java/org/apache/flink/table/codesplit/BlockStatementSplitterTest.java
  flink-table/flink-table-code-splitter/src/test/java/org/apache/flink/table/codesplit/CodeRewriterTestBase.java
  flink-table/flink-table-code-splitter/src/test/java/org/apache/flink/table/codesplit/CodeSplitTestUtil.java
  flink-table/flink-table-code-splitter/src/test/java/org/apache/flink/table/codesplit/JavaCodeSplitterTest.java
  flink-table/flink-table-code-splitter/src/test/resources/block/code/TestIfInsideWhileLoopRewrite.java
  flink-table/flink-table-code-splitter/src/test/resources/block/code/TestIfMultipleSingleLineStatementRewrite.java
  flink-table/flink-table-code-splitter/src/test/resources/block/code/TestIfStatementRewrite.java
  flink-table/flink-table-code-splitter/src/test/resources/block/code/TestIfStatementRewrite1.java
  flink-table/flink-table-code-splitter/src/test/resources/block/code/TestIfStatementRewrite2.java
  flink-table/flink-table-code-splitter/src/test/resources/block/code/TestIfStatementRewrite3.java
  flink-table/flink-table-code-splitter/src/test/resources/block/code/TestNotRewriteIfStatementInFunctionWithReturnValue.java
  flink-table/flink-table-code-splitter/src/test/resources/block/code/TestRewriteInnerClass.java
  flink-table/flink-table-code-splitter/src/test/resources/block/code/TestWhileLoopInsideIfRewrite.java
  flink-table/flink-table-code-splitter/src/test/resources/block/code/TestWhileLoopRewrite.java
  flink-table/flink-table-code-splitter/src/test/resources/block/expected/TestIfInsideWhileLoopRewrite.java
  flink-table/flink-table-code-splitter/src/test/resources/block/expected/TestIfMultipleSingleLineStatementRewrite.java
  flink-table/flink-table-code-splitter/src/test/resources/block/expected/TestIfStatementRewrite.java
  flink-table/flink-table-code-splitter/src/test/resources/block/expected/TestIfStatementRewrite1.java
  flink-table/flink-table-code-splitter/src/test/resources/block/expected/TestIfStatementRewrite2.java
  flink-table/flink-table-code-splitter/src/test/resources/block/expected/TestIfStatementRewrite3.java
  flink-table/flink-table-code-splitter/src/test/resources/block/expected/TestNotRewriteIfStatementInFunctionWithReturnValue.java
  flink-table/flink-table-code-splitter/src/test/resources/block/expected/TestRewriteInnerClass.java
  flink-table/flink-table-code-splitter/src/test/resources/block/expected/TestWhileLoopInsideIfRewrite.java
  flink-table/flink-table-code-splitter/src/test/resources/block/expected/TestWhileLoopRewrite.java
  flink-table/flink-table-code-splitter/src/test/resources/groups/code/IfInWhile.txt
  flink-table/flink-table-code-splitter/src/test/resources/groups/code/WhileInIf.txt
  flink-table/flink-table-code-splitter/src/test/resources/groups/expected/IfInWhile.txt
  flink-table/flink-table-code-splitter/src/test/resources/groups/expected/WhileInIf.txt
  flink-table/flink-table-code-splitter/src/test/resources/if/expected/TestIfStatementRewrite.java
  flink-table/flink-table-code-splitter/src/test/resources/if/expected/TestRewriteInnerClass.java
  flink-table/flink-table-code-splitter/src/test/resources/splitter/code/TestNotSplitJavaCode.java
  flink-table/flink-table-code-splitter/src/test/resources/splitter/expected/TestNotSplitJavaCode.java
  flink-table/flink-table-code-splitter/src/test/resources/splitter/expected/TestSplitJavaCode.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/CodeSplitITCase.scala
Labels: component=TableSQL/Runtime

#21848 [bp-1.16][FLINK-29038][datastream] Remove local timeout in AsyncWaitOperatorTest for testing guideline
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/async/AsyncWaitOperatorTest.java
Labels: component=API/DataStream

#21800 [FLINK-30840][sql-client] Fix resource leak when creating Executor
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/SqlClient.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/Executor.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/ExecutorImpl.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliClientITCase.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliClientTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/ExecutorImplITCase.java
Labels: component=TableSQL/Client

#21827 [FLINK-30868][table-api] Fix to use origin LongSerializer for seriali…
  flink-java/src/main/java/org/apache/flink/api/java/io/CollectionInputFormat.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/typeutils/TimeIndicatorTypeInfo.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/utils/TableSchemaUtils.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/utils/TableSchemaUtilsTest.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/catalog/CatalogSchemaTable.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/FlinkCalciteCatalogReader.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/schema/LegacyCatalogSourceTable.scala
Labels: component=TableSQL/API

#21852 [BP-1.16][FLINK-29427][table] Let reload task to always use user code classloader in full caching
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/functions/table/lookup/CachingLookupFunction.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/functions/table/lookup/fullcache/CacheLoader.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/functions/table/lookup/fullcache/LookupFullCache.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/functions/table/lookup/fullcache/inputformat/InputFormatCacheLoader.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/functions/table/fullcache/LookupFullCacheTest.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/functions/table/fullcache/inputformat/InputFormatCacheLoaderTest.java
Labels: component=TableSQL/Planner

#21792 [FLINK-30830][docs] Temporal Table Function Samples for Java Do Not Work As-Is, And Some Functions Are Deprecated
  docs/content.zh/docs/dev/table/concepts/temporal_table_function.md
  docs/content/docs/dev/table/concepts/temporal_table_function.md
Labels: component=TableSQL/API

#21859 [FLINK-30916][checkpoint] Set the number of rocksdb uploader threads to 1 to solve the unstable bug of unit test
  flink-state-backends/flink-statebackend-rocksdb/src/test/java/org/apache/flink/contrib/streaming/state/RocksDBStateUploaderTest.java
Labels: component=Runtime/StateBackends

#21863 [FLINK-30666][doc] Add document for Delete/Update API
  docs/content.zh/docs/dev/table/sourcesSinks.md
  docs/content/docs/dev/table/sourcesSinks.md
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/connector/source/abilities/SupportsRowLevelModificationScan.java
Labels: component=TableSQL/API

#21507 [FLINK-30386] Fix the issue that column constraint lacks primary key not enforced check
  flink-connectors/flink-connector-hbase-1.4/src/test/java/org/apache/flink/connector/hbase1/HBaseConnectorITCase.java
  flink-connectors/flink-connector-hbase-2.2/src/test/java/org/apache/flink/connector/hbase2/HBaseConnectorITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/endpoint/hive/HiveServer2EndpointITCase.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/SqlConstraintValidator.java
  flink-table/flink-sql-parser/src/test/java/org/apache/flink/sql/parser/FlinkSqlParserImplTest.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/AlterSchemaConverter.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/SqlCreateTableConverter.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/SqlToOperationConverter.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/operations/SqlDdlToOperationConverterTest.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/TableEnvironmentTest.scala
Labels: component=TableSQL/API

#21871 [FLINK-30927][TableSQL/Runtime][master][bugfix] - Bug fix for FLINK-30927 - non-abstract methods have the same parameter types, declaring type and return type
  flink-table/flink-table-code-splitter/src/main/java/org/apache/flink/table/codesplit/BlockStatementRewriter.java
  flink-table/flink-table-code-splitter/src/test/java/org/apache/flink/table/codesplit/BlockStatementRewriterTest.java
  flink-table/flink-table-code-splitter/src/test/resources/block/code/TestRewriteTwoStatements.java
  flink-table/flink-table-code-splitter/src/test/resources/block/expected/TestIfInsideWhileLoopRewrite.java
  flink-table/flink-table-code-splitter/src/test/resources/block/expected/TestIfMultipleSingleLineStatementRewrite.java
  flink-table/flink-table-code-splitter/src/test/resources/block/expected/TestIfStatementRewrite.java
  flink-table/flink-table-code-splitter/src/test/resources/block/expected/TestIfStatementRewrite1.java
  flink-table/flink-table-code-splitter/src/test/resources/block/expected/TestIfStatementRewrite2.java
  flink-table/flink-table-code-splitter/src/test/resources/block/expected/TestIfStatementRewrite3.java
  flink-table/flink-table-code-splitter/src/test/resources/block/expected/TestRewriteInnerClass.java
  flink-table/flink-table-code-splitter/src/test/resources/block/expected/TestRewriteTwoStatements.java
  flink-table/flink-table-code-splitter/src/test/resources/block/expected/TestWhileLoopInsideIfRewrite.java
  flink-table/flink-table-code-splitter/src/test/resources/block/expected/TestWhileLoopRewrite.java
  flink-table/flink-table-code-splitter/src/test/resources/splitter/expected/TestSplitJavaCode.java
Labels: component=TableSQL/Planner

#21757 [FLINK-30788][runtime] Refactors AbstractHaServices.createLeaderElectionService to return LeaderElectionDriverFactory
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/highavailability/KubernetesMultipleComponentLeaderElectionHaServices.java
  flink-runtime/src/main/java/org/apache/flink/runtime/highavailability/AbstractHaServices.java
  flink-runtime/src/main/java/org/apache/flink/runtime/highavailability/zookeeper/ZooKeeperMultipleComponentLeaderElectionHaServices.java
  flink-runtime/src/test/java/org/apache/flink/runtime/highavailability/AbstractHaServicesTest.java
Labels: component=Runtime/Coordination

#21872 [BP-1.15][FLINK-28523][tests] Increase Zookeeper session timeouts
  flink-queryable-state/flink-queryable-state-runtime/src/test/java/org/apache/flink/queryablestate/itcases/HAQueryableStateFsBackendITCase.java
  flink-queryable-state/flink-queryable-state-runtime/src/test/java/org/apache/flink/queryablestate/itcases/HAQueryableStateRocksDBBackendITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderelection/LeaderElectionTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderelection/ZooKeeperLeaderElectionTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderretrieval/ZooKeeperLeaderRetrievalTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/testutils/ZooKeeperTestUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/util/ZooKeeperUtilsTreeCacheTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/zookeeper/ZooKeeperExtension.java
  flink-runtime/src/test/java/org/apache/flink/runtime/zookeeper/ZooKeeperResource.java
  flink-runtime/src/test/java/org/apache/flink/runtime/zookeeper/ZooKeeperTestEnvironment.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/EventTimeWindowCheckpointingITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/ResumeCheckpointManuallyITCase.java
  flink-tests/src/test/java/org/apache/flink/test/runtime/leaderelection/ZooKeeperLeaderElectionITCase.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YARNHighAvailabilityITCase.java
Labels: component=Runtime/Checkpointing

#21869 [FLINK-30910][runtime] Making test wait for stop to be called before finishing the bootstrap operation
  flink-clients/src/test/java/org/apache/flink/client/deployment/application/ApplicationDispatcherBootstrapTest.java
Labels: component=Runtime/Coordination

#21844 [BP-1.16][FLINK-28326][test] fix unstable test testIdleAndBackPressuredTime.
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/ResultPartitionTest.java
Labels: component=Runtime/Network

#21883 [BP-1.15][FLINK-30910][runtime] Making test wait for stop to be called before finishing the bootstrap operation (#21869)
  flink-clients/src/test/java/org/apache/flink/client/deployment/application/ApplicationDispatcherBootstrapTest.java
Labels: component=Runtime/Coordination

#21881 [BP-1.17][FLINK-30910][runtime] Making test wait for stop to be called before finishing the bootstrap operation (#21869)
  flink-clients/src/test/java/org/apache/flink/client/deployment/application/ApplicationDispatcherBootstrapTest.java
Labels: component=Runtime/Coordination

#21882 [BP-1.16][FLINK-30910][runtime] Making test wait for stop to be called before finishing the bootstrap operation (#21869)
  flink-clients/src/test/java/org/apache/flink/client/deployment/application/ApplicationDispatcherBootstrapTest.java
Labels: component=Runtime/Coordination

#21798 [FLINK-30837] Remove use of MutableByteArrayInputStream
  flink-formats/flink-avro-glue-schema-registry/src/main/java/org/apache/flink/formats/avro/glue/schema/registry/GlueSchemaRegistryInputStreamDeserializer.java
Labels: component=Formats

#21892 [FLINK-30640][SqlClient] Fix unstable ctas test in CliClientITCase
  flink-table/flink-sql-client/src/test/resources/sql/set.q
Labels: component=Connectors/Hive, component=TableSQL/Client

#21879 [FLINK-30927][TableSQL/Runtime][1.17][bugfix] - Bug fix for FLINK-30927 - non-abstract methods have the same parameter types, declaring type and return type
  flink-table/flink-table-code-splitter/src/main/java/org/apache/flink/table/codesplit/BlockStatementRewriter.java
  flink-table/flink-table-code-splitter/src/test/java/org/apache/flink/table/codesplit/BlockStatementRewriterTest.java
  flink-table/flink-table-code-splitter/src/test/resources/block/code/TestRewriteTwoStatements.java
  flink-table/flink-table-code-splitter/src/test/resources/block/expected/TestIfInsideWhileLoopRewrite.java
  flink-table/flink-table-code-splitter/src/test/resources/block/expected/TestIfMultipleSingleLineStatementRewrite.java
  flink-table/flink-table-code-splitter/src/test/resources/block/expected/TestIfStatementRewrite.java
  flink-table/flink-table-code-splitter/src/test/resources/block/expected/TestIfStatementRewrite1.java
  flink-table/flink-table-code-splitter/src/test/resources/block/expected/TestIfStatementRewrite2.java
  flink-table/flink-table-code-splitter/src/test/resources/block/expected/TestIfStatementRewrite3.java
  flink-table/flink-table-code-splitter/src/test/resources/block/expected/TestRewriteInnerClass.java
  flink-table/flink-table-code-splitter/src/test/resources/block/expected/TestRewriteTwoStatements.java
  flink-table/flink-table-code-splitter/src/test/resources/block/expected/TestWhileLoopInsideIfRewrite.java
  flink-table/flink-table-code-splitter/src/test/resources/block/expected/TestWhileLoopRewrite.java
  flink-table/flink-table-code-splitter/src/test/resources/splitter/expected/TestSplitJavaCode.java
Labels: component=TableSQL/Planner

#21860 [FLINK-27246][FLINK-30927][TableSQL/Runtime][1.16] - Include WHILE blocks in split generated java methods
  flink-table/flink-table-code-splitter/pom.xml
  flink-table/flink-table-code-splitter/src/main/java/org/apache/flink/table/codesplit/BlockStatementGrouper.java
  flink-table/flink-table-code-splitter/src/main/java/org/apache/flink/table/codesplit/BlockStatementRewriter.java
  flink-table/flink-table-code-splitter/src/main/java/org/apache/flink/table/codesplit/BlockStatementSplitter.java
  flink-table/flink-table-code-splitter/src/main/java/org/apache/flink/table/codesplit/IfStatementRewriter.java
  flink-table/flink-table-code-splitter/src/main/java/org/apache/flink/table/codesplit/JavaCodeSplitter.java
  flink-table/flink-table-code-splitter/src/main/java/org/apache/flink/table/codesplit/ReturnAndJumpCounter.java
  flink-table/flink-table-code-splitter/src/test/java/org/apache/flink/table/codesplit/BlockStatementGrouperTest.java
  flink-table/flink-table-code-splitter/src/test/java/org/apache/flink/table/codesplit/BlockStatementRewriterTest.java
  flink-table/flink-table-code-splitter/src/test/java/org/apache/flink/table/codesplit/BlockStatementSplitterTest.java
  flink-table/flink-table-code-splitter/src/test/java/org/apache/flink/table/codesplit/CodeRewriterTestBase.java
  flink-table/flink-table-code-splitter/src/test/java/org/apache/flink/table/codesplit/CodeSplitTestUtil.java
  flink-table/flink-table-code-splitter/src/test/java/org/apache/flink/table/codesplit/JavaCodeSplitterTest.java
  flink-table/flink-table-code-splitter/src/test/resources/block/code/TestIfInsideWhileLoopRewrite.java
  flink-table/flink-table-code-splitter/src/test/resources/block/code/TestIfMultipleSingleLineStatementRewrite.java
  flink-table/flink-table-code-splitter/src/test/resources/block/code/TestIfStatementRewrite.java
  flink-table/flink-table-code-splitter/src/test/resources/block/code/TestIfStatementRewrite1.java
  flink-table/flink-table-code-splitter/src/test/resources/block/code/TestIfStatementRewrite2.java
  flink-table/flink-table-code-splitter/src/test/resources/block/code/TestIfStatementRewrite3.java
  flink-table/flink-table-code-splitter/src/test/resources/block/code/TestNotRewriteIfStatementInFunctionWithReturnValue.java
  flink-table/flink-table-code-splitter/src/test/resources/block/code/TestRewriteInnerClass.java
  flink-table/flink-table-code-splitter/src/test/resources/block/code/TestRewriteTwoStatements.java
  flink-table/flink-table-code-splitter/src/test/resources/block/code/TestWhileLoopInsideIfRewrite.java
  flink-table/flink-table-code-splitter/src/test/resources/block/code/TestWhileLoopRewrite.java
  flink-table/flink-table-code-splitter/src/test/resources/block/expected/TestIfInsideWhileLoopRewrite.java
  flink-table/flink-table-code-splitter/src/test/resources/block/expected/TestIfMultipleSingleLineStatementRewrite.java
  flink-table/flink-table-code-splitter/src/test/resources/block/expected/TestIfStatementRewrite.java
  flink-table/flink-table-code-splitter/src/test/resources/block/expected/TestIfStatementRewrite1.java
  flink-table/flink-table-code-splitter/src/test/resources/block/expected/TestIfStatementRewrite2.java
  flink-table/flink-table-code-splitter/src/test/resources/block/expected/TestIfStatementRewrite3.java
  flink-table/flink-table-code-splitter/src/test/resources/block/expected/TestNotRewriteIfStatementInFunctionWithReturnValue.java
  flink-table/flink-table-code-splitter/src/test/resources/block/expected/TestRewriteInnerClass.java
  flink-table/flink-table-code-splitter/src/test/resources/block/expected/TestRewriteTwoStatements.java
  flink-table/flink-table-code-splitter/src/test/resources/block/expected/TestWhileLoopInsideIfRewrite.java
  flink-table/flink-table-code-splitter/src/test/resources/block/expected/TestWhileLoopRewrite.java
  flink-table/flink-table-code-splitter/src/test/resources/groups/code/IfInWhile.txt
  flink-table/flink-table-code-splitter/src/test/resources/groups/code/WhileInIf.txt
  flink-table/flink-table-code-splitter/src/test/resources/groups/expected/IfInWhile.txt
  flink-table/flink-table-code-splitter/src/test/resources/groups/expected/WhileInIf.txt
  flink-table/flink-table-code-splitter/src/test/resources/if/expected/TestIfStatementRewrite.java
  flink-table/flink-table-code-splitter/src/test/resources/if/expected/TestRewriteInnerClass.java
  flink-table/flink-table-code-splitter/src/test/resources/splitter/code/TestNotSplitJavaCode.java
  flink-table/flink-table-code-splitter/src/test/resources/splitter/expected/TestNotSplitJavaCode.java
  flink-table/flink-table-code-splitter/src/test/resources/splitter/expected/TestSplitJavaCode.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/CodeSplitITCase.scala
Labels: component=TableSQL/Planner

#21891 [FLINK-30940][sql-client] Redirect the interrupted exception to the log
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/ExecutorImplITCase.java
Labels: component=TableSQL/API

#21759 [FLINK-29237][table] Remove RexSimplify from Flink code, SearchOperator code generation for RexUnknown.nullAs
  flink-table/flink-table-planner/src/main/java/org/apache/calcite/rex/RexSimplify.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/calls/SearchOperatorGen.scala
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/CalcTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/CalcTest.xml
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/CalcITCase.scala
Labels: component=TableSQL/Planner, component=TableSQL/API

#21907 [FLINK-30785][tests] Ignore completeExceptionally in e2e test logs
  flink-end-to-end-tests/test-scripts/common.sh
Labels: component=Runtime/Checkpointing

#21679 [FLINK-30561][state/changelog] fix changelog local cache file not found
  flink-dstl/flink-dstl-dfs/pom.xml
  flink-dstl/flink-dstl-dfs/src/main/java/org/apache/flink/changelog/fs/ChangelogStreamHandleReaderWithCache.java
  flink-dstl/flink-dstl-dfs/src/test/java/org/apache/flink/changelog/fs/ChangelogStreamHandleReaderWithCacheTest.java
Labels: component=Runtime/StateBackends

#21812 [FLINK-28440][state/changelog] record reference count of StreamStateHandle in TaskChangelogRegistry
  flink-dstl/flink-dstl-dfs/src/main/java/org/apache/flink/changelog/fs/AbstractStateChangeFsUploader.java
  flink-dstl/flink-dstl-dfs/src/main/java/org/apache/flink/changelog/fs/FsStateChangelogWriter.java
  flink-dstl/flink-dstl-dfs/src/main/java/org/apache/flink/changelog/fs/TaskChangelogRegistry.java
  flink-dstl/flink-dstl-dfs/src/main/java/org/apache/flink/changelog/fs/TaskChangelogRegistryImpl.java
  flink-dstl/flink-dstl-dfs/src/test/java/org/apache/flink/changelog/fs/DiscardRecordableStateChangeUploader.java
  flink-dstl/flink-dstl-dfs/src/test/java/org/apache/flink/changelog/fs/FsStateChangelogWriterTest.java
  flink-dstl/flink-dstl-dfs/src/test/java/org/apache/flink/changelog/fs/TaskChangelogRegistryImplTest.java
  flink-dstl/flink-dstl-dfs/src/test/java/org/apache/flink/changelog/fs/TestingBatchingUploadScheduler.java
  flink-state-backends/flink-statebackend-changelog/src/test/java/org/apache/flink/state/changelog/ChangelogStateDiscardTest.java
Labels: component=Runtime/StateBackends, component=Runtime/Checkpointing

#21896 [FLINK-30640][sql-client] Fix unstable ctas test in CliClientITCase
  flink-table/flink-sql-client/src/test/resources/sql/set.q
Labels: component=Connectors/Hive, component=TableSQL/Client

#18893 [FLINK-25813][table-planner] Fix unstable test TableITCase#testCollectWithClose
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/TableITCase.scala
Labels: component=TableSQL/Runtime

#21921 [BP-1.17][FLINK-25813][table-planner] Fix unstable test TableITCase#testCollectWithClose
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/TableITCase.scala
Labels: component=TableSQL/Runtime

#21922 [BP-1.16][FLINK-25813][table-planner] Fix unstable test TableITCase#testCollectWithClose
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/TableITCase.scala
Labels: component=TableSQL/Runtime

#21893 [FLINK-30961][Python] Remove deprecated "tests_require" in setup.py
  flink-python/dev/dev-requirements.txt
  flink-python/setup.py
  flink-python/tox.ini
Labels: component=API/Python

#21917 [FLINK-31015][connectors/common] Fix SplitReader doesn't extends AutoCloseable but implements close method
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/reader/splitreader/SplitReader.java
Labels: component=Connectors/Common

#21675 [FLINK-30690][javadocs][spelling] Fix java documentation and some wor…
  docs/content.zh/docs/connectors/datastream/kafka.md
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/src/reader/BulkFormat.java
  flink-core/src/main/java/org/apache/flink/api/common/typeutils/CompositeTypeSerializerSnapshot.java
  flink-core/src/main/java/org/apache/flink/core/fs/LocatedFileStatus.java
  flink-core/src/main/java/org/apache/flink/util/concurrent/FutureUtils.java
  flink-java/src/main/java/org/apache/flink/api/java/DataSet.java
  flink-libraries/flink-cep/src/main/java/org/apache/flink/cep/nfa/NFA.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/functions/KeyedStateBootstrapFunction.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/runtime/OperatorIDGenerator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/channel/ChannelStateWriter.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/ResultPartitionType.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobgraph/tasks/TaskInvokable.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/StateSerializerProvider.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/heap/StateMap.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/source/SourceFunction.java
  flink-table/flink-sql-parser/src/test/java/org/apache/flink/sql/parser/FlinkSqlParserImplTest.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/utils/ProjectionOperationFactory.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/api/DataTypes.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/rules/logical/FlinkFilterJoinRule.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/window/state/WindowListState.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/utils/SnapshotMigrationTestBase.java
  pom.xml
Labels: component=<none>

#21503 [FLINK-30251] Move the IO with DFS during abort checkpoint to an asynchronous thread pool.
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/SubtaskCheckpointCoordinatorImpl.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/SubtaskCheckpointCoordinatorTest.java
Labels: component=Runtime/Checkpointing

#21938 [FLINK-31082][table-planner] Setting maven property 'flink.resueForks' to false in table planner module
  flink-table/flink-table-planner/pom.xml
Labels: component=TableSQL/Planner

#21846 [FLINK-31086][DOC]update connector lable for blackhole and kafka
  docs/content.zh/docs/connectors/table/kafka.md
  docs/content/docs/connectors/table/blackhole.md
  docs/content/docs/connectors/table/kafka.md
Labels: component=Documentation

#21696 [FLINK-30257] fix SqlClientITCase#testMatchRecognize
  flink-end-to-end-tests/flink-sql-client-test/src/test/java/SqlClientITCase.java
Labels: component=TableSQL/Client

#21870 [FLINK-30928][tests] Change to eclipse-temurin due to openjdk deprecation
  flink-end-to-end-tests/test-scripts/docker-hadoop-secure-cluster/hadoop/Dockerfile
Labels: component=Tests

#19824 [FLINK-27800][streaming] Fix the error check in StreamNode#addInEdge
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/StreamNode.java
Labels: component=API/Core

#21889 [FLINK-29801][runtime] FLIP-274: Introduce metric group for OperatorCoordinator
  docs/layouts/shortcodes/generated/metric_configuration.html
  flink-core/src/main/java/org/apache/flink/configuration/MetricOptions.java
  flink-docs/README.md
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/ExecutionJobVertex.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/SpeculativeExecutionJobVertex.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/dump/MetricDumpSerialization.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/dump/QueryScopeInfo.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/groups/InternalOperatorCoordinatorMetricGroup.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/groups/JobManagerJobMetricGroup.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/groups/JobManagerOperatorMetricGroup.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/groups/UnregisteredMetricGroups.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/scope/JobManagerOperatorScopeFormat.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/scope/ScopeFormats.java
  flink-runtime/src/main/java/org/apache/flink/runtime/operators/coordination/OperatorCoordinator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/operators/coordination/OperatorCoordinatorHolder.java
  flink-runtime/src/main/java/org/apache/flink/runtime/operators/coordination/RecreateOnResetOperatorCoordinator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/handler/legacy/metrics/MetricStore.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/DefaultOperatorCoordinatorHandler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/OperatorCoordinatorHandler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/SchedulerBase.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveScheduler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/CreatingExecutionGraph.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptivebatch/AdaptiveBatchScheduler.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/dump/MetricDumpSerializerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/dump/QueryScopeInfoTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/InternalOperatorCoordinatorGroupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/JobManagerOperatorGroupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/operators/coordination/MockOperatorCoordinatorContext.java
  flink-runtime/src/test/java/org/apache/flink/runtime/operators/coordination/OperatorCoordinatorHolderTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/handler/legacy/metrics/MetricFetcherTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/handler/legacy/metrics/MetricStoreTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/DefaultOperatorCoordinatorHandlerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/CreatingExecutionGraphTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/TestingOperatorCoordinatorHandler.java
Labels: component=Runtime/Coordination

#21908 [FLINK-30895][coordination] Dynamically adjust slot distribution
  docs/content.zh/docs/deployment/elastic_scaling.md
  docs/content/docs/deployment/elastic_scaling.md
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/JobGraphJobInformation.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/allocator/JobInformation.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/allocator/SlotSharingSlotAllocator.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/allocator/SlotSharingSlotAllocatorTest.java
Labels: component=Runtime/Coordination

#21950 [FLINK-31082][table-planner] Fixups for setting maven property 'flinkresueForks' to false in table planner module in right way
  flink-table/flink-table-planner/pom.xml
Labels: component=TableSQL/Planner

#21900 [FLINK-30971][table-runtime] Modify the default value of parameter 'table.exec.local-hash-agg.adaptive.sampling-threshold'
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/agg/batch/HashAggCodeGenerator.scala
Labels: component=TableSQL/Runtime

#21919 [FLINK-15550][runtime] The static latches in TaskTest were replaced by latches from invokable objects
  flink-runtime/src/test/java/org/apache/flink/runtime/taskmanager/TaskTest.java
Labels: component=Runtime/Task

#21789 [FLINK-30824][hive] Add document for option table.exec.hive.native-agg-function.enabled
  docs/content.zh/docs/connectors/table/hive/hive_functions.md
  docs/content/docs/connectors/table/hive/hive_functions.md
Labels: component=Connectors/Hive

#21973 [FLINK-31119][tests] Use even # of slots
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/JobRecoveryITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/TestingAbstractInvokables.java
Labels: component=Runtime/Coordination

#21960 [FLINK-31036][test][checkpoint] FileSystemCheckpointStorage as the default for test
  flink-runtime/src/test/java/org/apache/flink/runtime/testutils/MiniClusterResource.java
Labels: component=Tests, component=Runtime/Checkpointing

#21972 [FLINK-31036][test][checkpoint] FileSystemCheckpointStorage as the default for test
  flink-runtime/src/test/java/org/apache/flink/runtime/testutils/MiniClusterResource.java
Labels: component=Tests, component=Runtime/Checkpointing

#21976 [FLINK-31137][hive] Fix wrong ResultKind in DescribeTable and ShowCre…
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveOperationExecutor.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDialectITCase.java
Labels: component=TableSQL/Client

#21964 [FLINK-30948][Formats/AWS] Remove GlueSchemaRegistry Avro and JSON fo…
  azure-pipelines.yml
  flink-end-to-end-tests/flink-glue-schema-registry-avro-test/pom.xml
  flink-end-to-end-tests/flink-glue-schema-registry-avro-test/src/test/java/org/apache/flink/glue/schema/registry/test/GSRKinesisPubsubClient.java
  flink-end-to-end-tests/flink-glue-schema-registry-avro-test/src/test/java/org/apache/flink/glue/schema/registry/test/GlueSchemaRegistryAvroKinesisITCase.java
  flink-end-to-end-tests/flink-glue-schema-registry-avro-test/src/test/resources/avro/user.avsc
  flink-end-to-end-tests/flink-glue-schema-registry-avro-test/src/test/resources/log4j2-test.properties
  flink-end-to-end-tests/flink-glue-schema-registry-json-test/pom.xml
  flink-end-to-end-tests/flink-glue-schema-registry-json-test/src/test/java/org/apache/flink/glue/schema/registry/test/json/GSRKinesisPubsubClient.java
  flink-end-to-end-tests/flink-glue-schema-registry-json-test/src/test/java/org/apache/flink/glue/schema/registry/test/json/GlueSchemaRegistryJsonKinesisITCase.java
  flink-end-to-end-tests/flink-glue-schema-registry-json-test/src/test/resources/log4j2-test.properties
  flink-end-to-end-tests/pom.xml
  flink-formats/flink-avro-glue-schema-registry/archunit-violations/3e77c07d-dfdb-4ec0-8e64-5fad5c651c72
  flink-formats/flink-avro-glue-schema-registry/archunit-violations/dc78e80c-3bb3-45bb-87c1-b57472d6f45b
  flink-formats/flink-avro-glue-schema-registry/archunit-violations/stored.rules
  flink-formats/flink-avro-glue-schema-registry/pom.xml
  flink-formats/flink-avro-glue-schema-registry/src/main/java/org/apache/flink/formats/avro/glue/schema/registry/GlueSchemaRegistryAvroDeserializationSchema.java
  flink-formats/flink-avro-glue-schema-registry/src/main/java/org/apache/flink/formats/avro/glue/schema/registry/GlueSchemaRegistryAvroSchemaCoder.java
  flink-formats/flink-avro-glue-schema-registry/src/main/java/org/apache/flink/formats/avro/glue/schema/registry/GlueSchemaRegistryAvroSchemaCoderProvider.java
  flink-formats/flink-avro-glue-schema-registry/src/main/java/org/apache/flink/formats/avro/glue/schema/registry/GlueSchemaRegistryAvroSerializationSchema.java
  flink-formats/flink-avro-glue-schema-registry/src/main/java/org/apache/flink/formats/avro/glue/schema/registry/GlueSchemaRegistryInputStreamDeserializer.java
  flink-formats/flink-avro-glue-schema-registry/src/main/java/org/apache/flink/formats/avro/glue/schema/registry/GlueSchemaRegistryOutputStreamSerializer.java
  flink-formats/flink-avro-glue-schema-registry/src/test/java/org/apache/flink/architecture/TestCodeArchitectureTest.java
  flink-formats/flink-avro-glue-schema-registry/src/test/java/org/apache/flink/formats/avro/glue/schema/registry/GlueSchemaRegistryAvroDeserializationSchemaTest.java
  flink-formats/flink-avro-glue-schema-registry/src/test/java/org/apache/flink/formats/avro/glue/schema/registry/GlueSchemaRegistryAvroSchemaCoderTest.java
  flink-formats/flink-avro-glue-schema-registry/src/test/java/org/apache/flink/formats/avro/glue/schema/registry/GlueSchemaRegistryAvroSerializationSchemaTest.java
  flink-formats/flink-avro-glue-schema-registry/src/test/java/org/apache/flink/formats/avro/glue/schema/registry/GlueSchemaRegistryInputStreamDeserializerTest.java
  flink-formats/flink-avro-glue-schema-registry/src/test/java/org/apache/flink/formats/avro/glue/schema/registry/GlueSchemaRegistryOutputStreamSerializerTest.java
  flink-formats/flink-avro-glue-schema-registry/src/test/java/org/apache/flink/formats/avro/glue/schema/registry/User.java
  flink-formats/flink-avro-glue-schema-registry/src/test/java/resources/avro/user.avsc
  flink-formats/flink-avro-glue-schema-registry/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
  flink-formats/flink-avro-glue-schema-registry/src/test/resources/archunit.properties
  flink-formats/flink-json-glue-schema-registry/archunit-violations/4703059b-4f06-41c9-9724-644e6d00584f
  flink-formats/flink-json-glue-schema-registry/archunit-violations/b99819a4-a946-475e-883f-963de77c7e57
  flink-formats/flink-json-glue-schema-registry/archunit-violations/stored.rules
  flink-formats/flink-json-glue-schema-registry/pom.xml
  flink-formats/flink-json-glue-schema-registry/src/main/java/org/apache/flink/formats/json/glue/schema/registry/GlueSchemaRegistryJsonDeserializationSchema.java
  flink-formats/flink-json-glue-schema-registry/src/main/java/org/apache/flink/formats/json/glue/schema/registry/GlueSchemaRegistryJsonSchemaCoder.java
  flink-formats/flink-json-glue-schema-registry/src/main/java/org/apache/flink/formats/json/glue/schema/registry/GlueSchemaRegistryJsonSchemaCoderProvider.java
  flink-formats/flink-json-glue-schema-registry/src/main/java/org/apache/flink/formats/json/glue/schema/registry/GlueSchemaRegistryJsonSerializationSchema.java
  flink-formats/flink-json-glue-schema-registry/src/test/java/org/apache/flink/architecture/TestCodeArchitectureTest.java
  flink-formats/flink-json-glue-schema-registry/src/test/java/org/apache/flink/formats/json/glue/schema/registry/Car.java
  flink-formats/flink-json-glue-schema-registry/src/test/java/org/apache/flink/formats/json/glue/schema/registry/GlueSchemaRegistryJsonDeserializationSchemaTest.java
  flink-formats/flink-json-glue-schema-registry/src/test/java/org/apache/flink/formats/json/glue/schema/registry/GlueSchemaRegistryJsonSchemaCoderTest.java
  flink-formats/flink-json-glue-schema-registry/src/test/java/org/apache/flink/formats/json/glue/schema/registry/GlueSchemaRegistryJsonSerializationSchemaTest.java
  flink-formats/flink-json-glue-schema-registry/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
  flink-formats/flink-json-glue-schema-registry/src/test/resources/archunit.properties
  flink-formats/pom.xml
  tools/azure-pipelines/build-apache-repo.yml
  tools/azure-pipelines/e2e-template.yml
  tools/azure-pipelines/jobs-template.yml
  tools/ci/stage.sh
  tools/maven/suppressions.xml
Labels: component=Formats

#21969 [FLINK-30948][Formats/AWS] Remove GlueSchemaRegistry Avro and JSON fo…
  azure-pipelines.yml
  flink-end-to-end-tests/flink-glue-schema-registry-avro-test/pom.xml
  flink-end-to-end-tests/flink-glue-schema-registry-avro-test/src/test/java/org/apache/flink/glue/schema/registry/test/GSRKinesisPubsubClient.java
  flink-end-to-end-tests/flink-glue-schema-registry-avro-test/src/test/java/org/apache/flink/glue/schema/registry/test/GlueSchemaRegistryAvroKinesisITCase.java
  flink-end-to-end-tests/flink-glue-schema-registry-avro-test/src/test/resources/avro/user.avsc
  flink-end-to-end-tests/flink-glue-schema-registry-avro-test/src/test/resources/log4j2-test.properties
  flink-end-to-end-tests/flink-glue-schema-registry-json-test/pom.xml
  flink-end-to-end-tests/flink-glue-schema-registry-json-test/src/test/java/org/apache/flink/glue/schema/registry/test/json/GSRKinesisPubsubClient.java
  flink-end-to-end-tests/flink-glue-schema-registry-json-test/src/test/java/org/apache/flink/glue/schema/registry/test/json/GlueSchemaRegistryJsonKinesisITCase.java
  flink-end-to-end-tests/flink-glue-schema-registry-json-test/src/test/resources/log4j2-test.properties
  flink-end-to-end-tests/pom.xml
  flink-formats/flink-avro-glue-schema-registry/archunit-violations/3e77c07d-dfdb-4ec0-8e64-5fad5c651c72
  flink-formats/flink-avro-glue-schema-registry/archunit-violations/dc78e80c-3bb3-45bb-87c1-b57472d6f45b
  flink-formats/flink-avro-glue-schema-registry/archunit-violations/stored.rules
  flink-formats/flink-avro-glue-schema-registry/pom.xml
  flink-formats/flink-avro-glue-schema-registry/src/main/java/org/apache/flink/formats/avro/glue/schema/registry/GlueSchemaRegistryAvroDeserializationSchema.java
  flink-formats/flink-avro-glue-schema-registry/src/main/java/org/apache/flink/formats/avro/glue/schema/registry/GlueSchemaRegistryAvroSchemaCoder.java
  flink-formats/flink-avro-glue-schema-registry/src/main/java/org/apache/flink/formats/avro/glue/schema/registry/GlueSchemaRegistryAvroSchemaCoderProvider.java
  flink-formats/flink-avro-glue-schema-registry/src/main/java/org/apache/flink/formats/avro/glue/schema/registry/GlueSchemaRegistryAvroSerializationSchema.java
  flink-formats/flink-avro-glue-schema-registry/src/main/java/org/apache/flink/formats/avro/glue/schema/registry/GlueSchemaRegistryInputStreamDeserializer.java
  flink-formats/flink-avro-glue-schema-registry/src/main/java/org/apache/flink/formats/avro/glue/schema/registry/GlueSchemaRegistryOutputStreamSerializer.java
  flink-formats/flink-avro-glue-schema-registry/src/test/java/org/apache/flink/architecture/TestCodeArchitectureTest.java
  flink-formats/flink-avro-glue-schema-registry/src/test/java/org/apache/flink/formats/avro/glue/schema/registry/GlueSchemaRegistryAvroDeserializationSchemaTest.java
  flink-formats/flink-avro-glue-schema-registry/src/test/java/org/apache/flink/formats/avro/glue/schema/registry/GlueSchemaRegistryAvroSchemaCoderTest.java
  flink-formats/flink-avro-glue-schema-registry/src/test/java/org/apache/flink/formats/avro/glue/schema/registry/GlueSchemaRegistryAvroSerializationSchemaTest.java
  flink-formats/flink-avro-glue-schema-registry/src/test/java/org/apache/flink/formats/avro/glue/schema/registry/GlueSchemaRegistryInputStreamDeserializerTest.java
  flink-formats/flink-avro-glue-schema-registry/src/test/java/org/apache/flink/formats/avro/glue/schema/registry/GlueSchemaRegistryOutputStreamSerializerTest.java
  flink-formats/flink-avro-glue-schema-registry/src/test/java/org/apache/flink/formats/avro/glue/schema/registry/User.java
  flink-formats/flink-avro-glue-schema-registry/src/test/java/resources/avro/user.avsc
  flink-formats/flink-avro-glue-schema-registry/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
  flink-formats/flink-avro-glue-schema-registry/src/test/resources/archunit.properties
  flink-formats/flink-json-glue-schema-registry/archunit-violations/4703059b-4f06-41c9-9724-644e6d00584f
  flink-formats/flink-json-glue-schema-registry/archunit-violations/b99819a4-a946-475e-883f-963de77c7e57
  flink-formats/flink-json-glue-schema-registry/archunit-violations/stored.rules
  flink-formats/flink-json-glue-schema-registry/pom.xml
  flink-formats/flink-json-glue-schema-registry/src/main/java/org/apache/flink/formats/json/glue/schema/registry/GlueSchemaRegistryJsonDeserializationSchema.java
  flink-formats/flink-json-glue-schema-registry/src/main/java/org/apache/flink/formats/json/glue/schema/registry/GlueSchemaRegistryJsonSchemaCoder.java
  flink-formats/flink-json-glue-schema-registry/src/main/java/org/apache/flink/formats/json/glue/schema/registry/GlueSchemaRegistryJsonSchemaCoderProvider.java
  flink-formats/flink-json-glue-schema-registry/src/main/java/org/apache/flink/formats/json/glue/schema/registry/GlueSchemaRegistryJsonSerializationSchema.java
  flink-formats/flink-json-glue-schema-registry/src/test/java/org/apache/flink/architecture/TestCodeArchitectureTest.java
  flink-formats/flink-json-glue-schema-registry/src/test/java/org/apache/flink/formats/json/glue/schema/registry/Car.java
  flink-formats/flink-json-glue-schema-registry/src/test/java/org/apache/flink/formats/json/glue/schema/registry/GlueSchemaRegistryJsonDeserializationSchemaTest.java
  flink-formats/flink-json-glue-schema-registry/src/test/java/org/apache/flink/formats/json/glue/schema/registry/GlueSchemaRegistryJsonSchemaCoderTest.java
  flink-formats/flink-json-glue-schema-registry/src/test/java/org/apache/flink/formats/json/glue/schema/registry/GlueSchemaRegistryJsonSerializationSchemaTest.java
  flink-formats/flink-json-glue-schema-registry/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
  flink-formats/flink-json-glue-schema-registry/src/test/resources/archunit.properties
  flink-formats/pom.xml
  tools/azure-pipelines/build-apache-repo.yml
  tools/azure-pipelines/e2e-template.yml
  tools/azure-pipelines/jobs-template.yml
  tools/ci/stage.sh
  tools/maven/suppressions.xml
Labels: component=Formats

#21901 [FLINK-30968][sql-client] Sql client supports dynamic config to open session
  docs/content.zh/docs/dev/table/sqlClient.md
  docs/content/docs/dev/table/sqlClient.md
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliOptions.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliOptionsParser.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/DefaultContextUtils.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/SqlClientTest.java
  flink-table/flink-sql-client/src/test/resources/cli/all-mode-help.out
  flink-table/flink-sql-client/src/test/resources/cli/embedded-mode-help.out
  flink-table/flink-sql-client/src/test/resources/cli/gateway-mode-help.out
Labels: component=TableSQL/Client

#21980 [FLINK-31137][hive] Fix wrong ResultKind in DescribeTable and ShowCre…
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveOperationExecutor.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDialectITCase.java
Labels: component=Connectors/Hive

#21945 [FLINK-31091][Table SQL/Client] Add Ser/de for Interval types
  flink-table/flink-sql-client/src/test/resources/sql/select.q
  flink-table/flink-sql-client/src/test/resources/sql/select_batch.q
  flink-table/flink-sql-gateway/src/main/java/org/apache/flink/table/gateway/rest/serde/LogicalTypeJsonDeserializer.java
  flink-table/flink-sql-gateway/src/main/java/org/apache/flink/table/gateway/rest/serde/LogicalTypeJsonSerializer.java
  flink-table/flink-sql-gateway/src/test/java/org/apache/flink/table/gateway/rest/serde/LogicalTypeJsonSerDeTest.java
  flink-table/flink-sql-gateway/src/test/java/org/apache/flink/table/gateway/rest/serde/ResultInfoJsonSerDeTest.java
  flink-table/flink-sql-gateway/src/test/resources/result_info_json_format.txt
  flink-table/flink-sql-gateway/src/test/resources/result_info_plain_text_format.txt
Labels: component=TableSQL/Client

#21974 [FLINK-31136][sql-client] Forbid sql client to read flink-conf.yaml i…
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/DefaultContextUtils.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/SqlClientTest.java
  flink-table/flink-sql-gateway/src/main/java/org/apache/flink/table/gateway/SqlGateway.java
  flink-table/flink-sql-gateway/src/main/java/org/apache/flink/table/gateway/service/context/DefaultContext.java
  flink-table/flink-sql-gateway/src/test/java/org/apache/flink/table/gateway/service/utils/SqlGatewayServiceExtension.java
Labels: component=TableSQL/Client

#21970 [FLINK-31041][runtime] Fix multiple restoreState when GlobalFailure occurs in a short period.
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/DefaultScheduler.java
  flink-runtime/src/test/java/org/apache/flink/runtime/operators/coordination/OperatorCoordinatorSchedulerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/operators/coordination/TestingOperatorCoordinator.java
Labels: component=Runtime/Coordination

#21988 [FLINK-31175][doc] Fix link doesn't work in hive_read_write doc
  docs/content/docs/connectors/table/hive/hive_read_write.md
Labels: component=Documentation

#21991 [BP-1.17][FLINK-31091][sql-gateway] Add Ser/de for Interval types
  flink-table/flink-sql-client/src/test/resources/sql/select.q
  flink-table/flink-sql-gateway/src/main/java/org/apache/flink/table/gateway/rest/serde/LogicalTypeJsonDeserializer.java
  flink-table/flink-sql-gateway/src/main/java/org/apache/flink/table/gateway/rest/serde/LogicalTypeJsonSerializer.java
  flink-table/flink-sql-gateway/src/test/java/org/apache/flink/table/gateway/rest/serde/LogicalTypeJsonSerDeTest.java
  flink-table/flink-sql-gateway/src/test/java/org/apache/flink/table/gateway/rest/serde/ResultInfoJsonSerDeTest.java
  flink-table/flink-sql-gateway/src/test/resources/result_info_json_format.txt
  flink-table/flink-sql-gateway/src/test/resources/result_info_plain_text_format.txt
Labels: component=TableSQL/Client

#21961 [FLINK-31120] Add concurrent access control for collectorIterators in StreamExecutionEnvironment
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/environment/StreamExecutionEnvironment.java
Labels: component=TableSQL/Runtime

#21987 Cherry pick FLINK-31136 to master
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/DefaultContextUtils.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/SqlClientTest.java
  flink-table/flink-sql-gateway/src/main/java/org/apache/flink/table/gateway/SqlGateway.java
  flink-table/flink-sql-gateway/src/main/java/org/apache/flink/table/gateway/service/context/DefaultContext.java
  flink-table/flink-sql-gateway/src/test/java/org/apache/flink/table/gateway/service/utils/SqlGatewayServiceExtension.java
Labels: component=TableSQL/Client

#21949 [FLINK-31082][table-planner] Setting maven property 'flink.resueForks' to false in table planner module
  flink-table/flink-table-planner/pom.xml
Labels: component=TableSQL/Planner

#21994 [BP-1.15][FLINK-31041][runtime] Fix multiple restoreState when GlobalFailure occurs in a short period.
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/DefaultScheduler.java
  flink-runtime/src/test/java/org/apache/flink/runtime/operators/coordination/OperatorCoordinatorSchedulerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/operators/coordination/TestingOperatorCoordinator.java
Labels: component=Runtime/Coordination

#21995 [BP-1.16][FLINK-31041][runtime] Fix multiple restoreState when GlobalFailure occurs in a short period.
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/DefaultScheduler.java
  flink-runtime/src/test/java/org/apache/flink/runtime/operators/coordination/OperatorCoordinatorSchedulerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/operators/coordination/TestingOperatorCoordinator.java
Labels: component=Runtime/Coordination

#21996 [BP-1.17][FLINK-31041][runtime] Fix multiple restoreState when GlobalFailure occurs in a short period.
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/DefaultScheduler.java
  flink-runtime/src/test/java/org/apache/flink/runtime/operators/coordination/OperatorCoordinatorSchedulerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/operators/coordination/TestingOperatorCoordinator.java
Labels: component=Runtime/Coordination

#21985 [FLINK-31162][yarn] Use currUsr.getCredentials.getTokens instead of currUsr.getTokens
  flink-yarn/src/main/java/org/apache/flink/yarn/Utils.java
Labels: component=Deployment/YARN

#22000 [FLINK-31183][Connector/Kinesis] Fix bug where EFO Consumer can fail …
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/internals/ShardConsumer.java
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/fanout/FanOutRecordPublisher.java
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/fanout/FanOutRecordPublisherFactory.java
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/fanout/FanOutShardSubscriber.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/fanout/FanOutRecordPublisherTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/fanout/FanOutShardSubscriberTest.java
Labels: component=Connectors/Kinesis

#22008 [FLINK-31183][Connector/Kinesis] Fix bug where EFO Consumer can fail …
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/internals/ShardConsumer.java
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/fanout/FanOutRecordPublisher.java
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/fanout/FanOutRecordPublisherFactory.java
  flink-connectors/flink-connector-kinesis/src/main/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/fanout/FanOutShardSubscriber.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/fanout/FanOutRecordPublisherTest.java
  flink-connectors/flink-connector-kinesis/src/test/java/org/apache/flink/streaming/connectors/kinesis/internals/publisher/fanout/FanOutShardSubscriberTest.java
Labels: component=Connectors/Kinesis

#22004 [FLINK-27115][blob] Enrich the error log with remote address for blobServer
  flink-runtime/src/main/java/org/apache/flink/runtime/blob/BlobServerConnection.java
Labels: component=Runtime/Coordination

#22007 [FLINK-31142][Table SQL/Client] Catch TokenMgrError in SqlCommandParserImpl#scan
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/parser/SqlCommandParserImpl.java
  flink-table/flink-sql-client/src/test/resources/sql/select.q
Labels: component=TableSQL/Client

#22017 [BP-1.17][FLINK-31142][Table SQL/Client] Catch TokenMgrError in SqlCommandParserImpl#scan
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/parser/SqlCommandParserImpl.java
  flink-table/flink-sql-client/src/test/resources/sql/select.q
Labels: component=TableSQL/Client

#22009 [FLINK-31109][yarn] Support Hadoop proxy user when delegation token f…
  flink-runtime/src/main/java/org/apache/flink/runtime/security/modules/HadoopModule.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/hadoop/HBaseDelegationTokenProvider.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/hadoop/HadoopFSDelegationTokenProvider.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/hadoop/KerberosLoginProvider.java
  flink-runtime/src/test/java/org/apache/flink/runtime/security/modules/HadoopModuleTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/security/token/hadoop/KerberosLoginProviderITCase.java
  flink-yarn/src/main/java/org/apache/flink/yarn/YarnClusterDescriptor.java
Labels: component=Runtime/Coordination

#21999 [FLINK-29816][streaming] Fix the bug that StreamTask doesn't handle exception during restoring
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTest.java
Labels: component=Runtime/Task

#21500 [FLINK-27995][table] Upgrade Janino version to 3.1.9
  flink-formats/flink-protobuf/pom.xml
  flink-table/flink-table-planner/src/main/java/org/apache/calcite/adapter/enumerable/EnumerableInterpretable.java
  flink-table/flink-table-planner/src/main/java/org/apache/calcite/interpreter/JaninoRexCompiler.java
  flink-table/flink-table-planner/src/main/java/org/apache/calcite/rel/metadata/JaninoRelMetadataProvider.java
  flink-table/flink-table-planner/src/main/java/org/apache/calcite/util/javac/JaninoCompiler.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/CodeGenUtils.scala
  flink-table/flink-table-runtime/src/main/resources/META-INF/NOTICE
  flink-table/pom.xml
Labels: component=TableSQL/Runtime

#22033 [FLINK-31109][BP 1.17][Yarn] Support Hadoop proxy user when delegation token fetch is disabled
  flink-runtime/src/main/java/org/apache/flink/runtime/security/modules/HadoopModule.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/hadoop/HBaseDelegationTokenProvider.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/hadoop/HadoopFSDelegationTokenProvider.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/hadoop/KerberosLoginProvider.java
  flink-runtime/src/test/java/org/apache/flink/runtime/security/modules/HadoopModuleTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/security/token/hadoop/KerberosLoginProviderITCase.java
  flink-yarn/src/main/java/org/apache/flink/yarn/YarnClusterDescriptor.java
Labels: component=Runtime/Coordination

#22030 [FLINK-31237][table] Fix possible bug of array_distinct.
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/functions/scalar/ArrayDistinctFunction.java
Labels: component=<none>

#22035 [FLINK-29816][streaming][BP-release-1.17] Fix the bug that StreamTask doesn't handle exception during restoring
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTest.java
Labels: component=Runtime/Task

#22036 [FLINK-29816][streaming][BP-release-1.16] Fix the bug that StreamTask doesn't handle exception during restoring
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTest.java
Labels: component=Runtime/Task

#22019 [hotfix] [FLINK-31221] Fix Typo in YarnConfigOptions.
  docs/layouts/shortcodes/generated/yarn_config_configuration.html
  flink-yarn/src/main/java/org/apache/flink/yarn/configuration/YarnConfigOptions.java
Labels: component=Deployment/YARN

#22043 [FLINK-31250][formats][parquet] Parquet format supports MULTISET type
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/row/ParquetRowDataWriter.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/utils/ParquetSchemaConverter.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/vector/ParquetSplitReaderUtil.java
  flink-formats/flink-parquet/src/test/java/org/apache/flink/formats/parquet/vector/ParquetColumnarRowSplitReaderTest.java
Labels: component=Formats
