Repository apache/flink, pull requests merged in 2023-09, with the labels that each got.

#21788 [FLINK-30812][yarn] Fix uploading local files when using YARN with S3
  flink-yarn/src/main/java/org/apache/flink/yarn/YarnApplicationFileUploader.java
  flink-yarn/src/test/java/org/apache/flink/yarn/YarnApplicationFileUploaderTest.java
Labels: component=Deployment/YARN

#21458 [FLINK-28513] Fix Flink Table API CSV streaming sink throws SerializedThrowable exception
  flink-filesystems/flink-s3-fs-base/src/main/java/org/apache/flink/fs/s3/common/writer/S3RecoverableFsDataOutputStream.java
  flink-filesystems/flink-s3-fs-base/src/test/java/org/apache/flink/fs/s3/common/writer/S3RecoverableFsDataOutputStreamTest.java
Labels: component=FileSystems, component=TableSQL/API

#22468 [FLINK-31889] Add documentation for implementing/loading enrichers
  docs/content.zh/docs/deployment/advanced/failure_enrichers.md
  docs/content/docs/deployment/advanced/failure_enrichers.md
Labels: component=<none>
