Repository apache/flink, pull requests merged in 2023-03, with the labels that each got.

#22047 [FLINK-31257][docs-zh] Fix errors in “CSV Formats" page
  docs/content.zh/docs/connectors/table/formats/csv.md
Labels: component=chinese-translation

#21966 [FLINK-29729][parquet] Fix credential info configured in flink-conf.yaml is lost during creating ParquetReader
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/ParquetInputFile.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/ParquetVectorizedInputFormat.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/avro/AvroParquetRecordFormat.java
Labels: component=Formats

#22057 [BP-1.16][FLINK-29729][parquet] Fix credential info configured in flink-conf.yaml is lost during creating ParquetReader
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/ParquetInputFile.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/ParquetVectorizedInputFormat.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/avro/AvroParquetRecordFormat.java
Labels: component=Formats

#22056 [BP-1.17][FLINK-29729][parquet] Fix credential info configured in flink-conf.yaml is lost during creating ParquetReader
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/ParquetInputFile.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/ParquetVectorizedInputFormat.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/avro/AvroParquetRecordFormat.java
Labels: component=Formats

#22059 [BP-1.15][FLINK-29729][parquet] Fix credential info configured in flink-conf.yaml is lost during creating ParquetReader
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/ParquetInputFile.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/ParquetVectorizedInputFormat.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/avro/AvroParquetRecordFormat.java
Labels: component=Formats

#22020 [FLINK-31222] Remove usage of deprecated ConverterUtils.toApplicationId.
  flink-yarn/src/main/java/org/apache/flink/yarn/YarnClusterClientFactory.java
  flink-yarn/src/main/java/org/apache/flink/yarn/cli/FlinkYarnSessionCli.java
Labels: component=Deployment/YARN

#21569 [FLINK-30517][log]Decrease log output interval while waiting for YARN…
  flink-yarn/src/main/java/org/apache/flink/yarn/YarnClusterDescriptor.java
Labels: component=Deployment/YARN

#22070 [BP-1.16][FLINK-29884][test] Fix flaky test SortMergeResultPartitionTest.testRelease
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/SortMergeResultPartitionTest.java
Labels: component=Runtime/Network, component=Runtime/Coordination, component=Tests

#22074 [BP-1.17][FLINK-29852][Runtime] Fix AdaptiveScheduler add operator repeatedly …
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/CreatingExecutionGraph.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveSchedulerTest.java
Labels: component=Runtime/Coordination, component=Runtime/WebFrontend

#22073 [BP-1.16][FLINK-29852][Runtime] Fix AdaptiveScheduler add operator repeatedly …
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/CreatingExecutionGraph.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveSchedulerTest.java
Labels: component=Runtime/Coordination, component=Runtime/WebFrontend

#22055 [FLINK-30978][sql-client] Fix ExecutorImpl#testInterruptException hangs
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/ExecutorImpl.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/ExecutorImplITCase.java
Labels: component=Formats

#22061 [FLINK-31284][tests] Increase KerberosLoginProvider test coverage
  flink-runtime/src/test/java/org/apache/flink/runtime/security/token/hadoop/KerberosLoginProviderITCase.java
Labels: component=Tests

#22087 [BP-1.16][FLINK-31133][tests] Prevent timeouts in PartiallyFinishedSourcesITCase
  flink-tests/src/test/java/org/apache/flink/runtime/operators/lifecycle/TestJobExecutor.java
  flink-tests/src/test/java/org/apache/flink/runtime/operators/lifecycle/command/SharedTestCommandDispatcher.java
  flink-tests/src/test/java/org/apache/flink/runtime/operators/lifecycle/command/TestCommandDispatcher.java
  flink-tests/src/test/java/org/apache/flink/runtime/operators/lifecycle/command/TestCommandDispatcherImpl.java
  flink-tests/src/test/java/org/apache/flink/runtime/operators/lifecycle/graph/TestEventSource.java
Labels: component=Runtime/Coordination

#22086 [BP-1.17][FLINK-31133][tests] Prevent timeouts in PartiallyFinishedSourcesITCase
  flink-tests/src/test/java/org/apache/flink/runtime/operators/lifecycle/TestJobExecutor.java
  flink-tests/src/test/java/org/apache/flink/runtime/operators/lifecycle/command/SharedTestCommandDispatcher.java
  flink-tests/src/test/java/org/apache/flink/runtime/operators/lifecycle/command/TestCommandDispatcher.java
  flink-tests/src/test/java/org/apache/flink/runtime/operators/lifecycle/command/TestCommandDispatcherImpl.java
  flink-tests/src/test/java/org/apache/flink/runtime/operators/lifecycle/graph/TestEventSource.java
Labels: component=Runtime/Coordination

#22088 [BP-1.15][FLINK-31133][tests] Prevent timeouts in PartiallyFinishedSourcesITCase
  flink-tests/src/test/java/org/apache/flink/runtime/operators/lifecycle/TestJobExecutor.java
  flink-tests/src/test/java/org/apache/flink/runtime/operators/lifecycle/command/SharedTestCommandDispatcher.java
  flink-tests/src/test/java/org/apache/flink/runtime/operators/lifecycle/command/TestCommandDispatcher.java
  flink-tests/src/test/java/org/apache/flink/runtime/operators/lifecycle/command/TestCommandDispatcherImpl.java
  flink-tests/src/test/java/org/apache/flink/runtime/operators/lifecycle/graph/TestEventSource.java
Labels: component=Runtime/Coordination

#22023 [BP-1.15][FLINK-27169][tests] Increase changelog upload timeout in PartiallyFinishedSourcesITCase
  flink-tests/src/test/java/org/apache/flink/runtime/operators/lifecycle/PartiallyFinishedSourcesITCase.java
Labels: component=Runtime/Checkpointing

#22092 [FLINK-30501] Update Flink build instruction to deprecate Java 8 instead of requiring Java 11
  docs/content.zh/docs/dev/configuration/gradle.md
  docs/content.zh/docs/dev/configuration/maven.md
  docs/content.zh/docs/flinkDev/building.md
  docs/content/docs/dev/configuration/gradle.md
  docs/content/docs/dev/configuration/maven.md
  docs/content/docs/flinkDev/building.md
Labels: component=<none>

#21557 [FLINK-30501] Update Flink build instruction to deprecate Java 8 instead of requiring Java 11
  docs/content.zh/docs/dev/configuration/gradle.md
  docs/content.zh/docs/dev/configuration/maven.md
  docs/content.zh/docs/flinkDev/building.md
  docs/content/docs/dev/configuration/gradle.md
  docs/content/docs/dev/configuration/maven.md
  docs/content/docs/flinkDev/building.md
Labels: component=<none>

#22099 [FLINK-30948][sql-client] Fix ExecutorImpl#testInterruptException han…
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/ExecutorImpl.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/ExecutorImplITCase.java
Labels: component=Formats

#22083 [FLINK-31297][Runtime] Use processResourceRequirements to allocate sk manager in FineGrainedSlotManagerTest
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/slotmanager/FineGrainedSlotManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/slotmanager/FineGrainedSlotManagerTestBase.java
Labels: component=Runtime/Coordination

#21897 [FLINK-30922][table-planner] Apply persisted columns when doing appendPartitionAndNullsProjects
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/utils/TableSchemaUtils.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/calcite/FlinkTypeFactory.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/calcite/PreValidateReWriter.scala
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/common/PartialInsertTest.xml
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/common/PartialInsertTest.scala
Labels: component=TableSQL/Planner

#22109 [FLINK-30922][table-planner] Fix errors when reference metadata columns in column list of a partial-insert statement
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/utils/TableSchemaUtils.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/calcite/FlinkTypeFactory.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/calcite/PreValidateReWriter.scala
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/common/PartialInsertTest.xml
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/common/PartialInsertTest.scala
Labels: component=TableSQL/Planner

#22058 [FLINK-31283][docs] Update the scala-2.11 related building doc
  docs/content.zh/docs/flinkDev/building.md
  docs/content/docs/flinkDev/building.md
Labels: component=Documentation

#22116 [FLINK-31347] Prevent AdaptiveSchedulerClusterITCase.testAutomaticSca…
  flink-runtime/src/test/java/org/apache/flink/runtime/testtasks/OnceBlockingNoOpInvokable.java
Labels: component=Runtime/Coordination

#22120 [BP-1.17][FLINK-31347] Prevent AdaptiveSchedulerClusterITCase.testAutomaticSca…
  flink-runtime/src/test/java/org/apache/flink/runtime/testtasks/OnceBlockingNoOpInvokable.java
Labels: component=Runtime/Coordination

#22113 [FLINK-31348] Fix unclosed shorcodes (/tabs) in the new HUGO-based do…
  docs/content.zh/docs/connectors/datastream/formats/parquet.md
  docs/content.zh/docs/connectors/datastream/formats/text_files.md
  docs/content.zh/docs/dev/datastream/experimental.md
  docs/content/docs/connectors/datastream/formats/text_files.md
  docs/content/docs/connectors/table/formats/debezium.md
  docs/content/docs/dev/datastream/experimental.md
Labels: component=Documentation

#22125 [FLINK-31360][test] Using an executor service which ignore rejectException as shutdown for HsResultPartitionTest.
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/hybrid/HsResultPartitionTest.java
Labels: component=Runtime/Coordination

#22110 [FLINK-31298] fix ConnectionUtilsTest.testFindConnectingAddressWhenGetLocalHostThrows swallows IllegalArgumentException
  flink-runtime/src/test/java/org/apache/flink/runtime/net/ConnectionUtilsTest.java
Labels: component=Runtime/Network

#22108 [FLINK-30829] Make the backpressure tab could be sort by busy/backpressure/idle seperately
  flink-runtime-web/web-dashboard/src/app/pages/job/overview/backpressure/job-overview-drawer-backpressure.component.html
  flink-runtime-web/web-dashboard/src/app/pages/job/overview/backpressure/job-overview-drawer-backpressure.component.ts
Labels: component=Runtime/WebFrontend

#22050 [FLINK-31279][table] fix builtin function of times wrong check.
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/CodeGenUtils.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/ExprCodeGenerator.scala
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/functions/MathFunctionsITCase.java
Labels: component=<none>

#21636 [FLINK-30113] Implement state compression for broadcast and regular operator states
  flink-runtime/src/main/java/org/apache/flink/runtime/state/CompressibleFSDataInputStream.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/CompressibleFSDataOutputStream.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/DefaultOperatorStateBackendBuilder.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/DefaultOperatorStateBackendSnapshotStrategy.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/OperatorBackendSerializationProxy.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/OperatorStateRestoreOperation.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/metainfo/StateMetaInfoSnapshotReadersWriters.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/SerializationProxiesTest.java
Labels: component=Runtime/StateBackends

#22132 [FLINK-31351][sql-gateway] Don't stop the stuck thread by force
  flink-table/flink-sql-gateway/src/main/java/org/apache/flink/table/gateway/service/operation/OperationManager.java
  flink-table/flink-sql-gateway/src/main/java/org/apache/flink/table/gateway/service/utils/SqlCancelException.java
  flink-table/flink-sql-gateway/src/test/java/org/apache/flink/table/gateway/service/operation/OperationManagerTest.java
Labels: component=Connectors/Hive

#22133 [FLINK-31351][sql-gateway] Don't stop the stuck thread by force
  flink-table/flink-sql-gateway/src/main/java/org/apache/flink/table/gateway/service/operation/OperationManager.java
  flink-table/flink-sql-gateway/src/main/java/org/apache/flink/table/gateway/service/utils/SqlCancelException.java
  flink-table/flink-sql-gateway/src/test/java/org/apache/flink/table/gateway/service/SqlGatewayServiceITCase.java
Labels: component=Connectors/Hive

#22128 [FLINK-31298] backport to branch release-1.16
  flink-runtime/src/test/java/org/apache/flink/runtime/net/ConnectionUtilsTest.java
Labels: component=Runtime/Network

#22129 [FLINK-31298] backport to branch release-1.17
  flink-runtime/src/test/java/org/apache/flink/runtime/net/ConnectionUtilsTest.java
Labels: component=Runtime/Network

#22134 [FLINK-31370] Prevent more timers from being fired if the StreamTask…
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/InternalTimeServiceManager.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/InternalTimeServiceManagerImpl.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/InternalTimerServiceImpl.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/StreamTaskStateInitializerImpl.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/sorted/state/BatchExecutionInternalTimeServiceManager.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTaskCancellationContext.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/InternalTimerServiceImplTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/StateInitializationContextImplTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/StreamTaskStateInitializerImplTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/sorted/state/BatchExecutionInternalTimeServiceTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskCancellationTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskMailboxTestHarness.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/util/AbstractStreamOperatorTestHarness.java
  flink-tests/src/test/java/org/apache/flink/test/state/operator/restore/StreamOperatorSnapshotRestoreTest.java
Labels: component=Runtime/Task

#22082 [FLINK-31300][table] TRY_CAST for constructed types
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/functions/casting/AbstractCastRule.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/functions/casting/CastRule.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/functions/CastFunctionMiscITCase.java
Labels: component=TableSQL/API

#21993 [FLINK-31166][table] Fix array_contains does not support null argumen…
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/inference/strategies/ArrayElementArgumentTypeStrategy.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/types/inference/InputTypeStrategiesTest.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/functions/CollectionFunctionsITCase.java
Labels: component=TableSQL/Planner

#22139 [FLINK-31383] Add support for documenting additionProperties of the R…
  docs/static/generated/rest_v1_dispatcher.yml
  docs/static/generated/rest_v1_sql_gateway.yml
  flink-annotations/src/main/java/org/apache/flink/annotation/docs/FlinkJsonSchema.java
  flink-docs/src/main/java/org/apache/flink/docs/rest/ApiSpecGeneratorUtils.java
  flink-docs/src/main/java/org/apache/flink/docs/rest/OpenApiSpecGenerator.java
  flink-docs/src/main/java/org/apache/flink/docs/rest/RestAPIDocGenerator.java
  flink-docs/src/test/java/org/apache/flink/docs/rest/OpenApiSpecGeneratorTest.java
  flink-docs/src/test/java/org/apache/flink/docs/rest/RestAPIDocGeneratorTest.java
  flink-docs/src/test/java/org/apache/flink/docs/rest/data/TestAdditionalFieldsMessageHeaders.java
Labels: component=Documentation, component=Runtime/REST

#22141 [FLINK-31387][streaming-java] Harden StreamTaskCancellationTest#testC…
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskCancellationTest.java
Labels: component=Runtime/Coordination

#22148 [FLINK-31386][network] Fix the potential deadlock issue of blocking shuffle
  flink-runtime/src/main/java/org/apache/flink/runtime/io/disk/BatchShuffleReadBufferPool.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/SortMergeResultPartition.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/SortMergeResultPartitionTest.java
Labels: component=Runtime/Network

#22155 [FLINK-31386][network] Fix the potential deadlock issue of blocking shuffle
  flink-runtime/src/main/java/org/apache/flink/runtime/io/disk/BatchShuffleReadBufferPool.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/SortMergeResultPartition.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/SortMergeResultPartitionTest.java
Labels: component=Runtime/Network

#22159 [FLINK-31402][yarn] Remove usage of deprecated ConverterUtils method.
  flink-yarn/src/main/java/org/apache/flink/yarn/Utils.java
  flink-yarn/src/main/java/org/apache/flink/yarn/YarnClusterDescriptor.java
  flink-yarn/src/test/java/org/apache/flink/yarn/YarnFileStageTest.java
Labels: component=Deployment/YARN

#22154 [BP-1.17][FLINK-31393] Fix the bug that HsFileDataManager use an incorrect default timeout.
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/hybrid/HybridShuffleConfiguration.java
Labels: component=Runtime/Network

#22131 [FLINK-29743][table] CatalogPropertiesUtil supports de/serializing column comment
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/catalog/CatalogBaseTableResolutionTest.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/catalog/CatalogPropertiesUtil.java
Labels: component=TableSQL/API

#22160 [FLINK-31404][table-planner] Support extracting all mapping of Calc node's input references for StreamNonDeterminisiticUpdatePlanVsitior
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/optimize/StreamNonDeterministicUpdatePlanVisitor.java
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/NonDeterministicDagTest.xml
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/NonDeterministicDagTest.scala
Labels: component=TableSQL/Planner

#22162 [BP-1.16][FLINK-31393] Fix the bug that HsFileDataManager use an incorrect default timeout.
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/hybrid/HybridShuffleConfiguration.java
Labels: component=Runtime/Network

#22157 [FLINK-31401][streaming][tests] Make parallelism assumption explicit in StreamingJobGraphGeneratorTest
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/graph/StreamingJobGraphGeneratorTest.java
Labels: component=API/DataStream, component=Tests

#22106 [FLINK-30659][hive] Drop flink-sql-parser-hive module
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/HiveCatalog.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/util/AlterHiveDatabaseOp.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/util/AlterTableOp.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/util/Constants.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/util/HiveDDLUtils.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/util/HiveTableUtil.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParserDMLHelper.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/parse/HiveParserDDLSemanticAnalyzer.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDialectITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveSourceITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTableFactoryTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveCatalogDataTypeTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveCatalogHiveMetadataTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveCatalogTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveTestUtils.java
  flink-connectors/flink-connector-hive/src/test/resources/endpoint/select.q
  flink-table/README.md
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/util/TestHiveCatalogFactory.java
  flink-table/flink-sql-parser-hive/pom.xml
  flink-table/flink-sql-parser-hive/src/main/codegen/config.fmpp
  flink-table/flink-sql-parser-hive/src/main/codegen/data/Parser.tdd
  flink-table/flink-sql-parser-hive/src/main/codegen/includes/compoundIdentifier.ftl
  flink-table/flink-sql-parser-hive/src/main/codegen/includes/parserImpls.ftl
  flink-table/flink-sql-parser-hive/src/main/java/org/apache/flink/sql/parser/hive/ddl/HiveDDLUtils.java
  flink-table/flink-sql-parser-hive/src/main/java/org/apache/flink/sql/parser/hive/ddl/SqlAddHivePartitions.java
  flink-table/flink-sql-parser-hive/src/main/java/org/apache/flink/sql/parser/hive/ddl/SqlAlterHiveDatabase.java
  flink-table/flink-sql-parser-hive/src/main/java/org/apache/flink/sql/parser/hive/ddl/SqlAlterHiveDatabaseLocation.java
  flink-table/flink-sql-parser-hive/src/main/java/org/apache/flink/sql/parser/hive/ddl/SqlAlterHiveDatabaseOwner.java
  flink-table/flink-sql-parser-hive/src/main/java/org/apache/flink/sql/parser/hive/ddl/SqlAlterHiveDatabaseProps.java
  flink-table/flink-sql-parser-hive/src/main/java/org/apache/flink/sql/parser/hive/ddl/SqlAlterHivePartitionRename.java
  flink-table/flink-sql-parser-hive/src/main/java/org/apache/flink/sql/parser/hive/ddl/SqlAlterHiveTable.java
  flink-table/flink-sql-parser-hive/src/main/java/org/apache/flink/sql/parser/hive/ddl/SqlAlterHiveTableAddReplaceColumn.java
  flink-table/flink-sql-parser-hive/src/main/java/org/apache/flink/sql/parser/hive/ddl/SqlAlterHiveTableChangeColumn.java
  flink-table/flink-sql-parser-hive/src/main/java/org/apache/flink/sql/parser/hive/ddl/SqlAlterHiveTableFileFormat.java
  flink-table/flink-sql-parser-hive/src/main/java/org/apache/flink/sql/parser/hive/ddl/SqlAlterHiveTableLocation.java
  flink-table/flink-sql-parser-hive/src/main/java/org/apache/flink/sql/parser/hive/ddl/SqlAlterHiveTableProps.java
  flink-table/flink-sql-parser-hive/src/main/java/org/apache/flink/sql/parser/hive/ddl/SqlAlterHiveTableSerDe.java
  flink-table/flink-sql-parser-hive/src/main/java/org/apache/flink/sql/parser/hive/ddl/SqlAlterHiveViewProperties.java
  flink-table/flink-sql-parser-hive/src/main/java/org/apache/flink/sql/parser/hive/ddl/SqlCreateHiveDatabase.java
  flink-table/flink-sql-parser-hive/src/main/java/org/apache/flink/sql/parser/hive/ddl/SqlCreateHiveTable.java
  flink-table/flink-sql-parser-hive/src/main/java/org/apache/flink/sql/parser/hive/ddl/SqlCreateHiveView.java
  flink-table/flink-sql-parser-hive/src/main/java/org/apache/flink/sql/parser/hive/ddl/SqlDescribeHiveTable.java
  flink-table/flink-sql-parser-hive/src/main/java/org/apache/flink/sql/parser/hive/ddl/SqlHiveConstraintTrait.java
  flink-table/flink-sql-parser-hive/src/main/java/org/apache/flink/sql/parser/hive/ddl/SqlHiveConstraintValidate.java
  flink-table/flink-sql-parser-hive/src/main/java/org/apache/flink/sql/parser/hive/dml/RichSqlHiveInsert.java
  flink-table/flink-sql-parser-hive/src/main/java/org/apache/flink/sql/parser/hive/package-info.java
  flink-table/flink-sql-parser-hive/src/main/java/org/apache/flink/sql/parser/hive/type/ExtendedHiveStructTypeNameSpec.java
  flink-table/flink-sql-parser-hive/src/test/java/org/apache/flink/sql/parser/hive/FlinkHiveSqlParserImplTest.java
  flink-table/flink-sql-parser-hive/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/package-info.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/validate/FlinkSqlConformance.java
  flink-table/flink-table-planner/pom.xml
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/delegation/FlinkSqlParserFactories.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/delegation/PlannerContext.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/parse/CalciteParser.java
  flink-table/pom.xml
  tools/ci/stage.sh
Labels: component=Connectors/Hive, component=TableSQL/Planner

#22164 [FLINK-30025][table][test] remove same amount of "-" and " " after no…
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliClientITCase.java
  flink-table/flink-sql-client/src/test/resources/sql/table.q
Labels: component=TableSQL/API

#22039 [FLINK-31227][docs] Remove scala version for file system artifactId
  docs/content.zh/docs/connectors/datastream/filesystem.md
  docs/content/docs/connectors/datastream/filesystem.md
Labels: component=<none>

#21823 [FLINK-30694][docs]Translate "Windowing TVF" page of "Querys" into Ch…
  docs/content.zh/docs/dev/table/sql/queries/window-tvf.md
Labels: component=Documentation, component=chinese-translation

#21726 [FLINK-30748][docs]Translate "Overview" page of "Querys" into Chinese
  docs/content.zh/docs/dev/table/sql/queries/overview.md
Labels: component=Documentation, component=chinese-translation

#22100 [FLINK-31208][Connectors / Kafka] KafkaSourceReader overrides meaning…
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/source/reader/KafkaSourceReader.java
Labels: component=Connectors/Kafka

#22173 [FLINK-31418][network][tests] Fix buffer request timeout for sort merge result partition test
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/SortMergeResultPartitionReadSchedulerTest.java
Labels: component=Runtime/Task

#22172 [FLINK-31418][network][tests] Fix buffer request timeout for sort merge result partition read test
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/SortMergeResultPartitionReadSchedulerTest.java
Labels: component=Runtime/Task

#22111 [FLINK-30802] Add details on SplitReader#fetch() interruption/resume
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/reader/splitreader/SplitReader.java
Labels: component=Documentation, component=Connectors/Common

#22181 [FLINK-31437][docs] Fix wrong key 'lookup.cache.caching-missing-key' in 'hbase.md'.
  docs/content.zh/docs/connectors/table/hbase.md
  docs/content/docs/connectors/table/hbase.md
Labels: component=Documentation, component=Connectors/HBase, component=Connectors/JDBC

#22168 [FLINK-31414][checkpointing] exceptions in the alignment timer are ig…
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/checkpointing/BarrierAlignmentUtil.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/checkpointing/BarrierAlignmentUtilTest.java
Labels: component=Runtime/Checkpointing

#22180 [BP-1.17][FLINK-31420][test] Fix unstable test ThreadInfoRequestCoordinatorTest#testShutDown.
  flink-runtime/src/test/java/org/apache/flink/runtime/webmonitor/threadinfo/ThreadInfoRequestCoordinatorTest.java
Labels: component=Runtime/REST

#22182 [BP-1.16][FLINK-31420][test] Fix unstable test ThreadInfoRequestCoordinatorTest#testShutDown.
  flink-runtime/src/test/java/org/apache/flink/runtime/webmonitor/threadinfo/ThreadInfoRequestCoordinatorTest.java
Labels: component=Runtime/REST

#21942 [FLINK-31085][formats] Add schema option to confluent registry avro formats
  docs/content.zh/docs/connectors/table/formats/avro-confluent.md
  docs/content.zh/docs/connectors/table/formats/debezium.md
  docs/content/docs/connectors/table/formats/avro-confluent.md
  docs/content/docs/connectors/table/formats/debezium.md
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/streaming/connectors/kafka/table/KafkaDynamicTableFactoryTest.java
  flink-formats/flink-avro-confluent-registry/src/main/java/org/apache/flink/formats/avro/registry/confluent/AvroConfluentFormatOptions.java
  flink-formats/flink-avro-confluent-registry/src/main/java/org/apache/flink/formats/avro/registry/confluent/RegistryAvroFormatFactory.java
  flink-formats/flink-avro-confluent-registry/src/main/java/org/apache/flink/formats/avro/registry/confluent/debezium/DebeziumAvroDeserializationSchema.java
  flink-formats/flink-avro-confluent-registry/src/main/java/org/apache/flink/formats/avro/registry/confluent/debezium/DebeziumAvroFormatFactory.java
  flink-formats/flink-avro-confluent-registry/src/main/java/org/apache/flink/formats/avro/registry/confluent/debezium/DebeziumAvroSerializationSchema.java
  flink-formats/flink-avro-confluent-registry/src/test/java/org/apache/flink/formats/avro/registry/confluent/RegistryAvroFormatFactoryTest.java
  flink-formats/flink-avro-confluent-registry/src/test/java/org/apache/flink/formats/avro/registry/confluent/debezium/DebeziumAvroFormatFactoryTest.java
  flink-formats/flink-avro/src/main/java/org/apache/flink/formats/avro/AvroRowDataSerializationSchema.java
  flink-formats/flink-avro/src/main/java/org/apache/flink/formats/avro/AvroSerializationSchema.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/AvroRowDataDeSerializationSchemaTest.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/AvroSerializationSchemaTest.java
Labels: component=Formats

#22171 [FLINK-31420][test] Fix unstable test ThreadInfoRequestCoordinatorTest.
  flink-runtime/src/test/java/org/apache/flink/runtime/webmonitor/threadinfo/ThreadInfoRequestCoordinatorTest.java
Labels: component=Runtime/REST

#22170 [FLINK-30959][doc] Improve the documentation of UNIX_TIMESTAMP for different argument format
  docs/data/sql_functions.yml
  docs/data/sql_functions_zh.yml
Labels: component=Documentation, component=TableSQL/API

#22187 [FLINK-30959][table][docs] Improve the documentation of UNIX_TIMESTAMP function for different argument formats
  docs/data/sql_functions.yml
  docs/data/sql_functions_zh.yml
Labels: component=Documentation, component=TableSQL/API

#15797 [FLINK-22484][table] Add built-in MAP_KEYS, MAP_VALUES, MAP_FROM_ARRA…
  docs/data/sql_functions.yml
  flink-python/docs/reference/pyflink.table/expressions.rst
  flink-python/pyflink/table/expression.py
  flink-python/pyflink/table/expressions.py
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/Expressions.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/BaseExpressions.java
  flink-table/flink-table-api-scala/src/main/scala/org/apache/flink/table/api/ImplicitExpressionConversions.scala
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/BuiltInFunctionDefinitions.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/inference/strategies/SpecificInputTypeStrategies.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/functions/MapFunctionITCase.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/functions/scalar/MapFromArraysFunction.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/functions/scalar/MapKeysFunction.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/functions/scalar/MapValuesFunction.java
Labels: review=description?, component=TableSQL/API

#21847 [FLINK-30896][table] Reduce usage of CatalogViewImpl in table-planner
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/SqlToOperationConverter.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/TableEnvironmentTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/common/ViewsExpandingTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/hint/OptionsHintTest.scala
Labels: component=TableSQL/API

#22188 [FLINK-31477][table-planner] Fix NestedLoopJoinTest.testLeftOuterJoin failed with unexpected plan
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/join/NestedLoopJoinTest.xml
Labels: component=TableSQL/Planner

#22186 [FLINK-30959][table][docs] Improve the documentation of UNIX_TIMESTAMP function for different argument formats
  docs/data/sql_functions.yml
  docs/data/sql_functions_zh.yml
Labels: component=Documentation, component=TableSQL/API

#22192 [FLINK-31319][BP-1.16][connectors/kafka] Fix kafka new source partitionDiscoveryIntervalMs=0 cause bounded source can not quit
  flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/connector/kafka/source/enumerator/KafkaSourceEnumerator.java
  flink-connectors/flink-connector-kafka/src/test/java/org/apache/flink/connector/kafka/source/enumerator/KafkaEnumeratorTest.java
Labels: component=Connectors/Kafka

#22209 [FLINK-31505][table] Move execution logic of DropOperation out from TableEnvironmentImpl
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/ExecutableOperationContextImpl.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/TableEnvironmentImpl.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/catalog/CatalogManager.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ExecutableOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ddl/DropCatalogFunctionOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ddl/DropCatalogOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ddl/DropDatabaseOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ddl/DropOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ddl/DropTableOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ddl/DropTempSystemFunctionOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ddl/DropViewOperation.java
Labels: component=TableSQL/Planner

#22214 [FLINK-31504][table] Move execution logic of CreateOperation out from TableEnvironmentImpl
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/ExecutableOperationContextImpl.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/TableEnvironmentImpl.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ExecutableOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ddl/CreateCatalogFunctionOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ddl/CreateCatalogOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ddl/CreateDatabaseOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ddl/CreateOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ddl/CreateTableOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ddl/CreateTempSystemFunctionOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ddl/CreateViewOperation.java
Labels: component=TableSQL/Planner

#22210 [FLINK-31506][table] Move execution logic of AlterOperation out from TableEnvironmentImpl
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/TableEnvironmentImpl.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ddl/AddPartitionsOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ddl/AlterCatalogFunctionOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ddl/AlterDatabaseOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ddl/AlterOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ddl/AlterPartitionPropertiesOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ddl/AlterTableChangeOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ddl/AlterTableOptionsOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ddl/AlterTableRenameOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ddl/AlterTableSchemaOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ddl/AlterViewAsOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ddl/AlterViewPropertiesOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ddl/AlterViewRenameOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ddl/DropPartitionsOperation.java
Labels: component=TableSQL/Planner

#21522 [FLINK-29585][hive] Migrate TableSchema to Schema for Hive connector
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveDynamicTableFactory.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveLookupTableSource.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveSourceBuilder.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSink.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSource.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HiveCompactReaderFactory.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/read/HivePartitionFetcherContextBase.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/write/HiveWriterFactory.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/HiveCatalog.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/catalog/hive/util/HiveTableUtil.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParserCalcitePlanner.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParserDMLHelper.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParserUtils.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/copy/HiveParserBaseSemanticAnalyzer.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/copy/HiveParserQB.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/copy/HiveParserSemanticAnalyzer.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/parse/HiveParserDDLSemanticAnalyzer.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/ContinuousHiveSplitEnumeratorTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDeserializeExceptionTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDialectITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveLookupJoinITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveOutputFormatFactoryTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveSourceITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTableFactoryTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTableSourceITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/TableEnvHiveConnectorITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/read/HiveInputFormatPartitionReaderITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/read/HivePartitionFetcherTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveCatalogDataTypeTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveCatalogGenericMetadataTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveCatalogHiveMetadataTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveCatalogITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveCatalogTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveCatalogUdfITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveTestUtils.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/endpoint/hive/HiveServer2EndpointITCase.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlAddReplaceColumns.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlChangeColumn.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/catalog/CatalogPropertiesUtil.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/catalog/CatalogTest.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/catalog/CatalogTestUtil.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/catalog/TestSchemaResolver.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/SqlNodeToOperationConversion.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/utils/OperationConverterUtils.java
Labels: component=Connectors/Hive

#22197 [FLINK-31487][table-planner] Add targetColumns to DynamicTableSink#Context
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParserDMLHelper.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/TableImpl.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/CreateTableASOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/DeleteFromFilterOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/SinkModifyOperation.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/connector/sink/DynamicTableSink.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/connectors/DynamicSinkUtils.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/SqlNodeToOperationConversion.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/common/CommonExecSink.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/spec/DynamicTableSinkSpec.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/calcite/PreValidateReWriter.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/nodes/calcite/LogicalSink.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/nodes/calcite/Sink.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/nodes/logical/FlinkLogicalSink.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchPhysicalSink.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamPhysicalSink.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/batch/BatchPhysicalSinkRule.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/stream/StreamPhysicalSinkRule.scala
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/factories/TestValuesRuntimeFunctions.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/factories/TestValuesTableFactory.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/batch/sql/RowLevelUpdateTest.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/serde/DynamicTableSinkSpecSerdeTest.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/stream/TableSinkJsonPlanTest.java
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/connector/file/table/FileSystemTableSourceTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/RowLevelUpdateTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/TableSinkTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/common/PartialInsertTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/nodes/exec/stream/TableSinkJsonPlanTest_jsonplan/testPartialInsert.out
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/NonDeterministicDagTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/TableSinkTest.xml
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/common/PartialInsertTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/TableSinkITCase.scala
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/connector/sink/SinkRuntimeProviderContext.java
Labels: component=TableSQL/API

#22213 [FLINK-31514][table-planner] Move query SqlNode conversion logic to SqlQueryConverter
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/SqlNodeToOperationConversion.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/converters/SqlNodeConverter.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/converters/SqlNodeConverters.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/converters/SqlQueryConverter.java
Labels: component=TableSQL/Planner

#21975 [FLINK-31139][state/changelog] not upload empty state changelog file
  flink-dstl/flink-dstl-dfs/src/main/java/org/apache/flink/changelog/fs/BatchingStateChangeUploadScheduler.java
Labels: component=Runtime/StateBackends

#21330 [FLINK-30023][changelog] increase timeout in ChangelogStorageMetricsT…
  flink-dstl/flink-dstl-dfs/src/test/java/org/apache/flink/changelog/fs/ChangelogStorageMetricsTest.java
Labels: component=<none>

#21521 [FLINK-30435][table] `SHOW CREATE TABLE` statement shows column comment
  docs/content.zh/docs/dev/table/sql/describe.md
  docs/content.zh/docs/dev/table/sql/show.md
  docs/content/docs/dev/table/sql/describe.md
  docs/content/docs/dev/table/sql/show.md
  flink-table/flink-sql-client/src/test/resources/sql/table.q
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/ShowCreateUtil.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/operations/SqlDdlToOperationConverterTest.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/catalog/CatalogTableITCase.scala
Labels: component=<none>

#22230 [FLINK-31531][hive] Fix HiveCatalogHiveMetadataTest&HiveDialectITCase failure in Hive3
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDialectITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveCatalogHiveMetadataTest.java
Labels: component=Connectors/Hive

#22216 [FLINK-31516][table] Move execution logic of LoadModule and UnloadModule operations out from TableEnvironmentImpl
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/TableEnvironmentImpl.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/LoadModuleOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/UnloadModuleOperation.java
Labels: component=TableSQL/Planner

#22222 [FLINK-31424][table-planner] Fix NPE produced by multiple sink with local-global window aggregate
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdWindowProperties.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/stats/FlinkStatistic.scala
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/join/WindowJoinTest.xml
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdHandlerTestBase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdWindowPropertiesTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/metadata/MetadataTestUtil.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/join/WindowJoinTest.scala
Labels: component=TableSQL/Planner

#22234 [FLINK-31527][tests] Stabilize ChangelogRescalingITCase
  flink-tests/src/test/java/org/apache/flink/test/state/ChangelogRescalingITCase.java
Labels: component=Runtime/StateBackends

#22185 [FLINK-31466][table] Apply FilterJoinRule misses opportunity to push filter to semijoin input to FlinkFilterJoinRule
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/rules/logical/FlinkFilterJoinRule.java
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/join/BroadcastHashSemiAntiJoinTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/join/NestedLoopSemiAntiJoinTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/join/SemiAntiJoinTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/join/ShuffledHashSemiAntiJoinTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/join/SortMergeSemiAntiJoinTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/rules/logical/CalcPruneAggregateCallRuleTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/rules/logical/FlinkFilterJoinRuleTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/rules/logical/ProjectPruneAggregateCallRuleTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/join/SemiAntiJoinTest.xml
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/SemiAntiJoinStreamITCase.scala
Labels: component=<none>

#22028 [FLINK-31230] Improve YarnClusterDescriptor memory unit display.
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YARNSessionFIFOITCase.java
  flink-yarn/src/main/java/org/apache/flink/yarn/YarnClusterDescriptor.java
Labels: component=Deployment/YARN

#22238 [FLINK-31424][table-planner] Fix NPE produced by multiple sink with local-global window aggregate
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdWindowProperties.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/stats/FlinkStatistic.scala
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/join/WindowJoinTest.xml
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdHandlerTestBase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdWindowPropertiesTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/metadata/MetadataTestUtil.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/join/WindowJoinTest.scala
Labels: component=TableSQL/Planner

#22146 [FLINK-31157][release] Add release note for version 1.17
  docs/content.zh/_index.md
  docs/content.zh/release-notes/flink-1.17.md
  docs/content/_index.md
  docs/content/release-notes/flink-1.17.md
Labels: component=<none>

#22242 [FLINK-31452][table] Let show databases return sorted results
  flink-table/flink-sql-client/src/test/resources/sql/catalog_database.q
  flink-table/flink-sql-gateway/src/test/resources/sql/catalog_database.q
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/TableEnvironmentImpl.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ShowDatabasesOperation.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/TableEnvironmentTest.scala
Labels: component=TableSQL/Planner, component=TableSQL/API

#22240 [FLINK-31574][table-planner] Cleanup unused private methods in OperationConverterUtils
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/utils/OperationConverterUtils.java
Labels: component=TableSQL/Planner

#22236 [FLINK-31555][docs-zh] Translate "hiveserver2" page of "sql-gateway" into Chinese
  docs/content.zh/docs/dev/table/sql-gateway/hiveserver2.md
Labels: component=Documentation, component=chinese-translation

#22252 [1.17][FLINK-31568][tests] Updates base version for japicmp check.
  pom.xml
Labels: component=<none>

#22144 [FLINK-31102][table] Add ARRAY_REMOVE function.
  docs/data/sql_functions.yml
  flink-python/docs/reference/pyflink.table/expressions.rst
  flink-python/pyflink/table/expression.py
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/BaseExpressions.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/BuiltInFunctionDefinitions.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/functions/CollectionFunctionsITCase.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/functions/scalar/ArrayRemoveFunction.java
Labels: component=TableSQL/Planner

#22237 [FLINK-31556][docs-zh] Translate "rest" page of "sql-gateway" into Chinese
  docs/content.zh/docs/dev/table/sql-gateway/rest.md
Labels: component=Documentation, component=chinese-translation

#22235 [FLINK-31554][docs-zh] Translate "Overview" page of "sql-gateway" into Chinese
  docs/content.zh/docs/dev/table/sql-gateway/overview.md
Labels: component=Documentation, component=chinese-translation

#22279 [FLINK-31612][Filesystems] Remove no longer necessary Hadoop relocation rules
  flink-filesystems/flink-azure-fs-hadoop/pom.xml
  flink-filesystems/flink-gs-fs-hadoop/pom.xml
  flink-filesystems/flink-oss-fs-hadoop/pom.xml
Labels: component=FileSystems

#22285 [FLINK-31612][BP 1.17][Filesystems] Remove no longer necessary Hadoop relocation
  flink-filesystems/flink-azure-fs-hadoop/pom.xml
  flink-filesystems/flink-gs-fs-hadoop/pom.xml
  flink-filesystems/flink-oss-fs-hadoop/pom.xml
Labels: component=FileSystems

#22286 [BP-1.17][FLINK-31541][ui] encode request params to support special characters in metrics name.
  flink-runtime-web/web-dashboard/src/app/services/job-manager.service.ts
  flink-runtime-web/web-dashboard/src/app/services/metrics.service.ts
  flink-runtime-web/web-dashboard/src/app/services/task-manager.service.ts
Labels: component=Runtime/WebFrontend, component=Runtime/Metrics

#22288 [FLINK-31590] Add mechanics to the JobMaster for handling job resource requirements.
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/JobMaster.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/JobMasterGateway.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/JobMasterTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/utils/TestingJobMasterGateway.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/utils/TestingJobMasterGatewayBuilder.java
Labels: component=Runtime/Coordination

#22300 [FLINK-31165][table-planner] Improve the error message for order by clause
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/nodes/logical/FlinkLogicalOverAggregate.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/batch/sql/RankTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/RankTest.scala
Labels: component=TableSQL/API

#22297 [FLINK-31657][rest][docs] Exclude isEmpty property
  docs/static/generated/rest_v1_dispatcher.yml
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/messages/ConfigurationInfo.java
Labels: component=Documentation, component=Runtime/REST

#22266 [FLINK-31525][tests] Stabilize JdbcExactlyOnceSinkE2eTest
  flink-connectors/flink-connector-jdbc/src/test/java/org/apache/flink/connector/jdbc/xa/JdbcExactlyOnceSinkE2eTest.java
Labels: component=Connectors/JDBC

#22263 [FLINK-31604][table] Reduce usage of CatalogTableImpl in table-planner
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/utils/TableSchemaUtils.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/utils/TableSchemaUtilsTest.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/catalog/CatalogSchemaTable.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/FlinkCalciteCatalogReader.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/schema/LegacyCatalogSourceTable.scala
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/catalog/CatalogConstraintTest.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/catalog/CatalogStatisticsTest.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/operations/SqlNodeToOperationConversionTestBase.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/TableEnvironmentTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/rules/logical/PushPartitionIntoLegacyTableSourceScanRuleTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/PartitionableSinkITCase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/utils/testTableSourceSinks.scala
Labels: component=TableSQL/API

#22267 [FLINK-31602][table] Add built-in ARRAY_POSITION function.
  docs/data/sql_functions.yml
  flink-python/docs/reference/pyflink.table/expressions.rst
  flink-python/pyflink/table/expression.py
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/BaseExpressions.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/BuiltInFunctionDefinitions.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/functions/CollectionFunctionsITCase.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/functions/scalar/ArrayPositionFunction.java
Labels: component=TableSQL/Planner

#22281 [FLINK-31631][FileSystems] Upgrade GCS connector to 2.2.11.
  docs/content.zh/docs/deployment/filesystems/gcs.md
  docs/content/docs/deployment/filesystems/gcs.md
  flink-filesystems/flink-gs-fs-hadoop/pom.xml
  flink-filesystems/flink-gs-fs-hadoop/src/main/resources/META-INF/NOTICE
Labels: component=FileSystems

#22295 [BP-1.17][FLINK-31626] HsSubpartitionFileReaderImpl should recycle skipped read buffers.
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/hybrid/HsDataView.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/hybrid/HsSubpartitionConsumer.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/hybrid/HsSubpartitionConsumerMemoryDataManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/hybrid/HsSubpartitionFileReaderImpl.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/hybrid/HsFileDataManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/hybrid/HsSubpartitionConsumerMemoryDataManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/hybrid/HsSubpartitionFileReaderImplTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/hybrid/HsSubpartitionMemoryDataManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/hybrid/TestingHsDataView.java
Labels: component=Runtime/Network

#22277 [FLINK-31621][table] Add built-in ARRAY_REVERSE function.
  docs/data/sql_functions.yml
  flink-python/docs/reference/pyflink.table/expressions.rst
  flink-python/pyflink/table/expression.py
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/BaseExpressions.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/BuiltInFunctionDefinitions.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/functions/CollectionFunctionsITCase.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/functions/scalar/ArrayDistinctFunction.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/functions/scalar/ArrayRemoveFunction.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/functions/scalar/ArrayReverseFunction.java
Labels: component=TableSQL/Planner

#22315 [FLINK-31683][docs-zh] Update the outdated Chinese filesystem connector docs
  docs/content.zh/docs/connectors/table/filesystem.md
Labels: component=Documentation
