Repository apache/flink, pull requests merged in 2023-01, with the labels that each got.

#21558 [FLINK-29217][Runtime/Checkpointing] Remove OC's guarantee for OperatorEvent on concurrent checkpoints
  flink-runtime/src/main/java/org/apache/flink/runtime/operators/coordination/OperatorCoordinatorHolder.java
  flink-runtime/src/main/java/org/apache/flink/runtime/operators/coordination/SubtaskGatewayImpl.java
  flink-runtime/src/test/java/org/apache/flink/runtime/operators/coordination/OperatorCoordinatorHolderTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/CoordinatorEventsToStreamOperatorRecipientExactlyOnceITCase.java
Labels: component=Runtime/Checkpointing

#21583 [FLINK-30539][tests] Removes timeout from YARNSessionCapacitySchedulerITCase
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YARNSessionCapacitySchedulerITCase.java
Labels: component=Deployment/YARN

#21584 [BP-1.16][FLINK-30539][tests] Removes timeout from YARNSessionCapacitySchedulerITCase
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YARNSessionCapacitySchedulerITCase.java
Labels: component=Deployment/YARN

#21585 [BP-1.15][FLINK-30539][tests] Removes timeout from YARNSessionCapacitySchedulerITCase
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YARNSessionCapacitySchedulerITCase.java
Labels: component=Deployment/YARN

#21591 [FLINK-30549] Remove flink-connector-aws-kinesis-firehose from Flink master branch
  flink-connectors/flink-connector-aws-kinesis-firehose/archunit-violations/54da9a7d-14d2-4632-a045-1dd8fc665c8f
  flink-connectors/flink-connector-aws-kinesis-firehose/archunit-violations/a6cbd99c-b115-447a-8f19-43c1094db549
  flink-connectors/flink-connector-aws-kinesis-firehose/archunit-violations/stored.rules
  flink-connectors/flink-connector-aws-kinesis-firehose/pom.xml
  flink-connectors/flink-connector-aws-kinesis-firehose/src/main/java/org/apache/flink/connector/firehose/sink/KinesisFirehoseConfigConstants.java
  flink-connectors/flink-connector-aws-kinesis-firehose/src/main/java/org/apache/flink/connector/firehose/sink/KinesisFirehoseException.java
  flink-connectors/flink-connector-aws-kinesis-firehose/src/main/java/org/apache/flink/connector/firehose/sink/KinesisFirehoseSink.java
  flink-connectors/flink-connector-aws-kinesis-firehose/src/main/java/org/apache/flink/connector/firehose/sink/KinesisFirehoseSinkBuilder.java
  flink-connectors/flink-connector-aws-kinesis-firehose/src/main/java/org/apache/flink/connector/firehose/sink/KinesisFirehoseSinkElementConverter.java
  flink-connectors/flink-connector-aws-kinesis-firehose/src/main/java/org/apache/flink/connector/firehose/sink/KinesisFirehoseSinkWriter.java
  flink-connectors/flink-connector-aws-kinesis-firehose/src/main/java/org/apache/flink/connector/firehose/sink/KinesisFirehoseStateSerializer.java
  flink-connectors/flink-connector-aws-kinesis-firehose/src/main/java/org/apache/flink/connector/firehose/table/KinesisFirehoseConnectorOptions.java
  flink-connectors/flink-connector-aws-kinesis-firehose/src/main/java/org/apache/flink/connector/firehose/table/KinesisFirehoseDynamicSink.java
  flink-connectors/flink-connector-aws-kinesis-firehose/src/main/java/org/apache/flink/connector/firehose/table/KinesisFirehoseDynamicTableFactory.java
  flink-connectors/flink-connector-aws-kinesis-firehose/src/main/java/org/apache/flink/connector/firehose/table/util/KinesisFirehoseConnectorOptionUtils.java
  flink-connectors/flink-connector-aws-kinesis-firehose/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  flink-connectors/flink-connector-aws-kinesis-firehose/src/main/resources/log4j2.properties
  flink-connectors/flink-connector-aws-kinesis-firehose/src/test/java/org/apache/flink/architecture/TestCodeArchitectureTest.java
  flink-connectors/flink-connector-aws-kinesis-firehose/src/test/java/org/apache/flink/connector/firehose/sink/KinesisFirehoseSinkBuilderTest.java
  flink-connectors/flink-connector-aws-kinesis-firehose/src/test/java/org/apache/flink/connector/firehose/sink/KinesisFirehoseSinkElementConverterTest.java
  flink-connectors/flink-connector-aws-kinesis-firehose/src/test/java/org/apache/flink/connector/firehose/sink/KinesisFirehoseSinkITCase.java
  flink-connectors/flink-connector-aws-kinesis-firehose/src/test/java/org/apache/flink/connector/firehose/sink/KinesisFirehoseSinkTest.java
  flink-connectors/flink-connector-aws-kinesis-firehose/src/test/java/org/apache/flink/connector/firehose/sink/KinesisFirehoseSinkWriterTest.java
  flink-connectors/flink-connector-aws-kinesis-firehose/src/test/java/org/apache/flink/connector/firehose/sink/KinesisFirehoseStateSerializerTest.java
  flink-connectors/flink-connector-aws-kinesis-firehose/src/test/java/org/apache/flink/connector/firehose/sink/testutils/KinesisFirehoseTestUtils.java
  flink-connectors/flink-connector-aws-kinesis-firehose/src/test/java/org/apache/flink/connector/firehose/table/KinesisFirehoseDynamicTableFactoryTest.java
  flink-connectors/flink-connector-aws-kinesis-firehose/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
  flink-connectors/flink-connector-aws-kinesis-firehose/src/test/resources/archunit.properties
  flink-connectors/flink-connector-aws-kinesis-firehose/src/test/resources/log4j2-test.properties
  flink-connectors/flink-sql-connector-aws-kinesis-firehose/pom.xml
  flink-connectors/flink-sql-connector-aws-kinesis-firehose/src/main/resources/META-INF/NOTICE
  flink-connectors/pom.xml
  flink-end-to-end-tests/flink-end-to-end-tests-aws-kinesis-firehose/pom.xml
  flink-end-to-end-tests/flink-end-to-end-tests-aws-kinesis-firehose/src/test/java/org/apache/flink/connector/firehose/table/test/KinesisFirehoseTableITTest.java
  flink-end-to-end-tests/flink-end-to-end-tests-aws-kinesis-firehose/src/test/resources/log4j2-test.properties
  flink-end-to-end-tests/flink-end-to-end-tests-aws-kinesis-firehose/src/test/resources/send-orders.sql
  flink-end-to-end-tests/pom.xml
  flink-python/pom.xml
  tools/ci/stage.sh
Labels: component=<none>

#21592 [FLINK-30497][table-api] Introduce TableChange to represent DROP change
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/parse/HiveParserDDLSemanticAnalyzer.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ddl/AlterTableChangeOperation.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/catalog/TableChange.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/expressions/ColumnReferenceFinder.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/AlterSchemaConverter.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/SqlToOperationConverter.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/utils/OperationConverterUtils.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/expressions/ColumnReferenceFinderTest.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/operations/SqlToOperationConverterTest.java
Labels: component=TableSQL/API

#21598 [FLINK-30558][runtime] Use different metric object to avoid metric 'numRestarts' being overridden by 'fullRestarts' in SchedulerBase
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/SchedulerBase.java
Labels: component=Runtime/Metrics

#21588 [FLINK-30544][runtime] Speed up finding minimum watermark across channels by introducing heap-based algorithm
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/watermarkstatus/StatusWatermarkValve.java
Labels: component=Runtime/Task

#21599 [FLINK-30231][kubernetes] Update to Fabric8 Kubernetes Client to 5.12…
  flink-kubernetes/pom.xml
  flink-kubernetes/src/main/resources/META-INF/NOTICE
Labels: component=Deployment/Kubernetes

#21611 [FLINK-30592][doc] remove unsupported hive version in hive overview document
  docs/content.zh/docs/connectors/table/hive/overview.md
  docs/content/docs/connectors/table/hive/overview.md
Labels: component=Documentation

#21579 [FLINK-30536][runtime] Remove CountingOutput from per-record code path for most operators
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/AbstractStreamOperator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/AbstractStreamOperatorV2.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/CountingOutput.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/sink/SinkWriterOperator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/ChainingOutput.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/CopyingChainingOutput.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/OperatorChain.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/OperatorChainTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/SubtaskCheckpointCoordinatorTest.java
Labels: component=<none>

#21597 [FLINK-30554][sql-client] Remove useless sessionId in the Executor
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/SqlClient.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliChangelogResultView.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliClient.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliResultView.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliTableResultView.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliTableauResultView.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/SqlCompleter.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/parser/SqlCommandParserImpl.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/Executor.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/LocalExecutor.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliClientITCase.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliClientTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliResultViewTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliTableauResultViewTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/TestingExecutor.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/local/DependencyTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/local/LocalExecutorITCase.java
Labels: component=TableSQL/Client

#21606 [FLINK-30578][build] Publish SBOM artifacts
  pom.xml
Labels: component=BuildSystem

#19599 [FLINK-27327][docs] Add description about changing max parallelism ex…
  docs/content.zh/docs/dev/datastream/execution/parallel.md
  docs/content/docs/dev/datastream/execution/parallel.md
  docs/layouts/shortcodes/generated/pipeline_configuration.html
  flink-core/src/main/java/org/apache/flink/configuration/PipelineOptions.java
Labels: component=Documentation, component=Runtime/Configuration

#21550 [FLINK-30485][Connector/RabbitMQ] Remove RabbitMQ connector
  docs/content.zh/docs/connectors/datastream/rabbitmq.md
  docs/content/docs/connectors/datastream/rabbitmq.md
  docs/data/sql_connectors.yml
  docs/setup_docs.sh
  flink-architecture-tests/flink-architecture-tests-production/archunit-violations/5b9eed8a-5fb6-4373-98ac-3be2a71941b8
  flink-architecture-tests/flink-architecture-tests-production/pom.xml
  flink-architecture-tests/pom.xml
  flink-connectors/flink-connector-rabbitmq/README.md
  flink-connectors/flink-connector-rabbitmq/archunit-violations/22086d11-ddf8-434e-96c5-fa40a17ab23e
  flink-connectors/flink-connector-rabbitmq/archunit-violations/621a723f-8a32-41f8-b2a5-9af8e4826fe7
  flink-connectors/flink-connector-rabbitmq/archunit-violations/stored.rules
  flink-connectors/flink-connector-rabbitmq/pom.xml
  flink-connectors/flink-connector-rabbitmq/src/main/java/org/apache/flink/streaming/connectors/rabbitmq/QueueingConsumer.java
  flink-connectors/flink-connector-rabbitmq/src/main/java/org/apache/flink/streaming/connectors/rabbitmq/RMQDeserializationSchema.java
  flink-connectors/flink-connector-rabbitmq/src/main/java/org/apache/flink/streaming/connectors/rabbitmq/RMQDeserializationSchemaWrapper.java
  flink-connectors/flink-connector-rabbitmq/src/main/java/org/apache/flink/streaming/connectors/rabbitmq/RMQSink.java
  flink-connectors/flink-connector-rabbitmq/src/main/java/org/apache/flink/streaming/connectors/rabbitmq/RMQSinkPublishOptions.java
  flink-connectors/flink-connector-rabbitmq/src/main/java/org/apache/flink/streaming/connectors/rabbitmq/RMQSource.java
  flink-connectors/flink-connector-rabbitmq/src/main/java/org/apache/flink/streaming/connectors/rabbitmq/SerializableReturnListener.java
  flink-connectors/flink-connector-rabbitmq/src/main/java/org/apache/flink/streaming/connectors/rabbitmq/Util.java
  flink-connectors/flink-connector-rabbitmq/src/main/java/org/apache/flink/streaming/connectors/rabbitmq/common/RMQConnectionConfig.java
  flink-connectors/flink-connector-rabbitmq/src/test/java/org/apache/flink/architecture/TestCodeArchitectureTest.java
  flink-connectors/flink-connector-rabbitmq/src/test/java/org/apache/flink/streaming/connectors/rabbitmq/RMQSinkTest.java
  flink-connectors/flink-connector-rabbitmq/src/test/java/org/apache/flink/streaming/connectors/rabbitmq/RMQSourceITCase.java
  flink-connectors/flink-connector-rabbitmq/src/test/java/org/apache/flink/streaming/connectors/rabbitmq/RMQSourceTest.java
  flink-connectors/flink-connector-rabbitmq/src/test/java/org/apache/flink/streaming/connectors/rabbitmq/common/RMQConnectionConfigTest.java
  flink-connectors/flink-connector-rabbitmq/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
  flink-connectors/flink-connector-rabbitmq/src/test/resources/archunit.properties
  flink-connectors/flink-connector-rabbitmq/src/test/resources/log4j2-test.properties
  flink-connectors/flink-sql-connector-rabbitmq/pom.xml
  flink-connectors/flink-sql-connector-rabbitmq/src/main/resources/META-INF/NOTICE
  flink-connectors/pom.xml
  flink-python/pom.xml
  flink-test-utils-parent/flink-test-utils-junit/src/main/java/org/apache/flink/util/DockerImageVersions.java
  tools/ci/stage.sh
Labels: component=Connectors/RabbitMQ

#21625 [BP-1.16][FLINK-30592][doc] remove unsupported hive version in hive overview document
  docs/content.zh/docs/connectors/table/hive/overview.md
  docs/content/docs/connectors/table/hive/overview.md
Labels: component=Documentation

#21542 [FLINK-27640][Connector/Hive] Exclude Pentaho dependency from Hive
  flink-connectors/flink-connector-hive/pom.xml
  flink-table/flink-sql-client/pom.xml
Labels: component=BuildSystem, component=Connectors/Hive

#21512 [FLINK-30375][hotfix]sql-client leaks flink-table-planner jar in /tmp
  flink-table/flink-table-planner-loader/src/main/java/org/apache/flink/table/planner/loader/PlannerModule.java
  flink-table/flink-table-planner-loader/src/test/java/org/apache/flink/table/planner/loader/LoaderITCase.java
Labels: component=TableSQL/Client

#21653 [FLINK-27640][Connector/Hive][SQL Client] Exclude Pentaho dependency
  flink-connectors/flink-connector-hive/pom.xml
Labels: component=BuildSystem, component=Connectors/Hive

#21604 [FLINK-30425][runtime][security] Generalize token receive side
  flink-end-to-end-tests/test-scripts/common.sh
  flink-runtime/src/main/java/org/apache/flink/runtime/minicluster/MiniCluster.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/DefaultDelegationTokenManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/DelegationTokenProvider.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/DelegationTokenReceiver.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/DelegationTokenReceiverRepository.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/hadoop/HBaseDelegationTokenProvider.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/hadoop/HBaseDelegationTokenReceiver.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/hadoop/HadoopDelegationTokenReceiver.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/hadoop/HadoopFSDelegationTokenProvider.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/hadoop/HadoopFSDelegationTokenReceiver.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskExecutor.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskManagerRunner.java
  flink-runtime/src/main/resources/META-INF/services/org.apache.flink.runtime.security.token.DelegationTokenReceiver
  flink-runtime/src/test/java/org/apache/flink/runtime/security/token/DefaultDelegationTokenManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/security/token/DelegationTokenReceiverRepositoryTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/security/token/ExceptionThrowingDelegationTokenReceiver.java
  flink-runtime/src/test/java/org/apache/flink/runtime/security/token/TestDelegationTokenReceiver.java
  flink-runtime/src/test/java/org/apache/flink/runtime/security/token/hadoop/HadoopDelegationTokenReceiverITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskExecutorBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskExecutorExecutionDeploymentReconciliationTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskExecutorPartitionLifecycleTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskExecutorSlotLifetimeTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskExecutorTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskManagerRunnerStartupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskManagerRunnerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskSubmissionTestEnvironment.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TestingTaskExecutor.java
  flink-runtime/src/test/resources/META-INF/services/org.apache.flink.runtime.security.token.DelegationTokenReceiver
  flink-yarn/src/main/java/org/apache/flink/yarn/YarnClusterDescriptor.java
Labels: component=<none>

#19815 [FLINK-27731][Documentation][Build] Remove Hugo Modules integration
  docs/README.md
  docs/setup_docs.sh
Labels: component=Documentation

#21562 [FLINK-30509][sql-client] Add sql-gateway dependency in sql-client
  flink-table/flink-sql-client/bin/sql-client.sh
  flink-table/flink-sql-client/pom.xml
Labels: component=TableSQL/Client

#21640 [FLINK-19883][table] Support "IF EXISTS" in DDL for ALTER TABLE
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/parse/HiveParserDDLSemanticAnalyzer.java
  flink-table/flink-sql-client/src/test/resources/sql/table.q
  flink-table/flink-sql-parser-hive/src/main/java/org/apache/flink/sql/parser/hive/ddl/SqlAddHivePartitions.java
  flink-table/flink-sql-parser/src/main/codegen/includes/parserImpls.ftl
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlAddPartitions.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlAddReplaceColumns.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlAlterTable.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlAlterTableAdd.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlAlterTableAddConstraint.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlAlterTableCompact.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlAlterTableDropColumn.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlAlterTableDropConstraint.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlAlterTableDropPrimaryKey.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlAlterTableDropWatermark.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlAlterTableModify.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlAlterTableOptions.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlAlterTableRename.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlAlterTableRenameColumn.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlAlterTableReset.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlAlterTableSchema.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlChangeColumn.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlDropPartitions.java
  flink-table/flink-sql-parser/src/test/java/org/apache/flink/sql/parser/FlinkSqlParserImplTest.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/TableEnvironmentImpl.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ddl/AddPartitionsOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ddl/AlterPartitionOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ddl/AlterTableChangeOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ddl/AlterTableOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ddl/AlterTableOptionsOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ddl/AlterTableRenameOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ddl/AlterTableSchemaOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ddl/DropPartitionsOperation.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/catalog/Catalog.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/AlterSchemaConverter.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/SqlToOperationConverter.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/utils/OperationConverterUtils.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/operations/SqlToOperationConverterTest.java
Labels: component=TableSQL/API

#21344 [FLINK-30083] Bump maven-shade-plugin version
  pom.xml
Labels: component=BuildSystem

#21692 [BP 1.16][FLINK-27731][Documentation][Build] Remove Hugo Modules code
  docs/README.md
  docs/setup_docs.sh
Labels: component=Documentation

#21693 [BP 1.15][FLINK-27731][Documentation][Build] Remove Hugo Modules code
  docs/setup_docs.sh
Labels: component=Documentation

#21701 [FLINK-30128][doc][azure-fs] Update documentation for streaming file …
  docs/content.zh/docs/connectors/datastream/filesystem.md
  docs/content/docs/connectors/datastream/filesystem.md
Labels: component=<none>

#21257 [FLINK-29879][filesystem] introduce operators for merging files in batch mode.
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/table/DynamicPartitionWriter.java
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/table/FileSystemCommitter.java
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/table/FileSystemOutputFormat.java
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/table/GroupedPartitionWriter.java
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/table/PartitionLoader.java
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/table/PartitionTempFileManager.java
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/table/PartitionWriter.java
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/table/PartitionWriterFactory.java
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/table/SingleDirectoryWriter.java
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/table/batch/compact/BatchCompactCoordinator.java
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/table/batch/compact/BatchCompactOperator.java
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/table/batch/compact/BatchFileWriter.java
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/table/batch/compact/BatchPartitionCommitterSink.java
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/table/batch/compact/CompactFileUtils.java
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/table/stream/compact/CompactMessages.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/table/FileSystemCommitterTest.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/table/batch/compact/BatchCompactCoordinatorTest.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/table/batch/compact/BatchCompactOperatorTest.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/table/batch/compact/BatchFileWriterTest.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/table/batch/compact/BatchPartitionCommitterSinkTest.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/table/stream/compact/AbstractCompactTestBase.java
Labels: component=Connectors/FileSystem

#21665 [FLINK-30675][sql-client] Decompose query result print from Executor
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliChangelogResultView.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliClient.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliInputView.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliResultView.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliRowView.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliTableResultView.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliTableauResultView.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliView.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/TerminalUtils.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/Executor.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/ResultDescriptor.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/LocalExecutor.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/ResultStore.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/result/ChangelogCollectResult.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/result/CollectResultBase.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/result/DynamicResult.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/result/MaterializedCollectResultBase.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliClientTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliResultViewTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliTableauResultViewTest.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/TestingExecutor.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/TestingExecutorBuilder.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/local/LocalExecutorITCase.java
Labels: component=TableSQL/Client

#21708 [BP-1.16][FLINK-30359][es] flink-sql-connector-elasticsearch6's jar should include the dependency of com.carrotsearch:hppc
  flink-connectors/flink-sql-connector-elasticsearch6/pom.xml
  flink-connectors/flink-sql-connector-elasticsearch6/src/main/resources/META-INF/NOTICE
Labels: component=Connectors/ElasticSearch

#21707 [FLINK-29884][test] Fix flaky test SortMergeResultPartitionTest.testRelease
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/SortMergeResultPartitionTest.java
Labels: component=Runtime/Network, component=Runtime/Coordination, component=Tests

#21691 [FLINK-30678][tests] Use random port
  flink-clients/src/test/java/org/apache/flink/client/program/ClientTest.java
  flink-queryable-state/flink-queryable-state-runtime/src/test/java/org/apache/flink/queryablestate/network/ClientTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/netty/NettyConnectionManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/netty/NettyPartitionRequestClientTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskExecutorTest.java
Labels: component=Runtime/Coordination

#21714 [FLINK-30724][docs] Update kafka-per-partition watermark to new source
  docs/content.zh/docs/dev/datastream/event-time/generating_watermarks.md
  docs/content/docs/dev/datastream/event-time/generating_watermarks.md
Labels: component=Documentation

#21723 [FLINK-30749][security][runtime] Fix delegation token provider enabled flag documentation
  docs/content/docs/deployment/security/security-kerberos.md
Labels: component=Runtime/Configuration

#21694 [FLINK-30704][filesystems][s3] Add S3 delegation token support
  flink-core/src/main/java/org/apache/flink/core/plugin/DefaultPluginManager.java
  flink-core/src/main/java/org/apache/flink/core/security/token/DelegationTokenProvider.java
  flink-core/src/main/java/org/apache/flink/core/security/token/DelegationTokenReceiver.java
  flink-filesystems/flink-s3-fs-base/src/main/java/org/apache/flink/fs/s3/common/AbstractS3FileSystemFactory.java
  flink-filesystems/flink-s3-fs-base/src/main/java/org/apache/flink/fs/s3/common/token/DynamicTemporaryAWSCredentialsProvider.java
  flink-filesystems/flink-s3-fs-base/src/main/java/org/apache/flink/fs/s3/common/token/S3DelegationTokenProvider.java
  flink-filesystems/flink-s3-fs-base/src/main/java/org/apache/flink/fs/s3/common/token/S3DelegationTokenReceiver.java
  flink-filesystems/flink-s3-fs-base/src/main/resources/META-INF/services/org.apache.flink.core.security.token.DelegationTokenProvider
  flink-filesystems/flink-s3-fs-base/src/main/resources/META-INF/services/org.apache.flink.core.security.token.DelegationTokenReceiver
  flink-filesystems/flink-s3-fs-base/src/test/java/org/apache/flink/fs/s3/common/token/DynamicTemporaryAWSCredentialsProviderTest.java
  flink-filesystems/flink-s3-fs-base/src/test/java/org/apache/flink/fs/s3/common/token/S3DelegationTokenProviderTest.java
  flink-filesystems/flink-s3-fs-base/src/test/java/org/apache/flink/fs/s3/common/token/S3DelegationTokenReceiverTest.java
  flink-runtime/src/main/java/org/apache/flink/runtime/entrypoint/ClusterEntrypoint.java
  flink-runtime/src/main/java/org/apache/flink/runtime/minicluster/MiniCluster.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/DefaultDelegationTokenManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/DefaultDelegationTokenManagerFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/DelegationTokenReceiverRepository.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/hadoop/HBaseDelegationTokenProvider.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/hadoop/HadoopDelegationTokenReceiver.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/hadoop/HadoopFSDelegationTokenProvider.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskManagerRunner.java
  flink-runtime/src/main/resources/META-INF/services/org.apache.flink.core.security.token.DelegationTokenProvider
  flink-runtime/src/main/resources/META-INF/services/org.apache.flink.core.security.token.DelegationTokenReceiver
  flink-runtime/src/test/java/org/apache/flink/runtime/security/token/DefaultDelegationTokenManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/security/token/DelegationTokenReceiverRepositoryTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/security/token/ExceptionThrowingDelegationTokenProvider.java
  flink-runtime/src/test/java/org/apache/flink/runtime/security/token/ExceptionThrowingDelegationTokenReceiver.java
  flink-runtime/src/test/java/org/apache/flink/runtime/security/token/TestDelegationTokenProvider.java
  flink-runtime/src/test/java/org/apache/flink/runtime/security/token/TestDelegationTokenReceiver.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskExecutorBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskExecutorExecutionDeploymentReconciliationTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskExecutorPartitionLifecycleTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskExecutorSlotLifetimeTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskExecutorTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskManagerRunnerStartupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskSubmissionTestEnvironment.java
  flink-runtime/src/test/resources/META-INF/services/org.apache.flink.core.security.token.DelegationTokenProvider
  flink-runtime/src/test/resources/META-INF/services/org.apache.flink.core.security.token.DelegationTokenReceiver
  flink-tests/src/test/java/org/apache/flink/test/plugin/DefaultPluginManagerTest.java
  flink-yarn/src/main/java/org/apache/flink/yarn/YarnClusterDescriptor.java
Labels: component=FileSystems

#21741 [FLINK-30764][docs] Include generic delegation token params in the main config page
  docs/content.zh/docs/deployment/config.md
  docs/content.zh/docs/deployment/security/security-delegation-token.md
  docs/content/docs/deployment/config.md
  docs/content/docs/deployment/security/security-kerberos.md
  docs/layouts/shortcodes/generated/optimizer_config_configuration.html
  docs/layouts/shortcodes/generated/security_configuration.html
  docs/layouts/shortcodes/generated/security_delegation_token_section.html
  flink-core/src/main/java/org/apache/flink/configuration/SecurityOptions.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/DefaultDelegationTokenManager.java
Labels: component=Runtime/Configuration

#21705 [FLINK-30713][k8s] Add Hadoop related k8s decorators exclude possibility
  docs/layouts/shortcodes/generated/kubernetes_config_configuration.html
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/configuration/KubernetesConfigOptions.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/factory/KubernetesJobManagerFactory.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/factory/KubernetesTaskManagerFactory.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/factory/KubernetesJobManagerFactoryTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/factory/KubernetesTaskManagerFactoryTest.java
Labels: component=Deployment/Kubernetes

#21719 [FLINK-30741][tests] Use remote rpc service
  flink-tests/src/test/java/org/apache/flink/test/runtime/IPv6HostnamesITCase.java
Labels: component=Tests

#20151 [FLINK-26803][checkpoint] Merging channel state files
  docs/layouts/shortcodes/generated/execution_checkpointing_configuration.html
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/runtime/SavepointEnvironment.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointFailureManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointFailureReason.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/channel/ChannelStateCheckpointWriter.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/channel/ChannelStatePendingResult.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/channel/ChannelStateWriteRequest.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/channel/ChannelStateWriteRequestDispatcherImpl.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/channel/ChannelStateWriteRequestExecutor.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/channel/ChannelStateWriteRequestExecutorFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/channel/ChannelStateWriteRequestExecutorImpl.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/channel/ChannelStateWriterImpl.java
  flink-runtime/src/main/java/org/apache/flink/runtime/execution/Environment.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/logger/NetworkActionsLogger.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/TaskExecutorChannelStateExecutorFactoryManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskExecutor.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskManagerServices.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskmanager/RuntimeEnvironment.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskmanager/Task.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/channel/ChannelStateCheckpointWriterTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/channel/ChannelStateWriteRequestDispatcherImplTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/channel/ChannelStateWriteRequestDispatcherTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/channel/ChannelStateWriteRequestExecutorFactoryTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/channel/ChannelStateWriteRequestExecutorImplTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/channel/ChannelStateWriteResultUtil.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/channel/ChannelStateWriterImplTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/channel/CheckpointInProgressRequestTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/operators/testutils/DummyEnvironment.java
  flink-runtime/src/test/java/org/apache/flink/runtime/operators/testutils/MockEnvironment.java
  flink-runtime/src/test/java/org/apache/flink/runtime/operators/testutils/MockEnvironmentBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/ChannelPersistenceITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/TaskExecutorChannelStateExecutorFactoryManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskManagerServicesBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskmanager/TaskAsyncCallTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskmanager/TestTaskBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/util/JvmExitOnFatalErrorTest.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/environment/CheckpointConfig.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/environment/ExecutionCheckpointingOptions.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/StreamConfig.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/StreamingJobGraphGenerator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/SubtaskCheckpointCoordinatorImpl.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/InterruptSensitiveRestoreTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/MockSubtaskCheckpointCoordinatorBuilder.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamMockEnvironment.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskSystemExitTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTerminationTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/SubtaskCheckpointCoordinatorTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/SynchronousCheckpointITCase.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/TaskCheckpointingBehaviourTest.java
  flink-tests/src/test/java/org/apache/flink/test/state/ChangelogRecoveryCachingITCase.java
Labels: component=Runtime/Network, component=Runtime/Checkpointing

#21740 [FLINK-30759][runtime] Merges DispatcherRunnerLeaderElectionLifecycleManager into DefaultDispatcherRunner
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/runner/DefaultDispatcherRunner.java
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/runner/DispatcherRunnerLeaderElectionLifecycleManager.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/runner/DefaultDispatcherRunnerTest.java
Labels: component=Runtime/Coordination

#21737 [FLINK-30760][runtime] Fixes wrongly used @GuardedBy annotation
  flink-runtime/src/main/java/org/apache/flink/runtime/leaderelection/DefaultLeaderElectionService.java
Labels: component=Runtime/Coordination

#21445 [FLINK-30278][streaming] Unset parallelism in the SinkTransformationTranslator if it wasn't set before
  flink-clients/src/test/java/org/apache/flink/client/program/StreamContextEnvironmentTest.java
  flink-core/src/main/java/org/apache/flink/api/common/ExecutionConfig.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/translators/SinkTransformationTranslator.java
Labels: component=Runtime/Configuration

#21733 [FLINK-30328][tests] Assert memory usage deviation is within bounds instead of min/max
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/DescriptiveStatisticsHistogramStatistics.java
  flink-tests/src/test/java/org/apache/flink/test/state/TaskManagerWideRocksDbMemorySharingITCase.java
Labels: component=Runtime/Coordination, component=Runtime/StateBackends

#21467 [FLINK-30301][tests] Increase heartbeat timeout in TaskExecutorTest to prevent unrelated failures
  flink-core/src/main/java/org/apache/flink/configuration/HeartbeatManagerOptions.java
  flink-runtime/src/main/java/org/apache/flink/runtime/heartbeat/DefaultHeartbeatMonitor.java
  flink-runtime/src/main/java/org/apache/flink/runtime/heartbeat/HeartbeatManagerImpl.java
  flink-runtime/src/main/java/org/apache/flink/runtime/heartbeat/HeartbeatManagerSenderImpl.java
  flink-runtime/src/main/java/org/apache/flink/runtime/heartbeat/HeartbeatServices.java
  flink-runtime/src/main/java/org/apache/flink/runtime/heartbeat/HeartbeatServicesImpl.java
  flink-runtime/src/main/java/org/apache/flink/runtime/heartbeat/NoOpHeartbeatServices.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/AbstractDispatcherTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/MiniDispatcherTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/TestingDispatcher.java
  flink-runtime/src/test/java/org/apache/flink/runtime/heartbeat/RecordingHeartbeatServices.java
  flink-runtime/src/test/java/org/apache/flink/runtime/heartbeat/TestingHeartbeatServices.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/JobMasterExecutionDeploymentReconciliationTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/JobMasterPartitionReleaseTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/JobMasterTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/utils/JobMasterBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/ResourceManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskExecutorBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskExecutorExecutionDeploymentReconciliationTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskExecutorPartitionLifecycleTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskExecutorTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskSubmissionTestEnvironment.java
  flink-tests/src/test/java/org/apache/flink/test/recovery/ProcessFailureCancelingITCase.java
Labels: component=Runtime/Coordination

#21758 [FLINK-30618][Python] Remove SNAPSHOT reference to Pulsar connector
  flink-python/pom.xml
Labels: component=TestInfrastructure, component=Connectors/Pulsar

#21732 [FLINK-30754][tests] Fix ExceptionThrowingDelegationTokenProvider/Receiver multi-threaded test issues
  flink-runtime/src/test/java/org/apache/flink/runtime/security/token/DefaultDelegationTokenManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/security/token/DelegationTokenReceiverRepositoryTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/security/token/ExceptionThrowingDelegationTokenProvider.java
  flink-runtime/src/test/java/org/apache/flink/runtime/security/token/ExceptionThrowingDelegationTokenReceiver.java
Labels: component=Tests

#21751 [FLINK-30619][tests] Add retry
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveSchedulerTest.java
Labels: component=Runtime/Coordination

#21763 [FLINK-15550][runtime] The static latches in TaskTest were replaced by latches from invokable objects.
  flink-runtime/src/test/java/org/apache/flink/runtime/taskmanager/TaskTest.java
Labels: component=Runtime/Task

#21497 [FLINK-30377][table-planner] applySinkProvider use ClientWrapperClassLoader while extracting Type from KeyedStream
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/common/CommonExecSink.java
Labels: component=TableSQL/Planner

#21766 [FLINK-30377][table-planner] applySinkProvider use ClientWrapperClassLoader while extracting Type from KeyedStream
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/common/CommonExecSink.java
Labels: component=TableSQL/Planner

#21747 [FLINK-24932][state] Bump frocksdbjni to 6.20.3-ververica-2.0
  flink-dist/src/main/resources/META-INF/NOTICE
  flink-state-backends/flink-statebackend-rocksdb/pom.xml
Labels: component=Runtime/StateBackends

#21602 [FLINK-30567][hive] Fix wrong behavior for insert overwrite with Hive dialect when the table contains uppercase character
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/planner/delegation/hive/HiveParserDMLHelper.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveDialectITCase.java
Labels: component=<none>

#21775 [FLINK-29878][hive] Include libfb303 to fix fail to use flink-sql-connector-hive-3.1.3
  flink-connectors/flink-sql-connector-hive-3.1.3/pom.xml
  flink-connectors/flink-sql-connector-hive-3.1.3/src/main/resources/META-INF/NOTICE
Labels: component=Connectors/Hive

#21731 [FLINK-30679][hive]Fix IndexOutOfBoundsException for Hive lookup join when column pushdown to Hive lookup table source
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveLookupTableSource.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveLookupJoinITCase.java
Labels: component=Connectors/Hive

#21704 [FLINK-29558][table-planner] Fix projection pushdown rule select nothing from source when no column is needed logically
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/rules/logical/PushProjectIntoTableSourceScanRule.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/rules/logical/PushProjectIntoTableSourceScanRuleTest.java
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/TableSourceTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/agg/HashAggregateTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/agg/SortAggregateTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/rules/logical/PushProjectIntoTableSourceScanRuleTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/TableScanTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/TableSourceTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/agg/AggregateTest.xml
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/batch/sql/agg/AggregateTestBase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/agg/AggregateTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/agg/AggregateITCaseBase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/AggregateITCase.scala
Labels: component=Connectors/JDBC

#21783 [BP-1.15][FLINK-30679][connectors/hive] Fix IndexOutOfBoundsException for Hive lookup join when column pushdown to Hive lookup table source
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveLookupTableSource.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveLookupJoinITCase.java
Labels: component=Connectors/Hive

#21756 [FLINK-30787][ci] Removes dmesg code since it's failing constantly
  flink-end-to-end-tests/run-nightly-tests.sh
  tools/ci/maven-utils.sh
Labels: component=TestInfrastructure

#21771 [FLINK-30692][sql-client] Introduce SingleSessionManager to support REMOVE JAR syntax
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/endpoint/hive/HiveServer2EndpointITCase.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/SqlClient.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliStrings.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/Executor.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/ExecutorImpl.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/DefaultContextUtils.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/gateway/local/SingleSessionManager.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/CliClientITCase.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/gateway/local/ExecutorImplITCase.java
  flink-table/flink-sql-client/src/test/resources/sql/function.q
  flink-table/flink-sql-client/src/test/resources/sql/set.q
  flink-table/flink-sql-gateway/src/main/java/org/apache/flink/table/gateway/SqlGateway.java
  flink-table/flink-sql-gateway/src/main/java/org/apache/flink/table/gateway/service/context/DefaultContext.java
  flink-table/flink-sql-gateway/src/main/java/org/apache/flink/table/gateway/service/context/SessionContext.java
  flink-table/flink-sql-gateway/src/main/java/org/apache/flink/table/gateway/service/operation/OperationExecutor.java
  flink-table/flink-sql-gateway/src/main/java/org/apache/flink/table/gateway/service/session/SessionManager.java
  flink-table/flink-sql-gateway/src/main/java/org/apache/flink/table/gateway/service/session/SessionManagerImpl.java
  flink-table/flink-sql-gateway/src/test/java/org/apache/flink/table/gateway/service/SqlGatewayServiceITCase.java
  flink-table/flink-sql-gateway/src/test/java/org/apache/flink/table/gateway/service/session/SessionManagerImplTest.java
  flink-table/flink-sql-gateway/src/test/java/org/apache/flink/table/gateway/service/utils/SqlGatewayServiceExtension.java
Labels: component=<none>

#21546 [FLINK-30477][datastream] Fix AsyncWaitOperator that not properly blocking retries when timeout occurs
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/async/AsyncWaitOperator.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/async/AsyncWaitOperatorTest.java
Labels: component=API/DataStream

#21782 [BP-1.14][FLINK-30679][connectors/hive] Fix IndexOutOfBoundsException for Hive lookup join when column pushdown to Hive lookup table source
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveLookupTableSource.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveLookupJoinITCase.java
Labels: component=Connectors/Hive

#21784 [BP-1.16][FLINK-30679][connectors/hive] Fix IndexOutOfBoundsException for Hive lookup join when column pushdown to Hive lookup table source
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveLookupTableSource.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveLookupJoinITCase.java
Labels: component=Connectors/Hive

#21703 [FLINK-29880][hive] Introduce auto compaction for Hive sink in batch mode
  docs/content.zh/docs/connectors/table/hive/hive_read_write.md
  docs/content/docs/connectors/table/hive/hive_read_write.md
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/table/FileSystemConnectorOptions.java
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/table/batch/BatchSink.java
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/table/batch/compact/BatchCompactCoordinator.java
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/table/batch/compact/BatchCompactOperator.java
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/table/stream/compact/CompactOperator.java
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/table/utils/CompactFileUtils.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveDynamicTableFactory.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveOptions.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSink.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTableCompactSinkITCase.java
Labels: component=Connectors/Hive

#21762 [FLINK-30796][metrics][slf4j] (Partially) skip metrics report
  flink-metrics/flink-metrics-slf4j/src/main/java/org/apache/flink/metrics/slf4j/Slf4jReporter.java
  flink-metrics/flink-metrics-slf4j/src/test/java/org/apache/flink/metrics/slf4j/Slf4jReporterTest.java
Labels: component=Runtime/Metrics
