Repository apache/flink, pull requests merged in 2023-04, with the labels that each got.

#22321 [FLINK-31688][docs] Fix the broken links in docs for Azure Table Storage
  docs/content.zh/docs/connectors/dataset/formats/azure_table_storage.md
  docs/content/docs/connectors/dataset/formats/azure_table_storage.md
Labels: component=Documentation

#22319 [BP-1.15][FLINK-27640][Connector/Hive][SQL Client] Exclude Pentaho dependency from Hive to avoid build problems with newer Maven versions. Newer Maven versions block http repositories such as conjars. Conjars is where Pentaho artifacts are stored (#22299)
  flink-connectors/flink-connector-hive/pom.xml
  flink-table/flink-sql-client/pom.xml
Labels: component=BuildSystem, component=Connectors/Hive

#22178 [FLINK-30950][connectors][aws] Remove flink-connector-aws-base since …
  flink-architecture-tests/flink-architecture-tests-production/pom.xml
  flink-architecture-tests/pom.xml
  flink-connectors/flink-connector-aws-base/archunit-violations/33252236-fc9f-4f63-b537-39e2322f7ccd
  flink-connectors/flink-connector-aws-base/archunit-violations/733a854b-2487-43da-a5fa-9b089af5fb4e
  flink-connectors/flink-connector-aws-base/archunit-violations/stored.rules
  flink-connectors/flink-connector-aws-base/pom.xml
  flink-connectors/flink-connector-aws-base/src/main/java/org/apache/flink/connector/aws/config/AWSConfigConstants.java
  flink-connectors/flink-connector-aws-base/src/main/java/org/apache/flink/connector/aws/table/util/AWSOptionUtils.java
  flink-connectors/flink-connector-aws-base/src/main/java/org/apache/flink/connector/aws/table/util/AsyncClientOptionsUtils.java
  flink-connectors/flink-connector-aws-base/src/main/java/org/apache/flink/connector/aws/util/AWSAsyncSinkUtil.java
  flink-connectors/flink-connector-aws-base/src/main/java/org/apache/flink/connector/aws/util/AWSAuthenticationException.java
  flink-connectors/flink-connector-aws-base/src/main/java/org/apache/flink/connector/aws/util/AWSCredentialFatalExceptionClassifiers.java
  flink-connectors/flink-connector-aws-base/src/main/java/org/apache/flink/connector/aws/util/AWSGeneralUtil.java
  flink-connectors/flink-connector-aws-base/src/main/resources/log4j2.properties
  flink-connectors/flink-connector-aws-base/src/test/java/org/apache/flink/architecture/TestCodeArchitectureTest.java
  flink-connectors/flink-connector-aws-base/src/test/java/org/apache/flink/connector/aws/table/util/AWSOptionsUtilTest.java
  flink-connectors/flink-connector-aws-base/src/test/java/org/apache/flink/connector/aws/table/util/AsyncClientOptionsUtilsTest.java
  flink-connectors/flink-connector-aws-base/src/test/java/org/apache/flink/connector/aws/testutils/AWSServicesTestUtils.java
  flink-connectors/flink-connector-aws-base/src/test/java/org/apache/flink/connector/aws/testutils/LocalstackContainer.java
  flink-connectors/flink-connector-aws-base/src/test/java/org/apache/flink/connector/aws/util/AWSAsyncSinkUtilTest.java
  flink-connectors/flink-connector-aws-base/src/test/java/org/apache/flink/connector/aws/util/AWSGeneralUtilTest.java
  flink-connectors/flink-connector-aws-base/src/test/java/org/apache/flink/connector/aws/util/TestUtil.java
  flink-connectors/flink-connector-aws-base/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
  flink-connectors/flink-connector-aws-base/src/test/resources/archunit.properties
  flink-connectors/flink-connector-aws-base/src/test/resources/log4j2-test.properties
  flink-connectors/flink-connector-aws-base/src/test/resources/profile
  flink-connectors/pom.xml
  pom.xml
  tools/ci/stage.sh
Labels: component=Connectors/Common

#22325 [FLINK-31656][runtime][security] Obtain delegation tokens early to support external file system usage in HA services
  flink-runtime/src/main/java/org/apache/flink/runtime/blob/FileSystemBlobStore.java
  flink-runtime/src/main/java/org/apache/flink/runtime/entrypoint/ClusterEntrypoint.java
  flink-runtime/src/main/java/org/apache/flink/runtime/highavailability/FileSystemJobResultStore.java
  flink-runtime/src/main/java/org/apache/flink/runtime/minicluster/MiniCluster.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/DefaultDelegationTokenManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/DelegationTokenManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/NoOpDelegationTokenManager.java
  flink-runtime/src/test/java/org/apache/flink/runtime/blob/FileSystemBlobStoreTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/entrypoint/ClusterEntrypointTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/highavailability/FileSystemJobResultStoreFileOperationsTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/security/token/ExceptionThrowingDelegationTokenReceiver.java
Labels: component=<none>

#21208 [FLINK-29822] fix wrong description in comments of StreamExecutionEnv…
  docs/layouts/shortcodes/generated/execution_config_configuration.html
  docs/layouts/shortcodes/generated/pipeline_configuration.html
  flink-core/src/main/java/org/apache/flink/configuration/PipelineOptions.java
  flink-python/pyflink/datastream/stream_execution_environment.py
  flink-runtime/src/main/java/org/apache/flink/runtime/jobgraph/JobVertex.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/KeyGroupRangeAssignment.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/environment/StreamExecutionEnvironment.java
Labels: component=<none>

#22331 [FLINK-31705][Build System] Remove Conjars as Maven mirror
  tools/ci/alibaba-mirror-settings.xml
  tools/ci/google-mirror-settings.xml
Labels: component=BuildSystem

#22337 [FLINK-31711][docs] Include complete-statement request body
  docs/static/generated/rest_v2_sql_gateway.yml
  flink-docs/src/main/java/org/apache/flink/docs/rest/OpenApiSpecGenerator.java
Labels: component=Documentation, component=Runtime/REST

#22338 [FLINK-31469] Allow setting JobResourceRequirements through REST API.
  docs/layouts/shortcodes/generated/rest_v1_dispatcher.html
  docs/static/generated/rest_v1_dispatcher.yml
  flink-runtime-web/src/test/resources/rest_api_v1.snapshot
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/DispatcherRestEndpoint.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/handler/job/JobResourceRequirementsHandler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/handler/job/JobResourceRequirementsUpdateHandler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/messages/job/JobResourceRequirementsBody.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/messages/job/JobResourceRequirementsHeaders.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/messages/job/JobResourcesRequirementsUpdateHeaders.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/messages/job/JobResourceRequirementsBodyTest.java
Labels: component=Runtime/Coordination, component=Runtime/REST

#22226 [FLINK-31214][python] Add support for new cli option -py.pythonpath
  docs/layouts/shortcodes/generated/python_configuration.html
  flink-clients/src/main/java/org/apache/flink/client/cli/CliFrontendParser.java
  flink-clients/src/main/java/org/apache/flink/client/cli/ProgramOptionsUtils.java
  flink-python/src/main/java/org/apache/flink/python/PythonOptions.java
  flink-python/src/main/java/org/apache/flink/python/util/PythonDependencyUtils.java
  flink-python/src/test/java/org/apache/flink/client/cli/PythonProgramOptionsTest.java
  flink-python/src/test/java/org/apache/flink/python/PythonOptionsTest.java
  flink-python/src/test/java/org/apache/flink/python/util/PythonDependencyUtilsTest.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliOptionsParser.java
  flink-table/flink-sql-client/src/test/resources/cli/all-mode-help.out
  flink-table/flink-sql-client/src/test/resources/cli/embedded-mode-help.out
Labels: component=API/Python

#22346 [BP-1.16][FLINK-30989][runtime] Some config options related to sorting and spilling are not valid.
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/sort/MultiInputSortingDataInput.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/sort/SortingDataInput.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/StreamMultipleInputProcessorFactory.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/StreamTwoInputProcessorFactory.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/OneInputStreamTask.java
Labels: component=Runtime/Configuration, component=TableSQL/Runtime

#22345 [BP-1.17][FLINK-30989][runtime] Some config options related to sorting and spilling are not valid.
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/sort/MultiInputSortingDataInput.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/sort/SortingDataInput.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/StreamMultipleInputProcessorFactory.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/StreamTwoInputProcessorFactory.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/OneInputStreamTask.java
Labels: component=Runtime/Configuration, component=TableSQL/Runtime

#22361 [FLINK-31670][doc] Using v3.0.0-docs branch for es connector docs build.
  docs/data/sql_connectors.yml
  docs/setup_docs.sh
Labels: component=Documentation, component=Connectors/ElasticSearch

#22347 [FLINK-31704][Connectors/Pulsar] Pulsar docs should be pulled from dedicated branch
  docs/data/sql_connectors.yml
  docs/setup_docs.sh
Labels: component=Documentation, component=Connectors/Pulsar

#22349 [FLINK-31728][examples] Remove scala api dependency
  flink-dist/pom.xml
  flink-end-to-end-tests/flink-high-parallelism-iterations-test/pom.xml
  flink-examples/flink-examples-batch/pom.xml
  flink-examples/flink-examples-build-helper/flink-examples-streaming-state-machine/pom.xml
  flink-examples/flink-examples-streaming/pom.xml
  flink-fs-tests/pom.xml
  flink-tests/pom.xml
  flink-walkthroughs/flink-walkthrough-datastream-java/src/main/resources/archetype-resources/pom.xml
  flink-yarn-tests/pom.xml
Labels: component=BuildSystem, component=Examples

#22354 [FLINK-30844][runtime] Increased TASK_CANCELLATION_TIMEOUT for testInterruptibleSharedLockInInvokeAndCancel
  flink-runtime/src/test/java/org/apache/flink/runtime/taskmanager/TaskTest.java
Labels: component=Runtime/Coordination, component=Runtime/Task

#22357 [FLINK-31735][docs] Document 'plan' field as object
  docs/layouts/shortcodes/generated/rest_v1_dispatcher.html
  docs/static/generated/rest_v1_dispatcher.yml
  flink-runtime-web/src/test/resources/rest_api_v1.snapshot
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/handler/job/JobDetailsHandler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/messages/JobPlanInfo.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/messages/job/JobDetailsInfo.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/messages/job/JobDetailsInfoTest.java
Labels: component=Documentation, component=Runtime/REST

#22372 [FLINK-31165][table-planner] Improve the error message for order by clause
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/nodes/logical/FlinkLogicalOverAggregate.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/batch/sql/RankTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/RankTest.scala
Labels: component=TableSQL/API

#22358 [FLINK-31738] Prevent 'Type' name clash in generated clients
  docs/static/generated/rest_v1_dispatcher.yml
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/messages/FlameGraphTypeQueryParameter.java
Labels: component=Documentation, component=Runtime/REST

#22375 [BP-1.17][FLINK-31738] Prevent name clash in generated clients
  docs/static/generated/rest_v1_dispatcher.yml
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/messages/FlameGraphTypeQueryParameter.java
Labels: component=Documentation, component=Runtime/REST

#22374 [FLINK-31761] Fix Some Typo And Improve lambda expressions.
  flink-formats/flink-csv/src/main/java/org/apache/flink/formats/csv/CsvFileFormatFactory.java
  flink-formats/flink-csv/src/main/java/org/apache/flink/formats/csv/CsvReaderFormat.java
Labels: component=Formats

#21742 [FLINK-30765][runtime] Aligns the LeaderElectionService.stop() contract
  flink-runtime/src/main/java/org/apache/flink/runtime/highavailability/nonha/embedded/EmbeddedLeaderService.java
  flink-runtime/src/main/java/org/apache/flink/runtime/leaderelection/DefaultLeaderElectionService.java
  flink-runtime/src/main/java/org/apache/flink/runtime/leaderelection/LeaderElectionEventHandler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/leaderelection/LeaderElectionService.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderelection/DefaultLeaderElectionServiceTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderelection/TestingLeaderElectionService.java
Labels: component=Runtime/Coordination

#22377 [FLINK-31765][runtime][test] Disable changelog backend for RocksDB migration tests
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/StatefulJobSnapshotMigrationITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/StatefulJobWBroadcastStateMigrationITCase.java
  flink-tests/src/test/scala/org/apache/flink/api/scala/migration/StatefulJobSavepointMigrationITCase.scala
  flink-tests/src/test/scala/org/apache/flink/api/scala/migration/StatefulJobWBroadcastStateMigrationITCase.scala
Labels: component=Runtime/Coordination, component=Tests

#22317 [FLINK-29334][runtime] Remove releaseAndTryRemoveAll in StateHandleStore
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/highavailability/KubernetesStateHandleStore.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/highavailability/KubernetesStateHandleStoreTest.java
  flink-runtime/src/main/java/org/apache/flink/runtime/persistence/StateHandleStore.java
  flink-runtime/src/main/java/org/apache/flink/runtime/zookeeper/ZooKeeperStateHandleStore.java
  flink-runtime/src/test/java/org/apache/flink/runtime/persistence/TestingStateHandleStore.java
  flink-runtime/src/test/java/org/apache/flink/runtime/zookeeper/ZooKeeperStateHandleStoreTest.java
Labels: component=Runtime/Coordination

#22388 [FLINK-31792][WebUI] Fix resolution errors during NzNotificationServi…
  flink-runtime-web/web-dashboard/src/app/app.interceptor.ts
  flink-runtime-web/web-dashboard/src/main.ts
Labels: component=Runtime/WebFrontend

#22389 [BP-1.17][FLINK-31792][WebUI] Fix resolution errors during NzNotificationServi…
  flink-runtime-web/web-dashboard/src/app/app.interceptor.ts
  flink-runtime-web/web-dashboard/src/main.ts
Labels: component=Runtime/WebFrontend

#21833 [FLINK-30852][runtime] Checking task cancelation explicitly rather than failing the cancel method
  flink-runtime/src/test/java/org/apache/flink/runtime/taskmanager/TaskTest.java
Labels: component=Runtime/Task

#22383 [FLINK-31779][docs] Track stable branch of externalized connector instead of specific release tag
  docs/setup_docs.sh
Labels: component=Documentation, component=Connectors/Common

#22402 [BP-1.17][FLINK-31779][docs] Track stable branch of externalized connector instead of specific release tag
  docs/setup_docs.sh
Labels: component=Documentation, component=Connectors/Common

#22403 [BP-1.16][FLINK-31779][docs] Track stable branch of externalized connector instead of specific release tag
  docs/setup_docs.sh
Labels: component=Documentation, component=Connectors/Common

#22406 [BP-1.17][FLINK-31763][runtime] Convert requested buffers to overdraft buffers when pool size is decreased
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/buffer/LocalBufferPool.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/buffer/LocalBufferPoolTest.java
Labels: component=Runtime/Network

#22405 [BP-1.16][FLINK-31763][runtime] Convert requested buffers to overdraft buffers when pool size is decreased
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/buffer/LocalBufferPool.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/buffer/LocalBufferPoolTest.java
Labels: component=Runtime/Network

#22414 [FLINK-31823] Make #testWebRescaleFeatureFlagWithReactiveMode work fo…
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/handler/RestHandlerConfigurationTest.java
Labels: component=Runtime/WebFrontend

#22294 [FLINK-31398][sql-gateway] OperationExecutor is no longer set context classloader when executing statement.
  flink-table/flink-sql-gateway/src/main/java/org/apache/flink/table/gateway/service/operation/OperationExecutor.java
Labels: component=Connectors/Hive, component=TableSQL/Client

#22426 [FLINK-31834][Azure] Free up disk space before caching
  tools/azure-pipelines/e2e-template.yml
Labels: component=BuildSystem/AzurePipelines

#22420 [FLINK-31839][filesystems] Fix flink-s3-fs-hadoop and flink-s3-fs-presto plugin collision
  docs/content/docs/deployment/security/security-delegation-token.md
  flink-filesystems/flink-s3-fs-base/src/main/java/org/apache/flink/fs/s3/common/AbstractS3FileSystemFactory.java
  flink-filesystems/flink-s3-fs-base/src/main/java/org/apache/flink/fs/s3/common/token/AbstractS3DelegationTokenProvider.java
  flink-filesystems/flink-s3-fs-base/src/main/java/org/apache/flink/fs/s3/common/token/AbstractS3DelegationTokenReceiver.java
  flink-filesystems/flink-s3-fs-base/src/main/java/org/apache/flink/fs/s3/common/token/DynamicTemporaryAWSCredentialsProvider.java
  flink-filesystems/flink-s3-fs-base/src/test/java/org/apache/flink/fs/s3/common/token/AbstractS3DelegationTokenProviderTest.java
  flink-filesystems/flink-s3-fs-base/src/test/java/org/apache/flink/fs/s3/common/token/AbstractS3DelegationTokenReceiverTest.java
  flink-filesystems/flink-s3-fs-base/src/test/java/org/apache/flink/fs/s3/common/token/DynamicTemporaryAWSCredentialsProviderTest.java
  flink-filesystems/flink-s3-fs-hadoop/src/main/java/org/apache/flink/fs/s3hadoop/token/S3HadoopDelegationTokenProvider.java
  flink-filesystems/flink-s3-fs-hadoop/src/main/java/org/apache/flink/fs/s3hadoop/token/S3HadoopDelegationTokenReceiver.java
  flink-filesystems/flink-s3-fs-hadoop/src/main/resources/META-INF/services/org.apache.flink.core.security.token.DelegationTokenProvider
  flink-filesystems/flink-s3-fs-hadoop/src/main/resources/META-INF/services/org.apache.flink.core.security.token.DelegationTokenReceiver
  flink-filesystems/flink-s3-fs-presto/src/main/java/org/apache/flink/fs/s3presto/token/S3PrestoDelegationTokenProvider.java
  flink-filesystems/flink-s3-fs-presto/src/main/java/org/apache/flink/fs/s3presto/token/S3PrestoDelegationTokenReceiver.java
  flink-filesystems/flink-s3-fs-presto/src/main/resources/META-INF/services/org.apache.flink.core.security.token.DelegationTokenProvider
  flink-filesystems/flink-s3-fs-presto/src/main/resources/META-INF/services/org.apache.flink.core.security.token.DelegationTokenReceiver
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/DefaultDelegationTokenManager.java
  flink-runtime/src/test/java/org/apache/flink/runtime/security/token/DefaultDelegationTokenManagerTest.java
Labels: component=FileSystems

#22428 [BP-1.17][FLINK-31839][filesystems] Fix flink-s3-fs-hadoop and flink-s3-fs-presto plugin collision
  docs/content/docs/deployment/security/security-delegation-token.md
  flink-filesystems/flink-s3-fs-base/src/main/java/org/apache/flink/fs/s3/common/AbstractS3FileSystemFactory.java
  flink-filesystems/flink-s3-fs-base/src/main/java/org/apache/flink/fs/s3/common/token/AbstractS3DelegationTokenProvider.java
  flink-filesystems/flink-s3-fs-base/src/main/java/org/apache/flink/fs/s3/common/token/AbstractS3DelegationTokenReceiver.java
  flink-filesystems/flink-s3-fs-base/src/main/java/org/apache/flink/fs/s3/common/token/DynamicTemporaryAWSCredentialsProvider.java
  flink-filesystems/flink-s3-fs-base/src/test/java/org/apache/flink/fs/s3/common/token/AbstractS3DelegationTokenProviderTest.java
  flink-filesystems/flink-s3-fs-base/src/test/java/org/apache/flink/fs/s3/common/token/AbstractS3DelegationTokenReceiverTest.java
  flink-filesystems/flink-s3-fs-base/src/test/java/org/apache/flink/fs/s3/common/token/DynamicTemporaryAWSCredentialsProviderTest.java
  flink-filesystems/flink-s3-fs-hadoop/src/main/java/org/apache/flink/fs/s3hadoop/token/S3HadoopDelegationTokenProvider.java
  flink-filesystems/flink-s3-fs-hadoop/src/main/java/org/apache/flink/fs/s3hadoop/token/S3HadoopDelegationTokenReceiver.java
  flink-filesystems/flink-s3-fs-hadoop/src/main/resources/META-INF/services/org.apache.flink.core.security.token.DelegationTokenProvider
  flink-filesystems/flink-s3-fs-hadoop/src/main/resources/META-INF/services/org.apache.flink.core.security.token.DelegationTokenReceiver
  flink-filesystems/flink-s3-fs-presto/src/main/java/org/apache/flink/fs/s3presto/token/S3PrestoDelegationTokenProvider.java
  flink-filesystems/flink-s3-fs-presto/src/main/java/org/apache/flink/fs/s3presto/token/S3PrestoDelegationTokenReceiver.java
  flink-filesystems/flink-s3-fs-presto/src/main/resources/META-INF/services/org.apache.flink.core.security.token.DelegationTokenProvider
  flink-filesystems/flink-s3-fs-presto/src/main/resources/META-INF/services/org.apache.flink.core.security.token.DelegationTokenReceiver
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/DefaultDelegationTokenManager.java
  flink-runtime/src/test/java/org/apache/flink/runtime/security/token/DefaultDelegationTokenManagerTest.java
Labels: component=FileSystems

#22399 [FLINK-31804] Allow MiniClusterTestEnvironment
  flink-architecture-tests/flink-architecture-tests-test/pom.xml
  flink-architecture-tests/flink-architecture-tests-test/src/main/java/org/apache/flink/architecture/rules/ITCaseRules.java
  flink-connectors/flink-connector-files/archunit-violations/f5e3e868-8d92-4258-9654-a605dc9c550f
  flink-connectors/flink-connector-hive/archunit-violations/26d337fc-45c4-4d03-a84a-6692c37fafbc
  flink-connectors/flink-connector-kafka/archunit-violations/97dda445-f6bc-43e2-8106-5876ca0cd052
  flink-formats/flink-avro/archunit-violations/337c411e-1885-4f85-8070-aabe3638eb43
  flink-formats/flink-csv/archunit-violations/41d59928-b3fa-4aa2-8b1b-221c1031bd0c
  flink-formats/flink-json/archunit-violations/62c5e4e5-2b0e-41ed-a268-ee33d5edd162
  flink-formats/flink-orc/archunit-violations/8a4ac4b1-94ba-4a1d-a639-b2bd22868374
  flink-formats/flink-parquet/archunit-violations/1b8e145e-3f0a-4415-b463-37a87dd0a998
Labels: component=Tests, component=Connectors/Common

#22431 [BP-1.17][FLINK-31859][build] Update cyclonedx-maven-plugin from 2.7.3 to 2.7.7
  pom.xml
Labels: component=BuildSystem

#22063 [FLINK-24909][Table SQL/Client] Add syntax highlighting
  docs/content.zh/docs/dev/table/sqlClient.md
  docs/content/docs/dev/table/sqlClient.md
  docs/layouts/shortcodes/generated/sql_client_configuration.html
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/CliClient.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/parser/SqlClientSyntaxHighlighter.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/cli/parser/SyntaxHighlightStyle.java
  flink-table/flink-sql-client/src/main/java/org/apache/flink/table/client/config/SqlClientOptions.java
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/cli/parser/SqlClientHighlighterTest.java
Labels: component=TableSQL/Client

#22408 [FLINK-31803] Harden UpdateJobResourceRequirementsRecoveryITCase.
  flink-tests/src/test/java/org/apache/flink/test/recovery/UpdateJobResourceRequirementsRecoveryITCase.java
Labels: component=Runtime/Coordination, component=Tests

#22436 [FLINK-30852][runtime] Checking task cancelation explicitly rather th…
  flink-runtime/src/test/java/org/apache/flink/runtime/taskmanager/TaskTest.java
Labels: component=Runtime/Task

#22435 [FLINK-31723] Fix DispatcherTest#testCancellationDuringInitialization to not make assumptions about an underlying scheduler implementation.
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/DispatcherTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/DefaultJobMasterServiceProcessTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/factories/TestingJobMasterServiceFactory.java
Labels: component=Runtime/Coordination

#22444 [BP-1.17][FLINK-31398][sql-gateway] OperationExecutor is no longer set context classloader when executing statement.
  flink-table/flink-sql-gateway/src/main/java/org/apache/flink/table/gateway/service/operation/OperationExecutor.java
Labels: component=Connectors/Hive, component=TableSQL/Client

#22443 [FLINK-31878][connectors] Fix the wrong name of PauseOrResumeSplitsTask#toString
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/reader/fetcher/PauseOrResumeSplitsTask.java
Labels: component=Connectors/Common

#22392 [FLINK-31588][checkpoint] Correct the unaligned checkpoint type after aligned barrier timeout to unaligned barrier on PipelinedSubpartition
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointMetricsBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointMetricsTest.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/SubtaskCheckpointCoordinatorImpl.java
Labels: component=Runtime/Checkpointing

#22449 [FLINK-31752] Fix SourceOperator numRecordsOut duplicate bug
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/reader/SourceMetricsITCase.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/reader/mocks/MockRecordEmitter.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/SourceOperatorStreamTask.java
Labels: component=Runtime/Metrics

#22440 [FLINK-31131][doc] Fix the missed INITIALIZING of ExecutionState in the state_machine doc
  docs/static/fig/state_machine.svg
Labels: component=Documentation

#22448 [FLINK-31386][network] Fix the potential deadlock issue of blocking shuffle
  flink-runtime/src/main/java/org/apache/flink/runtime/io/disk/BatchShuffleReadBufferPool.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/SortMergeResultPartition.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/SortMergeResultPartitionTest.java
Labels: component=Runtime/Network

#22462 [FLINK-31752] Fix SourceOperator numRecordsOut duplicate bug
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/reader/SourceMetricsITCase.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/reader/mocks/MockRecordEmitter.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/SourceOperatorStreamTask.java
Labels: component=Runtime/Metrics

#22461 [FLINK-31131][doc]Backport to release-1.17
  docs/static/fig/state_machine.svg
Labels: component=Documentation

#22460 [FLINK-31131][doc]Backport to release-1.16
  docs/static/fig/state_machine.svg
Labels: component=Documentation

#22466 [FLINK-30478] [core] Avoiding dependence on JDK-internal code
  flink-core/src/main/java/org/apache/flink/util/NetUtils.java
  flink-core/src/test/java/org/apache/flink/util/NetUtilsTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskManagerRunnerConfigurationTest.java
Labels: component=API/Core

#21376 [FLINK-30174][Web Frontend] Bump engine.io from 6.2.0 to 6.2.1
  flink-runtime-web/web-dashboard/package-lock.json
Labels: component=Runtime/WebFrontend

#21858 [FLINK-30729][state/changelog] Refactor checkState() to WARN of StateChangelogWriter to avoid confusing IllegalException
  flink-dstl/flink-dstl-dfs/src/main/java/org/apache/flink/changelog/fs/FsStateChangelogWriter.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/changelog/inmemory/InMemoryStateChangelogWriter.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/changelog/inmemory/StateChangelogStorageTest.java
Labels: component=Runtime/StateBackends, component=TableSQL/API

#22453 [FLINK-31588][checkpoint] Correct the unaligned checkpoint type based on the bytesPersistedDuringAlignment
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointMetricsBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointMetricsTest.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/SubtaskCheckpointCoordinatorImpl.java
Labels: component=Runtime/Checkpointing

#22454 [FLINK-31588][checkpoint] Correct the unaligned checkpoint type based on the bytesPersistedDuringAlignment
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointMetricsBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointMetricsTest.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/SubtaskCheckpointCoordinatorImpl.java
Labels: component=Runtime/Checkpointing

#22470 [FLINK-31900] Fix some typo in java doc, comments and assertion message
  flink-core/src/main/java/org/apache/flink/api/common/operators/SingleInputOperator.java
  flink-fs-tests/src/test/java/org/apache/flink/hdfstests/ContinuousFileProcessingTest.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/highavailability/AbstractThreadsafeJobResultStore.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/KeyGroupRangeAssignment.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/StateBackend.java
Labels: component=Documentation

#22472 [FLINK-31907][coordination] Remove the unused field inside ExecutionSlotSharingGroupBuilder
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/LocalInputPreferredSlotSharingStrategy.java
Labels: component=Runtime/Coordination

#22452 [FLINK-31881][docs] Fix the confusion in the Chinese documentation page of Flink official CEP, and add the Scala code of timesOrMore.
  docs/content.zh/docs/libs/cep.md
Labels: component=chinese-translation

#22476 [FLINK-31915][python] Pass java opts as array
  flink-python/pyflink/pyflink_gateway_server.py
Labels: component=API/Python

#22471 [FLINK-31897] Fix the unstable test ClientTest#testRequestUnavailableHost
  flink-queryable-state/flink-queryable-state-runtime/src/test/java/org/apache/flink/queryablestate/network/ClientTest.java
Labels: component=API/StateProcessor

#22479 [FLINK-31897][Backport 1.17] Fix the unstable test ClientTest#testRequestUnavailableHost
  flink-queryable-state/flink-queryable-state-runtime/src/test/java/org/apache/flink/queryablestate/network/ClientTest.java
Labels: component=API/StateProcessor

#22480 [FLINK-31897][Backport 1.16] Fix the unstable test ClientTest#testRequestUnavailableHost
  flink-queryable-state/flink-queryable-state-runtime/src/test/java/org/apache/flink/queryablestate/network/ClientTest.java
Labels: component=API/StateProcessor

#22474 [FLINK-31912][build] Upgrade bytebuddy to 1.14.4
  flink-end-to-end-tests/pom.xml
  pom.xml
Labels: component=Tests

#22486 [FLINK-31935] Register handlers for resource requirements endpoints i…
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/DispatcherGateway.java
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/DispatcherRestEndpoint.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/handler/job/JobResourceRequirementsHandler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/handler/job/JobResourceRequirementsUpdateHandler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/webmonitor/RestfulGateway.java
  flink-runtime/src/main/java/org/apache/flink/runtime/webmonitor/WebMonitorEndpoint.java
Labels: component=Runtime/REST

#22445 [FLINK-31876][QS] Migrate flink-queryable-state-client tests to JUnit5
  flink-queryable-state/flink-queryable-state-client-java/src/test/java/org/apache/flink/queryablestate/client/state/ImmutableAggregatingStateTest.java
  flink-queryable-state/flink-queryable-state-client-java/src/test/java/org/apache/flink/queryablestate/client/state/ImmutableListStateTest.java
  flink-queryable-state/flink-queryable-state-client-java/src/test/java/org/apache/flink/queryablestate/client/state/ImmutableMapStateTest.java
  flink-queryable-state/flink-queryable-state-client-java/src/test/java/org/apache/flink/queryablestate/client/state/ImmutableReducingStateTest.java
  flink-queryable-state/flink-queryable-state-client-java/src/test/java/org/apache/flink/queryablestate/client/state/ImmutableValueStateTest.java
Labels: component=Runtime/QueryableState

#22473 [FLINK-31911][sql][tests] Fix address construction
  flink-table/flink-sql-client/src/test/java/org/apache/flink/table/client/SqlClientTest.java
Labels: component=Tests, component=API/Core

#22438 [FLINK-31873][API / DataStream] Add method setMaxParallelism to DataStreamSink.
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/datastream/DataStreamSink.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/graph/StreamingJobGraphGeneratorTest.java
Labels: component=API/DataStream

#22482 [FLINK-31933][core][tests] Remove reflective access
  flink-core/src/main/java/org/apache/flink/api/common/operators/Keys.java
  flink-core/src/test/java/org/apache/flink/api/common/operators/ExpressionKeysTest.java
Labels: component=Tests, component=API/Core
