Repository apache/flink, pull requests merged in 2024-10, with the labels that each got.

#25438 [FLINK-36260][metrics] Fix numBytesInLocal and numBuffersInLocal being reported as remote
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/UnknownInputChannel.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/consumer/UnknownInputChannelTest.java
Labels: component=Runtime/Network, component=Runtime/Metrics

#25441 [FLINK-36415][table] ProjectWatermarkAssignerTransposeRule can generate extra casts which do not make sense
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/utils/NestedProjectionUtil.scala
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/rules/logical/PushProjectIntoTableSourceScanRuleTest.java
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/rules/logical/PushProjectIntoTableSourceScanRuleTest.xml
Labels: component=TableSQL/Planner

#25443 [FLINK-36416][table][runtime] Enable splittable timers for temporal join, temporal sort and windowed aggregation in SQL/Table API
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/join/temporal/BaseTwoInputStreamOperatorWithStateRetention.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/sort/BaseTemporalSortOperator.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/window/groupwindow/operator/WindowOperator.java
Labels: component=TableSQL/Runtime

#25405 [FLINK-36368] Do not prematurely merge CommittableManager
  flink-runtime/src/main/java/org/apache/flink/streaming/api/connector/sink2/CommittableWithLineage.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/connector/sink2/GlobalCommitterOperator.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/connector/sink2/GlobalCommitterSerializer.java
  flink-runtime/src/main/java/org/apache/flink/streaming/runtime/operators/sink/CommitterOperator.java
  flink-runtime/src/main/java/org/apache/flink/streaming/runtime/operators/sink/committables/CheckpointCommittableManager.java
  flink-runtime/src/main/java/org/apache/flink/streaming/runtime/operators/sink/committables/CheckpointCommittableManagerImpl.java
  flink-runtime/src/main/java/org/apache/flink/streaming/runtime/operators/sink/committables/CommitRequestImpl.java
  flink-runtime/src/main/java/org/apache/flink/streaming/runtime/operators/sink/committables/CommittableCollector.java
  flink-runtime/src/main/java/org/apache/flink/streaming/runtime/operators/sink/committables/CommittableCollectorSerializer.java
  flink-runtime/src/main/java/org/apache/flink/streaming/runtime/operators/sink/committables/CommittableManager.java
  flink-runtime/src/main/java/org/apache/flink/streaming/runtime/operators/sink/committables/SubtaskCommittableManager.java
  flink-runtime/src/test/java/org/apache/flink/streaming/api/connector/sink2/GlobalCommitterSerializerTest.java
  flink-runtime/src/test/java/org/apache/flink/streaming/runtime/operators/sink/committables/CheckpointCommittableManagerImplTest.java
  flink-runtime/src/test/java/org/apache/flink/streaming/runtime/operators/sink/committables/CommittableCollectorSerializerTest.java
  flink-runtime/src/test/java/org/apache/flink/streaming/runtime/operators/sink/committables/CommittableCollectorTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/sink/CommitterOperatorTestBase.java
Labels: component=<none>

#25401 [FLINK-35709][table-planner] Allow reordering source columns in CTAS and RTAS
  docs/content.zh/docs/dev/table/sql/create.md
  docs/content/docs/dev/table/sql/create.md
  flink-table/flink-sql-parser/src/main/codegen/includes/parserImpls.ftl
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlCreateTable.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlCreateTableAs.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlReplaceTableAs.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/utils/ParserResource.java
  flink-table/flink-sql-parser/src/test/java/org/apache/flink/sql/parser/FlinkSqlParserImplTest.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/MergeTableAsUtil.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/SqlCreateTableConverter.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/converters/SqlReplaceTableAsConverter.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/calcite/PreValidateReWriter.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/calcite/SqlRewriterUtils.scala
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/operations/SqlDdlToOperationConverterTest.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/operations/SqlRTASNodeToOperationConverterTest.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/runtime/stream/sql/RTASITCase.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/TableSinkITCase.scala
Labels: component=<none>

#25444 [FLINK-36417][table] Add support for hints in WatermarkAssigner
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/calcite/FlinkRelBuilder.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/hint/FlinkHints.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/rules/logical/EventTimeTemporalJoinRewriteRule.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/rules/physical/stream/WatermarkAssignerChangelogNormalizeTransposeRule.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/nodes/calcite/LogicalWatermarkAssigner.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/nodes/calcite/WatermarkAssigner.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/nodes/logical/FlinkLogicalWatermarkAssigner.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamPhysicalWatermarkAssigner.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/stream/StreamPhysicalWatermarkAssignerRule.scala
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/hints/stream/StateTtlHintTest.java
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/hints/stream/StateTtlHintTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/rules/logical/ProjectWatermarkAssignerTransposeRuleTest.xml
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/utils/TableTestBase.scala
Labels: component=TableSQL/Planner

#25447 [FLINK-36420][Formats/Avro] Bump avro from 1.11.3 to 1.11.4
  flink-formats/flink-sql-avro-confluent-registry/src/main/resources/META-INF/NOTICE
  flink-formats/flink-sql-avro/src/main/resources/META-INF/NOTICE
  pom.xml
Labels: component=Connectors/Kafka, component=Formats

#24420 [FLINK-34555][table] Migrate JoinConditionTypeCoerceRule to java.
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/rules/logical/JoinConditionTypeCoerceRule.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/rules/logical/JoinConditionTypeCoerceRule.scala
Labels: component=TableSQL/Planner

#25448 [FLINK-36420][Formats/Avro] Bump avro from 1.11.3 to 1.11.4
  flink-formats/flink-sql-avro-confluent-registry/src/main/resources/META-INF/NOTICE
  flink-formats/flink-sql-avro/src/main/resources/META-INF/NOTICE
  pom.xml
Labels: component=Connectors/Kafka, component=Formats

#25449 [FLINK-36420][Formats/Avro] Bump avro from 1.11.3 to 1.11.4
  flink-formats/flink-sql-avro-confluent-registry/src/main/resources/META-INF/NOTICE
  flink-formats/flink-sql-avro/src/main/resources/META-INF/NOTICE
  pom.xml
Labels: component=Connectors/Kafka, component=Formats

#25457 [FLINK-36355][runtime] Mark deprecated YieldingOperatorFactory as internal legacy
  flink-runtime/src/main/java/org/apache/flink/streaming/api/functions/source/ContinuousFileReaderOperatorFactory.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/graph/StreamingJobGraphGenerator.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/operators/AbstractStreamOperatorFactory.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/operators/StreamOperatorFactoryUtil.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/operators/legacy/YieldingOperatorFactory.java
  flink-runtime/src/main/java/org/apache/flink/streaming/runtime/operators/sink/SinkWriterOperatorFactory.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/async/AsyncWaitOperatorFactory.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/graph/StreamingJobGraphGeneratorTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/StreamTaskOperatorTimerTest.java
Labels: component=Runtime/Coordination, component=Runtime/WebFrontend, component=API/DataStream, component=Runtime/REST

#25385 [FLINK-36360] Introduce scripts for cutting branch for a preview release
  tools/releasing/create_preview_branch.sh
Labels: component=ReleaseSystem

#25459 [FLINK-36433][hotfix] Check StreamRecord status to avoid NPE in PartitionReduceOperator
  flink-runtime/src/main/java/org/apache/flink/streaming/api/operators/PartitionReduceOperator.java
Labels: component=API/DataStream

#25460 [FLINK-20092] Bump maven-shade-plugin to 3.5.3 and maven-remote-resource-plugin to 3.2.0
  pom.xml
Labels: component=BuildSystem

#25461 [FLINK-36435] Fix shaded hadoop S3A with credentials provider end-to-end test failed
  flink-end-to-end-tests/test-scripts/common_s3_operations.sh
  flink-end-to-end-tests/test-scripts/test_batch_wordcount.sh
  flink-end-to-end-tests/test-scripts/test_file_sink.sh
Labels: component=Tests

#25462 [FLINK-36437][hive] Exclude hive connector
  flink-connectors/pom.xml
  flink-end-to-end-tests/pom.xml
  flink-end-to-end-tests/run-nightly-tests.sh
Labels: component=Connectors/Hive

#25468 [FLINK-36421] [fs] [checkpoint] Sync outputStream before returning handle in FsCheckpointStreamFactory
  flink-runtime/src/main/java/org/apache/flink/runtime/state/filesystem/FsCheckpointStreamFactory.java
Labels: component=Runtime/Checkpointing, component=FileSystems

#25467 [FLINK-36437][hive] Remove hive connector dependency usage
  flink-architecture-tests/flink-architecture-tests-production/archunit-violations/18509c9e-3250-4c52-91b9-11ccefc85db1
  flink-architecture-tests/flink-architecture-tests-production/pom.xml
  flink-architecture-tests/pom.xml
  flink-end-to-end-tests/pom.xml
  flink-end-to-end-tests/run-nightly-tests.sh
Labels: component=Connectors/Hive

#21885 [FLINK-30899][connector/filesystem] Fix FileSystemTableSource incorrectly selecting fields on partitioned tables
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/table/FileSystemTableSource.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/connector/file/table/FileSystemTableSourceWithPartitionsITCase.java
Labels: component=Connectors/FileSystem

#25466 [FLINK-36444] Fix unstable test case SimpleRecoveryITCaseBase#testFailedRunThenSuccessfulRun
  flink-tests/src/test/java/org/apache/flink/test/recovery/SimpleRecoveryITCaseBase.java
Labels: component=<none>

#25474 [FLINK-36447][misc] Add .java-version to git ignore
  .gitignore
Labels: component=<none>

#25478 [FLINK-36462] Revert the remove of per-job mode
  docs/content.zh/docs/concepts/flink-architecture.md
  docs/content.zh/docs/deployment/cli.md
  docs/content.zh/docs/deployment/overview.md
  docs/content.zh/docs/deployment/resource-providers/native_kubernetes.md
  docs/content.zh/docs/deployment/resource-providers/standalone/kubernetes.md
  docs/content.zh/docs/deployment/resource-providers/yarn.md
  docs/content.zh/docs/ops/debugging/debugging_classloading.md
  docs/content/docs/concepts/flink-architecture.md
  docs/content/docs/deployment/cli.md
  docs/content/docs/deployment/overview.md
  docs/content/docs/deployment/resource-providers/yarn.md
  docs/content/docs/ops/debugging/debugging_classloading.md
  docs/layouts/shortcodes/generated/deployment_configuration.html
  docs/static/fig/deployment_modes.svg
  flink-clients/src/main/java/org/apache/flink/client/cli/GenericCLI.java
  flink-clients/src/main/java/org/apache/flink/client/deployment/ClusterDescriptor.java
  flink-clients/src/main/java/org/apache/flink/client/deployment/StandaloneClusterDescriptor.java
  flink-clients/src/main/java/org/apache/flink/client/deployment/executors/AbstractJobClusterExecutor.java
  flink-clients/src/test/java/org/apache/flink/client/cli/util/DummyClusterDescriptor.java
  flink-core/src/main/java/org/apache/flink/configuration/DeploymentOptions.java
  flink-end-to-end-tests/run-nightly-tests.sh
  flink-end-to-end-tests/test-scripts/test_pyflink_yarn.sh
  flink-end-to-end-tests/test-scripts/test_yarn_job_kerberos_docker.sh
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/KubernetesClusterDescriptor.java
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/JobDispatcherFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/MiniDispatcher.java
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/runner/DefaultDispatcherRunnerFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/runner/JobDispatcherLeaderProcess.java
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/runner/JobDispatcherLeaderProcessFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/runner/JobDispatcherLeaderProcessFactoryFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/entrypoint/ClusterEntrypoint.java
  flink-runtime/src/main/java/org/apache/flink/runtime/entrypoint/JobClusterEntrypoint.java
  flink-runtime/src/main/java/org/apache/flink/runtime/entrypoint/component/DefaultDispatcherResourceManagerComponentFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/MiniDispatcherRestEndpoint.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/JobDispatcherITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/MiniDispatcherTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/runner/JobDispatcherLeaderProcessFactoryFactoryTest.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YARNFileReplicationITCase.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YARNITCase.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YARNSessionCapacitySchedulerITCase.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YarnConfigurationITCase.java
  flink-yarn/src/main/java/org/apache/flink/yarn/YarnClusterDescriptor.java
  flink-yarn/src/main/java/org/apache/flink/yarn/cli/AbstractYarnCli.java
  flink-yarn/src/main/java/org/apache/flink/yarn/cli/FlinkYarnSessionCli.java
  flink-yarn/src/main/java/org/apache/flink/yarn/configuration/YarnDeploymentTarget.java
  flink-yarn/src/main/java/org/apache/flink/yarn/entrypoint/YarnEntrypointUtils.java
  flink-yarn/src/main/java/org/apache/flink/yarn/entrypoint/YarnJobClusterEntrypoint.java
  flink-yarn/src/main/java/org/apache/flink/yarn/executors/YarnJobClusterExecutor.java
  flink-yarn/src/main/java/org/apache/flink/yarn/executors/YarnJobClusterExecutorFactory.java
  flink-yarn/src/main/resources/META-INF/services/org.apache.flink.core.execution.PipelineExecutorFactory
  flink-yarn/src/test/java/org/apache/flink/yarn/FlinkYarnSessionCliTest.java
  flink-yarn/src/test/java/org/apache/flink/yarn/YarnClusterClientFactoryTest.java
  flink-yarn/src/test/java/org/apache/flink/yarn/entrypoint/YarnJobClusterEntrypointTest.java
Labels: component=<none>

#21161 [FLINK-25546][flink-connector-base][JUnit5 Migration] Module: flink-connector-base
  flink-connectors/flink-connector-base/pom.xml
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/AsyncSinkBaseITCase.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/throwable/FatalExceptionClassifierTest.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/writer/AsyncSinkWriterStateSerializerTest.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/writer/AsyncSinkWriterTest.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/writer/AsyncSinkWriterThrottlingTest.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/writer/AsyncSinkWriterTimeoutTest.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/writer/config/AsyncSinkWriterConfigurationBuilderTest.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/writer/strategy/NoOpScalingStrategyTest.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/hybrid/HybridSourceITCase.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/hybrid/HybridSourceReaderTest.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/hybrid/HybridSourceSplitEnumeratorTest.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/hybrid/HybridSourceSplitSerializerTest.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/hybrid/HybridSourceTest.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/reader/AlignedWatermarksITCase.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/reader/CoordinatedSourceITCase.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/reader/CoordinatedSourceRescaleITCase.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/reader/SourceMetricsITCase.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/reader/SourceReaderBaseTest.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/reader/fetcher/SplitFetcherManagerTest.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/reader/fetcher/SplitFetcherPauseResumeSplitReaderTest.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/reader/fetcher/SplitFetcherTest.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/reader/synchronization/FutureCompletingBlockingQueueTest.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/utils/SerdeUtilsTest.java
  flink-connectors/flink-connector-base/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension 
Labels: component=Tests

#24733 [FLINK-29797][flink-yarn] Fix fs.default-scheme will accidentally cau…
  flink-yarn/src/main/java/org/apache/flink/yarn/YarnClusterDescriptor.java
Labels: component=Deployment/YARN

#25485 [FLINK-29797][flink-yarn][backport] Fix fs.default-scheme will accidentally cau…
  flink-yarn/src/main/java/org/apache/flink/yarn/YarnClusterDescriptor.java
Labels: component=Deployment/YARN

#25452 [FLINK-36423] Fix RichMapPartitionFunction does not invoke open method in KeyedPartitionWindowedStream
  flink-runtime/src/main/java/org/apache/flink/streaming/api/datastream/KeyedPartitionWindowedStream.java
  flink-tests/src/test/java/org/apache/flink/test/streaming/runtime/KeyedPartitionWindowedStreamITCase.java
Labels: component=<none>

#25488 [FLINK-36468][parquet] Use Flink Preconditions util instead of Parquet
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/PositionOutputStreamAdapter.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/utils/ParquetFormatStatisticsReportUtil.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/vector/ParquetDecimalVector.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/vector/ParquetSplitReaderUtil.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/vector/reader/AbstractColumnReader.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/vector/reader/RunLengthDecoder.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/vector/reader/TimestampColumnReader.java
Labels: component=<none>

#25490 [BP-1.20][FLINK-36468][parquet] Use Flink Preconditions util instead of Parquet
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/PositionOutputStreamAdapter.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/utils/ParquetFormatStatisticsReportUtil.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/vector/ParquetDecimalVector.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/vector/ParquetSplitReaderUtil.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/vector/reader/AbstractColumnReader.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/vector/reader/RunLengthDecoder.java
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/vector/reader/TimestampColumnReader.java
Labels: component=<none>

#25463 [FLINK-36440] Bump log4j from 2.17.1 to 2.24.1
  docs/content.zh/docs/dev/configuration/overview.md
  docs/content/docs/dev/configuration/overview.md
  pom.xml
  tools/releasing/NOTICE-binary_PREAMBLE.txt
Labels: component=<none>

#25453 [FLINK-36424][yarn] Update deprecated YARN RM/NM callback handlers in YarnResourceManagerDriver
  flink-yarn/src/main/java/org/apache/flink/yarn/DefaultYarnNodeManagerClientFactory.java
  flink-yarn/src/main/java/org/apache/flink/yarn/DefaultYarnResourceManagerClientFactory.java
  flink-yarn/src/main/java/org/apache/flink/yarn/YarnNodeManagerClientFactory.java
  flink-yarn/src/main/java/org/apache/flink/yarn/YarnResourceManagerClientFactory.java
  flink-yarn/src/main/java/org/apache/flink/yarn/YarnResourceManagerDriver.java
  flink-yarn/src/test/java/org/apache/flink/yarn/TestingYarnNodeManagerClientFactory.java
  flink-yarn/src/test/java/org/apache/flink/yarn/TestingYarnResourceManagerClientFactory.java
  flink-yarn/src/test/java/org/apache/flink/yarn/YarnResourceManagerDriverTest.java
Labels: component=Deployment/YARN

#24145 [FLINK-34163][table] Migration of SimplifyJoinConditionRule to java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/rules/logical/SimplifyJoinConditionRule.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/rules/logical/SimplifyJoinConditionRule.scala
Labels: component=TableSQL/Planner

#24650 [FLINK-35075][table] Migrate TwoStageOptimizedAggregateRule to java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/analyze/GroupAggregationAnalyzer.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/rules/physical/stream/TwoStageOptimizedAggregateRule.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/stream/TwoStageOptimizedAggregateRule.scala
Labels: component=TableSQL/Planner

#25476 [FLINK-30899][connector/filesystem] Fix FileSystemTableSource incorrectly selecting fields on partitioned tables
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/table/FileSystemTableSource.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/connector/file/table/FileSystemTableSourceWithPartitionsITCase.java
Labels: component=Connectors/FileSystem

#25489 [FLINK-30899][connector/filesystem] Fix FileSystemTableSource incorrectly selecting fields on partitioned tables
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/table/FileSystemTableSource.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/connector/file/table/FileSystemTableSourceWithPartitionsITCase.java
Labels: component=Connectors/FileSystem

#22179 [FLINK-31380][table] Support enhanced show catalogs syntax
  docs/content.zh/docs/dev/table/sql/show.md
  docs/content/docs/dev/table/sql/show.md
  flink-table/flink-sql-client/src/test/resources/sql/catalog_database.q
  flink-table/flink-sql-gateway/src/test/resources/sql/catalog_database.q
  flink-table/flink-sql-parser/src/main/codegen/includes/parserImpls.ftl
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/dql/SqlShowCatalogs.java
  flink-table/flink-sql-parser/src/test/java/org/apache/flink/sql/parser/FlinkSqlParserImplTest.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ShowCatalogsOperation.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/SqlNodeToOperationConversion.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/converters/SqlNodeConverters.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/converters/SqlShowCatalogsConverter.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/operations/SqlOtherOperationConverterTest.java
Labels: component=TableSQL/Planner, component=TableSQL/API

#25379 [FLINK-36350][tests] Fix IllegalAccessError in UnalignedCheckpointRescaleITCase during JDK17 runs
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/UnalignedCheckpointRescaleITCase.java
Labels: component=Tests

#25366 [FLINK-36335][runtime] Improving Method Reusability in StreamGraphGenerator with JobVertexBuildContext
  flink-runtime/src/main/java/org/apache/flink/streaming/api/graph/StreamingJobGraphGenerator.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/graph/util/ChainedOperatorHashInfo.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/graph/util/ChainedSourceInfo.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/graph/util/JobVertexBuildContext.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/graph/util/OperatorChainInfo.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/graph/util/OperatorInfo.java
Labels: component=Runtime/Coordination

#25487 [FLINK-35833][clients] Skip trying to create parents for "user.artifacts.base-dir" when fetching a "local://" artifact(s)
  flink-clients/src/main/java/org/apache/flink/client/program/artifact/ArtifactFetchManager.java
  flink-clients/src/main/java/org/apache/flink/client/program/artifact/FsArtifactFetcher.java
  flink-clients/src/main/java/org/apache/flink/client/program/artifact/HttpArtifactFetcher.java
  flink-clients/src/test/java/org/apache/flink/client/program/artifact/ArtifactFetchManagerTest.java
Labels: component=Deployment/Kubernetes

#25499 [BP-1.20][FLINK-35833][clients] Skip trying to create parents for "user.artifacts.base-dir" when fetching a "local://" artifact
  flink-clients/src/main/java/org/apache/flink/client/program/artifact/ArtifactFetchManager.java
  flink-clients/src/main/java/org/apache/flink/client/program/artifact/FsArtifactFetcher.java
  flink-clients/src/main/java/org/apache/flink/client/program/artifact/HttpArtifactFetcher.java
  flink-clients/src/test/java/org/apache/flink/client/program/artifact/ArtifactFetchManagerTest.java
Labels: component=Deployment/Kubernetes

#25500 [BP-1.19][FLINK-35833][clients] Skip trying to create parents for "user.artifacts.base-dir" when fetching a "local://" artifact
  flink-clients/src/main/java/org/apache/flink/client/program/artifact/ArtifactFetchManager.java
  flink-clients/src/main/java/org/apache/flink/client/program/artifact/FsArtifactFetcher.java
  flink-clients/src/main/java/org/apache/flink/client/program/artifact/HttpArtifactFetcher.java
  flink-clients/src/test/java/org/apache/flink/client/program/artifact/ArtifactFetchManagerTest.java
Labels: component=Deployment/Kubernetes

#25440 [FLINK-36510][runtime] Support partial lineage info collection
  flink-runtime/src/main/java/org/apache/flink/streaming/api/lineage/DefaultLineageGraph.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/lineage/LineageGraphUtils.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/lineage/LineageGraphUtilsTest.java
Labels: component=Runtime/Coordination

#25298 [FLINK-36241] Table API .plus should support string concatenation
  flink-python/pyflink/table/expression.py
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/BaseExpressions.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/BuiltInFunctionDefinitions.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/SqlCallSyntax.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/functions/StringFunctionsITCase.java
Labels: component=TableSQL/API

#25508 [FLINK-36526][state/forst] Optimize the overhead of writing with direct buffer
  flink-core/src/main/java/org/apache/flink/core/memory/MemoryUtils.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/fs/ByteBufferWritableFSDataOutputStream.java
Labels: component=Runtime/StateBackends

#25428 [FLINK-36405][runtime][security] Fix startup issues on kerberos clusters.
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/security/token/HiveServer2DelegationTokenProvider.java
  flink-connectors/flink-connector-hive/src/main/resources/META-INF/services/org.apache.hadoop.security.token.TokenIdentifier
Labels: component=TableSQL/Runtime

#25512 [FLINK-36405][runtime] Fix startup issues on kerberos clusters.
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/security/token/HiveServer2DelegationTokenProvider.java
  flink-connectors/flink-connector-hive/src/main/resources/META-INF/services/org.apache.hadoop.security.token.TokenIdentifier
Labels: component=TableSQL/Runtime

#25513 [FLINK-36405][runtime] Fix startup issues on kerberos clusters.
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/table/security/token/HiveServer2DelegationTokenProvider.java
  flink-connectors/flink-connector-hive/src/main/resources/META-INF/services/org.apache.hadoop.security.token.TokenIdentifier
Labels: component=TableSQL/Runtime

#25526 [FLINK-36543] Fix string serialization for OVER windows
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/BuiltInFunctionDefinitions.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/CallSyntaxUtils.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/SqlCallSyntax.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/api/QueryOperationSqlExecutionTest.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/api/QueryOperationSqlSerializationTest.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/api/QueryOperationTestPrograms.java
Labels: component=TableSQL/API

#25495 [FLINK-36511] Prevent StackOverflow in FlinkSecurityManager
  flink-core/src/main/java/org/apache/flink/core/security/FlinkSecurityManager.java
Labels: component=Runtime/Coordination

#25496 [1.19][FLINK-36511] Prevent StackOverflow in FlinkSecurityManager
  flink-core/src/main/java/org/apache/flink/core/security/FlinkSecurityManager.java
Labels: component=Runtime/Coordination

#25497 [1.20][FLINK-36511] Prevent StackOverflow in FlinkSecurityManager
  flink-core/src/main/java/org/apache/flink/core/security/FlinkSecurityManager.java
Labels: component=Runtime/Coordination

#25518 [FLINK-36533][runtime] Fix detecting bind failure in case of Netty EPOLL transport
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/netty/NettyServer.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/netty/NettyServerTest.java
Labels: component=<none>

#25531 [BP-1.20][FLINK-36533][runtime] Fix detecting bind failure in case of Netty EPOLL transport
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/netty/NettyServer.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/netty/NettyServerTest.java
Labels: component=<none>

#25532 [BP-1.19][FLINK-36533][runtime] Fix detecting bind failure in case of Netty EPOLL transport
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/netty/NettyServer.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/netty/NettyServerTest.java
Labels: component=<none>

#25503 [FLINK-35031][runtime] LatencyMarker/RecordAttribute emitting under async execution model
  flink-runtime/src/main/java/org/apache/flink/runtime/asyncprocessing/operators/AbstractAsyncStateStreamOperator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/asyncprocessing/operators/AbstractAsyncStateStreamOperatorV2.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/operators/AbstractStreamOperator.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/operators/AbstractStreamOperatorV2.java
  flink-runtime/src/test/java/org/apache/flink/runtime/asyncprocessing/operators/AbstractAsyncStateStreamOperatorTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/AbstractAsyncStateStreamOperatorV2Test.java
Labels: component=Runtime/Task

#25509 [FLINK-36530][state] Fix S3 performance issue with uncompressed state restore
  flink-runtime/src/main/java/org/apache/flink/runtime/state/CompressibleFSDataInputStream.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/CompressibleFSDataInputStreamTest.java
Labels: component=Runtime/StateBackends

#25479 [BP-1.18][FLINK-36421] [fs] [checkpoint] Sync outputStream before returning handle in FsCheckpointStreamFactory
  flink-runtime/src/main/java/org/apache/flink/runtime/state/filesystem/FsCheckpointStreamFactory.java
Labels: component=Runtime/Checkpointing, component=FileSystems

#25480 [BP-1.19][FLINK-36421] [fs] [checkpoint] Sync outputStream before returning handle in FsCheckpointStreamFactory
  flink-runtime/src/main/java/org/apache/flink/runtime/state/filesystem/FsCheckpointStreamFactory.java
Labels: component=Runtime/Checkpointing, component=FileSystems

#25544 [FLINK-36530][state] Fix S3 performance issue with uncompressed state restore
  flink-runtime/src/main/java/org/apache/flink/runtime/state/CompressibleFSDataInputStream.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/CompressibleFSDataInputStreamTest.java
Labels: component=Runtime/StateBackends

#25545 [FLINK-36530][state] Fix S3 performance issue with uncompressed state restore
  flink-runtime/src/main/java/org/apache/flink/runtime/state/CompressibleFSDataInputStream.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/CompressibleFSDataInputStreamTest.java
Labels: component=Runtime/StateBackends

#25546 [FLINK-36530][state] Fix S3 performance issue with uncompressed state restore
  flink-runtime/src/main/java/org/apache/flink/runtime/state/CompressibleFSDataInputStream.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/CompressibleFSDataInputStreamTest.java
Labels: component=Runtime/StateBackends

#25211 [FLINK-35016] catalog changes for model resource
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveCatalogGenericMetadataTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveCatalogHiveMetadataTest.java
  flink-python/pyflink/table/catalog.py
  flink-python/pyflink/table/tests/test_catalog.py
  flink-python/pyflink/util/exceptions.py
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/catalog/CatalogManager.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/catalog/ContextResolvedModel.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/catalog/GenericInMemoryCatalog.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/catalog/listener/AlterModelEvent.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/catalog/listener/CreateModelEvent.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/catalog/listener/DropModelEvent.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/catalog/CatalogManagerTest.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/catalog/CatalogTestBase.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/catalog/GenericInMemoryCatalogTest.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/catalog/Catalog.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/catalog/CatalogModel.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/catalog/CatalogPropertiesUtil.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/catalog/DefaultCatalogModel.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/catalog/DefaultResolvedCatalogModel.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/catalog/ResolvedCatalogModel.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/catalog/TemporaryOperationListener.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/catalog/exceptions/ModelAlreadyExistException.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/catalog/exceptions/ModelNotExistException.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/catalog/CatalogPropertiesUtilTest.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/catalog/CatalogTest.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/TableEnvironmentTest.scala
Labels: component=<none>

#25494 [FLINK-36510][rpc] bump pekko to 1.1.2, remove netty 3
  flink-rpc/flink-rpc-akka/pom.xml
  flink-rpc/flink-rpc-akka/src/main/java/org/apache/flink/runtime/rpc/pekko/ActorSystemBootstrapTools.java
  flink-rpc/flink-rpc-akka/src/main/java/org/apache/flink/runtime/rpc/pekko/PekkoUtils.java
  flink-rpc/flink-rpc-akka/src/main/resources/META-INF/NOTICE
Labels: component=Runtime/Coordination

#25550 [FLINK-36510][rpc] bump pekko to 1.1.2, remove netty 3 (backport to release-1.20)
  flink-rpc/flink-rpc-akka/pom.xml
  flink-rpc/flink-rpc-akka/src/main/java/org/apache/flink/runtime/rpc/pekko/ActorSystemBootstrapTools.java
  flink-rpc/flink-rpc-akka/src/main/java/org/apache/flink/runtime/rpc/pekko/PekkoUtils.java
  flink-rpc/flink-rpc-akka/src/main/resources/META-INF/NOTICE
Labels: component=Runtime/Coordination

#25501 [FLINK-35029][state/forst] Store timer in JVM heap when use async state backend
  flink-runtime/src/main/java/org/apache/flink/runtime/asyncprocessing/operators/AbstractAsyncStateStreamOperator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/asyncprocessing/operators/AbstractAsyncStateStreamOperatorV2.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/AsyncKeyedStateBackend.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/v2/adaptor/AsyncKeyedStateBackendAdaptor.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/operators/InternalTimeServiceManager.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/operators/InternalTimeServiceManagerImpl.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/operators/StreamOperatorStateContext.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/operators/StreamOperatorStateHandler.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/operators/StreamTaskStateInitializerImpl.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/operators/sorted/state/BatchExecutionInternalTimeServiceManager.java
  flink-runtime/src/test/java/org/apache/flink/runtime/asyncprocessing/operators/AbstractAsyncStateStreamOperatorTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/StateBackendTestUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/v2/AbstractKeyedStateTestBase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/v2/StateBackendTestV2Base.java
  flink-runtime/src/test/java/org/apache/flink/streaming/api/operators/StateInitializationContextImplTest.java
  flink-runtime/src/test/java/org/apache/flink/streaming/api/operators/StreamTaskStateInitializerImplTest.java
  flink-runtime/src/test/java/org/apache/flink/streaming/api/operators/sorted/state/BatchExecutionInternalTimeServiceTest.java
  flink-runtime/src/test/java/org/apache/flink/streaming/util/AbstractStreamOperatorTestHarness.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStKeyedStateBackend.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStKeyedStateBackendBuilder.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStStateBackend.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/restore/ForStHeapTimersFullRestoreOperation.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/AbstractAsyncStateStreamOperatorV2Test.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTest.java
  flink-tests/src/test/java/org/apache/flink/test/state/operator/restore/StreamOperatorSnapshotRestoreTest.java
Labels: component=Runtime/StateBackends, component=Runtime/Task

#25562 [FLINK-36591] Remove `flink-contrib`
  flink-contrib/README.md
  flink-contrib/flink-connector-wikiedits/README.md
  flink-contrib/flink-connector-wikiedits/pom.xml
  flink-contrib/flink-connector-wikiedits/src/main/java/org/apache/flink/streaming/connectors/wikiedits/WikipediaEditEvent.java
  flink-contrib/flink-connector-wikiedits/src/main/java/org/apache/flink/streaming/connectors/wikiedits/legacy/WikipediaEditEventIrcStream.java
  flink-contrib/flink-connector-wikiedits/src/main/java/org/apache/flink/streaming/connectors/wikiedits/legacy/WikipediaEditsSource.java
  flink-contrib/flink-connector-wikiedits/src/test/java/org/apache/flink/streaming/connectors/wikiedits/WikipediaEditsSourceTest.java
  flink-contrib/flink-connector-wikiedits/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
  flink-contrib/flink-connector-wikiedits/src/test/resources/log4j2-test.properties
  flink-contrib/pom.xml
  pom.xml
  tools/ci/stage.sh
Labels: component=Tests

#25567 [FLINK-36593][flink-runtime] Update io.airlift:aircompressor to 0.27
  flink-runtime/pom.xml
  flink-runtime/src/main/resources/META-INF/NOTICE
Labels: component=API/Core

#25570 [FLINK-36591][BP 1.18] Remove `flink-contrib`
  flink-contrib/README.md
  flink-contrib/flink-connector-wikiedits/README.md
  flink-contrib/flink-connector-wikiedits/src/main/java/org/apache/flink/streaming/connectors/wikiedits/WikipediaEditEvent.java
  flink-contrib/flink-connector-wikiedits/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
  flink-contrib/flink-connector-wikiedits/src/test/resources/log4j2-test.properties
  pom.xml
  tools/ci/stage.sh
Labels: component=Tests

#25571 [FLINK-36591][BP 1.19] Remove `flink-contrib`
  flink-contrib/README.md
  flink-contrib/flink-connector-wikiedits/README.md
  flink-contrib/flink-connector-wikiedits/src/main/java/org/apache/flink/streaming/connectors/wikiedits/WikipediaEditEvent.java
  flink-contrib/flink-connector-wikiedits/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
  flink-contrib/flink-connector-wikiedits/src/test/resources/log4j2-test.properties
  pom.xml
  tools/ci/stage.sh
Labels: component=Tests

#25572 [FLINK-36591][BP 1.20] Remove `flink-contrib`
  flink-contrib/README.md
  flink-contrib/flink-connector-wikiedits/README.md
  flink-contrib/flink-connector-wikiedits/src/main/java/org/apache/flink/streaming/connectors/wikiedits/WikipediaEditEvent.java
  flink-contrib/flink-connector-wikiedits/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
  flink-contrib/flink-connector-wikiedits/src/test/resources/log4j2-test.properties
  pom.xml
  tools/ci/stage.sh
Labels: component=Tests

#25525 [FLINK-36542] Bump spotless-maven-plugin version to 2.35.0
  pom.xml
Labels: component=BuildSystem

#25491 [FLINK-36470][build] Bump checkstyle to 10+
  docs/content.zh/docs/flinkDev/ide_setup.md
  docs/content/docs/flinkDev/ide_setup.md
  pom.xml
Labels: component=BuildSystem

#24449 [FLINK-34601][table] Migrate of StreamPhysicalConstantTableFunctionScanRule to java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/rules/physical/stream/StreamPhysicalConstantTableFunctionScanRule.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/stream/StreamPhysicalConstantTableFunctionScanRule.scala
  tools/maven/suppressions.xml
Labels: component=TableSQL/Planner

#24642 [FLINK-35062][table] Migrate RewriteMultiJoinConditionRule to java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/rules/logical/RewriteMultiJoinConditionRule.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/rules/logical/RewriteMultiJoinConditionRule.scala
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/join/JoinReorderTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/join/JoinReorderTest.xml
Labels: component=TableSQL/Planner

#25166 [FLINK-35999] Migrate from fmpp-maven-plugin to drill-fmpp-maven-plugin
  flink-table/flink-sql-parser/pom.xml
Labels: component=<none>

#25560 [FLINK-36589][state/runtime] Decouple the initialization of sync and async keyed statebackend
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/input/StreamOperatorContextBuilder.java
  flink-runtime/src/main/java/org/apache/flink/runtime/asyncprocessing/operators/AbstractAsyncStateStreamOperator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/asyncprocessing/operators/AbstractAsyncStateStreamOperatorV2.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/operators/AbstractStreamOperator.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/operators/AbstractStreamOperatorV2.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/operators/StreamOperatorStateContext.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/operators/StreamOperatorStateHandler.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/operators/StreamTaskStateInitializer.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/operators/StreamTaskStateInitializerImpl.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/operators/StreamingRuntimeContext.java
  flink-runtime/src/test/java/org/apache/flink/streaming/api/operators/StateInitializationContextImplTest.java
  flink-runtime/src/test/java/org/apache/flink/streaming/api/operators/StreamOperatorStateHandlerTest.java
  flink-runtime/src/test/java/org/apache/flink/streaming/api/operators/StreamTaskStateInitializerImplTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTest.java
Labels: component=<none>

#25586 [FLINK-4602][State] Add constructors for o.a.f.contrib.streaming.state.EmbeddedRocksDBStateBackend to maintain interface compatibility.
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/EmbeddedRocksDBStateBackend.java
Labels: component=Runtime/StateBackends

#25515 [FLINK-35268][state] Add ttl interface for Async State API && implement TtlListStateV2/TtlValueStateV2
  flink-runtime/src/main/java/org/apache/flink/runtime/asyncprocessing/AbstractStateIterator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/asyncprocessing/StateRequestType.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/AsyncKeyedStateBackend.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/ttl/AbstractTtlDecorator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/ttl/TtlReduceFunction.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/ttl/TtlStateContext.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/ttl/TtlUtils.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/v2/AbstractAggregatingState.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/v2/AbstractReducingState.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/v2/MapStateDescriptor.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/v2/adaptor/AggregatingStateAdaptor.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/v2/adaptor/AsyncKeyedStateBackendAdaptor.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/v2/adaptor/CompleteStateIterator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/v2/adaptor/ReducingStateAdaptor.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/v2/internal/InternalAggregatingState.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/v2/internal/InternalAppendingState.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/v2/ttl/AbstractTtlState.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/v2/ttl/TtlAggregateFunction.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/v2/ttl/TtlAggregatingState.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/v2/ttl/TtlListState.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/v2/ttl/TtlMapState.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/v2/ttl/TtlReducingState.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/v2/ttl/TtlStateFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/v2/ttl/TtlValueState.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/StateBackendTestUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/v2/AbstractAggregatingStateTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/v2/AbstractKeyedStateTestBase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/v2/AbstractReducingStateTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/v2/StateBackendTestV2Base.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStAggregatingState.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStDBTtlCompactFiltersManager.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStKeyedStateBackend.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStKeyedStateBackendBuilder.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStOperationUtils.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStReducingState.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStStateBackend.java
  flink-tests/src/test/java/org/apache/flink/test/completeness/TypeInfoTestCoverageTest.java
  flink-tests/src/test/java/org/apache/flink/test/completeness/TypeSerializerTestCoverageTest.java
Labels: component=Runtime/StateBackends

#25588 [FLINK-36621][flink-examples] Add comment in KafkaEventsGeneratorJob
  flink-end-to-end-tests/flink-confluent-schema-registry/pom.xml
  flink-end-to-end-tests/flink-confluent-schema-registry/src/main/java/org/apache/flink/schema/registry/test/TestAvroConsumerConfluent.java
  flink-examples/flink-examples-streaming/pom.xml
  flink-examples/flink-examples-streaming/src/main/java/org/apache/flink/streaming/examples/statemachine/KafkaEventsGeneratorJob.java
Labels: component=Connectors/Common

#21389 [FLINK-30196][tests] Replace usage of deprecated Mockito methods and update Mockito to 4.11.0
  flink-connectors/flink-hadoop-compatibility/src/test/java/org/apache/flink/api/java/hadoop/mapred/HadoopOutputFormatTest.java
  flink-filesystems/flink-hadoop-fs/src/test/java/org/apache/flink/runtime/fs/hdfs/HadoopDataInputStreamTest.java
  flink-libraries/flink-cep/src/test/java/org/apache/flink/cep/nfa/NFAITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinatorMasterHooksTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinatorTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/highavailability/nonha/embedded/EmbeddedHaServicesTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/highavailability/nonha/standalone/StandaloneHaServicesTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/api/reader/AbstractReaderTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/InputChannelTestUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/consumer/RemoteInputChannelTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmanager/ZooKeeperExecutionPlansStoreITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/handler/AbstractHandlerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/StateBackendTestBase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/filesystem/FsCheckpointStateOutputStreamTest.java
  flink-runtime/src/test/java/org/apache/flink/streaming/api/operators/StreamingRuntimeContextTest.java
  flink-runtime/src/test/java/org/apache/flink/streaming/runtime/operators/windowing/PurgingTriggerTest.java
  flink-runtime/src/test/java/org/apache/flink/streaming/runtime/operators/windowing/RegularWindowOperatorContractTest.java
  flink-runtime/src/test/java/org/apache/flink/streaming/runtime/operators/windowing/WindowOperatorContractTest.java
  flink-runtime/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskTerminationTest.java
  flink-state-backends/flink-statebackend-rocksdb/src/test/java/org/apache/flink/state/rocksdb/EmbeddedRocksDBStateBackendTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/windowing/functions/InternalWindowFunctionTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/windowing/DynamicEventTimeSessionWindowsTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/windowing/DynamicProcessingTimeSessionWindowsTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/windowing/EventTimeSessionWindowsTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/windowing/MergingWindowSetTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/windowing/ProcessingTimeSessionWindowsTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/windowing/WindowOperatorTest.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/operators/window/groupwindow/assigners/SessionWindowAssignerTest.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/operators/window/groupwindow/operator/WindowOperatorContractTest.java
  pom.xml
Labels: component=Tests

#25577 [FLINK-36606][tests] TimestampITCase generates test artifacts outside of tmp folder
  flink-tests/src/test/java/org/apache/flink/test/streaming/runtime/TimestampITCase.java
Labels: component=Tests

#19970 [FLINK-27970][tests][JUnit5 migration] flink-hadoop-bulk
  flink-formats/flink-hadoop-bulk/src/test/java/org/apache/flink/architecture/TestCodeArchitectureTest.java
  flink-formats/flink-hadoop-bulk/src/test/java/org/apache/flink/formats/hadoop/bulk/AbstractFileCommitterTest.java
  flink-formats/flink-hadoop-bulk/src/test/java/org/apache/flink/formats/hadoop/bulk/HadoopPathBasedPartFileWriterITCase.java
  flink-formats/flink-hadoop-bulk/src/test/java/org/apache/flink/formats/hadoop/bulk/HadoopPathBasedPendingFileRecoverableSerializerMigrationTest.java
  flink-formats/flink-hadoop-bulk/src/test/java/org/apache/flink/formats/hadoop/bulk/committer/HadoopRenameCommitterHDFSITCase.java
  flink-formats/flink-hadoop-bulk/src/test/java/org/apache/flink/formats/hadoop/bulk/committer/HadoopRenameCommitterLocalFSITCase.java
  flink-formats/flink-hadoop-bulk/src/test/java/org/apache/flink/streaming/api/functions/sink/filesystem/HadoopPathBasedBulkFormatBuilderTest.java
  flink-formats/flink-hadoop-bulk/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
Labels: component=<none>

#25587 [FLINK-36622] Remove the dependency of StateBenchmark on RocksDBKeyedStateBackend APIs.
  flink-test-utils-parent/flink-test-utils/src/test/java/org/apache/flink/state/benchmark/StateBackendBenchmarkUtils.java
Labels: component=Runtime/StateBackends
