Repository apache/flink, pull requests merged in 2024-12, with the labels that each got.

#25553 [FLINK-36194][Runtime] Handle the Graceful close of ExecutionGraphInfoStore from ClusterEntrypoint
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/FileExecutionGraphInfoStore.java
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/MemoryExecutionGraphInfoStore.java
  flink-runtime/src/main/java/org/apache/flink/runtime/entrypoint/ClusterEntrypoint.java
Labels: component=Runtime/Coordination

#25670 [FLINK-36739] [WebFrontend] Update the NodeJS to v22.11.0 (LTS)
  flink-runtime-web/pom.xml
Labels: component=Runtime/WebFrontend

#25716 [FLINK-36824][table] Backport from Calcite 1.37.0 support table function calls in FROM clause without TABLE() wrapper
  docs/content.zh/docs/dev/table/sql/queries/window-agg.md
  docs/content.zh/docs/dev/table/sql/queries/window-topn.md
  docs/content.zh/docs/dev/table/sql/queries/window-tvf.md
  docs/content/docs/dev/table/sql/queries/window-agg.md
  docs/content/docs/dev/table/sql/queries/window-topn.md
  docs/content/docs/dev/table/sql/queries/window-tvf.md
  flink-table/flink-sql-parser/src/main/codegen/templates/Parser.jj
  flink-table/flink-sql-parser/src/test/java/org/apache/flink/sql/parser/FlinkSqlParserImplTest.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/runtime/stream/sql/FunctionITCase.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/WindowTableFunctionITCase.scala
Labels: component=<none>

#25705 [FLINK-36756][sql-gateway] Bump up the sql gateway rest version
  flink-table/flink-sql-gateway/src/main/java/org/apache/flink/table/gateway/rest/header/session/ConfigureSessionHeaders.java
  flink-table/flink-sql-gateway/src/main/java/org/apache/flink/table/gateway/rest/header/statement/CompleteStatementHeaders.java
  flink-table/flink-sql-gateway/src/main/java/org/apache/flink/table/gateway/rest/util/SqlGatewayRestAPIVersion.java
  flink-table/flink-sql-gateway/src/test/resources/sql_gateway_rest_api_v4.snapshot
Labels: component=<none>

#25699 [FLINK-36783][table-planner] Use validated SqlNode in 'asQuery' while converting SqlCreateTableAS to CreateTableASOperation
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/SqlCreateTableConverter.java
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/TableSinkTest.xml
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/batch/sql/TableSinkTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/TableSinkITCase.scala
Labels: component=TableSQL/API

#25733 [FLINK-36840][table] Add correct call syntax for functions without ()
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/expressions/ExpressionSerializationTest.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/BuiltInFunctionDefinitions.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/SqlCallSyntax.java
Labels: component=TableSQL/API

#25719 [FLINK-36643][filesystems] Update aws-java-sdk-core to 1.12.779 [1.19]
  flink-filesystems/flink-s3-fs-base/pom.xml
  flink-filesystems/flink-s3-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-s3-fs-presto/src/main/resources/META-INF/NOTICE
  flink-yarn/pom.xml
Labels: component=FileSystems

#25681 [FLINK-36688][table-planner] Sort metadata keys when reusing source
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/connectors/DynamicSourceUtils.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/reuse/ScanReuser.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/reuse/ScanReuserUtils.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/optimize/ScanReuseTest.java
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/optimize/ScanReuseTest.xml
Labels: component=TableSQL/Planner

#25713 [FLINK-36689][Runtime/Web Frontend] Update ng-zorro-antd to v18
  flink-runtime-web/README.md
  flink-runtime-web/web-dashboard/angular.json
  flink-runtime-web/web-dashboard/package-lock.json
  flink-runtime-web/web-dashboard/package.json
  flink-runtime-web/web-dashboard/src/app/app.component.html
  flink-runtime-web/web-dashboard/src/app/pages/job/modules/completed-job/cluster-config.guard.ts
  flink-runtime-web/web-dashboard/src/app/services/job.service.spec.ts
  flink-runtime-web/web-dashboard/src/main.ts
  flink-runtime-web/web-dashboard/tsconfig.json
Labels: component=Runtime/WebFrontend

#25691 [FLINK-36792][table] Remove FlinkJoinPushExpressionsRule.
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/rules/logical/FlinkJoinPushExpressionsRule.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/rules/FlinkBatchRuleSets.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/rules/FlinkStreamRuleSets.scala
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/rules/logical/JoinPushExpressionsRuleTest.xml
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/rules/logical/JoinPushExpressionsRuleTest.scala
Labels: component=TableSQL/Planner

#25606 [FLINK-36593][runtime] Upgrade io.airlift:aircompressor to 0.27 [1.20]
  flink-runtime/pom.xml
  flink-runtime/src/main/resources/META-INF/NOTICE
Labels: component=API/Core

#25727 [FLINK-36368] Do not prematurely merge CommittableManager [1.19] (#25405)
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/connector/sink2/CommittableWithLineage.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/connector/sink2/GlobalCommitterOperator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/connector/sink2/GlobalCommitterSerializer.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/sink/CommitterOperator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/sink/committables/CheckpointCommittableManager.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/sink/committables/CheckpointCommittableManagerImpl.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/sink/committables/CommitRequestImpl.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/sink/committables/CommittableCollector.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/sink/committables/CommittableCollectorSerializer.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/sink/committables/CommittableManager.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/sink/committables/SubtaskCommittableManager.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/connector/sink2/GlobalCommitterSerializerTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/sink/CommitterOperatorTestBase.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/sink/committables/CheckpointCommittableManagerImplTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/sink/committables/CommittableCollectorSerializerTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/sink/committables/CommittableCollectorTest.java
Labels: component=<none>

#25549 [FLINK-36537] Bump snappy-java from 1.1.10.4 to 1.1.10.7
  flink-dist/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-fs-hadoop-shaded/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-s3-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-s3-fs-presto/src/main/resources/META-INF/NOTICE
  flink-formats/flink-sql-avro-confluent-registry/src/main/resources/META-INF/NOTICE
  pom.xml
Labels: component=<none>

#25756 [FLINK-36840][table] Add correct call syntax for functions without `()`
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/expressions/ExpressionSerializationTest.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/BuiltInFunctionDefinitions.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/SqlCallSyntax.java
Labels: component=TableSQL/API

#24501 [FLINK-34674][table] Migrate CalcSnapshotTransposeRule to java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/rules/logical/CalcSnapshotTransposeRule.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/rules/logical/CalcSnapshotTransposeRule.scala
Labels: component=TableSQL/Planner

#25602 [FLINK-36830][table] Override json-path version in Calcite to deal with CVE
  flink-table/flink-table-calcite-bridge/pom.xml
Labels: component=TableSQL/Runtime

#25761 [FLINK-36859][Runtime] Fix wrong epoch/watermark firing in async state processing
  flink-runtime/src/main/java/org/apache/flink/runtime/asyncprocessing/EpochManager.java
  flink-runtime/src/test/java/org/apache/flink/runtime/asyncprocessing/EpochManagerTest.java
Labels: component=Runtime/Task

#25757 [FLINK-36612][core] Fix TypeSerializer to detect lombok boolean with is prefix
  flink-core/src/main/java/org/apache/flink/api/java/typeutils/TypeExtractor.java
  flink-core/src/test/java/org/apache/flink/api/java/typeutils/PojoTypeExtractionTest.java
Labels: component=API/TypeSerializationSystem

#25755 [FLINK-36856][runtime] CollectSinkOperatorFactory batch size and socket timeout config fix
  flink-runtime/src/main/java/org/apache/flink/streaming/api/datastream/DataStream.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/operators/collect/CollectSinkFunction.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/operators/collect/CollectSinkOperatorFactory.java
  flink-tests/src/test/java/org/apache/flink/api/datastream/DataStreamCollectTestITCase.java
Labels: component=Runtime/Configuration

#25764 [FLINK-36856][runtime] CollectSinkOperatorFactory batch size and socket timeout config fix
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/datastream/DataStream.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/collect/CollectSinkFunction.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/collect/CollectSinkOperatorFactory.java
  flink-tests/src/test/java/org/apache/flink/api/datastream/DataStreamCollectTestITCase.java
Labels: component=Runtime/Configuration

#25679 [FLINK-36451][runtime] Replaces LeaderElection#hasLeadership with LeaderElection#runAsLeader
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/runner/DefaultDispatcherRunner.java
  flink-runtime/src/main/java/org/apache/flink/runtime/highavailability/nonha/embedded/EmbeddedLeaderService.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/JobMasterServiceLeadershipRunner.java
  flink-runtime/src/main/java/org/apache/flink/runtime/leaderelection/DefaultLeaderElection.java
  flink-runtime/src/main/java/org/apache/flink/runtime/leaderelection/DefaultLeaderElectionService.java
  flink-runtime/src/main/java/org/apache/flink/runtime/leaderelection/LeaderElection.java
  flink-runtime/src/main/java/org/apache/flink/runtime/leaderelection/LeaderElectionService.java
  flink-runtime/src/main/java/org/apache/flink/runtime/leaderelection/StandaloneLeaderElection.java
  flink-runtime/src/main/java/org/apache/flink/runtime/resourcemanager/ResourceManagerServiceImpl.java
  flink-runtime/src/main/java/org/apache/flink/runtime/webmonitor/WebMonitorEndpoint.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/runner/DefaultDispatcherRunnerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/highavailability/nonha/embedded/EmbeddedHaServicesTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderelection/DefaultLeaderElectionServiceTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderelection/DefaultLeaderElectionTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderelection/LeaderElectionTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderelection/StandaloneLeaderElectionTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderelection/TestingContender.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderelection/TestingGenericLeaderContender.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderelection/TestingLeaderElection.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/util/DocumentingDispatcherRestEndpoint.java
Labels: component=Runtime/Coordination

#25767 [BP-1.20][FLINK-36451][runtime] Replaces LeaderElection#hasLeadership with LeaderElection#runAsLeader
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/runner/DefaultDispatcherRunner.java
  flink-runtime/src/main/java/org/apache/flink/runtime/highavailability/nonha/embedded/EmbeddedLeaderService.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/JobMasterServiceLeadershipRunner.java
  flink-runtime/src/main/java/org/apache/flink/runtime/leaderelection/DefaultLeaderElection.java
  flink-runtime/src/main/java/org/apache/flink/runtime/leaderelection/DefaultLeaderElectionService.java
  flink-runtime/src/main/java/org/apache/flink/runtime/leaderelection/LeaderElection.java
  flink-runtime/src/main/java/org/apache/flink/runtime/leaderelection/LeaderElectionService.java
  flink-runtime/src/main/java/org/apache/flink/runtime/leaderelection/StandaloneLeaderElection.java
  flink-runtime/src/main/java/org/apache/flink/runtime/resourcemanager/ResourceManagerServiceImpl.java
  flink-runtime/src/main/java/org/apache/flink/runtime/webmonitor/WebMonitorEndpoint.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/runner/DefaultDispatcherRunnerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/highavailability/nonha/embedded/EmbeddedHaServicesTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderelection/DefaultLeaderElectionServiceTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderelection/DefaultLeaderElectionTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderelection/LeaderElectionTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderelection/StandaloneLeaderElectionTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderelection/TestingContender.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderelection/TestingGenericLeaderContender.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderelection/TestingLeaderElection.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/util/DocumentingDispatcherRestEndpoint.java
Labels: component=Runtime/Coordination

#25667 [FLINK-36745][docs] Make FixedSizeSplitFetcherManager and FixedFetcherSizeSourceReader examples match Flink 2.0-preview API
  docs/content.zh/docs/dev/datastream/sources.md
  docs/content/docs/dev/datastream/sources.md
Labels: component=Documentation, component=Connectors/Common

#25745 [FLINK-34974][state] Support getOrCreateKeyedState for AsyncKeyedStateBackend
  flink-runtime/src/main/java/org/apache/flink/runtime/state/AsyncKeyedStateBackend.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/v2/DefaultKeyedStateStore.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/v2/adaptor/AsyncKeyedStateBackendAdaptor.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/operators/StreamOperatorStateHandler.java
  flink-runtime/src/test/java/org/apache/flink/runtime/asyncprocessing/AsyncExecutionControllerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/StateBackendTestUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/v2/AbstractKeyedStateTestBase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/v2/AsyncKeyedStateBackendAdaptorTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/v2/StateBackendTestV2Base.java
  flink-runtime/src/test/java/org/apache/flink/streaming/api/operators/StreamingRuntimeContextTest.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStKeyedStateBackend.java
Labels: component=Runtime/StateBackends

#25700 [FLINK-36757][sql-gateway] Introduce ScripExecutor to run the script
  flink-table/flink-sql-gateway/src/main/java/org/apache/flink/table/gateway/service/application/Printer.java
  flink-table/flink-sql-gateway/src/main/java/org/apache/flink/table/gateway/service/application/ScriptExecutor.java
  flink-table/flink-sql-gateway/src/main/java/org/apache/flink/table/gateway/service/operation/OperationExecutor.java
  flink-table/flink-sql-gateway/src/main/java/org/apache/flink/table/gateway/service/result/ResultFetcher.java
  flink-table/flink-sql-gateway/src/test/java/org/apache/flink/table/gateway/AbstractSqlGatewayStatementITCase.java
  flink-table/flink-sql-gateway/src/test/java/org/apache/flink/table/gateway/AbstractSqlGatewayStatementITCaseBase.java
  flink-table/flink-sql-gateway/src/test/java/org/apache/flink/table/gateway/service/application/PrinterTest.java
  flink-table/flink-sql-gateway/src/test/java/org/apache/flink/table/gateway/service/application/ScriptExecutorITCase.java
  flink-table/flink-sql-gateway/src/test/java/org/apache/flink/table/gateway/service/result/ResultFetcherTest.java
  flink-table/flink-sql-gateway/src/test/resources/application/comment.q
  flink-table/flink-sql-gateway/src/test/resources/application/error.q
  flink-table/flink-sql-gateway/src/test/resources/sql/begin_statement_set.q
  flink-table/flink-sql-gateway/src/test/resources/sql/call_procedure.q
  flink-table/flink-sql-gateway/src/test/resources/sql/catalog_database.q
  flink-table/flink-sql-gateway/src/test/resources/sql/statement_set.q
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/TableResultImpl.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/TableResultUtils.java
Labels: component=<none>

#25772 [FLINK-36868][State] Provide file system methods with string parameters for ForSt JNI
  flink-dist/src/main/resources/META-INF/NOTICE
  flink-state-backends/flink-statebackend-forst/pom.xml
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStResourceContainer.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/fs/ForStFileStatus.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/fs/ForStFlinkFileSystem.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/fs/StringifiedForStFileSystem.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/ForStResourceContainerTest.java
Labels: component=<none>

#25779 [FLINK-36883] Adapt time attributes from the VIEWs query
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/catalog/SqlCatalogViewTable.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/catalog/JavaCatalogTableTest.java
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/catalog/JavaCatalogTableTest.xml
Labels: component=TableSQL/Planner

#25758 [FLINK-36861][table-planner] CREATE TABLE AS with METADATA columns doesn't work
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/MergeTableAsUtil.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/SchemaBuilderUtil.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/operations/SqlCTASNodeToOperationTest.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/operations/SqlDdlToOperationConverterTest.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/operations/SqlRTASNodeToOperationConverterTest.java
Labels: component=<none>

#25782 [BP-1.19][FLINK-36451][runtime] Replaces LeaderElection#hasLeadership with LeaderElection#runAsLeader
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/runner/DefaultDispatcherRunner.java
  flink-runtime/src/main/java/org/apache/flink/runtime/highavailability/nonha/embedded/EmbeddedLeaderService.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/JobMasterServiceLeadershipRunner.java
  flink-runtime/src/main/java/org/apache/flink/runtime/leaderelection/DefaultLeaderElection.java
  flink-runtime/src/main/java/org/apache/flink/runtime/leaderelection/DefaultLeaderElectionService.java
  flink-runtime/src/main/java/org/apache/flink/runtime/leaderelection/LeaderElection.java
  flink-runtime/src/main/java/org/apache/flink/runtime/leaderelection/LeaderElectionService.java
  flink-runtime/src/main/java/org/apache/flink/runtime/leaderelection/StandaloneLeaderElection.java
  flink-runtime/src/main/java/org/apache/flink/runtime/resourcemanager/ResourceManagerServiceImpl.java
  flink-runtime/src/main/java/org/apache/flink/runtime/webmonitor/WebMonitorEndpoint.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/runner/DefaultDispatcherRunnerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/highavailability/nonha/embedded/EmbeddedHaServicesTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderelection/DefaultLeaderElectionServiceTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderelection/DefaultLeaderElectionTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderelection/LeaderElectionTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderelection/StandaloneLeaderElectionTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderelection/TestingContender.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderelection/TestingGenericLeaderContender.java
  flink-runtime/src/test/java/org/apache/flink/runtime/leaderelection/TestingLeaderElection.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/util/DocumentingDispatcherRestEndpoint.java
Labels: component=Runtime/Coordination

#25773 [FLINK-36875][runtime] Complete timer before emitting watermark
  flink-runtime/src/main/java/org/apache/flink/runtime/asyncprocessing/AsyncExecutionController.java
  flink-runtime/src/main/java/org/apache/flink/runtime/asyncprocessing/operators/AbstractAsyncStateStreamOperator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/asyncprocessing/operators/AbstractAsyncStateStreamOperatorV2.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/operators/InternalTimeServiceManager.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/operators/InternalTimeServiceManagerImpl.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/operators/InternalTimerServiceAsyncImpl.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/operators/InternalTimerServiceImpl.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/operators/sorted/state/BatchExecutionInternalTimeServiceManager.java
  flink-runtime/src/test/java/org/apache/flink/streaming/api/operators/InternalTimerServiceAsyncImplTest.java
  flink-runtime/src/test/java/org/apache/flink/streaming/api/operators/MailboxWatermarkProcessorTest.java
Labels: component=<none>

#25787 [FLINK-36883] Adapt time attributes from the VIEWs query (#25779)
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/catalog/SqlCatalogViewTable.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/catalog/JavaCatalogTableTest.java
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/catalog/JavaCatalogTableTest.xml
Labels: component=TableSQL/Planner

#25791 [FLINK-36896][table] Table API trim expression incorrectly translated to SQL
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/expressions/ExpressionSerializationTest.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/SqlCallSyntax.java
Labels: component=<none>

#24450 [FLINK-34602][table] Migrate StreamPhysicalWindowJoinRule to java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/rules/physical/stream/StreamPhysicalWindowJoinRule.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/stream/StreamPhysicalWindowJoinRule.scala
Labels: component=TableSQL/Planner

#25795 [FLINK-36904] Fix document error on how to programmatically configure serialization
  docs/content/docs/dev/datastream/fault-tolerance/serialization/third_party_serializers.md
  docs/content/docs/dev/datastream/fault-tolerance/serialization/types_serialization.md
Labels: component=<none>

#25801 [BP-1.19][FLINK-35887][core] Fix NPE in TypeExtractor where getSuperclass from an interface returns null
  flink-core/src/main/java/org/apache/flink/api/java/typeutils/TypeExtractor.java
  flink-test-utils-parent/flink-test-utils/src/test/java/org/apache/flink/types/PojoTestUtilsTest.java
Labels: component=API/TypeSerializationSystem

#25718 [FLINK-36740] [WebFrontend] Update frontend dependencies to address vulnerabilities
  flink-runtime-web/README.md
  flink-runtime-web/src/main/resources/META-INF/NOTICE
  flink-runtime-web/web-dashboard/.eslintrc.js
  flink-runtime-web/web-dashboard/dev/generate_notice.sh
  flink-runtime-web/web-dashboard/dev/notice-template
  flink-runtime-web/web-dashboard/package-lock.json
  flink-runtime-web/web-dashboard/package.json
  flink-runtime-web/web-dashboard/src/app/pages/overview/statistic/overview-statistic.component.html
  pom.xml
Labels: component=Runtime/WebFrontend

#25793 [FLINK-36889] Mention locking down a Flink cluster in the 'Production Readiness Checklist'
  docs/content.zh/docs/ops/production_ready.md
  docs/content/docs/ops/production_ready.md
Labels: component=Documentation

#25759 [FLINK-35241][table]Support SQL FLOOR and CEIL functions with SECOND and MINUTE for TIMESTAMP_TLZ
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/utils/DateTimeUtils.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/calls/FloorCeilCallGen.scala
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/functions/TimeFunctionsITCase.java
Labels: component=TableSQL/API

#23439 [FLINK-33117][table][docs] Fix scala example in udfs page
  docs/content.zh/docs/dev/table/functions/udfs.md
  docs/content/docs/dev/table/functions/udfs.md
Labels: component=Documentation

#23980 [FLINK-33921][table] Cleanup deprecated IdleStateRetentionTime related method in org.apache.flink.table.api.TableConfig
  flink-python/pyflink/table/table_config.py
  flink-python/pyflink/table/tests/test_table_config.py
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/TableConfig.java
  flink-table/flink-table-api-scala-bridge/src/test/scala/org/apache/flink/table/api/bridge/scala/internal/StreamTableEnvironmentImplTest.scala
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/utils/TableConfigUtils.java
Labels: component=TableSQL/Planner

#25802 [FLINK-35904][test] Test harness for async state processing operators
  flink-runtime/src/test/java/org/apache/flink/runtime/asyncprocessing/operators/AbstractAsyncStateStreamOperatorTest.java
  flink-runtime/src/test/java/org/apache/flink/streaming/util/asyncprocessing/AsyncKeyedMultiInputStreamOperatorTestHarness.java
  flink-runtime/src/test/java/org/apache/flink/streaming/util/asyncprocessing/AsyncKeyedOneInputStreamOperatorTestHarness.java
  flink-runtime/src/test/java/org/apache/flink/streaming/util/asyncprocessing/AsyncKeyedTwoInputStreamOperatorTestHarness.java
  flink-runtime/src/test/java/org/apache/flink/streaming/util/asyncprocessing/AsyncProcessingTestUtil.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/AbstractAsyncStateStreamOperatorV2Test.java
Labels: component=<none>

#25811 [FLINK-36873][runtime] Adapting batch job progress recovery to Apache Celeborn.
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/Dispatcher.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptivebatch/AdaptiveBatchSchedulerFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptivebatch/DefaultBatchJobRecoveryHandler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/shuffle/NettyShuffleMaster.java
  flink-runtime/src/main/java/org/apache/flink/runtime/shuffle/ShuffleMaster.java
  flink-runtime/src/main/java/org/apache/flink/runtime/shuffle/ShuffleMasterSnapshotUtil.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptivebatch/BatchJobRecoveryTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/shuffle/ShuffleMasterSnapshotUtilTest.java
Labels: component=Runtime/Network

#25805 [FLINK-36706] Refactor TypeInferenceExtractor for PTFs
  flink-table/flink-table-api-scala/src/test/scala/org/apache/flink/table/types/extraction/TypeInferenceExtractorScalaTest.scala
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/annotation/ArgumentTrait.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/ProcessTableFunction.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/UserDefinedFunctionHelper.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/extraction/BaseMappingExtractor.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/extraction/DataTypeExtractor.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/extraction/ExtractionUtils.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/extraction/FunctionArgumentTemplate.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/extraction/FunctionMappingExtractor.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/extraction/FunctionResultTemplate.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/extraction/FunctionSignatureTemplate.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/extraction/FunctionTemplate.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/extraction/ProcedureMappingExtractor.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/extraction/TypeInferenceExtractor.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/inference/StaticArgument.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/inference/StaticArgumentTrait.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/inference/TypeInference.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/types/extraction/DataTypeExtractorTest.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/types/extraction/ExtractionUtilsTest.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/types/extraction/TypeInferenceExtractorTest.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/functions/inference/TypeInferenceOperandChecker.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/PlannerCallProcedureOperation.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/runtime/stream/table/ValuesITCase.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/expressions/utils/userDefinedScalarFunctions.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/agg/SortAggITCase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/utils/UserDefinedFunctionTestUtils.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/utils/CountAggFunction.scala
Labels: component=TableSQL/API

#24446 [FLINK-34598][table] Migrate RemoveRedundantLocalRankRule to java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/rules/physical/batch/RemoveRedundantLocalRankRule.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/batch/RemoveRedundantLocalRankRule.scala
Labels: component=TableSQL/Planner

#25690 [FLINK-36791][table] Remove FlinkPruneEmptyRules.
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/rules/FlinkBatchRuleSets.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/rules/FlinkStreamRuleSets.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/rules/logical/FlinkPruneEmptyRules.scala
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/join/BroadcastHashJoinTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/join/NestedLoopJoinTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/join/ShuffledHashJoinTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/join/SortMergeJoinTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/join/JoinTest.xml
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/batch/sql/join/BroadcastHashJoinTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/batch/sql/join/ShuffledHashJoinTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/batch/sql/join/SortMergeJoinTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/rules/logical/FlinkPruneEmptyRulesTest.scala
Labels: component=TableSQL/Planner

#25817 [FLINK-36934][network] Enrich numSubpartitions to TierMasterAgent#addPartitionAndGetShuffleDescriptor
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/hybrid/tiered/shuffle/TieredInternalShuffleMaster.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/hybrid/tiered/storage/TieredStorageMasterClient.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/hybrid/tiered/tier/NoOpMasterAgent.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/hybrid/tiered/tier/TierMasterAgent.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/hybrid/tiered/tier/remote/RemoteTierMasterAgent.java
  flink-runtime/src/main/java/org/apache/flink/runtime/shuffle/NettyShuffleMaster.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/hybrid/tiered/tier/remote/RemoteTierMasterAgentTest.java
Labels: component=Runtime/Network

#25810 [FLINK-36919][table] Add missing dropTable/dropView methods to TableEnvironment
  docs/content.zh/docs/dev/python/table/table_environment.md
  docs/content/docs/dev/python/table/table_environment.md
  flink-python/docs/reference/pyflink.table/table_environment.rst
  flink-python/pyflink/table/table_environment.py
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/TableEnvironment.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/TableEnvironmentImpl.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/catalog/CatalogManager.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/TableEnvironmentTest.scala
Labels: component=TableSQL/API

#25851 [FLINK-36921][runtime] Fix unstable AdaptiveExecutionPlanSchedulingContextTest
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptivebatch/AdaptiveExecutionPlanSchedulingContextTest.java
Labels: component=Runtime/Coordination

#25551 [FLINK-36575][runtime] ExecutionVertexInputInfo supports consuming subpartition groups
  flink-runtime/src/main/java/org/apache/flink/runtime/deployment/ConsumedSubpartitionContext.java
  flink-runtime/src/main/java/org/apache/flink/runtime/deployment/InputGateDeploymentDescriptor.java
  flink-runtime/src/main/java/org/apache/flink/runtime/deployment/TaskDeploymentDescriptorFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/EdgeManagerBuildUtil.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/ExecutionVertexInputInfo.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/IndexRangeUtil.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/SingleInputGateFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/SsgNetworkMemoryCalculationUtils.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptivebatch/AdaptiveBatchScheduler.java
  flink-runtime/src/test/java/org/apache/flink/runtime/deployment/ConsumedSubpartitionContextTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/IndexRangeUtilTest.java
Labels: component=Runtime/Coordination

#25852 [FLINK-36959][runtime] Fix the logic for computing readable buffer offsets and sizes when including empty buffers.
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/PartitionedFileReader.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/PartitionedFileWriter.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/SortMergeResultPartition.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/PartitionTestUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/PartitionedFileWriteReadTest.java
Labels: component=Runtime/Network

#25856 [FLINK-35904][test] Make async test harnesses extend existing harnesses
  flink-runtime/src/test/java/org/apache/flink/streaming/util/MultiInputStreamOperatorTestHarness.java
  flink-runtime/src/test/java/org/apache/flink/streaming/util/asyncprocessing/AsyncKeyedMultiInputStreamOperatorTestHarness.java
  flink-runtime/src/test/java/org/apache/flink/streaming/util/asyncprocessing/AsyncKeyedOneInputStreamOperatorTestHarness.java
  flink-runtime/src/test/java/org/apache/flink/streaming/util/asyncprocessing/AsyncKeyedTwoInputStreamOperatorTestHarness.java
  flink-runtime/src/test/java/org/apache/flink/streaming/util/asyncprocessing/AsyncProcessingTestUtil.java
Labels: component=<none>

#25858 [FLINK-35904][test] Enhance test harness for async state processing with fast fail
  flink-runtime/src/test/java/org/apache/flink/streaming/util/asyncprocessing/AsyncKeyedMultiInputStreamOperatorTestHarness.java
  flink-runtime/src/test/java/org/apache/flink/streaming/util/asyncprocessing/AsyncKeyedOneInputStreamOperatorTestHarness.java
  flink-runtime/src/test/java/org/apache/flink/streaming/util/asyncprocessing/AsyncKeyedTwoInputStreamOperatorTestHarness.java
  flink-runtime/src/test/java/org/apache/flink/streaming/util/asyncprocessing/AsyncProcessingTestUtil.java
Labels: component=<none>

#25839 [FLINK-36948][tests] Remove deprecated FlinkMatchers
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/DispatcherCachedOperationsHandlerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/DispatcherCleanupITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/DispatcherResourceCleanupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/DispatcherTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/entrypoint/component/DispatcherResourceManagerComponentTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/heartbeat/HeartbeatManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmanager/DefaultExecutionPlanStoreTest.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/catalog/CatalogBaseTableResolutionTest.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/catalog/SchemaResolutionTest.java
  flink-table/flink-table-api-scala/src/test/scala/org/apache/flink/table/types/extraction/DataTypeExtractorScalaTest.scala
  flink-table/flink-table-code-splitter/src/test/java/org/apache/flink/table/codesplit/JavaCodeSplitterTest.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/types/extraction/DataTypeExtractorTest.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/codegen/CodeSplitTest.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/operators/window/tvf/slicing/SliceAssignerTestBase.java
  flink-test-utils-parent/flink-test-utils-junit/src/main/java/org/apache/flink/core/testutils/FlinkCompletableFutureAssert.java
  flink-test-utils-parent/flink-test-utils-junit/src/main/java/org/apache/flink/core/testutils/FlinkMatchers.java
  flink-tests/src/test/java/org/apache/flink/runtime/jobmaster/JobMasterITCase.java
  flink-tests/src/test/java/org/apache/flink/test/scheduling/AdaptiveSchedulerITCase.java
Labels: component=Tests

#24375 [FLINK-34505][table] Migrate WindowGroupReorderRule to java.
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/rules/logical/WindowGroupReorderRule.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/rules/logical/WindowGroupReorderRule.scala
Labels: component=TableSQL/Planner

#25862 [FLINK-36966][tests] Bump mockito to 5.14.2
  flink-runtime/pom.xml
  flink-runtime/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  pom.xml
Labels: component=Tests

#24502 [FLINK-34675][table] Migrate AggregateReduceGroupingRule to java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/rules/logical/AggregateReduceGroupingRule.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/rules/logical/AggregateReduceGroupingRule.scala
  tools/maven/suppressions.xml
Labels: component=TableSQL/Planner

#25840 [FLINK-33117][docs] Fix scala example for `NamedParameterClass`
  docs/content.zh/docs/dev/table/functions/udfs.md
  docs/content/docs/dev/table/functions/udfs.md
Labels: component=Documentation

#25847 [FLINK-36955][table] Migrate RewriteIntersectAllRule to java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/rules/logical/RewriteIntersectAllRule.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/rules/logical/RewriteIntersectAllRule.scala
Labels: component=TableSQL/Planner

#25846 [FLINK-36954][table] Migrate CalcRankTransposeRule to java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/rules/logical/CalcRankTransposeRule.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/rules/logical/CalcRankTransposeRule.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/utils/FlinkRexUtil.scala
Labels: component=TableSQL/Planner

#25844 [FLINK-36951][table] Migrate ProjectSemiAntiJoinTransposeRule to java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/rules/logical/ProjectSemiAntiJoinTransposeRule.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/rules/logical/ProjectSemiAntiJoinTransposeRule.scala
Labels: component=TableSQL/Planner

#25798 [FLINK-36069][runtime/rest] Extending job detail rest API to expose json stream graph
  flink-clients/src/test/java/org/apache/flink/client/program/rest/RestClusterClientTest.java
  flink-runtime-web/src/test/java/org/apache/flink/runtime/webmonitor/WebFrontendITCase.java
  flink-runtime-web/src/test/resources/rest_api_v1.snapshot
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/AccessExecutionGraph.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/ArchivedExecutionGraph.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/DefaultExecutionGraph.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobgraph/jsonplan/JsonPlanGenerator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/handler/job/JobDetailsHandler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/messages/job/JobDetailsInfo.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptivebatch/AdaptiveExecutionPlanSchedulingContext.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptivebatch/ExecutionPlanSchedulingContext.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptivebatch/NonAdaptiveExecutionPlanSchedulingContext.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/graph/AdaptiveGraphManager.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/graph/DefaultStreamGraphContext.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/graph/StreamGraphContext.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobgraph/jsonplan/JsonGeneratorTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobgraph/jsonplan/StreamGraphJsonSchema.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/handler/job/JobDetailsHandlerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/handler/legacy/utils/ArchivedExecutionGraphBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/messages/job/JobDetailsInfoTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adapter/DefaultExecutionTopologyTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/StateTrackingMockExecutionGraph.java
Labels: component=Runtime/REST
