Repository apache/flink, pull requests merged in 2024-04, with the labels that each got.

#24624 [FLINK-35021] AggregateQueryOperations produces wrong asSerializableString representation
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/AggregateQueryOperation.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/api/QueryOperationSqlExecutionTest.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/api/QueryOperationSqlSerializationTest.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/api/QueryOperationTestPrograms.java
Labels: component=TableSQL/API

#24619 [FLINK-34657] add lineage provider API
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/lineage/LineageVertexProvider.java
Labels: component=<none>

#24622 [FLINK-35011][tests] Change MockDeserializationSchema's visibility to public to prevent compilation failure in kafka connector
  flink-streaming-java/src/test/java/org/apache/flink/streaming/util/MockDeserializationSchema.java
Labels: component=Tests

#24555 [FLINK-24939][table] Support `SHOW CREATE CATALOG` syntax
  docs/content.zh/docs/dev/table/sql/show.md
  docs/content/docs/dev/table/sql/show.md
  flink-table/flink-sql-client/src/test/resources/sql/catalog_database.q
  flink-table/flink-sql-gateway/src/test/resources/sql/catalog_database.q
  flink-table/flink-sql-parser/src/main/codegen/data/Parser.tdd
  flink-table/flink-sql-parser/src/main/codegen/includes/parserImpls.ftl
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/dql/SqlShowCreateCatalog.java
  flink-table/flink-sql-parser/src/test/java/org/apache/flink/sql/parser/FlinkSqlParserImplTest.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/ShowCreateUtil.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/catalog/CatalogManager.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ShowCreateCatalogOperation.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/converters/SqlNodeConverters.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/converters/SqlShowCreateCatalogConverter.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/operations/SqlOtherOperationConverterTest.java
Labels: component=TableSQL/API

#24144 [FLINK-34162][table] Migrate LogicalUnnestRule to java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/rules/logical/LogicalUnnestRule.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/rules/logical/LogicalUnnestRule.scala
Labels: component=TableSQL/Planner

#24421 [FLINK-34556][table] Migrate EnumerableToLogicalTableScan to java.
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/rules/logical/EnumerableToLogicalTableScan.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/rules/logical/EnumerableToLogicalTableScan.scala
Labels: component=TableSQL/Planner

#24143 [FLINK-34161][table] Migration of RewriteMinusAllRule to java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/rules/logical/RewriteMinusAllRule.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/rules/logical/RewriteMinusAllRule.scala
Labels: component=TableSQL/Planner

#24485 [FLINK-34649][table] Migrate PushFilterIntoLegacyTableSourceScanRule …
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/rules/logical/PushFilterIntoLegacyTableSourceScanRule.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/rules/logical/PushFilterIntoLegacyTableSourceScanRule.scala
Labels: component=TableSQL/Planner

#24646 [BP-1.18][FLINK-28693][table] Janino compile failed because of the generated code refers a class in table-planner
  flink-end-to-end-tests/flink-end-to-end-tests-sql/src/test/java/org/apache/flink/table/sql/CompileAndExecuteRemotePlanITCase.java
  flink-end-to-end-tests/flink-end-to-end-tests-sql/src/test/java/org/apache/flink/table/sql/CreateTableAsITCase.java
  flink-end-to-end-tests/flink-end-to-end-tests-sql/src/test/java/org/apache/flink/table/sql/HdfsITCaseBase.java
  flink-end-to-end-tests/flink-end-to-end-tests-sql/src/test/java/org/apache/flink/table/sql/PlannerScalaFreeITCase.java
  flink-end-to-end-tests/flink-end-to-end-tests-sql/src/test/java/org/apache/flink/table/sql/SqlITCaseBase.java
  flink-end-to-end-tests/flink-end-to-end-tests-sql/src/test/java/org/apache/flink/table/sql/UsingRemoteJarITCase.java
  flink-end-to-end-tests/flink-end-to-end-tests-sql/src/test/resources/watermark_push_down_e2e.sql
  flink-end-to-end-tests/flink-sql-client-test/pom.xml
  flink-end-to-end-tests/flink-sql-client-test/src/main/java/org/apache/flink/table/toolbox/TestScanTableSourceWithWatermarkPushDown.java
  flink-end-to-end-tests/flink-sql-client-test/src/main/java/org/apache/flink/table/toolbox/TestScanTableSourceWithWatermarkPushDownFactory.java
  flink-end-to-end-tests/flink-sql-client-test/src/main/java/org/apache/flink/table/toolbox/TestSourceFunction.java
  flink-end-to-end-tests/flink-sql-client-test/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/WatermarkGeneratorCodeGenerator.scala
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/generated/WatermarkGeneratorCodeGeneratorFunctionContextWrapper.java
Labels: component=TableSQL/Runtime

#24643 [FLINK-35065][metrics] Add numFiredTimers and numFiredTimersPerSecond
  docs/content.zh/docs/ops/metrics.md
  docs/content/docs/ops/metrics.md
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/MetricNames.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/groups/TaskIOMetricGroup.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/InternalTimeServiceManager.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/InternalTimeServiceManagerImpl.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/InternalTimerServiceImpl.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/StreamTaskStateInitializerImpl.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/sorted/state/BatchExecutionInternalTimeServiceManager.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/InternalTimerServiceImplTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/StateInitializationContextImplTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/StreamTaskStateInitializerImplTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/sorted/state/BatchExecutionInternalTimeServiceTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/util/AbstractStreamOperatorTestHarness.java
  flink-tests/src/test/java/org/apache/flink/test/state/operator/restore/StreamOperatorSnapshotRestoreTest.java
Labels: component=Runtime/Metrics, component=Runtime/Task

#24645 [BP-1.19][FLINK-28693][table] Janino compile failed because of the generated code refers a class in table-planner
  flink-end-to-end-tests/flink-end-to-end-tests-sql/src/test/java/org/apache/flink/table/sql/CompileAndExecuteRemotePlanITCase.java
  flink-end-to-end-tests/flink-end-to-end-tests-sql/src/test/java/org/apache/flink/table/sql/CreateTableAsITCase.java
  flink-end-to-end-tests/flink-end-to-end-tests-sql/src/test/java/org/apache/flink/table/sql/HdfsITCaseBase.java
  flink-end-to-end-tests/flink-end-to-end-tests-sql/src/test/java/org/apache/flink/table/sql/PlannerScalaFreeITCase.java
  flink-end-to-end-tests/flink-end-to-end-tests-sql/src/test/java/org/apache/flink/table/sql/SqlITCaseBase.java
  flink-end-to-end-tests/flink-end-to-end-tests-sql/src/test/java/org/apache/flink/table/sql/UsingRemoteJarITCase.java
  flink-end-to-end-tests/flink-end-to-end-tests-sql/src/test/resources/watermark_push_down_e2e.sql
  flink-end-to-end-tests/flink-sql-client-test/pom.xml
  flink-end-to-end-tests/flink-sql-client-test/src/main/java/org/apache/flink/table/toolbox/TestScanTableSourceWithWatermarkPushDown.java
  flink-end-to-end-tests/flink-sql-client-test/src/main/java/org/apache/flink/table/toolbox/TestScanTableSourceWithWatermarkPushDownFactory.java
  flink-end-to-end-tests/flink-sql-client-test/src/main/java/org/apache/flink/table/toolbox/TestSourceFunction.java
  flink-end-to-end-tests/flink-sql-client-test/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/WatermarkGeneratorCodeGenerator.scala
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/generated/WatermarkGeneratorCodeGeneratorFunctionContextWrapper.java
Labels: component=TableSQL/Runtime

#24639 [FLINK-28440][State/changelog] Hotfix! Increase the materialization Interval of ChangelogRecoveryITCase#testMaterialization
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/ChangelogRecoveryITCase.java
Labels: component=Runtime/StateBackends, component=Runtime/Checkpointing

#24641 [FLINK-35023][tests] Use surefire.module.config in yarn-test
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YARNApplicationITCase.java
Labels: component=BuildSystem/CI

#24623 [FLINK-35015][formats] allow passing hadoop config into parquet reader
  flink-formats/flink-parquet/pom.xml
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/avro/AvroParquetRecordFormat.java
Labels: component=Formats

#24636 [FLINK-35060][Test/Connector] Provide compatibility of old CheckpointMode for connector testing framework
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/CheckpointingMode.java
  flink-test-utils-parent/flink-connector-test-utils/src/main/java/org/apache/flink/connector/testframe/external/sink/TestingSinkSettings.java
  flink-test-utils-parent/flink-connector-test-utils/src/main/java/org/apache/flink/connector/testframe/external/source/TestingSourceSettings.java
  flink-test-utils-parent/flink-connector-test-utils/src/main/java/org/apache/flink/connector/testframe/junit/annotations/TestSemantics.java
  flink-test-utils-parent/flink-connector-test-utils/src/main/java/org/apache/flink/connector/testframe/junit/extensions/ConnectorTestingExtension.java
  flink-test-utils-parent/flink-connector-test-utils/src/main/java/org/apache/flink/connector/testframe/utils/UnorderedCollectIteratorAssert.java
Labels: component=Tests, component=Runtime/Checkpointing

#24649 [FLINK-34250][docs] add new option for avro format docs
  docs/content.zh/docs/connectors/table/formats/avro.md
  docs/content/docs/connectors/table/formats/avro.md
Labels: component=Formats

#22973 [FLINK-32440][checkpoint] Introduce file merging configurations
  docs/layouts/shortcodes/generated/checkpoint_file_merging_section.html
  docs/layouts/shortcodes/generated/checkpointing_configuration.html
  flink-annotations/src/main/java/org/apache/flink/annotation/docs/Documentation.java
  flink-core/src/main/java/org/apache/flink/configuration/CheckpointingOptions.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/filemerging/FileMergingSnapshotManagerBuilder.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/CheckpointStorageWorkerView.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/TaskExecutorFileMergingManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskExecutor.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/TaskExecutorFileMergingManagerTest.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
Labels: component=Runtime/StateBackends, component=Runtime/Checkpointing

#24140 [FLINK-34158][table] Migrate WindowAggregateReduceFunctionsRule to java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/rules/logical/WindowAggregateReduceFunctionsRule.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/rules/logical/WindowAggregateReduceFunctionsRule.scala
Labels: component=TableSQL/Planner

#24481 [FLINK-31472] Remove external timer service reference from AsyncSinkThrottling Test
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/writer/AsyncSinkWriterThrottlingTest.java
Labels: component=Connectors/Common

#24612 [FLINK-25537][JUnit5 Migration] Module: flink-core with,Package: Configuration
  flink-core/src/test/java/org/apache/flink/configuration/ConfigOptionTest.java
  flink-core/src/test/java/org/apache/flink/configuration/ConfigUtilsTest.java
  flink-core/src/test/java/org/apache/flink/configuration/ConfigurationConversionsTest.java
  flink-core/src/test/java/org/apache/flink/configuration/ConfigurationParsingInvalidFormatsTest.java
  flink-core/src/test/java/org/apache/flink/configuration/ConfigurationTest.java
  flink-core/src/test/java/org/apache/flink/configuration/ConfigurationUtilsTest.java
  flink-core/src/test/java/org/apache/flink/configuration/CoreOptionsTest.java
  flink-core/src/test/java/org/apache/flink/configuration/FilesystemSchemeConfigTest.java
  flink-core/src/test/java/org/apache/flink/configuration/GlobalConfigurationTest.java
  flink-core/src/test/java/org/apache/flink/configuration/MemorySizePrettyPrintingTest.java
  flink-core/src/test/java/org/apache/flink/configuration/MemorySizeTest.java
  flink-core/src/test/java/org/apache/flink/configuration/ParentFirstPatternsTest.java
  flink-core/src/test/java/org/apache/flink/configuration/ReadableWritableConfigurationTest.java
  flink-core/src/test/java/org/apache/flink/configuration/RestOptionsTest.java
  flink-core/src/test/java/org/apache/flink/configuration/SecurityOptionsTest.java
  flink-core/src/test/java/org/apache/flink/configuration/StructuredOptionsSplitterEscapeTest.java
  flink-core/src/test/java/org/apache/flink/configuration/StructuredOptionsSplitterTest.java
  flink-core/src/test/java/org/apache/flink/configuration/UnmodifiableConfigurationTest.java
  flink-core/src/test/java/org/apache/flink/configuration/YamlParserUtilsTest.java
  flink-core/src/test/java/org/apache/flink/configuration/description/DescriptionHtmlTest.java
Labels: component=API/Core

#24668 [FLINK-31472] Remove external timer service reference from AsyncSinkThrottling Test
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/writer/AsyncSinkWriterThrottlingTest.java
Labels: component=Connectors/Common

#24669 [FLINK-31472][connectors/base] Remove external timer service reference from AsyncSinkThrottling Test
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/writer/AsyncSinkWriterThrottlingTest.java
Labels: component=Connectors/Common

#24510 [FLINK-34633][table] Support unnesting array constants
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/rules/logical/UncollectToTableFunctionScanRule.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/rules/FlinkBatchRuleSets.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/rules/FlinkStreamRuleSets.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/utils/CorrelateUtil.scala
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/UnnestTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/rules/logical/LogicalUnnestRuleTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/UnnestTest.xml
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/common/UnnestTestBase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/UnnestITCase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/UnnestITCase.scala
Labels: component=TableSQL/Planner

#24586 [FLINK-34954][core] Kryo Input bug fix
  flink-core/src/main/java/org/apache/flink/api/java/typeutils/runtime/NoFetchingInput.java
Labels: component=<none>

#24687 [BP-1.18][FLINK-35159] Transition ExecutionGraph to RUNNING after slot assignment
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveScheduler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/CreatingExecutionGraph.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/CreatingExecutionGraphTest.java
Labels: component=Runtime/Coordination

#24686 [BP-1.19][FLINK-35159] Transition ExecutionGraph to RUNNING after slot assignment
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveScheduler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/CreatingExecutionGraph.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/CreatingExecutionGraphTest.java
Labels: component=Runtime/Coordination

#23777 [FLINK-28048][connectors] Introduce Source API alternative to FiniteTestSource
  flink-architecture-tests/flink-architecture-tests-production/archunit-violations/f7a4e6fa-e7de-48c9-a61e-c13e83f0c72e
  flink-connectors/flink-connector-datagen/pom.xml
  flink-connectors/flink-connector-datagen/src/main/java/org/apache/flink/connector/datagen/functions/IndexLookupGeneratorFunction.java
  flink-connectors/flink-connector-datagen/src/main/java/org/apache/flink/connector/datagen/source/DataGeneratorSource.java
  flink-connectors/flink-connector-datagen/src/main/java/org/apache/flink/connector/datagen/source/DoubleEmittingSourceReaderWithCheckpointsInBetween.java
  flink-connectors/flink-connector-datagen/src/test/java/org/apache/flink/connector/datagen/source/TestDataGenerators.java
  flink-connectors/flink-connector-hive/pom.xml
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTableSinkITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTableSourceITCase.java
  flink-core/src/main/java/org/apache/flink/api/connector/source/lib/util/IteratorSourceReaderBase.java
  flink-formats/flink-avro/pom.xml
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/AvroStreamingFileSinkITCase.java
  flink-formats/flink-compress/pom.xml
  flink-formats/flink-compress/src/test/java/org/apache/flink/formats/compress/CompressionFactoryITCase.java
  flink-formats/flink-csv/pom.xml
  flink-formats/flink-hadoop-bulk/pom.xml
  flink-formats/flink-hadoop-bulk/src/test/java/org/apache/flink/formats/hadoop/bulk/HadoopPathBasedPartFileWriterITCase.java
  flink-formats/flink-json/pom.xml
  flink-formats/flink-orc/pom.xml
  flink-formats/flink-orc/src/test/java/org/apache/flink/orc/writer/OrcBulkWriterITCase.java
  flink-formats/flink-parquet/pom.xml
  flink-formats/flink-parquet/src/test/java/org/apache/flink/formats/parquet/avro/AvroParquetStreamingFileSinkITCase.java
  flink-formats/flink-parquet/src/test/java/org/apache/flink/formats/parquet/protobuf/ParquetProtoStreamingFileSinkITCase.java
  flink-formats/flink-sequence-file/pom.xml
  flink-formats/flink-sequence-file/src/test/java/org/apache/flink/formats/sequencefile/SequenceStreamingFileSinkITCase.java
  flink-table/flink-table-planner/pom.xml
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/runtime/stream/sql/CompactionITCaseBase.java
  flink-tests/pom.xml
  flink-tests/src/test/java/org/apache/flink/test/streaming/runtime/SinkITCase.java
Labels: component=Tests, component=Connectors/Common

#24303 [FLINK-32315][k8s] Support uploading "local://" artifacts in Kubernetes Application Mode
  docs/content.zh/docs/deployment/config.md
  docs/content.zh/docs/deployment/resource-providers/native_kubernetes.md
  docs/content/docs/deployment/config.md
  docs/content/docs/deployment/resource-providers/native_kubernetes.md
  docs/layouts/shortcodes/generated/kubernetes_config_configuration.html
  flink-clients/src/main/java/org/apache/flink/client/program/artifact/ArtifactFetchManager.java
  flink-clients/src/test/java/org/apache/flink/client/program/artifact/ArtifactFetchManagerTest.java
  flink-core/src/test/java/org/apache/flink/testutils/TestingUtils.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/KubernetesClusterClientFactory.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/KubernetesClusterDescriptor.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/artifact/DefaultKubernetesArtifactUploader.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/artifact/KubernetesArtifactUploader.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/configuration/KubernetesConfigOptions.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/KubernetesClusterDescriptorTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/artifact/DefaultKubernetesArtifactUploaderTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/artifact/DummyFs.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/artifact/DummyFsFactory.java
  flink-kubernetes/src/test/resources/META-INF/services/org.apache.flink.core.fs.FileSystemFactory
Labels: component=Deployment/Kubernetes, component=Client/JobSubmission

#24676 [FLINK-35027][runtime/checkpoint] Implement checkpoint drain in AsyncExecutionController
  flink-runtime/src/main/java/org/apache/flink/runtime/asyncprocessing/AsyncExecutionController.java
  flink-runtime/src/main/java/org/apache/flink/runtime/asyncprocessing/StateRequest.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/AbstractStreamOperator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/AbstractStreamOperatorV2.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/asyncprocessing/AbstractAsyncStateStreamOperator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/asyncprocessing/AbstractAsyncStateStreamOperatorV2.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/asyncprocessing/AbstractAsyncStateStreamOperatorTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/asyncprocessing/AbstractAsyncStateStreamOperatorV2Test.java
Labels: component=Runtime/Checkpointing, component=Runtime/Task

#24672 [FLINK-35028][runtime] Timer firing under async execution model
  flink-runtime/src/main/java/org/apache/flink/runtime/asyncprocessing/AsyncExecutionController.java
  flink-runtime/src/main/java/org/apache/flink/runtime/asyncprocessing/KeyAccountingUnit.java
  flink-runtime/src/main/java/org/apache/flink/runtime/asyncprocessing/RecordContext.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/AbstractStreamOperator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/AbstractStreamOperatorV2.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/InternalTimeServiceManager.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/InternalTimeServiceManagerImpl.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/InternalTimerServiceAsyncImpl.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/InternalTimerServiceImpl.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/sorted/state/BatchExecutionInternalTimeServiceManager.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/asyncprocessing/AbstractAsyncStateStreamOperator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/asyncprocessing/AbstractAsyncStateStreamOperatorV2.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/InternalTimerServiceAsyncImplTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/asyncprocessing/AbstractAsyncStateStreamOperatorTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/asyncprocessing/AbstractAsyncStateStreamOperatorV2Test.java
Labels: component=Runtime/StateBackends, component=Runtime/Task

#24564 [FLINK-34444] Initial implementation of JM operator metric rest api
  docs/content.zh/docs/ops/metrics.md
  docs/content/docs/ops/metrics.md
  docs/layouts/shortcodes/generated/job_event_store_configuration.html
  docs/layouts/shortcodes/generated/metric_configuration.html
  docs/layouts/shortcodes/generated/rest_v1_dispatcher.html
  docs/static/generated/rest_v1_dispatcher.yml
  flink-core/src/main/java/org/apache/flink/configuration/MetricOptions.java
  flink-runtime-web/src/test/resources/rest_api_v1.snapshot
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/handler/job/metrics/JobManagerOperatorMetricsHandler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/handler/legacy/metrics/MetricStore.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/messages/job/metrics/JobManagerOperatorMetricsHeaders.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/messages/job/metrics/JobManagerOperatorMetricsMessageParameters.java
  flink-runtime/src/main/java/org/apache/flink/runtime/webmonitor/WebMonitorEndpoint.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/handler/job/metrics/JobManagerOperatorMetricsHandlerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/handler/legacy/metrics/MetricFetcherTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/handler/legacy/metrics/MetricStoreTest.java
Labels: component=Runtime/Metrics, component=Runtime/REST

#24675 [FLINK-35148][core] Improve InstantiationUtil for checking nullary pu…
  flink-core/src/main/java/org/apache/flink/util/InstantiationUtil.java
  flink-core/src/test/java/org/apache/flink/util/InstantiationUtilTest.java
Labels: component=API/Core

#24706 [FLINK-35088][core] Watermark alignment maxAllowedWatermarkDrift and …
  flink-core/src/main/java/org/apache/flink/api/common/eventtime/WatermarkStrategy.java
Labels: component=Runtime/Coordination, component=API/Core

#24678 [FLINK-35156][Runtime] Make operators of DataStream V2 integrate with async state processing framework
  flink-datastream/src/main/java/org/apache/flink/datastream/impl/operators/ProcessOperator.java
  flink-datastream/src/main/java/org/apache/flink/datastream/impl/operators/TwoInputBroadcastProcessOperator.java
  flink-datastream/src/main/java/org/apache/flink/datastream/impl/operators/TwoInputNonBroadcastProcessOperator.java
  flink-datastream/src/main/java/org/apache/flink/datastream/impl/operators/TwoOutputProcessOperator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/asyncprocessing/AbstractAsyncStateUdfStreamOperator.java
Labels: component=<none>

#24721 [FLINK-35239] [docs] Unset outdated warning
  docs/config.toml
Labels: component=Documentation

#24673 [FLINK-32877][Filesystem][Rebased] Add HTTP options to java-storage client
  docs/content.zh/docs/deployment/filesystems/gcs.md
  docs/content/docs/deployment/filesystems/gcs.md
  flink-filesystems/flink-gs-fs-hadoop/src/main/java/org/apache/flink/fs/gs/GSFileSystemFactory.java
  flink-filesystems/flink-gs-fs-hadoop/src/main/java/org/apache/flink/fs/gs/GSFileSystemOptions.java
Labels: component=Connectors/FileSystem

#24630 [FLINK-34915][table] Complete `DESCRIBE CATALOG` syntax
  docs/content.zh/docs/dev/table/sql/describe.md
  docs/content/docs/dev/table/sql/describe.md
  flink-table/flink-sql-client/src/test/resources/sql/catalog_database.q
  flink-table/flink-sql-gateway/src/test/resources/sql/catalog_database.q
  flink-table/flink-sql-parser/src/main/codegen/includes/parserImpls.ftl
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/dql/SqlDescribeCatalog.java
  flink-table/flink-sql-parser/src/test/java/org/apache/flink/sql/parser/FlinkSqlParserImplTest.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/DescribeCatalogOperation.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/converters/SqlDescribeCatalogConverter.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/converters/SqlNodeConverters.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/operations/SqlOtherOperationConverterTest.java
Labels: component=TableSQL/API

#23470 [FLINK-32622][table-planner] Optimize mini-batch assignment
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/optimize/StreamCommonSubGraphBasedOptimizer.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/utils/FlinkRexUtil.scala
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/optimize/MiniBatchOptimizationTest.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/utils/TableTestBase.scala
Labels: component=TableSQL/Planner

#24600 [FLINK-34379][table] Fix OutOfMemoryError with large queries
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/utils/DynamicPartitionPruningUtils.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/optimize/program/DynamicPartitionPruningProgramTest.java
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/optimize/program/DynamicPartitionPruningProgramTest.xml
Labels: component=TableSQL/Planner

#24745 [BP-1.19][FLINK-34379][table] Fix OutOfMemoryError with large queries
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/utils/DynamicPartitionPruningUtils.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/optimize/program/DynamicPartitionPruningProgramTest.java
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/optimize/program/DynamicPartitionPruningProgramTest.xml
Labels: component=TableSQL/Planner

#24746 [BP-1.19][FLINK-32622][table-planner] Optimize mini-batch assignment (#23470)
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/optimize/StreamCommonSubGraphBasedOptimizer.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/utils/FlinkRexUtil.scala
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/optimize/MiniBatchOptimizationTest.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/utils/TableTestBase.scala
Labels: component=TableSQL/Planner

#24724 [FLINK-34902][table] Fix IndexOutOfBoundsException for VALUES
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/calcite/PreValidateReWriter.scala
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/calcite/FlinkCalciteSqlValidatorTest.java
Labels: component=TableSQL/Planner

#24722 [FLINK-35217] Add missing fsync to #closeForCommit in some subclasses of RecoverableFsDataOutputStream.
  flink-core/src/main/java/org/apache/flink/core/fs/CommitterFromPersistRecoverableFsDataOutputStream.java
  flink-core/src/main/java/org/apache/flink/core/fs/local/LocalRecoverableFsDataOutputStream.java
  flink-core/src/test/java/org/apache/flink/core/fs/local/AbstractRecoverableFsDataOutputStreamTest.java
  flink-core/src/test/java/org/apache/flink/core/fs/local/LocalRecoverableFsDataOutputStreamTest.java
  flink-filesystems/flink-azure-fs-hadoop/src/main/java/org/apache/flink/fs/azurefs/AzureBlobFsRecoverableDataOutputStream.java
  flink-filesystems/flink-azure-fs-hadoop/src/test/java/org/apache/flink/fs/azurefs/AzureBlobFsRecoverableDataOutputStreamTest.java
  flink-filesystems/flink-hadoop-fs/src/main/java/org/apache/flink/runtime/fs/hdfs/BaseHadoopFsRecoverableFsDataOutputStream.java
  flink-filesystems/flink-hadoop-fs/src/main/java/org/apache/flink/runtime/fs/hdfs/HadoopRecoverableFsDataOutputStream.java
  flink-filesystems/flink-hadoop-fs/src/test/java/org/apache/flink/runtime/fs/hdfs/HadoopRecoverableFsDataOutputStreamTest.java
Labels: component=Runtime/Checkpointing, component=FileSystems

#24751 Backport: [FLINK-35217] Add missing fsync to #closeForCommit in some subclasses of RecoverableFsDataOutputStream. (#24722)
  flink-core/src/main/java/org/apache/flink/core/fs/CommitterFromPersistRecoverableFsDataOutputStream.java
  flink-core/src/main/java/org/apache/flink/core/fs/local/LocalRecoverableFsDataOutputStream.java
  flink-core/src/test/java/org/apache/flink/core/fs/local/AbstractRecoverableFsDataOutputStreamTest.java
  flink-core/src/test/java/org/apache/flink/core/fs/local/LocalRecoverableFsDataOutputStreamTest.java
  flink-filesystems/flink-azure-fs-hadoop/src/main/java/org/apache/flink/fs/azurefs/AzureBlobFsRecoverableDataOutputStream.java
  flink-filesystems/flink-azure-fs-hadoop/src/test/java/org/apache/flink/fs/azurefs/AzureBlobFsRecoverableDataOutputStreamTest.java
  flink-filesystems/flink-hadoop-fs/src/main/java/org/apache/flink/runtime/fs/hdfs/BaseHadoopFsRecoverableFsDataOutputStream.java
  flink-filesystems/flink-hadoop-fs/src/main/java/org/apache/flink/runtime/fs/hdfs/HadoopRecoverableFsDataOutputStream.java
  flink-filesystems/flink-hadoop-fs/src/test/java/org/apache/flink/runtime/fs/hdfs/HadoopRecoverableFsDataOutputStreamTest.java
Labels: component=Runtime/Checkpointing, component=FileSystems

#24752 Backport: [FLINK-35217] Add missing fsync to #closeForCommit in some subclasses of RecoverableFsDataOutputStream. (#24722)
  flink-core/src/main/java/org/apache/flink/core/fs/CommitterFromPersistRecoverableFsDataOutputStream.java
  flink-core/src/main/java/org/apache/flink/core/fs/local/LocalRecoverableFsDataOutputStream.java
  flink-core/src/test/java/org/apache/flink/core/fs/local/AbstractRecoverableFsDataOutputStreamTest.java
  flink-core/src/test/java/org/apache/flink/core/fs/local/LocalRecoverableFsDataOutputStreamTest.java
  flink-filesystems/flink-azure-fs-hadoop/src/main/java/org/apache/flink/fs/azurefs/AzureBlobFsRecoverableDataOutputStream.java
  flink-filesystems/flink-azure-fs-hadoop/src/test/java/org/apache/flink/fs/azurefs/AzureBlobFsRecoverableDataOutputStreamTest.java
  flink-filesystems/flink-hadoop-fs/src/main/java/org/apache/flink/runtime/fs/hdfs/BaseHadoopFsRecoverableFsDataOutputStream.java
  flink-filesystems/flink-hadoop-fs/src/main/java/org/apache/flink/runtime/fs/hdfs/HadoopRecoverableFsDataOutputStream.java
  flink-filesystems/flink-hadoop-fs/src/test/java/org/apache/flink/runtime/fs/hdfs/HadoopRecoverableFsDataOutputStreamTest.java
Labels: component=Runtime/Checkpointing, component=FileSystems
