Repository apache/flink, pull requests merged in 2024-09, with the labels that each got.

#25274 [FLINK-36191][tests] FsMergingCheckpointStorageLocationTest generates test data not in tmp folder
  flink-runtime/src/test/java/org/apache/flink/runtime/state/filesystem/FsMergingCheckpointStorageLocationTest.java
Labels: component=Tests, component=Runtime/Checkpointing

#25280 [FLINK-36011] [runtime] Generalize RescaleManager to become StateTransitionManager
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveScheduler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/DefaultRescaleManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/DefaultStateTransitionManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/Executing.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/StateTransitionManager.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveSchedulerBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveSchedulerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/DefaultRescaleManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/DefaultStateTransitionManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/ExecutingTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/TestingStateTransitionManager.java
Labels: component=Runtime/Coordination

#25236 [FLINK-36125][checkpoint] Fix concurrent duplicate discard of logical file in cp file-merging
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/filemerging/LogicalFile.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/filemerging/FileMergingSnapshotManagerTestBase.java
Labels: component=Runtime/Checkpointing

#25279 [BP-1.20][FLINK-36125][checkpoint] Fix concurrent duplicated discard of logical file in cp file-merging
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/filemerging/LogicalFile.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/filemerging/FileMergingSnapshotManagerTestBase.java
Labels: component=Runtime/Checkpointing

#25244 [FLINK-36119][state] Conditional interfaces for StateFuture
  flink-core-api/src/main/java/org/apache/flink/api/common/state/v2/StateFuture.java
  flink-core/src/main/java/org/apache/flink/core/state/CompletedStateFuture.java
  flink-core/src/main/java/org/apache/flink/core/state/StateFutureImpl.java
  flink-core/src/test/java/org/apache/flink/core/state/StateFutureTest.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/ForStDBOperationTestBase.java
Labels: component=Runtime/StateBackends

#25284 [FLINK-36201][Coordination] Don't use StateLocalitySlotAssigner when local recovery is disabled
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveSchedulerFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/allocator/SlotSharingSlotAllocator.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveSchedulerBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/allocator/SlotSharingSlotAllocatorTest.java
Labels: component=Runtime/Coordination

#25278 [BP-1.19][FLINK-36191][tests] FsMergingCheckpointStorageLocationTest generates test data not in tmp folder
  flink-runtime/src/test/java/org/apache/flink/runtime/state/filesystem/FsMergingCheckpointStorageLocationTest.java
Labels: component=Tests, component=Runtime/Checkpointing

#25277 [BP-1.20][FLINK-36191][tests] FsMergingCheckpointStorageLocationTest generates test data not in tmp folder
  flink-runtime/src/test/java/org/apache/flink/runtime/state/filesystem/FsMergingCheckpointStorageLocationTest.java
Labels: component=Tests, component=Runtime/Checkpointing

#25257 [FLINK-36149][state] Make the RocksdbCompactFilter parameters take effect directly at the statebackend level
  docs/layouts/shortcodes/generated/rocksdb_configurable_configuration.html
  flink-core/src/main/java/org/apache/flink/api/common/state/StateTtlConfig.java
  flink-core/src/test/java/org/apache/flink/api/common/state/StateTtlConfigTest.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBConfigurableOptions.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBKeyedStateBackendBuilder.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBResourceContainer.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/ttl/RocksDbTtlCompactFiltersManager.java
Labels: component=<none>

#25192 [FLINK-34510][Runtime/State]Rename RestoreMode to RecoveryClaimMode
  docs/static/generated/rest_v1_dispatcher.yml
  flink-clients/src/main/java/org/apache/flink/client/cli/CliFrontendParser.java
  flink-clients/src/main/java/org/apache/flink/client/cli/ProgramOptions.java
  flink-clients/src/test/java/org/apache/flink/client/cli/CliFrontendRunTest.java
  flink-container/src/main/java/org/apache/flink/container/entrypoint/StandaloneApplicationClusterEntryPoint.java
  flink-core/src/main/java/org/apache/flink/configuration/StateRecoveryOptions.java
  flink-core/src/main/java/org/apache/flink/core/execution/RecoveryClaimMode.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/highavailability/KubernetesCheckpointRecoveryFactory.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/utils/KubernetesUtils.java
  flink-runtime-web/src/main/java/org/apache/flink/runtime/webmonitor/handlers/JarRunHandler.java
  flink-runtime-web/src/main/java/org/apache/flink/runtime/webmonitor/handlers/JarRunRequestBody.java
  flink-runtime-web/src/test/java/org/apache/flink/runtime/webmonitor/handlers/JarRunHandlerParameterTest.java
  flink-runtime-web/src/test/java/org/apache/flink/runtime/webmonitor/handlers/JarRunRequestBodyTest.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointProperties.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CheckpointRecoveryFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/CompletedCheckpoint.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/EmbeddedCompletedCheckpointStore.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/PerJobCheckpointRecoveryFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/StandaloneCheckpointRecoveryFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/StandaloneCompletedCheckpointStore.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/ZooKeeperCheckpointRecoveryFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/cleanup/CheckpointResourcesCleanupRunner.java
  flink-runtime/src/main/java/org/apache/flink/runtime/highavailability/nonha/embedded/EmbeddedHaServicesWithLeadershipControl.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobgraph/SavepointConfigOptions.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobgraph/SavepointRestoreSettings.java
  flink-runtime/src/main/java/org/apache/flink/runtime/minicluster/MiniCluster.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/SchedulerUtils.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/SharedStateRegistry.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/SharedStateRegistryFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/SharedStateRegistryImpl.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/StateBackend.java
  flink-runtime/src/main/java/org/apache/flink/runtime/util/ZooKeeperUtils.java
  flink-runtime/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinatorFailureTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinatorRestoringTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinatorTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CheckpointCoordinatorTriggeringTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/CompletedCheckpointTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/DefaultCompletedCheckpointStoreTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/PerJobCheckpointRecoveryTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/TestingCheckpointRecoveryFactory.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/ZooKeeperCompletedCheckpointStoreITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/ZooKeeperCompletedCheckpointStoreTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/DispatcherCleanupITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/cleanup/CheckpointResourcesCleanupRunnerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobgraph/SavepointRestoreSettingsTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/SchedulerUtilsTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/SharedStateRegistryTest.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/testutils/RestoreTestBase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/ChangelogRecoverySwitchStateBackendITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/ResumeCheckpointManuallyITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/SavepointFormatITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/SavepointITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/SnapshotFileMergingCompatibilityITCase.java
Labels: component=<none>

#25297 [FLINK-36012] [runtime] Integrate StateTransitionManager into WaitingForResources state
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveScheduler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/DefaultStateTransitionManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/Executing.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/StateTransitionManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/WaitingForResources.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveSchedulerBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveSchedulerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/DefaultStateTransitionManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/ExecutingTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/TestingStateTransitionManager.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/WaitingForResourcesTest.java
Labels: component=Runtime/Coordination

#25294 [FLINK-36234][Docs] Add 1.20 to PreviousDocs list
  docs/config.toml
Labels: component=Documentation

#25289 [FLINK-35972][state/runtime] Async process a runnable with a key provided
  flink-runtime/src/main/java/org/apache/flink/streaming/runtime/operators/asyncprocessing/AsyncStateProcessingOperator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/asyncprocessing/AbstractAsyncStateStreamOperator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/asyncprocessing/AbstractAsyncStateStreamOperatorV2.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/asyncprocessing/AbstractAsyncStateStreamOperatorTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/asyncprocessing/AbstractAsyncStateStreamOperatorV2Test.java
Labels: component=<none>

#25302 [FLINK-34085][config] Remove deprecated string configuration keys
  flink-connectors/flink-hadoop-compatibility/src/main/java/org/apache/flink/api/java/hadoop/mapred/utils/HadoopUtils.java
  flink-core/src/main/java/org/apache/flink/configuration/ConfigConstants.java
  flink-core/src/main/java/org/apache/flink/configuration/RestOptions.java
  flink-filesystems/flink-hadoop-fs/src/main/java/org/apache/flink/runtime/util/HadoopUtils.java
  flink-filesystems/flink-hadoop-fs/src/test/java/org/apache/flink/runtime/fs/hdfs/HadoopConfigLoadingTest.java
  flink-optimizer/src/main/java/org/apache/flink/optimizer/plantranslate/JobGraphGenerator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmanager/HighAvailabilityMode.java
  flink-runtime/src/main/java/org/apache/flink/runtime/operators/sort/ExternalSorterBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmanager/HighAvailabilityModeTest.java
  flink-yarn/src/main/java/org/apache/flink/yarn/entrypoint/YarnEntrypointUtils.java
  flink-yarn/src/test/java/org/apache/flink/yarn/YarnFileStageTestS3ITCase.java
  pom.xml
Labels: component=Runtime/Configuration

#25306 [FLINK-36246] Move async state related operators to flink-runtime
  flink-runtime/src/main/java/org/apache/flink/runtime/asyncprocessing/operators/AbstractAsyncStateStreamOperator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/asyncprocessing/operators/AbstractAsyncStateStreamOperatorV2.java
  flink-runtime/src/main/java/org/apache/flink/runtime/asyncprocessing/operators/AbstractAsyncStateUdfStreamOperator.java
  flink-runtime/src/test/java/org/apache/flink/runtime/asyncprocessing/operators/AbstractAsyncStateStreamOperatorTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/AbstractAsyncStateStreamOperatorV2Test.java
Labels: component=Runtime/Task

#25307 [FLINK-36014] [runtime] Align the desired and sufficient resources definiton in Executing and WaitForResources states
  docs/layouts/shortcodes/generated/all_jobmanager_section.html
  docs/layouts/shortcodes/generated/expert_scheduling_section.html
  docs/layouts/shortcodes/generated/job_manager_configuration.html
  flink-core/src/main/java/org/apache/flink/configuration/JobManagerOptions.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveScheduler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/DefaultStateTransitionManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/Executing.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/scalingpolicy/EnforceMinimalIncreaseRescalingController.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/scalingpolicy/EnforceParallelismChangeRescalingController.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/scalingpolicy/RescalingController.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveSchedulerClusterITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveSchedulerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/DefaultStateTransitionManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/ExecutingTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/StateTrackingMockExecutionGraph.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/scalingpolicy/EnforceMinimalIncreaseRescalingControllerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/scalingpolicy/EnforceParallelismChangeRescalingControllerTest.java
Labels: component=Runtime/Coordination

#25229 [FLINK-35827][table-planner] Correcting equality comparisons between rowType fields and constants
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/EqualiserCodeGenerator.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/calls/ScalarOperatorGens.scala
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/CalcTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/table/CalcTest.xml
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/expressions/RowTypeTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/CalcTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/stream/table/CalcTest.scala
Labels: component=TableSQL/Planner

#25300 [FLINK-36243][state/forst] Store namespace in contextKey
  flink-runtime/src/main/java/org/apache/flink/runtime/asyncprocessing/AsyncExecutionController.java
  flink-runtime/src/main/java/org/apache/flink/runtime/asyncprocessing/StateRequest.java
  flink-runtime/src/main/java/org/apache/flink/runtime/asyncprocessing/StateRequestBuffer.java
  flink-runtime/src/main/java/org/apache/flink/runtime/asyncprocessing/StateRequestContainer.java
  flink-runtime/src/test/java/org/apache/flink/runtime/asyncprocessing/MockStateExecutor.java
  flink-runtime/src/test/java/org/apache/flink/runtime/asyncprocessing/MockStateRequestContainer.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/v2/InternalKeyedStateTestBase.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ContextKey.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStInnerTable.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStListState.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStMapState.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStStateRequestClassifier.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStValueState.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/ForStDBOperationTestBase.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/ForStStateExecutorTest.java
Labels: component=Runtime/StateBackends

#25312 [FLINK-36262][table] Avoid unnecessary String concatenations in the RexFieldAccess constructor: port fix for CALCITE-5965
  flink-table/flink-table-planner/src/main/java/org/apache/calcite/rex/RexFieldAccess.java
Labels: component=TableSQL/Planner

#25243 [FLINK-36142][table] Remove TestTableSourceWithTime and its subclasses to prepare removing TableEnvironmentInternal#registerTableSourceInternal
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/rules/logical/PushProjectIntoTableSourceScanRuleTest.java
  flink-table/flink-table-planner/src/test/resources/META-INF/services/org.apache.flink.table.factories.TableFactory
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/LegacyTableSourceTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/rules/logical/PushProjectIntoLegacyTableSourceScanRuleTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/LegacyTableSourceTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/table/LegacyTableSourceTest.xml
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/TableEnvironmentITCase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/batch/sql/LegacyTableSourceTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/rules/logical/PushProjectIntoLegacyTableSourceScanRuleTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/LegacyTableSourceTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/stream/table/LegacyTableSourceTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/LegacyTableSourceITCase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/TableScanITCase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/LegacyTableSourceITCase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/TableScanITCase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/utils/testTableSourceSinks.scala
Labels: component=TableSQL/Planner, component=TableSQL/Runtime

#25309 [FLINK-36230][pyflink-table] Fix the incorrect calling of REGEXP_EXTRACT Python Table API
  flink-python/pyflink/table/expression.py
  flink-python/pyflink/table/tests/test_expression.py
Labels: component=TableSQL/API

#25301 [FLINK-34168][config] Refactor callers that use deprecated get/setXXX
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/reader/fetcher/SplitFetcherPauseResumeSplitReaderTest.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/table/stream/StreamingFileWriterTest.java
  flink-core/src/main/java/org/apache/flink/api/common/cache/DistributedCache.java
  flink-core/src/main/java/org/apache/flink/api/common/io/BinaryInputFormat.java
  flink-core/src/main/java/org/apache/flink/api/common/io/BinaryOutputFormat.java
  flink-core/src/main/java/org/apache/flink/api/common/io/FileInputFormat.java
  flink-core/src/main/java/org/apache/flink/api/common/operators/Operator.java
  flink-core/src/main/java/org/apache/flink/configuration/ConfigurationUtils.java
  flink-core/src/main/java/org/apache/flink/configuration/DelegatingConfiguration.java
  flink-core/src/test/java/org/apache/flink/api/common/io/BinaryInputFormatTest.java
  flink-core/src/test/java/org/apache/flink/api/common/io/EnumerateNestedFilesTest.java
  flink-core/src/test/java/org/apache/flink/configuration/ConfigurationConversionsTest.java
  flink-core/src/test/java/org/apache/flink/configuration/ConfigurationTest.java
  flink-core/src/test/java/org/apache/flink/configuration/DelegatingConfigurationTest.java
  flink-core/src/test/java/org/apache/flink/core/fs/LimitedConnectionsConfigurationTest.java
  flink-filesystems/flink-azure-fs-hadoop/src/test/java/org/apache/flink/fs/azurefs/AzureBlobStorageFSFactoryTest.java
  flink-filesystems/flink-hadoop-fs/src/test/java/org/apache/flink/runtime/fs/hdfs/LimitedConnectionsConfigurationTest.java
  flink-filesystems/flink-s3-fs-base/src/main/java/org/apache/flink/fs/s3/common/FlinkS3FileSystem.java
  flink-filesystems/flink-s3-fs-base/src/test/java/org/apache/flink/fs/s3/common/S3EntropyFsFactoryTest.java
  flink-java/src/test/java/org/apache/flink/api/common/io/SequentialFormatTestBase.java
  flink-java/src/test/java/org/apache/flink/api/java/io/TextInputFormatTest.java
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/kubeclient/parameters/KubernetesJobManagerParameters.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/entrypoint/KubernetesApplicationClusterEntrypointTest.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/kubeclient/decorators/InitTaskManagerDecoratorTest.java
  flink-optimizer/src/main/java/org/apache/flink/optimizer/plantranslate/JobGraphGenerator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobgraph/JobGraph.java
  flink-runtime/src/main/java/org/apache/flink/runtime/operators/util/TaskConfig.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptivebatch/AdaptiveBatchSchedulerFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/util/ConfigurationParserUtils.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/graph/StreamConfig.java
  flink-runtime/src/test/java/org/apache/flink/runtime/clusterframework/TaskExecutorProcessUtilsTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/externalresource/ExternalResourceUtilsTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobgraph/JobGraphTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmanager/SlotCountExceedingParallelismTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/event/FileSystemJobEventStoreTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/WorkerResourceSpecTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptivebatch/DefaultVertexParallelismAndInputInfosDeciderTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/security/token/DefaultDelegationTokenManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/security/token/DelegationTokenReceiverRepositoryTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/shuffle/ShuffleMasterTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/TaskExecutorFileMergingManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskmanager/TaskTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/testutils/recordutils/RecordComparatorFactory.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/ForStNativeMetricOptionsTest.java
  flink-state-backends/flink-statebackend-rocksdb/src/test/java/org/apache/flink/contrib/streaming/state/EmbeddedRocksDBStateBackendTest.java
  flink-state-backends/flink-statebackend-rocksdb/src/test/java/org/apache/flink/contrib/streaming/state/RocksDBNativeMetricOptionsTest.java
  flink-state-backends/flink-statebackend-rocksdb/src/test/java/org/apache/flink/contrib/streaming/state/RocksIncrementalCheckpointRescalingTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/environment/StreamExecutionEnvironmentTest.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/agg/WindowAggregateTest.scala
  flink-tests/src/test/java/org/apache/flink/test/manual/StreamingScalabilityAndLatency.java
  flink-tests/src/test/java/org/apache/flink/test/operators/MapITCase.java
  flink-tests/src/test/java/org/apache/flink/test/runtime/NetworkStackThroughputITCase.java
  flink-yarn/src/main/java/org/apache/flink/yarn/YarnClusterDescriptor.java
Labels: component=Runtime/Configuration

#25305 [FLINK-36168][test] This is a slight improvement of the changes done in the previous FLINK-36168 commit
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveSchedulerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/WaitingForResourcesTest.java
Labels: component=<none>

#25285 [FLINK-36207][build] Disables deprecated API from japicmp
  pom.xml
Labels: component=BuildSystem

#25248 [FLINK-32688][runtime] Removes deprecated JobExceptionsInfo.
  flink-runtime-web/src/test/resources/rest_api_v1.snapshot
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/handler/job/JobExceptionsHandler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/messages/JobExceptionsInfo.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/messages/JobExceptionsInfoWithHistory.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/handler/job/JobExceptionsHandlerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/messages/JobExceptionsInfoWithHistoryNoRootTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/messages/JobExceptionsInfoWithHistoryTest.java
Labels: component=Runtime/REST

#25249 [FLINK-36147][runtime] Removes deprecated location field
  flink-runtime-web/src/test/resources/rest_api_v1.snapshot
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/handler/job/JobExceptionsHandler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/messages/JobExceptionsInfoWithHistory.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/handler/job/JobExceptionsHandlerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/messages/JobExceptionsInfoWithHistoryNoRootTest.java
Labels: component=Runtime/Coordination

#25317 [FLINK-35027] Drain async state request before snapshot barrier
  flink-runtime/src/main/java/org/apache/flink/runtime/asyncprocessing/operators/AbstractAsyncStateStreamOperator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/asyncprocessing/operators/AbstractAsyncStateStreamOperatorV2.java
  flink-runtime/src/test/java/org/apache/flink/runtime/asyncprocessing/operators/AbstractAsyncStateStreamOperatorTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/AbstractAsyncStateStreamOperatorV2Test.java
Labels: component=Runtime/Checkpointing, component=Runtime/Task

#25311 [FLINK-36225][core] Remove deprecated method marked in FLIP-382
  docs/content.zh/docs/dev/datastream/dataset_migration.md
  docs/content/docs/dev/datastream/dataset_migration.md
  flink-core/src/main/java/org/apache/flink/api/common/functions/RuntimeContext.java
  flink-core/src/main/java/org/apache/flink/api/connector/sink2/InitContext.java
  flink-core/src/main/java/org/apache/flink/api/connector/sink2/Sink.java
  flink-core/src/main/java/org/apache/flink/core/failure/FailureEnricher.java
  flink-end-to-end-tests/run-nightly-tests.sh
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/LongHashJoinGenerator.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/fusion/spec/HashJoinFusionCodegenSpec.scala
  flink-tests/src/test/java/org/apache/flink/test/scheduling/JMFailoverITCase.java
  pom.xml
Labels: component=API/Core

#25310 [FLINK-35927][state/forst] Make ForStFlinkFileSystem write misc file in local filesystem
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStResourceContainer.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/fs/ForStFlinkFileSystem.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/fs/ForStFlinkFileSystemTest.java
Labels: component=Runtime/StateBackends

#25329 [FLINK-36001][state] Hotfix for OperatorIDPairTest missing header
  flink-runtime/src/test/java/org/apache/flink/runtime/OperatorIDPairTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/StateAssignmentOperationTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/VertexFinishedStateCheckerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/operators/coordination/OperatorCoordinatorSchedulerTest.java
Labels: component=Runtime/StateBackends

#25308 [FLINK-35667][state/forst] Implement Reducing Async State API for ForStStateBackend
  flink-runtime/src/main/java/org/apache/flink/runtime/asyncprocessing/StateRequestType.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/v2/InternalMergingState.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/v2/InternalReducingState.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/v2/InternalAggregatingStateTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/v2/InternalKeyedStateTestBase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/v2/InternalListStateTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/v2/InternalMapStateTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/v2/InternalReducingStateTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/v2/InternalValueStateTest.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStKeyedStateBackend.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStReducingState.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStStateRequestClassifier.java
Labels: component=<none>

#25325 [FLINK-36258][config] set `HADOOP_CONF_DIR` to config hadoop in YarnFileStageTestS3ITCase
  flink-yarn/src/test/java/org/apache/flink/yarn/YarnFileStageTestS3ITCase.java
Labels: component=Deployment/YARN, component=Tests

#25333 [FLINK-36281][runtime] resourceSpec replace SlotSharingGroupUtils.extractResourceSpec(slotSharingGroup)
  flink-runtime/src/main/java/org/apache/flink/streaming/api/environment/StreamExecutionEnvironment.java
Labels: component=API/Core

#25286 [FLINK-36208][core] use ThreadLocalRandom in AbstractID
  flink-core/src/main/java/org/apache/flink/util/AbstractID.java
Labels: component=API/Core

#25335 [FLINK-36283][table-planner] Fix an issue where a UDAF incorrectly accessed the implementation of a built-in function with the same name
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/utils/AggFunctionFactory.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/AggregateITCase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/utils/UserDefinedFunctionTestUtils.scala
Labels: component=<none>

#25319 [FLINK-36016] [runtime] Synchronize initialization time and clock usage in DefaultStateTransitionManager
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveScheduler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/DefaultStateTransitionManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/Executing.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveSchedulerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/DefaultStateTransitionManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/ExecutingTest.java
Labels: component=<none>

#24879 [FLINK-35510][statebackend] Implement basic incremental checkpoint fo…
  flink-runtime/src/main/java/org/apache/flink/runtime/state/AsyncKeyedStateBackend.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/RegisteredStateMetaInfoBase.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/metainfo/StateMetaInfoSnapshot.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/v2/RegisteredKeyValueStateBackendMetaInfo.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/v2/adaptor/AsyncKeyedStateBackendAdaptor.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/operators/StreamOperatorStateHandler.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/operators/StreamTaskStateInitializerImpl.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/StateBackendTestUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/metainfo/StateMetaInfoSnapshotEnumConstantsTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/v2/AsyncKeyedStateBackendAdaptorTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/v2/InternalKeyedStateTestBase.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStKeyedStateBackend.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStKeyedStateBackendBuilder.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStResourceContainer.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStStateBackend.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStStateDataTransfer.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/snapshot/ForStIncrementalSnapshotStrategy.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/snapshot/ForStSnapshotStrategyBase.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/snapshot/ForStSnapshotUtil.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/ForStExtension.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/ForStStateDataTransferTest.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/snapshot/ForStIncrementalSnapshotStrategyTest.java
Labels: component=Runtime/StateBackends

#25356 [FLINK-36015] [runtime] Align rescale parameters
  docs/layouts/shortcodes/generated/all_jobmanager_section.html
  docs/layouts/shortcodes/generated/expert_scheduling_section.html
  docs/layouts/shortcodes/generated/job_manager_configuration.html
  flink-core/src/main/java/org/apache/flink/configuration/JobManagerOptions.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveScheduler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/WaitingForResources.java
  flink-runtime/src/test/java/org/apache/flink/runtime/minicluster/MiniClusterITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveSchedulerClusterITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveSchedulerSimpleITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveSchedulerTest.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/AutoRescalingITCase.java
  flink-tests/src/test/java/org/apache/flink/test/recovery/AbstractTaskManagerProcessFailureRecoveryTest.java
  flink-tests/src/test/java/org/apache/flink/test/recovery/TaskManagerDisconnectOnShutdownITCase.java
  flink-tests/src/test/java/org/apache/flink/test/scheduling/RescaleOnCheckpointITCase.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YarnTestBase.java
Labels: component=Runtime/Configuration

#24832 [FLINK-35412][State/Runtime] Batch execution of async state request callback
  flink-runtime/src/main/java/org/apache/flink/runtime/asyncprocessing/BatchCallbackRunner.java
  flink-runtime/src/main/java/org/apache/flink/runtime/asyncprocessing/StateFutureFactory.java
Labels: component=Runtime/StateBackends, component=Runtime/Task

#25336 [FLINK-36284][format-avro] Support extracting Avro type with new DataType stack
  flink-core/src/main/java/org/apache/flink/api/java/typeutils/AvroUtils.java
  flink-core/src/main/java/org/apache/flink/api/java/typeutils/TypeExtractor.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/table/runtime/batch/AvroTypesITCase.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/extraction/DataTypeExtractor.java
Labels: component=Formats, component=TableSQL/API

#25369 [1.20][FLINK-36318] Fix deserializing from 1.18 savepoint with RAW<MAP...> types
  flink-core/src/main/java/org/apache/flink/util/InstantiationUtil.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/stream/OverWindowRestoreTest.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/stream/OverWindowTestPrograms.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/testutils/RestoreTestBase.java
  flink-table/flink-table-planner/src/test/resources/restore-tests/stream-exec-over-aggregate_1/over-aggregate-lag/1.18/savepoint/OverWindowRestoreTest
  flink-table/flink-table-planner/src/test/resources/restore-tests/stream-exec-over-aggregate_1/over-aggregate-lag/1.18/savepoint/_metadata
  flink-table/flink-table-planner/src/test/resources/restore-tests/stream-exec-over-aggregate_1/over-aggregate-lag/plan/over-aggregate-lag.json
  flink-table/flink-table-planner/src/test/resources/restore-tests/stream-exec-over-aggregate_1/over-aggregate-lag/savepoint/_metadata
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/typeutils/ArrayDataSerializer.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/typeutils/MapDataSerializer.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/typeutils/RowDataSerializer.java
Labels: component=TableSQL/Planner

#25362 [FLINK-36330] Session Window TVFs with named parameters don't support column expansion
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/calcite/FlinkCalciteSqlValidator.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/stream/sql/ColumnExpansionTest.java
Labels: component=TableSQL/Planner, component=TableSQL/API

#25358 [master][FLINK-36318] Fix deserializing from 1.18 savepoint with RAW<MAP...> types
  flink-core/src/main/java/org/apache/flink/util/InstantiationUtil.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/stream/OverWindowRestoreTest.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/stream/OverWindowTestPrograms.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/testutils/RestoreTestBase.java
  flink-table/flink-table-planner/src/test/resources/restore-tests/stream-exec-over-aggregate_1/over-aggregate-lag/1.18/savepoint/OverWindowRestoreTest
  flink-table/flink-table-planner/src/test/resources/restore-tests/stream-exec-over-aggregate_1/over-aggregate-lag/1.18/savepoint/_metadata
  flink-table/flink-table-planner/src/test/resources/restore-tests/stream-exec-over-aggregate_1/over-aggregate-lag/plan/over-aggregate-lag.json
  flink-table/flink-table-planner/src/test/resources/restore-tests/stream-exec-over-aggregate_1/over-aggregate-lag/savepoint/_metadata
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/typeutils/ArrayDataSerializer.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/typeutils/MapDataSerializer.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/typeutils/RowDataSerializer.java
Labels: component=TableSQL/Planner

#25348 [FLINK-36310] Remove per-job and run-application
  docs/layouts/shortcodes/generated/deployment_configuration.html
  flink-clients/src/main/java/org/apache/flink/client/cli/CliFrontend.java
  flink-clients/src/main/java/org/apache/flink/client/cli/CliFrontendParser.java
  flink-clients/src/main/java/org/apache/flink/client/cli/GenericCLI.java
  flink-clients/src/main/java/org/apache/flink/client/cli/ProgramOptions.java
  flink-clients/src/main/java/org/apache/flink/client/deployment/ClusterDescriptor.java
  flink-clients/src/main/java/org/apache/flink/client/deployment/StandaloneClusterDescriptor.java
  flink-clients/src/main/java/org/apache/flink/client/deployment/executors/AbstractJobClusterExecutor.java
  flink-clients/src/test/java/org/apache/flink/client/cli/CliFrontendRunTest.java
  flink-clients/src/test/java/org/apache/flink/client/cli/util/DummyClusterDescriptor.java
  flink-core/src/main/java/org/apache/flink/configuration/DeploymentOptions.java
  flink-end-to-end-tests/run-nightly-tests.sh
  flink-end-to-end-tests/test-scripts/test_kubernetes_application.sh
  flink-end-to-end-tests/test-scripts/test_kubernetes_application_ha.sh
  flink-end-to-end-tests/test-scripts/test_kubernetes_pyflink_application.sh
  flink-end-to-end-tests/test-scripts/test_pyflink_yarn.sh
  flink-end-to-end-tests/test-scripts/test_yarn_application_kerberos_docker.sh
  flink-end-to-end-tests/test-scripts/test_yarn_job_kerberos_docker.sh
  flink-kubernetes/src/main/java/org/apache/flink/kubernetes/KubernetesClusterDescriptor.java
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/JobDispatcherFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/MiniDispatcher.java
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/runner/DefaultDispatcherRunnerFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/runner/JobDispatcherLeaderProcess.java
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/runner/JobDispatcherLeaderProcessFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/runner/JobDispatcherLeaderProcessFactoryFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/entrypoint/ClusterEntrypoint.java
  flink-runtime/src/main/java/org/apache/flink/runtime/entrypoint/JobClusterEntrypoint.java
  flink-runtime/src/main/java/org/apache/flink/runtime/entrypoint/component/DefaultDispatcherResourceManagerComponentFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/MiniDispatcherRestEndpoint.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/JobDispatcherITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/MiniDispatcherTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/runner/JobDispatcherLeaderProcessFactoryFactoryTest.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YARNFileReplicationITCase.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YARNITCase.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YARNSessionCapacitySchedulerITCase.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YarnConfigurationITCase.java
  flink-yarn/src/main/java/org/apache/flink/yarn/YarnClusterDescriptor.java
  flink-yarn/src/main/java/org/apache/flink/yarn/cli/AbstractYarnCli.java
  flink-yarn/src/main/java/org/apache/flink/yarn/cli/FlinkYarnSessionCli.java
  flink-yarn/src/main/java/org/apache/flink/yarn/configuration/YarnDeploymentTarget.java
  flink-yarn/src/main/java/org/apache/flink/yarn/entrypoint/YarnEntrypointUtils.java
  flink-yarn/src/main/java/org/apache/flink/yarn/entrypoint/YarnJobClusterEntrypoint.java
  flink-yarn/src/main/java/org/apache/flink/yarn/executors/YarnJobClusterExecutor.java
  flink-yarn/src/main/java/org/apache/flink/yarn/executors/YarnJobClusterExecutorFactory.java
  flink-yarn/src/main/resources/META-INF/services/org.apache.flink.core.execution.PipelineExecutorFactory
  flink-yarn/src/test/java/org/apache/flink/yarn/FlinkYarnSessionCliTest.java
  flink-yarn/src/test/java/org/apache/flink/yarn/YarnClusterClientFactoryTest.java
  flink-yarn/src/test/java/org/apache/flink/yarn/entrypoint/YarnJobClusterEntrypointTest.java
Labels: component=<none>

#25360 [FLINK-36321][state/forst] Execute read/write state request in different executors
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStConfigurableOptions.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStKeyedStateBackend.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStOptions.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStResourceContainer.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStStateExecutor.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/ForStStateExecutorTest.java
Labels: component=<none>

#25266 [FLINK-36175][python] Remove `register_table_source` and `register_table_sink` in python module
  docs/content.zh/docs/dev/python/table/table_environment.md
  docs/content/docs/dev/python/table/table_environment.md
  flink-python/docs/reference/pyflink.table/table_environment.rst
  flink-python/pyflink/table/table_environment.py
Labels: component=API/Python

#25359 [FLINK-28770][table-planner] CREATE TABLE AS SELECT supports explain
  flink-table/flink-sql-parser/src/main/codegen/includes/parserImpls.ftl
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/utils/ParserResource.java
  flink-table/flink-sql-parser/src/test/java/org/apache/flink/sql/parser/FlinkSqlParserImplTest.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/CreateTableASOperation.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/connectors/DynamicSinkUtils.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/SqlNodeToOperationConversion.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/delegation/PlannerBase.scala
  flink-table/flink-table-planner/src/test/resources/explain/testExplainCtas.out
  flink-table/flink-table-planner/src/test/resources/explain/testExplainCtasWithColumnsInCreateAndQueryParts.out
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/TableSinkTest.scala
Labels: component=TableSQL/Planner

#25367 [FLINK-36338] Properly handle KeyContext when using AsyncKeyedStateBackendAdaptor
  flink-runtime/src/main/java/org/apache/flink/runtime/asyncprocessing/AsyncExecutionController.java
  flink-runtime/src/main/java/org/apache/flink/runtime/asyncprocessing/operators/AbstractAsyncStateStreamOperator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/asyncprocessing/operators/AbstractAsyncStateStreamOperatorV2.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/AbstractKeyedStateBackend.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/AsyncKeyedStateBackend.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/KeyedStateBackend.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/StateBackend.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/v2/DefaultKeyedStateStoreV2.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/v2/adaptor/AsyncKeyedStateBackendAdaptor.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/operators/StreamOperatorStateHandler.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/operators/sorted/state/BatchExecutionKeyedStateBackend.java
  flink-runtime/src/test/java/org/apache/flink/runtime/asyncprocessing/AbstractStateIteratorTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/asyncprocessing/AsyncExecutionControllerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/StateBackendTestUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/v2/AbstractKeyedStateTestBase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/v2/AbstractReducingStateTest.java
  flink-runtime/src/test/java/org/apache/flink/streaming/api/operators/InternalTimerServiceAsyncImplTest.java
  flink-state-backends/flink-statebackend-changelog/src/main/java/org/apache/flink/state/changelog/ChangelogKeyedStateBackend.java
  flink-state-backends/flink-statebackend-changelog/src/main/java/org/apache/flink/state/changelog/restore/ChangelogMigrationRestoreTarget.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStKeyedStateBackend.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/sync/ForStSyncKeyedStateBackend.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBKeyedStateBackend.java
Labels: component=<none>

#25352 [FLINK-36251][streaming-java] Remove StateBackend-related configuration getters/setters that return/set complex Java objects.
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/sink/FileSinkCompactionSwitchITCase.java
  flink-end-to-end-tests/flink-datastream-allround-test/src/main/java/org/apache/flink/streaming/tests/DataStreamAllroundTestJobFactory.java
  flink-end-to-end-tests/flink-local-recovery-and-allocation-test/src/main/java/org/apache/flink/streaming/tests/StickyAllocationAndLocalRecoveryTestJob.java
  flink-end-to-end-tests/flink-queryable-state-test/src/main/java/org/apache/flink/streaming/tests/queryablestate/QsStateProducer.java
  flink-end-to-end-tests/flink-state-evolution-test/src/main/java/org/apache/flink/test/StatefulStreamingJob.java
  flink-end-to-end-tests/flink-stream-state-ttl-test/src/main/java/org/apache/flink/streaming/tests/DataStreamStateTTLTestProgram.java
  flink-filesystems/flink-s3-fs-base/src/test/java/org/apache/flink/fs/s3/common/S5CmdOnMinioITCase.java
  flink-kubernetes/src/test/java/org/apache/flink/kubernetes/highavailability/KubernetesHighAvailabilityRecoverFromSavepointITCase.java
  flink-libraries/flink-state-processing-api/src/test/java/org/apache/flink/state/api/EmbeddedRocksDBStateBackendReaderKeyedStateITCase.java
  flink-libraries/flink-state-processing-api/src/test/java/org/apache/flink/state/api/EmbeddedRocksDBStateBackendWindowITCase.java
  flink-libraries/flink-state-processing-api/src/test/java/org/apache/flink/state/api/HashMapStateBackendReaderKeyedStateITCase.java
  flink-libraries/flink-state-processing-api/src/test/java/org/apache/flink/state/api/HashMapStateBackendWindowITCase.java
  flink-libraries/flink-state-processing-api/src/test/java/org/apache/flink/state/api/SavepointReaderKeyedStateITCase.java
  flink-libraries/flink-state-processing-api/src/test/java/org/apache/flink/state/api/SavepointWindowReaderITCase.java
  flink-libraries/flink-state-processing-api/src/test/java/org/apache/flink/state/api/SavepointWriterITCase.java
  flink-libraries/flink-state-processing-api/src/test/java/org/apache/flink/state/api/SavepointWriterWindowITCase.java
  flink-python/docs/reference/pyflink.datastream/stream_execution_environment.rst
  flink-python/pyflink/datastream/stream_execution_environment.py
  flink-python/pyflink/datastream/tests/test_stream_execution_environment.py
  flink-queryable-state/flink-queryable-state-runtime/src/test/java/org/apache/flink/queryablestate/itcases/AbstractQueryableStateTestBase.java
  flink-queryable-state/flink-queryable-state-runtime/src/test/java/org/apache/flink/queryablestate/itcases/HAQueryableStateFsBackendITCase.java
  flink-queryable-state/flink-queryable-state-runtime/src/test/java/org/apache/flink/queryablestate/itcases/HAQueryableStateRocksDBBackendITCase.java
  flink-queryable-state/flink-queryable-state-runtime/src/test/java/org/apache/flink/queryablestate/itcases/NonHAQueryableStateFsBackendITCase.java
  flink-queryable-state/flink-queryable-state-runtime/src/test/java/org/apache/flink/queryablestate/itcases/NonHAQueryableStateRocksDBBackendITCase.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/environment/StreamExecutionEnvironment.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/graph/StreamGraphGenerator.java
  flink-runtime/src/test/java/org/apache/flink/streaming/util/CheckpointStorageUtils.java
  flink-runtime/src/test/java/org/apache/flink/streaming/util/StateBackendUtils.java
  flink-state-backends/flink-statebackend-changelog/src/test/java/org/apache/flink/state/changelog/ChangelogStateBackendLoadingTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/environment/StreamExecutionEnvironmentComplexConfigurationTest.java
  flink-streaming-scala/src/main/scala/org/apache/flink/streaming/api/scala/StreamExecutionEnvironment.scala
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/utils/DummyStreamExecutionEnvironment.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/utils/StreamingWithStateTestBase.scala
  flink-tests/src/test/java/org/apache/flink/runtime/operators/lifecycle/graph/TestJobBuilders.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/ChangelogLocalRecoveryITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/ChangelogRecoveryITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/ChangelogRecoveryITCaseBase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/ChangelogRecoveryRescaleITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/ChangelogRecoverySwitchEnvTestBase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/ChangelogRecoverySwitchStateBackendITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/CheckpointFailureManagerITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/EventTimeWindowCheckpointingITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/KeyedStateCheckpointingITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/NotifyCheckpointAbortedITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/ResumeCheckpointManuallyITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/SavepointITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/SnapshotFileMergingCompatibilityITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/StateHandleReuseITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/StatefulJobSnapshotMigrationITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/StatefulJobWBroadcastStateMigrationITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/UnalignedCheckpointFailureHandlingITCase.java
  flink-tests/src/test/java/org/apache/flink/test/classloading/jar/CheckpointingCustomKvStateProgram.java
  flink-tests/src/test/java/org/apache/flink/test/classloading/jar/CustomKvStateProgram.java
  flink-tests/src/test/java/org/apache/flink/test/recovery/TaskManagerProcessFailureStreamingRecoveryITCase.java
  flink-tests/src/test/java/org/apache/flink/test/state/ManualWindowSpeedITCase.java
  flink-tests/src/test/java/org/apache/flink/test/state/TaskManagerWideRocksDbMemorySharingITCase.java
  flink-tests/src/test/java/org/apache/flink/test/state/operator/restore/AbstractOperatorRestoreTestBase.java
  flink-tests/src/test/java/org/apache/flink/test/state/operator/restore/keyed/KeyedJob.java
  flink-tests/src/test/java/org/apache/flink/test/state/operator/restore/unkeyed/NonKeyedJob.java
  flink-tests/src/test/java/org/apache/flink/test/streaming/runtime/StateBackendITCase.java
Labels: component=API/Core

#25370 [FLINK-36342][runtime] Rename misleading variable name 'targetTotalBu…
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/SingleInputGateFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/throughput/BufferDebloatConfiguration.java
  flink-runtime/src/main/java/org/apache/flink/runtime/throughput/BufferDebloater.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/consumer/SingleInputGateBuilder.java
Labels: component=Runtime/Checkpointing

#25374 [FLINK-36346][API] Remove deprecated API in flink-streaming-java module
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/hybrid/HybridSourceITCase.java
  flink-connectors/flink-connector-files/src/test/java/org/apache/flink/connector/file/src/FileSourceTextLinesITCase.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/table/runtime/batch/AvroTypesITCase.java
  flink-formats/flink-csv/src/test/java/org/apache/flink/formats/csv/DataStreamCsvITCase.java
  flink-libraries/flink-cep/src/test/java/org/apache/flink/cep/CEPITCase.java
  flink-python/pyflink/datastream/connectors/tests/test_rabbitmq.py
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/datastream/DataStreamUtils.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/AscendingTimestampExtractor.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/IngestionTimeExtractor.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/sink/WriteFormat.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/sink/WriteFormatAsCsv.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/sink/WriteFormatAsText.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/sink/WriteSinkFunction.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/sink/WriteSinkFunctionByMillis.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/source/MessageAcknowledgingSourceBase.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/source/MultipleIdsMessageAcknowledgingSourceBase.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/windowing/RichProcessAllWindowFunction.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/windowing/RichProcessWindowFunction.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/util/serialization/AbstractDeserializationSchema.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/util/serialization/DeserializationSchema.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/util/serialization/SerializationSchema.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/util/serialization/SimpleStringSchema.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/util/serialization/TypeInformationSerializationSchema.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/DataStreamTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/functions/AscendingTimestampExtractorTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/functions/IngestionTimeExtractorTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/windowing/AllWindowTranslationTest.java
  flink-streaming-scala/src/test/scala/org/apache/flink/streaming/api/scala/IntervalJoinITCase.scala
  flink-streaming-scala/src/test/scala/org/apache/flink/streaming/api/scala/WindowFunctionITCase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/DeduplicateITCase.scala
  flink-tests/src/test/java/org/apache/flink/test/streaming/experimental/CollectITCase.java
  flink-tests/src/test/java/org/apache/flink/test/streaming/runtime/IntervalJoinITCase.java
  flink-tests/src/test/java/org/apache/flink/test/streaming/runtime/SortingBoundedInputITCase.java
  flink-tests/src/test/java/org/apache/flink/test/streaming/runtime/SourceNAryInputChainingITCase.java
  flink-tests/src/test/java/org/apache/flink/test/streaming/runtime/TimestampITCase.java
Labels: component=API/DataStream

#25378 [FLINK-36349][tests] Fix ClosureCleanerITCase fail in the AdaptiveScheduler test profile
  flink-tests/src/test/java/org/apache/flink/api/functions/ClosureCleanerITCase.java
Labels: component=API/TypeSerializationSystem

#25382 [FLINK-36358][table] Fix incorrect timestamp to string behavior.
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/utils/DateTimeUtils.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/expressions/TemporalTypesTest.scala
Labels: component=TableSQL/Planner

#25323 [FLINK-36275][rest] Remove deprecated ProgramArgsQueryParameter
  flink-runtime-web/src/main/java/org/apache/flink/runtime/webmonitor/handlers/JarMessageParameters.java
  flink-runtime-web/src/main/java/org/apache/flink/runtime/webmonitor/handlers/JarPlanRequestBody.java
  flink-runtime-web/src/main/java/org/apache/flink/runtime/webmonitor/handlers/JarRequestBody.java
  flink-runtime-web/src/main/java/org/apache/flink/runtime/webmonitor/handlers/JarRunRequestBody.java
  flink-runtime-web/src/main/java/org/apache/flink/runtime/webmonitor/handlers/ProgramArgsQueryParameter.java
  flink-runtime-web/src/main/java/org/apache/flink/runtime/webmonitor/handlers/utils/JarHandlerUtils.java
  flink-runtime-web/src/test/java/org/apache/flink/runtime/webmonitor/handlers/JarHandlerParameterTest.java
  flink-runtime-web/src/test/java/org/apache/flink/runtime/webmonitor/handlers/JarPlanHandlerParameterTest.java
  flink-runtime-web/src/test/java/org/apache/flink/runtime/webmonitor/handlers/JarRunHandlerParameterTest.java
  flink-runtime-web/src/test/java/org/apache/flink/runtime/webmonitor/handlers/JarRunRequestBodyTest.java
  flink-runtime-web/src/test/java/org/apache/flink/runtime/webmonitor/handlers/utils/JarHandlerUtilsTest.java
  flink-runtime-web/src/test/resources/rest_api_v1.snapshot
Labels: component=Runtime/REST

#25388 [FLINK-36361][table] Do not use StringBuilder for EquivalentExprShuttle
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/utils/FlinkRexUtil.scala
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/rules/logical/JoinDependentConditionDerivationRuleTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/join/JoinTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/table/JoinTest.xml
Labels: component=TableSQL/Planner

#25363 [FLINK-34975][state/forst] Support multiget for forstdb
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStGeneralMultiGetOperation.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStStateExecutor.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/ForStGeneralMultiGetOperationTest.java
Labels: component=Runtime/StateBackends

#25394 [FLINK-36364][state/forst] Do not reuse serialized key in Forst map state and/or other namespaces
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ContextKey.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStDBMapCheckRequest.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStListState.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStMapState.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStReducingState.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStSerializerUtils.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStValueState.java
Labels: component=Runtime/StateBackends

#25353 [FLINK-36287] Disallow UC for inner sink channels
  flink-runtime/src/main/java/org/apache/flink/streaming/api/graph/StreamGraphGenerator.java
  flink-runtime/src/main/java/org/apache/flink/streaming/runtime/partitioner/ForwardForConsecutiveHashPartitioner.java
  flink-runtime/src/main/java/org/apache/flink/streaming/runtime/partitioner/StreamPartitioner.java
  flink-runtime/src/main/java/org/apache/flink/streaming/runtime/translators/SinkTransformationTranslator.java
  flink-runtime/src/test/java/org/apache/flink/streaming/api/graph/SinkTransformationTranslatorITCaseBase.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/graph/SinkV1TransformationTranslatorITCase.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/sink/CommitterOperatorTestBase.java
  flink-tests/src/test/java/org/apache/flink/test/streaming/runtime/SinkITCase.java
Labels: component=<none>

#25371 [FLINK-36292][Connectors/Common]: remove timeout to avoid timeout exception
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/reader/fetcher/SplitFetcherManagerTest.java
Labels: component=Connectors/Common

#25376 [FLINK-3992][core] Do not implement deprecated Key interface
  flink-core/src/main/java/org/apache/flink/types/DoubleValue.java
  flink-core/src/main/java/org/apache/flink/types/FloatValue.java
  flink-core/src/main/java/org/apache/flink/types/NormalizableKey.java
  pom.xml
Labels: component=API/DataSet

#25395 [FLINK-36355][runtime] Remove deprecated xxxStreams#with
  flink-runtime/src/main/java/org/apache/flink/streaming/api/datastream/CoGroupedStreams.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/datastream/JoinedStreams.java
Labels: component=Runtime/Coordination, component=Runtime/WebFrontend, component=API/DataStream, component=Runtime/REST

#25398 [FLINK-36307][python] Remove deprecated API in PyFlink module
  docs/content.zh/docs/dev/python/table/table_environment.md
  docs/content.zh/docs/dev/table/functions/udfs.md
  docs/content/docs/dev/python/table/table_environment.md
  docs/content/docs/dev/table/data_stream_api.md
  flink-end-to-end-tests/flink-python-test/python/python_job.py
  flink-end-to-end-tests/flink-python-test/src/main/java/org/apache/flink/python/tests/util/AddOne.java
  flink-python/docs/reference/pyflink.datastream/stream_execution_environment.rst
  flink-python/docs/reference/pyflink.table/catalog.rst
  flink-python/docs/reference/pyflink.table/table_environment.rst
  flink-python/pyflink/common/execution_config.py
  flink-python/pyflink/common/tests/test_execution_config.py
  flink-python/pyflink/datastream/stream_execution_environment.py
  flink-python/pyflink/datastream/tests/test_stream_execution_environment.py
  flink-python/pyflink/datastream/tests/test_stream_execution_environment_completeness.py
  flink-python/pyflink/table/__init__.py
  flink-python/pyflink/table/catalog.py
  flink-python/pyflink/table/environment_settings.py
  flink-python/pyflink/table/sinks.py
  flink-python/pyflink/table/sources.py
  flink-python/pyflink/table/table_environment.py
  flink-python/pyflink/table/tests/test_catalog.py
  flink-python/pyflink/table/tests/test_catalog_completeness.py
  flink-python/pyflink/table/tests/test_environment_completeness.py
  flink-python/pyflink/table/tests/test_environment_settings_completeness.py
  flink-python/pyflink/table/udf.py
  flink-python/pyflink/testing/source_sink_utils.py
Labels: component=API/Python

#25404 [FLINK-36378][table] Fix type extraction bug between java BigDecimal …
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/utils/ValueDataTypeConverter.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/types/ValueDataTypeConverterTest.java
Labels: component=TableSQL/Planner

#25408 [FLINK-36373][state/forst] Support dispatch state requests in task thread
  flink-runtime/src/main/java/org/apache/flink/runtime/asyncprocessing/AsyncExecutionController.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStConfigurableOptions.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStKeyedStateBackend.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStOptions.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStResourceContainer.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStStateExecutor.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/ForStStateExecutorTest.java
Labels: component=<none>

#25403 [FLINK-36376] More friendly error or warn message for misconfigured statebackend with async state processing
  flink-runtime/src/main/java/org/apache/flink/runtime/asyncprocessing/operators/AbstractAsyncStateStreamOperator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/asyncprocessing/operators/AbstractAsyncStateStreamOperatorV2.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/operators/StreamingRuntimeContext.java
  flink-runtime/src/test/java/org/apache/flink/streaming/api/operators/StreamingRuntimeContextTest.java
Labels: component=<none>

#25412 [FLINK-36389][security] Add check in DelegationTokenReceiverRepository for DT enabled flag
  flink-runtime/src/main/java/org/apache/flink/runtime/security/token/DelegationTokenReceiverRepository.java
  flink-runtime/src/test/java/org/apache/flink/runtime/security/token/DelegationTokenReceiverRepositoryTest.java
Labels: component=Deployment/YARN, component=Deployment/Kubernetes

#25420 [FLINK-36362][table] Remove dependency flink-java in table modules
  flink-core/src/main/java/org/apache/flink/api/common/functions/WrappingFunction.java
  flink-core/src/main/java/org/apache/flink/api/java/typeutils/runtime/kryo/KryoSerializer.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/util/serialize/FlinkChillPackageRegistrar.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/util/serialize/PriorityQueueSerializer.java
  flink-table/flink-table-api-bridge-base/pom.xml
  flink-table/flink-table-api-java-bridge/pom.xml
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/table/sources/CsvTableSource.java
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/table/sources/format/CsvInputFormat.java
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/table/sources/format/RowCsvInputFormat.java
  flink-table/flink-table-api-scala/pom.xml
  flink-table/flink-table-api-scala/src/main/scala/org/apache/flink/table/api/runtime/types/FlinkScalaKryoInstantiator.scala
  flink-table/flink-table-api-scala/src/test/scala/org/apache/flink/table/api/typeutils/TypeExtractionTest.scala
  flink-table/flink-table-api-scala/src/test/scala/org/apache/flink/table/types/TypeInformationGenTest.scala
  flink-table/flink-table-planner/src/test/java/org/apache/flink/formats/testcsv/TestCsvSerializationSchema.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/factories/TestValuesTableFactory.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/factories/utils/CollectionInputFormat.java
  flink-table/flink-table-planner/src/test/resources/META-INF/services/org.apache.flink.table.legacy.factories.TableFactory
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/factories/utils/TestCollectionTableFactory.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/utils/BatchTableEnvUtil.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/utils/UserDefinedFunctionTestUtils.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/utils/TestLegacyLimitableTableSource.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/utils/testTableSourceSinks.scala
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/join/JoinConditionWithNullFilters.java
Labels: component=TableSQL/Planner, component=TableSQL/API

#25125 [FLINK-34975][state/forst] Implement Aggregating Async State API for ForStStateBackend
  flink-runtime/src/main/java/org/apache/flink/runtime/asyncprocessing/StateRequestType.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/v2/AbstractAggregatingState.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/v2/AbstractAggregatingStateTest.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStAggregatingState.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStKeyedStateBackend.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStStateRequestClassifier.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/ForStDBOperationTestBase.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/ForStStateExecutorTest.java
Labels: component=Runtime/StateBackends

#25430 [FLINK-36310][docs] Remove per-job mode, run-application and scala api related documents
  README.md
  docs/README.md
  docs/config.toml
  docs/content.zh/docs/concepts/flink-architecture.md
  docs/content.zh/docs/deployment/cli.md
  docs/content.zh/docs/deployment/overview.md
  docs/content.zh/docs/deployment/resource-providers/native_kubernetes.md
  docs/content.zh/docs/deployment/resource-providers/standalone/kubernetes.md
  docs/content.zh/docs/deployment/resource-providers/yarn.md
  docs/content.zh/docs/ops/debugging/debugging_classloading.md
  docs/content/docs/concepts/flink-architecture.md
  docs/content/docs/deployment/cli.md
  docs/content/docs/deployment/overview.md
  docs/content/docs/deployment/resource-providers/native_kubernetes.md
  docs/content/docs/deployment/resource-providers/yarn.md
  docs/content/docs/ops/debugging/debugging_classloading.md
  docs/static/fig/deployment_modes.png
  docs/static/fig/deployment_modes.svg
Labels: component=<none>

#25399 [FLINK-36344][runtime/metrics] Introduce lastCheckpointCompletedTimestamp metric
  docs/content.zh/docs/ops/metrics.md
  docs/content/docs/ops/metrics.md
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/DefaultCheckpointStatsTracker.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/DefaultCheckpointStatsTrackerTest.java
Labels: component=Runtime/Metrics, component=Runtime/Checkpointing

#25417 [FLINK-36355][runtime] Remove deprecated metrics
  docs/content.zh/docs/ops/metrics.md
  docs/content/docs/ops/metrics.md
  flink-end-to-end-tests/flink-metrics-availability-test/src/test/java/org/apache/flink/metrics/tests/MetricsAvailabilityITCase.java
  flink-end-to-end-tests/flink-metrics-reporter-prometheus-test/src/test/java/org/apache/flink/metrics/prometheus/tests/PrometheusReporterEndToEndITCase.java
  flink-end-to-end-tests/test-scripts/common.sh
  flink-metrics/flink-metrics-datadog/src/main/java/org/apache/flink/metrics/datadog/DatadogHttpReporter.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/NettyShuffleEnvironment.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/metrics/NettyShuffleMetricFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/MetricNames.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/groups/FrontMetricGroup.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/handler/legacy/metrics/MetricStore.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/SchedulerBase.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskmanager/Task.java
  flink-runtime/src/main/java/org/apache/flink/streaming/runtime/tasks/AbstractTwoInputStreamTask.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/AbstractMetricGroupTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/handler/job/metrics/AbstractMetricsHandlerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/handler/legacy/metrics/MetricStoreTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskManagerRunnerStartupTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/TwoInputStreamTaskTest.java
  flink-yarn-tests/src/test/java/org/apache/flink/yarn/YARNHighAvailabilityITCase.java
Labels: component=Runtime/Coordination, component=Runtime/WebFrontend, component=API/DataStream, component=Runtime/REST

#25351 [FLINK-35764][runtime/metrics] Fix TimerGauge producing incorrect results when updating during a measurement
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/TimerGauge.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/TimerGaugeTest.java
Labels: component=Runtime/Metrics
