Repository apache/flink, pull requests merged in 2024-05, with the labels that each got.

#24743 [BP-1.17][FLINK-34379][table] Fix OutOfMemoryError with large queries
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/utils/DynamicPartitionPruningUtils.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/optimize/program/DynamicPartitionPruningProgramTest.java
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/optimize/program/DynamicPartitionPruningProgramTest.xml
Labels: component=TableSQL/Planner

#24723 [FLINK-32843][JUnit5 Migration] Migrate the jobmaster package of flink-runtime module to JUnit5
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/TestingComponentMainThreadExecutor.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/DefaultExecutionDeploymentReconcilerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/DefaultExecutionDeploymentTrackerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/DefaultJobMasterServiceProcessTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/DefaultSlotPoolServiceSchedulerFactoryTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/JobExecutionITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/JobIntermediateDatasetReuseTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/JobManagerRunnerResultTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/JobManagerSharedServicesTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/JobMasterExecutionDeploymentReconciliationTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/JobMasterPartitionReleaseTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/JobMasterQueryableStateTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/JobMasterSchedulerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/JobRecoveryITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/JobResultTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/slotpool/AbstractServiceConnectionManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/slotpool/AllocatedSlotOccupationTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/slotpool/DefaultDeclareResourceRequirementServiceConnectionManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/slotpool/PhysicalSlotProviderExtension.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/slotpool/PhysicalSlotProviderImplWithDefaultSlotSelectionStrategyTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/slotpool/PhysicalSlotProviderImplWithSpreadOutStrategyTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/slotpool/PhysicalSlotRequestBulkCheckerImplTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/slotpool/PhysicalSlotRequestBulkWithTimestampTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/slotpool/PreferredAllocationRequestSlotMatchingStrategyTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/slotpool/SingleLogicalSlotTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/slotpool/SlotPoolBatchSlotRequestTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/slotpool/SlotPoolInteractionsTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/slotpool/SlotPoolUtils.java
Labels: component=Tests

#24744 [BP-1.18][FLINK-34379][table] Fix OutOfMemoryError with large queries
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/utils/DynamicPartitionPruningUtils.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/optimize/program/DynamicPartitionPruningProgramTest.java
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/optimize/program/DynamicPartitionPruningProgramTest.xml
Labels: component=TableSQL/Planner

#24656 [BP-1.19][FLINK-34517][table]fix environment configs ignored when calling procedure operation
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/PlannerCallProcedureOperation.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/factories/TestProcedureCatalogFactory.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/runtime/stream/sql/ProcedureITCase.java
Labels: component=TableSQL/Planner

#24732 [FLINK-32852][JUnit5 Migration] Migrate the scheduler package of flink-runtime module to JUnit5
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/DefaultExecutionDeployerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/DefaultExecutionGraphFactoryTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/DefaultOperatorCoordinatorHandlerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/DefaultSchedulerBatchSchedulingTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/DefaultSchedulerComponentsFactoryTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/DefaultVertexParallelismInfoTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/DefaultVertexParallelismStoreTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/ExecutionGraphInfoTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/ExecutionGraphToInputsLocationsRetrieverAdapterTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/ExecutionVertexVersionerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/LocalInputPreferredSlotSharingStrategyTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/MergingSharedSlotProfileRetrieverTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/SchedulerBaseComputeVertexParallelismTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/SchedulerTestingUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/SchedulerUtilsTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/SharedSlotTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/SharingPhysicalSlotRequestBulkTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/SsgNetworkMemoryCalculationUtilsTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adapter/DefaultExecutionTopologyTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adapter/DefaultSchedulingPipelinedRegionTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveSchedulerClusterITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveSchedulerComputeReactiveModeVertexParallelismTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveSchedulerSimpleITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveSchedulerSlotSharingITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveSchedulerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/BackgroundTaskTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/CancelingTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/CreatedTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/CreatingExecutionGraphTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/ExecutingTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/FailingTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/FinishedTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/MockStateWithExecutionGraphContext.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/RestartingTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/StateTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/StateValidator.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/StateWithExecutionGraphTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/StateWithoutExecutionGraphTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/StopWithSavepointTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/WaitingForResourcesTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/allocator/SharedSlotTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/allocator/StateLocalitySlotAssignerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/scalingpolicy/EnforceMinimalIncreaseRescalingControllerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptivebatch/AdaptiveBatchSchedulerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptivebatch/AllToAllBlockingResultInfoTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptivebatch/DefaultVertexParallelismAndInputInfosDeciderTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptivebatch/PointwiseBlockingResultInfoTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptivebatch/SpeculativeExecutionTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/slowtaskdetector/ExecutionTimeBasedSlowTaskDetectorTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/stopwithsavepoint/StopWithSavepointTerminationHandlerImplTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/stopwithsavepoint/StopWithSavepointTerminationManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/strategy/PipelinedRegionSchedulingStrategyTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/testutils/InternalMiniClusterExtension.java
Labels: component=Tests

#24761 [FLINK-35306][test] Migrate flink-tests-java17 module to JUnit5 and assertj to solve jdk17 compile fails
  flink-tests-java17/src/test/java/org/apache/flink/api/java/typeutils/runtime/PojoRecordSerializerUpgradeTestSpecifications.java
Labels: component=<none>

#24735 [FLINK-34916][table] Support `ALTER CATALOG SET` syntax
  docs/content.zh/docs/dev/table/sql/alter.md
  docs/content/docs/dev/table/sql/alter.md
  flink-table/flink-sql-client/src/test/resources/sql/catalog_database.q
  flink-table/flink-sql-gateway/src/test/resources/sql/catalog_database.q
  flink-table/flink-sql-parser/src/main/codegen/data/Parser.tdd
  flink-table/flink-sql-parser/src/main/codegen/includes/parserImpls.ftl
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlAlterCatalog.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlAlterCatalogOptions.java
  flink-table/flink-sql-parser/src/test/java/org/apache/flink/sql/parser/FlinkSqlParserImplTest.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/catalog/CatalogManager.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ddl/AlterCatalogOptionsOperation.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/converters/SqlAlterCatalogOptionsConverter.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/converters/SqlNodeConverters.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/operations/SqlDdlToOperationConverterTest.java
Labels: component=TableSQL/API

#24747 [FLINK-35270]Enrich information in logs, making it easier for debugging
  flink-connectors/flink-connector-datagen/src/main/java/org/apache/flink/connector/datagen/functions/FromElementsGeneratorFunction.java
  flink-filesystems/flink-oss-fs-hadoop/src/main/java/org/apache/flink/fs/osshadoop/writer/OSSCommitter.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/checkpointing/BarrierAlignmentUtilTest.java
  flink-test-utils-parent/flink-connector-test-utils/src/main/java/org/apache/flink/connector/testframe/testsuites/SourceTestSuiteBase.java
Labels: component=<none>

#24749 [FLINK-35184][table-runtime] fix minibatch join hash collision release-1.19
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/join/stream/bundle/InputSideHasNoUniqueKeyBundle.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/operators/join/stream/StreamingJoinOperatorTestBase.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/operators/join/stream/StreamingMiniBatchJoinOperatorTest.java
Labels: component=TableSQL/Runtime

#24756 [FLINK-35112][python] Fix membership for Row class PyFlink
  flink-python/pyflink/common/types.py
Labels: component=API/Python

#24670 [FLINK-25537] [JUnit5 Migration] Module: flink-core with,Package: util
  flink-core/src/test/java/org/apache/flink/util/AbstractIDTest.java
  flink-core/src/test/java/org/apache/flink/util/ArrayUtilsTest.java
  flink-core/src/test/java/org/apache/flink/util/ClassLoaderUtilsTest.java
  flink-core/src/test/java/org/apache/flink/util/CloseableIteratorTest.java
  flink-core/src/test/java/org/apache/flink/util/CollectionUtilTest.java
  flink-core/src/test/java/org/apache/flink/util/CompressedSerializedValueTest.java
  flink-core/src/test/java/org/apache/flink/util/ExceptionUtilsTest.java
  flink-core/src/test/java/org/apache/flink/util/FileUtilsTest.java
  flink-core/src/test/java/org/apache/flink/util/FlinkUserCodeClassLoaderTest.java
  flink-core/src/test/java/org/apache/flink/util/FlinkUserCodeClassLoadersTest.java
  flink-core/src/test/java/org/apache/flink/util/IOUtilsTest.java
  flink-core/src/test/java/org/apache/flink/util/InstantiationUtilTest.java
  flink-core/src/test/java/org/apache/flink/util/IterableUtilsTest.java
  flink-core/src/test/java/org/apache/flink/util/LambdaUtilTest.java
  flink-core/src/test/java/org/apache/flink/util/LinkedOptionalMapTest.java
  flink-core/src/test/java/org/apache/flink/util/LongValueSequenceIteratorTest.java
  flink-core/src/test/java/org/apache/flink/util/MathUtilTest.java
  flink-core/src/test/java/org/apache/flink/util/MdcUtilsTest.java
  flink-core/src/test/java/org/apache/flink/util/NetUtilsTest.java
  flink-core/src/test/java/org/apache/flink/util/NumberSequenceIteratorTest.java
  flink-core/src/test/java/org/apache/flink/util/OutputTagTest.java
  flink-core/src/test/java/org/apache/flink/util/ProcessorArchitectureTest.java
  flink-core/src/test/java/org/apache/flink/util/PropertiesUtilTest.java
  flink-core/src/test/java/org/apache/flink/util/ReferenceTest.java
  flink-core/src/test/java/org/apache/flink/util/ResourceGuardTest.java
  flink-core/src/test/java/org/apache/flink/util/SerializedValueTest.java
  flink-core/src/test/java/org/apache/flink/util/StringUtilsTest.java
  flink-core/src/test/java/org/apache/flink/util/StringValueUtilsTest.java
  flink-core/src/test/java/org/apache/flink/util/TemporaryClassLoaderContextTest.java
  flink-core/src/test/java/org/apache/flink/util/TernaryBooleanTest.java
  flink-core/src/test/java/org/apache/flink/util/TimeUtilsTest.java
  flink-core/src/test/java/org/apache/flink/util/UnionIteratorTest.java
  flink-core/src/test/java/org/apache/flink/util/WrappingProxyUtilTest.java
  flink-core/src/test/java/org/apache/flink/util/concurrent/ConjunctFutureTest.java
  flink-core/src/test/java/org/apache/flink/util/concurrent/ExponentialBackoffRetryStrategyTest.java
  flink-core/src/test/java/org/apache/flink/util/concurrent/FixedRetryStrategyTest.java
  flink-core/src/test/java/org/apache/flink/util/concurrent/FutureUtilsTest.java
  flink-core/src/test/java/org/apache/flink/util/concurrent/IncrementalDelayRetryStrategyTest.java
  flink-core/src/test/java/org/apache/flink/util/function/CachingSupplierTest.java
Labels: component=API/Core

#24770 [FLINK-35041][test] Fix the IncrementalRemoteKeyedStateHandleTest.testSharedStateReRegistration failed
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/metadata/CheckpointTestUtils.java
Labels: component=BuildSystem/CI

#24760 [FLINK-35198][table] Support the execution of refresh materialized table
  flink-table/flink-sql-gateway/src/main/java/org/apache/flink/table/gateway/service/materializedtable/MaterializedTableManager.java
  flink-table/flink-sql-gateway/src/test/java/org/apache/flink/table/gateway/service/MaterializedTableStatementITCase.java
  flink-table/flink-sql-gateway/src/test/java/org/apache/flink/table/gateway/service/SqlGatewayServiceITCase.java
  flink-table/flink-sql-gateway/src/test/java/org/apache/flink/table/gateway/service/materializedtable/MaterializedTableManagerTest.java
  flink-table/flink-sql-gateway/src/test/java/org/apache/flink/table/gateway/service/utils/SqlGatewayServiceTestUtil.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlAlterMaterializedTable.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlAlterMaterializedTableRefresh.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/OperationUtils.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/materializedtable/AlterMaterializedTableRefreshOperation.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/converters/SqlAlterMaterializedTableRefreshConverter.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/converters/SqlNodeConverters.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/operations/SqlMaterializedTableNodeToOperationConverterTest.java
Labels: component=TableSQL/API

#24759 [FLINK-35302][rest] Ignore unknown fields in REST request deserialization
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/handler/AbstractHandler.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/FileUploadHandlerITCase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/handler/AbstractHandlerTest.java
Labels: component=Runtime/REST

#24582 [FLINK-34661][runtime] TaskExecutor supports retain partitions after JM crashed.
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/JobMaster.java
  flink-runtime/src/main/java/org/apache/flink/runtime/shuffle/ShuffleServiceOptions.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskExecutor.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskExecutorGateway.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskExecutorPartitionLifecycleTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TaskExecutorSubmissionTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/TestingTaskExecutorGateway.java
Labels: component=Runtime/Coordination

#24690 [FLINK-35168][State] Basic State Iterator for async processing
  flink-runtime/src/main/java/org/apache/flink/runtime/asyncprocessing/AbstractStateIterator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/asyncprocessing/StateRequestType.java
  flink-runtime/src/test/java/org/apache/flink/runtime/asyncprocessing/AbstractStateIteratorTest.java
Labels: component=Runtime/StateBackends

#24764 [FLINK-35293][hive] Hive source supports dynamic parallelism inference
  docs/content.zh/docs/connectors/table/hive/hive_read_write.md
  docs/content/docs/connectors/table/hive/hive_read_write.md
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/src/AbstractFileSource.java
  flink-connectors/flink-connector-files/src/main/java/org/apache/flink/connector/file/table/LimitableBulkFormat.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveDynamicParallelismInferenceFactory.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveOptions.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveParallelismInference.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveSource.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveSourceBuilder.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveSourceDynamicFileEnumerator.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveSourceFileEnumerator.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveStaticParallelismInferenceFactory.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSource.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveSourceDynamicFileEnumeratorTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveSourceITCase.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveSourceTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/table/catalog/hive/HiveTestUtils.java
Labels: component=Connectors/Hive

#24659 [FLINK-35098][ORC] Fix incorrect results with literal first expressions
  flink-formats/flink-orc/src/main/java/org/apache/flink/orc/OrcFilters.java
  flink-formats/flink-orc/src/test/java/org/apache/flink/orc/OrcFileSystemFilterTest.java
  flink-formats/flink-orc/src/test/java/org/apache/flink/orc/OrcFileSystemITCase.java
Labels: component=Formats, component=Connectors/ORC

#24778 [BP-1.19][FLINK-35098][ORC] Fix incorrect results with literal first expressions
  flink-formats/flink-orc/src/main/java/org/apache/flink/orc/OrcFilters.java
  flink-formats/flink-orc/src/test/java/org/apache/flink/orc/OrcFileSystemFilterTest.java
  flink-formats/flink-orc/src/test/java/org/apache/flink/orc/OrcFileSystemITCase.java
Labels: component=Formats, component=Connectors/ORC

#24779 [BP-1.18][FLINK-35098][ORC] Fix incorrect results with literal first expressions
  flink-formats/flink-orc/src/main/java/org/apache/flink/orc/OrcFilters.java
  flink-formats/flink-orc/src/test/java/org/apache/flink/orc/OrcFileSystemFilterTest.java
  flink-formats/flink-orc/src/test/java/org/apache/flink/orc/OrcFileSystemITCase.java
Labels: component=Formats, component=Connectors/ORC

#24762 [FLINK-32087][checkpoint] Introduce space amplification statistics of file merging
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/filemerging/FileMergingSnapshotManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/filemerging/FileMergingSnapshotManagerBase.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/filemerging/LogicalFile.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/filemerging/PhysicalFile.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/filemerging/AcrossCheckpointFileMergingSnapshotManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/filemerging/FileMergingSnapshotManagerTestBase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/filemerging/WithinCheckpointFileMergingSnapshotManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/filesystem/FileMergingCheckpointStateOutputStreamTest.java
Labels: component=Runtime/StateBackends, component=Runtime/Checkpointing

#24774 [FLINK-33986][runtime] Extend ShuffleMaster to support snapshot and restore state.
  flink-runtime/src/main/java/org/apache/flink/runtime/shuffle/DefaultShuffleMasterSnapshotContext.java
  flink-runtime/src/main/java/org/apache/flink/runtime/shuffle/EmptyShuffleMasterSnapshot.java
  flink-runtime/src/main/java/org/apache/flink/runtime/shuffle/NettyShuffleMaster.java
  flink-runtime/src/main/java/org/apache/flink/runtime/shuffle/ShuffleMaster.java
  flink-runtime/src/main/java/org/apache/flink/runtime/shuffle/ShuffleMasterSnapshot.java
  flink-runtime/src/main/java/org/apache/flink/runtime/shuffle/ShuffleMasterSnapshotContext.java
Labels: component=<none>

#24786 [BP-1.19][FLINK-27741][table-planner] Fix NPE when use dense_rank() and rank()
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/functions/aggfunctions/RankLikeAggFunctionBase.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/utils/AggFunctionFactory.scala
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/agg/OverAggregateTest.xml
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/batch/sql/agg/OverAggregateTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/OverAggregateITCase.scala
Labels: component=TableSQL/Planner

#24785 [BP-1.18][FLINK-27741][table-planner] Fix NPE when use dense_rank() and rank()
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/functions/aggfunctions/RankLikeAggFunctionBase.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/utils/AggFunctionFactory.scala
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/agg/OverAggregateTest.xml
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/batch/sql/agg/OverAggregateTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/OverAggregateITCase.scala
Labels: component=TableSQL/Planner

#24789 [FLINK-32092][tests] Integrate snapshot file-merging with existing ITCases
  flink-runtime/src/main/java/org/apache/flink/runtime/state/OperatorStateRestoreOperation.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/filemerging/SegmentFileStateHandle.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
  flink-test-utils-parent/flink-test-utils/src/main/java/org/apache/flink/streaming/util/TestStreamEnvironment.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/ChangelogRecoveryITCaseBase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/RestoreUpgradedJobITCase.java
  flink-tests/src/test/java/org/apache/flink/test/state/ChangelogCompatibilityITCase.java
  flink-tests/src/test/java/org/apache/flink/test/state/ChangelogRecoveryCachingITCase.java
  flink-tests/src/test/java/org/apache/flink/test/state/ChangelogRescalingITCase.java
Labels: component=Runtime/StateBackends, component=Runtime/Checkpointing

#24766 [FLINK-32082][docs] Documentation of checkpoint file-merging
  docs/content.zh/docs/dev/datastream/fault-tolerance/checkpointing.md
  docs/content/docs/dev/datastream/fault-tolerance/checkpointing.md
Labels: component=Runtime/StateBackends, component=Runtime/Checkpointing

#24797 [FLINK-35226][rest] Deprecate execution-mode in ExecutionConfigInfo related rest api
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/messages/JobConfigInfo.java
Labels: component=Runtime/REST

#24796 [FLINK-35225][Web] Remove Execution mode in Flink WebUI
  flink-runtime-web/web-dashboard/src/app/pages/job/configuration/job-configuration.component.html
Labels: component=Runtime/WebFrontend

#24767 [FLINK-35346][table-common] Introduce workflow scheduler interface for materialized table
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/factories/FactoryUtil.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/factories/WorkflowSchedulerFactory.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/factories/WorkflowSchedulerFactoryUtil.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/workflow/CreateRefreshWorkflow.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/workflow/DeleteRefreshWorkflow.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/workflow/ModifyRefreshWorkflow.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/workflow/RefreshWorkflow.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/workflow/WorkflowException.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/workflow/WorkflowScheduler.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/factories/workflow/TestWorkflowSchedulerFactory.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/factories/workflow/WorkflowSchedulerFactoryUtilTest.java
  flink-table/flink-table-common/src/test/resources/META-INF/services/org.apache.flink.table.factories.Factory
Labels: component=TableSQL/API

#24748 [FLINK-35030][runtime] Introduce Epoch Manager under async execution
  flink-runtime/src/main/java/org/apache/flink/runtime/asyncprocessing/AsyncExecutionController.java
  flink-runtime/src/main/java/org/apache/flink/runtime/asyncprocessing/EpochManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/asyncprocessing/RecordContext.java
  flink-runtime/src/test/java/org/apache/flink/runtime/asyncprocessing/AsyncExecutionControllerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/asyncprocessing/ContextStateFutureImplTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/asyncprocessing/EpochManagerTest.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/ForStDBOperationTestBase.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/ForStStateExecutorTest.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/AbstractStreamOperatorV2.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/asyncprocessing/AbstractAsyncStateStreamOperator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/asyncprocessing/AbstractAsyncStateStreamOperatorV2.java
Labels: component=<none>

#23772 [FLINK-20539][table-planner] Fix type mismatch when using ROW in comp…
  flink-table/flink-table-planner/src/main/java/org/apache/calcite/sql/fun/SqlRowOperator.java
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/TableScanTest.xml
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/TableScanTest.scala
Labels: component=TableSQL/API

#24782 [FLINK-33983][runtime] Introduce JobEvent and JobEventStore
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/ExecutionVertexInputInfo.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/JobVertexInputInfo.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/event/ExecutionJobVertexInitializedEvent.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/event/ExecutionVertexFinishedEvent.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/event/ExecutionVertexResetEvent.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/event/FileSystemJobEventStore.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/event/FsBatchFlushOutputStream.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/event/GenericJobEventSerializer.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/event/JobEvent.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/event/JobEventManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/event/JobEventReplayHandler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/event/JobEventStore.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/event/JobEvents.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/event/DummyJobEventStore.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/event/ExecutionJobVertexInitializedEventTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/event/ExecutionVertexFinishedEventTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/event/ExecutionVertexResetEventTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/event/FileSystemJobEventStoreTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/event/FsBatchFlushOutputStreamTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/event/JobEventManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/event/TestingJobEvent.java
Labels: component=Runtime/Coordination

#24613 [FLINK-25537][JUnit5 Migration] Module: flink-core with,Package: types
  flink-core/src/test/java/org/apache/flink/api/common/resources/ResourceTest.java
  flink-core/src/test/java/org/apache/flink/api/common/typeinfo/TypeHintTest.java
  flink-core/src/test/java/org/apache/flink/api/java/typeutils/TypeExtractorTest.java
  flink-core/src/test/java/org/apache/flink/configuration/MemorySizeTest.java
  flink-core/src/test/java/org/apache/flink/types/BasicTypeInfoTest.java
  flink-core/src/test/java/org/apache/flink/types/CopyableValueTest.java
  flink-core/src/test/java/org/apache/flink/types/JavaToValueConverterTest.java
  flink-core/src/test/java/org/apache/flink/types/NormalizableKeyTest.java
  flink-core/src/test/java/org/apache/flink/types/PrimitiveDataTypeTest.java
  flink-core/src/test/java/org/apache/flink/types/RecordITCase.java
  flink-core/src/test/java/org/apache/flink/types/RecordTest.java
  flink-core/src/test/java/org/apache/flink/types/RowTest.java
  flink-core/src/test/java/org/apache/flink/types/RowUtilsTest.java
  flink-core/src/test/java/org/apache/flink/types/StringSerializationTest.java
  flink-core/src/test/java/org/apache/flink/types/StringValueSerializationTest.java
  flink-core/src/test/java/org/apache/flink/types/parser/BigDecParserTest.java
  flink-core/src/test/java/org/apache/flink/types/parser/BigIntParserTest.java
  flink-core/src/test/java/org/apache/flink/types/parser/BooleanParserTest.java
  flink-core/src/test/java/org/apache/flink/types/parser/BooleanValueParserTest.java
  flink-core/src/test/java/org/apache/flink/types/parser/ByteParserTest.java
  flink-core/src/test/java/org/apache/flink/types/parser/ByteValueParserTest.java
  flink-core/src/test/java/org/apache/flink/types/parser/DoubleParserTest.java
  flink-core/src/test/java/org/apache/flink/types/parser/DoubleValueParserTest.java
  flink-core/src/test/java/org/apache/flink/types/parser/FieldParserTest.java
  flink-core/src/test/java/org/apache/flink/types/parser/FloatParserTest.java
  flink-core/src/test/java/org/apache/flink/types/parser/FloatValueParserTest.java
  flink-core/src/test/java/org/apache/flink/types/parser/IntParserTest.java
  flink-core/src/test/java/org/apache/flink/types/parser/IntValueParserTest.java
  flink-core/src/test/java/org/apache/flink/types/parser/LongParserTest.java
  flink-core/src/test/java/org/apache/flink/types/parser/LongValueParserTest.java
  flink-core/src/test/java/org/apache/flink/types/parser/ParserTestBase.java
  flink-core/src/test/java/org/apache/flink/types/parser/QuotedStringParserTest.java
  flink-core/src/test/java/org/apache/flink/types/parser/QuotedStringValueParserTest.java
  flink-core/src/test/java/org/apache/flink/types/parser/ShortParserTest.java
  flink-core/src/test/java/org/apache/flink/types/parser/ShortValueParserTest.java
  flink-core/src/test/java/org/apache/flink/types/parser/SqlDateParserTest.java
  flink-core/src/test/java/org/apache/flink/types/parser/SqlTimeParserTest.java
  flink-core/src/test/java/org/apache/flink/types/parser/SqlTimestampParserTest.java
  flink-core/src/test/java/org/apache/flink/types/parser/UnquotedStringParserTest.java
  flink-core/src/test/java/org/apache/flink/types/parser/UnquotedStringValueParserTest.java
  flink-core/src/test/java/org/apache/flink/types/parser/VarLengthStringParserTest.java
Labels: component=API/Core

#24806 [FLINK-35379][Checkpoint] Fix incorrect checkpoint notification handling in file merging
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/filemerging/FileMergingSnapshotManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/filemerging/FileMergingSnapshotManagerBase.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/filemerging/LogicalFile.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/filemerging/SubtaskFileMergingManagerRestoreOperation.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/filemerging/SegmentFileStateHandle.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/filesystem/FsMergingCheckpointStorageAccess.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/filemerging/AcrossCheckpointFileMergingSnapshotManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/filemerging/FileMergingSnapshotManagerTestBase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/filemerging/WithinCheckpointFileMergingSnapshotManagerTest.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
Labels: component=Runtime/Checkpointing

#24813 [FLINK-35382][test] Disable snapshot-file-merging in ChangelogCompabilityITCase
  flink-tests/src/test/java/org/apache/flink/test/state/ChangelogCompatibilityITCase.java
Labels: component=<none>

#24804 [FLINK-35383][docs] Update compatibility matrix for 1.19 release
  docs/content.zh/docs/ops/upgrading.md
  docs/content/docs/ops/upgrading.md
Labels: component=Documentation

#24803 [FLINK-35383][docs] Update compatibility matrix for 1.19 release
  docs/content.zh/docs/ops/upgrading.md
  docs/content/docs/ops/upgrading.md
Labels: component=Documentation

#24717 [FLINK-35215][core] Fix the bug when Kryo serialize length is 0
  flink-core/src/main/java/org/apache/flink/api/java/typeutils/runtime/NoFetchingInput.java
Labels: component=API/TypeSerializationSystem

#24365 [FLINK-32706][table] Add built-in SPLIT_STRING function
  docs/data/sql_functions.yml
  flink-python/docs/reference/pyflink.table/expressions.rst
  flink-python/pyflink/table/expression.py
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/BaseExpressions.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/BuiltInFunctionDefinitions.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/functions/CollectionFunctionsITCase.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/functions/scalar/SplitFunction.java
Labels: component=<none>

#24819 [FLINK-35410][state] Avoid sync waiting in coordinator thread of ForSt executor
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStStateExecutor.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/ForStStateExecutorTest.java
Labels: component=<none>

#24704 [FLINK-35216] Support for RETURNING clause of JSON_QUERY
  docs/data/sql_functions.yml
  flink-python/pyflink/table/tests/test_expression.py
  flink-table/flink-sql-parser/pom.xml
  flink-table/flink-sql-parser/src/main/codegen/templates/Parser.jj
  flink-table/flink-sql-parser/src/main/java/org/apache/calcite/sql/fun/SqlJsonQueryFunction.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/BaseExpressions.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/expressions/ExpressionSerializationTest.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/BuiltInFunctionDefinitions.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/JsonFunctionsCallSyntax.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/inference/strategies/JsonQueryOnErrorEmptyArgumentTypeStrategy.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/inference/strategies/SpecificInputTypeStrategies.java
  flink-table/flink-table-planner/src/main/java/org/apache/calcite/sql2rel/StandardConvertletTable.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/expressions/converter/converters/JsonQueryConverter.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/functions/sql/SqlJsonQueryFunctionWrapper.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/CodeGenUtils.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/ExprCodeGenerator.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/calls/BuiltInMethods.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/calls/JsonQueryCallGen.scala
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/functions/JsonFunctionsITCase.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/functions/SqlJsonUtils.java
Labels: component=TableSQL/Planner

#24834 [FLINK-35437] Rewrite BlockStatementGrouper so that it uses less memory
  flink-table/flink-table-code-splitter/src/main/java/org/apache/flink/table/codesplit/BlockStatementGrouper.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/functions/CaseFunctionsITCase.java
Labels: component=TableSQL/Runtime

#24837 [FLINK-35215][core] Add a test for deserializing an object whose serialization result is an empty byte array
  flink-core/src/test/java/org/apache/flink/testutils/runtime/NoFetchingInputTest.java
Labels: component=API/TypeSerializationSystem

#24830 [FLINK-35426][table-planner] Change the distribution of DynamicFilteringDataCollector to Broadcast
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/processor/DynamicFilteringDependencyProcessor.java
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/DynamicFilteringTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/optimize/ShuffleModePlanOptimizeTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/optimize/program/DynamicPartitionPruningProgramTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/optimize/program/FlinkRuntimeFilterProgramTest.xml
Labels: component=TableSQL/Planner

#24799 [FLINK-35342][table] Fix MaterializedTableStatementITCase test can check for wrong status
  flink-table/flink-sql-gateway/src/test/java/org/apache/flink/table/gateway/service/MaterializedTableStatementITCase.java
Labels: component=<none>

#24769 [FLINK-34993] parser changes to support model CRUD sql
  flink-table/flink-sql-parser/src/main/codegen/data/Parser.tdd
  flink-table/flink-sql-parser/src/main/codegen/includes/parserImpls.ftl
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlAlterModel.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlCreateModel.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlCreateModelAs.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlDropModel.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/dql/SqlRichDescribeModel.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/dql/SqlShowCreateModel.java
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/dql/SqlShowModels.java
  flink-table/flink-sql-parser/src/test/java/org/apache/flink/sql/parser/FlinkSqlParserImplTest.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/calcite/FlinkPlannerImpl.scala
  tools/maven/suppressions.xml
Labels: component=<none>

#24814 [FLINK-35403] Allow Skipping Invocation of Function Calls While Constant-folding
  docs/content/docs/dev/table/functions/udfs.md
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/FunctionDefinition.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/utils/ConstantFoldingUtil.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/ExpressionReducer.scala
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/rules/logical/ExpressionReductionRulesTest.xml
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/expressions/utils/userDefinedScalarFunctions.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/rules/logical/ExpressionReductionRulesTest.scala
Labels: component=<none>

#24788 [FLINK-34379][table] Fix adding catalogtable logic
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/utils/DynamicPartitionPruningUtils.java
Labels: component=TableSQL/Planner

#24795 [FLINK-33759] [flink-parquet] Add support for nested array with row/map/array type
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/row/ParquetRowDataWriter.java
  flink-formats/flink-parquet/src/test/java/org/apache/flink/formats/parquet/row/ParquetRowDataWriterTest.java
Labels: component=Formats

#24846 [FLINK-35457][checkpoint] Hotfix! close physical file under the protection of lock
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/filemerging/FileMergingSnapshotManagerBase.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/filemerging/PhysicalFile.java
Labels: component=BuildSystem/CI

#24843 [FLINK-35454] Allow connector classes to depend on internal Flink util classes
  flink-architecture-tests/flink-architecture-tests-production/archunit-violations/f7a4e6fa-e7de-48c9-a61e-c13e83f0c72e
  flink-architecture-tests/flink-architecture-tests-production/src/main/java/org/apache/flink/architecture/rules/ConnectorRules.java
Labels: component=TestInfrastructure

#24374 [FLINK-34456][configuration]Move all checkpoint-related options into CheckpointingOptions
  docs/content.zh/docs/deployment/config.md
  docs/content.zh/docs/dev/datastream/fault-tolerance/checkpointing.md
  docs/content.zh/docs/dev/table/sql/queries/overview.md
  docs/content/docs/deployment/config.md
  docs/content/docs/dev/datastream/fault-tolerance/checkpointing.md
  docs/content/docs/dev/table/sql/queries/overview.md
  docs/layouts/shortcodes/generated/checkpointing_configuration.html
  docs/layouts/shortcodes/generated/execution_checkpointing_configuration.html
  flink-clients/src/test/java/org/apache/flink/client/program/StreamContextEnvironmentTest.java
  flink-core/src/main/java/org/apache/flink/configuration/CheckpointingOptions.java
  flink-dist/src/main/resources/config.yaml
  flink-dstl/flink-dstl-dfs/pom.xml
  flink-dstl/flink-dstl-dfs/src/main/java/org/apache/flink/changelog/fs/FsStateChangelogOptions.java
  flink-end-to-end-tests/flink-sql-client-test/src/test/java/SqlClientITCase.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/environment/CheckpointConfig.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/environment/ExecutionCheckpointingOptions.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/StreamConfig.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/StreamGraphGenerator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/StreamingJobGraphGenerator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/io/checkpointing/InputProcessorUtil.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
  flink-table/flink-sql-gateway/src/main/java/org/apache/flink/table/gateway/service/materializedtable/MaterializedTableManager.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/TableConfig.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/api/EnvironmentTest.java
  flink-test-utils-parent/flink-test-utils/src/main/java/org/apache/flink/streaming/util/TestStreamEnvironment.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/CheckpointIntervalDuringBacklogITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/UnalignedCheckpointTestBase.java
  flink-tests/src/test/java/org/apache/flink/test/state/ChangelogRecoveryCachingITCase.java
  flink-tests/src/test/java/org/apache/flink/test/state/ChangelogRescalingITCase.java
Labels: component=Runtime/Checkpointing

#24855 [FLINK-35399][doc] Add documents for batch job recovery from jobMaster failover.
  docs/content.zh/docs/ops/batch/recovery_from_job_master_failure.md
  docs/content/docs/ops/batch/recovery_from_job_master_failure.md
Labels: component=Runtime/Coordination

#24807 [FLINK-32088][checkpoint] Space control in file merging
  docs/layouts/shortcodes/generated/checkpoint_file_merging_section.html
  docs/layouts/shortcodes/generated/checkpointing_configuration.html
  flink-core/src/main/java/org/apache/flink/configuration/CheckpointingOptions.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/filemerging/AcrossCheckpointFileMergingSnapshotManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/filemerging/FileMergingSnapshotManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/filemerging/FileMergingSnapshotManagerBase.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/filemerging/FileMergingSnapshotManagerBuilder.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/filemerging/LogicalFile.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/filemerging/PhysicalFile.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/filemerging/WithinCheckpointFileMergingSnapshotManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/CheckpointStreamFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/TaskExecutorFileMergingManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/filesystem/FsMergingCheckpointStorageLocation.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/filemerging/AcrossCheckpointFileMergingSnapshotManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/filemerging/FileMergingSnapshotManagerTestBase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/checkpoint/filemerging/WithinCheckpointFileMergingSnapshotManagerTest.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/snapshot/RocksIncrementalSnapshotStrategy.java
Labels: component=Runtime/StateBackends, component=Runtime/Checkpointing

#24860 [BP-1.19][FLINK-34379][table] Fix adding catalogtable logic
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/utils/DynamicPartitionPruningUtils.java
Labels: component=TableSQL/Planner

#24861 [BP-1.18][FLINK-34379][table] Fix adding catalogtable logic
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/utils/DynamicPartitionPruningUtils.java
Labels: component=TableSQL/Planner

#24862 [BP-1.17][FLINK-34379][table] Fix adding catalogtable logic
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/utils/DynamicPartitionPruningUtils.java
Labels: component=TableSQL/Planner

#24870 [FLINK-35484][doc-ci] Flink document file had removed but website can access
  .github/workflows/docs.yml
Labels: component=Documentation

#24791 [FLINK-35358][clients] Reintroduce recursive JAR listing in classpath load from "usrlib"
  flink-clients/src/main/java/org/apache/flink/client/program/DefaultPackagedProgramRetriever.java
  flink-clients/src/test/java/org/apache/flink/client/program/DefaultPackagedProgramRetrieverITCase.java
Labels: component=Client/JobSubmission, component=flink-docker

#24792 [BP-1.19][FLINK-35358][clients] Reintroduce recursive JAR listing in classpath load from "usrlib"
  flink-clients/src/main/java/org/apache/flink/client/program/DefaultPackagedProgramRetriever.java
  flink-clients/src/test/java/org/apache/flink/client/program/DefaultPackagedProgramRetrieverITCase.java
Labels: component=Client/JobSubmission, component=flink-docker

#24872 [FLINK-35399][doc] Update the batch job recovery documentation.
  docs/content.zh/docs/ops/batch/recovery_from_job_master_failure.md
Labels: component=Runtime/Coordination

#22614 [FLINK-32142][build][flink-runtime-web] Upgrade frontend-maven-plugin...
  flink-runtime-web/pom.xml
Labels: component=BuildSystem, component=Runtime/WebFrontend

#24871 [FLINK-35483][runtime] Fix unstable BatchJobRecoveryTest.
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptivebatch/BatchJobRecoveryTest.java
Labels: component=BuildSystem/CI
