Repository apache/flink, pull requests merged in 2024-11, with the labels that each got.

#25597 [FLINK-36639] Use table aliases in Table API asSerializableString
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/AggregateQueryOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/CalculatedQueryOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/DistinctQueryOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/FilterQueryOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/JoinQueryOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/OperationUtils.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ProjectQueryOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/SetQueryOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/SortQueryOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/SourceQueryOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ValuesQueryOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/WindowAggregateQueryOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/utils/OperationExpressionsUtils.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/expressions/FieldReferenceExpression.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/api/QueryOperationSqlExecutionTest.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/api/QueryOperationSqlSerializationTest.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/api/QueryOperationTestPrograms.java
Labels: component=TableSQL/API

#25599 [FLINK-36644] TIMESTAMPDIFF can not be string serialized
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/expressions/ExpressionSerializationTest.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/BuiltInFunctionDefinitions.java
Labels: component=TableSQL/API

#25589 [FLINK-36011][runtime] Improved logging in StateTransitionManager
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/DefaultStateTransitionManager.java
Labels: component=Runtime/Coordination

#25601 [FLINK-36642][table] Fix SQL names of built-in functions
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/expressions/ExpressionSerializationTest.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/BuiltInFunctionDefinitions.java
Labels: component=TableSQL/API

#25603 [FLINK-36510][rpc] bump pekko to 1.1.2, remove netty 3 (backport to release-1.19)
  flink-rpc/flink-rpc-akka/pom.xml
  flink-rpc/flink-rpc-akka/src/main/java/org/apache/flink/runtime/rpc/pekko/ActorSystemBootstrapTools.java
  flink-rpc/flink-rpc-akka/src/main/java/org/apache/flink/runtime/rpc/pekko/PekkoUtils.java
  flink-rpc/flink-rpc-akka/src/main/resources/META-INF/NOTICE
Labels: component=Runtime/Coordination

#25605 [FLINK-36642][table] Fix SQL names of built-in functions
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/expressions/ExpressionSerializationTest.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/BuiltInFunctionDefinitions.java
Labels: component=TableSQL/API

#25582 [FLINK-36615] Support LEAD/LAG functions in Table API
  flink-python/pyflink/table/expressions.py
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/Expressions.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/OverWindow.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/OverWindowPartitionedOrdered.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/OverWindowPartitionedOrderedPreceding.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/expressions/resolver/ExpressionResolver.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/expressions/resolver/LocalOverWindow.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/expressions/resolver/rules/OverWindowResolverRule.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/BuiltInFunctionDefinitions.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/CallSyntaxUtils.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/SqlCallSyntax.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/inference/strategies/LeadLagInputTypeStrategy.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/inference/strategies/OverTypeStrategy.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/inference/strategies/SpecificInputTypeStrategies.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/inference/strategies/SpecificTypeStrategies.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/types/inference/TypeStrategiesTest.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/types/inference/strategies/LeadLagInputTypeStrategyTest.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/expressions/SqlAggFunctionVisitor.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/expressions/converter/OverConvertRule.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/api/QueryOperationSqlExecutionTest.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/api/QueryOperationSqlSerializationTest.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/api/QueryOperationTestPrograms.java
Labels: component=TableSQL/API

#25609 [FLINK-36099][task] Log jobID in TaskExecutor#failTask
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskExecutor.java
Labels: component=Runtime/Task

#25610 [FLINK-36623] Improve logging in DefaultStateTransitionManager
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveScheduler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/DefaultStateTransitionManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/Finished.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/State.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/StateTransitionManager.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/StateWithExecutionGraph.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/StateWithoutExecutionGraph.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/DefaultStateTransitionManagerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/ExecutingTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/MockStateWithoutExecutionGraphContext.java
Labels: component=Runtime/Coordination

#24775 [FLINK-35332][yarn] Removed setting rest.address to the actual IP add…
  flink-dist/src/main/resources/config.yaml
  flink-dist/src/test/java/org/apache/flink/dist/BashJavaUtilsITCase.java
  flink-yarn/src/main/java/org/apache/flink/yarn/entrypoint/YarnEntrypointUtils.java
  flink-yarn/src/test/java/org/apache/flink/yarn/entrypoint/YarnEntrypointUtilsTest.java
Labels: component=Deployment/YARN

#25612 [FLINK-36662][table-planner] Port CALCITE-6317 to fix the incorrectly constant pullup when group keys in aggregate are NULL
  flink-table/flink-table-planner/src/main/java/org/apache/calcite/rel/metadata/RelMdPredicates.java
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/agg/GroupingSetsTest.xml
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/agg/GroupingSetsTest.scala
Labels: component=TableSQL/Planner

#25316 [FLINK-36266][table] Insert into as select * behaves incorrect
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/calcite/FlinkCalciteSqlValidator.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/calcite/SqlRewriterUtils.scala
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/calcite/FlinkCalciteSqlValidatorTest.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/TableSinkITCase.scala
Labels: component=TableSQL/Planner

#25561 [FLINK-36592][state/forst] Support file cache for ForStStateBackend
  flink-core/src/main/java/org/apache/flink/core/fs/local/LocalDataInputStream.java
  flink-dist/src/main/resources/META-INF/NOTICE
  flink-state-backends/flink-statebackend-forst/pom.xml
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStConfigurableOptions.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStOptions.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStResourceContainer.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/fs/ForStFlinkFileSystem.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/fs/cache/BundledCacheLimitPolicy.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/fs/cache/CacheLimitPolicy.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/fs/cache/CachedDataInputStream.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/fs/cache/CachedDataOutputStream.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/fs/cache/FileBasedCache.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/fs/cache/FileCacheEntry.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/fs/cache/LruCache.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/fs/cache/SizeBasedCacheLimitPolicy.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/fs/cache/SpaceBasedCacheLimitPolicy.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/ForStResourceContainerTest.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/fs/ForStFlinkFileSystemTest.java
Labels: component=<none>

#25604 [FLINK-36654] [table] Fix wrong cast when decimal divide integer
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/calls/ScalarOperatorGens.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/expressions/SqlExpressionTest.scala
Labels: component=TableSQL/Planner

#25623 [BP-1.19][FLINK-36417][table] Add support for hints in WatermarkAssigner
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/calcite/FlinkRelBuilder.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/hint/FlinkHints.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/rules/logical/EventTimeTemporalJoinRewriteRule.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/rules/physical/stream/WatermarkAssignerChangelogNormalizeTransposeRule.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/nodes/calcite/LogicalWatermarkAssigner.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/nodes/calcite/WatermarkAssigner.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/nodes/logical/FlinkLogicalWatermarkAssigner.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamPhysicalWatermarkAssigner.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/stream/StreamPhysicalWatermarkAssignerRule.scala
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/hints/stream/StateTtlHintTest.java
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/hints/stream/StateTtlHintTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/rules/logical/ProjectWatermarkAssignerTransposeRuleTest.xml
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/utils/TableTestBase.scala
Labels: component=TableSQL/Planner

#25622 [BP-1.20][FLINK-36417][table] Add support for hints in WatermarkAssigner
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/calcite/FlinkRelBuilder.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/hint/FlinkHints.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/rules/logical/EventTimeTemporalJoinRewriteRule.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/rules/physical/stream/WatermarkAssignerChangelogNormalizeTransposeRule.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/nodes/calcite/LogicalWatermarkAssigner.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/nodes/calcite/WatermarkAssigner.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/nodes/logical/FlinkLogicalWatermarkAssigner.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamPhysicalWatermarkAssigner.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/rules/physical/stream/StreamPhysicalWatermarkAssignerRule.scala
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/hints/stream/StateTtlHintTest.java
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/hints/stream/StateTtlHintTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/rules/logical/ProjectWatermarkAssignerTransposeRuleTest.xml
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/utils/TableTestBase.scala
Labels: component=TableSQL/Planner

#25559 [FLINK-36502] [TABLE-SQL] Remove deprecated methods in FactoryUtil.
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/factories/FactoryUtil.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/factories/utils/FactoryMocks.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/schema/CatalogSourceTable.java
Labels: component=TableSQL/API

#25615 [FLINK-36668][docs] Update AWS docs for v5.0
  docs/setup_docs.sh
Labels: component=<none>

#25596 [FLINK-36635][runtime] Remove PhysicalSlotRequestBulkImpl as it is not used
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/slotpool/PhysicalSlotRequestBulkImpl.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/ExecutionSlotSharingGroup.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/SharingPhysicalSlotRequestBulk.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/slotpool/PhysicalSlotRequestBulkCheckerImplTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/slotpool/TestingPhysicalSlotRequestBulkBuilder.java
Labels: component=Runtime/Coordination

#25642 [FLINK-36613] Fix unstable RescaleCheckpointManuallyITCase
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/RescaleCheckpointManuallyITCase.java
Labels: component=Tests, component=Runtime/Checkpointing

#25638 [FLINK-36598][state/ForSt] Provide FileSystem instance in initialization
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStKeyedStateBackend.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStKeyedStateBackendBuilder.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStResourceContainer.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStStateBackend.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/fs/ForStFlinkFileSystem.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/restore/ForStHandle.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/restore/ForStHeapTimersFullRestoreOperation.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/restore/ForStIncrementalRestoreOperation.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/restore/ForStNoneRestoreOperation.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/sync/ForStSyncKeyedStateBackend.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/sync/ForStSyncKeyedStateBackendBuilder.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/ForStExtension.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/ForStResourceContainerTest.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/ForStStateBackendConfigTest.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/fs/ForStFlinkFileSystemTest.java
Labels: component=Runtime/StateBackends

#25650 [FLINK-36287] Disallow UC for inner sink channels [1.20]
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/graph/StreamGraphGenerator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/partitioner/ForwardForConsecutiveHashPartitioner.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/partitioner/StreamPartitioner.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/translators/SinkTransformationTranslator.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/graph/SinkTransformationTranslatorITCaseBase.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/graph/SinkV1TransformationTranslatorITCase.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/sink/CommitterOperatorTestBase.java
  flink-tests/src/test/java/org/apache/flink/test/streaming/runtime/SinkITCase.java
Labels: component=<none>

#25651 [FLINK-36709][parquet] fix parquet can not read row with last column is array.
  flink-formats/flink-parquet/src/main/java/org/apache/flink/formats/parquet/utils/NestedPositionUtil.java
  flink-formats/flink-parquet/src/test/java/org/apache/flink/formats/parquet/vector/ParquetColumnarRowSplitReaderTest.java
Labels: component=Formats

#25624 [FLINK-16155][docs] Translate "Operator/Process Function" into Chinese
  docs/content.zh/docs/dev/datastream/operators/process_function.md
Labels: component=Documentation, component=chinese-translation

#25659 [FLINK-36368] Do not prematurely merge CommittableManager [1.20]
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/connector/sink2/CommittableWithLineage.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/connector/sink2/GlobalCommitterOperator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/connector/sink2/GlobalCommitterSerializer.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/sink/CommitterOperator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/sink/committables/CheckpointCommittableManager.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/sink/committables/CheckpointCommittableManagerImpl.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/sink/committables/CommitRequestImpl.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/sink/committables/CommittableCollector.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/sink/committables/CommittableCollectorSerializer.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/sink/committables/CommittableManager.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/sink/committables/SubtaskCommittableManager.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/connector/sink2/GlobalCommitterSerializerTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/sink/CommitterOperatorTestBase.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/sink/committables/CheckpointCommittableManagerImplTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/sink/committables/CommittableCollectorSerializerTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/sink/committables/CommittableCollectorTest.java
Labels: component=<none>

#25653 [FLINK-36711][runtime] Add tips when System out and err are redirected to LOG or discarded
  flink-runtime/src/main/java/org/apache/flink/runtime/taskexecutor/SystemOutRedirectionUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/taskexecutor/SystemOutRedirectionUtilsTest.java
Labels: component=Runtime/Configuration

#25652 [FLINK-36710] Log job ID in RecreateOnResetOperatorCoordinator
  flink-runtime/src/main/java/org/apache/flink/runtime/operators/coordination/RecreateOnResetOperatorCoordinator.java
  flink-tests/src/test/java/org/apache/flink/test/misc/JobIDLoggingITCase.java
Labels: component=Tests, component=Connectors/Common

#25655 [FLINK-36714][state] Ignore interrupted in sstmerge.CompactionScheduler#stop
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/state/rocksdb/sstmerge/CompactionScheduler.java
Labels: component=Runtime/StateBackends

#24448 [FLINK-34600][table] Migrate PushLimitIntoLegacyTableSourceScanRule to java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/rules/logical/PushLimitIntoLegacyTableSourceScanRule.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/rules/logical/PushLimitIntoLegacyTableSourceScanRule.scala
Labels: component=TableSQL/Planner

#25014 [FLINK-35751][table] Migrate SplitPythonConditionFromCorrelateRule to java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/rules/logical/CalcPythonCorrelateTransposeRule.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/rules/logical/SplitPythonConditionFromCorrelateRule.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/utils/PythonUtil.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/rules/logical/SplitPythonConditionFromCorrelateRule.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/utils/PythonUtil.scala
Labels: component=TableSQL/Planner

#25153 [FLINK-35977][doc] Missing an import in datastream.md
  docs/content.zh/docs/dev/datastream/operators/process_function.md
  docs/content.zh/docs/dev/table/data_stream_api.md
  docs/content.zh/docs/dev/table/sourcesSinks.md
  docs/content.zh/docs/try-flink/datastream.md
  docs/content/docs/dev/datastream/operators/process_function.md
  docs/content/docs/dev/table/data_stream_api.md
  docs/content/docs/dev/table/sourcesSinks.md
  docs/content/docs/try-flink/datastream.md
Labels: component=<none>

#25556 [FLINK-25546][FOLLOWUP] Fix illegal file name
  flink-connectors/flink-connector-base/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
Labels: component=Tests

#24256 [FLINK-31836][table] Upgrade Calcite version to 1.34.0
  docs/content.zh/docs/dev/table/sql/queries/deduplication.md
  docs/content.zh/docs/dev/table/sql/queries/topn.md
  docs/content/docs/dev/table/concepts/versioned_tables.md
  docs/content/docs/dev/table/sql/queries/deduplication.md
  docs/content/docs/dev/table/sql/queries/topn.md
  flink-table/flink-sql-parser/pom.xml
  flink-table/flink-sql-parser/src/main/codegen/data/Parser.tdd
  flink-table/flink-sql-parser/src/main/codegen/templates/Parser.jj
  flink-table/flink-table-calcite-bridge/pom.xml
  flink-table/flink-table-planner/src/main/java/org/apache/calcite/sql/validate/SqlValidatorImpl.java
  flink-table/flink-table-planner/src/main/java/org/apache/calcite/sql2rel/RelDecorrelator.java
  flink-table/flink-table-planner/src/main/java/org/apache/calcite/sql2rel/SqlToRelConverter.java
  flink-table/flink-table-planner/src/main/java/org/apache/calcite/sql2rel/StandardConvertletTable.java
  flink-table/flink-table-planner/src/main/java/org/apache/calcite/tools/RelBuilder.java
  flink-table/flink-table-planner/src/main/resources/META-INF/NOTICE
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/OverAggregateITCase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/RankITCase.scala
  flink-table/pom.xml
Labels: component=TableSQL/API

#25678 [FLINK-36751] Fix PausableRelativeClock does not pause when the source only has one split
  flink-runtime/src/main/java/org/apache/flink/streaming/api/operators/SourceOperator.java
  flink-runtime/src/test/java/org/apache/flink/streaming/api/operators/SourceOperatorSplitWatermarkAlignmentTest.java
Labels: component=API/DataStream

#25677 (1.20 backport)[FLINK-36751] Fix PausableRelativeClock does not pause when the source only has one split
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/SourceOperator.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/SourceOperatorSplitWatermarkAlignmentTest.java
Labels: component=API/DataStream

#25683 [FLINK-35977][doc] Missing an import in datastream.md [1.20 backport]
  docs/content.zh/docs/dev/datastream/operators/process_function.md
  docs/content.zh/docs/dev/table/data_stream_api.md
  docs/content.zh/docs/dev/table/sourcesSinks.md
  docs/content.zh/docs/try-flink/datastream.md
  docs/content/docs/dev/datastream/operators/process_function.md
  docs/content/docs/dev/table/data_stream_api.md
  docs/content/docs/dev/table/sourcesSinks.md
  docs/content/docs/try-flink/datastream.md
Labels: component=<none>

#25684 [FLINK-35977][doc] Missing an import in datastream.md [1.19 backport]
  docs/content.zh/docs/dev/datastream/operators/process_function.md
  docs/content.zh/docs/dev/table/data_stream_api.md
  docs/content.zh/docs/dev/table/sourcesSinks.md
  docs/content.zh/docs/try-flink/datastream.md
  docs/content/docs/dev/datastream/operators/process_function.md
  docs/content/docs/dev/table/data_stream_api.md
  docs/content/docs/dev/table/sourcesSinks.md
  docs/content/docs/try-flink/datastream.md
Labels: component=<none>

#25078 [FLINK-35825][hive] HiveTableSource supports report statistics for text file
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/HiveTableSource.java
  flink-connectors/flink-connector-hive/src/main/java/org/apache/flink/connectors/hive/util/TextFormatStatisticsReportUtil.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/HiveTableSourceStatisticsReportTest.java
  flink-connectors/flink-connector-hive/src/test/java/org/apache/flink/connectors/hive/util/TextFormatStatisticsReportUtilTest.java
  flink-connectors/flink-connector-hive/src/test/resources/explain/testAvgAggFunctionPlan.out
  flink-connectors/flink-connector-hive/src/test/resources/explain/testCountAggFunctionFallbackPlan.out
  flink-connectors/flink-connector-hive/src/test/resources/explain/testCountAggFunctionPlan.out
  flink-connectors/flink-connector-hive/src/test/resources/explain/testMaxAggFunctionPlan.out
  flink-connectors/flink-connector-hive/src/test/resources/explain/testMinAggFunctionPlan.out
  flink-connectors/flink-connector-hive/src/test/resources/explain/testSumAggFunctionPlan.out
Labels: component=Connectors/Hive

#25686 [FLINK-36789][table-common] Update FunctionHint and ArgumentHint with traits
  docs/content.zh/docs/dev/table/functions/udfs.md
  docs/content.zh/docs/dev/table/procedures.md
  docs/content/docs/dev/table/functions/udfs.md
  docs/content/docs/dev/table/procedures.md
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/annotation/ArgumentHint.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/annotation/ArgumentTrait.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/annotation/FunctionHint.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/annotation/ProcedureHint.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/extraction/BaseMappingExtractor.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/extraction/ExtractionUtils.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/extraction/FunctionTemplate.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/types/extraction/TypeInferenceExtractorTest.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/factories/TestProcedureCatalogFactory.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/runtime/stream/sql/FunctionITCase.java
Labels: component=TableSQL/API

#25573 [FLINK-33571][table] Backport json-path upgrades to deal with CVE
  flink-table/flink-table-calcite-bridge/pom.xml
  flink-table/flink-table-runtime/src/main/resources/META-INF/NOTICE
  flink-table/pom.xml
Labels: component=<none>

#25644 [FLINK-35334][flink-table] Split constructor of generated code if it is too large.
  flink-table/flink-table-code-splitter/src/main/java/org/apache/flink/table/codesplit/DeclarationRewriter.java
  flink-table/flink-table-code-splitter/src/main/java/org/apache/flink/table/codesplit/FunctionSplitter.java
  flink-table/flink-table-code-splitter/src/test/resources/splitter/code/TestSplitJavaCode.java
  flink-table/flink-table-code-splitter/src/test/resources/splitter/expected/TestSplitJavaCode.java
Labels: component=TableSQL/API, component=TableSQL/Runtime

#25688 [BP-1.20][FLINK-35334][flink-table] Split constructor of generated code if it …
  flink-table/flink-table-code-splitter/src/main/java/org/apache/flink/table/codesplit/DeclarationRewriter.java
  flink-table/flink-table-code-splitter/src/main/java/org/apache/flink/table/codesplit/FunctionSplitter.java
  flink-table/flink-table-code-splitter/src/test/resources/splitter/code/TestSplitJavaCode.java
  flink-table/flink-table-code-splitter/src/test/resources/splitter/expected/TestSplitJavaCode.java
Labels: component=TableSQL/API, component=TableSQL/Runtime

#25689 [BP-1.19][FLINK-35334][flink-table] Split constructor of generated code if it …
  flink-table/flink-table-code-splitter/src/main/java/org/apache/flink/table/codesplit/DeclarationRewriter.java
  flink-table/flink-table-code-splitter/src/main/java/org/apache/flink/table/codesplit/FunctionSplitter.java
  flink-table/flink-table-code-splitter/src/test/resources/splitter/code/TestSplitJavaCode.java
  flink-table/flink-table-code-splitter/src/test/resources/splitter/expected/TestSplitJavaCode.java
Labels: component=TableSQL/API, component=TableSQL/Runtime

#25697 [FLINK-35136][docs] Bump HBase connector docs version to v4.0
  docs/setup_docs.sh
Labels: component=Connectors/HBase

#25708 [FLINK-34194] Update CI to Ubuntu 22.04 (Jammy)
  .github/workflows/docs.yml
  .github/workflows/template.flink-ci.yml
  .github/workflows/template.pre-compile-checks.yml
  azure-pipelines.yml
  tools/azure-pipelines/build-apache-repo.yml
  tools/azure-pipelines/build-nightly-dist.yml
  tools/azure-pipelines/build-python-wheels.yml
Labels: component=BuildSystem/CI

#25704 [FLINK-36809][table] Support ignoreIfExists param for createTable
  flink-python/pyflink/table/table_environment.py
  flink-python/pyflink/table/tests/test_table_environment_api.py
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/TableEnvironment.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/TableEnvironmentImpl.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/api/TableEnvironmentTest.java
Labels: component=TableSQL/API

#24373 [FLINK-34503][table] Migrate JoinDeriveNullFilterRule to java.
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/rules/logical/JoinDeriveNullFilterRule.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/rules/logical/JoinDeriveNullFilterRule.scala
Labels: component=TableSQL/Planner

#25600 [FLINK-36643][filesystems] Update aws-java-sdk-core to 1.12.779
  flink-filesystems/flink-s3-fs-base/pom.xml
  flink-filesystems/flink-s3-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-s3-fs-presto/src/main/resources/META-INF/NOTICE
  flink-yarn/pom.xml
Labels: component=FileSystems

#25709 [FLINK-36643][filesystems] Update aws-java-sdk-core to 1.12.779 [1.20]
  flink-filesystems/flink-s3-fs-base/pom.xml
  flink-filesystems/flink-s3-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-s3-fs-presto/src/main/resources/META-INF/NOTICE
  flink-yarn/pom.xml
Labels: component=FileSystems
