Repository apache/flink, pull requests merged in 2025-04, with the labels that each got.

#26356 [FLINK-37570][metrics] Export default watermark if split doesn't have any
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/groups/InternalSourceSplitMetricGroup.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/operators/SourceOperator.java
  flink-runtime/src/test/java/org/apache/flink/streaming/api/operators/SourceOperatorTest.java
Labels: component=Runtime/Metrics

#26375 [FLINK-37547][docs] Document PTFs
  docs/content.zh/docs/dev/table/functions/ptfs.md
  docs/content.zh/docs/dev/table/functions/udfs.md
  docs/content.zh/docs/dev/table/types.md
  docs/content/docs/dev/table/functions/ptfs.md
  docs/content/docs/dev/table/functions/udfs.md
  docs/content/docs/dev/table/types.md
  docs/data/sql_functions.yml
  docs/data/sql_functions_zh.yml
  docs/static/fig/table-streaming/ptf_table_semantics.png
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/expressions/resolver/rules/ResolveCallByArgumentsRule.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/ProcessTableFunction.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamPhysicalProcessTableFunction.java
Labels: component=Documentation

#26383 [FLINK-37151][runtime-web] Remove redundant testing dependencies and files
  flink-runtime-web/web-dashboard/.prettierignore
  flink-runtime-web/web-dashboard/.stylelintignore
  flink-runtime-web/web-dashboard/angular.json
  flink-runtime-web/web-dashboard/package-lock.json
  flink-runtime-web/web-dashboard/package.json
  flink-runtime-web/web-dashboard/src/app/components/job-badge/job-badge.component.spec.ts
  flink-runtime-web/web-dashboard/src/app/services/job.service.spec.ts
  flink-runtime-web/web-dashboard/src/app/utils/is-nil.spec.ts
  flink-runtime-web/web-dashboard/src/karma.conf.js
  flink-runtime-web/web-dashboard/src/polyfills.ts
  flink-runtime-web/web-dashboard/src/test.ts
  flink-runtime-web/web-dashboard/src/tsconfig.app.json
  flink-runtime-web/web-dashboard/src/tsconfig.spec.json
  flink-runtime-web/web-dashboard/src/tslint.json
  pom.xml
Labels: component=Runtime/WebFrontend

#25997 [FLINK-37151][runtime-web] Remove redundant testing dependencies and files
  flink-runtime-web/web-dashboard/.prettierignore
  flink-runtime-web/web-dashboard/.stylelintignore
  flink-runtime-web/web-dashboard/angular.json
  flink-runtime-web/web-dashboard/package-lock.json
  flink-runtime-web/web-dashboard/package.json
  flink-runtime-web/web-dashboard/src/app/components/job-badge/job-badge.component.spec.ts
  flink-runtime-web/web-dashboard/src/app/services/job.service.spec.ts
  flink-runtime-web/web-dashboard/src/app/utils/is-nil.spec.ts
  flink-runtime-web/web-dashboard/src/karma.conf.js
  flink-runtime-web/web-dashboard/src/polyfills.ts
  flink-runtime-web/web-dashboard/src/test.ts
  flink-runtime-web/web-dashboard/src/tsconfig.app.json
  flink-runtime-web/web-dashboard/src/tsconfig.spec.json
  flink-runtime-web/web-dashboard/src/tslint.json
  pom.xml
Labels: component=Runtime/WebFrontend

#26328 [FLINK-37521][runtime] Implement async state version of KeyedCoProcessOperator
  flink-runtime/src/main/java/org/apache/flink/runtime/asyncprocessing/functions/DeclaringAsyncKeyedCoProcessFunction.java
  flink-runtime/src/main/java/org/apache/flink/runtime/asyncprocessing/operators/AbstractAsyncStateStreamOperator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/asyncprocessing/operators/co/AsyncIntervalJoinOperator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/asyncprocessing/operators/co/AsyncKeyedCoProcessOperator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/asyncprocessing/operators/co/AsyncKeyedCoProcessOperatorWithWatermarkDelay.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/datastream/ConnectedStreams.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/datastream/KeyedStream.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/transformations/TwoInputTransformation.java
  flink-runtime/src/test/java/org/apache/flink/runtime/asyncprocessing/operators/AbstractAsyncStateStreamOperatorTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/asyncprocessing/operators/AsyncIntervalJoinOperatorTest.java
  flink-streaming-java/src/test/java/org/apache/flink/asyncprocessing/operators/AsyncKeyedCoProcessOperatorTest.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecIntervalJoin.java
Labels: component=<none>

#26390 [FLINK-35117][Table SQL/Planner] Add commons-text to allowed classloader list
  flink-end-to-end-tests/flink-end-to-end-tests-table-api/pom.xml
  flink-end-to-end-tests/flink-end-to-end-tests-table-api/src/main/java/org/apache/flink/table/test/async/AsyncScalarFunctionExample.java
  flink-end-to-end-tests/flink-end-to-end-tests-table-api/src/test/java/org/apache/flink/table/test/async/AsyncScalarFunctionTest.java
  flink-end-to-end-tests/pom.xml
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/planner/loader/PlannerModule.java
Labels: component=TableSQL/Planner

#26398 [FLINK-37609][format] Bump parquet from 1.14.4 to 1.15.1
  flink-formats/flink-sql-parquet/src/main/resources/META-INF/NOTICE
  flink-formats/pom.xml
Labels: component=Formats

#26399 [BP-1.20][FLINK-37505][python] Add pyflink YAML based config support
  flink-python/pyflink/common/configuration.py
  flink-python/pyflink/common/tests/test_configuration.py
  flink-python/pyflink/datastream/stream_execution_environment.py
  flink-python/pyflink/datastream/tests/test_stream_execution_environment.py
  flink-python/pyflink/table/table_config.py
  flink-python/pyflink/table/table_environment.py
Labels: component=API/Python

#26404 [BP-1.19][FLINK-37505][python] Add pyflink YAML based config support
  flink-python/pyflink/common/configuration.py
  flink-python/pyflink/common/tests/test_configuration.py
  flink-python/pyflink/datastream/stream_execution_environment.py
  flink-python/pyflink/datastream/tests/test_stream_execution_environment.py
  flink-python/pyflink/table/table_config.py
  flink-python/pyflink/table/table_environment.py
Labels: component=API/Python

#26402 [BP 1.20][FLINK-35117][Table SQL/Planner] Add commons-text to allowed classloader list
  flink-end-to-end-tests/flink-end-to-end-tests-table-api/pom.xml
  flink-end-to-end-tests/flink-end-to-end-tests-table-api/src/main/java/org/apache/flink/table/test/async/AsyncScalarFunctionExample.java
  flink-end-to-end-tests/flink-end-to-end-tests-table-api/src/test/java/org/apache/flink/table/test/async/AsyncScalarFunctionTest.java
  flink-end-to-end-tests/pom.xml
  flink-table/flink-table-planner-loader/src/main/java/org/apache/flink/table/planner/loader/PlannerModule.java
Labels: component=TableSQL/Planner

#26401 [BP 2.0][FLINK-35117][Table SQL/Planner] Add commons-text to allowed classloader list
  flink-end-to-end-tests/flink-end-to-end-tests-table-api/pom.xml
  flink-end-to-end-tests/flink-end-to-end-tests-table-api/src/main/java/org/apache/flink/table/test/async/AsyncScalarFunctionExample.java
  flink-end-to-end-tests/flink-end-to-end-tests-table-api/src/test/java/org/apache/flink/table/test/async/AsyncScalarFunctionTest.java
  flink-end-to-end-tests/pom.xml
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/planner/loader/PlannerModule.java
Labels: component=TableSQL/Planner

#26411 [BP-2.0][FLINK-37609][format] Bump parquet to 1.15.1
  flink-formats/flink-sql-parquet/src/main/resources/META-INF/NOTICE
  flink-formats/pom.xml
Labels: component=Formats

#26394 [BP-2.0][FLINK-37597][state/forst] Use ResourceGuard to make sure snapshot quit before ForSt disposal
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStKeyedStateBackend.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStKeyedStateBackendBuilder.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/snapshot/ForStNativeFullSnapshotStrategy.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/snapshot/ForStSnapshotStrategyBase.java
Labels: component=Runtime/StateBackends

#26391 [FLINK-37524] Make ForStState Restore from previous StateMetaInfo
  flink-runtime/src/main/java/org/apache/flink/runtime/state/v2/AbstractAggregatingState.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/v2/AbstractKeyedState.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/v2/AbstractListState.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/v2/AbstractMapState.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/v2/AbstractReducingState.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/v2/AbstractValueState.java
  flink-runtime/src/test/java/org/apache/flink/runtime/asyncprocessing/AsyncExecutionControllerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/v2/AbstractAggregatingStateTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/v2/AbstractListStateTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/v2/AbstractMapStateTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/v2/AbstractReducingStateTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/v2/AbstractValueStateTest.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStAggregatingState.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStKeyedStateBackend.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStListState.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStMapState.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStReducingState.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStValueState.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/ForStDBOperationTestBase.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/ForStStateMigrationTest.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/ForStStateTestBase.java
Labels: component=Runtime/StateBackends

#26393 [FLINK-37407][state] Add savepoint metadata SQL built-in process function
  docs/content/docs/libs/state_processor_api.md
  flink-libraries/flink-state-processing-api/pom.xml
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/table/SavepointConnectorOptions.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/table/SavepointDataStreamScanProvider.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/table/SavepointDynamicTableSource.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/table/SavepointMetadataTableFunction.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/table/module/StateModule.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/table/module/StateModuleFactory.java
  flink-libraries/flink-state-processing-api/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  flink-libraries/flink-state-processing-api/src/test/java/org/apache/flink/state/table/SavepointDynamicTableSourceTest.java
  flink-libraries/flink-state-processing-api/src/test/java/org/apache/flink/state/table/SavepointMetadataDynamicTableSourceTest.java
Labels: component=API/StateProcessor

#26387 [FLINK-37601] Remove Unirest dependency in PrometheusReporterTest
  flink-metrics/flink-metrics-prometheus/pom.xml
  flink-metrics/flink-metrics-prometheus/src/test/java/org/apache/flink/metrics/prometheus/PrometheusReporterTaskScopeTest.java
  flink-metrics/flink-metrics-prometheus/src/test/java/org/apache/flink/metrics/prometheus/PrometheusReporterTest.java
Labels: component=<none>

#26395 [BP-2.0][FLINK-37458][datastream] Forbid enableAsyncState() for synchronous operators
  flink-runtime/src/main/java/org/apache/flink/streaming/api/transformations/OneInputTransformation.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/graph/JobGraphGeneratorTestBase.java
Labels: component=<none>

#26403 [FLINK-37616][python] Fix incorrect unpickling of Row fields
  flink-python/pyflink/table/tests/test_table_environment_api.py
  flink-python/pyflink/table/utils.py
Labels: component=API/Python

#26388 [FLINK-37596][metrics] Close metric group of a finished split
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/groups/InternalSourceSplitMetricGroup.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/operators/SourceOperator.java
  flink-runtime/src/test/java/org/apache/flink/streaming/api/operators/SourceOperatorSplitWatermarkAlignmentTest.java
  flink-runtime/src/test/java/org/apache/flink/streaming/api/operators/source/TestingSourceOperator.java
Labels: component=Runtime/Metrics

#26412 [FLINK-37620][state/forst] ForSt Sync mode support remote storage
  docs/content.zh/docs/ops/state/disaggregated_state.md
  docs/content/docs/ops/state/disaggregated_state.md
  docs/layouts/shortcodes/generated/forst_configuration.html
  docs/layouts/shortcodes/generated/state_backend_forst_section.html
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStKeyedStateBackendBuilder.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStOptions.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStStateBackend.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/sync/ForStPriorityQueueConfig.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/sync/ForStSyncKeyedStateBackend.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/sync/ForStSyncKeyedStateBackendBuilder.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/ForStStateBackendTest.java
Labels: component=<none>

#26415 [FLINK-37628] Fix reference counting in ForSt file cache
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/fs/cache/CachedDataInputStream.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/fs/cache/FileBasedCache.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/fs/ForStFlinkFileSystemTest.java
Labels: component=Runtime/StateBackends

#25511 [hotfix] [docs] Fix size of PyFlink INT
  flink-python/pyflink/table/types.py
Labels: stale

#26416 [FLINK-37553] Make ForStKeyedStateBackend update NamespaceSerializer during restoring state
  flink-runtime/src/main/java/org/apache/flink/runtime/state/v2/RegisteredKeyValueStateBackendMetaInfo.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStKeyedStateBackend.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/ForStStateMigrationTest.java
Labels: component=Runtime/StateBackends

#26422 [BP-2.0][FLINK-37620][state/forst] ForSt Sync mode support remote storage
  docs/content.zh/docs/ops/state/disaggregated_state.md
  docs/content/docs/ops/state/disaggregated_state.md
  docs/layouts/shortcodes/generated/forst_configuration.html
  docs/layouts/shortcodes/generated/state_backend_forst_section.html
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStKeyedStateBackendBuilder.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStOptions.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStStateBackend.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/sync/ForStPriorityQueueConfig.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/sync/ForStSyncKeyedStateBackend.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/sync/ForStSyncKeyedStateBackendBuilder.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/ForStStateBackendTest.java
Labels: component=<none>

#26421 [BP-2.0][FLINK-37628] Fix reference counting in ForSt file cache
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/fs/cache/CachedDataInputStream.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/fs/cache/FileBasedCache.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/fs/ForStFlinkFileSystemTest.java
Labels: component=Runtime/StateBackends

#26320 [FLINK-37511][rest] Use Jackson serialization in JobPlanInfo.Plan
  docs/layouts/shortcodes/generated/rest_v1_dispatcher.html
  docs/static/generated/rest_v1_dispatcher.yml
  flink-clients/src/test/java/org/apache/flink/client/program/rest/RestClusterClientTest.java
  flink-runtime-web/src/test/java/org/apache/flink/runtime/webmonitor/handlers/JarSubmissionITCase.java
  flink-runtime-web/src/test/resources/rest_api_v1.snapshot
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/AccessExecutionGraph.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/ArchivedExecutionGraph.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/DefaultExecutionGraph.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/DefaultExecutionGraphBuilder.java
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/ExecutionGraph.java
  flink-runtime/src/main/java/org/apache/flink/runtime/jobgraph/jsonplan/JsonPlanGenerator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/handler/job/JobDetailsHandler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/handler/job/JobPlanHandler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/messages/JobPlanInfo.java
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/messages/job/JobDetailsInfo.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/CreatingExecutionGraph.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptivebatch/AdaptiveBatchScheduler.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/ExecutionGraphInfoStoreTestUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/ArchivedExecutionGraphTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobgraph/jsonplan/JsonGeneratorTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/handler/legacy/utils/ArchivedExecutionGraphBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/rest/messages/job/JobDetailsInfoTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveSchedulerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/StateTrackingMockExecutionGraph.java
  flink-tests/src/test/java/org/apache/flink/test/scheduling/ReactiveModeITCase.java
Labels: component=Documentation, component=Runtime/REST

#26407 [FLINK-37610] Check if orderBy keys exists before accessing
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/optimize/program/FlinkChangelogModeInferenceProgram.scala
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/agg/OverAggregateTest.xml
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/agg/OverAggregateTest.scala
Labels: component=TableSQL/Planner

#26419 [FLINK-37623][datastream] Async state support for process() in Datastream API
  flink-runtime/src/main/java/org/apache/flink/streaming/api/datastream/KeyedStream.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/DataStreamTest.java
Labels: component=<none>

#26436 [FLINK-37643] Support partial deletes when converting to external data structures
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/data/ArrayData.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/data/RowData.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/data/DataStructureConvertersTest.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/typeutils/RowDataSerializerTest.java
Labels: component=TableSQL/Runtime

#26437 [FLINK-37649][datagen] Datagen connector cannot set length for collection type
  flink-table/flink-table-api-java-bridge/src/main/java/org/apache/flink/connector/datagen/table/RandomGeneratorVisitor.java
  flink-table/flink-table-api-java-bridge/src/test/java/org/apache/flink/table/factories/DataGenTableSourceFactoryTest.java
Labels: component=Connectors/Common

#26440 [FLINK-37554] Add unit tests for state compatibility between ForStKeyeStateBackend and ForStSyncKeyeStateBackend
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/ForStAsyncAndSyncCompatibilityTest.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/ForStStateMigrationTest.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/ForStTestUtils.java
Labels: component=Runtime/StateBackends

#26452 [FLINK-37671] Fix ChangelogMode#toString
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/connector/ChangelogMode.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/connector/ChangelogModeTest.java
Labels: component=TableSQL/API

#26439 [BP-2.0][FLINK-37623][datastream] Async state support for process() in Datastream API
  flink-runtime/src/main/java/org/apache/flink/streaming/api/datastream/KeyedStream.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/DataStreamTest.java
Labels: component=<none>

#26428 [FLINK-37638] Avoid duplicate call on getEffectiveConfiguration
  flink-clients/src/main/java/org/apache/flink/client/cli/CliFrontend.java
  flink-clients/src/test/java/org/apache/flink/client/cli/CliFrontendRunTest.java
Labels: component=CommandLineClient

#26274 [FLINK-37298] Added Pluggable Components for BatchStrategy & BufferWrapper in AsyncSinkWriter.
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/sink/writer/AsyncSinkWriter.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/sink/writer/Batch.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/sink/writer/BatchCreator.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/sink/writer/BufferedRequestState.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/sink/writer/DequeRequestBuffer.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/sink/writer/RequestBuffer.java
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/sink/writer/SimpleBatchCreator.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/writer/AsyncSinkWriterTest.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/writer/BatchTest.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/writer/DequeRequestBufferTest.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/sink/writer/SimpleBatchCreatorTest.java
Labels: component=Connectors/Common

#26453 [FLINK-37670][runtime] Fix watermark alignment can deadlock job if there are no more splits to be assigned
  flink-runtime/src/main/java/org/apache/flink/runtime/operators/coordination/OperatorEvent.java
  flink-runtime/src/main/java/org/apache/flink/runtime/operators/coordination/SubtaskGatewayImpl.java
  flink-runtime/src/main/java/org/apache/flink/runtime/source/coordinator/SourceCoordinator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/source/event/WatermarkAlignmentEvent.java
  flink-runtime/src/test/java/org/apache/flink/runtime/operators/coordination/EventReceivingTasks.java
  flink-runtime/src/test/java/org/apache/flink/runtime/operators/coordination/SubtaskGatewayImplTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/operators/coordination/TestOperatorEvent.java
  flink-tests/src/test/java/org/apache/flink/test/streaming/api/datastream/WatermarkAlignmentITCase.java
Labels: component=API/DataStream, component=Runtime/Task

#26361 [FLINK-37540][table-planner] Introduce SupportsTargetColumnWriting sink ability
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/connector/sink/DynamicTableSink.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/connector/sink/abilities/SupportsTargetColumnWriting.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/connectors/DynamicSinkUtils.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/abilities/sink/SinkAbilitySpec.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/abilities/sink/TargetColumnWritingSpec.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/factories/TestValuesTableFactory.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/serde/DynamicTableSinkSpecSerdeTest.java
Labels: component=TableSQL/API

#26468 [FLINK-37670][runtime] Fix watermark alignment can deadlock job if there are no more splits to be assigned (2.0)
  flink-runtime/src/main/java/org/apache/flink/runtime/operators/coordination/OperatorEvent.java
  flink-runtime/src/main/java/org/apache/flink/runtime/operators/coordination/SubtaskGatewayImpl.java
  flink-runtime/src/main/java/org/apache/flink/runtime/source/coordinator/SourceCoordinator.java
  flink-runtime/src/main/java/org/apache/flink/runtime/source/event/WatermarkAlignmentEvent.java
  flink-runtime/src/test/java/org/apache/flink/runtime/operators/coordination/EventReceivingTasks.java
  flink-runtime/src/test/java/org/apache/flink/runtime/operators/coordination/SubtaskGatewayImplTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/operators/coordination/TestOperatorEvent.java
  flink-tests/src/test/java/org/apache/flink/test/streaming/api/datastream/WatermarkAlignmentITCase.java
Labels: component=API/DataStream, component=Runtime/Task

#26471 [FLINK-35652][doc] Add document for lookup custom shuffle
  docs/content.zh/docs/dev/table/sql/queries/hints.md
  docs/content/docs/dev/table/sql/queries/hints.md
Labels: component=TableSQL/Planner

#26455 [FLINK-37658][docs] Improve the Datagen connector docs
  docs/content.zh/docs/connectors/table/datagen.md
  docs/content/docs/connectors/table/datagen.md
Labels: component=Documentation

#25837 [FLINK-34558][state] Support tracking state size
  docs/content.zh/docs/ops/metrics.md
  docs/content/docs/ops/metrics.md
  docs/layouts/shortcodes/generated/state_size_track_configuration.html
  docs/layouts/shortcodes/generated/state_size_tracking_section.html
  flink-annotations/src/main/java/org/apache/flink/annotation/docs/Documentation.java
  flink-core/src/main/java/org/apache/flink/configuration/StateSizeTrackOptions.java
  flink-libraries/flink-state-processing-api/src/test/java/org/apache/flink/state/api/input/MultiStateKeyIteratorTest.java
  flink-queryable-state/flink-queryable-state-runtime/src/test/java/org/apache/flink/queryablestate/network/KvStateRequestSerializerTest.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/AbstractKeyedStateBackend.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/AbstractKeyedStateBackendBuilder.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/AbstractStateBackend.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/hashmap/HashMapStateBackend.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/heap/HeapKeyedStateBackend.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/heap/HeapKeyedStateBackendBuilder.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/metrics/AbstractMetricsTrackState.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/metrics/LatencyTrackingListState.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/metrics/LatencyTrackingMapState.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/metrics/LatencyTrackingStateConfig.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/metrics/LatencyTrackingValueState.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/metrics/MetricsTrackingAggregatingState.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/metrics/MetricsTrackingListState.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/metrics/MetricsTrackingMapState.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/metrics/MetricsTrackingReducingState.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/metrics/MetricsTrackingStateConfig.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/metrics/MetricsTrackingStateFactory.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/metrics/MetricsTrackingValueState.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/metrics/SizeTrackingStateConfig.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/metrics/StateMetricBase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/StateBackendTestBase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/StateBackendTestUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/StateSnapshotCompressionTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/metrics/LatencyTrackingStateFactoryTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/metrics/MetricsTrackingAggregatingStateTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/metrics/MetricsTrackingListStateTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/metrics/MetricsTrackingMapStateTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/metrics/MetricsTrackingReducingStateTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/metrics/MetricsTrackingStateConfigTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/metrics/MetricsTrackingStateFactoryTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/metrics/MetricsTrackingStateTestBase.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/metrics/MetricsTrackingValueStateTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/ttl/mock/MockKeyedStateBackend.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/ttl/mock/MockKeyedStateBackendBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/ttl/mock/MockStateBackend.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/v2/AsyncKeyedStateBackendAdaptorTest.java
  flink-runtime/src/test/java/org/apache/flink/streaming/runtime/tasks/TestStateBackend.java
  flink-state-backends/flink-statebackend-changelog/src/main/java/org/apache/flink/state/changelog/ChangelogKeyedStateBackend.java
  flink-state-backends/flink-statebackend-changelog/src/test/java/org/apache/flink/state/changelog/ChangelogKeyedStateBackendTest.java
  flink-state-backends/flink-statebackend-changelog/src/test/java/org/apache/flink/state/changelog/ChangelogStateDiscardTest.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStStateBackend.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/sync/ForStSyncKeyedStateBackend.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/sync/ForStSyncKeyedStateBackendBuilder.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/state/rocksdb/EmbeddedRocksDBStateBackend.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/state/rocksdb/RocksDBKeyedStateBackend.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/state/rocksdb/RocksDBKeyedStateBackendBuilder.java
  flink-state-backends/flink-statebackend-rocksdb/src/test/java/org/apache/flink/state/rocksdb/RocksDBTestUtils.java
  flink-test-utils-parent/flink-test-utils/src/test/java/org/apache/flink/state/benchmark/StateBackendBenchmarkUtils.java
  flink-tests/src/test/java/org/apache/flink/test/state/BackendSwitchSpecs.java
Labels: component=Runtime/StateBackends

#26379 [FLINK-37543][table-planner] Support sink reuse in batch mode
  docs/layouts/shortcodes/generated/optimizer_config_configuration.html
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/config/OptimizerConfigOptions.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/reuse/SinkReuser.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/delegation/PlannerBase.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/batch/BatchPhysicalSink.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/reuse/SubplanReuser.scala
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/batch/sql/BatchSinkReuseTest.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/common/SinkReuseTestBase.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/runtime/common/sql/SinkReuseITCase.java
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/BatchSinkReuseTest.xml
Labels: component=TableSQL/Planner

#26489 [FLINK-37697][runtime] Fix application mode cluster shut down before …
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/Dispatcher.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/DispatcherTest.java
Labels: component=Runtime/Coordination

#26499 [FLINK-37691] Do not remove ChangelogNormalize if deduplication was requested
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/optimize/ChangelogNormalizeRequirementResolver.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/stream/sql/ChangelogNormalizeOptimizationTest.java
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/ChangelogNormalizeOptimizationTest.xml
Labels: component=TableSQL/Runtime

#26461 [FLINK-37680][serializer] Add subclass cache for PojoSerializer
  flink-core/src/main/java/org/apache/flink/api/java/typeutils/runtime/PojoSerializer.java
Labels: component=API/TypeSerializationSystem

#26380 [FLINK-37542][table-planner] Support sink reuse in streaming mode
  docs/layouts/shortcodes/generated/optimizer_config_configuration.html
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/config/OptimizerConfigOptions.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/reuse/SinkReuser.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamPhysicalSink.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/reuse/SubplanReuser.scala
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/common/SinkReuseTestBase.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/stream/sql/StreamSinkReuseTest.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/runtime/common/sql/SinkReuseITCase.java
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/StreamSinkReuseTest.xml
Labels: component=TableSQL/Planner

#26492 [FLINK-37709][metrics] add file descriptor jvm metrics
  docs/content.zh/docs/ops/metrics.md
  docs/content/docs/ops/metrics.md
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/MetricNames.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/util/MetricUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/util/MetricUtilsTest.java
Labels: component=Runtime/Metrics

#26508 [FLINK-26425][yarn] Support rolling log aggregation
  docs/layouts/shortcodes/generated/yarn_config_configuration.html
  flink-yarn/src/main/java/org/apache/flink/yarn/YarnClusterDescriptor.java
  flink-yarn/src/main/java/org/apache/flink/yarn/configuration/YarnConfigOptions.java
  flink-yarn/src/test/java/org/apache/flink/yarn/YarnClusterDescriptorTest.java
Labels: component=Deployment/YARN

#26497 [FLINK-37693][state] Avoid reading NOT_OWNED file by local file system when restoring
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/fs/ForStFlinkFileSystem.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/fs/filemapping/FileOwnershipDecider.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/fs/ForStFlinkFileSystemTest.java
Labels: component=Runtime/StateBackends

#26506 [FLINK-37728][python] add support org.apache.flink.table.runtime.operators.window.GlobalWindow
  flink-python/pyflink/datastream/data_stream.py
  flink-python/pyflink/fn_execution/embedded/converters.py
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/window/GlobalWindow.java
  flink-tests/src/test/java/org/apache/flink/test/completeness/TypeSerializerTestCoverageTest.java
Labels: component=API/Python

#26516 [FLINK-37745] Serialize partial deletes in ChangelogMode to JSON
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/connector/ChangelogMode.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/serde/ChangelogModeJsonDeserializer.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/serde/ChangelogModeJsonSerializer.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/serde/ChangelogModeJsonSerdeTest.java
Labels: component=TableSQL/Planner

#26474 [FLINK-37695][table] Fix parsing for built-in function JSON in JSON_OBJECT for all positions
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/ExprCodeGenerator.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/JsonGenerateUtils.scala
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/functions/JsonFunctionsITCase.java
Labels: component=TableSQL/API

#25890 [FLINK-37078] Fix for jackson-mapper-asl 1.9.13 vulnerability
  flink-filesystems/flink-azure-fs-hadoop/src/main/resources/META-INF/NOTICE
  flink-filesystems/flink-hadoop-fs/pom.xml
  pom.xml
Labels: component=FileSystems
