Repository apache/flink, pull requests merged in 2025-03, with the labels that each got.

#26204 [FLINK-36172][metrics][rest] Optimize transient metric cleanup
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/handler/legacy/metrics/MetricStore.java
Labels: component=Runtime/Metrics, component=Runtime/REST

#26232 [BP-2.0][FLINK-36172][runtime] Optimize transient metric cleanup
  flink-runtime/src/main/java/org/apache/flink/runtime/rest/handler/legacy/metrics/MetricStore.java
Labels: component=Runtime/Metrics, component=Runtime/REST

#26233 [FLINK-37148][docs] Update DataStream V2 documents for StateManager#getState and StateManager#getStateOptional methods
  docs/content.zh/docs/dev/datastream-v2/context_and_state_processing.md
  docs/content/docs/dev/datastream-v2/context_and_state_processing.md
Labels: component=<none>

#26234 [BP-2.0][FLINK-37148][docs] Update DataStream V2 documents for StateManager#getState and StateManager#getStateOptional methods
  docs/content.zh/docs/dev/datastream-v2/context_and_state_processing.md
  docs/content/docs/dev/datastream-v2/context_and_state_processing.md
Labels: component=<none>

#26240 [FLINK-37387][build] Enable license check for jdk17 and jdk21
  tools/ci/compile.sh
Labels: component=BuildSystem

#26243 [backport][FLINK-3154][API] Upgrade from Kryo 2.x to Kryo 5.x. Removed twitter chill companion library which is abandoned.
  flink-architecture-tests/flink-architecture-tests-production/archunit-violations/7602816f-5c01-4b7a-9e3e-235dfedec245
  flink-connectors/flink-hadoop-compatibility/src/main/java/org/apache/flink/api/java/typeutils/runtime/WritableComparator.java
  flink-connectors/flink-hadoop-compatibility/src/main/java/org/apache/flink/api/java/typeutils/runtime/WritableSerializer.java
  flink-core/pom.xml
  flink-core/src/main/java/org/apache/flink/api/java/typeutils/runtime/KryoRegistration.java
  flink-core/src/main/java/org/apache/flink/api/java/typeutils/runtime/NoFetchingInput.java
  flink-core/src/main/java/org/apache/flink/api/java/typeutils/runtime/ValueComparator.java
  flink-core/src/main/java/org/apache/flink/api/java/typeutils/runtime/ValueSerializer.java
  flink-core/src/main/java/org/apache/flink/api/java/typeutils/runtime/kryo/KryoSerializer.java
  flink-core/src/main/java/org/apache/flink/api/java/typeutils/runtime/kryo/Serializers.java
  flink-core/src/test/java/org/apache/flink/api/common/ExecutionConfigTest.java
  flink-core/src/test/java/org/apache/flink/api/common/serialization/SerializerConfigImplTest.java
  flink-core/src/test/java/org/apache/flink/api/java/typeutils/runtime/kryo/KryoClearedBufferTest.java
  flink-core/src/test/java/org/apache/flink/api/java/typeutils/runtime/kryo/KryoPojosForMigrationTests.java
  flink-core/src/test/java/org/apache/flink/api/java/typeutils/runtime/kryo/KryoSerializerConcurrencyTest.java
  flink-core/src/test/java/org/apache/flink/api/java/typeutils/runtime/kryo/KryoSerializerUpgradeTest.java
  flink-core/src/test/java/org/apache/flink/api/java/typeutils/runtime/kryo/KryoWithCustomSerializersTest.java
  flink-core/src/test/java/org/apache/flink/testutils/runtime/NoFetchingInputTest.java
  flink-core/src/test/resources/type-without-avro-serialized-using-kryo
  flink-dist-scala/pom.xml
  flink-dist-scala/src/main/resources/META-INF/NOTICE
  flink-dist/pom.xml
  flink-dist/src/main/resources/META-INF/NOTICE
  flink-end-to-end-tests/flink-end-to-end-tests-scala/src/main/java/org/apache/flink/tests/scala/NonPojoSerializer.java
  flink-formats/flink-avro/src/main/java/org/apache/flink/formats/avro/utils/AvroKryoSerializerUtils.java
  flink-formats/flink-avro/src/test/java/org/apache/flink/formats/avro/utils/AvroKryoSerializerTests.java
  flink-libraries/flink-cep/src/test/java/org/apache/flink/cep/operator/CEPMigrationTest.java
  flink-queryable-state/flink-queryable-state-runtime/src/test/java/org/apache/flink/queryablestate/itcases/AbstractQueryableStateTestBase.java
  flink-runtime/src/main/java/org/apache/flink/runtime/checkpoint/StateObjectCollectionSerializer.java
  flink-streaming-java/pom.xml
  flink-streaming-java/src/main/java/org/apache/flink/streaming/util/serialize/FlinkChillPackageRegistrar.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/util/serialize/InetSocketAddressSerializer.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/util/serialize/PriorityQueueSerializer.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/environment/StreamExecutionEnvironmentComplexConfigurationTest.java
  flink-table/flink-table-api-scala/pom.xml
  flink-table/flink-table-api-scala/src/main/scala/org/apache/flink/table/api/runtime/types/ClassTagSerializer.scala
  flink-table/flink-table-api-scala/src/main/scala/org/apache/flink/table/api/runtime/types/EitherSerializer.scala
  flink-table/flink-table-api-scala/src/main/scala/org/apache/flink/table/api/runtime/types/FlinkScalaKryoInstantiator.scala
  flink-table/flink-table-api-scala/src/main/scala/org/apache/flink/table/api/runtime/types/JavaIterableWrapperSerializer.scala
  flink-table/flink-table-api-scala/src/main/scala/org/apache/flink/table/api/runtime/types/KryoTraversableSerializer.scala
  flink-table/flink-table-api-scala/src/main/scala/org/apache/flink/table/api/runtime/types/SingletonSerializer.scala
  flink-table/flink-table-api-scala/src/main/scala/org/apache/flink/table/api/runtime/types/SomeSerializer.scala
  flink-table/flink-table-api-scala/src/main/scala/org/apache/flink/table/api/runtime/types/SymbolSerializer.scala
  flink-table/flink-table-api-scala/src/main/scala/org/apache/flink/table/api/runtime/types/TupleSerializers.scala
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/typeutils/SerializerTestUtil.java
  pom.xml
Labels: component=API/TypeSerializationSystem

#26241 [FLINK-35810][BP-2.0] Fix AsyncWaitOperatorTest missing endInput bug
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/async/AsyncWaitOperatorTest.java
Labels: component=Tests

#26242 [FLINK-35810] Fix AsyncWaitOperatorTest missing endInput bug
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/async/AsyncWaitOperatorTest.java
Labels: component=Tests

#26246 [FLINK-37420] fix AbstractAggregatingState add may return wrong result
  flink-runtime/src/main/java/org/apache/flink/runtime/state/v2/AbstractAggregatingState.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/v2/AbstractAggregatingStateTest.java
Labels: component=Runtime/StateBackends

#26251 [FLINK-37424][release] Using JDK11 for the binary convenience release
  pom.xml
Labels: component=ReleaseSystem

#26260 [FLINK-37424][release] Using JDK11 for the nightly binary release
  tools/azure-pipelines/build-apache-repo.yml
Labels: component=ReleaseSystem

#26202 [FLINK-37367][state/forst] Make ForSt inherit uploaded SST files after restorations.
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStKeyedStateBackendBuilder.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/datatransfer/CopyDataTransferStrategy.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/fs/filemapping/FileMappingManager.java
Labels: component=<none>

#26259 [BP-2.0][FLINK-37367][state/forst] Make ForSt inherit uploaded SST files after restorations.
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStKeyedStateBackendBuilder.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/datatransfer/CopyDataTransferStrategy.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/fs/filemapping/FileMappingManager.java
Labels: component=<none>

#26253 [FLINK-37425] Sanity check before ForSt cache created
  docs/layouts/shortcodes/generated/forst_configuration.html
  docs/layouts/shortcodes/generated/state_backend_forst_section.html
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStOptions.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/fs/ForStFlinkFileSystem.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/fs/cache/SpaceBasedCacheLimitPolicy.java
Labels: component=<none>

#26254 [BP-2.0][FLINK-37425] Sanity check before ForSt cache created
  docs/layouts/shortcodes/generated/forst_configuration.html
  docs/layouts/shortcodes/generated/state_backend_forst_section.html
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStOptions.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/fs/ForStFlinkFileSystem.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/fs/cache/SpaceBasedCacheLimitPolicy.java
Labels: component=<none>

#26267 [FLINK-37434][state/forst] Make incremental checkpoint configurable in ForStSyncKeyedStateBackend
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStStateBackend.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/sync/ForStSyncKeyedStateBackendBuilder.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/ForStStateBackendTest.java
Labels: component=<none>

#26269 [BP-2.0][FLINK-37434][state/forst] Make incremental checkpoint configurable in ForStSyncKeyedStateBackend
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStStateBackend.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/sync/ForStSyncKeyedStateBackendBuilder.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/ForStStateBackendTest.java
Labels: component=<none>

#26271 [FLINK-37437][state/forst] Fix #exist and #getFileStatus to give the information of writing files
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/fs/ForStFlinkFileSystem.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/fs/filemapping/FSDataOutputStreamWithEntry.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/fs/filemapping/FileMappingManager.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/fs/filemapping/MappingEntry.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/fs/ForStFlinkFileSystemTest.java
Labels: component=Runtime/StateBackends

#26272 [BP-2.0][FLINK-37437][state/forst] Fix #exist and #getFileStatus to give the information of writing files
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/fs/ForStFlinkFileSystem.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/fs/filemapping/FSDataOutputStreamWithEntry.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/fs/filemapping/FileMappingManager.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/fs/filemapping/MappingEntry.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/fs/ForStFlinkFileSystemTest.java
Labels: component=Runtime/StateBackends

#26275 [FLINK-36402] edgeRemapings typo fixed to edgeRemappings
  flink-runtime/src/main/java/org/apache/flink/streaming/api/graph/JSONGenerator.java
Labels: component=API/DataStream

#26209 [FLINK-37381] [doc] Fix typo in Join document
  docs/content/docs/dev/table/sql/queries/joins.md
Labels: component=Documentation

#26250 [FLINK-37302][table] Support PTFs with time and timer services
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/test/program/FailingSqlTestStep.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/test/program/SqlTestStep.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/test/program/TableTestProgram.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/test/program/TestStep.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/annotation/ArgumentTrait.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/ProcessTableFunction.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/UserDefinedFunctionHelper.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/inference/StaticArgumentTrait.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/inference/SystemTypeInference.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecProcessTableFunction.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamPhysicalProcessTableFunction.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/ProcessTableRunnerGenerator.scala
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/stream/ProcessTableFunctionSemanticTests.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/stream/ProcessTableFunctionTestPrograms.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/stream/ProcessTableFunctionTestUtils.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/testutils/SemanticTestBase.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/stream/sql/ProcessTableFunctionTest.java
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/ProcessTableFunctionTest.xml
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/generated/ProcessTableRunner.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/process/ExternalTimeContext.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/process/PassAllCollector.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/process/PassPartitionKeysCollector.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/process/PassThroughCollectorBase.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/process/ProcessTableOperator.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/process/ReadableInternalTimeContext.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/process/RuntimeTableSemantics.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/process/TimeConverter.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/process/WritableInternalTimeContext.java
Labels: component=TableSQL/Planner, component=TableSQL/API

#26000 [FLINK-37158][tests] Introduce ForSt to existing ITCases
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/sync/ForStSyncKeyedStateBackend.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/AutoRescalingITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/EventTimeWindowCheckpointingITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/KeyedStateCheckpointingITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/RescaleCheckpointManuallyITCase.java
Labels: component=<none>

#26283 [FLINK-37458][datastream] Forbid enableAsyncState() for synchronous operators
  flink-runtime/src/main/java/org/apache/flink/streaming/api/transformations/OneInputTransformation.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/graph/JobGraphGeneratorTestBase.java
Labels: component=<none>

#26291 Revert "[FLINK-37158][tests] Introduce ForSt to existing ITCases
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/sync/ForStSyncKeyedStateBackend.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/AutoRescalingITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/EventTimeWindowCheckpointingITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/KeyedStateCheckpointingITCase.java
  flink-tests/src/test/java/org/apache/flink/test/checkpointing/RescaleCheckpointManuallyITCase.java
Labels: component=<none>

#26290 [FLINK-37466][table-api-java] Make DEFAULT explicit from Table API to planner
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/expressions/resolver/rules/ResolveCallByArgumentsRule.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/BuiltInFunctionDefinitions.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/inference/StaticArgument.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/types/extraction/TypeInferenceExtractorTest.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/expressions/converter/converters/CustomizedConverters.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/expressions/converter/converters/DefaultConverter.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/stream/ProcessTableFunctionTestUtils.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/stream/sql/ProcessTableFunctionTest.java
Labels: component=TableSQL/API

#26292 [FLINK-37457][python] Support asArgument in Python Table API
  flink-python/docs/reference/pyflink.table/expressions.rst
  flink-python/pyflink/table/expression.py
  flink-python/pyflink/table/tests/test_expression.py
  flink-python/pyflink/table/tests/test_expression_completeness.py
Labels: component=API/Python, component=TableSQL/API

#26285 [FLINK-37460][state] Make state processor API checkpoint ID configurable
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/KeyedStateTransformation.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/OneInputStateTransformation.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/OperatorTransformation.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/SavepointReader.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/SavepointWriter.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/WindowedStateTransformation.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/output/MergeOperatorStates.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/output/SnapshotUtils.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/output/operators/BroadcastStateBootstrapOperator.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/output/operators/KeyedStateBootstrapOperator.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/output/operators/StateBootstrapOperator.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/output/operators/StateBootstrapWrapperOperator.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/output/operators/StateBootstrapWrapperOperatorFactory.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/runtime/metadata/SavepointMetadataV2.java
  flink-libraries/flink-state-processing-api/src/test/java/org/apache/flink/state/api/SavepointWriterITCase.java
  flink-libraries/flink-state-processing-api/src/test/java/org/apache/flink/state/api/output/KeyedStateBootstrapOperatorTest.java
  flink-libraries/flink-state-processing-api/src/test/java/org/apache/flink/state/api/output/SnapshotUtilsTest.java
Labels: component=API/StateProcessor

#26266 [FLINK-37432][release] Add release note for release 2.0
  docs/content.zh/_index.md
  docs/content.zh/release-notes/flink-2.0.md
  docs/content/_index.md
  docs/content/release-notes/flink-2.0.md
Labels: component=ReleaseSystem

#26296 [FLINK-30687][table] Fix wrong result of agg with fiter which references first input column
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/agg/AggsHandlerCodeGenerator.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/codegen/agg/AggTestBase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/agg/AggregateITCaseBase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/AggregateITCase.scala
Labels: component=TableSQL/Planner

#26273 [FLINK-37438] Improve the createLocalEnvironment by reduce duplicate operation on Configuration
  flink-runtime/src/main/java/org/apache/flink/streaming/api/environment/StreamExecutionEnvironment.java
Labels: component=<none>

#26303 [FLINK-30687][table] Fix wrong result of agg with fiter which references first input column
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/agg/AggsHandlerCodeGenerator.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/codegen/agg/AggTestBase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/agg/AggregateITCaseBase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/AggregateITCase.scala
Labels: component=TableSQL/Planner

#26302 [FLINK-30687][table] Fix wrong result of agg with fiter which references first input column
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/agg/AggsHandlerCodeGenerator.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/codegen/agg/AggTestBase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/batch/sql/agg/AggregateITCaseBase.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/AggregateITCase.scala
Labels: component=TableSQL/Planner

#26122 [FLINK-37243] Adds main thread callback to AsyncWaitOperator
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/async/CollectionSupplier.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/async/ResultFuture.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/async/AsyncWaitOperator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/async/queue/StreamElementQueueEntry.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/async/AsyncWaitOperatorTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskMailboxTestHarness.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/codegen/AsyncCodeGeneratorTest.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/collector/TableFunctionResultFuture.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/calc/async/DelegatingAsyncResultFuture.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/join/lookup/AsyncLookupJoinRunner.java
Labels: component=<none>

#26286 [FLINK-37463] make serialzer in ForStMapState Threadlocal
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStDBBunchPutRequest.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStMapState.java
Labels: component=Runtime/StateBackends

#26308 [FLINK-37412] Add MIN_RESOURCES TaskManagerLoadBalanceMode to maximize TM usage
  docs/layouts/shortcodes/generated/all_taskmanager_section.html
  docs/layouts/shortcodes/generated/expert_scheduling_section.html
  docs/layouts/shortcodes/generated/task_manager_configuration.html
  flink-core/src/main/java/org/apache/flink/configuration/TaskManagerOptions.java
  flink-runtime/src/main/java/org/apache/flink/runtime/resourcemanager/slotmanager/DefaultResourceAllocationStrategy.java
  flink-runtime/src/test/java/org/apache/flink/runtime/resourcemanager/slotmanager/DefaultResourceAllocationStrategyTest.java
Labels: component=Runtime/Coordination

#26314 [FLINK-37222][table] Don't resolve the CatalogView to QueryOperationCatalogView if view is created by SQL
  flink-table/flink-sql-client/src/test/resources/nexmark.sql
  flink-table/flink-sql-gateway/src/main/java/org/apache/flink/table/gateway/service/context/EnvironmentReusableInMemoryCatalog.java
  flink-table/flink-sql-gateway/src/main/java/org/apache/flink/table/gateway/service/context/SessionContext.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/converters/SqlNodeConvertUtils.java
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/analyze/NonDeterministicUpdateAnalyzerTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/catalog/JavaCatalogTableTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/NonDeterministicDagTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/agg/WindowAggregateTest.xml
Labels: component=TableSQL/Planner

#26318 [FLINK-37505][python] Add pyflink YAML based config support
  flink-python/pyflink/common/configuration.py
  flink-python/pyflink/common/tests/test_configuration.py
  flink-python/pyflink/datastream/stream_execution_environment.py
  flink-python/pyflink/datastream/tests/test_stream_execution_environment.py
  flink-python/pyflink/table/table_config.py
  flink-python/pyflink/table/table_environment.py
Labels: component=API/Python

#26327 [FLINK-37505][python] Add pyflink YAML based config support
  flink-python/pyflink/common/configuration.py
  flink-python/pyflink/common/tests/test_configuration.py
  flink-python/pyflink/datastream/stream_execution_environment.py
  flink-python/pyflink/datastream/tests/test_stream_execution_environment.py
  flink-python/pyflink/table/table_config.py
  flink-python/pyflink/table/table_environment.py
Labels: component=API/Python

#26299 [FLINK-37460][state] Make state processor API checkpoint ID configurable
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/KeyedOperatorTransformation.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/KeyedStateTransformation.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/OneInputOperatorTransformation.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/OneInputStateTransformation.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/OperatorTransformation.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/Savepoint.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/SavepointReader.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/SavepointWriter.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/WindowedOperatorTransformation.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/WindowedStateTransformation.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/WritableSavepoint.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/output/MergeOperatorStates.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/output/SnapshotUtils.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/output/operators/BroadcastStateBootstrapOperator.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/output/operators/KeyedStateBootstrapOperator.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/output/operators/StateBootstrapOperator.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/output/operators/StateBootstrapWrapperOperator.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/runtime/metadata/SavepointMetadata.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/runtime/metadata/SavepointMetadataV2.java
  flink-libraries/flink-state-processing-api/src/test/java/org/apache/flink/state/api/SavepointTest.java
  flink-libraries/flink-state-processing-api/src/test/java/org/apache/flink/state/api/SavepointWriterITCase.java
  flink-libraries/flink-state-processing-api/src/test/java/org/apache/flink/state/api/output/KeyedStateBootstrapOperatorTest.java
  flink-libraries/flink-state-processing-api/src/test/java/org/apache/flink/state/api/output/SnapshotUtilsTest.java
Labels: component=API/StateProcessor

#26306 [FLINK-37475] Drop ChangelogNormalize for piping from upsert source to sink
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/connector/ChangelogMode.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/optimize/ChangelogNormalizeRequirementResolver.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/optimize/StreamNonDeterministicUpdatePlanVisitor.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/trait/DeleteKind.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/utils/FlinkRelUtil.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/optimize/program/FlinkChangelogModeInferenceProgram.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/trait/DeleteKindTrait.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/trait/DeleteKindTraitDef.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/utils/ChangelogPlanUtils.scala
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/factories/TestValuesTableFactory.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/stream/DeletesByKeyPrograms.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/stream/DeletesByKeySemanticTests.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/stream/sql/ChangelogNormalizeOptimizationTest.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/runtime/stream/sql/DataStreamJavaITCase.java
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/ChangelogNormalizeOptimizationTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/TableScanTest.xml
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/NonDeterministicDagTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/TableScanTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/utils/TableTestBase.scala
Labels: component=TableSQL/Planner, component=TableSQL/API

#26324 [FLINK-37222][table] Don't resolve the CatalogView to QueryOperationC…
  flink-table/flink-sql-client/src/test/resources/nexmark.sql
  flink-table/flink-sql-gateway/src/main/java/org/apache/flink/table/gateway/service/context/EnvironmentReusableInMemoryCatalog.java
  flink-table/flink-sql-gateway/src/main/java/org/apache/flink/table/gateway/service/context/SessionContext.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/converters/SqlNodeConvertUtils.java
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/analyze/NonDeterministicUpdateAnalyzerTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/catalog/JavaCatalogTableTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/NonDeterministicDagTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/agg/WindowAggregateTest.xml
Labels: component=TableSQL/Planner

#26323 [FLINK-37222][table] Don't resolve the CatalogView to QueryOperationCatalogView
  flink-table/flink-sql-client/src/test/resources/nexmark.sql
  flink-table/flink-sql-gateway/src/main/java/org/apache/flink/table/gateway/service/context/EnvironmentReusableInMemoryCatalog.java
  flink-table/flink-sql-gateway/src/main/java/org/apache/flink/table/gateway/service/context/SessionContext.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/converters/SqlNodeConvertUtils.java
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/analyze/NonDeterministicUpdateAnalyzerTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/catalog/JavaCatalogTableTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/NonDeterministicDagTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/agg/WindowAggregateTest.xml
Labels: component=TableSQL/Planner

#26322 [FLINK-37491][release] Build 2.0 docs in GitHub Action and mark 2.0 as stable in docs
  .github/workflows/docs.yml
Labels: component=<none>

#26331 [FLINK-37423][table] Support PTFs in Table API
  flink-python/pyflink/table/tests/test_environment_completeness.py
  flink-python/pyflink/table/tests/test_expressions_completeness.py
  flink-python/pyflink/table/tests/test_table_completeness.py
  flink-python/pyflink/table/tests/test_table_environment_completeness.py
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/ApiExpression.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/Expressions.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/PartitionedTable.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/Table.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/TableEnvironment.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/TableEnvironmentImpl.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/TableImpl.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/expressions/ApiExpressionUtils.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/expressions/TableReferenceExpression.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/expressions/resolver/rules/ResolveCallByArgumentsRule.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/CorrelatedFunctionQueryOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/FunctionQueryOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/JoinQueryOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/OperationUtils.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/PartitionQueryOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/QueryOperationVisitor.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/utils/CorrelatedFunctionTableFactory.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/utils/FunctionTableFactory.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/utils/JoinOperationFactory.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/utils/OperationTreeBuilder.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/utils/QueryOperationDefaultVisitor.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/test/program/TableApiTestStep.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/api/DataTypes.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/expressions/ValueLiteralExpression.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/ProcessTableFunction.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/TableSemantics.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/inference/CallContext.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/inference/SystemTypeInference.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/logical/DescriptorType.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/utils/DataTypeUtils.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/expressions/converter/ExpressionConverter.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/functions/inference/CallBindingCallContext.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/functions/inference/OperatorBindingCallContext.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/QueryOperationConverter.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecProcessTableFunction.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamPhysicalProcessTableFunction.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/ProcessTableRunnerGenerator.scala
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/api/QueryOperationSqlExecutionTest.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/api/QueryOperationSqlSemanticTest.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/api/QueryOperationSqlSerializationTest.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/api/QueryOperationTestPrograms.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/functions/MiscFunctionsITCase.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/stream/ProcessTableFunctionSemanticTests.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/stream/ProcessTableFunctionTestPrograms.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/stream/ProcessTableFunctionTestUtils.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/testutils/SemanticTestBase.java
Labels: component=TableSQL/API

#26350 [FLINK-37557] Fix ResolvedSchema#getPrimaryKeyIndexes
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/catalog/SchemaResolutionTest.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/catalog/ResolvedSchema.java
Labels: component=TableSQL/API

#26309 [FLINK-37482] Improve the code for PrintSinkOutputWriter, PrintSinkFunction and PrintSink
  flink-core/src/main/java/org/apache/flink/api/common/functions/util/PrintSinkOutputWriter.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/functions/sink/legacy/PrintSinkFunction.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/sink/PrintSink.java
Labels: component=API/DataStream

#26335 [FLINK-36443][table][test] Improve flaky table source sink tests
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/abilities/source/PartitionPushDownSpec.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/utils/PartitionUtils.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/abilities/source/PartitionPushDownSpecTest.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/utils/testTableSourceSinks.scala
Labels: component=TableSQL/Planner

#26352 [FLINK-37557][bp 2.0] Fix ResolvedSchema#getPrimaryKeyIndexes
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/catalog/SchemaResolutionTest.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/catalog/ResolvedSchema.java
Labels: component=TableSQL/API

#26351 [FLINK-37557][bp-1.20] Fix ResolvedSchema#getPrimaryKeyIndexes
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/catalog/SchemaResolutionTest.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/catalog/ResolvedSchema.java
Labels: component=TableSQL/API

#26276 [FLINK-37410][runtime/metrics] Split level Watermark metrics
  docs/content/docs/ops/metrics.md
  flink-core/src/main/java/org/apache/flink/api/common/eventtime/CombinedWatermarkStatus.java
  flink-core/src/main/java/org/apache/flink/api/common/eventtime/IndexedCombinedWatermarkStatus.java
  flink-core/src/main/java/org/apache/flink/api/common/eventtime/WatermarkOutputMultiplexer.java
  flink-core/src/test/java/org/apache/flink/api/common/eventtime/WatermarkOutputMultiplexerTest.java
  flink-metrics/flink-metrics-core/src/main/java/org/apache/flink/metrics/groups/SourceSplitMetricGroup.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/MetricNames.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/TimerGauge.java
  flink-runtime/src/main/java/org/apache/flink/runtime/metrics/groups/InternalSourceSplitMetricGroup.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/operators/SourceOperator.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/operators/source/ProgressiveTimestampsAndWatermarks.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/operators/source/TimestampsAndWatermarks.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/operators/source/WatermarkToDataOutput.java
  flink-runtime/src/test/java/org/apache/flink/runtime/metrics/groups/InternalSourceSplitMetricGroupTest.java
  flink-runtime/src/test/java/org/apache/flink/streaming/api/operators/SourceOperatorSplitWatermarkAlignmentTest.java
  flink-runtime/src/test/java/org/apache/flink/streaming/api/operators/SourceOperatorTest.java
Labels: component=Runtime/Metrics

#26336 [FLINK-37533][CI] Reduce the stale PR github action timeouts
  .github/workflows/stale.yml
Labels: component=<none>

#26344 [FLINK-37493][release] Update japicmp configuration for 2.0.0
  pom.xml
Labels: component=<none>

#26359 [FLINK-37568] Improve the method flatten of class GlobalConfiguration
  flink-core/src/main/java/org/apache/flink/configuration/GlobalConfiguration.java
Labels: component=API/Core

#26348 [FLINK-37556][metrics][otel] Add missing dependencies for OpenTelemetry
  flink-metrics/flink-metrics-otel/pom.xml
  flink-metrics/flink-metrics-otel/src/main/resources/META-INF/NOTICE
Labels: component=Runtime/Metrics

#26365 [FLINK-37556][metrics][otel][BP-2.0] Add missing dependencies for OpenTelemetry
  flink-metrics/flink-metrics-otel/pom.xml
  flink-metrics/flink-metrics-otel/src/main/resources/META-INF/NOTICE
Labels: component=Runtime/Metrics

#26239 [FLINK-37408] Update all docker-compose references to docker compose
  .github/workflows/template.flink-ci.yml
  docs/content.zh/docs/deployment/resource-providers/standalone/docker.md
  docs/content.zh/docs/try-flink/flink-operations-playground.md
  docs/content.zh/docs/try-flink/table_api.md
  docs/content/docs/deployment/resource-providers/standalone/docker.md
  docs/content/docs/try-flink/flink-operations-playground.md
  docs/content/docs/try-flink/table_api.md
Labels: component=<none>

#26369 [FLINK-37576][runtime] Fix the incorrect status of the isBroadcast field in AllToAllBlockingResultInfo when submitting a job graph.
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptivebatch/AllToAllBlockingResultInfo.java
  flink-tests/src/test/java/org/apache/flink/test/scheduling/AdaptiveBatchSchedulerITCase.java
Labels: component=Runtime/Coordination

#26370 [BP-2.0][FLINK-37576][runtime] Fix the incorrect status of the isBroadcast field in AllToAllBlockingResultInfo when submitting a job graph.
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptivebatch/AllToAllBlockingResultInfo.java
  flink-tests/src/test/java/org/apache/flink/test/scheduling/AdaptiveBatchSchedulerITCase.java
Labels: component=Runtime/Coordination
