Repository apache/flink, pull requests merged in 2025-05, with the labels that each got.

#26414 [FLINK-37625][python] Don't skip type validation for Rows made with positional arguments
  flink-python/pyflink/common/types.py
  flink-python/pyflink/table/tests/test_table_environment_api.py
  flink-python/pyflink/table/types.py
Labels: component=API/Python

#26509 [FLINK-37523][CI] Fix Python test/e2e tests missing libpython/python headers
  .github/workflows/template.flink-ci.yml
Labels: component=API/Python

#26523 [FLINK-36166][table-planner] Make the test 'testJoinDisorderChangeLog' work again
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/TableSinkITCase.scala
Labels: component=TableSQL/Planner

#26529 [FLINK-37702][ci] Ensure Python setup/headers for Python tests
  tools/azure-pipelines/jobs-template.yml
Labels: component=BuildSystem/AzurePipelines, component=BuildSystem/CI

#26527 [FLINK-37632][table] Add changelog support to PTFs
  docs/content.zh/docs/dev/table/functions/ptfs.md
  docs/content/docs/dev/table/functions/ptfs.md
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/annotation/ArgumentTrait.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/ChangelogFunction.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/ProcessTableFunction.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/inference/CallContext.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/inference/StaticArgument.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/inference/StaticArgumentTrait.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/functions/inference/OperatorBindingCallContext.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecProcessTableFunction.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamPhysicalProcessTableFunction.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/trait/ModifyKindSet.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/utils/ShortcutUtils.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/ProcessTableRunnerGenerator.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdUniqueKeys.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdUpsertKeys.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/optimize/program/FlinkChangelogModeInferenceProgram.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/utils/ChangelogPlanUtils.scala
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/stream/ProcessTableFunctionSemanticTests.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/stream/ProcessTableFunctionTestPrograms.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/stream/ProcessTableFunctionTestUtils.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/stream/sql/ProcessTableFunctionTest.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/process/PassAllCollector.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/process/PassPartitionKeysCollector.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/process/PassThroughCollectorBase.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/process/ProcessTableOperator.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/process/ProcessTableOperatorFactory.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/process/ReadableInternalTimeContext.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/process/RuntimeChangelogMode.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/process/RuntimeTableSemantics.java
Labels: component=TableSQL/Planner, component=TableSQL/API, component=TableSQL/Runtime

#26535 [BP-2.0][FLINK-37760][format] Bump parquet from 1.15.1 to 1.15.2
  flink-formats/flink-sql-parquet/src/main/resources/META-INF/NOTICE
  flink-formats/pom.xml
Labels: component=Formats

#26537 [BP-1.19][FLINK-37760][format] Bump parquet from 1.15.1 to 1.15.2
  flink-connectors/flink-connector-hive/src/main/resources/META-INF/NOTICE
  flink-formats/flink-sql-parquet/src/main/resources/META-INF/NOTICE
  flink-formats/pom.xml
Labels: component=Formats

#26536 [BP-1.20][FLINK-37760][format] Bump parquet from 1.15.1 to 1.15.2
  flink-connectors/flink-connector-hive/src/main/resources/META-INF/NOTICE
  flink-formats/flink-sql-parquet/src/main/resources/META-INF/NOTICE
  flink-formats/pom.xml
Labels: component=Formats

#26518 [FLINK-37747][runtime] Use old subtask count for restored committable objects
  flink-runtime/src/main/java/org/apache/flink/streaming/runtime/operators/sink/CommitterOperator.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/sink/SinkV2CommitterOperatorTest.java
  flink-tests/src/test/java/org/apache/flink/test/streaming/runtime/SinkV2ITCase.java
Labels: component=<none>

#26542 [FLINK-37545][metrics] Fix StackOverflowError when using MetricGroup in custom WatermarkStrategy (1.20)
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/operators/TimestampsAndWatermarksOperator.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/operators/TimestampsAndWatermarksOperatorTest.java
Labels: component=API/DataStream

#26541 [FLINK-37545][metrics] Fix StackOverflowError when using MetricGroup in custom WatermarkStrategy (2.0)
  flink-runtime/src/main/java/org/apache/flink/streaming/runtime/operators/TimestampsAndWatermarksOperator.java
  flink-runtime/src/test/java/org/apache/flink/streaming/runtime/operators/TimestampsAndWatermarksOperatorTest.java
Labels: component=API/DataStream

#26466 [FLINK-37552] Support switching between ForStKeyedStatebackend and ForStSyncKeyedStatebackend
  flink-runtime/src/main/java/org/apache/flink/runtime/state/RegisteredKeyValueStateBackendMetaInfo.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/RegisteredStateMetaInfoUtils.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/v2/RegisteredKeyAndUserKeyValueStateBackendMetaInfo.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/v2/RegisteredKeyValueStateBackendMetaInfo.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStKeyedStateBackendBuilder.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/restore/ForStHandle.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/restore/ForStIncrementalRestoreOperation.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/sync/ForStSyncKeyedStateBackendBuilder.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/ForStAsyncAndSyncCompatibilityTest.java
Labels: component=Runtime/StateBackends

#26533 [FLINK-37767][doc] Update reference branch/version for es connector
  docs/setup_docs.sh
Labels: component=Documentation, component=Connectors/ElasticSearch

#26503 [FLINK-37720][table-planner] Enable sink reuse table optimizer by default and apply plan changes to existing test cases
  docs/layouts/shortcodes/generated/optimizer_config_configuration.html
  flink-table/flink-sql-client/src/test/resources/sql_multi/statement_set.q
  flink-table/flink-sql-gateway/src/test/resources/sql/statement_set.q
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/config/OptimizerConfigOptions.java
  flink-table/flink-table-planner/src/test/resources/explain/testStatementSetExecutionExplain.out
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/batch/sql/TableSourceTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/rules/physical/stream/ChangelogModeInferenceTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/ProcessTableFunctionTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/agg/WindowAggregateTest.xml
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/TableEnvironmentITCase.scala
Labels: component=<none>

#26430 [FLINK-37640][table-planner] Fix timestamp_ltz is converted timestamp in scan reuse
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/reuse/ScanReuserUtils.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/optimize/ScanReuseTest.java
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/optimize/ScanReuseTest.xml
Labels: component=TableSQL/Planner

#26528 [FLINK-35019] support convert show create model sql to operation
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/ShowCreateUtil.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ShowCreateModelOperation.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/converters/SqlNodeConverters.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/converters/SqlShowCreateModelConverter.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/TableEnvironmentTest.scala
Labels: component=<none>

#26504 [FLINK-37721] Fixes janino bug returning incorrect results
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/codegen/AsyncCodeGenerator.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/codegen/AsyncCodeGeneratorTest.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/runtime/stream/table/AsyncCalcITCase.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/calc/async/DelegatingAsyncResultFuture.java
Labels: component=<none>

#26530 [FLINK-37778][1/N] introduce MODEL keyword for model as argument
  flink-table/flink-sql-parser/src/main/codegen/data/Parser.tdd
  flink-table/flink-sql-parser/src/main/codegen/includes/parserImpls.ftl
  flink-table/flink-sql-parser/src/main/java/org/apache/calcite/sql/SqlExplicitModelCall.java
  flink-table/flink-sql-parser/src/main/java/org/apache/calcite/sql/SqlExplicitModelOperator.java
  flink-table/flink-sql-parser/src/test/java/org/apache/flink/sql/parser/FlinkSqlParserImplTest.java
Labels: component=<none>

#26548 [FLINK-37783] Auto-disable buffer debloating for tiered shuffle.
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/IndexedInputGate.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/SingleInputGate.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskmanager/InputGateWithMetrics.java
  flink-runtime/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
  flink-runtime/src/test/java/org/apache/flink/streaming/runtime/io/MockIndexedInputGate.java
  flink-runtime/src/test/java/org/apache/flink/streaming/runtime/io/MockInputGate.java
  flink-runtime/src/test/java/org/apache/flink/streaming/runtime/io/checkpointing/AlignedCheckpointsMassiveRandomTest.java
  flink-tests/src/test/java/org/apache/flink/test/runtime/HybridShuffleITCase.java
Labels: component=Runtime/Task

#26550 [BP-1.19][FLINK-37783] Auto-disable buffer debloating for tiered shuffle.
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/IndexedInputGate.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/SingleInputGate.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskmanager/InputGateWithMetrics.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/MockIndexedInputGate.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/MockInputGate.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/io/checkpointing/AlignedCheckpointsMassiveRandomTest.java
  flink-tests/src/test/java/org/apache/flink/test/runtime/HybridShuffleITCase.java
Labels: component=Runtime/Task

#26549 [BP-2.0][FLINK-37783] Auto-disable buffer debloating for tiered shuffle.
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/IndexedInputGate.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/consumer/SingleInputGate.java
  flink-runtime/src/main/java/org/apache/flink/runtime/taskmanager/InputGateWithMetrics.java
  flink-runtime/src/main/java/org/apache/flink/streaming/runtime/tasks/StreamTask.java
  flink-runtime/src/test/java/org/apache/flink/streaming/runtime/io/MockIndexedInputGate.java
  flink-runtime/src/test/java/org/apache/flink/streaming/runtime/io/MockInputGate.java
  flink-runtime/src/test/java/org/apache/flink/streaming/runtime/io/checkpointing/AlignedCheckpointsMassiveRandomTest.java
  flink-tests/src/test/java/org/apache/flink/test/runtime/HybridShuffleITCase.java
Labels: component=Runtime/Task

#26502 [FLINK-37718] Refactor ApplicationSubmissionContextReflector to centralize method retrieval and invocation.
  flink-yarn/src/main/java/org/apache/flink/yarn/YarnClusterDescriptor.java
Labels: component=<none>

#26555 [FLINK-37803][table] Fix SQL serialization when using LocalTime value literal without seconds
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/expressions/ValueLiteralExpression.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/api/QueryOperationTestPrograms.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/expressions/LiteralExpressionsSerializationITCase.java
Labels: component=TableSQL/API

#26563 [BP-1.19][FLINK-37803][table] Fix SQL serialization when using LocalTime value literal without seconds
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/expressions/ValueLiteralExpression.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/api/QueryOperationTestPrograms.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/expressions/LiteralExpressionsSerializationITCase.java
Labels: component=TableSQL/API

#26562 [BP-1.20][FLINK-37803][table] Fix SQL serialization when using LocalTime value literal without seconds
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/expressions/ValueLiteralExpression.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/api/QueryOperationTestPrograms.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/expressions/LiteralExpressionsSerializationITCase.java
Labels: component=TableSQL/API

#26540 [FLINK-37768] ConstraintEnforcer not handling all constraints
  docs/layouts/shortcodes/generated/execution_config_configuration.html
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/config/ExecutionConfigOptions.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/common/CommonExecSink.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/stream/ConstraintEnforcerSemanticTests.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/stream/ConstraintEnforcerTestPrograms.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/sink/ConstraintEnforcer.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/sink/constraint/BinaryLengthConstraint.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/sink/constraint/CharLengthConstraint.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/sink/constraint/Constraint.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/sink/constraint/ConstraintEnforcer.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/sink/constraint/ConstraintEnforcerExecutor.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/sink/constraint/EnforcerException.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/sink/constraint/NestedArrayConstraint.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/sink/constraint/NestedMapConstraint.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/sink/constraint/NestedRowConstraint.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/sink/constraint/NotNullConstraint.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/sink/constraint/NotNullEnforcementStrategy.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/sink/constraint/TypeLengthEnforcementStrategy.java
Labels: component=TableSQL/Runtime

#26566 [FLINK-37807][s3][rocksdb] Report s5cmd cancellation in a nicer way
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/state/rocksdb/RocksDBKeyedStateBackendBuilder.java
Labels: component=Connectors/FileSystem

#26570 [FLINK-37810] Update log4j to 2.24.3
  docs/content.zh/docs/dev/configuration/overview.md
  docs/content/docs/dev/configuration/overview.md
  pom.xml
  tools/releasing/NOTICE-binary_PREAMBLE.txt
Labels: component=<none>

#26573 [BP-2.0][FLINK-37810] Update log4j to 2.24.3
  docs/content.zh/docs/dev/configuration/overview.md
  docs/content/docs/dev/configuration/overview.md
  pom.xml
  tools/releasing/NOTICE-binary_PREAMBLE.txt
Labels: component=<none>

#26543 [FLINK-37779][2/N] extend catalog schema reader to get model
  flink-table/flink-table-planner/src/main/java/org/apache/calcite/jdbc/SimpleCalciteSchema.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/catalog/CatalogCalciteSchema.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/catalog/CatalogManagerCalciteSchema.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/catalog/CatalogSchemaModel.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/catalog/DatabaseCalciteSchema.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/catalog/FlinkSchema.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/FlinkCalciteCatalogReader.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/catalog/DatabaseCalciteSchemaTest.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/FlinkCalciteCatalogReaderTest.java
Labels: component=<none>

#26449 [FLINK-37665]: Simplify DoubleMaximum.clone() Implementation
  flink-core/src/main/java/org/apache/flink/api/common/accumulators/DoubleMaximum.java
Labels: component=<none>

#26579 [FLINK-37823][python] Add Python 3.12 support
  .github/workflows/template.flink-ci.yml
  docs/content/docs/dev/python/datastream_tutorial.md
  docs/content/docs/dev/python/installation.md
  docs/content/docs/dev/python/table_api_tutorial.md
  docs/content/docs/flinkDev/building.md
  flink-end-to-end-tests/test-scripts/test_pyflink.sh
  flink-end-to-end-tests/test-scripts/test_pyflink_yarn.sh
  flink-python/README.md
  flink-python/apache-flink-libraries/setup.py
  flink-python/dev/build-wheels.sh
  flink-python/dev/dev-requirements.txt
  flink-python/dev/install_command.sh
  flink-python/dev/lint-python.sh
  flink-python/pom.xml
  flink-python/pyflink/datastream/connectors/kafka.py
  flink-python/pyflink/datastream/connectors/tests/test_kafka.py
  flink-python/pyflink/datastream/data_stream.py
  flink-python/pyflink/datastream/functions.py
  flink-python/pyflink/datastream/state.py
  flink-python/pyflink/datastream/stream_execution_environment.py
  flink-python/pyflink/datastream/tests/test_data_stream.py
  flink-python/pyflink/datastream/tests/test_window.py
  flink-python/pyflink/examples/table/streaming_word_count.py
  flink-python/pyflink/fn_execution/beam/beam_operations_slow.py
  flink-python/pyflink/fn_execution/datastream/embedded/operations.py
  flink-python/pyflink/fn_execution/datastream/embedded/runtime_context.py
  flink-python/pyflink/fn_execution/datastream/embedded/side_output_context.py
  flink-python/pyflink/fn_execution/datastream/process/operations.py
  flink-python/pyflink/fn_execution/datastream/process/runtime_context.py
  flink-python/pyflink/fn_execution/datastream/window/window_operator.py
  flink-python/pyflink/fn_execution/flink_fn_execution_pb2.py
  flink-python/pyflink/fn_execution/flink_fn_execution_pb2.pyi
  flink-python/pyflink/fn_execution/state_impl.py
  flink-python/pyflink/fn_execution/table/aggregate_slow.py
  flink-python/pyflink/fn_execution/table/operations.py
  flink-python/pyflink/fn_execution/table/window_aggregate_slow.py
  flink-python/pyflink/fn_execution/table/window_assigner.py
  flink-python/pyflink/fn_execution/table/window_context.py
  flink-python/pyflink/fn_execution/table/window_process_function.py
  flink-python/pyflink/fn_execution/table/window_trigger.py
  flink-python/pyflink/fn_execution/tests/test_coders.py
  flink-python/pyflink/gen_protos.py
  flink-python/pyflink/java_gateway.py
  flink-python/pyflink/table/expressions.py
  flink-python/pyflink/table/tests/test_udaf.py
  flink-python/pyflink/table/types.py
  flink-python/pyproject.toml
  flink-python/setup.py
  flink-python/src/main/resources/META-INF/NOTICE
  flink-python/tox.ini
  tools/azure-pipelines/build-python-wheels.yml
  tools/azure-pipelines/e2e-template.yml
  tools/releasing/create_binary_release.sh
Labels: component=API/Python

#26577 [FLINK-37790][4/N] introduce model provider related interfaces
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/factories/ModelProviderFactory.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/AsyncPredictFunction.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/PredictFunction.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/ml/AsyncPredictRuntimeProvider.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/ml/ModelProvider.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/ml/PredictRuntimeProvider.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/module/Module.java
Labels: component=<none>

#26582 [FLINK-37761][runtime] Fix unstable test testJobVertexUnFinishedAndOp…
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptivebatch/BatchJobRecoveryTest.java
Labels: component=Runtime/Coordination

#26585 [FLINK-37804][python][build] Fix build mac wheels error in GHA
  .github/workflows/nightly.yml
  flink-python/dev/dev-requirements.txt
  flink-python/pyproject.toml
Labels: component=API/Python

#26522 [FLINK-37752][json] Make configuration 'json.decode.json-parser.enabled' take effect
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/JsonFormatFactory.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/JsonFormatFactoryTest.java
Labels: component=Formats

#26553 [FLINK-37789][3/N] introduce ml builtin sql functions and sql validator changes
  flink-table/flink-sql-parser/src/main/codegen/data/Parser.tdd
  flink-table/flink-sql-parser/src/main/java/org/apache/calcite/sql/SqlExplicitModelCall.java
  flink-table/flink-sql-parser/src/main/java/org/apache/calcite/sql/SqlExplicitModelOperator.java
  flink-table/flink-sql-parser/src/test/java/org/apache/flink/sql/parser/FlinkSqlParserImplTest.java
  flink-table/flink-table-planner/src/main/java/org/apache/calcite/sql/SqlModelCall.java
  flink-table/flink-table-planner/src/main/java/org/apache/calcite/sql/validate/ProcedureNamespace.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/calcite/FlinkCalciteSqlValidator.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/functions/sql/FlinkSqlOperatorTable.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/functions/sql/ml/SqlMLPredictTableFunction.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/functions/sql/ml/SqlMLTableFunction.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/stream/sql/ModelTableFunctionTest.java
Labels: component=<none>

#26571 [FLINK-37812][doc] Fix broken links to Apache Avro in doc and code
  docs/content.zh/docs/connectors/datastream/formats/parquet.md
  docs/content.zh/docs/connectors/table/formats/avro-confluent.md
  docs/content.zh/docs/connectors/table/formats/avro.md
  docs/content/docs/connectors/datastream/formats/parquet.md
  docs/content/docs/connectors/table/formats/avro-confluent.md
  docs/content/docs/connectors/table/formats/avro.md
  flink-formats/flink-avro/src/main/java/org/apache/flink/formats/avro/typeutils/AvroSerializerSnapshot.java
Labels: component=Documentation

#26595 [FLINK-37845][table] Remove FlinkRexBuilder#makeIn
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/calcite/FlinkRexBuilder.java
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/rules/logical/ConvertToNotInOrInRuleTest.xml
Labels: component=TableSQL/Planner

#26598 [FLINK-37843][python] Fix version of protobuf used for code generation
  flink-python/dev/dev-requirements.txt
  flink-python/pyflink/fn_execution/flink_fn_execution_pb2.py
Labels: component=API/Python

#26587 [BP-2.0][FLINK-37820][table-planner] Support `AsyncScalarFunction` registration via `CompiledPlan`
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/serde/RexNodeJsonDeserializer.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/serde/RexNodeJsonSerdeTest.java
Labels: component=TableSQL/Planner

#26589 [BP-1.19][FLINK-37820][table-planner] Support `AsyncScalarFunction` registration via `CompiledPlan`
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/serde/RexNodeJsonDeserializer.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/serde/RexNodeJsonSerdeTest.java
Labels: component=TableSQL/Planner

#26583 [FLINK-37780][5/N] predict sql function type inference and validation
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/functions/sql/SqlCumulateTableFunction.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/functions/sql/SqlHopTableFunction.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/functions/sql/SqlSessionTableFunction.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/functions/sql/SqlTumbleTableFunction.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/functions/sql/SqlWindowTableFunction.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/functions/sql/ml/SqlMLPredictTableFunction.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/functions/sql/ml/SqlMLTableFunction.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/functions/utils/SqlValidatorUtils.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/stream/sql/MLPredictTableFunctionTest.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/stream/sql/ModelTableFunctionTest.java
Labels: component=<none>

#26615 [FLINK-37871][table] Remove `FlinkRelMdUtil#getJoinDistinctRowCount`
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/metadata/FlinkRelMdDistinctRowCount.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/utils/FlinkRelMdUtil.scala
Labels: component=TableSQL/Planner
