Repository apache/flink, pull requests merged in 2025-02, with the labels that each got.

#26091 [FLINK-37239][docs] Add examples for unhex, btrim, translate, elt and percentile
  docs/data/sql_functions.yml
  docs/data/sql_functions_zh.yml
Labels: component=<none>

#26099 [FLINK-37239][docs][backport] Add examples for unhex, btrim, translate, elt and percentile
  docs/data/sql_functions.yml
  docs/data/sql_functions_zh.yml
Labels: component=<none>

#26040 [FLINK-37021][state/forst] Fix incorrect paths when reusing files for checkpoints.
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStResourceContainer.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/datatransfer/CopyDataTransferStrategy.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/datatransfer/DataTransferStrategyBuilder.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/datatransfer/ForStStateDataTransfer.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/datatransfer/ReusableDataTransferStrategy.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/fs/ForStFlinkFileSystem.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/fs/filemapping/FileMappingManager.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/fs/filemapping/FileOwnershipDecider.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/restore/ForStIncrementalRestoreOperation.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/snapshot/ForStIncrementalSnapshotStrategy.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/snapshot/ForStNativeFullSnapshotStrategy.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/ForStResourceContainerTest.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/datatransfer/DataTransferStrategyTest.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/datatransfer/ForStStateDataTransferTest.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/fs/FileMappingManagerTest.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/fs/ForStFlinkFileSystemTest.java
Labels: component=<none>

#26035 [FLINK-36929][table] Add SQL connector for keyed savepoint data
  flink-libraries/flink-state-processing-api/pom.xml
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/table/KeyedStateReader.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/table/SavepointConnectorOptions.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/table/SavepointConnectorOptionsUtil.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/table/SavepointDataStreamScanProvider.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/table/SavepointDynamicTableSource.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/table/SavepointDynamicTableSourceFactory.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/table/StateValueColumnConfiguration.java
  flink-libraries/flink-state-processing-api/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  flink-libraries/flink-state-processing-api/src/test/java/com/example/state/writer/job/schema/PojoData.java
  flink-libraries/flink-state-processing-api/src/test/java/org/apache/flink/state/table/SavepointDynamicTableSourceTest.java
  flink-libraries/flink-state-processing-api/src/test/resources/table-state-nulls/_metadata
  flink-libraries/flink-state-processing-api/src/test/resources/table-state/_metadata
Labels: component=TableSQL/API

#26106 [BP-2.0][FLINK-37021][state/forst] Fix incorrect paths when reusing and creating files.
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStResourceContainer.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/datatransfer/CopyDataTransferStrategy.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/datatransfer/DataTransferStrategyBuilder.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/datatransfer/ForStStateDataTransfer.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/datatransfer/ReusableDataTransferStrategy.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/fs/ForStFlinkFileSystem.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/fs/filemapping/FileMappingManager.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/fs/filemapping/FileOwnershipDecider.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/restore/ForStIncrementalRestoreOperation.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/snapshot/ForStIncrementalSnapshotStrategy.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/snapshot/ForStNativeFullSnapshotStrategy.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/ForStResourceContainerTest.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/datatransfer/DataTransferStrategyTest.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/datatransfer/ForStStateDataTransferTest.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/fs/FileMappingManagerTest.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/fs/ForStFlinkFileSystemTest.java
Labels: component=<none>

#26078 [BP-2.0][FLINK-37218][network] Avoid repeatedly reading the broadcast buffer from the sort-merge shuffle data file while accumulating small buffers from multiple sub-partitions.
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/PartitionedFileReader.java
  flink-runtime/src/main/java/org/apache/flink/runtime/io/network/partition/SortMergeSubpartitionReader.java
  flink-runtime/src/test/java/org/apache/flink/runtime/io/network/partition/PartitionedFileWriteReadTest.java
Labels: component=Runtime/Network

#26058 [FLINK-37205][python] Correct the state cache behavior during bump beam version
  flink-python/pyflink/fn_execution/beam/beam_sdk_worker_main.py
Labels: component=API/Python

#26059 [FLINK-37205][python] Correct the state cache behavior during bump be…
  flink-python/pyflink/fn_execution/beam/beam_sdk_worker_main.py
Labels: component=API/Python

#26060 [FLINK-37205][python] Correct the state cache behavior during bump be…
  flink-python/pyflink/fn_execution/beam/beam_sdk_worker_main.py
Labels: component=API/Python

#26109 [FLINK-35687] JSON_QUERY should return a well formatted nested objects/arrays for ARRAY<STRING> (#24976)
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/functions/JsonFunctionsITCase.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/functions/SqlJsonUtils.java
Labels: component=TableSQL/Planner

#24489 [FLINK-34227][runtime] Fixes concurrency issue in JobMaster shutdown
  flink-runtime/src/main/java/org/apache/flink/runtime/jobmaster/JobMaster.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/JobMasterTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/jobmaster/slotpool/TestingSlotPoolServiceBuilder.java
Labels: component=Runtime/Coordination

#26095 [FLINK-34227][runtime] Ensure that the scheduler close call doesn't leak IO threads into the JobMaster
  flink-core/src/main/java/org/apache/flink/util/concurrent/FutureUtils.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/SchedulerBase.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveScheduler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptivebatch/AdaptiveBatchSchedulerFactory.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/DefaultSchedulerBuilder.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/DefaultSchedulerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveSchedulerTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptivebatch/AdaptiveBatchSchedulerTest.java
Labels: component=Runtime/Coordination

#26076 [FLINK-37180][table] Support running stateless PTFs
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/test/program/TableTestProgram.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/annotation/ArgumentTrait.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/inference/SystemTypeInference.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/calcite/FlinkConvertletTable.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/functions/inference/CallBindingCallContext.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/functions/inference/OperatorBindingCallContext.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/ExecNodeGraphGenerator.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecProcessTableFunction.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamPhysicalProcessTableFunction.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/ProcessTableRunnerGenerator.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/calls/BridgingFunctionGenUtil.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/calls/BridgingSqlFunctionCallGen.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/optimize/program/FlinkChangelogModeInferenceProgram.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/utils/AggregateUtil.scala
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/stream/MiscSemanticTests.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/stream/MiscTests.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/stream/ProcessTableFunctionSemanticTests.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/stream/ProcessTableFunctionTestPrograms.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/stream/ProcessTableFunctionTestUtils.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/testutils/SemanticTestBase.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/stream/sql/ProcessTableFunctionTest.java
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/ProcessTableFunctionTest.xml
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/generated/GeneratedProcessTableRunner.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/generated/ProcessTableRunner.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/process/PassAllCollector.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/process/PassPartitionKeysCollector.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/process/PassThroughCollectorBase.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/process/ProcessTableOperator.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/process/ProcessTableOperatorFactory.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/process/RuntimeTableSemantics.java
Labels: component=TableSQL/Planner, component=TableSQL/Runtime

#26112 [FLINK-37264][datastream] Fix bugs of DataStream V2
  flink-datastream/src/main/java/org/apache/flink/datastream/impl/stream/KeyedPartitionStreamImpl.java
  flink-datastream/src/main/java/org/apache/flink/datastream/impl/utils/StreamUtils.java
  flink-datastream/src/main/java/org/apache/flink/streaming/runtime/translators/DataStreamV2SinkTransformationTranslator.java
  flink-tests/src/test/java/org/apache/flink/test/streaming/api/datastream/extension/join/JoinITCase.java
Labels: component=API/DataStream

#26080 FLINK-37154: Adding SimpleByteSchema for PyFlink
  flink-core/src/main/java/org/apache/flink/api/common/serialization/ByteArraySchema.java
  flink-core/src/test/java/org/apache/flink/api/common/serialization/ByteArraySchemaTest.java
  flink-python/pyflink/common/__init__.py
  flink-python/pyflink/common/serialization.py
  flink-python/pyflink/common/tests/test_serialization_schemas.py
  flink-python/pyflink/datastream/connectors/tests/test_kafka.py
Labels: component=API/Python

#26064 [FLINK-37087][doc] Add docs for alter materialized table as query
  docs/content.zh/docs/dev/table/materialized-table/statements.md
  docs/content/docs/dev/table/materialized-table/statements.md
Labels: component=Documentation

#26111 [FLINK-37258][runtime] Return Ordered Job list on Disptacher#requestMultipleJobDetails
  flink-runtime/src/main/java/org/apache/flink/runtime/dispatcher/Dispatcher.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/DispatcherTest.java
Labels: component=<none>

#26130 [BP-2.0][FLINK-37087][doc] Add docs for alter materialized table as query
  docs/content.zh/docs/dev/table/materialized-table/statements.md
  docs/content/docs/dev/table/materialized-table/statements.md
Labels: component=Documentation

#25946 [FLINK-37093][table] Fix catalog that failed validation due to no type still exists in catalogStoreHolder
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/catalog/CatalogManager.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/catalog/CatalogManagerTest.java
Labels: component=TableSQL/API

#26117 [FLINK-37268][example] Use async state in flink-examples-streaming
  flink-examples/flink-examples-streaming/src/main/java/org/apache/flink/streaming/examples/sideoutput/SideOutputExample.java
  flink-examples/flink-examples-streaming/src/main/java/org/apache/flink/streaming/examples/socket/SocketWindowWordCount.java
  flink-examples/flink-examples-streaming/src/main/java/org/apache/flink/streaming/examples/statemachine/StateMachineExample.java
  flink-examples/flink-examples-streaming/src/main/java/org/apache/flink/streaming/examples/windowing/GroupedProcessingTimeWindowExample.java
  flink-examples/flink-examples-streaming/src/main/java/org/apache/flink/streaming/examples/windowing/SessionWindowing.java
  flink-examples/flink-examples-streaming/src/main/java/org/apache/flink/streaming/examples/windowing/TopSpeedWindowing.java
  flink-examples/flink-examples-streaming/src/main/java/org/apache/flink/streaming/examples/wordcount/WordCount.java
  flink-examples/flink-examples-streaming/src/test/java/org/apache/flink/streaming/test/StreamingExamplesITCase.java
  flink-examples/flink-examples-streaming/src/test/java/org/apache/flink/streaming/test/socket/SocketWindowWordCountITCase.java
Labels: component=<none>

#26131 [BP-2.0][FLINK-37284][runtime] Fix ForwardForConsecutiveHashPartitioner cannot be chained in Adaptive batch.
  flink-runtime/src/main/java/org/apache/flink/streaming/api/graph/AdaptiveGraphManager.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/graph/StreamEdge.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/graph/AdaptiveGraphManagerTest.java
Labels: component=Runtime/Coordination

#26141 [BP-2.0][FLINK-37150][doc] Update flink configuration file documentation.
  docs/content.zh/docs/deployment/config.md
  docs/content/docs/deployment/config.md
Labels: component=Documentation

#26133 [FLINK-37219][table] Support value state in PTFs
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/annotation/StateHint.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/ProcessTableFunction.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/functions/UserDefinedFunctionHelper.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/extraction/BaseMappingExtractor.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/extraction/ExtractionUtils.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/extraction/FunctionResultTemplate.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/extraction/FunctionTemplate.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/inference/DefaultStateTypeStrategy.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/inference/StateTypeStrategy.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/inference/TypeInference.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/types/inference/TypeInferenceUtil.java
  flink-table/flink-table-common/src/test/java/org/apache/flink/table/types/extraction/TypeInferenceExtractorTest.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecProcessTableFunction.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/EqualiserCodeGenerator.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/ProcessTableRunnerGenerator.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/calls/BridgingFunctionGenUtil.scala
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/stream/ProcessTableFunctionSemanticTests.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/stream/ProcessTableFunctionTestPrograms.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/stream/ProcessTableFunctionTestUtils.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/data/conversion/RowRowConverter.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/generated/ProcessTableRunner.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/process/ProcessTableOperator.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/process/ProcessTableOperatorFactory.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/process/RuntimeStateInfo.java
Labels: component=TableSQL/Planner, component=TableSQL/Runtime

#26142 [FLINK-37021][state/forst] Support reusing files in LEGACY recovery mode
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/datatransfer/DataTransferStrategyBuilder.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/datatransfer/DataTransferStrategyTest.java
Labels: component=<none>

#26143 [FLINK-37301][state/forst] Fix wrong flag returned by `ForStStateBackend#supportsSavepointFormat`
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStStateBackend.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/ForStStateBackendConfigTest.java
Labels: component=<none>

#26065 [FLINK-36900][python] Migrate from conda to uv for managing Python environments for PyFlink
  docs/content.zh/docs/deployment/resource-providers/standalone/docker.md
  docs/content/docs/deployment/resource-providers/standalone/docker.md
  docs/content/docs/dev/python/faq.md
  docs/static/downloads/setup-pyflink-virtual-env.sh
  flink-end-to-end-tests/test-scripts/test_kubernetes_pyflink_application.sh
  flink-end-to-end-tests/test-scripts/test_pyflink.sh
  flink-end-to-end-tests/test-scripts/test_pyflink_yarn.sh
  flink-python/README.md
  flink-python/dev/build-wheels.sh
  flink-python/dev/dev-requirements.txt
  flink-python/dev/lint-python.sh
  flink-python/pyproject.toml
  tools/azure-pipelines/build-python-wheels.yml
  tools/azure-pipelines/e2e-template.yml
  tools/releasing/create_binary_release.sh
Labels: component=TestInfrastructure

#26147 [BP-2.0][FLINK-37021][state/forst] Support reusing files in LEGACY recovery mode
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/datatransfer/DataTransferStrategyBuilder.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/datatransfer/DataTransferStrategyTest.java
Labels: component=<none>

#26146 [BP-2.0][FLINK-37301][state/forst] Fix wrong flag returned by `ForStStateBackend#supportsSavepointFormat`
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/ForStStateBackend.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/ForStStateBackendConfigTest.java
Labels: component=<none>

#26150 [FLINK-37312][doc] Add missing closing tab in state_v2.md
  docs/content.zh/docs/dev/datastream/fault-tolerance/state_v2.md
  docs/content/docs/dev/datastream/fault-tolerance/state_v2.md
Labels: component=Documentation

#26094 [FLINK-37241][runtime] Remove Mockito usage from StateBackendTestBase.
  flink-runtime/src/test/java/org/apache/flink/runtime/state/StateBackendTestBase.java
Labels: component=Tests, component=Runtime/StateBackends

#26096 [BP-1.20][FLINK-37241][runtime] Remove Mockito usage from StateBackendTestBase.
  flink-runtime/src/test/java/org/apache/flink/runtime/state/StateBackendTestBase.java
Labels: component=Tests, component=Runtime/StateBackends

#26156 [BP-2.0][FLINK-37241][runtime] Remove Mockito usage from StateBackendTestBase.
  flink-runtime/src/test/java/org/apache/flink/runtime/state/StateBackendTestBase.java
Labels: component=Tests, component=Runtime/StateBackends

#26145 [FLINK-37109][state] Improve state processor API key iteration speed
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/input/KeyedStateInputFormat.java
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/input/MultiStateKeyIterator.java
  flink-libraries/flink-state-processing-api/src/test/java/org/apache/flink/state/api/input/MultiStateKeyIteratorTest.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/KeyedStateBackend.java
  flink-runtime/src/main/java/org/apache/flink/runtime/state/heap/HeapKeyedStateBackend.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/StateBackendTestUtils.java
  flink-runtime/src/test/java/org/apache/flink/runtime/state/ttl/mock/MockKeyedStateBackend.java
  flink-state-backends/flink-statebackend-changelog/src/main/java/org/apache/flink/state/changelog/ChangelogKeyedStateBackend.java
  flink-state-backends/flink-statebackend-changelog/src/main/java/org/apache/flink/state/changelog/restore/ChangelogMigrationRestoreTarget.java
  flink-state-backends/flink-statebackend-common/src/test/java/org/apache/flink/state/common/PeriodicMaterializationManagerTest.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/RocksDBKeyedStateBackend.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/iterator/AbstractRocksStateKeysIterator.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/iterator/RocksMultiStateKeysIterator.java
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/iterator/RocksStateKeysIterator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/sorted/state/BatchExecutionKeyedStateBackend.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/TestStateBackend.java
Labels: component=API/StateProcessor

#26154 [FLINK-37310][doc] SQL connector for keyed savepoint data documentation
  docs/content/docs/libs/state_processor_api.md
Labels: component=TableSQL/API

#26048 [FLINK-37194][tests] Fix NPE issue in WatermarkITCase
  flink-tests/src/test/java/org/apache/flink/test/streaming/api/datastream/WatermarkITCase.java
Labels: component=API/DataStream

#25892 [FLINK-36998][table-planner] Keep same behavior about the RowKind of data in globalUpsertResult for KeyedUpsertingSinkFunction while being inserted or being restored
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/factories/TestValuesRuntimeFunctions.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/TableSinkITCase.scala
Labels: component=TableSQL/Planner

#25919 [FLINK-36549]Fix using the ignore-parse-errors parameter in Debezium/Canal/Maxwell/Ogg JSON results in unexpected data loss
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/canal/CanalJsonDeserializationSchema.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/debezium/DebeziumJsonDeserializationSchema.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/maxwell/MaxwellJsonDeserializationSchema.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/ogg/OggJsonDeserializationSchema.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/canal/CanalJsonSerDeSchemaTest.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/debezium/DebeziumJsonSerDeSchemaTest.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/maxwell/MaxwellJsonSerDerTest.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/ogg/OggJsonSerDeSchemaTest.java
Labels: component=Formats

#26170 [FLINK-37344][doc] setup_hugo.sh now installs the binary only
  docs/setup_hugo.sh
Labels: component=Documentation

#26169 [FLINK-36998][table-planner] Keep same behavior about the RowKind of data in globalUpsertResult for KeyedUpsertingSinkFunction while being inserted or being restore
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/factories/TestValuesRuntimeFunctions.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/runtime/stream/sql/TableSinkITCase.scala
Labels: component=TableSQL/Planner

#26157 [FLINK-37321][table] Make window functions with wrong descriptors fail during planning rather than runtime
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecWindowAggregateBase.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/utils/WindowUtil.scala
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/agg/WindowAggregateTest.xml
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/WindowTableFunctionTest.scala
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/planner/plan/stream/sql/agg/WindowAggregateTest.scala
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/window/tvf/slicing/SliceAssigners.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/operators/window/tvf/slicing/TumblingSliceAssignerTest.java
Labels: component=TableSQL/Planner

#26165 [FLINK-37335][state/forst] Handle the first full checkpoint for ForSt IncrementalSnapshotStrategy.
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/datatransfer/DataTransferStrategyBuilder.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/datatransfer/ForStStateDataTransfer.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/snapshot/ForStIncrementalSnapshotStrategy.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/snapshot/ForStNativeFullSnapshotStrategy.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/snapshot/ForStSnapshotStrategyBase.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/datatransfer/DataTransferStrategyTest.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/datatransfer/ForStStateDataTransferTest.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/snapshot/ForStIncrementalSnapshotStrategyTest.java
Labels: component=Runtime/StateBackends, component=Runtime/Checkpointing

#26176 [BP-2.0][FLINK-37335][state/forst] Handle the first full checkpoint for ForSt IncrementalSnapshotStrategy.
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/datatransfer/DataTransferStrategyBuilder.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/datatransfer/ForStStateDataTransfer.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/snapshot/ForStIncrementalSnapshotStrategy.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/snapshot/ForStNativeFullSnapshotStrategy.java
  flink-state-backends/flink-statebackend-forst/src/main/java/org/apache/flink/state/forst/snapshot/ForStSnapshotStrategyBase.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/datatransfer/DataTransferStrategyTest.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/datatransfer/ForStStateDataTransferTest.java
  flink-state-backends/flink-statebackend-forst/src/test/java/org/apache/flink/state/forst/snapshot/ForStIncrementalSnapshotStrategyTest.java
Labels: component=Runtime/StateBackends, component=Runtime/Checkpointing

#25569 [FLINK-36585][connector / common] SplitFetcherManager.close() should not chain runnables to the element queue future in a tight loop.
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/reader/fetcher/SplitFetcherManager.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/reader/fetcher/SplitFetcherManagerTest.java
Labels: component=Connectors/Common

#26174 [FLINK-35810][test] increase unittest Xmx to debug FLINK-35810
  pom.xml
Labels: component=Tests

#26163 [FLINK-37333][runtime] Use ForwardForUnspecifiedPartitioner when adaptive broadcast join takes effect.
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/adaptive/AdaptiveJoinOperatorGenerator.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/strategy/AdaptiveBroadcastJoinOptimizationStrategy.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/strategy/PostProcessAdaptiveJoinStrategy.java
Labels: component=Runtime/Coordination

#26164 [BP-2.0][FLINK-28047][docs] Remove deprecated StreamExecutionEnvironment#readTextFile method in documentation
  docs/content.zh/docs/deployment/elastic_scaling.md
  docs/content.zh/docs/deployment/filesystems/azure.md
  docs/content.zh/docs/deployment/filesystems/gcs.md
  docs/content.zh/docs/deployment/filesystems/oss.md
  docs/content.zh/docs/deployment/filesystems/s3.md
  docs/content.zh/docs/dev/datastream/execution_mode.md
  docs/content.zh/docs/dev/datastream/overview.md
  docs/content.zh/docs/learn-flink/datastream_api.md
  docs/content.zh/docs/learn-flink/etl.md
  docs/content/docs/deployment/elastic_scaling.md
  docs/content/docs/deployment/filesystems/azure.md
  docs/content/docs/deployment/filesystems/gcs.md
  docs/content/docs/deployment/filesystems/oss.md
  docs/content/docs/deployment/filesystems/s3.md
  docs/content/docs/dev/datastream/execution_mode.md
  docs/content/docs/dev/datastream/overview.md
  docs/content/docs/learn-flink/datastream_api.md
  docs/content/docs/learn-flink/etl.md
Labels: component=API/DataStream, component=Connectors/FileSystem

#26168 [FLINK-37149][doc] Add documents for adaptive batch execution.
  docs/content.zh/docs/deployment/adaptive_batch.md
  docs/content.zh/docs/deployment/elastic_scaling.md
  docs/content/docs/deployment/adaptive_batch.md
  docs/content/docs/deployment/elastic_scaling.md
Labels: component=Documentation

#26173 [FLINK-36549][formats] Fix using the ignore-parse-errors parameter in Debezium/Canal/Maxwell/Ogg JSON results in unexpected data loss
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/canal/CanalJsonDeserializationSchema.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/debezium/DebeziumJsonDeserializationSchema.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/maxwell/MaxwellJsonDeserializationSchema.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/ogg/OggJsonDeserializationSchema.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/canal/CanalJsonSerDeSchemaTest.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/debezium/DebeziumJsonSerDeSchemaTest.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/maxwell/MaxwellJsonSerDerTest.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/ogg/OggJsonSerDeSchemaTest.java
Labels: component=Formats

#26172 [FLINK-36549][formats] Fix using the ignore-parse-errors parameter in Debezium/Canal/Maxwell/Ogg JSON results in unexpected data loss
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/canal/CanalJsonDeserializationSchema.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/debezium/DebeziumJsonDeserializationSchema.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/maxwell/MaxwellJsonDeserializationSchema.java
  flink-formats/flink-json/src/main/java/org/apache/flink/formats/json/ogg/OggJsonDeserializationSchema.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/canal/CanalJsonSerDeSchemaTest.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/debezium/DebeziumJsonSerDeSchemaTest.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/maxwell/MaxwellJsonSerDerTest.java
  flink-formats/flink-json/src/test/java/org/apache/flink/formats/json/ogg/OggJsonSerDeSchemaTest.java
Labels: component=Formats

#26181 [BP-2.0][FLINK-37149][doc] Add documents for adaptive batch execution.
  docs/content.zh/docs/deployment/adaptive_batch.md
  docs/content.zh/docs/deployment/elastic_scaling.md
  docs/content/docs/deployment/adaptive_batch.md
  docs/content/docs/deployment/elastic_scaling.md
Labels: component=Documentation

#26186 [FLINK-37360][release] Update japicmp configuration post 1.20.1
  pom.xml
Labels: component=<none>

#26185 [FLINK-37361][release] Update japicmp configuration post 1.19.2
  pom.xml
Labels: component=<none>

#26178 [FLINK-37333][runtime] Use ForwardForUnspecifiedPartitioner when adaptive broadcast join takes effect
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/adaptive/AdaptiveJoinOperatorGenerator.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/strategy/AdaptiveBroadcastJoinOptimizationStrategy.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/strategy/PostProcessAdaptiveJoinStrategy.java
Labels: component=Runtime/Coordination

#26177 [FLINK-35724][oss] Bump OSS SDK to 3.17.4
  flink-filesystems/flink-oss-fs-hadoop/pom.xml
  flink-filesystems/flink-oss-fs-hadoop/src/main/resources/META-INF/NOTICE
Labels: component=Connectors/FileSystem

#26171 [FLINK-35622][runtime] Filter out noisy 'Coordinator of operator xxx does not exist' exceptions in CollectResultFetcher
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/CoordinatorNotExistException.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/DefaultOperatorCoordinatorHandler.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveScheduler.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/operators/collect/CollectResultFetcher.java
Labels: component=Runtime/Coordination

#26139 [BP-2.0][FLINK-37093][table] Fix catalog that failed validation due to no type still exists in catalogStoreHolder
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/catalog/CatalogManager.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/catalog/CatalogManagerTest.java
Labels: component=TableSQL/API

#26138 [BP-1.20][FLINK-37093][table] Fix catalog that failed validation due to no type still exists in catalogStoreHolder
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/catalog/CatalogManager.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/catalog/CatalogManagerTest.java
Labels: component=TableSQL/API

#26198 Revert "[FLINK-36585][connector/common] SplitFetcherManager.close() should not chain runnables to the element queue future in a tight loop.
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/reader/fetcher/SplitFetcherManager.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/reader/fetcher/SplitFetcherManagerTest.java
Labels: component=Connectors/Common

#26197 [FLINK-30719] Update frontend-maven-plugin from 1.12.1 to 1.15.1
  flink-runtime-web/pom.xml
Labels: component=Runtime/WebFrontend, component=Tests, component=TestInfrastructure

#26207 [FLINK-37339][doc] Update java_compatibility doc
  docs/content.zh/docs/deployment/java_compatibility.md
  docs/content/docs/deployment/java_compatibility.md
Labels: component=Documentation

#26119 [FLINK-36336][doc] Remove deprecated DataSet API related contents in documentations
  docs/content.zh/docs/concepts/overview.md
  docs/content.zh/docs/deployment/config.md
  docs/content.zh/docs/deployment/speculative_execution.md
  docs/content/docs/concepts/overview.md
  docs/content/docs/deployment/config.md
  docs/static/fig/concepts/levels_of_abstraction.svg
  docs/static/fig/levels_of_abstraction.png
Labels: component=<none>

#26013 [FLINK-37162] Add sinks.md to describe Flink's Data Sink API.
  docs/content.zh/docs/dev/datastream/sinks.md
  docs/content.zh/docs/dev/datastream/sources.md
  docs/content/docs/dev/datastream/sinks.md
  docs/content/docs/dev/datastream/sources.md
  docs/static/fig/dev/datastream/SupportsPostCommitTopology.png
  docs/static/fig/dev/datastream/SupportsPreCommitTopology.png
  docs/static/fig/dev/datastream/SupportsPreWriteTopology.png
Labels: component=Documentation

#26212 [FLINK-37382][runtime] Early optimization for adaptive join when either input is below broadcast threshold.
  flink-runtime/src/main/java/org/apache/flink/streaming/api/graph/DefaultStreamGraphContext.java
  flink-runtime/src/main/java/org/apache/flink/streaming/api/graph/StreamGraphContext.java
  flink-runtime/src/test/java/org/apache/flink/runtime/scheduler/adaptivebatch/StreamGraphOptimizerTest.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/strategy/AdaptiveBroadcastJoinOptimizationStrategy.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/strategy/AdaptiveSkewedJoinOptimizationStrategy.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/strategy/BaseAdaptiveJoinOperatorOptimizationStrategy.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/strategy/PostProcessAdaptiveJoinStrategy.java
Labels: component=Runtime/Coordination

#26213 [FLINK-37337][sql-client] No need to add sql-client jar as job dependencies
  flink-table/flink-sql-client/bin/sql-client.sh
Labels: component=TableSQL/Client

#26208 [BP-2.0][FLINK-37162][docs] Add sinks.md to describe Flink's Data Sink API
  docs/content.zh/docs/dev/datastream/sinks.md
  docs/content.zh/docs/dev/datastream/sources.md
  docs/content/docs/dev/datastream/sinks.md
  docs/content/docs/dev/datastream/sources.md
  docs/static/fig/dev/datastream/SupportsPostCommitTopology.png
  docs/static/fig/dev/datastream/SupportsPreCommitTopology.png
  docs/static/fig/dev/datastream/SupportsPreWriteTopology.png
Labels: component=Documentation

#26225 [FLINK-37397][python] Fix deactivate error build-wheel.sh script
  flink-python/dev/build-wheels.sh
  flink-python/pyproject.toml
Labels: component=BuildSystem/CI

#26226 [FLINK-37398][state] Add proper message when state processor API is used with changelog
  flink-libraries/flink-state-processing-api/src/main/java/org/apache/flink/state/api/runtime/SavepointTaskStateManager.java
  flink-state-backends/flink-statebackend-changelog/src/main/java/org/apache/flink/state/changelog/restore/ChangelogBackendRestoreOperation.java
Labels: component=Runtime/StateBackends

#26217 [FLINK-37385][table] Add support for smile format
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/CompiledPlan.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/PlanReference.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/api/internal/CompiledPlanImpl.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/delegation/InternalPlan.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/ExecNodeGraphInternalPlan.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/serde/ColumnJsonDeserializer.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/serde/ColumnJsonSerializer.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/serde/CompiledPlanSerdeUtil.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/serde/ContextResolvedTableJsonDeserializer.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/serde/DataTypeJsonDeserializer.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/serde/LogicalTypeJsonDeserializer.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/serde/LogicalWindowJsonDeserializer.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/serde/ResolvedCatalogTableJsonDeserializer.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/serde/ResolvedSchemaJsonDeserializer.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/serde/ResolvedSchemaJsonSerializer.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/serde/RexNodeJsonDeserializer.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/serde/TableDistributionJsonDeserializer.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/serde/TableDistributionJsonSerializer.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/delegation/PlannerBase.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/delegation/StreamPlanner.scala
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/serde/ContextResolvedTableSerdeTest.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/serde/ExecNodeGraphJsonSerializerTest.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/serde/FlinkVersionJsonSerdeTest.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/serde/JsonSerdeTestUtil.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/serde/LookupKeySerdeTest.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/serde/ResolvedCatalogTableSerdeTest.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/serde/RexNodeJsonSerdeTest.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/serde/RexWindowBoundSerdeTest.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/testutils/RestoreTestBase.java
Labels: component=<none>

#26227 [FLINK-37400] Remove redundant serializer duplication during value serialization of ForSt states
  flink-runtime/src/main/java/org/apache/flink/runtime/state/v2/AbstractKeyedState.java
Labels: component=<none>

#26228 [BP-2.0][FLINK-37400] Remove redundant serializer duplication during value serialization of ForSt states
  flink-runtime/src/main/java/org/apache/flink/runtime/state/v2/AbstractKeyedState.java
Labels: component=<none>

#25888 [FLINK-36997] Add Log4j JSONTemplateLayout to flink-dist
  docs/content.zh/docs/deployment/advanced/logging.md
  docs/content/docs/deployment/advanced/logging.md
  flink-dist/pom.xml
  flink-dist/src/main/assemblies/bin.xml
  pom.xml
Labels: component=<none>

#26190 [FLINK-36324] Harden runtime error cases for table builtin functions
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/functions/BuiltInAggregateFunctionTestBase.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/functions/BuiltInFunctionTestBase.java
Labels: component=TableSQL/Planner

#26216 [FLINK-37390] Push filter into ChangelogNormalize
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/common/CommonExecLookupJoin.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecChangelogNormalize.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecDeduplicate.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/rules/physical/stream/PushCalcPastChangelogNormalizeRule.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/plan/rules/physical/stream/WatermarkAssignerChangelogNormalizeTransposeRule.java
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/FilterCodeGenerator.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/codegen/LookupJoinCodeGenerator.scala
  flink-table/flink-table-planner/src/main/scala/org/apache/flink/table/planner/plan/nodes/physical/stream/StreamPhysicalChangelogNormalize.scala
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/stream/ChangelogNormalizeRestoreTest.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/plan/nodes/exec/stream/ChangelogNormalizeTestPrograms.java
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/rules/physical/stream/PushCalcPastChangelogNormalizeRuleTest.xml
  flink-table/flink-table-planner/src/test/resources/org/apache/flink/table/planner/plan/stream/sql/TableScanTest.xml
  flink-table/flink-table-planner/src/test/resources/restore-tests/stream-exec-changelog-normalize_1/changelog-normalize-upsert-filter/plan/changelog-normalize-upsert-filter.json
  flink-table/flink-table-planner/src/test/resources/restore-tests/stream-exec-changelog-normalize_1/changelog-normalize-upsert-filter/savepoint/_metadata
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/deduplicate/ProcTimeDeduplicateKeepLastRowFunction.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/deduplicate/ProcTimeMiniBatchDeduplicateKeepLastRowFunction.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/deduplicate/utils/DeduplicateFunctionHelper.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/operators/deduplicate/ProcTimeDeduplicateFunctionTestBase.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/operators/deduplicate/ProcTimeDeduplicateKeepLastRowFunctionTest.java
  flink-table/flink-table-runtime/src/test/java/org/apache/flink/table/runtime/operators/deduplicate/ProcTimeMiniBatchDeduplicateKeepLastRowFunctionTest.java
Labels: component=TableSQL/Planner

#26205 [FLINK-36585][connector/common] SplitFetcherManager.close() should not chain runnables to the element queue future in a tight loop
  flink-connectors/flink-connector-base/src/main/java/org/apache/flink/connector/base/source/reader/fetcher/SplitFetcherManager.java
  flink-connectors/flink-connector-base/src/test/java/org/apache/flink/connector/base/source/reader/fetcher/SplitFetcherManagerTest.java
Labels: component=Connectors/Common
